[2019-11-27 13:26] bobcatfish commented on #1305
This sounds like it could be pretty cool!! I agree with @vdemeester in that I'm not 100% sure where it would best belong - but there have been some related ideas that have come up lately (but are slightly more complicated) such as:

- Keeping track of how much $ a Pipeline is costing (how many resources it's consuming) and limiting how frequently it can run as a result

I think it could be pretty

[2019-11-27 13:29] bobcatfish commented on #1629
Hey @zhangtbj - do you mean the PVC that is used for passing data from the output of one task to the input of another? If so [you actually can configure the underlying PVC's storage class](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#how-are-resources-shared-between-tasks) via configmap, you can see an example of what this could look like [in this configmap yaml](https://github

[2019-11-27 13:55] ImJasonH opened #1633 "Remove /builder/home before v0.10"
https://github.com/tektoncd/pipeline/pull/1628 added `/tekton/home` as `HOME`, alongside and backed by the same volume as `/builder/home`, for backward-compatibility reasons.

That change will go in for v0.9, and we'll announce that people who depend on the specific path (and not just `$HOME`) will need to move  to `/tekton/home` before v0.10.

[2019-11-27 13:57] bobcatfish commented on #1393
This is a cool idea @skaegi - and I think it ties into some discussions we've had before about validating params before as well. I'm really excited we have someone looking closely at this!! :D

I think this could be great for folks that want to express complicated types and restrictions - do you have any thoughts on how we might be able to support this and also more simple use cases? e.g. say I ju

[2019-11-27 14:01] afrittoli commented on #1630
I wonder if this one and https://github.com/tektoncd/pipeline/issues/1632 are related?

[2019-11-27 14:04] skaegi commented on #1530
I'm looking at -- https://github.com/kubernetes-sigs/kustomize/blob/master/examples/patchMultipleObjects.md -- to see if it might be an applicable approach. One difference is that the patch would be inlined (and parameterized) instead of in a separate file.

[2019-11-27 14:14] afrittoli commented on #1632
I have two clusters, with the exact same version of Tekton deployed, same Tekton resources and the only difference was the PVC vs. Bucket configuration.
The cluster using bucket works, the one using PVC doesn't. Once I reconfigured the PVC cluster to use bucket is started working as well.

I'm not sure if the description of the issue is as narrow as it can be - it could be that there are other ele

[2019-11-27 14:17] bobcatfish commented on #1500
Looks like this happened in #1622 as well:

[code]

[2019-11-27 14:30] bobcatfish commented on #1632
oooohhhh you know what, that could be it - @dlorenc and I have definitely seen different behaviour around the PVCs in a TaskRun vs a PipelineRun (or in the case of #1068, when there was just 1 Task vs multiple)

[2019-11-27 15:12] afrittoli opened #1635 "`uploadStatuses` triggers a "Ref not found" issue when adding a comment"
# Expected Behavior
When I add a comment to a PR, the resource add the comments and succeeds.

# Actual Behavior
The comment is added to GitHub, however the upload step fails:
[code]

I narrowed down the issue to this block of code: https://github.com/tektoncd/pipeline/blob/6f6d7bf26034bcef873b58e322936ca340e0b96a/cmd/pullrequest-init/api.go#L262-L264

Something goes wrong when retrieving the stat

[2019-11-27 15:36] afrittoli commented on #1635
@wlynch Perhaps you have an idea? I added some logging and found out that after the `FromDisk`, `r.Status.Sha` is "", `State` is unknown and `Statuses` an empty list.

[2019-11-27 16:38] poy opened #1636 "api proposal: delete PipelineStatus"
# Expected Behavior
`Pipeline` and `Task` would have similar API patterns.

# Actual Behavior
`Pipeline` has a corresponding `PipelineStatus` which is empty. The comments listed with it suggest that a Pipeline can't have a status:
[code]

`Task` is generated with `+genclient:noStatus`.

I would propose we delete `PipelineStatus`. This may be a breaking change for a user who has decided to use `Pip

[2019-11-27 16:45] vdemeester commented on #1636
Indeed, it's not used for anything as `Pipeline` (or `Task`) are not reconcilied object. I feel the use *might* be useful whenever we want to validate `Generation` (observed vs real) but I don't think we want to do that for `Pipeline` or `Task`.

/cc @bobcatfish
/kind cleanup

[2019-11-27 17:24] poy commented on #1636
Looking through the codebase, it looks like `PipelineResourceStatus` is in a similar position.

[2019-11-27 17:26] a-roberts opened #1637 "Sometimes...it's best to just use Go vs Tasks - worked example below (webhooks/Ingress/routes)"
Sharing this data point (of course it's sometimes faster, but here's a real concrete example)

We were looking to use Tekton Tasks for creating Ingress, Routes and webhooks, specifically for the Tekton Webhooks Extension.

Have a look at the following code changes we made:

https://github.com/tektoncd/experimental/commit/a28cd04d1f352fd24fd3692262149d6c8728a0ad

the Tekton tasks involve pulling im

[2019-11-27 17:30] vdemeester commented on #1637
/kind question

[2019-11-27 17:30] vdemeester commented on #1636
@poy indeed

[2019-11-27 18:49] othomann commented on #1512
How do you get the start time of each step? The only thing I could get using the `taskrun describe` command was:
[code]

[2019-11-27 19:08] wlynch commented on #1635
Looks like GitHub returns 404 if there are no statuses on the PR yet for both GetCombinedStatus and ListStatuses: https://gist.github.com/wlynch/223c1720a12fcbed92668fa5b988291d

Should be an easy fix.

/assign wlynch

[2019-11-27 19:16] wlynch commented on #1635
Nevermind, that last gist was wrong. Here's the one showing it works: https://gist.github.com/wlynch/1fe05245b990cb2b0505c51fcd4712d7

Is the PR URL something you can share? I'm curious what the download thinks the status/SHA actually is, or if it's missing altogether.

[2019-11-27 19:24] wlynch commented on #1635
Ahhhh. I see what's going on. The SHA is missing here: https://github.com/tektoncd/pipeline/blob/6f6d7bf26034bcef873b58e322936ca340e0b96a/cmd/pullrequest-init/disk.go#L305-L307

Good news is that #1550 will fix this: https://github.com/tektoncd/pipeline/pull/1550/files#diff-76f60b9c5045c6d153fdb07b04cc699eR303-R304

[2019-11-27 19:28] ImJasonH commented on #1512
`kubectl get taskrun <foo> -oyaml` and look in the `.status.steps` field. They’ll all have the ~same start time, and the same as the TaskRun, even if they started executing minutes apart.

[2019-11-27 20:20] poy commented on #1590
@ImJasonH I'm working on a PR for this now. Do you think it would make more sense for v1alpha2 or beta?

[2019-11-27 21:17] othomann commented on #1512
ok, got it. Right now it looks like the startedTime and finishedTime are related to the corresponding container time. When the step status is added, there is a deepcopy of the container status and then it adds several fields. I am trying to locate where the actual container is executed.

[2019-11-27 21:26] ImJasonH commented on #1590
How much of a breaking change is it to customers who only see YAML? Can you give me an idea of the before/after for especially the YAML diff, and then less so the Go struct diff?

[2019-11-27 21:59] ImJasonH commented on #1590
Nevermind just saw the PR

[2019-11-27 23:19] skaegi commented on #1530
So... to construct an example...
[code]
Could be written as...
[code]
or with params as...
[code]
---
Going back to the volume case in #1514 the Task could be re-written "safely" by appending a `patchesStrategicMerge`...
[code]

[2019-11-28 00:15] #1619 closed

[2019-11-28 02:41] zhangtbj commented on #1629
Hi @bobcatfish ,

Actually, it is not a new requirement. It is because I got two failures when I ran the Tekton integration tests:
TestDAGPipelineRun and TestDAGPipelineRun test:

When I debug the taskrun pod, I found the task fail because the PVC is pending.

And the default PVC which taskrun used on my cloud is full. So that I cannot pass my tests.

And from the taskrun:
[code]

I didn't found w

[2019-11-28 06:23] vincent-pli opened #1642 ""/workspace" in the path of "output resource""
I'm confuse, maybe missing something.
I have a `task` with `output resource` and `targetpath`, like this:
[code]
Simple, but get error: `touch: /workspace/pengli/builtImage/README.md: No such file or directory`
I checked the env, actually `/pengli/builtImage/` is created.

I have no idea if it's a mistake, but I think `/workspace/*` should be the correct one,  since `container`s in pod shared file

[2019-11-28 09:04] vincent-pli commented on #1569
@ImJasonH
Another workaround solution is add a `liveness probe` to the `sidecar` container.
[code]
The file `shared/ready` will be generate when `step` start and remove when all `step`s complete, then the `sidecar` will try to restart and set `restartPolicy: Never` then the `pod` will complete :)

[2019-11-28 13:10] chmouel commented on #1642
/label bug

I think you only need a  `workingDir: /workspace` in the container spec ?

[2019-11-28 14:48] vdemeester commented on #1642
/kind question
I am not actually sure if it's a bug, I would have thought if you specify the `targetPath` it shouldn't be prepended by `/workspace`.

/cc @dlorenc @bobcatfish

[2019-11-28 21:49] jomeier opened #1645 "Allow existing persistentvolume in config-artifact-pvc"
Hi,

in my OpenShift setup I don't use a cloud provider, have no default storage class. But I can create PersistentVolumes from manually created Azure File shares.

Is it possible to use an existing PersistentVolume (in my case it hase the name azurefile2) so Tekton creates a shared volume like this:

[code]

(you see the ``volumeName`` property?)

Thanks and greetings,

Josef

[2019-11-28 23:58] #1630 closed

[2019-11-29 01:27] vincent-pli commented on #1642
@vdemeester
I figure out the problem.
The `workingDir` of `Container` in our `Pod` is `/workspace`, so the `mkdir` will create directory based that path.

So there are two scenario:
1. `Targetpath` is AP， then the path will be create as what it look like, for example: `/pengli/builtImage`
2. `Targetpath` is relative path (no "/" at beginning), then a prefix `/workspace` will be added.

The `output

[2019-11-29 07:07] afrittoli commented on #1642
Thanks for looking into this. The inconsistent behaviour sounds like a bug to me.

@vdemeester @bobcatfish @dlorenc @skaegi  do we want to support mounting resources outside of /workspace?
I would say yes, so the absolute path should be honoured by `outputs.resources.builtImage.path`

[2019-11-29 09:10] waveywaves commented on #1543
@vdemeester @chmouel Kubernetes exposes versions leveraging git metadata, the following being the scaffold to it https://github.com/kubernetes/kubernetes/tree/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/staging/src/k8s.io/client-go/pkg/version
This approach would be quite reliable

[2019-11-29 09:20] vdemeester commented on #1645
/kind question

[2019-11-29 09:33] chmouel commented on #1543
@waveywaves  Git tagging is good enough for me,

There is multiple part where we can expose this information :

  - On the controller
  - On the namespace
  - as an API (for tools to show)

[2019-11-29 10:21] vdemeester commented on #1543
We should definitely expose it using labels on the namespace and/or on the controller/webhook deployments. I'm not sure how we would do "as an API" as I don't think it is supported for CRDs.

[2019-11-29 10:34] chmouel commented on #1543
Yes you are right but how can we do to get the version from the tooling tho? (it doesnt know where the namespace is and there can be many pipeline in different installs)

[2019-11-29 10:39] Fabian-K opened #1646 "Resource Cleanup / Long-Term Storage"
Hi,

when a pipeline is executed, tekton currently retains the Pod used for the execution. Over time, this results in quite some Pods in the Completed phase - which might cause issues on other parts (e.g. https://github.com/grafana/loki/issues/1315). Is there a reason to keep the pods around or can they be safely deleted (thinking about logs, metrics, status information ...)?

Also regarding e.g.

[2019-11-29 10:46] afrittoli opened #1647 "script mode is broken by stepTemplate"
# Expected Behavior
I can use `script` mode in a step and use `stepTemplate` as well.

# Actual Behavior
When a `stepTemplate` is added to the `Task`, the `place-scripts` container disappears, and `entrypoint` in step container runs `/bin/sh` instead of the script.

# Steps to Reproduce the Problem

1. I'm using the following task:
[code]

2. I run the task with `tkn`:
[code]

3. The resulting pod

[2019-11-29 10:53] vdemeester commented on #1647
/kind bug
/cc @ImJasonH

[2019-11-29 11:28] jeffmaury opened #1648 "Java API support"
# Expected Behavior

As part of our effort around IntelliJ Tekton support, we might need a Java representation of the Tekton resources. I've started an effort to get A Tekton Pipeline client based on the Fabric8 kubernetes client. I'm wondering if the community would be interested to get it hosted here.

# Actual Behavior

No Java API provided yet

# Steps to Reproduce the Problem

1.
2.
3.

# Add

[2019-11-29 11:32] afrittoli commented on #1647
I have an idea of what may be happening. MakePod applies the template merge first, and the script to container then. However the template merge code does a three-ways merge between the template, an empty container and the original step, into a container. Finally the merge code brings back the step with `steps[i] = Step{Container: *merged}`.
Since "script" is *not* a container field, it's dropped a

[2019-11-29 12:08] vdemeester commented on #1648
@jeffmaury thanks for the issue :angel: I think it might make sense, most likely in a separate repository.

/kind question
/kind feature

[2019-11-29 15:27] vdemeester commented on #1460
/kind feature

[2019-11-29 17:55] vdemeester commented on #1205
Seems like #1613 got merge, so we can safely close this one
/close

[2019-11-29 17:55] #1205 closed

[2019-11-29 18:12] ImJasonH opened #1652 "Step Script should be compatible with Args"
# Expected Behavior

I should be able to specify a step script that takes args, and specify those args to the step (possibly via `stepTemplate`).

# Actual Behavior

If a step specifies `script:` and `args:`, it's rejected as invalid.

# Steps to Reproduce the Problem

[code]

Should print logs:

[code]

`script:` should still be invalid if the step specifies `command:`, since those conflict.

[2019-11-29 18:12] ImJasonH commented on #1652
/assign

[2019-11-29 18:31] vdemeester commented on #1652
/kind feature

[2019-11-29 22:29] afrittoli commented on #1652
This would actually make the current param array type super-useful :)

[2019-11-29 23:35] ImJasonH commented on #1569
@vincent-pli Won't that cause the Pod to report as failed, even if all steps completed successfully? That also has the same problem as entrypoint injection, since it only covers sidecars explicitly stated in the TaskRun, and misses injected sidecars (e.g., Istio).

I think we need a stronger e2e test suite around injected sidecars, but I'm not sure of an easy way to add that without defining a tes

[2019-12-01 14:29] poy commented on #1606
@vdemeester @bobcatfish I took a swing at a PR for this so it was easier to visualize the API change: https://github.com/tektoncd/pipeline/pull/1657

[2019-12-02 01:49] vincent-pli commented on #1569
@ImJasonH
I get `Completed` state use this yaml, I agree with you the Istio case is still a problem.
[code]

[2019-12-02 09:04] #1647 closed

[2019-12-02 10:43] afrittoli commented on #1617
Only this line:
[code]
is sent by the cloud event controller.
It is logging with INFO every time a cloud event is sent successfully... we could downgrade that to DEBUG, but that would not help for the tests at least.

[2019-12-02 10:46] afrittoli commented on #1605
Today the `stepTemplate` is also applied to injected steps like those from `PipelineResources`.
I think that may be ok, but we should probably document it.

[2019-12-02 11:05] afrittoli opened #1659 "Unit tests are broken"
# Expected Behavior
Unit tests pass in CI and in (nightly) releases.

# Actual Behavior
Unit tests pass in CI but fail in releases:

[code]

# Steps to Reproduce the Problem

1. Run the unit tests task used by the release pipeline
2.
3.

# Additional Info

[2019-12-02 11:05] afrittoli commented on #1659
/assign @hrishin

[2019-12-02 13:31] ImJasonH commented on #1605
Yeah I _think_ that's expected behavior -- at least, I think that was the behavior before I started reorganizing `MakePod` -- but I agree it should be better documented.

[2019-12-02 13:40] bobcatfish commented on #1606
Thanks for the extra info @poy!

environment variables for settings.

I'm not super familiar with Buildpacks, could you give an example of what an example Task + TaskRun would look like for this?

I'm a bit confused - how does the user provide the environment variables to the TaskRun if it's not known ahead of time what env variables are needed? (I think maybe an example might clear this up for me

[2019-12-02 13:42] bobcatfish commented on #1606
I think this has the same magic problem that is making me hesitate to agree with adding env vars on TaskRuns - but at least it's a feature we already have :S

btw I'm not sure if you've already been but if you're able to attend [our working group](https://github.com/tektoncd/community/blob/master/contact.md#working-groups) could be a great place to discuss a feature request / design like this in r

[2019-12-02 14:17] ImJasonH opened #1661 "clustertask YAML test is flaky"
# Expected Behavior

YAML tests pass consistently

# Actual Behavior

Occasionally (anecdotally, ~50% of the time), the [clustertask YAML test](https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/clustertask.yaml) fails with:

[code]

It sounds like the cluster-scoped Task defined in the same YAML file fails to be committed to etcd and visible by the [lister used in the TaskRun cont

[2019-12-02 15:00] bobcatfish commented on #1606
(p.s. @vdemeester I noticed you put this into the beta milestone so we might be on slightly different pages about this?)

[2019-12-02 15:06] ImJasonH commented on #1648
I'm not sure who exactly owns them or keeps them up to date (perhaps @rawlingsj knows?), but there are generated Java clients for Tekton APIs at https://javadoc.io/doc/io.fabric8/tekton-client/latest/index.html which might be useful.

[2019-12-02 15:10] ImJasonH commented on #1646
This seems like a duplicate of #454

Basically, we do have vague plans to persist execution history to some datastore outside of the cluster's etcd. This would also let us clean up the completed Pods etc.

Right now we only have a design proposal that summarizes to "persist execution history to some datastore outside of the cluster's etcd" 😄but I plan to prototype some things and add more detail t

[2019-12-02 15:10] #1646 closed

[2019-12-02 15:13] ImJasonH commented on #1605
After https://github.com/tektoncd/pipeline/pull/1655 I think I'm comfortable declaring victory on this.

We might want to move PipelineResource interactions into MakePod as well (prepending/appending steps for resources, applying parameter replacements), but at least those are already fairly well isolated into their own methods with clear tests.

[2019-12-02 15:43] vdemeester commented on #1606
@bobcatfish ah :sweat_smile: I did put it in the beta milestone just so that we discuss it while discussing beta, doesn't really mean I think it should go in for beta or not :angel:

[2019-12-02 19:17] jomeier opened #1663 "Feature request: Add support for corporate proxies (e.g. in the git PipelineResource)"
Hi,

I'm testing Tekton pipelines in OpenShift4 (OKD4) behind our corporate proxy.

Today I stumbled over Tekton not respecting HTTPS_PROXY environment variables while cloning git repositories in the git PipelineResources.

I'm not able to clone anything.

It would be great If we could define the common proxy env variables in a suited location (maybe as a secret or as environment variables in the

[2019-12-02 19:30] othomann commented on #1512
@ImJasonH In order to report accurate time, the starting time and ending time of a specific entrypoint should be saved to disk and then retrieved to be able to update the status. Would it be possible for you to guide me about where this update of the status should take place?

[2019-12-02 19:32] ImJasonH commented on #1663
/kind feature

[2019-12-02 19:34] wlynch commented on #1663
As @ImJasonH mentioned in slack, we should probably have the ability to set arbitrary variables, since there's also [many more environment variables](https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables) someone may want to set (in particular, I find that `GIT_CURL_VERBOSE` is a very useful tool for finding out why you might be getting permission denied when cloning).

[2019-12-02 20:27] ImJasonH commented on #1512
@othomann That's a good question. One possible solution is to have the entrypoint binary write data to `terminationMessagePath` which would make it available to the controller without having to persist to some other location. The downside is that there's a 4KB size limit, and that this means steps themselves can't write to that path (or change it).

So, roughly:

* Disallow user-specified `termina

[2019-12-02 20:33] sbwsg commented on #1512
Careful overwriting the termination message path: it's utilized by pipeline resources to emit resource results from the steps they inject.

See https://github.com/tektoncd/pipeline/blob/master/pkg/termination/termination.go#L27 for the package that writes the messages and https://github.com/tektoncd/pipeline/blob/master/cmd/git-init/main.go#L60 for an example of its usage.

[2019-12-02 20:53] ImJasonH commented on #1512
Ooh thanks for catching that!

So it looks like we'll either need to find some other way to handle this, or at least have it only _append_ to data already present there, so it can play nicely with output resources.

Could `WriteMessage` look for an existing file, parse it as JSON, add whatever new key+value and write it back?

[2019-12-02 20:55] sbwsg commented on #1512
This sounds like a solid approach to me!

[2019-12-02 21:21] skaegi commented on #1606
We use a well-known "named" ConfigMap to pass environment variable values into Steps. This works well when you know the environment variable name.

If you do not know the environment variable name in advance you can still mount the ConfigMap as a volume and read and process the names and values as the first command in your Step. A similar approach is to mount an `_env` volume possibly generated in

[2019-12-02 22:11] bigkevmcd opened #1665 "PullRequest update fails if there are no comments (or labels or statuses)"
# Expected Behavior

The pullrequest pipeline output should upload the other configuration items if no comments are written out.

This is happening for a PR with no comments, or labels or previous statuses.

# Actual Behavior

It fails early if the `comments` directory doesn't exist e.g.

[code]
https://github.com/tektoncd/pipeline/blob/master/cmd/pullrequest-init/disk.go#L234

# Steps to Reproduc

[2019-12-03 07:16] chmouel commented on #1663
Related #1476 #1328 #1294 #1606

[2019-12-03 10:02] vdemeester commented on #1665
/kind bug

[2019-12-03 10:04] #1665 closed

[2019-12-03 11:39] #1652 closed

[2019-12-03 15:01] othomann commented on #1512
So you would use the termination.writeMessage(..) call to write some json file that contains the starting and ending time of the corresponding endpoint? Do you think of a particular file that can be reused?

[2019-12-03 15:04] sbwsg commented on #1512
`termination.WriteMessage` accepts a path string.  Most of the time this will be `/dev/termination-log`, which is the default for [the Kubernetes termination message](https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/) but it can be overriden by the user if they set the `terminationMessagePath` field of the step.

[2019-12-03 15:08] ImJasonH commented on #1512
I think we should block users from setting a `terminationMessagePath` themselves, because we'll use it to signal start/end times (and probably other stuff in the future). We can block this in validation, and likely not break many real users.

With the user out of the way, we can point the path to wherever we want when running the user's steps. It only has to be a path that isn't likely to be used

[2019-12-03 15:20] othomann commented on #1512
it would need to be a different path for each endpoint since we want to report accurate starting and ending time in the status for each step. So the path must be unique for each step, right? Also once this is done, it needs to be used to update the status of the corresponding step. What kind of events we can have to trigger a status update?
Sorry if I ask stupid questions. I am trying to get a bet

[2019-12-03 15:22] ImJasonH commented on #1512
It doesn't _have_ to be a unique path, since the contents of that path won't be persisted across step containers (it's not backed by a volume). Each step only needs to report its own start time (step end times are already reported correctly), plus whatever output resource metadata the step writes.

These aren't stupid questions at all, we're just designing this as we go! :smile:

[2019-12-03 15:46] #1624 closed

[2019-12-03 16:10] bobcatfish commented on #1606
Just realized this is in the Task not the TaskRun so no help after all :woman_facepalming: but @skaegi 's suggestions sound legit! and/or array param maybe?

[2019-12-03 16:14] bobcatfish commented on #1647
(p.s. beautifully written issue @afrittoli :heart_eyes: !!)

[2019-12-03 16:24] vdemeester commented on #1606
also, with embedded TaskSpec and PipelineSpec in the Run object & co, it's "kinda" covered, as you could "copy" a Task and embedded it with some changes :angel:

[2019-12-03 16:51] #1661 closed

[2019-12-03 16:54] bobcatfish commented on #1367
Ah okay, I see what you mean. I do think that once we have better PipelineResources - and #1285 that we'll be able to meet your use case nicely tho. Maybe we can revisit this issue once #1285 is done or at least POC?

[2019-12-03 18:51] dibyom commented on #1032
I think with Sidecars, this use case is now possible? cc @sbwsg

[2019-12-03 18:54] dibyom commented on #1041
One way to do this might be to have a task that reads from etcd the param values, and then triggers the next pipelinerun/taskrun with the params (possibly using the tkn cli: https://github.com/tektoncd/catalog/pull/155)

[2019-12-03 18:58] dibyom commented on #1050
This would probably be a change in knative/pkg @vdemeester ?

[2019-12-03 19:07] othomann commented on #1512
Is this something that I should expose as a new option for the endpoint or it should be kept hidden? Once the file is available, I don't quite see where the update needs to be done. Any hint for this?
Thanks.

[2019-12-03 19:59] dibyom commented on #1063
Can this issue be closed in favor of https://github.com/tektoncd/pipeline/issues/1393? @bobcatfish @skaegi ?

[2019-12-03 20:00] dibyom commented on #1249
@hrishin is this still an issue?

[2019-12-03 20:08] sbwsg opened #1673 "Pipeline Resources Redesign"
# What is this thing?

This is a tracking issue / epic for all of the ongoing pipeline resources investigation, design and proof-of-concept work.

# Existing Design Work and Feature Requests

* [Volumes, Tasks and PipelineResources overlap](https://github.com/tektoncd/pipeline/issues/1272)
* [Resources, PVCs and Chaining](https://github.com/tektoncd/pipeline/issues/1076)
* [PipelineResource Extens

[2019-12-03 20:10] dibyom commented on #1282
The new pipeline resources design can help here: https://github.com/tektoncd/pipeline/issues/1673

[2019-12-03 20:21] poy commented on #1606
@skaegi and @bobcatfish We actually use a secret today, however we were hoping to get away from managing the lifecycle of another object, however this is a valid option.

@vdemeester It seems weird to me that there are different API options if I use a Task vs embed it... But it also doesn't seem very clean to do so.

[2019-12-03 20:22] dibyom commented on #914
With TriggerTemplates, you can now create resources from templatized pipeline resources. So, I think this can be close? Please feel free to re-open if you think that triggertemplates are not sufficient!

[2019-12-03 20:22] #914 closed

[2019-12-03 20:24] dibyom commented on #1534
ref: #1137

[2019-12-03 20:28] dibyom commented on #1574
So, is the issue here we do not cancel the taskruns when we cancel a pipelinerun? And so the taskruns keep running until they complete?

[2019-12-03 20:40] ImJasonH opened #1674 "Steps specified by digest (w/o command) are broken"
# Expected Behavior

Steps can be specified by digest:

[code]

(To experience the broken behavior, make sure you don't also specify a `command`)

# Actual Behavior

Entrypoint lookup fails, because the entrypoint is resolved, and the resulting digest is appended to the input image name, which already has a digest. The result is a string like `ubuntu@sha256:6e9...@sha256:6e9...`, which is invalid.

[2019-12-03 21:01] ImJasonH commented on #1674
The error looks like this when a step is specified by digest, without command:

[code]

(note the duplicate `@sha256:...` in the image name)

[2019-12-03 21:13] ImJasonH commented on #1512
I think we can just go with a convention that the entrypoint binary appends start time to a JSON file at `/tekton/termination`, and that we set that as each container's `terminationMessagePath` in `pkg/pod/pod.go`.

Let me know if you'd like to pair on this over Hangouts or Zoom, it might be easier.

[2019-12-03 21:40] dlorenc opened #1676 "Proposal: Add a default "image" for script mode"
This would allow users to simplify yaml even further with script mode. Right now we require them to specify an image, but Tekton could default to something reasonable.

[2019-12-04 00:07] vincent-pli commented on #1574
@dibyom
Right, it's current behavior.

[2019-12-04 00:41] #1674 closed

[2019-12-04 02:42] othomann commented on #1512
@ImJasonH might actually be great to do pairing on this. Let me start with the new json file first. I'll ping you tomorrow about this. Thanks.

[2019-12-04 04:52] skaegi commented on #1393
so... I think the schema and jsonpath stuff is probably post "beta". I think the above approach is probably reasonable and good enough that we should also firm up plans for what we want to support in beta so as to avoid future problems. I'll open a separate issue for the schema/jsonpath stuff as my intent is to continue moving on it but again... post beta unless people feel strongly.

This issue c

[2019-12-04 05:02] hrishin commented on #1249
@dibyom Its not an issue any more. We can close this issue, thank you for following up :bowing_man:

However can we derive some rules or guideline to ensure API compatibility between different pipeline components.

[2019-12-04 05:12] skaegi commented on #1063
At least for built-in type validation in Tekton I'd suggest that we do not want to stray far from the platform and follow what api machinery is suggesting -- e.g. open api v3 / json schema / jsonpath -- and essentially follow the versions and support what they spec.

This does not prevent other forms of validation, it just means at least for now it must be layer above Tekton. For example OPA is ha

[2019-12-04 10:22] vdemeester commented on #1249
/close

[2019-12-04 10:22] #1249 closed

[2019-12-04 10:49] vdemeester commented on #1393
If we remove type, how does the user (and/or consumer like the `cli`) know if it should provide a `string` or an array of string `[]string` ? Same question goes for the validation part of it : right now we are validating that the array is not "mis-used" (or at least we try). Removing the type will remove the possibility of doing such a check.

I'm fine with "breaking" stuff now, before beta :angel

[2019-12-04 10:51] vdemeester commented on #1301
It's in place (docs is available [here](https://docs.google.com/document/d/1kUzH8SV4coOabXLntPA1QI01lbad3Y1wP5BVyh4qzmk/edit?folder=0AANVzYPs_PItUk9PVA#heading=h.5tf3nt10c89x))
/close

[2019-12-04 10:51] #1301 closed

[2019-12-04 10:52] vdemeester commented on #1676
/kind feature
/cc @ImJasonH

[2019-12-04 10:58] vdemeester commented on #1606
There is not a different API options depending of if you use a Task or embedded it. But as this is "hidden" from the user (aka your tool handle that), you could do something like the following (in go code) :
- get the task you want (in memory) — or even have your own defined in go code (using the `Task` struct), depends on how much you show the user / allow the user to modify/view.
- add environme

[2019-12-04 11:08] vdemeester commented on #1050
@dibyom indeed :anchor:

- we should see if it's already supported in `knative/pkg`
- if not, we need to create an issue there and track the resolution of it :angel:

[2019-12-04 12:44] ImJasonH commented on #1676
Questions we'd need to answer:
- what shells or scripting environments should be included?
- if platform providers can change the default image, what tools (at what versions) must be included to be considered compliant?
- what's the base OS we should use by default and what traits of it should we require of other non-default platform provided overrides?
- what's the versioning story for upgrading

[2019-12-04 15:02] gpaul opened #1680 "(*PipelineRun).IsDone() is incorrect"
The `(*PipelineRun).IsDone()` function returns true when the Success condition is no longer `Unknown`. However, as soon as the first task in the PipelineRun fails it sets the PipelineRun's Success condition to `False`, and `IsDone()` immediately returns `true`, despite several other tasks still `Running`.

Instead, `IsDone()` should check `Status.CompletionTime` or iterate through all tasks and ch

[2019-12-04 15:13] vdemeester commented on #1680
@gpaul thanks for the issue, I think this is by design "initially" — aka, we mark the PipelineRun as failed as soon as one TaskRun failed, even if other are running, as we know the PipelineRun is gonna fail anyway.

That said, it might not be the best behaviour, and even more in relation to #1394, #1376 and #1023 :angel:

/cc @bobcatfish @ImJasonH
/kind question
/area api

[2019-12-04 15:20] chmouel commented on #1543
I think we should reopen this since there is a bit more to i tthan #f85c53f

[2019-12-04 15:49] wlynch opened #1681 "0.9.0 Regression: PullRequestResource missing base PR information"
/kind bug
/assign wlynch

# Expected Behavior

Reported by thauta on Slack.

Full [PullRequest](https://godoc.org/github.com/jenkins-x/go-scm/scm#PullRequest) data is available in the pipeline (in particular merge state and SHA)

# Actual Behavior

The data is not there (only head/base, labels, statuses are there). This is a regression from 0.8.

# Additional Info

If we include the full payload,

[2019-12-04 16:00] vdemeester commented on #1681
@wlynch tentatively adding this to the 0.9.1 milestone :angel: :wink:

[2019-12-04 16:32] othomann commented on #1512
@ImJasonH let me know how you want to proceed for using Hangouts if you have time for this of course :-).

[2019-12-04 16:37] dibyom commented on #1063
Sounds good to me @skaegi
I'll close out this issue and we can continue the discussion in #1393
/close

[2019-12-04 16:37] #1063 closed

[2019-12-04 16:55] skaegi opened #1683 "Handling TaskRuns where a pod or container step cannot be scheduled"
At the moment if the Pod underlying a TaskRun is stuck waiting for a resource or if a container underlying a Step is stuck the TaskRun is also stuck. We might want to figure out some sensible logic to recognize when we are in this position rather than waiting for the TaskRun to timeout.

[2019-12-04 17:00] dibyom opened #1684 "Design: Failure Strategy for TaskRuns in a PipelineRun"
The goal is to come up with a design to handle failing task runs in a pipelinerun. Today, we simply fail the entire pipelinerun if a single taskrun fails.

# Current Status

Summary in this comment: https://github.com/tektoncd/pipeline/issues/1684#issuecomment-611016087

# Ideas
Here are a couple of ideas from @sbwsg and me:
1. Introduce an `errorStrategy` field in `PipelineTasks` similar to the i

[2019-12-04 17:08] ImJasonH commented on #1683
I think when we were designing timeouts we considered having a separate configurable TTL for it to start running. I wouldn't want to get into the business of determining whether it will _never_ be scheduleable, but a separate lower timeout to start seems reasonable.

I don't know of any situations where a container wouldn't be scheduleable once the Pod has started. Do you know of a way to instigat

[2019-12-04 17:40] othomann commented on #1512
Right now I am saving this in the /tekton/termination file:
[{"name":"","digest":"","key":"StartedAt","value":"2019-12-04 17:37:37.195697349 +0000 UTC m=+3.011012607","resourceRef":{}}]
I am not sure how to use this to update the step's status.

[2019-12-04 17:44] bobcatfish commented on #1463
sgtm!

[2019-12-04 17:51] bobcatfish commented on #1684
Thanks for getting this started!!!

[code]

A concern about this is for these two use cases:
* Always run a step/task at the end e.g. to Report results
* The example above: cleanup after a integration test

It seems like it doesn't work if there is one more Task in the Pipeline, e.g. (totally contrived?) but something like:

[code]

`RunNextTasks` for the above set of Tasks means that if `integrat

[2019-12-04 17:52] bobcatfish commented on #1684
(I do think an `errorStrategy` field makes a lot of sense! I think there are lots of potential kinds of strategies we might want to express - e.g. failing the entire Pipeline immediately vs. allowing any other Tasks in flight to finish)

[2019-12-04 18:02] gpaul commented on #1680
Yes, that makes total sense. The issue is really that we treat this state as `IsDone() == true`, which is not the case (we are merely saying that the pipelinerun has failed, not that it has completed.

[2019-12-04 19:24] ImJasonH commented on #1512
@othomann We actually already get accurate step finish times, because completed step containers exit and report their finish time. So just reporting start time should be fine.

As for receiving the written information in the Pod status, first you'll need to set each container's `terminationMessagePath` to `/tekton/termination`, [here-ish](https://github.com/tektoncd/pipeline/blob/5af2878a30cf7a65e

[2019-12-04 19:59] othomann commented on #1512
As far as I can see, all finished times are identical for all containers. This is why I added the finished time as well in the endpoint code.
This is what I have for one taskrun output:
[code]
I believe finished time are not accurate.

[2019-12-04 20:14] ImJasonH commented on #1512
Hmm, I'm seeing step `finishedAt` reported correctly.  Specifying these steps:

[code]

Produced these statuses (`kubectl get taskrun step-finish-time-2nb82 -oyaml`, fields elided):

[code]

[2019-12-04 21:29] imjasonh opened #1687 "Need better e2e tests around injected sidecars"
# Expected Behavior

Handling of injected sidecars is covered by e2e tests, regressions are caught quickly (even proactively) and confidence around changes to this behavior is high.

# Actual Behavior

We have no e2e tests that cover the case of injected sidecars. We can write unit tests and comments, and reason about injected sidecars in theory, but we have no concrete test cases governing their

[2019-12-04 21:42] imjasonh opened #1689 "Proposal: Phase out TaskRun's .status.podName"
### Background

Today, a TaskRun identifies the name of its underlying Pod primarily using `.status.podName` field. This is used in the TaskRun controller to determine whether a Pod has already been created for a given TaskRun, and by the CLI (and probably the dashboard) to get logs from the Pod.

The Pod that gets created also gets an `OwnerReference` pointing to the TaskRun that owns it (that it

[2019-12-04 21:47] bobcatfish commented on #1689
I like the idea of phasing out kubernetesisms but also I use the pod name super frequently when trying to debug TasksRuns, is there a shorthand I can use to get the pod from the TaskRun if we remove this?

[2019-12-04 21:52] ImJasonH commented on #1689
If `tkn` learns to use the OwnerReference instead, `tkn tr logs` should just keep working. Maybe `tkn tr pod` is in order?

There's probably some gross bash one-liner that'd work instead of the gross bash one-liner I use today (`kubectl logs $(kubectl get taskrun -ojsonpath={.status.podName})`)

[2019-12-04 22:06] ImJasonH opened #1690 "Proposal: step timeout"
It could be nice to augment the `Step` type with a timeout duration, after which time the step fails with some unique status/message.

To support this we could pass the timeout value to the entrypoint binary, which would start a timer when step execution starts, and stop executing and raise a timeout error if execution doesn't finish in time.

If this is interesting to people it should be a pretty

[2019-12-04 23:55] dibyom commented on #1684
One workaround might be that integration2 is a conditional task that only runs if the previous step is successful? That being said, if this is a common patter, I think a separate `errorStrategy` for jumping to another task might be a simpler way to do this.

[2019-12-05 00:05] dibyom commented on #1050
Looks like its possible? https://github.com/tektoncd/pipeline/blob/master/vendor/knative.dev/pkg/webhook/webhook.go#L65

[2019-12-05 00:06] dibyom commented on #1050
Actually seems like its already using https by default:
From my webhook service:
[code]

[2019-12-05 00:40] vincent-pli commented on #1642
@vdemeester @afrittoli
So should we fix this issue at `outputs.resources.builtImage.path` side?

[2019-12-05 01:54] vincent-pli opened #1692 "Refining status when Condition failed"
With a one task `pipeline`, and the `task` will not executed since the `condition` will checked failed.
That's means the `pipeline` not execute any `task` after running.
But the `pipelinerun` still express its success and emit event `All Tasks have completed executing`.

I understand the real mean is "all the tasks has been touched" but it mislead people, could we introduce new state to express th

[2019-12-05 06:59] sandrom commented on #1050
if you serve https on port 80 it is still https. the asked feature here is http, not specifically the port.

[2019-12-05 07:37] vdemeester commented on #1680
That's fair :stuck_out_tongue_closed_eyes:.

[2019-12-05 07:45] vdemeester commented on #1687
/area testing

[2019-12-05 07:48] vdemeester commented on #1689
/area api
/kind feature
/kind api-change

[2019-12-05 07:57] vdemeester commented on #1692
/kind question
/cc @dibyom

[2019-12-05 15:08] sbwsg commented on #1606
Just to try and move the conversation forward a bit on this, there's another use case for the feature that I think is worth considering.  Node.js libraries and apps commonly support a debug env var (e.g. `DEBUG=express:router*` means "print verbose logs from express:router modules") which a user may want to toggle on for specific runs of their tasks while they triage issues in their pipelines.  I

[2019-12-05 15:33] sbwsg commented on #1280
The pipeline resources revamp described by #1673 proposes a solution to this issue by allowing customisation of a resource's behaviour when in rw/create mode. So, for example, the catalog's hypothetical Git resource could include an RW mode that `git push`es back to the remote repo, writes out the SHA that was pushed, and allows other tasks in a pipeline to rely on those resources.

I'm going to l

[2019-12-05 15:38] sbwsg commented on #1423
I'm going to close this issue. Given the work going on with the pipeline resources revamp / prototyping it seems more likely that we'll end up in a place where a dedicated S3 resource type could be introduced and maintained as part of the catalog or something similar instead of messing with the existing GCS resource.

[2019-12-05 15:38] #1423 closed

[2019-12-05 15:45] sbwsg commented on #1476
We're working on a feature called workspaces that will eventually expose / override the shared volume stuff as part of the tekton CRDs.  The WIP PR is up at https://github.com/tektoncd/pipeline/pull/1639

We're also designing / working on the output params feature described in #1273 as @vtereso mentioned. I haven't heard any strong dissents against that feature and it sounds to me at the moment li

[2019-12-05 15:45] #1476 closed

[2019-12-05 15:47] sbwsg commented on #1103
Is this issue ongoing?  No updates on it since July.

Also, possibly more relevant if posted at https://github.com/tektoncd/operator ?

[2019-12-05 15:55] vdemeester commented on #1103
@sbwsg right, I am not entirely sure. @cmoulliard when you talk about operator, do you refer to the Hayckon operator, the tektoncd|openshift-pipelines operator or the tektoncd/pipeline controller ?

[2019-12-05 16:10] dibyom commented on #1692
Yeah, a pipeline with a single conditional task with a condition failure is an interesting edge case. Right now the behavior is by design though like you said, it can be confusing.
[code]
It  should be simple enough to set the `message` or the `reason` to something like `Successful but with Condition failure` or something like that. Though the type `status` field  for the condition with `type: Suc

[2019-12-05 16:42] dibyom commented on #1050
Yeah, my bad - I somehow though that the webhook was using http, not https :man_facepalming:

Looking through the code in knative.dev/pkg/webhook it does seems like its https only (we create the certs if they are not supplied).

[2019-12-05 17:13] #1681 closed

[2019-12-05 18:36] pritidesai commented on #1684
Defining `errorStrategy` has two sides to it (1) dictate the behavior of next tasks/steps in queue e.g. `RunNextTasks` (from the example above) (2) dictate its own behavior e.g. `IgnorePriorTaskErrors` (based on @sbwsg's step PR). Defining these error strategies based on my understanding so far:

- `SkipOnPriorStepErrors`: Within a task, halt the execution of a step if a prior step has failed. Thi

[2019-12-05 19:24] skaegi commented on #1463
/assign

[2019-12-05 20:58] pritidesai opened #1694 "enable script for conditions"
# Expected Behavior

Conditions just like Tasks should support `script`.

# Actual Behavior

Deployment fails with:

[code]

# Steps to Reproduce the Problem

While working on PR # 1601, discovered `script` is not supported by `Condition` resources:

[code]

Here is the `YAML` content of the pipeline:

[code]

# Additional Info

[2019-12-05 21:00] skaegi commented on #1606
I think at some point we have to recognize a Task author cannot make everything parameterizable. Not strictly for CI/CD and Tekton but when we hit these sorts of "debug" and "instrumentation" cases Kustomize is a pretty good solution.

[2019-12-06 01:19] vincent-pli commented on #1692
/assign @vincent-pli

[2019-12-06 02:02] vincent-pli commented on #1050
IIRC the `admissionwebhook` only support `https`:
https://github.com/kubernetes/kubernetes/blob/a6f41a46a54c47e4225adbcca251ce8204f9bb1c/pkg/apis/admissionregistration/types.go#L491

[2019-12-06 06:46] BinWayne commented on #1375
@aadeshpa
hi Ashish
so did you finally fixed this issue?
I got the same error ...
It seems that Tekton only support the secret for github.com gitlab.com , not support the private github

[2019-12-06 08:27] vincent-pli opened #1697 "Simple way to share stuff between Tasks"
# Expected Behavior
There should be a simple way to share stuff between `tasks` in `pipeline`
# Actual Behavior
Sorry if I missing something.
The case is simple, two `tasks` in one `pipeline`, the latter want to access stuff generate by the former (files, expect shared by pvc)

I know the `ouputResource` is required in the former `task`, `inputResource` and `from` in the latter  one, and the `reso

[2019-12-06 11:16] vdemeester commented on #1694
/kind feature
/area api
/cc @dibyom @ImJasonH

[2019-12-06 11:38] #1636 closed

[2019-12-06 16:25] dibyom commented on #1694
I can't think of a reason not to do this :) Script mode everywhere!

[2019-12-06 17:29] othomann commented on #1512
@ImJasonH could you please assign this issue to me so that nobody else will try to fix it. I got the code working now and looking at adding some test for it.

[2019-12-06 17:38] ImJasonH commented on #1512
/assign othomann

[2019-12-06 20:29] ImJasonH commented on #1697
/area api
/kind feature

This seems very related to the ongoing resources redesign work @sbwsg is working on, specifically the fileset resource which would be responsible for just passing files in a filesystem between tasks in a pipeline.

[2019-12-07 11:53] afrittoli opened #1703 "Resource sharing between Tasks and Conditions"
# Expected Behavior

Tasks and Conditions should be able to share input and outputs easily.
For instance if a Conditions clones a git repo or downloads a bucket to check a condition, the Task should be able to use that git or bucket without re-downloading.

Similarly, when a Condition calculates something to check a condition, the Task should be able to benefit from the result of that computation

[2019-12-07 12:29] jeffmaury commented on #1648
Seems they are part of the raw Kubernetes client see https://github.com/fabric8io/kubernetes-client/tree/master/extensions/tekton

[2019-12-07 19:50] #1648 closed

[2019-12-08 11:41] castlemilk opened #1704 "pullRequest resource invalid upload path?"
# Expected Behavior

the pullRequest resource upload step should automating use the correct directory for uploading to a PR.

The input mounts to `/workspace/<resource>/`, would expect this folder to be used for the upload step?

# Actual Behavior

upload step is looking in `/workspace/output/<resource>/` which cannot be found because nothing has copied content there or this is an invalid director

[2019-12-09 01:35] vincent-pli commented on #1704
@castlemilk
The `/workspace/output/<resource>/` is the default path of `output` resource, so it will try to find stuff there, that's correct.
In your case, you should copy stuff to that location in your `steps` before upload.
A workaround solution is set `targetPath` for `output resource` like this:
[code]

[2019-12-09 06:17] cmoulliard commented on #1103
My use case refers to our operator or let's to an operator creating a Tekton CRD Task, Taskrun

[2019-12-09 08:48] vdemeester commented on #1704
/kind question
/cc @wlynch

[2019-12-09 09:06] castlemilk commented on #1704
but the pullRequest resource is supposed to automatically manage the upload if used as an output resource, why should I have to copy it to /workspace/output/<resource>? seem like extra work.

[2019-12-09 09:20] vdemeester commented on #1703
/kind feature
/kind design
/area api

[2019-12-09 10:02] vdemeester commented on #1635
@wlynch I'm gonna close this as #1550 is merged now :angel:
/close

[2019-12-09 10:02] #1635 closed

[2019-12-09 10:02] vdemeester commented on #1635
/kind bug

[2019-12-09 10:05] vdemeester commented on #1631
@maheshwarishikha did you find a workaround ? For pushing to a non https registry using `kaniko` I think you need one additional flag (in addition to `"--insecure-registry=…"`

/kind question

[2019-12-09 10:07] vdemeester commented on #1604
/kind question
/area api
/triage duplicate

[2019-12-09 10:09] vdemeester commented on #1594
@xiujuan95 `TestKanikoTaskRun` doesn't push to gcr anymore (but uses a local registry), so it should be fixed. I'm gonna close the issue but feel free to comment (so that I re-open) if it is still happening on a recent `master` :angel:

/area testing
/kind question
/close

[2019-12-09 10:09] #1594 closed

[2019-12-09 10:10] vdemeester commented on #1590
/kind feature
/area api

[2019-12-09 10:11] vdemeester commented on #1565
/kind question
/cc @dlorenc @bobcatfish

[2019-12-09 10:12] vdemeester commented on #1555
@wei-qiang is it still happening with recent version of the catalog task and of tekton pipelines (0.9) ?
/kind question

[2019-12-09 10:12] vdemeester commented on #1553
/kind feature
/area api

[2019-12-09 10:15] vdemeester commented on #1547
@DanielChuDC given that we don't support OpenShift 3.x (as the kubernetes version is too old for Tekton), and as Kabanero seems to have switch to OpenShift 4.x, I'm not sure what to answer except that it might be a wontfix for now.

I also feel worst case, this is an OpenShift / OpenShift pipelines issues, which then means it shouldn't be reported in here. I'm gonna go ahead and close this but fee

[2019-12-09 10:15] #1547 closed

[2019-12-09 10:16] vdemeester commented on #1535
@eddycharly what are you using s3 with ? (I am guessing a storage PipelineResource)

/cc @iancoffey @dlorenc
/kind question

[2019-12-09 10:17] vdemeester commented on #1513
/kind feature

[2019-12-09 10:18] vdemeester commented on #1507
As it seems to be a `cli` issue, I'm gonna close this.
@danielhelfand was it fixed in `cli` or should we open an issue to track it down.

/kind bug

[2019-12-09 10:19] vdemeester commented on #1468
/kind feature

[2019-12-09 10:19] vdemeester commented on #1461
/kind feature
/kind question

[2019-12-09 10:19] vdemeester commented on #1395
@afrittoli @dlorenc what is the status for this issue ?

/kind question

[2019-12-09 10:24] vdemeester commented on #1374
As @ImJasonH linked, we are tracking this into `tektoncd/experimental` for now. `tektoncd/pipeline` aims to provide standard and stable api to create ci/cd system, it might not be meant to be used by the end user, and experiment on top (DSL, …) are out of scope for `tektoncd/pipeline` (but maybe not for `tektoncd` itself :wink:). @brandonkal see `tektoncd/pipeline` api (and yamls :sweat: which is

[2019-12-09 10:25] vdemeester commented on #1283
@bobcatfish @dlorenc what is the status for this one ?

/kind api
/area release

[2019-12-09 10:25] vdemeester commented on #1281
/kind question

[2019-12-09 10:26] vdemeester commented on #1234
/area api
/kind question

[2019-12-09 10:27] vdemeester commented on #1101
I am guessing #1639 would help resolving this issue although not fully if I'm correct.

/kind feature

[2019-12-09 10:27] vdemeester commented on #1023
/kind feature

[2019-12-09 10:27] vdemeester commented on #1020
/kind feature
/area api

[2019-12-09 10:28] vdemeester commented on #851
@vincent-pli As #853, I am guessing this issue should be closed too ?

[2019-12-09 10:29] vdemeester commented on #841
As #842 got merge, I think this issue can be closed

/kind feature
/close

[2019-12-09 10:29] #841 closed

[2019-12-09 10:29] vdemeester commented on #836
/kind feature
/kind question
/area api

[2019-12-09 10:31] vdemeester commented on #754
@dlorenc should we retry the LF CLA on `experimental` or some other repository ?

[2019-12-09 10:32] vdemeester commented on #649
@dlorenc @bobcatfish what should we do for this ? We will have more example on the docs for sure, and we have the catalog for the shareable tasks.

/kind question

[2019-12-09 10:33] vdemeester commented on #644
/kind documentation

[2019-12-09 11:44] EnriqueL8 opened #1705 "Expose init errors in the dashboard"
# Expected Behavior
If an error occurs during the init phase for a pipeline, that error needs to be printed out in the status tab for that pipeline.

# Actual Behavior
My pipeline had the following error:
[code]
In order to find this error, I had to get the logs for one of the init containers within the pipeline pod, as such:
[code]
I had no idea which init container had errored out.

My pipeline

[2019-12-09 12:17] vdemeester commented on #1705
@EnriqueL8 thanks for the issue. There is two issues at place there I feel

1. The fact that the pipeline task status says `waiting: reason: PodInitializing`, as, looking at the error above, it should be failed. Did it stays like this forever or did it got marked as a failure ? (this issue would be in here)
2. The fact that the dashboard doesn't display errors from the init container in the status

[2019-12-09 12:56] vdemeester commented on #1185
As of today (#1651), `Task` yamls for v1alpha2 look like the following:

[code]

I feel that, to close this issue, `TaskRun` should follow the same ? @bobcatfish @skaegi wdyt ?

[2019-12-09 13:06] iancoffey commented on #1535
@eddycharly FWIW - compression/decompression is definitely always something I envisioned this resource being able to optionally just handle entirely as you described, and I think it would be a great addition 👍

[2019-12-09 13:56] EnriqueL8 commented on #1705
Hi @vdemeester, it stayed `waiting: reason: PodInitializing` forever. Yes, I believe there is an issue open for the dashboard aswell.

[2019-12-09 14:00] vdemeester commented on #1705
@EnriqueL8 :+1:

[2019-12-09 15:29] sbwsg commented on #1697
Also: [workspaces](https://github.com/tektoncd/pipeline/pull/1639) will very soon be supported in tasks/taskruns and then next we plan to work on pipelines support.  (cc @bobcatfish)

[2019-12-09 16:52] danlopez00 commented on #754
@dlorenc LF EasyCLA team is also working on some of the issues and coordinating. For reference

https://github.com/communitybridge/easycla/issues/400
https://github.com/communitybridge/easycla/issues/401

[2019-12-09 18:29] wlynch commented on #1704
I don't think copying is necessary, as long as you set `targetPath` in your config to point to the correct directory.

@sbwsg Would this be solved/made easier by #1673?

[2019-12-09 18:52] sbwsg commented on #1704
We had a PR up for a while to pre-fill the output directory of a pull request resource but it was ultimately closed without merging: https://github.com/tektoncd/pipeline/pull/1357

I think in general "output" resources are a bit confusing and the contract we've got now that requires their state to be placed in the `outputs` directory contributes to that.

I'm definitely hoping to alleviate some of

[2019-12-09 19:13] skaegi commented on #1569
Reading through this... darn. I was noticing how the downward api ready check was adding a bonus 2 or 3s to every TaskRun. If we want to support being "ready" in the face of an auto-inject sidecar case then I really don't see a good alternative until real sidecar support lands. With that said I have exactly zero cases that look like this and resent having to pay a cost here.

Could we remove this

[2019-12-09 19:21] pritidesai opened #1710 "FR: Allow pipeline resources to be declared as optional"
# Expected Behavior

We have an issue (#812) and PR (#1601) to allow `Task` authors to declare resources as optional. We need the same support for `Pipeline` authors.

# Actual Behavior

Resources can not be declared as optional in a `Pipeline`.

[2019-12-09 19:22] pritidesai commented on #1710
/assign pritidesai

[2019-12-09 19:36] ImJasonH commented on #1569
We could make it a configmap option somewhere, something like `handleInjectedSidecars: false`. If you opt out of wanting to handle injected sidecars correctly, you don't pay the 2-3s penalty, and any injected sidecars can't be guaranteed to be up before starting the first step, and they won't be gracefully killed when the TaskRun completes.

I'm not excited that this means two code paths to handle

[2019-12-09 20:29] skaegi commented on #1569
The configmap version is kind-of yuck too but might be an option especially if don't feel confident about our e2e testing. I guess another approach that would be transparent is to have a mutating webhook scan for non-step containers at TaskRun Pod creation and then inject the downwardAPI ready check into the first step.

[2019-12-09 20:41] ImJasonH commented on #1569
There's no guarantee that our mutating webhook would run after the other mutating webhook that injects the sidecar. We effectively do what you're proposing already (if I'm understanding correctly): we create a Pod, then watch for changes to it -- if we notice there are non-`step-` containers in the Pod that are `Ready`, we signal the first step using the Downward API.

We can't know at Pod creatio

[2019-12-09 21:10] ncskier opened #1712 "Implicit Git & Image authentication contradicts explicit PipelineResource authentication"
# Expected Behavior
I expect PipelineRun/TaskRun authentication to be consistent throughout the Tekton Pipelines project.

# Actual Behavior
Tekton Pipelines has a strange mix of implicit and explicit authentication. As far as I can tell, Git and Image PipelineResources are the only PipelineResources that use the implicit authentication outlined in [auth.md](https://github.com/tektoncd/pipeline/bl

[2019-12-09 21:13] skaegi commented on #1569
Crazy as it might sound mutating webhooks get called twice to prevent this ordering race. And yes the current approach is pretty robust, just wanting to only have the downard api mechanism used if we need to.

[2019-12-09 22:01] skaegi commented on #1197
Ok. So my statement above still holds so closing.

[2019-12-09 22:01] #1197 closed

[2019-12-09 22:39] silverlyra opened #1713 "k8s resource names are not configurable"
# Expected Behavior

When deploying Tekton Pipelines, I expect to be able to change resource names to match our conventions.

# Actual Behavior

- The webhook Deployment and Service must be called `tekton-pipelines-webhook`
- The logging and observability ConfigMaps must be called `config-logging` and `config-observability`, despite being configurable in the controller’s Deployment
- The configura

[2019-12-09 23:16] castlemilk opened #1714 "pullRequest resource uploading step failing"
# Expected Behavior

upload step should correctly discover any required information from the given `/workspace/<resource>/` folder and successfully update the given PR.

# Actual Behavior

following error occurs:

[code]

# Steps to Reproduce the Problem

1. create a pullRequest resource
2. use pullRequest resource as both input and output resource
3.

# Additional Info
* download step is successf

[2019-12-10 00:08] vincent-pli commented on #851
Sure

[2019-12-10 00:08] #851 closed

[2019-12-10 00:09] vincent-pli commented on #1507
@vdemeester the bug has been fix in CLI side, could be close

[2019-12-10 07:02] vincent-pli commented on #1714
/kind bug

[2019-12-10 08:36] vdemeester commented on #1507
@vincent-pli thanks :hugs:
/close

[2019-12-10 08:36] #1507 closed

[2019-12-10 08:37] vdemeester commented on #1713
/kind question
/kind feature

[2019-12-10 08:40] zeromsi opened #1716 "add getLog function for taskrun and pipelinerun"
# Expected Behavior
Their should be function to get log of resources
# Actual Behavior
No functions are available

[2019-12-10 09:54] vdemeester commented on #1716
@zeromsi Thanks for the issue. So far, the way to get logs from a `TaskRun` or a `PipelineRun` is in the [`tektoncd/cli`](https://github.com/tektoncd/cli) repository. We should look into extracting this part into a well defined package and add move it to `tektoncd/pipeline` :angel:

/kind feature

[2019-12-10 09:59] chmouel commented on #1716
@vdemeester what woube the use cases? who are the other consumers aside of CLI ?

[2019-12-10 10:03] vdemeester commented on #1716
@chmouel the `dashboard` might be one :angel: Also with #1709 it might be worth having a small lib to help tools integrating with tekton to easily get logs from runtime types :angel: :stuck_out_tongue_closed_eyes:

[2019-12-10 10:05] vdemeester commented on #1710
/kind feature

[2019-12-10 10:09] vdemeester commented on #1712
Note that PipelineResource are going through a "major" re-design, so… hopefully this is taken into account too, cc @sbwsg

/kind question
/kind api

[2019-12-10 12:03] afrittoli opened #1717 "Cannot update Task with `outputImageDir`"
# Expected Behavior
An old version of a Task includes `outputImageDir`, which is not supported by Tekton anymore.
It should be possible to update the task with a new version that does not include `outputImageDir`.

# Actual Behavior
Cannot update the Task:
[code]

# Steps to Reproduce the Problem

1. On an old version of Tekton v0.8.0, create a Task that uses with `outputImageDir`
2. Upgrade Tekto

[2019-12-10 12:16] afrittoli commented on #1717
/kind bug
/kind api-change

[2019-12-10 12:17] afrittoli commented on #1717
/priority important-soon

[2019-12-10 13:12] bigkevmcd commented on #1714
It'd be nice if this could _open_ a PR in addition to updating existing ones.

[2019-12-10 13:18] ImJasonH commented on #1716
I'd love to have a single "official" logs-getting method..._somewhere_, because eventually I'd like consumers of that method to be able to migrate to getting logs from a more stable persistent log store (e.g., Stackdriver, Kibana), rather than getting them from the Pod logs directly, where logs can disappear due to GC config.

It'll be easier to migrate folks if ~everyone's using the same code.

[2019-12-10 13:20] afrittoli commented on #530
I think this task in plumbing addresses this: https://github.com/tektoncd/plumbing/pull/134
@bobcatfish

[2019-12-10 16:13] ImJasonH commented on #1713
Thanks for bringing this up! So, this is probably a few related issues wrapped up in one:

1. `tekton-pipelines-webhook` is defined in `config/webhook.yaml`, `config/400-webhook-service.yaml` (the k8s service), and then again in `cmd/webhook/main.go` -- the copy in `main.go` should probably just take that value from an env var, or from the downward API, to get whatever value is specified in the YA

[2019-12-10 19:02] silverlyra commented on #1713
hi, thanks for replying!

yeah – I think this would not be worth doing in an e2e test, unless one day this becomes a commonly-used configuration option.

What if, instead of replacing the current consts with functions that call `os.Getenv` directly, they call it through an `interface` with a `Getenv` method that could be easily mocked in a unit test?

[2019-12-10 19:05] silverlyra opened #1727 "git-init: Setting submodules to false has no effect"
# Expected Behavior

When using a `git` resource, setting the `submodules` param to `false` passes `-submodules false` to `cmd/git-init`.

# Actual Behavior

`GitResource.GetInputTaskModifier` does not inspect `Submodules` at all and does not generate the flag. Submodules are always initialized and fetched.

# Steps to Reproduce the Problem

1. Use a `git` resource with `params` including `{name:

[2019-12-10 20:26] dibyom commented on #1684
@pritidesai Thanks for writing this up....I think your examples for error strategies are for tasks defining their own behavior and not for the subsequent tasks. With that approach how do we model the scenario that @bobcatfish mentioned [above](https://github.com/tektoncd/pipeline/issues/1684#issuecomment-561763551) i.e. we have 3 tasks running sequentially  A -> B -> C in the happy case but when A

[2019-12-10 21:05] pritidesai commented on #1684
how about modeling the scenario that @bobcatfish mentioned above with:

[code]

woo, I like errorStrategies in `runAfter` and `from`, let me give it a thought 🤔...

[2019-12-11 00:38] hrishin commented on #1659
This fix hopefully should resolve failing tests for https://github.com/tektoncd/pipeline/pull/1709

[2019-12-11 00:45] hrishin commented on #1409
What should be our final take on this issue?

@vdemeester @bobcatfish @dibyom @sthaha @rakhbari @poy @ahpook @skaegi
(sorry for wide ping 🙏)

[2019-12-11 01:00] sthaha commented on #1409
My take on this is that time will tell. Right now the overwhelming consensus seems to be that we do not need this feature (non-issue)  and if we can survive ( no demand for this feature from community) without the need for a SAR in tekton-controller/webhook since namespaces becomes the natural boundary for isolation then it does keep the codebase simpler.

I am happy for us to close this issue and

[2019-12-11 01:02] ImJasonH commented on #1513
Good news! This will be very easy to support once we (bad news!) upgrade to the latest knative/pkg and adopt their new style for expressing webhooks.

Basically it boils down to specifying in the ValidatingAdmissionController YAML that validations don't have side effects.

[2019-12-11 01:52] vincent-pli commented on #1513
@ImJasonH
I think `knative/pkg` still not support this in it's latest `webhook` implements.

[2019-12-11 02:34] ImJasonH commented on #1513
The way knative/serving uses knative/pkg, the config is in YAML instead of Go, so it's easier to configure it to support dry-run: https://github.com/knative/serving/blob/master/config/500-webhook-configuration.yaml

[2019-12-11 03:07] vincent-pli commented on #1513
@ImJasonH
I see, you are right, they made a `controller` for `admissionregistration`, thanks.

[2019-12-11 08:03] zeromsi commented on #1716
I'm not getting the exact function of getting logs (taskrun/pipeline). Can you help me to find this out.

[2019-12-11 08:35] vdemeester commented on #1727
Ohh :sweat:

/kind bug

[2019-12-11 11:58] zeromsi opened #1733 "Trigger event or carry out custom shell command after every input and output resource of taskrun get processed"

[2019-12-11 12:58] ImJasonH commented on #1733
/kind feature

Can you give some more detail about exactly what you'd like to do? We emit K8s events at every TaskRun completion, but that's only really useful within the cluster.

We've started thinking about configuring Notifications (post to Slack, send an email), which might be what you're looking for?

[2019-12-11 13:04] #1659 closed

[2019-12-11 13:05] ImJasonH commented on #1441
/assign @hrishin

[2019-12-11 13:06] ImJasonH commented on #1713
With both of those PRs merged, I believe this issue is resolved. Please let me know if you find otherwise, or find other examples of unrenameable resources.

[2019-12-11 13:06] #1713 closed

[2019-12-11 14:04] sbwsg commented on #1684
Another alternative to consider: Go's defer and recover keywords model quite similar behaviour to what we're discussing here.  I can imagine `DeferredPipelineTask` and `RecoveryPipelineTask` types that perform work at the end of a branch regardless of outcome (Deferred) and in response to a task's failure (Recovery).  Examples:

### DeferredPipelineTask
[code]
### RecoveryPipelineTask
[code]

Two

[2019-12-11 14:35] zeromsi commented on #1733
That is exactly what I'm looking for. When it'll be added?

[2019-12-11 15:50] sbwsg opened #1735 "script mode `set -x` by default when no #! provided"
# Expected Behavior

When I use script mode without a #! I'd like the "right thing" to happen by default.  For me, the "right thing" is to turn on the shell echo flag and the shell error flag. Shell echo prints the commands executed by a shell script before showing the command's output.  Shell error exits if any command the script calls errors out.

Right now if the user omits the shebang from the

[2019-12-11 15:58] vdemeester commented on #1735
I think it make sense indeed :angel:

[2019-12-11 17:00] #1590 closed

[2019-12-11 17:19] sbwsg commented on #1687
I wonder if we could leverage https://github.com/tumblr/k8s-sidecar-injector to make testing this easier.  I think that'll do the hard work of registering the mutating webhook but I haven't used it before and need to read more.

[2019-12-11 17:56] ImJasonH commented on #1569
That's useful information (and somewhat surprising!). So it's possible we _could_ inject the entrypoint binary even into injected sidecar containers, but that only gets us about half way.

The other half is having the entrypoint binary start the user's process and poll it for readiness. The kubelet does this already, using the user's defined `readinessProbe`, and I wouldn't want to have to rebuild

[2019-12-11 17:59] wlynch commented on #1714
/milestone Pipelines 0.9.2

[2019-12-11 21:40] skaegi commented on #1735
maybe `set -o pipefail` too...

[2019-12-11 21:49] skaegi commented on #1735
One argument against `set -x` is that we could echo secrets pretty easily. The case could be made it's still a reasonable default as people should be using a hash bang.

[2019-12-11 23:04] dibyom commented on #1680
Sounds reasonable!

That'd be awesome! Thanks :pray:

[2019-12-12 12:36] kfox1111 opened #1739 "Support custom Pod scheduler"
It would be interesting if volcano (http://volcano.sh/) would be supported to enable tasks to be queued and more fairly scheduled in a shared environment

[2019-12-12 14:04] afrittoli opened #1740 "Actions and Notifications for Tekton"
# Expected Behavior
Tekton provides users with a mechanism to run actions on events, and, as a special case, send notifications, as designed in https://docs.google.com/document/d/1ehhGngn2ulnjYX0HUxSyhQGAvcbabSa27UZs3RvZWwU/edit#

# Actual Behavior
This Epic defines incremental steps towards supporting notifications.

Given the recent discussions about PipelineResources, I think it will make sense

[2019-12-12 14:08] afrittoli opened #1741 "Update the notification design doc"
Based on recent discussions about PipelineResources as well as the need for hooks and async actions, the notifications design needs to be updated.  The introduction of optional parameters and resources may help in achieving notifications without the need for a dedicated CRD for notifications.

I will update the design doc and discuss it during the WG.

[2019-12-12 15:11] ImJasonH commented on #1739
Very interesting! Today Tekton just creates Pods and expects Kubernetes to schedule them as fairly as possible. In theory one could plug in whatever Pod scheduler you wanted to schedule jobs more fairly, if that's something you were concerned about.

Since Kubernetes is generally optimized for long-running serving jobs, I wouldn't be surprised if there was an opportunity to improve the scheduling

[2019-12-12 15:11] ImJasonH commented on #1739
/kind feature

[2019-12-12 15:17] vdemeester opened #1742 "OpenShift + Pipeline on GCP is broken"
# Expected Behavior

Deploying Tekton Pipeline on an OpenShift cluster running in GCP should work.

# Actual Behavior

Deploying Tekton Pipeline on an OpenShift cluster running in GCP should work.
With a OCP 4.2 cluster installed in GCP and RH OpenShift Piplenise Operator 0.8.0, I see the creation of a runtime object (TaskRun or PipelineRun) does not create any resources like pods. When checking t

[2019-12-12 15:23] ImJasonH commented on #1742
To summarize, so that I'm sure I understand the issue:

1. `k8schain` uses the `credentialprovider/gcp` magic import to fetch GCP creds from GCP metadata, in order to fetch image metadata (only from GCP?) to inject Tekton's entrypoint binary.

1. OpenShift-on-GCP blocks GCP metadata requests, so when `k8schain` is used it fails continuously, and doesn't surface that failure or fallback to anonymou

[2019-12-12 15:27] vdemeester commented on #1742
@ImJasonH I think this is true even without the entrypoint magic as k8schain is also used in `knative/pkg` that we depend on for the controller.

Created https://github.com/google/go-containerregistry/pull/630 upstream :angel:

[2019-12-12 15:30] vdemeester commented on #1742
Yes, https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/gcp/metadata.go#L239 blocks (as it loop forever with backoff), and thus the rest of the code never get executed (and that means, for the controller, it is never ready to reconcile anything :sweat_smile: ).

[2019-12-12 15:50] ImJasonH commented on #1742
Ah okay, so just _importing_ the magic import causes the controller to block forever, when installed on OpenShift-on-GCP. Is that correct? These magic imports seem like more trouble than they're worth to be honest. :imp:

Did this work until recently? AFAIK we've had an indirect dependency on the magic imports for quite a while.

[2019-12-12 15:58] skaegi commented on #1570
I've been working with Kata containers a fair bit lately and... inotify does not work there 😿 I guess that means our advanced sleep technology is a really good choice for now.

[2019-12-12 16:00] tomfrenken opened #1744 "Feature Request: Using ConfigMap Values For Params"
# Expected Behavior
When defining parameters for a `Task` in my `Pipeline`, I would like to use values for the parameters which I defined in a `ConfigMap`, instead of hardcoding them in the `Pipeline`.

A cool solution would look like the use of `ConfigMaps` when defining environment variables in a `Pod`, there I am able to do this:

[code]

if params could work the same way it would be like this:

[2019-12-12 16:00] vdemeester commented on #1742
We only tried that recently on GCP so… I am guessing it never worked before. It is the same for Knative by the way. Yeah I am really not a huge fan of *magic import* and the use of `init()` in those credentials package. Having, *at least*, a way to disable those is a "best-effort" fix for now I think :angel:

[2019-12-12 16:12] vdemeester commented on #1744
/kind feature

[2019-12-12 16:21] vdemeester commented on #1742
I can confirm that with https://github.com/tektoncd/pipeline/compare/master...vdemeester:k8schain-quick-fix and GOFLAGS="-tags=disable_gcp" … it works :angel:

[code]

[2019-12-12 16:29] ImJasonH commented on #1744
+1, we should make this change. This makes configuring the controller more standard, and could let users update the support images to use (git-init, creds-init, etc.) without requiring a restart of the controller pod.

[2019-12-12 16:53] bbrowning commented on #1742
@ImJasonH This is not technically OpenShift specific either. We've had reports in Knative of other managed Kubernetes services on GCP hitting this same issue. Basically, anyone that can hit that metadata URL can gain credentials that a random user on a K8s cluster shouldn't necessarily be able to get. That's why OpenShift and other managed K8s distros block that metadata URL from pods in the clust

[2019-12-12 17:17] #1450 closed

[2019-12-12 17:17] #1727 closed

[2019-12-12 18:27] adjavaherian opened #1745 "Question: How to build custom tekton-releases pipeline yaml?"
I'm looking at the docs for custom releases and it seems to be either over my head, or not exactly what I'm interested in doing.

Currently, we bootstrap our cluster with the release yaml from your latest builds as per quickstart.

`kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml`

This is great, and working well, but I want to customize the namespace t

[2019-12-12 18:40] ImJasonH commented on #1745
/kind question

For now I'd say your best bet is to roughly copy our release process: Install `ko`, modify `config/whatever.yaml` and `KO_DOCKER_REPO=gcr.io/your-project ko resolve -f config/ > my-release.yaml`

(`KO_DOCKER_REPO` can point to a Dockerhub username, quay.io registry, etc.)

[2019-12-12 18:46] adjavaherian commented on #1745
/close

[2019-12-12 18:46] #1745 closed

[2019-12-12 19:03] ImJasonH commented on #1744
Thinking through this a bit more:

Luckily at least some of the groundwork is already done: support images are parsed from flags and set as fields on the [`pipeline.Images` type](https://godoc.org/github.com/tektoncd/pipeline/pkg/apis/pipeline#Images).

These fields should become methods that return the current value, and some background process could monitor the ConfigMap and update the values re

[2019-12-12 19:11] ImJasonH commented on #1744
Knative configures their queue proxy image using a ConfigMap: https://github.com/knative/serving/blob/b3079512daae9708f11c7b8ea41ef54023c91725/config/config-deployment.yaml#L26

Their [`pkg/deployment/config.go`](https://github.com/knative/serving/blob/a09a7a9ec016658594ad62cf343d2754aa0d0014/pkg/deployment/config.go) returns a `*Config` with a `QueueSidecarImage` field that gets updated when the

[2019-12-12 22:16] bobcatfish commented on #1606
I just want to double check: are we sure that [the array param](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#variable-substitution-with-parameters-of-type-array) won't work for @poy's use case?

[2019-12-12 23:08] #1735 closed

[2019-12-13 03:23] ImJasonH opened #1746 "`tag-images` release task should use crane"
`crane` is a CLI tool for interacting with container image registries, built on go-containeregistry and included in that repo. `gcr.io/go-containerregistry/crane` is the CLI packaged as a container image.

[`crane copy`](https://github.com/google/go-containerregistry/blob/master/cmd/crane/doc/crane_copy.md) uses registry API calls to efficiently copy an image from one registry to another, only cop

[2019-12-13 05:22] skaegi commented on #1744
sigh -- and after I just closed #1197

[2019-12-13 07:54] ImJasonH commented on #1744
I'm not sure I understand how these are related?

That issue seems to be about letting users declare TaskRun/PipelineRun values as coming from a ConfigMap (which I admit does sound useful?).

This issue is about letting operators specify/update controller args using ConfigMaps, which is more of an operator concern and not really exposed to end users.

Am I misunderstanding?

[2019-12-13 08:38] poy commented on #1606
I think we could duct-tape this solution in, however it comes with two major drawbacks (as far as I can tell)... We would have to require the entrypoint to be a shell. This would allow us to prepend the command with the given array. BUT:

1. While I'm sure most containers will have a shell available in the path, I don't know that its guaranteed (containers generated from `ko` for example).

1. It

[2019-12-13 08:40] vdemeester commented on #1746
I was gonna propose `skopeo, but `crane` works too.
/cc @afrittoli

/kind feature
/area test-infra

[2019-12-13 09:30] vdemeester commented on #1742
upstream issue : https://github.com/kubernetes/kubernetes/issues/86245

[2019-12-13 09:32] vdemeester commented on #1633
@ImJasonH #1700 being merged, this can be closed, can it ? :angel:
/assign @ImJasonH

[2019-12-13 12:28] #1633 closed

[2019-12-13 14:30] skaegi commented on #1744
Hmm... maybe I'm the one misunderstanding. @tomfrenken Is this issue for something like an install time kustomization of a Task and Pipeline. e.g. not something at runtime? Can you maybe describe a bit more what you're looking for.

[2019-12-13 15:42] sbwsg commented on #1735
This is a good point and not something I considered.  I'm torn on this - users presumably would like both ease-of-use (which set -x arguably provides) as well as secure-by-default (served better without set -x).

[2019-12-13 15:47] tomfrenken commented on #1744
@skaegi  I think @ImJasonH sums it up very well, that's precisely what I was meaning

[2019-12-13 16:07] sbwsg commented on #1684
Another phrasing of the above approach that @dibyom and I discussed would be to use keywords for defer / recover / skip (the default):

[code]

This ^ says that `rollback-staging` PipelineTask will only execute if `deploy-to-staging` fails (it "Recovers" from deploy-to-staging's failure).

Having thought about it for a couple days I'm still pretty sure we could describe all of the use cases we've

[2019-12-13 16:48] adjavaherian commented on #1542
I'm also contemplating a chart, but it seems like if its not part of the official repo and build process, it will quickly fall behind as issues / features are implemented and released.  It looks like IBM has a community chart that's already defunct.  https://github.com/IBM/charts/tree/master/community/tekton-pipelines

An official chart is certainly valuable, and doable, but i think we'd have to c

[2019-12-13 16:48] adjavaherian commented on #1542
I'm also contemplating a chart, but it seems like if its not part of the official repo and build process, it will quickly fall behind as issues / features are implemented and released.  It looks like IBM has a community chart that's already defunct.  https://github.com/IBM/charts/tree/master/community/tekton-pipelines

An official chart is certainly valuable, and doable, but i think we'd have to c

[2019-12-13 17:19] #1315 closed

[2019-12-13 20:23] #812 closed

[2019-12-13 22:03] ImJasonH commented on #1714
This should be fixed now at head, at in v0.9.2. If you find this not to be the case, please reopen with repro steps.

[2019-12-13 22:03] #1714 closed

[2019-12-14 16:17] cccfeng commented on #1606
This is really a way of implementation, but if I want to pull up taskrun or pipelinerun through trigger project, it seems to be a little difficult. IIRC resourcetemplates can only pull an instance like pipelineresource or pipelinerun, but can't dynamically modify the definition of task step's env. I agree with @sbwsg  that template writers have no idea what env the actual caller of the template wi

[2019-12-15 01:31] dustym opened #1748 "Insufficient Permission error when using a gcs PipelineResource"
# Expected Behavior

We have a PipelineRun that outputs to a storage resource of type `gcs`. We authenticate this PipelineResource with a secret in the spec that looks like this:

[code]

This has worked since we rolled out v0.7.0. We upgraded from v0.8.0 to v0.9.0 expecting this behavior to continue to work.

# Actual Behavior

After upgrading to v0.9.0, our PipelineRun started to fail when uploa

[2019-12-16 09:11] #1304 closed

[2019-12-16 11:12] gpaul commented on #1680
I've had a look and it's actually rather tricky.

Two strategies present themselves:

1. The first strategy is to use the presence of `PipelineRun.CompletionTime` to determine whether or not a PipelineRun is done:
[code]
This is very simple and assumes that a PipelineRun is done if and only if it has a CompletionTime set.

This sounds very reasonable, but it is not currently true.

For example, th

[2019-12-16 12:36] liuchintao opened #1750 "No HostAliases provided?"
We have a private harbor registry in our k8s cluster which can not be accessed from Internet.

Now I want to push built image to harbor using domain name <docker.xxx.com>,
but container in pod can not resolve domain name from CoreDNS.
I think may be I need a feature in `PodTemplate` like [`HostAliases`](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-

[2019-12-16 12:59] vdemeester commented on #1750
/kind feature

[2019-12-16 14:24] sbwsg commented on #1748
fyi @ImJasonH

Looks like the gsutil wrapper we had was doing some heavy lifting around the GOOGLE_APPLICATION_CREDENTIALS env variable.

Possible next steps for solving this:
- Roll back #1504
- Find a fix that uses the official gsutil image but that supports GOOGLE_APPLICATION_CREDENTIALS env var

[2019-12-16 14:29] ImJasonH commented on #1748
This is an unfortunate breakage, but I think the correct way forward is to depend on gcloud behavior and not paper over it with our own image behavior.

This means users should call `gcloud auth activate-service-account --key-file $GOOGLE_APPLICATION_CREDENTIALS` themselves (possibly as part of the containers run by the GCS resource) to make sure creds are available.

[2019-12-16 14:48] dibbles opened #1753 "error in pipelineruns with spec.volumes[2].name longer than 63 characters"
# Expected Behavior

Using a valid service account name and secret name, I expect my pipelinerun to function successfully as in v0.9.0

# Actual Behavior

After https://github.com/tektoncd/pipeline/pull/1701 the follwing error is seen:
[code]
I think this is due to the removal of code that previously restricted the length of the name of the volume mounts.  If my digging in the code is correct, my

[2019-12-16 15:16] kfox1111 opened #1754 "binary injection"
I was watching the kubecon presentation and it was mentioned an init container was used to populate a volume which is mounted in containers as the entrypoint.

I've been working on an ephemeral csi driver that lets you use a container as a volume directly. Its available here:
https://github.com/kubernetes-csi/csi-driver-image-populator
No extra copies of the binary would be needed.

Could tekton b

[2019-12-16 15:19] bobcatfish opened #1755 "Create Beta Quality Onboarding Documentation"
# Expected Behavior

Once we announce Tekton Pipelines Beta/1.0, when folks come to the project and want to ramp up and get started, they should have beta quality docs to guide them along the way.

# Actual Behavior

While we have docs for individual features, and we have a tutorial, we don't have a lot to help folks who don't already understand what Tekton Pipelines is and we don't have a lot to

[2019-12-16 15:37] kfox1111 commented on #1739
Volcano uses a fork of kube-batch at the moment. I think for kube-batch, it looks like it supports scheduling pods directly via the 'kube-batch' scheduler:
https://github.com/kubernetes-sigs/kube-batch/blob/master/doc/usage/tutorial.md
While they don't have a bare pod example, they do have a job example in the tutorial.

If that's the case, it may be as simple as making which scheduler to use conf

[2019-12-16 16:34] dustym commented on #1748
@ImJasonH Does this mean I need to roll my own image for this to work according to documentation? If so is there some easy way to specify the default `GsutilImage` image (other than modifying the `tekton-pipelines-controller` `args`?

[2019-12-16 17:00] ImJasonH commented on #1748
For now you can set the gsutil image flag to what it was before. That's obviously not a valid long term solution.

For that, we should make the GCS resource call the necessary gcloud command to activate the SA specified in the env var, then invoke `google/cloud-sdk` as it does today.

[2019-12-16 17:00] ImJasonH commented on #1748
/assign

[2019-12-16 17:02] ImJasonH commented on #1754
Thanks for watching the talk! 😄

It's possible, but it's likely we'd still need the existing impl as a fallback for users who can't or don't want to run that driver.

Since we'll have to support any user for the time being it's probably going to be a low priority to adopt the driver. But it definitely sounds interesting and I'll look into it more.

[2019-12-16 17:41] bobcatfish commented on #1717
@afrittoli I moved this to the 0.10 milestone since 0.9.2 happened - or should we make a 0.9.3 release?

[2019-12-16 17:42] bobcatfish commented on #1714
@castlemilk are you able to verify that this fixes your issue? (not to alarm you but I'm asking b/c I saw some odd behaviour when I was trying to use this recently, hoping it was just me 🤞 )

[2019-12-16 18:21] ImJasonH commented on #1739
AFAIK all it would take to support custom schedulers in Tekton is to add `schedulerName` to [TaskRunSpec](https://godoc.org/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1#TaskRunSpec)'s [`PodTemplate`](https://godoc.org/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1#PodTemplate) type, and pass it in when creating a Pod for a TaskRun ([here](https://github.com/tektoncd/pipeline/bl

[2019-12-16 21:33] dustym commented on #1748
Thanks for the fix @ImJasonH

[2019-12-17 00:57] pritidesai commented on #1684
`defer`, `recover`, and `skip` sounds great but at the same time will need little bit of clarification which can be provided with docs and examples.

Also, `DeferPipelineTask` could be interpreted as always executed i.e. `cleanup-integration-environment` is always run irrespective of the outcome of `integration-tests` or any previous tasks if there are any. I am trying to justify *will not run bec

[2019-12-17 00:59] pritidesai commented on #1684
In general, I like the idea of defining `strategy` with one of `defer`, `recover`, and `skip`.

[2019-12-17 07:50] castlemilk commented on #1714
@bobcatfish this looks to be working for me now on v0.9.2

[2019-12-17 09:48] vdemeester commented on #1717
@afrittoli given the new timeline for 0.10 we may want to do a 0.9.3 if the fix did not get in yet

[2019-12-17 09:48] #1753 closed

[2019-12-17 10:01] afrittoli commented on #1717
Do we need to bring the field back or is it enough to tweak validation to accept it and then ignore it?

[2019-12-17 12:59] sbwsg commented on #1684
I agree, the keywords don't make much sense in isolation.  How about "AlwaysRun" (defer), "RunOnFail" (recover), and "RunOnSuccess" (Tekton's current behaviour)?

I think the analogy here with go's defer breaks down. I somewhat regret drawing the comparison. In my mind the strategy only describes a single relationship between a task and its "parents" (those it declares with "runAfter" or "from").

[2019-12-17 15:09] sbwsg commented on #1684
Hrm.  `AlwaysRun` isn't that great for the Finally case - it doesn't make as much sense.  Defer may be better after all:

[code]

[2019-12-17 20:31] MLBMatt opened #1761 "Allow sidecars to use input params/tekton pod labels"
The documentation states that sidecars are ran before tasks but this looks to also mean that input param interpolation isn't performed _and_ the tekton-specific labels aren't available to be mounted as environment variables into the container via the DownstreamAPI.

Is there any plan to support either of these in the near future? Thanks!

[2019-12-18 02:29] pritidesai commented on #1684
Yes I agree, `AlwaysRun` is misleading for `finally` use case how about introducing one more strategy called `defer` or `finally` 🤔 in addition to `AlwaysRun` `RunOnFail` and `RunOnSuccess`?

[2019-12-18 08:06] waveywaves commented on #1739
@ImJasonH I would like to work on this issue :)

[2019-12-18 08:06] waveywaves commented on #1739
/assign

[2019-12-18 12:40] #1748 closed

[2019-12-18 13:01] ImJasonH commented on #1748
@dustym please reopen if this doesn't fix your issue

[2019-12-18 16:54] vdemeester commented on #530
I think so too :angel:
/close

[2019-12-18 16:54] #530 closed

[2019-12-18 17:06] #1519 closed

[2019-12-18 17:53] pritidesai commented on #1684
I kind of ran these strategies against the pipeline example you have and it looks something like this:

[code]

[2019-12-18 17:57] pritidesai commented on #1684
[code]

[2019-12-18 18:09] pritidesai commented on #1684
Adding one more use case to build Javascript application and/or Java application depending on the runtime of an application:

[code]

[2019-12-18 20:30] MLBMatt commented on #1761
Our main use case is having a bot report back to Github (using Statuses) during pull requests on step status to pass/fail and provide the link back to the associated pipeline.

[2019-12-18 20:32] sbwsg commented on #1761
I haven't heard that anyone is actively planning to work on this but I think it would be totally fine to allow tekton variable interpolation in the fields of a sidecar.

[2019-12-18 20:35] MLBMatt commented on #1761
@sbwsg could you point me in the direction of where interp happens (within the code base) and I can potentially start working on a PR? I started poking around but thought it might be easier to ask :)

[2019-12-18 20:41] sbwsg commented on #1761
Sure thing!  This is probably a good place to start: https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/taskrun/resources/apply.go#L100

That function, `ApplyReplacements`, walks over a task spec and switches out instances of `$(foo.bar.baz)` for whatever value `foo.bar.baz` contains.

[2019-12-19 03:17] liuchintao commented on #1750
@vdemeester Hi, maybe pipeline should support HostAliases or any other hosts related params.

Our k8s works on internal network, and we have private docker registry,
but pipeline can not resolve registry's domain name.

I have tried many ways to work arround it, but they all failed.
It is a little possible to add registry's domain name into internal DNS server

[2019-12-19 08:18] vdemeester commented on #1750
@liuchintao indeed, I think it's fine to add `HostAliases` to the `PodTemplate`. I don't see any reason against it :wink:

[2019-12-19 08:41] #1182 closed

[2019-12-19 08:44] maheshwarishikha commented on #1631
@vdemeester , I'll check this.
Currently I pushed an image into openshift registry and now, creating a new app using a task 'openshift-client' (https://raw.githubusercontent.com/tektoncd/catalog/master/openshift-client/openshift-client-task.yaml)...the container gets created but its CrashLoopBackOff. Not finding any clue for this behaviour.

Same application worked fine when I deployed on Kubernet

[2019-12-19 13:37] bobcatfish commented on #1714
Glad to hear it!! Thanks @castlemilk :D

[2019-12-19 13:46] bobcatfish commented on #1704
Some background: when the same resource was used as an input and an output, we used to make it so that instead of using /workspace/output, we'd use /workspace - this was strange b/c it meant (iirc) that the path the resources were at would change depending on what resources were bound at runtime, so we removed that functionality in https://github.com/tektoncd/pipeline/pull/1122

In https://github.

[2019-12-19 17:11] ImJasonH opened #1775 "Add priorityClassName to PodTemplate"
In K8s, Pods can specify a `priorityClassName` which identifies a preconfigured `PriorityClass` object in the cluster ([K8s docs](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/)). This tells the K8s scheduler how to prioritize a Pod, whether to allow it to preempt other work when resources are short, etc.

This isn't exposed in a TaskRun's `podTemplate` ([`PodTemplate`

[2019-12-19 17:41] bobcatfish opened #1777 "Can't use PullRequest PipelineResource to update status"
# Expected Behavior

I should be able to use the PullRequest resource to update the status on a PR.

# Actual Behavior

When I try to update my "poop" status, it fails and I get this in the logs from `pullrequest-init/main.go:72`:

[code]

# Steps to Reproduce the Problem

I was using this Task:

[code]

With this Pipeline:

[code]

I created runs with:

[code]

I created these PipelineResources:

[2019-12-19 20:30] ImJasonH opened #1779 "Add imagePullSecrets to PodTemplate"
In K8s, Pods can specify a `imagePullSecrets` which identifies K8s secrets that the container runtime should use to authorize container image pulls when starting a Pod ([K8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/)). This potentially provides creds to the container runtime (docker, containerd, etc.) in cases when the image is not publicly availab

[2019-12-19 23:06] ImJasonH commented on #1779
On further consideration I don't think we urgently need this, since you can already add pull secrets to the SA that runs the Pod.

[2019-12-20 03:34] liuchintao commented on #1750
@vdemeester Thanks for your reply, that's so cool 👍

[2019-12-20 15:02] MLBMatt commented on #1761
@sbwsg do you know at what point the tekton-specific pod labels are added as well? I'm looking to mount a couple pod labels as environment variables into my sidecar as well, but it looks like the sidecar is started before the tekton-specific labels have been applied to the pod (guessing they're dynamically added by some bootstrapping?)

[2019-12-20 15:38] sbwsg commented on #1761
That happens in the `makeLabels` func of `pkg/pod/pod.go` I believe.

[2019-12-20 16:22] #1775 closed

[2019-12-20 17:00] bobcatfish commented on #649
I feel like we should close this? Maybe open another issue to discuss anything specific that came from this issue.

[2019-12-20 17:00] #649 closed

[2019-12-20 17:47] bobcatfish commented on #216
Closing this in favor of https://github.com/tektoncd/pipeline/issues/1673 since we're redesigning all the PipelineResources (including this one) as part of that.

[2019-12-20 17:47] #216 closed

[2019-12-20 17:47] bobcatfish commented on #260
Closing this in favor of https://github.com/tektoncd/pipeline/issues/1673 since we're redesigning all the PipelineResources (including this one) as part of that.

[2019-12-20 17:47] #260 closed

[2019-12-20 17:48] bobcatfish commented on #742
@jeffmaury do you mean kubernetes events or CloudEvents? Either way I think we could add this but I don't think we have a plan atm.

[2019-12-20 17:49] bobcatfish commented on #749
@sbose78 is this something you're still interested in ? (Note that in #1673 we're redesigning PipelineResources)

[2019-12-20 17:50] bobcatfish commented on #752
Closing this for now, please re-open if needed.

[2019-12-20 17:50] #752 closed

[2019-12-20 17:51] bobcatfish commented on #836
Closing this for now, please re-open if needed @vincent-pli

(Note this proposal could also be relevant to #233)

[2019-12-20 17:53] #836 closed

[2019-12-20 17:54] bobcatfish commented on #899
That appears for a while @wlmvp even in a case where it later succeeds @wlmvp

Please re-open if you'd like to explore this further - the next step is to make sure this is actually an error case and it isn't something else going wrong.

[2019-12-20 17:54] #899 closed

[2019-12-20 17:56] AloisReitbauer commented on #742
The Keptn project wants to work on a joint definition of these events. See issue in Keptn: https://github.com/tektoncd/pipeline/issues/742

[2019-12-20 17:56] bobcatfish commented on #1260
I think this could be pretty cool, though it's hard for me to imagine exactly what it would look like. @danielhelfand and/or anyone else, would you be interested in putting together a proposal with maybe some examples of what this would be like?

[2019-12-20 17:57] bobcatfish commented on #733
@piyush-garg are you still working on this?

[2019-12-20 17:57] bobcatfish commented on #1076
Closing this in favor of #1673

[2019-12-20 17:57] #1076 closed

[2019-12-20 17:58] bobcatfish commented on #1113
@vdemeester are you still working on this or should we throw it in the backlog instead?

[2019-12-20 17:58] bobcatfish commented on #1350
@dibyom are you still working on this or can we throw it back in the backlog?

[2019-12-20 17:59] vdemeester commented on #1777
/kind bug

[2019-12-20 18:01] bobcatfish commented on #1020
@dibyom are you still working on this or can we throw it back in the backlog?

[2019-12-20 18:02] bobcatfish commented on #1273
I think @sbwsg and/or I are going to tackle this as part of #1673

[2019-12-20 18:02] bobcatfish commented on #454
What do you want to do for next steps here @ImJasonH ?

[2019-12-20 18:06] bobcatfish commented on #1185
I agree @vdemeester let's do the same for TaskRun!

[2019-12-20 18:07] bobcatfish commented on #1663
@ImJasonH I notice you added this to the 0.10 milestone but we're trying to make sure we're really sparing about what we add to the milsetone so I'm gonna remove it for now but lemme know if you strongly disagree!

[2019-12-20 18:09] bobcatfish commented on #855
what are the next steps here @sbwsg @pavlobaron ?

[2019-12-20 18:11] bobcatfish commented on #1000
I think we have this now, is that right @wlynch ?

[2019-12-20 18:11] bobcatfish commented on #1002
Closing this in favor of #1673

[2019-12-20 18:11] #1002 closed

[2019-12-20 18:12] bobcatfish commented on #1012
This _is_ something we definitely want to support in the long run but we haven't made a lot of movement toward it yet. Anyone interested in getting started with any requirements gathering / design work?

[2019-12-20 19:04] sbwsg commented on #855
Some work has been done on this: https://github.com/tektoncd/pipeline/pull/1387

I'm tempted to say we should close this.

[2019-12-20 19:11] bobcatfish commented on #1500
I haven't heard anything about this so I'm going to close it and if it happens again plz reopen and link to it. Once that happens I think we should jump on it asap, I'm willing to put aside whatever other thing I'm doing and work on it!

[2019-12-20 19:11] #1500 closed

[2019-12-20 19:44] sbwsg commented on #1438
For those following along, I think the two remaining pieces here are:

1. configMap volume support
2. secret volume support

Anything else outstanding in the context of this issue?  I figure we can follow up with brand new features around workspaces in new GH issues.

[2019-12-20 19:46] bobcatfish commented on #1612
@vdemeester I'm trying to reproduce this and I'm a bit confused:

1. It looks like the test isn't disabled, why isn't this failing on every PR (https://github.com/tektoncd/pipeline/blob/master/vendor/github.com/tektoncd/plumbing/scripts/presubmit-tests.sh#L198 makes it pretty hard to tell if we're running with `-race` or not but [looking at recent build logs](https://storage.googleapis.com/tekton-

[2019-12-20 21:34] wlynch commented on #1000
Yup! This was added in d478e7d6d576d2e309c6a42ecf8da75c536df681

[2019-12-20 21:34] #1000 closed

[2019-12-23 08:48] vdemeester commented on #1612
@bobcatfish lot's of race condition are not deterministic :stuck_out_tongue_closed_eyes: but maybe it happen less and less :angel:

[2019-12-23 11:58] kvijai82 opened #1784 "PVC associated with pipelinerun stuck in terminating state"
# Expected Behavior
After a pipelinerun is completed, the PVC associated with the run used to be deleted once the run completed.  This was the behavior in Tekton 0.5.2.

# Actual Behavior
After a pipelinerun is completed, the PVC associated with the run are stuck in terminating state.  Once the pods associated with the tasks are deleted the claim and PV also get deleted in Tekton 0.7+.  Is this ch

[2019-12-23 12:31] chmouel opened #1785 "PipelineRun with pipelineSpecs panics"
# Expected Behavior

An error or a working state

# Actual Behavior

A crash :

<details>
  <summary>Crash log</summary>
<pre>
{"level":"info","logger":"tekton","caller":"metrics/prometheus_exporter.go:37","msg":"Created Opencensus Prometheus exporter with config: &{tekton.dev/pipeline tekton prometheus 5000000000 9090  false false  }. Start the server for Prometheus exporter."}
{"level":"info","l

[2019-12-23 12:32] chmouel commented on #1785
/label bug

[2019-12-23 12:36] cccfeng opened #1786 "Measure taskRun/pipelineRun aggregate by task/pipeline template"
# Expected Behavior
From v0.8.0, Tekton Pipeline supports the Metrics feature. We can't wait to deploy the prometheus server and grafana dashboard service to make statistics on the operation of the tekton pipeline.

**We want to query pipeline metrics quickly and stably always.**

# Actual Behavior
With the increase in the number of historical taskrun/pipelineruns, we find that the `tekton-pipelin

[2019-12-23 15:03] ImJasonH commented on #1786
cc @hrishin

/area metrics
/kind feature

[2019-12-23 16:13] vdemeester commented on #1784
/kind question
/kind bug

[2019-12-23 17:46] danielhelfand commented on #1260
@bobcatfish Sure! Do you have any particular format for a proposal, or would you like a high level examples of how I imagine this?

[2019-12-24 08:23] wei-qiang commented on #1555
@vdemeester just tried it again with version 0.9.2 and it seems to work now!

[2019-12-24 08:26] vdemeester commented on #1555
@wei-qiang yay nice, thanks. Let's close this one then.
/close

[2019-12-24 08:26] #1555 closed

[2019-12-25 09:22] jomeier commented on #1663
@bobcatfish
Without support for corporate proxies, Tekton will be unusable in lots of corporate environments.

[2019-12-25 13:06] mmpei commented on #1535
this will speed a lot for resource input and output. it will also reduce the files uploading to storage and makes managing of artifacts easier.

[2019-12-25 19:56] eddycharly commented on #1535
Sorry for the late reply. I have almost stopped using outputs in my pipelines in favor of manually uploading/downloading the artifacts directly in my tasks.
That’s not ideal for reusing a task across different pipelines but i couldn’t find a better way to use s3 as a storage with decent performance and enough freedom when creating pipelines.

I will have another look as I hope it will improve in t

[2019-12-26 02:53] zjq123456 opened #1791 "TaskRun Pod exceeded available resources"
# Expected Behavior
Pod init success
# Actual Behavior
Task Step Resources configuration:
resources:
        limits:
          cpu: '1'
          memory: 1Gi
        requests:
          cpu: 20m
          memory: 10Mi

TaskRun status is 'TaskRun Pod exceeded available resources, reattempted 1 times: pods "hystrix-test-statefulsets-pod-f36c2f" is forbidden: exceeded quota: project1030-quota, reques

[2019-12-26 10:02] chmouel commented on #1663
Strong +1 on this too...

[2019-12-26 12:14] vdemeester commented on #1791
@zjq123456 thanks for the issue. Can you share the whole task yaml ? (or at least a reproductible yaml). It might be a bug on how we handle those limits.

/kind question
/kind bug
/triage needs-information

[2019-12-26 23:35] cezkuj commented on #1694
If nobody is currently working on it, I will be happy to create PR with such change :)

[2019-12-27 04:52] xiaojias opened #1794 "Deployed pod is not updated after pipeline is re-built in Tutorial, while the deployed pod is kept on running"
# Expected Behavior
In tutorial, while the source code is updated, the deployed pod should be updated accordingly after Pipeline re-runs, even though the deployed pod keeps on running.

# Actual Behavior
The image for the deployed pod is not updated to the latest.

# Steps to Reproduce the Problem
In Tutorial for leeroy-web Pipeline:
1. Run the tutorial, leeroy-web* pod is created and working;

2.

[2019-12-27 08:55] vdemeester commented on #1694
/assign @cezkuj

[2019-12-27 08:58] vdemeester commented on #1794
I think this is because the image (resource) doesn't change, hence the image reference doesn't change either, and so `kubectl apply` command doesn't change anything, making kubernetes not re-schedule a new pod. We need to enhance the tutorial for this I think.

/kind documentation
/kind enhancement

[2019-12-27 10:21] guillaumebreton commented on #1784
@kvijai82 I've noticed the same behaviour and cleaned up manually the pod. I'd be interested to know if this is an expected behaviour too

[2019-12-30 07:16] adux6991 opened #1795 "Support for "volume" field in Condition"
# Expected Behavior
I am trying to implement a simple flip-coin example using pipelines and conditions. Since I cannot find a way to output parameters in a task, I use volumes to store the output and mount the volume in each task. But when it comes to conditions, the field "volume" is not supported. How should I accomplish this?

[code]

# Actual Behavior
[code]

# Steps to Reproduce the Problem

[2019-12-30 19:12] startxfr opened #1796 "Abstract task and nested tasks"
# Expected Behavior

Is there a way to use a task in a task. I couldn't find any documentation or information on how to use call a task in a task.

# Actual Behavior

Task are only composed of a set of container execution. Is there a way to embed a task in another task. This could be powerfull to create "abstract" task that can be use into higher level task. Workspace, volume, env and stepTemplate

[2019-12-30 19:23] chmouel commented on #1796
Perhaps this is what you are looking for ?

https://github.com/tektoncd/catalog/blob/master/tkn/tkn.yaml <https://github.com/tektoncd/catalog/blob/master/tkn/tkn.yaml>

[2019-12-30 19:51] startxfr commented on #1796
Thank @chmouel  for you quick answer and my problem could be solved with genric task like https://github.com/tektoncd/catalog/blob/master/tkn/tkn.yaml, and there are many ways (code duplication, genreric task, container scripts,..) to solve this problem.
Can you tell me how to "embed" this task in another task ? I wanted to call task1 in task2, in order to put input, image, command, arg, volume,..

[2019-12-31 02:14] chmouel opened #1797 "Feature to disable a task in a Pipeline"
# Expected Behavior

It would be nice if it was possible to have a way to disable a task in a Pipline, like so:

[code]

to disable a task in a Pipeline be it temporary  or for other reasons.

# Actual Behavior

Sometime while developing some long Pipeline I have to comment some long running tasks, and being able to just disable them would be nicer.

# Additional Info

Maybe that's something that

[2019-12-31 06:46] adux6991 commented on #1795
Found a way to bypass the restriction. Declare volumes in pipelineRun.podTemplate and mount it in Condition.spec.check.volumeMounts. So I'm gonna close it.

[2019-12-31 06:46] #1795 closed

[2020-01-02 16:11] sbwsg commented on #1796
No, not currently.

This enhancement lines up with some other conversations currently going on around PipelineResources. We've also explored some ideas similar to your suggestions [here](https://github.com/tektoncd/pipeline/issues/1460) and (slightly related) [here](https://github.com/tektoncd/pipeline/issues/1367).

Thanks for the feedback!

[2020-01-03 02:57] karlmutch commented on #953
Related Discussion at https://github.com/tektoncd/pipeline/issues/1438

[2020-01-03 16:43] sbwsg opened #1802 "Expand workspace support to pipelines and pipelineruns"
# Expected Behavior

Workspaces should be declarable in a pipeline and bindable in a pipelinerun.  Threading a workspace through multiple tasks should allow for files to be shared across those tasks (if using the correct volume source types - PVC, configmap, secret).

We may also want to explore some kind of "from" syntax - a PipelineTask could declare that it wants the workspace "from" a prior pi

[2020-01-03 18:49] rakhbari commented on #1717
Just FYI... I just hit this issue while attempting to apply the latest 0.3.0 dashboard release YAML.
👍  for @afrittoli 's suggestion to bring the field back & just ignore it for now until this can be resolved. As of right now I'm not entirely sure if my attempt to upgrade to latest dashboard release YAML worked or not because of this error.

[2020-01-03 20:36] poy opened #1803 "images.caching.internal.knative.dev CRD"
# Expected Behavior
Applying the Tekton release only adds Tekton CRDs.

# Actual Behavior
Apply the release adds a knative.dev CRD: `images.caching.internal.knative.dev`.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info
I don't know a TON about the `images.caching.internal.knative.dev` concept, but my understanding is its an idea from Knative Serving to use DaeomSets to cache images

[2020-01-04 10:09] startxfr commented on #1796
Thank scott for you answers and your links who help me read and learn more on how tekton pipelines works and what evolutions are in process.

Theses links and discussions  are working on the `Pipeline` level. I was more looking for a solution at the `Task` level witch could help us building "high level" tasks, based on "low level" tasks.
If a `Task` could _call_ or _inherit_ another task, we would

[2020-01-05 15:43] abayer opened #1805 "Config map names should be customizable, or at least prefixable"
# Expected Behavior

The various config maps used by Tekton Pipeline (`config-artifact-bucket`, `config-logging`, etc) should be able to be given custom names, to avoid potential collisions with other services.

# Actual Behavior

They can't. =)

# Steps to Reproduce the Problem

1. Change the `name` of one of the config maps.
2. Anything referring to that config map won't work.

# Additional Info

[2020-01-05 15:46] abayer commented on #1805
Looks like the prefix idea would be a challenge for `config-observability` since that config map is only referenced from `knative.dev/pkg` code...

[2020-01-06 09:51] vdemeester commented on #1803
/kind question

[2020-01-06 09:54] vdemeester commented on #1796
/kind question
/kind feature

This is a bit related to #1260 I feel, except that #1260 propose to add the notion of `Step` where this proposal would make `Task` being able to refer `Task`. I tend to prefer #1260 as it feels less complicated (to grasp, and to implement I guess).

[2020-01-06 09:58] vdemeester commented on #1797
@chmouel Yeah, I think it should be possible with `Conditionals` and a *always false* condition.

/cc @dibyom
/kind question

[2020-01-06 11:43] startxfr commented on #1796
Hi Vincent,

Thanks for you answer. You're right, the solution discussed in #1260 deal with the same challenge : introducing more flexibility and reusability around the `Task` component.

Having a `Step` resource could help in sharing and reusing common task element. But step rely on PipelineResources, volumes, workspace, input and output defined at the task level.
If we have `Step` resource, we c

[2020-01-06 12:32] chmouel opened #1806 "Tekton should not set task as Succesfull when we have steps OOMKilled"
# Expected Behavior

Task set as Failed

# Actual Behavior

Tak set as Success

# Steps to Reproduce the Problem

1. Running a task (from the e2e tests) that gets OOMKilled by the controller
2. getting the task status with `kubectl get` :
[code]

It says `Succeeded` when it shoudl say `Failed`,

kubernetes sets the exitCode when OOMKilled as `exitCode 0`

# Additional Infos

<details>
  <summary>T

[2020-01-06 12:33] chmouel commented on #1806
/kind bug

[2020-01-06 15:03] bigkevmcd commented on #1684
Another slightly different case:

For things like updating GitHub [status notifications](https://developer.github.com/v3/repos/statuses/) it would be nice if we could do something like the following...admittedly this is a bit repetitive, but passing the "success" or "failure" of a task task might work with the "recover" strategy mentioned earlier, which would mean that after each task, somehow it'

[2020-01-06 16:08] bobcatfish commented on #1121
@afrittoli i've heard a rumor that you are taking this on?

[2020-01-06 16:12] bobcatfish commented on #1463
@skaegi just wanted to check in - we have this in our 0.10 milestone ~jan 17, do you think its reasonable to finish before then, and/or would you like someone else to work on this as well?

[2020-01-06 16:19] bobcatfish commented on #1717
After discussing this a bit with @sbwsg @dibyom @vdemeester we're not sure if it's worth making the 0.9.3 release at this point since our 0.10 release is in ~2 weeks. If we do the 0.9.3 release, folks would have to migrate to it in order to get this field back, then we'd be asking them to switch to 0.10 almost immediately.

For your issue with the dashboard @rakhbari I _think_ the dashboard projec

[2020-01-06 16:19] #1717 closed

[2020-01-06 16:26] bobcatfish commented on #1538
@wlynch maybe we can close this issue? @vdemeester mentioned we might want to open another issue re. continuing to vendor or not but otherwise it seems like go module support is done? 🎉

[2020-01-06 16:59] bigkevmcd commented on #1806
/assign

[2020-01-06 17:04] skaegi commented on #1463
Hopefully should have something this week on this.

[2020-01-06 17:32] JCzz opened #1809 "Is there some cached snapshot image?"
From this [example](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task-inputs-and-outputs)

This example works, but I when I try to use custom github repo I end up with:
`error building image: error building stage: lstat /workspace/docker-source/go.sum: no such file or directory`

Even the file is there?

Dockerfile:
[code]

Docker build works, but not when using it with Tekton

[2020-01-06 18:18] dibyom commented on #1797
Yeah an always false should work. Though there are a couple of gotchas:
1. Tasks that are dependent on that "skipped" task using `runAfter` or `from` are also not run.
2. This could be premature optimization -- but conditionals run in their own pods. Initially we had the idea of some "built-in" conditionals that we can optimize. `always-false` seems to be a good candidate for this.

[2020-01-06 19:42] dibyom commented on #1020
Thanks for the reminder. Moved to backlog -- here's why:

1. There is a workaround that @akihikokuroda mentioned in the design doc: https://github.com/tektoncd/pipeline/issues/1016#issuecomment-542388985

2. The injected pipelinerun status is likely to be stale if there are parallel taskruns -- to counter the user would have to resort to the workaound above

3. Probably not going to be useful unti

[2020-01-06 23:24] kasuboski opened #1814 "Support Internal CA mount"
# Expected Behavior
I can specify certs to be used by all containers in tekton pipelines

# Actual Behavior
I'm able to add certs in tasks by mounting them in as a configmap in a stepTemplate, but I don't see how to do this for a Condition.

So the condition fails to checkout the git repo that's used as a resource. This could potentially be an issue if we want to connect to other internal services

[2020-01-07 02:14] chengjingtao commented on #1690
I am watching changes: https://github.com/tektoncd/pipeline/pull/1722. It provides an ability to retrieve information from taskstep container.

We could set PipelineResourceResult to
[code]
and set `StepState.Terminated.Reason="TaskStepTimeOut"`, So we can get `TimeOut` error of specific step.
I will provide a more deailed  design, and begin to implement it after the PR above merged.

[2020-01-07 10:54] chmouel opened #1815 "test_duplicated e2e test pod is getting OOMed on OpenShift"
Running the test_duplicated_pod E2E test on an default OpenShift4 cluster would often get OOM killed by the Kernel. I am assuming the Kernel is OOMKilling them since there is no LimitRanges set.

The Node has a quite beefy VM already (amazon EC2 `m4.large`) and not sure if we can increase this

This is probably not OpenShift specifics, it just that I have access to test it in there.

![image](http

[2020-01-07 14:58] vdemeester commented on #1815
/kind flake
/area testing

[2020-01-07 15:03] vdemeester commented on #1814
/kind feature

[2020-01-07 15:05] vdemeester commented on #1809
I am not sure what you mean by "some kind of snapshot image."…
Usually, to debug those things, I am adding a previous step similar to the one that fails but instead of doing what it does (here a `kaniko …`), I do a `bash -c "pwd; ls -la"` and other things to see if the current directory and all are the correct one. Looking at you project, nothing jumps on why it would fail though…

/kind question

[2020-01-07 15:22] wlynch opened #1816 "PullRequest SCM Resource does not work with Custom URLs"
# Expected Behavior

Be able to use the Pull Request resource for custom URLs (e.g. GitHub Enterprise, self hosted GitLab).

# Actual Behavior

PullRequest resources uses default client for GitHub/GitLab, defaulting to the public hosts (e.g. api.github.com).

# Additional Info

We should move away from the use of [`NewDefault()`](https://godoc.org/github.com/jenkins-x/go-scm/scm/driver/github#NewD

[2020-01-07 15:40] vdemeester commented on #1816
/kind feature

[2020-01-07 16:37] wlynch commented on #1777
I'm fairly sure this was caused by GitHub returning 404 in cases where the auth token isn't valid.

For example:

API request with no auth:
[code]

API request with auth:
[code]

Unfortunately I'm not sure there's much we can do here, since we're just returning the error we got back from GitHub.

Can you sanity check that the token is valid? Keep in mind that if `webhook-secret` is in fact the [we

[2020-01-07 18:02] pritidesai commented on #1797
I think its a valid behavior even in case of disabling a task with `disable: true` (if we add such support). If a task is disabled either by conditions or by explicit disable key, all the dependent tasks should not be executed unless otherwise failure strategies are specified (see #1684)

[2020-01-07 20:42] #1816 closed

[2020-01-07 21:55] bobcatfish commented on #1777
Thanks @wlynch !! That helps a lot - I was able to use `curl` and my token and I saw the same "Validation Failed" error that you saw so the token I was _trying_ to use was good but it turns out I was using it wrong - I didn't realize that in https://github.com/tektoncd/pipeline/pull/1550 the secret `fieldName` changed from `githubToken` to `authToken` :sweat_smile: :woman_facepalming:  The docs we

[2020-01-07 21:55] #1777 closed

[2020-01-07 22:06] bobcatfish opened #1818 "Improve debuggability of PullRequest PipelineResource"
# Expected Behavior

If I make simple mistakes in my usage of the PullRequest PipelineResource, I should get an informative error. For example errors like:

- Using the wrong `fieldName` for the secret (#1777)
- Using the wrong format for a file that represents a mutation to make (e.g. a comment)

# Actual Behavior

In some cases, things just succeed silently but do nothing. In other cases you get

[2020-01-07 23:02] #1694 closed

[2020-01-08 08:09] chmouel opened #1819 "Flakyness with TestSideCar"
When I run the E2E tests multiple times I gets the TestSideCar failing often...

[code]

This is easily replicated when running multiple times on the same cluster (I run the E2E test in a taskrun) :

![image](https://user-images.githubusercontent.com/98980/71960977-99300b80-31f6-11ea-89e9-c854cb8af07d.png)

/area testing
/kind flake

[2020-01-08 08:27] chmouel opened #1820 "Raciness in TestDAGPipelineRun"
I am often getting flakyness in TestDAGPipelineRun, looking at the debug it's seems that the pipelinerun gets created before the pipeline has finished to be created :

<img width="1365" alt="image" src="https://user-images.githubusercontent.com/98980/71962051-ef05b300-31f8-11ea-8d2d-d210f3774a98.png">

when the Pipeline do exist :

<img width="1390" alt="image" src="https://user-images.githubuserc

[2020-01-08 08:44] vdemeester commented on #1820
@chmouel we should use the `wait` functionnality (from k8s) to "wait" for the given `Task` or `Pipeline` to be created, instead of a "sleep" timeout :angel:

[2020-01-08 09:43] chmouel commented on #1820
@vdemeester Yep on it already https://github.com/tektoncd/pipeline/commit/32e3157d3fbf131a12b50cc968a5f8b00d970817 :-D

[2020-01-08 11:26] a-roberts opened #1822 "Provide clarity on nightly builds (when? How to install them?)"
# Expected Behavior
I can't ko apply the latest pipelines code so I want to install simply kubectl apply the latest nightly images

Also, are they actually nightly builds or done on a per commit basis? If they're done on a Prow cron job of sorts, when are they published (how can we easily infer what commit was used?)

# Actual Behavior
Had a nosey around https://github.com/tektoncd/pipeline/blob/m

[2020-01-08 11:43] piyush-garg commented on #733
@bobcatfish Yaa, I am working on this. Sorry for the delay.

@ImJasonH The solution you suggested is to use Conditions. But I see the status for Pipeline or Task is deprecated. Should I use Conditions in Spec? or I remove the deprecation? or any other suggestions?

There is this issue https://github.com/kubernetes/kubernetes/issues/12430 for adding the field in ObjectMeta

cc @vdemeester @hrishin

[2020-01-08 15:09] vdemeester commented on #733
ah good point, we remove those Status field because they weren't used at all :thinking:
We may need to un-deprecated those… I'm interested in "which I believe will be automatically updated by knative/pkg internals, and which might be useful in the future" part :angel:

[2020-01-08 15:22] vdemeester commented on #1818
/kind feature

[2020-01-08 15:23] ImJasonH opened #1823 "test/builder.Step name should be optional"
# Expected Behavior

I can use test builders to create a step without a name. Step names are not required.

# Actual Behavior

When defining a step using `tb.Step`, I must pass both the name and the image, both of which are strings.

One of these steps is valid, and one is not. But which one!

[code]

<details><summary>Answer</summary>
<p>
 The second one is valid -- the `name` field goes first.
<

[2020-01-08 15:29] ImJasonH opened #1824 "test/builder namespace args are largely unnecessary"
In e2e tests, clients returned from `setup(t)` are only able to create resources in the namespace created by `setup(t)`. Attempting to create resources in other namespaces results in an error.

Test builders like `tb.Task`, `tb.TaskRun`, etc., take a `namespace` arg that, for e2e tests, must be the `namespace` value returned from `setup(t)`. Passing `""` as the namespace is also valid in e2e tests

[2020-01-08 15:39] vdemeester commented on #1822
Right we should document them better. The nightly are build on the `dogfooding` cluster, and are "real" nightly (aka not per commit merged in `master` but "time-based" pick of `master`)

/kind documentation
/cc @afrittoli

[2020-01-08 16:30] vdemeester commented on #1806
#1812 has been merged, we can close this one
/close

[2020-01-08 16:30] #1806 closed

[2020-01-08 17:27] #1512 closed

[2020-01-08 18:54] ImJasonH opened #1826 "Support Windows"
This issue tracks work needed to make Tekton run on a Kubernetes cluster with Windows nodes. Please contribute your use cases, ideas and experience.

First, some assumptions I've been operating under:

1. Tekton controller components themselves don't need to run on Windows nodes. The cluster could have N Linux nodes and M Windows nodes, run the controller on one of the Linux nodes, and run request

[2020-01-09 15:49] JCzz opened #1830 "Pipeline tutorial: Service-Account is forbidden deployment"
From this tutorial:
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#pipeline

I can run tasks but when getting to pipelines I get Service Account forbidden, but I do have the service account, the ClusterRole and the ClusterRoleBinding setup - have you seen this?
[code]

[2020-01-09 15:59] wlynch opened #1831 "Proposal: GitHub App Authentication"
Here's a short proposal for how we can support GitHub App Authentication within Tekton.

https://docs.google.com/document/d/1dauJtzMWwxutwV38FwtSpauBhA9nKLNjZTIrYEjSaao

Please take a look and leave any feedback!

[2020-01-09 15:59] JCzz opened #1832 "Two quick questions: Github Webhook tutorial & how to rerun pipelines and TaskRuns?"
1. Do you have any examples showing how to use Github WebHooks to start the/a pipelinerun for CI/CD flow?

2. I am looking at this tutorial:
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task-inputs-and-outputs
but how do you restart taskruns and pipelineruns - it would be nice to be able do something like:
`tkn pipelinerun <already kubectl apply -f file.yaml>`
How do you test

[2020-01-09 16:02] vdemeester commented on #1831
/kind feature
/kind design

[2020-01-09 16:07] vtereso commented on #1784
The K8s versioning between the releases doesn't seem like it would be an issue?
v0.5.2 K8s Version: `kubernetes-1.12.6`
v0.7.0 K8s Version: `kubernetes-1.12.9`'

I'll try to take a look at the controller code.

[2020-01-09 17:02] othomann opened #1833 "tekton-pipeline images can contain vulnerabilities"
# Expected Behavior
No vulnerabilities in docker images built for tekton-pipeline

# Actual Behavior
Two vulnerabilities are reported today against latest.

# Steps to Reproduce the Problem

1. use the `ibmcloud cr va` tool to check docker images for vulnerabilities.
2. two images contain issues:
creds-init-c761f275af7b3d8bea9d50cc6cb0106f            latest

[2020-01-09 17:12] vdemeester commented on #1833
/kind feature

[2020-01-09 17:14] a-roberts commented on #1832
Hey @JCzz, if you're looking for UIs there's our Tekton Webhooks Extension that's built for 1., see https://github.com/tektoncd/experimental/tree/master/webhooks-extension - you could also use Jenkins X. With the webhooks extension we're using Tekton Triggers the EventListener component, backed by an Ingress or Route as the thing that is pinged from GitHub.

For 2. you can use https://github.com/t

[2020-01-09 18:45] vtereso commented on #1784
Between v0.5.2 and v0.7.0, the git record appears to show little/no change between the reconciler and the artifact packages. Does anyone have an idea what to look for?

[2020-01-09 18:51] chmouel commented on #1832
For `tkn` you can just use the -L option to rerun the last task or pipeline

[code]

[2020-01-09 20:14] skaegi opened #1836 "Problems with images that assume a particular workingDir and/or HOME environment variable"
I've been integrating with a few pen testing tool images that are relying on a very specific workingDir being set. The problem I've been having is that Tekton overrides this setting and then I had to go back into the image to reverse engineer its original value.

Could we provide a way to not override this setting and do we even need to do this anymore?

[2020-01-09 20:55] bobcatfish commented on #1012
@ImJasonH opened https://github.com/tektoncd/pipeline/issues/1826 , also @dlorenc  wrote a blog post experimenting with Tekton + MacStadium (https://medium.com/@dlorenc/tekton-on-mac-ed6ea72d1efb)

I'm gonna assume we can close this issue for now and focus on specific issues such as #1826

[2020-01-09 20:56] #1012 closed

[2020-01-09 20:56] bobcatfish commented on #749
Gonna close this for now, please re-open if still interested!

[2020-01-09 20:56] #749 closed

[2020-01-09 20:58] bobcatfish commented on #1260
@danielhelfand either is great - we have some suggestions for what we try to look for in proposals in https://github.com/tektoncd/community/blob/master/process.md#proposing-features

but basically as much/little as you think is reasonable :D and the working group (https://github.com/tektoncd/community/blob/master/working-groups.md#general) is a great place to discuss this out loud if you'd prefer

[2020-01-09 20:59] bobcatfish commented on #1113
Throwin it in the backlog :sunglasses: But I added it to the "post beta" milestone so we won't forget it!

[2020-01-09 21:08] bobcatfish commented on #855
Closing for now! Thanks all :)

[2020-01-09 21:08] #855 closed

[2020-01-09 21:12] bobcatfish commented on #1612
sure but i think that the behaviour of the go race detector is intended to be (somewhat??) deterministic? (https://blog.golang.org/race-detector) i dunno how it actually works tho, skimming the article it does say "the race detector can detect race conditions only when they are actually triggered by running code" so maybe it's not fully deterministic :(

my previous experiences with race condition

[2020-01-09 21:12] bobcatfish commented on #1612
whoops agressive early close

[2020-01-09 21:13] sbwsg opened #1838 "Extract Pre/Post Steps from PipelineResources 2 design into Tasks"
# Words

Pipeline Resources introduced the idea of Pre / Post Steps that could be injected into a Task to make it perform specific work before the main body of the Task runs.  Examples: The Git PipelineResource type injects a git clone step before a Task's steps and the Pull Request resource type updates a pull request with modifications by injecting steps after a Task's steps.

This behaviour of

[2020-01-09 21:14] bobcatfish commented on #1836
I'm surprised that Tekton overrides the workingDir - can you provide an example of this happening?

If that's the case I agree that we shouldn't be arbitrarily setting it (what is it getting set to?)

[2020-01-09 21:15] ImJasonH commented on #454
Sorry for letting this linger.

Basically, the proposal from before seemed to be largely well received. Some people mentioned they had already built an ad hoc version of the same to be able to persist/query execution history, and would likely switch to using some more official Tekton solution if one existed.

I spoke to some people on the Grafeas team about this, and they seemed interested in prot

[2020-01-09 21:18] bobcatfish commented on #1785
We should fix panics ASAP! Adding this to our current milestone.

[2020-01-09 21:21] pierretasci commented on #1684
One specific use case that I don't think has been explicitly mentioned above is in a fan-in/out scenario.

For example, if my pipeline is
[code]
Here, I would want to always run the `upload-test-results` task regardless of whether 0, 1, or both of the tasks preceding it failed.

To me, this reads a lot like conditional execution but more like, conditional failure. Perhaps, this could be served as

[2020-01-09 21:27] bobcatfish commented on #1830
Interesting! Thanks for reporting this @JCzz , it looks like the service account that the tutorial has you create contains docker credentials:

[code]

but doesn't have permission to interact with other resources in your cluster :(

The fix will probably be to give more permissions to the service account - for example tekton itself uses [this service account](https://github.com/tektoncd/pipeline/b

[2020-01-09 21:47] pierretasci opened #1839 "Feature: Versioning on Tasks/Pipelines"
# Abstract
A way to define a specific version of a named pipeline or task so that the spec of that pipeline or task can be referenced at a specific moment in time. For example, the way docker containers work today with tags whereby I am able to run `container:tag` for any valid tag of the same container name.

# Use Cases
- In a production system, it is likely a project's Tekton pipeline will evol

[2020-01-09 22:12] JCzz commented on #1830
Hi @bobcatfish

Thanks for your reply, I am on a GKE cluster.

[2020-01-09 22:16] sbose78 commented on #749
Sounds good, @bobcatfish !

[2020-01-10 04:55] skaegi commented on #1836
Sure any task will do -- just `echo $(pwd)` and it is always `/workspace`

[2020-01-10 08:33] vdemeester commented on #1612
@bobcatfish Yeah I think we can close this and if it pops up again re-open or create a new one :wink:
/close

[2020-01-10 08:33] #1612 closed

[2020-01-10 08:39] vdemeester commented on #1836
Indeed, we are setting it to `/workspace` if there isn't any. I wonder if we should do the same as the `entrypoint` magic where we read the image configuration before doing that to see if any is set.

Also, maybe it should be the other way around, by default we do not set it if empty, but we have an option somewhere that tells Tekton to override it (per task or pipeline, or globally ?)

[2020-01-10 08:42] vdemeester commented on #1244
Quick update, https://github.com/google/go-containerregistry/pull/649 might be the temporary fix (waiting for https://github.com/kubernetes/enhancements/pull/1406) to remove that import path.

[2020-01-10 08:46] vdemeester commented on #1839
I think the main question is, is this in scope for tektoncd/pipeline or some higher level component (from Tekton or not) ? versionning could be done using different name and labels, … and managed by an higher level component, keeping the tekton api as simple (relatively speaking) as possible.

This is also where experiment like [`catalgos`](https://github.com/tektoncd/experimental/tree/master/cata

[2020-01-10 10:03] chmouel opened #1843 "git-init ssh symlink is failing"
# Expected Behavior

Create the SSH file properly

# Actual Behavior

git-init step is failing when trying to symlink `/root/.ssh` to `/tekton/home/.ssh`

[code]
# Steps to Reproduce the Problem

I am not so sure yet how to reproduce this but the image has definitively no /root/.ssh already and has no volume mount on /root/

# Additional Info

Just capturing it before I forget and will investigate

[2020-01-10 10:04] mnuttall commented on #1784
Hi Vincent, thanks for picking this up. Some things to try:
- Can you reproduce the problem on 0.7+ ?
- If so does the problem go away under 0.5.2 as per the description?
- Is CleanupArtifactStorage() in https://github.com/tektoncd/pipeline/blame/master/pkg/artifacts/artifacts_storage.go behaving as expected? Most of the code in there has been stable since https://github.com/tektoncd/pipeline/comm

[2020-01-10 10:06] JCzz commented on #1832
Thanks @a-roberts and @chmouel

[2020-01-10 10:06] #1832 closed

[2020-01-10 10:08] JCzz commented on #1809
Thanks @vdemeester I got it working

[2020-01-10 10:08] #1809 closed

[2020-01-10 10:31] chmouel opened #1844 "missing fields `error` doesn't give much informations"
# Expected Behavior

Add information about the missing fields

# Actual Behavior

No missing fields displayed..

[code]

# Steps to Reproduce the Problem

Create a yaml task with missing fields and try to apply it with `kubectl`

/kind bug

[2020-01-10 10:34] vdemeester commented on #1844
@chmouel :thinking: Can you share the `yaml` used ? They should be listed, so yeah this is definitely a bug :stuck_out_tongue:

[2020-01-10 10:36] chmouel commented on #1844
yeah in this case this was a misaligned (so missing) `spec:`

[2020-01-10 11:07] chmouel opened #1845 "`Reason` message double quote the quotes"
# Expected Behavior

Just one quote

# Actual Behavior

Double quote, i.e:

[code]

# Steps to Reproduce the Problem

Get an error in task validation (for eg) and watch the double quotes in all its glory

# Additional Info

It's just cosmetic, but that may get us a strong adoption in the cloud native entreprise ecosystem if fixed..

[2020-01-10 11:13] vdemeester commented on #1845
/kind feature

[2020-01-10 17:06] skaegi commented on #1836
I want to expand this issue as the HOME env (which gets set to '/tekton/home')variable is the other common problem we see e.g. where an image has explicitly set HOME. We're currently asking our users to explicitly set HOME and workingDir.

I <3 the way the entrypoint works as it is mostly transparent and wonder if other things could work the same way.

[2020-01-10 17:09] sbwsg commented on #1642
@vincent-pli Yes, I think the right solution is for `outputs.resources.builtImage.path` to correctly report the directory instead of prepending `/workspace` to the target path.

I see that your current PR to solve this issue prepends `/workspace` - do you want to close that PR and start a new one for this fix or update it to correct the variable interpolation value?

[2020-01-10 18:09] #1256 closed

[2020-01-10 20:40] #1761 closed

[2020-01-10 20:46] vtereso commented on #1784
I tried to use v0.5.2 as a baseline, but the Tekton controller failed to list ClusterTask during initialization where the controller never processes `PipelineRun`s.

I was able to reproduce the issue on v0.7.0+ (specifically `v0.7.0` and `v0.8.0`). The PVC and PV have `kubernetes.io/pvc-protection` and `kubernetes.io/pv-protection`as their corresponding finalizers.

[2020-01-10 21:17] vtereso commented on #1784
I didn't find an issue with deletion (https://github.com/tektoncd/pipeline/blob/v0.7.0/pkg/reconciler/pipelinerun/pipelinerun.go#L151) within the logs of the above.

[2020-01-13 00:11] vincent-pli commented on #1642
@sbwsg
Sure, I can do that.

[2020-01-13 02:53] skaegi commented on #1463
Also see https://github.com/tektoncd/triggers/issues/178

[2020-01-13 06:49] vincent-pli commented on #1843
@chmouel
The  https://github.com/tektoncd/pipeline/blob/3ae789c25831b3240721437d6570b58097cd55d9/pkg/git/git.go#L134
is invoked twice in
https://github.com/tektoncd/pipeline/blob/3ae789c25831b3240721437d6570b58097cd55d9/pkg/git/git.go#L57
and
https://github.com/tektoncd/pipeline/blob/3ae789c25831b3240721437d6570b58097cd55d9/pkg/git/git.go#L114

That's why we get `file exists` in second invoke.

[2020-01-13 08:21] Dimss opened #1855 "The provided example for `Task` and `TaskRun` doesn't work"
# Expected Behavior
Example will work
# Actual Behavior
Example doesn't work
# Steps to Reproduce the Problem

`kubectl apply -f <on-the-file-below>.yaml`

[code]
Getting
[code]
# Additional Info

[2020-01-13 12:05] siamaksade commented on #1246
This has undesired consequences. For example when one wants to delete all resources from a single namespace:
[code]

It's certainly not expected that the cluster resources too get deleted as a result.

[2020-01-13 12:25] chmouel opened #1856 "Script support for sidecar"
# Expected Behavior

Same as main steps, `script` working on `sidecars` steps

# Actual Behavior

Not supported

[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

[2020-01-13 12:25] chmouel commented on #1856
/label feature

[2020-01-13 14:51] vtereso commented on #1784
Using D4D, I installed v0.5.2 Pipeline and ran the corresponding example as above, but was also getting the PVC stuck in terminating state. This seems to have always been the case? I will add this to the community call agenda.

[2020-01-13 15:26] #1785 closed

[2020-01-13 15:59] danielhelfand opened #1859 "generateName for ClusterTask TaskRun Not Setting TaskRun Name"
# Expected Behavior

Using `generateName` with TaskRun for ClusterTask generates a unique TaskRun name.

# Actual Behavior

`generateName` does not set the name for the TaskRun: `resource name may not be empty`

# Steps to Reproduce the Problem

1. Use https://github.com/tektoncd/pipeline/blob/7ff3f78858d898b3717811b89b184fe3fd4c8c2d/examples/taskruns/clustertask.yaml
2. `kubectl apply -f https://

[2020-01-13 16:18] danielhelfand commented on #1859
/kind bug

[2020-01-13 16:21] vdemeester commented on #1859
@danielhelfand you need to use `kubectl create …` for `generateName` :angel:

[2020-01-13 16:34] danielhelfand commented on #1859
@vdemeester Ah, my bad. Thanks!

/close

[2020-01-13 16:34] #1859 closed

[2020-01-13 17:11] pierretasci commented on #1839
I completely agree that the main question comes down to whether this lives in tekton or externally. I think that both are viable. Since I brought up the issue, I will make a case in favor of making it a part of the Task spec and that is to aid in task reuse. If the goal is to make tasks that are generic and reusable with a well-defined interface, they will need to be versioned somehow to prevent t

[2020-01-13 17:21] dibbles opened #1862 "Gitlab status upload fails with missing commit error"
# Expected Behavior

The pipelineresource of type pullrequest updates the status of a Gitlab pullrequest successfully.

# Actual Behavior

The upload task fails to modify status due to a missing commit id in https://github.com/tektoncd/pipeline/blob/1066bfc243e62dfaf58a22084072b5978fcbaba6/pkg/pullrequest/api.go#L262.

# Additional Info

uploadStatuses() depends on the sha being passed in https://

[2020-01-13 17:21] dibbles commented on #1862
/assign

[2020-01-13 21:02] pierretasci commented on #1838
Just to play devil's advocate here, what do we get from injecting Pre/Post steps that you couldn't do just by editing the set of steps of the task definition? In practice, it will lead to the same outcome right?

[2020-01-13 21:34] #1855 closed

[2020-01-13 23:07] wlynch opened #1867 "PullRequest Resource e2e tests"
I thought there was an issue for this already, but I couldn't find one. If there is another, feel free to close this as a duplicate. :smiley:

We should add e2e tests for the pull request resource. This should test:

- GitHub, GitLab providers (incl custom domains)
- Should be able to work with the real providers if desired.
- Should have a local, non-authenticated mode as an approximation for loc

[2020-01-13 23:24] dibyom commented on #1684
@pritidesai @bigkevmcd @pierretasci Thanks a lot for adding such detailed use cases! Very very helpful :pray:

* @pritidesai For your [use case](https://github.com/tektoncd/pipeline/issues/1684#issuecomment-567146542) -- the current behavior for conditionals is that if a task is skipped, it dependents (identified using the `runAfter` and `from` fields) are automatically skipped. The overall pipeli

[2020-01-13 23:40] #1642 closed

[2020-01-14 06:17] assertion commented on #1305
Any updates about this issue? @bobcatfish @vdemeester
We are alse facing this situation when switching repo based CI/CD pipelines  to tekton.

[2020-01-14 10:32] vdemeester commented on #1862
/kind bug

[2020-01-14 10:42] vdemeester commented on #1867
/area testing
/kind feature

[2020-01-14 14:09] sbwsg commented on #1838
In isolation a user with just a single task or very small set of tasks / pipelines probably won't benefit from this wrapping behaviour.

I think the benefits will manifest more when managing a portfolio of teams and their tasks:

1. You might have many projects that have their own build processes but each will ultimately be reusing the same git clone wrapper to get the source into the Task for bui

[2020-01-14 14:11] sbwsg commented on #1838
I guess the _technical_ benefit is that using a wrapper task will allow that wrapper to put stuff on the pod's disk for the other steps in the wrapped task to access.  No need for PVCs or what have you to share data from the wrapper to the wrapped.

[2020-01-14 15:54] danielhelfand opened #1870 "Add Versioning Information in README for Examples"
As described in #1860, examples in this repo are designed to work against [what's in master](https://github.com/tektoncd/pipeline/pull/1860#issuecomment-574102278). However, we should expect that users will be using older versions of pipelines when they come to look for examples.

We should include some information on how examples are versioned. My thought on this is that we should make people awa

[2020-01-14 16:05] CSTDev opened #1871 "Git "depth" value is ignored"
# Expected Behavior
Git repository is checked out to the same depth as specified in the Resource definition.

# Actual Behavior
Repository is checked out with a depth of 1 regardless

# Steps to Reproduce the Problem

1. Create the following Task and TaskRun:
[code]
2. View logs, see that the git log command returned only the last commit, expected the last few commits

# Additional Info
Same thing

[2020-01-14 16:29] othomann commented on #1833
Closing #1833. Fixed with PR https://github.com/tektoncd/pipeline/pull/1835.

[2020-01-14 16:29] #1833 closed

[2020-01-14 16:36] vdemeester commented on #1871
/kind bug

[2020-01-14 16:46] bobcatfish commented on #1690
Seems reasonable to me! @ImJasonH do you have an example use case where you'd need this? (just wanna understand why the overall task timeout wouldn't be enough)

[2020-01-14 16:51] bobcatfish commented on #1797
Being able to disable Tasks via the PipelineRun sounds reasonable to me! Like @pritidesai was saying it should cancel the entire branch though, i.e. anything depending on that Task

The downside of using Conditionals for this as far as I can tell is that you'd have to make the changes in the Pipeline definition itself to toggle on and off, I think? I like the idea of doing it at runtime.

[2020-01-14 17:27] kameshsampath opened #1872 "Permissions on workspace directory"
/kind bug

The permissions on the workspace directory is causing the steps of the Task to fail when using `runAsUser` as part of  securityContext.  As a matter of fact the when using `securityContext`  in stepTemplate is even preventing the git clone to happen because of permission issue.

Tekton version `v0.9.2`

# Expected Behavior
The steps should honour the permissions via `runAsUser`

# Actua

[2020-01-14 18:12] pierretasci commented on #1838
I think I understand the intention better now. It is less that a Task will specify it's own wrapper but rather in defining a pipeline, you can wrap a task with another task while still sharing the workspace. That way, a task could be shareable and independently, so could the wrapper, do I have that about right?

I wonder how this would work if multiple wrappers are needed? What is the order they a

[2020-01-14 19:31] ImJasonH commented on #1690
Task authors might want to have one step that _should_ take just a few seconds, to set up the execution environment for instance, followed by a second step that might take a long time.

If the setup step takes longer than expected it might indicate some larger issue and you'd want to fail fast rather than exhaust the TaskRun's timeout waiting for setup.

[2020-01-14 19:48] sbwsg commented on #1838
Yep, nailed it.

I've been thinking of them as being layered like an onion. So given TaskA is wrapped by Task1, Task2, Task3, I expect the step ordering to be as follows:

- Task1.PreSteps
- Task2.PreSteps
- Task3.PreSteps
- TaskA Steps
- Task3.PostSteps
- Task2.PostSteps
- Task1.PostSteps

I don't think it would. Here's a snippet of how this might look:

[code]

Phew, ok, that's a lot of yaml for

[2020-01-14 21:21] startxfr commented on #1838
Thanks @sbwsg for your example, I now completly understand the utility of `preSteps` ans `postSteps` steps and how it's completly related to Task wrapping, inheriting or whatever name we call it ;).

Is there any negative impact if we turn the `TaskWrapper` kind you suggest into a regular `Task` resource ? Why introducing this new kind and restrict these declaration to be wrapped ?

I copy an adap

[2020-01-14 22:57] dibyom commented on #1684
One idea - instead of `failure/error/executionStrategy`, we could have a field like `runOn` (or simply `on` or `when`) that takes in a list of states that the parent taskruns have to be in for it to run (default is: success):
[code]
What I like about this is that the field name is more succinct and for the user instead of having to remember a bunch of magic strings (is it `RunOnSuccessOrSkip` or `

[2020-01-15 01:28] vincent-pli commented on #1871
@CSTDev
With your example, I can get 2 commits with `master` branch, so what's your version?

[2020-01-15 02:48] vincent-pli commented on #1872
It's because the `init container`s not merge the `stepTemplate` and still run with `root`.
In version 0.8 we do the merge.

if no specific reason i think it's a bug

[2020-01-15 02:51] kameshsampath commented on #1872
@vincent-pli  - but then the user I am running with `runAsUser` belongs to group `root` and he should be able to create sub directories under `/workpace` but that is not happening as well .  I used `stepTemplate` as just an aggregation, but the Task step fails after `git-source` as well with same permission issue.

[2020-01-15 10:05] CSTDev commented on #1871
@vincent-pli interesting, I'm not sure where to find the version running? But I used the latest yesterday (from https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml)

[2020-01-15 10:18] vdemeester commented on #1871
@CSTDev this is the released one, aka 0.9.2 :angel: and this feature wasn't yet present in 0.9.x (the PR https://github.com/tektoncd/pipeline/pull/1729 got merged after the release).

It will be available on 0.10, which should be released early next week :wink:

[2020-01-15 10:25] vdemeester commented on #1871
The nightly release.yaml (based on master) is available here : https://storage.googleapis.com/tekton-releases-nightly/pipeline/latest/release.yaml

[2020-01-15 10:40] CSTDev commented on #1871
@vdemeester ah that explains it, my bad, thanks!

[2020-01-15 10:40] #1871 closed

[2020-01-15 13:28] sbwsg commented on #1838
I like this idea - allow Task to wrap another Task.  No new types needed.  I will give it some thought and see if I can think of any problems with it.

[2020-01-15 13:34] sbwsg commented on #1684
Very nice!  I like this a lot.  Would we want to include something like "any" or "*" for the "I don't care about the precise state" possibility?

[2020-01-15 13:34] sbwsg commented on #1684
oops, nevermind I see you included "always" in the examples you linked.  I like it!

[2020-01-15 13:45] afrittoli commented on #1838
Nice!
A few questions: how do pre/post step affect Task:
- status: do we track that a Task is in "running pre/post steps" status?
- lifecycle: overall passed/failed status, what happens in case of of failure during pre/post step
- metrics (e.g. task duration)

[2020-01-15 13:53] zhangtbj opened #1876 "Add Cluster scope pipeline support"
# Expected Behavior
We can also define Cluster scope pipeline as ClusterTask

Right now, Tekton has Cluster scope task ClusterTask, but If I also want to run a Cluster scope pipeline which include that ClusterTask.

So that people can define Cluster scope pipeline for all cluster-level users

# Actual Behavior
Something like:

[code]

[2020-01-15 13:56] sbwsg commented on #1838
I imagined them as being all merged into the step list of the wrapped task.  Similarly to how pipeline resources will inject steps into a task now.  So the status of a failed pre-step is treated the same as a failed step.  We could add a field to steps which says something like, "I was injected by FooTask" to help diagnose errors.

As above, I had been thinking of these as simply injected to the w

[2020-01-15 15:05] vdemeester commented on #1876
/kind feature
/kind question

[2020-01-15 15:26] danielfbm commented on #1375
If possible I am willing to contribute on this one
/assign

[2020-01-15 15:45] dibyom commented on #1684
I think `runOn: ["any"]` sounds better than `runOn: ["always"]` :smile:

[2020-01-15 16:48] pierretasci commented on #1684
I really like the idea of `runOn: ["success", "failure", "skip"]` == `runOn: ["always"]`. Keeps with the descriptive nature of Kubernetes and doesn't require a loaded term (is always _really_ always).

[2020-01-15 17:59] rnapoles-tktn opened #1877 "Can not access Tekton menu items using the keyboard with Firefox"
**Problem:**
When using Firefox (68.4.1esr (64-bit) on MacOS) I can not navigate the Tekton left menu using the keyboard.
(Works as expected on Chrome)

**Expected Result:**
User should be able to navigate the UI using the keyboard.

**Steps to reproduce:**
Use Firefox 68.4.1esr (64-bit) on MacOS to navigate to the Tekton homepage. Use the tab key to try to select all the left side menu options.
T

[2020-01-15 18:22] chmouel commented on #1877
I believe you are speaking about the dashboard, you may want to report this issue here  :

 https://github.com/tektoncd/dashboard/issues/new

[2020-01-15 19:48] sbwsg opened #1878 "Enforce task ordering in pipeline when they share PVC workspace"
# Expected Behavior

In #1802 we introduced workspaces to pipelines. One problem that arises when using a PVC workspace across multiple tasks is that multiple task pods may attempt to mount the PVC for writing at once. This is problematic - pipelines can appear to hang for no reason.

So the proposal is to introduce a "from" syntax for workspaces. A PipelineTask claiming a workspace "from" another

[2020-01-15 19:48] pritidesai opened #1879 "Directly access Pipeline Params from taskSpec"
With the PR #1554, we added support to specify `taskSpec` along with `pipelineSpec` so that we can embed `task` and `pipeline` specifications instead of referencing them. But, there is one caveat that it leads to when it comes to accessing pipeline params since its modeled based on the way `task` and `pipeline` are referenced. Ideally, we would like to directly access pipeline parameters directly

[2020-01-15 22:01] mgreau commented on #1748
We have upgraded our cluster from 0.8.0 to 0.9.2 and we do have the exact same issue:

[code]

I'm going to try https://github.com/tektoncd/pipeline/pull/1757 to see if that fixes our issue.

@ImJasonH @bobcatfish If #1757 is confirmed to be a fix, do you think it would be possible to do a 0.9.3 release?

Thanks

[2020-01-15 22:03] dustym commented on #1748
@mgreau Yeah we've been holding off on upgrading from 0.8.0 until the next release.

[2020-01-15 22:40] bobcatfish commented on #1169
I'm going to close this since we haven't had any movement on it - in the meantime @skaegi has been changing how params and variable interpolation work via https://github.com/tektoncd/pipeline/issues/1393

[2020-01-15 22:40] #1169 closed

[2020-01-16 09:04] vincent-pli commented on #1872
@kameshsampath
The `/workspace` is 777 permission , so your 'git-init' could create folder, that's correct.

but problem is there is `workingDir` in your `step` configuration, this will raise a `working-dir-initializer` in `init container`, this container will run as `root` as I mentioned in last comment, the container will create path `/workspace/source/$(inputs.params.contextDir)` with `drwxr-xr

[2020-01-16 09:57] dibbles opened #1880 "Ability to skip ssl verification in the pull request pipeline resource"
# Expected Behavior

I should be able to use the pull request pipeline resource in conjunction with a self hosted git server (e.g Gitlab) with a self signed certificate for testing.

# Actual Behavior

The pullrequest pipelineresource code provides no mechanism by which to create a client with tls insecureSkipVerify set to true.

# Steps to Reproduce the Problem

1. Create and use a pull request p

[2020-01-16 09:59] dibbles commented on #1880
/kind feature

[2020-01-16 10:19] #1862 closed

[2020-01-16 13:57] kameshsampath commented on #1872
@vincent-pli  thanks for the explanation . What is the way if it has to be run as underprivileged user ? the whole idea is that I dont want the build to be run as `root` and hence made `10001` part of the `root` group.

[2020-01-16 14:25] bigkevmcd opened #1883 "Allow pullrequest output to create a PullRequest"
# Expected Behavior

When processing the output of a pullrequest resource, if the number is empty, create a new one, and add comments etc to it.

# Additional Info

github.com/jenkins-x/go-scm doesn't seem to have support for creating PRs, to move this forward that would need to be added first.

[2020-01-16 15:21] jlewi commented on #1302
In case its helpful here are some links to how this problem has been solved for other resources

* argoproj/argo/issues/911 - TTL for GC'ing Argo workflows
* kubernetes/kubernetes#64470 - Discussion about GC'ing Kubernetes objects and a link to a proposal to solve it in a generic way.

[2020-01-16 16:14] dibyom commented on #1883
cc @wlynch

[2020-01-16 16:20] dibyom commented on #1879
Interesting idea...possibly related to https://github.com/tektoncd/pipeline/issues/1185 ?
My $0.02 - while I definitely like the idea of being more consistent param usage, IMO we should do it across the board instead of just in one place. Otherwise something like this can become confusing -- say you start off with task specs embedded in your pipeline. Later you want to extract it out into its own

[2020-01-16 16:38] #1438 closed

[2020-01-16 17:31] rawlingsj opened #1886 "creds-init: filter a kubernetes secret for a matching pipeline request + GitHub org"
# Expected Behavior
When using GitHub Apps we have multiple tokens (and therefore k8s secrets), one for each GitHub Organisation the App is installed into.  When triggering a pipeline we want to mount the correct token that matches the GitHub org with the git owner of the pipeline request.

# Actual Behavior
Multiple secrets are matched when the creds-init container spec is created so we can have

[2020-01-16 17:42] vdemeester commented on #1886
/kind feature

[2020-01-16 18:36] pierretasci commented on #1684
One thing I want to add (though it is a bit tangential) is the idea of Pipeline Failure conditions. Right now, the pipeline bails early if anything fails. If I have multiple "branches" in my pipeline that are independent, I would expect non-dependent branches to run to completion separately from each other. An example:

[code]

If the `lint` task here fails, it will fail the whole pipeline even if

[2020-01-16 19:50] dibyom commented on #1797
If the field is called `disable: bool` it'd have to be in the pipeline task not the pipeline run.
If we want to do this at the pipelinerun level, we'd probably want a list of tasks to disable.

One solution (or workaround rather :grin: ) would be to embed the pipeline spec inside the pipeline run

[2020-01-16 19:58] pritidesai commented on #1684
Comparing some of these with the programming paradigm (for simplicity 🤔):

[code]

And:

[code]

One more:

[code]

[2020-01-16 20:38] mgreau commented on #1748
I tried in several ways but I can't make it work.

I forked the repo and from https://github.com/tektoncd/pipeline/tree/v0.9.2 I cherry-picked https://github.com/tektoncd/pipeline/commit/cf8705b8872c4c491f6b44db2fb9ee213b21edae
Then I followed the instructions and built the https://github.com/mgreau/pipeline/blob/v0.9.2-plus-fix-1757/release-v0.9.3-mgreau.yaml (where only the `gcs-fetcher` image i

[2020-01-16 21:14] vdemeester commented on #1742
This can be consider complete as #1882 has been merged, so a build tag to set and we are good to go.
@bobcatfish should we close ?

[2020-01-16 21:39] pierretasci commented on #1838
I could imagine the shared workspaces feature could make task wrappers redundant. Instead of wrapping tasks and worrying about order, and failures, et al, a well-defined task that modifies a workspace which is also attached to a downstream task has the same effect and doesn't fundamentally change the abstraction. Would probably keep things much simpler. What do you think @sbwsg?

[2020-01-16 23:02] startxfr commented on #1838
your right @pierretasci , workspaces could help pass informations and states from one task to another and share the work done by them. I also agree that adding wrapping capacity to task could lead to much complex, spaggetti, task or pipeline if not properly used.

On the other hands, I think, it could also add more flexibility when we build and organize our tasks library and design our pipelines w

[2020-01-16 23:34] pierretasci commented on #1838
I really appreciate the desire for shareable "work" that can be distributed. At the same time, there already is an abstraction for sharing a series of repeatable steps and that is a task. I think the compelling case for pre/post steps was directly modifying the task's workspace but the workspace sharing accomplishes the same thing.

Maybe it would help to go through an example? Say I want to make

[2020-01-17 00:03] vincent-pli commented on #1872
@kameshsampath
Try add `podTemplate/securityContext/fsGroup` to your `Taskrun` definition.

[2020-01-17 08:20] vdemeester commented on #1742
As we are tracking that downstream *and* the required bump of `go-containerregistry` is in, I'll go ahead and close this one.

/close

[2020-01-17 08:20] #1742 closed

[2020-01-17 08:23] vdemeester commented on #1376
Should #1684 and this issue be the same ? (or #1684 be one item of this epic?)

[2020-01-17 08:25] vdemeester commented on #1185
Once #1725 is merged, we should be able to close this one. How it will be exposed is covered by #1526

[2020-01-17 09:38] bigkevmcd commented on #1883
I've made a start on getting go-scm to support this, I'd hope that would land.

But, how should this work? The resource output uses https://github.com/tektoncd/pipeline/blob/master/pkg/pullrequest/api.go#L113 to update the existing PR with changes.

My first thought was that if the loaded `Resource` didn't have a number, then treat it as a new PR, in which case it would create a PR and add the com

[2020-01-17 10:36] #872 closed

[2020-01-17 16:18] bobcatfish commented on #1886
SGTM! @rawlingsj does this mean you'd be okay with taking this on? (no worries if not)

[2020-01-17 16:20] bobcatfish commented on #1883
@bigkevmcd thanks for proposing this, this is a feature we've talked about adding but haven't gotten around to! if you find you're not getting responses fast enough here feel free to ping us on slack, and/or we can arrange a video call to talk through the design in real time :D

[2020-01-17 16:23] bobcatfish commented on #1879
I agree with @dibyom - @pritidesai are you able to share more details around the use case you need this for?

imo embedding inside of Runs should only happen when either:
1. we're talking about getting up and running quickly (e.g. getting a new user to run a "hello world" and see it work right away
2. the Run is completely generated by a tool on top of it and the user isn't exposed to it at all

E

[2020-01-17 16:27] bobcatfish commented on #1870
One thing that might help here @danielhelfand is that we are in the process of adding versioned docs at tekton.dev (definitely not there yet), https://github.com/tektoncd/website/pull/14 is a step along the way.

Once we have that we can include the examples maybe in those docs as well? I think the next step if we want to do that would be opening an issue in tektoncd/website and/or bringing it up

[2020-01-17 17:16] #1246 closed

[2020-01-17 18:09] bobcatfish commented on #1836
:+1: for not setting it if it's empty. I propose we warn in 0.10 and change it in the following release, whaddaya think @vdemeester @skaegi ?

At the moment i think you can do this with the stepTemplate, maybe that's good enough for now?

This is a bit tricker imo b/c we're trying to create a "home" that is shared across all containers - ( + @ImJasonH ) - I'd be up for adding logic like we do with

[2020-01-17 18:29] ImJasonH commented on #1836
+1 to falling back in that way.

We should consider phasing out `/tekton/home` and setting `env: HOME=/tekton/home` entirely. We did it in Knative Build, and in Cloud Build before it, but I think it's largely more confusing than it's worth.

We could make it a platform provider ConfigMap option, opt-out first, then release and announce it'll become opt-in, then eventually remove the option. Don't

[2020-01-17 18:30] bobcatfish commented on #1839
I agree - esp. when we start thinking about tektoncd/catalog. We'd want to be able to make sure we can make changes in there and folks can consume those changes as they want to.

@pierretasci I think we've also run into some complication around expressing the version of Tekton Pipelines that a Task is compatible with, do you see that as being a related problem or maybe totally independent? (or @vd

[2020-01-17 18:41] dlorenc commented on #1839
Big +1 on solving this somehow.

I **think** I prefer to put the version info on a label of each Task, then we could add support for TaskRuns/Pipelines to include selectors in their TaskRefs.

This would work for things like "latest" as well as pinning to specific versions, but would not allow full semver-style version comparisons.

[2020-01-17 19:02] pierretasci commented on #1839
I really like the labels idea because 1. it is built-in to Kubernetes (as are selectors), and 2. it is open enough to allow anyone to change how they want to define their versioning. I wonder how we would handle reconciliation at the controller level when registering two tasks with the same name. AFAIK, the reconcile loop checks namespace and name for uniqueness.

Just to exhaust all possibilities

[2020-01-17 19:28] bobcatfish commented on #1839
Discussed this with @ImJasonH a bit and he has another idea that's pretty cool and very different from what we've discussed so far! This is something that he and a few other folks (@dlorenc @jonjohnsonjr ) have been throwing around as an idea as well, which has the potential to solve a few problems at once.

The preview is that we extend `taskRef` to support more stuff than just Tasks that live in

[2020-01-17 21:46] vtereso commented on #1784
The documentation has been updated: https://github.com/tektoncd/pipeline/commit/11ca9e615ad21cf8a38af304ce111a37aaf9a7a0.  Should this issue stay open?

[2020-01-17 22:06] guitcastro opened #1896 "Pipelinerun duplicate task run"
# Expected Behavior

Fire just one task run

# Actual Behavior

Pipeline run is executing two tasksrun

# Steps to Reproduce the Problem

Create a pipeline and run it.

# Additional Info

PipelineRun (As you can see it only contains master-pipeline-build-llnrj task run).

[code]

However, two tasksrun are created and both of them have the pipeline as ownerReferences:

[code]
master-pipeline-build-

[2020-01-17 22:13] pritidesai commented on #1879
Hey @bobcatfish and @dibyom, this was emerged as part of the PR discussion #1554

https://github.com/tektoncd/pipeline/pull/1554#discussion_r354818856

[2020-01-17 22:40] afrittoli commented on #1879
IMO if I decide to embed it's because it's something that I don't plan on reusing, or perhaps  like @bobcatfish said something small or completely generated; in either case I feel that being forced to use parameters in tasks makes the yaml more verbose, harder to read and ultimately it gives up part of the advantage of embedding.

[2020-01-19 09:03] assertion opened #1900 "When cancel taskRun, the pipelineRun state should be Cancelled, not Failed."
# Expected Behavior
When I change the state of  a taskRun to TaskRunCancelled, the state of pipelineRun should be PipelineRunCancelled. And the state of taskRun and pipelineRun will be consistent.

# Actual Behavior
Now if I change the taskRun to Cancelled, the pipelineRun state will be changed to Failure.
In `pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go`, there's `IsDone`, `isFai

[2020-01-20 01:57] tomgeorge commented on #1145
I was poking around on this issue, and was able to get rid of the git commit messages by changing the logger in `entrypoint` and `git-init`.  I would be happy to make the change to a different logger and open a PR.  Does the project team have a recommended alternative logger (maybe regular `zap`?)

[2020-01-20 03:04] tomgeorge commented on #1145
This is also my first time really looking at the tekton codebase.  Am I right in assuming that the other components under `cmd` like `creds-init`, `pullrequest-init`, etc, that use the knative logger, would also introduce some more noise to the logs and need to be changed?  Or is there a better way to do it?

[2020-01-20 08:57] #1823 closed

[2020-01-20 09:34] rawlingsj commented on #1886
great - yeah sure thing @bobcatfish, I've pushed a PR here to show what I was thinking https://github.com/tektoncd/pipeline/pull/1887

[2020-01-20 09:57] vdemeester commented on #1839
I am definitely interested in re-using oci images/artifacts for this, a lot of tooling exists for it, and it handles versioning really well. I think we discussed it really early when talking about the catalog.

We could use labels for specifying stuff like "minimum version of tekton required", …

[2020-01-20 10:08] vdemeester commented on #1900
/kind feature
/area api

[2020-01-20 10:13] vdemeester commented on #1896
/kind bug

@guitcastro thanks for the issue, can you share your task and pipeline definition (and also the pipelinerun ?). Is there anything specific on your cluster ? (maybe two tekton controller running ? `kubectl get pods --all-namespaces | grep tekton`)

[2020-01-20 14:15] guitcastro commented on #1896
@vdemeester Thanks for the tip. I had another instance of tekton controller running (in jenkins-x namespace). Deleting it solve the problem.

[2020-01-20 14:35] chmouel opened #1902 "CreateContainerConfigError pods doesn't set the task as failed"
# Expected Behavior

Should be set as failed

# Actual Behavior

Gets into a forever Pending mode :

[code]

# Steps to Reproduce the Problem

Create a pulllrequest resource with an invalid secret reference which should create a pod with a CreateContainerConfigError :

[code]

the status is in pedning running :

[code]

# Additional Info

[2020-01-20 14:35] chmouel commented on #1902
/label bug

[2020-01-20 15:21] skaegi commented on #1836
Inside my company we're starting larger adoption of Tekton and this single issue is constantly getting a ton of attention. Basically, we have teams moving from Jenkins, Travis, and other image based pipelines and are getting hammered when teams do not understand why things that worked in their old pipelines are no longer working.
re: Jason's post above -- the HOME problem is an order of magnitude

[2020-01-20 16:06] vdemeester commented on #1836
I am definitely +:100: on phasing out `HOME` and `/tekton/home` :angel:

[2020-01-20 16:53] vdemeester commented on #993
Moved it to beta as I feel it can be a small change (doesn't even need to be an API change), and it would be a really really nice to have for beta.

[2020-01-20 17:38] #1185 closed

[2020-01-20 18:06] pritidesai commented on #1879
yup agree with @bobcatfish, @dibyom, and @afrittoli, `YAML` becomes more verbose and harder to follow as the number of parameters grows and will be ideal to support for auto generated `YAML` but I guess generating a simplified `YAML` with different usage of params might create more confusion 😕

[2020-01-20 22:55] guitcastro opened #1904 "$(input.params) not working in task script"
# Expected Behavior

The script should have the `input.params` replace with the actual value

# Actual Behavior

It seems that the params values are not being set

# Steps to Reproduce the Problem

1. kubectl create -f https://raw.githubusercontent.com/tektoncd/pipeline/master/examples/taskruns/step-script.yaml

Then check the output from the TaskRun from the `params-applied` step:

[code]

# Addi

[2020-01-21 02:51] vincent-pli opened #1905 "The output of the "failed" taskrun is not correct"
# Expected Behavior
I got a failed `taskrun` and use `kubectl describe taskrun xxxx` try to found what's going on.
And it tell me that:
[code]
That's great, but the `container` the message hinted is not correct, actually another  container several steps before it caused the exception.
# Actual Behavior
Point to a incorrect container.

# Additional Info
The `pod.podstatus.containerStatuses` is sort

[2020-01-21 03:12] danielhelfand commented on #1870
@bobcatfish Sounds great! I do agree that the goal should be to eventually have more users come through the website for information than GitHub. So definitely that is a better way to communicate versioning than the examples readme.Perhaps a dropdown similar to what the Knative site amongst others does for allowing the user to select the version from a dropdown and then having corresponding docs ap

[2020-01-21 08:51] vdemeester commented on #1904
Hey @guitcastro, I am guessing your are running `v0.9.2` ? If that's the case, it's normal, this version does require the shebang `#!` in script (see [here](https://github.com/tektoncd/pipeline/blob/v0.9.2/docs/tasks.md#step-script)).

The `docs` folder in master is documentating the `master` branch, not the latest release. You can browser the [`0.9.x`](https://github.com/tektoncd/pipeline/tree/v0

[2020-01-21 08:55] vdemeester commented on #1904
/kind documentation

[2020-01-21 08:58] vdemeester commented on #1905
/kind bug

[2020-01-21 09:56] vdemeester commented on #1244
@fejta I think depending on latest pipeline once 0.10 is released should fix this :angel:

[2020-01-21 09:57] vdemeester commented on #1113
Moving into next release, #1894 with some `knative.dev/pkg` will fix this I think

/assign

[2020-01-21 10:44] chmouel commented on #1902
/assign @vincent-pli

[2020-01-21 12:30] vdemeester commented on #1902
#1097 got fixed, this can be closed
/close

[2020-01-21 12:30] #1902 closed

[2020-01-21 12:47] guitcastro commented on #1904
@vdemeester I notice that, although the params still not working :/

[2020-01-21 14:08] sbwsg commented on #1838
Thought a bit about this over the weekend. I think you're right that everything which can be accomplished via pre/post could also be accomplished through shared workspaces.

So to me the question then becomes: do we always want to push users to design their tasks and pipelines around sharing pvcs through workspaces?

There are trivial cases where I think the answer is no.  Examples like: very simp

[2020-01-21 14:09] vdemeester commented on #1904
Interested, it should work according to https://github.com/tektoncd/pipeline/pull/1562/files (and that should be in `0.9.x`)

[2020-01-21 16:01] guitcastro commented on #1904
Ohh, I am using version 0.9.0, I Will try when I get home. Thanks for the help

[2020-01-21 16:42] sbwsg commented on #1376
We should aim to get this functionality (in some form...) into 0.11, prior to the beta release going out.  This is so that people can give it a try and we can work out any bad wrinkles before the beta is cut.

[2020-01-21 17:20] vdemeester commented on #1836
/assign

[2020-01-21 18:18] pierretasci commented on #1838
To extend your example of the cluster resource, I would imagine a "cluster-init" task would be the atomic, shareable unit. To me, the scope of the work that a cluster-init task performs is well defined and the output is too. Requiring any task that wants to use it to explicitly mount this pvc makes the task definition declarative. "I need a kubecfg file as input".

That said, you make a good point

[2020-01-21 20:04] guitcastro commented on #1904
Sheband and scripts args did not ship [0.9.2](https://github.com/tektoncd/pipeline/blob/v0.9.2/examples/taskruns/step-script.yaml). However, tasks params example exists and still failing in v0.9.2

[2020-01-21 22:03] danielhelfand commented on #1045
/assign

[2020-01-22 05:28] tomgeorge commented on #1856
If no one is already working on this, I have a preliminary PR that I hope to open in the next few days.

[2020-01-22 08:53] amlozano opened #1912 "Support Bitbucket Server Pull Request PipelineResource updates"
# Expected Behavior
I am able to update Bitbucket pull request status via PullRequest PipelineResource update
# Actual Behavior
Only GitHub and GitLab are supported in go-scm

# Additional Info
It would be nice to have Bitbucket Pull Request update support in tekton, to complete the tier of most used SCMs.

[2020-01-22 09:53] vdemeester commented on #1912
Note that `PipelineResource` are going through a [major redesign](https://github.com/tektoncd/pipeline/issues/1673) (and won't make it to the v1beta1 api). But in any case, we are looking into adding support for more provider (be it by PipelineResource or generic Tasks from the catalog).

/kind feature

[2020-01-22 09:56] vdemeester commented on #1856
/assign @tomgeorge

[2020-01-22 11:04] chmouel opened #1913 "ErrImagePull pods should set the task as failed"
# Expected Behavior

Should be set as failed

# Actual Behavior

Gets into a forever "Running" mode :

[code]

[code]

# Steps to Reproduce the Problem

Create a pulllrequest resource with an invalid image and observe...

pipelinerun that failed but not set as failed by controller `.status` :
[code]

# Additional Info

[2020-01-22 11:05] chmouel commented on #1913
/kind bug

[2020-01-22 11:06] vdemeester commented on #1802
@sbwsg  #1866 being merged, I guess this could be closed ?

[2020-01-22 12:09] amlozano commented on #1912
Oh, I didn't know about that redesign, I am new to the project (as an user) and I didn't find any issue related to the extensibility for BitBucket PR. If you think this can be re-defined in another way or it doesn't make sense anymore after the redesign, feel free to modify or close the ticket.

[2020-01-22 15:35] sbwsg commented on #1802
:+1: yes indeed!

[2020-01-22 15:35] #1802 closed

[2020-01-22 16:34] ncskier opened #1919 "Easily access installed version information"
# Expected Behavior
After installing Tekton Pipelines, I expect there to be an easy way to find the version of Tekton Pipelines that I am running.

# Actual Behavior
As far as I know, there is not an easy way to find what version of Tekton Pipelines I have running.

# Steps to Reproduce the Problem

1. Install a version of Tekton Pipelines
2. Try to verify what version of Tekton Pipelines you are

[2020-01-22 18:18] danielhelfand opened #1920 "Specify LimitRange Minimum as Part of Task Definition"
Related to #1045

As documented in #1045, Tekton pipeline does not work when a LimitRange minimum is specified. This is due to how container resource requests are "zeroed out" in [`resolveResourceRequests(containers)`](https://github.com/tektoncd/pipeline/blob/020137ee2f93559fa9d560bdfdaf1b3e222e374a/pkg/pod/resource_request.go#L47).

The proposal in #1045 is to have a way for a user to set a mini

[2020-01-22 18:19] vdemeester commented on #1919
/kind feature

We "kinda" have this in https://github.com/tektoncd/pipeline/pull/1758 but I do like the idea of using something that is broadly used in the k8s community :angel:

[2020-01-22 18:24] ImJasonH commented on #1920
Is there a way to get the LimitRange that would be applied to a Pod, before creating that Pod? Or is the proposal that we have some new key/value in config-defaults.yaml to set LimitRange minimums? (Maximums should still be rejected, not right-sized, correct?)

[2020-01-22 18:33] danielhelfand commented on #1920
If there is a way that the user does not have to specify the minimum via the resource definition and the correct LimitRange can be identified in the namespace where the TaskRun is, that would be the ideal scenario. I am still trying to figure out what the best approach for that would be. Open to any suggestions on that and can look into the pod approach as you're suggesting.

Yes, the alternative

[2020-01-22 20:14] danielhelfand commented on #1920
Possible thought here too is to allow users to specify the LimitRange name to use. Using that information, the LimitRange could be grabbed and its minimum values could be applied.

[2020-01-23 00:01] acim opened #1922 "Conditional build of subproject within a monorepo depending on modified files/directories"
Use cases:

1. You have monorepo containing backend and frontend for your application. You probably want to test and build just frontend if no files inside backend directory are modified and opposite.
2. You have repo with ton of Ansible roles. You probably want to test just modified ones, not all.
3. You modified just readme.md and don't want to test/build everything.

Jenkins has something calle

[2020-01-23 01:01] jlewi commented on #1271
I'm hitting a similar issue. It looks like the .ssh config is set to `/tekton/home/.ssh`.

It looks like an environment variable $HOME is set to point to `/tekton/home/.ssh` but it looks like this is insufficient to override the home directory set for the root user in /etc/passwd.

I guess one option would be to change the home directory in my docker image for the user /root but that feels kind of

[2020-01-23 12:16] #1905 closed

[2020-01-23 13:37] guitcastro commented on #1904
I just update to version 0.10.0 and still goting:

[code]

[2020-01-23 14:46] sbwsg commented on #1904
I see the issue - the variable needs to be `inputs.params.PARAM`.  Notice `inputs` vs `input`.

[2020-01-23 14:52] danielhelfand commented on #1920
/assign

[2020-01-23 15:15] sbwsg commented on #1922
Could you elaborate a bit more here - would you want a Trigger to only fire a Pipeline on the condition that a specific subproject's files changed?  A Task in a Pipeline to be executed only if a subproject had changed?  Or maybe just a Step inside a Task to be run conditionally?

This can be hacked together today with some bash but it's ugly:

[code]

Interesting feature request - would love to he

[2020-01-23 15:22] guitcastro commented on #1904
Thanks, @sbwsg, it's working as expected now.

[2020-01-23 15:22] #1904 closed

[2020-01-23 17:05] jomeier commented on #1663
Any news when this will be available? Tekton doesn't work in OpenShift behind corporate proxies because of that.

[2020-01-23 17:46] viane opened #1926 "Notag release yaml not found from the link"
`https://storage.googleapis.com/tekton-releases/pipeline/latest/release.notags.yaml` in the readme.md can't be accessed.

[2020-01-23 18:01] acim commented on #1922
Well, my use case is the first one. I have Golang backend and Svelte frontend in separate repositories, but I would actually like to merge them together in one monorepo because they are tight related, they should be deployed togher using the same Helm chart, etc. So, I would like to find out if something has changed in directory frontend and in this case build just Svelte application image, push i

[2020-01-23 18:05] vdemeester commented on #1926
/kind bug

My bad… I… forgot to upload it… on it :angel:

[2020-01-23 18:23] vdemeester commented on #1926
@viane it should be fixed now :angel:

[2020-01-23 18:40] vdemeester commented on #1926
/close

[2020-01-23 18:40] #1926 closed

[2020-01-23 19:57] dibyom commented on #1922
I think Conditional Tasks in a pipeline should work for this...you can have multiple task(s) e.g. build golang, build frontend etc. Each task can have a condition that determines if it should be run. The condition can e.g. look into the git resource/PR resource and see if go files were modified etc.
(I think @pritidesai had an example for this -- conditional builds depending on the type of source

[2020-01-23 20:00] ImJasonH opened #1929 "dind-sidecar example requires old dind sidecar image?"
Found while iterating on https://github.com/tektoncd/pipeline/pull/1928

If the image used in the dind sidecar is any later than `:18.09-dind` (15 months old at this point, and verrrry far out of the support window), Docker operations fail:

[code]

/kind question

[2020-01-23 20:25] ImJasonH commented on #1929
Seems relevant: https://docs.gitlab.com/runner/executors/kubernetes.html#using-dockerdind

[2020-01-23 22:31] pritidesai commented on #1922
Those conditions are defined here: https://github.com/pritidesai/openwhisk-build/blob/master/tasks/detect-runtimes.yaml

[2020-01-24 02:54] mgreau opened #1933 "Can't run Task including multiple steps with different resources requests/limits values"
# Expected Behavior

A `Task` can have multiple `steps` with different resources requests/limits values, where the n-1 `step` gets higher values than the latest step.

# Actual Behavior

While it works with Tekton Pipelines **0.8.0** and **0.9.2**, since the **0.10.0** it is not possible to deploy a `Task` which defines a `step` 2 with higher values than the latest step.
An error message like belo

[2020-01-24 05:08] danielhelfand commented on #1933
This issue comes from where container requests are handled for a TaskRun, which is [`resource_request.go`](https://github.com/tektoncd/pipeline/blob/0c58b56ff5a15eb29882960cb6ba0bc5570d5872/pkg/pod/resource_request.go).

Basically, what is happening is that the last container or step for a TaskRun is set to the maximum values for `ResourceCPU`, `ResourceMemory`, and `ResourceEphemeralStorage` of a

[2020-01-24 09:26] vdemeester commented on #1933
/kind bug

[2020-01-24 10:04] #1929 closed

[2020-01-24 10:15] acim commented on #1922
Great, thank you all.

[2020-01-24 14:37] danielhelfand commented on #1933
Prior to #1655, it looks like the last step index wasn't used to hold the max request. It looks like what was being done was finding the index of the highest resource request for memory, cpu, and ephemeral storage. So, instead of throwing everything as a single request in to the last container, it was leaving the max resource request in the index where it originally was while zeroing out anything

[2020-01-24 16:23] sbwsg commented on #1878
I've attempted a different design than either of those mentioned in the issue description.

In the WIP PR I've opened a pipeline author uses variable substitution to declare that one task's workspace is dependent on another's:

[code]

[2020-01-24 16:56] danielhelfand commented on #1933
/assign

[2020-01-24 18:28] danielhelfand opened #1938 "Common Way of Referring to Tekton Resources"
This [same issue](https://github.com/tektoncd/cli/issues/605) is being discussed in the CLI, and I wanted to raise a similar issue here. Tekton resources should be referred to in a consistent way whenever used in a way that an end user will see:

An example is TaskRun in `reconciler/taskrun.go`:

**TaskRun**

https://github.com/tektoncd/pipeline/blob/84368ae89550ad83733ec538aca328fc49210344/pkg/re

[2020-01-24 18:29] danielhelfand commented on #1938
/kind documentation
/kind cleanup

[2020-01-24 19:13] eddie4941 opened #1939 "Handle non-printable characters/binary data in task results"
# Abstract

In the current design of Task Results, values that are output by a task
are read  from the result files (`/tekton/results/<resultName>`)
and stored in the TaskRun.Status as is. This means that result values
with non-printable characters/binary data can end up in the
`taskrun.status.taskResults` making it look awkward when fetching it
via k8 api.

For example, here's a task that outputs

[2020-01-24 19:13] eddie4941 commented on #1939
cc @sbwsg

[2020-01-24 19:24] eddie4941 commented on #1939
Of course, it might also be decided that non-printable/binary data is not meant to be passed via task results. In this case, we should call this out explicitly somewhere.

[2020-01-24 20:30] sbwsg commented on #1939
Couple other considerations here:

1. at the moment the only types of variables we have in Tekton are strings and arrays of strings. iow `$(params.foo)` always refers to either a string value or array value.  So if we introduce a bytes result and want that to be interpolated as a variable replacement in subsequent tasks we'd need to ensure it gets passed along as base64.  But if it's a string valu

[2020-01-24 22:14] pritidesai commented on #1878
`$(task1.workspaces.output)` ?

[2020-01-24 22:25] mattmoor opened #1940 "Update version of knative.dev/pkg"
I see you are on a fairly old version of Knative's PKG.  There have been some pretty dramatic improvements and fixes to the webhook logic, and I selfishly would like to see Tekton move forward so that I can experiment with pulling into into https://github.com/mattmoor/mink 🤓

I'd be happy to help wade through some of the breaking changes, but I don't know how to work the go.mod to get started. 😬

[2020-01-24 22:31] ImJasonH commented on #1940
/kind question

cc @wlynch for go.mod stuff and @vdemeester since he did the last knative/pkg upgrade

[2020-01-25 17:22] vdemeester commented on #1940
@mattmoor @ImJasonH It's in progress :angel: Just waited for 0.10.0 to be released to re-work on it :wink:

https://github.com/tektoncd/pipeline/pull/1894

[2020-01-26 10:20] zeromsi opened #1941 "Failed to create a taskrun"
Message:
[code]

[2020-01-27 02:57] ImJasonH commented on #1941
/kind bug

Can you give more information about how you got this error? This sounds like a secret was found annotated for Tekton, multiple times?

[2020-01-27 10:25] vdemeester commented on #1940
/assign

[2020-01-27 11:45] vdemeester commented on #1939
/kind question
/kind feature
/area api

[2020-01-27 13:48] steveodonovan opened #1944 "TaskRun retries not working"
# Expected Behavior

Pipelines with tasks that have retries set should rerun a taskRun where it fails.

# Actual Behavior

It does not rerun

# Steps to Reproduce the Problem

1. Run the below pipeline run,
2. watch the resources which complete too quickly to have run the 30 second sleep

# Additional Info

Below are the sample resources, a watch of the task run and the taskRun after its completed

[2020-01-27 13:55] vdemeester commented on #1944
/kind bug

[2020-01-27 14:04] steveodonovan commented on #1944
0.9.2 behaviour

### The watch

[code]

### Pods being spun for each retry

[code]

### The taskRun

[code]

[2020-01-27 14:49] bitsofinfo opened #1947 "Pipeline tutorial: a container name must be specified for pod build-docker-image-from-git-source-task-run-pod"
Hi - trying to run the tutorial:

The task run for the build fails with:

[code]

[code]

I'm not really sure where to begin looking.

[2020-01-27 14:55] steveodonovan commented on #1944
@vdemeester FYI
https://github.com/tektoncd/pipeline/commit/0f20c3539f25ede46dfe58b83924e28db1fd783e#diff-14481606a469dcd50f6cb9f5540e3b06R543 and https://github.com/tektoncd/pipeline/commit/0f20c3539f25ede46dfe58b83924e28db1fd783e#diff-14481606a469dcd50f6cb9f5540e3b06L322

Looks like its the same issue I described in slack, the assumption of a 1:1 mapping between a taskRun and a pod. The retry po

[2020-01-27 17:10] sbwsg commented on #1273
Tasks now include a TaskResult list, declaring the results that the Task can output.

TaskRuns now include a TaskRunResult list in their Status field, which ends up containing the results that were actually written out during execution.  https://github.com/tektoncd/pipeline/pull/1921

The remaining piece of work here is being able to use variables to use results of one task of a pipeline in anothe

[2020-01-27 17:13] sbwsg opened #1950 "Pipeline Results"
# Expected Behavior

A Pipeline should be able to declare a list of results that should be emitted by any executed Tasks of that Pipeline.

# Actual Behavior

At the moment the results of Tasks in a Pipeline will be buried in the TaskRuns' Status fields.

# Steps to Reproduce the Problem

1. Run a Pipeline that uses Tasks that emit results.
2. Notice that the created PipelineRun does not include a

[2020-01-27 17:54] dibyom commented on #1376
#1684 is one item in this epic

[2020-01-27 21:53] pritidesai commented on #1684
Hey @dibyom, @sbwsg, I have started drafting design document here:
  https://docs.google.com/document/d/1PcBAVI_ZmMjNQbNl4qCppRrXOUenyGH_AiC_wn7b1fc/edit#

[2020-01-27 22:41] bitsofinfo opened #1953 "git resource: Host key verification failed. How to debug this?"
# Expected Behavior

I can use the Git pipeline resource

# Actual Behavior
[code]
[code]

# Additional Info

I've tested this git ssh private key + `known_hosts` on my command line and I can clone the git repo with no issues. However the step keeps failing w/ the error above and I need some direction on how to get more info out of tekton to see what I'm missing

[code]

Any other tips for how to

[2020-01-28 06:39] zeromsi commented on #1941
Hi @ImJasonH ,
I failed to replay the events. But I think you're right, I removed my secrets and service account, then tried again and it worked.

[2020-01-28 09:14] vdemeester commented on #1953
/kind question

[2020-01-28 09:18] vdemeester commented on #1947
@bitsofinfo hello :wave:

As mentionned by the error message, the command to run is `kubectl -n default logs build-docker-image-from-git-source-task-run-pod-301aa8 -c step-build-and-push` (notice the `-c step-build-and-push` that was missing from your `kubectl` command :angel: )

/kind question
/kind documentation

[2020-01-28 11:43] Dimss opened #1956 "Tekton Pipeline Webhook vs Trigger Webhook - what's the differences and how create each of them?"
I'm quite lost with the webhooks configurations.
So, I'd like to ask  following questions to make things more clear
1. Is it possible to create `Tekton Pipeline Webhook`, and if yes, how? Is there any YAML manifest example?
2. What is the differences between Tekton **Triggers** Webhooks and Tekton **Pipeline** Webhooks?
3. I sow the following [issue](https://github.com/tektoncd/pipeline/issues/183

[2020-01-28 12:01] #1941 closed

[2020-01-28 12:11] vdemeester commented on #1956
@Dimss :wave: thanks for your question

The notion of `webhook` in this repository (and in `tektoncd/triggers`) is tied to the k8s admission controller (https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/), and has nothing to do with the GitHub webhook or generic webhook. It's an implementation detail that the user shouldn't have to know :stuck_out_tongue:. Th

[2020-01-28 12:22] #1933 closed

[2020-01-28 12:32] Dimss commented on #1956
@vdemeester thanks for your response!
Just to make sure I understand you correctly
if I've following deployment
[code]
The `tekton-pipelines-controller` is a Tekton - `K8S Controller`
The `tekton-pipelines-webhook` is a `K8S Dynamic Admission Webhook` to validate/mutate Tekton `CRs`
The `tekton-triggers-controller` is a Generic/GitHub WebHook  - `K8S Controller`
The `tekton-triggers-webhook` is a

[2020-01-28 12:35] vdemeester commented on #1956
@Dimss yes, you are almost right :wink: `tekton-triggers-controller` is the controller that manages `tektoncd/triggers` structures (aka `TriggerBinding`, `TriggerTemplate` and `EventListener`) and create services for each `EventListener` (that can be used as GitHub webhook if published, using ingress, openshift routes, or something else)

[2020-01-28 13:07] Dimss commented on #1956
@vdemeester thank you so much for your help!
Now everything is clear!

[2020-01-28 13:07] #1956 closed

[2020-01-28 13:46] a-roberts opened #1957 "OpenShift install instructions point to Tekton 0.7"
@Megan-Wright spotted this while working with the Tekton Dashboard, https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines-on-openshiftminishift mentions `oc apply --filename https://storage.googleapis.com/tekton-releases/latest/release.yaml` which pulls in Tekton 0.7 as evidenced by visiting gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/webhook@sha2

[2020-01-28 13:48] bitsofinfo commented on #1953
I tried doing this in the `Task` prior the `build-and-push` step to no avail.. it won't run because the git checkout failed.

[code]

[code]

I also looked at your debugging doc and it mentions a pause Task...but I don't see how to use this w/ this Task when the actual Git PipelineResource itself is generating a Step that is failing... how can I triage whats going on here?

[2020-01-28 13:52] vdemeester commented on #1957
The correct link should be https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml and yeah, in that case https://storage.googleapis.com/tekton-releases/pipeline/latest/release.notags.yaml

/kind documentation