[2021-09-21 13:26] JCzz commented on #4247
Thanks @imjasonh

You are on to something :-) That worked!

Lets see how it helps regarding #4241

I will test it first thing tomorrow, I have to go now - even now it starts to get fun :-)

Thanks I will get back - and please let me know if you already have an idea

[2021-09-21 14:18] imjasonh commented on #4247
I think we can actually remove Kubernetes/KinD from this, and just see if we can use the distroless:base image on arm64/v8 at all.

Can you run these on your machine and report output and success?

[code]

And for #4241:

[code]
(this one should fail, but should at least run without the `exec format` error)

[2021-09-21 16:43] JCzz commented on #4247
Right, following is run in docker on the Ubuntu server running the KinD cluster.

**docker run gcr.io/distroless/base mkdir /foo**
[code]

**docker run busybox mkdir /foo**
[code]

And for #4241:

**docker run gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/entrypoint:v0.28.0 cp**
[code]

[2021-09-21 16:43] sbwsg commented on #3211
@coryc where abouts are you seeing the "level" output?  Is it in the controller logs or in our test runner output (you mention boskos, so wondering if this is an issue with our prow setup?)

[2021-09-21 17:00] coryrc commented on #3211
(this was a while ago, so pulling from memory):

This wasn't running on Prow or anything, this was me just applying Tekton TaskRuns and PipelineRuns to a cluster with `tkn`.

When things are logged, the Severity in Stackdriver is always `Info` level, so queries are slightly harder to write/UX a little worse.

![warning and error severity](https://user-images.githubusercontent.com/3232522/134214808

[2021-09-21 17:01] coryrc commented on #3211
(I don't have any more Tekton things running, so have no pertinent logs to share; sorry. For all I know it's been fixed).

[2021-09-21 17:05] sbwsg commented on #3211
No worries, really appreciate the quick response on a year old thread! :D Thanks

[2021-09-22 14:46] wagoodman opened #4253 "Task onError option not honored when workspace is present"
# Expected Behavior
`onError` should be honored regardless of the presence of a workspace defined on a task.

# Actual Behavior
Task `onError` is not honored when a workspace is present on a task. Specifically, when specifying `onError: continue` for a task step, and the step has a non-zero return code,  then the task fails and non subsequent steps are executed.

# Steps to Reproduce the Problem

[2021-09-22 15:36] pritidesai commented on #4253
thanks @wagoodman for reporting the issue, I will look into it asap 🙏

[2021-09-23 20:58] pritidesai commented on #4253
Hey @wagoodman I have a fix for this issue in PR #4254

[2021-09-23 21:23] wagoodman commented on #4253
Thanks @pritidesai ! I went looking for the bug briefly with no result --nice work! I'll probably wait for this to hit nightly then try it out 👍

[2021-09-24 07:21] michaelsauter commented on #4235
ping

Any comment on this? Or is this the wrong place to suggest such a feature? 😄

[2021-09-24 19:38] bobcatfish commented on #4012
If we go the configmap route, am i understanding right that to pull that off we'll need to be aware of what service account the pod will end up running as, b/c that's the serivce account we'll need to add a new role and rolebinding for?

a) are we okay with adding privileges for whatever service account we're handed? (i guess its not so bad b/c its just one specific configmap we're giving access t

[2021-09-24 20:06] skaegi opened #4258 "PipelineRun validation error for params without a type"
After updating from 0.26.0 to 0.27.3 we're seeing the following error...
[code]

The pipeline in question here declares a "cluster", "repository", and "revision" param but does not specify a "type" for these params as the default type has worked until now. We've found that if we alter the Pipeline definition to specify `type: string` for these params everything works correctly.

Reporting now in t

[2021-09-24 20:43] wlynch commented on #4227
/assign me

(i've been working on this, just forgot to assign myself)

[2021-09-24 20:43] wlynch commented on #4227
/assign wlynch

[2021-09-24 20:47] squee1945 commented on #4227
Even if I can only write to my own step output, could I fake out a termination message that would cause the next step to start and use my faked out results as parameters?

[2021-09-24 21:28] wlynch commented on #4227
Yes. The next step here to lock this down would be to use the sidecar approach or some sort of chroot jail to isolate the user container from the entrypoint control files. This change is a bit more involved, so holding off for a more detailed design while we tackle the low hanging fruit first.

So this is technically something you could do even without the post_file issue - a bad step could just w

[2021-09-25 12:11] JCzz opened #4259 "task source-lister create has not started yet or pod for task not yet available"
This [tutorial](https://redhat-scholars.github.io/tekton-tutorial/tekton-tutorial/tasks.html#_run_clustertask_echoer)

`kubectl apply -n tektontutorial -f source-lister.yaml`

Gives the following error: `task source-lister create has not started yet or pod for task not yet available`
[code]

[2021-09-25 12:25] #4259 closed

[2021-09-25 12:27] JCzz commented on #4259
Not an issue, found it to be a missing step on my part

[2021-09-27 08:41] tlawrie commented on #4012
Hey @bobcatfish I have started on [TEP-0086: Changing the way result parameters are stored](https://github.com/tektoncd/community/pull/521) and created a draft PR.

[2021-09-27 08:44] tlawrie commented on #4012
@vdemeester I had been thinking, that if the method we choose to implement this with utilizes a standard object (ConfigMap) or CRD or HTTP, then the user wouldn't have to do anything and all result parameters under the covers would be stored this way. But that's definitely up for discussion as that was my assumption, I've added it to the TEP.

[2021-09-27 09:17] #4253 closed

[2021-09-27 09:50] afrittoli commented on #4219
When we add new fields to a beta API we add them in the beta folders, not in the alpha - even though we still need to make sure that the beta API can roundtrip to alpha and back to beta. The new fields will be considered of "alpha" level stability, even if defined in the beta API.

When adding brand new CRDs however, they would be alpha, not beta. We never enforced having the same level of API sta

[2021-09-27 09:56] vdemeester commented on #4012
Right, but storing a result that is a "jar" of 20M and a git commit sha (which is a single string) are highly different, and could not be store in some implementation (configmap for example), hence my point of defining what kind of results we are talking about here.

[2021-09-27 20:02] pritidesai commented on #4219
yup, CRDs are added as `alpha`.  My bad,  was reading this section in context of `new fields` in `beta` API 😜

[2021-09-28 18:56] #4219 closed

[2021-09-28 18:57] mlbiam opened #4264 "Task mutated to include runAsUser fails to copy credentials"
# Expected Behavior

We are using GateKeeper to enforce pod security policies in a KinD cluster (1.21.1).  A mutating webhook adds `runAsUser`, `runAsGroup`, and `fsUser` to all containers and initContainers if one isn't present.  When our `Pipeline` launches we expect everything to run.

# Actual Behavior

our pipelines show:

[code]

# Steps to Reproduce the Problem

1.  Deploy GateKeeper
2.  De

[2021-09-28 20:08] abayer commented on #1461
I've started playing around with this, and narrowed down the panic to something thinking the package `github.com/tektoncd/pipeline/pkg/apis/resource/v1alpha1` should have a kind `Pipeline` in it. I haven't yet figured out why the heck it's thinking that, though.

[2021-09-28 20:26] abayer commented on #1461
I'm pretty sure there's something weird about our CRDs and/or our packages resulting in this...

[2021-09-29 03:34] skaegi commented on #4258
Here's the simplest example that fails for me...
[code]

What I've found is that in any version "after" 0.26.0 when I apply I will get...
[code]
If I do a `get -oyaml` I see...
[code]
I've now verified that I get the same result with 0.27.0, 0.27.2, 0.27.3, and 0.28.0

I use different flavors of Kubernetes but all version 1.20 and am only seeing this with openshift 4.7.x (currently using 4.7.30 bu

[2021-09-29 08:05] vdemeester commented on #1461
Arg.. I don't like that 😝… Seems like it's a bit too "tightly" coupled to the assumption that you put all your type in the same package.. 😅

[2021-09-29 08:07] vdemeester commented on #4264
@mlbiam thanks for the issue. Is there anymore logs ? The message is a warning and shouldn't prevent the rest of the step to execute. The rest of the step(s) *might* fail for a valid reason linked to it (most likely because the credentials are not found, …) but it could be worked-around I think (by mounting the secret instead of relying to the annotated secret).

[2021-09-29 09:23] mlbiam commented on #4264
@vdemeester You're right.  The task runs but fails because it can't talk to the remote git repository.  Here are the logs:

[code]

Here's the `Task`: https://github.com/PacktPublishing/Kubernetes---An-Enterprise-Guide-2E/blob/main/chapter14/example-apps/tekton/tekton-task1.yaml

Manually mounting the `Secret` was my next thought.  I wasn't sure if there was another way to go.  I figured this is s

[2021-09-29 20:15] abayer commented on #1461
PR opened for that fix - https://github.com/kubernetes-sigs/controller-tools/pull/627 - I'm now trying to determine if we need to filter some fields out, like the knative-specific branch does. I think at a minimum we need to only take the `Spec` field of `PersistentVolumeClaim` (used in the `VolumeClaimTemplate` field of `WorkspaceBinding`), since we definitely don't need the `TypeMeta`, `ObjectMe

[2021-09-29 20:18] abayer commented on #1461
/assign @abayer

[2021-09-30 13:20] guillaumerose commented on #3452
Documentation here https://tekton.dev/docs/getting-started/ let the user thinks he can install it on OCP.
I tried with OpenShift 4.8.11 and it didn't work.
Should we update the documentation somehow?

[2021-09-30 14:32] abayer commented on #1461
Well, https://github.com/kubernetes-sigs/controller-tools/pull/627#issuecomment-931355857 - our layout is awfully nonstandard, and the not-unreasonable response from the maintainer is asking if we can restructure things rather than make a change to `schemapatch`. I _think_ we could solve this by moving everything in `pkg/apis/resource/v1alpha1` and `pkg/apis/run/v1alpha1` into `pkg/apis/pipeline/v

[2021-09-30 14:49] chmouel commented on #3452
sounds good to me!

[2021-09-30 14:52] abayer commented on #1461
Started playing around with what would be involved in moving `pkg/apis/resource/v1alpha1` and `pkg/apis/run/v1alpha1` and...well, so far, I don't think it's viable without mucking up our types pretty thoroughly.

[2021-09-30 21:22] afrittoli commented on #4258
I can reproduce the issue.
From the webhook logs, this looks suspicious:
[code]

If I create a `Task` and try to fetch it, not type is set on the params, so the defaulting webhook is not doing its work.

[2021-09-30 22:07] afrittoli commented on #4258
With this change in:
[code]

I now get a different error:

[code]

[2021-10-01 07:59] vdemeester commented on #1461
They are in separate packages because of « loop dependency ». We may want to go ahead and reorganize that by duplicating some code and make v1alpha1 and v1beta1 completely independent of each other (code wise) which could be beneficial for the future anyway 😇

[2021-10-01 12:28] mlbiam commented on #4264
My workaround for now was to disable gatekeeper in namespaces that run pipelines.  Looking at the `Pod` objects being generated, it looks like they're running with suplemental group id, but no user id or group id.

I checked out the `Dockerfile` for the git-init and checkout images, and they add user and group 65532, but they stay as root.  I tried changing my mutation to assign 65532 as the defau

[2021-10-01 14:15] jsravn commented on #3798
I thought I could get away with this autopilot restriction, but it seems tekton-pipelines-webhook doesn't start up correctly due to the MutatingWebhookConfiguration. Other things seem to work okay though.

[2021-10-01 15:04] #4258 closed

[2021-10-01 15:40] vdemeester commented on #3798
The trick is that we use the mutating webhook for our default values set or our auto conversion from v1alpha1 to v1beta1, ..

[2021-10-01 20:28] seeker25 commented on #2595
This feature would be handy. In OpenShift anytime I'm firing off a Pipeline run, I have to specify the workspace.

[2021-10-04 01:45] tuananh commented on #685
is the workaround with `generateName` documneted somewhere?

[2021-10-04 17:06] pritidesai opened #4272 "update toc of pipelineruns.md"
https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md has an outdated ToC.

Please update it to include:

* Move [Specifying Resources](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#specifying-resources) to the same level as [Specifying Parameters](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#specifying-parameters).
* Add missing titles (1

[2021-10-04 17:23] imjasonh commented on #3798
As a test, I created a kind cluster, installed latest Tekton, disabled webhooks:

[code]

...and ran the e2e tests with:

[code]

logs attached: [e2e-testlog.txt](https://github.com/tektoncd/pipeline/files/7280018/e2e-testlog.txt)

Only a few tests failed, mainly because they expected to have the webhook block an invalid request. If we loosened these tests to handle async validation on the first r

[2021-10-05 06:36] michaelsauter commented on #4235
@vdemeester @bobcatfish maybe you can comment on this as you discussed on the linked issue #2973? I would love to get some idea on whether this is something you would consider contributions for, or whether this is impossible, or .... anything really :)

[2021-10-05 16:56] jerop commented on #3551
/remove-lifecycle rotten

in v1 planning - https://github.com/tektoncd/pipeline/issues/3548

[2021-10-05 17:23] krishnaraman001 commented on #1983
Hi  everyone
i am facing this issue when i am trying to clone from bitbucker
kubectl -n default logs build-docker-image-from-git-source-task-run-pod-ndjhq -c step-git-source-docker-source-qx994
{"level":"error","ts":1633453879.3368287,"caller":"git/git.go:54","msg":"Error running git [fetch --recurse-submodules=yes --depth=1 origin --update-head-ok --force develop]: exit status 128\nHost key verif

[2021-10-05 19:22] pritidesai opened #4276 "start using `YAMLParsers` in `/test/*_test.go`"
@imjasonh added `YAML` helpers in https://github.com/tektoncd/pipeline/blob/main/test/yaml.go which takes a `YAML` in a string and returns respective desearlized objects including:

* Task
* TaskRun
* Pipeline
* PipelineRun

These helpers can help simplify the way we have implemented the integration tests. Most of the integration tests under `/test` initialize objects directly or have implemented

[2021-10-05 22:05] pritidesai commented on #3749
I have opened a [discussion](https://github.com/tektoncd/pipeline/discussions/4279) addressing pipeline results with a `failed` pipelineRun.

[2021-10-06 04:15] krishnaraman001 opened #4280 "unable to clone from bitbucket"
Hi  everyone
i am facing this issue when i am trying to clone from bitbucker
kubectl -n default logs build-docker-image-from-git-source-task-run-pod-ndjhq -c step-git-source-docker-source-qx994
{"level":"error","ts":1633453879.3368287,"caller":"git/git.go:54","msg":"Error running git [fetch --recurse-submodules=yes --depth=1 origin --update-head-ok --force develop]: exit status 128\nHost key verif

[2021-10-06 12:35] afrittoli opened #4282 "Publish task fails, IMAGES result too large"
# Expected Behavior

It is possible to release Tekton Pipelines

# Actual Behavior

The publish task fails because the `IMAGES` result it too large:

[code]

# Steps to Reproduce the Problem

1. Trigger a nightly release

# Additional Info

The `IMAGES` result is used by Tekton Chais to sign the container images.
The result includes all the container images produced by `ko` plus all their copies t

[2021-10-06 12:36] afrittoli commented on #4282
/cc @barthy1 @vdemeester @bobcatfish @priyawadhwa

[2021-10-06 14:16] afrittoli commented on #4282
The result looks like this:
[code]

That is 4572 characters, which won't fit. I think the only alternative for now is to only sign the image on `gcr.io` and we can start signing the geo copies once we solve the issue on results size.

[2021-10-06 14:35] afrittoli commented on #4280
Hello @krishnaraman001 - the error says `Host key verification failed.` which could mean that provided the `known_hosts` is not correct, or perhaps that the secret is not recognised. Have you tried using `tekton.dev/git-0` in the annotation instead of `tekton.dev/git-1`?

[2021-10-06 15:16] afrittoli commented on #4282
Yes, indeed. We store results in the POD termination message, so having multiple results or multiple steps does not help.

[2021-10-06 15:25] afrittoli commented on #4264
Thanks @mlbiam - thanks for the updates and offer to help!
As a side note, it looks like you are using `PipelineResources` which we are likely to be deprecate.
I didn't really dive into this, but I wonder if the fact that we do not set the `HOME` variable by default anymore might have an impact here @sbwsg

[2021-10-06 15:44] abayer commented on #3178
/close

[2021-10-06 15:44] #3178 closed

[2021-10-06 17:10] abayer opened #4285 "TaskRun reconciler tests are inconsistent in pod env var ordering"
# Expected Behavior

Tests in `pkg/reconcile/taskrun/taskrun_test.go` with multiple environment variables getting passed on to the resulting `Pod`s should not fail due to ordering of those env vars being different from run to run.

# Actual Behavior

Those tests do periodically fail due to ordering, like:

[code]

# Steps to Reproduce the Problem

1. Run a test, such as `TestReconcile/params` a la

[2021-10-06 17:10] abayer commented on #4285
/assign @abayer

[2021-10-06 17:13] priyawadhwa commented on #4282
We ended up having to use multiple tasks for distroless, but it's pretty hacky 😕  Signing only `gcr.io` seems like a good short term solution. We also have a branch in Chains with a prototype Chains API, which could be reworked a little to also accept large results 🤔

[2021-10-06 17:19] krishnaraman001 commented on #4280
Thanks @afrittoli

Yeah the known_host param is not a valid one and i tried removing that, it worked fine

[2021-10-07 15:48] afrittoli commented on #4282
Successful nightly run: https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-nightly/pipelineruns/pipeline-release-nightly-gp4wm?pipelineTask=git-clone&step=clone

[2021-10-07 18:27] pritidesai commented on #4282
The [image resource](https://github.com/tektoncd/pipeline/blob/main/docs/resources.md#image-resource) might not work with such dynamism. The `outputs.resources` has to list the number of images a task is going to produce in advance.

[code]

I was thinking of a solution which is a little more structured than a task result.

[2021-10-08 09:53] Rand01ph commented on #3557
I have found this in version v0.25.0

[2021-10-09 09:09] larhauga opened #4294 "Additional secret types to support crossplane connection details"
### Feature request
Enable the use of secrets with ssh keys without using corev1 secret type `type: kubernetes.io/ssh-auth`.
Enable other secret types like `type: connection.crossplane.io/v1alpha1`.

### Use case
We are using crossplane to automatically generate ssh key pairs to clone repositories. This creates a crossplane connection secret with the private ssh key, and publishes the public key t

[2021-10-11 11:36] tibcoplord commented on #4116
Any progress on this ?  This is blocking for us.

[2021-10-11 16:06] sbwsg opened #4297 "PipelineRun reconciler panics when Pending PipelineRun is immediately placed into failed state."
# Expected Behavior

A PipelineRun whose `spec.status` is `PipelineRunPending` should not trigger a panic when placed into a failed state before execution begins.

# Actual Behavior

When a PipelineRun is marked as failed when its status is `PipelineRunPending` the PipelineRun reconciler panics with the following error:

[code]

Once this happens the pipelines controller pod enters into a `CrashLo

[2021-10-11 22:01] mattmoor opened #4299 "Tekton entrypoint resolution can break signature verification."
# Expected Behavior

If I submit a signed OCI Image Index, it's signature can be verified by something like `cosigned`.

# Actual Behavior

Because the index is resolved to an image here: https://github.com/tektoncd/pipeline/blob/5a774e618f600982ba9293c921f3ffefb979309b/pkg/pod/entrypoint_lookup_impl.go#L72-L79

The signature on the index is no longer accessible to verification, and the Tekton pod

[2021-10-11 22:40] mattmoor commented on #4299
I can, but the failure mode here sucks pretty bad, and to be clear this isn't specific to `cosigned`, this should affect basically any of the policy engines I'm aware of (OPA Gatekeeper, Kyverno) because we've eliminate the path from the digest to the signature.

[2021-10-11 22:45] #3262 closed

[2021-10-12 00:20] imjasonh commented on #4299
/assign

[2021-10-12 11:16] Rand01ph commented on #3844
I have the same issue

[2021-10-13 10:01] JCzz opened #4300 "pipeline/pkg/client schema errors"
I am trying to use call tasks from code using the following:

[code]

But I get errors:
[code]

[2021-10-13 13:54] rcerven opened #4303 "When PVC used in pipeline run is deleted before any tasks start, task run will be just stuck"
When pipeline run uses pvc, either with volumeClaimTemplate or pre-created persistentVolumeClaim,
and you run the pipeline run and right after PVC is created (bound) you delete it (before any tasks start), it will be in 'terminating' state, and the task run will be just stuck.

[2021-10-13 17:03] DrissiReda opened #4307 "Allow pipeline execution only in specific namespaces"
For better control of network policies, I want to let pipelines only be executed in certain namespaces. How can I achieve that?

[2021-10-14 02:25] Rand01ph commented on #3844
@pritidesai

[2021-10-14 02:27] Rand01ph commented on #3844
Client version: dev
Pipeline version: v0.25.0
Dashboard version: v0.17.0

[2021-10-14 05:56] lippertmarkus commented on #1826
I just tried out hybrid workflows:
[code]

I found that running the Windows container with `ContainerAdministrator` user is mandatory (see comment within yaml). Is there a way we can work around that? Like with Linux containers, running Windows containers with full privileges isn't a good practice.

Apart from that it works great, awesome work!

[2021-10-14 13:02] pritidesai commented on #4300
one of the my team mates ran into the same issue last week and we could fix it by refreshing the list of dependencies at https://github.com/tap8stry/tapestry-pipelines/pull/6 if it helps

[2021-10-14 17:15] jerop opened #4313 "TEP-0114: Custom Tasks Beta - Required Work"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.  This is an overarching issue to track the work required to promote `Custom Tasks` to beta.

The work scoped here are blockers for promotion.

- [x] https://github.com/tektoncd/pipeline/issues/5156
- [x] https://github.com/tektoncd/pipeline/issues/5154
- [x] https://github.com/tektoncd/pipeline/iss

[2021-10-14 22:33] jerop commented on #2159
we have an issue in the experimental repo to create a manual approval custom task - https://github.com/tektoncd/experimental/issues/728

you can share use cases, ideas or any thoughts in that issue

cc @bobcatfish

[2021-10-15 01:10] r0bj commented on #3171
/remove-lifecycle stale

[2021-10-15 03:28] dmikalova opened #4316 "`tekton.dev/docker-` does not support digitalocean registry endpoints"
# Expected Behavior

I'm creating a secret for a docker image resource to use a private registry. I would expect to be able to set this annotation on the secret:

[code]

# Actual Behavior

I get the following error when deploying through Terraform:

[code]

The following annotation works and is good enough for my purposes:

[code]

# Steps to Reproduce the Problem

1. Deploy a secret with the abo

[2021-10-15 06:31] dmikalova commented on #4316
This seems to be an issue more with the key than the value which makes more sense now.

[2021-10-15 08:04] vdemeester commented on #3884
/lifecycle frozen
This needs to be fixed somehow 🙃

[2021-10-15 08:06] vdemeester commented on #2944
/lifecycle frozen

Work is happening on this.

[2021-10-15 08:06] vdemeester commented on #3661
/remove-lifecycle stale

[2021-10-15 09:13] zhengyansheng opened #4317 "insufficient IP due to too many tasks"
### Feature request

networkPlugin cni failed to set up pod
network: failed to allocate for range 0: no IP addresses available in range set

Because each task will occupy an IP address. If there are too many tasks, an error will be reported that the IP address is insufficient

### Use case

Can it be implemented by Tekton? For example, how many tasks can be saved at most? If it exceeds, it will be

[2021-10-15 11:52] JCzz commented on #4300
Cool, worked - thanks @pritidesai

[2021-10-15 11:52] #4300 closed

[2021-10-15 13:15] pritidesai commented on #4272
yes please, thank you @koneko096. 🙏  Please let me know if you need any help with this.

[2021-10-15 13:26] pritidesai commented on #3929
Hi @wkulhanek the simple use case you have provided in the description is now supported with branch scoped `when` expressions (released in `0.27`). Please refer to the release [notes](https://github.com/tektoncd/pipeline/releases/tag/v0.27.0) or the documentation on how to configure it.

We have introduced a new feature flag `scope-when-expressions-to-task` (set to `false` by default). Setting it

[2021-10-15 14:31] jerop commented on #3948
@pittar thanks for the feedback -- added a reference to the recommendations in the `Tasks` documentation -- https://github.com/tektoncd/pipeline/pull/4318

[2021-10-15 15:13] jerop commented on #3792
/lifecycle frozen

in the 1.0 roadmap - https://github.com/tektoncd/pipeline/issues/3548

[2021-10-15 15:16] jerop commented on #3947
/remove-lifecycle stale

would be helpful with migration when features are deprecated

[2021-10-18 04:43] tlawrie commented on #4016
Hey @afrittoli checking in on this one. Did my example make sense?

[2021-10-18 11:57] towithyou opened #4320 "import github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1 error"
# error
# github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1
../../../../../../go/pkg/mod/github.com/tektoncd/pipeline@v0.28.2/pkg/apis/pipeline/v1beta1/openapi_generated.go:117:3: cannot use "github.com/go-openapi/spec".Schema{...} (type "github.com/go-openapi/spec".Schema) as type "k8s.io/kube-openapi/pkg/validation/spec".Schema in field value
../../../../../../go/pkg/mod/github.com/tektoncd

[2021-10-18 17:54] afrittoli commented on #4112
@vdemeester I will move this to the next milestone. Let me know if there is any concern.

[2021-10-18 19:31] wlynch commented on #4320
/label triage/needs-information

[2021-10-19 00:19] aiden-deloryn commented on #1826
I have just a few things that might be worth mentioning:
- [PipelineResources](https://github.com/tektoncd/pipeline/blob/main/docs/resources.md) have not been tested for Windows tasks and probably won't work.
- If a *Windows task* and a *Linux task* are both sharing a PersistentVolumeClaim workspace, the affinity assistant may need to be disabled (those two tasks cannot run on the same node).
- Th

[2021-10-19 02:35] towithyou commented on #4320
## go version
go version go1.16.7 darwin/amd64

## go mod pipeline version
github.com/tektoncd/pipeline v0.28.2

[2021-10-19 16:54] pritidesai commented on #3887
@kulon are you still running into this issue? or have a workaround?

[2021-10-19 17:29] avnipurna opened #4321 "Rest API endpoint to fetch logs for a pipelinerun"
Hi,
I'm currently working on integrating Tekton with our current app. I was looking to fetch logs for the pipelinerun via a rest api instead of individually fetching all the  pods corresponding to each task and pulling the logs for each.

Is there any rest api to do exactly what the tekton cli does -
tkn pipelinerun logs -L  tekton-pipelinerun-test-task-8v826

[2021-10-20 06:10] #4321 closed, assigned to nobody

[2021-10-20 19:29] lbernick commented on #4199
Hi @leandrodamascena, thanks for opening this issue!

I think the problem here may be that the docker container you are running does not have the dotnet tool installed but your computer does.

**Here's what I did to try to reproduce the issue:**
A task's script is Base64 encoded and written to a tempfile; this file is decoded in an initContainer and executed in the container. I created this exampl

[2021-10-21 09:14] jsravn opened #4326 "Support specifying resource requests at the TaskRun level"
### Feature request

Currently resource requests can only be done at the Task level. However this is limiting when trying to reuse generic tasks. It would make more sense to me to have resources specified in the TaskRun, with the Task providing a set of defaults.

### Use case

An example that came up recently is using the [kaniko hub task](https://hub.tekton.dev/tekton/task/kaniko). The resources

[2021-10-22 15:25] JCzz opened #4330 "Unable to create a TaskRun from webhook container"
I am trying to create a taskrun from within a continer using tkn - but I need RBAC rights. I tried rolebinding role: tekton-pipelines-controller to default service account:
[code]
But I can still not do this:

[code]

I also tried creating a role for the resource:
[code]
Unfortunately still no access

I also looked for anything "taskrun" in all RoleBindings in tekton-pipelines, and found nothing

[2021-10-26 12:44] Siddhesh-Ghadi opened #4334 "Update skaffold revision to resolve example test failures on ppc64le"
Below 2 example tests fail on `ppc64le` architecture due to issue in `golang:1.12.5-alpine3.9` docker image used by [GoogleContainerTools/skaffold](https://github.com/GoogleContainerTools/skaffold/blob/v0.32.0/examples/microservices/leeroy-web/Dockerfile#L1) `v0.32.0`

TestExamples/v1alpha1/pipelineruns/pipelinerun

Image build of revision `v0.32.0` of `GoogleContainerTools/skaffold` during test f

[2021-10-27 14:30] #4330 closed, assigned to nobody

[2021-10-28 14:36] chenbh opened #4339 "ImagePullSecrets for "system" images"
### Feature request

Add a controller flag or configuration option to specify which secret(s) to use for pulling "system" images like entrypoint, nop, shell-image, etc.

### Use case

In a firewalled or air gapped environment where the cluster can't reach gcr.io, images can be mirrored into a private registry behind the firewall. While it's trivial to update the deployment yaml for the controller

[2021-10-28 14:50] guillaumerose opened #4340 "metrics retention: it is good to have 3 new metrics per taskrun?"
I am looking at performance tests for the pipeline controller. I see good metrics but I am worry that we have too many of them.
The controller is expected to stay up and running for months. With the current impl, I see it keeps 3 metrics / taskruns forever.
If it runs a lot of taskruns, it can grow a bit too much and for sure might slow down the /metrics endpoint.

Underneath, I think we miss some

[2021-10-29 13:01] nikhil-thomas opened #4341 "variable expansion in the workspaces.subpath field of Tasks"
### Feature request

At present, variable expansion is not supported in `worspaces.subpath`. Variable expansion in `workspace.mountPath` is supported.

This appears inconsistent to the end user. A user (cough, cough @bobcatfish :stuck_out_tongue: )  [ might assume](https://github.com/tektoncd/experimental/pull/809) that this feature is supported as the `workspace.mountPath is already supported. :s

[2021-10-30 21:42] mattmoor opened #4342 "Idea: entrypoint resolution of results in task config"
### Feature request

Allow entrypoint to resolve `$(results.foo)` in the configuration of steps before executing them.

### Use case

Today I have a workflow where I emit a digest to the `IMAGES` result (for Chains), but then want to do things like attach SBOMs to the same digest, so I do:
[code]

This is somewhat unpleasant because I need to have a shell in my step container.  It struck me that T

[2021-11-01 19:04] sbwsg commented on #4224
/assign

[2021-11-01 19:07] sbwsg commented on #4227
@wlynch am wondering if this issue can be considered done now or whether we should hold it open for the sidecar-related work. What do you think?

[2021-11-01 19:11] sbwsg commented on #4237
/label "triage/needs-information"

[2021-11-01 19:11] sbwsg commented on #4237
/label triage/needs-information

[2021-11-01 19:17] 06kellyjac commented on #4227
I think this should stay open to track the progress of the improvements & eventual sidecar-related work

[2021-11-01 19:17] sbwsg commented on #4248
@R2wenD2 @vdemeester It looks like this might be fixed? At least the text of the section no longer matches the initial report and we can't seem to find the broken link any more.

[2021-11-01 19:19] sbwsg commented on #4264
@mlbiam I'm going to close this issue on the basis that pipelineresources are likely to be deprecated. Recommend using the `git-clone` task from the catalog instead. Please feel free to reopen this issue if you'd like more help around this. Cheers!

/close

[2021-11-01 19:19] #4264 closed

[2021-11-01 19:28] sbwsg commented on #4303
@rcerven could you give a bit more context on the situation that results in a PVC being deleted just as a Task is starting?

[2021-11-01 19:31] sbwsg commented on #4340
@guillaumerose we have a TEP in proposed state that looks designed to tackle the issues you mention: https://github.com/tektoncd/community/blob/main/teps/0073-simplify-metrics.md

I'm going to close this issue as a dupe given that we have this existing design.  If you review that TEP and find that your use-case isn't accounted for then please feel free to reopen this issue and we can look into it

[2021-11-01 19:31] #4340 closed

[2021-11-01 19:34] rcerven commented on #4303
@sbwsg it was just for my testing, but it can happen if you will have PVC pruner

[2021-11-01 19:40] lbernick commented on #4237
Hi @JCzz, thanks for filing! Following the pipelines tutorial, I am able to apply the `build-docker-image-from-git-source` Task yaml file without issue. Can you please provide the command and yaml you are using to try to apply this Task?

[2021-11-01 20:06] bobcatfish opened #4344 "Update next Pipelines release to indicate PipelineResources is deprecated"
In [TEP-0074](https://github.com/tektoncd/community/blob/main/teps/0074-deprecate-pipelineresources.md) we have decided to officially deprecate PipelineResources.

We need to announce this to our users via the deprecation warnings in the Pipelines release notes and also to update our docs to make this clear.

Adding this issue so I can put it in the next milestone and make sure we track it in case

[2021-11-01 20:15] sbwsg commented on #4340
I've added a link to this issue as a reference to the TEP: https://github.com/tektoncd/community/pull/552

[2021-11-02 06:29] Rand01ph commented on #3126
Yes, I'm very happly to join your discuss.
I only have some log now, for the recreate taskruns.

[2021-11-02 09:24] drriguz commented on #3604
Any response to this issue？ I got the same error today, while using custom image as task image.

[code]

[code]

However, images could be successfully pushed into the registry. So I believe the configuration is correct, is this a bug?

[2021-11-02 10:19] Siddhesh-Ghadi commented on #4334
Did you get a chance to look at it? - @vdemeester @afrittoli

[2021-11-02 15:34] Fabian-K opened #4347 "resource hoarding for steps of a taskrun"
Hi, we noticed the following issue after upgrading from v0.26.0 to v0.28.2

# Expected Behavior
When creating a taskrun with multiple steps where the steps have resource requests defined, tekton should not "hoard resources". The created pod should only request the maximum of the step containers and not the sum of all step containers. This is also described in https://github.com/tektoncd/pipeline/b

[2021-11-02 15:43] lbernick commented on #4326
Hi @jsravn, I think this use case would be addressed by #4080, which I'm currently working on, so I'm going to close this as a duplicate issue. Please feel free to reopen if needed.

triage/duplicate
/close

[2021-11-02 15:48] vdemeester commented on #4347
Hey @Fabian-K,

Thanks for the issue.

This is not a "choice" we have, this is how Kubernetes and pods are working, *and*.. we can only try our best around this.

Right, I did update some documentation (mainly around [LimitRange](https://github.com/tektoncd/pipeline/blob/main/docs/limitrange.md)) but I think I missed this on the update the part of the Task and steps.

But there is one thing that i

[2021-11-02 15:52] vdemeester commented on #4326
Although it might be addressed by #4080, I wonder if it should be the way it gets solved. For example, I want to use a Task from the Hub/Catalog, where I do not have any control, and this Task doesn't have any *parametrized* resource limits/requirements setup, then I want to be able to provide this at runtime.
Hence I would like to keep this one open for now.

[2021-11-02 16:30] Fabian-K commented on #4347
Hi @vdemeester, thanks for the fast feedback! To me, the "smart" behavior of 0.26.0 made sense because when there are two steps requesting each 1 CPU, because they run sequentially in tekton, it is sufficient for the pod to only "request" 1 CPU and not 2. Yes, both containers still run at the same time but "when not being active", the steps should not use many resources - and by adjusting other re

[2021-11-02 16:43] vdemeester commented on #4347
Yeah, re-reading the release-note.. I think I also did a poor job highlighting the effect on resource request (without the LimitRange use case in mind), sorry 😅 😓 .

[2021-11-02 18:35] sbwsg commented on #4169
Under `Events` I also notice the following errors related to the emptyDir volume that the sidecar and step are supposd to share:

[code]

[2021-11-02 23:06] bobcatfish commented on #4169
especially weird that it wouldn't find the volume definition when we're using emptyDir! I thought maybe a PVC hadn't been created, but how is it possible for the emptyDir volume to not be found??

[2021-11-03 10:21] Fabian-K commented on #4347
So if I understand correctly, starting with 0.28 the expected behavior is "simple" aka don´t change/update any requests that are present. With that, this is not a bug and can be closed.

I think however It should make sense to update the docs as the following is not valid anymore?https://github.com/tektoncd/pipeline/blob/f2e25cfc10449873fcb88ecd7df736435579b875/docs/tasks.md#L166-L174

[2021-11-03 11:31] vdemeester commented on #4347
Yes, we need to fix the docs (so.. I consider it as a "doc" bug 😛 )

[2021-11-03 12:12] marrober opened #4350 "More informative pipeline run status reporting"
### Feature request

At the moment when a pipeline run ends the status will either show 'Succeeded' or 'Failed'. It would be helpful if there was a third option such as 'Partially succeeded' for when tasks have been skipped.

### Use case

I have a number of pipelines that include a 'when' condition on the tasks to control their execution. In the case where a task is skipped due to the when condit

[2021-11-03 12:42] afrittoli commented on #4350
Thank you for your feature request @marrober.

Tekton does expose a slightly different condition when a `Task` is skipped - the reason will be set to "Completed" instead of "Succeeded" - see https://tekton.dev/docs/pipelines/pipelineruns/#monitoring-execution-status.

It conditional execution is somehow used to capture an error condition, then it's up to the author to make sure that the pipeline w

[2021-11-03 14:35] marrober commented on #4350
Thanks for the update - given that this requires a change to the OpenShift Console I will raise the issue there.

[2021-11-03 14:35] #4350 closed

[2021-11-03 15:39] lbernick commented on #4080
To summarize what previous commenters have said, and add a little more detail:
The reason variable replacement currently works on most string fields is because there is no validation on the strings, so "$(params.foo)" is a valid value for many Task fields. However, "$(params.foo)" isn't a valid resource quantity, and fails on the [ParseQuantity](https://github.com/tektoncd/pipeline/blob/f2e25cfc10

[2021-11-04 14:14] #4341 closed

[2021-11-04 17:27] RafaeLeal opened #4358 "Duplicated pod for a single TaskRun"
# Expected Behavior
To have a single pod for each TaskRun

# Actual Behavior
Two or more pods for a single TaskRun

# Steps to Reproduce the Problem

We are noticing that on our cluster, but we didn't manage to reliably reproduce it.
We noticed that happens when the task fails.

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version: v0.22.0

- Other info

I checked the logs f

[2021-11-04 17:43] wlynch commented on #4342
This is something I expected to work already, so I did some testing and I think this is a bug:

[code]

Output:

[code]

@mattmoor If `c` worked would that be sufficient? Or are there other reasons why you would want the resolution to be done in the entrypoint?

[2021-11-04 17:56] wlynch commented on #4342
Related, I realized we weren't documenting that variable replacements could be used in args, so created https://github.com/tektoncd/pipeline/pull/4359 to fix the docs

[2021-11-04 18:09] mattmoor commented on #4342
Sorry, to clarify I want this *within a TaskRun*.

I would have thought this possible through a PipelineRun already today, but that you'd probably have to thread the result into a param of the next task.

[2021-11-04 18:36] afrittoli commented on #4358
@RafaeLeal thank you for your bug report!

We discussed about the issue of duplicate `TaskRuns` at a recent API WG - see https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.jfxo8cbjfecz (search for duplicate).

A solution to the issue we would like to attempt is to generated unique but reproducible `TaskRun` names, so that any attempt to create a duplicat

[2021-11-04 18:42] RafaeLeal commented on #4358
I don't have access to this document right now.
But this case we are duplicating pods, not TaskRuns.. Since the relationship between pods and TaskRuns should be 1:1 we could even consider use the same name of the TaskRun instead of using some generated name, AFAIK. I'm not sure if we have some reason to use generated names.

[2021-11-04 19:19] afrittoli commented on #4358
That document are the meeting notes from the Tekton API Working Group. If you would like to access it, or any other meeting notes, you could join the [tekton-dev](https://groups.google.com/g/tekton-dev) or [tekton-users](https://groups.google.com/g/tekton-users) google groups.

I suppose the same issue (informer cache not updated) that may lead to duplicate `TaskRun` may also lead to duplicate `Po

[2021-11-04 19:22] RafaeLeal commented on #4358
This one thing caught my attention. We are ignoring NotFound errors when the TaskRun.Status.PodName is not empty, which makes the reconciler create a new pod (line 459 of the same file). Why do we need this? It seems to me that we could have duplicated pods if we have read-after-write inconsistency.
https://github.com/tektoncd/pipeline/blob/main/pkg/reconciler/taskrun/taskrun.go#L415-L416

[2021-11-04 19:24] RafaeLeal commented on #4358
Since we are calling the API, not using Listers, I think it might be a different problem.

[2021-11-05 19:58] lbernick commented on #2974
I was curious why we are not using a git lib like [go git](https://pkg.go.dev/github.com/go-git/go-git/v5@v5.4.2), so I looked into this today. I believe it would support the functionality needed in pipelines except for sparse checkout (https://github.com/go-git/go-git/issues/90).

[2021-11-06 02:09] hokadiri commented on #4143
/remove-lifecycle stale
Still needed please !

[2021-11-08 07:52] jonashackt commented on #685
@tuananh  I don't know if it's documented in the official docs, but I wrote an Q&A here https://stackoverflow.com/a/69880097/4964553

[2021-11-08 10:41] vdemeester commented on #4143
Hey @hokadiri,
I think this is possible if you use `tektoncd/triggers` and/or an external tool that would "generate" the `generateName` 😅 (cc @dibyom @savitaashture).

It is technically very difficult to *impossible* to have variable interpolation in the `metadata` part of our object as this is not something we control (it's the common part of all kubernetes objects). Variable interpolation is don

[2021-11-08 13:04] michaelsauter commented on #4235
Alright, one more attempt :) Any comment on this? Let me know if you need more info, or if I should bring this up in another place.

[2021-11-08 13:39] lbernick commented on #4326
/assign

[2021-11-08 14:17] vdemeester commented on #4235
@michaelsauter sorry 😓
So, as of today, your use case could be achieve by an early "in parallel" Task that provision the dependency you need, and a finally task that assure to bring it down, no matter the results, am I right ? Although, you might also want the option to be able to "parametrize" the task you run (in order to bring up and down a different dependency, depending on the paramater, righ

[2021-11-08 14:22] afrittoli commented on #4235
As per @michaelsauter comment:

I think this is a different use case. Sidecars would only live for the duration of a `Task`, but they would be specified at `Pipeline` level, to move the decision about which sidecars are needed from `Task` authoring time to `Pipeline` authoring time.

In my mind this would look like:

[code]

[2021-11-08 14:28] vdemeester commented on #4235
oh I see, thanks @afrittoli .. I didn't read it as such, but now I think I understand 😅

[2021-11-08 14:45] michaelsauter commented on #4235
@vdemeester @afrittoli Thanks for picking this up!

And yes, the example you are giving @afrittoli is exactly what I have in mind with this feature idea.

[2021-11-08 15:35] jsravn commented on #4326
I agree that it makes sense to do this generically at the TaskRun level. I think conceptually it makes sense to consider resources as an instance/run level attribute rather than that of the task.

[2021-11-08 16:20] briangleeson opened #4364 "Add support for TaskRef in Tekton bundles"
### Feature request

In tekton bundles (which is still in alpha), one cannot use `taskRef` in a bundled pipeline. This is the case if the referenced task is in the same file as the pipeline yaml (see use case 1), and also if the task is in a separate file within the same bundle (see use case 2).

When trying to create a pipelineRun that references the bundle, this error is encountered:

### Use ca

[2021-11-08 19:12] lbernick commented on #2974
/assign

[2021-11-08 22:18] lbernick commented on #4071
/assign lbernick
/assign jerop

[2021-11-08 22:18] jerop commented on #4071
/remove-lifecycle stale

@lbernick and I are looking into it

[2021-11-09 10:58] GudaboinaSuhas opened #4365 "Address is not allowed error occured while creating a task"
# Actual Behavior

```Error from server (InternalError): error when creating "hello.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post "https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=10s": Address is not allowed```

hello.yaml:
[code]
Installed using the following command:
```kubectl apply --filename https://storage.googleapis.c

[2021-11-09 12:32] snkshukla commented on #4365
We have the same error while creating any pipeline resource with tekton. We have tried versions 26.1 and 27.2. The webhook is reachable on the network. We have installed tekton via helm charts and this was installed via Jenkinsx git operator in turn(with helmfile).

[2021-11-09 17:50] dibyom commented on #4143
You can do this in Triggers for sure in a triggerTemplate:

[code]

[2021-11-09 19:45] pritidesai opened #4366 "restricting tekton.dev labels in metadata"
Tekton resources are automatically assigned certain labels including the ones with `tekton.dev`. The labels are created and propagated from one resource to another using this group name to signify the association and relationship between pipeline task, taskRun, pipeline, and pipelineRun . We should restrict possibility of overwriting those labels otherwise it could result in conflicting resources.

[2021-11-09 21:13] imjasonh commented on #3798
https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview

tl;dr: it should be much easier to test on GKE Autopilot >1.21 now.

[2021-11-09 21:55] bobcatfish commented on #3497
I'd still like to bring this forward at some point and decide how to address this as a community - maybe as part of v1 discussions? but it hasnt been a priority yet :(

/remove-lifecycle stale

[2021-11-10 19:27] pritidesai commented on #3126
Reopening as this is seen in recent releases 😞

PR #4361 must fix this issue 🤞

[2021-11-10 19:27] pritidesai commented on #3557
Reopening as this is seen in recent releases 😞

PR #4361 must fix this issue 🤞

[2021-11-11 11:49] afrittoli commented on #4334
@Siddhesh-Ghadi thank you for reporting this and offering a solution too.
The reason the version is pinned is to avoid random CI breakages caused by Skaffold changes.
If `v1.32.0` works well with `ppc64le` I guess it will work well with other arch's too, so updating it sounds like a very good idea.

Would you like to propose a PR to fix this, since you prepared a solution already?
Thank you!

[2021-11-11 11:52] Siddhesh-Ghadi commented on #4334
Sure. Will create a PR soon.

[2021-11-11 22:36] zhouhaibing089 commented on #2862
This probably isn't related with kubernetes primitives.

What we need is probably just a simple controller which looks at all the PVC(s), if it has an ownerReference which points to PipelineRun or TaskRun, and also the PipelineRun/TaskRun is in Completed/Failed phase, we can offer an option to delete this PVC.

[2021-11-11 22:36] zhouhaibing089 commented on #2862
/remove-lifecycle stale

[2021-11-12 04:50] medicharlachiranjeevi commented on #4365
Any fix for this issue ?

[2021-11-12 06:00] snkshukla commented on #4365
@medicharlachiranjeevi For us, the issue was that on EKS we were using Calico CNI instead of VPC CNI. We fixed this issue by changing the tekton webhook deployment on the host network, i.e. setting `hostNetwork: true` in the deployment. You can find more information about this issue here: https://medium.com/@denisstortisilva/kubernetes-eks-calico-and-custom-admission-webhooks-a2956b49bd0d

[2021-11-12 15:01] vdemeester commented on #3965
/lifecycle frozen

[2021-11-13 23:01] #3835 closed

[2021-11-13 23:01] #3845 closed

[2021-11-14 00:02] #3841 closed

[2021-11-14 00:02] #2019 closed

[2021-11-14 00:02] #3853 closed

[2021-11-14 00:11] renannprado commented on #3373
IMHO redacting secrets is important and has to be implemented.

/reopen

[2021-11-14 01:03] #3824 closed

[2021-11-14 01:03] #3651 closed

[2021-11-14 01:03] #3645 closed

[2021-11-14 01:03] #3666 closed

[2021-11-14 15:07] bygui86 commented on #3910
No news and even no comments on this... looks a bit weird...

[2021-11-14 15:07] bygui86 commented on #3910
/remove-lifecycle rotten

[2021-11-15 07:52] jeffmaury commented on #742
/remove-lifecycle rotten

[2021-11-15 08:58] vdemeester commented on #3647
/remove-lifecycle rotten

[2021-11-15 09:01] vdemeester commented on #4055
/remove-lifecycle rotten

[2021-11-15 10:42] #3997 closed

[2021-11-15 13:00] SaschaSchwarze0 opened #4373 "Extend breakout logic in stopSidecars"
### Feature request

This is a follow-on issue to [this slack thread](https://tektoncd.slack.com/archives/CK3HBG7CM/p1636965530045300?thread_ts=1636722092.041100&cid=CK3HBG7CM) and pull request [Breakout sidecar stopping if TaskSpec has no sidecar #4372](https://github.com/tektoncd/pipeline/pull/4372). The pull request only optimizes for TaskRuns that have no sidecar in their TaskSpec. There is po

[2021-11-15 14:14] imjasonh commented on #4373
The logic to stop sidecars is here: https://github.com/tektoncd/pipeline/blob/26176ce931b98ea22d3260be23d07dc117112509/pkg/pod/entrypoint.go#L224

It should be fairly simple to have a check that at least one of the `tr.Status.Sidecar` elements has a `Running` element (indicating that it's still running and needs to be stopped). A subsequent problem is that `stopSidecars` returns the `pod`

https:/

[2021-11-15 14:39] sbwsg commented on #3943
/assign

[2021-11-15 15:25] jerop commented on #3862
moved it to milestone for v0.31

[2021-11-15 20:19] jerop commented on #4303
@rcerven does this mean that the taskrun will not timeout, or is it stuck until timeout?

[2021-11-15 20:28] jerop commented on #4047
@tylerstanczak @chenbh looks like this was fixed in https://github.com/tektoncd/pipeline/pull/4233

(feel free to reopen if not)

[2021-11-15 20:28] #4047 closed

[2021-11-15 20:33] sbwsg commented on #2813
During triage: how do we reproduce this to confirm if it's been fixed or not?

[2021-11-15 20:35] jerop commented on #4159
@mcpomm thanks for update and glad to hear it's fixed 🎉

[2021-11-15 20:35] #4159 closed

[2021-11-15 20:40] jerop commented on #4116
/assign @lbernick

thank you!

[2021-11-15 20:40] lbernick commented on #4116
/assign

[2021-11-15 20:43] jerop commented on #3171
@ywluogg are you still looking into this?

@vdemeester looks like this issue would be addressed by [TEP-0073: Simplify metrics](https://github.com/tektoncd/community/blob/main/teps/0073-simplify-metrics.md#references-optional), right?

[2021-11-15 20:56] jerop commented on #4066
/assign @sbwsg
/remove-lifecycle stale

thanks @sbwsg!

[2021-11-15 21:36] ywluogg commented on #3171
Hi jerop@ I'm not looking into this anymore. Please unassign me. Thanks!

[2021-11-15 22:08] jerop commented on #4344
/assign

[2021-11-15 22:15] jerop commented on #3705
/lifecycle frozen

we still need to do this to help users migrate off pipelineresources

[2021-11-15 22:25] jerop opened #4375 "Replace `PipelineResources` in examples and documentation"
Today, some [examples](https://github.com/tektoncd/pipeline/tree/main/examples) and references in documentation use `PipelineResources`. However, we recently deprecated `PipelineResources`. For more information about the deprecation, see [TEP-0074](https://github.com/tektoncd/community/blob/main/teps/0074-deprecate-pipelineresources.md).

We need to update the examples and references in documentat

[2021-11-16 08:10] vdemeester commented on #4375
Few things.

1. the TEP is in `proposed` state. To be fully "deprecated" we need to have a release that state they are deprecated with a timeline ?
2. The examples are.. not really example as they are used for testing purpose. In that case, as long as the feature is in the code, it needs to be tested. We should probably separate examples (for documentation purposes) from test data in yaml 👼🏼

Othe

[2021-11-16 14:49] rcerven commented on #4303
how long is the timeout? I was waiting just for few minutes

[2021-11-16 16:37] jerop commented on #4064
@hidehitof and @kobaji are actively working on this in https://github.com/tektoncd/pipeline/pull/4093 -- thank you 😀

/assign @hidehitof
/assign @kobaji

/remove-lifecycle rotten

[2021-11-16 18:44] baileyn opened #4377 "Task Image Caching"
Hello,

We use Tekton for our CICD pipelines, and we ran in to a strange issue today. When we executed our pipeline, the TaskRun that came up was using an `ImageID` that didn't match any tag that was in our Azure Container Registry. The sha was actually later found to be an image that was uploaded yesterday.

Is there a way we can enforce the TaskRun's to always use the latest version of whatever

[2021-11-16 19:30] imjasonh commented on #4377
You should be able to configure `imagePullPolicy` in the step container spec to accomplish this:

[code]

The defaulting behavior for `imagePullPolicy` is a bit confusing, depending on whether the image tag is `:latest`: https://kubernetes.io/docs/concepts/containers/images/#imagepullpolicy-defaulting

[2021-11-16 19:34] baileyn commented on #4377
Ah okay! I think that is exactly what it is. This is the first time we moved from `latest` to a different tag so I bet that's what happened. Thanks!

[2021-11-16 19:46] #4377 closed

[2021-11-16 20:01] wlynch commented on #4303
By default PipelineRuns timeout after 60 min - https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#configuring-a-failure-timeout. The default value can be modified in [`config-defaults`](https://github.com/tektoncd/pipeline/blob/46d332c2aedef45a0c4b4d3d30f2f44cbb071709/config/config-defaults.yaml#L42).

[2021-11-16 22:11] jerop commented on #4148
here's another example of this issue in our integration testing: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4361/pull-tekton-pipeline-alpha-integration-tests/1460716404159287297/

[2021-11-16 22:20] #4344 closed

[2021-11-17 09:16] chmouel commented on #4107
Hello @walkline, having the credsStore kept is the first part of the problem, right? having a way to pass a credentials helper binary/script is the other part of the issue?

[2021-11-17 12:22] #4358 closed

[2021-11-17 16:08] sbwsg commented on #4066
Hey @leo1515416043 thanks for the issue report. I'm going to describe what's happening here. For context, I'm running on the latest Tekton Pipelines from source.

What you are seeing is expected behaviour: when an owned TaskRun is deleted mid-execution the PipelineRun reconciler does not know that a deletion happened. Instead the only thing that the PipelineRun reconciler knows is that the TaskRun

[2021-11-17 17:57] lbernick commented on #2992
This error also appeared in pkg/reconciler/events TestEmit (while it's a different test case, it's a similar error and also related to reconciling cloud events so the underlying cause may be the same). This was on the documentation PR #4379.
This test logged
[code]

[2021-11-17 18:00] sbwsg commented on #4066
Here's also the PipelineRun I used to test this behaviour:

[code]

So I created this using `kubectl apply -f ./test.yaml` and then opened a new terminal and started watching PipelineRuns with `kubectl get pipelineruns -w`.  Then I deleted the taskrun with `kubectl delete taskrun test-foo-task`.  On a slightly older version of Pipelines I issued `kubectl delete taskrun test-foo-task-<random-string

[2021-11-17 18:08] bitsofinfo commented on #3468
/remove-lifecycle stale

[2021-11-17 21:02] sbwsg commented on #2977
/lifecycle frozen

At the very least we should assess whether this is feasible and definitively document yes/no, rather than let it atrophy.

[2021-11-17 21:03] sbwsg commented on #2977
/assign

[2021-11-17 21:56] grunlab commented on #4059
tekton images for arm32v7 arch still not yet available when writing this comment.
I gave up and migrated all my pipelines to gitlab-runner.

[2021-11-18 01:33] hudac commented on #2707
Issue still exists in Tekton v0.29.0:
[code]

Fails with:
`  Warning  Failed   11s (x2 over 11s)  TaskRun  failed to create task run pod "test-task-s6847": translating TaskSpec to Pod: error getting image manifest: GET https://123456789.dkr.ecr.some-region.amazonaws.com/v2/some/image/manifests/1.2: unexpected status code 401 Unauthorized: Not Authorized`

**Workaround:**
It works when you provide

[2021-11-18 10:50] afrittoli commented on #4381
[ ] v0.22: https://github.com/tektoncd/pipeline/pull/4382
[ ] v0.23:
[ ] v0.24:
[ ] v0.25:

[2021-11-18 13:03] sbwsg commented on #2656
/reopen

There was an instance of this failing in https://github.com/tektoncd/pipeline/pull/4380

[2021-11-18 13:03] sbwsg commented on #2656
/remove-lifecycle rotten

[2021-11-18 13:04] sbwsg commented on #2656
Copy/pasting my notes from #4380:

Here's a [permanent link to the failed test run output](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4380/pull-tekton-pipeline-alpha-integration-tests/1461082316183965697/).

Failed Test: `test/v1alpha1 TestSidecarTaskSupport/A_sidecar_that_runs_forever_is_terminated_when_Steps_complete`

Ran for `10m12s` according to the t

[2021-11-18 14:15] sbwsg commented on #2656
I looked up [the logs from the test runner](https://console.cloud.google.com/logs/viewer?project=tekton-releases&minLogLevel=0&expandAll=false&timestamp=2021-11-18T13:49:27.317000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2021-11-17T21:39:22.619Z&dateRangeEnd=2021-11-17T21:45:22.000Z&interval=CUSTOM&resource=k8s_container%2Fcluster_name%2Fprow&scrollTimestamp=2021-11-17T21:44:32.

[2021-11-18 14:50] imjasonh commented on #4059
I'm sorry to hear that.

FWIW, [the fix](https://github.com/tektoncd/pipeline/pull/4331) was submitted within a day of your last comment, and arm32v7 images should be available in nightly builds today. They'll be included in the next released version of Tekton, which I believe is scheduled within the next few days.

[2021-11-18 16:24] lbernick commented on #2992
@sbwsg and I looked into this and discovered that both the pipelinerun reconciler tests and the event tests are using functions that verify events from channels are received in a particular order. These tests should be updated to use the `eventFromChannelUnordered` helper that is currently being used for the TaskRun reconciler tests. However, this won't address the flakes in https://github.com/tek

[2021-11-18 17:34] jerop commented on #4059
@grunlab it's now available in https://github.com/tektoncd/pipeline/releases/tag/v0.30.0

[2021-11-18 17:39] imjasonh commented on #4059
Hmm, I actually don't see it in the released image:

[code]

Investigating...

[2021-11-18 17:40] imjasonh commented on #4059
It is present in the latest nightly release however:

[code]

[2021-11-19 11:57] lstocchi opened #4388 "Params copied in all steps in saved pipeline in alpha mode on Openshift with tekton 0.29+"
# Expected Behavior

Save my pipeline as it is

# Actual Behavior

It's like params are being copied in all steps.

original pipeline -> https://gist.github.com/lstocchi/f7dc7aa051489001d76456493cdc6b73
saved pipeline (look at params in each step) -> https://gist.github.com/lstocchi/e9e7090c9eac6d329fcf80405f10f09e

# Steps to Reproduce the Problem

1. have a cluster with tekton v. 0.29 +
2. enabl

[2021-11-19 16:58] lbernick commented on #4116
I think we'll do this as a short term fix. Hopefully the issue will be resolved upstream as well in the linked issue.

[2021-11-20 20:41] ludydoo opened #4389 "Webhook is extremely noisy"
# Expected Behavior

tekton-pipeline-webhook to not be called for every config map update in the cluster

# Actual Behavior

every time there is a leader election in any namespace, the tekton-pipeline-webhook gets called, since it configures the validatingwebhookconfiguration (`config.webhook.pipeline.tekton.dev`) to trigger the webhook for ALL configmaps in ALL namespaces.

# Steps to Reproduce t

[2021-11-22 16:55] vdemeester commented on #4389
/cc @mattmoor

[2021-11-22 19:00] mattmoor commented on #4389
In knative upstream we limit to configmaps in Knative namespaces with this `namespaceSelector`:
https://github.com/knative/serving/blob/cd175b5d376027f659ce13960e79470878f59ba1/config/core/webhooks/configmap-validation.yaml#L33-L36

It looks like Tekton is making use of an `objectSelector` here: https://github.com/tektoncd/pipeline/blob/123c78a33857f79e95a93b628aadde9aab60b7d2/config/500-webhooks.

[2021-11-22 19:20] ludydoo commented on #4389
My guess is that the webhook component updates the validating/mutating webhooks, it requires update permission on mutate/validate hooks in its clusterrolebinding… perhaps it’s not updating it correctly (not keeping the object selector)?

[2021-11-22 19:43] mattmoor commented on #4389
@ludydoo you are probably right.  The logic to preserve `namespaceSelector` may blow away the `objectSelector`.

[2021-11-22 20:15] jerop commented on #4388
@wlynch I believe this is related to implicit parameters

[2021-11-22 20:26] wlynch commented on #4388
/assign wlynch

[2021-11-23 16:01] vdemeester commented on #4389
The `objectSelector` matches all objects that have `app.kubernetes.io/part-of: tekton-pipelines` label right ? If that the case (aka if we don't "filter" configmaps), this can be anything shipped my tektoncd/pipeline, the deployment, service, pods. That might be *why* it gets very spammy ?

/cc @imjasonh @afrittoli

[2021-11-23 18:25] imjasonh commented on #4389
The initial report says it was spamming logs for ConfigMap changes, "for ALL configmaps in ALL namespaces." -- but _only_ for ConfigMaps, seemingly. I'm trying this now to see if I can reproduce.

[2021-11-23 18:32] imjasonh commented on #4389
@ludydoo what version of Tekton are you using? I'm not able to reproduce this with the latest release ([v0.30.0](https://github.com/tektoncd/pipeline/releases/tag/v0.30.0)) installed.

FWIW I'm also not seeing the `namespaceSelector` getting set, or the `objectSelector` being unset, as part of webhook reconciliation:

[code]

[2021-11-24 02:48] reckless-huang opened #4394 "I have a very curious question, why tekton names tekton，What's the meaning"

[2021-11-24 02:49] reckless-huang commented on #4394
I look forward to hearing from you soon

[2021-11-24 07:39] #3849 closed

[2021-11-24 09:58] #4394 closed

[2021-11-24 12:29] afrittoli commented on #3126
This should be fixed by https://github.com/tektoncd/pipeline/pull/4361 which will make any attempt to create a new taskrun fail.

[2021-11-24 12:29] #3126 closed

[2021-11-24 16:31] vdemeester commented on #4190
/lifecycle frozen
There is a TEP around this.

[2021-11-24 18:00] afrittoli commented on #4381
This is now fixed. It will take a nightly sync to get the latest version live.

[2021-11-24 18:07] afrittoli commented on #4381
I triggered it manually - fixes are live!
https://tekton.dev/vault/pipelines-v0.25.0/metrics/

[2021-11-24 18:07] #4381 closed

[2021-11-24 18:25] wlynch commented on #4388
Hi - Thanks for the feedback!

This is intentional behavior, but by no means final (which is why it's behind the alpha flag). https://github.com/tektoncd/community/blob/main/teps/0023-implicit-mapping.md is the proposal describing the feature. The parameter copying was intended to make it clear how the params are made available to the underlying steps. Documentation can be found here: https://gith

[2021-11-25 14:44] lstocchi commented on #4388
Hi @wlynch,

I wasn't aware of this feature, sorry. I works on the IJ tekton plugin and we usually don't cover alpha stuff but we made an exception for the taskrun debug which, from an IDE perspective, is a must-have. This is how I faced this behavior.

In my case, the pipeline couldn't get started because two params with the same name were in the same task.
`revision` line 45 -> https://gist.gith

[2021-11-25 20:22] bobcatfish commented on #3255
Still happening I promise! 🙏

/remove-lifecycle stale

[2021-11-25 22:37] ludydoo commented on #4389
@imjasonh hmm this is strange, I'll have a double check to make sure that I didn't just plainly remove it for some reason..

[2021-11-26 09:36] gmeghnag opened #4397 "`tekton_pipelines_controller_pipelinerun_count` metric counter increases without having any pipeline executed"
# Expected Behavior
To have the `tekton_pipelines_controller_pipelinerun_count` metric counter increased only when new pipelines are executed.
# Actual Behavior
After a few hours the counter is increased without having any pipelines executed.
# Steps to Reproduce the Problem on OpenShift

1. Run at least one pipeline in the cluster
2. Expose the metrics endpoint:
[code]
3. Check the counter value:

[2021-11-26 09:51] guillaumerose opened #4398 "Filtered Informer is not configured fully. Too many pods are in the informer."
# Expected Behavior

The informer should have only pods with label `app.kubernetes.io/managed-by=tekton-pipelines` or the value of the config `default-managed-by-label-value`

https://github.com/tektoncd/pipeline/blob/main/config/config-defaults.yaml#L52

# Actual Behavior

The informer has too many pods in his memory.

# Steps to Reproduce the Problem

1. Modify the code of the pipeline controlle

[2021-11-26 11:28] vdemeester commented on #4398
One of the comment in the `config-defaults` for this is:
[code]

This is most likely why we are looking at *all* `app.kubernetes.io/managed-by` pods, because users could overwrite it in there task/taskrun to integrate it with their tooling.
Allowing this or not can be discussed (and is a bit linked to #4366) but as it's currently allowed, I don't see a straightforward way to *fix* this 🙃 . At leas

[2021-11-26 11:45] gmeghnag commented on #4397
`DurationAndCount` method:
https://github.com/tektoncd/pipeline/blob/release-v0.22.x/pkg/reconciler/pipelinerun/metrics.go#L126-L164

Where is Invoked:
https://github.com/tektoncd/pipeline/blob/release-v0.22.x/pkg/reconciler/pipelinerun/pipelinerun.go#L199-L206

[2021-11-27 17:33] justpolidor commented on #3704
I had the same issue and at the end I was forced to optin in for a NFS backed workspace.
My pipeline is like this (it makes use of Tekton Triggers)
![pipeline_overview](https://user-images.githubusercontent.com/15170812/143690849-3a2ee600-3e0e-4e63-8239-348b2bdd58c1.png)
In this way I don't have the overhead of provisioning a pvc for each task since the volume is always the same.
I will wait for t

[2021-11-29 09:53] guillaumerose commented on #4397
Yes I confirm this behaviour.

If I install Tekton with a resyncPeriod of the controller = 10 seconds, then when I create a single pipeline, every 10s, the counter `tekton_pipelines_controller_pipelinerun_count{status="success"} ` is increased by 1.

Looking at the code, it shows also the duration histogram is incorrect. Older pipelines are counted many more times than younger pipelines.

The bug

[2021-11-29 12:54] waveywaves commented on #4224
/assign

[2021-11-29 14:11] sbwsg commented on #4398
Can we limit the lister to the default label and fork the logic so that a TaskRun with its own managed-by label causes us to skip the lister and query the cluster directly?

[2021-11-29 15:18] vdemeester commented on #4398
That might be problematic if pipeline is used "transparently" by some higher level tool. Assuming that I have a tool called foo that always setup this `managed-by` label, this would make the controller query the cluster a lot and could become a problem. That said, I do think we may want to have / introduce a label for us that cannot be overriden for this particular purpose. Either we disallow over

[2021-11-29 15:33] imjasonh commented on #4398
Can we have two labels, one for Tekton's internal usage, and one for whatever service is built on top of Tekton that might want to hide the Tekton internals (configured by configmap as today)? Then we could have the informer filter by the Tekton-internal label.

Maybe we could use `app.kubernetes.io/created-by: tekton-pipeline-controller`? (see [common labels](https://kubernetes.io/docs/concepts/o

[2021-11-29 17:55] vdemeester commented on #4398
Yes, that was what I was thinking too in my last comment. And I missed `app.kubernetes.io/created-by` label somehow, but I think it's definitely a very good candidate for it. The only thing we need to make sure is to disallow (or prevent) this label to be overriden by the user (by adding it to the `TaskRun` or `PipelineRun` object), either silently or loudly 👼🏼

[2021-11-29 20:09] dibyom commented on #2933
/assign @lbernick

[2021-11-29 20:10] lbernick commented on #2933
/assign

[2021-11-29 20:19] dibyom commented on #4220
/cc @sbwsg

[2021-11-29 20:22] sbwsg commented on #4199
Hey @leandrodamascena please feel free to reopen this issue if you're able to debug further per the comments from @lbernick above and these don't resolve your problem. Cheers!

/close

[2021-11-29 20:22] #4199 closed

[2021-11-29 20:29] dibyom commented on #4248
/close

Looks like the docs have been fixed

[2021-11-29 20:29] #4248 closed

[2021-11-29 20:36] bobcatfish commented on #4137
Hey @peteyako ! Apologies for the delayed response, quick question, could you verify that you see the permissions you expect if you mount the same volume into a pod (i.e. remove Tekton from the equation completely)?

Seeing if the permissions are any different with a plain old pod might give us a signal about whether or not this is something Tekton is doing or something outside of our control.

(

[2021-11-29 21:04] jerop opened #4399 "API rule violations in Pipeline types"
# Expected Behavior

Pipelines should have 0 API violations

# Actual Behavior

Running openapi-gen results in the following API violations:

[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

Similar violations were found in Triggers: https://github.com/tektoncd/triggers/issues/1271

[2021-11-29 21:05] jerop commented on #3548
consider if we need to tackle https://github.com/tektoncd/pipeline/issues/4399 before v1

[2021-11-30 08:12] guillaumerose commented on #4398
That sounds to be a good idea. I am wondering how it works for the upgrade 🤔

If a pipeline is done before the upgrade, it's fine.
If a pipeline is running, eg. pods don't have correct labels, after upgrade, the controller won't see them because of the new filter.

Am I correct? Do we need to roll this new label across multiples releases?

[2021-11-30 13:21] vdemeester commented on #4398
Good question, we will need to be careful here on how we handle this, but yes we'll have to think of backward compatibility.

[2021-11-30 13:30] vdemeester commented on #4137
👋🏼 @peteyako,

Is tekton deployed using OpenShift Pipelines ? What version of OpenShift is it running on ?
OpenShift may do some work before attaching PVC to pods, and I am not clear if that's something that happens here or not.

[2021-11-30 17:44] sbwsg commented on #4105
/remove-lifecycle rotten

/lifecycle frozen

[2021-11-30 17:48] sbwsg commented on #4105
/label help-wanted

It sounds like the really tricky bit here is that we don't have support for adding annotations / metadata from a PipelineRun's PipelineTask taskRefs. But we do support this for PipelineTask taskSpec.

[2021-11-30 17:49] sbwsg commented on #4105
Another use-case here would be for when you want to add annotations to specific PipelineTasks in a PipelineRun that map to functionality on a per-Task basis.

[2021-11-30 17:58] bobcatfish commented on #4375
Just freezing this in advance b/c we need to do this even if it goes stale:

/lifecycle frozen

[2021-11-30 17:59] sbwsg commented on #3631
/label help-wanted

/label good-first-issue

[2021-11-30 18:00] sbwsg commented on #3631
/add-label help-wanted

/add-label good-first-issue

[2021-11-30 18:14] sbwsg commented on #4112
Looks like the replacement feature in Kubernetes will be called ["PodSecurity Admission"](https://github.com/kubernetes/enhancements/issues/2579). Released as alpha in 1.22

[2021-11-30 18:15] sbwsg commented on #4097
/lifecycle frozen

Adding frozen lifecycle given its relevance to the [array results & indexing TEP](https://github.com/tektoncd/community/pull/477).

[2021-11-30 18:18] sbwsg commented on #3631
/help

/good-first-issue

[2021-12-02 13:57] imjasonh commented on #4339
Is there some reason you can make the mirrored Tekton images available for unauthenticated users within the internal registry? That might be easier than plumbing through `imagePullSecrets` to access otherwise publicly-available, non-sensitive Tekton images that happen to have been mirrored into the internal registry.

If that's not possible (e.g., due to limitations in the internal registry, or br

[2021-12-02 14:00] imjasonh commented on #4339
I think it might be confusing to conflate the `default-pod-template` that gets applied to workload pods and the configuration of Affinity Assistant pods. I might prefer to have a separate `affinity-assistant-pod-template` config option, to separate these configs.

This also lets us be more diligent about which PodTemplate fields we support in `default-pod-template` vs for Affinity Assistant. AFAIK

[2021-12-02 23:42] nikhil-thomas commented on #1542
@vince-franco
That makes a lot of sense. 🧑‍💻 👍

At present, 2 ways to install Tektoncd/operator are:

- kubectl apply <githhub relese.yaml>
- from operatorhub.io (for this a user will have to install [OperatorLifecycleManager](https://github.com/operator-framework/operator-lifecycle-manager) on a cluster first)

I think providing a helm chart for operator will be an improvement compared to the ava

[2021-12-02 23:43] nikhil-thomas commented on #1542
/remove-lifecycle stale

[2021-12-02 23:46] nikhil-thomas commented on #1542
https://github.com/tektoncd/operator/issues/543

[2021-12-03 00:55] ipirva opened #4403 "error: no kind "PipelineRun" is registered for version "tekton.dev/v1beta1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28""
# Expected Behavior
I am using Pipeline v0.30.0, Triggers 0.17.1
PipelineRun registered for version "tekton.dev/v1beta1"
# Actual Behavior
[code]
# Steps to Reproduce the Problem

GitHub calls a webhook on Tekton and a pipeline is running.

`apiVersion: triggers.tekton.dev/v1beta1
kind: TriggerTemplate
metadata:
  name: github-trigger-template
  namespace: tekton-pipelines
spec:
  params:
  - desc

[2021-12-03 04:30] kunyan commented on #1814
This issue should not be closed !

Mount a file , expectably mount a certificate is really important for the people who is using self-signed certificate git server, maven mirror, npm mirror and images registry

[2021-12-03 16:23] lbernick opened #4404 "Refactor reconciler events package to separate events and cloudevents"
The /pkg/reconciler/events package is [responsible](https://github.com/tektoncd/pipeline/blob/07adee706154ce7b79045dd109f1382e997b3163/pkg/reconciler/events/event.go#L45-L49) for functionality related to events and functionality related to cloudevents. However, there is a separate cloudevents sub-package in the events package, which contains test code for both cloudevents and [events](https://gith

[2021-12-03 16:27] vdemeester commented on #4404
cc @afrittoli
One of the goal here is to extract the cloudevent functionnality outside of pipeline, see [here](https://github.com/tektoncd/experimental/tree/main/cloudevents)

[2021-12-03 17:56] ipirva commented on #4403
I installed the tekton components as such:
`kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.30.0/release.yaml -f https://storage.googleapis.com/tekton-releases/triggers/previous/v0.17.1/release.yaml -f https://storage.googleapis.com/tekton-releases/triggers/previous/v0.17.1/interceptors.yaml`
I could try the installation on a fresh GKE cluster. I ran into the s

[2021-12-03 18:52] ipirva commented on #4403
I have just tried to run a TaskRun - I experience the same error:
`❯ kubectl logs taskrun/build-docker-image-from-git-source-productcatalogservice-t9xmnl -n tekton-pipelines
error: no kind "TaskRun" is registered for version "tekton.dev/v1beta1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28"`

[2021-12-03 21:10] #4403 closed

[2021-12-03 21:11] ipirva commented on #4403
It seems to have been caused by a mistake in one of the secrets I am using.

[2021-12-05 23:33] nikhil-thomas commented on #4214
/remove-lifecycle stale

this improvement  still relevant.

[2021-12-05 23:36] nikhil-thomas commented on #4214
@naveensrinivasan Hi, are you working on this at present 🧑‍💻 🧰
if yes, 💯 👍
if no, could you add a `help-wanted` label to this issue (also `good-first-issue`)

[2021-12-05 23:39] nikhil-thomas commented on #1814
👍
/reopen

[2021-12-05 23:39] nikhil-thomas commented on #1814
cc @vdemeester

[2021-12-05 23:41] nikhil-thomas commented on #1814
@waveywaves Hi, are you active on this issue at present. 😇 🧑‍💻
if yes, 🏄 🧑‍💻 👍
if no, could you add a `help-wanted` label 🙂

[2021-12-06 01:17] naveensrinivasan commented on #4214
I apologize I am not working on this.

[2021-12-06 05:39] vinamra28 commented on #3925
@bharathvenkatrajan can we close this issue if it's resolved?

[2021-12-06 06:03] bharathvenkatrajan commented on #3925
@vinamra28 sure thanks!

[2021-12-06 06:13] vinamra28 commented on #3925
/close

[2021-12-06 06:13] #3925 closed

[2021-12-06 08:48] nikhil-thomas commented on #4214
no problem 🧑‍💻
do you mind if we open this for others who might be interested in working on this.

[2021-12-06 13:19] naveensrinivasan commented on #4214
Please do.

[2021-12-06 23:59] nikhil-thomas commented on #4214
Thank you @naveensrinivasan

@vdemeester @bobcatfish 👆

[2021-12-07 18:03] vdemeester commented on #4403
Hey @ipirva,
this actually comes from the fact, given the command you wrote, because you are trying to run `kubectl logs` on Tekton objects. This is not supported, we cannot add a `log` sub-resource on CRDs (yet ?) in kubernetes, hence the command failing.

[2021-12-07 20:41] chenbh commented on #4339
Unfortunately this is the case. Technically this can be solved by attaching the imagePullSecret to the ServiceAccount, but we're operating in an environment with a clear distinction between users (i.e. Pipeline/Task authors) and cluster operators (i.e. ability to configure/deploy Tekton) and I would prefer this functionality to be the responsibilities of the operators.

Personally, I consider the

[2021-12-07 21:02] imjasonh commented on #4339
I definitely agree. I'd say the existence and configuration of AA is an operator's concern and not a user's, and in general a user of Tekton on the cluster shouldn't have to care at all about the default ConfigMap, etc.

It sounds like we have a good path forward with adding `affinity-assistant-pod-template` which supports only `imagePullSecrets` for now, and we can add more when/if/however we nee

[2021-12-08 17:46] #3873 closed

[2021-12-08 20:11] HildaHay opened #4408 "Have `taskSpec` fields in pipeline resources inherit parameters and workspaces from the pipeline"
If you want to use a pipeline parameter/workspace within a `taskSpec` block inside that pipeline, it's necessary to declare a parameter/workspace name within the `taskSpec` block and then bind the pipeline's parameter/workspace to it. This is consistent with how `taskRef` works, but is counter-intuitive since it's easy to expect that the `taskRef` shares the context of the pipeline it's declared i

[2021-12-09 12:33] khrm opened #4409 "Finally task not executed when tasks define "retries""
# Expected Behavior
Final tasks are always executed

# Actual Behavior
In a pipeline with two parallel tasks where both fail and one of them has "retries=2", final tasks are never executed. Pipeline fails later because of timeout.

# Steps to Reproduce the Problem

1. Create Task:
[code]

2. Create Pipeline

[code]

3. Create pipelinerun

[code]

# Additional Info
This pipeline works as expected w

[2021-12-09 13:54] shokohsc commented on #3655
Hello, i'm still having this issue as of
gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/controller:v0.29.0@sha256:72f79471f06d096cc53e51385017c9f0f7edbc87379bf415f99d4bd11cf7bc2b
installed from tektoncd/operator and only when the task's step args key is defined, if I add the command key too, it goes flawlessly.

Relates to:
- https://github.com/tektoncd/pipeline/issues/2707
- https://gith

[2021-12-09 14:41] imjasonh commented on #3655
If the image is private and requires credentials, those credentials must be available to the `tekton-pipelines-controller` SA (the SA that runs the Tekton controller) as an `imagePullSecret`. The Tekton controller uses this to get image metadata to determine what command to run when a step starts, which it only needs to do when the step spec doesn't explicitly specify it.

[2021-12-09 16:00] ingramvyn commented on #2616
work for me with image from mgit/base:kaniko-executor-debug-stable

[2021-12-09 16:02] viyancs commented on #2616
work for me , and tested with image from mgit/base:kaniko-executor-debug-stable

[2021-12-09 16:55] shokohsc commented on #3655
I'm having the same error after adding imagePullSecret to `tekton-pipelines-controller` service account. Guess I'll need to define every command from now on.

[2021-12-09 19:48] adambkaplan opened #4412 "Tekton Pipelines v0.30.0 requires k8s 1.20 as its minimum version"
# Expected Behavior

Tekton pipelines should be able to run on k8s 1.19, per the current installation guidance.

# Actual Behavior

The pipelines controller reports an error that it does not support k8s 1.19.

# Steps to Reproduce the Problem

1. Install Tekton Pipelines on a k8s 1.19 cluster
2. View the logs of the pipelines controller

# Additional Info

- Kubernetes version: 1.19.x

- Tekton Pi

[2021-12-09 19:51] adambkaplan commented on #4412
Note that k8s 1.19 is no longer supported by the upstream Kubernetes community - updating relevant documentation to require k8s 1.20 would make the most sense in my opinion.

FYI @nikhil-thomas this perhaps will have an impact on the Tekton operator as well.

[2021-12-09 20:18] chenbh commented on #4339
The current implementation also supports `nodeSelector` and `tolerations`, just confirming that we shouldn't remove that functionality.

This should also mean creating a new PipelineRun.spec.affinityAssistantPodTemplate field as well right? Since the current PipelineRun podTemplate functionality will be split into 2 separate fields, would that be considered a backwards incompatible API change?

[2021-12-09 20:52] jerop commented on #4412
@adambkaplan thank you for the issue report!

updated both the release notes and documentation
- release: https://github.com/tektoncd/pipeline/releases/tag/v0.30.0
- documentation: https://github.com/tektoncd/pipeline/pull/4414

[2021-12-09 20:54] jerop commented on #4409
@khrm thank you for the issue report!

in case you haven't seen it, we have a related issue about retries, timeouts and finally tasks in https://github.com/tektoncd/pipeline/issues/4071

will take a closer look at your issue soon

/assign

[2021-12-09 21:22] pritidesai commented on #4409
Thanks @jerop 🙏 There could be an issue with retries rather than scheduling. The controller logs says one task failed but two are incomplete (one dag and one finally) before timing out even though both the dag tasks are done:

[code]

[2021-12-09 22:41] #4412 closed

[2021-12-10 06:45] pritidesai opened #4415 "Flake - TestExamples/v1alpha1/pipelineruns/output-pipelinerun"
Noticed a flake recently as part of the PR #4413:

[code]

More details: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4413/pull-tekton-pipeline-integration-tests/1469075106914373634/

Build logs: https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/4413/pull-tekton-pipeline-integration-tests/1469075106914373634/build-log.txt

/kind flake

[2021-12-10 07:26] pritidesai commented on #4409
There is something weird going on with retries. The last retry is not attempted when a `retry` is set for one of the two pipelinetasks (test1) while works fine if `retry` is set for both the pipelinetasks (test1 and test2).

[code]

[2021-12-10 09:13] michaelsauter commented on #4235
We just hit this use case yesterday again. Any update on whether this is feasible and desired?

I'd be happy to take a stab at this but would need some pointers where to start :)

[2021-12-10 09:31] khrm commented on #4409
@pritidesai That retry isn't being attempted because one of the tasks failed. You can remove the finally section in the pipeline and run the pipelinrun.  You will notice that pipelinerun will come to pipeline stopping state.

[2021-12-10 13:33] waveywaves commented on #4224
I am testing this by building pipeline from the latest commit on `main` and I see the following

- everything seems in order with the mounts  /tekton/debug and /tekton/scripts mounts. I do not see missing mounts with or without debug (have alpha feature flag enabled during both tests)
- tools is replaced with run now (new to me)
- /tekton/debug/scripts/debug-continue and /tekton/debug/scripts/debu

[2021-12-10 17:06] pritidesai commented on #4409
@khrm in the test case we have here, `test1` and `test2` both should be scheduled at the same time. `test1` must not be declared failure unless it finishes all the retries.

I did remove `finally` section and the run is going in `stopping` state without attempting the last retry. The `stopping` state means that the currently executing tasks are allowed to execute and finish and no new tasks are sc

[2021-12-10 19:35] #3557 closed

[2021-12-13 00:28] nikhil-thomas commented on #4235
@michaelsauter May be a custom mutating webhook is what this case needs. For example, in tektoncd/operator we have a webhook which injects some environment variables into TaskRun Pods.

- https://github.com/tektoncd/operator/blob/main/docs/Proxy.md#proxy-support
- https://github.com/tektoncd/operator/blob/main/cmd/openshift/proxy-webhook/main.go

In short, a quick way to improve this situation mig

[2021-12-13 03:30] #3844 closed

[2021-12-13 08:13] ycyxuehan opened #4417 "not compact go1.17 and k8s.io/api v0.23.0"
kubernetes: v1.23.0
go：1.17.5
go mod:

go 1.17
replace sigs.k8s.io/controller-runtime v0.10.4 => /root/go/pkg/mod/sigs.k8s.io/controller-runtime
require (
	github.com/tektoncd/pipeline v0.30.0
	github.com/tektoncd/triggers v0.17.1
	k8s.io/api v0.23.0
	k8s.io/apimachinery v0.23.0
	k8s.io/client-go v0.23.0
	sigs.k8s.io/controller-runtime v0.10.4
)

#### use master branch of controller-runtime to com

[2021-12-13 11:22] khrm commented on #4409
@pritidesai Because these tasks are in parallel, failure of task `test2` implies that pipelinerun would fail. So we don't need to schedule a retry for task `test1` anymore. So declaring `test1` as failure seems correct to me.

[2021-12-13 12:14] sbwsg commented on #3305
/lifecycle-frozen

[2021-12-13 12:14] sbwsg commented on #3305
/add-lifecycle frozen

[2021-12-13 12:14] sbwsg commented on #3305
/lifecycle frozen

[2021-12-13 12:15] sbwsg commented on #3305
/remove-lifecycle stale

justification: this may still happen if TEP-0060 gets approved and implemented.

[2021-12-13 14:25] sbwsg commented on #4224
I think the changes here are likely a result of 0fcdd3962fd611aff512cc56cbf1fb9e73116855 where the `/tekton/tools` directory was replaced with `/tekton/bin` for tekton-supplied binaries and `/tekton/run` for runtime information and a result of 00f7cc6f211938693567d7b695820267b0fced40 where the `/tekton/run` directory was segmented into multiple volumes so that each step can only affect its own run

[2021-12-13 15:17] sbwsg commented on #4220
One of the tricky parts here is that GCR only supports ACL at the registry level, so we either need to use an existing private registry we have in a project or create a new project explicitly for testing this out.

The `tekton-nightly` project has existing private registries set up for `eu.gcr.io`, `us.gcr.io` and `asia.gcr.io`. We could use one of these? @tektoncd/core-maintainers wdyt?

[2021-12-13 20:10] lbernick commented on #4409
/assign

[2021-12-13 20:11] lbernick commented on #4417
This looks like a duplicate of #4320

[2021-12-13 20:19] lbernick commented on #4141
/priority important-soon
/remove-lifecycle rotten There's a [TEP](https://github.com/tektoncd/community/blob/main/teps/0073-simplify-metrics.md) for improving our metrics, this should be addressed there

[2021-12-13 20:20] lbernick commented on #4141
/remove-lifecycle rotten

[2021-12-13 20:21] lbernick commented on #3739
/priority important-soon
/remove-lifecycle rotten
There's a [TEP](https://github.com/tektoncd/community/blob/main/teps/0073-simplify-metrics.md) for improving our metrics, this should be addressed there

[2021-12-13 20:22] lbernick commented on #4112
/priority important-soon

[2021-12-13 20:26] bobcatfish commented on #4137
@peteyako I'm going to close this one for now but please re-open if you'd like to continue discussing 🙏

[2021-12-13 20:26] #4137 closed

[2021-12-13 20:28] lbernick commented on #4398
/priority important-longterm

[2021-12-13 22:49] #3879 closed

[2021-12-13 22:49] #3837 closed

[2021-12-13 22:49] #3785 closed

[2021-12-13 22:57] nikhil-thomas commented on #4398
This sounds like a problem for operator to solve.

At present, the operator upgrades TektonPipeline, TektonTriggers etc immediately after an operator controller upgrade. The only check the operator has is version comparission ([pipelines-info configMap](https://github.com/tektoncd/pipeline/blob/76bd56abd0df74d08f4edb60d87cfd32159cc8db/config/config-info.yaml#L29)) of Tektoncd Pipeline (on-cluster

[2021-12-14 01:31] mattmoor opened #4418 "TestDAGPipelineRun is flaky"
# Expected Behavior

`TestDAGPipelineRun` passes consistently and actually verifies that the tasks that SHOULD run in parallel DO run in parallel.

# Actual Behavior

On busy clusters `TestDAGPipelineRun` will frequently fail with a message like:
[code]

# Steps to Reproduce the Problem

This is an intermittent flake on a fairly busy cluster.

# Additional Info

The test as written today doesn't n

[2021-12-14 01:34] mattmoor commented on #4418
My proposal for how to fix this would be as follows:
1. Have the task definition executed by `pipeline-task-2-parallel-*` sleep for `XX` seconds (probably `30s`)
2. Check that the tasks start within `30s` of each other.

This:
 * Gives the test a fairly significant amount of leeway to schedule the second TaskRun even on a congested cluster.
 * Verifies that the tasks actually run in parallel becau

[2021-12-14 01:35] mattmoor commented on #4418
Some pointers...

Here is the test (with a nice ASCII diagram): https://github.com/tektoncd/pipeline/blob/38b9f26af4d04491ef3ea2ec42bf000e56a554bd/test/v1alpha1/dag_test.go#L37-L47

The body of `echo-task` which is what we run in parallel: https://github.com/tektoncd/pipeline/blob/38b9f26af4d04491ef3ea2ec42bf000e56a554bd/test/v1alpha1/dag_test.go#L75-L79

Where we check that the tasks start within

[2021-12-14 01:36] mattmoor commented on #4418
There is also a version of this in `./test/dag_test.go` (I linked `v1alpha1` above)

[2021-12-14 01:52] #3897 closed

[2021-12-14 01:52] #1020 closed

[2021-12-14 02:45] imjasonh commented on #4059
Looking into this again, it looks like this discrepancy might be happening because the pipeline config in the `tekton/` directory hasn't been applied to the regular release namespace (`default`), only to the namespace where the nightly release runs (`tekton-nightly`)

Compare (ctrl+f for `platforms` and look at the defaults):
- [nightly release pipeline](https://dashboard.dogfooding.tekton.dev/#/n

[2021-12-14 02:53] #3898 closed

[2021-12-14 05:18] mattmoor opened #4421 "`TestTaskRunFailure` is flaky"
# Expected Behavior

`pipeline.tekton.dev/release` annotation is consistently applied to TaskRuns, and this test consistently passes.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

Run the e2e testing enough, it'll flake eventually.

# Additional Info

It took me a while to figure out how the `TaskRun` is even annotated at all because the only place the `pipeline.tekton.dev/release`

[2021-12-14 05:56] #3675 closed

[2021-12-14 05:56] #3641 closed

[2021-12-14 05:56] #3690 closed

[2021-12-14 07:02] pritidesai commented on #4409
Nope, I think it's not correct. `test1` had initiated along with `test2`. `test1` should not be declared `done` without exhausting the number of retires.

[2021-12-14 07:58] #3900 closed

[2021-12-14 08:28] michaelsauter commented on #1530
I think this issue is super important. Without it, tasks that build applications cannot be reused very well because the resource consumption (memory) cannot be known by the task author.

[2021-12-14 08:59] #3049 closed

[2021-12-14 09:14] vdemeester commented on #1530
/remove-lifecycle stale
Note that on resource consumption there is a TEP around it : https://github.com/tektoncd/community/pull/560

[2021-12-14 10:00] #4000 closed

[2021-12-14 10:00] #3748 closed

[2021-12-14 10:24] waveywaves opened #4422 "Breakpoint exit status code read from /tekton/run/<step-no>/out.breakpointexit and not /tekton/run/<step-no>/status"
changes need to made post https://github.com/tektoncd/pipeline/pull/4352 and https://github.com/tektoncd/pipeline/pull/4416 are merged

# Expected Behavior

exitcode read from /tekton/run/<step-no>/status

# Actual Behavior

exitcode is to be read by breakpointExit from /tekton/run/<step-no>/status
https://github.com/tektoncd/pipeline/blob/main/cmd/entrypoint/main.go#L63

[2021-12-14 10:27] waveywaves commented on #4422
/assign

[2021-12-14 10:33] waveywaves commented on #4224
@sbwsg Thanks for the info it was helpful to go through those PRs. I have just created https://github.com/tektoncd/pipeline/issues/4422 to track changes that need to made after further changes to /tekton/steps.

[2021-12-14 11:01] #3968 closed

[2021-12-14 12:02] #3953 closed

[2021-12-14 12:02] #4002 closed

[2021-12-14 13:03] #3990 closed

[2021-12-14 14:04] #4046 closed

[2021-12-14 14:04] #4049 closed

[2021-12-14 14:04] #4039 closed

[2021-12-14 15:05] #3929 closed

[2021-12-14 15:05] #3619 closed

[2021-12-14 15:05] #3626 closed

[2021-12-14 15:05] #3969 closed

[2021-12-14 16:06] #4052 closed

[2021-12-14 16:55] wlynch commented on #4220
I'd recommend against using `tekton-nightly` out of paranoia that tests might gain unintended access to other dogfooding resources.

My preference would be to use a new project and/or use [Artifact Registry which has finer ACLs than GCR](https://cloud.google.com/artifact-registry/docs/access-control).

[2021-12-14 17:07] #3166 closed

[2021-12-14 17:07] #4050 closed

[2021-12-14 17:55] sbwsg commented on #4220
@afrittoli is working on running tests in Kind and with this it should be possible to setup a registry with credentials for testing purposes. From Pipelines WG just now this would be preferable over maintaining a piece of cloud infra specific to tests so that's the approach we intend to pursue before committing to a new GCP project, Artifact Registry or similar.

[2021-12-14 18:08] #4072 closed

[2021-12-14 18:08] #3163 closed

[2021-12-14 18:08] #4074 closed

[2021-12-14 19:04] #4421 closed

[2021-12-14 19:09] #4092 closed

[2021-12-14 19:32] #4224 closed

[2021-12-14 20:00] v1nc3nt27 opened #4425 "Accessing kubernetes secret for building a container"
Hello,

I'm trying to pass secrets `GITHUB_TOKEN`and `GITHUB_USER` to the container building step within a task. I checked that the launched container has the two environment variables correctly set. In the building process however, if I print out the variables within the dockerfile via `RUN echo $GITHUB_TOKEN`, the actual value of the envrionment variable is also `$GITHUB_TOKEN`, i.e. it is only

[2021-12-14 20:10] #3957 closed

[2021-12-14 20:10] #4037 closed

[2021-12-14 21:11] waveywaves opened #4426 "Add integration tests for /tekton/debug/scripts"
/area testing

AFAIK the integration tests work by checking if TaskRuns/PipelineRuns have reached a desired state, based on which the tests are marked as success or failure.

To test scripts in `/tekton/debug/scripts` dir in the TaskRun Pod, first we would need the TaskRun Pod running with the breakpoint(s) in place. Then, we need to run exec commands allowing us to run scripts in the container(s)

[2021-12-14 21:12] waveywaves commented on #4426
cc @afrittoli

[2021-12-14 21:29] pritidesai opened #4427 "Flake - test/v1alpha1 TestPipelineTaskTimeout"
PR #4406 reported a alpha integration test failure:

[code]

The detailed report can be found [here](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4406/pull-tekton-pipeline-alpha-integration-tests/1470857728338432000/).

[2021-12-14 21:29] pritidesai commented on #4427
I am wondering about the invalid log format at the same 🤔

[2021-12-14 22:47] pritidesai commented on #4059
@imjasonh please confirm this is fixed with v0.31 and close this issue. Thanks 🙏

[code]

[2021-12-14 22:48] pritidesai commented on #4059
Interestingly `windows` is missing from v0.31 🤔  is that expected?

[2021-12-15 00:59] imjasonh opened #4430 "update-openapigen.sh must be run in GOPATH"
# Expected Behavior

In a non-`GOPATH` directory, run `./hack/update-openapigen.sh` and have the resulting code pass CI checks.

# Actual Behavior

Example (from https://github.com/tektoncd/pipeline/pull/4420):
https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4420/pull-tekton-pipeline-build-tests/1470859112957874182/

The result is tons of CI-blocking diffs beca

[2021-12-15 06:07] #4365 closed

[2021-12-15 06:16] tomonight opened #4431 "affinity-assistant statefulset's podTemplate not set imagePullSecrets"
# Expected Behavior
  affinity-assistant pod set imagePullSecret and pull image correct when in a private docker hub.
# Actual Behavior
  affinity-assistant pod pull image authorization failed.
# Steps to Reproduce the Problem

1.normal step and every times

# Additional Info

- Kubernetes version:
[code]

- Tekton Pipeline version:

[code]

[2021-12-15 09:24] shokohsc commented on #3655
Reverting to 0.23.0 works too

[2021-12-15 09:32] krishnaraman001 opened #4432 "Creating pipeline at cluster level scope"
### Feature request

Is it possible to create a pipeline at cluster level scope?

### Use case

**We want to create a standard pipeline which can be used by all the teams who are spread across different namespaces, and also to avoid creating the same pipeline in all namespaces.**

we are slowly moving our CI/CD using tekton, but it will more help full if the above use case can be achieved.

[2021-12-15 09:43] shokohsc commented on #3655
I think this will prevent from using our credentials via an imagePullSecret: https://github.com/tektoncd/pipeline/commit/49a7fa2db63fc633190da260d7167c05a8a7a91d
It's still there as of today: https://github.com/tektoncd/pipeline/blob/main/config/controller.yaml#L99
But commit message says it's needed Oo
I'm lost. Would there be a way to delete those environment variables from the operator ? Asking

[2021-12-15 10:32] vdemeester commented on #4425
Hey @v1nc3nt27, using environment variable  with ${} is a feature of bash (or most shells). As it is written, your task doesn’t use bash at all as the command is ‘buildah’, and thus the variable is never « resolved ».
To fix that you could switch to the script feature in your task as it executes a shell script. The other way would be to use /bin/bash -c as command and the rest as args.

[2021-12-15 10:55] #4334 closed

[2021-12-15 11:56] v1nc3nt27 commented on #4425
Hey @vdemeester, makes absolute sense, thanks for clarifying this. I just overlooked this and wasted hours. I replaced it with script and it works like a charm now. Thanks a lot!

[2021-12-15 11:56] #4425 closed

[2021-12-15 14:27] lbernick commented on #4116
This error will now be retried in pipelines v0.31.0. Please reopen if this error is still observed in v0.31.0 or later versions of pipelines.
/close

[2021-12-15 14:58] dibyom commented on #4116
/close

[2021-12-15 14:58] #4116 closed

[2021-12-15 16:59] pritidesai commented on #4427
/kind flake

[2021-12-15 17:03] pritidesai opened #4433 "Flake - test TestExamples/v1alpha1/taskruns/step-script"
As part of the PR #4429, alpha integration tests ran into a failure:

[code]

The detailed logs can be found [here](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4429/pull-tekton-pipeline-alpha-integration-tests/1471071891585241088/).

/kind flake

[2021-12-16 00:32] Tomcli opened #4435 "Timeout can set to 0s but failed during taskrun"
Since Tekton v0.28+, `activeDeadlineSeconds` is introduced for the pods and it's calculated based on the timeout. Since `activeDeadlineSeconds` must be between 1 and 2147483647s, setting timeout to 0s will cause the following errors
[code]

# Expected Behavior
The webhook should give me an error if I set the timeout to 0s.

# Actual Behavior
I can apply the taskRun without errors but failed when t

[2021-12-16 14:54] lbernick commented on #4432
Hi @krishnaraman001, thanks for filing this issue! This looks like a duplicate of #1876.

[2021-12-16 15:04] vdemeester commented on #4435
/cc @pritidesai

[2021-12-16 15:13] vdemeester commented on #4430
Similar but different: https://github.com/tektoncd/pipeline/issues/3884

[2021-12-17 02:24] krishnaraman001 commented on #4432
@lbernick I have gone through the #1876, is that feature got implemented or still discussions are going on?
it will be more easy for us if we are able to create a pipeline at cluster level, because most of the teams follow the same pipeline created.

[2021-12-17 02:35] ycyxuehan commented on #4320
how to fix this?
my cluster is 0.23.0

[2021-12-17 06:07] #4016 closed

[2021-12-17 07:40] krishnaraman001 commented on #1876
Can anyone tell me what/how to achieve using OCI bundles, can we have any sample to know it better?

[2021-12-17 09:42] AlanGreene commented on #1876
@krishnaraman001 you can find information about Tekton Bundles in the docs. The feature must be enabled first, the docs include details of how to do this.

For example:
- referencing a Pipeline: https://tekton.dev/docs/pipelines/pipelineruns/#tekton-bundles
- creating a bundle using `tkn`: https://github.com/tektoncd/cli/blob/main/docs/cmd/tkn_bundle_push.md

[2021-12-20 00:16] tlawrie commented on #4016
Hi @afrittoli checking in on this one? did the above example make sense? or should we leave this issue closed?

[2021-12-20 00:17] tlawrie commented on #4060
Hi @pritidesai apologies I never got back to this one. To be honest, I am relatively new to Go programming (I am a java programmer) so would need a fair amount of guidance in making any code base changes.

[2021-12-20 09:23] zhaoxiangyu commented on #3796
Hi, have you added the approval signal in wait task?

[2021-12-20 09:24] zhaoxiangyu commented on #3796
@FogDong
Hi, have you added the approval signal in wait task?

[2021-12-20 19:10] lbernick commented on #4432
Cluster scoped pipelines haven't yet been implemented. We haven't decided yet on the future of ClusterTask, but the functionality you describe in your use case will eventually be provided by remote resolution (see [TEP-0060](https://github.com/tektoncd/community/blob/main/teps/0060-remote-resource-resolution.md), which was recently marked as implementable).

[2021-12-21 15:54] jensh007 opened #4438 "Finally tasks should be triggered in case of missing results"
# Expected Behavior
I have a finally task that consumes results of previous tasks. The documentation states:

The task producing the result fails with a nonzero exit code. I expect that the finally task gets triggered.

# Actual Behavior
Finally task is not run instead it is waiting forever for results. It is fine if the expected results are missing (and set to null). But the finally task should a

[2021-12-25 14:24] #3895 closed

[2021-12-25 20:30] #3255 closed

[2021-12-27 01:03] zhouhaibing089 commented on #4101
Looks like this issue is resolved in https://github.com/tektoncd/pipeline/pull/4201

/close

[2021-12-27 01:03] #4101 closed

[2021-12-27 17:28] lbernick opened #4444 "Consider removing script mode default flags"
Currently, Tekton scripts set the flags `-ex` if no default is specified by users (#1735). This causes scripts to exit immediately if a command fails (`-e`), and print commands before they are executed (`-x`) ([bash docs](https://www.gnu.org/software/bash/manual/html_node/The-Set-Builtin.html)). These defaults were chosen because `-x` helps with debugging, and it often doesn't make sense to contin

[2021-12-27 18:19] vdemeester commented on #4444
I tend to agree with the -x flag as it might also display secrets by default. The -e though I tend to disagree: if we don’t set it the task might succeed where it should have failed. In addition it is very easy to override those flags, with a shebang.

[2021-12-27 21:18] #3902 closed

[2021-12-28 03:38] yulongfang opened #4445 "Sidecar Logging solution loss log"
I use sidecar to upload log .
 However, the default sidecar will be replaced when all steps are completed causing log loss .
 There is no guarantee that sidecar will quit after sidecar finishes
 How can I handle it?

[2021-12-28 10:21] markbastiaans commented on #3655
Same issue here, related to #2707.

We're running v0.30.0 on EKS and are running into this issue with ECR. Prior to this we were on v0.19.x.
I've currently managed to work around the issue by copy-pasting entrypoint commands. Deleting the dummy env vars from our (custom) Helm chart seemed kind of a big risk to me with the Go AWS SDK not being updated yet / no structural fix known yet for #4087.

A

[2021-12-29 12:06] concaf commented on #3799
I believe that the certificates mounted via `SSL_CERT_DIR` are not respected either.

[2021-12-31 09:40] emenaceb opened #4446 "CSI volumes as workspaces"
### Feature request

Support kubernetes CSI volumes (https://kubernetes.io/docs/concepts/storage/volumes/#csi) as workspaces

### Use case

My main motivation is to be able to use Secrets Store CSI Driver (https://secrets-store-csi-driver.sigs.k8s.io/introduction.html)
to use Hashicorp Vault (or any other secret provider) .

I want to be able to define a workspace in the following way:

[code]

Of

[2022-01-03 20:45] HildaHay opened #4448 "DinD sidecar: Docker daemon fails to start"
# Expected Behavior

I'm trying to build and push a Docker image to a private repository, using a task with a DinD sidecar. It should successfully build the image and then push it to the repo.

# Actual Behavior

The task fails with the error `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`. Initially, the pipeline executed correctly. After a few

[2022-01-04 15:20] imjasonh commented on #4444
+1 to removing `-x` and keeping `-e`. 👍

[2022-01-04 15:47] #4373 closed

[2022-01-04 16:22] #4299 closed

[2022-01-04 22:17] pritidesai commented on #4435
thank you @Tomcli for reporting this.

@vdemeester @Tomcli What should be the expected behavior when a timeout is set to `0s`?

`activeDeadlineSeconds` is not directly set from the API and calculated based on the given timeout using this formula:

[code]

And setting the timeout to `0s` as `NoTimeout` so it's not reasonable for a `webhook` to throw an error.

can we leave setting the `activeDeadli

[2022-01-04 22:28] Tomcli commented on #4435
Before Tekton 0.28, timeout can be set to 0s and the pod will never timeout. If `activeDeadlineSeconds` is not necessary, we can skip the `activeDeadlineSeconds` if timeout is 0.

At the moment, since timeout with 0s is broken between Tekton 0.28-0.30, we changed our client code to check timeout cannot be <= 0s because the webhook didn't throw any error.

[2022-01-04 23:04] pritidesai commented on #4435
thanks @Tomcli 👍

@Tomcli @vdemeester please take a look at the fix, PR #4450 👀

[2022-01-04 23:08] pritidesai commented on #4435
@Tomcli if the PR is merged, do you want us to cherry pick this fix in the latest pipeline release (https://github.com/tektoncd/pipeline/releases/tag/v0.31.0)? Please note that v0.32.0 is due on January 13th.

[2022-01-04 23:12] Tomcli commented on #4435
We don't need to cherry pick, since it's broken since v0.28.0. We can move onto v0.32 if there are no significant changes.
At the moment we are using Tekton v0.30.0.

[2022-01-04 23:15] Tomcli commented on #4435
thanks @pritidesai for fixing this issue.

[2022-01-05 10:16] vdemeester commented on #4435
The use of `activeDeadlineSeconds` is *mainly* to mark pipeline's Pod as `Terminating` (for quotas, etc..). Not setting it in some cases will be very confusing as we would end up in cases where pods are terminating and cases where they are not, thus sharing different quotas.

I think the alternative here are:
- Disallow timeout 0 so that we never run into this (it's kind-of breaking current behavi

[2022-01-05 12:12] vdemeester commented on #4444
/assign

[2022-01-05 18:00] jeremyjjbrown commented on #3705
The staleness of such an important ticket (and easy?) makes me pause on using this project.

[2022-01-06 13:15] sbwsg commented on #4444
Still some discussion to be had around `-e` I think.

/reopen

[2022-01-06 14:49] sbwsg commented on #4087
It looks as though [go.mod in k8s-pkg-credentialprovider 1.22](https://github.com/vdemeester/k8s-pkg-credentialprovider/blob/release-1.22/go.mod) has dropped the `replace` directives. Maybe ready to bring in to Tekton Pipelines - @vdemeester wdyt?

I've just tried updating to the 1.22 commit hash in our `go.mod` but couldn't get compilation working - it seems like maybe some of the `./hack` genera

[2022-01-06 14:52] sbwsg commented on #3655
If you're running in AWS I would expect (tho can't confirm) that removing the env vars should be fine. We're slowly making progress on #4087 but I'm having a bit of trouble compiling and testing with the update that brings in the newer go aws sdk.

[2022-01-06 15:13] sbwsg commented on #4087
/assign

[2022-01-06 15:52] imjasonh commented on #4087
Possibly of interest, we're undergoing a bit of a refactor in ggcr around how various cloud auth providers are made available -- see https://github.com/google/go-containerregistry/pull/1231

Basically, we all hate `k8schain` and its massive k8s client-go and Vincent's-fork-of-credproviders dependencies, and we'd like to come up with something better.

In doing so we _might_ accidentally fix the aw

[2022-01-06 17:52] pritidesai commented on #4438
thank you @jensh007 for this report 👍

It is [designed](https://github.com/tektoncd/community/blob/main/teps/0004-task-results-in-final-tasks.md#design-details) such that the `finally` task is not executed in case of a missing result:

### Q. What happens to Pipeline when the dependent task boskos-acquire either failed or not executed, and the task result leased-resource is not initialized?

_A. T

[2022-01-07 04:30] lengrongfu opened #4453 "Tekton Pipelines DSL"
### Feature request

At present, the Tekton project needs to create various CRD resource files, which is not user-friendly. Is there any plan to introduce Tekton Pipelines DSL, similar to the description file in GitHub Aciton.

### Use case

CI

[2022-01-07 07:14] jensh007 commented on #4438
Thanks for sharing the proposal. I understand that it may be designed like this but I consider this not to be very practical. I assume in many cases finally tasks are used to e.g. send notifications about build status etc. In case something fails (and thus a result may be missing) you always want to get the notification and not a silent death... So hope to see the enhancements soon :)

[2022-01-07 07:19] jensh007 commented on #4438
And  one more comment: You at least should adapt the documentation (see citation above). The statement that "finally tasks are guaranteed to be executed regardless of of success or error" is wrong if this is by design.

[2022-01-07 11:24] kubovdm opened #4454 "taskrun counter metrics grow up without failed taskrun"
# Expected Behavior
tekton_pipelines_controller_taskrun_count{status="failed"} grow up only if taskrun failed and only increase by 1

# Actual Behavior
I have alerts about taskrun failed without failed taskrun and then check counter in prometheus and counter is growing up.

# Steps to Reproduce the Problem

Install tekton with helm and setup prometheus.

# Additional Info

- Kubernetes version:

[

[2022-01-07 18:10] mattmoor opened #4455 "Describe pods when tests fail"
### Feature request

When dumping pod logs for e2e test failures, describe the pods as well.

### Use case

On small/busy KinD clusters I occasionally see a failure like this:
[code]

I believe this is because the Pod is failing to schedule and the test that is expected to be quick (`sleep 1`) times out after `60s` 😞

However, this information is lost when things are cleaned up, so it is hard to d

[2022-01-07 18:35] #2668 closed

[2022-01-07 18:35] #3021 closed

[2022-01-07 21:54] jerop commented on #4453
@lengrongfu there's ongoing related work in a new project called Workflows

- https://github.com/tektoncd/community/issues/464
- [Experimental Project](https://github.com/tektoncd/experimental/tree/main/workflows)
- [TEP-0098: Workflows](https://github.com/tektoncd/community/pull/569)

They have a working group if you're interested in joining: https://github.com/tektoncd/community/blob/main/workin

[2022-01-07 21:59] jerop commented on #4454
thanks for the issue report @kubovdm!

here's a related issue for future reference: https://github.com/tektoncd/pipeline/issues/3739

[2022-01-08 00:05] ktarplee commented on #1461
I want to add that the OpenAPI schema also is really handy for users.  I tend to use `kubectl explain` for CRD to understand what fields are available and what they mean.  For Tekon CRs the result is rather uninformative.
[code]

Compare the above to one that has a OpenAPI schema.  You can drill down into the spec as far as you like.

[code]

[2022-01-10 03:19] aiden-deloryn opened #4457 "Windows container image missing from entrypoint manifest"
# Expected Behavior
The manifest for the entrypoint should include a Windows image, such as in the 0.30.0 release: [0.30.0 manifest](https://console.cloud.google.com/gcr/images/tekton-releases/global/github.com%2Ftektoncd%2Fpipeline%2Fcmd%2Fentrypoint@sha256:34ee7658bb8a657584e1ada8e84121758cc5d067c1f0740873d614d07423886f/details?tab=pull)

This is required for Tekton to run Windows workloads.

#

[2022-01-10 06:12] lengrongfu commented on #4453
Thank you very much, I am interested, I will first understand the current situation and see what I can contribute to it. @jerop

[2022-01-10 07:17] NEUerYZY opened #4458 "When a task of a pipeline run timeout , the finally tasklist will not be implemented?"
As the title told, when I use the feature "finally" keyword as the documents expound  with the Tekton version 0.25.0.
I write the pipelinerun yaml  as follows.
------------------------------------------------------------------------------------------
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  generateName: pipelinerun-
spec:
  pipelineSpec:
    tasks:
      - name: task1

[2022-01-10 09:01] vdemeester commented on #4457
/cc @imjasonh

[2022-01-10 09:02] vdemeester commented on #4457
/cc @sbwsg @jerop

[2022-01-10 09:04] vdemeester commented on #4455
I thought all the things are dumped (`describe` too) in the log, but later on and grouped with the rest of the pod (which make it harder to find most likely), but maybe that changed ?

[2022-01-10 13:16] sbwsg commented on #4457
It doesn't look like windows image releases are accounted for in our release pipeline? Looking in dashboard the `Pipeline` we use doesn't include `windows/arm64` in the default platform string:

https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelines/pipeline-release?view=yaml

[code]

Nor does the release cheatsheet we use include us overriding that param with a different platform

[2022-01-10 13:30] sbwsg commented on #4457
Addendum to my previous comment: we seem to publish windows images via the `publish-release` Task. https://dashboard.dogfooding.tekton.dev/#/namespaces/default/tasks/publish-release?view=yaml

This does include the following:

[code]

[2022-01-10 14:04] lbernick commented on #4458
Hi @NEUerYZY, [this section](https://tekton.dev/docs/pipelines/pipelineruns/#configuring-a-failure-timeout) of the Tekton docs may be helpful. It looks like you aren't specifying any timeouts in your pipelinerun, so the global timeout of 60 mins applies. You can set a timeout for your pipeline and reserve some of it for finally tasks, as shown in the docs, or you can choose to set 0 (for no timeou

[2022-01-10 15:06] jerop commented on #4458
/kind bug

[2022-01-10 15:25] mattmoor commented on #4455
Maybe this is done in the scripts, which I’m not using (just “go test” on KinD 😞).  Does it capture pods that are cleaned up before the test completes?

[2022-01-10 16:34] jerop opened #4460 "PipelineRun Timeouts"
In [TEP-0046: Finally Tasks Execution Post PipelineRun Timeout](https://github.com/tektoncd/community/blob/main/teps/0046-finallytask-execution-post-timeout.md), we introduced new `timeouts` fields to replace the `timeout` field.

[code]

As a follow up to that work, we need to:
- Promote `PipelineRun.Timeouts` from Alpha to Beta
- Deprecate `PipelineRun.Timeout`

This work should be included in o

[2022-01-10 16:55] jerop opened #4461 "Scope of `when` expressions"
As documented in the [deprecations](https://github.com/tektoncd/pipeline/blob/release-v0.29.x/docs/deprecations.md#deprecation-table), we are migrating the scope of `when` expressions.

| Feature Being Deprecated                                                                                                                                            | Deprecation Announcement

[2022-01-10 20:21] jerop commented on #4458
We may need to update the documentations to make it clear

[2022-01-10 20:40] jerop commented on #4417
closing as duplicate of https://github.com/tektoncd/pipeline/issues/4320

[2022-01-10 20:40] #4417 closed

[2022-01-10 20:46] jerop commented on #4059
fixed in https://github.com/tektoncd/pipeline/pull/4331

windows issue tracked in https://github.com/tektoncd/pipeline/issues/4457

[2022-01-10 20:46] #4059 closed

[2022-01-10 20:47] bobcatfish commented on #4457
(i wonder if the difference that @imjasonh pointed out in https://github.com/tektoncd/pipeline/issues/4059#issuecomment-993103382 might have caused this - referencing these tasks/pipelines in version control - or even OCI - ftw :D )

[2022-01-10 20:51] bobcatfish commented on #3910
I think we've seen a very similar issue pop up occasionally in the past that we were a bit stumped by (e.g. https://github.com/tektoncd/pipeline/issues/2207) but this might be different b/c in those cases I think the error was something like 'connection refused' vs this one has 'service not found' (could be the same underlying issue tho?).

if it WAS a similar issue then i think you'd only see thi

[2022-01-10 21:02] jerop commented on #4427
seen the same flake in integration tests, but in beta this time: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4462/pull-tekton-pipeline-integration-tests/1480631379413700608/

[2022-01-10 22:08] wlynch opened #4463 "Git Tests broken in Git 2.35"
# Expected Behavior

Git tests continue to work.

# Actual Behavior

[code]

# Additional Info

This appears to be introduced in https://github.com/git/git/commit/9081a421a6dbeeda637df8edb0ebf0da11a05b69. This will cause breakage in Git 2.35. For Googlers - this is broken on our workstations now. 😅

Confirmed with a friend that Git 2.34.1 is working.

[2022-01-10 22:32] wlynch commented on #4463
/assign wlynch

[2022-01-10 23:00] bygui86 commented on #3910
6 months ago together with @paolocarta we tried to deploy Tekton on a GKE private cluster a good amount of times.

We were not able to see the same behaviour 2 times in a row. If I remember well we faced both "connection refused" and "service not found" issues, but I cannot be sure as passed too much time.

After 2 weeks and many attempts we gave up and chose another CI/CD tool.

[2022-01-11 04:37] NEUerYZY commented on #4458
@lbernick Thank you for your  reply ,I tried the solution as the doc illustrated and it works

[2022-01-11 04:38] NEUerYZY commented on #4458
@jerop That's great ,Thank you very much

[2022-01-11 04:38] #4458 closed

[2022-01-11 14:24] lbernick commented on #4458
We should also consider changing the default timeout behavior to reserve some time for finally tasks.

[2022-01-11 14:57] sbwsg commented on #4448
Hey @HildaHay thanks for the issue report. I think maybe the most concrete next steps I can offer here are to suggest creating a plain `Pod` with the containers in them configured similarly to the DinD setup you're using in your Task/TaskRun. If the issue persists in this setup then I think the problem is likely outside the control of Tekton, and if not then hopefully we'll be able to compare the

[2022-01-11 15:28] sbwsg commented on #4431
Thanks for the issue report! As you noted on PR #4348 this is the same issue as #4339 .  I'm going to close this one as a duplicate of #4339 since the work for that one is already in progress. Cheers!

[2022-01-11 15:28] sbwsg commented on #4431
/close

[2022-01-11 15:28] #4431 closed

[2022-01-11 17:52] jerop commented on #4223
/lifecycle frozen

we need fix this to catch the issues we've been seeing with metrics

needed before v1 (@lbernick)

[2022-01-11 17:56] jerop commented on #4107
/remove-lifecycle rotten

[2022-01-11 17:58] sbwsg commented on #4107
/assign

[2022-01-11 19:35] sbwsg commented on #4107
Hey @walkline while Tekton Pipelines does have limited support for docker auth with the secrets+annotations approach we typically advise users to migrate to using Workspaces to accept credentials in Secrets instead - it's a more flexible approach that allows you to put any content you want in the Workspace and lets the Task author decide how to use it. The `git-clone` Task in the catalog is an exa

[2022-01-11 19:36] sbwsg commented on #4457
I'm running the 0.32 release in a day or two and will make sure we push out Windows images. I'll double-check the publish task we're using includes the platform before kicking things off.

[2022-01-11 23:59] yu-ya0614 opened #4467 "div"
### Feature request

### Use case

[2022-01-12 08:56] vdemeester commented on #4467
I am guessing this is has been created by mistake, so closing 🙃

[2022-01-12 08:56] #4467 closed

[2022-01-12 10:36] #4463 closed

[2022-01-12 11:34] khrm commented on #4397
@wlynch I fixed this in a pr #4468.

@guillaumerose We generally use the rate function of Prometheus query to avoid instance restart related issues.  Even with lister loop, information will be lost during restart because pipelinerun will be deleted by the end-user. So I think before and after condition check is sufficient to resolve this.

[2022-01-12 13:15] smaftoul commented on #4214
I think this one can be close #4411 fixes it !

[2022-01-12 14:06] lbernick commented on #3459
@afrittoli @skaegi Looks like this work is complete; should this be closed?

[2022-01-12 16:15] lbernick opened #4470 "FR: Task-level (and maybe Pipeline-level) resource requests and limits"
### Feature request
Currently, users can set resource requests and limits at the Step level, which are summed to determine the resource requests of the pod that runs a TaskRun. However, some users want to be able to directly specify the resource requests for a Task, rather than per Step.

### Related issues

- #2986: a FR for Task-level resource requests (however, the Step resource request behavio

[2022-01-12 16:16] lbernick commented on #2986
As of v0.28.0, Step resource requests and limits are left unchanged, or adjusted based on limitranges present (see [docs](https://tekton.dev/docs/pipelines/limitrange/) for more info)-- thanks @vdemeester!

I'm going to close this issue because the Step level behavior described is no longer true. I've opened #4470 as a FR for Task-level resource requirements.

/close

[2022-01-12 16:21] vdemeester commented on #2986
/close
🙏🏼

[2022-01-12 16:21] #2986 closed

[2022-01-12 16:24] lippertmarkus opened #4471 "Windows containers: Affinity assistant doesn't work as there's no Windows nop image"
# Expected Behavior

Affinity assistant should work when using tasks running on Windows with workspaces.

# Actual Behavior

Affinity assistant doesn't work when using tasks running on Windows with workspaces as there's no Windows image for `gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/nop` (not for 0.31, 0.30 and 0.29).

# Steps to Reproduce the Problem

1. Deploy the following pipelin

[2022-01-12 17:43] lippertmarkus opened #4473 "Windows containers: working dir initializer fails because of missing image for Windows"
# Expected Behavior

When specifying a `workingDir` for a Windows container the working dir initializer should succeed.

# Actual Behavior

The working dir initializer container fails because of a missing image `gcr.io/distroless/base` for Windows.

# Steps to Reproduce the Problem

1. Deploy the following pipeline:
[code]
2. Check the events of the Windows Pod:
[code]

# Additional Info

- Kubern

[2022-01-12 17:49] imjasonh commented on #4473
Thanks for filing this!

It looks like the `working-dir-initializer` step that Tekton injects to (you guessed it!) initialize the `workingDir` ([here](https://github.com/tektoncd/pipeline/blob/fcca72712ce7f1ace750509b1d44f47ba43a5525/pkg/pod/workingdir_init.go#L61)), doesn't include an image for Windows -- this is the `--shell-image` flag passed to the controller [here](https://github.com/tektoncd

[2022-01-12 22:00] wlynch commented on #4454
/assign @chuangw6

[2022-01-12 22:03] wlynch commented on #3799
/assign @yongxuanzhang

[2022-01-12 22:05] ghost opened #4476 "Where should we take `ClusterTasks` next?"
### Feature request

We've discussed the possible future of `ClusterTasks` in our API Working Group but haven't created an issue for it yet as far as I can see. The intention for this issue is to act as the focal point for discussion around the feature, its future, and where we see it going within the context of Tekton Pipelines' other features.

### Background

`ClusterTask` is a CRD that Tekton

[2022-01-12 22:06] sbwsg commented on #3548
Created https://github.com/tektoncd/pipeline/issues/4476 for discussion around `CluserTask`

[2022-01-12 22:07] imjasonh commented on #4473
Looking into other places where the distroless/base shell image is used inside Tekton, it looks like you'll also have trouble using PVC-backed artifacts (a v1alpha1 feature), which `cp`s and `mkdir`s using that image to set up PVCs. I don't think it'll be an issue but just in case you wanted to do that I figured I'd give a heads up.

If you need that, we could support it much in the same way I'm p

[2022-01-12 22:51] pritidesai commented on #4460
thank you @jerop 👍

Yes, definitely, the `pipelineRun.timeouts` was introduced in `0.25` about 6 releases back - https://github.com/tektoncd/pipeline/blob/main/docs/install.md#alpha-features. We can work towards promoting it to beta and making it part of V1 efforts. We also updated our docs with a warning of deprecating `pipelineRun.timeout` in the same release which should buy us enough time for

[2022-01-13 06:14] lippertmarkus commented on #4471
Thanks a lot for the quick addressing! Really impressed.

[2022-01-13 06:16] lippertmarkus commented on #4473
Thank you! PVC-backed artifacts are part of the PipelineResources and deprecated anyway, right? If so, I don't think we need to put effort in that.

[2022-01-13 10:39] vdemeester commented on #4476
One quick note there, OpenShift Pipelines ships with several `ClusterTask` by default, so any user of OpenShift Pipelines might be using them — and we know some of them use it a lot. That said, one of our goal is to migrate from `ClusterTask` to oci bundle once those are considered stable.

[2022-01-13 14:01] vdemeester opened #4477 "Annotations and Labels from `Task` are not propagated to the `Pod`"
# Expected Behavior

As documented [here](https://tekton.dev/docs/pipelines/labels/#label-propagation) for labels (and it used to be the same for annotations), labels and annotations set on the `Task` should be propagated to the underlying `Pod` when run.

# Actual Behavior

As of today, annotations and labels set on the `Task` are *lost in translation* and only labels and annotations from the `Ta

[2022-01-13 14:01] vdemeester commented on #4477
/assign

[2022-01-13 14:23] #4435 closed

[2022-01-13 15:26] vdemeester commented on #3661
/lifecycle frozen
This is part of the roadmap 🙃

[2022-01-13 15:56] rouke-broersma commented on #1542
FYI this chart has not been updated in a while and does not include 0.27.3 which means that the chart currently does not install on k8s 1.22. We found this out the hard way..

[2022-01-13 18:48] pritidesai commented on #4313
/assign

[2022-01-13 18:50] pritidesai commented on #3862
/assign @afrittoli

[2022-01-13 19:20] sbwsg commented on #4388
Just to add another anecdotal here - we experienced some surprising behaviour in relation to this change during the release of 0.32 of Tekton Pipelines. One of our Pipelines relied on a default param value in a PipelineTask, which was then unexpectedly overridden by the implicit param defined in the Pipeline.

It's tricky to describe in words, [here's a link to the PipelineTask](https://github.com

[2022-01-13 21:14] wlynch opened #4483 "Implicit params being propogated to Refs"
# Expected Behavior

Implicit params should only be available with the same resource - they shouldn't be considered for references.

# Actual Behavior

From @sbwsg in https://github.com/tektoncd/pipeline/issues/4388#issuecomment-1012435724:

# Additional Info

Likely affected code: https://github.com/tektoncd/pipeline/blob/1401ab773862e1290448171a7d3fe36f63cf9aa1/pkg/apis/pipeline/v1beta1/pipeline

[2022-01-13 21:14] wlynch commented on #4483
/assign

[2022-01-13 21:30] wlynch commented on #4388
/remove-label priority/critical-urgent

@jerop There are multiple issues being described in this issue. The ref behavior bug we're want to fix ASAP will be tracked in #4483

[2022-01-14 11:00] vdemeester commented on #4214
/close

[2022-01-14 11:00] #4214 closed

[2022-01-14 11:21] #4471 closed

[2022-01-14 11:51] msvticket opened #4485 "Exiting pipeline with success on step error"
### Feature request

I would like support for a new value of the onError field on steps with the meaning that the pipeline exits as succeeded. The value could maybe be stopAndSucceed.

### Use case

The use case I have currently is that I have pipelines with steps for build, deploy and integrations tests. Between these steps I have a step checking if a newer build has started and in that case the

[2022-01-14 18:51] #4473 closed

[2022-01-14 19:22] pritidesai commented on #4485
thank you @msvticket for this!

I am trying to understand your use case, is the step which checks if a newer build has started exiting with an error?  In your case, you want to exit the pipeline as success without running any subsequent step/task when that step discovers a newer build. Is that correct?

We have two values supported so far, `continue` and `stopAndFail` for [onError](https://github.

[2022-01-14 19:40] sbwsg commented on #4457
I'm going to tentatively close this.  I think the underlying issue preventing the windows entrypoint from being published should be resolved. If we discover future versions missing windows images then let's reopen this one or start anew!

[2022-01-14 19:40] #4457 closed

[2022-01-14 22:16] lbernick commented on #4347
Docs updated in #4472.

/close

@Fabian-K you might be interested in #4470

[2022-01-14 22:16] lbernick commented on #4347
/assign

[2022-01-14 22:17] lbernick commented on #4347
/close

[2022-01-14 23:15] msvticket commented on #4485
Yes, exactly!

As far as I know the only way for a step to prevent the subsequent steps of a task to be executed is to exit with an error. But in this case it's not actually due to a failure, so it's not really truthful when the PipelineRun get a `conditions` list like this:

[code]

In my specific case notification of a failure like this would be made through Slack. With tekton in this case cryin

[2022-01-15 19:45] #2072 closed

[2022-01-16 17:06] #4172 closed

[2022-01-16 23:20] nikhil-thomas commented on #1542
Thank you for the heads up.
At present, we are working on the possibility of providing Helm charts with the tektoncd/operator.

Initially, our idea is to support customizations such as:
- target namespace: installing Pipelines, Triggers etc in  a namespace other than `tekton-pipelines`
- enable/disable components: install 1 or n components out of Pipelines, Triggers, Dashboard and Results.

[2022-01-16 23:28] nikhil-thomas commented on #3800
/remove-lifecycle stale

**summary so far:** adding 2 labels on the created PVC could take care of this issue

note: this is not for accessing the pvc details from a TaskStep. Instead, this request is to aid actors like Dashboard which want to corelate PVC to a PipelineRun

ref:
- https://github.com/tektoncd/pipeline/issues/3800#issuecomment-790833618
- https://github.com/tektoncd/pipeline/issues/

[2022-01-16 23:29] nikhil-thomas commented on #3800
/remove-lifecycle stale

[2022-01-17 13:06] ARogovsky opened #4490 "Strange behavior of inputs.params variables"
# Expected Behavior

`" ./Dockerfile url:latest ./`

# Actual Behavior
`./Dockerfile ${params.imageUrl}:${params.imageTag} ${params.pathToContext}`

# Steps to Reproduce the Problem

Execute sample task:

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

`v0.31.0`

[2022-01-17 16:03] Yongxuanzhang commented on #3799
I'm a member of tektoncd but why I cannot be assigned?

[2022-01-17 16:43] vdemeester commented on #3799
/assign @Yongxuanzhang

[2022-01-17 16:43] vdemeester commented on #3799
@Yongxuanzhang you have to comment once, or be the one commenting `/assign` to get assigned 🙃

[2022-01-17 18:09] Yongxuanzhang commented on #3799
okok, thanks!

[2022-01-17 20:27] imjasonh commented on #3799
We'll need to make sure that users give the Tekton controller SA permissions to use those secrets too.

[2022-01-17 20:54] yu-ya0614 opened #4491 "/div"
### Feature request

### Use case

/div

[2022-01-17 20:56] yu-ya0614 commented on #4491
/div
 /div
  /div
   /div

[2022-01-17 20:57] #4491 closed

[2022-01-18 11:16] jerolimov commented on #3800
cc @karthikjeeyar, just fyi

[2022-01-18 17:43] sbwsg commented on #4490
Thanks for the issue report.  I wasn't able to reproduce on v0.31.0 using the TaskRun you supplied. Here's the complete test yaml I used:

[code]

A Pod gets created with the following container entry:

[code]

So here at least the params do seem to be injected correctly to the container definition.

How does the Pod look on your side after running the test yaml I pasted above?

[2022-01-18 18:50] bitsofinfo commented on #2812
/remove-lifecycle stale

[2022-01-19 01:10] #3884 closed

[2022-01-19 01:10] #4430 closed

[2022-01-19 07:54] ARogovsky commented on #4490
@sbwsg than you for help.
This is result of my Pod:

[code]

This is affected at AWS EKS use private nodes group of spot instances. I will try to repeat it at AWS EKS using default settings and provide feedback.

[2022-01-19 09:15] vdemeester commented on #4490
@ARogovsky the fact that it prints `${…}` instead of `$(…)` make me think in your definition, the variable are also using `${…}`, although in the spec you sent above that's not the case 🤔

[2022-01-19 17:47] #4477 closed

[2022-01-19 18:56] Yongxuanzhang commented on #3799
Hi @imjasonh, thank you so much for the comment! I'm quite new to this, could you elaborate more on this? Do you mean we should document it to tell users to give controller SA permissions?
And to give the controller the permissions, we need to use Rolebinding to grant the controller access to secrets, or can we add imagePullSecrets to the controller's SA?
Thanks!

[2022-01-19 19:59] Yongxuanzhang commented on #3799
Hi @imjasonh,
Thank you so much for the detailed explanations!! ❤️
I have 1 question regarding this,

I wonder how it works before, if we don't pass the `imagePullSecrets` explicitly to `k8schain.New`, it will also [search](https://github.com/google/go-containerregistry/blob/d9bfbcb99e526b2a9417160e209b816e1b1fb6bd/pkg/authn/k8schain/k8schain.go#L80) the  `imagePullSecrets` attached to the SA.
And

[2022-01-19 20:22] imjasonh commented on #3799
Mostly. However, a SA's attached `imagePullSecrets` must exist in that SA's namespace. So if the `podTemplate`'s `imagePullSecrets` exist in `my-ns`, the Tekton controller SA's `imagePullSecrets` (in the `tekton-pipelines` namespace) won't be able to reference it as a (SA-defined) `imagePullSecret`.

This change would let users specify and grant access to other secrets that the SA should use to au

[2022-01-19 20:53] Yongxuanzhang commented on #3799
Got it! Thank you very much!

[2022-01-20 15:06] afrittoli commented on #753
/remove-lifecycle rotten

[2022-01-20 15:07] afrittoli commented on #753
/lifecycle frozen This should be open until it's fixed

[2022-01-20 17:27] catfish1225 opened #4501 "Can a pipeline support Non-K8's Cluster?"
I have a Tekton project which is running CICD pipeline in that there is one step which is basically wants to trigger a service that is not running in a K8's cluster (Containerization way) & it is running outside of cluster can I do that?
                                                                  (OR)
Consider If I have a step which needs to execute a service on a remote machine can I do tha

[2022-01-21 07:48] flo-02-mu opened #4503 "Allow multiple PVCs in combination with affinity assistant"
### Feature request

It would be nice to be able to use more than one PVC in a pipeline and still use the affinity assistant to ensure all pods are scheduled to the same node.

### Use case

In our pipelines we have three or more tasks running at the beginning of the pipeline in parallel that are making use of a workspace, e.g.:
* Checkout the workspace
* Download cache from storage account
* Down

[2022-01-21 07:48] michaelsauter commented on #4235
@nikhil-thomas Thanks for this hint! This is indeed something we could explore.

However I believe our use case should not require a mutating webhook, nor are we asking for full-blown enduser specific TaskRun extensions. We simply want to allow specifying sidecars when authoring pipelines instead of only when authoring tasks. As stated before I think this is a crucial feature to make tasks reusabl

[2022-01-21 10:58] #4067 closed

[2022-01-21 15:18] #4087 closed

[2022-01-21 22:02] #4483 closed

[2022-01-21 22:40] jlpettersson commented on #4503
Thanks for the feature request @flo-02-mu.

In your use case with e.g. "code checkout" and "download cache", it sounds like you want to have a Task in your pipeline with access to both workspaces, if I understand your case correct?

If those Tasks would use two different PVCs with different Affinity Assistans, they will likely end up on different Nodes (unless you run a single node cluster) - and

[2022-01-22 05:16] #3718 closed

[2022-01-23 23:04] nikhil-thomas commented on #4235
cc @siamaksade

[2022-01-23 23:36] nikhil-thomas commented on #4501
https://hub.tekton.dev/tekton/task/sonarqube-scanner

this an example might help you 🧑‍💻

also
- https://hub.tekton.dev/?category=CLI
- https://hub.tekton.dev/tekton/task/prometheus-gate
- https://hub.tekton.dev/tekton/task/argocd-task-sync-and-wait
- https://hub.tekton.dev/tekton/task/trigger-jenkins-job

[2022-01-23 23:36] nikhil-thomas commented on #4501
cc @vinamra28

[2022-01-24 06:15] vinamra28 commented on #4501
thanks @nikhil-thomas for pointing :+1:
@catfish1225 do you want to run something in a remote VM? If so, there is already a task available in tektoncd/catalog which might help you right ➡️ https://hub.tekton.dev/tekton/task/remote-ssh-commands

[2022-01-24 14:36] lbernick commented on #4460
Before promoting `pipelinerun.timeouts` to beta, we should clearly document and validate what happens if a user wants no timeout for `pipelinerun.timeouts.tasks` and `pipelinerun.timeouts.finally`. Right now, it's possible to set those timeouts to 0 (no timeout) without setting `pipelinerun.timeouts.pipeline` to no timeout, which I would consider an invalid configuration.

[2022-01-24 19:58] lbernick commented on #3140
/assign
/assign jerop

[2022-01-24 20:15] jerop commented on #4347
fixed in https://github.com/tektoncd/pipeline/pull/4472

thanks @lbernick 🎉

[2022-01-24 20:15] #4347 closed

[2022-01-24 20:19] sbwsg commented on #4247
@JCzz could you try witht he latest version of tekton pipelines (that should includes @imjasonh 's entrypoint picker PR) to see if your issues are resolved?

[2022-01-24 20:32] sbwsg commented on #4320
@ycyxuehan we updated our version of knative in tekton pipelines. Could you try again and see if the problem is fixed for you?

[2022-01-24 21:43] lbernick opened #4510 "TaskRun script error messages include Tekton-generated script name"
# Expected Behavior

TaskRun logs should be understandable to users without knowledge of Tekton's implementation.

# Actual Behavior

TaskRun script errors include the auto-generated name of the script in /tekton/scripts, for example:
`[echo] /tekton/scripts/script-0-ddzfg: line 3: syntax error: unexpected ")"`

We should take out the `/tekton/scripts/script-0-ddzfg` part of the error message and

[2022-01-24 22:25] Yongxuanzhang commented on #3799
Hi @imjasonh , sorry to bother you again 😄 . I took some time to setup related env and test, read the code and I'm not sure the issue you mentioned will occur. Just correct me if I get it wrong:
The params of `k8schain.New` are passed from https://github.com/tektoncd/pipeline/blob/0040bcaa9ab911b8b141699e94fee303e2134f63/pkg/pod/pod.go#L164
So it will use the `taskrun`'s namespace and SA instead o

[2022-01-24 22:33] imjasonh commented on #3799
Right you are! I forgot that the Tekton controller SA has read-only access to all secrets in the cluster, which makes this lookup succeed:

https://github.com/tektoncd/pipeline/blob/0040bcaa9ab911b8b141699e94fee303e2134f63/config/200-clusterrole.yaml#L58-L61

Sounds like this should be pretty straightforward to implement, the only remaining question I have is whether users may be depending on the

[2022-01-24 22:48] Yongxuanzhang commented on #3799
Thank you! My previous understanding is wrong but now is corrected.
Since controller's SA may or may not have this access, I will document the rolebinding part in the PR.

[2022-01-24 23:47] wlynch commented on #4388
Based on this issue + additional feedback from @bobcatfish and @jerop, we're going to go ahead and remove the implicit behavior for Pipeline objects in #4511 for now. Plan is to roll this back and wait for user feedback / more discussion to figure out if this is something we want to support for Pipelines (as opposed to just PipelineRun/TaskRuns) in the future.

[2022-01-25 00:16] wlynch commented on #4320
Confirmed this is fixed with the latest version of pipelines + deps:

[code]

[2022-01-25 00:16] wlynch commented on #4320
/close

[2022-01-25 00:16] #4320 closed

[2022-01-25 07:24] flo-02-mu commented on #4503
Yes, the situation is as you describe it (one task using both volumes from the previous tasks). My assumption was that there would be just _one_ affinity assistant with _both_ PVCs because they belong to the same pipelinerun? Or is it TaskRun based and the first task that uses the workspace instantiates the affinity assistant?

[2022-01-25 09:01] jlpettersson commented on #4503
Ah, now I understand. Yes, that is a fair proposal.

A feature request with similar goals, but different suggestion would be https://github.com/tektoncd/pipeline/issues/3440

That was how it was first implemented, but it did not work when storage class had `volumeBindingMode: Immediate` and the cluster had multiple AZs, the volume and the Task pod could end up on different AZs and be deadlocked. S

[2022-01-25 18:27] wlynch opened #4512 "TaskRun Reason doesn't properly describe error for invalid ResourceRequest"
# Expected Behavior

Errors generated from a bad ResourceRequest TaskRun spec generate a `TaskRunValidationFailed` reason (or some other better fitting error Reason).

# Actual Behavior

The reason returned is `CouldntGetTask`.

I was playing around with stepTemplate features (trying to intentionally cause failures) and noticed that the TaskRun status Reason didn't match the error that was happeni

[2022-01-25 18:32] wlynch opened #4513 "Include Pod Reasons in TaskRun API reasons?"
Noticed this as a part of https://github.com/tektoncd/pipeline/issues/4512.

We describe [`TaskRunReason`](https://pkg.go.dev/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1#TaskRunReason) as:

But really, this does not include **all** reasons - there's a separate set of Pod related Reasons that can show up here - https://github.com/tektoncd/pipeline/blob/92746a2362117c729ad865717dd0dab5ec3

[2022-01-25 18:33] wlynch commented on #4513
/kind documentation
/kind question

[2022-01-25 18:53] NithinKuruba opened #4514 "Unable to use $(tasks.status) in Pipeline"
I am using Tekton pipeline in OCP platform. I am setting up notifications to convey the the overall status of the tasks. However, when I use $(tasks.status), I get below error.

`admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: validation failed: invalid value: pipeline task status is not defined in the pipeline: spec.finally[1].params[aggregateTasksStatus].value`

[2022-01-25 20:43] lbernick commented on #4326
Sorry this took some time, but [TEP-0094: Configuring Resources at Runtime](https://github.com/tektoncd/community/blob/main/teps/0094-configuring-resources-at-runtime.md) is now implementable.

[2022-01-25 20:51] lbernick commented on #4080
Apologies for the time delay here, but [TEP-0094: Configuring Resources at Runtime](https://github.com/tektoncd/community/blob/main/teps/0094-configuring-resources-at-runtime.md) is now implementable.  This TEP proposes allowing TaskRuns to override the resources specified by Tasks. I believe this will provide similar functionality to what is requested here, while also supporting overriding resour

[2022-01-26 07:23] debuggerpk commented on #3910
I am facing the same issue on a private GKE cluster

[2022-01-26 07:37] debuggerpk commented on #3910
following the instructions at https://github.com/tektoncd/pipeline/issues/3317#issuecomment-718322858 seems to solve the issue.

[2022-01-26 09:11] mzaikin opened #4515 "PipelineRun starts two concurrent TaskRuns"
Hi All:
We have some Pipelines in the OpenShift cluster. They all worked fine a few months ago (see screenshot).
Recently when we started running build Pipeline, I noticed that PVC cannot be mounted, as it is already mounted.
Further investigation showed that a PipelineRun (which contains 1 task) starts two identical concurrent TaskRuns, and they cause problems with the filesystem mount.
The typic

[2022-01-26 12:57] chekly opened #4516 "Is there kubernetes agent in Tekton pipeline"
Hello, I am new to Tekton pipeline. I am migrating Jenkins file from Tekton pipeline

I do have the follow jenkinsfile codes

pipeline {
    libraries {
      lib 'operator-pipeline-library'
    }
    parameters {
      string(name: 'OPERATOR_CATALOG_REPO', description: ' operator images that are in the catalog', defaultValue: 'operator-3rdparty-dev-local.net')
      string(name: 'OPERATOR_INDEX',

[2022-01-26 13:13] mzaikin commented on #4515
In it's turn each TaskRun creates 2 identical PODs for some reason:

One PODs completed, another POD keeps running endlessly:

![image](https://user-images.githubusercontent.com/278199/151169084-2e818462-5ca7-4239-ad96-270916974d77.png)

[2022-01-26 13:16] mzaikin commented on #4515
The second duplicated TaskRun's POD (which attempts to mount already mounted PVC) fails with these events (because another POD already monted):

[code]

[2022-01-26 13:19] mzaikin commented on #4515
Basically, the problem consists of 2 parts:
1) Each PipelineRun starts 2 identical TaskRuns (the pipeline contains a single task)
2) Each TaskRun performs steps in 2 identical PODs (the task contains three steps: clone, list source code, create and push image)

[2022-01-26 15:42] #4388 closed

[2022-01-26 15:52] vdemeester commented on #4515
@mzaikin thanks for the issue. Few questions:
- What is your OpenShift version ?
- How did you install Tekton ? from upstream, using OpenShift Pipelines ?
- Can we have the spec of the PipelineRun and related definition ? (or something redacted/changed but that reproduce the problem).

[2022-01-26 16:05] Yongxuanzhang commented on #4512
/assign @Yongxuanzhang

[2022-01-26 16:07] vdemeester commented on #4510
This is going to be tricky to achieve, those are coming from the process running inside the Task, and bash here for example.
Those errors can take an infinite amount of different shapes, depending on what "script language and tool" has been used — default is `/bin/sh` with `set -e` but a user can override this with pretty much anything. Making the "entrypoint" redacted or mutate *on-the-fly* those

[2022-01-26 17:03] jerop commented on #4514
@NithinKuruba I couldn't reproduce this issue - ran this example successfully:

https://github.com/tektoncd/pipeline/blob/4186dc96dfeea5bc465f94cf2c9cf359902973d2/examples/v1beta1/pipelineruns/pipelinerun-task-execution-status.yaml#L45-L58

Could you please share more details, such as:

- An example of the yaml, specifically the part that you're referring to the aggregate task status

- Kubernetes

[2022-01-26 17:04] jerop commented on #4514
/kind bug

[2022-01-26 19:04] Tomcli opened #4519 "Can the "place-tools" and "place-scripts" init-containers merge into one init-container?"
### Feature request
Our team is trying to optimize our Tekton pipelines to have fewer delays. We found out that many Tekton tasks need to run the "place-tools" and "place-scripts" init-containers to set all the Tekton tools and wrap the user scripts. Since some of our machines may have slow container startup time, we want to see can these init-containers merge into one so we can save 1-2s in each

[2022-01-26 19:05] Tomcli commented on #4519
cc @animeshsingh

[2022-01-26 22:06] pritidesai commented on #4519
@rafalbigaj reported, for about 26 seconds of workload, initiating `place-tools` container is causing an average of 2 seconds of delay after the image is pulled from the container registry.

[2022-01-26 23:59] NithinKuruba commented on #4514
@jerop I am using openshift ver. 4.7 and the tekton pipelines ver. 1.4.1 provided by redhat. Below is the final task code I was testing with
[code]

[2022-01-27 09:03] mzaikin commented on #4515
OpenShift version: 4.8.26_1542S
Tekton installed as Red Hat OpenShift Pipelines Operator 1.1.2 provided by Red Hat
Components:
OpenShift-Pipelines: v0.14.3
OpenShift-Pipelines-Triggers: v0.6.1
OpenShift-Pipelines-ClusterTasks: v0.14
Update channel: stable
Update approval: Automatic
Upgrade status:  Up to date

[2022-01-27 10:16] mzaikin commented on #4515
Here are the steps to reproduce:
create a basic pipeline with 4 identical tasks
[demo.zip](https://github.com/tektoncd/pipeline/files/7949526/demo.zip)

[2022-01-27 10:20] mzaikin commented on #4515
When the pipeline runs, this is what we have -- 8 task runs (should be 4), and 10 PODs, should be 4 too.
2 of 10 PODs never end at all.
So, when tasks start using PVC, there will be more severe problems due to concurrent mount.

![image](https://user-images.githubusercontent.com/278199/151339515-09793794-0f5a-4479-bf0c-36c31377c299.png)

![image](https://user-images.githubusercontent.com/278199/15

[2022-01-27 12:43] waveywaves commented on #4516
https://github.com/tektoncd/catalog/tree/main/task/kubernetes-actions is what you're looking for I suppose

[2022-01-27 15:19] vdemeester commented on #4514
@NithinKuruba given the version of tektoncd/pipeline that you are running (0.22.0) it is to be expected, as this variables (`tasks.status`) are only available since [v0.24.0](https://github.com/tektoncd/pipeline/releases/tag/v0.24.0). You would need to update your OpenShift Pipelines version to a more recent one (most likely by updating OpenShift to 4.8 that would bring you a more recent version o

[2022-01-27 15:19] #4514 closed

[2022-01-27 21:16] skaegi opened #4529 "Intermittent "InvalidTaskResultReference" when running tasks with big results"
We've been seeing an increasing number of teams reporting `InvalidTaskResultReference` problems in pipelines that might otherwise run successfully. We are seeing this infrequently (1 in 40) but we've now seen it a number of different unrelated pipelines. Something like this...

---
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/541119/151443715-e9b26909-22c9-4a18-8d38

[2022-01-28 15:11] #3910 closed

[2022-01-28 19:00] lbernick commented on #1876
@dbazhal @zhangtbj @jsimao71 and others on this thread-- sounds like you might have opinions on the future of ClusterTasks, please feel free to chime in on #4476!

[2022-01-29 01:39] ileixe opened #4533 "How to make a pod to have QoS guaranteed?"
### Feature request

I made a `Task`  with specified resources (same requests/limit) and expected the pod would have guaranteed QoS, but as default init-containers injected by Tekton itself like `place-tools`, `step-init` have no resources parameters, the pod had Burstable QoS.

I'd like to have a way to make my Pod guaranteed. I think it may be possible to have such feature using LimitRange but i

[2022-01-29 04:11] ileixe opened #4534 "Question: how to make PipelineRun show actual duration when it took longer than 1 hour?"
In PipelineRun

[code]

Task running time was longer than 1 hour but the description seems not to have actual value but hard-coded 1 hour. I could confirm that task ran over than 1 hour in dashboard, so why it did not appear in the PipelineRun.

Is there any configuration to show actual value for it?

Thanks

[2022-01-31 14:31] lbernick commented on #4533
/assign

[2022-01-31 14:35] lbernick commented on #4533
Related to #2933: the lack of default resource requests/limits for init containers also affects pod creation when there are resourcequotas present in the namespace.

[2022-01-31 19:00] pritidesai commented on #4485
thank you @msvticket, I will bring this up in the next [API WG](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.e5dvyirq4cjc) (2/7) to collect feedback from the community 🙏

[2022-01-31 20:36] lbernick commented on #4510
Thanks @vdemeester, I didn't realize when I wrote this issue that these logs were coming from the scripts rather than from Tekton (a Python example makes this much more clear). I agree that we likely wouldn't want to attempt to overwrite the output of scripts in various programming languages.

@davejacobs had the idea of having the Tekton entrypoint pass the contents of a script as a string to the

[2022-02-01 15:04] tmds opened #4540 "context.pipelineRun.namespace not working"
My OpenShift 4.8 cluster doesn't support the latest version of .NET (.NET 6).

I've imported the [s2i-dotnetcore image streams](https://github.com/redhat-developer/s2i-dotnetcore/blob/master/dotnet_imagestreams.json) into my namespace.

I'm trying to patch the https://github.com/openshift/pipelines-catalog/blob/master/task/s2i-dotnet/0.1/s2i-dotnet.yaml Task so it will use the `dotnet` images from

[2022-02-02 13:37] nikhil-thomas opened #4542 "Potential Deadlock in dependency between tektoncd-pipeline-webhook and configMaps like config-defaults"
# Summary

 The dependency between [ValidatingWebhookConfiguration config.webhook.pipeline.tekton.dev](https://github.com/tektoncd/pipeline/blob/05baf0801dde6f027d5ca3cc7459145752a6b45b/config/500-webhooks.yaml#L68) and  [Deployment tekton-pipelines-webhook](https://github.com/tektoncd/pipeline/blob/05baf0801dde6f027d5ca3cc7459145752a6b45b/config/webhook.yaml#L15) is cyclic. This can lead to a pot

[2022-02-02 13:38] nikhil-thomas commented on #4542
@vdemeester @afrittoli @dibyom @bobcatfish @imjasonh

[2022-02-02 14:00] afrittoli commented on #2591
/remove-lifecycle rotten

[2022-02-02 14:00] afrittoli commented on #2591
/lifecycle frozen

[2022-02-02 15:45] vdemeester commented on #4540
/kind bug

[2022-02-02 15:58] vdemeester commented on #4515
Hey @mzaikin, looking at the version you are running, it's a very old version of Tekton Pipelines (and a non-supported version of OpenShift Pipelines, as it was a dev preview version). From an upstream perspective, 0.14.3 is more than one year old and I don't think we support that either. If it is reproductible on more recent version we may be able to fix it, but the first take I would suggest is

[2022-02-02 19:44] bobcatfish commented on #4485
Hey @msvticket - is your preference to have this within a Task or a Pipeline? i.e. do you have one task with all of the elements you mentioned: build, deploy and integrations tests, or is each of these a Task which you combine together into a Pipeline?

If it could work for you to implement this at the level of a Task within a Pipeline (vs a step within a Task), that would be my preference - it wo

[2022-02-02 20:12] mzaikin commented on #4515
Hello @vdemeester
Thank you for the reply.
Answering your question: we have installed Tekton Pipelines by using Red Hat OpenShift Pipelines Operator provided in built-in OperatorHub. We did not manage or pick versions -- all done automatically.
I noticed that the Tekton Pipelines version periodically updates when we update the OpenShift cluster version. Not sure about this correlation, but it's th

[2022-02-02 21:15] wlynch opened #4543 "Pipelines don't respect mixed Task API versions"
So a weird quirk of the Pipelines API is that it's valid to create a request like:

[code]

# Expected Behavior

I'm not sure what the behavior should be. I see 2 options:

1. Respect the TypeMeta field and create resources corresponding to the type (e.g. allow a v1beta1 Pipeline to create a v1alpha1 Task) - this might be useful to allow for users to use experimental Tasks within a Pipeline.
2. En

[2022-02-02 22:26] wlynch commented on #4543
/cc @lbernick @jerop (this came up in https://github.com/tektoncd/community/pull/616)

[2022-02-02 22:55] pritidesai commented on #3749
We havent resolved this yet and have seen use case for this.
/lifecycle frozen

[2022-02-03 12:32] afrittoli commented on #4364
Thanks for this report @briangleeson and sorry about the late follow-up.
I think having this feature is critical to the usability of bundles.

I also wonder if we should decouple the concept of bundle from the OCI backend, and make it a general feature that can be implemented by various [remote backends](https://github.com/tektoncd/community/blob/main/teps/0060-remote-resource-resolution.md) when

[2022-02-03 14:51] vdemeester commented on #4543
I think this is coming from #3901 that brought `TypeMeta` in for the Custom Tasks. I think that, indeed, we should disallow the use of `TypeMeta` if only `apiVersion` is used or if it's on "built-in" Task.

[2022-02-03 14:56] lbernick commented on #4543
Thanks for bringing this up @wlynch! Can you elaborate on what you mean by "this might be useful to allow for users to use experimental Tasks within a Pipeline"? Wouldn't custom tasks already serve this purpose? I'm not sure what you mean by experimental Task here.

In terms of what the expected behavior should be, I think we should respect the type meta annotation and create any Tasks with API ve

[2022-02-03 14:56] vdemeester commented on #4515
Something is weird in your setup though, the channel seems to have the correct values (1.5.2), but the installed version is stuck in time for some reason (1.1.2). Can you try to switch to the preview channel to see if it has any effect ? (and switch later back on stable as the version are the same)

[2022-02-03 15:32] vdemeester commented on #4543
This is "only" for embedded Task though, it doesn't affect Task referenced (`TaskRef`). So we "could" most likely assume that if a Pipeline is using v1beta1, then the embedded Task inside also use v1beta1, and if the Pipeline is updated to use v1, the embedded Task would also be updated as v1. Today, it's completely possible to use a v1beta1 Pipeline that references v1alpha1 created Tasks (as.. we

[2022-02-03 16:03] vdemeester commented on #4342
Essentially this would allow to use results written by a previous step in a following one without the need to rely on a shell.
As said, we wrap the execution inside the entrypoint, so it could definitely be something the entrypoint could resolve.

/cc @imjasonh
/remove-lifecycle stale

[2022-02-03 16:03] vdemeester commented on #3551
/lifecycle frozen
(as it's part of v1 planning)

[2022-02-03 17:42] mattmoor commented on #4342
I'd still love this to keep me from needing to include shells in my images or teaching tools to take argument values from files. 🙏

One key place I see this a fair amount now is with `ko resolve --image-refs /tekton/results/IMAGES -f config` -> `cosign sign $(cat /tekton/results/IMAGES)`

[2022-02-03 19:24] lbernick opened #4544 "Mark metrics as "alpha" or "stable""
As part of our [V1 planning](https://github.com/tektoncd/community/blob/main/teps/0096-pipelines-v1-api.md), we will follow the [Kubernetes deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/), which specifies different deprecation policies for metrics marked as "alpha" and metrics marked as "stable". ("alpha" metrics are for use by developers of the project, whi

[2022-02-03 23:08] pritidesai opened #4545 "Termination message getting updated twice"
Updating the termination message for a container was moved under `defer` ([reference](https://github.com/tektoncd/pipeline/pull/2429/files#diff-4f4c36fd479ff7f6bc3a251fe425563a9270cef95a9ea157060b67a8d9b63503R88)) such that the `startedAt` is updated in case of a step being `skipped`. (I think an alternate discussion point here can be - whether `startedAt` should be even set to anything since that

[2022-02-04 02:02] jerop commented on #3497
In [TEP-0075](https://github.com/tektoncd/community/pull/479/files#r795781662), we are planning to support object results. These results embrace the optional by default behavior of JSON Schema. A task can produce an object result with a missing attribute and it won't fail. However, a subsequent task will fail if it attempts to use the missing attribute from the object result, causing the pipeline

[2022-02-04 08:29] ArtS commented on #782
what's the point of having `--previous=true` by default at all, given that you can't get logs from deleted containers?

[2022-02-04 09:31] msvticket commented on #4485
This story is about steps in a task and that is how I prefer to have it. Also in Jenkins-X there is a mechanism to reuse steps from a task from a catalogue in another task, so for me that isn't opposed to reuse.

[2022-02-04 10:09] vdemeester commented on #4342
@mattmoor having the entrypoint be/ship its own shell (with some built-in) could also help, but I definitely agree that this would be more than nice to have the entrypoint handle this 👍🏼

[2022-02-04 10:57] vdemeester commented on #4364
@briangleeson Thanks for raising this issue. Indeed, I tend to agree with @afrittoli, this is a key feature to support to make bundle more usable. On decoupling I wonder if that can be tackled independently as, in the end, we are just "shipping" a Task/Pipeline spec in the bundle. As long as we lookup for oci bundle and/or later one the different remote backends, it should just work, 🤔 ?

[2022-02-04 11:17] mzaikin commented on #4515
Hello @vdemeester
Thank you for the recommendation.
I tried and it (expectedly) did not update the version.
The only time in the past I remember when Tekton Pipelines update was triggered -- when OpenShift version was updated. I thought maybe there is a strong correlation, and thus we may not have the latest pipelines version.

Here is subscription yaml:

[code]

I think maybe delete the pipelines

[2022-02-04 11:26] vdemeester commented on #4515
/cc @nikhil-thomas
I think you initially installed OpenShift Pipelines Dev Preview and most likely something changed making it not upgradable.
@nikhil-thomas any idea how to unblock this ? I guess unsubscribing and re-subscribing should fix it ? 🤔

[2022-02-04 12:17] mzaikin commented on #4515
Yes, most likely you're right.
The support of Tekton pipelines was done by someone else, I just use what was configured not by me.
And till August 2021 it worked perfectly well.

[2022-02-04 14:19] lbernick opened #4546 "Handle deprecated fields during conversion from v1beta1 to v1"
This issue is for discussing how to implement conversion between v1beta1 and v1 CRDs, as proposed in [TEP-0096](https://github.com/tektoncd/community/blob/main/teps/0096-pipelines-v1-api.md). This conversation came up in tektoncd/community#587.

One question we will need to answer is how to handle the "resources" field of Task/TaskRun/Pipeline/PipelineRun, since these will be removed in v1.

Copyi

[2022-02-04 16:54] lbernick commented on #4533
Thanks for filing @ileixe! I think we don't want to support this feature right now unfortunately. The reason is that providing a guaranteed QoS for Tekton pods would require us to choose one set of resource requirements to serve as both the request and limit for our init containers. Setting the limit too low could result in (for example) a pod being OOMkilled, and setting it too high could cause p

[2022-02-04 19:46] pritidesai commented on #4282
this still need resolution, could be addressed by https://github.com/tektoncd/pipeline/issues/4012 and [TEP-0086](https://github.com/tektoncd/community/pull/521).

/lifecycle frozen

[2022-02-04 23:27] vaikas opened #4548 "Tekton is unable to execute a linux/arm64 container. Looking for linux/arm64/v8"
# Expected Behavior
Task to run successfully if it's linux/arm64 container

# Actual Behavior
Task fails because it looks for linux/arm64/v8 container

# Steps to Reproduce the Problem

1.  Create a task
2. Create a taskrun
3. Observe the taskrun fails

Here's the small repro with a publicly available image. If you just want to YOLO:

[code]

This will fail after a few seconds with the following i

[2022-02-04 23:30] imjasonh commented on #4548
/assign

[2022-02-07 11:43] nikhil-thomas commented on #4515
Unsubscribing and resubscribing should fix it. It should be safe as well.
Make sure no resources created by Operator are deleted during unsubscribe/resuscribe.

1.  run `oc delete subscription -n openshift-operators openshift-pipelines-operator-rh`
2. install 1.5.2 from ui.

[2022-02-07 15:28] #4548 closed

[2022-02-07 20:19] mattmoor opened #4551 "Move off DockerHub for e2e images"
# Expected Behavior

e2e tests "just work"

# Actual Behavior

Periodically the e2e tests hit DockerHub's shiny new rate-limiting, and things fail.

Example:
[code]

Note: the above had `mirror.gcr.io` configured for both Github Actions and KinD, but it is kaniko pulling the base image, which (afaik) doesn't have mirror support (or at least isn't configuring it!).

# Steps to Reproduce the Problem

[2022-02-07 20:20] mattmoor commented on #4551
In my experience `ghcr.io` thus far is a pretty fantastic alternative to DockerHub that's also free.

[2022-02-07 20:25] pritidesai commented on #4529
I think its very likely possible and surprised to see this happening intermittently.

The `taskRun` status is updated once all containers in the pod have terminated (pod succeeded or failed).

https://github.com/tektoncd/pipeline/blob/6cb0f4ccfce095495ca2f0aa20e5db8a791a1afe/pkg/pod/status.go#L109-L115

`updateCompletedTaskRunStatus` includes updating the condition and competition time.

But there

[2022-02-07 20:30] lbernick commented on #4529
/priority important-soon

[2022-02-07 20:32] lbernick commented on #4551
/priority important-longterm

[2022-02-07 20:32] pritidesai commented on #4529
@lbernick thanks for adding the priority 👍  Let me know if you want to take a stab at it else I am happy to try fixing it 🙏

/assign

[2022-02-07 20:33] lbernick commented on #4366
/priority backlog

[2022-02-07 20:34] lbernick commented on #4143
/close based on explanations from @vdemeester and @dibyom

[2022-02-07 20:35] lbernick commented on #4143
/close

based on explanations from @vdemeester and @dibyom

[2022-02-07 20:35] #4143 closed

[2022-02-07 20:36] lbernick commented on #4533
/priority backlog

[2022-02-07 21:10] mzaikin commented on #4515
I deleted pipelines operator (via UI), reinstalled version 1.5.2, re-run test case pipeline -- the same symptoms.
Then I uninstalled again and started a pipeline -- it ran. Is that a normal behavior, maybe I have not fully uninstalled tekton pipelines? or that's ok as I uninstalled only operator? How can I check operator updated tekton pipelines?

These are symptoms: 4 tasks, and 8 taskruns starte

[2022-02-07 21:24] mzaikin commented on #4515
The only suspicious thing in events aI can see are:

[code]
and
[code]
These events demonstrate 2 task runs for a single task create 2 pods (and some pods get assigned on different nodes)
![image](https://user-images.githubusercontent.com/278199/152874209-a62211af-288b-414c-a4c0-1372445c9717.png)

[2022-02-07 22:27] bobcatfish commented on #3497
I'm still leaning toward failing tasks that claim to emit results but fail and I'll try to explain why.

The Task spec defines the interface of the task, including:
* params it needs to be operate, which can be optional if defaults are provided
* results it declares it will produce, which consumers of the Task should be able to expect and rely on

In TEP-0075 we add support for results to declare

[2022-02-08 00:24] #4356 closed

[2022-02-08 03:15] rebelopsio commented on #3705
I’m currently working through learning Tekton from a newcomer’s perspective including making use of workspaces. I’d love to help get the documentation updated around this topic.

[2022-02-08 09:22] vdemeester commented on #4366
/remove-lifecycle stale

[2022-02-08 16:32] dibyom commented on #3705
Thanks @rebelopsio I think @geriom also has some ideas in this space.

[2022-02-08 17:39] afrittoli commented on #4112
Discussed during the Pipeline WG:
- we shall had support for the new mechanism but keep PSP in parallel
- both methods can stay together until Pod Security Admission is stable

[2022-02-08 18:37] geriom commented on #3705
I created an [introductory tutorial last year](https://github.com/tektoncd/website/pull/298). I'll make my priority to update it and get it merged this week.

That wasn't merged because we struggled to decide where that doc fits, in the end we decided to step back and rethink the docs strategy, we (the documentation working group) came up with [a roadmap, new structure and new doc guidelines](http

[2022-02-08 18:45] geriom opened #4553 "Write a user-friendly introductory setup guide."
### Feature request

As part of the [docs strategy](https://github.com/tektoncd/website/pull/337) to provide better educational content, create a straightforward reproducible local environment setup to use in the introductory tutorials.

### Use case

This setup guide can be referenced everywhere else in the documentation as a first step to test a feature locally. The most likely runtime at this m

[2022-02-08 18:51] geriom opened #4554 "Crete "Getting started with tasks""
### Feature request

Write and introductory tutorial for users who are completely new to Tekton.

### Use case

This tutorial would be the entry point for new users. It should be a straightforward reproducible tutorial, that can be run locally and doesn't include more information that necessary.

[2022-02-08 18:55] geriom commented on #4554
/kind documentation

[2022-02-08 18:55] geriom commented on #4553
/kind documentation

[2022-02-08 18:57] geriom opened #4555 "Write "Getting started with pipelines" doc"
Write and introductory tutorial for users who are completely new to Tekton to create their first pipeline.

This tutorial would be the natural second step for new users that already read how to create a single task. It should be a straightforward reproducible tutorial, that can be run locally and doesn't include more information that necessary.

[2022-02-08 18:57] geriom commented on #4555
/kind documentation

[2022-02-08 18:59] geriom commented on #3705
Tracking this now in #4554 and #4555

[2022-02-08 19:03] geriom opened #4556 "Create "Build and push with Tekton" how-to guide"
Document a build and deploy real-life example.

This how-to document would greatly benefit users that will be able create their own pipelines based on the code samples included here.

[2022-02-08 19:03] geriom commented on #4556
/kind documentation

[2022-02-08 19:05] geriom opened #4557 "How-to use tekton with vendor-specific registries."
Create a document to show how to use Tekton with a specific vendor's registry.

This would provide instructions and code-samples for a common real-life scenario.

[2022-02-08 19:06] geriom commented on #4557
/kind documentation

[2022-02-08 19:08] geriom opened #4558 "Publish API documentation on the website"
Add the Pipelines documentation to the [tekton.dev](https://tekton.dev/) website.

[2022-02-08 19:09] geriom commented on #4558
/kind documentation

[2022-02-08 19:11] geriom opened #4559 "Document real-life examples"
This is an open-ended issue to hear ideas about real-life scenarios that we would like to find in the documentation.

[2022-02-08 19:11] geriom commented on #4559
/kind documentation

[2022-02-08 19:44] geriom opened #4560 "Improve the visibility of the Deprecation comms"
Currently the doc website contains list of [deprecated features](https://tekton.dev/docs/pipelines/deprecations/). It would be nice to increase its visibility and include also the release status of other features.

[2022-02-08 19:45] geriom commented on #4560
/kind documentation

[2022-02-09 13:53] mzaikin commented on #4515
Deleted subscription, uninstalled (not really sure if it was deleted) and re-installed Pipelines via Operator Hub UI.
Here is what I got:

![image](https://user-images.githubusercontent.com/278199/153214231-b8ed45a2-5d96-4e17-ae01-9030cf742b27.png)

![image](https://user-images.githubusercontent.com/278199/153214319-1036eb5b-b584-41f6-9356-a9dd73592a1d.png)

[code]
Another question I have: may the

[2022-02-09 14:59] sbwsg commented on #3459
I'm going to close this as [TEP-0033 Tekton Feature Gates](https://github.com/tektoncd/community/blob/main/teps/0033-tekton-feature-gates.md) has been implemented.

/close

[2022-02-09 14:59] #3459 closed

[2022-02-09 17:04] #4512 closed

[2022-02-10 08:17] nikhil-thomas commented on #4515
could you share the output of

1. `oc get tektonconfig`
1. `oc get crd | grep tekton`
1. `oc get deploy -n openshift-pipelines`

[2022-02-10 08:32] mzaikin commented on #4515
![image](https://user-images.githubusercontent.com/278199/153368169-1409fec0-a942-460f-ac21-8765e3ba3884.png)

[2022-02-10 09:14] nikhil-thomas commented on #4515
the presence of `config.operator.tekton.dev` crd shows that the upgrade from tech-preview to GA version is not successful.

try this,
1. find the name of `config.operator.tekton.dev` instance `oc get config.operator.tekton.dev`
2. delete the instance of `config.operator.tekton.dev` : `oc delete config.operator.tekton.dev <name from step 1>`
3. uninstall operator from ui (or delete the subscription

[2022-02-10 10:10] mzaikin commented on #4515
Sorry, it did not work:

[code]

[code]

[code]

No CSV returned for pipelines.

Installed via OperatorHub UI, in fact it never ends, simply circle icon goes round endlessly. Waited 10 mins.

[code]

[code]

[2022-02-10 15:51] lbernick commented on #4409
@dibyom and I spent some time debugging this issue. We noticed a few things:
- A pipeline with a single task with retries works as expected.
- The example buggy pipelinerun does not always attempt the same number of retries for task1.
- When adjusting the amount of time the tasks sleep (so the two tasks finish at different times), retries for task1 are only attempted until task2 finishes.
- Attemp

[2022-02-10 17:14] jerop commented on #2840
Saw this test flake again in https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4502/pull-tekton-pipeline-alpha-integration-tests/1491815954336714752/#testv1alpha1-testtaskrunpipelineruncancel

[2022-02-11 02:53] vaikas opened #4566 "Failed to create task: '...translating TaskSpec to Pod: duplicate image found for platform'"
# Expected Behavior
Task to run, but it fails. **NOTE** Not sure if this is a problem with the image being run (in which case I'd be happy to chase that fix), or me doing something wrong, or just a bug here.

Trying to run this task/taskrun:

[code]

# Actual Behavior
Taskrun fails with:

[code]

# Steps to Reproduce the Problem

1. Create a task / taskrun like so:
[code]

2. Wait a few seconds
3.

[2022-02-11 14:46] jerop opened #4567 "TestHermeticTaskRun is flakey"
# Expected Behavior

`TestHermeticTaskRun` should only fail due to actual bugs

# Actual Behavior

`TestHermeticTaskRun` flaked in:
- https://github.com/tektoncd/pipeline/pull/4541#issuecomment-1027998805 and passed on rerun
- https://github.com/tektoncd/pipeline/pull/4564 - https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4564/pull-tekton-pipeline-alpha-integra

[2022-02-11 16:49] Yongxuanzhang commented on #3799
Probably  forgot to link [PR](https://github.com/tektoncd/pipeline/pull/4496) to this issue

[2022-02-11 17:05] pritidesai commented on #3799
This should be fixed by #4496 which will be part of Pipelines 0.33 🎉
@skaegi please feel free to reopen if you run into any issues. Thanks! 🙏

[2022-02-11 17:05] #3799 closed

[2022-02-11 18:21] #4225 closed

[2022-02-11 18:53] pritidesai commented on #4566
/cc @imjasonh

[2022-02-11 19:26] imjasonh commented on #4566
That image is just weird!

[code]

It's got two unique platforms, 3x each. They only point to two unique digests, so we could probably handle this better, but in general I'd say that image is just malformed based on normal expected usage.

[2022-02-11 19:53] imjasonh opened #4568 "Entrypoint command lookup fails to consider osversion in uniqueness check"
# Expected Behavior

Users can run the `golang` image in a step.

# Actual Behavior

TaskRuns get this status:

[code]

# Steps to Reproduce the Problem

1. install Tekton after https://github.com/tektoncd/pipeline/pull/4420, including v0.32.0
2. `k create -f taskrun.yaml`
3. See `CouldntGetTask` and the error above.

taskrun.yaml:

[code]

# Additional Info

The `golang` image in question has two

[2022-02-11 19:54] imjasonh commented on #4568
/assign

[2022-02-11 19:54] imjasonh commented on #4566
Looking into this more, it seems our current behavior introduced in #4420 might prevent `golang` images from working, filed https://github.com/tektoncd/pipeline/issues/4568 to track that

While fixing that I might also fix this.

[2022-02-12 15:42] #4230 closed

[2022-02-12 19:46] #4083 closed

[2022-02-13 10:04] DragD opened #4571 "Task skipped when parallel task fails"
## Intro
I have simple pipeline consisting of 4 instances of the same task. The task just exits with the value provided as parameter.

![snap01243](https://user-images.githubusercontent.com/17828303/153747032-abe5ced4-0e93-41c3-8666-f7bb704a05d9.jpg)

## Expected Behavior
When running the pipeline with exit code `1` for task-2, the parallel `task-4` should run and complete.

## Actual Behavior
Whe

[2022-02-13 10:32] jeffmaury commented on #742
/remove-lifecycle stale

[2022-02-13 21:57] r0bj commented on #3171
/remove-lifecycle stale

[2022-02-14 13:50] lbernick commented on #4559
A Tekton user (Avinash Upadhyaya K R) wrote [this article](https://hashnode.com/post/tekton-ci-simplified-ckzleauyw0n6beks1diq6ejvv) about getting started with Tekton, using an example node js pipeline.

[2022-02-14 15:52] #4454 closed

[2022-02-14 19:22] pritidesai commented on #4571
thank you @DragD for reporting this issue 👍

Based on the pipeline definition, `task-2` and `task-3` are starting to execute right after `task-1` is done (`runAfter: [task-1]`). And `task-2` exiting with failure is causing the pipeline to stop executing anything further.

There is also a timing factor which plays role, if `task-3` finishes before `task-2` fails, `task-4` will be scheduled and exec

[2022-02-14 19:25] pritidesai commented on #4571
This flag only applies to `when expressions`. It does not impact your pipeline in any way without any when expressions. Reference: https://github.com/tektoncd/pipeline/blob/main/docs/pipelines.md#guard-task-execution-using-when-expressions

[2022-02-14 19:35] pritidesai commented on #4571
Are you adding a `finally` task in addition to the four tasks specified in the pipeline definition? Or `task-4` is moved under `finally`?

I am confused by these two checks, what is the difference between them?

[2022-02-14 19:44] DragD commented on #4571
@pritidesai
Thank you for the explanation!

It appears I misunderstood or omitted part of the documentation. To clarify: Any failing task on a parallel branch will block the execution of the consequent tasks (except for the final tasks) and thus will fail the pipeline run. Correct?

About the `scope-when-expressions-to-task`: I included its value just in case it is relevant.

About the "Additional

[2022-02-14 22:41] pritidesai commented on #4571
Yup, that's correct. Once a task fails, the pipeline will not schedule any new tasks but will wait for the already executing tasks to finish before exiting with an error.

[2022-02-14 22:48] pritidesai commented on #4571
Yup thats my confusion, how can the outcome be different 🤔  without having any difference in the definition unless there is anything else different or I am not reading it right 🙃

Without any finally task and setting exit-code-2 to 1, the task-4 runs and completes but sometimes the task-4 is skipped 🤔

[2022-02-15 07:18] DragD commented on #4571
... "how can the outcome be different"... That's confusing to me too.

[2022-02-15 08:01] sushilHpal commented on #4388
For 0.32.1 release of Tekton,  which Kubernetes cluster version we need to have?

[2022-02-15 20:24] DragD commented on #4571
There is no need to test. I am not able now to reproduce every time the steps above from the section "Additional checks". You were correct about the timing factor which also plays role. If `task-4` occasionally starts before `task-2`, then `task-4` completes even though `task-2` fails but that is not always the case.

About the `onError`: I can't use it because our OpenShift cluster is provider-ma

[2022-02-15 21:05] mzaikin commented on #4515
Not sure how, but the problem seems gone.

I still have this and do not know which version of pipelines I use
8-)

![image](https://user-images.githubusercontent.com/278199/154148950-c9ec51f3-6d98-4296-b2fd-0e2900387d6a.png)

[2022-02-15 21:21] lbernick commented on #4409
I think I know why this is happening:

Consider the PipelineRun at the state where task2 has completed with failure, and task1 has completed some but not all of its retries. Because task2 has failed, the PipelineRun will be considered "stopping", and the function [DAGExecutionQueue](https://github.com/tektoncd/pipeline/blob/137521906ce3e1df9440a3248f932ddb5a653e35/pkg/reconciler/pipelinerun/resour

[2022-02-15 21:21] pritidesai commented on #4571
`onError` was promoted to the latest stable API (`v1beta1`) with Pipelines 0.29:

https://github.com/tektoncd/pipeline/commit/41192338e661b9dc7bceb845255221db89b5e082

I notice you are using `v0.28.2` 😞

[2022-02-16 10:36] vdemeester commented on #4571
@DragD also, if you are using 1.6, you can enable alpha feature-flags from the operator options (need to have the rights to change the operator configuration though)

[2022-02-16 11:01] afrittoli commented on #3377
@jerop @vdemeester @bobcatfish Do we need a `v1beta2` to remove `Conditions`?
They have been deprecated since v0.16.0 and we Nov 2020 was the first time we could have removed them according to the policy.

[2022-02-16 12:08] #4566 closed

[2022-02-16 12:08] #4568 closed

[2022-02-16 12:43] jfdenise opened #4581 "Mounted workspace in task container is visible during kaniko image build"
# Expected Behavior
Was not expecting the workspace to be accessible during build of the image

# Actual Behavior
The workspace mounted in the task container is visible during docker build execution (seems mounted inside the from Image of my docker file)

# Steps to Reproduce the Problem
I am defining a Task that uses Kaniko executor image to do a docker multistage build (https://github.com/jfdeni

[2022-02-16 13:29] devholic opened #4582 "Status of PipelineRun with Finally is flakey"
# Expected Behavior

When the tasks in `Finally` of the PipelineRun are running,

- PipelineRun shouldn't be marked as `Completed`
- Running `Finally` tasks shouldn't be marked as `Skipped`

# Actual Behavior

- PipelineRun's `completionTime` is earlier than the last TaskRun's `completionTime`
- Running `Finally` tasks are marked as `Skipped`

# Steps to Reproduce the Problem

<details>
<summary>P

[2022-02-16 13:41] mzaikin opened #4585 "How to define ServiceAccount to run task without defining TaskRun or PipelineRun"
Hi all:
On the project we use some **Pipeline**s, and **Task**s, but we don't have/use explict **TaskRun** or **PipelineRun**.
We simply start via web UI.
In the past, all PipelineRuns  used by default "pipeline"ServiceAccount (see screenshot), and after some update the default ServiceAccount name became "default", therefore all security settings (e.g. Git access) broke. (see screenshot)
The quest

[2022-02-16 15:19] #4571 closed

[2022-02-16 17:52] #4515 closed

[2022-02-16 18:16] jerop commented on #3377
I don't think it's worth the effort to create `v1beta2` just to remove `Conditions`, especially given that we're already working towards `v1` which won't have `Conditions` - [TEP-0096](https://github.com/tektoncd/community/blob/main/teps/0096-pipelines-v1-api.md#deprecations)

[2022-02-16 18:22] pritidesai commented on #4409
That's a great finding @lbernick 👍

The debate here is whether to terminate `task1` (even without exhausting the number of retries) when `task2` fails. Failing of `task2` is triggering the `stopping` mode which does not schedule any remaining retry of existing failed tasks and results in hanging pipelineRun until timed out.

We need a resolution on how do we define `stopping` mode here? In my opin

[2022-02-16 18:37] #1836 closed

[2022-02-16 19:26] HildaHay opened #4589 "Add array of all tasks' results as variable"
### Feature request

Right now, each task's result is available as an individual variable. I'd like to have another variable that contains all of the tasks' results as an array.

### Use case

When my pipeline fails, I'd like to send the programmer a message telling them which task it failed on, to help them figure out what went wrong without having to check the dashboard if it was a simple proble

[2022-02-16 20:52] bobcatfish commented on #4567
Some more context, It looks like for https://github.com/tektoncd/pipeline/pull/4541 it failed 3 times in a row:

https://tekton-releases.appspot.com/builds/tekton-prow/pr-logs/pull/tektoncd_pipeline/4541/pull-tekton-pipeline-alpha-integration-tests/

![image](https://user-images.githubusercontent.com/432502/154344556-3ca0f4dc-c1ac-4e1d-b2d3-82a03887de89.png)

* https://tekton-releases.appspot.com/

[2022-02-17 14:52] mtcolman opened #4593 "place-scripts not compatible with "runAsNonRoot" SCC on OpenShift"
Hi, I'm running OpenShift Pipelines 1.4.1 on OpenShift 4.7.40 and have created a single task pipeline that I need to run as non-root. I've created the following SCC:
[code]

I've then associated my service account with it, via `oc adm policy add-scc-to-user scc-buildah -z buildah-sa` and specified this service account for the task:
[code]

However when I try and run the task, I get an error in Ope

[2022-02-17 16:12] jerop commented on #2710
Is the idea here that a `Pipeline`'s `Result` can reference a `Finally Task`'s `Result` using a variable `$(finally.<pipeline-task-name>.results.<result-name>)`?

Was curious to see what happens if a a `Pipeline`'s `Result` references a `Finally Task`'s `Result` using a variable `$(tasks.<pipeline-task-name>.results.<result-name>)` - and found that it worked, is that expected behavior? If so, can

[2022-02-17 16:47] jerop commented on #4055
/lifecycle frozen

[2022-02-17 22:21] bradbeck commented on #4548
I'm still able to reproduce the error in v0.33.0 with the following:
[code]

[2022-02-18 03:32] huanghantao opened #4597 "The kaniko build failed, but pipelinerun was successful"
# Expected Behavior

If the Kaniko build fails, Pipelinerun should display the failure.

# Actual Behavior

The kaniko build failed, but pipelinerun was successful

# Steps to Reproduce the Problem

My `Dockerfile`:

[code]

log:

[code]

the pipelinerun status:

[code]

# Additional Info

Kubernetes version:

[code]

Tekton Pipeline version:

[code]

[2022-02-18 08:47] afrittoli commented on #4548
@bradbeck Uhm, I wonder how that worked on v0.29.0 - the image from the test is for `amd64` which is what causes it to fail on `arm64`. Perhaps earlier we did not check for the platform at all and it worked? @imjasonh

[code]

Could you try using the `arm64` image for kaniko instead in your test?

[code]

[2022-02-18 08:51] vdemeester commented on #4597
@huanghantao thanks for the report. Can we see the Task and Pipeline definition used ? A Task is gonna be marked as a failure if the exit code is > 0. If something wraps the kaniko execution for example, or if `onError` is used, it might be a reason why it succeded.

[2022-02-18 12:10] huanghantao commented on #4597
You're right! I wrap the kaniko execution but not process the exit code. Thank you!

[2022-02-18 12:10] #4597 closed

[2022-02-18 14:23] bradbeck commented on #4548
@afrittoli `gcr.io/kaniko-project/executor:v1.7.0` does run successfully in my test, as does `gcr.io/kaniko-project/executor:v1.5.1`. These were failing in v0.32.1 before the fix in #4550.

I'm just concerned that we may be over constraining things now, causing some containers to now fail in pipeline that can still be run successfully outside of pipeline (e.g. docker) in `arm` environments.

[2022-02-18 16:12] imjasonh commented on #4548
Before https://github.com/tektoncd/pipeline/pull/4420 the arch-specific image would be looked up based on the platform the controller was running on, so if it was running on arm64 it would select that image, pass its command, and tell the Pod to fetch that arch-specific image by digest.

This had some problems, which #4420 aimed to fix:
1. Heterogeneous clusters were not supported; if the controll

[2022-02-18 18:26] vdemeester commented on #4581
Hey @jfdenise, I think it's to be expected from `kaniko`.. Some extract from the README.md:

Also, looking at the [design docs](https://github.com/GoogleContainerTools/kaniko/blob/main/docs/designdoc.md#detailed-design-detailed-design), kaniko execute things in the container itself (not running a new container or anything) meaning you may see things.

/cc @dibyom @bobcatfish

[2022-02-18 19:07] #3211 closed

[2022-02-21 02:49] joeyslalom commented on #3798
Tried tekton (v0.33.0) with Autopilot (1.21.6-gke.1500) with a pipeline with two tasks: `git-clone` and `kaniko` (both v0.5).  My roadbumps, well predicted by @imjasonh
* Needed to update the firewall rule to allow port 8443 for the admission webhook
* Had to disable affinity assistant, else `admission webhook "policycontrollerv2.common-webhooks.networking.gke.io" denied the request`
* Had to incr

[2022-02-21 08:41] wangeDear opened #4603 "err pull image from private image registry(harbor)"
# Expected Behavior

pull image sucess

# Actual Behavior

 Failed to pull image "hub.docker.dev.****": rpc error: code = Unknown desc = Error response from daemon: pull access denied for hub.docker.dev.**** repository does not exist or may require 'docker login'

# Steps to Reproduce the Problem

1. TaskRun yaml
2. config image: hub.docker.dev.**** (private registry)

# Additional Info

- Kuberne

[2022-02-21 14:03] vdemeester commented on #4585
Hey @mzaikin, thanks for the issue. This is most likely an OpenShift Pipelines and OpenShift console issue than on tektoncd/pipeline. What version of OpenShift are you running ?

From your report it seems, somehow the `pipelines` SA is not created anymore on new namespaces, which could mean it was disabled **or** something is going wrong on the OpenShift Pipelines operator side. I think there also

[2022-02-21 19:00] doctorpangloss commented on #1461
if we're not going to get common recipes for Tekton, we really need the autocomplete in our editors

[2022-02-21 20:15] ezYakaEagle442 opened #4604 "Maven ConfigMap maven-settings not read correctly by tkn pipeline"
# Expected Behavior

From the Pipeline, the Maven build should run successfully
[code]

# Actual Behavior

Maven build fails as if it was not able to get the  settings.xml key

[code]

# Steps to Reproduce the Problem
repro steps at [my repo](https://github.com/ezYakaEagle442/aro-java-petclinic-mic-srv/blob/master/cicd/tkn/setup_aro_pipelines.md)
1.
[code]
2.
[code]
3.
[code]

# Additional Info

-

[2022-02-21 21:21] ezYakaEagle442 commented on #4604
my bad, I created wrongly the CM with oc create cm maven-settings --from-file=./cnf/maven_config_map.yaml.

Fixed with :

oc apply -f ./cnf/maven_config_map.yaml
oc describe cm maven-settings
oc get cm maven-settings -o jsonpath='{.data.settings\.xml}'

[2022-02-21 21:21] #4604 closed

[2022-02-22 00:43] aiden-deloryn opened #4605 "Install multiple instances of Tekton on a single K8s cluster"
### Feature request

Currently there can only be one instance of Tekton installed on a K8s cluster. It would be useful if we could install multiple instances on a cluster (in different namespaces).

### Use case

This would be beneficial in a multi-tenancy cluster environment where each tenant is provisioned with a unique namespace. Ideally, we would install a separate instance for each tenant whi

[2022-02-22 04:01] junandaip commented on #2207
still works 2022

[2022-02-22 08:38] NEUerYZY commented on #4603
I think this is not kind of bug.  We met the same problem when using it.
step1.create an serviceaccount in the namespace that your task runs.
step2.create an secret that save the username and password to the private image registry
step3.patch the secret to the serviceaccount   using command  like  "kubectl patch serviceaccount  serviceaccountname -p "{\"imagePullSecrets"\:[\"name\":\"secretname\"]

[2022-02-22 15:02] hokadiri commented on #3969
/reopen still needed

[2022-02-22 18:15] lbernick commented on #3705
/assign geriom

Geri, sounds like you are working on this currently? feel free to remove your assignment if not.

[2022-02-22 18:19] lbernick commented on #4553
Some content on minikube already at https://github.com/tektoncd/pipeline/blob/main/docs/developers/local-setup.md#using-minikube

[2022-02-22 18:21] jerop commented on #4553
@Yongxuanzhang adding docs for using kind: https://github.com/tektoncd/pipeline/pull/4606

[2022-02-22 18:25] lbernick commented on #4559
Lots of good examples as well in https://github.com/tektoncd/pipeline/tree/main/examples

[2022-02-22 18:32] lbernick commented on #4558
/close

duplicate of tektoncd/website#117

[2022-02-22 18:32] #4558 closed