[2022-02-22 19:03] lbernick commented on #1530
/assign

[2022-02-22 19:05] lbernick commented on #4080
/unassign vinamra28

[2022-02-22 19:08] lbernick commented on #3140
/assign abayer

Feel free to remove your assignment if you no longer want to work on this!

[2022-02-22 20:18] wlynch commented on #4141
/assign @khrm

Should be fixed with https://github.com/tektoncd/pipeline/pull/4468

[2022-02-22 20:18] wlynch commented on #3739
/assign @khrm

Should be fixed with https://github.com/tektoncd/pipeline/pull/4468

[2022-02-22 20:19] wlynch commented on #4141
/unassign

[2022-02-22 20:19] wlynch commented on #3739
/unassign

[2022-02-22 20:39] lbernick commented on #4543
Got it, that makes sense!

Short term TODO: Validate that users aren't specifying `kind` and `apiVersion` for `Pipeline.Tasks.TaskSpec` (as opposed to CustomTasks) since these fields are ignored.

V1 TODO: consider renaming `Pipeline.Tasks.TaskSpec` or `Pipeline.Tasks.TaskSpec.Spec`, since `TaskSpec` can be used for either a Run or TaskRun, and having `TaskSpec.Spec` refer to a run is confusing.

[2022-02-22 22:50] jerop opened #4610 "Migrate PipelineRun Reconciler Tests to use YAMLParser"
[`YAML` parsers](https://github.com/tektoncd/pipeline/blob/main/test/yaml.go) take a `YAML` in a string and returns respective deserialized objects including `Tasks`, `TaskRuns`, `Pipelines` and `PipelineRun` - thank you @imjasonh 🎉

These parsers can help us simplify the many tests we have in [pipelinerun_test.go](https://github.com/tektoncd/pipeline/blob/302895b5a1ca45c02a85a9822201643c159fe02c/

[2022-02-23 00:15] jerop opened #4611 "TEP-0058: Graceful Termination - Promotions and Deprecation"
In [TEP-0058: Graceful Termination](https://github.com/tektoncd/community/blob/main/teps/0058-graceful-pipeline-run-termination.md), we deprecated `PipelineRunCancelled` and added:
- `StoppedRunFinally` - To "stop" (i.e. let the tasks complete, then execute finally tasks) a Pipeline
- `CancelledRunFinally` - To "cancel" (i.e. interrupt any executing non finally tasks, then execute finally tasks)
-

[2022-02-23 03:03] lbernick commented on #4610
/label help-wanted

[2022-02-23 03:04] lbernick commented on #4610
/label "help wanted"

[2022-02-23 04:46] pritidesai commented on #4610
/help
/good-first-issue

[2022-02-23 13:12] jerop commented on #4611
@tektoncd/core-maintainers thoughts on promoting the new fields for graceful termination to beta? they were released in [v0.25](https://github.com/tektoncd/pipeline/releases/tag/v0.25.0) so they've been in use for 8 months so far

[2022-02-23 13:47] khrm commented on #4141
/assign khrm

[2022-02-23 13:49] khrm commented on #3739
/assign khrm

[2022-02-23 13:58] ibexmonj commented on #3739
Thank you for working on this.

[2022-02-23 14:06] dgaffuri opened #4613 "Debug scripts are not mounted to steps with no scripts"
# Expected Behavior
Adding breakpoint to a TaskRun running any task will cause debug scripts volume to be mounted on each step
# Actual Behavior
If a step in Task doesn't define script but specify command and args the debug scripts volume is not mounted
# Steps to Reproduce the Problem

1. Define a TaskRun including breakpoints for a task with a step not defining scripts, like kn/0.1 from catalog,

[2022-02-23 18:39] pritidesai commented on #4611
yup definitely 👍

[2022-02-23 19:03] pritidesai opened #4615 "update task API defintion"
Thank you @jerop for updating the `pipeline` API definitions in https://github.com/tektoncd/pipeline/pull/4601.

We need similar updates to the `task` API:

https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#configuring-a-task

Please update the required and optional sections to include all the fields we support.

/help-wanted
/good-first-issue
/kind documentation

[2022-02-23 19:07] pritidesai commented on #4613
/cc @waveywaves

[2022-02-23 20:31] Yongxuanzhang commented on #4603
This doc might also be helpful https://github.com/tektoncd/pipeline/blob/main/DEVELOPMENT.md#configure-container-registry

[2022-02-24 08:00] vdemeester commented on #4581
Note, there is no `docker build` involved though, kaniko replace docker entirely — this is one of the main reason it exists, to not require a docker daemon, … —, hence it does not necessarily acts as a normal `docker build`. Usually `docker build` (or `buildah build`, …) start containers — even when inside a container themselves — to isolate what runs in the build recipe from where they are. I don

[2022-02-24 19:35] jimmyjones2 commented on #3202
Since ArgoCD v2.2 it's possible to track resources with an annotation rather than a label. While this is still propagated by Tekton from Pipeline to PipelineRun/TaskRun, ArgoCD doesn't seem to mind - https://argo-cd.readthedocs.io/en/stable/user-guide/resource_tracking/#additional-tracking-methods-via-an-annotation

[2022-02-24 21:37] mzaikin commented on #4585
Hi @vdemeester
Sorry for the delayed reply.
We use OpenShift 4.8.26_1542
I cannot tell if `pipeline` SA not created for new namespaces, as I don't create new projects, just use old ones.
For old projects the `pipeline` SA exists, and all secrets are fine (e.g. to push to internal Image Registry)
And I can run Pipeline under `pipeline` SA, but only if I assign it in PipelineRun object explicitly.
I

[2022-02-25 12:21] shenqinb-star opened #4621 "What are config-artifact-pvc and config-artifact-bucket configured for"
when I'm reading https://tekton.dev/docs/pipelines/install/#configuring-pipelineresource-storage, I'm not quite understand `config-artifact-pvc` and `config-artifact-bucket`.
Are they only configured for pipelineResource, Do they have any relationship with Workspace PV?
Since pipelineResource is deprecated, Do I need to configure them if I'm not use pipelineResource?

[2022-02-25 12:50] vdemeester commented on #4621
Hey @shenqinb-star

Yes, they are only for PipelineResources.

Nope, if you don't use PipelineResources, you don't need to configure them.

[2022-02-25 13:40] shenqinb-star commented on #4621
Thanks alot @vdemeester. it helps

[2022-02-25 13:40] #4621 closed

[2022-02-25 14:52] jbpratt commented on #4610
I don't think `TestReconcile_InvalidPipelineRunNames` has any updates required

[2022-02-25 16:57] pritidesai commented on #4610
Indeed, there are no changed needed in this test as part of this migration, thank you!

[2022-02-25 19:12] cpanato commented on #4615
Can I take this one? If i have questions can follow up here? Thanks

[2022-02-25 21:48] lbernick commented on #2992
/reopen

[code]

[2022-02-26 23:08] 41lx opened #4629 "Is it possible to run a Tekton without internet access?"
Hi,

we are trying to run Tekton v0.32.1 on our 1.20 (k8s 1.21+ is not available for us thus no 0.33.1) on our local cluster which has no internet access. We are actually facing a lot of problems and failing to do so.

Problems:
* pipelines 0.32.1:
** after editing release.yaml file to point to our local harbor we are able to run tekton-pipelines-controller and tekton-triggers-controller. After cr

[2022-02-28 08:57] vdemeester commented on #4227
/remove-lifecycle stale

[2022-02-28 09:20] vdemeester commented on #4615
@cpanato of course 👍🏼 and yeah, any question, please follow-up in this issue 😉
/assign @cpanato

[2022-02-28 10:59] jfdenise commented on #4581
@vdemeester , thank-you very much for your detailed explanation. So no issue on the tekton side. I am closing this issue.

[2022-02-28 10:59] #4581 closed

[2022-02-28 20:36] jerop commented on #4611
discussed in API WG on 02-28-2022: general agreement to promote graceful termination to beta

[2022-03-01 10:57] afrittoli commented on #3377
We could stop simply stop serving `Conditions` in `v1alpha1` - the problem is however that `Conditions` can be included in `v1beta1/Pipeline`.  Once we release the `v1` version of `Pipeline`, even if we deprecate `v1beta1` right away, we will need to serve `v1beta1` for 9 months, which includes support for references of `Conditions`.

I think there are three possible ways forward:

1. we stop serv

[2022-03-01 11:27] afrittoli commented on #3862
The `PipelineRun` controller creates the `Run` so it could send that event.
The `PipelineRun` controller also watches for changes to `Runs` so it would need to check if there was a change between the local copy of the status and the one reported by the informer. This could be done in `updateRunsStatusDirectly` - however since we plan on removing the local copy of the status, I think it would not b

[2022-03-01 11:29] vdemeester commented on #3377
I think we don't really have any other decent choice than (2) or (3), and I would lean more on (3)

[2022-03-01 12:09] vdemeester commented on #3862
I tend to agree on the external controller 👼🏼

[2022-03-01 17:55] pritidesai commented on #3862
thanks @afrittoli!

Yup implementing as part of an external controller sounds reasonable. This can give freedom to the external controller in designing the events based on their requirements.

[2022-03-01 20:10] sbwsg commented on #4427
Appears to have occurred in this pull request too: https://github.com/tektoncd/pipeline/pull/4634

Link to the test output: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4634/pull-tekton-pipeline-alpha-integration-tests/1498740584272105472/

[2022-03-01 20:14] pritidesai commented on #2684
With three different types of runnables like @sbwsg mentioned, we have three separate validation paths (tasks, finally tasks, and custom task), adding any more validation is becoming more and more complex without an interface approach, for example, a particular check is allowed in finally tasks but not allowed in tasks, etc.

This will be a huge help in simplifying our code base.

[2022-03-01 21:08] xchapter7x commented on #4169
Once PR [4634](https://github.com/tektoncd/pipeline/pull/4634) is merged, this flake should be resolved.

[2022-03-02 08:05] vdemeester commented on #4169
/close

[2022-03-02 21:10] jimmyjones2 opened #4636 "Unwanted annotation propagation from Pipeline to PipelineRun"
# Expected Behavior

Annotations are not propagated from Pipeline to PipelineRun, duplicated ones are not overridden, or at least have a list of keys to not propagate (eg. `argocd.argoproj.io/tracking-id`). This is particularly an issue with ArgoCD - if it is used to sync Pipelines and PipelineRuns (eg. as an post sync hook) the `argocd.argoproj.io/tracking-id` annotation will be incorrect, confus

[2022-03-03 02:23] ankuo commented on #856
Is there any update surrounding ARM64 support for the tekton controller and webhook images, as well as pipeline workloads? Whether a related image is provided

[2022-03-03 02:32] mattmoor commented on #856
arm64 should work just fine.  I generally build my own distro downstream, but I have been running on RPi4 and Graviton clusters without any known issues with Tekton.  I'd open issues for anything you see.

[2022-03-03 02:33] mattmoor commented on #856
(that said, I'm pretty sure upstream ships at least amd64/arm64, but likely also s390x/ppc64le/arm)

[2022-03-03 02:45] ankuo commented on #856
@mattmoor Is there an official mirror for arm64 version available

[2022-03-03 02:47] mattmoor commented on #856
All of the images should be multi-arch, from latest release:
[code]

[2022-03-03 02:53] ankuo commented on #856
@mattmoor Thanks for getting back to me so quickly. Forgive me. I don't know how to get the download link corresponding to these images, and how to find the download link corresponding to the historical version

[2022-03-03 03:02] mattmoor commented on #856
The images referenced from `release.yaml` [here](https://github.com/tektoncd/pipeline/releases/tag/v0.33.1) are all multi-architecture images, which means your cluster will download the appropriate images based on its architecture.

In short: the amd64 yaml _**is the**_ arm64 yaml since the images all support both architectures.

Hopefully that clarifies?

[2022-03-03 03:12] ankuo commented on #856
@mattmoor This is so cool！ I gave it a try and it worked. Thank you again. Thank you.

[2022-03-03 03:22] ankuo commented on #856
@mattmoor May I ask how to obtain this information? By what command or what other tool？

[2022-03-03 10:11] vdemeester commented on #4636
/assign

[2022-03-03 14:14] BlueCog opened #4640 "Authentication at Run Time and specify credentials per PATH"
Hi All,

I'm struggling for a while now with the following scenario:

A Tekton Image Build Pipeline
In short: **GIT PULL** -> **DOCKER BUILD** -> **PUSH**

The pipeline pushes the image to an internal Docker registry.
I've created a [secret with annotation](https://tekton.dev/vault/pipelines-v0.32.x/auth/) and linked this secret to the service account used by the pipeline. This works fine.

But no

[2022-03-03 14:16] xchapter7x commented on #4169
😞

[2022-03-03 14:27] lbernick commented on #3377
I agree with Vincent that option 3 is best. Option 2 would follow the letter of our compatibility policy but as you said, not provide much benefit to users in exchange for a large amount of work on our part.

[2022-03-03 15:47] lbernick opened #4643 "Test Flake: Unit test cmd/entrypoint TestRealRunnerTimeout"
Sadly not much info present in log file:
[code]

/kind flake
/priority important-soon

[2022-03-03 16:31] sbwsg commented on #4169
From the logs in that test run we see the following:

[code]

So what we're seeing here is that the Step never created the fifo special file for communicating between the containers. Either that or the sidecar couldn't see the fifo special file for some reason.

Looking at the container statuses it looks like both were ready and started at the same time:

[code]

The TaskRun's start time is record

[2022-03-03 17:12] xchapter7x commented on #4169
yeah, its def strange. (abundant hand waving to come 👋 ) 😄
the `mkfifo` call should at least error if it was called and failed, and we should see the subsequent debug `echo`s, but we arent seeing anything in the logs from the step container. which seems to indicate either, A) the script is never getting called due to some resource constraint or something, or B) mkfifo is locked when its called.

t

[2022-03-03 17:49] pritidesai opened #4645 "Test Flake - v1alpha1/pipelineruns/conditional-pipelinerun"
Logs can be found [here](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/4637/pull-tekton-pipeline-alpha-integration-tests/1499427235050819587/)

[code]

/kind flake

[2022-03-04 07:46] linmuqin opened #4648 "Task running cpu is limited"
I define the following resource limits in the task:
[code]

But the pod is only using 0.5cpu, resulting in slow cicd builds. I manually started a similar pod to run the build task, and it used 1 cpu. Why does the pod created with TriggerTemplate only use 0.5, even if I set resources in the task, it doesn't work. I feel like I'm being restricted somewhere.

[2022-03-04 07:49] linmuqin commented on #4648
The version is as followstekton-pipelines-controller  0.27.0
tekton-triggers-controller  0.15.0

[2022-03-04 21:57] #4357 closed

[2022-03-06 14:57] georgettica commented on #3416
at least I know this issue is known and is hard to implement

[2022-03-07 07:39] chmouel commented on #3416
I could not remember the reason why it wasn't easy but i rem it was @vdemeester who was telling me about it 😀

[2022-03-07 08:19] georgettica commented on #3416
@chmouel this seems to be a valid point

[2022-03-07 16:18] mrbq opened #4653 "Not possible to define `stepOverrides` in a `PipelineRun` element `taskRunSpecs`"
# Expected Behavior

When in a PipelineRun, it should be possible to add the `stepOverrides` and `sidecarOverrides` element to the `taskRunSpec`

# Actual Behavior
It is not possible to define the object `stepOverrides`

# Steps to Reproduce the Problem

Create the following yaml:

[code]

Object cannot be created:

[code]

In the doc it is stated that this change should be possible:

[code]

Howe

[2022-03-07 16:43] lbernick commented on #4653
Hi @mrbq! I'm still in the process of implementing this (described as still under development in our [docs](https://github.com/tektoncd/pipeline/blob/main/docs/taskruns.md#overriding-task-steps-and-sidecars)). I have a PR out for this feature (#4598) so it should be available in our next release!

/close

[2022-03-07 16:43] #4653 closed

[2022-03-08 05:04] zeromsi opened #4655 "Tasks workDir as Dockerfiles WorkDir"
I created a task and taskrun that runs a container. Container runs a build artifact from  a work directory named app.

My task is like following,

[code]
Problem is, the value of ```workingDir``` attribute is not in my hand always. Is there any way to initialize it with dockerfiles ```WORKDIR ```

My Dockerfile is like following

[code]

[2022-03-08 11:04] #4294 closed

[2022-03-08 12:54] jerop commented on #4645
/priority important-soon

[2022-03-08 13:05] sbwsg commented on #3305
In https://github.com/tektoncd/pipeline/pull/4596 we're adding support for pipelineRefs via remote resolution. This makes the resolution bit non-blocking to a PipelineRun's reconcile. However the code still maintains the PipelineRun's existing resolution mechanics alongside the new stuff and could still use a refactor, perhaps if/when remote resolution moves out of alpha. One option would be for e

[2022-03-08 14:39] jerop commented on #4611
thank you @vinamra28 for volunteering to help us with this 😀

/assign @vinamra28

[2022-03-08 14:41] jerop commented on #4460
/help wanted

[2022-03-08 14:48] vinamra28 commented on #4611
/assign

[2022-03-08 14:58] tmds commented on #4540
@vdemeester can you give an update?

[2022-03-08 15:08] lbernick opened #4656 "Update TaskRun API documentation"
Similar to #4601. We should update the [TaskRun API docs](https://github.com/tektoncd/pipeline/blob/main/docs/taskruns.md#configuring-a-taskrun) to reflect all existing fields.

/kind documentation
/help-wanted
/good-first-issue

[2022-03-08 15:11] lbernick opened #4657 "Update PipelineRun API documentation"
Similar to #4601. We should update the [PipelineRun API docs](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#configuring-a-pipelinerun) to reflect all existing fields.

/kind documentation
/help-wanted
/good-first-issue

[2022-03-08 19:59] lbernick commented on #1605
/reopen

There are still a few TODOs associated with this issue-- this came up during review of #4598.

It's not clear where mergeSteps should live; the TODO [here](https://github.com/tektoncd/pipeline/blob/38d98f09ecdd5240d91762ff6a75bc6275316ed9/pkg/pod/pod.go#L136) would result in a circular import as this functionality is used in API validation which is a bit weird. @wlynch suggested moving in

[2022-03-09 10:25] afrittoli commented on #4519
https://github.com/tektoncd/pipeline/pull/4352 introduced a new init container.
If we are going to merge the various init containers into one, we might consider including that one too.

[2022-03-09 21:30] lbernick commented on #4470
/kind design
/assign

[2022-03-10 11:43] georgettica commented on #3399
could this be applied to a specific task and not to the whole cluster?

[2022-03-10 19:40] pritidesai opened #4660 "document pipelineRun status"
With [TEP-00100](https://github.com/tektoncd/community/blob/main/teps/0100-embedded-taskruns-and-runs-status-in-pipelineruns.md), Pipelines API will be loosing direct access to `taskRun`/`run` status in `pipelineRun` status. At the same time, when we are trying to release `V1`, it becomes essential to provide in depth documentation on how to retrieve all these fields after
[TEP-00100](https://gith

[2022-03-10 19:46] wlynch commented on #4227
Haven't updated this in awhile, but want to give an update.

As of #4352 we're now isolating step directories so that they are only writable by their own step, and read-only to all other steps. This addresses most problems with steps interfering with each other. We are considering results out of scope because these are a shared Task resource, not something owned by a particular step.

What this do

[2022-03-10 19:46] #4227 closed

[2022-03-10 20:16] lbernick commented on #4470
a bit of a wrinkle here. Let's say we want to allow people to specify the total resource requests and limits that should be used by all steps in their task:

- k8s states that containers without resource limits are considered to have higher limits than those with limits configured (https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources)
- If the task resource limit is applie

[2022-03-10 20:37] dsekhart opened #4661 "PODs are not showing up / Starting after Tekton install"
# Expected Behavior
After installing the Tekton using kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.notags.yaml I was expecting to see running pods in tekton-pipelines.
# Actual Behavior
No PODs in any state appeared in the tekton-pipelines namespace.

# Steps to Reproduce the Problem

1. Install Tekton in Kind cluster. kind version 0.10.0 using ku

[2022-03-10 21:27] lbernick commented on #4661
Hi @dsekhart could you please provide the output of `kubectl describe deployment tekton-pipelines-controller -n tekton-pipelines`?

[2022-03-10 22:10] dsekhart commented on #4661
[code]

[2022-03-11 00:23] afrittoli commented on #3862
Implemented in three PRs:

- [x] #4658
- [ ] #4659
- [ ] #4663

[2022-03-11 00:26] afrittoli commented on #3862
/cc @lbernick

[2022-03-11 02:19] linmuqin opened #4664 "How to add tolerance to pods"
Hello,
I want to add tolerance to the pod started by pipelinerun, but it doesn't take effect no matter what the configuration is.

[1.txt](https://github.com/tektoncd/pipeline/files/8228467/1.txt)
[code]

triggers: 0.15.0
pipeline: 0.27.0

@vdemeester @goldmann @abayer @imjasonh @bobcatfish

[2022-03-11 04:12] dsekhart commented on #4661
I deleted my Kind cluster. Recreated Kind cluster with Kubernetes version 1.23 and then applied the Tekton. Now the issue is resolved and I could see the PODs running. So the issue I had may be something to do with my cluster setup.

[2022-03-11 04:12] #4661 closed

[2022-03-11 07:25] linmuqin opened #4665 "Pod cannot add tolerance"
Hello,
I want to add tolerance to the pod started by pipelinerun, but it doesn't take effect no matter what the configuration is.
triggers: 0.15.0
pipeline: 0.27.0
[1.txt](https://github.com/tektoncd/pipeline/files/8229952/1.txt)

[2022-03-11 13:23] vdemeester commented on #4540
@tmds sorry 😅
You replaced it at [this line](https://github.com/openshift/pipelines-catalog/blob/master/task/s2i-dotnet/0.1/s2i-dotnet.yaml#L45) right ?

[2022-03-11 13:24] vdemeester commented on #4540
Looking into the version shipped in OCP, I think 4.8 should already have the `context.pipelineRun.namespace` which is super weird.

[2022-03-11 13:43] #4326 closed

[2022-03-11 14:25] lbernick commented on #4080
Step and sidecar overrides have been implemented and should be available in the next release! I'm going to unassign myself for now but leave this issue open as it could still be a valuable FR. Please leave feedback on overrides; it would be great to know if there are use cases going unaddressed.

/unassign

[2022-03-11 14:55] michaelsauter commented on #4080
@lbernick Thanks for this! Looking forward to using it!

However our two main use cases are still unaddressed:

1. we want to modify resources from pipelines, not only from pipelineruns and taskruns - in order to store pipeline definition in a Git repo and create pipeline runs connected to that pipeline
2. we want to specify sidecars in full from pipelines, not just their resources (see #4235) - i

[2022-03-11 19:12] spencerrung opened #4666 "ServiceAccount Token Mount Violates FHS 5.13. /var/run"
Referencing these two closed tickets as well

https://github.com/tektoncd/pipeline/issues/2738
https://github.com/tektoncd/pipeline/issues/2726
# Expected Behavior
FHS
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s13.html

ServiceAccount Token should mounted to `/run` and not `/var/run`

# Actual Behavior
The service account tokens are mounted to `/var/run`

# Steps to Reproduce the Proble

[2022-03-11 20:41] #4656 closed

[2022-03-11 21:34] vdemeester commented on #4666
Hey @spencerrung, thanks for the issue. As fare as I know, this is kubernetes behavoior (see https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/). I don’t think there is too much tekton can do there.

[2022-03-13 13:02] sir997 opened #4669 "PodTemplate should have livenessProbe."
### Feature request

PodTemplate should have livenessProbe.
when taskrun's all script had been terminated, but taskrun pod's status and pod's last container's status still be running, status turned to terminated delay 10-20s.Is livenessProbe can resolve this question?

### Use case

[2022-03-14 03:46] #4669 closed

[2022-03-14 10:25] #4317 closed

[2022-03-14 11:51] afrittoli commented on #4169
I've seen this test failing here https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/4659/pull-tekton-pipeline-alpha-integration-tests/1503327934646063108/build-log.txt in case it provides extra context:

[code]

[2022-03-14 13:28] #3974 closed

[2022-03-14 16:31] #3947 closed

[2022-03-14 16:42] dibyom commented on #4470
We used to run Tekton in init containers before, init containers have some nice characteristics but also come with a bunch of drawbacks:  see https://github.com/tektoncd/pipeline/issues/224

[2022-03-15 03:55] #3862 closed

[2022-03-15 07:17] zeromsi opened #4672 "Couldn't find any example of buildpack of task version: tekton.dev/v1alpha1"
Trying to get an example of build pack :

Task verion: tekton.dev/v1alpha1

Can anyone provide me an working example!

Thanks

[2022-03-15 10:48] jerop commented on #4589
@HildaHay - Thank you for opening this feature request. We already have a proposal to support array `Results`: [TEP-0076: Expanded array support: results and indexing](https://github.com/tektoncd/community/blob/main/teps/0076-array-result-types.md).

cc @bobcatfish @wlynch

[2022-03-15 11:52] ileixe opened #4673 "Multi-cluster pipeline?"
Hi,

We're currently using three Pipelines among the two clusters like below

[code]

Since Pipeline C has CPU intensive tasks while Pipeline B has some requirements which make us to run the pipeline at specific cluster, we could not avoid to separate the tasks into two different pipelines (which will run on two different clusters)

I could not find right way to make a Pipeline which allow us to m

[2022-03-15 12:15] jerop commented on #3497
@bobcatfish thank you for the detailed discussion above - makes sense to distinguish between producing `results` and keys in object `results` - especially given that users will have control to say that they keys are required if they wish

agreed, we can go ahead with making the `results` themselves required - we'll need to explain this well in the docs though (cc @vinamra28)

[2022-03-15 12:31] sbwsg commented on #4169
This is great, it includes log output from the example:

[code]

The log message we added before the FIFO file is created was not printed. This means the step container never started, or started so dramatically slowly that it never reached the first line of the script file.

This rules out locking on the fifo creation I think. So I am wondering if the entrypoint binary could be the suspect here?

[2022-03-15 16:36] ssunitaa commented on #4657
Hi there,

Thank you so much for your reply and for giving me an opportunity to
contribute and learn here. Please give me some time to go through the
requirements and understand the process. I shall soon be coming up with my
list of questions. 🙂
However, to start with -
1. How can I communicate with the team - through this email or GitHub? I am
a novice in GitHub, so quite a lot to learn.
2. Is th

[2022-03-15 17:00] #4064 closed

[2022-03-15 18:10] #4636 closed

[2022-03-16 02:47] ben-wangz opened #4674 "Do 'sidecars' support 'hostAliases'?"
I got such problem while trying to set `hostAliases` for `sidecars`
[code]

use case:
In my case, I use sidecars to provide docker in docker functionality.
I want to use a local registry for `docker push`, but the hostname of this registry won't be resolved by default. Therefore, hostAliases need to be added. (any other solutions is welcome~, thanks in advance)

part of my task definition
[code]

[2022-03-16 06:22] zeromsi opened #4675 "Which version of client-go provides build pack support?"
I was using the following versions of client-go, apimachinery, and k8s-api to create tekton objects.
[code]

Now I want to create task, taskrun and pipeline, but failing due to version conflicts among these libs. Can anyone provide me the relevant versions of these clients.

[2022-03-16 10:41] tmds commented on #4540
You replaced it at [this line](https://github.com/openshift/pipelines-catalog/blob/master/task/s2i-dotnet/0.1/s2i-dotnet.yaml#L45) right ?

Yes, that location. And from the error message it seems the version did get substituted, but the namespace did not.

[2022-03-16 15:16] jerop commented on #4540
@tmds could you try to pass in `PipelineRun` context variables through `Parameters` to reach the `Task`? Only the `Task` and `TaskRun` context variables are directly accessible in the `Task` specification - please let us know if this doesn't work

see this example: https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/using_context_variables.yaml

[2022-03-16 17:07] brian316 opened #4676 "Tekton fails to install"
following the steps here
https://github.com/tektoncd/pipeline/blob/main/docs/install.md#installing-tekton-pipelines-on-openshift

on step 3. it fails

I the script twice so it shows "unchanged" for some statuses but its the same error at the end

[code]

[2022-03-16 22:47] joshuasimon-taulia commented on #4470
imo, https://github.com/tektoncd/pipeline/pull/4176 made defining cpu/mem requests much less intuitive. assuming steps in a task will never run in parallel, task-level resource definition would definitely alleviate some of that pain.

[2022-03-17 09:13] jbpratt commented on #4673
Hi @ileixe, I don't believe there is a native way to achieve this currently, but I think you could build something utilizing [`kcp`](https://github.com/kcp-dev/kcp), gleaming insights from this neat project: https://github.com/openshift-pipelines/pipelines-service maybe @guillaumerose or @bnallapeta have some thoughts on this :cat:

[2022-03-17 09:17] jbpratt commented on #4675
Hi @zeromsi , you can find the versions tekton uses here:

https://github.com/tektoncd/cli/blob/df0da5dec5f7dc08a18ce28a8d8a43f206a7adea/go.mod#L61-L64

https://github.com/tektoncd/pipeline/blob/6738db7a179dd93adef40ac29a375cdfdf8823ee/go.mod#L6-L8

[2022-03-17 09:31] jbpratt commented on #4674
Hi @ben-wangz , I do not believe `hostAliases` is supported in the spec as seen here:

https://github.com/tektoncd/pipeline/blob/6c86d1e8401fb75f0ad5958f6a4a47d4207d1a46/pkg/apis/pipeline/v1beta1/swagger.json#L1552-L1703

though maybe this should be supported? WDYT @sbwsg

[2022-03-17 09:51] bnallapeta commented on #4673
@ileixe Yes! we are currently working on Pipelines/Tasks deployed/managed on multiple clusters using kcp as @jbpratt pointed out - [pipelines-service](https://github.com/openshift-pipelines/pipelines-service)

But, the management of workload (pipelines) on different physical clusters is handled by kcp. So, I am not sure if it directly supports your requirement i.e., control which pipeline runs on

[2022-03-17 10:20] #4665 closed

[2022-03-17 10:21] #4648 closed

[2022-03-17 10:42] jerop commented on #4676
@brian316this looks similar to issues other ran into while upgrading Tekton versions in https://github.com/tektoncd/pipeline/issues/2816 - could you try deleting all webhooks before installing?

[2022-03-17 10:42] jerop commented on #4675
/kind question

[2022-03-17 10:43] jerop commented on #4674
/kind question

[2022-03-17 11:28] jbpratt commented on #4655
/kind question

[2022-03-17 11:28] jbpratt commented on #4664
/kind question

[2022-03-17 11:28] jbpratt commented on #4673
/kind question

[2022-03-17 12:10] sbwsg commented on #4674
Hey @ben-wangz, `hostAliases` are a pod-level field and they're supported (but undocumented ... oops!) in the `podTemplate` field of a TaskRun.

Here are the docs for adding a podTemplate to your TaskRun: https://github.com/tektoncd/pipeline/blob/main/docs/taskruns.md#specifying-a-pod-template

And here's the spot in our code where `hostAliases` is included in that template: https://github.com/tek

[2022-03-17 15:42] lbernick opened #4686 "Unit Tests for Custom Task Retries"
Custom Task restries were added in #4327; however, some parts of the code base were missed and addressed in #4625 and #4647. We should test Custom Task retries E2E, fix any bugs if necessary, and increase our test coverage of this functionality.

[2022-03-17 16:27] olegy2008 opened #4687 "Missing permissions while downloading bundles from Google Artifact Registry using v0.33.2 (was working in v0.32.0)"
After upgrading tekton-pipelines-controller from v0.32.0 to v0.33.2 it can't download bundles from the Google Artifact Registry.
We use a separate k8s service account as default for pipelineruns, it has imagepullsecret with `.dockerconfigjson` inside.

# Expected Behavior
tekton-pipelines-controller downloads pipeline definition (bundle) from the Google Artifact Registry and creates pipelinerun (j

[2022-03-17 16:58] mike-serchenia commented on #4687
Right, it's GKE with Workload Identity enabled. So yes if we add proper annotation to the KSA `tekton-pipeline-controller` it will work, but there is no way to alter the KSA via Tkn operator config.

[2022-03-17 17:26] Lucifergene opened #4688 "Add Tekton CRD Schema to JSON Schema Store for YAML extension used in VS Code"
### Feature request

When using the [YAML extension by Red Hat](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml) in VSCode during the writing YAML files, the files are showing errors when the `kind` is set to  `Task`, `Pipeline`, etc, which are specific to Tekton. This extension fetches all the schemas from [JSON Schema Store Website](https://www.schemastore.org/json/) and m

[2022-03-17 18:30] olegy2008 commented on #4687
If you asking about annotation on tekton-controllers-operator service account (which is used by tekton-controllers-operator):

Tekton operator creates tekton-cotrollers-operator serviceaccount automatically (it's defined in the installerset), so to resolve this issue with permissions with v0.33.2 controller we added workload identity binding for tekton-pipelines/tekton-pipelines-controller service

[2022-03-18 01:01] devholic commented on #4582
I forgot to mention that I configured `scope-when-expressions-to-task` feature-flag to `"true"` 🙇‍♂️

[2022-03-18 04:12] viniagostini opened #4690 "If I pass something that can be interpreted as a variable on a task input it will break the task with a non-existent variable error"
# Expected Behavior
print the literal `{"key": "$(params.a)"}`

# Actual Behavior
CouldntGetTask error
`failed to create task run pod "some-task-run-2": non-existent variable in "echo {\"key\": \"$(params.a)\"}\n": steps[0].script. Maybe missing or invalid Task my-ns/some-task`

# Steps to Reproduce the Problem

[code]

I ran into this problem trying to pass a TaskRun cloud event payload as a para

[2022-03-18 07:46] zeromsi opened #4691 "Failed to create pipeline resource by tektoncd client"
I have update my client version. Now I don't see any function to create pipeline resource . May be Pipeline resource has been deprecated. If so, then what is the workaround?

[2022-03-18 07:47] zeromsi commented on #4691
/kind question

[2022-03-18 08:32] vdemeester commented on #4687
/cc @tektoncd/operator-maintainers

[2022-03-18 10:38] ben-wangz commented on #4674
thx a lot. I have test `podTemplate` with `PipelineRun` and it worked.

[2022-03-18 10:38] #4674 closed

[2022-03-18 10:42] jbpratt commented on #4691
Hey @zeromsi , you are correct, [PipelineResources have been deprecated](https://github.com/tektoncd/pipeline/blob/main/docs/resources.md#pipelineresources) in [`v0.30.0`](https://github.com/tektoncd/pipeline/blob/main/docs/deprecations.md#deprecation-table). Here is the [TEP](https://github.com/tektoncd/community/blob/main/teps/0074-deprecate-pipelineresources.md) in which you can find reasoning

[2022-03-18 11:15] vdemeester commented on #4691
@zeromsi you can look at what the CLI does. In the code, the PipelineResource are in a different package, meaning different versionedClient, …
- https://github.com/tektoncd/cli/blob/main/pkg/cmd/pipelineresource/list.go#L29
- https://github.com/tektoncd/cli/blob/main/pkg/cmd/pipelineresource/list.go#L130

[2022-03-18 11:37] kiaz-github commented on #2616
I completed the tutorial successfully using Kaniko 0.16 to build, index.docker.io in my secret and index.docker.io/username/repo:tag in my Image PipelineResource.

But the latest Kaniko release is now 1.8.0, how can I use a Kaniko updated release without the permission error?

No version after 0.16 seems to work.

[2022-03-18 13:56] zeromsi commented on #4691
@jbpratt and @vdemeester  Thanks bro.

[2022-03-18 13:56] #4691 closed

[2022-03-18 14:20] zeromsi commented on #4675
@jbpratt Thanks man!

[2022-03-18 14:20] #4675 closed

[2022-03-18 14:22] zeromsi commented on #4672
Buildpack is supported in v1beta1 !

[2022-03-18 14:22] #4672 closed

[2022-03-21 13:32] durera commented on #3591
I have a pipeline whereby we have logic a little like this, and arrived here looking for exactly the same thing in the hope such support was now available, or in the pipeline:

- install dependency1 if (param1) or (param2)
- install app1 if (param1)
- install app2 if (param2)

Basically we have two inputs, those inputs each directly control whether a certain branch in the pipeline is actived, but

[2022-03-21 15:27] sbwsg commented on #4655
@zeromsi thanks for the issue report. Just checking here - did you try running your Task without the `workingDir` field in the step? Since pull request https://github.com/tektoncd/pipeline/pull/3920 Tekton should no longer override the docker image's WORKDIR unless the Step explicitly requires it.

If you tried it and saw an issue - what working directory did your image run in? what version of Tek

[2022-03-21 19:23] dibyom commented on #2974
We have made some improvements. Coverage is up to around 70% now.
Closing this. Can open a new issue to track further improvements.

[2022-03-21 19:23] dibyom commented on #2974
/close

[2022-03-21 19:23] #2974 closed

[2022-03-22 08:28] zeromsi opened #4696 "Failed to create pipeline of version v1beta1 with client-go"
### ERRROR
[code]
Client versions:
[code]

[2022-03-22 15:57] grid-dev opened #4699 "Cluster Autoscaler conflict with volumneClaim and or affinity-assistant"
# Expected Behavior

1. EKS cluster exists and has the following setup

    - [Cluster Autoscaler](https://aws.github.io/aws-eks-best-practices/cluster-autoscaling/) and
    - 6 x t3.medium nodes in a node_group.
    - The nodes are spread across 3 availability zones in one AWS region.
    - Every node has labels assigned (see "K8s node labels")

3. Cluster nodes are packed and have between 12 and

[2022-03-22 16:14] sbwsg commented on #4105
Ahh, interesting, I don't imagine we'd want to nest an additional `metadata` field inside `TaskRef`, since this would allow for some slightly odd scenarios like:

[code]

So either only allow the annotations to copied down from the PipelineRun to the TaskRun pods, or create a new type, `PipelineTaskRef`, as a copy of `TaskRef` with the addition of metadata?

[2022-03-22 16:38] pritidesai commented on #4461
Pipelines WG - Remove the flag in 0.35

[2022-03-22 17:02] jerop commented on #4460
@vinamra28 mentioned at Pipeline working group we discussed this and you're willing to take this on after #4611

[2022-03-23 04:18] zeromsi commented on #4696
I've installed 0.20.0 version of tekton pipeline. I can apply pipeline via kubectl. But Facing problem with client-go.
In my go.mod file,
[code]

[2022-03-23 06:10] KyWa commented on #4540
Adding to this as I just came across the same issue. Can confirm in the tech-preview of OCP 4.6 it does not work either (the variable sub for context.pipelineRun.namespace). I'd settle for the ability to get the namespace similar to how metadata is normally obtained for a Pod to consume. Just chiming in there are others experiencing this.

[2022-03-23 08:07] jbpratt commented on #4696
@zeromsi `0.20.0` is quite old, but I think we still need some more information. Can you post an example of the Go code and the yaml that is causing this? The goal is to reproduce the issue with as little code as possible  :smiley_cat:

[2022-03-23 08:20] jerop commented on #4540
@tmds @KyWa - could you please share an example where you see this happening?

Tested with a modified version of the [context variables example](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/using_context_variables.yaml):

[code]

And this was the result, where `context.pipelineRun.namespace` is substituted with "default" as expected:

[code]

Will update the example

[2022-03-23 08:22] zeromsi commented on #4696
@jbpratt ,I'm trying apply the following yaml
[code]
My code:

[code]

How I'm creating the object:

[code]

[2022-03-23 12:57] sbwsg commented on #4696
It looks from your `go.mod` that the client you're using is `v0.33.1` but from your comment it sounds like the server you're using is `v0.20.0`. It's quite possible your client is sending fields (even empty ones) that a 0.20 validating webhook doesn't know about. A lot of features have gone in between these two versions.

First suggestion for debugging here would be to deploy version 0.33.x or lat

[2022-03-23 13:09] imjasonh commented on #3798
I've played with Tekton on GKE Autopilot, including with GKE Spot Pods, and everything in my tests seems to work fine. There might be room for some official GCP-authored-and-hosted doc about how to make them work best together, but that's probably out of scope for Tekton.

If someone finds a bug that makes it not work with GKE Autopilot, please let us know. Until then:

/close

[2022-03-23 13:09] #3798 closed

[2022-03-23 13:39] sbwsg commented on #4676
@brian316 +1 to what @jerop suggested.

To help us debug further into why this might happen for some users, I also have a couple more questions:

- when you ran the script the first time were you installing into a completely empty cluster or did you have a previous version of pipelines running?
- beyond being on openshift is there any other pertinent configuration in play, such as ingresses that h

[2022-03-23 22:04] jerop commented on #2050
# Progress Tracker

- [TEP-0090: Matrix](https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md)
- TEP pull requests:
     - https://github.com/tektoncd/community/pull/532
     - https://github.com/tektoncd/community/pull/600
- Implementation pull requests:
     - [ ] https://github.com/tektoncd/pipeline/pull/4600
     - [ ] https://github.com/tektoncd/pipeline/pull/4601
     - [ ] ht

[2022-03-24 07:38] anu-kailash opened #4708 "Expose ports of sidecars to the steps in a Task"
### Feature request

Often running unit tests require supplementary services like a database to connect to. Since sidecars already run as containers on same pod, if we can access its exposed ports similar to the services in a docker-compose file it will be very convenient.

### Use case
I have a test task to run unittests for my python application. My application needs to connect to a postgres con

[2022-03-24 09:17] vdemeester commented on #4540
Mainly because a `Task` can be runned outside of a `PipelineRun`, and this would be empty. A `Task` doesn't have to know if it runs as part of a one-off `TaskRun` or a `PipelineRun`, it should be "standing on its own" kind-of.

[2022-03-24 09:26] anu-kailash commented on #4708
Similar to https://github.com/tektoncd/pipeline/issues/3424

[2022-03-24 13:08] sbwsg commented on #4708
Hi @anu-kailash thanks for the feature request.  Did you try this and something failed?  I believe containers in a pod share a network namespace so should be able to access each other's exposed ports through `localhost`.

We have [an example of a sidecar providing an sshd server to a step container](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/taskruns/authenticating-git-command

[2022-03-24 15:39] dibyom commented on #4664
@linmuqin what is the `spec` of the pipelinerun that is create from this trigger template? Does it contain the `tolerations` field at all?

[2022-03-24 15:56] abayer commented on #4688
This feels related to #1461, but it's not exactly the same thing - I don't think structural OpenAPI schemas can actually be used as "true" JSON schemas. That said, I think generating a "true" JSON schema probably wouldn't hit the weird edge case problems we've had with auto-generating structural OpenAPI schemas, so this should be easier to pull off.

[2022-03-25 08:57] vdemeester commented on #4540
The suggestion is to set a parameter on the `Task` to pass the namespace. Then you can use `TaskRun` or `Pipeline` to the proper value. At least that would be today's workaround.

That's "almost" true yes. The `Task` itself is not necessarily in a namespace (it could come from an oci bundle, etc..), **but** it's execution (through a standalone TaskRun or a PipelineRun's TaskRun) it will always be

[2022-03-25 15:12] sbwsg commented on #4476
Using Remote Resolution it's possible to emulate ClusterTasks and ClusterPipelines. Here's a resolver that does exactly this: https://github.com/sbwsg/clusterresolver

This works by keeping all the "Cluster-Scoped" Tasks and Pipelines in one private namespace.  The Resolver has exclusive access to those resources and returns them to anyone who asks from any namespace.  So an operator/admin can add

[2022-03-25 15:24] sfzylad commented on #1289
It would be great to have some mechanism for testing tasks and pipelines. I think there are two scenarios worth considering:

1. testing against the task's or pipeline's results, maybe with a CR like `TaskRunTest` or `PipelineRunTest` that would take the `TaskRun` or `PipelineRun` definition and list of assertions to be tested and at the end indicate whether the assertions are satisfied.
2. testin

[2022-03-25 15:26] vdemeester commented on #1289
For (2), something like [`buildkit-tekton`](https://github.com/vdemeester/buildkit-tekton) could probably help 👼🏼

[2022-03-25 15:44] abayer commented on #4688
Ah, another hassle - file type mapping. schemastore maps specific filenames/patterns to specific schemas - since we don't have any consistent requirement for Tekton-related CRD filenames, there isn't really a way to say "oh, you're writing a Tekton `Pipeline`, here's the schema for that".

[2022-03-25 17:08] jerop commented on #4012
/lifecycle frozen

work in progress in https://github.com/tektoncd/community/pull/521

[2022-03-25 17:09] #4540 closed

[2022-03-25 17:50] vinamra28 commented on #4460
/assign

[2022-03-27 16:38] #4307 closed

[2022-03-27 22:44] #2992 closed

[2022-03-28 08:50] afrittoli commented on #3864
/lifecycle freeze

[2022-03-28 09:04] svmundada commented on #3864
We are using cloudevents for notifications and not inheriting `annotations/labels` for `started` type of events is causing to us miss the context of those cloudevents. `started` events are useful to acknowledge whether a process has started or not, so it's a bit important to us while moving entire notification to cloudevents. It'd be great to have some solution to this.

For now, we are manually a

[2022-03-28 13:06] ghost opened #4710 "Promote Remote Resolution to beta"
### Feature request

Remote resolution is currently behind the alpha feature gate in Tekton Pipelines. This issue is intended to track the work required to promote resolution into beta, removing the feature gate.

### Use case

Platforms and users would like to access Tekton resources in locations other than OCI registries or the cluster their taskruns and pipelineruns execute in.

### Criteria fo

[2022-03-28 15:43] mattmoor opened #4711 "`git-init` should specify to run as root when it needs it."
# Expected Behavior

A default nonroot version of `git-init` can pass e2e testing without issues.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

I've been experimenting with an `apko` based replacement for https://github.com/tektoncd/pipeline/blob/main/images/git-init/Dockerfile

You can see it here: https://github.com/mattmoor/git-init/blob/main/.apko.yaml

Basically I replaced thi

[2022-03-28 16:35] lbernick commented on #4470
/kind tep

[2022-03-28 20:45] sbwsg commented on #4710
This is a Work-in-Progress comment describing some of the changes that would be expected if we move remote resolution to a feature of pipelines rather than an external project.

Currently Tekton Resolution maintains a "core" reconciler whose responsibility is to monitor _all_ `ResolutionRequests` and mark them Succeeded after a resolver successfully patches in the content of a pipeline/task. This

[2022-03-28 21:33] bobcatfish commented on #4567
Hopefully this is fixed by https://github.com/tektoncd/pipeline/issues/4567 but plz re-open if it pops up again!

[2022-03-29 12:05] tmds opened #4716 "Make namespace accessible in Task definition"
A `Task` definition can not obtain the namespace it is running in. This is a request to make that namespace available, for example using `context.namespace`.

Relates to https://github.com/tektoncd/pipeline/issues/4540.

cc @vdemeester @jerop @KyWa

[2022-03-29 16:11] sbwsg commented on #4716
Thanks for the issue report.  Our docs indicate [there's already a variable Tasks can use](https://github.com/tektoncd/pipeline/blob/main/docs/variables.md#variables-available-in-a-task): `$(context.taskRun.namespace)`. You should be able to place this variable in your Task's definition and Tekton should replace it with the namespace that the Task is executing in (regardless if it's a pipelinerun

[2022-03-29 16:41] sbwsg commented on #4711
The patch at https://github.com/tektoncd/pipeline/pull/4717 seems to work with this custom `git-init` image.  It just adds an explicit `runAsUser` to the git pipelineresource container.

[2022-03-29 17:18] sbwsg commented on #4716
/priority awaiting-more-evidence

[2022-03-29 20:13] #4461 closed

[2022-03-30 13:13] sbwsg commented on #4696
I'm going to close this issue as I believe the root of the problem is the mismatch in client/server versions. @zeromsi please reopen if problems continue once that mismatch is resolved. Cheers!

/close

[2022-03-30 13:13] #4696 closed

[2022-03-30 16:57] favourjuwe opened #4721 "Workflow connecting Tekton pipeline/Pipelinerun and Tekton Task"
I do have a Tekton pipeline and pipeline run running in an openshift cluster.

I wrote four Tekton pipeline Task with steps using podman to authenticate with registry.redhat.io and push to artifactrepository

The worklow is this On completon of the Tekton pipeline and Pipelinerun the Tekton Task should begin

I do want to know how I can link the Tekton pipeline to Tekton Task

My tekton Task has t

[2022-03-30 17:57] ywluogg opened #4723 "[TEP 0075, 0076]: Structured object / arrays in Results and Params"
### Feature request

The issue will track the implementation for [TEP-0075 Propose object (dicitonary) param and result types](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md) and [TEP-0076 Propose array results and indexing](https://github.com/tektoncd/community/commit/e0e7d73e08113ac82e5fe8bc6467d31db51fbec7)

The two docs are in the process of review t

[2022-03-30 19:03] sbwsg commented on #4721
/kind question

[2022-03-31 13:17] abayer opened #4725 "OpenAPI gen broken when using Go 1.16 since bumping to k8s 23 libs"
On `main` right now, I get this when trying to run the swagger gen:

[code]

Moving to Go 1.17 fixes this, which makes sense - we'd expect failures to be showing up in CI if CI was still using Go 1.16. Soooo I guess it's time to move `go.mod` to 1.17?

[2022-03-31 13:20] afrittoli commented on #4725
@vdemeester ^^^

[2022-03-31 16:27] austinzhao-go commented on #4105
Hi @sbwsg @wlynch, was looking into this issue and digesting the discussion..

thinking If considering the initial use case - annotations/labels to be applied for the task(s) as need, propagating these metadata perhaps leads to extra annotations on the pipeline and task(s) which don't need.

I tended to think about more on adding the optional metadata field into the existing TaskRef, as a new type

[2022-03-31 16:32] #4725 closed

[2022-03-31 19:39] #4409 closed

[2022-04-01 14:38] rafalbigaj opened #4729 "panic: runtime error: index out of range [0] with length 0 on PipelineLoop custom tasks"
# Expected Behavior

Tekton Pipelines Controller should skip Runs that are indirectly created by the PipelineRun (e.g. by custom tasks).

# Actual Behavior

Tekton Pipelines Controller panics with:

[code]

# Steps to Reproduce the Problem

1. Enable custom tasks feature flag
2. Deploy https://github.com/kubeflow/kfp-tekton/tree/master/tekton-catalog/pipeline-loops custom controller
3. Run example

[2022-04-01 15:58] #4399 closed

[2022-04-01 16:06] sbwsg commented on #4105
Let's clarify the problem a bit before we proceed here. I think we need to be sure of what we are trying to solve.

Below is an example Task + Pipeline + PipelineRun. Each resource has its own annotation (`foo:foo`, `bar:bar`, `baz:baz`):

[code]

After running this through Tekton I observe the following:

1. The `PipelineRun` object is created with annotations  `bar` and `baz`. These come from th

[2022-04-01 17:34] kplimack opened #4730 "pipeline fails to mount secrets"
Pipeline fails to initialize due to failed mounts.  These secrets exist in the correct namespace.

version: `tektoncd/pipeline/cmd/controller:v0.29.0@sha256:72f79471f06d096cc53e51385017c9f0f7edbc87379bf415f99d4bd11cf7bc2b`

[code]

[2022-04-01 17:36] afrittoli commented on #4657
/assign @ssunitaa

[2022-04-01 17:40] ssunitaa commented on #4657
/assign ssunitaa

[2022-04-01 18:02] rkimmel-hv opened #4731 "istio-proxy container not stopped after running as taskrun"
Right now I have tekton-pipelines installed through the cncf tekton-pipelines chart here https://github.com/cdfoundation/tekton-helm-chart using v0.23.0 and triggers v0.13.0. Currently when my task runs spin up pods the istio-proxy image is replaced by the nop image and everything exits successfully. I am currently trying to change my pipeline version to v0.34.0 using the install process listed in

[2022-04-03 13:39] abayer commented on #4729
So the immediate problem is the `&&` at https://github.com/tektoncd/pipeline/blob/76d39b3886588c1fc62a107f966138f8bb10443b/pkg/reconciler/pipelinerun/pipelinerun.go#L1300, though I feel like something's not right in that the `Run` triggering the panic doesn't have any owner references? If that `Run` was created from a `PipelineRun`, it sure feels like it should have owner references...

[2022-04-04 11:18] afrittoli commented on #4729
@rafalbigaj do you have any input on this?

[2022-04-04 11:59] rafalbigaj commented on #4729
@abayer it is the case described by @afrittoli. I'm testing `Run` created by a user, which is of type `PipelineLoop`.
Here is the example: https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/examples/pipelinespec-with-run-arrary-value.yaml

[2022-04-04 12:04] afrittoli commented on #4729
This bug has been introduced in Oct 2020, so I'm not sure its fix warrants a minor release - as it's not a regression.
That said, I'd not be so not happy about having this issue lying around in recent versions.
@rafalbigaj which version of Tekton are you on?

[2022-04-04 12:43] #4729 closed

[2022-04-04 12:48] abayer commented on #4729
Aaaah - the `Run` in the example has https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/examples/pipelinespec-with-run-arrary-value.yaml#L36, suggesting it was originally created as part of a full `Pipeline` and then copy-pasted into the example as a standalone. That explains how this happened!

[2022-04-04 15:53] austinzhao-go commented on #4105
Guess I see your point. Thanks the logic explanation @sbwsg

As for letting fields "sit" in a proper context, here it will be more meaningful to "locate" the annotation(s) and label(s) under a runtime toward/specific field, like [taskRunSpecs field](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#specifying-taskrunspecs) (here the field name also can tell us). For the "authorin

[2022-04-04 16:05] sbwsg commented on #4105
Yeah I completely agree @austinzhao-go - I think labels and annotations alone should be enough to meet the criteria of the original feature request.

[2022-04-05 16:49] vinamra28 commented on #4611
@jerop @pritidesai I guess removal of `PipelineRunCancelled` status won't be a good idea atm because old + current releases of CLI are still pointing to this status and removal of this would break previous versions of CLI, i.e., a user using an older version of CLI (specifically, N, N-1 and N-2) wouldn't be able to cancel their `PipelineRun` if they install latest Pipelines on their cluster. They'

[2022-04-05 17:12] vinamra28 commented on #4611
created an [issue in CLI](https://github.com/tektoncd/cli/issues/1553) to track this

[2022-04-05 17:51] prashant-juluri commented on #1250
seems inaccessible. any equivalent link?

[2022-04-05 19:33] austinzhao-go commented on #4105
/assign @austinzhao-go

@wlynch perhaps comments?

the draft for changes:
2 (sub-) fields, "annotation" and "label" will be added under the existing [taskRunSpecs field](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#specifying-taskrunspecs) while considering for the runtime context.

the following steps after the changes will be
- [ ] Update related docs with added supporting

[2022-04-05 20:25] sbwsg commented on #4105
Just wanted to follow up on the discussion to add: since this modifies fields in one of Tekton's user-facing APIs it would need to go through a TEP. The process for taking a design through that is described here: https://github.com/tektoncd/community/blob/main/process.md#proposing-features

[2022-04-05 21:20] dibyom commented on #4731
Hmm...this sounds like a bug
/cc @tektoncd/core-maintainers

[2022-04-05 23:05] vdemeester opened #4737 "Owning our *Container* spec"
### Feature request

As of today, the `TaskSpec` *Step* is embedding the k8s "upstream" `Container` spec. The "possible" idea here would be to migrate to owning / defining our own `Container` spec instead. This would allow to control some of the "leaks* that comes from k8s in our types. For example, in the [`buildkit-tekton`](https://github.com/vdemeester/buildkit-tekton) experimentation, there is

[2022-04-06 01:24] vdemeester commented on #4444
@lbernick @sbwsg any reason for not having `-e` by default ?
I am *kind-of* hoping we set sane default (see "writing robust scripts" in https://bertvv.github.io/cheat-sheets/Bash.html or other article around this).

[code]

[2022-04-06 01:29] vdemeester commented on #3548
@jerop how do we want to maintain this compared/with https://github.com/orgs/tektoncd/projects/10 and the V1 TEP ?

[2022-04-06 05:08] pritidesai commented on #4737
_I have a limited understanding of the downside here (because of a limited knowledge of `duck typing` 😆 )._

Anyways, I like the idea of having our own `Container` spec as it provides us flexibility in introducing pipeline/task specific fields which might not be relevant/available in upstream `Container` spec. It provides us extensibility and decouples from the k8s resources.

[2022-04-06 05:10] pritidesai commented on #4737
/cc @lbernick pinging Lee here since we had a similar discussion two weeks back to introduce our own custom `Container` spec.

[2022-04-06 09:30] cdbkr commented on #1289
This would be really helpful when maintaining a catalog with a lot of Tasks and Pipelines.
It would be great to be able to actually test the following scenarios in isolation (without a cluster):
- Tasks:
  - interpolated variables coming from params (which could be optional/required)
  - order of steps
  - produces results
  - general task validation
- Pipelines:
  - order of tasks execution (sync

[2022-04-06 11:12] jerop opened #4738 "Skipping Reason"
### Feature Request

Surface the reason why a specific `Task` in a `Pipeline` was skipped.

Today, users only know that a `PipelineTask` was skipped, but they don't know for which exact reason. When users see a `PipelineTask` has been skipped without knowing the reason, they may get confused about the behavior of the `PipelineRun` e.g. https://github.com/tektoncd/pipeline/issues/4571 and [slack th

[2022-04-06 13:18] lbernick commented on #4737
I like the idea of owning our own container spec since it could help with issues like #4080. I think we could make this change without breaking existing working yamls but it would break the go client libraries. Priti pointed out that there is precedence for breaking go libraries w/out breaking yamls in #2826.

I don't think we should remove the container fields that can't be implemented in buildki

[2022-04-06 13:31] sbwsg commented on #4444
From my pov it's less about opinion-driven questions of "sane defaults" and more about letting admins and platforms select what defaults fit their users and use-cases best.

We allow overriding the shell images that scripts run in, so perhaps we should also support the default script preamble being overridden too. Either way that strikes me as unrelated to the core motivation behind this issue and

[2022-04-06 13:42] vdemeester commented on #4737
This is however why I tend to want to own our Container spec, to shrink it to remove all the things that are not useful for a Task container. The fact that `builkit-tetkon` (I should refer to it as "local execution to make sure there is no confusion with buildkit itself) ignore them (and safely) is mainly showing they have no use in the tekton task use cases (and thus I have a 90% confidence they

[2022-04-06 14:45] lbernick commented on #3548
I'd prefer using the project board since it makes it easier to add/remove issues, track their status, and add commentary about each one

[2022-04-06 15:56] mostafa-eltaher commented on #1250
Perhaps https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/ which also points to the OpenAPI Specs at https://github.com/kubernetes/kubernetes/blob/release-1.23/api/openapi-spec/swagger.json

[2022-04-06 16:35] pritidesai commented on #4737
I vote for implementing this in `v1` for the same reasons you have mentioned. Implementing this in `v1beta1` will be easier and quicker but can break the consumers including dashboard/CLI/others.

[2022-04-06 17:25] vdemeester commented on #3548
@lbernick I tend to agree 😇

[2022-04-06 17:31] austinzhao-go commented on #4105
thanks @sbwsg for further details on the TEP thru chat and with some good examples I could structure as.

bring this changing idea for the TEP draft. target to ready it for collecting feedback in the coming week - week#15 of the year

[2022-04-06 21:14] jerop commented on #3548
@vdemeester @lbernick agree with both of you that the project board is great for tracking items and the V1 TEP is useful for reaching alignment on what items are in scope -- thank you @vdemeester for scoping the items in this issue, it's been so useful and strongly influenced both the TEP and project board 🙏

[2022-04-07 09:13] jerop commented on #4388
@sushilHpal for 0.32.1, you need Kubernetes version 1.20 or later

[Required Kubernetes Versions](https://github.com/tektoncd/pipeline#required-kubernetes-version):
- Starting from the v0.24.x release of Tekton: Kubernetes version 1.18 or later
- Starting from the v0.27.x release of Tekton: Kubernetes version 1.19 or later
- Starting from the v0.30.x release of Tekton: Kubernetes version 1.20 or l

[2022-04-07 15:03] austinzhao-go commented on #4105
Hi @sbwsg @wlynch, thinking if you have some examples and posts related to the use-case/requirement on memory?

When arranging the doc, I found I might lack of a bigger view over the problem space, like not limited to the single mentioned case. So I could keep the writing more general for the problem via more readings.

[2022-04-07 18:12] lbernick commented on #4071
Just want to update with a summary of the work already done and that needs to be done:
- we've updated timeouts.tasks and timeouts.finally to account for time already spent during the pipelinerun.
- We need to update the pipelinerun controller to set a new timeout in the taskrun spec on every attempt. (We currently [just update the status, including the start time](https://github.com/tektoncd/pipe

[2022-04-07 18:14] lbernick commented on #4460
#4071 is relevant here-- not sure if it's a blocker for moving timeouts to beta but it's a pretty gnarly bug

[2022-04-07 20:58] Aleromerog commented on #4690
/assign @Aleromerog

[2022-04-07 21:54] vaikas opened #4741 "If pod exists for some reason, it's a terminal failure."
# Expected Behavior
Background: While debugging an issue that caused duplicate reconcile events [root cause here](https://github.com/knative/pkg/pull/2483), I noticed that if a pod was deemed non-existent at the time
of the list, then when we went to create it later, it may have already been created, and the pod create
failed as expected with AlreadyExists error. However, I was a bit surprised tha

[2022-04-08 14:24] lbernick commented on #4470
Opened [TEP-0104](https://github.com/tektoncd/community/pull/673) to propose this feature.

[2022-04-08 17:50] austinzhao-go commented on #4105
Hi @anthonysuterag, I am looking into this issue now. Perhaps any updates or future details you got for this use case in the past months?

[2022-04-08 19:07] dibyom commented on #4741
Hey @vaikas - agree that the error message is confusing and should be fixed. If the pod already exists due to the bug you mentioned, then I agree that we should treat the error as non terminal.  But are there any other cases where we run into this error and can we always assume that the already existing pod was created by Tekton vs something else? Would the switch to an informer mean that we hit p

[2022-04-08 19:24] vaikas commented on #4741
Great questions :) Since it seems like we use prebaked names, I was kind of thinking that we might just get rid of the list and use .Get always. At least, that's how I read the comment here, and from my hazy recollection on what the knative childname does :)
https://github.com/tektoncd/pipeline/blob/e46259eb9d924fc85800bcfb9a5aec4178826c0a/pkg/pod/pod.go#L332

So, if that's indeed the case, then t

[2022-04-08 19:26] vaikas commented on #4741
Also, as far as stale cache concerns, we switched to using informers everywhere in Knative long time ago and we have not seen any issues (except better performance, less load on the API server and so forth) over hitting the API servers for get/list operations.

[2022-04-10 15:54] mattmoor commented on #4455
/lifecycle frozen

We still see a bunch of intermittent flakes downstream, which I think this will help triage/debug.  The Helm test was so flaky we had to disable it, but a few others are intermittently problematic as well.

[2022-04-10 16:54] debuggerpk commented on #4730
I am having the same problem.

[2022-04-10 18:52] debuggerpk commented on #4730
I think I have narrowed down the problem.

First the context, Below is my `Task`

[code]

and my `Pipeline` definition

[code]

The following `PipelineRun` runs without any problem

[code]

But the minute I apply the same `persistentVolumeClaim` to workspaces.artifacts, i get the secret volume mount error, which shouldn't be the case.

[2022-04-11 00:15] #2862 closed

[2022-04-11 12:57] vinamra28 opened #4747 "PipelineRun in running state even if PipelineTask with retries is failed"
# Expected Behavior

A PipelineRun with PipelineTask having `x` retries should fail if all the retries are exhausted and the failure is still there.

# Actual Behavior

PipelineRun is in running state even after all the retries are exhausted and eventually the TaskRun fails. Below is what controller says
[code]

# Steps to Reproduce the Problem

1. Install the pipelines from current main branch on

[2022-04-11 15:01] vdemeester commented on #4220
/lifecycle frozen
/assign @afrittoli

[2022-04-11 16:16] geriom commented on #4554
PR currently under review: https://github.com/tektoncd/website/pull/298

[2022-04-11 19:11] dibyom commented on #4375
/assign @geriom

[2022-04-11 22:06] bobcatfish commented on #4078
whoops this shouldn't have gone rotten! still being addressed (slowly) in [TEP-0092](https://github.com/tektoncd/community/pull/540)

/reopen
/lifecycle frozen

[2022-04-12 13:57] lbernick commented on #4533
/unassign

I'm not actively working on this right now. However, this could be addressed by #4552, which adds default values for resource requests for init containers. Because there are drawbacks to that PR, one approach would be to add default values from a configmap, and allow the user to modify the configmap if there are any issues with the resource requests. This would also allow users to get a

[2022-04-12 19:56] mattmoor opened #4752 "Consider switching to ghcr.io/distroless images"
We have been starting to pursue (with `apko`) the next generation of "distroless" tooling, and that has made curating images with complex dependencies (e.g. `git`) much more tractable than the old model.  I chased the idea of "distroless git" years ago when we were starting knative/build and the dependency tree made this a nightmare, but with the new tooling, it's actually very tight!

I put toget

[2022-04-12 19:57] mattmoor commented on #4752
cc @afrittoli

[2022-04-12 20:15] imjasonh commented on #4752
+1 to smaller images, but especially +1 to simpler, more declarative images.

Just so I can concretely understand the proposal:
- replace `-shell-image` with `ghcr.io/distroless/busybox` -- seems like a simple drop-in replacement 👍
- replace `git-init`'s base image with `ghcr.io/distroless/git`
    - delete [this Dockerfile](https://github.com/tektoncd/pipeline/blob/main/images/git-init/Dockerfile

[2022-04-12 20:38] mattmoor commented on #4752
@imjasonh I'd probably split the switchover from deleting the Dockerfile, in case we want a really simple rollback, but that should definitely be the goal!

[2022-04-13 04:40] vdemeester commented on #4752
I do not see any reason not to switch to it so 👍🏼

[2022-04-13 10:57] BlueCog opened #4755 "[Question] Trying to find an architecture overview of pipelines & operator"
Hey all,

_Situation: OpenShift 4.8 & (RH) Tekton Operator 1.5. In the process of creating CI/CD pipelines. Actively using Tekton for +3 months._

I've read many documentations/blog posts/github issues and learned a lot. But I'm still looking for the technical/architecture overview of how a pipeline in an namespace relates to an installation of Tekton in the `openshift-pipelines` namespace. What a

[2022-04-13 12:51] lbernick commented on #4741
We append a "-retryN" suffix to the previous pod name, e.g. "my-taskrun-pod", "my-taskrun-pod-retry1"

[2022-04-13 13:26] lbernick commented on #3377
Discussed in API WG this week and [on slack](https://tektoncd.slack.com/archives/CLCCEBUMU/p1649701811062659): we plan to remove Conditions from v1beta1 CRDs in v0.37.0.

[2022-04-13 14:44] mattmoor commented on #4752
Cool, I will try to draft the first part today.  Then I'll stage something to try to remove the rest, which we can merge once we are comfortable with the switchover (I'll need help making sure I caught everything, but I'll start with @imjasonh fantastic list! 🤩 )

[2022-04-13 18:44] mattmoor commented on #4752
Alright, I kicked it and it picked up `2.35.2` from edge, so I'll send this shortly:
[code]

[2022-04-13 18:53] mattmoor commented on #4752
So grepping the code base, I also found `tekton/publish.yaml` rewrites `.ko.yaml` for windows support, and also adds (back?) several `baseImageOverrides`.  I think this should be:
[code]

... but want to sanity check.  I'll include this in my PR, but please pay attention and check my work because I kinda doubt this is tested presubmit 😅

[2022-04-14 07:38] vdemeester commented on #4752
That sounds about right 🙃
cc @imjasonh @afrittoli

[2022-04-14 07:38] vdemeester commented on #4426
/remove-lifecycle rotten
This is still needed

[2022-04-14 10:36] #3647 closed

[2022-04-14 12:09] vdemeester commented on #3647
/remove-lifecycle rotten
Might be fixed by https://github.com/tektoncd/pipeline/pull/4758

[2022-04-14 18:11] mattmoor opened #4761 "`shell-image` should specify to run as root when it needs it."
# Expected Behavior

A default nonroot version of `shell-image` can pass e2e testing without issues.

# Actual Behavior

permission denied setting up PVCs.

@imjasonh brought up a great point about the `script:` semantics as well, which are probably being run as root due to the choice of default user today, but I have not confirmed.

# Steps to Reproduce the Problem

Replace the `-shell-image` in

[2022-04-14 18:19] mattmoor commented on #4761
FYI this is the shell-image equivalent to: https://github.com/tektoncd/pipeline/issues/4711

[2022-04-14 18:38] mattmoor commented on #4711
Looks like this didn't catch a few places in `TestYaml` and `TestExample`.

The two flavors of issue I see in those are:
1. `image: ko://.../git-init` and `script:` that needs root in `TestYamls`,
2. the SSH `creds-init` seems to be broken by this in `TestExamples`.

I'm chasing these in https://github.com/tektoncd/pipeline/pull/4758 now.

[2022-04-14 18:49] mattmoor commented on #4711
For the first issue, I am hoping a simple `runAsUser: 0` on the relevant steps does the trick (running now).

For the second issue, the root cause (I believe) is that the `ghcr.io/distroless/git` image doesn't have `/root`, so setting up `/root/.ssh` fails.  We should get this added to the distroless images because it is root's home directory in `/etc/passwd`, so it should be in the image.  Tekton

[2022-04-14 21:57] mattmoor commented on #4761
Ultimately the goal of this issue is to weaken [this](https://github.com/tektoncd/pipeline/blob/80f9ac68e6dd291fe6cb2ad6cabb809084befe2f/config/controller.yaml#L78-L81) wording where `root` is required:

... to wording where the image must support running as `root`.

[2022-04-14 22:00] mattmoor commented on #4761
One of the places that must be fixed up is here:
https://github.com/tektoncd/pipeline/blob/80f9ac68e6dd291fe6cb2ad6cabb809084befe2f/pkg/apis/resource/v1alpha1/storage/artifact_pvc.go#L66-L80

Clearly (from the comment) this code dealing with PVCs is one of the key places where the root requirement had originally stemmed from.  I will see if/what else fails when these have an explicit `runAsUser: 0

[2022-04-15 08:54] balainit opened #4764 "error kubernetes version 1.20.11 is not compatible, need at least 1.21.0-0"
crictl logs  webhook

[code]

crictl logs tekton-pipelines-controller
[code]

kubectl version

v1.20.11

kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'

v0.34.1

[2022-04-15 09:04] vdemeester commented on #4764
Hey @balainit, thanks for the issue.
According to the release notes, starting from [v0.33.0](https://github.com/tektoncd/pipeline/releases/tag/v0.33.0), kubernetes >= 1.21.0 is required for tekton to run (v0.33.x and above, and thus 0.34.1 also require kubernetes 1.21.x).

As stated, this can be overriden if you update the `Deployment` spec with the environment variable `KUBERNETES_MIN_VERSION`

[2022-04-15 09:09] balainit commented on #4764
@vdemeester
Thank you very much, my English is not very good, I didn't read the document carefully

[2022-04-15 09:12] #4764 closed

[2022-04-15 15:06] mattmoor commented on #4752
Landing the first round of these now, please let me know if you see anything weird.

Next order of business will be to stage cleaning up the `Dockerfile` and such.

[2022-04-15 15:33] #4761 closed

[2022-04-15 15:46] mattmoor commented on #4752
For deleting [build-push-ma-base-image.yaml](https://github.com/tektoncd/pipeline/blob/5ac6ef7aba1a0cdd6c31e4f53b1816cf0bb94572/tekton/build-push-ma-base-image.yaml#L90-L91) I'm unsure where this is `TaskRun` from, so we should clean that up before my deletion lands.

[2022-04-15 18:52] imjasonh commented on #4752
https://github.com/tektoncd/pipeline/blob/1ddb31cd945051966c07208829fe69adc02e6a4d/tekton/release-pipeline.yaml#L107-L127

Which blocks `publish-images`:

https://github.com/tektoncd/pipeline/blob/1ddb31cd945051966c07208829fe69adc02e6a4d/tekton/release-pipeline.yaml#L129

...which should just have:

[code]

[2022-04-15 21:10] #4303 closed

[2022-04-16 00:13] #4148 closed

[2022-04-16 02:26] imjasonh commented on #4752
Looking closer, there's two different pipeline params, `buildPlatforms` (what platforms to pass to `buildx`, to build these base images) and `publishPlatforms` (what platforms to pass to `ko`).

So in removing `build-base-image`, we'll also want to remove `buildPlatforms` and only pass around `publishPlatforms`.

Though it looks like the default values defined in the Pipeline:

https://github.com/

[2022-04-16 09:17] jbpratt commented on #4755
/kind question

[2022-04-16 19:07] ChrisJBurns commented on #4731
I'm also receiving this!

[2022-04-17 12:55] usernameisnull opened #4766 "Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "sh": executable file not found in $PATH: unknown"
# Expected Behavior
run success
# Actual Behavior
 Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "sh": executable file not found in $PATH: unknown
# Steps to Reproduce the Problem

1.  download `https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/taskruns/task-result.yaml`
2.  k creat -f task-result.yaml
3.  fail

[2022-04-17 16:45] usernameisnull commented on #4766
I get this problem in every example I run, I'm mad.

[2022-04-17 17:29] usernameisnull commented on #4766
ok,it's the installation,the wrong base image version,sorry.

[2022-04-17 17:29] #4766 closed

[2022-04-18 07:32] yuzp1996 commented on #4730
I am interested in this issue. Can I take this one?

[2022-04-18 09:52] marco210 opened #4767 "Failed to run tekton task"
# Expected Behavior
Run task or Pipeline `git-clone`
# Actual Behavior
Can not run any task. Error:
`Error from server (InternalError): error when creating "hello-world.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post "https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=10s": dial tcp 172.17.36.80:8443: connect: no route to host`
#

[2022-04-18 10:35] yuzp1996 commented on #4730
/assign yuzp1996

[2022-04-18 14:30] hakuna-matatah commented on #4247
I'm running into this following error when using `script` with `tasks` with `alpine/k8s:1.22.6 image`, underlying host/instance arch type is `arm64` where this image is running.
I could run docker run -it alpine/k8s /bin/bash  fine from Mac but this only happens when I'm running it as a task run.

```Error executing command: fork/exec /tekton/scripts/script-0-wgm75: exec format error ```

 I tried

[2022-04-18 20:30] lbernick commented on #4313
Experimenting with Custom Tasks for the ColocatedPipelineRun POC, wanted to leave a few notes on things we might want to improve for beta:

- Codegen is really difficult. It seems like the best solution right now is to add the new Go types, *not import them anywhere yet*, copy go.mod and codegen scripts from another working example, run `go mod vendor`, run the codegen, then add the reconciler/con

[2022-04-18 23:19] yuzp1996 commented on #4730
Hello, I try to produce this error in my local environment but I don't make it. Could you please help provide more detail about your configuration? @kplimack @debuggerpk

Below is my configuration which tries to produce the error

`apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: hello
spec:
  workspaces:
  - name: source
    description: The source code that will be cloned.
  - name: a

[2022-04-19 00:11] mattmoor opened #4772 "Timeout tests expect to observe all task states"
# Expected Behavior

`Test*Timeout` reliably passes

# Actual Behavior

These tests intermittently flake out because they expect to see the tasks go `Running`, but they can go straight to timed out.

# Steps to Reproduce the Problem

Run things a lot on KinD on actions...

# Details

With an instrumented version of things downstream, I see a flake where when the client operations are sluggish, the

[2022-04-19 02:29] yuzp1996 commented on #4613
Hi! I am interested in this issue and want to take this one. If I need any help I will mention it here.

[2022-04-19 02:29] yuzp1996 commented on #4613
/assign yuzp1996

[2022-04-19 07:37] yuzp1996 commented on #4613
I have reproduced the same error in my local environment then I will try to find the related code and find why this happened

[2022-04-19 08:17] yuzp1996 commented on #4613
I have reproduced the same error in my local environment  and I will check the code and find out how this happened

[2022-04-19 08:33] yuzp1996 commented on #4613
<img width="1656" alt="image" src="https://user-images.githubusercontent.com/23007448/163960513-e012e011-e781-4af1-b40e-66f4d96a02fa.png">

maybe this is the cause of this bug

[2022-04-19 15:19] abayer opened #4777 ""Invalid log format" error in e2e tests with logstream"
When running e2e tests, [logstream](https://github.com/knative/pkg/blob/main/test/logstream/README.md) barfs when trying to take the JSON log entries fed to it and turn them into more readable lines, like this:

[code]

This is because [logstream changed the keys it's expecting](https://github.com/knative/pkg/commit/b89ac2a632933d18c717bd9e356a54db6baca76b) to fit [a knative/pkg change](https://gi

[2022-04-19 16:00] lbernick commented on #4777
I think this is worth doing in the config as well as in tests since it helps cut down on log spam when debugging.

[2022-04-19 17:06] #3140 closed

[2022-04-20 07:12] #4772 closed

[2022-04-20 08:13] vdemeester commented on #4313
I tend to agree, but this is "only true" for custom task reconciler that are written in Go 👼🏼 , aka it's the same problem you have when writing any CRD and reconciler with Go more or less.

+:100:

[2022-04-20 13:47] lbernick commented on #4460
Just talked with Vinamra; I think it would be OK to promote timeouts to beta and deprecate Timeout despite this bug. Reasoning here is that this bug  doesn't affect Timeouts.Pipeline (which replaces Timeout), and we are confident we want Timeouts to be part of the API rather than Timeout.

[2022-04-20 17:02] vdemeester commented on #4035
/lifecycle frozen
Should be more or less taken care of with https://github.com/tektoncd/pipeline/pull/4618, as the timeout is cancelling the Task. Today cancel means delete, but with that proposed feature, we would not delete the pod anymore.

[2022-04-20 20:06] #4241 closed

[2022-04-21 08:13] vdemeester commented on #4404
/remove-lifecycle rotten

[2022-04-21 16:02] lbernick commented on #4611
/reopen

I think we still need to remove PipelineRunCancelledDeprecated

[2022-04-21 17:09] shirouto opened #4784 "place-scripts initContainer fails on permission denied"
# Actual Behavior

Any task using `script` fails before the main container starts during `place-scripts`.

# Steps to Reproduce the Problem
A task like
[code]
will fail when run with `sh: /tekton/bin/entrypoint: Permission denied` in the `place-scripts` container logs.

# Additional Info

- Kubernetes version:
client/server 1.23
- Tekton Pipeline version:
Client version: 0.19.1
Pipeline version: v

[2022-04-21 17:22] chitrangpatel commented on #4529
/assign

[2022-04-21 18:11] austinzhao-go commented on #4105
+ related TEP
https://github.com/tektoncd/community/pull/690

[2022-04-22 20:40] chuangw6 opened #4787 "Missing validation when referencing unknown params with bracket notation"
# Expected Behavior
There are [three ways](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#substituting-parameters-and-resources) to reference a parameter in task steps.
[code]
If task steps use an unknown `<name>` in any 3 reference forms (means the parameter name is not declared in `params`), the webhook **should validate against it and report an error** like the following when appl

[2022-04-22 20:52] chuangw6 commented on #4787
# Proposed Solution
Modify the `extractVariablesFromString` [function](https://github.com/tektoncd/pipeline/blob/76e40b5a7b11262bfaa96ae31f28db2009002115/pkg/substitution/substitution.go#L149-L165) to enable it to extract variable names from bracket notation reference strings. Currently, it can only extract variable names from dot notation reference strings.

## Example:
### current functionality

[2022-04-25 14:46] #4555 closed, assigned to geriom

[2022-04-25 16:46] lbernick commented on #1689
Discussed in today's API WG: having the pod name in the TaskRun status is useful for retrieving logs and for dashboard/cli. Longer term better solution is to leverage the results API, to provide a way for people to retrieve statuses and logs of TaskRuns. Once we have something like this in place, we will revisit removing this field from the TaskRun API.

/close

[2022-04-25 16:46] #1689 closed

[2022-04-25 19:17] dibyom commented on #4723
/assign @Yongxuanzhang

[2022-04-25 19:27] Yongxuanzhang commented on #4723
/ assign @Yongxuanzhang

[2022-04-25 19:28] geriom commented on #4375
Commenting so I can be assigned to this issue.

[2022-04-25 19:29] Yongxuanzhang commented on #4723
/assign @Yongxuanzhang

[2022-04-25 19:44] chuangw6 commented on #4723
/assign

[2022-04-25 22:59] 4insavage opened #4791 "Resource"
Resource

[2022-04-26 02:55] bryceyang commented on #4555
nice work!  but the tutorial link is a localhost url.

[2022-04-26 03:00] geriom commented on #4555
Well, it works on my machine 😅

Sorry about that, I just updated my comment with the correct link.

[2022-04-26 06:20] chuangw6 opened #4792 "Missing validation against parameter name format"
# Expected Behavior
[This doc](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#specifying-parameters) mentioned that the parameter names should follow the following rules:
- Must only contain alphanumeric characters, hyphens (-), underscores (_), and dots (.).
- Must begin with a letter or an underscore (_).

Therefore, there should be existing validation against parameter names that

[2022-04-26 06:27] chuangw6 commented on #4792
# Thoughts
- The purpose of the function [ValidateVariableP](https://github.com/tektoncd/pipeline/blob/f0f9e32da6b4145ede27a371900e853a3530c1ee/pkg/substitution/substitution.go#L48-L63) called in [task_validation.go](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/task_validation.go) is to use [extractVariablesFromString](https://github.com/tektoncd/pipeline/blob/f0f9e32da

[2022-04-26 06:29] chuangw6 commented on #4787
Just found an issue that the quote notion reference `$(params.<name>)` doesn't even work well. reported in #4792

[2022-04-26 13:44] dpkshetty opened #4793 "Support for export and import of existing pipelines"
### Feature request

Ability to export and import pipelines from the GUI/console

### Use case

I have an existing pipeline, made generic enuf using params, secrets etc. I want to be able to export (from the GUI) the pipeline (tasks, params, resources associated, the task specific properties (key/value fields) ) such that i could import (from the GUI) it in another cluster (with a different projec

[2022-04-26 14:36] geriom commented on #3705
@dibyom with #4789 merged I think we can close this issue. I'm don't have the permissions to do it.

[2022-04-26 15:00] vdemeester commented on #3705
/close
@geriom you should be able to close with the `/close` comment I think

[2022-04-26 15:12] afrittoli commented on #4792
@chuangw6 thank you for this report, it sounds like validation there can use some improvement and unit tests :)
Do you plan to work on a fix for this or shall we mark it as help wanted?

[2022-04-26 15:15] #4791 closed

[2022-04-26 16:56] chitrangpatel commented on #4738
/assign

[2022-04-26 18:22] chuangw6 commented on #4792
Hi @afrittoli ,
Yeah, I am happy to look into this.
Just wonder why two rules for param name forma are in place. Are we restricting this to avoid something or is it just a convention for variable names? Can you help me understand this?
Thank you!

[2022-04-26 18:59] CameronHudson8 commented on #4687
I had the same issue, although my use case is different. My use case is that I want Tekton to run an image from my GCP artifact registry.
[code]

I was able to resolve it by manually annotating the `tekton-pipelines-controller` kubernetes service account, in order to link it to a Google service account that had a role with permission `artifactregistry.repositories.downloadArtifacts`.

However, I'm

[2022-04-26 19:09] CameronHudson8 opened #4794 "Task does not run the CMD of the Dockerfile"
# Expected Behavior
If I do not specify the the `command` and `args` for a Task's container, then I expect the Task to default to the Dockerfile's CMD.

# Actual Behavior
The Task runs the Dockerfile's ENTRYPOINT command(s), without running the Dockerfile's CMD.

# Steps to Reproduce the Problem

1. Pick an image that has a CMD, such as `bitnami/express:latest`, and use it as the image for a Task.

[2022-04-26 20:26] Aleromerog commented on #4690
After some attempts of not evaluating strings inside quotes, we realized there may be cases when a user would want variables inside quotes to be treated as variables. So there are a couple of options for this:

1. We use something besides " or ' to indicate we should not escape e.g. \$(params.<>) or $$(params.<>)
2. We use "", or ' but use a feature flag at the controller level to decided which be

[2022-04-26 20:29] imjasonh commented on #4794
This image is sort of confusing. It has both a `.config.Cmd` and a `.config.Entrypoint` (and a `.container_config.Cmd` and `.Entrypoint`, with different values.

Looking at the code, we should take `.config.Entrypoint` first, which is `"/opt/bitnami/scripts/express/entrypoint.sh"` -- can you share the Pod that gets created in this case? It should tell us whether it's correctly finding the entrypoi

[2022-04-26 20:30] imjasonh commented on #4687
Just to clarify @CameronHudson8 , the issue you're seeing in https://github.com/tektoncd/pipeline/issues/4687#issuecomment-1110144643 is the same as you've reported in https://github.com/tektoncd/pipeline/issues/4794 correct?

If so I'd prefer to diagnose that issue over there to avoid confusion with this issue. If there's any overlap please let me know. (and thanks for letting me know!)

[2022-04-26 20:50] CameronHudson8 commented on #4794
Yes, it does find the entrypoint correctly. However, the CMD is not run.
[code]
The container logs:
[code]

(The `bitnami/express` container actually does not succeed trivially as I mentioned in my original post, because it has an entrypoint that requires arguments. I'll correct my original post.)

[2022-04-26 20:58] CameronHudson8 commented on #4687
@imjasonh You are absolutely correct, sorry for the confusion!

[2022-04-26 22:09] vdemeester commented on #4375
@geriom you should be able to comment ´/assign´ and be directly assigned at the same time I think.
/assign @geriom

[2022-04-26 22:20] chuangw6 commented on #4792
# Proposal: disallow the usage of dots(.) in param names
[This doc](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#specifying-parameters) mentioned that the parameter names should follow the following rules:
- Must only contain alphanumeric characters, hyphens (-), underscores (_), and dots (.).
- Must begin with a letter or an underscore (_).

But we need to disallow the usage of do

[2022-04-26 22:23] chuangw6 opened #4797 "Disallow using dots(.) in param names"
# Proposal: Disallow using dots(.) in param names
[This doc](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#specifying-parameters) mentioned that the parameter names should follow the following rules. (But we do not enforce it currently - reported here #4792 )
- Must only contain alphanumeric characters, hyphens (-), underscores (_), and ***dots (.)***.
- Must begin with a letter or

[2022-04-26 22:30] chuangw6 commented on #4723
Hi @ywluogg ,
I just realized that we might need to disallow the parameters whose name contains dot(.). Reasons are mentioned in #4797 , which is related to [TEP-0075](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md).

Do you have any thoughts on this?
Thanks!

[2022-04-26 22:48] chuangw6 opened #4798 "Missing validation against duplicated parameter names"
# Expected Behavior
Duplicated parameters (with same name) should be checked in both ***TaskRunSpec's*** `params` and ***TaskSpec's*** `params`
Example:
- two `bars` in ***TaskRunSpec's*** `params` and two `foos` in ***TaskSpec's*** `params`
[code]
# Actual Behavior
- The duplicated two `bar`s in ***TaskRunSpec's*** params will be captured and reported by this [function](https://github.com/tektonc

[2022-04-26 22:59] chuangw6 commented on #4792
/assign

[2022-04-26 23:06] dibyom commented on #4797
Hmmm...given that the dot notation this is already part of the beta API, I'm not sure we can immediately remove it given our deprecation policy: https://github.com/tektoncd/pipeline/blob/main/api_compatibility_policy.md#backwards-incompatible-changes

But I do agree - without this object params is tricky

/cc @vdemeester @wlynch @skaegi

[2022-04-27 01:05] chitrangpatel commented on #4738
Hi, I'm working on this issue in this [PR](https://github.com/tektoncd/pipeline/pull/4800). At this point, all the unit tests pass and after adding the `Reason` field where necessary.

 This feature definitely tracks the Skipping Reason. My question is, how is it accessed by the users? Using the `tkn pipelinerun describe` cli, I can see the skipped step as shown below. Do I need to update the CLI

[2022-04-27 08:54] vdemeester commented on #4797
@dibyom so this is a weird situation. We do document params shouldn't include dots (`.`) but we do not enforce it. We could enforce it and say "it was documented forever" but I tend to think it might break users and thus we would need to follow the deprecation policy.

It also reminds me of https://github.com/tektoncd/pipeline/issues/3590.

[2022-04-27 09:08] vdemeester commented on #4794
@imjasonh I think we "never" really take into account a `Task` that would specify neither `command`, nor `args`, nor `script`. Looking at the code, we are indeed only looking for the entrypoint (`command` in k8s) or command (`args` in k8s), but never both at the same time.

https://github.com/tektoncd/pipeline/blob/68f2a66c9b2ffcc23ef262bac95d1eb3856021cf/pkg/pod/entrypoint_lookup_impl.go#L163-L16

[2022-04-27 09:41] #3864 closed

[2022-04-27 14:38] vdemeester opened #4801 "Variable interpolation doesn't work in `stepTemplate`"
# Expected Behavior

Given the following `TaskRun` (using embedded `Task`, but it's the same with `Task` references), it fails with `InvalidImageName`, as the image name passed to kubernetes is `$(params.image)`(aka not interpolated).

[code]

# Actual Behavior

It resolves the param value and "just" work.

# Steps to Reproduce the Problem

1. Create a `TaskRun` similar to above
2. Apply it
3. See

[2022-04-27 14:38] vdemeester commented on #4801
/assign

[2022-04-27 14:39] chitrangpatel commented on #4738
Checking the status using the following command:
`kubectl get pipelinerun pipelinerun-skip-task-run-task -o yaml` results in:
[code]
Under `skippedTasks`, there is now a `reason: WhenExpressionsSkip` showing the reason why the test was skipped.

[2022-04-27 14:46] vdemeester opened #4802 "Some *useful* Pod status do not bubble up in TaskRun status"
Sligtly related to #4801, when a `Pod` doesn't fail but is in a "long-term" un-reconciliable state, such as `InvalidImageName`, the `TaskRun` controller ignore those and wait forever (aka timeout).

This happens because it a fixable error from the `Pod` standpoint (you can mutate the `image` of a container in a `Pod`), and thus doesn't seem to be considered as a "terminal" error.

The `TaskRun` co

[2022-04-27 15:21] vdemeester commented on #4794
/assign

[2022-04-27 15:25] ywluogg commented on #4797
There are two checkings for $(params.foo.key1): one is a param called "foo.key1" and another understanding is that we are referring to "key1" in a param "foo". I agree with the direction that this is confusing, and probably disallowing this in the names should be the we go. Before that, it is possible to validate against both of them and "referring to `key1` in a param `foo`" should be first consi

[2022-04-27 15:26] chitrangpatel commented on #4738
Currently, when we use the `tkn` CLI as shown below, `Skipped Tasks` only displays the `NAME`. Should it also show the `REASON` for skipping the task?

[code]

[2022-04-27 15:26] ywluogg commented on #4723
Thanks Chuang for the updates!

[2022-04-27 17:06] StevenACoffman commented on #3548
BTW, I just thought to mention here that the various Tekton Roadmaps are all still listed as "2021 Roadmaps" such as https://github.com/tektoncd/pipeline/blob/main/roadmap.md and https://github.com/tektoncd/community/blob/main/roadmap.md#2021-roadmap (there are more).

[2022-04-27 18:58] Yongxuanzhang opened #4805 "Implementation details for results emitting in TEP-0076"
### Feature request

This is part of https://github.com/tektoncd/pipeline/issues/4723 area 2.

Right now the results are written to /tekton/results/resultname file, and the content will be read and stored as string in `v1beta1.PipelineResourceResult` 's value, later it will be written to termination message.

To support array and later object type for results. I suggest we change the type of
`v1be

[2022-04-27 19:14] chitrangpatel commented on #4798
/assign

[2022-04-27 19:14] chitrangpatel commented on #4798
Submitted a [PR](https://github.com/tektoncd/pipeline/pull/4806) for this.

[2022-04-27 20:07] Yongxuanzhang commented on #4805
/assign

[2022-04-28 00:42] chuangw6 commented on #4792
## Result name and Param name
The interpretation of this [regex](https://github.com/tektoncd/pipeline/blob/68f2a66c9b2ffcc23ef262bac95d1eb3856021cf/pkg/apis/pipeline/v1beta1/resultref.go#L40) seems that result name format has same rules with param name except that a rule (not mentioned for param names) which is result name shouldn't end with `-`, `_` or `.`.

We should make sure result name and pa

[2022-04-28 04:04] mattmoor commented on #4797
This was already discussed extensively in the TEP to support dots: https://github.com/tektoncd/community/pull/503.  This comment in particular is relevant: https://github.com/tektoncd/community/pull/503#discussion_r697889113, quoting the relevant excerpt:

[2022-04-28 10:29] grigorev-lm commented on #4747
I'm having the same issue.
- Tekton versions
[code]
- Kubernetes version
[code]

[2022-04-28 12:48] abayer commented on #4711
/reopen

I think we need a fix that doesn't require `runAsUser: 0` - we're going to break anyone using `git-init` directly as soon as they bump that to `v0.35.0`. Yeah, they can add `runAsUser: 0`, but I don't think making users add that explicitly is optimal.

[2022-04-28 12:49] abayer commented on #4711
/priority important-soon

[2022-04-28 13:15] abayer commented on #4711
/remove-priority important-longterm

[2022-04-28 14:05] mattmoor commented on #4711
If folks are invoking the `git-init` binary, then perhaps we could check the UID and warn for a release that they should `runAsUser: 0` if they need it, or they can preflight the change with `runAsUser: 65532`?

[2022-04-28 14:51] vdemeester commented on #4529
/assign
I think I know why this is happening, I'll create an additional issue around this, but in a gist, it's because of the termination message behavior in k8s with multiple containers.

[2022-04-28 15:12] Yablargo commented on #4438
Ran into this today, and the documentation is absolutely confusing I was sitting here scratching my head as to why my finally task kept getting skipped. There was no error or other indicator that there was something wrong with the results.

[2022-04-28 15:31] dibyom commented on #4711
/cc @pritidesai

I think we need to update the v0.35 release notes letting users know that if they use git-init:latest, they need to run as root (https://github.com/tektoncd/pipeline/pull/4807/files)

[2022-04-28 15:31] Yablargo commented on #3749
I have a pretty basic use case for this @pritidesai and It seems like a pretty big oversight from where I am sitting!

1. I have a number of concurrent tasks that check quality and security and all report out their results.
2. If any of these checks fail, the overall build fails
3. I have a "finally" task that posts a summary of all testing back to the original merge request.

Right now I have to

[2022-04-28 15:39] abayer commented on #4711
So my immediate question is whether we think there's enough usage of `git-init:latest` out there in the wild to merit reverting the base image change ASAP. I've verified that all versions of the `git-clone` and `git-batch-merge` catalog tasks (which are the only tasks there using the `git-init` image) all have explicit default image versions specified, and #4717 means that git `PipelineResource`s

[2022-04-28 15:41] pritidesai commented on #4438
[TEP-0103](https://github.com/tektoncd/community/pull/671/files#diff-9c3af9b7538a1dd889591ce59d8b4ed4c98eb9e8cd4bd74fd89507c4b17ca567R39) is addressing this missing piece where the pipelineRun reports the reason why a task was skipped.

@Yablargo what is your use case? What is the expectation, run the `finally` task anyways (with missing results)?

[2022-04-28 15:42] vdemeester opened #4808 "Results, TerminationMessage and Containers"
While looking into #4529, I stumbled on a *relatively **big*** shortcomings of our current implementation of `Result`.

The initial problem is highlighted in one of our customer's `Task` that write results. From one version to the other, the same exact task would fail to write the result. Digging a bit into the issue, the culprit commit was e6399ce1d, which naively made no sense at all. The only *

[2022-04-28 15:45] vdemeester commented on #4529
@skaegi @pritidesai @chitrangpatel see https://github.com/tektoncd/pipeline/issues/4808

[2022-04-28 15:50] Yablargo commented on #4438
@pritidesai I actually post results, but since the task fails ( I fail it intentionally, the QC failed.), I can't read the results I posted, when I get to the ```finally``` task.

In a simplified example, I run ```npm audit```, see a critical vuln has been caught, and want to write the bit of JSON on the findings summary to /tekton/results/whatever and pick that up later in my finally task to post

[2022-04-28 15:56] pritidesai commented on #4438
I see, thanks @Yablargo for the details! The pipelineRun does not publish results when a task fails and that's the reason `finally` task is not executed.

We have designed `finally` such that pipelineRun must skip running `finally` in case of missing results to avoid any kind of accidental execution.

I think, this use case is more suitable for https://github.com/tektoncd/pipeline/issues/3749 wher

[2022-04-28 15:57] pritidesai commented on #4438
I noticed you have do vote for it 😄  https://github.com/tektoncd/pipeline/issues/3749#issuecomment-1112351402

[2022-04-28 16:05] Yablargo commented on #4438
Yep, Thanks! For right now I upload everything at the end of each TaskRun and pull it back down in the Finally (well, I was already uploading anyways, I just was hoping to use /results to save some calls and task params).

It works, but it would save some complexity to be able to just poll the /results.

[2022-04-28 16:09] vdemeester commented on #4808
/cc @tektoncd/core-maintainers @abayer @imjasonh

[2022-04-28 16:28] dibyom commented on #4711
Yeah I was initially thinking we'd have to revert and do a patch release but it seems like this will only break if you use git-init:latest. The existing git-clone task should work since it pins to v0.29 of git-init. So, I thinking just a breaking change note on the release notes should be sufficient.

[2022-04-28 19:02] pritidesai commented on #3749
@Yablargo [onError](https://github.com/tektoncd/pipeline/blob/4c45dbd601f0bf7ab68f79a7d33ee248ad02bd43/docs/tasks.md#specifying-onerror-for-a-step) might be beneficial for this use case. Let me know your thoughts?

[2022-04-28 19:37] Yablargo commented on #3749
Gotcha, [Producing task result with onError](https://github.com/tektoncd/pipeline/blob/4c45dbd601f0bf7ab68f79a7d33ee248ad02bd43/docs/tasks.md#produce-a-task-result-with-onerror) might actually do the trick

[2022-04-28 20:05] mattmoor commented on #4711
I do see the following with a GCE PD-backed PVC 🤔
[code]

I'll dig a bit

[2022-04-28 20:28] mattmoor commented on #4711
I have a question out to one of the GKE security folks, but in the meantime...

Instead of having PVCs create this infectious `root` requirement, another option would be to wrap the `PVC` setup in a specific container that runs as `root` (explicitly) and broadens the permissions on `/workspace`.

If PVC-based `/workspace` requires `root`, then how is Tekton allowing ~any non-`root` builders in gen

[2022-04-28 22:02] gabrielfreire commented on #4548
Help please!

I have a cluster deployed in a couple of Raspberry PIs and am trying to build a Tekton pipeline for my project but it became an incredibly frustrating experience as i'm getting the following error from `gcr.io/kaniko-project/executor@sha256:b44b0744b450e731b5a5213058792cd8d3a6a14c119cf6b1f143704f22a7c650`

[code]

According to Kaniko this image supports multiple architectures includi

[2022-04-28 22:03] spstarr opened #4809 "Using Kaniko catalog with ECR does not seem to work"
So, I am trying to upload docker images to AWS ECR, I've added the IAM bindings to the EKS policy.

The problem is, with a `PipelineRun` I see no way to tell the Kaniko task how to set the environment variable as mentioned by the Kaniko developers for their container:

You can use instance roles when pushing to ECR from a EC2 instance or from EKS, by [configuring the instance role permissions](htt

[2022-04-28 22:17] #4389 closed

[2022-04-29 07:16] vdemeester commented on #4548
@gabrielfreire you would have to create an issue on the `kaniko` issue tracker ([here](https://github.com/GoogleContainerTools/kaniko) — note there is https://github.com/GoogleContainerTools/kaniko/issues/530).
The metadata on the [kaniko `Task`](https://github.com/tektoncd/catalog/blob/main/task/kaniko/0.6/kaniko.yaml#L12) shows it only supports `amd64`.

In general, Tekton is responsible for mak

[2022-04-29 07:22] vdemeester commented on #4711
Ah interesting. Ok then, it might be a problem for some k8s distribution but not all, I see.

@mattmoor I tend to agree with you, I just wonder if we should do the following before we switch to the full `nonroot` approach.

And I am all for that as well 👼🏼 I just want to make sure we don't get a flood of issues about that because we switch it in one release without making sure we wouldn't break ha

[2022-04-29 08:45] afrittoli commented on #4809
@spstarr The bad news is that today you can't using the stock kaniko task today. The good news are:
- you can create your own copy of the kaniko task which sets `AWS_SDK_LOAD_CONFIG` (based on the an input parameter if you wish)
- we have folks working on addressing this, see [TEP-101 Env in Pod Template](https://github.com/tektoncd/community/pull/658)

Feel free to chime in the discussion on the

[2022-04-29 11:25] mattmoor commented on #4711
Yeah, I’m definitely on board with avoiding breakages and scrambling.  I’m traveling this morning, but this afternoon, I can try to put together a version of distroless/git that uses root by default (likely tagged :root), so we still have the option to dump the Dockerfile and test the waters there, if we want to.

[2022-04-29 14:43] chitrangpatel commented on #4787
To allow bracket notation to extract the value properly, the [regex pattern](https://github.com/tektoncd/pipeline/blob/76e40b5a7b11262bfaa96ae31f28db2009002115/pkg/substitution/substitution.go#L30) needs to be changed from
[code]
to

[code]

And [line](https://github.com/tektoncd/pipeline/blob/76e40b5a7b11262bfaa96ae31f28db2009002115/pkg/substitution/substitution.go#L162) needs to be replaced by s

[2022-04-29 14:48] spstarr commented on #4809
I'll clone the catalog in the meantime, as workaround. When new Tekton comes out with the CRD changes supported, I'll update our `tekton-pipelines` deployment.

[2022-04-29 15:23] imjasonh commented on #4808
That phrasing of the limit is surprising to me. The vanilla k8s [docs](https://kubernetes.io/docs/tasks/debug/debug-application/determine-reason-pod-failure/#customizing-the-termination-message) say:

...with no mention of how each container's message is limited.

My read of the k8s docs is that there's a 12KB total limit, but not that it's divided among containers in any way. It _might_ be limite

[2022-04-29 15:41] lbernick opened #4810 "Changes to images published by Pipelines are not tested in the PR where they are introduced"
Pipelines builds and publishes several images: git-init, pullrequest-init, kubeconfigwriter, and imagedigestexporter. These images are considered [part of the Pipelines API](https://github.com/tektoncd/pipeline/blob/main/api_compatibility_policy.md#what-is-the-api).

Some of these images are used in the examples tests, but the examples tests pull versions of these images that have already been pub

[2022-04-29 16:11] vdemeester commented on #4808
This is what is happening today and why I opened the bug. Adding an extra `initContainer` (even without any termination message setup, …) did reduce the size of the message for one container.

As a reproducer, see the following resources:

[code]

Running the following pipeline with a `RESULT_STRING_LENGTH` of `3000` (3K) does fail on >= 0.32, but suceeds before.

[code]

[2022-04-29 16:19] imjasonh commented on #4808
Oh I see, thanks for clarifying. In that case, it sounds like we should update the k8s docs so folks don't trip over this later. I'm sure I'll forget and need a reminder 😅

This also definitely bumps up the priority for larger results and getting off `terminationMessage`s.

[2022-04-29 16:26] vdemeester commented on #4810
I think there was an issue at some point around `examples` versus tests.
If we are using `examples` as a set of e2e test payload, we should definitely make sure we use `ko` and `ko://` to exercise the images we own in the PR. We should even have a check that errors out if it find `git-init` or other images we own without `ko`.

The trick is that, usually `examples` are seen for end-user as an exam

[2022-04-29 16:39] abayer commented on #4810
So `git-init` is tested in https://github.com/tektoncd/pipeline/blob/2b8538214169ec1c3af14221f44ea59e6b1b81f7/test/yamls/v1beta1/pipelineruns/pipelinerun.yaml#L83 - and it was updated in #4758 with the `runAsUser: 0` change. So that issue slipped through not because it wasn't being tested but because, well, it just slipped through after getting worked around in one place.

I would definitely lean

[2022-04-29 17:23] spstarr commented on #4809
This worked when I modified the catalog for Kaniko, and:

[code]

This worked, and some fixing of my IAM roles, I had an issue with wrong mapping but then it worked.

[2022-04-29 18:28] chitrangpatel commented on #4787
/assign

[2022-04-29 18:28] lbernick commented on #4810
Whoops, thanks Andrew, looks like I was wrong about the git-init image! I just did a quick search and it looks like while the git-init and imagedigestexporter images have coverage in examples, pullrequest-init and kubeconfigwriter don't.

(There are also a few other images we publish: workingdirinit, entrypoint, nop, etc. If entrypoint broke, integration tests would be unlikely to work, and nop se

[2022-04-29 18:41] mattmoor commented on #4711
Ok, I have a couple PRs staged to add `ghcr.io/distroless/git:root` image, and once that lands, I can either PR here to use it, or we can simply roll things back.

If the main source of problems here is workspace / PVCs, does it make sense to split off a new issue to track overcoming the pervasive root requirement that seems to incur?

Are there other items we should break out into separate issues

[2022-04-29 18:53] spstarr commented on #999
What I would like to be able to do is this:
https://tryexceptpass.org/article/pytest-github-integration/

Where by Kaniko builds --> the workspace is kept --> the github app runs pytest -> sends report to Github

I think if i create a task for a github app to it could be possible...

[2022-04-29 19:02] abayer commented on #4810
I don't think we want to stop running everything in `examples`, since we should definitely be sure that any of the examples we're showing to users actually work, but adding `test/yamls/...` test coverage for the various images is a fantastic idea. We might also want to split out the execution of `TestYamls` and `TestExamples`, so that the `test/yamls` ones show up more clearly as a separate thing

[2022-04-29 19:05] mattmoor commented on #4711
Ok we now have:
[code]

[2022-04-29 19:16] abayer commented on #4711
I just did a local run with `ghcr.io/distroless/git:root` as the base, then ran `examples/v1beta1/pipelineruns/pipelinerun.yaml` without `runAsUser: 0` in my kind setup, and it worked. (just to be safe, I did another run with `ghcr.io/distroless/git`, and it failed). So yeah, this seems Good Enough to me that we can just do a `v0.35.1` with this change and not roll back.

Also worth mentioning - i

[2022-04-29 19:23] mattmoor commented on #4711
Do you want to combine that with the `:root` switch and make this a single cherry-pick?

[2022-04-29 19:28] chitrangpatel commented on #4787
After implementing the above [fixes](https://github.com/tektoncd/pipeline/issues/4787#issuecomment-1113405726), I now get errors from the webhook if the names are inconsistent even with the bracket notation when I run this task:
[code]
[code]

[2022-04-29 19:31] abayer commented on #4711
Not sure what you mean by "that" - if you mean switching to `:root` and removing the `runAsUser: 0`s from the various YAML files they were added to, then yes? =)

[2022-04-29 19:50] jeusdi opened #4856 "x509: certificate signed by unknown authority"
I've deployed a local docker registry. It uses a self-signed certificate.
When I'm trying to run mask buildpacks task, I'm getting this message:

    x509: certificate signed by unknown authority

I've took a look on [documentation](https://tekton.dev/docs/pipelines/install/#configuring-self-signed-cert-for-private-registry), about how to add my docker registry certificate, but I've not been able

[2022-04-29 20:10] chitrangpatel commented on #4787
There is a PR for this: https://github.com/tektoncd/pipeline/pull/4811

[2022-04-30 22:48] mattmoor opened #4812 "Conversion webhook is constantly failing conversions to v1 types"
# Expected Behavior

No failing conversion webhooks in the steady state.

# Actual Behavior

With a single task installed, I see about 1 QPS (judging from log lines with "Failed conversion") of failed conversion webhook attempts converting to a `desiredAPIVersion` of `tekton.dev/v1`:

[code]

# Steps to Reproduce the Problem

1. Install tekton at HEAD
2. Install any task
3. Check webhook logs (the

[2022-04-30 23:22] mattmoor commented on #4812
I believe the "offending" change is https://github.com/tektoncd/pipeline/pull/4702 (cc @lbernick @pritidesai @dibyom), which introduces the `v1` types in the config, BUT...  the types aren't stored or served, so these conversion webhook calls contradict my own mental model here, and we have very possibly uncovered an upstream bug 🤔

Letting "Dr. Empirical" guide our understanding more...  As soon

[2022-05-01 21:22] vdemeester commented on #4812
I would definitely think it is worth. Adding v1 early is only worth if it doesn’t affect the normal behavior / performance.

[2022-05-01 22:32] chuangw6 opened #4814 "Case-insensitive duplication check in TaskRunSpec's params"
# Background
There is a function named [validateNoDuplicateNames](https://github.com/tektoncd/pipeline/blob/6f39e948ccd2b2b8091fb3b26d84d83412352087/pkg/apis/pipeline/v1beta1/taskrun_validation.go#L149-L165) in place to check **case-insensitive** duplication against ***taskRun spec's params***, WorkspaceBindings, StepOverrides and SidecarOverrides.

For params duplication check, it's only used in

[2022-05-01 22:55] chuangw6 commented on #4814
/assign

[2022-05-02 06:10] yuzp1996 commented on #4730
https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1104174433

@kplimack @debuggerpk  looks like it is the same bug you meet.  Could you provide your k8s cluster version? And then check and make sure your script is correct?

[2022-05-02 06:16] yuzp1996 commented on #4802
Hi, I am interested in this issue. May I take this one?

If I need any help I will mention it here. Thank you!

[2022-05-02 06:17] yuzp1996 commented on #4802
/assign yuzp1996

[2022-05-02 06:39] yuzp1996 commented on #4802
<img width="618" alt="image" src="https://user-images.githubusercontent.com/23007448/166193850-acac405c-a7d6-42a1-aac1-ba6b54f90066.png">

<img width="648" alt="image" src="https://user-images.githubusercontent.com/23007448/166193874-370605d3-6e1e-461d-8346-72cf069dd55e.png">

I think I have reproduced the error here. The pod is in the status of ImagePullBackOff while the related Taskrun is pendin

[2022-05-02 09:07] balainit opened #4816 "task sed: couldn't open temporary file Permission denied"
cat /etc/issue
Debian GNU/Linux 11 \n \l

Kubernetes "v1.20.11"

deploy-to-k8s.yaml

[code]
tkn version

Client version: 0.23.1
Pipeline version: v0.34.1
Triggers version: v0.19.1
Dashboard version: v0.25.0

kubectl logs -f  deploy-to-k8s-pod

[code]

[2022-05-02 12:12] yuzp1996 commented on #4802
Hi, I check the code and find maybe we can do some improvement here.
<img width="1462" alt="image" src="https://user-images.githubusercontent.com/23007448/166230714-839de56f-3d1f-48d4-85a9-da71d8e46968.png">

I think this is not a bug fix but a new feature. Maybe I need to provide a TEP to describe the goal that we want to achieve and the code change that I need to make.

I will be very happy if y

[2022-05-02 12:50] lbernick commented on #4812
Opened #4817 to revert. However I think it would be good to fix this issue upstream somehow since we're using this doc [How to add new API versions to your CRD](https://docs.google.com/document/d/1omfO0O4yoUuM1Fk2E6wjfdVNK6XFSmxI3pb13xQ3rys/edit?resourcekey=0-vfKbXJHbVCVhmK98kNhssA) and it's a bit easier to be able to add in multiple steps like this.

[2022-05-02 18:30] spstarr opened #4819 "Modify Tekton Catalog Kaniko support to passing github user/password PAT token info"
### Feature request

When trying to build with Kaniko it fails with errors:

[code]

Kaniko allows you to pass `GIT_USERNAME`, `GIT_PASSWORD`
https://github.com/GoogleContainerTools/kaniko/pull/1263

This would be handy to expose also, ties into #4809 requiring PipelineRuns requriing envvars to be passed or set.

Private github repos to build code from

[2022-05-02 19:04] spstarr commented on #4819
Actually, this might need more... passing PAT credentials like that will still fail in some builds, go modules is fickle and requires

[code]
At least so go can use git to `go get` properly... hmm

[2022-05-02 19:57] spstarr commented on #4819
That did work, GITHUB_USERNAME, GITHUB_PASSWORD did not.

In a Dockerfile I need to do:

[code]
Pass to Kaniko task:

[code]

[2022-05-02 19:59] lbernick commented on #4812
Matt, when you say the issue is upstream, do you think is this a knative issue or a k8s issue? How challenging would it be to fix?

[2022-05-02 20:05] #4812 closed

[2022-05-02 21:12] jerop commented on #4738
@chitrangpatel - yes, showing `Reason` in the CLI will be useful - we can ask the CLI team to take a look after the feature is released (cc @piyush-garg @vinamra28 @vdemeester)

[2022-05-02 21:16] mattmoor commented on #4812
@lbernick I think it is a Kubernetes issue.

[2022-05-03 00:31] Yongxuanzhang opened #4820 "ArrayorString UnmarshalJSON unsupported type value into string"
### Feature request

Right now for ArrayorString's UnmarshalJSON, by default we will  Unmarshal as array. For structured results, users can write different types of data to results path,  cases like int, []int will not be supported by current UnmarshalJSON. Since in [tep75](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md#proposal) we decided to support st

[2022-05-03 05:32] vdemeester commented on #4810
@lbernick @abayer yes, I agree with those suggestions 👼🏼

[2022-05-03 07:17] vdemeester opened #4822 "`TestFetch` from `pkg/git` modify global git config"
# Expected Behavior

Running `go test ./...` doesn't modify my personal / global git configuration.

# Actual Behavior

Running the test on a system where the git config is read-only (for example NixOS), the test fails.

[code]

Ideally, we should set a temporary git config when running the test.

# Steps to Reproduce the Problem

1. Set `$HOME/.git/config` (or `$HOME/.config/git/config`) as a rea

[2022-05-03 07:39] vdemeester commented on #4446
/lifecycle frozen
/assign

[2022-05-03 13:22] #4801 closed

[2022-05-03 13:59] ywluogg commented on #4820
Can you elaborate a bit more on this? I'm not sure if I understand.

[2022-05-03 14:31] #4814 closed

[2022-05-03 16:39] pritidesai commented on #3497
/assign @vinamra28

[2022-05-03 16:40] chuangw6 commented on #4797
Hi @vdemeester ,
can you please point to me the documentation saying that params shouldn't include dots (`.`)?
Thanks!

[2022-05-03 17:01] jerop commented on #3323
cc @Yongxuanzhang @ywluogg relevant to `ArrayOrString` in `Results`

[2022-05-04 13:28] #4822 closed

[2022-05-04 14:12] austinzhao-go commented on #4366
thanks @afrittoli hints out.
[TEP-0106](https://github.com/tektoncd/community/pull/695) should also be applied with the similar constraints to avoid overwriting the Tekton metadata. marked a follow up action on my side to sync the work from this thread.

[2022-05-04 15:43] vdemeester commented on #4529
@skaegi https://github.com/tektoncd/pipeline/pull/4826 has a "regression" test that reproduce this constantly between 0.32 and 0.35 😉

[2022-05-04 15:47] vdemeester commented on #4737
/assign @lbernick
I think we can mark this as done, right ?

[2022-05-04 15:53] lbernick commented on #4737
I was thinking we could leave it open to track marking the unnecessary fields as deprecated?

[2022-05-04 16:01] afrittoli commented on #4816
Hello @balainit - thanks your for report. It looks like `sed` does not have access to create a temporary file.
I'm not 100% sure what `sed` is doing there, but it feels like it may be trying to use same folder where your file is to create a temporary file.

As a side not I would recommend using `apiVersion: tekton.dev/v1beta1` instead of `apiVersion: tekton.dev/v1alpha1`.

[2022-05-04 17:13] geriom commented on #4375
We no longer have the reference to `PipelineResources` in the tutorial. About the examples, quoting @vdemeester reply:

@jerop  Does that mean we close this issue?

[2022-05-04 17:14] abayer commented on #4519
/assign @vdemeester

[2022-05-04 17:51] #4794 closed

[2022-05-04 19:01] dibyom commented on #4444
So, in general I think sane defaults are a good idea but enforcing them might be deviation from one would expect from a shell by default i.e. most shells would not have `set -e` by default.

There are some use cases where users may rely on the default shell behavior  e.g. not failing early if the linting fails. Users can obviously get around this in Tekton today by adding a `set +e` to their lint

[2022-05-04 19:18] abayer commented on #4444
I think removing the default `-x` was absolutely a good idea, and I definitely wish that we hadn't specified a default `-e` in the first place, but like you said, removing it now would be a breaking change. I waffle on whether we should remove it or not - having a feature flag to control whether the default is `-e` or not seems like the right way to go. I'd suggest we add that flag, defaulting to

[2022-05-04 20:50] imjasonh commented on #4444
The reason for adding `-e` in the first place was to prevent folks from doing something like this:

[code]

...having seen lots of folks try to do a similar thing in GCB, which doesn't have script mode, and doesn't set any flags by default.

For comparison, GitHub Actions has a similar feature, where you can:

[code]

...and if the first line fails, the whole step fails, and the second line is nev

[2022-05-04 20:54] jerop commented on #4375
@geriom sounds good, thank you for working on this issue!

[2022-05-04 22:55] KyWa commented on #4716
Sorry for the long delay, but just tested this (using the exact examples above sans image) and the TaskRun Pod logs just spits out: `$(context.taskRun.namespace)`. I'm still tracking down the Tekton version, but its the OpenShift Pipelines Operator version 1.5. I'll get more info as soon as I can.

[2022-05-05 06:08] balainit commented on #4816
[code]
@afrittoli
Thanks a lot, I used securityContext: privileged: true and it works fine

[2022-05-05 06:08] #4816 closed

[2022-05-05 08:29] vdemeester commented on #4716
This means it's Tekton `0.24.x` you are using, which might not contain `context.taskRun.namespace` 🤔

[2022-05-05 08:58] vdemeester commented on #4690
For me, the easiest fix would be to not validate (nor interpolate) things in `Params` of a `Task`. But with embedded Task, it seems it could be a problem. I think the approach in https://github.com/tektoncd/pipeline/pull/4835#discussion_r865301501 would work fine as well.

[2022-05-05 15:04] vdemeester commented on #4546
/lifecycle frozen

[2022-05-05 18:05] vdemeester commented on #4542
/lifecycle frozen

[2022-05-05 19:19] lbernick commented on #1673
@jerop @vdemeester @afrittoli @pritidesai should we keep this issue open? I think with TEP-0074 we know where we want to go with PipelineResources

[2022-05-05 19:22] lbernick commented on #4375
Maybe we can move examples with pipelineresources out of examples and into test/yamls -- this way they will still be tested but not act as documentation of how to do things

[2022-05-05 23:13] yuzp1996 commented on #4802
OK, thanks!  I will do it this week.

[2022-05-06 02:13] vdemeester commented on #1673
Yeah I think we can close 😇

[2022-05-06 13:50] lbernick commented on #1673
/close

[2022-05-06 13:50] #1673 closed

[2022-05-06 17:26] migeorge opened #4840 "Pipeline stuck running after task failure"
I have a Pipeline that does a number of tasks and I'd like to update the status of each task on the commit in Github. I have the status update working, but the Pipeline Run doesn't seem to be working the way I expect it to. Maybe I'm missing something?

# Expected Behavior
Using the example Pipeline / Tasks provided, all tasks in the pipeline should pass except for `run-consumer-tests` and `set-co

[2022-05-06 19:30] austinzhao-go opened #4842 "Clean up raw HTML <code></code> in Markdown files"
Moved from the reviews https://github.com/tektoncd/pipeline/pull/4834/files#r866943819 for a separate clean-up task.

[2022-05-07 21:50] #4408 closed

[2022-05-08 22:14] #4339 closed

[2022-05-08 23:35] yuzp1996 commented on #4802
This is all the [image Error](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/images/types.go#L26) I found in the k8s kubelet code.

<img width="814" alt="image" src="https://user-images.githubusercontent.com/23007448/167320277-9fe3c4d7-d549-422c-9931-23fe4ab790c0.png">

[2022-05-09 05:42] wzhanw commented on #3749
@pritidesai applying `onError: continue` will change the pipelinerun and taskrun from `failed` to `Succeeded`.
In our use case, we don't want that, we only need the task results available.

[2022-05-09 10:15] yhil opened #4847 "Tekton controller queue processing time"
Hello,

I am scheduling taskruns in a namespace with a resource quota which allow only a certain number of taskruns to schedule their pod at the same time. Each taskrun takes a few minutes to complete.

The taskruns not running are in the queue waiting for free resources for their pod to be scheduled. The following events are reported:

[code]

# Expected Behavior
Tekton controller continuously ch

[2022-05-09 14:51] chitrangpatel opened #4849 "Parameter replacement not updated in `pipelinerun` status's `pipelineSpec` and `TaskSpec`"
When executing the `pipelinerun` and propagating the parameters using the `$params.` notation, the replacements happen internally and the log output of the pod does show the appropriate replacement.
[code]
ie. `kubectl logs <podname>` does show `Hello World!`.
However, the `status` of the pipeline run after the execution is complete using `kubectl get pr <pipeline run name> -o yaml` does not show

[2022-05-09 16:20] lbernick commented on #4738
/close

this feature has been implemented in #4829. If we want to add this functionality to the CLI let's create an issue in that repo instead of tracking here.

[2022-05-09 16:20] #4738 closed

[2022-05-09 16:29] lbernick commented on #4513
/close

I think this is a duplicate of #4802

[2022-05-09 16:29] #4513 closed

[2022-05-09 16:38] lbernick commented on #4397
/remove-lifecycle stale

[2022-05-09 16:51] joaosilva15 commented on #4840
Hey, this is also happening to us. I believe the issue is in https://github.com/tektoncd/pipeline/blob/v0.35.0/pkg/reconciler/pipeline/dag/dag.go#L116 and https://github.com/tektoncd/pipeline/blob/v0.35.0/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go#L627 . The done list contains the tasks that were skipped because the tasks in `runAfter` failed but that task is not visited and so the d

[2022-05-09 17:16] afrittoli commented on #4840
Either case once this is fixed we will need a v0.35.1

[2022-05-09 18:54] imjasonh commented on #4847
We've heard this issue before, and digging into it I believe the underlying issue is that Tekton's retry logic when Pods don't schedule due to resource quota is to retry with exponential backoff.

So, imagine the scenario where a TaskRun is about to be started, but there aren't enough resources right now, but there will be resources available in a few minutes. The TaskRun fails to create, and retr

[2022-05-09 18:55] chitrangpatel commented on #4840
Hmm. I went over the changes in that PR. They should not have introduced this bug. All they do is add an additional field `Reason` to the `skipped Tasks`. They don't really alter the logic.  Also, the lines that @joaosilva15 pointed to weren't touched by this PR.

A fresh set of eye on that PR won't hurt though.

[2022-05-09 19:46] austinzhao-go commented on #4470
Hi @lbernick, perhaps I could pick this issue up?

digesting the required logic from TEP and target to raise a draft PR in this week.

[2022-05-09 19:51] lbernick commented on #4470
/assign @austinzhao-go

Thanks Austin!

[2022-05-09 20:02] afrittoli commented on #4840
Thanks @chitrangpatel for looking into this.
I can confirm I'm able to reproduce the issue on v0.35.
I'm now trying to find the commit that triggered the change in behaviour.

[2022-05-09 20:21] migeorge commented on #4840
I've been doing some regression testing and have found that it works as expected up to `v0.34.1`. I'll be looking around to see if I can find where it broke as well, although I am new to Tekton.

[2022-05-09 20:32] afrittoli commented on #4840
I tracked it down to https://github.com/tektoncd/pipeline/pull/4651 - before that commit the reproducer pipeline fails normally. @lbernick FYI

[2022-05-09 20:33] lbernick commented on #3792
/close

TEP-0100 has now been implemented, and documentation of status is being tracked in #4660.

[2022-05-09 20:33] #3792 closed

[2022-05-10 18:55] #4737 closed

[2022-05-10 19:13] chitrangpatel commented on #4710
/assign

[2022-05-10 20:06] vsinghai commented on #4615
All the fields in the `Tasks` spec are present in the docs. This can be closed.

[2022-05-11 06:31] #4615 closed

[2022-05-11 06:35] vdemeester commented on #4710
Note: we also need to support Remote Resolution for `Task` specs.

[2022-05-11 07:29] yhil commented on #4847
Yes this is what you explained me on Slack, I couldn't find by myself what cause the exponential backoff. Then I created this issue with more detailed to get help and find the root cause of that problem.

Is it possible to test and confirm your conjecture ?

[2022-05-11 10:24] Fabian-K commented on #3404
Hi,
we have been running tekton pipelines using stateful ordinals for quite some time successfully. Since release 0.35.0 it appears to be broken for us. Based on the logs I think that a pipeline run is processed by multiple instances.

[code]

The pipeline run is in an inconsistent state, it´s shown as failed even though the task run it consists of is successful.

I know that using the stateful or

[2022-05-11 11:57] #4657 closed

[2022-05-11 11:58] afrittoli commented on #3404
Thank you for you report @Fabian-K.
I'm not aware of any change on Tekton side that would specifically break this, we rely entirely on the functionality from `knative/pkg` for this. We picked a new version of `knative/pkg` but that was, I believe, in v0.33.x.
@mattmoor are you aware of any change that may be causing this? Is the `StatefulSet` setup still working fine for you downstream?

I agree w

[2022-05-11 12:57] #4840 closed

[2022-05-11 13:07] migeorge commented on #4840
@lbernick Thanks for the quick fix on this!
@afrittoli You mentioned a v0.35.1 release after this was fixed, what are the next steps to do that?

[2022-05-11 13:53] lbernick commented on #4470
I want to amend what I said in https://github.com/tektoncd/pipeline/issues/4470#issuecomment-1064464624; since the container limits are enforced on individual containers by the container runtime, and pod effective limits seem less relevant than pod effective requests, I've updated the design in https://github.com/tektoncd/community/pull/703 to propose support for Task-level limits as well.

[2022-05-11 15:52] yhil commented on #4847
I reapplied the taskruns with the controller log level set to debug. I couldn't see any logs reporting `Failed to create taskrun pod for taskrun .*`
The logs that I see about the ExceededResourceQuota are
[code]
I also receive logs about requeing, I don't understand them because the time reported is over 50 minutes but the taskrun where in the queue for less than 20 minutes:
[code]

[2022-05-11 16:00] austinzhao-go commented on #4470
thanks this update @lbernick

just confirm my understanding about the update:
- task-level limit field will be added and written into step-level (as will pass `Pod` scheduler check with a higher total amount, but still get enforced by contain-level in runtime)
- resources field will be added under 2 positions
    - `Task.sepc.resources`
    - `PipelineRun.TaskRunSpecs.resources` (think will overwr

[2022-05-11 16:30] imjasonh commented on #4847
That 57m requeue might be due to this code:

https://github.com/tektoncd/pipeline/blob/155179bf2de895b0ab76859b3d8aef142f0206db/pkg/reconciler/taskrun/taskrun.go#L179-L184

This enqueues a reconcile at a time after the TaskRun should have either been completed or timed out -- if it's not done at that time, it's failed as timed-out.

That re-enqueueing happens only if the TaskRun has a start time,

[2022-05-11 17:29] shirouto commented on #4784
@lbernick Hey there. Well I do not do anything fancy. I apply the resource such as
[code]
and then I attempt to run it with
[code]
which fails, and then I look at the logs on the init container with something like
[code]
which yields the error I posted above (the permission error).

Looking at your configuration, the k8s version jumps up: I run 1.23 here.

[2022-05-11 17:57] lbernick commented on #4470
Yup that's correct @austinzhao-go !

[2022-05-11 19:30] ywluogg opened #4858 "Add a new struct to replace ArrayOrString struct"
With implementation of [TEP 075 and 076](https://github.com/tektoncd/pipeline/issues/4723) going on, especially introducing json objects into params and results, it worths discussion about whether we want a new struct to replace [ArrayOrString](https://github.com/tektoncd/pipeline/blob/1c8447d74285cbc0b6947822ca88b9d27829c0ba/pkg/apis/pipeline/v1beta1/param_types.go#L134), as the implementation of

[2022-05-11 22:03] #4792 closed

[2022-05-11 23:05] sbtest opened #4860 "Param Values container $$ are handled incorrectly"
# Expected Behavior
If param value is Heloo$$World, it should preserve the value as Hello$$World

# Actual Behavior
If param value is Heloo$$World, it is interpreted  as Hello$World

# Steps to Reproduce the Problem
[code]

# Output from above script
[code]

# Additional Info

- Kubernetes version:
Kubernetes Version: 1.23

- Tekton Pipeline version:
Tekton Version: 0.35

[2022-05-11 23:07] sbtest commented on #4860
/cc @pritidesai @afrittoli

[2022-05-11 23:14] Tomcli commented on #4860
This is blocking some of our Kubeflow users where inputs with multiple "$" will not pass into the argument list correctly.

[2022-05-11 23:17] Tomcli commented on #4860
I think there are some test cases for the `spec.steps.*.script`, but not for `params`.
https://github.com/tektoncd/pipeline/blob/main/examples/v1alpha1/taskruns/step-script.yaml#L102-L118

[2022-05-12 00:08] yhwang commented on #4860
found the old issue for the double dollar sign: https://github.com/tektoncd/pipeline/issues/3871
and it explains that's expected behavior in Kubernetes: https://github.com/kubernetes/kubernetes/issues/101137

seems for `script`, this issue is fixed in tekton side. right now the question is how to fix that for the `param`

[2022-05-12 04:22] mattmoor opened #4862 "`TaskRun` unconditionally patches `Pods` once `SidecarsReady`"
# Expected Behavior

I would expect this to elide the patch once the label is in place:
https://github.com/tektoncd/pipeline/blob/76e40b5a7b11262bfaa96ae31f28db2009002115/pkg/pod/entrypoint.go#L208-L215

This is a problem because each client operation eats away at the client-side rate limit.

# Actual Behavior

Every reconciliation after `SidecarsReady` issues a `PATCH` to the pod, despite the fac

[2022-05-12 04:40] mattmoor opened #4863 "Raise the kaniko tests timeout from `2m`"
# Expected Behavior

`kaniko` tests reliably pass.

# Actual Behavior

We frequently see the `kaniko` tests flake downstream, and most of the ones I've looked at are timeouts.

Quoting @imjasonh "Nobody should expect kaniko to do anything reliably in 2m" 🤣

cc @abayer since this touches on flakes (not sure if you've seen this in your adventures)

[2022-05-12 07:51] Fabian-K commented on #3404
Thank you for the quick response. I was looking at the version of pkg used by the tekton releases and that seems to be it.
- 0.34.x is using https://github.com/knative/pkg/commit/f4b57aef00067cbce9fe11e613c5f0ec70418526 which is before the issue was introduced
- 0.35 is using https://github.com/knative/pkg/commit/0a1ec2e0d46c7e4ca0d0888510b1663d22a1bed7 which is just 3 commits after the issue was

[2022-05-12 09:01] #4460 closed

[2022-05-12 09:47] afrittoli commented on #4863
/cc @lbernick @xchapter7x

[2022-05-12 09:55] afrittoli commented on #3404
Thanks @Fabian-K - it sounds like we need to patch v0.35.x for this.
I wonder if there a way we can cherry-pick the fix from knative into Tekton - patching `vendor` would not work.
If possible I would prefer to avoid getting a new release of knative in a minor version.

[2022-05-12 10:00] afrittoli commented on #3404
I was about to build v0.35.1 for https://github.com/tektoncd/pipeline/pull/4854, but I can wait until this is fixed as well.

[2022-05-12 10:40] afrittoli commented on #3404
@Fabian-K is it possible for you to verify in your setup if https://github.com/tektoncd/pipeline/pull/4864 would fix your issue?

[2022-05-12 10:47] Fabian-K commented on #3404
Sure, however it might take until tomorrow. Is the image for the controller including the fix already available in some registry or should I build it locally?

[2022-05-12 10:49] afrittoli commented on #3404
It's not, you could build it and deploy it with `ko` - if that's an issue I could try and make a build for you somewhere

[2022-05-12 15:28] vinamra28 commented on #3497
/assign

[2022-05-12 15:48] idv-Evgenii commented on #2813
at the moment, the problem has not been solved, it has repeated itself with me (version image git-init 0.13.2)
Error running git [remote add origin url] remote origin already exists
It suddenly appears, and then everything works further, as far as I understand, tekton does git remote add your-url and everything, when possible, you can probably make a condition git remote add your-url || git remote

[2022-05-12 21:35] afrittoli commented on #4840
Fix released in https://github.com/tektoncd/pipeline/releases/tag/v0.35.1

[2022-05-12 21:36] afrittoli commented on #4747
Fix was released in https://github.com/tektoncd/pipeline/releases/tag/v0.35.1
@vinamra28 could you confirm if we can close this?

[2022-05-12 21:36] afrittoli commented on #3404
Fix released in https://github.com/tektoncd/pipeline/releases/tag/v0.35.1
The doc fix is still to be done.

[2022-05-12 23:16] yuzp1996 commented on #4686
/assign

[2022-05-13 15:05] #4422 closed

[2022-05-13 18:44] #4862 closed

[2022-05-13 20:03] lbernick commented on #4784
Hmm, I wasn't able to reproduce this on a 1.23 cluster either. Could you please paste the output of `kubectl describe pod hello-bis-run-vq9zr-pod`, and the full output you're seeing from `tkn task start hello-bis --showlog`?

[2022-05-13 20:47] shirouto commented on #4784
First the `kubectl describe pod  hello-bis-run-h8m8j-pod`:
=========
Name:         hello-bis-run-h8m8j-pod
Namespace:    tekton-pipelines
Priority:     0
Node:         aus-lnaskubmd-09/10.201.64.48
Start Time:   Fri, 13 May 2022 23:34:15 +0300
Labels:       app.kubernetes.io/managed-by=tekton-pipelines
              tekton.dev/task=hello-bis
              tekton.dev/taskRun=hello-bis-run-h8m8j
Ann

[2022-05-14 06:26] hectorj2f opened #4873 "Create in-toto attestations based on the Pipeline definition"
### Feature request

An in-toto layout defines the steps of your software supply chain that you carry out in order to write, test, package and distribute your software. I feel the Tekton Pipeline could create an attestation with all the tasks defined in a Pipeline. This can be used to ensure the integrity of the triggered pipeline.

### Use case

When creating a Pipeline, you could create an in-to

[2022-05-14 06:26] hectorj2f commented on #4873
/kind question

[2022-05-14 14:38] imjasonh commented on #4787
The change in https://github.com/tektoncd/pipeline/pull/4833 seems to have broken bracket notation with `'`s instead of `"`s, e.g., `"$(params['org.blah.foo'])"`. Was this an intentional breakage? If not, can we get this working again with the new bracket notation validation logic? 🙏

[2022-05-14 14:59] chitrangpatel commented on #4787
@imjasonh, I don't think it was an intentional breakage. I think we only wanted to enable extraction of variables properly from the three different notations.

My guess is that the extraction should return `org.blah.foo` but it's returning just `org`?
It should do the same with `"` as well, not just `'`. Let me know if the error is something else. I'll look into this ASAP.

[2022-05-14 15:15] vinamra28 commented on #4747
thanks @afrittoli for reminding me on this. Yeah the issue is now fixed and can be closed.
/close

[2022-05-14 15:15] #4747 closed

[2022-05-14 19:17] imjasonh commented on #4787
The error we get downstream is

[code]

But the param is defined:

[code]

This worked prior to picking up the change in #4833.

[2022-05-15 07:12] mattmoor opened #4874 "Tekton inconsistently sets `singular` in CRDs"
# Expected Behavior

All CRDs specify `singular`, e.g.
https://github.com/tektoncd/pipeline/blob/2cff700dfc8fa74c4dfdf8160d348a89e473879c/config/300-pipelinerun.yaml#L92

# Actual Behavior

Only one does: https://github.com/tektoncd/pipeline/blob/2cff700dfc8fa74c4dfdf8160d348a89e473879c/config/300-resolutionrequest.yaml#L27

[2022-05-15 07:20] mattmoor commented on #4874
Whipped up a PR for this.

[2022-05-15 09:03] yuzp1996 commented on #4686
Hi @lbernick it is my first time writing an e2e test. I went through the custom task document and the e2e test existing in the code base. And I want to sync with you about what I want to do and looking forward to your suggestion!

I read the document [Tekton runs](https://tekton.dev/docs/pipelines/runs/) [IBM introducing about custom task](https://developer.ibm.com/articles/introducing-tekton-cust

[2022-05-16 06:22] jeffmaury commented on #742
/remove-lifecycle stale

[2022-05-16 12:21] #4874 closed

[2022-05-16 18:03] chitrangpatel commented on #4787
Hi @imjasonh I dug into this and I think I found the issue. Let me summarize here:
Looking at the lines that were changed in https://github.com/tektoncd/pipeline/pull/4833/files, The original `braceMatchingRegex` only matched variables that were written using the `dot` notation and could not extract anything from the bracket notation. The reason your test case passed earlier was a result of this.

[2022-05-16 21:42] ywluogg opened #4879 "Correctly capture all params and validate against correct ParamSpec with substitutions considered"
### Feature request

Recently, we have ArrayOrString implementing [UnmarshalJSON](https://github.com/tektoncd/pipeline/blob/3c0fb3b8d0badf58a429f890420e0d44faa0e36c/pkg/apis/pipeline/v1beta1/param_types.go#L143) for json.Unmarshaller interface. It will set the ArrayOrString.Type to be string when the data starts with a symbol other than `{`, `"` or `[`. It means that any substituted params will be

[2022-05-16 21:56] ywluogg commented on #4879
Pinging @Yongxuanzhang @chuangw6

[2022-05-17 02:29] chitrangpatel commented on #4787
There is a [PR](https://github.com/tektoncd/pipeline/pull/4880) that addresses these bugs @imjasonh.
As an example, the following task run file will now work as expected.
[code]

If you just use the `dot` notation with dots then it will throw an error. `dots` are now only allowed with the `bracket` notation.

[2022-05-17 08:02] lbernick commented on #4313
#4686 is relevant here-- there's some discussion of adding a custom task controller for testing; could be generally useful for developing on custom tasks

[2022-05-17 08:45] yhil commented on #4847
I tested the change using two different Pipelines, one created 200 TaskRuns and the other ~ 6'000 in the queue. In my cluster only 65 pods could be scheduled at the same time, leaving all the others TaskRuns with .status.message:
[code]

It resulted in a consistent number of Pods running at the same time until all TaskRun in the queue are proceeded.

I observed only a small raise in term of cpu or

[2022-05-17 09:10] lbernick commented on #4710
Potential improvement for remote resolution: If you try to use remote resolution without both the resolution project and the correct resolver installed, your pipelinerun will just hang until it times out. I'm not sure if it's possible for the pipelinerun/taskrun reconcilers to know if you have resolution installed, or for the resolution reconciler to know if you have the correct resolvers installe

[2022-05-17 14:39] yuzp1996 commented on #4686
Thanks for your reply, your suggestion is very important to me. I will do as you suggest. If I need any help, I will try to contact you. Thanks again!

[2022-05-17 15:24] abayer commented on #4863
/assign

[2022-05-17 15:28] abayer commented on #4169
I'm now fairly convinced that sidecar tests are just particularly vulnerable to limited resources on the cluster, and are therefore more likely to just take too long or otherwise flake out. Hopefully #4871 will improve this a bit by decreasing the number of e2e tests run in parallel from 16 to 4.

[2022-05-17 15:28] pritidesai commented on #4686
All pipeline `e2e` tests and examples run against a common configuration of the tekton controller. This will help a lot if we can enable custom task `e2e` tests or examples in our CI (dogfooding cluster).

One option is to work with @afrittoli to enable custom configurations for these kind of tests where an `alpha` feature can be enabled (custom task is still alpha) and a custom controller is depl

[2022-05-17 15:38] pritidesai commented on #4686
@afrittoli @imjasonh Can we treat the tekton controller as a `custom task controller` instead of writing and deploying a `test custom controller`? In a long run, it will be great to have a dedicated test custom controller but just to unblock the testing for now.

[2022-05-17 15:48] #4863 closed

[2022-05-17 19:44] chitrangpatel commented on #4710
At the API WG call we discussed the possibility of integrating tekton resolution into pipeline. I dont think anyone at the WG expressed ideas against it. If anything, the team wanted to merge the two projects. Since many team members were away this week, the decision was not finalized (I still need to send out an email to the maintainers of `pipeline`). But, if we do take that route and merge the

[2022-05-17 23:09] Yongxuanzhang commented on #4879
For array params and results, maybe we can let user follow these syntax, this can distinguish the usage of different types.
[code]
or
[code]

[2022-05-17 23:47] chuangw6 commented on #4879
Similarly when providing object type param with the object type param variable (from pipeline spec's params) or the object type result variable from a task, it would make more sense to let users follow yaml's dictionary syntax as well (using `{}`). For example assume the param `gitrepo` is intended to be of object type, when providing value for it, users can
- use a param variable of object type
[

[2022-05-18 07:33] vdemeester commented on #4858
@ywluogg I think, in the end, it's all an implementation detail. What we can do, if we want to "take" our time and split the work into multiple PRs, is to create the new struct as we see it fit, write tests for it. And then switch ArrayOrString with it, and finally remove ArrayOrString. This would be the best of both world, creating the new struct but with the intent and plan of replacing `ArrayOr

[2022-05-18 08:13] lbernick commented on #4710
This would definitely solve the problem of the user needing to install the resolution project separately, but it would still be nice to return an error if they are trying to use a resolver they don't have installed.

[2022-05-18 09:20] yhil commented on #4847
This issue is solved by [#4881](https://github.com/tektoncd/pipeline/pull/4881).
Many thanks to @imjasonh for your detailed explanations and fast support :satisfied:

[2022-05-18 09:20] #4847 closed

[2022-05-18 10:06] sagaraivale opened #4884 "Tekton pipeline should support a task with an drop-down option"
### Feature request

There will be an option in tekton pipeline where users can select a particular task option based on a drop-down menu.

### Use case

Suppose, my tekton pipeline consists of cascade connection of multiple builds and deploy tasks. Now, I need to build/deploy only one task from the pipeline, then there should be a drop-down task option. Where users can select one specific build a

[2022-05-18 12:12] vdemeester opened #4885 "Matrix support is broken, `matrix` is always invalid 😅"
# Expected Behavior

Given the following `Pipeline` (simple adaptation from the documentation), the `Pipeline` gets created.

[code]

# Actual Behavior

It fails with the following message:

[code]

Those *parameters* are of type array though.

# Steps to Reproduce the Problem

1. Create the given `Pipeline`
2. What the error

# Additional Info

- Kubernetes version:

  **Output of `kubectl versio

[2022-05-18 12:55] vdemeester commented on #4710
I think this is not about where the code lives but how the api/controller behave. Today, if you submit a `PipelineRun` (or `TaskRun`) with a non-existent resolver (`resolver: foo-is-bar`), it will hang out for the pipelinerun timeout (so by default 1h).. Although it *could* make sense as, maybe the resolver will be available in that time, I don't think we handle that case today. So having a very s

[2022-05-18 12:59] vdemeester commented on #4686
@pritidesai I tend to agree with @imjasonh, and I don't really think it would make sense to make the main controller act as a custom task controller just for the tests (if we want to provide "default built-in" custom task, maybe we could do that, but even, it would probably make sense to extract it in another deployment).

[2022-05-18 13:11] imjasonh commented on #4884
This sounds like a feature request for the [Tekton Dashboard](https://github.com/tektoncd/dashboard) project, or some other UI on top of the Tekton Pipelines API. Have you given the Dashboard a try, and does it meet your needs?

[2022-05-18 13:25] dibyom commented on #4879
@ywluogg @chuangw6 I'm trying to understand why all substituted params are considered string type....do you have an example/link to your branch where I can see the code?

Using the [] and {} for values seems like the technically correct thing to do though combining that with [*] makes the syntax a bit hard to follow.

[2022-05-18 14:23] abayer commented on #4710
Ok, another thing Resolution needs - unit tests. The reconciler has none, so while I've verified that a `PipelineRun` will fail if the `ResolutionRequest` fails, I can't actually verify that the `ResolutionRequest` will fail!

[2022-05-18 14:52] ywluogg commented on #4879
We have several options to do substitution:
[code]
[code]
And the new ones that @chuangw6 suggested:
[code]

None of them are implemented yet, but based on the current code in
[UnmarshalJSON](https://github.com/tektoncd/pipeline/blob/2e09b385af75d62412f2a9bc13d36ec58790aafc/pkg/apis/pipeline/v1beta1/param_types.go#L143-L155), first one and second one will be regarded as strings

[2022-05-18 15:03] #4247 closed

[2022-05-18 15:57] vdemeester commented on #753
/lifecycle frozen

[2022-05-18 16:07] geriom commented on #4559
/assign

[2022-05-18 17:18] Yongxuanzhang commented on #4879
I discussed with @chuangw6  yesterday and I lean to only use
[code]
not

[code]
Same for `array` type param and results.
Supporting "$(params.gitrepo[*])"  may seem convenient for users, but it is bit weird that we are expecting array but the input is string type. And we also need to change the type of `ArrayOrString`

[2022-05-18 21:01] ywluogg commented on #4879
I meant to say the value of an object already starts with the json schema that looks like (example in [tep75](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md#variable-replacement-with-object-params)):
[code]

In params, if you add another bracket as you suggested in your example:
[code]

It actually is the following after substitution:
[code]
I think this

[2022-05-19 00:57] riceluxs1t opened #4889 "sidecar nop image replacement cannot seem to exit with code 0"
# Expected Behavior

We expect our sidecar to exit with 0 when Tekton terminates it by replacing its image to be the default nop image.

Our sidecar runs the following code.

[code]

The path to our custom binary only exists in the original image and it does not exist in the nop image.
and when the nop image runs, we expect the if condition to be false and exit with 0.

# Actual Behavior

It exits

[2022-05-19 09:50] sagaraivale commented on #4884
Hey @imjasonh : Yes, this feature has to be on the [Tekton Dashboard ](https://github.com/tektoncd/dashboard)site. I will open up a feature requests there. Thanks!

Closing it.

[2022-05-19 09:50] #4884 closed

[2022-05-19 11:49] vdemeester commented on #4889
@riceluxs1t thanks for the issue. This is by design, the current way we "handle" stopping sidecars in a `Task` is to replace the initial sidecar image with a `nop` image that should have litteraly nothing in, so that it just "dies".

Is the "code running" in the sidecar specified as a `script` or is it a script in the image ?
If it is using `script`, it probably exits with `1` because `/bin/sh` is

[2022-05-19 14:30] yuzp1996 opened #4890 "add functionality that cancels the TaskRun when the pod encounters an error such as InvalidImageName"
### Feature request
Add functionality to cancel the taskrun when the pod encounters an error that maybe can  not be fixed like InvalidImageName

### Use case

When the taskrun related pod  is pending for some image error, we should let users choose if they want to cancel the taskrun  or not. For example,  when the pod is pending for InvalidImageName the user may want to cancel the taskrun.

relate

[2022-05-19 14:32] yuzp1996 commented on #4890
related issue: https://github.com/tektoncd/pipeline/pull/4618

[2022-05-19 14:39] imjasonh commented on #4890
I don't think it should be possible to create a TaskRun with an invalid image name, since we parse and lookup the requested image in order to resolve the entrypoint.

I suppose it's possible that if the image is specified by digest and the command is set, we might not do the lookup (I'm not sure, I'd have to check), and that in that case if the specified image name is invalid, we'd let it proceed

[2022-05-19 16:18] dibyom commented on #4879
Ok, just to make sure I'm understanding this properly, if we have the following param inside a `pipelineTask`:

[code]

and the value of `gitrepo` from the pipelinerun or somewhere else is:

[code]

if we run through the current param substitution code, (I think) the value of `gitrepo` becomes:

[code]

* AKA the value is the JSONified string of the object and not the JSON object itself? So, the t

[2022-05-19 16:32] vdemeester commented on #4889
It would it the case of a script with the `default` shebang 🙃 but as the user can define *any* shebang in the scripts, we would have to cover a bunch of them at least to be sure `/bin/sh`, `/usr/bin/bash`, `/bin/bash`, `/usr/bin/env`, … *or* we could try to "dynamically" handle all with something similar to https://github.com/mic92/envfs 🙃

[2022-05-19 16:37] imjasonh commented on #4889
Oh my. This got complicated quickly! 😅

I'd be fine with providing common shebangs in the image. Sidecars that exit 1 upon teardown shouldn't fail the TaskRun anyway right? This is just so the underlying Pods don't look like they've failed, as I understand it.

[2022-05-19 16:41] vdemeester commented on #4889
Yeah that would work 👍🏼 we just need to list the X most used ones and iterate over it as time goes I think.
We may also want to dig into using the entrypoint and a file (using downward api ?) to signal that the taskrun is done to stop the process more cleanly.. (but I think we already thought of that.. and there might have been good reason not to do it ?)

[2022-05-19 16:50] pierretasci commented on #4889
This image OP is using above does have a `/bin/sh` so I don't believe that is the issue they we seeing. I think there is still merit to the idea we explored a while ago to attempting to gracefully shutdown via a kill signal and after some timeout (either if the container doesn't have a kill or what) we do the nop replace and that should generally solve this case.

As it stands, it can lead to conf

[2022-05-19 18:06] pritidesai commented on #4858
We can have a list of PRs. Here is what I am thinking:

* Create new structs along with tests - `ParamTypes` and `ResultTypes` both can inline the same struct `TypeSpec` which has `string`, `array`,  and  `map` (please feel free to rename if you can find better names).

* Switch params and results with this new type and at the same time, dashboard and CLI can switch using this new type. CLI heavil

[2022-05-20 02:36] pritidesai commented on #4858
I had a conversation with @vinamra28 about this plan. It looks great except the last PR - removing legacy `ArrayOrString`. Since CLI and other projects relies on it heavily, we will maintain the legacy `struct` until we have approval from the dependent projects i.e. the dependent projects have transitioned away from this legacy `struct`.

[2022-05-20 03:13] chuangw6 commented on #4787
I think #4880 shouldn't regard anything like `$(params.foo.bar)` as invalid because [TEP75](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md#using-objects-in-variable-replacement) proposes to add object type params that can have multiple keys. And the way to access individual key is like `$(params.objectName.keyName)` - a valid reference that can appear in

[2022-05-20 03:29] chuangw6 commented on #4858
Thanks @pritidesai for bringing up this. We should definitely take the dependent projects into consideration. Not sure how long it would take for the dependent projects to transition away from this legacy struct.

If it'd happen not too late, how about we don't change the current version of [`ArrayOrString`](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md

[2022-05-20 03:40] chuangw6 commented on #4858
Thanks @pritidesai for bringing up this. We should definitely take the dependent projects into consideration. So to help the dependent projects to transition away from this legacy struct, a new struct will be needed while the legacy one is maintained. Is that right?

[2022-05-20 03:44] vinamra28 commented on #4858
@chuangw6 yes the legacy one needs to be maintained for some time along with the new one. Also dependent projects(atleast CLI) can start their migration once this is out as CLI project vendors the pipelines project.

[2022-05-20 03:51] chuangw6 commented on #4858
Thanks @vinamra28!

If a new struct is created that embeds `ArrayOrString` and includes object type, the type for `ParamSpec`'s [`Default`](https://github.com/tektoncd/pipeline/blob/7aef957effb55a519bba97c9d2c36a28482b35d4/pkg/apis/pipeline/v1beta1/param_types.go#L55) field and Param's [`value`](https://github.com/tektoncd/pipeline/blob/7aef957effb55a519bba97c9d2c36a28482b35d4/pkg/apis/pipeline/v1

[2022-05-20 07:48] vdemeester commented on #4858
Chiming here a tad:

if the shape of the api doesn't change aka:
- if the way we marshal to yaml for the same type doesn't change)
- if the name of the fields do not change
… then it's not a problem for the CLI.

It's similar to "duck typing", if it quacks it's a duck. The go struct and internal representation of our type can change without breaking the api, and thus without breaking older clients

[2022-05-20 09:24] sellitforcache opened #4892 "tekton-pipelines-webhook specifies replicas and also has a HPA"
# Expected Behavior
Reapplications of the tekton-pipelines-webhook Deployment do not cause scale back.

# Actual Behavior
If scaled up with the HPA, reapplication of Deployment yaml will cause the replicaset to scale back to 1.  This is temporary until the HPA scales it back up, but could cause disruption.

# Steps to Reproduce the Problem

1. Set minreplicas on the HPA to 2
2. Reapply tekton-pipe

[2022-05-20 13:28] imjasonh commented on #4892
/assign

[2022-05-20 16:53] dibyom commented on #4879
Chatted with @ywluogg @chuangw6 @Yongxuanzhang the issue was that the `value:  $(params.gitrepo[*])` fails validation since `$(params.gitrepo[*])` is a string while the validation expects an actual map/dictionary. The plan is to update the validation to allow this usage

[2022-05-20 17:19] dibyom commented on #4444
The GH actions example makes sense.  The original reason for filing this was based on feedback from a GCB user trying this out :) I agree that there isn't enough evidence for making a breaking change but I do think that we should allow cluster operators/Tekton providers to allow the choice of the flags they set.

(Another piece of feedback that we got on the documenting it better front was that sc

[2022-05-20 17:49] dibyom opened #4895 "TaskRun stays Running when pod goes to `ImagePullBackOff`"
# Expected Behavior

If the Pod is in `ImagePullBackOff` state, the TaskRun should fail.

# Actual Behavior

The `TaskRun`'s remains "Running" with the message `Pending` until it eventually times out

# Steps to Reproduce the Problem

[code]

[2022-05-20 20:36] imjasonh commented on #4444
I'd definitely be interested in more such feedback, if you can share it.

I don't have a problem in theory with there being some feature flag to change the default script preamble, but I do worry about inconsistencies between some operators' installations and "vanilla" upstream Tekton, such that catalog tasks aren't guaranteed to work, or may work but have subtly different behavior.

[2022-05-20 21:33] aksth opened #4897 "Parallel pipelines running in same workspace fails. How to fix this?"
I am using OpenShift Container Platform's Web Console to manage my Tekton Pipelines. I have a pipeline configured to use a workspace that uses a PVC. The pipeline has three simple tasks: `git-clone -> build -> deploy`. So all these tasks share the same working directory given by the workspace. This pipeline is triggered when a `commit` is performed in the master branch, controlled via an event lis

[2022-05-20 21:47] dibyom commented on #4444
yeah my (not great) solution for catalog compatibility was to audit script mode tasks in the catalog and explicitly add them in  (and probably enforce this via catlin)

[2022-05-21 19:24] jlpettersson commented on #4897
Hi @aksth

you can use a [volumeClaimTemplate](https://github.com/tektoncd/pipeline/blob/main/docs/workspaces.md#volumeclaimtemplate) to create a new PVC for each Pipeline Run.

[2022-05-21 23:02] aksth opened #4898 "Cancel existing pipeline runs when a new pipeline run is triggered (OpenShift Platform). How to do this?"
I am using OpenShift Container Platform's Web Console to manage my Tekton Pipelines. I have a pipeline that is triggered when a commit is performed in the master branch, controlled via an event listener. When I make multiple commits simultaneously, multiple pipeline runs are created and they run in parallel to each other. But what I want is to cancel the existing pipeline runs when a new commit is

[2022-05-23 02:31] lbernick commented on #4895
Duplicate of #4890

[2022-05-23 14:19] imjasonh commented on #4895
I'm not sure this is a duplicate of #4890, since that one deals with `InvalidImageName` (e.g., `image: "t0T/Al+y//In\/@l1D"`) vs `ImagePullBackoff` (image name is valid, but can't be pulled).

In the latter case, I think we've discussed this before, and decided to follow K8s' behavior where it continues to try to pull the image with backoff, until the image exists and is pullable. This can be usef

[2022-05-23 20:03] gyliu513 opened #4900 "creat taskrun failed if does not have name"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

`tr.yaml` was get from https://github.com/tektoncd/pipeline/blob/release-v0.14.x/examples/v1beta1/taskruns/workspace.yaml

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekto

[2022-05-23 20:37] imjasonh commented on #4900
In this case, you have to `kubectl create -f tr.yaml` (`create`, not `apply`), because the TaskRun YAML includes `generateName: custom-volume-`. This will create a TaskRun resource with a generated name with the given prefix, like `custom-volume-xybdy`.

[2022-05-23 20:42] RafaeLeal commented on #4895
I'm also suffering from this same issue. There are errors on the pod level such as `ImagePullBackoff` and `FailedMount` that make sense for k8s to keep retrying. Still, in a more ephemeral scenario like a CICD Task, most cases are typos and configuration errors that will not recover and I believe it would be nice if Tekton allows us to fail fast those.

[2022-05-23 20:43] gyliu513 commented on #4900
Thanks @imjasonh , yes, `create` works, but `delete` failed due to no name, so for `delete`, I need to delete the exact taskrun, but cannot delete via the yaml file, right? If so, I think we need to highlight this in document, thoughts?

[code]

[2022-05-23 20:47] imjasonh commented on #4900
When you create a Kubernetes resource with a generated name, you have to delete it by that name as well. This means you can't use `kubectl delete -f resource.yaml`, since the YAML file doesn't include the generated name.

This might be something worth calling out in the docs, but to be honest I'm not sure how many users use `kubectl` to delete TaskRuns directly, as opposed to using `tkn` or waitin

[2022-05-24 04:28] nick123pig opened #4903 "Ability to throttle concurrent TaskRuns"
### Feature request

I would like the ability to throttle a certain Task to have a maximum number of concurrent TaskRun at a time. IE...if I submit a task 100 times, and I have a throttle set to 5, the tasks would complete with a maximum of 5 running at a time (with the backlog queuing once another slot opens). This might not need to be a tekton specific functionality, but I have tried to implemen

[2022-05-24 13:15] #4613 closed

[2022-05-24 13:21] lbernick commented on #1876
We've now implemented [remote pipelines](https://tekton.dev/docs/pipelines/pipelineruns/#remote-pipelines), and we have a [cluster-scoped resolver](https://github.com/tektoncd/resolution#resolvers) that can resolve pipelines from other namespaces. I think that meets the needs described in this issue, so I'm going to close. Feel free to reopen if any use cases are unaddressed!

/close

[2022-05-24 13:26] lbernick commented on #4802
/close

fixed in #4846, thanks @yuzp1996!

[2022-05-24 13:26] #4802 closed

[2022-05-24 14:01] Aleromerog commented on #4690
Submitted a [PR](https://github.com/tektoncd/pipeline/pull/4835) for this.

[2022-05-24 21:38] Yongxuanzhang opened #4907 "[Breaking Change] Change TaskRunResult.Value and PipelineRunResult.Value from string to ArrayOrString"
This PR(https://github.com/tektoncd/pipeline/pull/4818) and following PR(will update this issue once opened) will change TaskRunResult.Value and PipelineRunResult.Value from string to ArrayOrString and this will be breaking changes for cli as pointed out by @pritidesai.

Background:
This is a requested feature in [TEP0076](https://github.com/tektoncd/community/blob/main/teps/0076-array-result-type

[2022-05-24 22:00] jerop commented on #4690
Thanks @Aleromerog!

[2022-05-24 22:01] msvticket commented on #4485
This is still a needed feature.

/remove-lifecycle stale

[2022-05-24 22:19] Yongxuanzhang commented on #4723
It may be worth discussing the support for custom tasks when we finish these two teps

[2022-05-25 04:43] #4397 closed

[2022-05-25 06:12] afrittoli commented on #3373
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2022-05-25 15:40] ywluogg commented on #4723
+1 I will organize a list of extended items for the two TEPs

[2022-05-25 17:22] ywluogg commented on #4858
Combining all are considered above, let's have a more defined new struct here to make sure we understand the compatibility in the same way.
The new struct should have the following:
[code]

[2022-05-25 20:12] Yongxuanzhang opened #4909 "Fully support dot in result name"
### Feature request
[TEP-0080](https://github.com/tektoncd/community/blob/main/teps/0080-support-domainscoped-parameterresult-names.md) proposes supporting dot in param and result names but we cannot really use dot in result name for param replacement. This seems a missing feature in current code base.

### Use case

 see the example:

[code]

[2022-05-25 21:23] jerop commented on #4909
cc @mattmoor may be of interest to you as the author of TEP-0080

[2022-05-25 22:59] mattmoor commented on #4909
Doesn't it already? 🤔

[2022-05-25 23:04] Yongxuanzhang commented on #4909
It's probably partly supported, we can have dot in result name and emitting results, but we seems don't support to use it as reference and pass to param value. Like the use case in example

[2022-05-25 23:05] Yongxuanzhang commented on #4909
It's probably partly supported, we can have dot in result name and emitting results, but we seems don't support to use it as reference and pass to param value. Like the use case in example

[2022-05-25 23:06] mattmoor commented on #4909
Ah cool, I may have missed something!  Definitely worth fixing this.

[2022-05-25 23:14] Yongxuanzhang opened #4910 "Fully Support results reference format in docs"
# Expected Behavior
In [docs](https://github.com/tektoncd/pipeline/blob/main/docs/variables.md#variables-available-in-a-pipeline) we support three formats for results variable replacements but we only support `tasks.<taskName>.results.<resultName>`, not `tasks.<taskName>.results['<resultName>']` and `tasks.<taskName>.results["<resultName>"]`

# Actual Behavior
`tasks.<taskName>.results['<resultNam

[2022-05-26 01:30] Yongxuanzhang opened #4912 "Cannot refer array params in script"
# Expected Behavior
Not sure if this is expected or a bug. If I want to use array params in `script` it will fail the validation webhook. But it can work in `args`

Working Example:
[code]

# Actual Behavior

# Steps to Reproduce the Problem
Not working:

[code]

err log:

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **

[2022-05-26 02:24] chuangw6 commented on #4912
I think this is expected not a bug because `script` is a single `string` field that can contain many commands followed by param reference, whereas expanding the whole `array` using the star operator can only happen in a completely isolated string within a larger `string` array ([source](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#substituting-array-parameters)). That explains why

[2022-05-26 02:29] Yongxuanzhang commented on #4912
But it looks like a valid case to me, in script you should be able to access the array and do something with it. Like echo it or create a new variable to set the array value for this variable. It is a string doesn't mean it should be invalid.

[2022-05-26 02:33] chuangw6 commented on #4909
FYI. From the validation webhook perspective, a reference like `$(tasks.myTask.results["result.name"])` will be treated as an invalid expression because this [parsing function](https://github.com/tektoncd/pipeline/blob/e24df8379e7f85e9305f2710e77ba2190c722532/pkg/apis/pipeline/v1beta1/resultref.go#L125-L131) doesn't allow that.

[2022-05-26 16:01] chitrangpatel commented on #4710
I'm summarizing the action items here:

### Criteria for Promotion
* [ ]  Poll Pipeline maintainers for their preferred direction with resolution: integrate with pipelines + add out-of-box resolvers, keep entirely separate, go a different direction entirely.
* [ ]  Unit tests for Resolution. This is important before merging the two projects so that the resolution codebase is not under-tested.
* [

[2022-05-26 17:49] geriom commented on #4556
The first part of this tutorial is currently in review: https://github.com/tektoncd/website/pull/387

[2022-05-26 18:33] pritidesai commented on #3739
Both the PRs with the fixes are merged:

* https://github.com/tektoncd/pipeline/pull/4468
* https://github.com/tektoncd/pipeline/pull/4469

/close

[2022-05-26 18:33] #3739 closed

[2022-05-26 19:51] jerop commented on #4798
fixed in https://github.com/tektoncd/pipeline/pull/4806 - thanks @chitrangpatel!

[2022-05-26 19:55] jerop commented on #4787
fixed in https://github.com/tektoncd/pipeline/pull/4833 and https://github.com/tektoncd/pipeline/pull/4880 - thanks @chitrangpatel!

[2022-05-26 19:55] #4787 closed

[2022-05-27 05:26] #4445 closed

[2022-05-27 17:43] wlynch opened #4913 "Regression: PipelineTaskRunSpec.Metadata incompatible with older webhooks"
# Expected Behavior

PipelineTaskRunSpec should be safely passed to older webhooks.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Install Tekton < https://github.com/tektoncd/pipeline/pull/4834
2. Create PipelineRun using client >= https://github.com/tektoncd/pipeline/pull/4834

# Additional Info

We think we've found the root cause (shout out to @n3wscott for finding it):

http

[2022-05-27 17:47] wlynch commented on #4913
/assign @wlynch

[2022-05-27 19:20] chuangw6 commented on #4797
It turns out there is no conflicts for such case because param names that contain dots can only be referenced with bracket notation. Updated in the [TEP-0075](https://github.com/chuangw6/community/blob/update-tep75/teps/0075-object-param-and-result-types.md#2-collisions-when-other-stringarray-parameter-names-contain-dots-)

[2022-05-27 19:20] #4797 closed

[2022-05-27 19:34] #4913 closed

[2022-05-27 21:26] lcarva opened #4916 "v1beta1.PipelineRun.IsDone is too eager for timeouts"
# Expected Behavior

`v1beta1.PipelineRun.IsDone ` returns `false` if the status of its taskruns are not yet finalized.

# Actual Behavior

`v1beta1.PipelineRun.IsDone ` returns `true` while some of its TaskRuns do not have either `Status.CompletionTime` set.

# Steps to Reproduce the Problem

1. Start watching pipelinerun resources to easily track each update. A convenient way of doing this is wi

[2022-05-27 21:29] lcarva commented on #4916
My use case is an implementation of [TEP-84](https://github.com/tektoncd/community/blob/main/teps/0084-endtoend-provenance-collection.md). A nil pointer dereference error is raised when inspecting each taskrun in the pipelinerun. The workaround is to, in addition to checking `pr.IsDone`, also check if each taskrun has a `completionTime` set.

[2022-05-30 15:26] vdemeester commented on #4112
If `PodSecurityPolicy` are removed in 1.25, then we need to either remove it for 0.36 or 0.37 (any release that would be in the 1.25 timeframe more or less) or be able to generate release with and without it.
I can re-open https://github.com/tektoncd/pipeline/pull/4122 if need be.

[2022-05-30 15:36] vdemeester commented on #4710
Some should probably (cluster task / pipeline, maybe the git resolver), but most might be better off living outside indeed.

I don't think it's about "informing" but just about "erroring" out properly in case we are trying to use a resolver that doesn't exists. We might even want to do this in the admission controller.

Do you mean "Remote resolution" here instead of Custom Task ?

[2022-05-30 16:21] chitrangpatel commented on #4710
I agree.

Yes, I meant remote resolution.

[2022-05-30 16:24] abayer commented on #4710
@jerop and I chatted about the resolvers question on Friday - I'd advocate for moving the existing git and bundle resolvers into Pipeline, along with an eventual catalog resolver, since those all seem pretty fundamental. But additional resolvers going forward (like the GitHub-specific one I intend to write eventually, inspired by https://github.com/tektoncd/resolution/issues/42) should, IMO, be ou

[2022-05-30 22:39] Manikanta-Reddy-Pasala commented on #3483
@jerop
 i tried the above example but i am not able to mount a workspace folder as volume for the docker image. can you please help me on this.

 exmplae:
       docker run -v "$(workspaces.source.path):/workspace" --rm use-case-configuration-updater:latest
 template -i /workspace/overlays/distributor-template -o /workspace/overlays -d /workspace/example-distributor.yaml

 above command is faillin

[2022-05-31 15:30] vsinghai opened #4922 "Validation for Task Result expression in Pipeline Results not working"
# Expected Behavior

A `Pipeline's` `Results` can be composed of one or many `Task` `Results` emitted during the `Pipeline's` execution variables of the form `$(tasks.<task-name>.results.<result-name>)`. If a variable passed to `Pipeline's` `Results` does not take the expected form, the `Pipeline` validation should fail.

For more information, please reference this [doc](https://github.com/tektonc

[2022-05-31 15:31] vsinghai commented on #4922
/assign

[2022-05-31 15:41] vsinghai opened #4923 "Wrong variable propagating Finally Task Results to Pipeline Results"
# Expected Behavior

As described in the [doc](https://github.com/tektoncd/pipeline/blob/main/docs/pipelines.md#cannot-configure-pipeline-result-with-finally), `Finally Task`'s can emit `Results` but they cannot be referenced in `Pipeline Result`'s - but we intend to support this using `$(finally.<finally-task-name>.results.<finally-task-result>)`. This work is tracked in this [issue](https://gith

[2022-05-31 15:41] vsinghai commented on #4923
/cc @jerop

[2022-05-31 20:09] jerop commented on #4105
thank you @austinzhao-go 🎉

/close

[2022-05-31 20:09] #4105 closed

[2022-05-31 21:12] lbernick commented on #2058
/reopen
/assign

We want to revisit the decision not to remove volumes from Task spec before releasing our v1 api and committing to supporting it for at least a year (following our compatibility policy), especially since there's not much detail on why the decision was made not to do this for beta.

I'll look into this and either open a TEP proposing this change, or update this issue with a summary

[2022-05-31 21:13] lbernick commented on #3548
/close

using project board for tracking

[2022-05-31 21:13] #3548 closed

[2022-05-31 21:37] kav commented on #2058
Let me know if you'd like a deeper dive on the example above. It's been a few years and I'm not working on that at the moment but happy to discuss the conceptual framework at a deeper level at the least.

[2022-06-01 07:05] vdemeester commented on #3548
Yeah we need to *refine* those.

[2022-06-01 11:12] 06kellyjac opened #4925 "`v1beta1` has changed to require results have `type: something` in `0.36.0`"
# Expected Behavior

`v1beta1` should behave the same no matter what release version of pipelines

`v1beta2` should be created if it's necessary to change the validation behavior etc

# Actual Behavior

[code]

# Steps to Reproduce the Problem

this was validating fine before on `github.com/tektoncd/pipeline v0.34.1`:

[code]

now on `github.com/tektoncd/pipeline v0.36.0` it must be:

[code]

[2022-06-01 11:30] jerop commented on #4925
/priority critical-urgent

cc @Yongxuanzhang @chuangw6 - could be related to recent changes implementing TEP-0075 & TEP-0076

[2022-06-01 11:32] jerop commented on #4925
cc @vdemeester because we may need to backport the fixes

[2022-06-01 11:33] vdemeester commented on #4925
Arf, I thought it wasn't required.. @06kellyjac I *think* there should be default value set so I wonder if there is something on your setup that doesn't set those default value properly ? (there is a fix to be done in code as well probably but 🤔 )

[2022-06-01 11:34] vdemeester commented on #4925
oh… I think I see what's missing then 😓

[2022-06-01 11:35] 06kellyjac commented on #4925
this is the code I'm using

[code]

as a note we've experienced this change with params changing to need a type too

[2022-06-01 11:39] vdemeester commented on #4925
@06kellyjac so the folowing error message doesn't happen on an instance of pipeline when you apply the yaml ? Just with the code provided ?

[code]

[2022-06-01 11:43] vdemeester commented on #4925
@06kellyjac If that's the case, then, yeah this is kind-of expected *and* this has most likely happened before as well (for params).
The API guarantee we give is on the consumption of the API, not necessarily in code. In addition, if you want to run `.Validate` on a task, you may want to make sure you apply defaults before, like

[code]

So, from my point of view, this is not really a bug 🙃

[2022-06-01 11:48] 06kellyjac commented on #4925
ok, SetDefaults is good. that's what we needed, thanks

[2022-06-01 11:48] #4925 closed

[2022-06-01 14:04] Yongxuanzhang commented on #4925
Thank you for clarifying this! @vdemeester

[2022-06-01 14:17] lbernick commented on #3661
Instead of promoting OCI bundles to beta, could we instead go ahead with promoting remote resolution to beta (#4710) and have people use the "bundle" resolver? as far as I can tell it provides the same functionality.

[2022-06-01 14:21] vdemeester commented on #3661
@lbernick yes, we need to decide which one to promote, but my feeling is that we should aim to promote remote resolution with the bundle resolver "built-in" probably, and deprecate the current way we refer bundles. It *is* gonna take some time though (to go from point A to point B), so we should decide this rather sooner.

[2022-06-01 20:01] gyliu513 opened #4926 "How does the project of pipeline remediate vulnerabilities"
Can anyone share some insight for how the pipeline repo or the tekton community to remediate vulnerabilities? For example, does the tekton community use any tools or process that will automatically remediate security vulnerabilities in the packages? Thanks!

[2022-06-01 20:31] imjasonh commented on #4926
- https://github.com/tektoncd/chains has it [enabled](https://github.com/tektoncd/chains/blob/main/.github/dependabot.yml)
- https://github.com/tektoncd/pipeline/pull/4915 proposes enabling it for this repo

I'm not sure of the status on any other repos.

[2022-06-01 22:27] sellitforcache commented on #4892
https://github.com/tektoncd/pipeline/pull/4894

[2022-06-01 22:31] mattmoor commented on #4752
I wanted to circle back to this, since this has now presumably had reasonable bake time.

Do folks have any final thoughts on this, or should we remove the hold on https://github.com/tektoncd/pipeline/pull/4765?

[2022-06-02 05:40] vdemeester commented on #4926
Hub and resolution have it, we are currently looking into triggers, cli and operator as well. Dashboard might be as well.

[2022-06-02 09:29] vdemeester commented on #4912
@Yongxuanzhang yeah, I think it is expected, today, to not work. But I agree that this is a valid use case (I got bitten by it multiple times 😛 already)

[2022-06-02 14:58] vdemeester commented on #4752
cc @jerop @lbernick @abayer
I think we can remove the hold. One less "base" image to maintain is looking good to me 😝

[2022-06-02 15:06] austinzhao-go opened #4930 "How does Tekton behave if OOM(Out of Memory)?"
As being discussed from [TEP-0104: Support Task-level Compute Resource Requirements](https://github.com/tektoncd/community/pull/703), an interesting question will be - how does Tekton behave if the used memory is out of the specified limit in runtime?

K8s will monitor and kill the OOM container while marking it as `OOMKilled` for status, as [ref](https://kubernetes.io/docs/tasks/configure-pod-con

[2022-06-02 15:11] vdemeester commented on #4898
@aksth 👋🏼 https://hackmd.io/GK_1_6DWTvSiVHBL6umqDA and https://github.com/tektoncd/community/pull/716 might be of interest to you 👼🏼

[2022-06-02 15:15] austinzhao-go commented on #4930
### Refs
[Kubernetes OOM Case Handling](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#exceed-a-container-s-memory-limit)
[The "Behind the Scene" OOM Killer Process](https://medium.com/tailwinds-navigator/kubernetes-tip-how-does-oomkilled-work-ba71b135993b)
[Kubernetes OOM Explanation w/ Diagram](https://sysdig.com/blog/troubleshoot-kubernetes-oom/)
[OOM Testing S

[2022-06-02 15:16] vdemeester commented on #4930
I think there is not too much thing to handle from the tekton point of view, OOM is a Pod error *almost* like any other that comes from Kubernetes, and thus should be handled (and probably is) the same way.

If a container/pod dies because of OOM, the TaskRun should fail, no matter what (aka if the OOM is in the init container or not). If it doesn't act that way, we should make sure it does.

[2022-06-02 15:34] lbernick commented on #4930
Thanks for doing this investigation @austinzhao-go! It looks like tekton's behavior here is what we'd want, so this isn't a concern for TEP-0104. Going to go ahead and close!

/close

[2022-06-02 15:34] #4930 closed

[2022-06-02 15:36] austinzhao-go commented on #4930
cool this! a good chance for me to explore the Tekton details.
thanks @lbernick for pointing out the `timeout` case in the 1st round testing.

[2022-06-02 16:37] mgoltzsche opened #4931 "Allow to escape a variable substitution expression"
### Feature request

Currently it is not possible to escape a variable substitution expression.
However it should be possible to do so explicitly for a particular variable substitution.

Related issue: https://github.com/tektoncd/pipeline/issues/3718

cc @abayer

### Use case

Being able to escape Tekton's expressions is particularly important when building a DSL on top of Tekton that is authored

[2022-06-02 19:02] kav commented on #2058
Looking at the details and the docs I think so. I might be repeating myself a bit to warm my thinking up so apologies if this is a repeat of the above. My biggest worry was maintaining a boundary between

1. The config that needs to be provided to build an app of X type
2. The config that needs to be provided to build this specific app Y that is of type X
3. The config that relates to this specifi

[2022-06-02 19:19] ywluogg commented on #4858
Update on this issue: synced offline with @pritidesai @vdemeester that we agree that the changes wouldn't break any of the existing APIs but will introduce breakages in library. We will go with renaming the old struct, as we already added objectType in ArrayOrString@

[2022-06-02 19:20] ywluogg commented on #4858
/assign chuangw6

[2022-06-03 01:43] mattmoor commented on #4752
Ok, I am going to remove the hold.  I believe Prow will rerun everything, and this gives us tomorrow to fix things before the weekend if some crazy merge conflict snuck in. 🤞

[2022-06-03 02:17] #4752 closed

[2022-06-03 15:20] hWorblehat opened #4937 "Remove dependency on downwardAPI volumes"
I'm trying to use tekton on my AKS cluster and would like to run task pods on ACI virtual kubelets. Unfortunately, the ACI virtual kubelet provider doesn't currently support `downwardAPI` volumes which are used by tekton task pods. There is an issue in the ACI provider project (virtual-kubelet/azure-aci#91) requesting support, but I doubt there will be any progress on it any time soon, given that

[2022-06-03 15:26] hWorblehat commented on #2307
I've raised #4937 because I have an entirely separate scenario where `downwardAPI` volumes are causing a problem (virtual kubelets).

[2022-06-03 15:30] imjasonh commented on #4937
Some background on why we use the Downward API today:

When there are sidecars, we need some way for the controller to send a signal to the first step's injected entrypoint binary that it's okay to start. Today, the controller does this by observing the `Ready` state of any sidecars, and updating an annotation which is projected via downward API where the first step can observe the file contents c

[2022-06-03 15:43] hWorblehat commented on #4937
Thanks for the very quick response!

Won't this present a problem for injected sidecars (which you currently also check the 'readiness' of)?

Thank you for the kind offer! I may take you up on it, but it won't be for a while (I'm afraid I'm a bit busy right now). Now that you've explained it, I can see that this is a rather more involved problem than I'd hoped. :disappointed:

Would a temporary so

[2022-06-03 16:32] mgoltzsche commented on #4931
As a workaround to escape the Tekton expression I tried to define a `dollar` parameter within the Tekton Task and give it a default value of `$` and then substitute occurrences of `$` within user-defined plain text template fragments/scripts with `$(params.dollar)`, making the generated Tekton Task and a corresponding PipelineRun look as follows:
[code]

While the Tekton webhook accepts the Task t

[2022-06-03 16:33] imjasonh commented on #4937
Yes! Excellent point. Let's not forget injected sidecars (the bane of my existence).

This reminds me there's a feature flag to disable behavior to account for injected sidecars, [`running-in-environment-with-injected-sidecars: false`](https://github.com/tektoncd/pipeline/blob/v0.36.0/config/config-feature-flags.yaml#L54), in case that's useful at all.

This sounds fine to me personally, you'd pro

[2022-06-03 17:17] hWorblehat commented on #1197
The use case would be reusing existing task definitions that may only be setup to accept string params. Altering the task definition may not be a desirable approach, particularly if using OCI bundles.

For instance, I would like to use the [githu-app-token](https://github.com/tektoncd/catalog/tree/main/task/github-app-token/0.2) from the catalog as an OCI bundle, but I'd rather not put my installa

[2022-06-06 22:51] abayer commented on #3377
/assign

[2022-06-07 16:41] lbernick commented on #4375
There are still some examples in docs that are using pipelineResources: https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#code-examples

We might also want to change the examples used for tests that we recommend people look at: https://github.com/tektoncd/pipeline/blob/main/examples/README.md#examples

[2022-06-07 23:25] #3377 closed

[2022-06-08 18:01] vdemeester commented on #4544
/remove-lifecycle rotten
/lifecycle frozen

[2022-06-08 18:02] vdemeester commented on #4605
@aiden-deloryn so, in theory this is possible by customizing the "installation" process (aka, modifying the release.yaml), **but** it is only possible to do that if each instance only looks at one namespace.

[2022-06-08 18:10] vdemeester commented on #4937
That does sounds fine to me as well.

[2022-06-08 18:12] vdemeester commented on #4551
/lifecycle frozen

[2022-06-08 22:17] aiden-deloryn commented on #4605
@vdemeester thanks for the tip. I did test this out back in February but there are still some outstanding issues which prevent it from working as expected. My memory is a little fuzzy on the details, but here are some notes I took from the testing I did which might be helpful.

**How to install multiple (namespaced) instances of Tekton Pipelines**
Modify `release.yaml`:
- Replace all instances of

[2022-06-09 07:41] vdemeester commented on #4560
/lifecycle frozen

[2022-06-09 15:03] jerop opened #4954 "TEP-0100: `PipelineRun` Status Migration"
[TEP-0100: Embedded TaskRuns and Runs Status in PipelineRuns][tep-0100] proposed changes to `PipelineRun` status to reduce the amount of information stored about the status of `TaskRuns` and `Runs` to improve performance, reduce memory bloat and improve extensibility.

This feature was released in [v0.35.0][35] gated behind the `embedded-status` feature flag, and this issue tracks the migration an

[2022-06-09 16:24] jerop opened #4955 "TEP-0107: Propagated `Parameters` Migration"
[TEP-0107: Propagating Parameters][tep-0107] proposed propagating `Parameters` in embedded specifications without mutations. This feature was released in [v0.36.0][36] gated behind the `alpha` feature flag.

This issue tracks the removal of that feature flag and promotion to Beta - targeting release [v0.40.0][40].

- [x] https://github.com/tektoncd/pipeline/issues/5141
- [x] https://github.com/tek

[2022-06-09 21:46] vsinghai commented on #4922
@jerop I believe this issue can be closed now.

[2022-06-09 21:46] #4922 closed

[2022-06-10 10:32] kerthcet commented on #3796
Revisit this issue, it seems like suspend/resume is still not supported in Tekton. Do we have any alternative method, or we're not going to support this, at least now? cc @vdemeester

[2022-06-10 12:19] arnav3000 commented on #3631
Do you have an example using the same in a git-clone pipeline ?

[2022-06-10 16:01] aceeric opened #4966 "Git Clone unsafe repository"
# Expected Behavior
Using Pipelines 0.36.0, Create a `TaskRun` to git clone a  repository results in success

# Actual Behavior
Fails with error: `Exit status 128 fatal // Unsafe repository ('/workspace/output' is owned by someone else) // To add an exception for this directory, call: git config --global --add safe.directory /workspace/output`

# Additional info
Based on https://github.com/tektonc

[2022-06-10 16:07] #4448 closed

[2022-06-10 21:12] #4107 closed

[2022-06-13 08:45] hWorblehat commented on #4937
I've raised #4953 to hopefully provide a temporary solution for this. Let me know what you think.

[2022-06-13 16:55] jerop commented on #4610
/lifecycle frozen

[2022-06-14 15:47] skaegi opened #4976 "Step Limitation with Limits"
We are trying to use LimitRange and ResourceQuota to restrict Tekton resource usage by customers. In particular we want to "limit" their memory and cpu use to prevent Tekton work loads from hogging resources others need.

The Tekton controller tries to be clever here with resource requests spread evenly across steps but for limits this approach doesn't work as the container runtimes use the limits

[2022-06-14 16:17] geriom commented on #3631
@arnav3000  I'm working on a [how-to doc](https://deploy-preview-387--tekton.netlify.app/docs/how-to-guides/clone-repository/) that uses git-clone from the Catalog. To be merged soon https://github.com/tektoncd/website/pull/387

I'm going to check this issue more carefully and maybe add a few more things. We may want to link to other vendors, not only GitHub, so we don't give the impression that T

[2022-06-14 16:44] rporres commented on #4080
/remove-lifecycle stale

See comment https://github.com/tektoncd/pipeline/issues/4080#issuecomment-1065187669

[2022-06-14 16:45] dibyom commented on #4529
Closing in favor of #4808 which tracks larger results in general

[2022-06-14 16:45] #4529 closed

[2022-06-14 17:25] afrittoli commented on #4660
/remove-lifecycle stale

[2022-06-14 17:25] afrittoli commented on #4660
/lifecycle frozen

[2022-06-14 17:48] akhil97 opened #5052 "Authenticating a private git repository"
I am trying to use tekton triggers for a private git repository instead of forking the mentioned repository (https://github.com/iancoffey/ulmaceae) in the example. I have already tried steps mentioned in these links:-
https://github.com/tektoncd/pipeline/blob/main/docs/auth.md#ssh-authentication-git
https://github.com/tektoncd/pipeline/blob/release-v0.35.x/examples/v1beta1/taskruns/authenticating-

[2022-06-15 02:00] skaegi opened #4978 "LimitRange Memory and CPU Request Distribution does not handle sidecars correctly"
The current controller logic for managing "request" resources when LimitRanges are present takes the "default" resource value and divides it by the number of containers in a Pod. This is close, but not quite correct as "sidecars" are run in parallel so should not be part of this calculation

For...
[code]
# Expected Behavior
[code]

# Actual Behavior
[code]

[2022-06-15 06:01] xauthulei opened #4979 "exit status 128\nerror: RPC failed; curl 56 OpenSSL SSL_read: No error information\nfatal: the remote end hung up unexpectedly"
The details :
 CHECKOUT_DIR=/workspace/output/mesh-for-data
+ '[[' true '==' true ]]
+ cleandir
+ '[[' -d /workspace/output/mesh-for-data ]]
+ test -z
+ test -z
+ test -z
+ /ko-app/git-init -url ${myrepo} -refspec  -path /workspace/output/mesh-for-data '-sslVerify=true' '-submodules=true' -depth 1
{"level":"error","ts":1655271727.709314,"caller":"git/git.go:54","msg":"Error running git [fetch --re

[2022-06-15 06:51] v1nc3nt27 commented on #4966
@aceeric did you find a solution for this? I'm having similar trouble when using an AWS EFS Access point as workspace:

[code]