[2020-03-14 03:03] kameshsampath commented on #1872
Yes. It did thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Christie Wilson <notifications@github.com>
Sent: Friday, March 13, 2020 9:59:42 PM
To: tektoncd/pipeline <pipeline@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [tektoncd/pipeline] Permissions on workspace directory (#1872)

[2020-03-14 20:52] booninite commented on #2112
I think ultimately the snippet that you have shared is pretty much in line with the functionality in the Argo example I linked -- the main difference (as you noted) is that templates are in-lined instead of having a clear boundary with parameters passed in explicitly.  For this usage scenario, we can think of a template in Argo as a Task in Tekton.  Our usages today map closer to your example than

[2020-03-15 04:07] JustinKuli commented on #1171
I was able to workaround this based on the suggestion here: https://github.com/google/ko/issues/142#issuecomment-598837434, but I don't think the process would scale easily. It could be nice to have some kind of `--skip-tls-verify` option, like what can be used in the kaniko image to push to a private registry with a self-signed certificate.

Some details about the workaround: I copied the registr

[2020-03-15 10:48] afrittoli commented on #1023
https://github.com/tektoncd/pipeline/pull/2094#discussion_r392661699

[2020-03-15 10:55] afrittoli commented on #1023
What happens though in this use case? Is `runIfTask2IsSkipped` executed when `task1` is skipped because its condition fails?

[code]

What I want to say is that a runOn: ["skip"] would cover more cases than an `else` logic, so we still would need a way to specify that we only want the `else` in some cases.

[2020-03-15 15:44] chengjingtao commented on #1690
Hi, @ImJasonH   I begin to  work on it .  Can you assign it to me ?

My plan is

- Changes on cmd `entrypoint`
    * add a flag `timeout` to the cmd `entrypoint` and pass it  to `exec.CommandContext`. If so, the `entrypoint` will return error when times out.
    * write fields named `Reason` and `Message`  into  `terminationMessage` as PipelineResourceResult. `Reason` will be `TaskStepTimeout`, `M

[2020-03-15 19:25] waveywaves commented on #2221
/assign

[2020-03-16 07:02] sladyn98 commented on #742
@bobcatfish I would like to get started on this issue as it is marked as a good-first issue, any pointers to get started.

[2020-03-16 08:35] vdemeester commented on #1872
/close

[2020-03-16 08:35] #1872 closed

[2020-03-16 08:52] bibi520 opened #2234 "Mirror push failed"
env：
![image](https://user-images.githubusercontent.com/42456284/76738649-fe2f5100-67a5-11ea-9977-d45b81dee4cb.png)
![image](https://user-images.githubusercontent.com/42456284/76738682-0f785d80-67a6-11ea-8f1a-daa3c8a8151c.png)
error：
error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "

[2020-03-16 10:19] vdemeester commented on #2228
/kind bug

[2020-03-16 10:20] vdemeester commented on #2234
/kind question

[2020-03-16 10:38] afrittoli commented on #742
FYI - there are some changes happening being considered about when a pipeline is considered as "complete": #1749 and #2094 .

@mustafaakin is this issue about emitting kubernetes events?
I'm going to work on having cloud events sent (optionally) upon pipeline/taskrun life-cycle events, but I think that is a separate issue.

[2020-03-16 10:43] #1965 closed

[2020-03-16 11:12] chmouel commented on #1998
/close

this is fixed thanks!

[2020-03-16 11:12] #1998 closed

[2020-03-16 11:25] andrewballantyne opened #2235 "It's weird that it says "missing field(s):" and no fields"
# Expected Behavior
To see what fields are required of me (when omitting content from `spec`).

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Apply an empty `spec` Pipeline to the OpenShift Pipelines Operator

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton

[2020-03-16 11:28] vdemeester commented on #2045
This is kinda linked to #2201, or #2100 and part of  #1839 (not the "version" of the resource themselves, but…)

[2020-03-16 11:29] vdemeester commented on #1242
I am going to close this as it seem to have stall and is likely a `ko` + docker-hub issue.

/close

[2020-03-16 11:29] #1242 closed

[2020-03-16 11:31] vdemeester commented on #1167
@dlorenc @sbwsg @bobcatfish what is the status for this one ?
Seems to be stale *and* given the current status of `PipelineResource`, maybe we could close this one and take those requirement / idea into account in the potential re-design of PipelineResource

[2020-03-16 11:33] vdemeester commented on #2235
/kind bug

[2020-03-16 11:38] vdemeester commented on #631
@afrittoli @bobcatfish are you ok closing this issue ? (and if there is anything that is still needed from it, creating issues on [`tektoncd/plumbing`](https://github.com/tektoncd/plumbing) instead ?

[2020-03-16 11:39] vdemeester commented on #567
I think we can close this one @afrittoli ?

[2020-03-16 11:41] vdemeester commented on #508
I do agree :angel: This shouldn't be in the "core" of tekton but in another component (using pipeline and triggers and … ?), either by hooking it up to `tide`, or having our own component.

[2020-03-16 11:44] afrittoli commented on #567
Yes, it's fine to close. We might want to add a catalog one in future, but that's a different thing.

[2020-03-16 11:44] #567 closed

[2020-03-16 12:45] sbwsg commented on #1167
agreed, this is now no longer relevant given current trajectory of pipeline resources vis-a-vis the equivalent catalog entries.

[2020-03-16 12:45] #1167 closed

[2020-03-16 13:08] afrittoli commented on #1167
I think it's OK to close this for now.
Personally I still hope pipeline resources will survive, I feel catalog tasks are not a full replacement for pipeline resources, as they lack the abstraction provided by resources and also they are tasks, which makes them impossible to use with TaskRuns.

[2020-03-16 13:26] vdemeester commented on #2071
@danielhelfand what is the status ? :angel:

[2020-03-16 13:51] vdemeester commented on #1343
As this issues stalled, I am going to close it. @dragon9783 feel free to comment if this is still an issue.

/close

[2020-03-16 13:51] #1343 closed

[2020-03-16 13:54] vdemeester commented on #1298
With the recent move to Kubernetes 1.15 being the lowest version supported, Tekton officially can't run on OpenShift 3.11 (starting at 0.11 release of Tekton), meaning OpenShift 3.11 is officially not supported by Tekton.

/close

[2020-03-16 13:54] #1298 closed

[2020-03-16 13:57] vdemeester commented on #1232
This has been fixed since 0.10 at least, closing.

/close

[2020-03-16 13:57] #1232 closed

[2020-03-16 13:59] vdemeester commented on #1175
As this issue stalled, I'll go ahead and close it. @MemorySpring feel free to comment if this is still an issue

/close

[2020-03-16 13:59] #1175 closed

[2020-03-16 14:00] vdemeester commented on #1136
@afrittoli what is the status of this issue. It is technically possible with our current components (`tektoncd/pipeline` and `tektoncd/triggers`).

[2020-03-16 14:02] vdemeester commented on #1050
I think we could close this as as @vincent-pli said, `admissionwebhook` only support `https`

/cc @dibyom @bobcatfish

[2020-03-16 14:02] vdemeester commented on #1032
@sbwsg @dibyom what do you think should be the next step for this ? more documentation (like examples) ?

[2020-03-16 14:03] dibyom commented on #1050
Fine by me! Feel free to re-open if you feel otherwise!
/close

[2020-03-16 14:03] #1050 closed

[2020-03-16 14:06] vdemeester commented on #2045
This is also linked to #994

[2020-03-16 14:11] vdemeester commented on #833
@bobcatfish I feel this issue should be either closed or rewritten. The `trigger` field is gone, now the way to know what started a taskrun or pipelinerun would be "achieved" using some standard annotation/labels, that could be set by the `cli`, `triggers` or any other tool.

I think we should document those, and define some best practice

[2020-03-16 14:16] vdemeester commented on #685
I am willing to close this issue as, as of today you can use `generateName`.

/cc @bobcatfish @dibyom @sbwsg

[2020-03-16 14:19] afrittoli commented on #1136
While it might be technically possible, but it would be a bit hacky and inefficient.

I thought it would be a nice feature to have, as it would be one way of pausing a branch of a pipeline on a potentially delayed input.
I'm happy to keep this in the backlog - there may be more interest about it in future.

[2020-03-16 14:31] sbwsg commented on #685
👍 sgtm

[2020-03-16 14:44] vdemeester commented on #685
/close

[2020-03-16 14:44] #685 closed

[2020-03-16 15:11] bobcatfish commented on #1295
We've done this in our 0.11-rc* for sure! #1526 (which was originally about v1alpha2 and became v1beta1)

[2020-03-16 15:11] #1295 closed

[2020-03-16 15:12] bobcatfish commented on #1538
https://github.com/tektoncd/pipeline/issues/2065 is continuing the vendor directory conversation, closing this issue.

[2020-03-16 15:12] #1538 closed

[2020-03-16 15:18] bobcatfish commented on #1369
@vdemeester @afrittoli @dibyom and I discussed today: at the very least we should have a doc explaining the current state and weighing pros and cons of how you do things with and without PipelineResources

[2020-03-16 15:19] bobcatfish commented on #1369
Note we are also making progress with Task equivalents of PipelineResources in https://github.com/tektoncd/catalog/issues/95

[2020-03-16 15:21] bobcatfish commented on #1755
At the very least we should have https://tekton-dev.netlify.com/ at tekton.dev and ready to go!

[2020-03-16 15:23] bobcatfish commented on #2047
Status: we have bumped, but we haven't yet updated our webhooks yet.

[2020-03-16 15:24] bobcatfish commented on #1878
WIP https://github.com/tektoncd/pipeline/pull/1936

[2020-03-16 15:27] bobcatfish commented on #1121
Our dogfooding in the "robocat" cluster should get us most of the way to this https://github.com/tektoncd/plumbing/tree/master/robocat!

[2020-03-16 15:27] #1121 closed

[2020-03-16 15:36] bobcatfish commented on #1978
Fixed in #2042

[2020-03-16 15:36] #1978 closed

[2020-03-16 15:58] danielhelfand commented on #2071
@vdemeester I am going to change the plan from the original issue description and add a go test for this instead. Can look to get a pr in this week.

[2020-03-16 17:11] dibyom commented on #1032
There are a few sidecar taskrun examples (though not one that is explicitly a integration test example) e.g. https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/taskruns/dind-sidecar.yaml

We can keep this open as a documentation issue or close it?

[2020-03-17 00:36] jace-ys opened #2236 "PipelineRun doesn't use specified serviceAccountName"
# Expected Behavior

Creating a `PipelineRun` resource via a CRD manifest should use the specified `serviceAccountName`.

# Actual Behavior

Been trying to setup a sample Tekton Pipeline, together with Tekton Dashboard. It seems that creating a `PipelineRun` resource via a CRD manifest uses the `default` service account even if you specify a `serviceAccountName`, causing the PipelineRun to fail un

[2020-03-17 01:35] pritidesai commented on #1680
@gpaul, In `pipelinerun.go` there is an additional check `pipelineState.IsDone()` which checks whether any of the tasks still has taskRun associated with it and returns false if there is any (reconciler does check `pipelineState` for any remaining tasks):

https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/pipelinerun/pipelinerun.go#L409

![Screen Shot 2020-03-16 at 6 16 41 PM](https:

[2020-03-17 06:05] sladyn98 commented on #742
@afrittoli Thanks, so should I pick up another issue :)

[2020-03-17 09:49] vdemeester commented on #2236
@jace-ys are you running OpenShift (and OpenShift Pipelines) ?

/kind bug
/kind question

[2020-03-17 09:57] jace-ys commented on #2236
Nope, I'm running Kubernetes on GKE.

Nope, I'm running Kubernetes on GKE.

[2020-03-17 11:17] afrittoli commented on #2029
@GregDritschler thanks for your analysis on this, I realize now that I've not been able to reproduce this because of the timing in my pipeline.  The issue does exists, and I believe it's worth solving, even if pipeline resources are not part of the beta.

The sorting by status introduced as a solution to https://github.com/tektoncd/pipeline/issues/1905, however as you pointed out, the time resolut

[2020-03-17 11:45] jace-ys commented on #2236
So I tried reproducing the whole thing, but this time applying each manifest 1-by-1 instead of applying the entire folder, in order `Task -> Pipeline -> ServiceAccounts/ClusterRole/ClusterRoleBinding -> PipelineRun`, and it seemed to run successfully. Any idea of the cause behind this race condition?

[2020-03-17 12:41] vdemeester commented on #2236
That would be my hunch too, there might be a race condition where the serviceAccount is not found at the time of the `PipelineRun` creation… That said, I feel that if you explicitely specified a `serviceAccountName`, it should fail if it doesn't exist and not default to the one from `config-default` :thinking:

/remove-kind question

[2020-03-17 13:33] jace-ys commented on #2236
Ha, I think I figured out what's the issue - it was my own mistake / misunderstanding that caused this.
What I did:
1. Apply manifest directory all at once: `kubectl --namespace tekton-pipelines apply -f tekton`
2. Check logs of the created PipelineRun: (this was what I mentioned earlier, where the `PipelineRun`/`Pipeline` can't find its underlying resource. seems like a bug that you can't apply a

[2020-03-17 14:00] vdemeester commented on #2236
@jace-ys ahh I see :angel: glad you figured it out :angel:
/close

[2020-03-17 14:00] #2236 closed

[2020-03-17 14:42] jace-ys opened #2237 "Applying directory of manifests results in failure of newly created PipelineRun"
# Expected Behavior

Created `PipelineRun` by applying a directory of manifests via `kubectl` should be able to find its associated `Pipeline`s and `Task`s.

# Actual Behavior

Applying a directory of CRD manifests containing associated `PipelineRun`s, `Pipeline`s and `Task`s causes a race condition where the `PipelineRun` boots and fails as it can't find the associated `Pipeline`s and `Task`s:

[

[2020-03-17 19:49] sbwsg commented on #2220
Reopening until this is backported to 0.10

[2020-03-17 21:14] kav commented on #1493
I've worked around it for the time being so it's not urgent for me

[2020-03-18 03:24] mattmoor opened #2240 "New Cloud Events SDK changes things significantly"
Just wanted to give a heads up that the new Cloud Events SDK (v2.0.0-preview3) has significant changes that need to be picked up.

The simplest migration is likely to pick up the new version, and rewrite the current import paths to be rooted at `github.com/cloudevents/sdk-go/legacy`, which contains the older client.  Then the new client can be picked up incrementally.

I looked into doing precisel

[2020-03-18 04:09] n3wscott commented on #2240
I will look into making go mod work, there might be some things I need to do to allow pulling the preview release. We will be doing an RC in the next couple weeks as we get closer to 2.0.0

[2020-03-18 08:53] dibbles commented on #1880
ah yes.... good spot! Closing.

[2020-03-18 08:53] #1880 closed

[2020-03-18 09:58] vdemeester commented on #2240
/cc @afrittoli
/kind cleanup

[2020-03-18 11:11] andrewballantyne opened #2241 "Duplicate Resource Names Doesn't Error Out"
# Expected Behavior
To get an error - how would I reference the correct resource? `$(resources.<my-resource-name>)` would be ambiguous.

# Actual Behavior
It successfully added the Pipeline(s)

# Steps to Reproduce the Problem

1. Have a Pipeline with duplicate resource names (I did both being the same type and a different types)

# Additional Info

- Kubernetes version:

  **Output of `kubectl ve

[2020-03-18 11:56] vdemeester commented on #2241
/kind bug

[2020-03-18 13:06] a-roberts commented on #2223
I'm +1 on this being configurable (but then, how? Should this be where the discussion goes?) - some considerations (@bobcatfish just mentioned these as well on the WG call 😸 )

- You want to view old PipelineRun details and you've just moved (let's say, renamed) that super important PIpeline you've had - important for traceability
versus
- You're developing and you really don't care for your PIpel

[2020-03-18 13:18] bobcatfish commented on #2223
Copying in some notes from the WG:

* https://github.com/tektoncd/pipeline/issues/2045 (for the having the def somewhere) — and linked issues
* When storing Tasks/Pipelines Resources in OCI registries, the cluster may not be the source of truth anyway (https://github.com/tektoncd/pipeline/issues/1839)
  * Have proposed embedding Pipelines + Tasks in Runs so we know what they are/were
* Use case: D

[2020-03-18 13:31] bobcatfish commented on #1740
Discussed with @wlynch, @dibyom and [in WG](https://docs.google.com/document/d/1rPR7m1Oj0ip3bpd_bcS1sjZyPgGi_g9asF5YrExeESc/edit#heading=h.hsnsfxucu9n), all agreeing that the best next step in this is https://github.com/tektoncd/pipeline/issues/2082, which allows us to emit events during the lifecycle of execution and then execute something as a result, greatly simplifying @afrittoli 's work in ht

[2020-03-18 13:56] n3wscott commented on #2240
I have cut a release called `v2.0.0-preview4` that does work with go mod today.

[2020-03-18 15:06] mattmoor commented on #2240
I may try to give this a shot

[2020-03-18 15:38] mattmoor commented on #2240
@n3wscott have you bumped eventing contrib?  Looks like they need to bump that to pull in the new CE lib.

[2020-03-18 16:33] #1663 closed

[2020-03-18 16:38] pritidesai commented on #1680
Ran a small test with the following `PipelineRun`:

[code]

Factored in `task2` completion time even when `task1` failed before `task2`:

[code]

[2020-03-18 17:11] gpaul commented on #1680
Good to know, thanks. Note that the problem is not that the completion time is incorrect, but that pr.IsDone returns true before completionTime is set.

[2020-03-18 17:13] dibyom commented on #2237
At the moment, PipelineRun/TaskRun objects need the relevant Tasks,Pipelines,PipelineResources etc. to be already created else they will fail. You should be able to create the Pipelines/Tasks in any order though.

I vaguely remember a feature request for retrying trying to fetch pipelines/tasks for this particular scenario but can't seem to find that issue anymore. So i'll keep this open as a feat

[2020-03-18 17:13] dibyom commented on #2237
/kind feature

[2020-03-18 17:18] dibyom commented on #2234
Likely an issue with the docker  registry secret...does the service account have access to the secret?

https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-docker

[2020-03-18 17:22] dibyom commented on #2228
Just making sure this only happens if two pipeline tasks have output resources that are referenced using the same name? As a workaround, does changing one of the resource names work?

[2020-03-18 17:24] dibyom commented on #1602
@eddycharly do you need help here? One new thing now is `workspaces` which can be used to thread outputs from one task to another without using resources. As an example: https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/workspaces.yaml

[2020-03-18 17:25] dibyom commented on #1603
@husnurrsyafni did you figure out a solution to this or is this still an issue?

[2020-03-18 17:27] dibyom commented on #1604
Workspaces are in and can solve this problem: https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md

@vdemeester ok to close this?

[2020-03-18 17:31] dibyom commented on #1995
https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-docker has an example of docker secrets. Not sure about Openshift (perhaps @vdemeester  knows?)

[2020-03-18 17:41] pritidesai commented on #1680
🤔 for the above sample run, [PipelineRun](https://gist.github.com/pritidesai/ca6741c5aa7324f3c4aa97ff1e316074.js) has

[code]

[here](https://gist.github.com/pritidesai/ca6741c5aa7324f3c4aa97ff1e316074#file-pipelinerun-raw-L38)

which matches with `task2` completion time [here](https://gist.github.com/pritidesai/ca6741c5aa7324f3c4aa97ff1e316074#file-pipelinerun-raw-L95)

[code]

instead of `task1`

[2020-03-18 18:15] dibyom commented on #2087
What are you trying to use the GitHub token for?

[2020-03-18 18:20] dibyom commented on #2237
Rel: https://github.com/tektoncd/pipeline/issues/1473 and https://github.com/tektoncd/pipeline/issues/1287

[2020-03-18 18:20] dibyom commented on #1287
Another example is #2237

[2020-03-18 18:21] dibyom commented on #2237
I'm going to close this and we track it via #1287

/triage duplicate

[2020-03-18 18:21] dibyom commented on #2237
/close

[2020-03-18 18:21] #2237 closed

[2020-03-18 18:22] dibyom commented on #1409
Given @sthaha 's comment I'm going to close this issue for now. We can revisit it again in the future
/close

[2020-03-18 18:22] #1409 closed

[2020-03-18 18:23] jace-ys commented on #2237
Cheers! Thanks for looking into this.

[2020-03-18 18:23] dibyom commented on #1407
@chhsia0 Is this still an issue?

[2020-03-18 18:26] dibyom commented on #1394
@skaegi can we close this and use #1376 for tracking this feature?

[2020-03-18 20:13] gpaul commented on #1680
OK - so you're saying that the CompletionTime is set the value of the last taskrun that completed?

[2020-03-18 21:07] GregDritschler commented on #2241
I can fix this.

[2020-03-18 21:53] pritidesai commented on #1680
yup, PipelineRun completion time is set to the completion time of a TaskRun which was completed last. When a task fails while other tasks are still running, `PipelineRun` waits for those tasks to finish and the longest task's completion time out of those, is picked up as PipelineRun completion time.

[2020-03-18 22:12] booninite commented on #2228
According to https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#from, if the resources don't use the same name, then they can't be referenced in this way.  So in order to change the resource name, I'd have to add another input resource on my task with a separate name and end up with two arrays of element 1.  I am not sure how to go about creating a `from` with more than one element

[2020-03-19 00:58] pritidesai commented on #1680
`pr.IsDone()` does return true after `PipelineRun.Status.Status.Conditions[*].Status` is no longer `Unknown` i.e. set to `False` on task failure, but pipeline completion time is set to the longest of the `CompletionTime` among `PipelineRun.Status.PipelineRunStatusFields[*].PipelineRunTaskRunStatus[*].CompletionTime()`.

`PipelineRun` completion time keeps on updating and in the end is set to last

[2020-03-19 03:39] tomgeorge commented on #2154
/assign

[2020-03-19 07:27] onesolpark opened #2246 "Add git credential to git resource"
# Expected Behavior
git resource should have git credential param like pullRequest
We have a private repo where git credentials are need to clone the git repo.
Currently pullRequest resource supports adding secrets to environment variable
and it would be great for git resource to support same or similar behavior.

# Actual Behavior
there is currently no way to add git credential to git resource ty

[2020-03-19 07:36] onesolpark commented on #2246
Hmm just read the auth documentation and
I think you can add credentials by attaching them to serviceaccounts
[https://github.com/tektoncd/pipeline/blob/master/docs/auth.md](url)

It is kind of confusing to have pullRequest have secretRefs and for git to use service-accounts

[2020-03-19 07:45] vdemeester commented on #2241
/assign @GregDritschler

[2020-03-19 07:57] vdemeester commented on #2246
I tend to agree. /cc @bobcatfish @wlynch @afrittoli wdyt ?

/kind question
/kind documentation

[2020-03-19 08:47] vdemeester commented on #1394
I think so, let's close it :upside_down_face:
/close

[2020-03-19 08:47] #1394 closed

[2020-03-19 09:03] masanetes opened #2249 "When TaskRun is applied of tutorial, the error `json: unknown field "resource"` is output"
# Expected Behavior

According to `Running your Task` section of tutorial. TaskRun has a `spec.resouce` field and it seems to be successful.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Apply TaskRun according to the tutorial
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

[code]

A

[2020-03-19 09:05] vdemeester commented on #2249
@masanetes thanks for the issue, it is fixed by #2248, and indeed a type in the tutorial :man_facepalming:

[2020-03-19 09:15] masanetes commented on #2249
@vdemeester ok, thanks!!

[2020-03-19 09:15] #2249 closed

[2020-03-19 10:22] afrittoli opened #2250 "Reduce duplicated code in release pipeline"
# Issue
With https://github.com/tektoncd/pipeline/pull/2242 we created a copy of the publish task and release pipeline useful for backport. However much of the code is shared between this task/pipeline and the originals, so we should converge them into one with a parameter to enable/disable writing to "latest"

# Additional Info

We could consider having folder for major versions, and latest/previ

[2020-03-19 10:23] afrittoli commented on #2250
Never mind, I didn't see that the PR was updated before it was merged, this is solved already

[2020-03-19 10:23] #2250 closed

[2020-03-19 13:47] sbwsg commented on #2250
😅 sorry i should've made that clearer

[2020-03-19 15:47] phantooom commented on #2183
@wlynch  that's right

[2020-03-19 16:17] bitsofinfo commented on #1986
For others currently dynamically creating PVCs as the results of triggers firing so each PipelineRun gets a unique one.... can you please share how you are doing this now?

[2020-03-19 22:42] jcmcken opened #2257 "Documentation: Security/authorization model for Tekton users in a multi-tenant cluster"
I'm not sure this is the appropriate avenue to ask this question, but I'm wondering about Tekton and multi-tenancy.

We have some general purpose clusters with RBAC enabled and customer workloads completely namespaced, using OPA policy and some other mechanisms to prevent customers from executing privileged operations in the cluster (e.g. accessing the host, accessing other customers' workloads, e

[2020-03-20 07:17] ad22 commented on #508
I've been evaluating Tekton and was looking for a discussion and a solution around batched gating of changes.

For context, we use Zuul + Gerrit with a trunk based development model. Zuul automatically either merges/cherry-picks the change under test on its base or target branch, and in addition provides for an option to enable batched speculative execution of changes. You can read more about the

[2020-03-20 09:36] withlin commented on #2217
/assign

[2020-03-20 14:03] sbwsg commented on #1328
I'm going to close this as fixed.  I believe it's very closely related to #1663 which is now supported thanks to @pritidesai !

[2020-03-20 14:03] #1328 closed

[2020-03-20 14:20] sbwsg commented on #1375
/kind documentation

[2020-03-20 14:26] afrittoli commented on #1375
It is definitely possible to clone git repos from github.ibm.com, this works fine for me:
[code]

and

[code]

[2020-03-20 14:29] afrittoli commented on #1375
Looking at the initial log in this ticket, I see that the URL is an anonymous only one: `https://github.ibm.com`.  Could you try `git@github.ibm.com` or `git+ssh://github.ibm.com/` instead?

[2020-03-20 16:15] afrittoli commented on #1680
The `pipelinerun` reconciler defines a `Reconcile` method, which invokes [`isDone()`](https://github.com/tektoncd/pipeline/blob/5425bc3fa85d7cd747af5eb02c3f78c77bbed194/pkg/reconciler/pipelinerun/pipelinerun.go#L159).

When `isDone()` returns true, there are a few consequences:
- the pipeline artifact storage is cleaned up, which may break tasks that are still running
- the timeout handler is rele

[2020-03-20 19:30] pritidesai commented on #1680
As soon as the first failure is hit, `pipelineRun` status is updated to `Status: (v1.ConditionStatus) (len=7) "False"` which is not equal to [original](https://github.com/tektoncd/pipeline/blob/5425bc3fa85d7cd747af5eb02c3f78c77bbed194/pkg/reconciler/pipelinerun/pipelinerun.go#L191) status as original still has `Status: (v1.ConditionStatus) (len=7) "Unknown"`, this results in a call to `[updateStat

[2020-03-21 08:50] #2240 closed

[2020-03-22 01:45] sbwsg commented on #2081
We've [added a `workspaces.md`](https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md) and included a bit more explicit language [that emptyDir is unsuitable for sharing content between Tasks](https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md#volumesources-for-workspaces).

[2020-03-22 01:45] #2081 closed

[2020-03-22 08:08] husnurrsyafni commented on #1603
@dibyom no I haven't. would like to hear from Tekton team for a solution or a workaround. thanks.

[2020-03-23 13:53] aadeshpa commented on #1375
@afrittoli : thank you for the details, however we were able to get it working once we created a secret for `github.ibm.com` with our account , however did not came back and updated this issue . Will mark this issue as closed

[2020-03-23 13:53] #1375 closed

[2020-03-23 14:32] afrittoli commented on #1740
Yeah, that sounds like a reasonable next step to me too.

[2020-03-23 15:17] linkdd opened #2265 "Not able to see PipelineRun details in dashboard if using taskSpec instead of taskRef"
# Expected Behavior

The ability to see the details of a `PipelineRun` resource in the Dashboard when it was created with `generateName` and `taskSpec`.

# Actual Behavior

The Dashboard show only the following message: `No TaskRuns found for this PipelineRun yet…`

# Steps to Reproduce the Problem

1. Create a `Pipeline` using only `taskSpec` and no `taskRef`
2. Create a `PipelineRun` with `gener

[2020-03-23 15:24] bobcatfish commented on #1367
Now we have workspaces which allow you to separate out how you get the files from what you do to the files.

I'm wondering if we can close this issue, reopen if it is requested again?

[2020-03-23 15:26] vdemeester commented on #2265
@linkdd this should be a dashboard issue :angel:

[2020-03-23 16:41] #2241 closed

[2020-03-23 17:02] afrittoli opened #2267 "Document all variables available in Tekton in one place"
# Expected Behavior
Have a single reference document with all variables `$()` available in different context to Tekton resource authors.

# Actual Behavior
Today we have reference to different variables available to resource authors, but there's no clear reference anywhere of what variables can be used where.

[2020-03-23 17:02] afrittoli commented on #2267
/kind documentation

[2020-03-23 17:56] steveodonovan opened #2268 "PipelineRun status does not accurately reflect the state of the runtime"
# Expected Behavior

PipelineRuns and TaskRuns status should reflect the state of the runtimes that make up a pipeline.

# Actual Behavior

There are some cases where a pod will not run but the pipelineRun and taskRun status does not entirely reflect this (although the information is in there). This may be by design given the pods are recoverable but worth raising as a question at least.

For exam

[2020-03-24 09:00] #2165 closed

[2020-03-24 09:45] dbazhal opened #2272 "Allow workspaces use any volume type"
# Expected Behavior

I expect to be able to set up workspaces on any volume kind, not only pvc/emptydir/cm/secret.
Workspace spec body is very similar to VolumeV1Core(https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#volume-v1-core), so it seems natural to expect that workspace can use any kind of volume.

# Actual Behavior

When I try to use cheapest volumes in kubernetes(flexV

[2020-03-24 09:46] vdemeester commented on #2272
/kind feature

/cc @sbwsg

[2020-03-24 12:13] sbwsg commented on #2165
Just to reiterate from the Pull Request that closed this Issue:

1. Credentials are now written to `/tekton/creds` when the disable-home-env-overwrite flag is "true".
2. A new variable has been exposed, `$(credentials.path)` which points to the place where creds-init wrote the credentials.
3. Our entrypoint binary will automatically copy credentials from `$(credentials.path)` to the Step's HOME.

[2020-03-24 16:49] vdemeester commented on #1067
I don't see anything about `TestAssets` in the tests anymore… so assuming we can close this :stuck_out_tongue:
/close

[2020-03-24 16:49] #1067 closed

[2020-03-24 19:21] GregDritschler commented on #2235
I can fix this one (and also #1844 which is the same issue).

[2020-03-24 21:16] zjgoodman opened #2276 "applying the same TaskRun yaml more than once produces errors"
I am using the following TaskRun yaml
[code]
When I do a `kubectl apply -f <file>` on this TaskRun more than once I get errors

# Expected Behavior
Upon applying the file, if I made changes to the TaskRun, apply the changes. Otherwise kubernetes should tell me that it's unchanged, like this:
[code]

# Actual Behavior
Applying the file when nothing exists works, but any additional applies causes er

[2020-03-25 00:10] booninite opened #2282 "Git Resources are always on "master" branch."
# Expected Behavior
If I provide a branch or commit to a Git PipelineResource, running `git status` would indicate that I am not on the master branch.

# Actual Behavior
The branch is always master, even if the revision provided was not the master branch.

# Steps to Reproduce the Problem

1. Create a task which takes in a git resource and a param which is a target branch to push any changes made

[2020-03-25 01:16] danielhelfand commented on #2276
This is somewhat related to #2113, which occurred when trying to use `kubectl apply -f` with `generateName`. #2113 turned out to be more of an issue with `kubectl` itself rather than Tekton. I am wondering if this case is similar or if there's something Tekton can do to return a more appropriate error message.

The preferred way of using `kubectl` with creating TaskRuns or PipelineRuns is to use `

[2020-03-25 02:14] tomgeorge commented on #2154
@afrittoli are you looking for more than is covered [here](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#pipeline-tasks)?

[2020-03-25 02:20] vincent-pli commented on #2276
@zjgoodman
The unknow field `inputs` and `ouput` belong to`v1alpha1`, they are removed in `v1beta1`, that's why webhook reject the request.

I noticed you use the `v1beta1` but the fields still appeared, I think it's because we still use the `informer` of `v1alpha1`, when move to `v1beta1` the issue will gone.
@vdemeester

[2020-03-25 03:37] popcor255 commented on #2282
Yeah, I had the same problem. I was gonna elaborate with an issue about the git history in the pipeline resource being a bit off. You seemed to beat me to it. I was going to give screenshot of my git history, but im not sure if that will help solve the problem.

My really sloppy fix: I just ended just making version of buildah with git and cloned the repo.

[code]

[2020-03-25 07:17] adrianRiobo opened #2284 "Allow resourceSpec within Pipeline definitions"
# Expected Behavior

Allow using resourceSpec within pipeline definitions. The use case is related to [runtime params](https://github.com/tektoncd/pipeline/pull/1186), it is expected to use as a task input resource (git) with a parameter resulting from a previous task within the pipeline.

Example:

[code]
# Actual Behavior

Get an error when creating the pipeline:

[code]

# Additional Info
- Kub

[2020-03-25 07:23] vdemeester commented on #2276
@vincent-pli oh you might be right :scream_cat:

/kind bug

[2020-03-25 07:23] vdemeester commented on #2276
/assign

[2020-03-25 07:23] vdemeester commented on #2235
/assign @GregDritschler

[2020-03-25 07:25] vdemeester commented on #2282
@booninite thanks for the issue

Can you share the yaml of the `PipelineResource` you used ?

[2020-03-25 09:28] bigkevmcd commented on #2221
I'm pretty sure that this is caused by https://github.com/go-yaml/yaml/issues/387

[2020-03-25 11:51] #2276 closed

[2020-03-25 16:26] gabemontero opened #2288 "facilitate mount of certs for HTTPS Proxy"
# Expected Behavior

As a follow on to https://github.com/tektoncd/pipeline/pull/2215 to facilitate tls verify == true when going to an https proxy it would be helpful to minimally have examples of how to make those certs available to the `git` related steps

It could be
a) an example step that does the equivalent of `git config http.sslCert ~/path/to/ssl/cert.pem` that can then be consumed by sub

[2020-03-25 16:43] gabemontero commented on #2069
We have a somewhat analogous thing with OpenShift today.  At least for a subset of the function I hear getting discussed.

See https://docs.openshift.com/container-platform/3.11/cli_reference/basic_cli_operations.html#debug

and

https://github.com/openshift/oc/tree/master/pkg/cli/debug

Perhaps some useful reference.

[2020-03-25 17:28] sbwsg commented on #2165
Pipelines Beta RC3 has been released and includes this fix https://github.com/tektoncd/pipeline/releases/tag/v0.11.0-rc3

[2020-03-25 18:50] booninite commented on #2282
@vdemeester np 👋

It is inline since I am scheduling it via a TriggerTemplate, here is the relevant portion:

[code]

[2020-03-26 01:37] coryrc opened #2292 "Lists of key-value parameters should be yaml key-values"
Multiple places have things like:

[code]

and

[code]

Where key-value parameters are emulated using lists, when yaml easily supports arbitrary key-value mapping. The above should be:

[code]

and

[code]

Yaml supports arbitrary key names, so there's no string you can put in the value field you can't use in the name field.

[2020-03-26 08:24] vdemeester commented on #2288
/kind feature

[2020-03-26 08:30] vdemeester commented on #2292
Hey @coryrc, thanks for the issue.
This is, however, a bit trickier than just changing the yaml. Those yaml are marshalled and unmarshalled in go types (here : https://github.com/tektoncd/pipeline/tree/master/pkg/apis/pipeline/v1beta1). And depending on how we define our struct, may affect the yaml.

[2020-03-26 08:34] vdemeester commented on #2292
/kind question

[2020-03-26 08:39] vdemeester commented on #2282
/kind question
/kind bug

:thinking:

[2020-03-26 08:57] dbazhal commented on #1876
Here is our case to use ClusterPipelines.

We're making multitenant system, each team has it's own project in "control" cluster. Each project has multiple environments(namespaces) like testing, prod, etc, in multiple clusters.
So, each service in each project should have pipeline that builds artifact, and delivers it promoting from environment to environment  to production unchanged(because what w

[2020-03-26 10:15] dinup24 opened #2294 "Make Pipeline task name available in Task/ClusterTask"
The pipeline task name set in the pipeline definition should be made available in the task as internal param or env variable (or in some other way) during execution. The steps/sidecar in the task should be able to use the pipeline task name which could be useful logging/tracing/debugging purposes.

[code]
In the above example pipeline task name is `build-the-image`, but it invokes the task `build-

[2020-03-26 11:57] yudatou123 commented on #1983
now  have some plans   to  optimize this problem ？

[2020-03-26 13:54] GregDritschler commented on #2235
The "missing field(s)" error is coming from pipeline_validation.go.

[code]

apis.ErrMissingField and apis.CurrentField are defined in vendor/knative.dev/pkg/apis/field_error.go.

apis.CurrentField is a constant empty string.  It is intended to be used to say that the path where the
error was found is defined by another method such as apis.ViaField.  That doesn't happen here so the path remains em

[2020-03-26 15:04] vdemeester opened #2296 "Pipeline results and array parameters"
# Expected Behavior

Given the following resources

[code]

I would "guess" it has the resolved results interpolated

[code]

# Actual Behavior

Running this, result with a pod that doesn't get the arguments interpolated

[code]

# Steps to Reproduce the Problem

1. Apply the yaml above
2. Pass it a git resource with a tag
3. See it fail

# Additional Info

- Kubernetes version:

  **Output of `ku

[2020-03-26 15:20] vdemeester commented on #2296
/priority critical-urgent

[2020-03-26 16:59] sbwsg commented on #2284
Just wanted to clarify :- you are able to use a `resourceSpec` directly in your `PipelineRuns`, and I believe you should be able to refer to task results in the param values that you feed to a Pipeline Task from the PipelineRun.

I'm not 100% clear on the use case for putting a resourceSpec directly into a Pipeline.  Could you describe a bit more the problem you're trying to solve?

[2020-03-26 18:37] sbwsg commented on #2282
@booninite Can you confirm the version of Tekton that you are using?  You mentioned in your initial post that it was 0.7.1 but I don't think we ever released a Tekton 0.7.1.

There is some default behaviour in the Git PipelineResource that sets the branch to "master" if it receives an empty string as the revision parameter.  But other than this I wasn't able to reproduce the issue - I'll paste bel

[2020-03-26 19:26] bobcatfish opened #2298 "Add support for referencing Tasks in git"
# Expected Behavior

In #1839 we are adding support for referencing Tasks that are stored in OCI image repos. We should also be able to reference Tasks that are stored in git, e.g.

[code]

# Actual Behavior

Via https://github.com/tektoncd/pipeline/issues/1839 we now support referencing versioned Tasks and Pipelines in OCI registries (https://github.com/tektoncd/pipeline/blob/master/docs/pipeline

[2020-03-27 09:29] vdemeester commented on #2298
/kind feature

[2020-03-27 12:24] siamaksade commented on #1986
Currently if a pipelinerun doesn't provide any workspace bindings, the pipelinerun fails immediately. Would it make sense for the controller to bind those to `emptyDir` if no binding is provided, so that most pipelines can execute nonetheless?

This is in addition to the other paths discussed like claim templates, etc .

[2020-03-27 14:43] sbwsg commented on #1986
Yeah that sounds useful!  Behaviour of the fallback probably configurable somehow?

[2020-03-27 14:59] sbwsg commented on #2296
Fixed by https://github.com/tektoncd/pipeline/pull/2300 I think.

[2020-03-27 14:59] #2296 closed

[2020-03-27 19:47] #1844 closed

[2020-03-27 19:47] #2235 closed

[2020-03-28 03:29] waveywaves commented on #2069
@gabemontero This is something I had my eyes on earlier, I use this a lot in my debugging actually. But how it translates to taskrun debugging would be interesting to see.

[2020-03-28 14:26] gabemontero commented on #2069
cool deal @waveywaves

Yeah, especially in the context of some of the live, step debugging discussed on the work group call.

But certainly for say post completation failure scenarios, being able to replicate the pod that tekton creates for task/taskrun but then /bin/bash into the pod vs. actually run it has value.  Being able to inspect the file system, etc.

[2020-03-29 08:49] jlpettersson commented on #1986
### Expected Behavior

If I have pipeline pipeline-x for a project. I expect that `PipelineRun`s can run concurrently and independently without interfering.

Use case for a CI-pipeline:
PipelineRun `pr-master-xyz` is building the last merge to master
PipelineRun `pr-user-a-abc` is building a pull-request from User A
PipelineRun `pr-user-b-efg` is building a pull-request from User B

I also expect

[2020-03-30 13:40] bobcatfish commented on #1986
Hey @jlpettersson ! Thanks for the detailed problem statement and proposal! I'm wondering, if the PVCs were created for you by the controller, and/or the controller managed a pool of PVCs such that the PipelineRuns just needed to indicate that they needed a PVC and the controller took care of the rest, would that work for you?

I think we are leaning toward a model in the long run where we want th

[2020-03-30 13:53] GregDritschler commented on #2029
_We could use the Reason field in the pod to provide more context, e.g. instead of Error we could say Step skipped._
How?  The Reason field in the pod status is set by Kubernetes.  How would you alter it?

_We could change the method signature to pass the TaskRun status, and filter the pod containers to include only those that have a matching step in TaskRun.status.steps._
What method signature?

[2020-03-30 13:56] bobcatfish commented on #1986
Basically I'm wondering if you'd rather configure this kind of thing:
* For every PipelineRun / TaskRun
* Globally via something like (maybe the same as) the artifact storage configuration we already have but are not making use of for this feature: https://github.com/tektoncd/pipeline/blob/master/docs/install.md#configuring-artifact-storage

[2020-03-30 14:00] afrittoli commented on #2050
This type of fan-out tasks will also require syntax / logic for tasks to:
- access the task result / output resources of any of the tasks
- express workflow rules like `runAfter` against the collection of tasks

Conditions may be attached to the task. Do we run the condition N times? Ideally if we had a way to determine whether the condition depends on the param that generates the fan-out - we cou

[2020-03-30 14:18] afrittoli commented on #2029
Good point. I guess we could extend `entrypoint` to allow some logic that writes to the termination log, but that might be a bit too much to solve the issue.

I mean the signature of `[getFailureMessage](https://github.com/tektoncd/pipeline/blob/4e4884fb82de205569305e762b44741ebf2c77d2/pkg/pod/status.go#L278)`. If `getFailureMessage` was passed the taskRun spec by [its called](https://github.com/t

[2020-03-30 14:48] jlpettersson commented on #1986
@bobcatfish I see your point. As I see it, PV resources belong to the folks operating the Tekton installation. But PVC is a resource that is created in the users namespace, and by declaring the `storageClassName` you get the kind of storage you want, dynamically and the same pipeline run works across cloud providers. https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

The PVCs creat

[2020-03-30 15:02] jlpettersson commented on #1986
There is also this issue https://github.com/tektoncd/triggers/issues/476 but I feel that the PVC belongs to the `PipelineRun` and `TaskRun`, because the PipelineRun controller should also control the lifecycle for the PVC, e.g. removing when the PipelineRun is done.

[2020-03-30 15:14] sbwsg commented on #2220
Marking as closed now that we've backported to 0.10 and released in 0.11.

[2020-03-30 15:14] #2220 closed

[2020-03-30 15:49] zhangtbj opened #2307 "Report downwardAPI volumes are not allowed to be used in a shared cluster"
Hi all,
I am using Tekton with (buildpacks) to build my source code to the container image.
But I didn't run the Tekton task on my own cluster, it is a shared cluster with some security policy.

It works fine on my own cluster, but in this shared cluster, it reported an error:
`
Warning  BuildCreationFailed  55m   taskrun-controller  Failed to create build pod "buildpack-nodejs-b95mx": pods "build

[2020-03-30 15:54] afrittoli commented on #2053
This will be addressed as part of https://github.com/tektoncd/pipeline/issues/2082.
We won't be using the pipeline resource for that though.

[2020-03-30 16:59] cten commented on #2010
This would be great. I am trying to create Conditions for Sonar Scanning that would use the workspace of the build task. By making Sonar scan a Condition instead of a Task we can make sure all the libraries are present during scan.

[2020-03-30 17:56] booninite commented on #2282
@sbwsg I am using Tekton v0.10.1 release.  The 0.7.1 information came from the issue template instructions, which were to run `tkn version`, which seems to provide a different result than the `kubectl` command provided.

I will try out your TaskRun later today and get back to you, thank you.

[2020-03-30 18:09] dibyom commented on #1292
Somewhat related to allowing pipelines to trigger other pipelines/named branches that we discussed in today's Beta/Flow control call @skaegi @pritidesai @afrittoli

[2020-03-30 18:12] dibyom commented on #2053
I'm going to close this in favor of #2082
/triage duplicate
/close

[2020-03-30 18:12] #2053 closed

[2020-03-30 18:19] dibyom commented on #1922
Yeah that could be one option. Another thing we were considering is allowing a pipeline to trigger multiple other sub-pipelines.

If you do not need the parent pipeline to wait for finishing, using the CloudEvents output resource would be the way to go for now!

[2020-03-30 20:31] ImJasonH commented on #2307
Enforcing security policies and reporting conflicts seems like it should remain K8s' responsibility, and Tekton shouldn't get involved. The author of a Task that depends on a downwardAPI volume should make it clear to users that this might not always be available on a particular cluster, either due to PSP, or other limitations of the cluster in question (e.g., other exotic volume types are only su

[2020-03-30 21:21] afrittoli commented on #2082
As a starting point, I think it's a fair assumption to let receivers / channels filter events, and err on the side of sending too many events, in favour of a lean syntax on Tekton side.
In practice this means that a `PipelineRun` and a `TaskRun` will get a new field that allows specifying a list of sinks. If sinks are specified, a cloud event will be sent for all events to all sinks.

Options for

[2020-03-30 23:32] waveywaves commented on #2183
/assign

[2020-03-30 23:39] waveywaves commented on #1814
/assign

[2020-03-31 07:43] vdemeester commented on #2307
I think this particular `downwardAPI` volume is from an internal step / container though :sweat_smile:

[2020-03-31 07:46] zhangtbj commented on #2307
yes, from internal task step / container :)

[2020-03-31 12:34] sbwsg commented on #2307
Just to help clarify,

I originally thought we would be removing the use of the downwardAPI in https://github.com/tektoncd/pipeline/pull/2158 but this is not the case.  Instead we are changing when the sidecar readiness annotation will appear.  The downward API is still used to project that annotation into step containers.

Unfortunately I do not think we support this use case - a cluster must sup

[2020-03-31 13:50] GregDritschler commented on #2029
Well, status.go is already sorting the taskrun step status according to the task spec.  The problem with this is that the internally-generated steps fall to the bottom of the list.  So if the code were changed to use the taskrun step status to find the first failing step, it could still misidentify the first failing step when an internally-generated step failed.

[2020-03-31 14:08] adrianRiobo commented on #2284
Hi @sbwsg sorry for the late reply... just let me try to explain my use case;

First, just clarify I am using tekton triggers to integrate github + tekton, so pipelineruns are managed by triggers and I just can play with paremeters in the request. to template the pipeline...

Got 1 project with my source code for my app: https://github.com/org/app/source-code.git
Got 1 project with serving file fo

[2020-03-31 14:18] adrianRiobo commented on #2284
Just found [this](https://github.com/tektoncd/catalog/tree/master/git) and [this issue ](https://github.com/tektoncd/pipeline/issues/1369) regarding not promoting pipeline resources to beta so a task equivalence is released...

This will fit totally in my use case, so maybe there is no point to evolve pipeline resources

[2020-03-31 14:35] ImJasonH commented on #2307
Oh whoops! 😓

In that case, we should document that Tekton currently requires access to the Downward API for volumes.

Longer term, if this is serious issue, we have ideas for better signaling (#1570) that might allow us to remove the downward dependency.

[2020-03-31 16:03] booninite commented on #2282
@sbwsg that TaskRun doesn't work on version 0.10.1.  v1beta1 isn't recognized, and v1alpha1 returns a validation error:

[code]

[2020-03-31 16:07] sbwsg commented on #2282
Here, try this one:

[code]

[2020-03-31 18:31] skaegi commented on #2307
Hmm... very nasty. FWIW we allow use of downward api in our multi-tenant cluster however each tenant workload is restricted to a single namespace so we can get away with a slightly less restrictive policy here.

[2020-03-31 19:01] skaegi commented on #2082
This might just be an implementation detail, but one option to consider is have the pipeline controller only ["generate"](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#create-event-v1-core) Tekton lifecycle Kubernetes events and then leave the decision on CloudEvents or http endpoints up to a sub-project with a controller that listens for the Tekton events and distributes th

[2020-03-31 21:48] bobcatfish commented on #1282
Since we're completely revisiting PipelineResources via https://github.com/tektoncd/pipeline/issues/1673 I'm going to close this but plz re-open if you want to discuss more!

[2020-03-31 21:48] #1282 closed

[2020-03-31 21:49] bobcatfish commented on #1287
interesting! I think tho this would likely also cause the Run to fail in this case, is that right?

[2020-04-01 07:00] vdemeester commented on #1287
On #1473 `*Run` fails indeed, but it's a race (the `ServiceAccount` is present at the time of the `*Run` creation, but the controller doesn't see it)

[2020-04-01 07:08] vdemeester commented on #2082
I think we can do both, aka : by default sending k8s events, and if `cloudEvents` field is specified send them there too :wink:

[2020-04-01 12:31] sbwsg commented on #2082
I really like the ease-of-use of the proposed syntax, and pushing the responsibility of filtering the events to the receiver rather than Tekton.

Per discussion in the WG just now, I wanted to put forward a use case that might affect the design a little bit:

A team authors their organization's Tasks and Pipelines.  That team wants to ensure that every Run emits cloudEvents to a specific set of en

[2020-04-01 16:02] afrittoli commented on #2082
Thank you @sbwsg for your feedback and for capturing the WG discussion here.
We're going to emit k8s events for all lifecycle events, which partly covers the monitoring use case. Nonetheless, I think it would make sense to support sending cloud events for all pipeline/taskruns.

My favourite option would be (2), i.e. use sinks from a global configmap, and send cloud events for all lifecycle events

[2020-04-01 16:11] drewbutlerbb4 opened #2314 "Update v1beta1 condition examples"
The [three v1beta1 examples for conditional pipeline runs](https://github.com/tektoncd/pipeline/tree/master/examples/v1beta1/pipelineruns) should be updated to use v1beta1 Conditions.

[2020-04-01 16:31] sbwsg commented on #2082
Cheers @afrittoli Sounds like a really solid approach to me!

[2020-04-01 17:06] vdemeester commented on #2314
@drewbutlerbb4 `Condition`, as `PipelineResource` are not in `v1beta1` (at least yet). We felt those part of the API weren't *beta* quality, hence they are staying in alpha for now — aka not "supported". That said, they can still be "referered" in the v1beta1 resources

[2020-04-01 17:10] sbwsg commented on #2314
Per vdemeester's comment just now, conditions haven't moved over to beta.  I'm going to close this issue as the examples are working as expected right now.  Feel free to reopen if there's more to do here though!

[2020-04-01 17:10] #2314 closed

[2020-04-01 17:17] sbwsg commented on #2268
I'm going to assign this a "bug" label for the PVC issue - that looks to me like we should do a better job of detecting the failure.  Although I'm actually not that clear whether the pod itself has entered into a completely failed state here or is re-attempting.

With the configmap example I'm not really sure what the best approach would be.  I guess we could indicate some kind of Initializing sta

[2020-04-01 17:30] sbwsg commented on #2207
I suggest trying this again.  We've released the beta version of Pipelines which includes a number of fixes since RC1 was released.

You should be able to run the same command to install the latest version:

[code]

Also, just a data point, but I've recently installed Docker for Desktop on mac and the beta is working ok for me there.  At least Im not seeing any similar connection issues.

[2020-04-01 17:31] bobcatfish commented on #1986
To make sure I'm totally clear @jlpettersson you'd like the user creating the PipelineRun to be able to control this? For example the way that PipelineResources create PVCs, you can configure the storage class across the installation: https://github.com/tektoncd/pipeline/blob/master/docs/install.md#configuring-a-persistent-volume

Interesting point! Would you want the PipelineRun controller to alw

[2020-04-01 17:35] bobcatfish commented on #2272
Hey @dbazhal ! Thanks for opening this! When we created workspaces we kept going back and forth on whether or not to allow all volume types - finally we settled on limiting it but we'll happily add any volume types you need. If `flexVolume` the only type you know you need or are there others?

+ @skaegi

[2020-04-01 19:07] jlpettersson commented on #1986
@bobcatfish yes, that is correct.

Managing one PVC per PipelineRun can only be done _programmaticly_ currently, and it is very hard to get correct (hard to know when to delete). This is the biggest obstacle for me implementing Tekton for a larger enterprise at the moment.

I want to _declaratively_ do this (not using any params here, for clarity), e.g.
[code]

Then I can have my declarative Tekto

[2020-04-01 19:23] 2020testuser opened #2316 "Running a service image"
# Expected Behavior
Hi, I have Tekton installed on Kubernetes on-premise cluster. I have a Task and TaskRun yamls to deploy my service in Kubernetes using Tekton.
No errors on Task and TaskRun.
# Actual Behavior
Getting an error while deploying TaskRun.
# Steps to Reproduce the Problem
When I run TaskRun, I'm getting an error. The error is below.
Failed to create build pod "service-task-run": tran

[2020-04-01 20:12] dbazhal commented on #2272
Hi @bobcatfish
For us currently flex volumes would be number one priority.
We want to use pipeline workspaces for preserving context between tasks.
But we have no storage. So we've tried simplest storage for our case - rook, and it happens that rook supports ManyReadWrite volumes only on cephfs.
But we're on openshift origin(okd) 3.11, that means we can't update to kubernetes higher than 1.11 in s

[2020-04-01 20:18] dbazhal commented on #2272
For tekton pipelines as product I don't think it would be really big feature to add support only for flexVolumes.
So I think, if it is not too complicated, allowing any volume kind would be most valuable feature.
But if it is complicated, we'd be glad to see support just for flexVolumes

[2020-04-01 22:44] holoGDM opened #2319 "How to use config-artifact-bucket ConfigMap in pipeline"
What config-artifact-bucket is for? I can not find how to use it. When i will create task with output type "storage" in pipeline and pipelinerun i need to configure separate bucket for that output. Thought it will take those default settings.

Eg:

[code]

And now need to configure in pipeline it in such way:

[code]

and in pipelinerun:

[code]

so i need to create separate tekton-s3 PipelineReso

[2020-04-02 12:39] sbwsg commented on #2319
Hi, sorry for the confusion!  I have to admit I had trouble finding documentation on this.  The only thing I could find is here: https://github.com/tektoncd/pipeline/blob/master/docs/developers/README.md#how-are-resources-shared-between-tasks

To cut a long story short, PipelineResources can be used as an `output` from a Task in a Pipeline.  Then another Pipeline Task can consume that same Pipelin

[2020-04-02 12:49] holoGDM commented on #2319
Hello, thank You for reply. I saw that but im still confused. When im creating "output" i still need to add "resourceRef" in "higher" level - PipelineRun with ref to another PipelineResource created BTW it doesn not want to work with s3. Here is my PipelineResource.

[code]
and here i need to ref to them to satisfy checks during applying:

[code]
and
[code]

[2020-04-02 18:07] wlynch commented on #999
Did some initial work on this awhile back - linking for reference https://docs.google.com/document/d/1dauJtzMWwxutwV38FwtSpauBhA9nKLNjZTIrYEjSaao

[2020-04-03 01:20] Tomcli opened #2322 "Add more supported Tekton variables"
We want to convert some of the Argo pipeline into Tekton. Below is the variables that Argo support, what variables would make sense for us to implement it to Tekton? We would like to at least have variable to refer to global pipeline parameters and metadata from the pipelinerun.

https://github.com/argoproj/argo/blob/master/docs/variables.md

[2020-04-03 13:24] sbwsg commented on #2307
I guess the real question here is why the `PodSecurityPolicy` allows downwardAPI but this doesn't seem to affect the pods that Tekton creates.

I'm going to add a bug label based on that and remove the feature label.  This seems like something that should work when a pod security policy is in place and correct.

/kind bug

[2020-04-03 16:12] ncskier opened #2323 "Step not in PipelineRun/TaskRun `status`"
# Expected Behavior
I expect all of the steps that have executed to be reported in the PipelineRun/TaskRun status.

# Actual Behavior
(I'm using Pipeline v0.10.1 on OpenShift OCP 4.3)

I ran my Pipeline `java-openliberty-build-deploy-pl`, which ran the Task `java-openliberty-build-push-task`, which ran the step `imagename-lowercase`. I can see from the `tkn` CLI & TaskRun Pod that the `imagename-l

[2020-04-03 16:23] sbwsg commented on #2323
Would you be able to post the complete pipeline?  Also, are there any suspicious logs from the controller while this the pipeline is running?

I'm curious if you're using image output resources anywhere.  We did have a bug that was fixed in 0.10.2 where the imagedigestexporter caused a panic in the controller, which in turn caused steps to disappear from the reported statuses.  Here's the issue wh

[2020-04-03 16:38] sbwsg commented on #2323
/kind bug

[2020-04-03 17:04] sbwsg commented on #2316
This error occurs when Tekton is unable to read the image you are using from the registry.  See here: https://github.com/tektoncd/pipeline/blob/master/pkg/pod/entrypoint_lookup_impl.go#L72

So I'm not entirely sure what's going on here but it might be worth double checking that the service account attached to the TaskRun is correctly configured and has permissions it needs to request images.

A wo

[2020-04-03 17:17] ncskier commented on #2323
Is this sufficient, or should I include the other Tasks? (this is from the attached .zip file)
[code]
[code]

Searching for errors, I found this log:
[code]

The `build-push-task` does have output images:
[code]

However, from the controller logs, it looks like the PipelineRun executed without a panic.

[2020-04-03 20:05] sbwsg commented on #2307
It looks like we have [our own PodSecurityPolicy](https://github.com/tektoncd/pipeline/blob/master/config/101-podsecuritypolicy.yaml) which does not list `downwardApi` as a supported volume type.  This is attached to our tekton-pipelines-admin service account in [our clusterrole configuration](https://github.com/tektoncd/pipeline/blob/master/config/200-clusterrole.yaml#L44).

I'm not 100% sure on

[2020-04-03 20:38] GregDritschler commented on #2268
I've been looking into this issue.

In both cases a pod is waiting for some external resource (pvc, configmap) to become available.
Once it becomes available the pod's containers will run.

I've been thinking about inventing a new PipelineRun condition Reason for this condition.
"Initializing" and "Pending" both sound like something that would apply prior to anything running,
while these condition

[2020-04-03 22:23] 2020testuser commented on #2316
Thanks Much! Adding the command works. I mean I don't get the jar error anymore.
One step forward  now.

[2020-04-03 23:08] danielhelfand opened #2324 "default-timeout-minutes Not Being Applied to PipelineRuns/TaskRuns"
# Expected Behavior

When `default-timeout-minutes` is set via a ConfigMap in the `tekton-pipelines` namespace, the timeouts of all TaskRuns/PipelineRuns should be set to the value of `default-timeout-minutes`.

# Actual Behavior

An hour timeout is used regardless if `default-timeout-minutes` is specified.

# Steps to Reproduce the Problem

1. Create a ConfigMap with the following values:

[code]

[2020-04-04 17:35] waveywaves commented on #2183
https://github.com/tektoncd/pipeline/issues/2183 fixes this

[2020-04-04 19:40] jlpettersson commented on #1986
@bobcatfish @sbwsg I went on and submitted an implementation similar to what I proposed above. I don't know if it solves this issue. But now there is an implementation that is possible to give a try.

The implementation is inspired by StatefulSet. Nothing is removed, this is purely an additional volume source option when using workspaces.

For lifecycle management, I set the `OwnerReference` on th

[2020-04-04 21:17] mattmoor opened #2327 "Make Tasks/TaskRuns PodSpecable"
This is bound to be contentious because it's a disruptive change, but it's more tolerable with the emergence of Conversion webhooks. 🎉

In Knative, we have been exploring the idea of [Bindings](https://docs.google.com/document/d/1t5WVrj2KQZ2u5s0LvIUtfHnSonBv5Vcv8Gl2k5NXrCQ/edit) as a way to project information into "Pod Specable" things.  We in fact adjusted our own Serving resource shapes to alig

[2020-04-05 09:27] afrittoli opened #2328 "TaskRun emits no event when it fails on timeout"
# Expected Behavior
When the task finishes, even in case of timeout, an event is emitted.

# Actual Behavior
There's no event generated

[code]

# Steps to Reproduce the Problem

1. `TaskRun`:

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

`master`,  after `v0.11.0`

[2020-04-05 09:28] afrittoli commented on #2328
/kind bug

[2020-04-05 09:28] afrittoli commented on #2328
/assign

[2020-04-05 09:29] afrittoli commented on #2082
I will also address https://github.com/tektoncd/pipeline/issues/2328 as part of this work

[2020-04-05 11:39] sbwsg commented on #1986
OK, I'm going to split this issue into two.  I'll leave this one for discussion of the volumeClaimTemplate proposal and will cut a new one for the tekton artifact configmap.

@jlpettersson thanks for taking this on!  Would be open to bringing this PR up in our weekly working group on Wednesday?  It would be good to share this with the group, perhaps demo it, and get any feedback on the design as i

[2020-04-05 11:57] sbwsg opened #2330 "Add workspaces support for the config-artifact-pvc configmap"
# Expected Behavior

PipelineResources currently use a PVC (or bucket) configured using the config-artifact-pvc configmap to quietly store data when it's shared between tasks. This uses an internal package called artifact_storage that silently mounts the PVC or syncs to a GCS bucket and uses that to transfer files from one task to the next. We'd like to replicate similar behaviour but have it avai

[2020-04-05 15:08] ImJasonH commented on #2327
Can you elaborate how you imagine this looking in a Task spec? And what using this would unlock for Tekton users/integrators?

One possible wrinkle is that we've actually added fields beyond what the `Container` type supports (`script:`) and will likely find reasons to do it again in the future, possibly also at the `PodSpec` level. Is the binding code designed to support this case as well?

Also,

[2020-04-05 17:46] mattmoor commented on #2327
Extensions to the spec should be fine since everything is done via `PATCH`.  Restrictions to the spec are also generally not a problem as validation will reject invalid mutations (and some bindings simply won't work).

If you look at the K8s app resources this second part is sort of true there as well, but less in terms of field validation and more in terms of enum arity.  Take for example `restar

[2020-04-05 18:16] jlpettersson commented on #1986
@sbwsg yes, I can have a demo on Wednesday :)

[2020-04-05 20:06] jlpettersson opened #2332 "Introduce runHistoryLimit"
# Expected Behavior

Assume I have a namespace with a Pipeline and a Trigger with a connected git-repo. Each commit to my git-repo would typically send a webhook to the Trigger and a new `PipelineRun` is created, e.g. for CI-builds.

After some time, I will have a lot of `PipelineRun` resources in my namespace.

I expect that Tekton, to some extent can garbage collect older resources, for sustaina

[2020-04-05 23:06] ImJasonH commented on #2332
One way to configure this would be in a configmap in the Tekton installation, that would configure it installation/cluster-wide.

Another option would be to add it as an option of the Trigger, and the triggerer would be responsible for deleting (and have permission🤔). This also only solves it for the triggering case, and ignores manual runs, or runs not triggered by "Triggers".

[2020-04-05 23:07] ImJasonH commented on #2332
Also related: https://github.com/tektoncd/pipeline/issues/454

[2020-04-06 06:37] vdemeester commented on #2332
/kind feature

[2020-04-06 06:44] vdemeester commented on #2324
@danielhelfand how did you start the PipelineRun ? :thinking:

[2020-04-06 06:58] vdemeester commented on #2330
/kind feature

[2020-04-06 10:33] steveodonovan commented on #2268
My 2c is something like `SUCCEEDED - false   REASON - error` which is a recoverable state makes sense. We should reflect the state of the pipeline, if some tasks are running and others cannot it's an accurate state. It would occur where we get a `FailedScheduling` pod error on a taskRun for example. We would document this error state as a new state which reflects that the pipeline cannot run. Also

[2020-04-06 11:30] steveodonovan commented on #2268
@dibyom @pritidesai just on https://github.com/tektoncd/pipeline/issues/1684 and how it relates to this. Error, or broadly something reflecting this state seems like something to consider in that design as a terminal state. Although another one here is how do the `runOn` states map to pipeline run state ? Is it a separate abstraction or does it map to a particular field in the pipeline run ?

[2020-04-06 12:57] danielhelfand opened #2334 "default-timeout-minutes Design Considerations"
## Format of Default Timeout

Via the config-defaults ConfigMap, a property called `default-timeout-minutes` can be set to [apply a timeout to every TaskRun/PipelineRun](https://github.com/tektoncd/pipeline/blob/00194731669ca5a279ca92b2d94cfb85f6ae7f6d/docs/taskruns.md#configuring-default-timeout) that does not specify a timeout. I think it would be helpful to be able to specify this default in a

[2020-04-06 13:01] sbwsg commented on #2332
We explored this idea a bit in https://github.com/tektoncd/pipeline/pull/1486 and its related issue https://github.com/tektoncd/pipeline/issues/1302.  In that PR the idea was to use a TTL Controller to clean up resources.

It was then suggested that we could use a `CronJob` for this, and so we punted on implementing anything at the controller / reconciler level.  I added [an issue to the experimen

[2020-04-06 13:10] danielhelfand opened #2335 "Namespaced Config Defaults"
As of now, config-defaults via a ConfigMap can only be defined in the `tekton-pipelines` namespace. What would be helpful is to allow for these defaults, such as timeouts, service accounts, etc., to be defined on a namespace basis to account for the scenario that several development teams are all using the same cluster and working in particular namespaces. These teams may wish to defined their own

[2020-04-06 13:55] #2324 closed

[2020-04-06 15:03] vdemeester commented on #1389
#1875 got merged so I think we can safely close
/close

[2020-04-06 15:03] #1389 closed

[2020-04-06 15:11] bobcatfish commented on #2082
Note: priorities for this issue are emitting events at end of Pipeline and Task execution, https://github.com/tektoncd/pipeline/issues/742 additionally adds after step execution

[2020-04-06 15:15] bobcatfish commented on #1755
Considering this resolved now that tekton.dev is pointing at our fancy new tekton.netlify.com. Going forward issues regarding documentation (that arent project specific) are being gathered and triaged at https://github.com/tektoncd/website/issues

[2020-04-06 15:15] #1755 closed

[2020-04-06 15:25] bobcatfish commented on #2058
Decided not to remove it, closing this for now, can open more issues to continue to look into volumes in future.

[2020-04-06 15:33] bobcatfish commented on #1684
Quick update: @pritidesai has created this proposal for a `finally` syntax at the Pipeline level: ttps://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpNa6p-TJdHrw/edit

Will be discussing in our working group today (i havent yet added a link to the community repo about this new working group but it's taking the same slot and links as our previous beta working group https://github.com

[2020-04-06 15:43] jcmcken commented on #2050
In my use case, I don't need access to the results or outputs, I'm just relying on the success or failure of the task. So maybe there's room for a first iteration of this facility that doesn't have all the bells and whistles, but allows a simple fan out

[2020-04-06 15:58] drewbutlerbb4 opened #2336 "Task results do not get passed to conditions"
# Expected Behavior
Conditions receive Task results as condition parameters.
# Actual Behavior
Task results do not get passed properly
[code]
# Steps to Reproduce the Problem

Can be reproduced from this yaml
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Client version: 0.8.0
Pipeline version: v0.11.0-rc2**

[2020-04-06 15:59] drewbutlerbb4 commented on #2336
@tomcli @afrittoli

[2020-04-06 16:08] sbwsg opened #2337 "PipelineRun Cancellation is not working"
# Expected Behavior

Cancelling a PipelineRun should result in its TaskRuns being put into a cancelled state.

Our integration test, `test/cancel_test.go` should pass.

# Actual Behavior

Cancelling a PipelineRun no longer seems to cancel the underlying TaskRun.  It appears that each attempt to cancel the TaskRuns hit errors like this:

[code]

The e2e `test/cancel_test.go` fails.

# Steps to Repr

[2020-04-06 16:08] sbwsg commented on #2337
/kind bug

[2020-04-06 16:59] sbwsg commented on #1950
Marking as closed, since #2178 is now merged.

[2020-04-06 16:59] #1950 closed

[2020-04-06 17:08] kevinyu98 opened #2339 "How to bind the image pull secret for pipeline without service account?"
# Expected Behavior
We have a use case where we need to bind the image pull secret to a particular pipeline but not service account, because we might not have permission to cleanup the service account, is there a workaround this?

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**
openshift:
Client Version: v4.3.1
Kubernetes Version: v1.16.2
[code]

- Tekton Pipeline vers

[2020-04-06 17:09] kevinyu98 commented on #1779
we have a similar issue, want to have this feature. I have opened an issue on tekton [2339](https://github.com/tektoncd/pipeline/issues/2339)

[2020-04-06 17:12] Tomcli commented on #2339
Probably if we can implement imagePullSecrets into podTemplate, then we can solve this issue. But is this a good approach?

[2020-04-06 21:38] jlpettersson commented on #2159
I like the idea with keeping the core simple. But I feel that there are some missing piece here.

Consider _Pipeline 1_ --> _Pipeline2_

- At the end of _Pipeline 1_, some option need to be presented, e.g. a generated resource, presented as a button in GUI. This button must have some kind of ID. If _Pipeline 1_ should end here, this must be a "Pipeline Output Resource" or a "Pipeline Result"?.
- T

[2020-04-07 02:14] vincent-pli commented on #2337
@sbwsg I checked the code:
https://github.com/tektoncd/pipeline/blob/8a059fe34a923f23a2a88b46239b9c9efb3a3a65/pkg/reconciler/pipelinerun/cancel.go#L48-L54

It update the `status` then the `spec`, it will raise the error you mentioned.
Why we need update the `status` of `taskrun` which will be cancelled? since I'm not found other such update in `reconcile` of pipelinerun.

[2020-04-07 12:47] sbwsg commented on #2337
Ahhh I see.  In order to make this work the TaskRun would have to be re-fetched after `UpdateStatus` to get the latest version?

This is a good question.  If a TaskRun is put into a cancelled state I would expect that the TaskRun reconciler would be responsible for this.

[2020-04-07 12:49] sbwsg commented on #2337
Actually now I'm confused - I would expect the PipelineRun reconciler to be responsible for putting each TaskRun into a Cancelled state.  But I would expect the TaskRun reconciler to perform any non-Status `Update` that is necessary.

[2020-04-07 12:50] sbwsg commented on #2337
Sidenote: I find it weird that any PRs are passing in Pipelines right now given this...

[2020-04-07 12:54] vdemeester commented on #2337
If you cancel a PipelineRun, the pipelinerun reconcilier needs to update the "wanted" status of all TaskRuns to cancel.. So for we the `Update` make sense, the `UpdateStatus` doesn't :thinking:

[2020-04-07 14:03] sbwsg opened #2343 "Improve UX of getting credentials into Tasks"
# Expected Behavior

Reading the docs a user can quickly and easily discover how to:
1. declare credentials their Tasks accept
2. attach credentials to TaskRuns or PipelineRuns

Once a user has read the docs, there's a low hurdle to attaching credentials to their CI workloads.

# Actual Behavior

### Problems with Documentation and User Flow

Our auth.md doc describes a system for getting credenti

[2020-04-07 17:30] 2020testuser opened #2345 "Build an image and deploy in an external docker registry"
# Expected Behavior
I have a build.gradle file which builds a docker image for my  java application using gradle.
Creating a docker image using Tekton Pipeline Task and building the image using gradle and want to push to the company docker registry without any error. The Kubernetes PODS RBAC enabled.
# Actual Behavior
Getting a security error when the application docker image is pushed to the comp

[2020-04-07 17:39] k commented on #2127
I would like to use Conditionals also as a skip. For example I only want to build an image if the image doesn’t already exist, but I always want to deploy the image for a git sha even if it is already built. However, I still want the ability to wait for the build if I have to. The only way I can think of to do this now is to have two separate branches each with its own conditional which is rather

[2020-04-07 18:09] afrittoli commented on #2345
Could you provide a bit more details? The YAML of your task, how is it invoked? What kind of setup do you have in place to authenticate to your private registry?

[2020-04-07 18:24] bobcatfish commented on #2127
Hi all!

If possible I'd like to take a step back and try to understand what problems we are trying to solve here.

It seems like there are 2 pieces of functionality being proposed:

1. An inline syntax for conditions
2. The ability to skip a task without skipping the rest of the branch

I'd really like to understand (2) in a lot more detail - what are some use cases for this? @k mentioned one (th

[2020-04-07 18:32] bobcatfish commented on #2159
I'm pretty sure this is a duplicate of #233 but folks seem to be happier to engage here - should we resolve #233?

If it's possible for someone to [start gathering the requirements and proposals that are being described above into a doc](https://github.com/tektoncd/community/blob/master/process.md#proposing-features) (and eventually [a TEP!](https://github.com/tektoncd/community/pull/82)) that'd b

[2020-04-07 20:55] dibyom commented on #1259
@medkbadri are you still working on (or planning to work on) this issue?

[2020-04-07 22:50] booninite commented on #2082
Is this the intended replacement for CloudEvent PipelineResources in the future, since PipelineResources are more-or-less deprecated in the latest release of Tekton?

[2020-04-08 05:59] afrittoli commented on #2082
This will provide more than we can achieve with `CloudEventPipelineResource`, since it will include k8s and CloudEvents for every life cycle event of both tasks and pipelines.

Resources are not officially deprecated, but likely they will either reworked or replaced. In either case the cloud event resource might go away since it doesn't really fit the same pattern as other pipeline resource, its f

[2020-04-08 06:05] vdemeester commented on #2345
/kind question

[2020-04-08 06:38] NikeNano commented on #1201
I would be happy to help out with this one @dibyom. Can I start to work on it?

[2020-04-08 06:42] vdemeester commented on #1201
@NikeNano I think this is gonna be fixed by https://github.com/tektoncd/pipeline/issues/2082 (cc @afrittoli )

[2020-04-08 08:29] vincent-pli commented on #2337
I'm not sure, but I think the `status` update of `taskrun` should be take charge by reconcile of `taskrun`,  `pipelinerun` just make the change...

[2020-04-08 08:42] vdemeester commented on #2337
@vincent-pli yep, the `PipelineRun` controller should update the `spec.status` of `TaskRun` and let the `TaskRun` reconcilier handle the rest (hence we shouldn't update `status.xxx` of `TaskRun` from the `PipelineRun` controller).

[2020-04-08 09:14] medkbadri commented on #1259
@dibyom
Hey, I will update asap (already working with tetkton and flux combined in a project for my company)
will just clean files

[2020-04-08 09:23] afrittoli commented on #2154
Oh, I missed it somehow - thanks!

[2020-04-08 09:23] #2154 closed

[2020-04-08 11:20] afrittoli commented on #1201
@Letty5411 thanks for reporting this and @NikeNano thanks for contributing!
There is definitely an inconsistency in how we generate emit events today, I tried to capture the complete (!) matrix in https://github.com/tektoncd/pipeline/pull/2329

So indeed I was going to address this as part of #2082 / #2039.

[2020-04-08 12:28] sbwsg commented on #1369
First version of migration doc now exists: https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1-to-v1beta1.md

[2020-04-08 13:00] NikeNano commented on #1201
Ok, cool. Then I see if I can find some other issues to look at :)

[2020-04-08 13:10] bobcatfish commented on #1950
Thanks for linking to this from #2178 @sbwsg -  I'm still not 100% clear on what the use cases are for this, is it possible to get a CI/CD example for this one even though we've finished working on it?

In the example above, it seems like the information in the pipeline level result will be available in the status of the pipeline overall with or without pipeline level results.

Task level results

[2020-04-08 13:23] bobcatfish commented on #1198
@jlewi is this still something kubeflow wants/needs? I'm not very familiar with kustomize packages so if this is something you'd want I'd benefit from knowing what the package would provide. (And maybe it would be useful for our dogfooding efforts also? we use kustomize a lot for that! @afrittoli @vdemeester )

[2020-04-08 13:25] sbwsg commented on #1950
I'm going to rope in @skaegi here to hopefully provide a bit more meaningful info because I don't have particularly concrete use-cases.  I think you're right that we haven't documented them at all for this feature.

I think UI is one potential use-case but as you mentioned the results in the TaskRun statuses already appear in the PipelineRun status.

Another potential use I see at the moment relat

[2020-04-08 13:25] bobcatfish commented on #2339
Hey @kevinyu98 can you explain more about why you can't use the service account and what you need to use the image pull secret for? Some examples would really help!

[2020-04-08 13:28] bobcatfish commented on #2336
Ah so we're not applying the variable replacement of results inside of conditions? Whoops! Sounds like an easy fix for whoever is keen to work on this 🙏

[2020-04-08 13:33] bobcatfish commented on #1187
I think at this point it would make sense for this issue to live in the Prow repo only so I'll close this one.  Also anyone should feel free to pickup where I left off with https://github.com/kubernetes/test-infra/pull/13974 🙏

[2020-04-08 13:33] #1187 closed

[2020-04-08 13:35] bobcatfish commented on #1180
I'm tempted to close this for now in light of our complete revisiting of PipelineResources in #1673, plz reopen if you disagree @chhsia0 !

[2020-04-08 13:35] #1180 closed

[2020-04-08 13:38] skaegi commented on #2339
One workaround / approach that has worked well for us is to create an ephemeral namespace and then configure the namespace's "default" service account with permissions as needed. We then "apply" the various Tekton and other resources in the namespace and wait for the PipelineRun to complete, collect the results, and finally delete the ephemeral namespace. All-in-all it's pretty tidy.

[2020-04-08 13:40] skaegi commented on #2336
@othomann could you take a look.

[2020-04-08 13:50] bobcatfish commented on #2322
Hey @Tomcli !

Potentially we would be interested in adding more contextual information - we already have a need to add more metadata for features like #1684 but it would really help if you could specifically list what extra info you need and what your use cases are for it. Or it doesn't have to be you - basically it looks like the next step here is to go through each of the variables in https://g

[2020-04-08 13:54] othomann commented on #2336
I will take a look.

[2020-04-08 13:58] afrittoli commented on #1198
We have a kustomize plugin within the plumbing repo, but it's only for trigger resources. I guess we could have a general package, but I'm not aware of how this is then made available to others?

[2020-04-08 13:58] bobcatfish commented on #2319
Hey @holoGDM it looks like you might be mixing the storage resource + config-artifact-bucket up a bit, they are actually very different things.

config-artifact-bucket is trying to solve a very specific problem: Tasks run on different nodes, so if you want to share data between them, it has to get from node to node somehow. When you link a PipelineResource output in one Task (running on one node)

[2020-04-08 14:44] othomann commented on #2336
@drewbutlerbb4 how did you get the output for `Containers:  step-condition-check-condition-1:`? I believe I have a fix, but I want to make sure it works ok.

[2020-04-08 14:55] othomann commented on #2336
I added a test to check that the Params inside the condition are substituted. So this test works now, but I want to make sure the output is good as well.

[2020-04-08 15:11] dibyom commented on #1684
Status update:
We are currently punting on the `runOn` syntax. Instead, we are:
1. Implementing a pipeline level `finally` field that always runs some tasks at the end of a pipeline. ([doc](https://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpNa6p-TJdHrw/edit)

We are also considering adding the following (discussions ongoing in the API working group):
1. A pipeline level `onError`/

[2020-04-08 16:44] k commented on #2127
@bobcatfish thanks for better organizing this discussion. Here's my use case in more detail:

We are using git ops within a monorepo (a repo that has code to build multiple images). In addition, we can have many different environments and building at any one time because we support creating ephemeral environments via a github label. The overall flow for this is:

1. Argo-events github trigger crea

[2020-04-08 16:59] drewbutlerbb4 commented on #2336
To get the names of the pods from your pipelinerun:
**kubectl get pods**
Then to get the output:
**kubectl describe pod flip-cond-gen-run-28gr7-generate-random-number-l8xcw-cond-2tf8f**
(replace flip-cond-gen-run-28gr7-generate-random-number-l8xcw-cond-2tf8f with the name of the pods from your pipelinerun)

The output will be mixed in with other details about the pods. Does this answer your questi

[2020-04-08 17:26] Tomcli commented on #2339
Thanks @bobcatfish @skaegi

We need image pull secret to pull images from our private repository. We are building a compiler to generate Tekton pipeline based on the Kubeflow pipeline DSL. In our platform, we have multiple users that share the same namespace for executing pipelines. Therefore, we want to replicate the behavior of Argo pipeline where the image pull secret is bound to a particular p

[2020-04-08 17:34] othomann commented on #2336
Yes, thanks. This answers my question. I finally got it. Working on it.

[2020-04-08 18:30] Tomcli commented on #2322
Thanks @bobcatfish. We would love to find out a list of variable substitution supported in Tekton https://github.com/tektoncd/pipeline/issues/2267. If you could point us to all the docs on the different kinds of Tekton variable substitution then that will be great.

Right now we only found input/output parameters and path for variable substitution in task, pipeline, condition, and pipeline resourc

[2020-04-08 19:44] sbwsg commented on #2343
## Design Idea 1 - Use Workspaces for Credentials

The fact that creds are often mounted as volumes and manifest as files on disk leads me to think that Workspaces may make a good primitive for credentials.  This idea proposes the following changes to the Pipelines controller to accomodate credentials in workspaces:

### A Workspace can be declared as "optional" by a Task.
- An optional Workspace

[2020-04-08 19:44] sbwsg commented on #2343
## Design Idea 2 - Introduce a Credentials Section to Pipelines' CRDs

First, a quick example of how I imagine this syntax looking in a Task spec:
[code]
And possible syntax for providing those credentials from a TaskRun spec:
[code]

And a breakdown of the individual features:

### Credentials are attachable as Directories, Files, or EnvVars

Depending on the choice of `directory`, `file`, or `en

[2020-04-08 19:56] sbwsg commented on #2343
Related, I think it would be really cool if `tkn` supported something like:

[code]

That automatically created a Secret with contents of file/directory and ran the TaskRun with it.  Maybe even deleting the Secret afterwards?

[2020-04-08 20:42] othomann commented on #2336
Now I have this:

[code]

Preparing a PR for it.

[2020-04-08 20:56] othomann commented on #2336
Created https://github.com/tektoncd/pipeline/pull/2354 to take care of this issue.

[2020-04-08 21:49] bobcatfish commented on #2322
I think you covered pretty much everything, a couple others that come to mind are workspaces and results. I'm wondering if it would make sense to break those out into one doc so you can see all the substitutions available at a glance like you can with argo! ( + @sergetron )

Also + @sbwsg who might know of some substitutions and/or existing docs that I'm missing.

[2020-04-09 02:27] sbwsg commented on #2322
Egads, I just went through to confirm the ones I could remember. Here's what I found:

### Available in Tasks
- `params.<param name>`
- `resources.inputs.<resource name>.path`
- `resources.outputs.<resource name>.path`
- `results.<result name>.path`
- `workspaces.<workspace name>.path`
- `workspaces.<workspace name>.volume`
- `credentials.path`

Each PipelineResource type also defines its own vari

[2020-04-09 02:29] sbwsg commented on #2267
As an exercise I just had a look through to find all the substitutions I could.  These are they:

### Available in Tasks
- `params.<param name>`
- `resources.inputs.<resource name>.path`
- `resources.outputs.<resource name>.path`
- `results.<result name>.path`
- `workspaces.<workspace name>.path`
- `workspaces.<workspace name>.volume`
- `credentials.path`

Each PipelineResource type also defines i

[2020-04-09 03:13] sbwsg commented on #2322
OK, I think I've collected them all together here: https://github.com/tektoncd/pipeline/pull/2358/files

[2020-04-09 08:20] vdemeester commented on #2336
@sbwsg @bobcatfish do we target 0.11.x for this fix ?

[2020-04-09 10:27] sbwsg commented on #2336
We could, it's additive.  But this isn't a bug fix (in my view), it's a new feature.  We never suggested in any docs that results could be used anywhere other than task params.

Especially given conditions staying in v1alpha1 I dont feel that this is an urgent problem that we need to address in a patch release.  Results also don't work in PipelineResources, for example, but likewise I wouldn't rus

[2020-04-09 13:20] sbwsg commented on #1629
It sounds like this info has resolved the problem, just to reiterate before I close:

The `storageClassName` field in the configmap @bobcatfish linked allows this to be configured.

Our docs on this are here: https://github.com/tektoncd/pipeline/blob/master/docs/install.md#configuring-a-persistent-volume

You can also, alternatively, configure a [default storage class](https://kubernetes.io/docs/c

[2020-04-09 13:20] #1629 closed

[2020-04-09 13:41] sbwsg commented on #1101
Now that we have both storage class configurable in the resources PVC as well as workspaces which allow configuration of the PVC directly in Runs I think we're safe to consider this closed.  If anybody wants to revisit or request more work here I propose starting a new issue.  Cheers!

[2020-04-09 13:41] #1101 closed

[2020-04-09 15:04] bobcatfish commented on #1690
Hey @chengjingtao sorry we didn't reply sooner! Are you still working on this? Your approach sounds solid.

Adding Reason and Message into the terminationMessage is a nice addition - it might actually be interesting to tackle this first i.e. in a separate PR - seems useful even outside the context of time outs!

[2020-04-09 15:07] bobcatfish commented on #1514
I think we're tending toward moving away from specifying volumes in Tasks now that we have workspaces (and https://github.com/tektoncd/pipeline/pull/2326 adds the ability to create volumes w/in a Run) - we even considered removing volumes altogether #2058. So I'm going to close this for now but please re-open if you feel like workspaces can't meet your needs (and/or open another issue with require

[2020-04-09 15:07] #1514 closed

[2020-04-09 15:07] bobcatfish commented on #1201
@afrittoli are you tackling both k8s events and cloudevents in your work?

[2020-04-09 15:17] bobcatfish commented on #1484
wow this is a cool idea - i actually really like it, it reminds me of a lot of what i used to like about c# development and the associated tools; at least in the shop i was working in, tools could help you out an awful lot b/c all the class and variable naming was super standardized

[2020-04-09 15:29] zhujian7 opened #2361 "Fetch resources by SVN"
Tekton supports Git type PipelineResource perfectly, any plan to support SVN Resource?

[2020-04-09 15:31] sbwsg commented on #398
I believe this is done now.  A PVC is only created and copied to if an input links from an output.  Feel free to reopen if there's more to do here!

[2020-04-09 15:31] #398 closed

[2020-04-09 15:35] afrittoli commented on #1201
Yes, I am - first PR fixes k8s events, second PR will add cloudevents

[2020-04-09 15:54] sbwsg commented on #2361
Thanks for creating an issue!  I don't think we'd consider an SVN PipelineResource because PipelineResources are remaining in an alpha state and may at some point be deprecated.  We would gladly accept SVN Tasks in the [Tekton Catalog](https://github.com/tektoncd/catalog/) though!

We have a `git-clone` Task already that provides the same functionality as a Git PipelineResource.  It's available he

[2020-04-09 15:58] skaegi opened #2362 "PipelineRun should directly support per TaskRun runtime settings"
PipelineRun's currently let us set a `serviceAccount` and `podTemplate` that is copied down to all child TaskRuns. We added `serviceAccountNames` as a per task mapping, but I can see now we are likely to need the same thing for `podTemplates` to handle variations on things like `imagePullSecret`, `runtimeClass`, `nodeSelector` etc.

What I'd suggest is that we have a `tasks` property in PipelineRu

[2020-04-09 16:32] vdemeester commented on #2362
/kind feature

[2020-04-09 16:34] skaegi commented on #2339
In terms of just creating the binding independent of service account management, I think the `podTemplate` approach suggested by @Tomcli is a reasonable approach and is identical to what Argo does.

[2020-04-09 16:43] skaegi commented on #1779
/reopen
/assign
There is the serviceAccount workaround but I think this is still reasonable to add based on how some teams would like to use Tekton. If not me I'll find someone to work on adding support.

[2020-04-09 17:15] NikeNano commented on #2362
I would be happy to work on this!

[2020-04-09 17:44] bobcatfish commented on #1839
@pierretasci has expanded on the proposed OCI format at https://docs.google.com/document/d/1lXF_SvLwl6OqqGy8JbpSXRj4hWJ6CSImlxlIl4V9rnM/edit

[2020-04-09 18:30] #2267 closed

[2020-04-09 19:38] jlewi commented on #1198
The advantage of kustomize packages is that it makes it easy for us to compose applications into a stack of applications.

I would like to start including Tekton in Kubeflow stacks because we have a lot of places where we'd like to start using Tekton. In particular, I'd like to start being able to use Task's to define reusable ML tasks.

kubeflow/testing#613 - Tasks for running notebooks
kubeflow/

[2020-04-09 19:58] dibyom commented on #1805
/assign @jerop

[2020-04-09 21:30] jerop commented on #1805
@dibyom and I looked into this, and found that all config maps are customizable except for `feature-flags` config map which is fixed in #2363

[2020-04-09 22:22] othomann commented on #2336
Fixed by the merge of https://github.com/tektoncd/pipeline/pull/2354. Scott, you can close it, I believe.

[2020-04-10 06:21] vdemeester commented on #2336
@sbwsg fair :)
/close

[2020-04-10 06:21] #2336 closed

[2020-04-10 07:39] #2071 closed

[2020-04-10 11:36] holoGDM commented on #2319
Thanks for reply. I wanted like You wrote to share artifacts between tasks. But when im using output/input between tasks im forced by Tekton checker when im applying my yamls to configure my own s3 buckets (they are not working either - my s3 bucket is creted with rook and i needed finally to create special task for pushing with c3cmd client). According to my workspaces. i wanted to avoid usage of

[2020-04-10 13:51] sbwsg opened #2367 "Test TestHelmDeployPipelineRun seems to be a regular flake in PullRequests"
# Expected Behavior

E2E tests should be, as much as possible, a reliable indicator of regressions in the project.

# Actual Behavior

It seems like `TestHelmDeployPipelineRun` has been flaking out (or is sporadically broken) across a number of PRs recently.  It doesn't always fail though.  This slows down progress of PRs and can result in a lot of comment noise as devs are rerunning the integrati

[2020-04-10 14:53] #1805 closed

[2020-04-10 18:37] sbwsg commented on #2337
I've been trying to fix this today but haven't made very much progress.  I think I've managed to reduce the number of failures but I cannot get this test to pass consistently 100% of the time.  I've opened [a PR with my work-in-progress changes](https://github.com/tektoncd/pipeline/pull/2369/files).  If anyone else has an opportunity to look at it I'd be very appreciative, otherwise I will pick it

[2020-04-10 19:55] wlynch opened #2370 "Pipeline controller status does not show fatal errors"
# Expected Behavior

- kubectl commands show actionable status.
- Have some sort of debug page for where to look / what to try if things aren't working?

# Actual Behavior

No meaningful information in status, had to query logs (which I wasn't even sure if they would be there).

[code]

# Steps to Reproduce the Problem

1. Install Tekton with deprecated k8s version (this succeeds).
2. Try to run a

[2020-04-10 19:55] wlynch commented on #2370
/kind feature
/kind documentation

[2020-04-10 21:30] wlynch opened #2371 "Catalog Tasks cannot be applied twice"
# Expected Behavior

The same task yamls from the catalog can be safely applied twice, since there is no configuration change.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. kubectl apply -f \<catalog yaml>
2. kubectl apply -f \<catalog yaml>

# Additional Info

- Kubernetes version: v1.15.11
- Tekton Pipeline version: v0.11.1

/kind bug

[2020-04-11 16:48] sbwsg commented on #2371
This is unfortunately a known issue with v1alpha1 tasks in the new Beta.  Mentioned in our Upgrade Notices from the beta release notes here: https://github.com/tektoncd/pipeline/releases/tag/v0.11.0

In the short term consider using `kubectl replace` instead of `apply` if you need to stick with the v1alpha1 tasks.

Longer term consider migrating to the [v1beta1 kaniko task](https://raw.githubuserc

[2020-04-11 17:13] davissp14 opened #2372 "Design Concern - PipelineRuns"
# Expected Behavior

PipelineRun Resources should not be responsible for defining configuration/bindings.

By definition, PipelineRun/TaskRun's are not re-useable resources.  That being said, it seems strange that we are defining our bindings here.  I would expect these definitions to live in a "RunConfiguration" resource or something that would provide re-useable configuration and binding definit

[2020-04-11 19:14] ImJasonH commented on #2372
Thanks for raising this concern. I agree it's a bit odd, and likely stems from the idea that most Run configs would be created from YAML in a git repo, or bound with variables populated from trigger configs.

Rather than define another CRD and require users to create and manage a new resource, if they want this behavior without a git repo or trigger, it can be simulated with ConfigMaps backing env

[2020-04-11 21:01] davissp14 commented on #2372
I certainly think it's worth considering.

I think triggers are great, but I think it would be a mistake to be completely reliant on them.  For example, if Github's webhook service goes down or if somethings up with that specific communication channel, there needs to be a clear path for people to sanely manage their builds manually.  Having to manually connect to the CI/CD cluster and issue a buil

[2020-04-11 21:14] r0bj opened #2373 "task fail: fork/exec /busybox/sh: permission denied"
# Expected Behavior

Task executes without issue.

# Actual Behavior

Executing task generates error:
[code]

# Steps to Reproduce the Problem

1. define build-images.yaml:
[code]

2. kubectl apply -f build-images.yaml

# Additional Info

I want to build multiple images from dynamic generated list (from eg. git repo). Since https://github.com/tektoncd/pipeline/issues/2050 is not implemented I woul

[2020-04-12 20:47] ad22 opened #2374 "Task "script" blocks do not support array types for parameters"
# Expected Behavior
$params.arrayVar[*] is expanded when referenced in the script
# Actual Behavior
```Error from server (BadRequest): error when creating "my-task.yaml": admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: validation failed: variable type invalid in "\echo \"$(params.arrayVar[*])\"\n" for step script: taskspec.steps.script```
# Steps to Reproduce the Pro

[2020-04-13 00:45] vincent-pli commented on #2373
@r0bj
I tried your case, but not hit the `permission` issue:
[code]

[2020-04-13 02:32] sravankumar777 opened #2375 "Unable to create tekton task with serviceAccountName in task spec"
# Expected Behavior

# Actual Behavior
Earlier to tektoncd/pipeline release [v0.9.0](https://github.com/tektoncd/pipeline/releases/tag/v0.9.0), were able to create/configure tekton task with ```serviceAccountName```.
After updating to tektoncd/pipeline release [v0.11.0](https://github.com/tektoncd/pipeline/releases/tag/v0.11.0), creation of same tekton task fails.

# Steps to Reproduce the Problem

[2020-04-13 04:22] r0bj commented on #2373
@vincent-pli thanks for info.
After additional test it seems that this issue occurs only on kubernetes clusters with containerd as a CRI (in GKE containerd images ale called Container-Optimized OS with Containerd cos_containerd). On kubernetes with docker as CRI everything is fine.

[2020-04-13 04:53] #2373 closed

[2020-04-13 04:59] zhujian7 commented on #2361
@sbwsg  Glad to know, thanks. And I'm a little confused:

Will PipelineResource be **removed** and replaced by a task or **redesigned**  in the future?
If redesigned, what will it be responsible for?

[2020-04-13 05:52] nkakkar81 opened #2376 "Add more details on "What" Conditions are, with some examples."
# Expected Behavior
The Condition documentation should explain to a new user what conditions are, and what are the various scenarios in which we can use them in Pipelines.

# Actual Behavior
Currently, the docs page on conditions - https://github.com/tektoncd/pipeline/blob/master/docs/conditions.md  provides a detailed view on how to define/create conditions in a pipeline. However, there is NO inf

[2020-04-13 05:54] nkakkar81 commented on #2376
/kind documentation

[2020-04-13 06:33] orefalo commented on #1912
I am also looking at bitbucket support. that's pretty much a show stopper for me, i can't change scm provider

[2020-04-13 08:04] VeereshAradhya opened #2377 "wrong label getting added on taskrun created referencing a clustertask"
# Expected Behavior
When we create a taskrun from the clustertask the label should be `tekton.dev/clustertask`

# Actual Behavior
When we create a taskrun from the clustertask the label is `tekton.dev/task`

# Steps to Reproduce the Problem

1. Create a cluster task
2. Create a taskrun referencing clustertask
3. check the metadata.labels

**Note:** When we have a task and a clustertask with same n

[2020-04-13 11:27] ImJasonH commented on #2374
/type feature

[2020-04-13 11:48] sbwsg commented on #2374
Thanks for the report!  We do document this though it's a little bit buried: https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#substituting-array-parameters

The `script` field is just a string rather than an array, so the substitution doesn't work here.  Will keep this issue open as a feature request to support it though.

[2020-04-13 14:39] sbwsg commented on #2361
We don't have any specific plans to remove `PipelineResources`.  Instead we've announced that they're not in Beta.  This means they don't get the same level of support as the stuff which is in Beta.  There's still a lot of discussions revolving around `PipelineResources` so no one really knows what's going to happen to them.  One of the reasons for keeping them alpha is because we haven't decided

[2020-04-13 15:26] josephlewis42 opened #2380 "Tekton Managed Images"
# Expected Behavior

When I install and use Tekton, I'd expect all images Tekton relies on to:

* Come from Tekton's GCR repositories
* Be covered by the same software license as Tekton
* Reference images by SHA256 to allow caching in Kubernetes and ensure that the images aren't tampered with

# Actual Behavior

Instead, there are two (that I've found) additional images used that are not reference

[2020-04-13 15:55] zhujian7 commented on #2361
OK, looking forward to it. Thanks a lot.

[2020-04-13 17:26] ad22 commented on #2374
@sbwsg That makes sense, I didn't immediately make the connection when going through that line. I will open a PR to call out the script field explicitly in the docs, if that's ok.

This will be good to have if it can be implemented safely. As a workaround for my current task, I've create a space separated string type, which is almost equivalent since I'd guess the array expansion would be into a s

[2020-04-13 17:27] sbwsg opened #2381 "PipelineRun enters cancelled state even if cancelling TaskRuns fails"
# Expected Behavior

Cancelling a PipelineRun should not succeed if the TaskRuns it created were not able to be cancelled.

# Actual Behavior

In our [PipelineRun cancellation code](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/pipelinerun/cancel.go#L34-L55) we immediately set the status of a PipelineRun to cancelled regardless of whether the TaskRuns it created were able to be c

[2020-04-13 17:33] sbwsg commented on #2374
Interestingly this is one of the reasons that we don't support array expansion in strings - different use-cases expect different joining strings.  In some cases space-separated is good, in others comma-separated would be preferable.

If you do decide to pursue this then I'd recommend soliciting feedback in [one of our Working Group meetings](https://github.com/tektoncd/community/blob/master/workin

[2020-04-13 18:09] bobcatfish commented on #2375
Hey @sravankumar777 ! We consider `serviceAccountName` to be "runtime" information, so it's part of the TaskRun (https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#service-account) and afaik not part of the Task. It's possible that something changed about how unknown fields were being treated between the version of Tekton Pipelines you were running previously and the one where you s

[2020-04-13 18:12] bobcatfish commented on #2372
Also maybe relevant to your interests: https://github.com/tektoncd/triggers/issues/200 (being able to use TriggerTemplates outside of triggers)

PipelineResources were also intended to be re-usable groupings of configuration - and in a very early iteration of Tekton we had a type called "PipelineParams" which contained reusable bindings.

Is it possible to share some examples of the kinds of bindi

[2020-04-13 19:21] fabioluciano opened #2382 "Got persistentvolumeclaim "pipelinerun-pvc" not found when running pipelineRun"
# Expected Behavior

A pipelineRun executed.

# Actual Behavior
In my script there is no mention of `pipelinerun-pvc`.
[code]

# Steps to Reproduce the Problem

1. Create a cluster using k3s distribuition. I used this script, [that](https://gist.github.com/fabioluciano/a11088b3145e91d2d4d766b49ebe0d81) i made;
2. Apply the follow resources..

[code]

# Additional Info

- Kubernetes version:

  **O

[2020-04-13 21:19] piyush-garg commented on #2377
/assign

[2020-04-13 22:35] r0bj opened #2385 "Condition cannot access results from previous task"
# Expected Behavior

Condition can access results from previous task.

# Actual Behavior

Condition cannot access results from previous task.

# Steps to Reproduce the Problem

pipelinerun.yaml:
[code]

Logs from `test-dirs` pod:
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods

[2020-04-14 01:10] sbwsg commented on #2385
Thanks for the issue report!  This has been fixed and will be resolved in 0.12.  See https://github.com/tektoncd/pipeline/issues/2336 and the related PR https://github.com/tektoncd/pipeline/pull/2354

I'm going to close but please feel free to reopen if you feel there's more that could be done here.  Cheer!

[2020-04-14 01:10] #2385 closed

[2020-04-14 02:22] skaegi commented on #2374
See #1463 -- sorry this is a pretty typical use-case and I'm really late on getting back to working on this after the beta.

[2020-04-14 03:18] skaegi commented on #2050
Even though there are cases that do not require results, I think it would be good to have support as part of the general solution since  it makes it consistent with the Task interface.

Another decision we have to make here is around supporting parallel vs sequential task running. It might make a lot of sense here if we adopted the semantics of `map` (tasks run in parallel and produce an array of

[2020-04-14 04:35] r0bj opened #2387 "Cannot assign params with task results to other task value"
# Expected Behavior

I can assign params with task results to other task value:
[code]

# Actual Behavior

Cannot assign params with task results to other task value. Error message is generated:
[code]

# Steps to Reproduce the Problem

pipeline.yaml:
[code]

Executing this pipelinerun generates error message:
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[c

[2020-04-14 06:18] vdemeester commented on #1912
@amlozano @orefalo for the time being (aka while PipelineResource are re-designed), you should be able to use *any* provider using a re-usable task. For git, it would be the [`git-clone`](https://github.com/tektoncd/catalog/tree/v1beta1/git) task

[2020-04-14 06:46] vdemeester commented on #2377
/kind bug

[2020-04-14 06:49] vdemeester commented on #2380
I do agree with the latest point (aka using the `digest` of the image). But I don't except all the image to come from Tekton GCR repositories, neither to be covered by the same software license. `busybox` and `tianon/true` are both images that fit our need.

We need to use `digest` for those two when we release so that it inject those image wit hdigest too.

[2020-04-14 07:17] vdemeester commented on #2387
/kind bug

[2020-04-14 09:38] NikeNano commented on #2362
I start on a PR in the mean time, hope that is fine :)

[2020-04-14 11:03] ImJasonH commented on #2380
/assign @ImJasonH

[2020-04-14 11:08] sbwsg commented on #2050
Couple questions that spring to mind:
- What does a Task with a `runAfter: [my-map-task]` do?  Does the `runAfter` expand into a list of all the map tasks?
- Similarly for `runAfter: [my-reduce-task]`, I presume this expands into `runAfter: [my-reduce-task-N]` where N is the final iteration's index?

What I particularly like about this is it seems we could statically generate the entire Pipeline p

[2020-04-14 11:25] sbwsg commented on #2387
I think the problem is here: https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1alpha1/pipeline_validation.go#L143-L150

In this block we extract all variable substitutions: `$(params.prefix)` and `$(tasks.generate-suffix.results.suffix)`.  Then `LooksLikeContainsResultRefs` checks if any of those substitutions looks like a result substitution.  `tasks.generate-suffix.results.suf

[2020-04-14 14:14] sbwsg commented on #2367
Should now be resolved since https://github.com/tektoncd/pipeline/pull/2368 is merged.  Thanks @eddycharly !

[2020-04-14 14:14] #2367 closed

[2020-04-14 14:16] eddycharly commented on #2367
Hope it fully solves the issue. Ping me on slack if it comes up again.

[2020-04-14 14:24] sbwsg opened #2388 "Decide policy on TaskRun/PipelineRun labelling scheme"
# Expected Behavior

Tekton Pipelines has a deprecation policy on the labels that get added to PipelineRuns and TaskRuns.  Example of these labels: `tekton.dev/pipeline: volume-from-template` is added when I create a PipelineRun referencing the `volume-from-template` Pipeline.

# Actual Behavior

I don't think we have a policy outlined anywhere that describes when/how these labels could be changed

[2020-04-14 14:44] bobcatfish commented on #2381
/assign jerop

[2020-04-14 14:44] bobcatfish commented on #2381
🤔

[2020-04-14 14:49] sravankumar777 commented on #2375
@bobcatfish, thanks for your response.
Yes, makes sense with adding serviceAccountName on TaskRun or PipelineRun.
We the current latest version v0.11.0, we were able to run the pipelines by specifying serviceAccountName on pipelinerun.
Was curious to query whether, there was any issue introduced between the releases 😄

[2020-04-14 15:09] GregDritschler commented on #2050
Pre-generation only works if tasks are only allowed to iterate on statically-defined arrays and not on the results of previous tasks.  This seems like a key decision that has to be made.

[2020-04-14 17:16] othomann commented on #2387
will take a look at this.

[2020-04-14 17:50] skaegi commented on #2050
Yes that's correct re: runAfter (although it really would be nice to have)

The idea was definitely that the structure can be statically generated at "TaskRun" time however the array might come from a previous TaskRun result so the structure cannot always be created before the pipeline run. (and repeating what @GregDritschler also said!)

[2020-04-14 17:52] jlpettersson commented on #2332
I agree that a `CronJob` as in https://github.com/tektoncd/experimental/issues/479 could solve this problem unless we have a better option. It is the Trigger that create new *Run now, a possible solution could be to also "garbage collect" there, but I don't see a good place for the limit-field there. So I am fine with a "garbage collect"-CronJob as a solution for now.

[2020-04-14 18:01] #2332 closed

[2020-04-14 18:28] waveywaves opened #2391 "Improve TaskRun Execution via Supervisor / Conductor Container"
# Expected Behavior

Currently TaskRuns have no central execution manager / "runtime" which takes care of the execution of the Steps in the Task (which need to be in a certain order, or a manipulated order in case of debug). This is an issue as the logic necessary to execute the steps lie within the Steps themselves through the Entrypoint Image whereas there should be an external supervisor / cond

[2020-04-14 18:29] waveywaves commented on #2391
cc @skaegi @ImJasonH

[2020-04-14 18:36] waveywaves commented on #2391
/assign

[2020-04-14 20:30] davissp14 commented on #2372
The majority of our projects and pipelines would follow more or less the following workspace binding specification:

[code]

As far as I can tell, there's no clear need to have project-specific information in our binding specifications.  I understand that there could be some projects that will have very specific workspace requirements, but this would fall outside of the norm.

[2020-04-14 20:53] jlpettersson commented on #2372
I tend to agree with this. A "RunConfiguration" or something similar may also be a place to put "garbage collection" configuration that I elaborated about in https://github.com/tektoncd/pipeline/issues/2332

But in the case of `volumeClaimTemplate` - I feel that it is correct to put it in `PipelineRun`, then it is created by the pipeline-run-controller and can have the `PipelineRun` as the "owner"

[2020-04-14 22:27] davissp14 commented on #2372
Yeah, it looks that way.
https://github.com/tektoncd/dashboard/blob/0e1a4daf3e3bc316a269ee4990e59cc7a2e6ff11/src/containers/CreatePipelineRun/CreatePipelineRun.js#L312

Also, correct me if I'm off base here, but triggers seem analogous to defining service API endpoints.  It makes a lot of sense for handling incoming events from external sources, but sending everything through these triggers doesn'

[2020-04-14 23:00] jlpettersson commented on #2372
I must admit that I know very little about the dashboard, yet. I will try it out in the week. But I wonder how authentication, authorization and respect of namespaces is handled here. In a web application I would expect that is handled by OIDC. But I am falling a bit off-topic here.

Yes, I agree with that. I see Triggers as the "entrypoint" for the PipelineRuns/TaskRuns that the namespace owner h

[2020-04-15 03:11] FogDong opened #2396 "Long running and short duration job orchestration in pipeline"
## Why needed
It's actually a quite common scenario, such as when the user wants to start the model serving after training the model once. Then the hybrid orchestration of long running and short-duration job will be needed. And I wonder will this feature be considered for future plans.

## Current solution
Now my idea is to control a client in the task to start a long-running job, and then the cli

[2020-04-15 06:12] vdemeester commented on #2372
Just like the cli, a user can have pipeline installed and not triggers, thus the dashboard (and the cli), need to be able to create `*Run` using only the API.

[2020-04-15 11:01] jlpettersson opened #2398 "Make emptyDir the default volume source for workspaces in TaskRun"
In the case when we have a `Task` with a workspace, e.g.

[code]
# Expected Behavior

That Tekton could provide me with good default values when possible and the convention is a good fit for the problem.

When I create a `TaskRun` _without_ defining a workspace volume, I can get a working solution by convention.

Example (YAML) but use case is useful for e.g. **cli** as well:

[code]

And the Task

[2020-04-15 11:08] vdemeester commented on #2398
/kind feature

[2020-04-15 11:30] sbwsg commented on #2398
Thanks for writing this up!  Two thoughts on this:

- I'd like defaults such as this to be configurable when at all possible.  Relying purely on convention should, in my view, be left to higher level tools.  So adding some support to our defaults `configmap` would be preferable over a baked-in constant in the controller code.  My question then would become - should we have a separate default for T

[2020-04-15 12:25] jlpettersson commented on #2398
I understand your thoughts. But in the case of workspace volume for a `TaskRun`, I think this would almost always be configured to use an [emptydir](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir). Not many other options is useful here. E.g. it is not so useful to allocate storage (PVC) for a single `TaskRun`.

Here I am assuming that a workspace is _most commonly_ used for passing

[2020-04-15 13:50] sbwsg commented on #2398
Yeah, I completely agree with you about the common case.  In isolation I think this would make absolute sense to be the default.  To expand further on the reasons I have against the convention:

1. We're in beta now and have an existing behaviour, which is to fail by default if a workspace is not provided in a TaskRun.  Making this change to the default would likely be _better_ but would be a surp

[2020-04-15 13:58] jcmcken commented on #2050
I believe Argo Workflow supports looping, recursion, etc. It might be useful to explore how it's done there for ideas, although I'm not sure if it satisfies everyones' use cases.

[2020-04-15 14:04] chengjingtao commented on #1690
@bobcatfish  yes, I will work on this  and sorry for my slow action.
I will submit a PR to  implement `adding reason and message into the terminatioonMessage` this weekend.

[2020-04-15 14:30] #2398 closed

[2020-04-15 16:16] davissp14 commented on #2372
Yeah, I think that makes sense.

Ideally, we would be able to define re-usable configurations that can be used across PipelineRuns without the use of Triggers.  Unless there are plans to heavily integrate Triggers into Pipeline, or make it a required dependency, it seems like it would make the most sense to keep Triggers scoped to interfacing with external services.

[2020-04-15 16:23] afrittoli commented on #2391
Would it be possible to inject the supervisor container only in case of debug, and have Tekton working with entrypoints alone for now?
That would give us the possibility to get to know better the "supervisor mode" so we'd have more data to decide whether we want it for Tekton in normal mode too or not.

[2020-04-15 17:41] #2377 closed

[2020-04-15 18:29] JCzz opened #2404 "Pipeline vs TaskRun"
Question:

What is the purpose of [TaskRun](https://tekton.dev/docs/pipelines/) when you can use Pipeline to run Tasks?

Connection between concept and implementation:
My brain got to rest by thinking; a TaksRun is for testing a(one) Task and Pipeline is for many tasks potentially waiting on each other etc. railway scenario?

But the I came across this IBM intro, that [says](https://developer.ibm.

[2020-04-15 20:02] gsaslis commented on #50
Just to add (or rather try to help clarify) a use case here.

This is a very useful feature for long-running pipelines that probably fall outside the strict CI scope. Most pipelines I have in mind are essentially workflow automation pipelines and have external dependencies such as 3rd party systems that need to be up / reachable.

When such a pipeline fails at step 7/11, you really don't want to r

[2020-04-15 20:25] ImJasonH commented on #2391
I think I'd actually prefer the opposite: if we think a supervisor will be easier/better, explore and experiment with it _without_ adding debug mode, eventually replace the file-based signalling we do today, and then and only then, start to support pausing/unpausing steps. That separates the infrastructure upgrade work from the feature work, and lets us bail early if the infra change turns out to

[2020-04-15 20:29] jlpettersson commented on #2372
I agree with most of that.

I would say **Manual** and **API** is the same, both is via ApiServer, but imperative or declarative.

My view is that a Run is either initiated via:

**ApiServer** - need cluster authentication + RBAC. This can be done both _imperative_ or _declarative_.
**Triggers** - authentication and authorization is defined by the trigger.

The **dashboard** is not the only webapp

[2020-04-15 20:52] ad22 commented on #1843
fyi, #2320 performs a refactor of the fetch+submodule fetch and combines it into a single call. Subsequently, this can be fixed w/o much change.

[2020-04-15 21:20] #2323 closed

[2020-04-15 21:30] othomann commented on #2387
@sbwsg this can be closed since https://github.com/tektoncd/pipeline/pull/2393 has been merged. Thanks.

[2020-04-15 21:50] r0bj opened #2407 "git auth with multiple keys for the same provider fail"
# Expected Behavior

Multiple ssh keys to the same host/provider (eg. github) are working.

# Actual Behavior

Only first ssh key for github is working, rest is failing.

# Steps to Reproduce the Problem

Two different secrets with two different ssh keys for two different github repos:
[code]

ServiceAccount:
[code]

It produces `.ssh/config` like this:
[code]

For ssh this config is fine but git

[2020-04-15 22:09] JCzz opened #2408 "Workspace/docker-source in pipeline tutorial"
TaskRun in the [Pipeline tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md), has a "pathToDockerFile":
`/workspace/docker-source/examples/microservices/leeroy-web`
but looking in the "PipelineResource" url there is no subfolder in the repo: `https://github.com/GoogleContainerTools/skaffold`

But I can find `examples` folde , so should it not be:
`/workspace/examples/micro

[2020-04-15 23:11] animeshsingh commented on #2339
thanks @skaegi any update on this?

[2020-04-15 23:15] animeshsingh commented on #1684
hey folks - this is one of the key requirements for the work we are leading from Kubeflow side to run on top of Tekton. Would be great to get current status, and see how we can accelerate this

cc @tomcli @afrittoli @skaegi

[2020-04-15 23:17] animeshsingh commented on #2322
@Tomcli can you be specific around which of the variables are currently needed for supporting Kubeflow, and what are alternatives?

[2020-04-15 23:18] animeshsingh commented on #2336
thanks @othomann !!!

[2020-04-15 23:44] r0bj commented on #2407
More thoughts about it, if it's not possible to create single `.ssh/config` file that allows git to authenticate to multiple github private repos then it completely change `EventListener` use case. Instead of use one `EventListener` for multiple private repos (single `TriggerTemplate` with `ServiceAccount`) we need to use many `EventListener`s, each for every single private github repo (each requi

[2020-04-15 23:52] r0bj commented on #2407
Or maybe at least we can make the `git-init` image (gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init) from catalog https://github.com/tektoncd/catalog/blob/v1beta1/git/git-clone.yaml to work properly and respect multiple `IdentityFile` clauses from `.ssh/config`?

[2020-04-15 23:57] test2016new commented on #2345
Sorry for the delay. I'm using external image now for testing and unable to copy  the application source code to the image container. I tried using volume/volumemount, gitrepo volume and workingDir and nothing worked. I didn't get any error. But didn't see the application code in the image container when I run the task. Appreciate if you could provide some details on this.
`apiVersion: tekton.dev/

[2020-04-16 00:15] pierretasci commented on #1839
First PR with the new design is up https://github.com/tektoncd/pipeline/pull/2395

[2020-04-16 00:23] pierretasci commented on #2298
Just seeing this now. I think this is very doable without much additional overhead. Definitely worth a look into. There is also KPT (https://github.com/GoogleContainerTools/kpt) which promises something similar.

[2020-04-16 00:24] #2380 closed

[2020-04-16 04:46] kostyaplis commented on #1350
@dibyom We've been hitting by the same error for quite a long time...
We are using Github Actions to invoke about 40 `TaskRun`s on each PR to perform build/test.
Some of them (randomly?) failing on `credential-initializer` container with following error in logs:
[code]
For past 4 weeks there were at least 50 `TaskRun`s failed with the same issue.
Currently we running `tekton-pipelines:v0.10.1` on

[2020-04-16 04:58] r0bj opened #2409 "git basic authentication fail"
# Expected Behavior

Tekton generates valid `/tekton/home/.git-credentials` file and git basic authentication works.

# Actual Behavior

Tekton generates invalid `/tekton/home/.git-credentials` file and git basic authentication fails.

# Steps to Reproduce the Problem

taskrun.yaml:
[code]

output:
[code]

Note: instead of proper line:
[code]
there is:
[code]

# Additional Info

- Kubernetes versi

[2020-04-16 06:03] vdemeester commented on #2409
@r0bj Thanks for the issue. According to the documentation [`auth.md`](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-git), for `git` basic-auth, `https://github.com` seems to be required.

That said, I feel we may be able to *infer* `https` in the case it is not specificed.

/kind bug

[2020-04-16 06:14] vdemeester commented on #2387
/close

[2020-04-16 06:14] #2387 closed

[2020-04-16 06:23] r0bj commented on #2409
@vdemeester indeed, protocol (https) should be specified in annotation, thanks for pointing that out. I was working with git ssh before and there is no protocol specified in annotation so that's why I missed it.

[2020-04-16 06:32] vdemeester commented on #2407
It is indeed one of the current limitiation of `creds-init`. There is multiple potential solution for this:

- have one `.ssh/config` as proposed above
- for each "duplicate provider", generate its own `.ssh/config` (and what comes with it, the ssh key, …) — this would require the *clone* task to be able to refer the correct one

`PipelineRun` (or `TaskRun`) are the one in need for `TriggerTemplat

[2020-04-16 08:21] vdemeester opened #2410 "Change the storage version to v1beta1 types"
Once conversion webhook are in place (see #2047), we should be able to switch to `v1beta1` to storage types (and when we go to `v1` we will be able to switch to `v1` as storage right away).

This should help cleaning up the code (both in `pkg/apis` *and* `pkg/reconcilier`) and will make the API easier to reason about (aka `v1alpha1` won't need to have `v1beta1` fields anymore).

The target for thi

[2020-04-16 09:11] vincent-pli commented on #2404
@JCzz
`Task` and `Pipeline` are the template,  `Pipeline` is for multiple `Task` combination.
`Taskrun` and `Pipelinerun` are one time execution for `Task` and `Pipeline`, and they will supply some runtime parameters.

So, that's means when you create `Task` or `Pipeline`, just a CR created, no pod, no container until a `Pipelinerun` or `Taskrun` which refer to them were created.

[2020-04-16 11:48] AlanGreene commented on #2408
See https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#using-resources

So in the tutorial, `/workspace/docker-source` corresponds to the path used for the input resource named `docker-source`

[2020-04-16 12:20] AlanGreene opened #2415 "TaskRun status wrong when unnamed step fails (followed by named step)"
# Expected Behavior
TaskRun status should correctly identify the failed step.

# Actual Behavior
When an unnamed step fails and it is followed by a named step, the TaskRun status incorrectly identifies the named step as the reason for the failure.

# Steps to Reproduce the Problem

[code]

In both cases 'step 1' fails (expected).
The TaskRun status for `test-unnamed-correct-` identifies 'step 1' c

[2020-04-16 12:22] vdemeester commented on #2415
/kind bug

[2020-04-16 12:50] AlanGreene opened #2416 "Unexpected start times reported for skipped steps"
# Expected Behavior
Step start times should be sequential regardless of whether they actually ran or not.

# Actual Behavior
If a TaskRun fails, any remaining skipped steps retain their original container start time instead of being updated by the entrypoint binary.

# Steps to Reproduce the Problem

[code]

The step start times for `test-start-time-correct-` are recorded and reported correctly, r

[2020-04-16 14:00] #2337 closed

[2020-04-16 14:05] jerop commented on #2381
✋

[2020-04-16 14:05] bobcatfish commented on #2381
/assign jerop

[2020-04-16 14:07] vdemeester commented on #2381
I ran the task manually to update members of the org :angel: We had.. a small issue on it :stuck_out_tongue_closed_eyes:

[2020-04-16 15:09] vincent-pli commented on #2415
Checked the code, we sort the `pod.Status.ContainerStatuses` with `FinishedAt`, then get the first one whose exit code is not 0.
https://github.com/tektoncd/pipeline/blob/6b1579c89d75ec4e58c5630819429709e21f7332/pkg/pod/status.go#L265-L274

Sometimes the `FinishedAt` are the same for several steps, then the sort will do nothing, that's means the `container(step)` with same `FinishedAt` will sort b

[2020-04-16 15:13] AlanGreene commented on #2415
@vincent-pli to be clear, the issue here isn't about sorting although it does look like that's a problem too. My issue was about ensuring the correct start time is set on steps.

[2020-04-16 15:16] AlanGreene commented on #2415
Sounds like there might be some overlap with https://github.com/tektoncd/pipeline/issues/2416

I wonder is there a reason we're sorting on the finish time instead of start time? It looks like we don't have enough precision in the recorded times either way to rely on times for accurate sorting.

[2020-04-16 15:29] a-roberts opened #2417 "Memory requirement increase for the same pipeline using beta"
# Expected Behavior
I shouldn't be requiring so much more memory for the same Tekton Pipeline - in my case I had to both expand my cluster's memory settings (from 2 GB to 12 GB) and introduce LimitRange

Update: see my post involving the Prometheus graphs, the increase isn't so big as I figured actually, and in my case using the LimitRanges wasn't helpful

# Actual Behavior
As part of https://gith

[2020-04-16 15:33] vdemeester commented on #2417
One "guess" might be the entrypoint "logging" methods.. maybe ?
Looking at the [changes](https://github.com/tektoncd/pipeline/compare/v0.10.2...v0.11.1), the only change related to the entrypoint is https://github.com/tektoncd/pipeline/commit/d7820215df7132b168c84a3b03a586f079eb098e#diff-4dbf8b042dd60907e07ee142e3c31b40

/kind bug

[2020-04-16 15:38] bobcatfish commented on #2409
Sounds like you've been able to make it work @r0bj ? I'm going to close this but plz re-open if I'm wrong.

[2020-04-16 15:38] #2409 closed

[2020-04-16 15:39] bobcatfish commented on #2408
One thing that might make this clearer in the tutorial would be to use the variable interpolation for the path - then you don't need to think about it at all!

[2020-04-16 16:05] bobcatfish commented on #2407
Note that @sbwsg is proposing some improvements to creds init in https://github.com/tektoncd/pipeline/issues/2343 which I think takes a pretty firm divergence from the annotation based approach we've had so far and makes usage more explicit

[2020-04-16 16:07] bobcatfish commented on #2404
@JCzz sometimes we go back and forth on whether the TaskRun concept really is useful to users or not, since you can always have a Pipeline with just one Task and you get the same thing. It's definitely useful as an implementation detail of PipelineRuns - but even in our own dogfooding we use TaskRuns fairly often when we just want to run one Task so it seems useful.

I'm gonna close this but pleas

[2020-04-16 16:07] #2404 closed

[2020-04-16 16:44] danielhelfand opened #2419 "TaskRuns Part of a PipelineRun Do Not Have Condition Name as Part of PipelineRun.Status.TaskRuns"
This issue was originally opened in the CLI repo: https://github.com/tektoncd/cli/issues/882

When TaskRuns have conditions, the name of the condition becomes part of the TaskRun name. However, it appears that TaskRuns stored as part of the list of TaskRuns under PipelineRun.Status.TaskRuns don't have the condition name as part of the TaskRun name.

In the case of the CLI, this causes a panic for

[2020-04-16 16:46] danielhelfand commented on #2419
/kind bug

[2020-04-16 16:54] vdemeester commented on #2419
/cc @dibyom

[2020-04-16 17:05] Tomcli commented on #2322
@animeshsingh We would love to have variable substitutions for pipelinerun name, taskrun name, and pod name because these variables are often used in Kubeflow. Right now we have workaround to get those values from the metadata labels and pass it as environment variables. But if Tekton can also support it as variable substitutions, then the integration will be a lot smoother.

[2020-04-16 17:43] bobcatfish commented on #2322
Oh perfect @Tomcli we've actually got https://github.com/tektoncd/pipeline/issues/1522 to add pipelinerunname and taskrun name (I was even talking about that with @jerop today in case she gets to it 😉 )

pod name is a bit trickier because that would mean having a kubernetes specific variable replacement - in theory we like to limit the amount of k8s specific stuff we have in the API as much as we

[2020-04-16 18:25] Tomcli commented on #2322
Many of the pod name use cases in Kubeflow is for referencing a task run because Argo doesn't have names for task run. Therefore, some API logic assumes the task run name is the pod name. Also, some users take advantage of the pod name variable substitutions and use it in their tasks to do additional work using the k8s api, so that also created some edge cases for the translation.

[2020-04-16 21:07] 2020testuser opened #2423 "Gradle Image in Step failing"
I'm using Gradle image (from docker repo.) to build my SpringBoot application in my Tekton Step and getting the below error.
Caused by:java.io.IOException:Cannot run program 'docker' (in directory "/workspace/source"} : error=13, Permission denied.
I've mounted the docker socket with mount path as '/var/run/docker.sock' to my host system's '/var/run/docker.sock'.
I'm getting the below exception in

[2020-04-16 21:19] test2016new opened #2424 "Step using Gradle image Failing with docker issue"
# Expected Behavior
I'm using Gradle image (from docker repo.) to build my SpringBoot application in my Tekton Step . The Tekton Step must be executed without any errors.

# Actual Behavior
Getting the below error.
Caused by:java.io.IOException:Cannot run program 'docker' (in directory "/workspace/source"} : error=13, Permission denied.
I've mounted the docker socket with mount path as '/var/run/d

[2020-04-16 21:30] maxres-fr opened #2425 "Pipeline Resource of type git doesn't properly handle revisions that are tags"
# Expected Behavior

A resource type of git should fetch and check out a tag if the revision parameter is a git tag.

[code]
Where `params.gitrevision` is a git tag.

I expected that the task's workspace would have the tag checked out. e.g where the tag is `2020-04-06-AllaNorma` running `git status` should look like
[code]
# Actual Behavior
Tags are not fetched, the tag isn't checked out. Logs ind

[2020-04-16 21:35] sbwsg commented on #2425
I believe this is a dupe of #2282 and should be resolved by https://github.com/tektoncd/pipeline/pull/2320 ?

[2020-04-16 21:36] bobcatfish commented on #2425
Whoa cool! Sorry for putting you though writing up an issue about this @maxres-fr i didnt know about those others, but the good news is that it looks like we almost have a fix already :D

[2020-04-16 21:43] bobcatfish commented on #2424
That's weird @test2016new ! Is it possible to also include what your `volume` declarations look like?

[2020-04-16 21:44] bobcatfish commented on #2423
I think this is the same as #2424?

[2020-04-16 21:44] #2423 closed

[2020-04-16 21:48] maxres-fr commented on #2425
@sbwsg @bobcatfish  going to close this, I missed that!

[2020-04-16 21:48] #2425 closed

[2020-04-17 00:08] danielhelfand commented on #2419
I think I've misunderstood here. Apologies, I'm not tremendously familiar with conditions.

It appears what is happening is that Conditions result in their own TaskRuns. If a Condition fails, it seems the TaskRun to follow is stuck in a PodInitializing state, causing it to be returned with a nil status.

I think what this leaves me is similar questions:

1. In general, I find it very confusing tha

[2020-04-17 02:43] vincent-pli opened #2430 "TaskRun step status in wrong order when there are unnamed steps"
# Expected Behavior
The `Taskrun.status.steps` should with the exactly same order with `steps` defined in `Task`.
# Actual Behavior
In `Unnamed` base it does not.
# Steps to Reproduce the Problem
Apply the case in #2415
then check the `Taskrun.status.steps`

# Additional Info
The root cause is we sort it based on `step.name` in `task` but they are "" in this case.
- Kubernetes version:

  **Output

[2020-04-17 04:35] danielhelfand commented on #2417
Just wanted to add here that specifying a LimitRange minimum for containers applies that much memory to each container part of a TaskRun/entire PipelineRun. So that is most likely the cause. Would it perhaps make more sense to not specify a minimum?

In that case, the max memory values for CPU, storage, and memory specified by a container would be the total amount of memory specified and then util

[2020-04-17 06:25] vdemeester commented on #2430
/kind bug
/assign vincent-pli

[2020-04-17 07:29] a-roberts commented on #2417
Yeah definitely, and I'm gonna play with the numbers some more today, I bet I can narrow it down to just needing 2 GB max for the one container and not however much the default was so I can add more information here then (so perhaps it's gone from needing a maximum of 1 GB to 2 GB, while that's a 2x jump at least it wouldn't be 6x!). Thanks for the suggestion

[2020-04-17 07:31] hrishin commented on #1786
Hi @cccfeng

Thank you for opening this issue and apologize for not able to merge existing PR.
To summarize the PR discussion,
The current state of metrics could quickly overload metrics aggregator systems with the volume of metrics data. Thus a possible solution is to aggregate the `PipelineRun/TaskRun` metrics instead of maintaining all `Runs` history.
However, these metrics could be consumed by

[2020-04-17 08:45] a-roberts commented on #2417
Done another experiment that's a little more fine-grained.

So I set my max amount as per @danielhelfand's suggestion to 2 GB, instead of 1 GB, LimitRange now resembles:

[code]

I get the same out of memory problem though, I'm wondering if it's not growing in time - if this worked I planned to then start shifting the memory amount lower and lower to see what the threshold is.

For not setting min

[2020-04-17 09:28] eddycharly commented on #1542
Linking issue in plumbing https://github.com/tektoncd/plumbing/issues/278
Various PRs in the experimental repository are linked to the issue.

This is WIP.

[2020-04-17 10:24] JCzz opened #2432 "Namespace for; kubectl create secret docker-registry regcred"
Reference [doc](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md)

When running:
`kubectl create secret docker-registry regcred... `

Should that be in tekton-pipeline namespace?

Like: `kubectl create secret docker-registry regcred -n tekton-pipeline... `

[2020-04-17 12:04] danielhelfand commented on #2432
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#configuring-task-execution-credentials

It should be in the namespace where your ServiceAccount is created as it will use the Secret you are creating.

My recommendation would be to create all your resources for the tutorial in a separate namespace than tekton-pipelines.

[2020-04-17 12:09] danielhelfand commented on #2417
Can you provide information from the Pod of the TaskRun doing a kubectl describe pod? Could help point out the resources being allocated for each container.

[2020-04-17 12:12] a-roberts commented on #2417
Yeah, so this is for the limit range where I'm tryna just set the max:

[oompoddescribebeta.txt](https://github.com/tektoncd/pipeline/files/4492796/oompoddescribebeta.txt)

[2020-04-17 13:51] JCzz commented on #2432
Thanks for info

[2020-04-17 13:51] #2432 closed

[2020-04-17 14:17] JCzz commented on #2408
Right, thanks!

I see now:
[code]
Also found:

[code]

What do you mean by "variable interpolation"?

[2020-04-17 14:27] sbwsg commented on #2408
The variable interpolation that's being referenced is `$(resources.inputs.docker-source.path)` which you can use instead of hard-coding `/workspace/docker-source` in Tasks.  The tutorial has been updated to use this variable now in PR https://github.com/tektoncd/pipeline/pull/2418.

Apologies it's a bit confusing but this doc, `docs/workspaces.md`, describes a different feature.  It's not directly

[2020-04-17 14:27] #2408 closed

[2020-04-17 14:50] #2183 closed

[2020-04-17 15:58] a-roberts commented on #2417
^^ Updated with another experiment, looks like it's the copy to output step that's causing the problem specifically with Tekton beta.

[2020-04-17 16:05] AlanGreene commented on #2417
I'm pretty sure we're copying more in that step than we need, so could definitely slim it down (ignore node_modules etc.), but wouldn't expect it to be causing OoM

[2020-04-17 16:58] skaegi commented on #2417
crazy I know but... that volume backing the resources doesn't happen to be in-memory is it? That step is just doing a `cp` + `entrypoint` stuff.

[2020-04-17 17:05] pierretasci opened #2433 "Feature: Pipeline Checkpointing"
This is a feature request for "checkpointing" built into the Tekton controller to save the state of the pipeline after each Task Step/Task completion.

# Expected Behavior
There are several reasons to want the state saved periodically:
- produces an accurate debug log that can help diagnose failures
- enables restarts of a partial pipeline as described in #50
- gives you a place to put artifacts t

[2020-04-17 17:18] jlpettersson commented on #2330
I am trying to understand / get a clear use case here.

Here it sounds like the use case is for handling **cached dependencies/artifiacts**. Or is the use case for using a _workspace_ to pass files between tasks **without a PVC**?

Here it sounds like a use case requiring both **GCS bucket** and a **PVC**. The use case could also be to use **GCS bucket** in the pipeline - have a task that syncs da

[2020-04-17 17:53] sbwsg commented on #2330
Ah, apologies, I see where the confusion comes from.  The intended use case is passing files between Tasks in a Pipeline.  PipelineResources have this existing behaviour: an `output` resource in Task A of a Pipeline can be "linked" to an `input` resource of Task B in the same Pipeline and the files of the PipelineResource will "magically" be copied between the Tasks when the PipelineRun executes.

[2020-04-17 20:46] bobcatfish commented on #2388
I vote we consider these covered by our deprecation policy!

[2020-04-17 20:50] a-roberts commented on #2417
Alas, it's hostpath in both cases (so I'm on Docker Desktop which gives me Kubernetes 1.15.5) 🤔

[2020-04-18 04:28] cccfeng commented on #1786
Never mind. It's really better to support different uses through configuration items and it needs to be designed. I'll turn off this issue and PR first.

[2020-04-18 04:28] #1786 closed

[2020-04-18 05:39] r0bj opened #2436 "git-init depth is not working as expected"
# Expected Behavior

`git-init` (gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:latest) from https://github.com/tektoncd/catalog/blob/v1beta1/git/git-clone.yaml depth parameter works as expected.

# Actual Behavior

`git-init` is not working as expected, always set depth to 1.

# Steps to Reproduce the Problem

[code]
[code]
(There are more that 1 commit in this repo)

No matter

[2020-04-19 00:59] #2430 closed

[2020-04-19 04:19] danielhelfand commented on #2419
Closing this issue and will follow up with an issue regarding including TaskRuns that are created as part of Conditions in a PipelineRun's list of TaskRuns.

[2020-04-19 04:19] #2419 closed

[2020-04-19 05:05] danielhelfand opened #2438 "Include TaskRun Created by Condition in List of TaskRuns Under PipelineRun Status"
# Expected Behavior

When a TaskRun is created by a Condition that is part of a PipelineRun, the TaskRun created should show up in the [map of TaskRuns that are part of a PipelineRun Status](https://github.com/tektoncd/pipeline/blob/dc0a8b9807b2f0cbe4d5f827098996c39a1124a9/pkg/apis/pipeline/v1beta1/pipelinerun_types.go#L253).

# Actual Behavior

The TaskRun created by the Condition appears as a ne

[2020-04-19 16:50] JCzz opened #2439 "One too many in resource in Task resources inputs - tutorial?"
In this [tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#configuring-pipeline-execution-credentials)

Is there not one too many inputs in this "Task" for deployment. logically there should not be any git in this task - still learning so I am probably wrong but check this:
[code]

To me there should not be any:
[code]

But only:
[code]

[2020-04-19 16:55] danielhelfand commented on #2439
The git repository is needed since it holds the manifest file to be applied by the run-kubectl step.

The path param is used to specify the file path to the manifest to be applied. This file path corresponds the location of the manifest in the git repo.

[2020-04-19 17:01] danielhelfand commented on #2439
There are certainly ways to not have to use this git PipelineResource to provide the manifest, but it just happens to be the way the tutorial Task was created.

[2020-04-19 17:33] JCzz commented on #2439
Right, got it - thanks!

[2020-04-19 17:33] #2439 closed

[2020-04-19 18:40] JCzz opened #2440 "Webhook sample - latest kubectl apply?"
installed latest:
`https://tekton.dev/docs/getting-started/`

And I can now see a Webhook running pod, does that mean that webhook extension is in pipelines?

And if so, do you have an example for a Github webhook(Google Kubernetes Engine)?

Thanks in advance

[2020-04-20 01:53] jinchihe opened #2441 "Any plan to develop Python SDK for Tekton?"
Do we have plan to develop or generate Python SDK for Tekton? There are same user case that would like to use Python (or in notebook) derectly, such as machine learning cases etc ... That would be great if have Python SDK for tokton. Thanks.

[2020-04-20 05:18] vikas027 opened #2442 "How to pass a variable/parameter from PipelineRun to Pipeline"
# Expected Behavior
`PipelineRun` parameter `myimagetag ` should be passed to `Pipeline`

# Actual Behavior
`PipelineRun` parameter `myimagetag ` does not pass to `Pipeline`, the default value of latest is used instead

# Steps to Reproduce the Problem
Apply the below yaml after creating other resources

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

[code]

[2020-04-20 09:40] vincent-pli commented on #2415
May be we can use `FinishedAt` and `StartAt` together.

[2020-04-20 10:26] vdemeester commented on #2441
It's not in our plan yet to have an official python sdk for tekton. It could become in our plan but most likely once Tekton is considered GA :wink:

/kind question
/kind feature

[2020-04-20 10:34] adshmh commented on #1818
@bobcatfish if there are other validations that would be helpful, I can submit a PR. So far, the `secrets` field and the uploaded `status` are covered.

[2020-04-20 10:39] a-roberts commented on #2417
Had another look today, this time armed with Prometheus.

Made it all the way to publish images (so basically worked), and this is weird because I now have metrics-server installed on my cluster as well as Grafana. No limit ranges.

This is the data I captured

![image](https://user-images.githubusercontent.com/12814972/79742839-5acce100-82fb-11ea-9f8c-ce323a3b1f72.png)

I'm going to do the same e

[2020-04-20 12:43] storyicon opened #2443 "🐤 Does Tekton support using Github/Gitlab token？"
I'm sorry I encountered the same problem as #1983, it took some time but no solution was found.
In the [document](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-git) cited in this issue, I only found a way to pull the Git repository using `ssh` and  `basic auth`.
Does Tekton support using `Github`/`Gitlab` token to pull private repositories? Did I miss something

[2020-04-20 12:47] sbwsg commented on #1824
Fixed by #2412

[2020-04-20 12:47] #1824 closed

[2020-04-20 12:47] storyicon commented on #2443
![image](https://user-images.githubusercontent.com/29772821/79753102-f5531180-8347-11ea-8082-b2ad4b335fb9.png)

This is me who read the document all afternoon

[2020-04-20 12:55] sbwsg commented on #2436
Thanks for the issue!  Two thoughts:

1. The reason your git-init code snippet doesn't work is because your boolean flags (-sslVerify, -submodules) **must** use an `=` to set their value.  If they do not then golang's flag package ignores them as well as any flags after them.  So since you have `-sslVerify true -submodules true -depth 100` and the `-sslVerify` flag doesn't have the `=` then `-dept

[2020-04-20 12:55] #2436 closed

[2020-04-20 12:55] #1030 closed

[2020-04-20 12:55] bobcatfish commented on #2442
( @vikas027 i changed the wording in the issue a bit based on the comment in your example! )

[2020-04-20 12:57] bobcatfish commented on #2442
@vikas027 in your example it looks like the name of the parameter in the pipelinerun doesn't quite match the pipeline (i'm wondering if this isnt exactly what you're running though since validation should catch this?)

In your pipelinerun:

[code]

In your Pipeline:
[code]

In your pipeline you would need to pass a variable called `imageTag` instead of `image-tag`

[2020-04-20 13:33] GregDritschler commented on #2415
Same discussion about this problem in #2029 but it ground to a halt looking for a solution.  Using resolution of seconds (which is all that k8 api server has for finish time) doesn't work.  Tekton is managing its own start times so that might work with a higher resolution.

[2020-04-20 14:30] sbwsg commented on #2257
I think it's fair to say that support for multi-tenant scenarios is somewhat nascent in Tekton Pipelines.

We've started by creating separate roles for the Pipelines controller:
- [`tekton-pipelines-controller-cluster-access`](https://github.com/tektoncd/pipeline/blob/master/config/200-clusterrole.yaml#L15-L41) accounts for cluster-scope access that the controller currently requires.
- [`tekton-pi

[2020-04-20 14:43] vincent-pli commented on #2415
@GregDritschler
I checked all comments in #2029, very helpful, thanks.
What do you think to introduce `StartAt` for the sorting when `FinishedAt` are exactly the same.
Since the goal is to find the first failed step, the `StartAt` and `FinishedAt` are most simple and directly solution.
Moreover, as you mentioned tekton control the `StartAt`, we can adopt a higher resolution one.

[2020-04-20 15:07] danielhelfand commented on #2438
/kind feature

[2020-04-20 15:18] dibyom opened #2445 "Finally field"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[2020-04-20 15:25] dibyom opened #2446 ""Finally" tasks for Pipeline"
# Expected Behavior

A `Pipeline` can specify tasks that **always** run at the end of a pipeline even if a task in the pipeline fails.

See design doc for syntax: https://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpNa6p-TJdHrw/edit

Larger context around failure handling design: https://github.com/tektoncd/pipeline/issues/1684#issuecomment-611016087

# Additional Info

Part of #168

[2020-04-20 15:36] dibyom commented on #1684
@pritidesai is implementing a `finally` field for always running tasks at the end of a pipeline. Hope that helps with some of your use cases. Beyond that, we are considering:
1. A "finally" step with a task
2. An "onError" step/task that runs only if the pipeline/task fails.
3. Allowing a pipeline to call other pipelines aka nested/sub pipelines for complex branches

Would this be sufficient for t

[2020-04-20 15:52] chhsia0 commented on #1559
I put up a design doc that for an alternative that's aligned with #2437:
https://docs.google.com/document/d/1e1fagYDErliLnIwU1g_N3YKVyAProhs1l14UyPIoZuM/edit?usp=sharing

[2020-04-20 15:58] chhsia0 opened #2448 "Design: "Finally" Steps in Tasks"
Related issue: #1559

# Motivating Use Cases

* A unit test step fails but a subsequent step in the same Task should upload the results to a bucket regardless of that failure.
* A Pull Request pipeline resource should update a PR with a comment reflecting the status of a failed build. The build happens in one step and then the PR resource could inject a step at the end which runs regardless of the

[2020-04-20 16:04] dibyom commented on #2448
/kind feature
/area api

Also related to #1684

[2020-04-20 16:06] #2445 closed

[2020-04-20 16:22] bobcatfish commented on #2127
Note from our working group today @skaegi pointed out that his main motivation is:

2. The ability to skip a task without skipping the rest of the branch

[2020-04-20 16:27] storyicon commented on #2443
In the end I thought of a solution and shared it with developers who had the same doubts.

For Github, you can follow the instructions of [document](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-git) to configure `Secret` and `ServiceAccount`.

You can use the following two ways to support `Github AccessToken`:
1. Configure the username in `Secret` as `AccessTo

[2020-04-20 16:27] #2443 closed

[2020-04-20 16:59] bobcatfish commented on #2134
![image](https://user-images.githubusercontent.com/432502/79778454-c1a3c780-8306-11ea-998c-27c0c4ed059f.png)

[2020-04-20 17:55] #1369 closed

[2020-04-20 18:18] wlynch commented on #2440
Hi! For running Tekton tasks in response to GitHub webhooks, take a look at the Triggers project at https://github.com/tektoncd/triggers.

In particular, https://github.com/tektoncd/triggers/tree/master/docs/getting-started has steps for getting started.

I'm going to close this, but feel free to reopen if you have more questions! ^_^

/label triage/support
/close

[2020-04-20 18:18] #2440 closed

[2020-04-20 18:26] JCzz opened #2449 "Doc: Specifying execution Conditions - where is "conditionRef: my-condition""
In this: https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#specifying-execution-conditions

[code]

Where is my-condition `conditionRef: my-condition`?

[2020-04-20 19:33] bobcatfish opened #2450 "Allow volumeClaimTemplate name to be not provided"
# Expected Behavior

Since the tekton controller is completely managing the lifecycle of PVCs created with volumeClaimTemplate, as an author of a Run specifying it, i might not care what the name of the PVC is. I'd love it if the controller could automatically generate one for me so I can skip the whole metadata section of the template if I don't need it.

# Actual Behavior

It looks like the PVC

[2020-04-20 19:44] sbwsg commented on #2417
I took an initial look at this, and am just sharing results so far.  I took the dashboard build pipeline and reduced it to just the build task.  Then I ran that pipeline in 2 clusters: 1 with 0.11.2 and 1 with 0.10.2.  Both clusters were on `1.15.9-gke.24` and each node is an n1-standard-1 machine with 2.77 GB of allocatable memory.

I would have liked to have tested each tekton version in the sam

[2020-04-20 21:25] jlpettersson commented on #2450
fmt.Sprintf("%s-%s-%s", claimName, workspaceName, pipelineRunName)

Since there always will be a `workspaceName` and a `pipelineRunName`, the PVC name will be `-<claimName>-<pipelineRunName>` and fail because the k8s compatible name can not start with a _dash_. We could omit the first dash in this case and let the PVC get the name `<claimName>-<pipelineRunName>` ?

[2020-04-20 22:19] vikas027 commented on #2442
Thanks, @bobcatfish . That was it. It was a typo in the variable, I should stop writing code after 2am. :)

By the way, how can I run the validation manually? If it is automatic, it wasn't caught.

[2020-04-20 22:19] #2442 closed

[2020-04-20 23:39] vincent-pli commented on #2416
Fixed by #2429

[2020-04-20 23:53] AlanGreene commented on #2449
Below that code snippet:

It links to the [Conditions doc](https://github.com/tektoncd/pipeline/blob/master/docs/conditions.md) for more details, which in turn links to the examples.

This could probably be made clearer by providing a simple self-contained example here and/or a full example of a valid condition in the Conditions doc.

[2020-04-21 00:16] r0bj commented on #2436
Thanks @sbwsg, use `=` fixed it for me.

[2020-04-21 00:29] r0bj opened #2452 "PipelineRun cleanup and cancelation"
To be able to cleanup old (finished) PipelineRuns, do I need to create some custom cronjob to do so? Or is there any other native way of cleaning it (some sort of PipelineRun retention policy)?

The same question is for with pipeline cancelation: a PipelineRun triggered by EventListener (let's say it's testing github PR). To cancel first PipelineRun (still running) when another PipelineRun of the

[2020-04-21 08:00] vdemeester commented on #2416
/close

[2020-04-21 08:00] #2416 closed

[2020-04-21 08:54] a-roberts commented on #2417
Thanks @sbwsg for giving this a look, that's interesting to know and a relief, I'm going to do the necessary work to give this a spin and gather some data on OpenShift as well

RE
[code]
yeah, that's the big pain I'm trying to get around (switching versions requiring a factory reset of my cluster, then going and making my resources again, setting up monitoring, etc), provided resources you've link

[2020-04-21 11:06] #2449 closed

[2020-04-21 11:48] sbwsg opened #2454 "Validate result names in Tasks"
# Expected Behavior

When a Task is submitted the validation checks that result names are allowable.  E.g. "IMAGE_DIGEST" should be disallowed but does not fail validation when the catalog kaniko task is applied: https://github.com/tektoncd/catalog/issues/285

# Actual Behavior

Validation doesn't check the naming format of result names.

# Steps to Reproduce the Problem

1. Submit a Task with an

[2020-04-21 11:48] jlpettersson commented on #2452
Yes, there is an issue about creating such a CronJob in https://github.com/tektoncd/experimental/issues/479

This comes up often. We could document that Tekton does not currently have functionality for this.

Also related #2332

[2020-04-21 12:24] AlanGreene commented on #2416
Thanks @vincent-pli, verified on the latest nightly build.

[2020-04-21 16:53] test2016new commented on #2345
Please close this issue. I used a different approach to get it working. Thanks !

[2020-04-21 17:10] test2016new opened #2458 "Image/Task Security"
# Expected Behavior
I'm using Tekton and Maven to build my application and deploy in Kubernetes.
I'm using user:root as using Docker in docker inside my task.
Is there any way not to use user-root and use my id or any default id for 'docker in docker'. If I deploy in production, this approach will not work as user-root is not allowed in production.

Need to use user - root in the Task for successf

[2020-04-21 17:16] danielhelfand commented on #2458
You can define the securityContext via a Pod template like in the example below:

https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#pod-template

[2020-04-21 17:19] danielhelfand commented on #2458
You can also directly define this securityContext on Steps:

https://github.com/tektoncd/pipeline/blob/9fa211017707c6e7039b54b9cb11012b5d66f186/examples/v1beta1/taskruns/build-push-kaniko.yaml#L55

[2020-04-21 17:59] #2345 closed

[2020-04-21 18:46] afrittoli opened #2461 "[feature] Conditions emit no events like other Tekton resources"
# Expected Behavior
Conditions shall emit k8s events like other resources

# Actual Behavior
No events are emitted for conditions in any case

# Steps to Reproduce the Problem

1. Run a condition
2. `kubectl describe taskrun/<tr-name>`

Example:
[code]

# Additional Info

- Kubernetes version:
  **Output of `kubectl version`:**

[code]
Client version: 0.8.0
Pipeline version: v0.11.1
[code]

[2020-04-21 19:30] danielhelfand commented on #2179
Can verify I am seeing the same behavior a v1.17.3 cluster on AWS. Only difference is I am setting `securityContext` on the steps of a Task:

[code]

`kubectl describe pod echo-task-run-std22-pod-g9t85`:

[code]

[2020-04-21 19:33] danielhelfand commented on #2458
Unfortunately, I did not realize there is a bug with this documented in #2179, so it might not work as expected.

[2020-04-21 20:09] danielhelfand commented on #2179
This can be resolved by setting `fsGroup` and `runAsGroup` on the Pod template in addition to `runAsUser`:

[code]

See more here: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod

[2020-04-21 22:27] bobcatfish opened #2463 "Results require runAfter when embedding Pipeline spec"
# Expected Behavior

Embedding a Pipeline spec into a PipelineRun should not change the behaviour of results.

# Actual Behavior

If you remove the `runAfter` clause from [this example](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-results-with-params.yml), you get an error caused by the controller mistakenly starting both Tasks simultaneously.

[code]

[2020-04-21 22:27] bobcatfish commented on #2463
Working on a fix for this now

/assign bobcatfish

[2020-04-22 00:10] bobcatfish opened #2464 "Results regex should be the same as other substitution regexes"
# Expected Behavior

We should permit the same characters in substitution for Task results as we do for other subsitutions.

# Actual Behavior

The results variable replacement logic defines its own regex:

https://github.com/tektoncd/pipeline/blob/c03323ece1af7ab8c3598d91aa988294d9b6b36b/pkg/apis/pipeline/v1beta1/resultref.go#L37

Which is different from the one used for other substitution:

http

[2020-04-22 03:18] ankitm123 commented on #1744
if no one's working on it, I can take a look @ImJasonH

[2020-04-22 03:41] vincent-pli opened #2466 "There are multiple items in "Taskrun.status.taskResults""
# Expected Behavior
 Correct display the `result` item one by one and unique.
# Actual Behavior
With multiple items.
# Steps to Reproduce the Problem
Apply https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/taskruns/task-result.yaml

Like this:
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**
Client Version: version.Info{Major:"1", Minor:"18", Git

[2020-04-22 03:47] mgreau commented on #1744
I’m really interested in that feature. I don’t know if it’s out of scope here but I think it could be great to be able to get the default value from the ConfigMap. It would mean having a way to deploy Tasks and Pipelines which could be invoked by operators via  ConfigMaps and also by user via the CLI.

[2020-04-22 07:08] #2388 closed

[2020-04-22 07:10] vdemeester commented on #2464
/kind feature

[2020-04-22 07:11] vdemeester commented on #2461
/kind feature

[2020-04-22 07:18] #1986 closed

[2020-04-22 08:36] vdemeester commented on #2466
/kind bug

[2020-04-22 08:36] vdemeester commented on #2466
@vincent-pli does it affect 0.11.x too ?

[2020-04-22 11:19] vdemeester commented on #2343
I definitely prefer the design idea 2. It's more explicit and make a clear distinction from the workspaces

[2020-04-22 12:16] sbwsg commented on #2343
Excellent, I am building a POC of #2 first.

[2020-04-22 12:45] sbwsg commented on #1744
Hey folks, I'm coming late to this issue but I was wondering if someone could clearly articulate use-cases and scope of this change.  The description sounds to me exactly like @skaegi 's `valueFrom` issue and `customization at install time` isn't filling in the gaps for me.  For example, from the issue description the following is stated as being desirable:

[code]

But then we seem to says this i

[2020-04-22 12:47] sbwsg commented on #1744
Also: the title of this issue is literally "Feature Request: Using ConfigMap Values For Params".  I am so confused.

[2020-04-22 15:33] a-roberts commented on #2417
Discussed this one on Slack, there's nothing really actionable here now, there's lots of data above ^^ should anyone wish to run with similar experiments and it's useful evidence that, at least for our Task/Pipeline, there wasn't a noticeable difference in memory consumption after all (see my previous posts for the conclusions).

Thanks everyone for taking a look, I'm putting this down to "user er

[2020-04-22 15:33] #2417 closed

[2020-04-22 19:42] wlynch commented on #2316
Adding on to this, I encountered a similar problem when enabling workload identity on a GKE cluster.

# Expected Behavior

Tekton GKE clusters configured with [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) can't pull images using workload identity auth.

# Actual Behavior

Tasks can only be started if `command` is specified, else fails with:

[code]

[2020-04-22 19:58] wlynch commented on #2316
/assign wlynch

I think I may have found the issue. I think we may need to use `k8schain.NewInCluster` instead of `k8schain.New`. See https://github.com/google/go-containerregistry/tree/e8c6a4993fa7c12b6ca56007739116b27ecb84c1/pkg/authn/k8schain

Trying it out locally now.

[2020-04-22 22:05] acim commented on #233
Is this going to allow a user interaction like in [Jenkins Input Step](https://jenkins.io/doc/pipeline/steps/pipeline-input-step/)?

For example, I would like to run "helmfile diff" task and then manually approve the continuation of the pipeline. The next task would probably be "helmfile sync", but it would be nice to manually review the diffs before approving it.

[2020-04-22 22:38] #2450 closed

[2020-04-23 02:14] vincent-pli commented on #2466
@vdemeester
Yes

[2020-04-23 10:32] afrittoli opened #2473 "[feature] Only resolve Tasks and Pipelines at the first reconcile"
# Expected Behavior
We should fetch, validate and convert resources that `TaskRuns` and `PipelineRuns` depend on only during the first reconcile cycle. For at least the following reasons:
- resources may change during execution, and we want to ensure we are executing the same `Task`/`Pipeline` throughout execution. This may be not true when using resources from OCI registry with a sha, but it is p

[2020-04-23 10:58] afrittoli opened #2474 "[feature] Start using knative PermanentErrors in reconcilers"
# Expected Behavior
Distinguish explicitly between permanent errors and transient ones in the reconciler code.

# Actual Behavior
Today we capture errors that are considered permanent in `Reconcile` so that we can return `nil` and the key is not directly requeued. So we use the same semantic to indicate no error and permanent error.

[Knative pkg](https://github.com/knative/eventing/blob/9b0599f33

[2020-04-23 11:10] vdemeester commented on #2474
/kind cleanup

[2020-04-23 12:21] sbwsg commented on #2119
Two more use-cases:

1. Allow a single catalog Task to support both Workspaces and PipelineResources in the same location.  Example:

[code]

2. Allow a TaskRun to ignore test results written to a workspace by simply not providing one.

[code]

[2020-04-23 15:39] brindasanth opened #2476 "Task Steps with Knative Service definition"
Team,

I see Task -> Steps have containers, This will create new container for each request.

How do I point to existing Knative services, send request and wait for response completion ?
By this I can reuse the available services, avoid latency ( Starting up and Destroying of containers).

This will open up lot of use cases achieved with tektoncd.

[2020-04-23 15:56] dibyom commented on #2476
This is by design since for most CI/CD use cases (building/testing) the latency of spinning up a new Pod is little compared to to the time it takes to run the build/test.

If you have an existing Knative service, you should be able to hit it directly....not sure how Tekton is involved here. Could you describe your use case in more detail?

[2020-04-23 15:56] dibyom commented on #2476
/kind question

[2020-04-23 16:00] dibyom commented on #2458
/kind bug

[2020-04-23 16:01] dibyom commented on #2458
Looks like a duplicate of #2179
I'll close this out in favor of tracking it in that issue
/triage duplicate
/close

[2020-04-23 16:01] #2458 closed

[2020-04-23 16:08] dibyom commented on #2382
I think this might be related to the PVC that is used to share resources between tasks: https://github.com/tektoncd/pipeline/tree/master/docs/developers#how-are-resources-shared-between-tasks

Configuration options: https://github.com/tektoncd/pipeline/blob/master/docs/install.md#configuring-artifact-storage

[2020-04-23 16:08] dibyom commented on #2382
/kind question

[2020-04-23 16:10] brindasanth commented on #2476
We have Software Defined Network (SDN) automation process, which has sequenced of tasks, i.e mix and match of using Serverless functions and already hosted Knative/fixed scaled services. We are trying to reuse Tektoncd Pipeline runner / Argo workflow for that. For me TekonCD is getting popular, cloud native and it achieves the purpose we need. but always launching new containers for specific scene

[2020-04-23 16:13] dibyom commented on #1149
Closing this in favor of https://github.com/tektoncd/pipeline/issues/2448
/triage duplicate
/close

[2020-04-23 16:13] #1149 closed

[2020-04-23 16:19] dibyom commented on #799
There is now a create-draft-release task that we've been using to do this: https://github.com/tektoncd/triggers/blob/master/tekton/create-draft-triggers-release.yaml

/close

[2020-04-23 16:19] #799 closed

[2020-04-23 16:19] #2463 closed

[2020-04-23 16:19] bobcatfish commented on #2463
Fixed in #2471

[2020-04-23 16:20] dibyom commented on #68
Don't think this is as relevant anymore given that PipelineResources are not in beta? @sbwsg can we close this?

[2020-04-23 16:20] brindasanth commented on #2476
Adding to the point, It will simplify pipeline and task definitions with only input parameters and service endpoint definitions, no need to configure other things such as mounts etc. Because that can be handled in service container spec definitions one time.

[2020-04-23 16:21] dibyom commented on #426
Done in https://github.com/tektoncd/pipeline/pull/495 I think
/close

[2020-04-23 16:21] #426 closed

[2020-04-23 16:24] dibyom commented on #896
Task intro now mentions that it creates Pods.

/close

[2020-04-23 16:25] #896 closed

[2020-04-23 19:45] sbwsg commented on #68
Yeah this doesn't look like it's hugely relevant anymore in the face of all the changes that have gone on around resources.  If someone does want to revisit this specific idea then they can always reopen.

[2020-04-23 19:45] #68 closed

[2020-04-23 23:50] vincent-pli commented on #2476
@brindasanth
So, do you expect the existing KSVC as a step of your `Pipeline` or just want to invoke and get replay from your step to the KSVC?

[2020-04-24 02:26] brindasanth commented on #2476
I just want to invoke KSCV with defined input parameters on that task and wait for response, so that it can kick on next tasks in pipeline with that task output.

Example flow:
[Knative Service Task]  -> [Build task]  ->[Knative Service Task] ->[Server less function Task] -> [END]

[2020-04-24 05:57] vincent-pli commented on #2476
@brindasanth
I guess we need add `cloudevent` send/receive stuff to https://github.com/tektoncd/catalog

[2020-04-24 12:44] sbwsg commented on #2476
There has been a fair amount of abstract discussion about removing Pods / Containers backing Tasks  See https://github.com/tektoncd/pipeline/issues/215 for the earliest suggestion of this idea (that I can find).

@ImJasonH has definitely had thoughts around this and made moves to reduce Tekton's reliance on Pods / Kubernetes-isms as well: https://github.com/tektoncd/pipeline/issues/1689

On the ot

[2020-04-24 12:44] sbwsg commented on #2327
Just to note: we've actively discussed getting _away_ from containers / PodSpec / kubernetes-isms in several issues.

- [Design alternative Task Implementations inside a pipeline](https://github.com/tektoncd/pipeline/issues/215)
- [Proposal: Phase out TaskRun's .status.podName](https://github.com/tektoncd/pipeline/issues/1689)
- [](https://github.com/tektoncd/pipeline/issues/2476)

So maybe this c

[2020-04-24 13:05] sbwsg commented on #1689
Was this fixed by #1709?  Is it safe to close?

[2020-04-24 13:06] bobcatfish commented on #1689
I think so! I know I've stopped using relying on it at least XD

[2020-04-24 13:10] vdemeester commented on #1689
I am pretty sure it's not, following #1709 we had https://github.com/tektoncd/pipeline/pull/1971 and https://github.com/tektoncd/pipeline/pull/1975

/cc @ImJasonH because I don't think we re-re-verted the change ?

Also, the field is still their and *maybe* relied on (I know OpenShift Devconsole still relies on it for now).

[2020-04-24 13:18] sbwsg opened #2488 "Add named fragments for the headings in our docs"
# Expected Behavior

Changing the text of a Heading in a doc shouldn't break all links pointing to that heading.

# Actual Behavior

Changing the words of a Heading in one of our docs completely breaks any other docs who were linking to it.  This happens because github automatically generates the "fragment identifier" (#foo-bar-baz) from the text of the heading. `## Getting Started With Workspaces

[2020-04-24 13:22] bobcatfish commented on #2488
That seems like a pretty big ask for folks to create on their own, and then asking reviewers to catch. @sbwsg what do you think if we had some automation that added these kinds of links automatically?

e.g. a periodic job / post merge job that creates (and merges) a PR that adds these links when they are missing

If that doesn't work, I'd rather explore a different docs format (e.g. ascii doc) tha

[2020-04-24 13:27] sbwsg commented on #2488
I'm a tad confused by this.  Is it more work than also picking up on grammar, spelling, punctuation etc in a doc review?  The named anchors only have to be added once and then preserved when headings are changed or docs are reorganized.

[2020-04-24 14:17] AlanGreene commented on #1689
We're also using it in dashboard to construct the API for logs. If there's another approach we can take to do this (ideally without having to list pods to find a match) we could switch.

[2020-04-24 14:18] vdemeester commented on #1689
Using `tekton.dev/*` labels on pods :angel:

[2020-04-24 14:20] brindasanth commented on #2476
Knative  Container Source already uses the sink concept. for one way communication. I think, we shall have sink in task definitions as below. Some time injectable custom task implementation will solve the issue.
[code]

would be:
[code]

[2020-04-24 14:54] sbwsg commented on #2488
Just as an example (not planning to make a PR until/unless we reach agreement on best way forward), I've updated workspaces.md to include the named fragments: https://github.com/tektoncd/pipeline/compare/master...sbwsg:name-fragments

It only took a few minutes to add these and the benefit will be that we can keep the same named anchors even if we reorganize the info.  So imagine we rewrote the po

[2020-04-24 15:02] bobcatfish commented on #754
ITS FINALLY HAPPENED!!! 🎉 🎉🎉

[2020-04-24 15:02] #754 closed

[2020-04-24 15:04] bobcatfish commented on #754
Shout out in particular to Heather Willson from EasyCLA for helping us out!! 🙏

[2020-04-24 15:18] dlorenc commented on #1041
I think this is handled by the new TaskResults feature.

https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#storing-execution-results

[2020-04-24 15:18] #1041 closed

[2020-04-24 15:47] mattmoor commented on #2327
I don't want to launch into an "extensibility" debate here, but moving away from PodSpec-like things because you want to support non-Pod-based tasks feels like you are sorely missing an extensibility story (which is IMO a key ingredient of the incumbent's meteoric success).  Please embrace extensibility over "kitchen sink" resources 🙏

[2020-04-24 16:10] sbwsg commented on #2327
My reading of this issue is that it's squarely aimed at changing Tekton's default Task shape to adhere more closely to PodSpec.  We've specifically pushed back against this in the past and it's worth keeping that context in mind when a change like this is being discussed.  It's a mis-characterization to suggest that doing so argues one way or the other on the question of extensibility.

It's possi

[2020-04-24 17:19] AlanGreene commented on #1689
That's exactly what I was hoping to avoid since it's another resource type we need to request and process rather than just using a field that's already available to us in the TaskRun. We can make it work though if the podName field is going away.

[2020-04-24 20:01] bobcatfish commented on #2488
I'm just having a lot of trouble imagining maintaining this over time - basically the more manual gotchas we rely on, the more we'll miss. Happy to discuss more tho!

In the meantime I'm not sure about having "good first issue" on this until we discuss more - maybe we can discuss in the productivity and/or docs working groups.

[2020-04-24 20:57] jlpettersson opened #2490 "Add subPath to PipelineTask so instances of tasks can write to different paths of ws"
# Expected Behavior

That I can use multiple instances of a task that writes to the workspace volume, but to different paths.

E.g. one **git-clone** task that clone the _app-code-repository_ and another **git-clone** task that clone the _app-config-repository_ and that I in a later task can use files from both git-clone tasks.

Another use case is to **git-clone** code into a directory of workspa

[2020-04-24 22:15] 2020testuser opened #2492 "ServiceAccount"
I read the documentation on Pipeline security. Looking for some clarification with deep dive details on the security. This is not an issue. However, trying to get more details on the security side.

1. If user A has access to pipeline A in namespace A and user B has access in pipeline B in namespace B , when the tasks in pipeline A calls the step in pipeline B, how this can be achieved?
 Option 1

[2020-04-24 22:50] jlpettersson commented on #2492
A Pipeline can not use Tasks from another _namespace_. But you can use [ClusterTask](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#task-vs-clustertask) that is available in all namespaces in the cluster.

It depends on what you are trying to achieve. When I implement Tekton for an organization, we use some cluster-wide ClusterTasks and some local Tasks in the namespace.

It is als

[2020-04-25 08:07] cameronbraid opened #2493 "Feature discussion - `tkn pipeline resolve` mode that works like `ko resolve`"
I have recently discovered ko and I think the idea of piping my yaml through `ko resolve` before applying it to the cluster is a great idea.

I think the same idea could be implemented by tkn where the URL of the image defines enough metadata to identify a pipeline to run.

e.g. tkn://staging-ns/nodejs-pipeline?version=1.2.3

tkn would trigger the pipelines to run, wait until complete, extract the

[2020-04-25 10:13] ImJasonH commented on #2493
Cool idea!

This might be worth prototyping out first to get hands-on feel for how it works. It should be relatively straightforward to write a separate CLI to achieve that, then if it's compelling and we decide we'd like to support it we can forklift it into tkn. We'd also probably need a more thorough design doc, but that can happen after a prototype/demo.

Let me know if you need any help, or p

[2020-04-25 10:15] ImJasonH commented on #1689
It's not going away if people strongly depend on it. 😅

I guess this was more of a discussion/what-if, so if there's enough pushback I'm happy to reconsider.

[2020-04-25 11:13] ImJasonH commented on #2493
@mattmoor in case he has any ideas or feedback

[2020-04-25 12:10] cameronbraid commented on #2493
I thin at a minimum the image repo and tag will needed to be provided up front so see if the image already exists and if so, just extract the sha - ,otherwise each time resolve is run the pipeline will be run :(

So two ideas come to mind

a) image repo based

`tkn://harbor-dev.drivenow.com.au/project/image:tag?pipeline=pipelinename&param1=yyy`

`tkn://harbor-dev.drivenow.com.au/project/image:tag?

[2020-04-25 12:12] cameronbraid commented on #2493
How does ko avoid this issue ?  Do they always tag based on git ref ?

[2020-04-25 12:24] cameronbraid commented on #2493
oh that's right `KO_DOCKER_REPO`

So `TKN_DOCKER_REPO` ?

With TKN_DOCKER_REPO=harbor-dev.drivenow.com.au/drivenow

Then `tkn://pipelineNamespace/partialPipelineRunName?var1=val1`

Could generate an image
xxx=hash(var1=val1)
harbor-dev.drivenow.com.au/drivenow/pipelineNamespace/partialPipelineRunName-xxx

[2020-04-25 15:31] thomaschandler commented on #1251
I'd like to work on this! This will be my first contribution, so it will take me some time to ramp up!

[2020-04-25 15:57] danielhelfand opened #2494 "Ability to Specify PodTemplate for PipelineTasks"
# Expected Behavior

I would like the ability to specify a PodTemplate for PipelineTasks. Since TaskRuns/PipelineRuns are the only way to specify a PodTemplate to use, there isn't a way to specify different PodTemplates for TaskRuns that are part of a PipelineRun.

An example use case would be wanting some TaskRuns to not allow any containers to run as root via a securityContext. But another TaskR

[2020-04-25 16:16] mattmoor commented on #2493
Outside of watch-mode, `ko` doesn't attempt to do anything smart about avoiding rebuilds, that's on the determinism and incrementality of `go build`.

Another alternative I'll throw out there that I have roughly sketched a few times (most recently [here](https://twitter.com/mattomata/status/1253165136501596160) cc @markito @jonjohnsonjr ).  The idea is essentially to allow something like a `ko-tkn

[2020-04-25 18:26] jlpettersson commented on #2343
It is great that we focus on improving UX here!

I agree, it would be nice to avoid these "moving parts". From a security standpoint - in a best of worlds - I would like to be able to use `readOnlyRootFilesystem` in the [pod security policy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#what-is-a-pod-security-policy) and instead have every thing declaratively exposed to the Task/

[2020-04-27 08:27] vdemeester commented on #1689
I am not pushing back :stuck_out_tongue_closed_eyes: I was just saying that it's still there an some tool are still using it. We can still remove it (I wouldn't mind tbh), but we will need to re-follow the deprecation policy (and hopefully make sure we don't break ourselves :stuck_out_tongue_closed_eyes: )

[2020-04-27 08:46] afrittoli commented on #1689
Along with this, I think we should add a new condition to the `TaskRun` - i.e. `Running` - so that at reconcile level we can know that we should pull updates from the underlying resource (i.e. pod).

[2020-04-27 09:00] vdemeester commented on #2488
I do agree with @bobcatfish, maintaining this over time might be a tiny headache. I think this might have been a reason why we had the `markdown` linter (although I am not sure it was checking for that). I would rather rely on a linter that is capable of erroring out if an anchor link is pointing to the void than having to add those on all the title.

[2020-04-27 09:04] vdemeester commented on #1251
/assign @thomaschandler

[2020-04-27 09:05] vdemeester commented on #2494
@danielhelfand I think this is related to https://github.com/tektoncd/pipeline/issues/2362 (and https://github.com/tektoncd/pipeline/pull/2389 fixing it), am I right ?

[2020-04-27 09:07] vdemeester commented on #2493
/kind question
/kind feature

[2020-04-27 10:08] eddycharly opened #2497 "Proposal: Use standard k8s labels"
## What
Use standard/recommended k8s labels to identify applications/components resources (https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/)

## Why
Tekton applications need to find resources belonging to other applications (dashboard needs to talk to pipelines and triggers, triggers needs to talk to pipelines, etc.).

The current process for identifying resources i

[2020-04-27 10:15] vdemeester commented on #2497
In general, I am +:100: on this :wink:

None, and if we would follow `k8s` labels, we would add one more. `pipeline.tekton.dev/release` is an *internal* label (let's say :sweat_smile:), `version` is the label that follows `istio` guidelines (see https://istio.io/docs/ops/deployment/requirements/).

/kind feature
/kind cleanup

[2020-04-27 13:26] eddycharly commented on #2497
Thanks for clearing this up.
As it is specific to `istio`, it should ultimately be the responsibility of the end user to set them i guess, and should not participate in the context of looking up resources.

Reading the k8s docs again i wonder if the labels should be (tekton-pipelines controller example)
[code]
or
[code]

The second one looks closer to the docs. If we use this, we probably should o

[2020-04-27 13:42] vdemeester commented on #2488
This is true, but it's also true any time we will want to refactor our docs (like https://github.com/tektoncd/pipeline/pull/2364). Some of those header might change significantly and thus the name would have to be changed, and you have broken link again. This is a problem that all docs are facing ; how many times do I ran into dead "anchor" links on the k8s doc, openshift doc, gcloud doc, git doc,

[2020-04-27 13:52] sbwsg commented on #2488
OK sounds good to me.  Your points about pandoc offering this as a feature, github not guaranteeing our links, and the CLI having to filter out html make sense to me.  I'm going to close this issue now.  I'm not going to argue in favor of named fragments anymore because they're clearly not the right solution.

[2020-04-27 13:52] #2488 closed

[2020-04-27 13:55] sbwsg commented on #1791
Given that this issue is now 4 months old I'm going to close it. @zjq123456 please go ahead and reopen if you want to provide the requested information and we can continue to help from there.  Many thanks!

[2020-04-27 13:55] #1791 closed

[2020-04-27 13:57] sbwsg commented on #2107
Given that the original issue was answered and this moved to a different subject I'm going to close this issue now. Please feel free to open a new issue if you have new questions!

[2020-04-27 13:57] #2107 closed

[2020-04-27 13:59] danielhelfand commented on #2494
I think what is being added in #2389 is a valid use case and certainly does address why I originally opened this issue, but I wonder about it with regard to client projects like the CLI/dashboard as far as being able to support adding all that information at run time. It's just not the best approach for something like `tkn pipeline start` for instance in my opinion.

I wonder how much PipelineTask

[2020-04-27 14:07] sbwsg commented on #2179
@chanseokoh @danielhelfand at this point should we consider this a bug in Pipelines, a lack of documentation in Pipelines, or just expected behaviour when using `runAsUser`/`runAsNonRoot`?  Or maybe all three?  I'm not totally clear on the actions that need to be taken to resolve this issue.

[2020-04-27 14:10] sbwsg commented on #2207
I'm going to close this issue since it's been almost a month with no further response. But please feel free to reopen if the issue persists or open a new issue if you've run in to different problems. Many thanks!

[2020-04-27 14:11] sbwsg commented on #2282
This should have been resolved now by https://github.com/tektoncd/pipeline/pull/2320 and will be part of the 0.12 release.  Many thanks for the issue & feel free to reopen if the problem persists in 0.12!

[2020-04-27 14:11] #2282 closed

[2020-04-27 14:19] sbwsg commented on #2339
Now that #1779 is reopened I think this issue can be considered a duplicate or case-study in support of it.  So I'm going to close this issue and suggest that discussion of imagePullSecrets in podTemplate should be focused there.  Many thanks!

[2020-04-27 14:19] #2339 closed

[2020-04-27 14:35] sbwsg commented on #2322
Tekton labels pods with the name of the TaskRun/PipelineRun that own it.  These labels take the form of `tekton.dev/taskRun=<name>` and `tekton.dev/pipelineRun=<name>`.  So once #1522 is implemented you'd be able to look up the pods from inside a Step by using a label selector.  Bear in mind that a TaskRun can be retried. This can happen because of resource limits forcing delayed startup or becaus

[2020-04-27 14:52] sbwsg commented on #1347
Now that this is documented I'm going to close this issue.

[2020-04-27 14:52] #1347 closed

[2020-04-27 14:59] sbwsg commented on #1551
@stobias123 @vdemeester for this issue, is it a bug in Tekton or is it simply that kaniko and openshift dont interoperate well?  Is there something more Pipelines could do here or can we close this?

[2020-04-27 15:13] vdemeester commented on #1551
I think we can close, #1560 should have updated that
/close

[2020-04-27 15:13] #1551 closed

[2020-04-27 15:17] sbwsg commented on #1271
Note: we've introduced a feature-flag to disable the defaulting `/tekton/home` $HOME directory.  This will result in each Step/container dictating its own HOME env var and also in credentials being written to the user's actual home directory. It should, at the very least, result in the `.ssh` directory being correctly written to `/root/.ssh`.  The feature-flag is stored in a ConfigMap in the `tekt

[2020-04-27 15:28] sbwsg commented on #2164
Given that this issue is primarily a problem with YAML interpreting `true` as boolean/non-string and that we've got testing around the `sslVerify` param now I'm going to close this issue.  Feel free to reopen if you think there's more to do here!

[2020-04-27 15:28] #2164 closed

[2020-04-27 15:32] 2020testuser commented on #2492
Thanks Much ! I will dig into Trigger more .

[2020-04-27 15:32] #2492 closed

[2020-04-27 15:59] sbwsg commented on #1843
This issue should be resolved now that we're only making the `ensureHomeEnv` call once in `git-init`. Closing as fixed but we can reopen if the problem rears its head again.

[2020-04-27 15:59] #1843 closed

[2020-04-27 17:24] GregDritschler commented on #2050
I take back my earlier comment that static Pipeline generation wouldn't allow iterating on task results.  If we assume that iterating on task results means "iterate on the results of a previous task which itself was iterated", then both tasks have the same number of iterations.  Therefore it would be possible to generate the pipeline tasks and appropriately map the result references.

I came up wi

[2020-04-27 17:28] GregDritschler commented on #2127
What happens to a result reference if the referenced task was skipped through this feature?  Empty string?

[2020-04-27 18:24] MartinKanters opened #2499 "Tutorial - kubectl deploy cannot authenticate to GCR"
# Expected Behavior
The task 'deploy-using-kubectl' should deploy the pulled container image from GCR.

# Actual Behavior
The task succeeds, but the pod cannot pull the image from the GCR container registry. It does not automatically use the Docker configuration secret `regcred`.

# Steps to Reproduce the Problem

1. Follow the tutorial using a GCR container registry.
2. Notice just after running

[2020-04-27 20:08] #2047 closed

[2020-04-27 21:13] eddycharly commented on #2497
/assign

[2020-04-28 03:02] danielhelfand commented on #2179
I can't speak to exactly why `runAsNonRoot` does not work as expected. I have noticed the same behavior with steps as documented above, so it could very well be a bug. I can try to look further to see if there are other reasons outside of Pipelines.

When it comes to using `runAsUser`, however, `runAsGroup` and `fsGroup` must be specified as well. In many cases, certain distributions of Kubernetes

[2020-04-28 13:06] sergetron commented on #2488
Since I was out yesterday and Vincent asked for my opinion, my TL;DR is
that while named anchors are a great idea, they only solve the problem if a
heading is slightly reworded. If the section is deleted, moved, or
rewritten and the heading must change completely, the anchor goes out of
sync with the heading meaning-wise and we'll have links like
[Installing Smurfcaptor 9000 On
Debian](#getting-st

[2020-04-28 15:36] danielhelfand commented on #2179
So digging further here, Tekton does not account for the securityContext of steps that are defined as part of a Task, such as:

[code]

The only `securityContext` that is applied is whatever is applied on the TaskRun or PipelineRun pod template:

https://github.com/tektoncd/pipeline/blob/c30d3aa0230faab3be210fccac19f7bb7ddd658f/pkg/pod/pod.go#L211

So this really comes down to two things:
1. The d

[2020-04-28 15:50] chanseokoh commented on #2179
This may not be the fault of Tekton, but to me, this doesn't sound intuitive. If you have to use `runAsUser`, then there's no reason for the existence of `runAsNonRoot`. Is `runAsNonRoot` deprecated? Maybe I'm missing something.

[2020-04-28 16:03] danielhelfand commented on #2179
`runAsNonRoot` is about validating containers running in the pod, not actually setting the user. See more under the [Kubernetes pod documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#pod-v1-core):

[code]

In general, running as a non root user should be built into the container image itself as opposed to relying on a securityContext whenever possible.

[2020-04-28 16:18] eddycharly opened #2503 "Is the config webhook working ?"
The namespace selector in the webhook requires that the label `pipeline.tekton.dev/release` exists:
https://github.com/tektoncd/pipeline/blob/a7a4c5da019d630fd0ef7e570369bb4ef218104d/config/500-webhooks.yaml#L77-L80

The label is not set on the namespace definition though:
https://github.com/tektoncd/pipeline/blob/a7a4c5da019d630fd0ef7e570369bb4ef218104d/config/100-namespace.yaml#L15-L18

Do i mis

[2020-04-28 16:32] chanseokoh commented on #2179
Ah, makes sense. Thanks for the explanation. It would have been better if the name were `verifyNonRoot` or such, because this is inconsistent with `runAsUser`. (I would expect that `runAsUser: 1001` validates that the container runs with UID 1001, not making the container run with UID 1001.)

[2020-04-28 17:40] #2490 closed

[2020-04-28 20:14] jlpettersson opened #2505 "Ability to look up the PVC name"
# Expected Behavior

That I can "look up" the PVC name for a workspace using variable substitution.

**Use case**
In larger organizations using Microservice architecture and Kubernetes, it is common to organize for _autonomous application teams_ and _platform teams_. For compliance, application teams may not have direct access to production environments, but only through a CI/CD system. When using