[2020-08-04 16:53] jerop commented on #2958
https://github.com/tektoncd/pipeline/pull/3017 added support for UIDs and validation for all context variables

there were a couple design choices to be made for annotations, which could be best explored in a design doc and discussed in the API WG, so will reopen this issue for now

/reopen

[2020-08-04 18:15] #3054 closed

[2020-08-04 19:38] TheYkk opened #3057 "Tekton should work with alpine images"
# Expected Behavior
Tekton should work with golang alpine image but it won't

# Actual Behavior
[code]
[code]

When I remove the alpine tag tekton task running

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.

[2020-08-04 19:44] #3057 closed

[2020-08-04 19:52] sbwsg commented on #3057
[code]

This error means you need to run with `CGO_ENABLED=0`.  Update your Task as follows:

[code]

[2020-08-05 01:27] dlorenc commented on #3050
I like it!

[2020-08-05 01:29] dlorenc commented on #3048
Will this cause any trouble like we just saw with the pr init container? https://github.com/tektoncd/pipeline/pull/3055

[2020-08-05 03:30] LiYa-Xu opened #3059 "[Performance] Why create dir container takes so long time to finish"
When I run 100 taskruns together,  the container step_create_dir cost the most  time.
Below is the chart for the container excution time
<img width="1670" alt="图片" src="https://user-images.githubusercontent.com/35325376/89368465-34964a00-d70e-11ea-997c-c6caae3d4767.png">
I read the doc https://github.com/tektoncd/pipeline/blob/dfb06661f5ef06f32bd44eaa7e0e8878c4c85a45/cmd/entrypoint/README.md, noti

[2020-08-05 06:22] zhangtbj commented on #1281
Hi @cccfeng and all,

I also would like to increase `DefaultThreadsPerController` to more, but I found it is hardcode to 2 in the `knative.dev/pkg`.

Can you please tell me how you modify your `DefaultThreadsPerController` to 64?

Is there any ENV or Property exported for Tekton, so that I can set in for the tekton deployment?

Thanks!

[2020-08-05 06:54] dghubble opened #3060 "Simplify requirements for Tekton's component images"
### Feature request

tekton-pipelines-controller arguments take a lengthy [list of images](https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml#L58) for various helpers to support features across the breadth of Tekton's feature scope. I'm interested in the option to "scope this down" to `entrypoint` and `shell-image` (whether by optional images, disabling features, etc).

### Us

[2020-08-05 10:59] chasewalden commented on #1803
This might cause a possible bug as well. It appears that "uninstalling" Tekton from a cluster with an existing Knative installation will cause `images.caching.internal.knative.dev` to be removed as well. Required just reinstalling the knative serving crds bundle again, but it was a strange issue to diagnose.

[2020-08-05 11:34] dlorenc commented on #3060
Would it work for your use case to pass in invalid image names for the images you don't care about?

[2020-08-05 12:56] dlorenc commented on #3059
@LiYa-Xu could you share the TaskRun you're using?

[2020-08-05 13:05] dlorenc commented on #3059
Ah, I took a look at your jq query. I think there might be a problem there. The entrypoint binary waits to start until the previous steps are done, so the `containerStatuses.startedAt` and `finishedAt` values are not quite correct. You should look at the `TaskRun.status.steps[].startedAt` and `TaskRun.status.steps[].finishedAt` values instead.

[2020-08-05 13:50] zhangtbj commented on #1281
Hi all,

We are running the concurrent test to test the tekton controller performance by using 100 taskruns.

But we found there is a big delay if there are lots of taskruns are created.
I got an issue:https://github.com/tektoncd/pipeline/issues/1281

And after I changed below two settings and rebuilt a test image:
- the `DefaultThreadsPerController` from default 2 to 32: https://github.com/tekton

[2020-08-05 14:24] pciazynski opened #3063 "taskServiceAccountName doesn't work"
# Expected Behavior
When using following `PipelineRun`:
[code]
I would expect to have `taskRuns` with a correct `serviceAccountName` assigned.

# Actual Behavior
No `serviceAccountName` is assigned. Look at the following `TaskRun`:
[code]

Service account is empty:
`  serviceAccountName: ""`
# Steps to Reproduce the Problem

1. Create a `tekton-bug` namespace.
2. Apply the following YAML:
[code]
3

[2020-08-05 14:32] ghfalcon7 commented on #2707
I'm having the same issue, @MarcusNoble tried the WA but it didn't work for me.

[2020-08-05 14:43] ImJasonH commented on #1281
cc @mattmoor who has done some work scaling the knative/pkg code that Tekton uses, and might have insights about how to proceed.

If these are the right settings to tweak to improve performance it makes sense to me to expose them as either envs or ConfigMap values.

[2020-08-05 15:31] barthy1 opened #3064 "s390x related fixes for tekton pipeline"
At this moment tekton pipeline is tested and released only for amd64 architecture.
I'd like to use this issue to track issues/work to run and test tekton pipeline on s390x architecture (IBM Z).
This work is part of https://github.com/tektoncd/plumbing/issues/495 discussion.
List of issues/PRs can be updated in the future.

Bugs in the code:

- [x]  fail to run task with multi-arch image on non amd

[2020-08-05 15:43] vdemeester commented on #3048
@dlorenc https://github.com/tektoncd/pipeline/pull/3002 legit failure tends to agree with you :wink:

[2020-08-05 15:54] vdemeester commented on #3063
/assign

[2020-08-05 15:57] sbwsg commented on #3063
i've just tested on `master` and haven't been able to reproduce this. I used https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/no-ci/pipelinerun-taskrunspecs.yaml and updated [the taskServiceAccountName](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/no-ci/pipelinerun-taskrunspecs.yaml) field to be something other than "default".  When I

[2020-08-05 15:59] sbwsg commented on #3063
Same result on the `release-0.14.x` tag in the repo: my custom serivce account name was propagated to my taskrun. @pciazynski could you try updating to 0.14.3 to see if that resolves your issue?

[2020-08-05 16:22] pritidesai commented on #3064
@barthy1 how about the [examples](https://github.com/tektoncd/pipeline/tree/master/examples)? any changes needed in sample `YAML`s?

[2020-08-05 16:31] barthy1 commented on #3064
@pritidesai yeah, examples are actually in worse state for non Intel architectures :(
I am working now to identify at least most common reasons of the failures. Most of the errors are still connected to test images, available only for amd64. So soon the issue will be extended with examples section

[2020-08-05 16:34] mattmoor commented on #1281
Generally the caution I'd give when adjusting these things would be: you may be treating the symptoms instead of the disease.

I'd make sure that the reconciliations are properly using lister caches and carefully auditing client requests (including K8s events) before just jacking these values up.

[2020-08-05 16:34] pritidesai commented on #3045
/assign

[2020-08-05 16:53] pritidesai commented on #3045
Yes, it raises error with `resource name should not be nil` which is causing the reconciler to fail with `Reconcile error` . The failed reconciled run tries to exhaust the number of retries in case of such failure.

After raising `Permanent error` from `prepare` or `reconcile`, reconciler should not return any error from within `tr.IsDone()` so that the controller can declare `Reconcile succeeded`

[2020-08-05 17:29] Peaorl commented on #1690
Hi @chengjingtao, are you still working on this issue?
I recently picked up this proposal and got the timeout working.
Is it ok if I go ahead and submit a PR for that?

[2020-08-05 17:53] dghubble commented on #3060
Yes, it does help. Before v0.15, we removed the arguments (though apparently they had internal defaults https://github.com/tektoncd/pipeline/pull/3016) and with v0.15+ we can set them to empty string. The logic being if anyone tries to use something that would require them, it can fail (desirable in this case).

Perhaps one outcome from this issue becomes a docs PR. Even just enumerating these hel

[2020-08-06 00:47] LiYa-Xu commented on #3059
@dlorenc Thanks for your response. And sorry I am not really understand about this container works,so could you please tell me how create dir container works? Why I  should use the TaskRun.status.steps[].startedAt and TaskRun.status.steps[].finishedAt values instead?
Below the part of the create conatienr  yaml in  pod  yaml .That's why I  use the containerStatuses.startedAt and finishedAt values

[2020-08-06 03:20] zhangtbj commented on #1281
I agree, but the problem here is the user cannot customize these settings now. Maybe 100 is too high, maybe it should based on the cache/request, etc.... But if I found the default values are not good to me, I should be able to change by myself.

[2020-08-06 03:33] myoss opened #3067 "imagedigestexporter write-digest failed"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1. Task
[code]

2. write-digest build error
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **v0.15.0**

[2020-08-06 03:45] mattmoor commented on #1281
With knative/pkg at HEAD it's possible to override these at the rest config level, but I agree that exposing flags to override these is also probably reasonable (certainly to treat the "symptoms" until the "disease" is cured).

I'd probably define the flags [here](https://github.com/knative/pkg/blob/2aae6f373ddabc2a0cf25574874a2dbc7c82a55d/injection/sharedmain/main.go#L150) and if they are set, ov

[2020-08-06 03:52] zhangtbj commented on #1281
Cool thanks Matt!

BTW,

- Is it possible to have a flag to override the `DefaultThreadsPerController` here?:
https://github.com/knative/pkg/blob/master/controller/controller.go#L58

- And when is there any plan to include it in an official release?

Thanks!

[2020-08-06 04:03] myoss commented on #3067
[code]

[2020-08-06 04:03] #3067 closed

[2020-08-06 04:55] mattmoor commented on #1281
We cut knative releases every 6 weeks, PKG always cuts a week before serving/eventing.  The next PKG cut is Tuesday, so if you are in by then you'll be in `release-0.17`.

[2020-08-06 06:20] LiYa-Xu commented on #3059
Checked the Taskrun json file , noticed the create dir container finished quickly, but it's cost some senconds in pod json . Do you know why ?
below is taskrun josn for create_dir step  :
[code]

below is pod json for create_dir step :
[code]

[2020-08-06 06:31] zhangtbj commented on #1281
Cool, thanks matt!

Hope Tekton can pick it up this new change in the new release soon.

Thanks!

[2020-08-06 09:03] chmouel commented on #3060
I think you would need to have the `nop-image` for the sidecar functionality, it's a dumb image with nothing less than an entrypoint that does nothing (and we actually used to have just `tianon/true` as the image there but that gets changed back to a binary) but help for our sidecar implementation.

[2020-08-06 09:09] chmouel commented on #3063
Just in case off, are you running a kubernetes distro (i.e: openshift, microk8 or others) or on minikube/pure kubernetes?

[2020-08-06 09:44] chmouel commented on #3050
Woo really cool idea 👍

[2020-08-06 13:37] pciazynski commented on #3063
Thank you for the fast asnwers!

@sbwsg I updated tekton to v0.14.3 and tested again - I've got the same result, service account being not propagated...
@chmouel I run it on our company internal Kubernetes. It's unfortunately quite old - `v1.15.11`, and yes, maybe there is some strange configuration there which I'm not aware of. But anyway I thought it's rather a tekton bug, because this happens o

[2020-08-06 13:56] pciazynski commented on #3063
OK, it works even for me when I try directly example from here:  https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/no-ci/pipelinerun-taskrunspecs.yaml with updating the `taskServiceAccountName` field to be something other than `default`.

So I need to examine what is wrong in my example...

[2020-08-06 14:24] pciazynski commented on #3063
Sorry guys for bothering you - my mistake. I've used `apiVersion: tekton.dev/v1alpha1` for the `kind: PipelineRun`...
After changing to `apiVersion: tekton.dev/v1beta1` things works as expected :)

Thanks a lot for help. I'm closing this one.

[2020-08-06 14:24] #3063 closed

[2020-08-06 14:25] sbwsg commented on #3063
Ah, great catch!  Thanks for getting back to us with the update.

[2020-08-06 14:40] ImJasonH commented on #3060
Setting the values to empty strings will result in controller crashes, but setting them to `"unset"` or any other image name should be fine.

Longer term PipelineResources should either be made to be pluggable and not bundled by default, or they should be phased out in favor of something else. I'm not sure which is the more likely future tbh.

[2020-08-06 14:55] bobcatfish commented on #3050
Could we include an example of what the automatically wired version of above would look like?

[2020-08-06 20:02] thomaschandler commented on #3021
@jlpettersson I wonder if this might be related to the [garbage collection of failed pods](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-garbage-collection). I'm unsure if GKE has a different garbage collection process than a self hosted k8s setup.

I'm thinking of updating `TestTaskRunRetry` to wait for pod state changes, at which point it will record the pod information f

[2020-08-07 07:07] pritidesai commented on #2767
PR #2826 is created to support `metadata` with taskSpec in a `PipelineTask` to allow specifying labels and annotations when a task is embedded using taskSpec. These labels and annotations are propagated to taskRun and then to the pods.

These labels are commonly used to identify and filter pods for further actions (such as collecting pod metrics, and cleaning up completed pod with certain labels,

[2020-08-07 08:09] jinchihe commented on #2441
@vdemeester Thanks.  Python SDK client is very import for end user, such as k8s Python SDK ...
May I take this? I already did a prototype for the tekton pipeline SDK. Shall we create a new repo for python SDK? or we can add to this `pipeline` repo and create a directory `sdk/python`? Personally better to create a new repo for SDK. Thanks.

[2020-08-07 10:49] FogDong opened #3070 "Variable substitution doesn't work in configmap/secret items from volume"
# Expected Behavior

The variable in configmap/secret items will be substituted.

# Actual Behavior

I set the variable substition in configmap items but it didn't work, and the pod created failed since the items key and path can not found.

# Steps to Reproduce the Problem

1. Create a task with configmap volume.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

   ``

[2020-08-07 14:19] dlorenc commented on #3052
It seems like writing a custom scheduler is pretty straightforward: https://github.com/kelseyhightower/scheduler

but dealing with edge cases would probably be a lot of effort. I wonder if it would be possible to write a best-effort scheduler that runs first, but bails out to the real one in complex situations.

[2020-08-07 15:38] Peaorl commented on #3050
I've discussed this feature with @sbwsg and would like to get started on this. My first step will be to write up a TEP.

@bobcatfish, I'll go ahead with the example @afrittoli provided [here](https://github.com/tektoncd/pipeline/issues/1484).

/assign @Peaorl

[2020-08-07 16:31] bobcatfish opened #3075 "Noisy test failures"
# Expected Behavior

When tests fail, the only error logs you see should be either intentionally caused by the test or representative of the problem.

# Actual Behavior

When reconciler tests fail, there are often many misleading error logs that look like this:

[code]

Apparently `cannot register view "running_taskruns_count"; a different view with the same name is already registered` isn't actua

[2020-08-07 17:48] sbwsg opened #3076 "Create a separate location for YAML e2e tests"
### Feature request

Create a directory for "e2e tests" that are just YAML files which exercise specific behaviours of Tekton Pipelines. These differ from the YAML files in the `examples` directory because they aren't intended to document _correct_ usage but rather to exercise edge cases.

### Use case

As a dev I often want to create some YAML files that exercise a bug fix or new feature I'm work

[2020-08-07 17:49] sbwsg commented on #3076
This was discussed as part of the productivity WG. It was mentioned there that we may conceivably be able to translate some of our existing e2e tests written in Go into this YAML + golden files format.  Though that's not a requirement as part of this issue.

[2020-08-07 18:36] pritidesai commented on #3075
It is very annoying indeed and same happens with pipelinerun reconciler.

[2020-08-07 20:59] bobcatfish commented on #2992
@afrittoli i said I'd take a look at this this week but didn't get a chance! Happy to keep it on my TODO list but wanted to give you and update 🙇‍♀️

[2020-08-08 12:40] qu1queee commented on #2986
folks, any update on this?

[2020-08-10 01:35] LiYa-Xu commented on #3059
@dlorenc  BTW, this just occurred on buildpack ,kaniko has no this issue. And I tried some test, like add steps and remove steps in buildstrategy , found the create dir time is depends on steps number in buildstratyge . When I just define 1 step that's prepare in buildstrategy ,the create dir cost a little time, when I define 6 steps in in buildstrategy,the create dir will cost most of time . So d

[2020-08-10 01:46] afrittoli commented on #3075
I tried adding metrics view cleanup to tests in the past but I ran into data races. I'll see if I can find the code change again, perhaps someone has insights in what's going wrong.

[2020-08-10 06:51] GwonsooLee opened #3080 "branch of submodule option --force is always master?"
In my triggerTemplate, I set resourcetemplates and add a git resource (base-git). An I ran with depth = 0
This works well if my default branch of repository is master.
But It did not work if I changed default branch to something else and deleted master branch from origin. I recently tend to change default branch of repositories from master to main.

I am not sure that I missed something to figure

[2020-08-10 07:09] #3080 closed

[2020-08-10 11:31] afrittoli commented on #1281
v0.15.0 resolves one issue where the pipelinerun controller would fetch configmaps via API instead of using the config store:  https://github.com/tektoncd/pipeline/pull/2947. It would be interesting to see if that had an impact on performance.

@ImJasonH @zhangtbj I think it would be valuable to have your performance tests executed against nightly releases, and results collected and graphed, so th

[2020-08-10 12:26] scboffspring opened #3082 "Can't pull docker images anymore."
# Expected Behavior

Image would be pulled successfully.

# Actual Behavior

[code]

# Additional Info

It also looks like the release file  (https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml) cannot  be retrieved (403 error)./

![image](https://user-images.githubusercontent.com/2176689/89782384-17e28380-db0d-11ea-9827-c49449ed8a5f.png)

[2020-08-10 12:29] zeromsi opened #3083 "Tekton installation link is not working?"
kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml

<Error>
<Code>UserProjectAccountProblem</Code>
<Message>User project billing account not in good standing.</Message>
<Details>
The billing account for the owning project is disabled in state delinquent
</Details>
</Error>

[2020-08-10 12:39] zeromsi commented on #3083
@dibyom  I need your help bro!

[2020-08-10 12:45] sbwsg commented on #3083
Thanks for the issue report.  We're currently experiencing problems with our hosting of the YAML and docker image resources.  If you're in urgent need and you have access to the necessary resources, I suggest building from the tagged version in the git repo and pushing the images to a private registry.

Apologies, we're reaching out to the CDF to get help with this issue and hope to resolve ASAP!

[2020-08-10 12:50] zeromsi commented on #3083
@sbwsg  Thanks for your kind reply. yeah, It's really very urgent. can you please give a link of the release.yaml.

[2020-08-10 12:59] sbwsg commented on #3083
Sorry, I should've been more clear: there's currently no way to access a public release.yaml that I'm aware of.

The only option right now is to build the images locally and push them to a registry, which your cluster would need to have access to. We have a guide to doing so here: https://github.com/tektoncd/pipeline/blob/v0.15.1/DEVELOPMENT.md but it requires you to have a registry set up and it'

[2020-08-10 13:19] sbwsg commented on #3082
Thanks for the issue report!  I'm going to close this as duplicate of https://github.com/tektoncd/pipeline/issues/3083 because I've already responded there and don't want to duplicate comments between the two as we work to resolve this.  For anyone looking for more info, please follow #3083 - cheers and apologies for this interruption!

[2020-08-10 13:19] #3082 closed

[2020-08-10 13:30] chmouel commented on #3083
another option if it's really urgent, red hat produce a midstream release if you need, the nightly is located here https://raw.githubusercontent.com/openshift/tektoncd-pipeline/release-next-ci/openshift/release/tektoncd-pipeline-nightly.yaml

We unfortunately had some issues and our latest non nightly is 0.14.3 which should work since the images are hosted on `quay.io`

https://raw.githubuserconte

[2020-08-10 13:48] ghfalcon7 commented on #3083
Our pipelines are failing because of this as well:

Failed to pull image "gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:v0.12.0@sha256:b3cf4f912c58115e1ba9eb44a1e2d7a61445337e83117eeaec0eddbaf04ecf03": rpc error: code = Unknown desc = Error response from daemon: unauthorized: You don't have the needed permissions to perform this operation, and you may have invalid credentials. T

[2020-08-10 13:48] daviddyball commented on #3083
Perhaps an idea to add more public image mirrors in future just in case?

I know we'll be mirroring the images ourselves in future to avoid this.

[2020-08-10 14:01] sbwsg commented on #3083
Hi all, this issue with the public release yaml and images should now be resolved. Please try installing again if you hit this issue previously.

[2020-08-10 14:17] sbwsg commented on #3059
The way Tekton works is that it spins up all the containers for the TaskRun at the same time.  This is intentional - a Pod can't be updated with extra containers after it starts.

So the problem becomes: if all the containers start at the same time, how do we detect when each "step" actually started and finished?  To do that Tekton records the start time and end time of the step's contents executi

[2020-08-10 14:20] sbwsg commented on #3083
I'm going to close this issue as it now appears to be resolved. If you hit a similar error please open a new bug report.

[2020-08-10 14:20] #3083 closed

[2020-08-10 15:16] bobcatfish commented on #2992
@afrittoli kindly said he was happy to take this on again 🙇‍♀️

/assign afrittoli

[2020-08-10 17:03] #2957 closed

[2020-08-10 21:46] bitsofinfo opened #3085 "0.15.0: "TaskRun mounts more than one PersistentVolumeClaim" despite single PVC w/ workspace subDirs"
I have a task `theTask` with 2 named workspaces:
[code]

I have a pipeline with 1 workspace that is mapped to the 2 task workspaces via the diffentiating `subPath` flag:
[code]

This worked totally fine up to 0.14.3 but now fails with this error in 0.15.0 and broke several functioning pipelines

[code]

Related I assume: https://github.com/tektoncd/pipeline/pull/2885

Seems one should still be abo

[2020-08-11 09:05] vdemeester commented on #3085
/cc @jlpettersson

[2020-08-11 09:06] denkensk commented on #3052
I suggest that we can evaluate that if Affinity Assistant can be implement by the Scheduling Framework.
FYI：https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md

And we maybe can enhance the coscheduling to support the requirement.  https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/coscheduling
@jlpettersson @dlorenc

[2020-08-11 09:16] #3070 closed

[2020-08-11 10:25] barthy1 opened #3086 "Fail to run task with multi-arch image on non amd64 cluster"
# Expected Behavior
Task with multi-arch image should be successfully executable on non amd64 architetures.
# Actual Behavior
Task failed for s390x and ppc64le architectures with error
[code]
Research of the pod logs showed that instead of pulling correct version of multi-arch image for appropriate architecture(s390x or ppc64le), always amd64 version is pulled. amd64 container image cannot run on

[2020-08-11 10:29] barthy1 commented on #3086
cc @davidhay1969

[2020-08-11 12:26] kameshsampath commented on #2610
how about just having the default existing data types and then add a spec field called `choices` which can list what values it need to be e.g.
[code]
and if the parameter type is array then we can do do mutli from the chocies

@vdemeester  ^^

[2020-08-11 13:40] VeereshAradhya opened #3089 "Able to start pipelinerun from pipelinerun spec without providing value for workspace and the pipelinerun stays is `Running(Started)` state"
# Expected Behavior
Pipelinerun should fail with some validation error

# Actual Behavior
Pipelinerun starts and stays in `Running(Started)` state

# Steps to Reproduce the Problem

1. Create a task with workspace
2. Create a pipeline with workspace using the above task
3. Create pipelinerun spec file to start the pipelinerun for above pipeline and don't provide any value for the workspace
4. star

[2020-08-11 13:51] bitsofinfo commented on #2050
hey all, I'm reposting the question I asked in slack and was directed to this issue. Totally looking forward to this feature!

That said, in addition to the simpler scenario of just being able to iterate to generate N single `Task`s within a pipeline. I also have the scenario where I would like to generate (per iteration) a "set/group" of things. (i.e. a `Task` followed by 2 `Conditions` etc)

[2020-08-11 15:01] bobcatfish commented on #3089
Hey @VeereshAradhya we recently added a feature where you can specify a default that is controller wide (https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md#using-workspaces-in-tasks re `default-task-run-workspace-binding`), so maybe that default is being used?

(I do wonder @sbwsg @jerop if it would make sense to make it more obvious when the default is being used, e.g. require "d

[2020-08-11 15:17] sbwsg commented on #3089
Hm. This is odd.  I definitely see a problem in the syntax of the PipelineRun:

[code]

Here the PipelineRun is "binding" a Workspace with name `shared-workspace` but isn't actually providing the volume configuration to go with it.  We would normally expect something more along the lines of this:

[code]

Our code does [check the number of volume configurations in the binding](https://github.com/t

[2020-08-11 15:25] vdemeester opened #3090 "Proxy support for Pipeline *and* tasks"
### Feature request

*This is probably worth splitting into two issues, but here goes.*

As an admin, I want the tekton controllers installed to use users network proxy settings defined for the platform so that both the tekton controllers as well as the Task or Pipeline steps / user workloads can access images, git repos, etc through our organizations proxy and with custom certificates.

**Why is

[2020-08-11 18:13] coryrc commented on #2973
For the boskos leasing, Pipeline-level sidecar is a bit too wide... could we define a sidecar for a subset of Tasks? Effectively, once all of N listed Tasks are complete, Task X should be killed.

A simpler primitive is to allow an anti-dependency. Today if Task 2 requires input from Task 1, it doesn't start executing until Task 1 is complete. Anti-dependency would be if Task 2 has anti-dependency

[2020-08-11 20:55] PoliM commented on #2828
Here is the use case we currently have. Imagine this simplified CD pipeline:
`--> DeployToDev --> TestOnDev --> DeployToPreProd --> TestOnPreProd --> DeployToProd --> SmoketestOnProd`
There are something like three sections Dev, PreProd and Prod.
The pipeline is started for a commit in a Git repository that holds the configuration of an application (GitOps). Now here are some requirements:
- if a

[2020-08-12 08:58] VeereshAradhya commented on #3089
@sbwsg @bobcatfish I think I have not written the proper heading for the issue. The issue is I am able to create a `pipelinerun` (with status `Running(Started)`) without providing volume configuration for the workspace in `pipelinerun` spec. The pipelinerun does not shcedule any `taskruns/pods`. When I do `kubectl apply -f` to a pipelinerun spec which does not provide volume configuration for work

[2020-08-12 10:24] zops opened #3092 "PipelineFinally bug or loss of function?"
**PipelineFinally Doc：**
https://tekton.dev/docs/pipelines/pipelines/#specifying-parameters-in-final-tasks

**Issue：**
The support of params is described in the finally document. However, when params is configured in finally, it is found that variable replacement is not supported.
This is not mentioned in the document. I don't know whether variable is not supported or configuration error.

**Examp

[2020-08-12 13:17] hrvolapeter commented on #1983
@sbwsg @CoderPoet Does `github.com` that is used with ssh-auth qualify for "name" `https://github`? It sound like it could be caused by wrong protocol.
I would expect that with http protocol it looks only for basic-auth key. If that's the case how can you dynamically rewrite protocol?
[code]

[2020-08-12 13:32] sbwsg commented on #3089
Got it, thanks for clarifying - that'll teach me to rush through reading the original issue >.<

This does indeed appear to be a bug in the validation of the PipelineRun.  I'll work on reproducing my side and adding a fix.

[2020-08-12 13:38] sbwsg opened #3094 "If a git secret has ssh-auth type, warn about urls starting with `https:` and vice versa"
### Feature request

Validate the creds-init Secrets that will be injected into a Step container. If a Git secret has a type of ssh-auth but is going to be used against a repo URL starting with `https://` then `git` won't even try to use the SSH keys. We should warn about this via an Event on the TaskRun or similar.

Similarly, if a creds-init Secret has a type of `basic-auth` but the URL being us

[2020-08-12 15:50] sbwsg commented on #3089
It appears that there are two discrete bugs here. The first is that we're not validating the PipelineRun workspaces.  The second is that somehow the PipelineRun reconciler is submitting an invalid TaskRun spec but then not putting the PipelineRun into a failed state when the TaskRun fails due to workspace validation error.

A fix for the PipelineRun validation is here: https://github.com/tektoncd/

[2020-08-12 16:08] chhsia0 commented on #3026
@dlorenc If v302 was cut before I reported this issue, then unfortunately no. I tested all recent versions before reporting this bug. See https://tektoncd.slack.com/archives/CLCCEBUMU/p1595950905046500?thread_ts=1595950905.046500&cid=CLCCEBUMU

[2020-08-12 16:14] #617 closed

[2020-08-12 16:14] #1078 closed

[2020-08-12 16:14] #1079 closed

[2020-08-12 16:14] #1123 closed

[2020-08-12 17:01] bioball commented on #2119
Another use-case: a Task can accept an optional cache to speed up builds.

[2020-08-12 17:13] sbwsg commented on #2119
Awesome, thanks, I've added this as [another user story in the TEP](https://github.com/tektoncd/community/pull/169/files#diff-f8cb6285c9b606c4ff0054acf4116f6cR181).

[2020-08-12 17:15] #1221 closed

[2020-08-12 18:16] #1332 closed

[2020-08-12 18:16] #1355 closed

[2020-08-12 18:37] quintesse opened #3097 "Support use-case of building sources with re-usable cache"
### Feature request

Be able to build sources using a writable volume shared between tasks in a pipeline, while at the same time having a different writable volume for caching downloaded artifacts (Maven artifacts, NPMs, etc).

### Use case

Right now with the Affinity Assistant it's not possible anymore to have multiple writable volumes and the way the docs put it it seems that it is considered t

[2020-08-12 18:41] quintesse commented on #3097
NB: related pull-request with information about issues related to the Affinity Assistant and multiple writable volumes: https://github.com/tektoncd/pipeline/pull/2885

[2020-08-12 19:17] #1266 closed

[2020-08-12 19:55] delpic opened #3098 "Ability to pull multiple GitHub repos"
Hello,

I was wondering if there was a way to be able to have Tekton be able to pull from multiple GitHub repos in a single task? The issue we encounter is that we need to use different deploy keys per repo. Is there a way to do this? Thanks in advance!

[2020-08-12 20:10] bobcatfish commented on #1355
Note you can now do this kind of thing with the results feature, e.g. like the Kaniko task: https://github.com/tektoncd/catalog/tree/master/task/kaniko/0.1

[2020-08-12 20:14] bobcatfish commented on #617
These days the [affinity assistant](https://github.com/tektoncd/pipeline/blob/116fadd01482919acfb4fe9c17bca287dd6b4d36/docs/workspaces.md#specifying-workspace-order-in-a-pipeline-and-affinity-assistants) helps us a lot with this; also we are still trying to determine the fate of pipelineresources #1673

[2020-08-12 20:16] bobcatfish commented on #1332
I wonder if the work that @sbwsg has been doing around credentials will be the solution the original problem described here #2343

[2020-08-12 20:18] bobcatfish commented on #540
We haven't worked on this lately but it is an item in [our roadmap](https://github.com/tektoncd/pipeline/issues/540) and I think we should keep it open.

/lifecycle frozen

[2020-08-12 20:20] bobcatfish commented on #1222
I still think this is a good idea but maybe it makes sense to let it get auto closed if no one is able to engage?

[2020-08-12 20:21] bobcatfish commented on #639
I think we can actually do this today, judging by the golang catalog tasks:

https://github.com/tektoncd/catalog/blob/947198561e74b3a022e35ead29e01680e6634304/task/golang-build/0.1/golang-build.yaml#L41

[2020-08-12 20:21] #639 closed

[2020-08-12 20:22] bobcatfish commented on #1289
This is a roadmap item: https://github.com/tektoncd/pipeline/blob/master/roadmap.md

/lifecycle frozen

[2020-08-12 20:24] bobcatfish commented on #323
Two possible ways to handle this:

- Make it possible for workspaces to be backed by something other than k8s types (e.g. GCS, S3)
- Create Tasks for this and consider it done

There is also the PipelineResource redesign in #1673

Given all of that it feels reasonable to me to close this for now.

[2020-08-12 20:24] #323 closed

[2020-08-12 20:24] bobcatfish commented on #1221
still feels like a useful kind of contributor documentation but maybe just letting it quietly be closed is the way to go

[2020-08-12 21:20] #1202 closed

[2020-08-12 21:20] #1373 closed

[2020-08-12 21:20] #439 closed

[2020-08-12 22:19] #1567 closed

[2020-08-12 22:19] #1585 closed

[2020-08-12 23:20] #1334 closed

[2020-08-12 23:20] #1534 closed

[2020-08-13 00:21] #1683 closed

[2020-08-13 00:21] #1553 closed

[2020-08-13 00:21] #1703 closed

[2020-08-13 00:21] #1468 closed

[2020-08-13 01:21] #1395 closed

[2020-08-13 01:21] #1234 closed

[2020-08-13 02:22] #1741 closed

[2020-08-13 03:23] #1704 closed

[2020-08-13 03:23] #813 closed

[2020-08-13 04:24] #1794 closed

[2020-08-13 05:24] #1260 closed

[2020-08-13 06:24] #1302 closed

[2020-08-13 06:24] #1883 closed

[2020-08-13 06:24] #1886 closed

[2020-08-13 07:24] #1938 closed

[2020-08-13 07:24] #1939 closed

[2020-08-13 07:24] #1947 closed

[2020-08-13 07:50] vdemeester commented on #1746
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:54] vdemeester commented on #1569
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:54] vdemeester commented on #1687
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

@ImJasonH still an issue right ? (cc @sbwsg )

[2020-08-13 07:54] vdemeester commented on #644
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:55] vdemeester commented on #1461
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:56] vdemeester commented on #1676
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:56] vdemeester commented on #1371
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:59] vdemeester commented on #1587
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:59] vdemeester commented on #439
@afrittoli is this still an issue ?

[2020-08-13 07:59] vdemeester commented on #1294
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:01] vdemeester commented on #941
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:07] vdemeester commented on #1222
Also, adding to this that, the operator would have *code* on this (aka upgrading from a version to a new one).

[2020-08-13 08:11] vdemeester commented on #1372
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:22] vdemeester commented on #1293
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:25] #1969 closed

[2020-08-13 08:26] vdemeester commented on #1673
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-08-13 09:07] jlpettersson commented on #3097
+💯

My opinion is that Tekton should not leave users with problem A Or problem B, but instead solve both problems, or at least solve and guide the user on how to solve it the Tekton way.

I don't see how that makes sense? Only some runs can be deadlocked because the pods ended up in different AZs?

[2020-08-13 09:22] vdemeester commented on #3097
@jlpettersson so as of today, with the affinity assistant enabled, I cannot add two different PVC to my `TaskRun`, even if those are `ReadWriteMany`. Having a way to say "disable the affinity assistant" for a run, let the user deal with it, without affecting the *default behavior*.

As it is today, the affinity assistant prevent @quintesse (and others) use case. All I am suggesting here is to be a

[2020-08-13 10:12] jlpettersson commented on #3097
Thats true.

But if you use a `ReadWriteMany` volume in a _regional cluster_ - you will have the same problem and need an affinity assistant - but less strict. https://github.com/tektoncd/pipeline/issues/3052 can probably be a better direction for such features.

But if you use a `ReadWriteMany` volume in a _zonal cluster_ - you can disable the affinity assistant for all workload

There is a third

[2020-08-13 10:22] vdemeester commented on #3097
Right, but as of today, a user who wish doesn't run a zonal cluster (using something else than gke or cloud that support and enable those), and who doesn't have the power to disable the affinity assistant, cannot have a PVC for his/her cache and another PVC for the source(s). Adding a way to disable the affinity assistant per pipeline, *opt-in* (through an annotation), helps that particular use ca

[2020-08-13 10:27] #1815 closed

[2020-08-13 10:27] #1879 closed

[2020-08-13 10:27] #1819 closed

[2020-08-13 10:38] quintesse commented on #3097
Thanks for all the feedback/discussion on this issue!

But I want to make sure that what @vdemeester suggests can be considered an actual solution that can be used by all users/customers. Because I'm not looking for just a way to solve my problem, I'm trying to create *the* official Tekton Task that will be used and promoted by a productized Quarkus. I need to be sure that we can recommend this so

[2020-08-13 10:48] jlpettersson commented on #3097
Just so it is clear.

I have the exact same problem, e.g for

But my opinion is that this need to be handled slightly different in a kubernetes environment, e.g. fetching it from remote location. Similar to how it is documented in other cloud build system, e.g. Google Cloud Build ...nothing unique for Tekton. But yeah, there may be solutions that work for some users and others that only work for o

[2020-08-13 11:10] quintesse commented on #3097
Just to be clear, in your opinion we shouldn't be trying to cache "locally" but only use remote fetching of dependencies (possibly using local proxies to speed things up)?

[2020-08-13 11:28] #1913 closed

[2020-08-13 11:30] jlpettersson commented on #3097
yes, that is kind of what I meant... but I am not sure I am aware of the "best" solution...

* Single Node System: In this case, it is relatively easy(?) to cache locally - an example is Jenkins
* Cluster System: By nature more difficult - there are many alternatives ... but if you try to compete in latency with a single node - it may be difficult. One way is to only use a single node at a time ..

[2020-08-13 12:28] #2049 closed

[2020-08-13 13:28] #1961 closed

[2020-08-13 13:28] #1974 closed

[2020-08-13 13:28] #1460 closed

[2020-08-13 13:42] #3098 closed

[2020-08-13 13:43] delpic commented on #3098
Closing as I will ask this question on Slack.

[2020-08-13 14:29] #1463 closed

[2020-08-13 14:29] #2120 closed

[2020-08-13 14:29] #2121 closed

[2020-08-13 14:29] #2100 closed

[2020-08-13 14:29] #2106 closed

[2020-08-13 14:29] #2141 closed

[2020-08-13 15:29] #2187 closed

[2020-08-13 15:45] bobcatfish commented on #1463
@skaegi @dlorenc do we feel strongly about this and want to re-open it?

[2020-08-13 15:48] bobcatfish commented on #1974
I believe it's still true that our reconciler files are longer than we'd like, not sure if it's worth re-opening the issue, but it's definitely something we'd like to see improve!

[2020-08-13 15:49] bobcatfish commented on #2057
Interestingly we haven't had any further requests for this since opening the issue, so maybe closing it makes sense until someone really needs it.

[2020-08-13 15:56] bobcatfish commented on #1305
I'm gonna reopen this one, I wonder if we should add it to the roadmap also 🤔

/reopen

[2020-08-13 15:58] bobcatfish commented on #1819
I guess #2656 seems to duplicate this anyway 😬

[2020-08-13 15:59] bobcatfish commented on #1879
The request here makes sense so I'm inclined to reopen, however it seems like no one has needed it since this was originally requested?

[2020-08-13 16:27] sbwsg commented on #1463
Worth noting that there's a maybe more use-case-oriented issue covering similar ground here: https://github.com/tektoncd/pipeline/issues/2958

In that issue we're discussing adding context variables for all the annotations on tasks, pipelines, taskruns and pipelineruns.  Those annotation keys can include characters "/", ".", etc...  Dot-style gets a bit unwieldy and maybe difficult to unambiguousl

[2020-08-13 16:29] #2201 closed

[2020-08-13 16:29] #2198 closed

[2020-08-13 16:29] #1631 closed

[2020-08-13 16:29] #1637 closed

[2020-08-13 16:29] #1645 closed

[2020-08-13 16:29] #1513 closed

[2020-08-13 17:30] #2135 closed

[2020-08-13 17:30] #1565 closed

[2020-08-13 17:30] #1754 closed

[2020-08-13 17:30] #1712 closed

[2020-08-13 17:30] #1574 closed

[2020-08-13 17:30] #2112 closed

[2020-08-13 17:30] #631 closed

[2020-08-13 18:01] jlpettersson commented on #3097
To summarize.

Tekton uses a _cluster_ for its workload, this has benefits in terms of scalability and high availability compared to a Single Node CI/CD-system. As a consequence of that...

**caching** in a cluster system is indeed a problem. Some parts of the problem:

* Cache on a Node is not enough, as multiple Nodes is in use.
* Cache on a volume is not enough, if a multi-datacenter cluster is

[2020-08-13 18:18] bobcatfish commented on #631
i think we're still in the same state but it also seems like it hasnt been important enough for anyone to get to

[2020-08-13 18:19] bobcatfish commented on #833
I think closing this makes sense until we have a clear need for it and we can come up with some options - probably annotations is the way to go!

[2020-08-13 18:19] #833 closed

[2020-08-13 18:28] bobcatfish commented on #1222
Makes sense @vdemeester  - that's even better!

[2020-08-13 18:31] #2223 closed

[2020-08-13 18:31] #2234 closed

[2020-08-13 18:31] #1995 closed

[2020-08-13 18:31] #2087 closed

[2020-08-13 18:31] #2228 closed

[2020-08-13 18:31] #2246 closed

[2020-08-13 18:41] bobcatfish commented on #1740
This is in [our roadmap](https://github.com/tektoncd/pipeline/blob/master/roadmap.md) and @afrittoli has been making incremental progress on it (e.g. emitting more cloud events during execution)

/lifecycle frozen

[2020-08-13 18:53] bobcatfish commented on #1260
I don't think we've ever really established whether or not we want to do this, it comes up every once in a while in conversation but it still feels (to me at least!) like we have no use cases for this that are compelling enough for us to do it

[2020-08-13 18:55] bobcatfish commented on #1831
I'm not sure if Pipelines is the right place for this issue but regardless is this is something that we need to address - if tekton is going to have explicit github support (which we do via the PullRequest pipelineresource + catalog task, and also via triggers interceptors) we should support github app authentication as well

/remove-lifecycle rotten

[2020-08-13 19:06] bobcatfish commented on #1617
Having the right logs and being able to tell what's happening is important.

In the log snippet above we have various levels of logs:

![image](https://user-images.githubusercontent.com/432502/90175959-3eefbe00-dd76-11ea-9cbe-3e848b354f82.png)

@ImJasonH do you remember if the ERROR and/or WARN logs are relevant to what actually went wrong in the tests? The requirement I'd like to enforce is somet

[2020-08-13 19:06] bobcatfish commented on #1617
/remove-lifecycle rotten

[2020-08-13 19:32] #2294 closed

[2020-08-13 20:25] bobcatfish commented on #2294
This may have been somewhat solved by #1522 (thanks @R2wenD2 !)

You can now access [variables like the pipelinerun name and the pipelinename](https://github.com/tektoncd/pipeline/blob/master/docs/variables.md#variables-available-in-a-pipeline) in the pipeline - to make these available to a Task/ClusterTask it could declare them as params.

[2020-08-13 20:32] #1292 closed

[2020-08-13 20:32] #1922 closed

[2020-08-13 20:32] #1814 closed

[2020-08-13 20:32] #2029 closed

[2020-08-13 20:32] #2284 closed

[2020-08-13 21:33] #1287 closed

[2020-08-13 21:33] #2268 closed

[2020-08-13 22:34] #1259 closed

[2020-08-13 22:41] chhsia0 commented on #2696
We're hitting the same multi-tenancy problem at D2iQ. I was wondering that if there's no consensus on whether webhook services should be separated, is it possible to add a flag to launch the webhook in "conversion-only" mode, as an exercise to see how it could work in a multi-tenant setting?

[2020-08-13 23:34] #2319 closed

[2020-08-13 23:34] #2361 closed

[2020-08-13 23:56] StevenACoffman commented on #1259
@medkbadri I don't suppose you have the unclean files lying around anywhere, do you?

[2020-08-14 00:34] #2375 closed

[2020-08-14 00:34] #2372 closed

[2020-08-14 01:35] #2396 closed

[2020-08-14 02:36] #2257 closed

[2020-08-14 02:36] #2452 closed

[2020-08-14 02:36] #2461 closed

[2020-08-14 02:36] #2473 closed

[2020-08-14 02:36] #2464 closed

[2020-08-14 03:37] #2499 closed

[2020-08-14 03:50] bibi520 opened #3100 "My repository exists but pipelinerun error can't find it"
tekton：v0.15.0
kubernetes：v1.16.9

TriggerBinding：
![image](https://user-images.githubusercontent.com/42456284/90211683-03abc880-de24-11ea-8ee0-2b64f2e29d70.png)
TriggerTemplate：
![image](https://user-images.githubusercontent.com/42456284/90211700-0c040380-de24-11ea-8832-2efbb1b95380.png)
pipelinerun error：
![image](https://user-images.githubusercontent.com/42456284/90211780-41105600-de24-11ea-91e

[2020-08-14 03:55] zops commented on #3092
Upgrade from v0.14.0 to v0.15.2, the problem is solved

[2020-08-14 03:55] #3092 closed

[2020-08-14 04:05] #3100 closed

[2020-08-14 04:37] #2476 closed

[2020-08-14 04:37] #1137 closed

[2020-08-14 04:37] #1867 closed

[2020-08-14 05:37] #1419 closed

[2020-08-14 05:37] #2128 closed

[2020-08-14 06:38] #1912 closed

[2020-08-14 06:38] #2140 closed

[2020-08-14 06:38] #989 closed

[2020-08-14 07:38] #2594 closed

[2020-08-14 07:38] #2599 closed

[2020-08-14 07:38] #2382 closed

[2020-08-14 07:38] #2592 closed

[2020-08-14 08:39] #1490 closed

[2020-08-14 08:49] bibi520 opened #3102 "triggerbinding can use the cel get the value"
triggerbinding：
![image](https://user-images.githubusercontent.com/42456284/90231670-189d5180-de4e-11ea-9486-e5c53fc39cf2.png)

I just want to master this value what should I do

![image](https://user-images.githubusercontent.com/42456284/90231606-03c0be00-de4e-11ea-8a4c-64a523baa4bd.png)

[2020-08-14 09:40] #1535 closed

[2020-08-14 09:40] #2622 closed

[2020-08-14 11:41] #2649 closed

[2020-08-14 11:42] bitsofinfo commented on #2219
/reopen

[2020-08-14 11:42] bitsofinfo commented on #2219
/remove-lifecycle rotten

[2020-08-14 11:43] bitsofinfo commented on #1990
/reopen
/remove-lifecycle rotten

[2020-08-14 12:41] #2552 closed

[2020-08-14 12:41] #2698 closed

[2020-08-14 12:41] #2079 closed

[2020-08-14 13:15] chanseokoh commented on #2013
/remove-lifecycle rotten

[2020-08-14 13:17] sbwsg commented on #2013
/reopen
/lifecycle frozen

[2020-08-14 13:42] #2587 closed

[2020-08-14 13:55] sbwsg commented on #2407
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-08-14 13:57] sbwsg commented on #2407
This remains an issue and we've had a user in slack recently query us about it.  I think longer-term the Credentials UX improvements I'm trying to push in #2343 will allow users to handle this problem but I would like to keep it on the radar until optional workspaces or an equivalent feature are well-supported.

[2020-08-14 14:00] sbwsg commented on #1990
/remove-lifecycle stale

[2020-08-14 14:07] sbwsg commented on #1559
Reopening as this is still discussed with some regularity during API WGs and on Slack.

/reopen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-08-14 14:17] sbwsg commented on #1836
Reopening this one as deprecating the `workingDir` default is yet to happen.

/reopen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-08-14 14:23] sbwsg commented on #2574
Reopening as I'd still like Tekton to be able to test code gated behind feature flags.

/reopen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-08-14 14:30] bobcatfish commented on #2574
I'd like to see an approach here that avoids having to run the end to end tests for every combination of feature flags; e.g. specific tests that are targeted at each flag. @vdemeester was mentioning using annotations to turn feature flags on and off in some cases, that might make it easier to make tests aimed at each flag.

if we DO decide we need to run all the tests for each flag (and combo) may

[2020-08-14 14:35] sbwsg commented on #2574
Yeah, agreed.  I'm personally much less concerned about the interaction of flag combinations than I am about being able to e2e test code behind flags _at all_.  I like the annotations idea!

[2020-08-14 14:43] #2688 closed

[2020-08-14 14:43] #2711 closed

[2020-08-14 14:43] #164 closed

[2020-08-14 15:01] bobcatfish commented on #2711
I'm not sure this is worth doing until we resolve #1673 anyway

[2020-08-14 15:02] bobcatfish commented on #235
This is currently in [our roadmap](https://github.com/tektoncd/pipeline/blob/master/roadmap.md) but also under debate in https://github.com/tektoncd/community/issues/145

/lifecycle frozen

[2020-08-14 15:04] jerop commented on #2079
update: https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

[2020-08-14 15:07] bobcatfish commented on #233
This is [in our roadmap](https://github.com/tektoncd/pipeline/issues/233)

/lifecycle frozen

[2020-08-14 15:08] bobcatfish commented on #215
/assign @ImJasonH

[2020-08-14 15:09] bobcatfish commented on #2159
My preference is that we pursue solving this via custom tasks https://github.com/tektoncd/pipeline/issues/215 - with custom tasks, folks can create manual approval Tasks specific to their needs.

[2020-08-14 15:09] bobcatfish commented on #233
I believe that https://github.com/tektoncd/pipeline/issues/215 will solve this so I'm inclined to close it in favor of #215

[2020-08-14 15:16] bobcatfish commented on #1878
/remove-lifecycle rotten
/assign

i still want this functionality - the work that @jerop has been doing around conditions has highlighted how important it is to be able to express the difference between ordering (via runafter) and resource dependencies like this

[2020-08-14 15:21] bobcatfish commented on #2635
/reopen
/remove-lifecycle rotten

I think a lot of the points @jlpettersson brought up are being addressed in the new conditions proposal https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

@jerop if you get a chance could you update this issue re. which of the issues above are being addressed and how?

[2020-08-14 15:21] bobcatfish commented on #2635
/assign jerop

[2020-08-14 15:23] bobcatfish commented on #1684
I feel like it's fair to consider this closed now that we have [finally](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#adding-finally-to-the-pipeline), tho there are more features to add, and to get the complete set of flexibility someone might want, i think we need to add in #2134 as well

[2020-08-14 15:25] bobcatfish commented on #2599
We do have https://github.com/tektoncd/pipeline/blob/master/api_compatibility_policy.md but maybe there is something still missing?

[2020-08-14 15:28] bobcatfish commented on #3051
@ImJasonH created an alternate proposal in https://github.com/tektoncd/pipeline/issues/2559

[2020-08-14 15:28] bobcatfish commented on #2559
/reopen
/remove-lifecycle rotten

[2020-08-14 15:44] #2724 closed

[2020-08-14 15:45] IdanAdar commented on #2725
@wlynch why?

[2020-08-14 15:48] afrittoli commented on #1323
I think this is still a valid use case.
This design doc goes in the direction of fixing this: https://docs.google.com/document/d/1G2QbpiMUHSs4LOqcNaIRswcdvoy8n7XuhTV8tXdcE7A/edit#
@sbwsg @bobcatfish

[2020-08-14 15:50] afrittoli commented on #1136
Custom tasks may come in handy here.

[2020-08-14 15:52] jerop commented on #1797
will be solved using [when expressions](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#efficiency-1) in conditions beta (ongoing work)

[2020-08-14 15:56] dibyom commented on #3102
Hi, this looks like a Triggers issue so I'll move it to that project first!

/kind question

[2020-08-14 16:07] MLBMatt commented on #454
This issue is unfortunately causing issues within our Tekton implementation. We (at MLB) run _a lot_ of jobs and we routinely hit our cluster pod limit for our build cluster. We have to resort to a daily cron job to delete the day's worth of jobs but this obviously isn't the best solution because we lose potentially valuable build logs in the process.

We're still looking at ways to cache the logs

[2020-08-14 16:46] ImJasonH commented on #454
Hi @MLBMatt and @shinji62

Sorry for the lack of updates/visibility on this. At this time we know pretty well that we need it (as you've noticed by now!) but haven't yet found anybody to prioritize working on it. There's some expeirmental work going on in [experimental](https://github.com/tektoncd/experimental/tree/master/results), but nothing I'd consider production-ready at this time.

If this i

[2020-08-14 16:54] jlpettersson commented on #1878
@bobcatfish why? I find this case invalid now.

This is **no longer true**. The problem was also described in https://github.com/tektoncd/pipeline/issues/2586
And solved in https://github.com/tektoncd/pipeline/pull/2630 - when adding the affinity assistant - so that tasks can access the workspace concurrently.

This is contradictory to https://github.com/tektoncd/pipeline/issues/2586 but if the be

[2020-08-14 17:45] #2755 closed

[2020-08-14 17:45] #1539 closed

[2020-08-14 17:45] #2772 closed

[2020-08-14 17:45] #2777 closed

[2020-08-14 18:45] #2795 closed

[2020-08-14 18:45] #2789 closed

[2020-08-14 18:45] #2731 closed

[2020-08-14 20:46] #1284 closed

[2020-08-14 20:46] #1570 closed

[2020-08-14 20:46] #1280 closed

[2020-08-14 20:46] #1376 closed

[2020-08-14 23:46] #2832 closed

[2020-08-15 01:47] #1368 closed

[2020-08-15 01:47] #1473 closed

[2020-08-15 04:49] #2889 closed

[2020-08-15 04:49] #2863 closed

[2020-08-15 05:49] #2816 closed

[2020-08-15 05:49] #2877 closed

[2020-08-15 06:49] #2831 closed

[2020-08-15 11:46] bitsofinfo commented on #2791
/remove-lifecycle rotten
/reopen

[2020-08-15 12:08] ImJasonH commented on #2944
/remove-lifecycle rotten

[2020-08-15 16:07] NavidZ commented on #2814
/reopen

[2020-08-15 20:56] chhsia0 commented on #2925
/remove-lifecycle rotten

[2020-08-15 20:57] chhsia0 commented on #2925
/reopen

[2020-08-15 20:57] chhsia0 commented on #2925
@bobcatfish Would you mind reopening this issue?

[2020-08-16 11:48] deepio-oc commented on #2010
/reopen

I was moving away from PipelineResources to Workspaces since PipelineResources is alpha and may not be supported in future. I had a "Condition" which was using PipelineResource earlier and now I wanted it replaced  with workspace but realized that this is not supported.

If PipelineResources are going to be deprecated, Conditions should support workspaces.

[2020-08-16 13:00] #2954 closed

[2020-08-16 21:33] gabemontero commented on #2917
/remove-lifecycle rotten

/reopen

[2020-08-17 03:08] danielhelfand commented on #2827
/reopen

[2020-08-17 03:10] danielhelfand commented on #2335
/reopen

[2020-08-17 03:11] danielhelfand commented on #2334
/reopen

[2020-08-17 05:44] xiujuan95 commented on #2735
Any updates for HA?

[2020-08-17 06:00] jeffmaury commented on #742
/reopen

[2020-08-17 07:46] vdemeester commented on #2735
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen
/lifecycle frozen

[2020-08-17 07:46] vdemeester commented on #742
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 07:58] afrittoli commented on #1484
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-17 09:00] vdemeester commented on #2010
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:01] vdemeester commented on #2842
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:01] vdemeester commented on #2925
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:01] vdemeester commented on #2557
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:01] vdemeester commented on #2814
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:01] vdemeester commented on #2944
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:02] vdemeester commented on #2710
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:02] vdemeester commented on #2934
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:02] vdemeester commented on #2933
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:02] vdemeester commented on #2924
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:02] vdemeester commented on #1603
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:04] vdemeester commented on #2928
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:04] vdemeester commented on #2701
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:05] vdemeester commented on #859
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:06] vdemeester commented on #2676
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:06] vdemeester commented on #2862
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:07] vdemeester commented on #2883
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:07] vdemeester commented on #2852
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:07] vdemeester commented on #2872
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:07] dianqihanwangzi opened #3105 "Tekton fails to get image manifest from private docker registry"
### Feature request

Some ways to allow insecure access to private docker registry.

### Use case

If command not set,tekton will find the origin entrypoint from registry,it may raise error like this
[code]
 Now i add insecure flag and rebuild controller to avoid  this,i hope there is an offical way to do this.

[2020-08-17 09:08] vdemeester commented on #1209
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:08] vdemeester commented on #2854
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:08] vdemeester commented on #2851
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:12] vdemeester commented on #2591
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:12] vdemeester commented on #2825
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:13] vdemeester commented on #733
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:13] vdemeester commented on #753
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:14] vdemeester commented on #1689
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:14] vdemeester commented on #1826
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:14] vdemeester commented on #2448
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:15] vdemeester commented on #2812
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:15] vdemeester commented on #2134
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:15] vdemeester commented on #2800
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:16] vdemeester commented on #2792
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:16] vdemeester commented on #2746
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:16] vdemeester commented on #1797
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:17] vdemeester commented on #2725
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:17] vdemeester commented on #2748
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:20] vdemeester commented on #2684
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:20] vdemeester commented on #2678
debug1: Trying private key: /tekton/home/.ssh/id_repo-infra-tool-nexus
debug3: sign_and_send_pubkey: RSA SHA256:gXoWndTSU9YlzNAQJ0ILY3uQCVcQtrgGiACFFqwFn6E
debug3: sign_and_send_pubkey: signing using rsa-sha2-512
debug3: send packet: type 50
debug2: we sent a publickey packet, wait for reply
debug3: receive packet: type 52
debug1: Authentication succeeded (publickey).
Authenticated to git.evry.clo

[2020-08-17 09:20] vdemeester commented on #2678
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:21] vdemeester commented on #2045
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:21] vdemeester commented on #2668
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:21] vdemeester commented on #2647
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:21] vdemeester commented on #1350
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:25] vdemeester commented on #2596
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:26] vdemeester commented on #2600
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:27] vdemeester commented on #1441
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:27] vdemeester commented on #1530
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:27] vdemeester commented on #1586
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:29] vdemeester commented on #2520
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:30] vdemeester commented on #2513
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:30] vdemeester commented on #2509
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:40] vdemeester commented on #1818
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:40] vdemeester commented on #2391
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:41] vdemeester commented on #2330
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:41] vdemeester commented on #2433
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:41] vdemeester commented on #2298
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:41] vdemeester commented on #50
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:42] vdemeester commented on #2374
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:42] vdemeester commented on #2376
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:43] vdemeester commented on #2370
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:43] vdemeester commented on #1198
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:43] vdemeester commented on #2272
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:44] vdemeester commented on #2069
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 09:44] vdemeester commented on #2288
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 13:42] sbwsg commented on #1350
The reason this error occurred was when ssh-keyscan couldn't reach a server over the internet (fixed by f112277e9). And the reason it appeared as a generic flag error was because we silently swallowed it during flag initialization (fixed by 1caf5bffe).

I'm reasonably confident we can safely consider this issue resolved now.  Sorry for the churn!

[2020-08-17 13:42] #1350 closed

[2020-08-17 13:43] vdemeester commented on #3048
So we are running in a pickle. If we start running the internal "containers" as user (with the `non-root` images), we are running into trouble as soon as user run their *task* as root. The pull-request failure in `v0.15.0` is a good example for that.

Using `gcr.io/distroless/base:debug-nonroot` causes legit failure (on the CI as #3002 shown before I removed that part of the change). There is a bi

[2020-08-17 13:55] sbwsg commented on #3048
+1 to a TEP.

Similarly connected is the problem of home directories for those users.  I think any requirement or docs around the UID of Steps also has to take into consideration the `$HOME` directory of those UIDs. This typically means having an entry in `/etc/passwd` which a _loooooot_ of images do not offer by default for any non-root users.  I think OpenShift generates these entries (part of t

[2020-08-17 14:59] bobcatfish commented on #2069
This is in our roadmap https://github.com/tektoncd/pipeline/blob/master/roadmap.md

/lifecycle frozen

[2020-08-17 15:00] bobcatfish commented on #2376
@vdemeester since we're completely changing the structure of conditions via https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md i'm not sure this issue is relevant?

[2020-08-17 15:02] bioball commented on #3105
+1 this would be a nice addition.

A nicer way to work around this issue for now without having to change the insecure flag is to rebuild the controller using a base image that has your certs baked into it. You can do that by adjusting the values set in the [ko.yaml](https://github.com/tektoncd/pipeline/blob/master/.ko.yaml)

FWIW golang will look up certs from the following system paths: https://

[2020-08-17 15:04] bobcatfish commented on #2374
As @sbwsg explained this was by design (https://github.com/tektoncd/pipeline/issues/2374#issuecomment-612867415) if we want to change this, maybe we can open a separate issue to explore it?

[2020-08-17 15:04] #2374 closed

[2020-08-17 15:13] bobcatfish commented on #50
This one is on our roadmap: https://github.com/tektoncd/pipeline/blob/master/roadmap.md

/lifecycle frozen

[2020-08-17 15:15] bobcatfish commented on #2812
@jerop has been planning to make an issue about having CEL custom task support (in the context of the conditions work she has been doing), maybe it makes sense to close this one in favor of that issue once it exists?

[2020-08-17 15:16] bobcatfish commented on #859
This is in our roadmap: https://github.com/tektoncd/pipeline/blob/master/roadmap.md

/lifecycle frozen

[2020-08-17 15:21] bobcatfish commented on #2010
Since we're [re-doing conditions and deprecating the existing CRD](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md) i think we could probably close this one - lemme know if you disagree @vdemeester @jerop  (also @jerop the TEP does mention deprecating the existing CRD but i wonder if it would make sense to make that more prominent?)

[2020-08-17 15:21] #2010 closed

[2020-08-17 15:23] VeereshAradhya opened #3108 "Pipelinerun does not validate conditions properly"
# Expected Behavior
If the params/resources not provided for the condition in pipeline spec the pipelinerun should fail with error `Failed(PipelineValidationFailed)`

# Actual Behavior
The pipelinerun starts without throwing any error

# Steps to Reproduce the Problem

1. Create a task
2. Create a condition which takes params
3. Create a pipeline which consists of the task created in step 1 and co

[2020-08-17 15:27] bobcatfish commented on #2827
If we want to do this id kind of like to revisit all the PipelineTask fields and make sure we are happy with them. A while ago I tried to categorize them:

Used to instantiate the TaskRun:
* taskref
* taskspec
* resources
* workspaces
* timeout
* params

Used to decide when and how to run (i.e. workflow logic):
* conditions/when
* retries
* runafter

These are modified at runtime via PipelineTaskR

[2020-08-17 16:09] bobcatfish commented on #2513
Oh I think this is actually completed! Turns out there was NO validation at all XD in #2708  @jerop improved this so that we now check that AT LEAST the required params are provided, but the current state should be that you can provide extra

/assign jerop

[2020-08-17 16:09] #2513 closed

[2020-08-17 16:28] jerop commented on #2513
Similarly, @bobcatfish does it make sense to allow TaskRuns to provide extra parameters?
We currently [disallow TasksRuns from providing extra parameters](https://github.com/tektoncd/pipeline/blob/4e99cb84ed624f6d48d9ff28249cda5364cd3358/pkg/reconciler/taskrun/validate_resources.go#L91-L94) -- can open a separate PR for it

[2020-08-17 17:34] bobcatfish commented on #2513
my personal feeling is to avoid adding that until someone has a compelling use case for it - maybe im wrong to draw a distinction between pipelineruns and taskruns but i feel like the use case we have, where a system is generating pipelineruns, is more likely than taskruns

[2020-08-17 17:42] jerop commented on #2513
sounds good 👍

[2020-08-17 19:57] prantaa commented on #2937
@jerop The second task doesn't necessarily need to fail. The second task runs the tests which if the tests fail then that could be indicated in a task result variable without failing the task and further passed onto later tasks which work conditionally based on the previous task result.

I don't think `finally` tasks support referencing task results from other tasks which is what we would need.

[2020-08-17 20:39] bobcatfish commented on #1376
As mentioned in #1684: I feel like it's fair to consider this closed now that we have [finally](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#adding-finally-to-the-pipeline), tho there are more features to add, and to get the complete set of flexibility someone might want, i think we need to add in #2134 as well

[2020-08-17 20:40] bobcatfish commented on #1284
Closing this seems fair - #1673 should result in us deciding if this is the way to go or not (e.g. do we completely remove this functionality)

[2020-08-17 20:45] bobcatfish commented on #1878
In features like conditions we distinguish between 1) ordering (runAfter) and 2) resource dependencies (when a Task relies on a result or a PipelineResource from another Task). Depending on a workspace that has been acted on by a previous Task is a case of (2) but since workspaces do not have a "from" or similar syntax we have no way of expressing (2) and it will always look like (1).

This proble

[2020-08-17 20:45] #1878 closed

[2020-08-17 20:50] bobcatfish opened #3109 "Allow Tasks in Pipelines to express a dependency on workspaces 'from' previous Tasks"
### Feature request

In features like conditions we distinguish between different kinds of dependencies:

1) ordering (runAfter)
2) resource dependencies (when a Task relies on a result or a PipelineResource from another Task).

Depending on a workspace that has been acted on by a previous Task is a case of (2) but since workspaces do not have a "from" or similar syntax we have no way of expressin

[2020-08-17 20:51] bobcatfish commented on #1878
created https://github.com/tektoncd/pipeline/issues/3109

[2020-08-17 20:55] bobcatfish commented on #1323
@afrittoli I still don't totally understand this use case - this means that someone has written a Pipeline and they want to use the entire Pipeline as-is, but they want to swap out individual Tasks. I guess I don't totally understand why it's not worth writing a different Pipeline in that case.

The Task specialization proposal COULD include this, but for the question of ["when do you want this sp

[2020-08-17 20:57] bobcatfish commented on #1838
I think that [task specialization](https://docs.google.com/document/d/1G2QbpiMUHSs4LOqcNaIRswcdvoy8n7XuhTV8tXdcE7A/edit#heading=h.axs58wp0hmtj) and [the currently post appealing options](https://docs.google.com/presentation/d/12QPKFTHBZKMFbgpOoX6o1--HyGqjjNJ7own6KqM-s68/edit#slide=id.p) (all part of #1673) might actually provide this so I'm going to reopen this and assign it to myself.

/reopen
/a

[2020-08-17 20:58] bobcatfish commented on #1137
Current state of the art is the beta proposal: https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

[2020-08-17 20:58] bobcatfish commented on #1023
/reopen
/remove-lifecycle rotten

/assign jerop

@jerop is actually taking care of this via https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#skipping-1

[2020-08-17 21:02] bobcatfish commented on #3092
Glad you got it worked out @zops, sorry for the confusion! there was a bug with that which was fixed in [0.14.1](https://github.com/tektoncd/pipeline/releases/tag/v0.14.1)

[2020-08-17 21:03] bobcatfish commented on #2127
/remove-lifecycle rotten
/assign jerop
/reopen

This is another one that @jerop is handling via https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#efficiency-1 !

[2020-08-17 21:31] danielhelfand opened #3110 "Inconsistent Status Reason for Cancelled PipelineRun/TaskRun"
The [PipelineRunReasonCancelled const is `Cancelled`](https://github.com/tektoncd/pipeline/blob/28d13472156fcf2ceef4b0ae409fe368b73f96dc/pkg/apis/pipeline/v1beta1/pipelinerun_types.go#L233) while [TaskRunReasonCancelled is `TaskRunCancelled`](https://github.com/tektoncd/pipeline/blob/9ec022e50c48e48040ad6f78d72c1cb8bf012875/pkg/apis/pipeline/v1beta1/taskrun_types.go#L116).

Why I think it would ma

[2020-08-18 03:04] xiujuan95 commented on #1586
Could you have any plan to support liveness and readiness for tekton controller?

[2020-08-18 09:45] xiujuan95 opened #3111 "As a tekton pipeline user, I want to use liveness/readiness probes to check controller pod health"
### Feature request

I want to use liveness and readiness probes to detect if my tekton controller pod is healthy or not. However, seem like liveness and readiness field don't be included in controller deployment:https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml

About this request, actually, I have done some experiments. I configure liveness and readiness like below:
[code]

[2020-08-18 11:13] sbwsg commented on #3109
I agree `from` might make more sense. In the first syntax snippet the user could reasonably assume that only the name of the workspace will be interpolated. But they'd be wrong - the name of the workspace will be injected _and_ there's an implicit runAfter added to the pipelinetask. `from` gives a clearer signal, at least to me, that there's something else going on over just the string interpolati

[2020-08-18 17:26] sbwsg commented on #2815
I'm not able to reproduce this.  Tried with various combinations of `-cpu`, `-race` and `-count` with no failures.  I'm going to unassign myself because I'm not sure how to make progress.

[2020-08-18 17:44] sbwsg commented on #2066
We are no longer planning to remove volumes from tasks (#2058) and so this migration doc doesn't need to happen.  Closing.

[2020-08-18 17:44] #2066 closed

[2020-08-19 01:30] dianqihanwangzi commented on #3105
Thanks!Add self signed certifacate seems less invasive.I'll try.

[2020-08-19 03:06] piyush-garg opened #3113 "Inconsistent naming of container in release.yaml"
The container name is `tekton-pipelines-controller` in Controller Deployment while the name of the container in Webhook Deployment is `webhook`

Link for controller deployment: https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml#L56

Link for webhook controller: https://github.com/tektoncd/pipeline/blob/master/config/webhook.yaml#L59

Is there any specific reason for this? Or i

[2020-08-19 07:09] xiujuan95 commented on #3111
Now, I check pod event and find liveness/readiness probes failed message is gone:
[code]
So I think previous failure is expected, Because pod is restarting, do liveness and readiness detect failed. Once pod is ready, liveness and readiness detections are normal.

But it's better for your side to add an explicit probes for controller. I think it's necessary.
![image](https://user-images.githubuserc

[2020-08-19 08:57] LiYa-Xu commented on #3059
@sbwsg  I see .Thanks for your help .

Have other questions that have a pod.yaml like below:
[code]
Then I appiled the 100 pod together with above yaml file , `k get pod -n test -w`  , one of the pod excution timestamp like below :
[code]
you can see from pod init to all contianer Completed just take 6s.

But when I apply 100 trs with tr.yaml that has 8 steps of it as below ,
[code]

 the pod init

[2020-08-19 10:53] ImJasonH commented on #3111
@mattmoor is there a health check enpoint provided by knative/pkg by any chance? Perhaps hooked into any signal that reconciling is happening, and into the new HA stuff?

[2020-08-19 12:54] sbwsg commented on #3059
Very interesting results, thankyou!  I don't know the precise answer but it would be worth investigating.

One factor I'm aware of is that the first Step's container waits for a [downward API volume to be populated from an annotation](https://github.com/tektoncd/pipeline/blob/7d7119a583f48fff817f0ccff17cdb949799bb7c/pkg/pod/entrypoint.go#L161-L181). So maybe there is a delay in that annotation bei

[2020-08-19 14:08] NikeNano commented on #2433
I would be happy to work on this.

[2020-08-19 14:17] mattmoor commented on #3111
Yeah, but I think it's probably only exposed when the webhook is active, since the main use case would be lame ducking webhooks so the K8s Service drops the endpoint before it quits.

[2020-08-19 14:57] qu1queee commented on #3111
@ImJasonH any comments around using the `/metrics` endpoint as the probe?

[2020-08-19 15:00] ImJasonH commented on #3111
It's honestly a bit surprising that it reports unhealthy in the example above. I'd want to look into that and figure out why that is. Maybe for simplicity we should add a new `/health` handler that simply always responds successfully, to remove potential noise.

That seems a bit less useful though, since ideally we'd like to only report "ready" when listers/informers are set up, or when the webhoo

[2020-08-19 17:32] malacourse opened #3116 "Add example for thanos configuration to values.yaml"
### Feature request

It would be helpfully if an example configuration for Thanos persistence was included in the values.yaml for the chart with but commented out like the "custum_ca" example.

### Use case

When defining prometheus persistence it would be helpful to have an example

[2020-08-19 18:45] #2883 closed

[2020-08-19 21:48] bobcatfish commented on #2813
This is still something we want

/reopen

[2020-08-19 21:51] bobcatfish commented on #3108
This is probably not too bad to fix, however we are going to be deprecating the existing Conditions CRD: https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

[2020-08-20 00:21] gattytto commented on #2019
/reopen

[2020-08-20 04:32] dghubble commented on #3060
That sounds quite agreeable to me if they become pluggable or optional. So far I've not seen crashes, so maybe that validation isn't present in this release.

[code]

[2020-08-20 07:20] LiYa-Xu commented on #3059
@sbwsg Thanks for your response . Yes ,very interesting results. And also the number of the steps in tr.yaml will impact the pod init to first contianer running excution time .

below is just one step in tr.yaml
[code]
And below is one of the pod timestamp that created by tr

[code]

[2020-08-20 07:52] tragiclifestories opened #3118 "Cannot attach to container with TTY in steps"
This is perhaps more of an edge case than anything else, but I've had to spend a good few hours debugging this so thought it was worth writing up.

# Expected Behavior

Given a running pod like this:

[code]

And a TaskRun like this:

[code]

I expect the step to run correctly and print out its output:

[code]

# Actual Behavior

kubectl attach errors out cryptically:

[code]

That's an empty stri

[2020-08-20 08:46] vdemeester commented on #2019
/remove-lifecycle rotten

[2020-08-20 08:47] vdemeester commented on #2813
/remove-lifecycle rotten

[2020-08-20 10:02] LiYa-Xu commented on #3059
@sbwsg And I have other question , you said that the first Step's container waits for a downward API volume to be populated from an annotation, the first step is after starting then waiting downward API volume  done ,or the downward API volume  done then the first step can starting ?

[2020-08-20 12:26] VeereshAradhya opened #3119 "Pipelinerun status will not be set to `PipelineRunStopping` if pipeline contains `finally` tasks"
# Expected Behavior
The pipelinerun status should be set to `PipelineRunStopping` when any of taskrun fails and other taskruns are still running (though pipeline contains `finally` tasks)

# Actual Behavior
The pipelinerun status is not set to `PipelineRunStopping` when any of taskrun fails and other taskrus are still running when pipeline contains `finally` tasks

# Steps to Reproduce the Problem

[2020-08-20 12:27] vdemeester commented on #3119
/cc @pritidesai

[2020-08-20 13:44] sbwsg commented on #3059
The order of execution goes like this:

1. Pod is created with a container for each Step (+ others for initcontainers / sidecars)
2. InitContainers run to completion
2. Step containers & sidecar containers start up
3. All Steps then wait for sidecars to be ready. Step containers are running but each container's entrypoint binary is [waiting for files](https://github.com/tektoncd/pipeline/blob/mast

[2020-08-20 15:14] ImJasonH commented on #3060
Weird, I'm able to trigger `CrashLoopBackOff` by passing `-creds-image=""`, or by not specifying the flag in controller.yaml. That change (#3016) was included in v0.15.

In any case, it sounds like the issue as stated is resolved -- you can pass some nonsensical value for images you know you don't care about, and things will work. Ideally we'd do a better job of documenting which images you don't

[2020-08-20 17:00] #2767 closed

[2020-08-20 17:20] pritidesai commented on #3119
yes this is by design. `stopping` mode with `finally` does not make sense because once a task fails, `finally` tasks are scheduled right after that first failure. For pipeline without `finally`, once a task fails, pipeline waits for other running tasks to complete and does not schedule any new task i.e. pipeline goes in `stopping` state.

[2020-08-20 19:47] dghubble commented on #3060
Ok, it sounds like the direction is to drop most of the unneeded images and for now I can continue overriding them to be sure they're not used. I was hoping the documentation table could be filled out to have a barrier against more images being added, but sounds like that effort may not be needed / I'm not really using them to know what to put.

I'll close this out if there's no other concern

[2020-08-20 20:38] #3060 closed

[2020-08-21 06:13] VeereshAradhya commented on #3119
The above link does not mention about the state `PipelineRunStopping` of pipelinerun, it only talks about the final state of the pipelinerun. I think it needs to be updated.

When I was going through the newly added features of [v0.14.0](https://github.com/tektoncd/pipeline/releases/tag/v0.14.0), I found `A new reason "PipelineRunStopping" indicate that the pipeline run has found a failure and is

[2020-08-21 07:06] pritidesai commented on #3119
Hi @VeereshAradhya PR #2774 introduced `PipelineRunStopping` for DAG tasks which was part of 0.14.0.

The expected state transition in this case is  ```Started -> Running -> Failed``` like its documented [here](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#pipelinerun-status-with-finally). Finally task failure does not transition into stopping state since expectation is rest o

[2020-08-21 14:53] gyliu513 opened #3122 "[Question] Where can I get s390x and ppc64le build"
I can see pipeline do support ppc64le nad s390x build based on makefile https://github.com/tektoncd/pipeline/blob/master/Makefile#L58-L64 , where can I get those build?

[2020-08-24 05:12] LiYa-Xu commented on #3059
@sbwsg Thanks.  I see . Let me try more

[2020-08-24 05:27] gyliu513 commented on #3122
Thanks @vdemeester , this is really helpful, let me close this one and trace in #856

[2020-08-24 05:27] #3122 closed

[2020-08-24 09:21] Fabian-K opened #3126 "Executing a Pipeline with a single Task results in multiple TaskRuns"
Hi,

I have a simple pipeline that consists only of a single task. When creating a PipelineRun for it, I expect that one TaskRun is created. Sometimes however, I observe two TaskRuns being created for the same PipelineRun. Here is an example: PipelineRun `uiveri5-lunchmenu-1598256551145` resulted in two TaskRuns `uiveri5-lunchmenu-1598256551145-uiveri5-d7fkh` and `uiveri5-lunchmenu-1598256551145-u

[2020-08-24 09:43] vdemeester commented on #3126
This *might* be related to https://github.com/tektoncd/pipeline/issues/2813 :thinking:

[2020-08-24 11:13] bibi520 opened #3127 "I feel to build a long time"
Each building will be stuck here for a long time have what way can a bit faster
![image](https://user-images.githubusercontent.com/42456284/91038698-c7574400-e63d-11ea-97f9-4114f53c651f.png)

[2020-08-24 12:57] withlin commented on #3127
Are you using kaniko？ @bibi520

[2020-08-24 12:57] bibi520 commented on #3127
yes

[2020-08-24 12:59] bibi520 commented on #3127
![image](https://user-images.githubusercontent.com/42456284/91047445-a77b4c80-e64c-11ea-85cc-c1cc6a4dc325.png)

[2020-08-24 13:00] withlin commented on #3127
i think that you can upgrade kaniko version.

[2020-08-24 13:01] bibi520 commented on #3127
Do you use the latest version?

[2020-08-24 13:01] withlin commented on #3127
we use v0.24. which is faster. we open source dashboard in [compass](https://github.com/yametech/compass)

[2020-08-24 13:02] bibi520 commented on #3127
Thank you. I'll try.

[2020-08-24 13:09] withlin commented on #3127
/kind question
/close

[2020-08-24 13:09] #3127 closed

[2020-08-24 13:14] bitsofinfo commented on #2812
if the new issue covers the feature I'm describing of making CEL expressions available anywhere in tekton where `$()` syntax is already supported sure,  otherwise please leave it open.

[2020-08-24 13:28] Miguel-Otero-IBM opened #3129 "lack of validation (runAfter)"
runAfter does not do validation on its value. If it is not an array, it silently ignores it.

This has got me several times, when dealing with a runAfter dependency on just one task.

I would invariably tend to write it as:

    runAfter: otherTask

instead of

    runAfter:
      - otherTask

Tekton will accept the first form, then proceed to happily ignore it, so the otherTask will be fired conc

[2020-08-24 13:35] sbwsg commented on #3019
Closing this issue as I think the questions are resolved.  Please reopen if you continue to experience problems and let me know if the changes I've suggested have made any difference. Thanks for the issue report!

[2020-08-24 13:35] #3019 closed

[2020-08-24 14:57] bobcatfish commented on #3126
yep!

hmm in that one, a container within a pod was restarted, im not sure that would be caused by the same thing, since this sounds like the controller is deciding to create more than one TaskRun

@Fabian-K do you happen to have the PipelineRun status information available? it would be interesting to see if it included more information, e.g. did it include just the one TaskRun or both

Also does

[2020-08-24 15:07] dibyom commented on #1250
Ref: https://github.com/tektoncd/pipeline/pull/3081 -- starts documenting our API using Open API

[2020-08-24 15:26] bobcatfish commented on #1305
We're adding this to our roadmap, I changed the name a bit to reflect that we feel like we'd want to address this in general but maybe not specifically for branch + repo only

[2020-08-24 15:53] vdemeester commented on #3129
@Miguel-Otero-IBM can you share the version of tekton pipeline that is deployed ? Also, can you list the deployments in `tekton-pipelines` ?

[code]

Tried it out and it does validates :

[code]

So my guess is that the webhook doesn't seem to run on your cluster :thinking:

[2020-08-24 17:00] Miguel-Otero-IBM commented on #3129
Tekton Pipeline is version 0.14.1 running on a private node on IBM Cloud.

[code]

[2020-08-24 18:19] ImJasonH commented on #1305
Some thoughts on how this could possibly work, feel free to propose alternatives:

- introduce a "concurrency bucket" CRD with a cap on task runs and/or resources, and/or something else

- have PipelineRuns and TaskRuns state what bucket they're counting against; possibly using an annotation?

- triggers could populate with some key based on repo+branch (or just repo, or org, etc.)

- PipelineRun

[2020-08-24 19:33] bobcatfish commented on #1305
Related issue: https://github.com/tektoncd/pipeline/issues/2591

[2020-08-25 03:07] FogDong commented on #3094
/assign @FogDong

[2020-08-25 04:43] zhangtbj commented on #3111
And this liveness and readiness is also required for tekton pipeline `webook` and tekton trigger `controller` and `webhook`.

[2020-08-25 10:49] ImJasonH opened #3133 "Implement Custom Tasks"
See [TEP-0002](https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md)

- Allow `TaskRef`s in `PipelineTask`s that specify an `apiVersion` and  `kind`
- Create `Run`s for those `Ref`s owned by the `PipelineRun`
- Collect `RunStatus`es in the `status` of the owning `PipelineRun`
- Simple end-to-end test demonstrating a `Run` being created from a `PipelineRun`
- Document Custom

[2020-08-25 14:47] Fabian-K commented on #3126
Thanks for the quick reply. This is not the first time I noticed multiple taskrun creations but it´s difficult to say how often this happens - also because this particular pipeline can be executed multiple times without an issue so it might also happen unnoticed.

Background Info: We also run https://github.com/fluxcd/flux in the cluster. Flux is creating the Pipeline and the Task objects - but sh

[2020-08-25 15:34] bobcatfish commented on #3126
interesting, it looks like uiveri5-lunchmenu-1598256551145-uiveri5-d7fkh ended up in the status and not uiveri5-lunchmenu-1598256551145-uiveri5-d7fkh

i wonder if something could happen that interrupts the reconciler from updating the status and so it thinks it needs to create another taskrun?? very curious!!

[2020-08-26 04:16] kobaji commented on #3036
/assign @kobaji

[2020-08-26 04:18] kobaji commented on #3036
I apologize for my mistake.
I posted assigning me by mistake. (it already has been deleted.)

[2020-08-26 11:38] nsoubelet opened #3137 "Disable CONFIG_ARTIFACT_PVC_NAME since GCS is being used"
# Expected Behavior
As explained in documentation, one can choose to use only GCS (bucket). I want to use that option therefore I did not create any ConfigMap for PVC and I removed CONFIG_ARTIFACT_PVC_NAME env from Deployment, only keeping CONFIG_ARTIFACT_BUCKET_NAME.

So I expect controller not using PVC or trying to read that configuration.

# Actual Behavior
Controller does not start, error as

[2020-08-26 15:22] jerop opened #3139 "When Expressions Status"
Tracking discussions about When Expressions Status, particularly:
- how to use the current knative's `ConditionSucceeded` in When Expressions
- introducing a `ConditionsSkipped` type to use in place of `ConditionSucceeded`

@pritidesai's [comment](https://github.com/tektoncd/pipeline/pull/3135#issuecomment-680681770):

@jerop's [comment](https://github.com/tektoncd/pipeline/pull/3135#issuecomment-

[2020-08-26 17:10] skaegi opened #3140 "PipelineRun Status bloat and excessive updates"
In our production systems we are seeing large PR objects frequently over 1MB in size when serialized as JSON with nearly all the information in status pipelineSpec and taskruns. This might seem big now but I would bet this is really just the beginning and as we see more Tekton usage things are going to get a lot larger. In addition as a pipeline runs the PRs get updated along with changes to statu

[2020-08-26 17:15] ImJasonH commented on #3140
To me this seems to be closely related to https://github.com/tektoncd/pipeline/issues/454 -- if we had an off-cluster system to store *Run statuses, we wouldn't be bound by etcd's storage and performance issues around l arge objects. (That being said, we _would_ be bound by whatever _that system's_ limitations are 😄 )

As an alternative, we could phase out reporting all of each sub-*Runs' statuses

[2020-08-26 20:20] bobcatfish commented on #3139
A few options:

1. Do what the existing Conditions feature does and set Successful = False with a descriptive Reason
2. Use Successful = True instead (as @ImJasonH said: it has successfully done nothing) with a descriptive Reason
3. Don't populate the Successful condition at all when skipped
4. Same as (3) but also add a new Condition such as "Skipped" which would be true
5. (4) could also be comb

[2020-08-27 01:14] pritidesai commented on #3139
I think 4 is the ideal choice here with slight modification, introduce a new condition "Skipped" and set it to `true` for the task with failing when expressions and all its dependencies.

Pros/Cons:

+ All the skipped tasks (parent and dependencies) will have a consistent status and part of the pipelinerun status.
- Pipelinerun `status` growing with so many additional entries compared what we have

[2020-08-27 02:24] bibi520 commented on #3127
I switched to kaniko's version, but the more projects he builds, the longer he gets stuck
![image](https://user-images.githubusercontent.com/42456284/91376294-59826680-e84f-11ea-86d5-307e2b47e442.png)
Stuck for three minutes

[2020-08-27 02:27] bibi520 commented on #3127
This happens from time to time

[2020-08-27 03:47] ngtuna commented on #1489
Hi this issue hit me. Our system can't receive git webhook thus we need to rely on poll. Do you know the plan for poll-based support ? Any timeline/design made?

[2020-08-27 07:41] bibi520 commented on #3127
It's been nine minutes and we haven't started building yet

![image](https://user-images.githubusercontent.com/42456284/91411987-b4ca4e00-e87b-11ea-9d0f-407cdacd5f51.png)

[2020-08-27 13:30] GregDritschler commented on #3139
I think it's desirable to get away from shoehorning the condition status under a non-existent TaskRun name (which is how it worked with Condition).  What about introducing a separate status key that lists the skipped pipeline task names?  That section could also list why each one was skipped (`when` check failed or branch skipped).  Since `when` is a new feature this doesn't feel like a backward i

[2020-08-27 13:57] bobcatfish commented on #3140
i believe the chains folks will have some thoughts here as well @dlorenc

[2020-08-27 13:58] bobcatfish commented on #3139
I think it's worth exploring @GregDritschler 's suggestion before we decide - it is strange that we pretend a TaskRun has been created when one has not

Quick comment about the other options: downside of using Successful:True in this case is that this might imply things we don't want to imply, e.g. right now Successful:True would imply that a Task's results are available

[2020-08-27 14:02] #279 closed

[2020-08-27 14:02] bobcatfish commented on #3140
Also more info in https://github.com/tektoncd/pipeline/issues/279

The PRs that made these changes are https://github.com/tektoncd/pipeline/pull/2444 and https://github.com/tektoncd/pipeline/pull/2489

one thought: maybe dereferencing all the taskruns into the pipelinerun is too far?

[2020-08-27 14:35] ImJasonH commented on #3140
I think it makes sense to report each TaskRun's `.status.conditions` (success/failure) and results, and maybe a few more things, but per-step information might be overkill, and probably contributes the most to storage bloat. Updating the PipelineRun each time a step starts/finishes also means a lot more updates.

If Chains needs some complete record of each internal state I assume they could do th

[2020-08-27 14:53] jerop commented on #3139
Thank you for the idea @GregDritschler! Experimented with it, and currently have the `Skipped` as a map with `PipelineTaskName` as key and a `WhenExpressionsResults` as values. I prefer this update because users can know why a `Task` was skipped because they can see each `WhenExpression` and the results from evaluating each of them. I think we should go with this approach.

Taking @pritidesai's ex

[2020-08-27 15:45] GregDritschler commented on #3139
@jerop That looks great to me.

[2020-08-27 17:03] bobcatfish commented on #3139
I think I like this direction as well - @jerop I hate to ask you to do more TEP work but I could see this making sense as a short TEP? i.e. capturing the different options and some examples, esp. b/c this has ripple effects on projects like CLI and Dashboard that want to be able to tell when something has been skipped (and iirc struggled a bit with the current Success: false approach)

If possible

[2020-08-27 17:06] pritidesai commented on #3139
@bobcatfish its exciting and indicating might be the solution that we are circling back to maintaining a list of [skipped](https://gist.github.com/pritidesai/4fbffae2c9e86baebff39cdc7dd6ec39#file-pipelinerunstatus-L151-L163) pipeline tasks 😹

I am like going with @GregDritschler's suggestion as well.

@jerop any impact on the existing PR #3135 if we go this route?

[2020-08-27 17:59] jerop commented on #3139
already [added Skipped](https://github.com/tektoncd/pipeline/pull/3135/files#diff-f1dceb4ecb4e90336b4c77adad8bd02cR334-R337) to the PR

yes, will open a TEP proposing this solution and discussing the alternatives we considered -- in a flow with implementing when expressions but will write the tep shortly

the map of skipped tasks and their when expressions + results is easiest to change in my opin

[2020-08-27 18:03] jerop commented on #3139
why didn't you do it at that time? what was the concern with doing that when you considered it?

[2020-08-27 18:08] bobcatfish commented on #3139
(There's some discussion about this too in [the conditions proposal](https://docs.google.com/document/d/1iTb0rDDlgQcPbiYIGJ-atkaML8aCyPCyhfucCPJmNLs/edit#heading=h.428g77qimni2) - in general id say we haven't given status design the attention it deserves and our discussions always focus more on spec)

[2020-08-27 19:55] jerop opened #3145 "Storing and updating PipelineSpec"
"I was having trouble seeing unresolved when expressions in `status.pipelineSpec.tasks[]` and was trying to troubleshoot and discovered we actually store the `pipelineSpec` as is even before resolving params and it's never updated for auditing purpose. But wouldn't it be clearer if its updated once after resolving all params (and pipeline resources)?" ~ @pritidesai

_Originally posted by @pritides

[2020-08-27 20:28] bobcatfish commented on #3145
Some context:

- https://github.com/tektoncd/pipeline/issues/279 was the original issue about this
- in https://github.com/tektoncd/pipeline/issues/3140 we're getting feedback that we might be storing too much
- the functionality was added in https://github.com/tektoncd/pipeline/pull/2444 and https://github.com/tektoncd/pipeline/pull/2489

I think the motivation for storing this at all is to be ab

[2020-08-27 22:05] pritidesai commented on #3139
Here is my take:

### List of `skipped` tasks

Pipelinerun status maintains a list of `skipped` tasks which could be empty if none are skipped. After evaluating `when` expressions, a task is pushed onto this list (with when expressions?) if expressions result in failure. Pipelinerun controller does not create `taskrun` object for that task. The scheduling algorithm checks if any of the parent task

[2020-08-27 22:19] pritidesai commented on #3145
Yup agree, it depends on how it's being consumed. The spec is populated right after reading it during the first reconciler cycle and not updated based on the informer's copy. But if there is no objection, the spec can be populated after resolving all params and pipeline resources during the first reconciler cycle so that it does not differ between runs. This also means that spec will not be availa

[2020-08-27 23:44] Tomcli opened #3146 "Feature flags to trim tekton results EOF newlines"
### Feature request
Related https://github.com/tektoncd/pipeline/issues/2936
Some of our users have pre-defined container that doesn't trim the outputs. It is quite troublesome to ask everyone to fix and rebuild their container especially when we are building a pipeline that's depended on each other's work. Is it possible to add a feature flag for Tekton to handle it? Thank you in advance.

Here i

[2020-08-28 12:11] antonioberben commented on #1259
Also interested on this. How is the progress going? Can I help? @medkbadri

[2020-08-28 12:19] eddycharly commented on #1259
Tekton can build and publish images, Flux should be able to detect the new images and update the cluster accordingly.

They should operate quite separately, is there something needed at all ?

[2020-08-28 13:04] jerop commented on #2815
fyi this test failed again last night: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-h75d5

[2020-08-28 13:07] sbwsg commented on #3146
Thanks for the issue report.  This has also recently come up in the context of stdout / stderr capture ([comment thread here](https://github.com/tektoncd/community/pull/182#discussion_r473280490)).

I agree I think this would be useful.  Here's the way it might work:

[code]

I hesitate to add yet more flags to the entrypoint binary so I think right now my preference would be that the Tekton Contr

[2020-08-28 13:54] jerop commented on #3145
Duplicate in: https://github.com/tektoncd/pipeline/issues/3140
/close

[2020-08-28 13:54] #3145 closed

[2020-08-28 13:55] jerop commented on #3139
@pritidesai sure! will send you a draft :)

[2020-08-28 17:12] GregDritschler commented on #3126
The log shows that the pipelinerun reconciler issued a "started" event for the pipelinerun again as well before creating the duplicate TaskRun.  This confirms that it is reading "old" PR status.  The log does not show any errors updating the status (and genreconciler code would log that).

The pipelinerun reconciler has a function called `updatePipelineRunStatusFromInformer` which is intended to c

[2020-08-28 20:13] GregDritschler commented on #3075
@afrittoli I think I found your attempt to fix it here:
https://github.com/tektoncd/pipeline/commit/6b1579c89d75ec4e58c5630819429709e21f7332#diff-54a597aad65d997daf41843ebfe53533

It's a commented-out call to unregisterMetrics() in getTaskRunController().  Similar thing in getPipelineRunController().

I tried un-commenting both statements and running both the pipelinerun and taskrun unit tests a n

[2020-08-29 22:27] coryrc commented on #1294
I think people who want to use Tekton should make dependencies explicit by using parameters. Environment variables are globals and we stopped using globals in code; I say it shouldn't be encouraged.

I am writing a Task to parse each Prow environment variable and put each into a result. (It'll get it from Prow via an encoded string passed as a single param).

[2020-08-31 08:35] piyush-garg commented on #1606
/assign

[2020-08-31 08:36] piyush-garg commented on #3090
/assign

[2020-08-31 11:37] vidheer opened #3148 "Urgent required inputs_With istio side car enabled tekton pods are in CrashLoopBackOff status"
# Expected Behavior
As per this doc https://github.com/tektoncd/dashboard/blob/master/docs/walkthrough/walkthrough-istio.md
Tekton pipelines should be up running with istio sidecar injected (manual/automatic).
# Actual Behavior
Tekton pipeline pods(controller and webhook) are NOT coming up and are in **CrashLoopBackOff** status
# Steps to Reproduce the Problem

1. istioctl kube-inject -f (<No inte

[2020-08-31 13:44] jerop commented on #2937
@prantaa in that case, using [WhenExpressions](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#efficiency-1) (that support referencing task results) and [continueAfterSkip](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#skipping-1) which are coming out soon should solve your use case -- will update you when they're available

[2020-08-31 14:23] jerop commented on #2635
Thank you for the feedback @jlpettersson :)

These are some ways we've addressed the feedback in the[ Conditions Beta](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#tep-0007-conditions-beta) work:

In the example in [WhenExpressions](https://github.com/tektoncd/pipeline/pull/3135/files#diff-f7386fff290e39a15d2d82f2c3b8fbcfR1-R225), we reference the resources direct

[2020-08-31 15:04] jerop opened #3149 "CelRun Custom Task"
### Feature request

Add a CelRun [Custom Task](https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md) to provide CEL support in Pipelines. This allows us to experiment with CEL in Pipelines [without adding CEL directly to the Tekton API surface](https://github.com/tektoncd/community/pull/171). CelRun Custom Task is discussed in further detail as an [alternative in Conditions

[2020-08-31 15:07] ImJasonH commented on #3149
FWIW when I was prototyping Custom Tasks I made https://github.com/imjasonh/cel-task to help demonstrate a simple CEL  Task. It'll need some work to make sure it still works, and to add tests especially, but it might be a useful starting point.

[2020-08-31 15:39] jerop commented on #2010
sure, highlighted it here: https://github.com/tektoncd/community/pull/193

[2020-08-31 17:14] cocktailer opened #3151 "Failed to list *v1beta1.PipelineRun: conversion webhook for tekton.dev/v1alpha1, Kind=PipelineRun failed: Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/resource-conversion?timeout=30s:"
Using GKE.
 I just installed
[code]

I am getting error like
`Failed to list *v1beta1.PipelineRun: conversion webhook for tekton.dev/v1alpha1, Kind=PipelineRun failed: Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/resource-conversion?timeout=30s:`
While accessing pipelin/task in dashboard

- Kubernetes version:
[code]

- Tekton Pipeline version:
v0.15.2

![Screenshot 2020-08-31 at

[2020-08-31 21:26] k commented on #1334
Whats the status of this?

[2020-09-01 02:13] coryrc opened #3152 "Add variable expansion in the workspaces.mountPath field of Tasks"
# Expected Behavior

If a Task has `spec.workspaces[].mountPath: "$(params.dest-dir)"` then said workspace should be mounted to the expanded value; i.e. if dest-dir is `/tmp`.

I believe it is supposed to be because I see examples of it used [in the catalog](https://github.com/tektoncd/catalog/blob/a9600e084a52cf54e578a316aff2f11f5731a98c/task/golang-test/0.1/golang-test.yaml#L38).

# Actual Behav

[2020-09-01 07:50] zeromsi opened #3154 "Taskrun failed to create pod if network policy is added."
I've a namespace ``` tekton ``` where I create task and taskruns. But after adding network policy, taskrun fails to create pod.

``` error:   failed to create task run pod "echo-hello-world-task-run": pods "echo-hello-world-task-run-pod-7cx77" is forbidden: unable to validate against any pod security policy: [spec.volumes[4]: Invalid value: "downwardAPI": downwardAPI volumes are not allowed to be

[2020-09-01 13:59] mfuxi opened #3155 "Deploying TektonCD in an air gap environment"
I'm trying to deploy TektonCD in an air gap environment (no internet) and i'm getting the following errors from both the controller and the webhook pods.

Controller:
[code]
Webhook:
`found unset image flags: [build-gcs-fetcher creds entrypoint git gsutil imagedigest-exporter kubeconfig-writer nop pr shell]`

Any idea how to solve these issues?

To start with I already brought all the necessary im

[2020-09-01 14:24] sbwsg commented on #3152
Hey, thanks for the issue report. Tekton Pipelines doesn't support using variables in the workspaces.mountPath field.  We document all the places we do accept variables here: https://github.com/tektoncd/pipeline/blob/master/docs/variables.md#fields-that-accept-variable-substitutions

I'm going to update the label to `kind/feature`.

It looks like you've identified a bug in the golang-test catalog

[2020-09-01 15:24] GregDritschler commented on #3154
Based on the error message it sounds like the problem is with the controller's pod security policy not allowing use of downward API volumes, not with the network security policy.  What Kubernetes platform are you using, openshift or something else?  How did you install Tekton?

[2020-09-01 18:27] coryrc commented on #50
I think where this falls apart is lacking copy-on-write workspaces. Tasks can easily introduce changes to workspaces which makes execution non-idempotent. If instead workspaces were always inputs xor outputs the input to any given stage would still exist when the retry is attempted.

[2020-09-01 18:50] coryrc commented on #50
input/output workspace layering cannot be done efficiently without copy-on-write workspaces. It could be done with an NFS server and overlay filesystems, or there appear to be some [COW volumes](https://github.com/kubernetes/kubernetes/issues/85519#issuecomment-557456539) but I do not know enough about k8s to say if it's usable for this.

[2020-09-01 20:15] bobcatfish commented on #1676
Marking this for triage to get a sense from other OWNERS if we want this or not

[2020-09-01 20:18] bobcatfish commented on #733
@AhmaudArbery and @JoaoVitoGomesa are you still working on this one?

[2020-09-01 20:24] bobcatfish commented on #3148
It looks like you are running this on a windows based system, is that right?

Would be great if someone could try to reproduce this on a linux system.

[2020-09-01 20:25] GregDritschler commented on #3155
Regarding the controller error, it sounds like there's a version mismatch between the deployment and the image.

The controller deployment passes a list of images as flags to the controller container.

[code]

These flags must match what the code in the controller image expects to receive:

https://github.com/tektoncd/pipeline/blob/master/cmd/controller/main.go#L37

The list of flags does change o

[2020-09-01 20:27] bobcatfish commented on #627
I'm not sure we do more validation @vdemeester but we are certainly relying on pipelineresources less, and i think pipelineresources are at the heart of the problem here, b/c you don't know what values are available for substitution until runtime. Feels safe to me to close this given #1673

[2020-09-01 20:27] #627 closed

[2020-09-01 20:29] bobcatfish commented on #2656
I'm not sure, let's close it and we can re-open if/when it happens again

[2020-09-01 20:33] bobcatfish commented on #1022
Conditions are being deprecated in https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

( + @jerop )

[2020-09-01 20:33] #1022 closed

[2020-09-01 20:34] mfuxi commented on #3155
When I pushed the images to my private registry I pushed them with a version and without the digest, this might be the problem.

But I can't tag the image with the digest as it's written in the release.yaml file, so how can I solve this situation?

[2020-09-01 20:48] JoaoVitoGomes commented on #733
No feel free to remove me

On Tue, Sep 1, 2020, 3:18 PM Christie Wilson <notifications@github.com>
wrote:

[2020-09-01 22:42] sadoMasupilami opened #3159 "TaskRuns are removed immediately"
# Expected Behavior
taskRuns triggered by the dashboard or triggers are executed normally

# Actual Behavior
taskRuns triggered by the dashboard or triggers are removed immediately

# Steps to Reproduce the Problem

1. Add a simple task like this:
[code]
2. This can be triggered just fine using a TaskRun Resource:
[code]
3. I am not able to run this task using the dashboard (or a tekton-trigger),

[2020-09-02 00:21] ImJasonH commented on #1676
This sounds tempting, but the questions in https://github.com/tektoncd/pipeline/issues/1676#issuecomment-561627587 (and likely more we'd uncover) make me think it's not worth jumping in to. Allowing operators or providers to configure their own defaults might also harm portability (`script` on platform A works because its default script image has `ls` with some flag, but breaks on platform B becau

[2020-09-02 05:05] piyush-garg commented on #733
@bobcatfish I would love to work on this. I may need some time to look at the possible solutions now. Or do you have something in mind that can done for this? Outcomes from my previous try https://github.com/tektoncd/pipeline/issues/733#issuecomment-572013166

[2020-09-02 07:59] idrissneumann commented on #3159
I have exactly the same issue, with the same versions and I also use argocd.

[2020-09-02 08:27] zeromsi commented on #3154
@GregDritschler  I am using kubernetes, I've installed tekton by following descriptor.

``` https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml ```

[2020-09-02 08:56] idrissneumann commented on #3159
For me, it appears that it was argo-CD that had an automated auto-prune policy which was enabled on the tekton-pipelines application. Disabling auto-pruning solve the issue.

[2020-09-02 09:47] sadoMasupilami commented on #3159
@idrissneumann : you are right, the problem was argocd and not tekton. Thank you!
And closing this issue as it is not related to tekton.

[2020-09-02 09:47] #3159 closed

[2020-09-02 09:54] sadoMasupilami commented on #3159
@idrissneumann if you add the following annotations to the task you can keep all automated including pruning and argocd will ignore the taskRuns and the appliacation will stay healthy:
[code]

[2020-09-02 10:17] idrissneumann commented on #3159
@sadoMasupilami Thanks, I'll try. It will probably be better than disable the auto-sync completely.

[2020-09-02 10:49] sadoMasupilami commented on #3159
@idrissneumann and even better add this to the argocd-cm configmap:
[code]
the same should be done for pipeline runs i guess

good luck :-)

[2020-09-02 12:31] mfuxi commented on #3155
My bad, I accidentally tagged the controller as the webhook

Changed it and everything worked

[2020-09-02 12:34] #3155 closed

[2020-09-02 12:49] idrissneumann commented on #3159
It works like a charm, thanks !

[2020-09-02 14:05] jerop commented on #2656
The test flaked again in https://github.com/tektoncd/pipeline/pull/3135

/reopen

[2020-09-02 14:58] ywluogg commented on #1586
After a bit of research, I think adding liveness and readiness for Tekton webhook is straight forward as there is a port provided and I think can be used for readiness and liveness: https://github.com/tektoncd/pipeline/blob/9b2a92c75d9f635bc933639bf48d9a005eb07a81/config/webhook.yaml#L119

For the controller, we don't have a port setup yet, but I think it is necessary. Asking @bobcatfish if there

[2020-09-02 15:24] GregDritschler commented on #3154
I would like to check a few things in your cluster.  Can you post the output of the following commands:
[code]

I suspect the tekton controller is using a PodSecurityPolicy that doesn't authorize use of downwardAPI volumes.

Tekton provides a PodSecurityPolicy for the controller but it doesn't authorize use of downwardAPI volumes.  I think it needs to be updated to do that.  @gabemontero @skaegi

[2020-09-02 16:04] bobcatfish opened #3163 "v1alpha1 e2e tests not being updated along with v1beta1 tests"
# Expected Behavior

* When I look at the way an end to end test exercising the v1beta1 API compares to the same test for the same functionality against the v1alpha1 API, the test functionality should be the same
* When problems are found and fixed in end to end tests, they same fixes should be propogated to v1beta1 and v1alpha1 tests
* This should be made sustainable such that if we add another a

[2020-09-02 16:44] gabemontero commented on #3154
I'm good with that @GregDritschler

I would consider these volumes valid for the PSP:
- configMap
- downwardAPI
- emptyDir
- persistentVolumeClaim
- secret

[2020-09-02 19:21] grebit opened #3164 "admission plugin \"MutatingAdmissionWebhook\" failed to complete mutation in 13s"
# Expected Behavior
Creating a task through TKN or OpenShift should be completed without errors

# Actual Behavior
kubectl apply -f task.yml -v=9 ( Sample task )

Output:

[code]

# Steps to Reproduce the Problem

1. kubectl apply -f task.yml -v=9 ( Sample task )
2. creating a task in openshift
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipel

[2020-09-02 19:37] bobcatfish commented on #3164
hi @grebit ! Are you able to share the tsk.yaml (or an edited version) that had this problem?

You also might find more useful info in the logs for the webhook controller itself, e.g. you could use a command like `kubectl -n tekton-pipelines logs $(kubectl -n tekton-pipelines get pods -l app=tekton-pipelines-webhook -o name)` to get the logs

[2020-09-02 20:01] grebit commented on #3164
Hi @bobcatfish,

[code]

This is the last log after executing:
<img width="1437" alt="Schermafbeelding 2020-09-02 om 22 01 20" src="https://user-images.githubusercontent.com/56537348/92030784-d63da500-ed67-11ea-83f5-6deecd4e9274.png">

[2020-09-02 21:03] bobcatfish commented on #3164
Thanks @grebit !

You might be having trouble because of `$(inputs.params.appName)` <-- this is the v1alpha1 syntax, [the v1beta1 syntax](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-parameters) is `$(params.appName)` - hopefully that fixes it but meanwhile it's not great that that would make the admission controller request time out 😬

[2020-09-02 21:05] grebit commented on #3164
@bobcatfish thank you, but how to fix this? Where should I make this change?

Thanks!

[2020-09-02 21:07] bobcatfish commented on #3164
If you change your tsk.yaml to the following and apply it, do you still get the error?

[code]

(note the last line changed from $(inputs.params.appName) to $(params.appName))

[2020-09-02 21:09] grebit commented on #3164
Ah, sorry. But anyway, still the same error..

<img width="1438" alt="Schermafbeelding 2020-09-02 om 23 08 52" src="https://user-images.githubusercontent.com/56537348/92036936-47358a80-ed71-11ea-8fb8-cc191c9ee905.png">

[2020-09-02 21:30] bobcatfish commented on #3164
Hm that's pretty weird. I didn't see anything useful in those logs, I wonder if:

1. You could find relevant logs with something like `kubectl -n tekton-pipelines logs $(kubectl -n tekton-pipelines get pods -l app=tekton-pipelines-webhook -o name) | grep example-task`
2. Are there any other admission controllers running in your environment?

The other thing I would try is making your Task as simpl

[2020-09-02 21:35] bobcatfish commented on #50
I think there will be use cases where folks _want_ to make these kinds of non-idempotent changes to workspaces, so even with COW I'm not sure we could fully solve this problem? If I'm wrong it would probably help if you could explain with an example.

Also: it sounds like COW workspaces would be an interesting feature in general - if you feel motivated it'd be great to have a separate issue to div

[2020-09-02 21:37] wlynch commented on #3154
/kind question

[2020-09-02 21:41] grebit commented on #3164
Sadly enough still the same story..

[code]

[code]

[2020-09-03 03:11] ywluogg commented on #1586
/assignee ywluogg

[2020-09-03 09:06] piyush-garg commented on #733
@bobcatfish @vdemeester @ImJasonH

The last updation time can be retrieved from `metadata.managedFields` also. But this is an array and for every different method, it does add an element to array like `kubectl, oc, controller` and each have their own last time.

[2020-09-03 12:51] chmouel commented on #3164
humm this is pretty weird as this task is pretty stand and works on openshift, how did you install tekton on openshift? via the operators or via the upstream release.yaml ?

[2020-09-03 13:16] ppitonak opened #3166 "Variable substitution in PipelineRun"
### Feature request

I would like to create K8S resources in pipeline and later use them in the same pipeline.

### Use case

[code]

[2020-09-03 14:33] grebit commented on #3164
We're installing it with Ansible and ArgoCD:

[code]

When running the command ```oc get ev``` there are no resources found

[2020-09-03 15:11] grebit commented on #3164
Could it be a issue in the SVC?

[code]

[2020-09-03 17:45] bobcatfish commented on #2958
whoops @jerop just brought this to my attention, the only outstanding item is annotations - adding metadata.annotations would be simple but if we want folks to be able to select specific annotations (which is more likely) we need something like #1393 to allow us to index into the list.

i feel like it might make sense to close this issue until we have #1393 - or if someone strongly wants annotatio

[2020-09-03 17:45] #2958 closed

[2020-09-03 19:38] bobcatfish commented on #3164
@grebit quick update: it seems like this might be something specific to how tekton is installed and working in the openshift context so i think this will have to be left in the hands of folks with more openshift experience, e.g. @chmouel

[2020-09-03 19:41] bobcatfish commented on #3164
Okay but before I completely give up I do have one idea/thought: have you upgraded at all or did you install 0.11.3 first?

0.11.0 was our beta release which added a new "api type", v1beta1. I believe the definitions for each CRD actually point to a webhook to use to "convert" between the old version (v1alpha1) and the new version (v1beta1) ( @vdemeester and @jlpettersson and @chhsia0 and some oth

[2020-09-03 19:49] grebit commented on #3164
@bobcatfish if I'm looking in to the CustomResourceDefinition tasks.tekton.dev I'm seeing this:
[code]

Looking at the installed operator I'm seeing this versions:
OpenShift-Pipelines: v0.11.3
OpenShift-Pipelines-Triggers: v0.4.0
OpenShift-Pipelines-ClusterTasks: v0.11

[2020-09-04 12:43] chmouel commented on #3164
pinging @nikhil-thomas if you are aware of this issue with the operator.

[2020-09-05 03:44] bibi520 opened #3170 "error：init containers: [working-dir-initializer place-tools]"
Is this error normal
![image](https://user-images.githubusercontent.com/42456284/92296998-305b8780-ef6d-11ea-8e55-323cb6100b4c.png)

[2020-09-05 04:39] zeromsi commented on #3154
@GregDritschler

``` kubectl get podsecuritypolicy ```

[code]

[code]
[code]

[2020-09-06 05:48] r0bj opened #3171 "webhook_request_latencies_bucket metric keeps adding new data series and became unusable"
# Expected Behavior
Prometheus metric `webhook_request_latencies_bucket` is usable in real environment, don't add new data series forever. Prometheus is able to query that metric.

# Actual Behavior
Prometheus metric `webhook_request_latencies_bucket` creates so many data series that is practically impossible to query in prometheus (too much data). It keeps adding new series while it's running so

[2020-09-06 10:12] zeromsi opened #3172 "Tekton pipeline and kubernetes network policy issue."
After adding  network policy,
``` Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: context deadline exceeded ```

[2020-09-07 10:21] vdemeester commented on #3170
Hi @bibi520 :wave:. This is normal, this is how `kubectl` acts with `pods` that have multiple containers (it has nothing to do with tekton :sweat_smile: aside the fact that we do create pods with multiple containers).

If you want to look at the logs of all containers in the pod, you need to use the `--all-containers` flags of `kubectl logs`. If you want to look at a specific container logs, you n

[2020-09-08 15:37] imjasonh opened #3175 "Investigate effective storage limits for completed runs"
We know that storing details of completed Runs eventually results in too many stored resources/bytes and unresponsive behavior from etcd and the K8s API server. We don't have a good idea exactly how many resources/bytes it takes to start causing problems.

We should explore this on a standard GKE cluster and document (even if it's just in this issue) our findings about what symptoms we observed, r

[2020-09-08 16:55] wlynch commented on #3175
https://github.com/tektoncd/experimental/issues/479 is also related for a cronjob to clean up these completed resources.

[2020-09-08 19:20] sbwsg commented on #3170
Thanks for the issue, I'm going to close this as answered!

[2020-09-08 19:20] #3170 closed

[2020-09-08 19:23] sbwsg commented on #3172
We will likely need more information in order to help you debug effectively.  What was the content of the network policy?  What platform are you running Tekton on (bare metal / openshift / gke / etc...)?  What versions of Kubernetes and Tekton are you running?  How did you deploy Tekton - using operator or applying YAMLs manually?

/kind question

[2020-09-08 19:24] imjasonh opened #3178 "Deprecate and remove test builders"
https://github.com/tektoncd/pipeline/tree/master/internal/builder

New uses of and additions to these packages should be discouraged, and eventually these packages should be phased out entirely.

Hand-maintaining these test builder methods is toilsome and error-prone. They claim to help readability, but instead they introduce a Tekton-specific dialect of Go when users could just write Go-standard

[2020-09-08 19:25] ImJasonH commented on #3178
/kind cleanup

[2020-09-08 20:18] bkmeneguello opened #3179 "Pipeline TaskRef doesn't allow Metadata to be set in TaskRun"
### Feature request

Some tools could require metadata to be gathered from TaskRuns generated from parameters defined in PipelineRun. These metadata (labels or annotations) must be copied from PipelineRun to the TaskRuns, in the same manner, it's done with PipelineSpec.

### Use case

I manage a tool to publish deployments to Github which require some metadata (environment) to be feed to a generic

[2020-09-09 00:08] ImJasonH commented on #3152
/assign khalkie

[2020-09-09 00:25] pritidesai commented on #3178
It will be great to break this down one test file or one Go struct (Task/PipelineTask/Pipeline) at a time and would make a good `good-first-issue`, see the changes [here](https://github.com/tektoncd/pipeline/pull/3124/files#diff-6d08de825ac4bd80c1560c62a3bc63fdR28) for reference.

[2020-09-09 00:38] pritidesai commented on #1797
This is now possible with When Expressions using Pipeline param, set a pipeline param `runMyTask` to `true` and check that variable in the Pipeline Task.

[code]

[2020-09-09 00:48] pritidesai commented on #2937
Supporting [task results in a finally task](https://github.com/tektoncd/community/blob/master/teps/0004-task-results-in-final-tasks.md)is in progress, its been delayed by few weeks now, hoping to have changes in soon.

[2020-09-09 00:54] ImJasonH commented on #3178
Here's a little oneliner to find the top 10 files by occurrences of `tb.`, which is generally what we alias test builder imports to:

[code]

And a count of total `tb\.` instances:

[code]

I'd probably start with just replacing references to `tb.Pipeline` and `tb.PipelineRun`, and, if you feel like it in the process, cleaning up instances where a test creates a Pipeline then a PipelineRun instead

[2020-09-09 01:12] pritidesai commented on #3178
[code]
😱

`pipelinerun_test.go` and `taskrun_test.go` are two big beasts, this is a great start and will simplify them 👍
And both would need more refactoring as per the discussion [here](https://github.com/tektoncd/pipeline/pull/2876#discussion_r462390563).

[2020-09-09 03:59] VeereshAradhya opened #3183 "Taskrun describe/get does not show any information about the workspaces which use default workspace binding"
# Expected Behavior
Taskrun describe/get should show any information about the workspaces which use default workspace binding

# Actual Behavior
Taskrun describe/get does not show any information about the workspaces which use default workspace binding

# Steps to Reproduce the Problem

1. Update `WorkspaceBinding` in the config-defaults ConfigMap
in default-task-run-workspace-binding with `emptyD

[2020-09-09 08:48] zeromsi commented on #3172
Following is my network policy. tekton-pipeline & tekton namespaces have a label role: klovercloud
[code]

I'm using bare metal cluster.
Kubernetes version: ```1.17```, tekton: ```0.15```. I deployed tekton by ``` https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml```

[2020-09-09 09:41] ywluogg commented on #3148
I wasn't able to reproduce the error. I was doing:
[code]

Are you still able to reproduce the error? (release.yaml was using [https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml](https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml)) I'm suspecting that your [https://github.com/tektoncd/pipeline/files/5150057/tkn_release_inject.txt](https://github.co

[2020-09-09 13:06] sbwsg commented on #3183
Thanks for filing this.  Would you expect the default workspaces to be injected into the `spec`?  Or added as a field in `status`?  It might seem strange to modify the spec if that's not what the user applied with their yaml.  Maybe we need a new status field to list populated workspaces?

[2020-09-09 13:24] jerop commented on #3108
`Conditions` is getting deprecated - https://github.com/tektoncd/pipeline/blob/master/docs/deprecations.md

/close

[2020-09-09 13:24] #3108 closed

[2020-09-09 14:04] VeereshAradhya commented on #3183
We inject `timeout` into the spec though the user does not provide that in yaml.

I agree. The user will not be able to differentiate between the workspaces which used default workspace binding and the workspaces for which binding was provided in yaml

I think this is a better idea, by doing this user will be able to differentiate between the `workspaces` and `params` which used default values

[2020-09-09 14:18] jerop commented on #2376
/close

[2020-09-09 14:18] #2376 closed

[2020-09-09 14:19] jerop commented on #2635
/close

[2020-09-09 14:19] #2635 closed

[2020-09-09 14:52] ywluogg commented on #1586
I'm trying to add the probes to the controller as well, but encountered port issues.

[2020-09-09 15:10] ywluogg commented on #3111
This sounds the same to the request in #1586. I tried adding a port in the controller ([commit](https://github.com/tektoncd/pipeline/commit/020fc1fa662c8c782bbee047ff7582cabf4ba7b0)) but still didn't work. Still trying adding this to controller. The two probes are just added to webhook via [this commit](https://github.com/tektoncd/pipeline/pull/3162).

[2020-09-09 15:24] bobcatfish commented on #2905
I think @ImJasonH 's suggestion is ultimately the best way to go here: https://github.com/tektoncd/pipeline/pull/3078#pullrequestreview-484398083

I wish I could remember why we didn't do it originally. I'm guessing that either we didn't realize we could (most likely?) or we were avoiding an extra reconcile (doesnt seem worth the complexity)

We added the timeout logic as it currently stands in ht

[2020-09-09 15:30] mattmoor commented on #2905
Sorry, this fell off my radar.  I'm not sure what code ptr you are looking for, but it's probably deep in the informer/cache/lister code in `k8s.io/client-go`.

Woof, this won't scale.  Generally here I'd recommend designing an idempotent library that moves this work off the main Reconciler thread.  The Reconciler thread can call into the idempotent non-blocking library to access the result.  The

[2020-09-09 15:39] jerop commented on #3109
/assign

[2020-09-09 15:49] #3047 closed

[2020-09-09 16:56] bobcatfish commented on #2905
@mattmoor what do you think about @ImJasonH 's suggestion to call `impl.EnqueueAfter`? When a TaskRun or PipelineRuns starts we can do something like:

1. Reconcile, start pods, etc.
2. Call EnqueueAfter to trigger a re-reconcile after the timeout expires
3. At this point either:
     a. the TaskRun or PipelineRun will complete successfully: when the EnqueueAfter expires, it will re-reconcile but

[2020-09-09 17:01] mattmoor commented on #2905
tl;dr 👍

I'd probably still encapsulate that in a library to avoid having the Reconciler need to know about enqueue functions directly.  It's generally better for testing and whatnot too.

You can probably rely on the `workqueue` itself to make it idempotent, but I think the key thing is that *every* reconcile (not just "created") should call into that library to avoid the workqueue becoming SPOF

[2020-09-09 19:27] bobcatfish commented on #2905
hmm it seems like something is still going to have to know if items have been enqueued or not 🤔

[2020-09-09 20:21] mattmoor commented on #2905
Not if it's idempotent, then it can blindly add it and rely on the workqueue to dedup 😉

[2020-09-09 20:26] nsoubelet commented on #3105
I am facing exactly the same issue. Surprisingly, there are not too many people complaining about it although, from my point of view, this bug is pretty core.
Access is not insecure because, for example in my case, the certificate is actually present in the node, problem is that tekton apparently does not pull task's images using the standard way as the regular pod controller but a container.

Is

[2020-09-09 21:02] #3085 closed

[2020-09-10 02:22] xiujuan95 commented on #3111
@ywluogg Why do you use `8080` port instead of `9090`?

[2020-09-10 03:04] bharathvenkatrajan opened #3187 "Skip a task if previous task succeeded using when expressions"
I want to skip Task 2 if Task 1 was successful. If Task 1 fails, then I want Task 2 to execute. I read the documentation about when expressions, but I am not able to find a way to read the result (success or failed) of the previous task.

Basically, something like the below `when` expression. Execute Task when the previous failed. Check the previous Task's status (success or failed).

      when:

[2020-09-10 04:09] r0bj opened #3188 "using WhenExpressions, skipped task runs"
# Expected Behavior
According to documentation https://tekton.dev/docs/pipelines/pipelines/#guard-task-execution-using-whenexpressions
"If any of the WhenExpressions evaluate to False, the Task is not run and the Task is listed in the Skipped Tasks section of the PipelineRunStatus."

# Actual Behavior
WhenExpressions evaluate to False but Task runs.

# Steps to Reproduce the Problem

Example from

[2020-09-10 07:01] shinji62 commented on #1606
@vdemeester Where are we with that?

[2020-09-10 07:10] vdemeester commented on #1606
@piyush-garg is working on this :angel:

[2020-09-10 07:36] vdemeester commented on #3105
It is correct *in a way*. This error happens **before** pulling the image. Tekton is doing some *entrypoint* magic (cc @bobcatfish @ImJasonH for their talk link :grin:) : in case no `command` is specified, the controller will try to fetch the image configuration to get the command (`entrypoint` is the "docker" sense)… And this is where it fails, because the tekton controller might not have the cer

[2020-09-10 07:46] vdemeester commented on #3188
@r0bj quick questions, what are the logs for pod `guarded-pr-echo-file-exists-b9bk8-pod-vx4b6` ?

[2020-09-10 07:48] vdemeester commented on #3187
/kind feature
/cc @bobcatfish @jerop

[2020-09-10 08:03] bharathvenkatrajan commented on #3187
Hi @vdemeester et all,

To give a more detailed example. Let's say I have:
2 tasks - `task_one` and `task_two`.
1 pipeline - `pipeline_one`
1 pipelinerun - `pipelinerun_one`

When the pipeline executes, I want to check if `task_one` was successful. If yes,`task_two` should be skipped. If `task_one` was not successful, then I want to execute `task_two`.

[2020-09-10 09:29] afrittoli opened #3190 "Cloud Events delivery leaks open connections"
# Expected Behavior
The pipeline controller does not leak open connection.
Possible fixes:
- re-use the HTTP client across reconciles
- do not keep idle connections open
- a combination of the two

# Actual Behavior
As described in https://github.com/tektoncd/triggers/issues/687, the pipeline controller seems to create a new HTTP client on every reconcile. The transport associated to it keeps the

[2020-09-10 10:15] nsoubelet commented on #3105
Hi @vdemeester, it does make much more sense now.
However the design decision sounds a bit weird to me. That means that one cannot use an image with an already-defined CMD within as a tekton task. That is, one can't instruct controller to not do that _entrypoint magic_ since the very _entrypoint_ was already defined in a Dockerfile. Am I right?

If I am, that detail leads me to think that reusabil

[2020-09-10 11:11] dbazhal commented on #2590
Just to add our two cents.
We're solving problem of generation tekton pipelines with tekton task. It accepts unit name, code skeleton, git branch as input params, and code(mix of python/bash/whatever) inside task creates all required for this pipeline - copies additional pipelines from other namespaces, uses some templating to dynamically create pipeline for service, creates all required triggers(

[2020-09-10 11:42] dbazhal commented on #2134
Couldn't this issue be done without custom tasks? We're in pain from disability to include pipelines into pipelines :) Problem is that we have to include task "run_pipeline" each time when we want to include pipeline inside pipeline. Each time such "incuded" pipeline fails, there is no easy way to find out why subpipeline failed, or what tasks it contained, etc.

[2020-09-10 11:59] vdemeester commented on #3105
So the entrypoint *magic* is required for tekton to function properly. But it only happens when `command` is not present.

This is *only* true for images pushed on a registry that is either not using tls, or using tls with a self-made certificate and or a certificate that is not signed by a known CA (from standards CA that are shipped in Tekton), not for anything else. If you have a private image

[2020-09-10 12:17] ywluogg commented on #3111
@xiujuan95 Ah that's because I wanted to separate the probes' ports from metrics port.

I'm able to add the probes and the pending changes are in: https://github.com/tektoncd/pipeline/commit/1d0f3d38ef907b74ecd093053067cd35e81256cf

But as @ImJasonH mentioned it seems more useful that if we can connect probes' ports to a signal that can clearly tells the controller is processing reconciliations, w

[2020-09-10 12:49] nsoubelet commented on #3105
Yes, understood. The thing is that it isn't uncommon to find images with the CMD already defined, so in those cases _command_ must not be present.

Yes but, for example, in my case I have a private registry behind an URL whose certificate was issued by sectigo and it is perfectly valid from the CA stand point of view. I am not saying this is the most frequent use case but only trusting by default

[2020-09-10 14:07] nmousouros opened #3192 "Jest Tests fail only when running on Tekton"
I am using Tekton on Openshift.

We are trying to migrate from GitHub Actions to Tekton.

When we run our nodejs tests locally they run just fine, when we run it on GitHub Actions or just running the commands in a Dockerfile it works as expected but when running on Tekton with nodejs image or ubuntu or centos I get the same errors.

Anyone know what could be going wrong? Attached the log file.
[ya

[2020-09-10 14:19] ywluogg commented on #3171
I can take a look at it if no one else is. But it may take a longer time for me.

[2020-09-10 14:23] jerop commented on #3187
@bharathvenkatrajan to clarify, `WhenExpressions` uses `Results` which are string results emitted by tasks, as explained here: https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#emitting-results -- they're not the status (succeeded or failed) of the previous task -- so `task_one` will have to produce some string result that `task_two` would operate on

in the [when expressions docs](ht

[2020-09-10 14:26] sbwsg commented on #3192
From the log I can only really tell that there are syntax errors, which I'd usually attribute to configuration problems.  It's difficult to say how this could be Tekton related without seeing the Tekton resources.  Can you isolate this problem to a single minimal Task & TaskRun and then post those YAMLs?  Remember to remove any sensitive information before posting.

[2020-09-10 14:35] nmousouros commented on #3192
I'm pretty sure there are not syntax errors, I cannot give the source code to test but when I am running locally this commands it work:

yarn install
yarn bootstrap
yarn compile
yarn test:ci

Also I created this Dockerfile to test, it also does work all the test are finishing succesfully if I run it with docker podman or on openshift

`FROM node:latest
ENV GITHUB_TOKEN ***
ENV NPM_TOKEN ***
RUN gi

[2020-09-10 16:21] VeereshAradhya opened #3196 "WhenExpressions are neglected when finally tasks are present"
# Expected Behavior
WhenExpressions should work when finally tasks are present

# Actual Behavior
WhenExpressions will not work when finally tasks are present

# Steps to Reproduce the Problem

1. Create a Pipeline with tasks, when expressions and finally tasks
2. Start the pipeline

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:
[c

[2020-09-10 16:31] afrittoli commented on #3190
The HTTP client is only created once, so that cannot be changed.
I tried setting the target when the client is created but that did not help. The number of established connection just keeps growing:
[code]

[2020-09-10 16:33] afrittoli commented on #3190
@n3wscott FYI

[2020-09-10 16:48] bobcatfish commented on #2905
It would only be idempotent if we know the workqueue will dedupe, right?

There are 2 things ill want to track down and verify before relying on this:

1. That we can guarantee everything will be re-reconciled on startup
2. That the workqueue will dedupe (im not sure it would?? how would it know you didnt mean to enqueue twice - esp if there was a mistake and the After was off by milliseconds or s

[2020-09-10 17:00] sbwsg commented on #3192
Yeah, it's difficult to nail down what Tekton could be doing to mess things up here. I think we'd definitely need more info about what's different in the Tekton-run container vs the others.  Couple things I notice:

1. Mixing `env` and `envFrom`.  I think you only need 1 of those?
2. I think you can use the `workingDir` field in the Step to set the directory where you want the commands to run from

[2020-09-10 17:29] r0bj commented on #3188
@vdemeester Logs are:
[code]

My observation is that this issue is related to tasks that use other tasks as an input to WhenExpressions. Tasks which use params as an input seems work ok - they skipped and do not run, as expected.

[2020-09-10 17:45] n3wscott commented on #3190
any way to make a test in the sdk to detect this? a test would help fix it

[2020-09-10 17:51] nmousouros commented on #3192
The same happens with plain pod and with running the commands in the container so I guess this is unrelated with Tekton.

[2020-09-10 17:52] #3192 closed

[2020-09-10 19:06] bobcatfish commented on #3196
Quick update: @jerop is working on these and we'll make a 0.16.1 release (https://github.com/tektoncd/pipeline/milestone/34) once these are fixed. Thanks for the quick report @VeereshAradhya !!

[2020-09-10 19:07] bobcatfish commented on #3188
Quick update: @jerop is working on these and we'll make a 0.16.1 release (https://github.com/tektoncd/pipeline/milestone/34) once these are fixed. Thanks for the quick report @r0bj !

[2020-09-10 19:16] jerop commented on #3188
@r0bj thank you for reporting this issue!

we needed to do an additional check for skipping vs executing before creating tasks after variable replacement --
https://github.com/tektoncd/pipeline/pull/3197

it'll be fixed in 0.16.1 release

[2020-09-10 19:22] mattmoor commented on #2905
Syncing the world on startup (or when elected leader) is pretty fundamental, so if you don't see this it is a bug and we should drill in.

The workqueue will deduplicate any key that isn't **in-flight**; which is key to reacting properly to informer events mid-reconcile.  I'm not sure how the workqueue handles different delays, but for simple enqueues it should be fine and I'd sort of expect it to

[2020-09-10 19:39] sbwsg commented on #2997
Looks like this has been resolved by #3006 which was in the 0.16 release.

[2020-09-10 19:39] #2997 closed

[2020-09-10 23:36] afrittoli commented on #3190
This small change works, but also it does not re-use connections:
[code]

[2020-09-10 23:38] bharathvenkatrajan commented on #3187
Hi @jerop thanks!
The reason I wanted this was because I want to be notified when a `pipelinerun` fails. For eg: POST to a webhook like PagerDuty. Is `cloudevents` the only way I can configure it? If so, how to go about configuring it to only push notifications when a `pipelinerun` fails?

[Here](https://github.com/tektoncd/pipeline/blob/master/docs/events.md) I can see CloudEvents sends notificat

[2020-09-10 23:42] afrittoli commented on #3190
I've noticed that the max idle connection in the transport seems to be ignored to, which makes me think that those connections are not considered idle for some reason.

[2020-09-11 00:59] mhaddon opened #3202 "PipelineRun gets instantly pruned by ArgoCD"
# Expected Behavior

When I do PipelineRun the resource is created... and it stays there, and if there are errors then the resource is still there so I can debug the error more easily.

# Actual Behavior

If I try to execute the pipeline below, relying on the defaults with no special settings, the pipelinerun will be created for about ~2 seconds, then everything cleaned up.

I get an error in the

[2020-09-11 06:35] pritidesai commented on #3196
The issue is when expression param is not getting resolved and remains as is when a list of candidates are calculated.

`PipelineState` with unresolved param in when expression:

[code]

https://github.com/tektoncd/pipeline/blob/f97f6b5901a0c058943003c4da0e240bfb3233fe/pkg/reconciler/pipelinerun/pipelinerun.go#L502-L510

This is what `pipelineState` contains and `Skip` function returns false since

[2020-09-11 06:43] pritidesai commented on #3196
when expression with constants works as expected in presence of finally tasks.

[2020-09-11 07:08] pritidesai commented on #3196
when expression with task results (with PR #3197) behaves odd with finally tasks. PipelineRun gets stuck and finally tasks are waiting for their turn to be scheduled 😞 I havent got chance to debug this but here is a sample pipelinerun and its output.

[code]
Output of `kubectl get pr -o json`:
https://gist.github.com/pritidesai/dd783e34781224552feeaf8d8c84d25f

[2020-09-11 08:53] VeereshAradhya opened #3203 "If the WhenExpression of the task is evaluated to false immediately after the pipelinerun is started, the pipelinerun stays in "Running(Started)" state"
# Expected Behavior
The Pipelinerun should start and run successfully

# Actual Behavior
If the WhenExpression of the task is evaluated to false immediately after the pipelinerun is started, the pipelinerun stays in "Running(Started)" state for a pipeline which has sequential tasks (tasks which run after another)

# Steps to Reproduce the Problem

1. Create 2 tasks (task-1, task-2)
2. Create a pip

[2020-09-11 09:41] afrittoli opened #3204 "Reuse TCP connections in the cloud events client"
### Feature request

With https://github.com/tektoncd/pipeline/pull/3201, keep alive is disabled and thus all
connections are used once and then terminated.
This was introduced as a workaround for https://github.com/tektoncd/pipeline/issues/3190.
We should re-enable keep alive and ensure that connections are re-used.

### Use case

All cloud events are delivered to the same sink. To minimise resou

[2020-09-11 09:53] abudavis opened #3205 "Failed to delete StatefulSet "affinity-assistant-9edfd8d72f" not found"
After a successful Pipelinerun (which references a PVC, see below) on OpenShift 4.5 Tekton Pipelines, I get continuous alerts on the dashboard stating "failed to delete StatefulSet affinity-assistant-9edfd8d72f: statefulsets.apps "affinity-assistant-9edfd8d72f" not found"

Wonder what is causing this, however the Pipelines seem to run OK.

[code]

[2020-09-11 10:00] benke33 opened #3206 "Pipelines with finally clause in them makes tekton-pipelines-webhook spam conversion errors between v1alpha1 and v1beta1"
# Expected Behavior
Pipelines with `finally:` in them should not make the `tekton-piplines-webhook` spam convert errors.

# Actual Behavior
When applying any Pipeline that includes `finally:` in it, the `tekton-pipelines-webhook` starts spamming these conversion errors:

[code]

# Steps to Reproduce the Problem

1. Create a new minikube cluster
2. Apply the latest `tekton-pipelines` release: 0.16.

[2020-09-11 10:24] dansiviter opened #3208 "Workload Identity Support"
### Feature request

To simplify GCP Bucket access, support Workload Identity as it's the Google recommended way to authenticate.

### Use case

Simplify GCS bucket access and reduce complexity.

[2020-09-11 11:18] #3190 closed

[2020-09-11 12:04] dbazhal commented on #1606
it would be really useful in this form. Also it would be good to be able to use kubernetes valueFrom mechanism in such variables https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2020-09-11 12:09] ImJasonH commented on #3208
Can you describe what doesn't work about WI today? This may just be a documentation issue.

I wrote some unofficial docs here: https://github.com/ImJasonH/tekton-gke/blob/master/workload-identity.md

[2020-09-11 12:13] dansiviter commented on #3208
We had a call with a Google Tekton SME and they stated more work was required. If it's a case of just documentation then it would be great to get something more official.

[2020-09-11 12:24] codeshaw commented on #3208
@ImJasonH - The issue is not around deployment of pipelines. Currently the installation directions require a kubernetes secret containing GCP service account key json.

We are currently working with inelegant flows where we:
1. Create a service account
2. Create a service account key associated with it
3. Push that key into vault
4. In a deployment pipeline extract that key from vault, creating it

[2020-09-11 12:26] dansiviter commented on #3208
@ImJasonH For reference, it's this part of the documentation: [docs/install.md#example-configuration-for-a-gcs-bucket](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#example-configuration-for-a-gcs-bucket)

[2020-09-11 13:00] #3188 closed

[2020-09-11 13:08] bobcatfish commented on #3187
hey @bharathvenkatrajan ! cloudevents is one way to do it, the other would be to have a `finally` task that does this - the caveat is that your finally task currently has no good way to check if other tasks in the pipeline have failed, which is one of the features we really need for finally ( #1020  + @pritidesai ) so at the moment you'd have to do something a bit hacky like use kubectl to check (

[2020-09-11 14:51] khalkie commented on #3152
/assign khalkie

[2020-09-11 14:57] ImJasonH commented on #3208
Thanks, I'll take a look at those instructions and try to spruce them up to take WI into account.

In the meantime, that configuration is really only necessary to support `PipelineResources`, which are considered "alpha" and are likely to undergo some changes in the future. You might want to consider not relying on them for now, and instead simulate the same functionality by having a Task that fet

[2020-09-11 16:51] coryrc opened #3211 "Pass log level to Stackdriver"
### Feature request

Currently the JSON in error reports has a "level" field, with "error", "info", etc., but this does not go up to Stackdriver, so the UX is worse.

### Use case

It is much easier to view and filter logs when debugging if the level is reported in a way Stackdriver can use natively.

I think Boskos recently fixed this, so the authors of that tool might be able to help if you do n

[2020-09-11 17:35] bobcatfish commented on #3208
( I think @wlynch was looking into this at one point as well )

[2020-09-11 17:36] bobcatfish commented on #3208
DID NOT MEAN TO CLOSE 🙏

[2020-09-11 17:48] bobcatfish commented on #2905
hmmm so it sounds like we'd be in a situation something like this:

1. task run created by user
2. task run added to workqueue
3. pipeline controller starts reconciling task run
4. pipeline controller calls EnqueueAfter for timeout
5. pipeline controller finishes reconcile, creates pod, etc....
... later....
6. something changes, e.g. pod status updated
7. task run added to workqueue (at this poin

[2020-09-11 17:52] mattmoor commented on #2905
Right, because imagine if `6.` is `<controller crashes and a new controller picks it up>`.  If during that Reconcile it identifies that it should be processed at `time=X` to handle timing things out, then it should blindly call `EnqueueAfter`.

If the controller is in a good steady state, then the idempotency will make it a nop.  If it isn't, then it just saved your bacon.

[2020-09-11 17:53] coryrc opened #3213 "Excessive logging/stuck reconcile loop from 0.15.2"
# Expected Behavior

Very few or no log entries when nothing is happening (I've just begun to use Tekton, manually running a few PRs and TRs).

# Actual Behavior

My cluster is getting about 50 log entries per second, related to `Converting [kind=PipelineRun group=tekton.dev version=v1beta1] to version tekton.dev/v1alpha1` and what I assume is a API call related to it. I currently have ~100 PRs (f

[2020-09-11 18:12] bobcatfish commented on #3203
yikes! thanks for trying when expressions out so thoroughly @VeereshAradhya we'll get to this right away :D

[2020-09-11 18:16] #3205 closed

[2020-09-11 18:29] jlpettersson commented on #3205
cc @vdemeester

[2020-09-11 20:08] coryrc opened #4357 "Confusing doc about Authentication"
https://tekton.dev/docs/pipelines/auth/

This document is linked from here: https://tekton.dev/docs/pipelines/pipelineruns/#specifying-custom-serviceaccount-credentials

The Overview section immediately dives into git and docker. To me, it would be nice if it was clear the document is really about "Connecting Secrets and ServiceAccounts to TaskRun/PipelineRun", then a section on "this is how you c

[2020-09-11 22:00] bobcatfish commented on #3196
Thanks @pritidesai !

@jerop and i were able to make some progress towards a fix (wip in https://github.com/tektoncd/pipeline/compare/master...bobcatfish:when_finally if you're curious) - don't want to rush it so ETA for getting this in will be next week, hoping to have a release with a fix Monday!

[2020-09-11 22:00] bobcatfish commented on #3203
Quick update: aiming to have a release with a fix for this out on Monday

[2020-09-11 22:01] bobcatfish commented on #3188
Quick update: since there are a few issues, we're aiming to have fixes for all 3 in 0.16.2 on Monday

[2020-09-11 22:45] pritidesai commented on #3196
Thanks @bobcatfish, was just talking to @jerop, yup no rush, lets fix it right.

Both the issues mentioned above (when expression params and task results not getting resolved in presence of finally task) are connected to the when expression resolution :

https://github.com/tektoncd/pipeline/blob/204a4038af48ba4a0b86b8e8e3e7325b5c174d04/pkg/apis/pipeline/v1beta1/when_types.go#L109-L114

I was askin

[2020-09-11 22:52] pritidesai commented on #3187
Its been getting delayed but its time now, will start working on a TEP for it next week.

[2020-09-12 00:48] pritidesai commented on #3196
Mix of `var replaced []WhenExpression` with `append` 🤔 may be causing weird memory allocation ...

[2020-09-12 02:40] pritidesai commented on #3196
@bobcatfish @jerop

PR #3217 partially fixes this issue and #3203, will try to add tests for the use cases its fixing.

[2020-09-12 11:49] pritidesai commented on #3196
I have updated PR #3217 to fix both issues (#3203  and #3217). Haven't got chance to add more integration tests, any help would be appreciated with adding tests 🙏

[2020-09-12 20:11] ljupchokotev commented on #3213
I get the same errors on 1.16.0 for one of my pipelines. Whenever I `kubectl apply` the pipeline on the cluster, the webhook pod will start logging the same exact error non-stop. If I delete the pipeline, it will stop logging the error.

[code]

[2020-09-13 00:08] mhaddon commented on #3202
It has something todo with ArgoCD provisioning the Pipeline resource.
If ArgoCD provisions the pipeline resource then other things cannot run the pipeline.
If ArgoCD provisions both the pipeline and the pipeline run it works.

I think its because ArgoCD is adding the label: "app.kubernetes.io/instance", which seems to cause the pipeline run to be instantly deleted.

[2020-09-13 00:44] mhaddon commented on #3202
I have created follow-up issues to fix this on the clientside.
I am not sure what the preferred solution to this issue is, but it would be nice for ArgoCD and Tekton to play nicely as I believe ArgoCD is a really strong CD tool and Tekton is a really strong CI tool.

[2020-09-13 14:54] abudavis opened #3219 "Two PVCs (RWO storage) needed for a pipeline that uses Workspace and Buildah"
I am running Tekton OpenShift Pipeline Operator (beta channel) on Openshift 4.5 and have observed that for every Pipeline that uses Workspace and Buildah (for baking images), requires atleast 2 PVCs (if using a RWO storage/block storage).

Because the task that runs the Workspace is a separate pod from the task that uses Buildah, block storage as expected prevents 2 pods from accessing the same PV

[2020-09-13 15:51] ImJasonH commented on #2559
/reopen
/remove-lifecycle-rotten

I think this is still a worthwhile change, and might even make a good-first-issue.

I think it would still be worth enforcing timeouts in the reconciler, to catch cases where a pod sat unschedulable until its timeout elapsed, and we could just not create the pod in that case.

[2020-09-13 15:59] jlpettersson commented on #3219
Hi @abudavis

Are you using the [Buildah Task](https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml) as from the Catalog? It is using one workspace "source" - but this can be shared with other Tasks.

I'm not sure I understand your problem.

I also had this understanding in the beginning. But the RWO of volumes means that the volume can only be mounted on a single **node**

[2020-09-13 16:28] abudavis commented on #3219
**_Yes I am using the one from the Catalog. Basically I have 1 PVC for the git-clone clusterTask and 1 PVC for the task that uses Buildah, so was wondering if it is possible to have a common PVC for both these tasks?_**

_**Well - the idea here was to enable several pipelines to use the same PVC when PipelineRuns are triggered concurrently (for example two developers starting 2 different pipelines

[2020-09-13 16:42] jlpettersson commented on #3219
Yes, it is common that tasks share a workspace, and that that workspace is backed by a single PVC. The [Buildah Task](https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/tests/run.yaml) has an example of a `Pipeline`  with two `Tasks`, first _git-clone_ and then _buildah_, both using the same workspace. The volume for the shared workspace is declared in the `PipelineRun`. I would cons

[2020-09-13 17:42] abudavis commented on #3219
Thanks again for the answers.
I did try to use a common PVC for git-clone (Workspace) and buildah tasks, the buildah pod reports this error, this is never a problem if I allocate separate PVCs for git-clone (and other tasks) and for buildah task. Could it be coz if the same workspace names for all tasks?

[code]

[2020-09-13 18:55] jlpettersson commented on #3219
This is a problem that should be avoided by [enabling the Affinity Assistant](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml#L32)

@abudavis since you are using Tekton from OpenShift 4.5, the Affinity Assitant is _disabled_ by default.

Personally, I would only recommend to disable the Affinity Assistant if you use a storage system or cluster that is not compatib

[2020-09-13 21:49] abudavis commented on #3219
Thanks again.
Enabled Affinity Assistant, but when the PipelineRun is started, the Affinity container tends to crash, dont know why.

``
  Events:
  Type     Reason                  Age                From                                      Message
  ----     ------                  ----               ----                                      -------
  Normal   Scheduled               <unknown>

[2020-09-13 22:19] jlpettersson commented on #3219
Right, this is because OpenShift runs the container with more limited permissions, not compabtible with the `nginx`-image. It is possible to change the image for the Affinity Assistant in the `Deployment` manifest for the Tekton Pipelines controller. In newer versions of Tekton, the nginx image is now changed to [nop-image](https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml#L6

[2020-09-14 02:15] xiujuan95 commented on #3111
Thanks @ywluogg ! No, I just want to use probes to detect the health of controller, don't have other goals.

[2020-09-14 03:26] ywluogg commented on #3111
@ImJasonH do you think we should add the probes for simple health check purposes for now?

[2020-09-14 05:06] tonysmithio commented on #856
Is there any update surrounding ARM64 support for the tekton controller and webhook, as well as pipeline workloads? ARM64 should be 1st class citizen in regard to architecture support.

[2020-09-14 07:04] vdemeester commented on #1222
/remove-lifecycle rotten

[2020-09-14 07:20] xiujuan95 commented on #2735
@mattmoor

Just now, I did some experiments, I enabled leader-election for tekton-pipeline-controller. Yes, it works.
[code]
But when I tried to enter each pod and curl `https://localhost:9090/metrics`, only the active pod can return values. Other passive pod failed because below error:
[code]
Is it only the active one that opens the Prometheus metrics port? I went through the code, but I don't fi

[2020-09-14 07:21] nmousouros opened #3220 "Use the status of step as a parameter in the next step"
Is it possible to get the status of the task ( success/ failure) as a result or as a variable or parameter?

I am trying to configure secured branches in github and I want to notify it only if the tests in the pipeline succeed or notify failure if it fails

[2020-09-14 09:05] xiujuan95 commented on #2735
Under the help of my colleague @qu1queee, thanks! Yes, metrics for prometheus only works on the active pod.

Then this causes another problem for me. If I configure the tekton controller deployment to do liveness and readiness check like below:
[code]
Under this situation, only the active pod can be running, all passive pods will be `CrashLoopBackOff` because:
[code]
That's bad for me. So not sure

[2020-09-14 09:55] bharathvenkatrajan opened #3221 "git-clone cluster tasks throwing permission denied public key when using ssh basic-auth"
# Expected Behavior
`git-clone` and `git-clonev0-14-3` cluster tasks to clone the private gitlab repository into the output workspace.
# Actual Behavior
`git-clone` and `git-clonev0-14-3` cluster tasks are throwing `Permission denied error (public key)` error with Gitlab while using `ssh basic-auth`.
[code]
# Steps to Reproduce the Problem

1. Do as seen in this example here - https://github.com/t

[2020-09-14 11:53] vdemeester commented on #3206
/cc @pritidesai
This is really weird, I don't get why having `finally` would make something *hit* the webhook (conversion or not).

[2020-09-14 11:55] vdemeester commented on #3213
@coryrc how are the task/pipeline created ? Is there anything but `kubectl` and/or `tkn` calling the API ?

[2020-09-14 13:06] bharathvenkatrajan commented on #3205
@jlpettersson I am using the openshift pipelines operator 1.1.1 and I am having the same issue. Is there a workaround for this of some sort? Because I am not sure when this will be fixed in the pipelines operator even if its fixed in Tekton.

[2020-09-14 13:10] jlpettersson commented on #3205
@bharathvenkatrajan the only workaround I know about is to _enable_ the Affinity Assistant - but it depends if you want that or not.

You may ask in the openshift-pipelines channel on tektoncd slack about Openshift Pipeline upgrades/patches.

[2020-09-14 13:50] ImJasonH commented on #2559
/remove-lifecycle rotten

[2020-09-14 14:10] spikeburton commented on #2557
We have a use case for this functionality with the MacStadium Orka Tasks. We have a Task that will perform some initialization (token fetch and configuration generation) which should then be cleaned up by another Task in a pipeline with `finally`. The clean up Task needs to then revoke the token and purge the configuration. I was planning to pass the name of the configuration to the clean up Task

[2020-09-14 14:11] sbwsg commented on #3221
This error message gives me pause: `Load key \"/tekton/home/.ssh/id_gitlab-creds\": invalid format`

Is it possible that this is happening because you're using `data` instead of `stringData` in the Secret?

[2020-09-14 15:00] bobcatfish commented on #3220
Hey @nmousouros  - if a Task in a pipeline fails, the whole pipeline stops. The exception is "finally" tasks, which run after the rest of the pipeline, regardless of failure, and for those we are planning to add #1020 which would allow finally tasks to see the state of the rest fo the pipeline

[2020-09-14 15:53] skaegi opened #3224 "Slightly better sidecar technique"
The istio team has moved to a slightly improved mechanism for sidecar support (while we wait and see what happens in K8). I'm opening this issue more for awareness as the approach is elegant if a bit clever hacky -- https://medium.com/@marko.luksa/delaying-application-start-until-sidecar-is-ready-2ec2d21a7b74

[2020-09-14 15:59] coryrc commented on #3213
@vdemeester Only `kubectl create -f pr.yaml`

[2020-09-14 16:01] coryrc commented on #3213
Oh, this is definitely a dupe of #3206

[2020-09-14 16:01] #3213 closed

[2020-09-14 16:02] coryrc commented on #3206
As stated in #3213 this also occurs in 0.15.2

I have only ever used `kubectl create -f pr.yaml` to create my PRs.

[2020-09-14 16:10] coryrc commented on #3206
Also, I am getting this message from PipelineRuns that do not have finally in them, but cannot be sure it didn't happen before I created my first PR with a `finally:`.

[2020-09-14 17:52] pritidesai commented on #2557
@spikeburton please look out for PR this week 🙏

[2020-09-14 18:08] #3196 closed

[2020-09-14 18:08] #3203 closed

[2020-09-14 18:28] coryrc opened #3226 "Provide shell-escaped parameters for `script:`"
### Feature request

Provide `$(params.<name>.escaped)` where the value has been escaped à la `printf '%q'` (see [this](https://unix.stackexchange.com/questions/379181/escape-a-variable-for-use-as-content-of-another-script) or [this](https://stackoverflow.com/a/6306730).

It is currently impossible to safely or robustly use variable expansion safely in `script:`; i.e. imagine trying to do
`echo "$

[2020-09-14 18:35] pritidesai commented on #3206
Yup, I see these conversion errors for a pipeline with finally in `webhook` logs 😞

@vdemeester any `beta` pipeline (with or without finally) hitting conversion, isn't this expected?:

[code]

[2020-09-14 18:36] pritidesai commented on #3206
and we would see these conversion errors with `finally` since its not available in `alpha` and conversion would fail.

[2020-09-14 18:39] coryrc commented on #3226
This could also be accomplished if inputs were available like results i.e. `/tekton/params/var` holds the contents of parameter `var`

[2020-09-14 19:02] coryrc commented on #3206
(I confirmed that I did not see any of these errors before the first time I ran a Pipeline with `finally:` but that it now throws that error on Pipelines that did not have `finally:`)

[2020-09-14 20:23] coryrc commented on #3219
I just bit the bullet and setup nfs to get RWX.

But, I noticed the Buildah Task does not mount its source workspace read-only; maybe that would help?

[2020-09-14 20:44] vdemeester commented on #3206
It is not excepted nope

[2020-09-14 20:51] bobcatfish commented on #3203
Okay 0.16.2 is up now (https://github.com/tektoncd/pipeline/releases/tag/v0.16.2) please let us know if you still run into problems!

[2020-09-14 20:51] bobcatfish commented on #3188
Okay 0.16.2 is up now (https://github.com/tektoncd/pipeline/releases/tag/v0.16.2) please let us know if you still run into problems!

[2020-09-14 21:00] pritidesai commented on #3206
We have the conversionController added as part of webhook configuration:

https://github.com/tektoncd/pipeline/blob/c90461fe79ce7b7e4693eb1020029157959cdbe8/cmd/webhook/main.go#L216-L222

any changes needed here? I am trying to figure out how is the conversion initiated 🤔

[2020-09-14 22:23] pritidesai commented on #3206
and the desiredAPIVersion is set to alpha:

[code]

[2020-09-14 22:34] pritidesai commented on #3206
Last time we changed `knative/pkg` was on July 22: https://github.com/tektoncd/pipeline/commit/84ddab4129190f13bfd4b2d41780fe421de61eac#diff-212ccdd03608b1dea47236a14810bcb2

[2020-09-14 22:37] coryrc commented on #3226
My current workaround is using env var:

[code]

[2020-09-14 22:42] abudavis opened #3227 "Image source for zip utility"
Any ideas as to what are the available image sources for having a zip utility (functions such as zip -r) that can be used in a step task to zip files as part of a pipeline?

[2020-09-14 23:39] bharathvenkatrajan commented on #3221
@sbwsg When I put in the `ssh private key` in a `Source Secret` in openshift, it automatically encodes it with base64 and creates this Secret YAML for me. Moreover, `stringData` is plain text, since its a private key, isn't using `data` more secure?

[2020-09-15 03:09] ywluogg commented on #2559
I'm interested in taking this if no one is working on it.

[2020-09-15 03:38] ywluogg commented on #3171
@ImJasonH will this be suitable as a good first issue?

[2020-09-15 03:48] coryrc commented on #2119
So what's the next step? Is there a milestone or anything I can follow along with and/or participate in the implementation?

[2020-09-15 05:46] jtestard opened #3232 "How to get notified of failure"
Hi,

It is unclear to me at this stage whether there is a way using Tekton to get notified (via cloud events, email, webhook...) when a pipeline / task fails. I have seen this frozen issue: #1740.

Does it need to be solved before we can this functionality or is there a simpler way?

[2020-09-15 06:48] vdemeester commented on #3206
@pritidesai right, the conversion happens *if* a client asks for a `v1alpha1` object (and the storage is `v1beta1`) through the API. So it's either an external consumer of the API (that watches the object or polls them) that uses `v1alpha1` or it's something internal.

I re-read the issue, and now that I think of it, there might be an external consumer of the API. @benke33 @coryrc can you give us

[2020-09-15 06:57] coryrc commented on #3206
Prow is not installed *on* my cluster, but the cluster is used as a "build cluster" in which Prow will apply pods. @benke33 says this repos in brand-new minikube though.

I'm otherwise just running `tkn logs` occasionally.

[2020-09-15 07:08] vdemeester commented on #3206
@coryrc so prow "might" query the tekton api of this cluster ?
Yeah, if it's on a brand new minikube without *any* api customer (no UI, …) then it might be an internal problem (something from the controller using `v1alpha1` calls still..)

[2020-09-15 07:23] coryrc commented on #3206
Yes, unfortunately I can't rule that out because I am not sufficiently knowledgeable in this domain.

Sometimes I think back to 5-pages of Java stacktrace fondly...

[2020-09-15 07:25] benke33 commented on #3206
@vdemeester there's nothing apart from `tekton pipelines` 0.16.0 installed in the cluster and it's a brand new `minikube` 1.13.0 running `kubernetes` 1.19.0.
Then I just applied this: [pipeline-with-finally](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-final-tasks.yaml)

[2020-09-15 08:02] dghubble opened #3234 "Nil pointer when PipelineRun created v0.16.x"
# Expected Behavior

PipelineRun reconciles don't panic.

# Actual Behavior

Upgrade Tekton pipeline from v0.15.2 (ok) to v0.16.0 - v0.16.2. Tasks and TaskRuns work fine, but creating a PipelineRun crashes the controller with a nil pointer panic.

[code]

# Steps to Reproduce the Problem

[code]

[code]

[code]

[code]

# Additional Info

- Kubernetes version: v1.19.1
- Tekton Pipeline version: v0

[2020-09-15 08:22] vdemeester commented on #3234
@dghubble thanks for the issue. Looking at the code *this shouldn't* happen **except** if there is not default timeout applied. I am not sure why there wouldn't be any applied (we do set one). Did you configure the default timeout ? Can you share the tekton-pipelines configmap content ?

(Created #3235 for a quick fix but I wonder how it happened and how we did not catch this in the CI)

[2020-09-15 09:09] dghubble commented on #3234
Oh maybe. I've never really customized it.

[code]

Used in the deployment as

[code]

Updating to the following doesn't seem to affect the panic.

[code]

[2020-09-15 09:15] vdemeester commented on #3234
@dghubble ok thanks :hugs:

[2020-09-15 09:17] dghubble commented on #3234
Well it definitely does seem to be timeout related! If I tweak the PipelineRun to have an explicit timeout, it can be created

[code]

[2020-09-15 09:25] vdemeester commented on #3234
@dghubble right, then I think https://github.com/tektoncd/pipeline/pull/3235 should fix it.
@bobcatfish we will need a 0.16.3 sounds like :stuck_out_tongue_closed_eyes:

[2020-09-15 09:28] xiujuan95 commented on #2842
For this PR: knative/pkg#1494, I think it only can reduce knative metrics counts. It removed knative service name key. For example：
Before modification, the metrics are:
[code]
After modification, above two metrics will be merged into one:
[code]

However, for tekton side, the metrics counts also don't be reduced. By observing, I find the most metrics is `tekton_taskrun_duration_seconds_`, it's li

[2020-09-15 09:57] Shahard2 commented on #2791
any solutions to this one so far?
I'm also facing it..

[2020-09-15 10:02] XinruZhang commented on #3146
Has anybody taken this one? If not, I'm interested in working on it :)
/assign @XinruZhang

[2020-09-15 10:05] abudavis commented on #3205
@bharathvenkatrajan  @jlpettersson I raised a support case with Redhat who have raised a bugzilla case - https://bugzilla.redhat.com/show_bug.cgi?id=1878998

[2020-09-15 10:21] abudavis commented on #3219
@bharathvenkatrajan @jlpettersson I raised a support case with Redhat who have raised a bugzilla case - https://bugzilla.redhat.com/show_bug.cgi?id=1878998

[2020-09-15 12:13] dbazhal commented on #3039
Also "variable substitution" works as script-injection, I can make something like
![Screenshot_20200915_150140](https://user-images.githubusercontent.com/2122630/93207926-5dc1e580-f764-11ea-995c-0d3a84796391.png)
and it works. But not everywhere. It would be also cool to find description for that in doc.

[2020-09-15 12:59] ImJasonH commented on #2559
Sounds good! There's going to be some overlap with @Peaorl 's work in #3087, which you should just be aware of, but otherwise this seems fairly straightforward.

One thing we should make sure to do is guard this behavior change with a [feature flag](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml) defaulting to false, in case the change in behavior takes anybody b

[2020-09-15 13:16] spikeburton commented on #2557
@pritidesai great, thanks for the quick response 🙂

[2020-09-15 13:43] Yannig opened #3237 "Big log activity when upgrade from 0.14.2 to 0.16.2"
# Expected Behavior

Applying yaml with kubectl and get a working tekton.

I'm deploying tekton pipelines (0.16.2) and triggers (0.8.1) on an AKS cluster (1.17.9).

The images are downloaded from an internal container registry. I patch the YAML deployment file

# Actual Behavior

The pods for the tekton pipelines webhook is generating an incredible activity complaining that is not able to update t

[2020-09-15 13:47] Yannig commented on #3237
I did try to remove tekton but the problem is still there.

Here is the commands I use to do that:

[code]

[2020-09-15 13:56] sbwsg commented on #3221
Initially I think we just need to figure out if this is the core of the problem or not.  Unfortunately I'm not familiar with openshift so can't provide much help there.  But my hunch is that the encoded `data` field is possibly the reason that the `invalid format` error is being given.

All Tekton does is expose your Secrets to the container.  It doesn't do any kind of encoding/decoding of the SSH

[2020-09-15 14:22] jerop commented on #3232
for now, you can use `finally` tasks with kubectl as described by @bobcatfish in https://github.com/tektoncd/pipeline/issues/3187#issuecomment-691084666 -- @pritidesai is working on a way for `finally` tasks to check the status of tasks

you could also use cloud events: https://github.com/tektoncd/pipeline/blob/master/docs/events.md

[2020-09-15 14:25] ImJasonH commented on #2725
Just to clarify, is the end goal to enable something like this Pipeline?

[code]

In this example, when the Pipeline is run, it should run 5 TaskRuns, the first one printing `I am attempt 1 of 5`, the last one printing `I am attempt 5 of 5` -- is that roughly the feature you're looking for @IdanAdar ?

(In the example above, the names of the placeholders are made up, we'd probably find a better na

[2020-09-15 14:34] imjasonh opened #3238 "Cancel TaskRuns using entrypoint binary"
## Today

When a TaskRun is cancelled, the TaskRun controller deletes the TaskRun's underlying Pod. This stops execution ~immediately, but also leads Kubernetes to reap the Pod's logs.

## Feature Request

In #2559, we're discussing enforcing TaskRun-level timeouts in the entrypoint binary, so that timed-out TaskRun Pods don't get deleted and any logs lost. Instead of deleting the Pod, the entrypo

[2020-09-15 14:37] afrittoli commented on #3232
You can also use cloud events to trigger a notification tasks via an event listener.
That's the way we get notification about failed CD pipelines in Tekton infra (plumbing):
See the [event listener](https://github.com/tektoncd/plumbing/blob/4cc91012080c6b292179292d6be3aefaab43c7aa/tekton/resources/cd/eventlistener.yaml#L80-L100), the [trigger template](https://github.com/tektoncd/plumbing/blob/mas

[2020-09-15 15:09] sbwsg commented on #2119
TEP was approved in https://github.com/tektoncd/community/pull/169 and is [moving to implementable status](https://github.com/tektoncd/community/pull/199).  I'm working on implementation this week and next.

[2020-09-15 15:16] bobcatfish commented on #2725
The idea of changing the behavior of a Task based on the retries seems like a bad idea but it's hard to say without knowing the specific use case.

However making this information available seems pretty reasonable either way? Might be worth bringing up in an API working group at least ( @tektoncd/core-maintainers )

[2020-09-15 15:29] Yannig commented on #3237
In fact, the problem exist in the version 0.15.2.

[2020-09-15 16:04] Peaorl opened #3239 "Incorrect TaskRun status due to different Steps having the same StartedAt and FinishedAt times"
# Preface
Users expect that the `status.conditions.message` field of a failed `TaskRun` is based on the first terminated `Step`.
For that reason, pod container statuses are sorted [#1905](https://github.com/tektoncd/pipeline/issues/1905).

Tekton sorts pod container statuses based on *FinishedAt* and *StartedAt* times.
Initially, sorting happened solely based on *FinishedAt* times.
This is troubli

[2020-09-15 16:56] #3234 closed

[2020-09-15 17:53] bobcatfish commented on #3239
Thanks for the thorough investigation @Peaorl !

I like option 2 personally; unless we're including sidecars (and maybe we are? maybe that's why this is a problem? looking at https://github.com/tektoncd/pipeline/blob/76aff13938220d66ab91e517bbbe7dffb1eb9a9f/pkg/pod/status.go#L111-L137 i dont think we are tho) i would expect the order the steps are evaluated in to reflect the actual order the conta

[2020-09-15 17:56] bobcatfish commented on #3238
Makes sense to me to revisit this!

@ImJasonH are there any other options that are worth evaluating for this? For example, we could send a signal that the entrypoint binary could catch - iirc the only reason we haven't relied more on signals is b/c we haven't been able to rely on how some arbitrary process will handle it; we can control the entrypoint binary tho 🤔

I think @sbwsg has looked into t

[2020-09-15 18:00] ImJasonH commented on #3238
Can we send signals to containers in the pod from the controller? I didn't think that was an option, so we've relied on file-existence checks backed by Downard volumes instead.

We've also discussed having a sidecar in the Pod that can accept RPCs from the controller, but that's a much larger change, and ultimately sort of orthogonal to how entrypoint stops the user's entrypoint execution.

[2020-09-15 18:01] bobcatfish commented on #3234
kk sg! thanks @vdemeester :D

[2020-09-15 18:22] bobcatfish commented on #3237
Hey @Yannig ! Thanks for reporting this! I don't know why this is happening, I don't see it in my own clusters or our dogfood clusters (but it looks like something very similar happened in a dashboard integration test https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/1371/pull-tekton-dashboard-integration-tests/1260292944707981314/ 🤔 )

Looking at the code that

[2020-09-15 18:24] bobcatfish commented on #3227
Hey @abudavis - I don't know of any off the top of my head, our slack might be a good place to ask about that: https://github.com/tektoncd/community/blob/master/contact.md#slack

[2020-09-15 18:28] bobcatfish commented on #3226
Hey @coryrc ! I'm wondering what we would do in the case where someone DOES want to allow passing arbitrary commands into the script.

I wonder if your env var solution is the most reasonable - another thing that comes to mind is if we allowed Tasks to express validation (kinda related to #1393)

@ImJasonH might have some opinions here

[2020-09-15 18:30] bobcatfish commented on #3224
Thanks @skaegi ! Any chance you'd be willing to summarize the approach and how we might take it on? 🙏

[2020-09-15 18:34] bobcatfish commented on #2207
@lukehinds let us know if you are still running into this, going to close for now!

[2020-09-15 18:34] #2207 closed

[2020-09-15 18:47] ImJasonH commented on #3226
In that case the Task author can use the default, `$(params.foo)`, instead of `$(params.foo.escaped)`, if I'm understanding correctly.

The downside there is that it requires the Task author to remember to ask for `.escaped`, and it could lead to confusion about what _kind_ of escaping it is -- URL-encoding? SQL escaping?

I'm mostly +1 toward it, with good documentation and examples.

[2020-09-15 18:49] coryrc commented on #3226
Yes

Is this a change that I should make a TEP for?

[2020-09-15 18:50] coryrc commented on #3226
And "shell-escaped" might be a better name

[2020-09-15 18:51] ImJasonH commented on #3226
Yeah, I think so, if only to get broader eyes/feedback on it than trying to ping people into this thread.

It's fairly straightforward, so the TEP shouldn't be too long. A few motivating  use cases like you have up there ☝️ and a word or two about how you'd shell-escape. Let me know if I can help, and/or assign me when you share the TEP.

[2020-09-15 19:04] itscatherinelam opened #3240 "How to construct 'whenexpression' to evaluate whether a resource (i.e. Namespace, Build, etc.) exists?"
Good morning! Looking at the documentation on available variables (https://github.com/tektoncd/pipeline/blob/master/docs/variables.md#variables-available-in-a-pipeline), I am unable to understand how to construct an evaluation expression to determine whether or not a resource exists.

For example, upon pipeline run, I may not know if a certain resource exists and I would only want to run it if it

[2020-09-15 19:14] Yannig commented on #3237
@bobcatfish Thanks for your feedback !

I will do some experiments with the mutating/validating webhook configuration and I keep you in touch.

[2020-09-15 19:52] bobcatfish commented on #3237
Sounds good! Thanks @Yannig please let us know what you find.

The only other thing I could think of is that I think those specific webhooks might be global (I think @chhsia0 could fill in more) - i.e. that one webhook is used for all namespaces, so if you had multiple tekton installations in multiple namespaces maybe they'd all try to update the same webhooks and have conflicts?

[2020-09-15 19:56] Yannig commented on #3237
I dont know if it could help, but here the list of the mutating webhook configurations:

[code]
The same thing with the validating webhook configurations:

[code]

[2020-09-15 20:01] jlpettersson commented on #3240
Hi @itscatherinelam !

`WhenExpressions` takes _params_ or _results_ from previous `Tasks` as input. To execute a `Task` based on whether some resource exists, you typically first need to run a `Task` e.g. `does-namespace-exists` that output the "fact" (true or false) as a [Task Result](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#emitting-results) and then in the next `Task`, yo

[2020-09-15 20:13] GregDritschler commented on #3154
That's strange.  The controller pod was validated with the `privileged` PSP per the `kubernetes.io/psp: privileged` annotation.  That PSP allows all volume types per the output of `kubectl get podsecuritypolicy`.  So I don't understand how the reported error of the controller not being able to create a pod that uses a downwardAPI volume is happening.  @gabemontero Am I missing something here?  I s

[2020-09-15 20:18] Yannig commented on #3237
By comparing validation.webhook.pipeline.tekton.dev, I found the following difference:

    $ diff /tmp/validation.webhook.pipeline.tekton.dev-bad.json \
           /tmp/validation.webhook.pipeline.tekton.dev-minikube.json

[code]

The differences are the same with this kind of object.

[2020-09-15 20:22] Yannig commented on #3237
Looking the log of a "working" version of Tekton, I found that there's already this kind of message (here with v0.14.2):

[code]

The only thing is that the pod did not try to update the configuration in an infinite loop after that.

[2020-09-15 20:45] gabemontero commented on #3154
Not that I can tell @GregDritschler

The network policy must be getting in the way somehow of the pod security policy stuff in a unexpected way, per the cause and effect noted in the description.  As I took the description, it runs fine with PSP on and NP off.

I'm unfamiliar with networks policies.  Per the doc at https://kubernetes.io/docs/concepts/services-networking/network-policies/#prerequis

[2020-09-15 22:31] coryrc commented on #3237
Maybe related to #3206 ?

[2020-09-15 22:35] coryrc commented on #3208
Until optional workspaces are available, I think you need to fork the [gcs-download](https://github.com/tektoncd/catalog/tree/master/task/gcs-download/0.1) Task, remove the credential file stuff, then run your Task with the appropriate serviceaccount.

[2020-09-16 05:13] zhangtbj commented on #2842
Cool, Zoe, did you discuss it with Tekton community?

[2020-09-16 05:27] Yannig commented on #3237
@coryrc I did a check and remove everything in the cluster and the problem is still there. The problem is also present with the previous version of Tekton (0.15.2).

[2020-09-16 10:04] Yannig commented on #3237
I think there's an issue with the validation webhook. If I try to inject the modification directly changing only the timeout for example, I get the same error:

[code]

[2020-09-16 10:07] Yannig commented on #3237
If now I remove the resourceVersion field, the modification is working:

[code]

[2020-09-16 12:05] abudavis opened #3243 "Pipelines not working with Openshift 4.5 internal registry"
Hi
Tried to create the following Buildah task in which it is not able to pull the image from Openshift 4.5 internal registry. I have now tried with "image-registry.openshift-image-registry.svc" and this "default-route-openshift-image-registry.app.testing.oc.company.com". Also tried to add the pull secret and its token to service account "pipeline" (which was created by default by the Openshift Pip

[2020-09-16 13:05] Peaorl commented on #3239
Of course! Thanking @sbwsg for the leads too.

Exactly, `Sidecars` are not included for formulating a `TaskRun` status. See the NB section [here](https://github.com/tektoncd/pipeline/tree/master/cmd/nop) or the [code](https://github.com/tektoncd/pipeline/blob/a65704a95f62f4f44757b113a9427f21849a48d7/pkg/pod/status.go#L219).
I'm not entirely sure how that would affect this situation though?

Indeed

[2020-09-16 13:23] grebit opened #3245 "Task's declared required resources are missing from the TaskRun"
Playing around with tasks for a while but it doesn't matter if I change the order of the spec. If keeps saying Task's declared required resources are missing from the TaskRun

# Expected Behavior
Running task without error

# Actual Behavior
Error: ```Task's declared required resources are missing from the TaskRun```

# Steps to Reproduce the Problem

1. tkn task create -f java-gradle-test-task.ym

[2020-09-16 13:29] GregDritschler commented on #3239
When I investigated this logic before, I think one of my concerns about using taskspec step order is that it wouldn't handle a failure of an internal step (i.e. the ones inserted by tekton).  I thought that's why the timestamp approach was needed.

[2020-09-16 13:43] Peaorl commented on #3239
I see, would these internal `Steps` be initContainers? Because it seems like there's a separate container statuses field for initContainers.

[2020-09-16 14:03] bobcatfish commented on #3239
I _think_ there might be an init container or 2 but they are definitely not all init containers, e.g. PipelineResources add containers before and after.

If we went this route, we'd need to take into account the order of all steps, including internal steps - we actually added the order of these "internal" steps to our api compatibility policy and tried to make it deterministic in https://github.co

[2020-09-16 14:08] ImJasonH commented on #3171
/assign ywluogg

cc @NavidZ since this relates to metrics

[2020-09-16 14:09] ImJasonH commented on #2559
/assign @ywluogg

[2020-09-16 14:10] ImJasonH commented on #3245
Does this happen because of `resources: {}` ?  Does it stop happening if you remove that line?

[2020-09-16 14:14] grebit commented on #3245
No sadly enough not. When leaving this empty it still creates `resources:{}`

When I create the task with tkn task create -f java-gradle-test-task.yml it adds this automatically.

[2020-09-16 15:02] bobcatfish commented on #3245
hey @grebit !  a couple things:

* Like @ImJasonH was pointing out, i dont think steps have a "resources" field
* [in v1beta1, there is no "inputs" section](https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1-to-v1beta1.md#changes-to-fields)
* if you still have trouble, is it possible to see what the created taskrun looks like? if you are using tkn to create it, i wonder if tk

[2020-09-16 15:05] ImJasonH commented on #3245
Steps _do_ have a `resources:` field, to configure the amount of CPU/RAM resources to request/limit each step to.

I didn't realize until this comment that the Task indeed does specify `inputs` which isn't valid in v1beta1. That's likely the cause of the error, though it seems like we could use a better error message in that case 🤔

[2020-09-16 15:11] grebit commented on #3245
But looking at this, it's the same setup right? Or are I'm looking wrong?

[code]

[2020-09-16 15:15] grebit commented on #3245
This is by the way the result of the taskrun:

[code]

[2020-09-16 15:16] dibyom commented on #2992
This one flaked again on the nightly last night

[2020-09-16 16:27] sbwsg commented on #3208
Ah, good catch @coryrc .  You might also be able to work around this by just passing an `emptyDir: {}` workspace for the credentials workspace.  I haven't tested this but it appears that the Task YAML shouldn't (🤞 ) break if an empty creds dir is provided.

[2020-09-16 17:28] coryrc commented on #3208
And if it does, I bet a fix is easy and welcome!

[2020-09-16 19:21] eddie4941 commented on #3171
Dropping this here for context. The `webhook_request_latencies_bucket` metrics is heavily influenced by the labels in question here: https://github.com/knative/pkg/pull/1464/files

Removing the labels in that pull request might help reduce the number of unique `webhook_request_latencies_bucket` metrics the webhook has to manage.

Aside from this, I don't know if theres a way to configure the metri

[2020-09-16 22:57] cgruver opened #3249 "Missing Documentation for config-defaults configmap"
I need help defining a default pod template in the `config-defaults` configmap.

I have tried several attempts, but none seem to have any effect on a pipeline run.

Current attempt:

[code]

[2020-09-17 08:30] grebit opened #3251 "Build failed for unspecified reasons and Task's declared required resources are missing from the TaskRun"
# Expected Behavior
Running the pipeline without any errors

# Actual Behavior
During the run of the pipeline we are getting unexpected results. At the moment, the most recent problem is this: "build failed for unspecified reasons."

When the task only get started we are getting the following error:
[code]

# Steps to Reproduce the Problem

1. Creating tasks, resources and pipeline
2. Starting the

[2020-09-17 09:37] vdemeester commented on #3245
@grebit there is a few things:
- `tkn` is 0.9.0. I am not sure if that version of `tkn` asked interactively for resources to bind or not. Does it ? If it doesn't ask for anything when you issue `tkn task start …`, then you either need to specify the resource manually *or* upgrade you `tkn` version (0.12.1 is the latest as of today) to have this interactiveness.
- The task yaml specified shouldn't

[2020-09-17 10:29] vdemeester commented on #3243
@abudavis this is an openshift pipeline bugs (so might be worth creating a bugzilla for it on the redhat bugzilla).

/cc @chmouel @gabemontero

[2020-09-17 10:47] abudavis commented on #3243
Bugzilla : https://bugzilla.redhat.com/show_bug.cgi?id=1879680

[2020-09-17 12:34] nikhil-thomas commented on #2992
it failed again sep 17.
it passed on rerun.

[2020-09-17 13:09] jerop commented on #1023
open pr: https://github.com/tektoncd/pipeline/pull/3176

/remove-lifecycle rotten

[2020-09-17 14:00] yaoxiaoqi commented on #2981
I would like to take this issue.

[2020-09-17 14:02] itscatherinelam commented on #3240
Mornin', @jlpettersson!

Thank you for your reply! I must admit that I'm not well versed in scripting. Let me know if I'm stepping outside my allowable boundaries in this discussion area, but could you provide any insight on what else I should edit in this custom task to get the desired result? I've bolded the areas where I am not sure how to proceed: 1) passing in a string as a param, and 2) grab

[2020-09-17 14:19] sbwsg commented on #2981
/assign @yaoxiaoqi

[2020-09-17 15:22] cgruver commented on #3249
The following works:

[code]

[2020-09-17 17:21] NavidZ commented on #2316
Some updates on this. It seems the request is being sent as the tekton-pipeline-controller service account (which is the service account of the pod running this code) rather than the service account of the pod we intend to create. I'm looking into either impersonating the target service account or somehow move the logic to the new pod.

[2020-09-17 17:36] afrittoli commented on #859
[This demo](https://youtu.be/tScW9EyaTdw) from a KubeCon talk is a way to solve the issue:
- detect if a change alters the pipeline definitions at all
- if so, create a new namespace on the fly, deploy pipelines in there
- send a cloud event to the event listener in the new namespace
Code is in my plumbing fork https://github.com/andreafrittoli/plumbing

[2020-09-17 17:49] vdemeester commented on #2316
cc @gabemontero

[2020-09-17 18:07] coryrc commented on #3251
v1beta1 does not support `resources:`

[2020-09-17 18:08] coryrc commented on #3251
you cannot have:
[code]

[2020-09-17 18:29] qu1queee commented on #3111
any updates on this issue? It seems that if we use the `/metrics` endpoint for probes it will eventually conflict with HA for the controllers, as explained in https://github.com/tektoncd/pipeline/issues/2735#issuecomment-691924199.