[2021-05-24 12:16] sbwsg commented on #1838
Yeah, I think this issue has been superseded by TEP-0044 at this point. https://github.com/tektoncd/community/blob/main/teps/0044-decouple-task-composition-from-scheduling.md

/close

[2021-05-24 12:17] #1838 closed

[2021-05-24 12:55] prateekkhera commented on #947
@emichaf - did you reach any opinion? I am now at the same state where you were 2 years ago :sweat_smile:

[2021-05-24 20:13] mrutkows commented on #3970
Sooo the plan is to document the kind tool and specifically leverage the use of this script:
https://github.com/tektoncd/plumbing/blob/main/hack/tekton_in_kind.sh

IMO, we should also document the script purpose/usage not only in DEVELOPMENT.md, but also in a new README in the parent "plumbing/hack" directory (and see if we can leverage that as a canonical doc. from DEVELOPMENT.md".

I can work to

[2021-05-25 12:57] bitsofinfo commented on #3468
/remove-lifecycle rotten

[2021-05-25 14:35] skaegi commented on #3968
Right - we have something similar for the controller -- the issue is for the affinity assistant. Even if we set a policy where all authenticated users can `use nonroot`   there's no "hints" in the pod definition to steer towards `nonroot` vs `restrictive` even if that is something. I guess a bit of a hammer approach is to create a new SCC clone of `nonroot` with higher priority.

[2021-05-25 17:11] jerop commented on #3109
/remove-lifecycle stale

actively working on this issue in [TEP-0063: Workspace Dependencies](https://github.com/tektoncd/community/blob/main/teps/0063-workspace-dependencies.md)

[2021-05-25 19:12] #3682 closed

[2021-05-26 05:32] nikhil-thomas commented on #3968
cc @chmouel

[2021-05-26 06:53] waveywaves opened #3974 "(debug) Use text/template for debug scripts instead of %s based formatting"
This issue is created alongside https://github.com/tektoncd/pipeline/pull/3857 to ensure that the issue regarding templating of bash scripts used for debugging is recorded.

[2021-05-26 06:59] nikhil-thomas commented on #3661
/remove-lifecycle stale

[2021-05-26 07:03] nikhil-thomas commented on #3786
/remove-lifecycle stale

this issue is being addressed in https://github.com/tektoncd/pipeline/pull/3934

[2021-05-26 07:09] raul-gherman opened #3975 "initial `git fetch` will fail if no master branch exists"
# Expected Behavior
`master` and `main` branch should be treated the same

# Actual Behavior
{"level":"error","ts":1622011863.8723476,"caller":"git/git.go:54","msg":"Error running git [fetch --recurse-submodules=yes --depth=1 origin --update-head-ok --force master]: exit status 128\nfatal: couldn't find remote ref master\n","stacktrace":"github.com/tektoncd/pipeline/pkg/git.run\n\tgithub.com/tekto

[2021-05-26 12:29] barthy1 opened #3978 "Permission error with nonroot user in examples test"
Several days ago I noticed that for s390x test env `run-steps-as-non-root` test started failing. Looks like permission problem for nonroot user.
The error is ` chdir to cwd ("/home/nonroot") set in config.json failed: permission denied: unknown`.

# Expected Behavior
`go test -v -count=1 -tags=examples -timeout=20m ./test -run ^TestExamples/v1beta1/taskruns/run-steps-as-non-root` should be execute

[2021-05-26 14:47] ms-lolo commented on #3900
Hey just wanted to add a use case that I think is not met by being able to run pipelines on a single pod.

I have a single task that generates documentation in a repository. It's a single task because it is the one unit of reusable logic with a single output (a directory of html files).

However, my repository is made up of many python packages, and the documentation site is built by combining som

[2021-05-27 03:44] waveywaves commented on #2944
/remove-lifecycle frozen

[2021-05-27 17:45] jcatana commented on #1530
I'm also running into this issue trying to parameterize a Task's resources CPU amd memory requests & limits.

[code]
When trying to create the Task
[code]
It only can work when I do not parameterize these values and set the resources in the Task implicitly, but it's bit annoying to have to have different Tasks to use different amounts of resources for a run.

[2021-05-29 19:06] aelbarkani commented on #3411
Here is my feedback about this feature: usually we use ephemeral nodes to run pipelines, so the pods disappear after 1 or 2 hours (and so do the logs). The users complain that user experience is not good, they don't want to have to look for the logs in ELK, but rather to keep using Openshift Pipelines dashboard.

[2021-05-30 15:01] xclud opened #3989 "How to run TaskRuns in non-parallel mode"
I am using Tekton for my CI/CD jobs. The TaskRuns are made by a gitlab trigger (https://github.com/tektoncd/triggers).

Since compiling the code and building the docker images use a lot of system resources (Specially RAM), I need to run the tasks in a sequential order, not in parallel. Also, it doesn't make sense if a later trigger deploys before a first trigger (which happens quite a lot).

I app

[2021-05-31 09:36] nikhil-thomas commented on #3798
🧑‍💻 🎉

in short,
installing pipeline `v0.24.1` on GKE Autopilot cluster:
[code]

@imjasonh @vdemeester @bobcatfish

installation log
[code]

[2021-05-31 09:39] nikhil-thomas commented on #3989
this should be what you are looking for. 🧑‍💻
https://tekton.dev/docs/pipelines/pipelines/#using-the-runafter-parameter

[2021-05-31 09:42] nikhil-thomas commented on #3989
@afrittoli @savitaashture could we suggest any best practices/tips for this.

[2021-05-31 09:46] nikhil-thomas commented on #3411
@aelbarkani https://github.com/tektoncd/results is an appropriate solution for this, isn't it.

[2021-05-31 10:03] xclud commented on #3989
@nikhil-thomas It seems `runAfter` works in a Pipeline. My aim is to execute TaskRuns one at a time. Or if I change my question: How to run one Pipeline at a time?

[2021-05-31 13:58] #2159 closed

[2021-05-31 14:05] nikhil-thomas commented on #3989
looks like a you will have to write a Task, whose taskrun (generated by trigger event) will check whether a pipelinerun exists and then create the pipelinerun, may be using `tkn pipeline start` command.

cc @chmouel

[2021-05-31 14:14] xclud commented on #3989
I have a git repository with many users creating feature branches and pushing into master. Each time a commit is pushed it triggers a new TaskRun and too many of jobs eat the system resources and the system hangs. They also go into a race condition to deploy to the server.

In contrast, Gitlab's built-in CI/CD pipeline runs the jobs one by one (not too many of them at once) and the order of execut

[2021-05-31 14:30] shresthsuman opened #3990 "Replicas in Tekton"
Hello Everyone,

I am quite new to Tekton.

I am facing an issue currently - replication of pods using tekton.

What I want to achieve?
* I want to create a pipeline with two tasks.
* First task creates an echo hello pod
* Second task creates an echo goodbye pod.
* Both pods needs to have 2 replicas.

Error - unknown field "replicas" while running the tasks or pipeline.

I have tried to add replic

[2021-05-31 14:38] chmouel commented on #3989
It's kind of hard, i think there is a other issu1e somewhere where @imjasonh explains why it is so difficult to do this properly,

maybe a CustomTask backed by a Queue service may be a (non trivial and heavy) way to try to achieve this but we don't have a solution built in pipeline for this.

[2021-05-31 15:16] aelbarkani commented on #3411
@nikhil-thomas is that integrated into OpenShift dashboard ?

[2021-06-01 01:53] skk2142 opened #3991 "Dynamic number of tasks"
Feature request
Creating tasks at runtime.

Use case
I want to run certain number of tasks in images that are determined at the runtime. Each task is a command that needs to run in some container who image is also determined at runtime. The number of these tasks are unknown at the time the pipeline is created: all we know is the command that needs to run in each of these containers. One way is to

[2021-06-01 07:29] dbazhal commented on #1876
Still love this idea, so I'd
/remove-lifecycle stale
/lifecycle frozen

[2021-06-01 08:09] nikhil-thomas commented on #3990
A task run itself is a pod. So it doesn't have a concept of replicas.

To achieve what you want, you can repeat each of those tasks 2 times (task-1-1, task-1-2, task-2-1, task-2-2) each in you pipeline. Add `runafter: [task-1-1, task-1-2]` for the repetitions of second tasks (2-1 and 2-2).

Ref: TaskRun Pod: [Russian Doll: Extending Containers with Nested Processes - Christie Wilson & Jason Hall,

[2021-06-01 09:01] dbazhal opened #3993 "Improve run objects garbage collection"
### Feature request

When i delete pipeline, I'd like all it's pipelineruns to be also removed. Same for tasks.
That could be easily done by mutating hook, adding ownerReferences field to all run objects https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents

### Use case

I create pipelines often, and I remove them often. So when I remove pipelines, th

[2021-06-01 09:08] vdemeester commented on #3975
@raul-gherman hum, in the katacode, the branch used is `master`. In recent version of tekton, if you don't specify a revision, it should use the remote HEAD (and thus be main, master, or anything that is set as the default on the remote) — but if you specify a revision, it will try it.

[2021-06-01 09:31] dbazhal opened #3994 "Have a run history tracking"
### Feature request

If I have pipeline, and I run it frequently, my cluster soon gets flooded with(often not much useful) old run objects.
What I need is to keep last X successfull runs, and Y failed, and other runs to be removed.
I'd like to have run history controlled by tekton operator.
As an example of such behaviour - in openshift buildconfigs you can set .spec.successfulBuildsHistoryLimit a

[2021-06-01 09:39] vdemeester commented on #3994
This feature should most likely be targetting the `tektoncd/operator` as I think this is something that should be handled by the operator or by an external component than the core tektoncd/pipeline. We do have https://github.com/tektoncd/operator/issues/209 to track work on this too.

[2021-06-01 09:41] vdemeester commented on #3993
A related work is tracked on the operator: https://github.com/tektoncd/operator/issues/209. We do not add ownerReferences on PipelineRun as a user might want to keep them (for history/log purpose) even if/when the Pipeline is gone.

[2021-06-01 11:03] AlanGreene commented on #3975
Thanks for reporting this @raul-gherman. I've opened a PR to update the Katacoda tutorials to use the latest releases of both Pipelines and Dashboard as well as updated some of the instructions to match the latest functionality.
https://github.com/tektoncd/website/pull/275

[2021-06-01 11:34] dbazhal commented on #3993
Oh, thank you for your reply, will watch for that issue in operator repo.

[2021-06-01 11:34] #3993 closed

[2021-06-01 11:34] dbazhal commented on #3994
Thanks, will watch for that issue in operator repo :)

[2021-06-01 11:34] #3994 closed

[2021-06-01 13:57] imjasonh commented on #3798
Thanks for trying it out @nikhil-thomas

Do e2e tests pass against the autopilot cluster?

In theory we could redo any webhook-initiated mutations on a resource's first reconcilation (which we should maybe do anyway, and maybe already do), which would make the mutating webhook a nice-to-have optimization.

[2021-06-01 15:07] AlanGreene commented on #3991
The experimental [Task loop custom task](https://github.com/tektoncd/experimental/tree/main/task-loops) allows for running a Task in a loop with varying parameter values, seems like that might be of interest.

[2021-06-01 16:46] #3737 closed

[2021-06-01 16:52] jerop commented on #3596
ongoing work
/lifecycle frozen

[2021-06-01 21:14] seanmmills commented on #3968
Could this be related to #3748 ?

[2021-06-02 08:01] ScrapCodes opened #3997 "Implement initial update timeout for custom tasks."
### Feature request

Implement initial update timeout for custom tasks.

REF: [TEP-0002](https://github.com/tektoncd/community/blob/main/teps/0002-custom-tasks.md#initial-update-timeout)
Verbatim paste:
#### Initial Update Timeout

It's possible that, though the Custom Task author has defined their CRD type, there's no controller watching for Runs of that type and updating their statuses as expect

[2021-06-02 10:51] rporres commented on #1209
/reopen retry mechanisms without exponential cool down times are never recommended as they may make thins worse for failing services

[2021-06-02 10:59] barthy1 commented on #3978
fixed by https://github.com/tektoncd/pipeline/pull/3979

[2021-06-02 10:59] #3978 closed

[2021-06-02 10:59] rporres commented on #1209
A very easy way to mitigate this would be to expose the retry number to the task so that implementing growing timeouts is trivial.

[2021-06-02 11:44] bitsofinfo commented on #2812
/remove-lifecycle stale

[2021-06-02 12:05] shresthsuman commented on #3990
Hi @nikhil-thomas, thanks for your reply.

It worked that way.

I have a follow-up question for you. May be you could assist me on this.

Goal - Deploy Graylog environment with Elasticsearch and Mongodb. 1 pod each of graylog and mongo and 2 pods of ES.

Currently, I am trying to deploy mongodb as task and a service. I have written a script for the same, but it does not work as it is supposed to.

[2021-06-02 13:09] imjasonh commented on #3997
cc @bobcatfish I don't remember where we landed on this, even though the text ended up making it into the merged TEP.

On the one hand this guards against badly behaving custom task controllers and fails PipelineRuns fast, on the other hand we could just expect/require operators to vet the custom task controllers they install and expect them not to behave badly in the first place.

For right now i

[2021-06-02 14:06] ScrapCodes commented on #3997
Can we implement this and still maintain the nice separation of concern as above.

Also consider from the point of view, that at some point we would like to move towards a custom task controller SDK.

[2021-06-02 14:58] imjasonh commented on #3997
Putting this into an SDK for custom task controllers to build around seems like a good compromise to me. Tekton components still won't ever update Runs themselves, but the SDK makes it easy to write a well-behaved custom task controller. 👍

[2021-06-02 22:19] aiden-deloryn commented on #3951
/close

[2021-06-02 22:19] #3951 closed

[2021-06-03 09:17] nikhil-thomas commented on #3990
kind: Task
metadata:
  name: mongo-deploy
  labels:
    service: mongo-deploy
spec:
  steps:
    - name: mongodb
      image: mongo:4.2
      ports:
        - containerPort: 27017

for this what you need a good old deployment yaml. And maybe a kubectl task which deploys this deployment yaml.

for example: this task https://github.com/openshift/pipelines-tutorial/blob/master/01_pipeline/01_apply_ma

[2021-06-03 09:20] nikhil-thomas commented on #3798
i haven't tried. I shall add it to my list and post an update soon. 🧑‍💻

[2021-06-03 09:40] nikhil-thomas commented on #3800
/remove-lifecycle stale

[2021-06-03 21:53] illeatmyhat opened #4000 "more than one PersistentVolumeClaim is bound"
# Expected Behavior
Create a PipelineRun with more than one PersistentVolumeClaim, runs fine
# Actual Behavior
PipelineRun fails with error `more than one PersistentVolumeClaim is bound`

[Disabling the Affinity Assistant](https://tekton.dev/docs/pipelines/install/#customizing-the-pipelines-controller-behavior) resolves the issue.

This is a completely undocumented limitation. Nowhere in the [Work

[2021-06-04 05:30] 13567436138 opened #4001 "add kubectl explain crd ，how can I know all fields in crd"
### Feature request

add kubectl explain crd
### Use case

[2021-06-04 06:13] nikhil-thomas commented on #4001
some context:
- https://github.com/tektoncd/pipeline/pull/1179
- https://github.com/tektoncd/pipeline/pull/1776

At present, we can use our examples and docs as reference. 🙂
- https://github.com/tektoncd/pipeline/tree/main/examples/v1beta1
- https://tekton.dev/docs/pipelines/tasks/

[2021-06-04 07:53] vdemeester commented on #4000
/kind documentation

[2021-06-04 09:15] jinzishuai opened #4002 "Couldn't update PR status from pipeline due to the Label field"
https://github.com/tektoncd/catalog/blob/main/task/pull-request/0.1/README.md#statuses has a fairly clear documentation on what json file to put under the `status` folder so that Tekton would upload the results to update the pull request resource.

As a test, I place a json file like
[code]
but the error I get is
[code]

What did I wrong? I tried without the `Label` field but got an error saying t

[2021-06-04 10:58] shubham4delhivery commented on #782
pass --previous=false flag.

[2021-06-04 12:44] ScrapCodes commented on #3997
So the current situation is like, even if the custom controller does `return nil` as the first statement in `ReconcileKind`. The conditions are set to `.status.conditions[@type=Succeeded]=Unknown`.
Why is it like that, is still a mystery for me.

To solve this, may I propose:

1.  Set `.status.conditions[@type=Succeeded]=False` and reason as `NotStarted` and human readable message as : `This Run i

[2021-06-04 12:59] imjasonh commented on #3997
1. "has not been processed yet" makes it sound like we expect something to process it, which leads us to the original separation-of-concerns point: if the controller picks it up and updates it to `Succeeded=Unknown` 31s after being created, what should happen?
    - Should the update fail, blocked by a an admission controller webhook that prevents False->Unknown transitions?
    - Should the updat

[2021-06-04 13:05] ScrapCodes commented on #3997
For 2. since the default value for condition is set as `.status.conditions[@type=Succeeded]=Unknown`, it will be difficult to say, that a controller has updated the condition or not. Checking `startTime` may be brittle too, as some controller may not start immediately but want us to think that they have received the task and are working "on it".

[2021-06-04 13:45] imjasonh commented on #3997
Correct me if I'm wrong, I thought the PipelineRun controller initially set _no_ conditions, and it was the responsibility of the custom task controller to set it to `Unknown` to signal "I've seen this, and I've started working". If the PipelineRun controller already immediately sets `status=Unknown`, how should a controller signal that actual work has started?

[2021-06-04 14:05] ScrapCodes commented on #3997
Actually, this is what I found.

Why is it like that, is still a mystery for me.

[2021-06-04 15:07] afrittoli commented on #1136
Going back to the idea of using a custom task.
If the remote service supports webhooks (like GitHub or GitLab), this could be solved using a custom task controller that manages triggers.
The custom controller would:
- setup an event listener with ingress i.e. public endpoint to be registered as a webhook
- when the Run starts, provisions a triggers that:
   - filters the specific event you’re look

[2021-06-04 15:26] #2962 closed

[2021-06-04 18:33] #3916 closed

[2021-06-06 08:25] 13567436138 opened #4003 "error checking context: 'file ('/proc/12/fd/5') not found or excluded by .dockerignore'."
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:
[root@master01 task]# tkn version
Client version: 0.18.0
Pipeline version: v0.24.1
Dashboard version: v0.17.0
  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-co

[2021-06-06 08:28] 13567436138 opened #4004 "env variable not effictive"
# Expected Behavior

# Actual Behavior
[root@master01 task]# tkn taskrun logs steptemplate-run-f42k6 -f -n tekton
[unnamed-0] FOO is ${FOO}

[unnamed-1] FOO is ${FOO}
# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:
[root@master01 task]# tkn version
Client version: 0.18.0
Pipeline version: v0.

[2021-06-06 08:34] #2493 closed

[2021-06-06 14:35] #1990 closed

[2021-06-06 15:36] #3179 closed

[2021-06-06 21:39] #3051 closed

[2021-06-07 08:42] nikhil-thomas commented on #4004
`()` needs to be used instead of `{}`

https://tekton.dev/docs/pipelines/resources/#variable-substitution

[2021-06-07 09:05] nikhil-thomas commented on #3748
the pr is not merged yet.
/remove-lifecycle rotten

[2021-06-07 09:14] 13567436138 commented on #4004
thanks

[2021-06-07 09:14] #4004 closed

[2021-06-07 09:16] 13567436138 opened #4006 "how to create a bundle?"
how to create a bundle?

[2021-06-07 09:19] afrittoli commented on #4006
You can create bundles through `tkn`: https://github.com/tektoncd/cli/blob/main/docs/cmd/tkn_bundle.md

[2021-06-07 09:20] afrittoli commented on #4006
I'm going to close this, feel free to re-open if you have further questions.

[2021-06-07 09:20] #4006 closed

[2021-06-07 10:09] 13567436138 opened #4007 "Error: failed to start container "place-tools": Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: chdir to cwd ("/home/nonroot") set in config.json failed: permission denied: unknown"
# Expected Behavior

# Actual Behavior
Error: failed to start container "place-tools": Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: chdir to cwd ("/home/nonroot") set in config.json failed: permission denied: unknown
# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:
[root@master01 taskrun]# kubect

[2021-06-07 12:52] vdemeester commented on #3050
/remove-lifecycle rotten
There is a WIP TEP (TEP-0023) around this : https://github.com/tektoncd/community/pull/444

[2021-06-07 14:26] afrittoli commented on #4003
This works fine for me:
[code]

Note the extra `emptyDir` which I used as `workingDir` to store the context.

[code]

[2021-06-07 14:26] afrittoli commented on #4003
I'm closing this as answered, let me know if you have any further question and feel free to re-open.

[2021-06-07 14:26] #4003 closed

[2021-06-07 14:41] #3625 closed

[2021-06-07 17:31] skk2142 commented on #3991
This is exactly what I was looking for!

[2021-06-07 17:31] #3991 closed

[2021-06-07 17:32] seanmmills commented on #3968
Upgrading to OpenShift 4.7.11+ will resolve the issue.  RedHat upgraded the runc version to pick up this fix: https://github.com/opencontainers/runc/commit/5e0e67d76cc99d76c8228d48f38f37034503f315

[2021-06-07 18:38] sbwsg commented on #3730
I'm going to close this as I think the question is answered.

/close

[2021-06-07 18:38] #3730 closed

[2021-06-07 19:23] sbwsg commented on #3746
Closing, fixed by https://github.com/tektoncd/pipeline/pull/3810

/close

[2021-06-07 19:23] #3746 closed

[2021-06-07 20:56] sbwsg commented on #1209
Retry variables were just merged in the past week and should be part of the 0.25 release.  Here are the docs for those vars in latest `main`: https://github.com/tektoncd/pipeline/blob/main/docs/pipelines.md#using-the-retries-and-retry-count-variable-substitutions

[2021-06-07 22:37] pratiktest opened #4010 "Configure workspaces to use s3 storage class in tekton"
I want to configure my tekton pipelines to use S3 workspaces
Official tekton documentation https://tekton.dev/docs/getting-started/ has a section which says to delete config-artifact-pvc configMap and replace it with config-artifact-bucket configMap with the Aws secret and key. I followed this process however everytime I create a pipeline it still uses a PVC

[code]

[code]

Do I need to have a cu

[2021-06-07 23:43] #3509 closed

[2021-06-08 00:07] aiden-deloryn opened #4011 "Add Windows images to the Tekton controller"
When the Tekton controller is built, Ko generated image tags are baked into [config/controller.yaml](https://github.com/tektoncd/pipeline/blob/9de68e31c25f5587588f74be88784073a861562f/config/controller.yaml) and passed as arguments to [cmd/controller/main.go](https://github.com/tektoncd/pipeline/blob/9de68e31c25f5587588f74be88784073a861562f/cmd/controller/main.go). To add support for Windows, the

[2021-06-08 00:09] aiden-deloryn commented on #4011
/assign @aiden-deloryn

[2021-06-08 00:17] aiden-deloryn commented on #4011
Here is an example of what an implementation might look like: https://github.com/TensorWorks/pipeline/commit/bddc128a87d6f75a04e20f1221ee59ee43cfeed3

[2021-06-08 00:44] #3187 closed

[2021-06-08 05:32] aiden-deloryn commented on #4011
Here is an example of what a mixed OS pipeline would look like:

<details>
  <summary>example.yaml</summary>

[code]
</details>

[2021-06-08 06:58] tlawrie opened #4012 "Changing the way Result Parameters are stored."
### Feature request

The current implementation of result parameters relies on reading the results from disk and storing as part of the termination message output [reference](https://github.com/tektoncd/pipeline/blob/9de68e31c25f5587588f74be88784073a861562f/pkg/entrypoint/entrypointer.go#L162-L188). We are then limited by the 4096 bytes of the Termination Message.

I'd like to propose an alternati

[2021-06-08 07:03] tlawrie commented on #4012
Hi @bobcatfish this is what I was trying to describe on the WG call.

[2021-06-08 15:53] sbwsg commented on #4012
I got a bit lost reading the issue summary - at first it sounds like the problem is the size of the termination message but then you mention using annotations as a storage mechanism.  I don't understand how a running container could write a result to an annotation.

It's also worth bearing in mind that annotations also have a size limit which is shared across all the annotations on a pod. I think

[2021-06-08 16:06] sbwsg commented on #4010
Workspaces don't have support for buckets in this way - they're more like a thin wrapper around kubernetes volumes that allow Tasks to specify "give me any k8s volume" and TaskRuns to specify "this is the exact k8s volume I want to use".

The documentation you're linking to is about PipelineResources (still in alpha, still undergoing some amount of design work, nobody's really sure where they're g

[2021-06-08 16:08] sbwsg commented on #4010
One additional thought: while s3-backed workspaces aren't a thing, if your pipelines need to upload or download to s3 that's certainly possible by utilizing something like the [`aws-cli` catalog task](https://github.com/tektoncd/catalog/tree/main/task/aws-cli/0.2).  You can pass in a persistent volume to download on to (or with the files you want to upload).

[2021-06-08 16:12] pratiktest commented on #4010
@sbwsg Thanks for your response. We are looking for a way to do this outside of the task as in our model tasks are not in our control and are provided by providers. We want to extract reports etc from a task (eg a junit task creates a junit report in its workspace) after a pipeline run finishes. One way is to attach to a PVC after pipeline run is done, but if there is a way it already can go to s3

[2021-06-08 16:23] sbwsg commented on #4007
This was fixed in https://github.com/tektoncd/pipeline/pull/3979 and should be released as part of Pipelines 0.25.

[2021-06-08 16:54] sbwsg commented on #4010
It's used to transfer pipeline resource contents from one task to another.  For example, if one Task specifies a git PipelineResource in its "outputs" then the contents of the repo will be copied up to the bucket and then pulled back down by any other task which uses the same git PipelineResource in its "inputs".  This ensures both tasks see the same source code for that git PipelineResource.

[2021-06-08 18:20] pratiktest commented on #4010
@sbwsg got it so it can essentially be used only in pipeline resource. Just wondering if that can be made explicit in the documentation as based on the way its written for me it seemed that it is a substitute for PVC backed workspaces.
Also I would assume this is the documentation for this https://tekton.dev/docs/pipelines/resources/#storage-resource. I was wondering if its the tasks responsibilit

[2021-06-08 20:16] imjasonh commented on #1826
Aside from ko not being able to build runnable Windows containers, there's the problem of what base image would we configure for Tekton-built images that would have support for both Linux and Windows.

For that, I hacked up http://github.com/imjasonh/combine which combines two manifest lists into one, assuming they don't have overlapping platforms. When we get ko working to build for Windows, we c

[2021-06-08 21:38] AlanGreene commented on #3975
Thanks again for reporting this @raul-gherman. I've confirmed the change above is now live.

/close

[2021-06-08 21:38] #3975 closed

[2021-06-09 00:48] tlawrie commented on #4012
Hey @sbwsg thanks for the response. Apologies for the confusing issue description, I am only just jumping into participating with the community and Tekton.

You are correct, this is all about the storage size limitation and the mechanism for that.

So to confirm, [entrypoint](https://github.com/tektoncd/pipeline/blob/9de68e31c25f5587588f74be88784073a861562f/pkg/entrypoint/entrypointer.go) is runni

[2021-06-09 01:04] tlawrie opened #4016 "Dynamically retrieving Result Parameters"
### Feature request

At the moment, you have to define result parameters (with a reasonable amount of boiler plate), however we know that result parameters are in `/tekton/results/<param` and can assume that file in `/tekton/results` should be a result parameter.

We could then implement a simpler mechanism that instead of looping through [e.Results](https://github.com/tektoncd/pipeline/blob/9de68

[2021-06-09 02:49] vinamra28 commented on #3925
hi @bharathvenkatrajan, recently a PR https://github.com/tektoncd/cli/pull/1354 got merged which might fix your issue. This will be available in the latest release [0.19](https://github.com/tektoncd/cli/releases/tag/v0.19.0) which will soon be announced.

[2021-06-09 04:48] tlawrie opened #4017 "0.24.2 is missing a change from 0.24.1"
# Expected Behavior

0.24.2 to build on 0.24.1 and only revert what was needed

# Actual Behavior

Looking at https://github.com/tektoncd/pipeline/blob/v0.24.1/pkg/apis/pipeline/v1beta1/when_types.go shows a May 8 commit for **Remove deprecated PascalCase fields in WhenExpressions**. When looking at the 0.24.2 version its reverted back to December 2.

# Additional Info

I am not sure if this is an

[2021-06-09 05:08] aiden-deloryn commented on #1826
@imjasonh Do you think it would also be desirable to use manifest lists for Tekton's container images (entrypoint, nop, etc.)?

This would avoid having to add any platform specific logic to the controller, and would be scalable for adding more platforms and architectures in the future. The only potential downside I see is that, as far as I know, you cannot reference a manifest list by digest the w

[2021-06-09 08:28] vdemeester commented on #1826
Don't we already do that ? `ko` with multi-platform should already do that (so that it works on amd64, arm64, …)

[2021-06-09 08:40] vdemeester commented on #4017
@tlawrie thanks for the report ; indeed something is wrong here. Seems like 0.24.1 was released from `main` and not from the release branch, so some stuff were not cherry-picked.

Those 3 commits are in 0.24.1 and not in 0.24.2 because they were not cherry-picked

[code]

We probably need to do a 0.24.3 with those 3 cherry-picked and "note" somewhere that 0.24.2 shouldn't be used... 😓

/cc @jerop

[2021-06-09 08:44] afrittoli commented on #4017
Once v0.24.3 is released it will automatically override previous minor ones, but we can add a not to the release notes anyways

[2021-06-09 08:55] afrittoli commented on #4017
These three commits should not have been in v0.24.1 to begin with, I made some mistake when creating the release 😅
So in that sense the revert from v0.24.2 to v0.24.1 is not unnecessary, and the content of v0.24.2 is what should be.

[2021-06-09 10:33] afrittoli commented on #4016
Thanks for this @tlawrie.

I think that the main advantage of having results declared in the spec is that a user of the Task/Pipeline knows which results to expect, without having to dig into the code of the task.

Params + results define the interface of a Task, which is very much needed.
We could allow for dynamic results too, as I can imaging they could be useful in certain cases, but it would

[2021-06-09 12:39] imjasonh commented on #1826
Yep, we already use manifest lists for multi-architecture images (amd64, arm64, s390x, ppc64le), they just so happen to all have the same OS right now (linux), and there's some work needed to make the entrypoint code work with Windows, and for `ko` to be able to build multi-platform (including multi-OS) images.

[2021-06-09 13:56] imjasonh commented on #1826
I made more progress on my ko windows branch this morning, and managed to successfully build an image that runs on Linux and Windows 🎉

Follow https://github.com/google/ko/pull/374 for updates on that front.

[2021-06-09 14:27] vdemeester commented on #1826
Right 👍🏼

[2021-06-09 17:26] sbwsg commented on #4012
Yeah you're right - entrypoint is run in every Step Container, from inside the TaskRun Pod.

Fascinating idea about injecting a final container which uploads results using something akin to `kubectl cp`!

[2021-06-09 21:56] 13567436138 opened #4026 "bad substitution"
# Expected Behavior

# Actual Behavior
^C[root@master01 condition]# kubectl logs -f mypipeline-run2bbvr-deploy-app-dswrv-is-equal-0-5j5fh-pod-xhfc5 -n tekton
/tekton/scripts/script-0-8vp87: line 9: syntax error: bad substitution
# Steps to Reproduce the Problem

[code]

[code]

[2021-06-09 22:15] aiden-deloryn commented on #4011
Closing in favour of using *manifest lists* for combining multiple OS images. https://docs.docker.com/engine/reference/commandline/manifest/

/close

[2021-06-09 22:15] #4011 closed

[2021-06-09 23:33] nbattala commented on #782
I guess previous=true by default even though the --help says previous=false by default

[2021-06-10 00:51] 13567436138 opened #4027 "question: is my config effictive,second task can not executed"
[code]

[code]

it seems pipeline when is false. why

[2021-06-10 04:44] skk2142 opened #4028 "Task timeout"
I have been noticing timeout errors in tasks. The events associated with the task that timed out was
[code]
It is hard to debug this issue. Any ideas where to look for to fix it?
# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[code]

[2021-06-10 09:38] hanzala1234 commented on #1744
Any update on this?

[2021-06-10 11:25] 13567436138 commented on #4001
not good enough

[2021-06-10 11:40] afrittoli commented on #4001
@13567436138 Would you care to provide a bit more context?
Why is the answer from @nikhil-thomas not sufficient?
What are your use cases (they are missing in the feature request)?
Thank you

[2021-06-10 12:19] sbwsg commented on #3948
/kind documentation

[2021-06-10 12:20] sbwsg commented on #3959
/kind bug

[2021-06-10 12:21] sbwsg commented on #3969
/kind feature

[2021-06-10 12:21] sbwsg commented on #3974
/kind misc

[2021-06-10 12:21] sbwsg commented on #3989
/kind question

[2021-06-10 12:22] sbwsg commented on #3990
/kind question

[2021-06-10 12:29] sbwsg commented on #4027
I think this is probably adding an extra newline to the result.  Try `printf "true" > $(results.test.path)` .

/kind question

[2021-06-10 12:29] afrittoli commented on #3989
One way you could address this is to create your `PipelineRun` in `pending` mode, and have an external controller running them at the rate you desire - the `pending` mode was introduced exactly for this purpose, to throttle parallel execution.

https://tekton.dev/docs/pipelines/pipelineruns/#pending-pipelineruns

The only gotcha here is that you'd have to use `PipelineRun` instead of `TaskRun`.
It

[2021-06-10 13:49] sbwsg commented on #4010
Hm, the Pipelines docs were updated way back in September 2020 to clarify that the storage info is related to PipelineResources (see [commit here](https://github.com/tektoncd/pipeline/commit/a65704a95f62f4f44757b113a9427f21849a48d7#diff-162b45a313f5f057a233411edbe31e72a13185f4df0ae0e1af2c13521bc05d5a)).  I'm not entirely sure if the Getting Started instructions come directly from `install.md` or w

[2021-06-10 14:48] rporres commented on #1209
thx, @sbwsg

[2021-06-10 15:27] Udiknedormin commented on #3948
@pittar Do you mean [custom tasks](../blob/main/docs/runs.md#specifying-the-target-custom-task) or [tasks](../blob/main/docs/tasks.md)?

[2021-06-10 15:38] pittar commented on #3948
I didn't realize there was a difference :)

What I meant was if I want to create my own Task, what are the steps?  Is there any best practices for the container image the steps will use?

For example, I created my own "dotnet-cli" Task.  It was mostly a trial-and-error effort, and I'm not confident I did a very good job of it (although, it does work):
https://github.com/pittar-sandbox/dotnet-conto

[2021-06-10 16:22] pittar commented on #3948
@jerop , actually, I think that catalog is exactly what I was looking for.

It would be great if that was easier to find or better advertised.  Maybe my search skills are poor, but I wasn't able to find a link to that doc on my own.

[2021-06-10 17:46] sbwsg commented on #3953
It could be helpful to see the TaskRun and Pod YAML, are you able to share those?  Make sure to double-check and remove any sensitive info before posting. Cheers!

[2021-06-10 20:39] skk2142 commented on #4028
It could be a kubelet issue. Once I deleted the node, everything seems to work fine on a new node.

[2021-06-11 05:09] 13567436138 commented on #4027
ok,thanks

[2021-06-11 05:09] #4027 closed

[2021-06-11 05:12] 13567436138 commented on #4001
ok,I surrender.but I still hope somebody will provider explain command's content.

[2021-06-11 06:24] 13567436138 opened #4032 "question，how to use cloudEvent resource，any examples"
question，how to use cloudEvent resource，any examples

[2021-06-11 06:24] 13567436138 commented on #4032
/question

[2021-06-11 07:46] 13567436138 opened #4033 "2021/06/11 07:44:47 Error executing command: fork/exec /tekton/scripts/script-2-qtkcs: no such file or directory"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[2021-06-11 08:36] vdemeester commented on #4033
Hi @13567436138 and thanks for the report. That is an expected behavior, the `busybox` image doesn't have a `bash` binary, nor `/usr/bin/env`, thus it will fail. If you use `#!/bin/sh`, it will work.

[2021-06-11 08:39] #4032 closed

[2021-06-11 09:05] vdemeester commented on #4028
@skk2142 Given the error messages, yeah it looks like a kubelet issue.

[2021-06-11 09:45] vdemeester commented on #2933
/reopen
/lifecycle frozen

We should support this. I think `stepTemplate` should apply to any steps, even the one that are "dynamically" added by Tekton. For `initContainers`, either we know what it does and we specify sane (and small) defaults, or we could just use what the user requested in the `stepTemplate`

/assign

[2021-06-11 10:19] rporres opened #4035 "PipelineRun timeouts delete TaskRun related pods"
The current implementation of the PipelineRun timeout is done through deleting the TaskRun associated pods. While this is an understandable implementation as there is no easy way to stop a pod, it makes the debugging of a PipelineRun that has failed completely impossible. It also took me a while to understand why the related pods were being deleted.

In the current shape, the PipelineRun timeout m

[2021-06-11 10:20] vdemeester commented on #4035
/kind feature

One possible exploration to do here would be to make the entrypoint handle the timeout somehow. That way, we could stop the execution of the pod/containers without deleteting it.

[2021-06-11 11:02] 13567436138 commented on #4033
thanks

[2021-06-11 11:02] #4033 closed

[2021-06-11 14:09] #3035 closed

[2021-06-11 14:25] shresthsuman commented on #3990
Hi  @nikhil-thomas, thanks for the link.

One more follow-up question for you, if you could assist me.

Currently, I am trying to deploy tutum-hello-world. I have written a script for the same, but it does not work as it is supposed to.
I am certain that this issue is related to workspace.

Here is my code for `task-tutum-deploy.yaml`-
[code]

Here is my code for `tutum-deploy.yaml` which is prese

[2021-06-11 14:47] paolocarta commented on #3910
Experiencing a similar problem with GKE v1.19.9-gke.1900. In my case I can install tektoncd v0.24.2. As soon as I try to update a manifest, I get a pretty similar error:

`Internal error occurred: failed calling webhook "config.webhook.pipeline.tekton.dev": Post "https://tekton-pipelines-webhook.tekton-pipelines.svc:443/config-validation?timeout=10s": context deadline exceededInternal error occurr

[2021-06-12 04:01] 13567436138 opened #4036 "resoruce output paths not effective,resource not copy from /workspace/workspace to /custom"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

[code]

[code]

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

[2021-06-12 04:50] 13567436138 opened #4037 "can not download pullrequest"
# Expected Behavior

# Actual Behavior
[pr-source-workspace-9fznr] {"level":"info","ts":1623473211.6647134,"caller":"pullrequest-init/main.go:57","msg":"RUNNING DOWNLOAD!","resource_type":"pullrequest","mode":"download"}
[pr-source-workspace-9fznr] {"level":"info","ts":1623473211.6648703,"caller":"pullrequest/api.go:54","msg":"finding pr","resource_type":"pullrequest","mode":"download","provider":

[2021-06-12 06:50] nikhil-thomas commented on #3990
hi, by default the workingdir of a step is `/workspace`. Hence, the `[tutum-deploy] error: the path "./tutum-deploy.yaml" does not exist` error.

we will have to either set workingDir in the step or use absolute path of the deployment yaml.

ref: [working dir example](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/taskruns/workingdir.yaml)

[2021-06-12 13:48] #4001 closed

[2021-06-14 07:42] vdemeester commented on #4001
@13567436138 the problem we have right now is that, `kubectl explain` looks at the embedded openapi schema in the CRD. *But*, if we add those in our CRD, we are hitting the object limit of `etcd` (in most/default kubernetes setup).

[2021-06-14 07:45] vdemeester commented on #4037
Hey @13567436138, thanks for thi issue. The error is relatively self-explanatory though:

[code]

The IP that GitHub sees has hit the rate limit, so you probably need to use authenticated (following [this doc](https://github.com/tektoncd/pipeline/blob/main/docs/auth.md)).

[2021-06-14 13:07] shresthsuman commented on #3990
Hi @nikhil-thomas,

I have used mountpath to use my deployment scripts. However, it has a permission denied error.

**UPDATE**
Here is my code for `task-tutum-deploy.yaml`-

[code]

Error -
[code]
PS - I have placed my script on the master node at - `/root/tekton-scripts/tutum-deploy.yaml`
[code]

[2021-06-14 13:42] sbwsg commented on #2854
/remove-lifecycle stale

[2021-06-14 17:52] dfuessl opened #4039 "Advices for Memory management in k8s cluster with heavy load of Tekton Pipelines?"
Hi,
are there any advices for memory management in a k8s cluster with heavy load of Tekton pipelines?

We are running Tekton for analyzing and testing a Java project on certain commits of our git repository.
Each test starts up ~ 30 Oracle databases and many other containers (e. g. running Java).
When the pipelineRun is finished, the memory usage (seen by kubectl top nodes) does not return to its

[2021-06-14 18:39] #2854 closed

[2021-06-14 20:56] #3871 closed

[2021-06-15 01:18] nikhil-thomas commented on #3990
in your TaskRun created using `2. tkn task start tutum-deploy`, how is the workspace configured. Is it an emptyDir, hostPath or pvc.

[2021-06-15 04:26] 13567436138 commented on #4037
finding pr 3976: Get "https://api.github.com/repos/tektoncd/pipeline/pulls/3976": net/http: invalid header field value "Bearer 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\n" for key Authorization

[2021-06-15 04:27] 13567436138 commented on #4037
[code]

[2021-06-15 06:29] 13567436138 opened #4040 "how to generate bundle config file"
like
[code]
compressed bytes of Pipeline object
how to compress

[2021-06-15 06:36] manuelwallrapp commented on #2127
We also have this need of continue after a skipped step. What is the status of this feature request? Is this covered with the CEL merge of @jerop?

[2021-06-15 06:45] thomascube commented on #2127
@pritidesai / @jerop is there any progress to be expected regarding a `continueAfterSkip`or `runOn` feature? I can't see how CEL would solve this particular problem.

[2021-06-15 07:32] #4026 closed

[2021-06-15 12:07] jerop commented on #2127
@manuelwallrapp do you mean a skipped task?

@manuelwallrapp @thomascube we have a recently accepted design in [TEP-0059: Skipping Strategies](https://github.com/tektoncd/community/blob/main/teps/0059-skipping-strategies.md) that should be released next month

/remove-lifecycle stale

[2021-06-15 13:08] manuelwallrapp commented on #2127
@jerop that https://github.com/tektoncd/community/blob/main/teps/0059-skipping-strategies.md seems to do what we need. Thank you for your fast feedback.

[2021-06-15 16:40] sbwsg commented on #3760
@nwang92 did you manage to resolve this issue or does it remain a problem for you?

[2021-06-15 16:42] sbwsg commented on #3756
@skk2142 does this remain an issue for you or did you manage to find a workaround?

[2021-06-15 16:45] sbwsg commented on #3739
/assign sbwsg

[2021-06-15 16:46] sbwsg commented on #3721
/assign @pritidesai

[2021-06-15 16:47] sbwsg commented on #3718
/assign sbwsg

[2021-06-15 16:48] sbwsg commented on #3704
/assign sbwsg

[2021-06-15 16:50] sbwsg commented on #3497
@bobcatfish do you still want to pursue this one or should we leave it for the time being?

[2021-06-15 16:53] sbwsg commented on #3497
Note: with the new feature gate / flagging work this would be classified as a backwards incompatible change and would therefore need its own feature flag.  It could be made the default for a new apiVersion, such as v1.

[2021-06-15 16:58] sbwsg commented on #3255
@jtestard have you tried the CEL custom task that @jerop mentioned above?  It doesn't directly handle tekton's concept of "array params" but you can pass it a stringified array and process it with CEL.

[2021-06-15 18:26] skk2142 commented on #3756
It's all good from my side, I was able to find workarounds! Thanks :)

[2021-06-15 18:48] jerop commented on #4017
fixed in https://github.com/tektoncd/pipeline/pull/4024

thanks @tlawrie for the quick report

[2021-06-15 18:48] #4017 closed

[2021-06-16 02:21] kobaji commented on #3548
Hello @vdemeester and all thank you very much for publishing this issue.
Could you please tell me how I could reach the exact months or quarter of the Tekton pipeline's v1 API release?

I have checked the following documents but I could not have found the information.

- https://github.com/tektoncd/pipeline/blob/main/roadmap.md
- https://github.com/tektoncd/community/blob/main/roadmap.md

That inf

[2021-06-16 14:28] dfuessl opened #4046 "We need the pods that are executing a taskRun to be in qosClass Guaranteed"
# Expected Behavior
It should be possible to get the pods executing a taskRun in Quality of Service Class "Guaranteed".

# Actual Behavior
Currently we see no way to get the Quality of Service Class pods higher than "Burstable"

# Steps to Reproduce the Problem

1. Create a simple task
2. Specify resource requests and resource limits for all steps and make requests and limits equal.
3. Start a tas

[2021-06-17 01:57] Hokwang commented on #3619
@sbwsg did you have a time for find out this issue?

/remove-lifecycle stale

[2021-06-17 03:50] 13567436138 commented on #4040
Error: failed to parse string as a Tekton object: "{\"layers\":[{\"annotations\":[{\"name\":\"dev.tekton.image.name\",\"value\":\"my-params-array\"},{\"name\":\"dev.tekton.image.kind\",\"value\":\"Task\"},{\"name\":\"dev.tekton.image.apiVersion\",\"value\":\"tekton.dev/v1beta1\"}],\"contents\":\"apiVersion: tekton.dev/v1beta1\\nkind: Task\\nmetadata:\\n  name: my-params-array\\nspec:\\n  params:\\

[2021-06-17 05:57] #4040 closed

[2021-06-17 08:51] vdemeester commented on #3721
/lifecycle frozen
We could add a label to the taskrun (and thus the pod too) when it's a finally one, right ?

[2021-06-17 09:52] afrittoli commented on #4039
Hello @dfuessl - once a `PipelineRun` completes, all the pods will stay around (until the `PipelineRun` is deleted) so that you may access logs, but there should be no residual memory usage though.

You could check memory usage per pod to make sure:
[code]

Tekton pipelines can have a [`finally`](https://tekton.dev/docs/pipelines/pipelines/#adding-finally-to-the-pipeline) section, that you can use

[2021-06-17 10:28] afrittoli commented on #4037
You seem to have a trailing `\n` in your token.
I also would heartily recommend you change your API token since you shared it a comment

[2021-06-17 10:29] afrittoli commented on #4037
I'm going to close the issue as it does not seem to be related to Tekton.
Please feel free to re-open should you hit further issues.

[2021-06-17 10:33] afrittoli commented on #4036
@13567436138 Thank you for your bug report.

I would kindly ask you to follow the bug template when filing issues:
- keep the title short and descriptive of the issue
- include expected behaviour and actual behaviour, with enough text to clearly describe what is the issue

[2021-06-17 10:40] afrittoli commented on #4036
I suspect that the behaviour you're seeing may be related to a recent change in [release v0.24.0](https://github.com/tektoncd/pipeline/releases/tag/v0.24.0). From the release notes:

The e-mail thread include several example that should help you solving the issue.

[2021-06-17 10:51] afrittoli commented on #4035
Related to the behaviour of "cancel" - see https://github.com/tektoncd/pipeline/issues/3238

[2021-06-17 11:02] afrittoli commented on #4028
@skk2142 @vdemeester I'm going to close this one as it does not seem to be related to Tekton.
Feel free to re-open if applicable.

[2021-06-17 11:02] #4028 closed

[2021-06-17 15:41] dfuessl commented on #4039
Hello @afrittoli - thank you very much for your answer, Yes, it is an important feature for us that the pods of a PipelineRun stay around until the Pipeline will be deleted. We often have a look into the logfiles, for example to see what was going on or what went wrong.

I did do two different things when I tried to analyze residual memory usage on the cluster:

`kubectl top nodes`
`kubectl top po

[2021-06-17 15:58] pritidesai commented on #3721
yes, that would be the best way, I will have a PR with changes in a couple of days.

[2021-06-17 16:42] dfuessl commented on #4046
Thank you very much, @afrittoli, for your answer.

I have read through #224 and I understand now that it is not a good idea to user initContainers for all the steps in a task.

Your use case: Some pushes to (and merges on) the git repository, that contains the code base of our java application, will trigger a pipelineRun. We clone the git repo, build the system, do statical code analysis, execute

[2021-06-17 17:24] #3655 closed

[2021-06-17 17:24] #3672 closed

[2021-06-17 19:01] tylerstanczak opened #4047 "Tekton Prometheus Exporter isn't discoverable by Instana"
# Expected Behavior
[Instana Prometheus Plugin](https://www.instana.com/docs/ecosystem/prometheus/) automatically discovers the [Tekton Prometheus Exporter](https://tekton.dev/docs/pipelines/metrics/) (tekton-pipelines-controller pod) metrics endpoint on port 9090
# Actual Behavior
Instana's Prometheus sensor fails to discover the Tekton Prometheus Exporter endpoint
# Steps to Reproduce the Proble

[2021-06-18 00:23] kobaji opened #4048 "Which month or quarter is the Tekton pipeline planned to v1 API release?"
Hi there,

Thank you very much for every kindness.

Could you please tell me when the Tekton pipeline's v1 API release is planned?

I have checked the following documents and issue but I could not have found the information (just in 2021 but the exact month or quarter is not shown).

- https://github.com/tektoncd/pipeline/blob/main/roadmap.md
- https://github.com/tektoncd/community/blob/main/roadm

[2021-06-18 00:45] qhua948 opened #4049 "Make namespace parameter support array/regex match"
### Feature request

On https://github.com/tektoncd/pipeline/blob/main/cmd/controller/main.go#L53, the controller accept a single namespace as argument to watch. However, this is very limiting and we wish for this to be either an array of namespaces or even better, a regex expression to match the namespaces.

### Use case

For example, we might want Tekton to only observe `TaskRuns` created within

[2021-06-18 01:02] qhua948 opened #4050 "Allow multiple Tekton installation on a single cluster"
### Feature request

It would be nice to allow multiple Tekton installations on a single cluster without conflicts

### Use case

We have a fleet of managed clusters and we would like to install Tekton on them, to run some custom jobs managed by the team. But at the same time, we also would like customer to have their own copy of Tekton if wish to install it. Tekton should support multiple install

[2021-06-18 08:39] tlawrie commented on #4017
Thanks everyone!

[2021-06-18 09:23] afrittoli commented on #4050
Thanks @qhua948 for the feature request.
It would be possible to run multiple instances of a Tekton Controller - each watching a different namespace (or set of namespaces), and each with its own configurations.
Admission webhooks themselves are cluster resources, but they support [namespace selectors](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matchin

[2021-06-18 09:30] afrittoli commented on #4047
@tylerstanczak thanks for the bug report, I'm not sure why the port is not exposed on the pod directly (only on the service) - it definitely looks like something that we should fix.

[2021-06-18 09:35] afrittoli commented on #4048
/kind question

[2021-06-18 11:13] sbwsg commented on #3718
/unassign

/remove-lifecycle rotten

I think there is definitely some desirable changes here - the variables being left verbatim in the fields when they don't resolve to values can be quite confusing. Unfortunately I don't have the bandwidth to pick this up, but I would definitely be interested in helping someone taking this on. It would likely involve backwards-incompatible changes unfortunately

[2021-06-18 11:26] sbwsg commented on #3704
When using `workspaces` you are required to use kubernetes volumes. Tasks ultimately run as pods, and sharing data between pods means putting that data on persistent storage. Workspaces don't do much to help you here. You are right that `PipelineResources` have some provisions for this - you can use cloud buckets as the way of passing data from one task to another - but they also come with a set o

[2021-06-18 16:27] #3038 closed

[2021-06-18 18:44] sbwsg commented on #3619
I haven't had a chance yet but still intend to try and reproduce the issue on my side.

[2021-06-19 01:24] nikhil-thomas commented on #4039
cc @vdemeester

[2021-06-19 04:06] 13567436138 commented on #4037
/reopen
my token did not have \n  .it was added by tekton

[2021-06-21 00:52] 011d opened #4052 "How to modify imagePullPolicy of image in "spec:containers:args""
Example：spec:containers:args:"-shell-image", "gcr.io/distroless/base:latest"
I want imagePullPolicy: IfNotPresent.  I don't want default--"imagePullPolicy: Always"
Because of the network,I have modify it this way.
I tried spec:containers:args:"-imagePullPolicy", "IfNotPresent", but no.
How to modify it. Thanks.

[2021-06-21 01:36] jan0112d commented on #4052
![image](https://user-images.githubusercontent.com/42208084/122694585-6eae0300-d270-11eb-9bf3-652ff63dffe6.png)

[2021-06-21 02:17] 13567436138 opened #4053 "Error from server (BadRequest): error when creating "mypipeline-run.yaml": admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: validation failed: must not set the field(s): spec.pipelineref.bundle"
# Expected Behavior
create success
# Actual Behavior
Error from server (BadRequest): error when creating "mypipeline-run.yaml": admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: validation failed: must not set the field(s): spec.pipelineref.bundle
# Steps to Reproduce the Problem

[code]

[2021-06-21 03:13] qhua948 commented on #4050
Thanks for the response @afrittoli !

[2021-06-21 03:14] qhua948 commented on #4050
I believe current Tekton only supports watching a single namespace via a controller arg, is this correct?

[2021-06-21 06:49] vdemeester commented on #4053
Hey @13567436138,

So from the [docs](https://github.com/tektoncd/pipeline/blob/main/docs/install.md#customizing-the-pipelines-controller-behavior), **Note: This is only allowed if `enable-tekton-oci-bundles` is set to
`"true"` in the `feature-flags` configmap, see [`install.md`](./install.md#customizing-the-pipelines-controller-behavior)**. How is your tekton instance installed / configured ? By

[2021-06-21 13:15] 13567436138 commented on #4053
th

[2021-06-21 13:15] 13567436138 commented on #4053
thanks

[2021-06-21 13:15] #4053 closed

[2021-06-21 14:14] sbwsg commented on #4052
/kind feature

[2021-06-21 18:17] sbwsg commented on #3619
@Hokwang I see the `imagePullSecrets` correctly added to the pod YAML for the taskrun when I use the lowercase 'i' in my defaults configmap.

I followed your steps to reproduce. Here is what I see:

1. Apply defaults configmap:

[code]

[code]

2. Create task and taskrun from your steps.
3. Check the yaml of the pod that is created:

[code]

So here the `imagePullSecret` has been correctly include

[2021-06-21 18:22] sbwsg commented on #3619
Additional follow up: it _also_ works me when I use uppercase `I` for `ImagePullSecrets`, which is interesting too.  But it still works when I use lowercase as well.

[2021-06-21 19:15] sbwsg commented on #4052
Interesting, in my local development cluster the `imagePullPolicy` for the `place-tools` and `place-scripts` init containers are both `IfNotPresent` by default.

@jan0112d can you confirm what kubernetes / platform you are running on?

[2021-06-21 19:17] sbwsg commented on #4052
As far as I'm aware there's no way currently to configure the image pull policy of the containers that the tekton controller injects.

[2021-06-21 21:11] pritidesai commented on #3626
As per the discussion in the [API WG](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.fjd0c3gb5yzo), I am closing the TEP PR. We need to first showcase this in the experimental repo to understand the impact of the proposal/changes before changing the API.

[2021-06-22 00:32] #2973 closed

[2021-06-22 03:12] Xinyan272 commented on #3959
**Additional Info**
* Kubernetes version:
[code]
* Tekton Pipeline version: v0.24.1

[2021-06-22 13:16] imjasonh commented on #1826
I've built an entrypoint image using ko's WIP Windows support, based on a base image combined from distroless and Windows nanoserver. That image is here:

[code]

If anybody has an opportunity to try out this image on Windows that would be helpful for identifying the next blockers.

[2021-06-22 17:55] bobcatfish commented on #3548
another thing to think about adding ... or removing that is XD: volumes + volume mounts (do these provide anything we need in addition to workspaces?) https://github.com/tektoncd/pipeline/issues/2058

[2021-06-22 17:56] bobcatfish commented on #3548
@kobaji I don't think we have any firm dates but are hoping for early 2022 (lemme know if you have different thoughts @vdemeester @afrittoli )

[2021-06-22 19:54] hokadiri commented on #3969
@nikhil-thomas , No preference. just need something with robust git options.

[2021-06-22 22:37] aiden-deloryn commented on #1826
@imjasonh Thanks for sharing this. I will do some testing on my Windows node and record any problems I find here.

[2021-06-23 01:08] aiden-deloryn commented on #1826
I have just tested a simple Windows task which clones https://github.com/google/ko.git and builds it as an executable for Windows. See `windows-task.yaml` below.

<details>
  <summary>windows-task.yaml</summary>

[code]
</details>

When I run this the `place-tools` Init Container fails during execution:

[code]

Checking the logs for the `place-tools` container reveals the error:

[code]

When I r

[2021-06-23 01:17] aiden-deloryn commented on #1826
Looking inside `C:\ko-app\` as `ContainerAdministrator` I can see the executable names are different (one has `.exe`). This might actually be the issue rather than file permissions...

`docker run --rm -ti --entrypoint cmd --user ContainerAdministrator gcr.io/imjasonh/github.com/tekto
ncd/pipeline/cmd/entrypoint`
[code]

`docker run --rm -ti --entrypoint cmd aidendeloryn/entrypoint:multi-platform`

[2021-06-23 07:53] vdemeester commented on #3548
Right, so on this, I am going to open an issue that is slightly related, on volume, workspace, configmap and secrets.

Yeah that's more or less what I have in mind. And again, this is for a `v1` API, not necessarly a 1.0 release of tekton (that could happen before, or after).

[2021-06-23 08:23] vdemeester opened #4055 "Workspace, configmap, secret and typing"
As a user, and an *integrator* of Tekton, I find something a bit unsettling with the way we made `Workspace` work.

at runtime by `TaskRuns`. A `TaskRun` can make these parts of the filesystem available
in many ways: using a read-only `ConfigMap` or `Secret`, an existing `PersistentVolumeClaim`
shared with other Tasks, create a `PersistentVolumeClaim` from a provided `VolumeClaimTemplate`, or simp

[2021-06-23 08:23] vdemeester commented on #3548
https://github.com/tektoncd/pipeline/issues/4055 ^^

[2021-06-23 08:23] vdemeester commented on #4055
/cc @sbwsg
/cc @tektoncd/core-maintainers

[2021-06-23 22:22] grunlab opened #4059 "No more arm32v7 images available after v0.21.0"
Until release v0.21.0, arm32v7 images were available.
See manifests here: https://console.cloud.google.com/gcr/images/tekton-releases/GLOBAL/github.com/tektoncd/pipeline/cmd/controller@sha256:972ee9c3f43c88495b074bfc0a8350eb34131355ab9ddc5da63c59f64d74e83d/details?tab=info
Available platform architectures were: amd64, arm, arm64, ppc64le, s390x

Starting from v0.22.0, no more arm32v7 images were a

[2021-06-24 00:44] tlawrie commented on #4012
I'd be happy to try and help contribute to this and adding this enhancement but I would need a reasonable amount of guidance in getting a local setup and guidance on where to make the change.

I roughly know the Kubernetes logic of waiting on the downwards API and declaring a termination container as part of the spec etc. But not in relation to Tektons implementation.

Happy to have any calls etc.

[2021-06-24 00:53] tlawrie opened #4060 "Change the error message or reason on Result Parameter Too Large"
### Feature request

The current message for a step that has a Termination message is above max allowed size 4096 is appended to the containers (step) log and not passed back into the TaskRun and therefore cannot be easily consumed by an interacting system.

The condition is a generic failure message about looking at the logs rather than highlighting the actual issue.

[code]

The change I am advo

[2021-06-24 00:59] tlawrie commented on #4016
Hi @afrittoli the use case I have is mainly for a system that is integrating with Tekton.

Let's say I offer end-users the ability to run a shell script/container and all they have to do is provide the script/container (not any declarative YAML) or in fact, they could even write the script in a UI.

Without our system knowing anything about what it's running, it runs a workflow task. If our end us

[2021-06-24 07:19] vdemeester commented on #4059
Right, we remove it as part of https://github.com/tektoncd/pipeline/pull/3717 (or we didn't add it to the list we build). We didn't add in the list because of https://github.com/tektoncd/pipeline/pull/3664#issuecomment-756203274 (some issue with alpine on arm32). We should probably revisit that, if the alpine issue is fixed or if the base image we use now support arm32.

[2021-06-24 07:20] vdemeester commented on #4059
Also, the reason we did not list it is because `git-init` wasn't build properly for arm32 (see https://github.com/tektoncd/pipeline/issues/3647) and thus we were doing a broken release on this platform.

[2021-06-24 14:12] jhpierce commented on #2316
/reopen This is definitely still an issue

[2021-06-24 17:49] jochen1234 opened #4061 "Cannot pass array to spec.tasks[0].when[0].values"
I am using Tekton in openshift 4.7 and want to the when clause in pipeline to have a dynamic list to switch off/on tasks. In my test both task should not run, but only the one with the hard coded list ["blue","yellow","green"] skips. Can someone guide to what to do. Thank you very much in advance.

 Pipeline
[code]

PipelineRun

[code]

[2021-06-24 18:54] sbwsg commented on #4012
Hey @tlawrie thanks for offering to jump in on this. I think the first step would be to get the problem and its constraints written up as a [Tekton Enhancement Proposal](https://github.com/tektoncd/community/tree/main/teps#tekton-enhancement-proposals-teps).  This initial proposal wouldn't need full technical detail but I think it's probably worthwhile to make sure everyone's on the same page wrt

[2021-06-24 19:16] jhpierce commented on #2316
/lifecycle frozen and /reopen

[2021-06-24 21:43] grunlab commented on #4059
Effectively, I've also faced the issue with the ```git-init``` image not available for arm32. A quick workaround was to build my own arm32 ```git-client``` image launched  by a custom ```git-clone``` task.
At that time, this issue was not really a showstopper using tekton on arm32 architecture.

Now, it is much more problematic, not been able to upgrade tekton make me think about migrating to anot

[2021-06-25 08:18] vdemeester commented on #4059
@grunlab note that to generate a `arm32` version of Tekton, the current workaround is to *build* it using the `--platform` flag.

[code]

To be able to actually *release* ourselves it for `arm32`, we need to be able to provide the `git-init` image for `arm32` too.
Also note that *officially*, tektoncd/pipeline is only supported on x86_64 😅. The rest of the build is provided as a *best effort* for

[2021-06-25 08:23] vdemeester commented on #4061
/cc @jerop @pritidesai

[2021-06-25 09:06] czerasz-allianz opened #4062 "YAML anchors do NOT working"
# Expected Behavior

YAML anchors do NOT working with Tekton

# Actual Behavior

Currently I get:

[code]

For the following code:

[code]

# Steps to Reproduce the Problem

1. create the `pipeline.yaml`

[code]

2. Apply `pipeline.yaml` with `--dry-run`:

[code]

3. Apply `pipeline.yaml`:

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipel

[2021-06-25 14:05] jerop commented on #2992
seeing this same issue again in [last nightly run](https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-nightly/pipelineruns/pipeline-release-nightly-hr98t?pipelineTask=unit-tests&step=unit-test)

error is `expected event "(?s)dev.tekton.event.pipelinerun.started.v1.*test-pipelinerun"`
but I see `Sending cloudevent of type "dev.tekton.event.pipelinerun.started.v1"` 🙃

full error log:
[code]

[2021-06-25 18:15] pritidesai commented on #4061
This is interesting and weird. So we use star operator `[*]` to expand the array [parameter](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#substituting-array-parameters), something like:

[code]

The way you have specified here is not even getting replaced (with extra `spec`):

[code]

And the using the start operator, fails at the validation since the `$(params.deployments[*])` ret

[2021-06-26 09:15] jochen1234 commented on #4061
Thank you, fixing it. My Questing would be, how can I use such fix. I am using Tekton in OpenShift 4.7. Cheers

[2021-06-27 03:28] dmitry-mightydevops opened #4063 "admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: validation failed: invalid value: no task result allowed under params,final task param pipeline_run_name has set task result as its value: spec.finally[0].params"
# Expected Behavior

Use of task results in `finally` task is allowed

# Actual Behavior

Received the error:

[code]

I'm using Pipeline version: v0.20.1, maybe this functionality was introduced in late versions?

# Steps to Reproduce the Problem

**Task**

[code]

**Pipeline**

[code]

so it complains on

[code]

# Additional Info

- Kubernetes version:
[code]
- Tekton Pipeline version:

[code]

[2021-06-27 14:06] sbwsg commented on #4063
Hi @dmitry-mightydevops you're right - this feature was introduced in [v0.21.0 of Pipelines](https://github.com/tektoncd/pipeline/releases/tag/v0.21.0).

[2021-06-27 14:06] sbwsg commented on #4063
Hi @dmitry-mightydevops you're right - this feature was introduced in [v0.21.0 of Pipelines](https://github.com/tektoncd/pipeline/releases/tag/v0.21.0).

[2021-06-27 14:39] sbwsg commented on #4055
I've received some requests to allow a workspace declaration to specify a minimum required size for the volume.

Also [digest info for specific file paths](https://github.com/tektoncd/community/pull/235#discussion_r507752917) on a workspace.

I'm generally in favor of _something_ to let users shape their workspaces better.  Would also definitely like to make it Volume-agnostic so that we're not em

[2021-06-28 03:39] dmitry-mightydevops commented on #4063
@sbwsg thank you!

[2021-06-28 03:39] #4063 closed

[2021-06-28 10:32] #3476 closed

[2021-06-28 17:19] itewk commented on #3509
i guess this died on the vine?

[2021-06-28 17:32] #3650 closed

[2021-06-29 01:01] jan0112d commented on #4052
thinks, I put the image in the private image respository, get from private respository.

[2021-06-29 14:28] sbwsg commented on #4055
- sharing data
- credential
- tooling configuration
- cache

This looks like a reasonable set of classifications to start with.  How might they be used by a Pipeline author?  And how could an integrator leverage this type information?

[code]

[2021-06-29 16:48] sbwsg commented on #3756
/close

[2021-06-29 16:48] #3756 closed

[2021-06-29 16:51] sbwsg commented on #3627
@barthy1 does this remain an issue in more recent e2e test runs?

[2021-06-29 16:52] sbwsg commented on #3557
@alan-ghelardi does this issue remain for you with more recent releases of Tekton?

[2021-06-29 16:59] sbwsg commented on #2977
@sbwsg check which tekton-provided images still need root access and document accordingly.  Create issues to remove this limitation for each image.

[2021-06-29 17:00] sbwsg commented on #3760
One alternative here would be to use catalog tasks + workspaces instead of relying on pipeline resources.

[2021-06-29 21:27] imjasonh commented on #1826
Thanks @aiden-deloryn that's really helpful!

So what's happening is that the first thing the Pod does, in an initContainer, is to copy the entrypoint binary from the entrypoint image to a shared volume, `/tekton/tools`, which is mounted into each subsequent step container. It does this by invoking the entrypoint binary itself, to copy itself to `/tekton/tools`, then exit.

Code for that is here:

[2021-06-29 23:28] TBBle commented on #1826
`mountPath: /tekton/tools` should work, as [k8s will convert it if needed](https://github.com/kubernetes/kubernetes/blob/v1.21.2/pkg/kubelet/kubelet_pods.go#L241-L244). It will [prepend `C:` to an otherwise absolute path](https://github.com/kubernetes/kubernetes/blob/v1.21.2/pkg/volume/util/util.go#L488-L504), and `/` works fine on Windows.

Clearly the `copy` is already working based on the exist

[2021-06-30 05:48] kobaji opened #4064 "`ko delete -f config/` cleans up everything regarding Tekton, including dashboard, trigger, and so on?"
Hi there, thank you very much for all your kindness.

Executing the following command can delete every component whose namespace is `tekton-pipelines`, right?

https://github.com/tektoncd/pipeline/blob/main/DEVELOPMENT.md#delete-pipeline

[code]

Basically other tekton components like dashboard or triggers are using namespace `tekton-pipelines` and [config/100-namespaces.yaml](https://github.com/t

[2021-06-30 08:26] vdemeester commented on #4064
@kobaji Indeed, it does because it deletes the `tekton-pipelines` namespace 😅 . We should document that this is the case at least for sure.
/kind documentation

[2021-06-30 09:18] vdemeester commented on #4055
That's up to them, but it would give some hints to the integrator on what to "hook" to these workspaces (using some labels or whatever, it's out of pipeline's reach).

[2021-06-30 17:53] bobcatfish commented on #1393
Documenting: request from @jromero in https://github.com/tektoncd/catalog/pull/656 for boolean/truthy types

[2021-07-01 07:00] nikhil-thomas commented on #4050
That is true. At present, it is all namespaces or a specific namespace. But a patch to make it watch more than one namespace should be simple. I think it has to be added in knative/pkg library.

[2021-07-01 08:33] leo1515416043 opened #4066 "manual delete TaskRun, its ownerReference PipelineRun remains Running"
# Expected Behavior
* pipelinerun status to failed
* pipelinerun event record this situation

# Actual Behavior
pipelinerun remains running

# Steps to Reproduce the Problem

1. manual delete taskrun

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pi

[2021-07-01 11:04] mjgkaastrupandersen opened #4067 "Add a gateway task or grouping for pipelines"
### Feature request

I would love a (possibly native) feature to create gateways in my pipeline. It should just be a "do-nothing-task", representing a gateway that waits for a group of parallel task to finish. Just as regular tasks waits for other tasks to complete in a sequential pipeline.

The purpose would be to simplify the runAfter part of a task. This would be useful if a group of tasks all

[2021-07-01 11:28] vinothkumar437 opened #4068 "parameteres not passing to triggertemplates."
Invoked the trigger through curl command, the event listener getting the parameters from curl command. but it is not passing to template.

task build has failed: "step-git-source-source-hqlqj" exited with code 1 (image: "registry.redhat.io/openshift-pipelines/pipelines-git-init-rhel8@sha256:73a433de8fa290807559ba341696b3b192949d3d8690259de4a465551c8ef627"); for logs run: kubectl -n pipelines-tutor

[2021-07-01 23:49] kobaji commented on #3548
Thank you @bobcatfish , @vdemeester for your kindness.
I will keep having a look regarding Tekton release.
Thank you again for your kind help.

[2021-07-02 08:15] barthy1 commented on #3627
@sbwsg

Yes, I see the same behaviour with the latest main code

[2021-07-02 09:03] ornew opened #4071 "task time exceeded `timeouts.tasks` when task retried"
# Expected Behavior

If the `timeouts.tasks` time is exceeded, the task will not be retried.

finally should always be executed.

# Actual Behavior

If the task is retried, the task time is exceeded timeouts.tasks.

In addition, if this causes the pipeline execution time to exceed `timeouts.pipeline`, finally is force timeouted.

# Steps to Reproduce the Problem

[code]

[code]

[code]

<img width

[2021-07-02 09:47] vdemeester commented on #4071
@ornew thanks for the issue.
cc @souleb @pritidesai @sbwsg

[2021-07-02 11:28] souleb commented on #4071
Hi @ornew thanks for the issue. The task timeout is processed at runtime from the pipelinerun start time. If you retry only a task, taking into consideration the pipelinerun start time,  your task is already timedout. Today the coded logic is to give 1s to the task to run. I am actually not sure why give that second...

[2021-07-02 13:34] sbwsg commented on #3627
There's a very sudden jump in the logs from 17:20 to 17:37 where nothing appears to be happening, and then an error is reported related to aws credentials:

[code]

That error comes from `k8schain` (more accurately from the [`k8s-pkg-credentialprovider` package](https://github.com/vdemeester/k8s-pkg-credentialprovider/blob/f3505df23e86a46c6986c3c5577e129c7fe2ced6/aws/aws_credentials.go#L138-L141))

[2021-07-02 13:43] vdemeester commented on #3627
This sounds heavily similar to the GCP error we have with OpenShift (where the URL that `k8s-pkg-credentialprovider` does query a magic url and waits forever for an answer, completely locking the controller).
The fork is exists only to remove the dependency on `k8s.io/kubernetes` (which brings *way too much* to the dependency graph) and the usage of it is in [`google/go-containerregistry`](https:/

[2021-07-02 15:38] imjasonh opened #4072 "Audit requests to API server when we could use a lister instead"
Background: when the controller job starts (at installation or upgrade, after a crash, rescheduling to another node, etc.), a SharedInformerFactory fetches all TaskRuns/PipelineRuns/Pods etc into a cache in memory, indexes them if necessary, and watches for updates to notify reconcilers for updates. In addition to this startup global resync, we also configure a global resync every 10 hours, in cas

[2021-07-02 16:32] sbwsg commented on #3627
Using the `runtime.trace` package I'm able to isolate 8x 75s-long calls to `http.dialConnFor`, that look like they're all spawned from the `aws-sdk-go` package.  So at least in my case I think this accounts for the ten minute delay:

[code]

[2021-07-02 18:17] sbwsg commented on #3627
Searching around for similar issues it does sound like the aws sdk introduced a security feature to their SDK that has caused lots of difficult-to-debug delays for other projects.

Here's one example with a good explanation of what's going on: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/309#issuecomment-605099408

[2021-07-02 18:31] sbwsg commented on #3627
One workaround that appears to speed things up is to set nonsense AWS credentials in environment variables.  I've updated the tekton controller deployment with the following change:

[code]

@barthy1 could you try doing something similar with your pipelines deployment and see if that changes the slowness?

[2021-07-03 04:32] #2844 closed

[2021-07-03 17:09] barthy1 commented on #3627
@sbwsg after I added the suggested env variables, I do not observe the slowness mentioned in this issue any more 👍

[2021-07-03 17:46] nwang92 commented on #3760
I haven't had a chance to look at it recently or use any of the newer releases to see if it's mitigated. I think using disk storage/workspaces works but I couldn't get object store to work for S3. Since there are other options here, I'm fine with closing this unless there's others hitting the same issue.

[2021-07-05 01:58] kobaji commented on #4064
Thank you very much @vdemeester for your kindness!
Honestly I deleted all resources whose namespace is `tekton-pipelines` by mistake 😅

Could my team or I deal with this issue??

We will solve this issue by doing the following two things.

1. Change the structure of a folder [config](https://github.com/tektoncd/pipeline/tree/main/config) like below in order to avoid unintentional deletion of a nam

[2021-07-05 02:35] kobaji commented on #4048
Thanks all, I got an answer in #3548 thus this issue is closed.
Thank you again!

FYI
The related comment: https://github.com/tektoncd/pipeline/issues/3548#issuecomment-872616703

[2021-07-05 02:35] #4048 closed

[2021-07-05 08:59] vdemeester commented on #4064
@kobaji that could indeed work, I think it makes a lot of sense even 👼🏼 (here and in other Tekton components)

[2021-07-05 20:52] raffamendes opened #4074 "[Question] Interactive Step During Pipeline Execution"
Hi Guys,

Just a quick question, I have a scenario where we're migrating from Jenkins to Tekton(Openshift Pipelines actually) but the Jenkins pipelines for the main branch(production) have a interactive step, for the user to authorize the build to for for production.

Do we have any example on this?

Thanks in advance

Regards

[2021-07-06 06:44] 06kellyjac commented on #1250
Still requires https://github.com/tektoncd/website/issues/117

/remove-lifecycle stale

[2021-07-06 09:00] vdemeester commented on #1250
/lifecycle frozen

[2021-07-06 11:04] #4007 closed

[2021-07-06 14:29] imjasonh commented on #4072
Thinking about this some more: If we replace the slow pods.get with a faster podlister cache lookup, we'll need to be careful to handle pod-not-found errors correctly, since with the podlister we could be getting a pod-not-found error due to cache inconsistency. When we call directly to the API server, we know a not-found means we have to create the Pod.

If we use a podlister, we might need to ch

[2021-07-07 04:35] kobaji commented on #4064
Thank you @vdemeester our team will be dealing with this issue unless someone else committed.

Yeah I agree, if I could find other Tekton components have the same command with deleting a namespace `tekton-pipelines`

/assign @kobaji

[2021-07-07 08:05] hokadiri commented on #3957
I get the same following the example
[code]

[code]

[code]

[2021-07-07 11:51] badamowicz opened #4078 "When does a timeout counter actually start?"
Given an Task with a timeout set to 30m. And given the Pod created by the TaskRun goes to status _Pending_ due to missing resources and exceeds those 30m. Will this cause a timeout to be triggered?
We believe we are currently facing this issue in some of our Pods. But we also think the timeout counter shouldn't start before the Pod's status is _Running_.
Can someone explain? Thanks!

[2021-07-07 12:33] sbwsg commented on #3627
Awesome, thanks for the update.  This is very concerning.  I wonder how many projects are embedding k8schain or otherwise initializing the aws sdk and therefore slowing everything down just because it's a transitive dependency.

[2021-07-07 15:30] sbwsg commented on #4078
/kind question

[2021-07-07 15:30] sbwsg commented on #4074
/kind question

[2021-07-07 15:34] sbwsg commented on #4068
It would be helpful if you could share some snippets of the YAML that you've written to help us figure out what the problem might be.  Also, it sounds like you're trying to report a problem with Tekton Triggers, is that right?

Please also provide more information about your setup:

- What versions of the tekton projects are you running?
- What version of kubernetes are you running on?

/kind bug

[2021-07-07 15:36] jerop commented on #4067
Hi @mjgkaastrupandersen 👋🏾

Thank you for the detailed description of your feature request!

Pipelines in Pipelines is an experimental project that would provide the grouping of Pipelines:
- Tekton Enhancement Proposal: https://github.com/tektoncd/community/blob/main/teps/0056-pipelines-in-pipelines.md
- Experimental Project: https://github.com/tektoncd/experimental/tree/main/pipelines-in-pipeline

[2021-07-07 17:06] afrittoli commented on #1836
Now that've switched the default behaviour to not-override HOME, I think this could be closed?
@skaegi @sbwsg

[2021-07-07 17:33] sbwsg commented on #1836
I'm using the comment here: https://github.com/tektoncd/pipeline/issues/1836#issuecomment-623451451 to track progress for this issue.  We still plan to completely remove the feature flag so i'd like to keep this tracking issue open if that's ok.

[2021-07-07 18:08] sbwsg commented on #3957
I'm still looking into this but one thing jumps out at me: Starting with Pipelines 0.24 we require kubernetes version 1.18 or higher.  Could you try updating your cluster to 1.18 to see if that helps any?

[2021-07-07 18:34] hokadiri commented on #3957
@sbwsg , I can't upgrade the cluster right now. Would a lower pipeline version work?

[2021-07-07 21:16] bobcatfish commented on #4062
hey @czerasz-allianz !

looking at the expanded yaml after the dry run, it seems like the problem is that this configuration remains after the anchor is applied:

[code]

Since there is no `_status_check` section in the `Pipeline` spec, the controller doesn't know what to do with it (I'm kind of surprised it doesn't ignore it, but that's another story :D )

I think that if you wanted to use yaml a

[2021-07-08 08:57] #3569 closed

[2021-07-08 13:01] goldmann opened #4080 "Allow to use variable replacement when defining resource limits and requests"
### Feature request

Consider this example Task:

[code]

When creating such a resource it fails with:

[code]

This suggests that webhook is not able to decipher what is the value. And since the value is correct, it should be allowed to do use it this way.

### Use case

Main use case is to dynamically change requests and resources based on the runtime requirements. I consider this as a workaroun

[2021-07-08 17:59] bobcatfish commented on #4078
Hey @badamowicz ! I think what you're describing is right: the timeout countdown starts as soon as the "StartTime" is set in the TaskRun/PipelineRun status, which would be the moment at which the Controller starts reconciling the TaskRun.

What you're describing would be an alternative approach but it would have the downside of never timing out a pod that can't be scheduled - e.g. imagine you've c

[2021-07-08 18:07] bobcatfish commented on #4074
Hey @raffamendes ! 2 options for how you can handle this:

1. The easiest option is to make a Task that waits - e.g. a script or tool in a container that waits for some state to become true (e.g. via a configmap, or via an HTTP endpoint, whatever works best for you) - the downside is that this would be a running pod, consuming resources
2. The better option is to use a custom task - however i dont

[2021-07-08 18:17] raffamendes commented on #4074
Hi @bobcatfish Yeah, I will take a look at the wait-task and try to make a example work.

If this works, I will post here the results.

Meanwhile at the case that I'm actually working right now, I'm delegating the responsibility to gitlab, They're taking the merge-request acceptation as a deploy to production authorization.

Will try to make this work and will get back here to tell the results.

T

[2021-07-09 06:27] shinji62 commented on #3720
We are still seeing this issue with 0.24.x, if we do a restart of the controller  it will create an affinity assitant even if `false` in the configmap, and we got this at every restart (~150 pipelinerun running a day) .

Wondering why we don't make sure that we read the configmap before the controller can start working.

[2021-07-09 07:15] vdemeester commented on #3720
@shinji62 sounds like a bump indeed 🤔 can you create an new issue for this ?

[2021-07-09 07:34] badamowicz commented on #4078
Hi @bobcatfish!

We may indeed have a very special behaviour of our pipelines. What actually is happening is this:
1. Build the artifacts of a large Java application.
2. Then start some 35 Tasks in parallel, each performing Selenium tests against the deployed application. Each of these tasks consists of:
** a Pod with Websphere Liberty server along with the deployed application
**  an Oracle pod a

[2021-07-09 11:16] goldmann opened #4083 "Add support for optional volumes in Tasks"
### Feature request

Consider following `Task`:

[code]

If it would be possible to specify `optional: true` for the volume we would have a way to mount `ConfigMap` and `Secret` only if these are available. This would not fail the run in case it is not available. And this is exactly what is the power of it.

Such feature is already is built-in into Kubernetes and would need to be exposed in Tekton

[2021-07-09 14:35] dippynark opened #4084 "TaskRun hangs when command field is not set"
# Expected Behavior

I'm not sure if this is bug or whether I've missed something in Tekton where you have to set the `command` field, but I feel that the following TaskRun should either use the image entrypoint (which is `/kaniko/executor` from [here](https://github.com/GoogleContainerTools/kaniko/blob/v1.6.0/deploy/Dockerfile#L81)) as the command or error (and raise it in the API):

[code]

# Ac

[2021-07-09 14:39] imjasonh commented on #4084
Thanks for this report!

This seems like it might be related to an issue @sbwsg and @vdemeester have been investigating about slowness in the Tekton controller when it's asked to look up credentials to fetch image metadata. When the task specifies the `command` itself, the controller doesn't have to lookup the entrypoint, but when it's not, it has to get creds and check the registry to find the en

[2021-07-09 14:44] sbwsg commented on #3627
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-09 14:44] sbwsg commented on #4084
A quick test for this would be to add fake AWS credentials to your Pipelines controller deployment.  See my comment [here](https://github.com/tektoncd/pipeline/issues/3627#issuecomment-873183844) for an example.

[2021-07-09 14:50] dippynark commented on #4084
@sbwsg hmm adding those env vars to the TaskRun is still hanging for me from a quick test.

Have removed `forever` from the title as I guess it might get unstuck eventually.

[2021-07-09 15:00] ornew commented on #4071
@souleb Thanks for checking this issue :)

When TaskRun retries, the Timeout is not recalculated but the StartTime is reseted. It looks to me the retried task can pass through HasTimedOut.

https://github.com/tektoncd/pipeline/blob/0e9d9e603347f85db7017180412ed25419307aa6/pkg/reconciler/pipelinerun/pipelinerun.go#L730
https://github.com/tektoncd/pipeline/blob/0e9d9e603347f85db7017180412ed25419307a

[2021-07-09 17:27] sbwsg commented on #3957
So the problem actually is that this is simply how Kubernetes works - volumes are, by default, mounted as owned by root:root.  Writing to them as a non-root user requires that you set the `fsGroup` in the security context for that pod.  To achieve this with a PipelineRun you can either:

- Set [the `podTemplate` of the entire PipelineRun](https://github.com/tektoncd/pipeline/blob/main/docs/pipelin

[2021-07-09 17:36] sbwsg commented on #4084
Awesome, thanks a lot for confirming this.

[2021-07-09 19:51] bobcatfish commented on #4083
Hey @goldmann ! I'm surprised to see a feature being requested around volumes + volume mounts in tasks and would love to hear more about why you prefer these to using workspaces - ive actually been hoping we'll remove volumes + volumemounts in the long run, since they dont fit with the authoring time vs runtime distinction we've tried to draw between tasks and task runs - it looks like you've work

[2021-07-09 19:54] bobcatfish commented on #4074
sound great @raffamendes :D looking forward to seeing the results!!

[2021-07-09 19:57] bobcatfish commented on #3163
ah whoops, let this get rotten and close XD

the API is frozen, but the logic in the tests may still need updates as we maintain them over time

/reopen
/remove-lifecycle rotten

[2021-07-09 20:08] bobcatfish commented on #4078
thanks for explaining more about your use case!

im a bit hesitant about adding this b/c i feel like there are going to be other scenarios that folks will run into where they'll want some variation on this logic - for example, maybe folks want the behavior you are describing, but only when the pod is waiting for resources to be scheduled, and not in other cases (e.g. when a volume a pod needs hasn

[2021-07-10 22:20] #2407 closed

[2021-07-12 08:52] badamowicz commented on #4078
Great! Thanks for discussing this issue so deeply! Looking forward to the results of the working group.

[2021-07-12 09:34] goldmann commented on #4083
Thanks for the answer! Let me try to go through this.

Lets assume following:

* We use Pipelines to define our workflow
* We use PipelineRuns to run these workflows
* Tasks provide some functionality in a black-box manner and we may (or may not!) control this
* Pipelines are composed out of Tasks.
* And most importantly: an **automated** system that works on top of Tekton wires everything togethe

[2021-07-12 12:48] Srivaralakshmi opened #4086 "Rename the 'finally' key to 'final' in the specification and while still allowing 'finally' to help the users who already have this key as part of their specification"
**Expected behaviour:**

- The name used to represent the final set of tasks at the end of the pipeline must be represented as `final` in the specification: https://github.com/tektoncd/pipeline/blob/main/docs/pipelines.md#adding-finally-to-the-pipeline
- while the key is renamed from `finally` to `final`, continue to allow the `finally` key to accommodate the users who already have the `finally` k

[2021-07-12 13:22] Srivaralakshmi commented on #4086
@nikhil-thomas PTAL at this ^ issue, comment on the issue, and kindly tag others. This will help drive some discussion. Thank you!

[2021-07-12 14:37] jerop commented on #4074
fyi adding an approval custom task was also discussed in https://github.com/tektoncd/experimental/issues/728

[2021-07-12 15:12] sbwsg opened #4087 "Long delays on first taskrun caused by aws-sdk-go"
This is a tracking issue for a problem we're experiencing with a transitive dependency of Tekton Pipelines. `aws-sdk-go` appears to cause very long delays (~10 minutes) starting the first TaskRun of a freshly deployed Pipelines Controller under certain conditions.

# Identifying the Problem

The issue manifests for users as a very long delay during the startup of a TaskRun. The status of the TaskR

[2021-07-12 21:49] bobcatfish commented on #4086
hey @Srivaralakshmi - thanks for opening this issue.

The motivation for the term "finally" was inspiration from languages like python which have ["try/catch/finally" syntax](https://docs.python.org/3/reference/compound_stmts.html#finally). [This design doc has some more context around the design](https://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpNa6p-TJdHrw/edit#). What our curr

[2021-07-12 21:55] vdemeester commented on #4087
There is also ways to build tekton without this feature built-in, similarly to what we do with google cloud in openshift pipelines. There is some built tag to be able to disable those credential helpers in the go-containerregistry library.

@sbwsg does this happen only for OCI bundle or also on task that do not specify a command ? (A take with both command and arts shouldn’t run into this big I fe

[2021-07-12 21:58] vdemeester commented on #4083
Probably a bit related to this is one issue I created recently : https://github.com/tektoncd/pipeline/issues/4055

[2021-07-12 22:15] sbwsg commented on #4087
Nice, I will add this as another option, thanks @vdemeester !

It also happens on tasks that don't specify a command - https://github.com/tektoncd/pipeline/issues/4084 is an example of this.  Looks like it doesn't affect tasks which don't hit the credential helpers, like those with a command specified.

[2021-07-12 22:30] bobcatfish commented on #4078
Hey @badamowicz  - we discussed this in the API working group today ([notes and link to the recording](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.7p1nwyxbjae5)). I'd say sentiments were on the fence, between adding an 'execution timeout' feature like you're describing, and noting that it feels like the core problem here is more around scheduling

[2021-07-12 23:16] bobcatfish commented on #4086
@Srivaralakshmi @nikhil-thomas  [I've added this to the next API working group agenda as well to discuss](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.vubvdscv123d)

[2021-07-13 00:45] zhouhaibing089 commented on #4078
I'd like to compare what others have in their timeout configuration. For example, in Prow:

https://github.com/kubernetes/test-infra/blob/49f933a3eda05d96589b6d97e0fce10df952ac6d/prow/config/config.go#L491-L499

It supports three different timeout configurations:

1. PodUnscheduledTimeout
2. PodPendingTimeout
3. PodRunningTimeout

I don't really have any point to make, just providing some informat

[2021-07-13 03:26] jialindai opened #4092 "Pipeline controller shouldn't retry creating pod when the error cannot be mitigated by retry"
# Expected Behavior

When executing one pipelinerun, sometimes the pod creation will fail due to error which cannot be mitigated by retrying. In this case, pipeline controller should simply fail the pipelinerun without retrying creating pod.

In my case, such error is pod creation failure due to not enough quota in namespace.

# Actual Behavior

Pipeline controller keep trying to create pod even t

[2021-07-13 06:15] badamowicz commented on #4078
Hi @bobcatfish !
I'm not sure if #3522 would really help us. However, we will for sure discuss and test this in our team.

The example/solution provided by @zhouhaibing089 looks great for me. Having such configuration options at least in the TaskRuns would be a highly elegant solution in my opinion.

Will get back as soon as we've discussed #3522. Thanks!

[2021-07-13 08:02] kobaji commented on #4064
/assign @hidehitof

[2021-07-13 08:09] kobaji commented on #4064
/assign @kobaji

I re-assign myself but Fujiishi-san, my fellow, is contributing with this issue.

[2021-07-13 16:55] dibyom commented on #1293
Waiting on https://github.com/kubernetes/enhancements/issues/127 to be implemented.

[2021-07-13 18:07] sbwsg commented on #3435
I think the core of this might be implementable via the pipeline-in-a-pod feature that's under development. For example: composing a test task with a gcs-upload task in a pipeline could be rendered to steps in a single pod with an `emptyDir` between them.

In conjunction with the CSI spec, existing persistent volume claim support, and custom tasks / controllers, I think there are a lot of ways alr

[2021-07-13 18:07] #3435 closed

[2021-07-13 23:55] bobcatfish commented on #4062
@czerasz-allianz I'm going to close this for now but let me know if you have any follow up, e.g. that other k8s types do support this approach 🙏

[2021-07-13 23:55] #4062 closed

[2021-07-14 03:58] aiden-deloryn commented on #1826
@imjasonh Is there any way I can help out with the entrypoint issue to keep this moving forward? I'd be happy to make some tweaks and test the options discussed here if needed.

[2021-07-14 11:16] badamowicz commented on #4078
Hi @bobcatfish !
We've dicussed #3522 in our team. But we think this is - at least not yet - a solution for us because it would require a CRD observing the cluster's resources and schedule the PRs accordingly. This would be a kind of mimicing core K8s behaviour.

I think this issue is also a bit related to [#699](https://github.com/tektoncd/experimental/issues/699) though they do not discuss resou

[2021-07-14 14:09] jerop commented on #3874
/remove-lifecycle stale we still need to default pipelines in bundles

[2021-07-14 18:15] riceluxs1t opened #4096 "`tkn <pr|tr> logs` to return only the available logs of a running PipelineRun/TaskRun."
### Feature request

Currently, `tkn` CLI  either (a) waits until completion and returns all the logs of a PR/TR (no-follow behavior) or (b) streams the logs of a running PR/TR (follow behavior).

I think a variant of the first behavior can be useful for certain use cases: return all the available logs of a running PR/TR at some point in time.

### Use case

A caller may want to **periodically** p

[2021-07-14 18:31] hokadiri opened #4097 "Variable to get a list of results of a task"
### Feature request
if a i have a list of results

`apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: some-task
spec:
  results:
    - name: A
    - name: B
    - name: C
    - name: D
    - name: E
    - name: F
`
I want a [variable](https://tekton.dev/docs/pipelines/variables/) that tells me the list so i can loop through it in in a task shell
`
      script: |
        # loop through $

[2021-07-14 18:51] #2666 closed

[2021-07-15 00:08] bobcatfish commented on #4097
Thanks for opening this @hokadiri !

Are you able to share any more details around the use case you need this for? e.g. a specific Task with specific results would really help us understand why this is needed.

(I'm also wondering if in this case you'd prefer to be able to have an array or dictionary type result - but I think even if we supported those, we've been hesitant to support variable repl

[2021-07-15 00:13] bobcatfish commented on #4092
hey @jialindai !

I'm wondering, how would the pipeline controller know if that situation couldn't be mitigated? i.e. what if more quota became available in the namespace later? It sounds like that won't happen in your case, but I think it could for someone else (if I'm wrong maybe you can provide some more details about your setup - e.g. is there some way to conclusively know that quota won't be

[2021-07-15 00:25] bobcatfish commented on #4083
thanks for the detailed response @goldmann - that definitely helps!

it seems like maybe what is missing is something in the workspace expressing more about what it needs - exactly like @vdemeester is pointing out in that issue he linked.

am i understanding correctly: you need to be able to create/provide config-maps/volumes/secrets dynamically, which meet a task's requirements? (and volumes + vo

[2021-07-15 00:34] bobcatfish commented on #4078
Thanks for sharing that info about prow @zhouhaibing089 ! one thing that's interesting about that is that from what I can tell, that configuration isn't specified on each individual job (i.e. you can't have one job with a different PodPendingTimeout than another) but globally - which kinda aligns with my suggestion that instead of adding this functionality to Pipelines, one could add another compo

[2021-07-15 05:19] liangyuanpeng commented on #4001
So we just no idea to let tekton working for `kubectl explain`,right?

[2021-07-15 05:38] liangyuanpeng commented on #4037
Maybe you should check your secret for `\n`

[2021-07-15 05:39] liangyuanpeng commented on #4037
Maybe you should check your secret for \n

[2021-07-15 06:40] badamowicz commented on #4078
Yes! In our particular use case this would definitely help. That's about what I've described [here](https://github.com/tektoncd/pipeline/issues/4078#issuecomment-876981323). However, I'm aware that this also has the drawback that _Pending_ status caused by other reasons (e.g. missing volume) will no longer be recognized - as you mentioned. But as a first step towards a "big" solution which will al

[2021-07-15 08:08] Srivaralakshmi opened #4098 "Suggestion: References of WhenExpressions should be changed to `when` expressions"
**Expected Behavior:** References of `WhenExpressions` in the documentation should be changed to `when` expressions.

**Actual Behavior:** The `when` expression resource is referred in the documentation as `WhenExpressions`.

**Reason for the request:**
- Backticks are used to refer to code in the YAML. In the YAML only `when` is mentioned, `whenExpressions` are not mentioned anywhere. When we ref

[2021-07-15 08:23] rkratky commented on #4086
@bobcatfish,

Having the term "`finally` tasks" in docs is confusing because it sounds incorrect (it *is* incorrect, unless you know to read 'finally' as an adjective, which is very unintuitive). This makes the user (unless they're already familiar with the history) look for an explanation ("Is it a mistake?", "Is it correct but strange?"). Therefore, the docs would need to provide an explanation,

[2021-07-15 09:52] afrittoli commented on #4086
That sounds like a viable option to me.
I definitely agree we should be consistent in the documentation - thanks @Srivaralakshmi for reporting the issue.
As long as we make the terminology clear, I think we could also talk about "final tasks" to intend "tasks in the `finally` section".

[2021-07-15 12:17] sbwsg commented on #4098
I'm not quite sure what you mean by "when expression is a resource", could you clarify a bit?  I think of them as the name of a data structure but don't totally understand why we should hold ourselves to always using the name single-case in our documentation.  The plural of `WhenExpression` is `WhenExpressions` :)  It might help if you could point to specific docs and describe specifically what it

[2021-07-15 14:58] sbwsg commented on #4078
Another option might be to `param`-aterize the test-running task, passing through a limit as a param to the code executing the test suite. It wouldn't be Tekton-enforced but this would be a way of having very fine-grained control over the precise meaning of "timeout" while also keeping the value of that timeout in the yaml. Does your test runner support this as a configuration option? I wonder are

[2021-07-15 16:03] Preeticp commented on #4098
@Srivaralakshmi is this what you mean? Expected Behavior: References of `WhenExpressions` in the documentation should be changed to `when` expression/expressions.

[2021-07-15 16:17] Srivaralakshmi commented on #4098
@sbwsg Thank you very much for the response. I have updated the description and the issue title. Please take a look.

[2021-07-15 16:23] Srivaralakshmi commented on #4086
@rkratky and @bobcatfish Thank you very much for the comments and support.

[2021-07-15 16:24] wlynch opened #4099 "cmd/entrypoint/subcommands/cp test does not respect umask"
# Expected Behavior

[TestCp](https://github.com/tektoncd/pipeline/blob/584b5278138aac455d47e25eb9930b85a29db387/cmd/entrypoint/subcommands/cp_test.go#L27) passes on main branch.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

This appears to be caused by an assumption that the system [umask](https://man7.org/linux/man-pages/man2/umask.2.html) would be fully permissive, and the [cp f

[2021-07-15 16:28] Srivaralakshmi commented on #4086
@bobcatfish Thanks for the response and also for adding this issue to the API working group agenda. FYI, I do not have access to this document; have sent a request.

[2021-07-15 16:29] wlynch commented on #4099
/cc @sbwsg in case the edit above didn't send a notification

[2021-07-15 16:49] sbwsg commented on #4099
Hm, couple alternatives spring to mind:

1. Could we infer what the user's equivalent of 0311 would be by attempting to pre-write a file with `dstPermissions` and then reading that back to set our expectations for the test?
2. Could we pre-calculate the eventual on-disk perms by reading the current processes' umask value and performing the calc ourselves in code?  (unix-specific, example of readin

[2021-07-15 17:21] bobcatfish commented on #4084
@sbwsg @dippynark sounds like #4073 is a fix for this - are we ready to close this issue or is there more to verify?

[2021-07-15 17:21] bobcatfish commented on #3627
Does #4073 fix this?

[2021-07-15 17:45] wlynch commented on #4099
I liked (1) at first, but after writing it, I think it's tautological so it doesn't provide much value (e.g. the permissions could be 0777 and it would still pass).

(2) is problematic for any non-unix systems, and I'm not exactly sure what happens if a unix syscall is performed on a non-unix system.

I'm thinking we can get away with checking if the resulting file has any permissions we don't exp

[2021-07-15 18:36] dippynark commented on #4084
@bobcatfish yeah ready to close imo

[2021-07-15 18:45] #4084 closed

[2021-07-15 18:51] sbwsg commented on #4098
👍 this looks good to me, thanks for the update!

[2021-07-15 21:55] vdemeester commented on #4087
right so this is definitely very similar to the issue we are hitting with openshift and gcp 😅

[2021-07-15 22:15] bobcatfish commented on #3255
I'm creating a proposal to add specifically support for indexing into arrays; however I'm limiting the proposal to that so if we want to talk about full JSONPath (or even CEL) support that would have to be a separate proposal.

/remove-lifecycle rotten

[2021-07-15 22:31] zhouhaibing089 opened #4101 "Add an option to disable per TaskRun/PipelineRun metrics"
### Feature request

Add an option to disable per TaskRun/PipelineRun metrics

### Use case

We are conducting performance tests on pipeline controllers. While we are creating a huge amount of PipelineRuns, the size of metrics increases dramatically. This blocks metrics collector from scraping these metrics(390k series) and as a result, we are not to visualize some key metrics which are important

[2021-07-16 00:57] hokadiri commented on #4097
Hi @bobcatfish, I have a tekton task that runs a tool which takes a git commit and outputs the list of tests to run with some additional metadata
[code]

Ideally I want to take this json and trigger concurrent task runs (One test per task).

Since results can't be lists/dictonaries, workaround is i'm creating a result for each test, looping thru and setting it.

To set it, I wanted to loop through

[2021-07-16 01:07] hokadiri commented on #3957
Thanks @sbwsg , would this be an issue for tekton pipeline runs if i have a large volume?
My workspace start off with nothing but I seed it with 5+ GB of data.

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#configure-volume-permission-and-ownership-change-policy-for-pods

[2021-07-16 04:46] #4099 closed

[2021-07-16 08:05] barthy1 commented on #3627
@bobcatfish yes, with the latest pipeline code I do not observe the problems mentioned in this issue.

[2021-07-16 08:05] #3627 closed

[2021-07-16 11:29] ghglza commented on #4078
@sbwsg no I'm afraid we would have to implement timeouts on the test-runner layer by ourselves.
This (and same for building a dedicated controller) would from our perspective essentially convert a CI/CD mgmt project to a SW development effort, which is capacity- and lifcycle-mgmt-wise unfortunately out of scope for us.
I would dare to speculate that this is similar for most users of Tekton, so som

[2021-07-16 13:09] sbwsg commented on #4087
How do you manage it in openshift? build your own version of the credential provider without gcp support?

[2021-07-16 13:15] sbwsg commented on #3957
This will depend heavily on the performance of the storage backing your volume I expect. I'm not sure I can offer a definitive answer.

[2021-07-16 14:21] imjasonh commented on #4087
Yeah, OpenShift Pipelines builds with `-tags=disable_gcp`, which causes [this file](https://github.com/google/go-containerregistry/blob/13e1a6b06afd59fbc54e94ddcfb1475504e72883/pkg/authn/k8schain/k8schain_gcp.go) to be excluded from compilation.

You can do the same with `tags=disable_aws` to disable [this file](https://github.com/google/go-containerregistry/blob/13e1a6b06afd59fbc54e94ddcfb1475504

[2021-07-16 14:29] sbwsg commented on #4083
You can include a `volumes` section in your tasks today. And those can be any VolumeSource you like - Configmap w/ optional param is already supported.  Here's some example yaml with a bit of volume configuration (though not configmap specific): https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#configuring-a-task

Continuing the thread of conversation though - while ConfigMap and Secret

[2021-07-16 14:49] sbwsg commented on #4087
I wonder why the gcp timeout issue doesn't happen in my kind cluster (not running on gcp or google hardware) the same way the aws one does.

[2021-07-16 15:10] hokadiri commented on #3957
I'm using GKE and all its offerings. So its backing is google persistent disk

[2021-07-16 15:51] sbwsg commented on #3957
Sorry, I should have been a bit more clear about my own level of knowledge: I don't know.

[2021-07-16 15:56] souleb commented on #4071
What you describe is basically what happens.

Also, you are right that the `Timeout` is not recalculated. But the time that is allocated to your taskrun is.  And this allocated time calculation take account several parameters, including the pipelinerun and taskrun `Timeout` and `StartTime`.

https://github.com/tektoncd/pipeline/blob/0e9d9e603347f85db7017180412ed25419307aa6/pkg/reconciler/pipeliner

[2021-07-16 17:39] hokadiri commented on #3957
ok. no worries. I'll give it a shot and see how it goes.

[2021-07-16 17:52] vdemeester commented on #4087
Because of the way openshift disallow the network operation. On kind it’s probably getting a 404 or something really quickly, whereas openshift let the network hang it seems (not sure about the details..)

[2021-07-16 18:54] bobcatfish commented on #4078
Oh yeah that's a great idea too @sbwsg

Really appreciate your patience and understanding around this @ghglza @badamowicz !!

Building on the idea of having controller level timeouts, maybe we could add something like "global pending timeout", and if it's set, we'd have the behavior you've requested, i.e. the TaskRun timeout timer wouldn't start until the pod went from Pending to Running (i think

[2021-07-16 19:04] bobcatfish commented on #4086
@Srivaralakshmi to get access to the doc you need to join the tekton-dev mailing list, more info on how to do that at https://github.com/tektoncd/community/blob/main/contact.md#mailing-list 🙏

[2021-07-16 21:04] sbwsg commented on #3305
/assign

I've started working on this [in a branch](https://github.com/tektoncd/pipeline/compare/main...sbwsg:refactor-ref-resolution). The way I've structured it at the moment, I've introduced a new reconciler whose sole responsibility is resolving. Once the specs have been resolved into the status field of the taskrun / pipelinerun then the "original" reconcilers take over again and actuate as n

[2021-07-16 23:51] bobcatfish commented on #4036
Closing this for now since it sounds like this is related to the change that @afrittoli  mentioned but please re-open if that's not the case.

[2021-07-16 23:51] #4036 closed

[2021-07-19 01:45] pratiktest opened #4102 "Concurrent pipelines increases overall pipeline duration vs single run of same pipeline"
# Expected Behavior
Running same pipeline concurrently(example 100 at once) should not cause a drastic increase in pipeline run durations vs single run
Tekton should scale and handle incoming load for concurrent pipeline runs
As we scale (run concurrent pipelines) time taken between 2 taskruns:-> end task1 and begin task2 goes on increasing

# Actual Behavior
Average run duration of tekton pipelin

[2021-07-19 14:52] sbwsg commented on #3305
One interesting wrinkle during this refactor: our resolution logic is pretty directly tied to the way we update annotations and labels on taskruns/pipelineruns.  As soon as we've resolved the task or pipeline we copy the labels and annotations over to the run. So at the moment the "Resolver Reconciler" I've introduced is responsible not only for resolving resources but also copying those annotatio

[2021-07-19 20:12] bobcatfish commented on #4086
There as some discussion in the API working group today ([notes here](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.mv8bg2s2jznx)) - seems like the general sentiment is to stick with `finally` tasks for now (and avoid renaming the API field), which https://github.com/tektoncd/pipeline/pull/4090 reflects - hopefully this can be a step forward at leas

[2021-07-19 21:20] bobcatfish commented on #4098
/assign jerop

[2021-07-19 21:24] bobcatfish commented on #4101
Hey @zhouhaibing089 sounds like a reasonable request!

@vdemeester has a proposal around simplifying the metrics (https://github.com/tektoncd/community/pull/466) which may or may not help you; otherwise maybe [the observability configuration](https://github.com/tektoncd/pipeline/blob/main/config/config-observability.yaml) can be extended to specify [which metrics to include/exclude](https://github

[2021-07-19 21:27] bobcatfish commented on #4097
ooooo thanks for the additional info!! i've actually just created 2 proposals that might help you out:

* [TEP-0076 array results](https://github.com/tektoncd/community/pull/477)
* [TEP-0075 dictionary params + reseults](https://github.com/tektoncd/community/pull/479)

(Eventually I think we should allow even more complex types, e.g. arrays of dictionaries, etc.)

Maybe even just having array resu

[2021-07-19 21:55] tlawrie commented on #4012
Thanks @sbwsg . Ive been on vacation so I will look at doing that.

[2021-07-19 22:02] zhouhaibing089 commented on #4101
@bobcatfish: Thanks! And that TEP describes the exact same issue here!

[2021-07-20 04:33] anthonysuterag opened #4105 "Allow passing additional labels and annotations when using external tasks"
### Feature request

When using Tasks CRD as taskRef, all the annotations and labels need to be defined inside the Task resource itself.
There is no way to pass additional labels or annotations as far as I understood. https://github.com/tektoncd/pipeline/blob/a9b729b9e83959dbc0f00baeb83b9c8b46780f17/pkg/apis/pipeline/v1beta1/task_types.go#L176-L189.

### Use case

We would like to use Vault sideca

[2021-07-20 06:03] aiden-deloryn commented on #1826
I was able to get ko to build a valid entrypoint image by removing the file extension `.exe` on: [pkg/build/gobuild.go#L440](https://github.com/imjasonh/ko/blob/380b0a4afe9fc038424e3dc9dd8be11fee6e0ea0/pkg/build/gobuild.go#L440) and [pkg/build/gobuild.go#L700](https://github.com/imjasonh/ko/blob/380b0a4afe9fc038424e3dc9dd8be11fee6e0ea0/pkg/build/gobuild.go#L700) which means that the file extension

[2021-07-20 07:47] walkline opened #4107 "Docker config.json "credsStore" value ignored."
# Expected Behavior

When I'm passing docker config.json file through `kubernetes.io/dockerconfigjson` secret, I expect to see content from that file including `credsStore` values.

# Actual Behavior

At first I tried to pass docker config.json file with the next content:
[code]
But I didn't find `~/.docker/config.json` file inside of the the pod.

Then I looked inside of the code and [found out](

[2021-07-20 10:25] TBBle commented on #1826
If you [run dockerd with the `DOCKER_WINDOWSFILTER_NOREEXEC` env-var set non-empty](https://github.com/moby/moby/blob/v20.10.7/daemon/graphdriver/windows/windows.go#L56-L67), you should get more information about that failure in the logs.

My immediate guess is that the file or one of the elements of the path is actually a link to an earlier layer, but the target is missing for some reason. It als

[2021-07-20 17:57] sbwsg commented on #4105
All labels from the `TaskRun` are attached to the `Pod`.  Not the annotations though atm.

[2021-07-20 23:12] bobcatfish commented on #4012
sorry it took me so long to reply!! 🙏

One potential downside to this approach is that the container would need to be able to make changes to the cluster (it would need to have the kube config info for the cluster and be able to execute requests to the api server as a user with the permission to modify the TaskRun, or ConfigMap, or whereever we're storing the data. This is kinda the main motivatio

[2021-07-21 04:30] anthonysuterag commented on #4105
@sbwsg I believe the annotations should be attached to the `Pod` as well, because I have successfully done this when I define the tasks in `TaskSpec`. However, if I want to use `TaskRef`, there is no way to define the annotation.

FYI, I have tried combining `TaskRef` (containing the actual steps to be executed) and `TaskSpec` (containing only the required annotations) at the same time, but I got

[2021-07-21 16:17] ghglza commented on #4078
@bobcatfish that sounds great!
For me it seems also that a "pending timeout"  does not belong to pipeline specific settings -- IMHO it would (at least as a start) even suffice if this timeout would be configurable only at controller startup.

[2021-07-21 21:34] #3940 closed

[2021-07-21 21:34] #4098 closed

[2021-07-22 03:55] hokadiri commented on #4097
@bobcatfish , yeah having array results support - in conjunction with task-loops - would be enough to unblock me.

In general being able to convert a json/yaml file to an equivalent object tekton understands and vice versa would be a very helpful feature.

[2021-07-22 08:19] pietervincken opened #4112 "PodSecurityPolicy deprecated in Kubernetes 1.21"
# Expected Behavior
The released deployment manifest doesn't have deprecated resources listed in it.

# Actual Behavior
PodSecurityPolicy tekton-pipelines is listed in the deployment manifest which is a deprecated resource as of 1.21.

# Steps to Reproduce the Problem

1. Download the latest release yaml (tested with 0.26.0)

# Additional Info

- Kubernetes version: 1.21

  **Output of `kubectl ve

[2021-07-22 08:29] badamowicz commented on #4078
I basically agree with @ghglza. However I can see there were also other options discussed in the [last API working group meeting](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.phu0dpe045b).

@bobcatfish: What is your intention of how to proceed with this issue in general? Is there still an ongoing inernal discussion? Will we have to file a feature r

[2021-07-22 11:58] vdemeester commented on #4112
@pietervincken thanks for the issue. Indeed, I think we should *just* remove this from the `config` folder (and thus from the released yamls).

/cc @tektoncd/core-maintainers

[2021-07-22 12:30] goldmann commented on #4083
Sorry for the delay!

@bobcatfish:

In my case I consider a ConfigMap or Secret as a configuration for the Task. Task defines what it needs, for example if the implementation of a Task is to connect to some service that requires authentication - a Secret would be the way to satisfy this requirement. This requirement would be specified on the Task level because this is where we need to have it.

No

[2021-07-22 14:02] vdemeester commented on #3874
/lifecycle frozen

[2021-07-22 14:28] jcatana commented on #4080
This is very useful for buildah or other image building tasks. Clusters with namespace resource quotas MUST have resource limits and requests defined.
Having to define resources statically on the task level can be annoying, I currently need to modify the task templates, and create buildah-small-1GB-ram, buildah-large-30GB-ram type tasks.
Some image builds can be very trivial and small, while other

[2021-07-23 08:21] tibcoplord opened #4116 "Pipelinerun fails with CouldntGetTask (etcdserver: leader changed)"
# Expected Behavior

Pipelinerun continues to run

# Actual Behavior

Pipelinerun reports CouldntGetTask, for example -

[code]

The pipelinerun file-datasource-hmvnr consists of 3 tasks -

* install-datachannel
* wait
* uninstall-datachannel

All exist

The pipeline run reports a detailed status including -

[code]

So the final task, uninstall-datachannel, cannot be executed.

# Steps to Reprodu

[2021-07-23 08:44] nikhil-thomas commented on #3874
Im unassiging myself. At present, Im stretched too thin. 🧑‍💻 🐎
If I take this on, this might continue to starve. 🤓
Kindly excuse this delayed change.

[2021-07-23 08:46] nikhil-thomas commented on #3874
/help wanted

[2021-07-23 09:03] sm43 commented on #3874
/assign

[2021-07-23 10:05] Srivaralakshmi commented on #4086
@bobcatfish Thanks for the update.

[2021-07-25 22:56] pratiktest commented on #4102
Increasing the worker threads to 8 also did not help

[2021-07-26 21:36] joshfrench opened #4118 "Finally task is skipped when dependent on results from a failed task"
# Expected Behavior

According to the docs: "Final tasks are guaranteed to be executed in parallel after all PipelineTasks under tasks have completed **regardless of success or error**."

# Actual Behavior

If a final task references the result of a task which exited with an error, that final task is skipped.

# Steps to Reproduce the Problem

Run a pipeline with:
1. A failing task
2. A final task

[2021-07-26 23:09] bobcatfish commented on #4078
Hey @badamowicz apologies for the delay! The discussion at the API working group last week wasn't super conclusive but it seems like having some controller level configuration around this is something that could work. I've sent an email to tekton-dev to try to get a few more eyes on this and make sure I don't recommend something to you that other folks strongly disagree with 🤞

(also I'm about to

[2021-07-27 00:32] pritidesai commented on #4118
hey @joshfrench, when a task exits with an error, the results are not added to the status. The results are only initialized with successful task. @afrittoli has requested a result (or something similar) to be made available even when a task fails with error, see issue https://github.com/tektoncd/pipeline/issues/3749.

Also, if you have a use case where you would like to continue after a step error

[2021-07-27 09:08] badamowicz commented on #4078
You're welcome! We also do appreciate the deep investigation you're putting into this issue. Have a nive holiday!

[2021-07-27 10:33] vinamra28 commented on #4080
/assign

[2021-07-27 13:39] joshfrench commented on #4118
Thanks @pritidesai, that's helpful context. Until one of those features is merged, is wrapping a step with `exit 0` how the community typically works around this?

[2021-07-27 16:42] dibyom commented on #4112
Some background reading: https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/

[2021-07-27 17:34] pritidesai commented on #4118
That is correct, its a workaround until we have issue #3749 fixed and PR #4106 merged.

[2021-07-27 17:57] #3874 closed

[2021-07-27 18:02] joshfrench commented on #4118
Thanks! Looking forward to those changes.

[2021-07-27 18:02] #4118 closed

[2021-07-28 04:15] devholic commented on #1606
Any updates on this issue? 🧐

[2021-07-28 13:44] sbwsg commented on #4116
It sounds like Tekton's [request for the Task](https://github.com/tektoncd/pipeline/blob/main/pkg/reconciler/taskrun/resources/taskref.go#L138-L154) failed because k8s hit turbulence talking to its database that it couldn't recover from. A quick search around suggests that one possible source of the underlying etcd message is related to speed of the storage it's running on but I'd bet there are a

[2021-07-28 14:10] tibcoplord commented on #4116
Well, I think this can happen when kubernetes nodes come and go.  I wouldn't expect such a message from kubernetes to interfere with tekton status.

I did manage to capture this effect in the tekton webhook logs -

[code]

which resulted in -

[code]

The problem is that this pipelinerun, test-datasink-bszgt, is no-longer useable ... its stuck at CouldntGetTask.

[2021-07-28 14:27] imjasonh commented on #1826
The [`ko` Windows PR](https://github.com/google/ko/pull/374) is merged! 🎉

Oh the .exe suffix isn't needed? That simplifies things, I'll make that change to ko then (https://github.com/google/ko/pull/400) -- thanks!

I've rebuilt the gcr.io/imjasonh/combined base image, and entrypoint with the exe-dropping change, please try them out and see what else breaks 😆

[code]

Yeah, while I was working on

[2021-07-28 16:29] imjasonh commented on #3175
/reopen
/lifecycle frozen

Excessive etcd storage is still an issue when results and pruning aren't configured.

We should run some tests to get a rough idea how many resources can be reliably stored in etcd storage at different resource levels, both as documentated guidance to operators and as a sales pitch for enabling results and/or pruning to avoid these issues.

While we're doing this, we sho

[2021-07-29 06:41] yuanyanran opened #4125 "PipelineRun keep in CancelledRunningFinally status and finally task not be executed when updating running pipelineRun spec status to CancelledRunFinally"
# Expected Behavior
Finally task to be executed and pipelineRun status to be Cancelled after finally task done when updating running pipelineRun spec status to CancelledRunFinally
# Actual Behavior
If the pipeline DAG task with retries parameter grater than 0, when I update running pipelineRun spec status to CancelledRunFinally, running task to be cancelled but finally task not be executed and pip

[2021-07-29 18:14] pratiktest commented on #4102
QPS=100 and Burst=100 increased the performance by a lot. The default values of 5 and 10 seemed to be the bottleneck
https://github.com/tektoncd/pipeline/blob/main/docs/tekton-controller-performance-configuration.md

[2021-07-29 18:14] #4102 closed

[2021-07-30 06:41] SaschaSchwarze0 commented on #3902
Hit a similar error which would have been worth a retry as the root cause was a network hickup:

[2021-07-30 13:59] SaschaSchwarze0 commented on #3902
Stumbled over yet another error. When there is a webhook in place for pod creations and this - for whatever reason - is not responsive:

Also something that is worth a retry rather than failing the TaskRun.

[2021-07-30 17:31] jerop opened #4130 "Invalidate passing `Results` from a `Finally Task` to another `Finally Task`"
# Expected Behavior
A `Pipeline` that passes a `Result` from one `Finally Task` to another `Finally Task` fails validation and is not executed

`Finally Tasks` are to be executed in parallel after all `Tasks` are done, therefore we cannot have dependencies between `Finally Tasks`

Further details in:
- [TEP-0004: Task Results in Final Tasks](https://github.com/tektoncd/community/blob/main/teps/000

[2021-07-30 19:30] afrittoli commented on #3902
Thanks for this report @SaschaSchwarze0.

The only error that we consider as a temporary one today is the [quota exceeded](https://github.com/tektoncd/pipeline/blob/49244c66b1a15cd6d104ec4a0f8a2104c3aa571a/pkg/reconciler/taskrun/taskrun.go#L693). It may be difficult for other errors to know whether they are permanent ones or not. But there may be other cases where a retry is a valid option.

The i

[2021-07-30 19:31] afrittoli commented on #3902
@tektoncd/core-maintainers thoughts? ^^^

[2021-07-30 20:22] jerop commented on #4125
The issue is that `Finally Tasks` are executed only when all `DAG Tasks` are _done_
https://github.com/tektoncd/pipeline/blob/535006925b60ed8a4ff41659a6632e055cfc47c3/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go#L298-L316

Where _done_ means a `Task` is _skipped_, _succeeded_ or _failed_

https://github.com/tektoncd/pipeline/blob/535006925b60ed8a4ff41659a6632e055cfc47c3/pkg/reconciler/

[2021-08-02 02:10] aiden-deloryn commented on #1826
@imjasonh Good job on the ko PR. I've done some testing with the ko built images you provided and it appears everything is working! :smile: :tada:

The only outstanding problem for Windows that I am aware of is support for *script mode* which is being addressed by https://github.com/tektoncd/pipeline/pull/4128.

<details>
  <summary>windows-task.yaml</summary>

[code]
</details>

[code]

[2021-08-02 17:06] #4130 closed

[2021-08-03 17:55] jerop commented on #4125
thank you for the issue report @yuanyanran!

fixing in https://github.com/tektoncd/pipeline/pull/4136

[2021-08-03 20:14] wlynch commented on #3799
/remove-lifecycle rotten I think this is the root cause of https://github.com/tektoncd/pipeline/issues/2316 - probably worth doing to make sure we're using consistent credentials.

[2021-08-03 20:15] wlynch commented on #3799
@sbwsg I know you've been looking at related k8schain code recently. cc-ing you in case you have any interest in this issue.

[2021-08-04 08:03] #4125 closed

[2021-08-04 08:13] yuanyanran commented on #4125
@jerop Thanks for your quick action

[2021-08-04 22:15] peteyako opened #4137 "Tekton pipeline and PersistentVolumes with accessMode ReadWriteMany"
# Description
You wonder if this bug report belongs here, but I think it does, so bear with me.

When we first set up the Tekton pipelines on OpenShift, we were using EBS storage for our Persistent Volumes. Cleaned up the pipeline code and made sure each pipeline run would use a folder based on the api/app name so that two separate pipeline runs wouldn’t overwrite each other when they run at the s

[2021-08-05 06:31] julienje commented on #3617
Hi @afrittoli
I found this ticket and on my project we also use tekton cloudevent notification to do some business after a build.
We don’t see duplicate for successful event but we (almost always) have 2 events for failed pipeline.
If I understood your answer correctly it’s not possible to grantee uniqueness of events, it’s still the case? You also mention that is possible that this issue is comin

[2021-08-05 12:08] #4061 closed

[2021-08-05 12:48] #3715 closed

[2021-08-05 12:48] #3721 closed

[2021-08-05 18:01] #3962 closed

[2021-08-05 21:34] hokadiri opened #4141 "Inconsistent results hitting metrics endpoint for tekton_pipelines_controller_pipelinerun_duration_seconds_ metric"
# Expected Behavior
Hitting the `/metrics` endpoint to get `tekton_pipelines_controller_pipelinerun_duration_seconds_` should be consistent and have data
# Actual Behavior
Hitting the `/metrics` endpoint to get `tekton_pipelines_controller_pipelinerun_duration_seconds_` is inconsistent

# Steps to Reproduce the Problem
Hit the `/metrics` gets inconsistent results. Sometimes it has data, other time

[2021-08-07 15:53] ornew commented on #4071
Yes, I saw what was happening. This is because it is not the expected behavior. I checked whether it was intended.

The problem for me is that Tekton still doesn't guarantee the execution of `finally` at all. This is a really serious problem for operating in production, as Tekton we operate has caused a lot of resource leaks and a lot of damage by not running finally. It's the biggest problem with

[2021-08-07 17:47] souleb commented on #4071
If you look at the related tep [TEP-46](https://github.com/tektoncd/community/blob/main/teps/0046-finallytask-execution-post-timeout.md), you will see what you talk about in the alternative section. There have been a lot of discussion around whether the execution of `finally` tasks must be guaranteed. If I remember well I think we agreed that the new `timeouts` would give enough flexibility to eve

[2021-08-07 20:36] hokadiri opened #4143 "Allow variables in generateName field"
### Feature request

Allow variable names in `generateName` field of pipelinerun. Allows one to set useful variables so its more apparent at a tkn or dashboard level

### Use case
Our pipelines are triggered from git events based off `git sha`. I want to know set git sha in the pipelinerun name

[code]

it would be nice to be able to see what pipelineruns map to what git sha at the dashboard view

[2021-08-08 14:32] ornew commented on #4071
The real problem for us is that finally execution is not guaranteed.

But I'm not saying that the timeout should guarantee the execution of finally. I would like to know out whether the reason why finally is not running is motivated by a proper and intentional reason.

The TEP-46 said:

Actually, it run `tasks` beyond `timeouts.tasks` when retries occur. Does this behavior match the TEP descriptio

[2021-08-09 21:13] #3786 closed

[2021-08-10 06:43] muxmuse commented on #2925
- The [container contract](https://github.com/tektoncd/pipeline/blob/main/docs/container-contract.md#container-contract) suggest specifying a command in favor of a script
- An image used in a step usually provides one single command. Using a script makes further assumptions about the image (e.g. bash/sh available)

That's why I think the issue should stay open.

/remove-lifecycle stale

[2021-08-10 16:36] jstrachan commented on #2069
it might be less confusing not talk of `debugging` (which could involve actually language/runtime debuggers being bound into the pod) and instead talk about `breakpoints` - which would be super useful.

also rather like the comment from @imjasonh here https://github.com/tektoncd/pipeline/pull/2331#issuecomment-611085559 it might be better to have a way to define the steps that there is a breakpoin

[2021-08-10 16:41] bobcatfish commented on #3799
/remove-lifecycle rotten

[2021-08-10 16:42] #3804 closed

[2021-08-10 16:42] #3796 closed

[2021-08-10 16:43] #3760 closed

[2021-08-10 16:45] bobcatfish commented on #3739
Seems like a legit bug - we should at least investigate if we can reproduce before closing.

/remove-lifecycle rotten

[2021-08-10 16:45] bobcatfish commented on #3704
@ishallbethat let us know if you have any outstanding questions, closing this for now

[2021-08-10 16:46] #3704 closed

[2021-08-10 16:46] #3644 closed

[2021-08-10 16:47] bobcatfish commented on #3557
@alan-ghelardi and others, please re-open if you are still seeing this with more recent releases 🙏

[2021-08-10 16:52] bobcatfish commented on #3497
Feels like we are still not 100% sure what the desired behavior is here so I'd like to keep discussing

/remove-lifecycle rotten

[2021-08-10 16:54] bobcatfish commented on #3440
After a brief discussion with pipeline owners today we're generally in favor of this feature so:

/remove-lifecycle rotten
/lifecycle frozen

[2021-08-10 16:55] bobcatfish commented on #3021
Sounds like this has been happening _less_ but still happening so:

/remove-lifecycle rotten

[2021-08-10 16:59] bobcatfish commented on #2684
👍  to what @sbwsg said and freezing this so we dont have to keep un-rottening it

/remove-lifecycle rotten
/lifecycle frozen

[2021-08-10 17:00] bobcatfish commented on #2668
Discussed in pipeline owners meeting, feels like one good option here could be some documentation with some recommendations at the least

/remove-lifecycle rotten

[2021-08-10 17:04] bobcatfish commented on #2298
Discussion has been continuing around this topic via [the experimental workflows project]((https://github.com/tektoncd/community/issues/464)) (and related projects such as [pipeline as code](https://github.com/tektoncd/community/pull/341) and WG, and also via [TEP-0060 remote resolution](https://github.com/tektoncd/community/blob/main/teps/0060-remote-resource-resolution.md) (and https://github.co

[2021-08-10 17:05] sbwsg commented on #2862
@zhouhaibing089 could you go into a bit more detail about why it's still relevant?

On one hand, when you use `volumeClaimTemplate` Tekton will introduce an owner reference so that the volume is cleaned up when the PipelineRun gets cleaned up. I believe it is possible to go in and delete that underlying volume by forcefully removing the `finalizer` attached by the owner reference but that's very m

[2021-08-10 17:19] zhouhaibing089 commented on #2862
@sbwsg: Sorry about not adding enough detail in my previous comment.

That's right - when pipelinerun is deleted, the taskrun/pod/pvc will all be deleted. That's what we are doing as well.

But I doubt that's the best practice. As you mentioned, the log is a problem, if we delete the pipelinerun, we also lose the history records(I mean we lost the entrypoint to view logs). We need to have a place

[2021-08-11 14:05] #2127 closed

[2021-08-12 10:21] catshout opened #4148 "Error from server (InternalError): error when creating "hello.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post "https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=10s": context deadline exceeded"
# Expected Behavior

Tekton Task creation

# Actual Behavior

```Error from server (InternalError): error when creating "hello.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post "https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=10s": context deadline exceeded```

# Steps to Reproduce the Problem

1. k8s cluster (gke) on GCP
2. ```

[2021-08-12 14:08] jerop commented on #4086
fixed in https://github.com/tektoncd/pipeline/pull/4090

/close

[2021-08-12 14:08] #4086 closed

[2021-08-12 16:19] sbwsg opened #4150 "Convert `"InternalTektonResult"` from string to int enum"
Every Step that Pipelines runs emits a JSON object with metadata about its execution: the content of task results, a StartedAt timestamp, step exit codes etc etc.

The JSON object is passed back to the Tekton Controller by way of the "Termination Message", a Kubernetes feature that allows a Container to write a short amount of content that ends up back in the Pod's YAML. The emphasis here is on "s

[2021-08-12 23:07] sbwsg opened #4153 "Update `publish-release` task to support release signing"
### Feature request

Sign the images that we publish during a release.

### More Info

Over in the Plumbing repo we now have [a documented guide to signing Tekton releases](https://github.com/tektoncd/plumbing/blob/main/docs/signing.md) in the dogfooding cluster.

In order to support signing we need to update our image publishing machinery to emit a result with name `IMAGES` and a given format. I

[2021-08-13 14:02] DrissiReda opened #4155 "Git-init refuses to use http while pulling from repo"
Currently hosting a gitea repo inside my kubernetes cluster.

This works:

[code]

This doesn't

[code]

With the error:

[code]

Why am I getting :

[code]

The git-init image I'm using is:

gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:v0.23.0

Gitea version I'm using: docker.io/gitea/gitea:1.14.4-rootless

[2021-08-13 14:04] priyawadhwa commented on #4153
Awesome! Yup, `IMAGES` will work -- basically it expects a comma-separated list of images built in that TaskRun, qualified by digest.

The [chains publish.yaml](https://github.com/tektoncd/chains/blob/main/release/publish.yaml#L51) might be a helpful example.

[2021-08-13 14:09] DrissiReda commented on #4155
The problem is caused by the non existence of the branch master. I have messed up my git push, but the message isn't clear, as it mentions some ssh issue.

[2021-08-13 14:09] #4155 closed

[2021-08-13 17:30] #4153 closed

[2021-08-13 21:52] bobcatfish commented on #1289
Quick passing thought - now that we have both params and results (and also workspaces), we could provide tools / libs to write "tests" that exercise Tasks and Pipelines with certain inputs and check for expected outputs and workspace contents. Maybe not as much of  "unit test" as we'd like but probably a useful test for many cases 🤔

(Also wondering if there might be some overlap with the catalog

[2021-08-13 22:18] bobcatfish commented on #4078
Thanks @badamowicz ! :D it was nice to have some time away

So quick update, there were no strong replies to [the thread in tekton-dev](https://groups.google.com/g/tekton-dev/c/03TnHHEo5Iw) so it seems like adding some kind of controller level "pending timeout" could be an acceptable solution - if that's something you think might work for you, the next step [for proposing a feature](https://github

[2021-08-16 10:30] sm43 opened #4158 "Pipelinerun doesn't show status on k8s 1.22"
# Expected Behavior
pipeline runs successfully

# Actual Behavior
pipelinrun doesn't show any status

# Steps to Reproduce the Problem

1. Install pipeline on k8s 1.22
2. install any pipeline and create a pipelinerun
3. check the status of pipelinerun

# Additional Info

Controller shows following error
***
{"level":"error","ts":"2021-08-16T10:19:47.673Z","logger":"tekton-pipelines-controller","ca

[2021-08-16 10:42] vdemeester commented on #4158
cc @mattmoor

[2021-08-16 10:42] vdemeester commented on #4158
Might be related to https://github.com/knative/serving/issues/11448#issuecomment-899372785

[2021-08-16 11:01] markhulia opened #4159 "No pods are created when triggering pipelines"
Hi, we're having a strange issue in our cluster and can't figure out what's happening. We're triggering tekton pipelines from Github webhook and everything worked fine until today. Right now, the pipelines are still being triggered, but no pods are created whatsoever.
Here're the logs from the event-listener

[code]

`pipelineRun` pops up in the tekton-dashboard, but all the tasks are `Pedning`, a

[2021-08-16 14:16] 06kellyjac commented on #4159
@markhulia could you review this issue to see if your problem is similar? #3898

[2021-08-16 14:26] 06kellyjac opened #4160 "scripts shouldn't be writable after placement"
# Expected Behavior

Expected the scripts to be uneditable after placement

`read-only file system: /tekton/scripts`

# Actual Behavior

You can edit scripts from within steps. If this modification is done ahead of a step executing and results in the modified behaviour.

# Steps to Reproduce the Problem

This was done using tekton deployed by the `0.22.0-1` edition of the operator

Apply and run t

[2021-08-16 15:07] markhulia commented on #4159
Looks very similar indeed, `pipelineRun`s have no status and fail after 1 hour with `timeout`. Thanks for linking! Also identical issue here https://github.com/tektoncd/pipeline/issues/2863

[2021-08-16 15:16] markhulia commented on #4159
/kind bug

[2021-08-16 15:22] bigfleet opened #4356 "Leveraging label propogation"
# Expected Behavior

I visited the Tekton documentation website with the expectation of learning how I could ultimately apply a label to the pod created from a TaskRun.

# Actual Behavior

[The label page](https://tekton.dev/docs/pipelines/labels/) described propagation exactly as I'd hoped, but not whether I could take advantage of it with my own labels, or how/where.

# Steps to Reproduce the Pr

[2021-08-16 18:15] jerop commented on #3903
/assign

[2021-08-16 20:07] jerop commented on #3903
Thank you for the issue report @andrewballantyne!

Fixing it in https://github.com/tektoncd/pipeline/pull/4163

[2021-08-16 21:59] jerop commented on #4067
/assign

[2021-08-17 09:07] Evertras commented on #3468
Is this being actively worked on somewhere?  Or is this something I could help out with?  We would love to have this natively in Tekton for our users to write their own `when` expressions with basic regex matching rather than deal with a custom task.

[2021-08-17 09:43] yuanyanran opened #4165 "Pipeline task retries not working occasionally"
# Expected Behavior
Pipeline dag tasks with retries should retry when the taskRun failed
# Actual Behavior
The pipeline dag task with retries did not retry when corresponding taskRun failed or the times retried actually less than task retries setting .
The PipelineRun keep in running state.
[code]
The TaskRun keep in failed state and no new pods to be created.
[code]
 It is an occasional problem.

[2021-08-17 12:05] alanjjenkins opened #4166 "Katacoda course broken"
# Expected Behavior
After the initial install during the Katacoda course the pods should be running and healthy.

# Actual Behavior
The pods fail to start as the Katacoda Kubernetes environment is 1.18 which is incompatible with the current version of TektonCD so you get an error in the pod logs:

[code]

# Steps to Reproduce the Problem

1. Start the Katacoda course.
2. Install the linked manifes

[2021-08-17 17:10] bobcatfish commented on #4166
Hey @alanjjenkins ! Sorry you're running into this :(

Is this the katacoda course you see at https://tekton.dev/try/ (which links to https://katacoda.com/tektoncd/scenarios/dashboard) or https://katacoda.com/tektoncd/scenarios/playground, or a different katacoda tutorial? Unfortunately we kinda added those tutorials and didn't really follow up on them 😅  though we really want to improve this expe

[2021-08-17 18:12] sbwsg opened #4167 "Possible flakey unit test `TestConvertScripts_WithBreakpoint_OnFailure`"
# Expected Behavior

Unit tests should be relatively consistent in their success / failure.

# Actual Behavior

`TestConvertScripts_WithBreakpoint_OnFailure` appears to fail a bit randomly. I saw this during the release process for 0.27.0 and 0.27.1 - the process failed quite a few times on this UT but then managed to succeed after some number of reattempts. I've also now seen this locally as well

[2021-08-17 23:03] #3903 closed

[2021-08-17 23:55] ghost opened #4169 "`workspace-in-sidecar` example test is very flakey"
# Expected Behavior

Examples should run reasonably consistently from PR to PR.

# Actual Behavior

I estimate that the `workspace-in-sidecar` example fails about half the time I initiate an integration run in our CI. It just doesn't seem to be able to complete successfully on a regular basis. It's super unclear why this is but here's the error log from the [most recent run](https://tekton-release

[2021-08-18 00:01] sbwsg commented on #4169
Here's a snippet of the yaml from the most recent failure I saw:

[code]

[2021-08-18 17:58] wlynch commented on #2072
/reopen
/remove-lifecycle rotten

[2021-08-18 18:50] huang195 opened #4172 "Is it possible to install Tekton in a different namespace"
I searched the opened/closed issues, so hopefully I'm not creating a duplicate issue. In my case, I want to install Tekton in a different namespace than `tekton-pipeline`. However, the install yaml file seems to hard code this namespace, as in

[code]

There doesn't seem to be an option that allows me to install this in a different namespace. Any workarounds?

[2021-08-18 20:19] hakuna-matatah opened #4173 "Workspace default to `empty Dir`"
### Feature request

Today we need to define workspace  as part of triggertemplate or Task or pipeline:
[code]

### Use case

Could we have it defaulted to `emptyDir` when nothing is specified ?

[2021-08-19 10:33] Duologic commented on #4080
keywords for search: variable substitution

[2021-08-19 10:45] lichunf commented on #4148
I got the same error.

[2021-08-19 14:05] sbwsg commented on #4173
Bringing over my comment from Slack:

You can configure `emptyDir` to be the default for taskruns today.  We don't have a general approach like this for pipelineruns tho.

Edit the `config-defaults` configmap in your `tekton-pipelines namespace and set the `default-task-run-workspace-binding` to be the workspace binding you want (e.g. `emptyDir: {}`)

Example: https://github.com/tektoncd/pipeline/

[2021-08-19 14:07] sbwsg commented on #4173
Also I just realised we do already have a feature ticket for this.

Closing as a duplicate of https://github.com/tektoncd/pipeline/issues/2595

[2021-08-19 14:07] #4173 closed

[2021-08-19 15:04] hakuna-matatah commented on #4173
Thanks for the details. I'm looking for something in pipelineruns. This ticket would help - https://github.com/tektoncd/pipeline/issues/2595

[2021-08-19 15:55] sbwsg commented on #4172
Pipelines should work in another namespace but you'll need to manually edit the release.yaml so that the namespace + all references to it are updated.

/kind question

[2021-08-19 17:06] mattmoor commented on #3590
@bobcatfish Ack on the ambiguity.  I think this could be addressed by something like this precedent in containerd: https://github.com/tektoncd/pipeline/issues/3590#issuecomment-744576896

I'm going to move this into a TEP, which seems like a better place to discuss the various aspects.  Mea culpa for not doing that in the first place.

[2021-08-19 21:01] mattmoor commented on #3590
Closing this in favor of the linked TEP.

[2021-08-19 21:01] #3590 closed

[2021-08-21 05:14] sm43 commented on #4150
/assign

[2021-08-21 22:24] mattmoor opened #4177 "TestPullRequest doesn't work on macbook"
# Expected Behavior

Test should pass

# Actual Behavior

Fails with:
[code]

This is because of this line: https://github.com/tektoncd/pipeline/blob/44fb5362874cfbae3587d868b732a9410a41ccc5/test/pullrequest/e2e_test.go#L106

# Steps to Reproduce the Problem

Run TestPullRequest on a macbook.

# Additional Info

cc @vdemeester looks like this change introduced the flag: https://github.com/tektoncd

[2021-08-21 22:25] mattmoor commented on #4177
It passes for me if I change `Z` -> `w`.  Happy to send a PR if folks would be receptive, but wanted to start here.

[2021-08-21 22:28] mattmoor commented on #4177
I have the change, I may as well YOLO a PR.  That needs two sets of eyes anyways 😂

[2021-08-22 19:16] mattmoor opened #4179 "PipelineRun controller mutates the TaskRun lister cache"
# Expected Behavior

All taskruns fetched via the lister are copied prior to any mutation.

# Actual Behavior

This section of code fetches a TaskRun from the lister, and mutates it:
https://github.com/tektoncd/pipeline/blob/44fb5362874cfbae3587d868b732a9410a41ccc5/pkg/reconciler/pipelinerun/pipelinerun.go#L749-L758

Note that while `addRetryHistory` copies the status field, it writes the result b

[2021-08-23 11:04] vdemeester commented on #1461
knative does this now, one try is available here : https://github.com/tektoncd/pipeline/compare/main...vdemeester:schema-gen.
The limitation, as of today, is that it doesn't work with multiple version CRDs (such as ours), it panics..

[2021-08-23 14:43] #4179 closed

[2021-08-23 16:06] #4177 closed

[2021-08-23 17:43] gaodan-fang commented on #1548
Hi @faust64 , I met the same issue, did you happen to figure out any workaround for this problem?

[2021-08-23 19:27] onedr0p commented on #1542
/remove-lifecycle stale

[2021-08-23 19:41] faust64 commented on #1548
No.

Case has been close in favor of #1530 . Which was closed, for no reason. There's no follow-up. It used to be planned for 1.0, then 1.1. Now I have no idea.

It's been over a year I'm waiting for a fix, wasting resources over-allocating requests on all my jobs.
This is ridiculous. Coming from OpenShift, BuildConfig are still more interesting in that regards, when available.

[2021-08-23 19:50] faust64 commented on #1530
So? Where are we at?
@dibyom @vdemeester ?
This is still an issue.
Why is that case closed?
Any plan to get this fixed?

[2021-08-24 08:14] vdemeester commented on #1542
Yeah that could work tbh.

[2021-08-24 08:55] tlawrie commented on #4012
Hi @bobcatfish its now my turn to apologize for taking so long. Ill try and circle back around, also happy to get on a separate Slack / Google Meet call to discuss and work through turning into a TEP.

I can confirm its definitely a size limitation, we have a reasonable number of tasks that have large results. Possibly hard for me to explain why, but its for automatic ease of referencing them in f

[2021-08-24 09:30] mjgkaastrupandersen commented on #4067
Hi jerop

Thanks for the followup.

Although I could definitely see a future use case for embedding Pipelines in Pipelines, it would, in my opinion, add unnecessary complexity, when I just wish for something simple as grouping of tasks.

Without any prior knowledge about how tekton pipelines are parsed internally, I would have hoped, that adding something like a taskgroup i.e.

[code]

could be a

[2021-08-24 10:17] tlawrie opened #4187 "ResolveEntrypoints looks up manifest breaking Dockhub Registry Limit"
# Expected Behavior
The (global) cache would be used for the image command across all TaskRuns.

# Actual Behavior
Every new TaskRun generated (with no command set) seems to make its own call out to Dockerhub to retrieve the manifest, causing a count against the Dockerhub limits.

# Steps to Reproduce the Problem

1. Create TaskRuns directly (not using a PipelineRun)
2. Don't specify a command
3.

[2021-08-24 11:02] imjasonh commented on #4187
The call that hits the remote registry is here: https://github.com/tektoncd/pipeline/blob/1f5980f8c8a05b106687cfa3e5b3193c213cb66e/pkg/pod/entrypoint_lookup_impl.go#L80

We could potentially save some rate-limited requests by calling `remote.Head` first, which resolves a tag to a digest without incurring a rate-limited request, and if that digest is in the cache, we can get its entrypoint. If not,

[2021-08-24 15:35] bobcatfish commented on #4078
Hello again @badamowicz and everyone - in a surprising change of events, I'd actually like to go back on what I said and advocate for what @badamowicz was asking for all along 🙏   namely to be able to configure this on a per-run level. The reason for this is that we've been exploring how to have parity with Google Cloud Build (GCB) and Tekton, i.e how to implement build configured with GCB using T

[2021-08-24 17:05] vdemeester commented on #4078
no is temporary, yes is forever 😝

[2021-08-24 17:56] imjasonh commented on #4187
https://github.com/tektoncd/pipeline/pull/4188 is an attempt to address this.

[2021-08-24 20:22] sbwsg opened #4190 "Allow behavioural change flags to be controller per-Namespace or per-PipelineRun"
### Feature request

When a flag like `enable-home-env-override`, `enable-working-dir-override`, `scope-when-expressions-to-task` is introduced to Tekton allow this flag to be set on a per-Namespace (or maybe even per-PipelineRun) basis.

### Use case

There are a couple of use-cases for this kind of control:

1. An organization might not be able to immediately determine how a behavioural change w

[2021-08-25 00:01] tlawrie commented on #4187
Amazing. Thanks, @imjasonh. I've learned a little bit more about the code structure yet again today.

Clarification question, it's storing in the cache with the digest as the key or the image name as the key?

The use case I am thinking of is different TaskRuns (with different parameters) but reference the same image. In this case will the image be in the cache?

[2021-08-25 02:25] imjasonh commented on #4187
The LRU cache stores digest->entrypoint. If the image isn't specified by digest, we have to resolve the name->digest, which we used to always do with an image pull, and with #4188 we'll try with a HEAD request first.

[2021-08-25 03:02] jkdihenkar commented on #3718
This same problem exists when writing Jenkinsfile.

when writing under stage -> sh """ ... """

If there is `$(something)` -> is interpreted as groovy variable.
If there is `\$(something)` -> is treated as bash variable.
If there is `\\\$(something)` -> is treated as a string.

[2021-08-25 07:18] badamowicz commented on #4078
Hey @bobcatfish , interesting news! I was about to file a TEP for controller-level timeouts, but will stop this for now. And don't worry about the "back and forth". Good things take time! (At least this is a saying in Germany.) :relaxed:

[2021-08-25 08:55] vdemeester commented on #4190
Note that this can apply to most `config` that we have, like `config-defaults` for example. Being able to set a different default ServiceAccount per namespace would be super useful.

[2021-08-25 17:46] riceluxs1t opened #4193 "Tekton sidecar's readyness"
### Feature request

A way to define Tekton sidecar's "readyness".

It does not seem like Tekton respects the K8s container level readyness probe.

### Use case

We have a step container in a Task and a sidecar container. The sidecar container provisions ssh agents and exposes sockets to the step container. The step container needs to wait until the sidecar container finishes provisioning ssh agen

[2021-08-25 18:46] #4193 closed, assigned to nobody

[2021-08-28 09:49] leandrodamascena opened #4199 "Problems with command execution in task"
I'm trying to build a pipeline to send artifacts to AWS CodeArtifact and I'm having issues with some strange behavior.

# Expected Behavior
Execute successfully login into AWS CodeArtifact

# Actual Behavior
I can't because task definitions replace single and double quotes and aws cli can't understand or taskrun tries to run dotnet command, but dotnet is a command argument and not a command

# Ste

[2021-08-30 09:19] michaelsauter commented on #4080
I came across this as I naively hoped to set the resource constraints via parameters. I think this feature is crucial as the place to decide the resource requirements is more likely the pipeline than the task.

I guess the regex validator would need to allow a parameter reference then?

[2021-08-30 15:46] #4167 closed

[2021-08-31 15:11] julweber opened #4202 "Allowing to run tekton on a kubernetes cluster installed on a raspberry pi"
### Feature request

It would be great to be able to run tekton on top of a kubernetes installation on a raspberry pi (e.g. with k3s installed)

### Use case

Being able to run kubernetes on a raspberry pi can be pretty useful to host tiny test environments.
It would be even better if we could automate workloads with tekton on top of that.

### Current state
Right now, when i try to install tekton

[2021-08-31 15:12] julweber commented on #4202
On a further search i found this related topic: https://github.com/tektoncd/pipeline/issues/856

[2021-08-31 15:13] julweber commented on #856
+1, see https://github.com/tektoncd/pipeline/issues/4202 also

[2021-08-31 15:39] vdemeester commented on #4202
@julweber is this arm or arm64/aarch64 ? We do ship arm64 images but we don't do on arm yet, mainly due to a problem with `alpine` on this platform (that might have been fixed now, we should try it back)

[2021-08-31 20:25] julweber commented on #4202
@vdemeester thanks for the super fast reply. I am currently using the arm version of raspbian. So i will check with arm64 version sometime this week when i find a free time window and report back. In addition it would anyways be nice to also support arm, as then a raspberry pi 2 will also be supported i guess.

[2021-08-31 21:15] aemengo commented on #3798
I am also running into this issue 👋🏾

[2021-09-01 07:58] julweber commented on #4202
@vdemeester I found some time this morning and reinstalled the pi with the 64bit raspbian version and the k3s installation and the tekton-pipelines-controller and tekton-pipelines-webhook run fine on this 👯

So i expect we can mark this feature request as closed. @vdemeester Maybe we could add that a 64bit arm kernel is required for tekton on raspberry pis somewhere in the documentation?

Kind reg

[2021-09-01 07:58] #4202 closed

[2021-09-01 08:00] julweber commented on #4202
For people stumbling over this:

Tekton requires a 64bit OS for running on a raspberry pi (Sept 2021)

Here you can find the 64bit raspbian images for example: https://downloads.raspberrypi.org/raspios_lite_arm64/images/

[2021-09-01 12:54] pschildkamp commented on #4012
Hello,

We are also facing issues using the results feature in TekTon. When using pipelines with tasks that emit results, we are observing random failures in downward tasks where emitted results sometimes are empty.

According to the documentation here https://tekton.dev/docs/pipelines/tasks/#emitting-results, results are emitted using the container termination message feature of Kubernetes. We ar

[2021-09-01 12:56] vdemeester commented on #4012
/cc @jerop @pritidesai

[2021-09-01 13:31] pritidesai commented on #4012
thanks @pschildkamp for reporting this.

@sbwsg has requested changes to avoid termination message for this kind of use (results, started time, exit code, etc) in issue #4150. @sm43 is looking at the short term solution and has PR opened #4186.  If these changes does not help resolve the issue, we can definitely look into long term solution.

[2021-09-01 14:19] pschildkamp commented on #4012
Hello @pritidesai,

Thank you for your quick response. The sizing of the result object doesn't seem to be an issue for us. But the result is missing entirely sometimes. This gives us the impression that the next task is started before the previous had a chance to write the result via container termination message. We have no idea how the controller deals with task terminations.

We think that the

[2021-09-01 15:24] sbwsg commented on #4012
Very interesting issue, thanks @pschildkamp, do you have an example Pipeline that you're able to reproduce the problem with consistently / more consistently than others? Or the yaml saved from any PipelineRuns where this issue appears?  I'd be very interested to investigate a bit further. In the mean time I will try setting up a test against a cluster with a couple of nodes and many PipelineRuns t

[2021-09-01 17:05] rporres commented on #4080
Looks like a duplicate of https://github.com/tektoncd/pipeline/issues/1530, which got closed without resolution

[2021-09-02 07:21] pschildkamp commented on #4012
Hey @sbwsg,

I've attached YAML files of the failed pipelines run and the succesfull pipelinerun with exact the same configuration and parameteres. They are too large to put in this post.

[failed_pipelinerun.yaml.zip](https://github.com/tektoncd/pipeline/files/7096867/failed_pipelinerun.yaml.zip)
[success_pipelinerun.yaml.zip](https://github.com/tektoncd/pipeline/files/7096868/success_pipelinerun

[2021-09-02 07:46] rporres commented on #4080
I've had to write automation to create tasks that only differ in the steps resources, so this would be very welcomed. I guess the problem here is that you have to move somewhere else the resources format check as it cannot be anymore in the Task admission webhook.

[2021-09-02 09:26] DrissiReda opened #4211 "Tekton admission webhook complains about the when clause in my pipeline"
I'm using these versions of tekton

<details>
<summary> tekton images tags </summary>

[code]
</details>

When I try to add this pipeline:

<details>
<summary> pipeline </summary>

[code]

</details>

When I try to add this to my kubernetes dashboard, I get this error:

[code]

I'm only going off of [this](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/pipelinerun-wit

[2021-09-02 09:38] vdemeester commented on #4211
@DrissiReda Hello 👋🏼
The `when` field is only available in `v1beta1` api version ; looking at your pipeline, it seems you are using `apiVersion: tekton.dev/v1alpha1`, which is the reason why it is not allowed. Switching it to `v1beta1` should fix the problem (but be aware of [migration between v1alpha1 and v1beta1](https://github.com/tektoncd/pipeline/blob/main/docs/migrating-v1alpha1-to-v1beta1.m

[2021-09-02 09:41] DrissiReda commented on #4211
@vdemeester thank you very much ! Any idea about when this is supposed to hit alpha? Also do you have a fixed delivery cycle ? So I can look out for updates.

[2021-09-02 10:16] vdemeester commented on #4211
It's never gonna hit alpha. The usual "cycle" of api is `v1alphaX` -> `v1betaX` -> `v1`. `v1alpha1` api version will be deprecate soon and in an year or less, it won't even be served by pipeline. As of today, anybody using `v1alpha1` api should migrate to `v1beta1`.

[2021-09-02 10:31] DrissiReda commented on #4211
Thanks, I've switched to  `v1beta1`. I'm currently trying to run pipelines-in-pipelines. I installed this: https://github.com/tektoncd/experimental/tree/main/pipelines-in-pipelines And I still get the error:

[code]

I'm running this pipeline in a different namespace from the controller. But I've seen that the pip-run-controller uses ClusterRoles so I shouldn't have namespace restrictions.

[2021-09-02 12:26] vdemeester commented on #4211
Are custom tasks enabled on your tekton instance ? (see [here](https://github.com/tektoncd/pipeline/blob/main/docs/install.md#customizing-the-pipelines-controller-behavior), `enable-custom-tasks`)

This should be the case in 99% of time. Pipeline's do not need to run in the same namespace as the controller.

[2021-09-02 12:35] DrissiReda commented on #4211
oh yeah! I didn't enable them, it works a lot better now (after adding `enable-api-fields:alpha` as well). Might be a good idea to add them to the doc of pip-in-pip

[2021-09-02 12:47] vdemeester commented on #4211
/cc @jerop

[2021-09-02 15:04] sbwsg commented on #4012
This helps a lot, thank you!  I need to do some more work to prove it but I believe the issue here might be related to the `tee >(tail [...])` line which writes the results.  You mentioned already that you have another hypothesis and I wonder if this is your theory too?

Here're some links to support my current thinking all kind of related to weird behaviour using a combination of `tee`, `tail` (o

[2021-09-02 18:13] DrissiReda commented on #4211
@vdemeester could you please take a look at this? I'm kinda stuck: https://github.com/tektoncd/experimental/issues/791

[2021-09-03 12:39] tmshn commented on #2013
@sbwsg  Let me ask one thing to clarify my concern; do you intended to stop mounting `/tekton/home` too? Or is it just about overwriting environmental variable?

The current implementation is the latter, but the the issue title "Remove /tekton/home." sounds implying former change to me.

https://github.com/tektoncd/pipeline/blob/f041ef5d644c72e88689e079a8e3ea96718891fc/pkg/pod/pod.go#L112-L117

[2021-09-03 12:57] sbwsg commented on #2013
@tmshn that's a very interesting question! I completely forgot that the issue title includes "Remove /tekton/home."  And I didn't include a work item in the list at the top to remove the folder from our codebase.

I expect that we will completely remove the `/tekton/home` directory with the feature flag and environment variable on or after Feb 2022. However this is open to discussion - if there ar

[2021-09-03 13:29] tmshn commented on #2013
Simply because some of the docker images do not have home directory properly set, and we need to take extra care to examine each images (maybe not so big blocking issue, though).

For example, `alpine/git` image (used by official `git-cli` tasks) have `nobody` user, but its home directory is `/` where the user does not have write permission.

[code]

https://github.com/tektoncd/catalog/blob/4bf193

[2021-09-03 19:59] naveensrinivasan opened #4214 "curl is a insecure pattern for downloading dependencies"
curl is an insecure pattern for downloading dependencies

https://github.com/tektoncd/pipeline/blob/f041ef5d644c72e88689e079a8e3ea96718891fc/Makefile#L167

https://about.codecov.io/security-update/

One of the recommended approaches to solving this issue is using something like `tools.go` https://github.com/ossf/scorecard/blob/main/tools.go where the external tools are tracked and are part of the

[2021-09-03 20:24] sbwsg commented on #2013
Ahh I see. We will need to audit the catalog tasks that use our images to make sure we don't break any existing. For those tasks which would be broken we can manually add a `volumeMount` with an `emptyDir` at `/tekton/home`?

[2021-09-04 15:15] naveensrinivasan commented on #4214
Similar to this https://github.com/sigstore/rekor/tree/main/hack/tools

[2021-09-04 15:45] tmshn commented on #2013
That sound fine!

[2021-09-05 13:30] leandrodamascena commented on #4199
Hello...

Any kind of help here? Thanks

[2021-09-05 22:29] mattmoor commented on #3305
I thought I'd chime in here, since I noticed an experiment that's got multiple reconcilers parting on `*Run` status, which is kind of an anti-pattern.

So we have a number of places we've dealt with problems very similar to this in Knative with a fair degree of success.  Two that are top-of-mind for me are:
 * probing the dataplane for kingress readiness,
 * tag to digest resolution.

_Both of the

[2021-09-06 12:57] vdemeester commented on #4214
That make sense, thanks @naveensrinivasan. Looking at the link, I think using a separate `go.mod` and using `GOBIN` in the `Makefile`, we could make this work.

[2021-09-06 14:27] naveensrinivasan commented on #4214
I can work on this.

[2021-09-06 15:04] vdemeester commented on #4214
/assign @naveensrinivasan

[2021-09-07 21:57] pritidesai opened #4219 "fix a few links in the development file under adding New CRD types"
The [Adding New Types](https://github.com/tektoncd/pipeline/blob/main/DEVELOPMENT.md#adding-new-types) section under the DEVELOPMENT.md has a reference to `alpha` APIs instead of `beta`. We are now adding a new CRD to `beta` APIs. No changes being done in `alpha` APIs.

Please change this note:

[code]

to:

[code]

Change the links to v1beta1 APIs, such as:

[code]

And add the new types to `v1be

[2021-09-07 22:05] nbaudis commented on #4219
I would be happy to work on the change, looking into this..

[2021-09-07 22:31] tlawrie commented on #4012
Thanks, @pschildkamp @sbwsg some great discussion. Glad that you have potentially found the issue. I think its great input into what we have been discussing around a broader option for result persistence.

[2021-09-07 22:33] bobcatfish opened #4220 "CI about to fail due to build-crd-testing deletion"
@mattmoor pointed out that the GCP project `build-crd-testing` has been deleted; we have a bunch of examples which reference this project (e.g. https://github.com/tektoncd/pipeline/blob/bda40ea059cbb54a0d6c206b756d735b72df5b74/examples/v1beta1/taskruns/pull-private-image.yaml#L50) and we also use it in an end to end test (https://github.com/tektoncd/pipeline/blob/bda40ea059cbb54a0d6c206b756d735b72

[2021-09-07 22:34] tlawrie commented on #4060
Hey @sbwsg I know it was mentioned in #4012 that you are looking at #4150 about termination message structure.

I was wondering if the above is of any interest in adding an additional termination message type? I am happy to submit a PR but would need some guidance on where in the code base to start.

[2021-09-08 07:55] vdemeester commented on #4220
Agreed 😅 What was the "secret sauce" doing ? I guess only used as a private image to exercise the auth ?

[2021-09-08 15:32] mattmoor commented on #4220
Yup, private image auth test

[2021-09-09 06:28] khrm opened #4223 "Intregration test for metrics"
### Request

We require integration integration tests for metrics also. For now, metrics is experimental but if we want to move ahead, then a test which can captures issue happening in metrics is must.

/kind testing
/kind test

[2021-09-09 06:28] khrm commented on #4223
A recent pr by myself was working fine in some of the conditions I test but later on I found that it introduces race condition for some metrics and it gets stuck.

[2021-09-09 09:11] vdemeester commented on #4223
/area testing

[2021-09-09 18:02] bobcatfish commented on #4220
I'm gonna downgrade the priority on this one since @vdemeester has at least made it so this won't block folks

[2021-09-09 18:06] vdemeester commented on #4220
/assign

[2021-09-09 18:08] bobcatfish commented on #4012
hey @sbwsg @pschildkamp it seems like the issue you're discussing is results related but not necessarily about the original issue this was opened to discuss - is it possible to move that discussion to a different issue?

I think having to give all TaskRuns the ability to write to even one specific ConfigMap is not going to be a good idea in the long run. Some thoughts:

1. if one global config map

[2021-09-10 16:11] bobcatfish commented on #2800
oooo I think maybe this can be closed now that @pritidesai has implemented onError?

[2021-09-10 16:26] pritidesai commented on #2800
yes please 🙏 , this can be closed now since we have `onError` in a `step` now.
Implemented in https://github.com/tektoncd/pipeline/pull/4106 ✅

[2021-09-10 16:26] #2800 closed

[2021-09-10 16:52] jeffmaury opened #4224 "/tekton/debug scripts absent after step has failed"
# Expected Behavior

Debug scripts should be found under /tekton

# Actual Behavior

No debug sub folder under /tekton
# Steps to Reproduce the Problem

1. Start minikube `minikube start -p tekton`
2. install pipeline: `kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml`
3. activate alpha fields: `kubectl path cm/feature-flags -p "{\"data\":{\"enab

[2021-09-10 22:03] pritidesai commented on #4224
`/tekton/debug` is absent along with `/tekton/scripts`.

`debug` is implemented based on how the `scripts` is mounted

https://github.com/tektoncd/pipeline/commit/5a4d1f990e6bf6c661ee646f5b3aa8a9fceb13c7#diff-82b3e87876a8c03277b96958e0bbae05eda555b2196a54b02115a3268095fe31R144-R148

@sbwsg after you implemented encoding the scripts, should we expect to see the `scripts` volume mounted at `/tekton/

[2021-09-10 22:04] pritidesai commented on #4224
@vdemeester @waveywaves we could leverage the `steps` volume instead of `/tekton/debug` now that its missing, thoughts?

[2021-09-10 22:23] pritidesai commented on #4224
I just created a `taskRun` without `debug` using the latest pipeline release, and noticed that the `/tekton/scripts` mount exists. But creating a taskRun with `debug` using the latest pipeline, noticed both `/tekton/scripts` and `/tekton.debug` mounts are absent.

[2021-09-12 02:26] tlawrie commented on #3798
I am also running into this issue. Happy to help out testing if I can.

[2021-09-12 13:40] imjasonh commented on #3798
If the lack of webhooks is indeed the only issue (big if), I think this boils down to two issues:

1. Allow installation to succeed even if setting up the webhooks fails -- this is probably an Operator issue.
2. Allow Tekton to work correctly if the webhooks aren't available -- detect this scenario and set defaults etc on the first reconciliation, then things should proceed as normal.

And a secre

[2021-09-12 23:25] tlawrie commented on #3798
Seeing as my background is Java and my Go is basic / still learning. Can I help with 1 or 2? I was using the helm chart, not sure if that's using the operator under the covers or whether its slightly different.

[2021-09-13 09:05] michaelsauter commented on #1530
Ping :)

Any way to move this forward? Or is this a won't-fix? I hope it is not as especially task resource constraints (also as noted in #4080) are really crucial to have reusable tasks.

[2021-09-13 09:15] vdemeester commented on #1530
/reopen
Indeed, we still need to fix that, and somehow I missed the pings.. Sorry 🙏🏼

[2021-09-13 11:56] concaf commented on #4080
Also, this produces a CLI bug for `tkn` as well. I am unable to list valid tasks if an invalid task exists in the cluster.
[code]

CC: @piyush-garg WDYT?

[2021-09-13 13:22] sbwsg commented on #3305
This sounds like the [Tekton Resource Request CRD](https://github.com/tektoncd/community/blob/main/teps/0060-remote-resource-resolution.md#introduce-a-tekton-resource-request-crd) alternative captured in the resolution TEP. That proposal introduces a new resource type (child resource?) and reconciler as you describe. Good to know this is a preferred approach.

[2021-09-13 16:25] dlorenc commented on #4012
+1, the k8s object/CRD approach seems nice but really just punts the problem further down the line IMO. The other size limits/rate limiting/permissions are going to complicate that in the long term.

I think it's time to move to a real HTTP based API directly to a service/controller where we can avoid passing data through the k8s control plane first.

[2021-09-13 16:33] tobilarscheid commented on #3202
/reopen

I feel like ArgoCD and Tekton are a natural combination - so Tekton should pick up sane defaults to play nicely with Tekton OOTB. The configuration suggested in this thread here works, at a minimum this should move to the official Tekton documentation.

[2021-09-13 21:23] chenbh commented on #4047
Specifying a port on the pod is [good practice and informationally only](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#:~:text=Exposing%20a%20port%20here%20gives%20the%20system%20additional%20information%20about%20the%20network%20connections%20a%20container%20uses%2C%20but%20is%20primarily%20informational.%20Not%20specifying%20a%20port%20here%20DOES%20NOT%20prevent

[2021-09-13 21:26] mlieberman85 opened #4225 "Documentation for image pull secrets might be wrong or is unclear"
I don't know if Tekton does anything behind the scenes with secrets but in the docs it says:

[code]

[code]

Shouldn't secrets be imagePullSecrets? Before creating a PR, I just wanted to make sure I wasn't missing anything Tekton is doing. As far as I can tell secrets as described above won't work. I see a similar set of docs for docker with basic auth which I think has the same issue.

[2021-09-13 22:37] bobcatfish commented on #4012
_Quick update from the 2 API working group meetings today ([earlier meeting](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.c6exho3u6vj2) , [later meeting](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.xh5hynmwkvn2) - recordings should be up in not too long)_

* Concerns around an HTTP server based app

[2021-09-13 22:40] bobcatfish commented on #4012
oh and one more thing, @imjasonh is going to be giving a talk at Kubecon (in collaboration with Argo!) where he plans to talk about how Tekton and Argo are dealing with results (sounds like Argo also has a configmap based approach) and alternatives for the future: [Argo And Tekton: Pushing The Boundaries Of The Possible On Kubernetes - Alex Collins, Intuit & Jason Hall, Red Hat](https://sched.co/l

[2021-09-13 23:04] mattmoor commented on #4012
There are still auth and HA problems here.

---
_(brain dump of what's been rattling in my head)_

I don't understand the desire to trampoline through an HTTP service when the `entrypoint` binary could simply be changed to write results to specific named resources upon completion instead of streaming them as the termination message?

Suppose hypothetically that the pipelines controller were to cre

[2021-09-14 04:07] pritidesai commented on #4060
I like the idea of surfacing explicit reasoning of the failure rather than a generic message. And until we propose and implement alternative to a termination message, the users can be benefited with this feature.

At the same time, I am not sure how to surface container logs into the run status 😜

So the error is generated here,

https://github.com/tektoncd/pipeline/blob/c975119b18506c08529be71841

[2021-09-14 05:55] vdemeester commented on #4225
@mlieberman85 They should not, or at least, as is, it works. Indeed Tekton does something behind the scene, see [here](https://github.com/tektoncd/pipeline/blob/main/pkg/pod/creds_init.go#L42).
Note that this is for having the docker auth configuration *inside* the container, so that any command that would need it to push to a registry or pull a private thing would work. `imagePullSecrets` are for

[2021-09-14 06:22] vdemeester commented on #4012
So, few questions and remark (*brain dumping here too*)

- What kind of results do we want to store, where ? Is it simple strings (a bit like today) or almost anything (run artifact) ? Are "the commit sha just clone by the `git-clone` task" and "the output of a `go test -v ./...` ran by the `go-test` task" the same ? What's the "difference" between a jar generate by a `maven` task, to be used in a

[2021-09-14 11:29] vdemeester commented on #3202
@tobilarscheid as far as I see, both workaround are on ArgoCD side of things (aka telling ArgoCD to ignore PipelineRuns/TaskRuns/…). I don't really see anything that Tekton would/could do.

[2021-09-14 12:03] jimmykarily commented on #3545
We are using v0.23.0 and what we are seeing is that we get one affinity assistant per "use" of a PVC.

See [here](https://github.com/epinio/epinio/blob/main/assets/embedded-files/tekton/stage-pipeline.yaml#L67-L71) and [here](https://github.com/epinio/epinio/blob/main/internal/api/v1/stage.go#L334-L351) (it's the same PVC mounted with 2 different subPaths). If it helps I can send the final rendere

[2021-09-14 14:45] mlieberman85 commented on #4225
Ok, that clears things up. I think I was getting confused by some of the tasks in the catalog that have a more complicated setup involving generating the secret, then generating a workspace from that secret.

e.g. https://github.com/tektoncd/catalog/tree/main/task/kaniko/0.5/

This might be because of how Kaniko works though.

[2021-09-14 16:23] vdemeester commented on #4225
Oh yeah the kaniko task seems to have a way to "bypass" the default setup then 😓 . I think long-term, those annotated secret attached to SA might be less useful than using workspace and secret (that are more explicit).

[2021-09-14 17:46] jlpettersson commented on #3545
@jimmykarily I think you are right.

The affinity assistant only looks at the combination of Workspace Name and PipelineRun Name, as per https://github.com/tektoncd/pipeline/blob/main/pkg/reconciler/pipelinerun/affinity_assistant.go#L56

So if you have two Workspaces, with the same PVC but different subPath set in WorkspaceBinding - it will not work as you correctly point out. On the other hand, t

[2021-09-14 22:07] wlynch opened #4227 "Restrict step volumes as read-only"
# Expected Behavior

Internal `/tekton` folders should only be manipulated by trusted Tekton components (i.e. controller / entrypoint).

# Actual Behavior

Tekton mounts the following volumes for each step:

[code]

Since many of these directories are mounted read-write and are shared by all steps in the task, these can be manipulated to cause unexpected behavior for steps.

Directory | Descriptio

[2021-09-15 06:24] jimmykarily commented on #3545
@jlpettersson you are right about the concurrent runs of the pipeline and we indeed [avoid this situation in our code](https://github.com/epinio/epinio/blob/main/internal/api/v1/stage.go#L164-L169). In our case this makes sense because we use Tekton for application staging and we don't allow 2 staging processes to run for the same app at the same time.

That said, this limitation comes from the fa

[2021-09-15 06:45] SanthoshRaju91 commented on #782
Yes the --previous=false worked. Thanks @Shubham-Laddha

[2021-09-15 07:40] vdemeester commented on #4227
If all "internals" of tekton are delicately crafted, aka everything is read-only except few allowed things (entrypoint hack, workspace), I think it's fine. And I feel the sidecar strategy would bring way too much complexity for it.

This means we should make sure each step has a definite space to write stuff necessary for the "entrypoint hack" (waitFile, errFile, …) and this would be the only part

[2021-09-15 08:10] 06kellyjac commented on #4227
Yeah waitfile/postfile should use separate volume mounts that are only writable for their relevant step, or at the very least be moved away from the tools dir.

I'm not to familiar with the new `tekton-internal-debug-scripts` but do they currently need to be writable by a given step? Again I haven't looked into them much but when I set it to readwrite for init and readonly for the steps I had some

[2021-09-15 08:36] vdemeester commented on #4227
No they should be read-only.

Indeed, `/tekton/tools` shouldn't be writable by any user step either.

Indeed, cc @dlorenc @mattmoor 🙃

[2021-09-15 09:04] downfall109 commented on #2925
For containers without a shell, that also lack an option to output to a file, this would be incredibly appreciated! We can't run certain tools in Tekton due to the lack of this feature (without hacky workarounds, of course)

[2021-09-15 13:39] vdemeester opened #4230 "Support for `maxLimitRequestRatio` field of `LimitRange`"
From https://github.com/tektoncd/pipeline/pull/4176/files#diff-b1b1dca8c3a4c45c6f1fff57080af9fb7afaa6a4b7ce103dde7b5889d2298190R51.

We should aim to support the `maxLimitRequestRatio` field of [`LimitRange`](https://kubernetes.io/docs/concepts/policy/limit-range/) object, see [here](https://v1-17.docs.kubernetes.io/docs/concepts/policy/limit-range/#limits-requests-ratio) for more detail about thi

[2021-09-15 16:21] imjasonh commented on #4012
My main concern is around having to create a new ConfigMap**, Role and RoleBinding per TaskRun, when at the end of the day we don't actually care about updating that ConfigMap**, but the TaskRun's results.

Could we just have the entrypoint update its own TaskRun directly, and have the webhook admission controller enforce sane updates? (e.g., previous steps' results can't be changed once set). We

[2021-09-15 16:31] dlorenc commented on #4012
If we stick with a k8s object this makes the most sense to me. ConfigMap feels like a hack, and a new CRD could just be inlined into TaskRun instead. Would a sub-resource help with the rbac'ing? My big worry is allowing taskruns to mutate everything about themselves.

[2021-09-15 16:51] imjasonh commented on #4012
CRDs don't allow defining arbitrary subresources :(

Same. I think we could limit those mutations in the webhook enough though.

The end result would be that the max results size would be limited to the max size of a CRD object (1.5 MB) -- since PipelineRun status embeds all TaskRun statuses, PipelineRun size will be the bottleneck.

[2021-09-15 17:10] #4150 closed

[2021-09-15 17:15] mattmoor commented on #4012
The aggregate size, not the size of an individual result.  This is also influenced by the size of a {Task/Pipeline}Run definition.

I'm pretty averse to multiple editors of `status`, it creates headaches.  Even the way pipeline handles retrying tasks today makes me kinda unhappy 😅

I don't like reinventing access control in the webhook (in part because it means the webhook needs to know which task

[2021-09-15 17:22] mattmoor commented on #4227
Yeah @imjasonh flagged the possibility that the underlying persistent storage for workspace could be modified between the execution of two tasks in a pipeline, which is an interesting attack vector, and which makes me not trust workspace without some sort of verifiability.

---
_To 🤓   out a little (digression warning!)_

One idea I've been toying with (instead of persistent volumes) for workspace

[2021-09-15 17:26] JCzz opened #4232 "Getting started with Tekton - states you can find pre-configured tasks. But how about input types?"
Following the "[Getting started with Tekton](https://katacoda.com/tektoncd/scenarios/getting-started)"

It says "Note: Tekton offers a number of pre-configured tasks you can use. Linking to:
https://github.com/tektoncd/catalog

I can find some under task.

Question, can I find input types. I can see git, but is there a list of input types?

Thanks

[2021-09-15 17:26] imjasonh commented on #4227
We could also just have Tekton hash the contents of a workspace and report that in the TaskRun's status, and check that it matches before running the next TaskRun that uses it. That saves having to store the data in two places, and has roughly the same result. If you're using Tekton Chains (and you should 😎) then those hashes would be part of the payload that gets signed and added to Rekor.

[2021-09-15 17:29] mattmoor commented on #4227
@imjasonh Yep, absolutely.  I'm told [this](https://pkg.go.dev/golang.org/x/mod/sumdb/dirhash) would be a good thing to look at.  There are some other fun benefits of the other way, but we can discuss those separately if you are so inclined because it's a huge digression here 🤣

[2021-09-15 17:43] bobcatfish commented on #4083
just a quick update @goldmann  - @sbwsg has opened a proposal to add workspace "type hinting" which might be relevant to your needs: https://github.com/tektoncd/community/pull/510

[2021-09-15 17:50] dlorenc commented on #4012
Megabytes. Dozens of them, easily. We had to change the way cosign stores them in a registry because people were hitting the 4mb manifest size limit.

[2021-09-15 19:57] bobcatfish commented on #2986
quick update @vdemeester is making some improvements to how tekton handles limitranges (https://github.com/tektoncd/pipeline/pull/4176), tho i think this particular issue is also requesting support for specifying limits at the Task level as well

[2021-09-16 04:45] tlawrie commented on #4012
Wow. This is amazing that so many people are on board with the discussion. Personally, we tried both Configmaps and a separate HTTP service but they were outside of Tekton... which made it hard for the ultimate mission of making this as easy to deal with as current result parameters through a reference. (also mentioned by @imjasonh w.r.t whats the end aim)

I think from looking at all of the above

[2021-09-16 05:11] dlorenc commented on #4012
I'm convinced all the options are equally bad :)

Configmap/data crd both have easier HA than an http service, and can be adequately RBACed. Etcd is not a database, but size limits are really low here anyway.

An http service still seems simpler conceptually to me, but you have to authenticate it anyway. Might as well just let the API server be an API server and auth/serve things.

Configmap++ is

[2021-09-16 05:15] dlorenc commented on #4012
But - someone will run into this problem again someday and need a higher limit than etcd. That sounds like a problem for future Tekton person!

[2021-09-16 08:53] afrittoli commented on #3749
Uhm, I kind of disagree on this. Results are the outputs of taskruns and pipelines.

Results of taskruns, when running within a pipeline are likely to be used by other tasks.
They are also going to be in attestations, they are written in the status and this accessible to other controllers watching the taskrun and they are sent as part of cloudevents for remote systems to use.

Results of standalon

[2021-09-16 09:12] afrittoli commented on #3749
I was re-reading the whole thread, and I think there are three different things describe in the thread:
1. taskruns emitting results in case of failure. We do not today because we don't know if the results are valid. We could change this to emitting them (relatively small code change), we would be telling our users - this is what we go from the task, but since the task fail, it may be or may be no

[2021-09-16 09:18] vdemeester commented on #4012
I think we also need to define "what results" we are talking about here. What do we consider a result ? All/any outputs of a Task or a Pipeline or a subset of it ?

[2021-09-16 13:29] michaelsauter opened #4235 "Allow Task sidecars to be specified in Pipeline/PipelineRun"
### Feature request

At the moment, sidecars are defined as part of a `Task`. I don't see a way to add a sidecar to a task from the `Pipeline`/`PipelineRun` definition. However, I think this would be really helpful.

### Use case

Our use case is this: we (an enterprise platform) want to provide a set of Tekton tasks (https://github.com/opendevstack/ods-pipeline) in the cluster for our users to co

[2021-09-16 16:06] Shubham-Laddha commented on #782
@nbattala Yeah. That's true.

[2021-09-16 18:59] JCzz opened #4237 "Doc bug: "command not found" in Pipeline tutorial"
tkn version
[code]

kubectl apply:
- PipelineResource/skaffold-git
- PipelineResource/skaffold-image-leeroy-web
- Error: `kubectl apply -f <Task : build-docker-image-from-git-source>`
[code]

[2021-09-17 09:52] dalbar commented on #3749
I am in a similar situation where the system is build on top of Tekton and its controllers are collecting TaskRun results. So far we are only collecting results for successful outcomes. However, a use-case for error messages has been raised where we would like to give our users a hint for the failure. For example our git-wrapper can report missing credentials within a TaskRun. We would like to col

[2021-09-17 12:36] JCzz opened #4241 "Running script within steps - is waiting to start: PodInitializing"
## Running script within steps -  is waiting to start: PodInitializing

Tekton:
[code]
Env: Ubuntu server running K8s on arm64, but same result using `arm64v8/alpine` and "alpine" works with just using command(see "**Works if you change to command**" ).

From Tekton documentation "[Running script within steps](https://github.com/tektoncd/pipeline/blob/main/docs/tasks.md#running-scripts-within-step

[2021-09-17 12:45] JCzz commented on #4241
Hi thanks

Updated the question incl. version

Yes it is reproducible - changing between using `command` and `script` it works and givving error.

[2021-09-17 12:46] vdemeester commented on #4241
Very naive question (from train 🚂) : is /bin/sh available in alpine ?

[2021-09-17 12:48] imjasonh commented on #4241
Yes, and `/bin/sh` is alpine's `CMD`.

[2021-09-17 12:53] imjasonh commented on #4241
@JCzz I'm unable to reproduce on my local KinD cluster (Tekton v0.27.3, on amd64, though I don't currently think that matters)

Can you see if there's anything interesting in the controller logs or Pod events?

[code]

[code]

(These pod names will be something else)

[2021-09-17 13:17] JCzz commented on #4241
Sure

`kubectl logs -n tekton-pipelines tekton-pipelines-controller-756477cd4b-74kk4`

This one is very long, starting with(I don't see anything interesting - but let me know if you want it all):

[code]

 **kubectl describe pod echoer-run-zcxvw-pod-qk9qg** :

[code]

And just listing the pods:

[code]

Last error pod is:
**echoer-run-zcxvw-pod-qk9qg   0/1     Init:Error   0          5m55s**

[2021-09-17 14:22] imjasonh commented on #4241
Thanks, that's helpful. One more:

[code]

It looks like `place-scripts` is failing (exit 1), which reports as PodInitializing because it's an init container. In my KinD cluster, the identical container (modulo generated script name) succeeds as expected. The only difference I can tell is arm64 vs amd64, but the container image being used, distroless, should work for either.

[2021-09-17 14:33] JCzz commented on #4241
Thanks

kubectl logs echoer-run-zcxvw-pod-qk9qg --all-containers
[code]

[2021-09-17 14:45] imjasonh commented on #4241
Current theory is that the `/tekton/tools/entrypoint decode-script` call that gets made using script mode is the culprit, possibly because we're somehow selecting the wrong architecture. The `describe pod` call definitely makes it seem like it's using the multi-arch image for both entrypoint and distroless, but we can see if this helps:

[code]

and edit the following flags:

[code]

to

[code]

T

[2021-09-17 17:32] JCzz commented on #4241
Thanks

I am running on a single node configuration in KinD.

In the meantime, Pipeline version vent from v0.27.3 to 28. Unfortunately the error is still there :-|
[code]

So now it it will be from:
[code]
To:
[code]

There is no container under deployment, and I am having problems editing the deployment.

[code]

But I did the following:
`kubectl get deployment -n tekton-pipelines -o yaml > tmp.y

[2021-09-20 19:54] JCzz opened #4247 "fork/exec /busybox/mkdir: exec format error"
kubectl version
[code]

tkn version
[code]

I am just trying to get src from public github and build to gcr.io

Dockerfile:
`FROM nginx:1.21.1-alpine`

I have a valid ServiceAccount setup as "tutorial-service"

Error:
[code]

PipelineResource: webapp-src
[code]

PipelineResource: webapp-image
[code]

Task:  build-docker-image-from-git-source
[code]

TaskRun: tekton.dev/v1beta1
[code]

[2021-09-20 20:12] imjasonh commented on #4247
This seems highly related to arm-specific issues described in https://github.com/tektoncd/pipeline/issues/4241

[2021-09-20 20:14] imjasonh commented on #4247
Both issues seem to stem from the shell-image (gcr.io/distroless/base@sha256:aa4fd987555ea10e1a4ec8765da8158b5ffdfef1e72da512c7ede509bc9966c4) having an arm64-specific image that's incompatible with your hardware.

[2021-09-20 20:18] imjasonh commented on #4247
Can you try editing the controller deployment to manually select exactly the linux/arm64 shell-image, instead of relying on selecting the platform-specific image from the multi-arch image shipped by Tekton?

[code]

and change

[code]

to

[code]

then run the TaskRun and see if it works?

[2021-09-20 20:57] R2wenD2 opened #4248 "Broken documentation link for LimitRange"
# Expected Behavior
I click 'LimitRange code example' on https://tekton.dev/docs/pipelines/taskruns/#specifying-limitrange-values and I get to a useful page that provides a code example.

# Actual Behavior
404
# Steps to Reproduce the Problem

1. Navigate to https://tekton.dev/docs/pipelines/taskruns/#specifying-limitrange-values
2. click 'LimitRange code example'

# Additional Info

- Kubernetes

[2021-09-20 20:58] R2wenD2 commented on #4248
the PipelineRuns LimitRange code example on https://tekton.dev/docs/pipelines/pipelineruns/#specifying-limitrange-values has the same issue.

[2021-09-21 06:56] vdemeester commented on #4248
/assign

[2021-09-21 07:18] JCzz commented on #4247
Hi @imjasonh

Just tried changing:
[code]

Unfortunately it gives me the same error.

Yes it all might come down to running on arm64.

[2021-09-21 12:32] imjasonh commented on #4247
One more thing we could try:

[code]

(or just `busybox`, and let the container runtime select the right image for your platform)

If this works this would possibly narrow the issue to some incompatibility between distroless:base's `arm64` image and busybox's, which should only differ in whether they have explicit support for arm64/v8 and arm64 with no variant specified.

If this fixes your issue