[2020-04-28 21:25] 2020testuser opened #2507 "InitContainer - inside Step"
I want to change the permission of the mounted volume in InitContainer (inside Tekton Step).
Can this be done? I'm getting an error when I try to use InitContainers within Step.

I'm using the latest version of Tekton Pipeline. Could anyone please provide more info. on whether InitContainer can be used inside Tekton Step? If not, what are the alternatives?
Thanks in advance!

[2020-04-28 22:01] danielhelfand commented on #2179
Last piece of information on this: To specify a securityContext for a step, the Pod also must specify a securityContext. For example:

[code]

[code]

The combination above will both run in an environment that does not allow root user containers and also allow the step to specify its own user to run as amongst other properties. So this is not actually an issue with Pipelines itself, but rather a d

[2020-04-29 00:37] vincent-pli commented on #2476
@brindasanth
What you need is step which could send `cloudevent`, I guess this is what you want: https://github.com/vincent-pli/cloudevent-client-tekton-step

[2020-04-29 02:28] vincent-pli commented on #2454
Fixed by #2495

[2020-04-29 09:47] vdemeester commented on #2454
/close

[2020-04-29 09:47] #2454 closed

[2020-04-29 09:51] vdemeester commented on #2503
Oh yes, you are right :scream: The label is missing in the namespace :man_facepalming:

/kind cleanup
/kind question

[2020-04-29 10:23] afrittoli commented on #2328
This was fixed by https://github.com/tektoncd/pipeline/pull/2421 and https://github.com/tektoncd/pipeline/pull/2365. Proper tests are added in https://github.com/tektoncd/pipeline/pull/2329.

[2020-04-29 12:41] #2505 closed

[2020-04-29 12:44] sbwsg commented on #2179
👍 fantastic summary and investigation, thank you very much @danielhelfand !  I've updated labels on the issue to reflect this info.

[2020-04-29 13:28] brindasanth commented on #2476
@vincent-pli Thanks a lot for this implementation,  I am looking for similar solution.
I have some questions in this implementation.
1. Does it initialize new container every time for cloud send event ? ( I am looking for solution, which doesn't initialize new container, so that we will get better performance, please refer the comments above), Step should't have image definitions, only Input, Outp

[2020-04-29 15:39] danielhelfand commented on #2179
Sure, happy to help. If no one is working on this, more than happy to pick it up.

[2020-04-29 15:58] danielhelfand commented on #2179
/assign

[2020-04-29 17:06] chanseokoh commented on #2165
I'm testing this now and also the case where I run a pipeline as a non-root while forcing `$HOME` to `/workspace` (which I think is a reasonable choice). One problem is that the volumes I mount for caching have ownership and permissions of `drwxr-xr-x root root` and my process can't write things into it. For example, in my task spec,

[code]
And `/workspace/.gradle` is not writable by a non-root u

[2020-04-29 17:19] chanseokoh commented on #2165
FYI, I was setting `securityContext: runAsUser: 1234` in a Task spec.

Now, if I set the following in a TaskRun spec,
[code]
I get the following errors when `disable-home-env-overwrite` and `disable-working-directory-overwrite` are set to true.
[code]

[2020-04-29 18:19] chanseokoh commented on #2165
Sorry, I need to correct this. It is the "non-existing parent directories of the volumes". For example, I am mounting `/workspace/.gradle/cache` where `/wokspace/.gradle` doesn't exist. I see that `/workspace/.gradle/cache` is globally writable, but the parent directory `/wokspace/.gradle` that did not exist before is not writable (having `drwxr-xr-x root root`). I wonder if Tekton should also mak

[2020-04-29 18:53] sbwsg commented on #2165
Volume mounts can be nested, so /workspace/.gradle can be a volumeMount even while /workspace/.gradle/cache and /workspace/.gradle/wrapper are as well.  This results in all three directories being world-writable.

For the "unsuccessful cred copy" messages, can you confirm whether $HOME was set in your Step's env?  If so I'm baffled how the cred copy didn't figure out what HOME was and why it decid

[2020-04-29 19:02] chanseokoh commented on #2165
The problem is that I don't want to cache `/workspace/.gradle`. But now I realized that probably I can just always mount an `emptyDir`.

`$HOME` is set to `/workspace` in a Task spec as you can see in my previous example, and everything seems to work OK when I don't set `securityContext` in a TaskRun spec. That is, I can see `/workspace/.docker`. So, what is weird is that, without touching anythin

[2020-04-29 19:25] chanseokoh commented on #2165
And sorry for asking a bit unrelated question: my task gets a git project source at `/workspace/source` (git resource), but `/workspace/source` is not writable by a non-root. I can work around this by mounting an emptyDir to `/workspace/source` only for the sake of making it globally writable, but I think there should be a better way?

[2020-04-29 21:20] pierretasci opened #2509 "Recommend using `ko apply --strict`"
# Expected Behavior
The docs under `DEVELOPMENT.md` would call for the user to run `ko apply --strict -f config/` since the ko documentation calls that out as a better way to ensure the right thing happens when you are applying local changes to a cluster.

# Actual Behavior

It doesn't recommend passing the strict flag.

Relevant section here: https://github.com/tektoncd/pipeline/blob/master/DEVEL

[2020-04-29 21:29] sbwsg commented on #2165
Let's take this one complete example at a time.  It's difficult to know where to start otherwise.  I've set both `disable-home-env-overwrite` and `disable-working-directory-overwrite` to `"true"` in my cluster.  I do not see the same thing you do where it tries to write to `/.ssh` though.

Here's the complete TaskRun and TaskSpec which I'm running. It uses two securityContexts, one in the TaskRun'

[2020-04-29 22:01] chanseokoh commented on #2165
Thanks a lot for looking into this! I couldn't agree more on what you said. And I am also not sure what the best solution should be.

I get the exact same result with your Task + TaskRun. So I compared the difference with my Task and was able to come up with a sample that reproduces my error. Hope this helps.
[code]
The pipeline halts with this error:
[code]
What's interesting is that, if I commen

[2020-04-29 22:52] josephlewis42 commented on #1689
I think it's worth keeping the `podName` on the status for two reasons:

* The performance penalty of removing it and expecting a client to reach to the underlying resource to get logs is high. In my use-case this could require listing hundreds or thousands of Pods. This is especially true if the other K8s-isms are going to be removed in which case debugging will mean going to the Pod to investiga

[2020-04-30 03:47] kramvan1 opened #2510 "Base OS packages not being updated for each release?"
# Expected Behavior

As new releases come out, the base OS packages in the released images are updated to pick up the latest security issues.

# Actual Behavior

Can you verify that the https://github.com/tektoncd/pipeline/blob/master/images/Dockerfile is used for each new release image (git-init and creds-init)?     It seems to be trying to update the base packages, so trying to understand why th

[2020-04-30 09:00] vdemeester commented on #2509
Agreed!

/kind feature

[2020-04-30 09:00] vdemeester commented on #2509
/kind documentation

[2020-04-30 13:03] danielhelfand commented on #2494
Closing this. I have rethought this and think we that #2362 should allow some options to develop around to not need PipelineTasks to support this. However, it may be something to consider to allow these properties to be directly defined on PipelineTasks in the future.

[2020-04-30 13:03] #2494 closed

[2020-04-30 15:47] bobcatfish opened #2513 "Allow PipelineRuns to provide extra parameters"
# Expected Behavior

Imagine you have a system creating PipelineRuns automatically, and each PipelineRun uses a different Pipeline which has a different set of parameters. The system has a number of parameters it knows how to provide, e.g. the service account and url of a bucket the Pipelines can push to (but not all Pipelines need to push to a bucket).

It would be very convenient if the system c

[2020-04-30 16:14] vdemeester commented on #2513
/kind feature

[2020-04-30 21:08] r0bj opened #2517 "v0.12.0: tekton-pipelines-webhook is forbidden: unable to validate against any pod security policy"
# Expected Behavior

`tekton-pipelines-webhook` deployment is able to create pod.

# Actual Behavior

`tekton-pipelines-webhook` deployment is not able to create pod due to:
[code]

# Steps to Reproduce the Problem

Run 0.12 tektoncd from https://github.com/tektoncd/pipeline/releases/download/v0.12.0/release.yaml on k8s cluster with PodSecurityPolicy enabled

# Additional Info

- Kubernetes versio

[2020-04-30 21:17] r0bj commented on #2517
It seems that there is missing one item in `tekton-pipelines-webhook-cluster-access` ClusterRole:
[code]

[2020-04-30 23:35] vincent-pli commented on #2476
@brindasanth
For your questions:
1. Yes, it create new container, since it works as `step` of `tekton`, based current implements it will create a container.
2. Yes.
3. Yes, it will write response.data (event.data) to `/tekton/results/response`

[2020-05-01 00:08] vincent-pli opened #2518 "Error message when "step" failed is not correct"
# Expected Behavior
[code]
# Actual Behavior
One more "\n" break the message, since it use back quotes.
[code]
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].met

[2020-05-01 01:33] brindasanth commented on #2476
@vincent-pli
Thanks for the clarifications.
Is it possible to have one more special or custom task, from framework perspective, which invokes services without creating new containers every time ?

[2020-05-01 10:05] kenplusplus opened #2520 "adding proxy parameters to pull request pipeline resource"
# Expected Behavior
Like #2215 pull request resource also need httpProxy, httpsProxy...

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metada

[2020-05-01 11:16] afrittoli opened #2522 "Emit event when failing to update a taskrun"
# Expected Behavior
When the taskrun controller fails to update a taskrun status or labels/annotations, it should emit an event to signal this condition, similar to what the pipelinerun controller does.

# Actual Behavior
An error is returned, so that the key is requeued, but not event is emitted.

# Steps to Reproduce the Problem

1. https://github.com/tektoncd/pipeline/blob/b435bd99d2e0654943e06

[2020-05-01 14:31] sbwsg commented on #2165
Excellent, I've been able to reproduce the problem exactly.

`create-dir-image-XXXXX` is injected into a Task when either the GCS PipelineResource is used or Tekton decides it needs to create an extra directory during PipelineResource linking.  It doesn't have a HOME when the home override flag is "true" and it doesn't run as `root` when `securityContext` sets non-zero user ID. So it reports error

[2020-05-01 14:51] #2179 closed

[2020-05-01 14:58] chanseokoh commented on #2165
Awesome! I can see what's going on.

One thing that still seems strange to me: as I said, when not setting `securityContext` in a TaskRun (not Task), I see that it correctly copied `.docker`, `.gitconfig`, etc into `/workspace` instead of `/`. This is reproducible with my sample when
- using `serviceAccountName`
- removing `securityContext` from TaskRun

[code]
(If you also remove `securityContext

[2020-05-01 15:45] sbwsg commented on #2165
`check-dirs` Step always sees the correct $HOME value, `/workspace`.  We set this explicitly on the Step.  In some of our runs above, though, the Task dies before it gets to `check-dirs`.  The log output we see in these cases is only for `git-source-xxxx` and `create-dir-image-xxxx`.  They fail writing to `/`.

One small nit here: we don't set the `securityContext` on the _Task_ but on the _Step_.

[2020-05-01 16:09] sbwsg opened #2523 "Git PipelineResource fails when disable-home-env-overwrite=true and UID is non-zero"
# Expected Behavior

When `disable-home-env-overwrite` is "true" and UID is non-zero PipelineResources should continue to operate just as well as when UID is 0.

# Actual Behavior

PipelineResources fail copying credentials.  This happens because:

1. HOME is no longer `/tekton/home` (because feature flag).
2. PipelineResources don't have any HOME fallback.
3. So PipelineResources try to copy cred

[2020-05-01 16:13] sbwsg commented on #2523
One solution here is to ensure that PipelineResources always have HOME set to `/tekton/home` since it's a world-writable `emptyDir`.

[2020-05-01 16:45] animeshsingh commented on #2322
@skaegi @afrittoli please take a look

[2020-05-01 16:47] animeshsingh commented on #1779
@skaegi @afrittoli please take a look

[2020-05-01 17:01] sbwsg opened #2524 "Steps can't use creds-init credentials when their UID is different from creds-init UID and disable-home-env-overwrite=true"
# Expected Behavior

When a Step has its own non-root `UID` which is different from `creds-init` any credentials should still be usable by that Step.

# Actual Behavior

The Step will fail to utilize credentials.

When `disable-home-env-overwrite` is "true" the Step's `entrypointer` tries to copy credentials out of `/tekton/creds` into `$HOME`.  But the UID of the Step is different from `creds-ini

[2020-05-01 18:19] #2328 closed

[2020-05-01 20:08] dibyom commented on #2520
/kind feature
/cc @wlynch

[2020-05-01 20:09] dibyom commented on #2518
/kind bug

[2020-05-01 20:11] dibyom commented on #2517
/kind bug
/cc @sbwsg

[2020-05-01 20:12] dibyom commented on #2510
/area release

[2020-05-01 20:40] dibyom commented on #2507
Are you trying to add an initContainer inside your step? Can you not add a previous step that does the same thing that your initContainer does?

/kind question

[2020-05-01 21:15] dibyom commented on #2510
/kind bug
Took a quick...the base image in .ko.yaml is using the latest image from tekton-nightly: https://github.com/tektoncd/pipeline/blob/master/.ko.yaml

`.ko.yaml.release`  is using a image from  `gcr.io/tekton-release/` I don't seem to have access to that...however, `gcr.io/tekton-releases` (extra s - releases vs release)  has an updated base image that has been built recently.
Questions:
1.

[2020-05-01 23:38] vincent-pli commented on #2476
@brindasanth
I'm afraid you cannot do it with `tekton`, its stratagem it to leverage functions as `container`.

[2020-05-04 09:34] praveen4g0 opened #2529 "Pods status wrong when unnamed step fails (followed by named step)"
# Expected Behavior
Pods status should show `error`
[code]
# Actual Behavior
[code]

# Steps to Reproduce the Problem

1. Create `taskrun`
[code]
2. Wait for `taskrun` to fail

3. Check for pods status

# Additional Info

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.versio

[2020-05-04 11:09] vdemeester commented on #2510
So a few things:

- `.ko.yaml.release` is not used at all (I've opened a PR to remove it). Instead, we create one "from scratch" during the release process (which is not the best, but…)
- We do build those images during the release, and depend on them (in that generated `.ko.yaml`), see https://github.com/tektoncd/pipeline/blob/master/tekton/publish.yaml#L51

[2020-05-04 13:05] sbwsg commented on #1836
I'm going to reopen this one because we don't have any issues that are tracking the `workingDir` deprecation.  We still haven't made this behaviour the default so I think we should probably keep an open issue around it.

[2020-05-04 13:08] sbwsg opened #2533 "Remove tekton.dev/task label from ClusterTask TaskRuns"
# Expected Behavior

TaskRuns started from a ClusterTask should only have the label `tekton.dev/clusterTask=<task name>`.

# Actual Behavior

TaskRuns started from ClusterTasks currently receive both `tekton.dev/clusterTask=` and `tekton.dev/task=`.

# Steps to Reproduce the Problem

1. Run a TaskRun referencing a Cluster Task
2. View its YAML or its Pod's YAML
3. See `tekton.dev/task` label

- Te

[2020-05-04 13:10] sbwsg commented on #2533
This was announced as deprecated in 0.12.0 so should be removable from Pipelines on/after Jan 30 2021

[2020-05-04 13:50] skaegi commented on #2322
Ha! I just had someone over the week-end bring up the need for seeing the current `retry` number. Basically they send a conditional slack notification if a retry is required. I think the annotations are ok, but it probably makes sense to look at adding an additional variable scope that authors can use at definition time instead of just using the downward api in pod env. I'll bring it up today in t

[2020-05-04 14:07] sbwsg commented on #2013
Blocked by https://github.com/tektoncd/pipeline/issues/2523 and https://github.com/tektoncd/pipeline/issues/2524

[2020-05-04 15:27] sbwsg commented on #989
This issue relates to, and is perhaps superceded by, https://github.com/tektoncd/pipeline/issues/2343 which is a more recent proposal for making credentials a declarable part of a Task's description.

[2020-05-04 15:55] skaegi commented on #2322
Also see https://github.com/tektoncd/pipeline/issues/1522

[2020-05-04 16:31] piyush-garg commented on #2533
PR #2527 for it but needs to be merged later

[2020-05-04 21:03] bobcatfish opened #2540 "yaml tests seem to be consistently timing out"
# Expected Behavior

"yaml tests" should only fail if something is actually wrong

# Actual Behavior

All of the runs for #2531 have failed:

https://tekton-releases.appspot.com/builds/tekton-prow/pr-logs/pull/tektoncd_pipeline/2531/pull-tekton-pipeline-integration-tests/

![image](https://user-images.githubusercontent.com/432502/81013432-1a0bb680-8e29-11ea-9b65-9f00197d712e.png)

And recent runs

[2020-05-04 21:32] jlpettersson commented on #2540
I added [example pipelinerun-with-parallel-tasks-using-pvc.yaml](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-parallel-tasks-using-pvc.yaml) in #2521, few days ago.

Things looks worse after that. But I don't really understand what is causing that. Maybe volumes takes time and there are some time outs? I find it hard to see what test is causing tr

[2020-05-05 02:07] vincent-pli commented on #2529
@praveen4g0
The `STATUS` of `kubectl get po` is come from `State.Terminated.Reason` of one container of the `pod`, maybe the first not nil one.
So let's back to your sample, the `step-named-step` will go beyond `step-unnamed-x` as the first one(sort by first character), so its `State.Terminated.Reason` will be displayed. That's why the behavior are not consistent.

That's means `tekton` can do not

[2020-05-05 07:12] NikeNano commented on #1779
If it is fine I will look at this and try to make a PR today for it later this evening :)

[2020-05-05 08:32] vdemeester commented on #2540
Yeah, that's my guess :sweat:

it's gonna do 60 loops of 10s to check the status of the pipelinerun (or taskrun), meaning it times out after 10min.

[2020-05-05 08:37] vdemeester commented on #2533
/kind cleanup

[2020-05-05 08:37] vdemeester commented on #2540
/kind bug
/area testing

[2020-05-05 08:48] vdemeester commented on #2540
There is few ways to fix:
- the quick one, add more time (aka do 90 loops)
- the *longer* migrate to go to run those tests

#2541 does the later.

[2020-05-05 11:17] vdemeester commented on #2540
I've bump the timeout in #2534 (90 loops instead of 60). It should fix the CI while #2541 gets worked on.

[2020-05-05 12:58] jlpettersson commented on #2540
@vdemeester did it work better?

If it is a _regional cluster_ and the PVCs are _zonal_ the two parallel tasks may be executing in different zones and the third task that mount both PVCs is deadlocked since it can't mount two _zonal_ PVC in a pod. I propose that I remove the example, since it depends so much on what kind of storage and cluster that is used. The intentation was to document PVC _acc

[2020-05-05 13:28] vdemeester commented on #2540
Not entirely sure. There is less failures but I see some still.

Yeah, having it in a `no-ci` folder would work

[2020-05-05 13:40] sbwsg commented on #2540
It does appear this might have been related.  Just spotted this in one of our release clusters:

![image](https://user-images.githubusercontent.com/34253460/81072561-52a4a200-8eb4-11ea-885c-eba322ab5da2.png)

And drilling down it does appear to be related to volume / node affinity.

[2020-05-05 13:44] jlpettersson commented on #2540
@sbwsg thanks. It was exactly that task I was worried about. But that example does not provide much value, and it need to be adapted to any environment. So I think it is best to remove it.

But a similar problem may occur for other pipelines that use the same PVC in more than one task. We could move the to the no-ci folder as @vdemeester suggested.

I apologize for the flaky tests the last few day

[2020-05-05 13:48] sbwsg commented on #2540
Yeah this might be a good area we can add docs around at some point.  I wonder how much of it is platform specific and how much Tekton can describe in a cross-platform way.

No worries, thanks for making the PR to resolve, and all the contributions around Workspaces!  We were bound to hit this issue eventually.

[2020-05-05 13:56] jlpettersson commented on #2540
I am curious if we can use some kind of [pod affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity) to get tasks co-located on the same node.

Possibly co-locate all pods belonging to a single PipelineRun so they perfectly fine can use the same PVC as a workspace and perfectly fine can execute parallel. (this is essentially what any singl

[2020-05-05 13:58] sbwsg commented on #2533
Can I suggest that we close this until the deprecation window has closed?  I'd prefer not to keep this PR open for 9 months.

What do others think?  I've documented the deprecation of the annotation here: https://github.com/tektoncd/pipeline/blob/master/docs/deprecations.md

[2020-05-05 15:23] khrm commented on #2529
Yea, as @vincent-pli commented.
It's because Pod status in oc get/kubectl get is status of first container in alphabetical order.
Just change your name here to x-named-step, https://gist.github.com/praveen4g0/cac6134def1034b029c92195495ea824 you will see Completed for both taskrun pod.

[2020-05-05 15:43] wlynch opened #2550 "Cannot install v0.12.0 - release.yaml 404"
# Expected Behavior

Tekton successfully updates using instructions from https://github.com/tektoncd/pipeline/releases/tag/v0.12.0:

[code]

# Actual Behavior

[code]

# Additional Info

Looks like the correct URL should be: http://storage.googleapis.com/tekton-releases/pipeline/previous/v0.12.0/release.yaml

[2020-05-05 15:54] afrittoli commented on #2550
I fixed the release text with the [correct link](
https://storage.cloud.google.com/tekton-releases/pipeline/previous/v0.12.0/release.yaml), I will update the template in the automation to produce the correct link.

[2020-05-05 16:05] afrittoli commented on #2550
https://github.com/tektoncd/plumbing/pull/374

[2020-05-05 16:15] vdemeester commented on #2550
/close :angel:

[2020-05-05 16:15] #2550 closed

[2020-05-05 16:35] afrittoli opened #2552 "Do not fetch pipeline, tasks, resource and run validation once a pipeline is "done""
# Expected Behavior
Once the `pr.IsDone()` condition is met in the pipelinerun reconciler, we should not need to fetch all resources the pipelinerun depends on and re-run validation.

# Actual Behavior
`ResolvePipelineResultRefs`, the function that resolves pipeline results to their values, is only applied in the reconcile cycle once we reach the pr.IsDone()`  status.
Since it takes a `PipelineRun

[2020-05-05 17:20] poy opened #2553 "Question: Is TaskRunResult auto populated?"
# Expected Behavior

[TaskRunResult](https://godoc.org/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1#TaskRunResult) is populated after a TaskRun completes.

# Actual Behavior

TaskRunResult isn't in TaskRun's status

# Steps to Reproduce the Problem

1. Create TaskRun
2. Use kubectl to look at TaskRunStatus
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[2020-05-05 17:21] othomann commented on #2552
/assign

[2020-05-05 17:34] sbwsg commented on #2553
I don't think that TaskResults were in a user-facing state when the 0.10 branch was released.  We had implemented some of the internal types and changes to Step entrypoints but I'm reasonably sure we hadn't yet exposed them for use.  It's mentioned as a new feature in our 0.11.0-rc1 release notes here: https://github.com/tektoncd/pipeline/releases/tag/v0.11.0-rc1 whereas in older 0.10 we mention o

[2020-05-05 20:13] mattmoor opened #2555 "update-codegen assumes deepcopy-gen on path"
This is at HEAD:
[code]

[2020-05-05 20:13] mattmoor commented on #2555
Seems like this should be installed from vendor to ensure consistency?

[2020-05-05 20:50] poy commented on #2553
Good deal. I'll upgrade to v0.11.x

[2020-05-05 20:50] #2553 closed

[2020-05-06 00:34] #2518 closed

[2020-05-06 00:48] vdemeester commented on #2555
Right it does because of gobin. I have a fix for this
/assign

[2020-05-06 02:55] vdemeester commented on #2555
/kind cleanup

[2020-05-06 04:52] pritidesai opened #2557 "Design and implement task results in final tasks"
finally at the pipeline level is on its way:

[design doc](https://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpNa6p-TJdHrw/edit)
[PR](https://github.com/tektoncd/pipeline/pull/2437) - which will be split into multiple PRs

First iteration of final tasks are implemented without task results and `from` clause for Pipeline Resources. In next iteration, please finalize the [design](htt

[2020-05-06 09:19] afrittoli opened #2558 "TaskRuns may be orphaned by a PipelineRun"
# Expected Behavior
The `PipelineRun` controller should always be aware of `TaskRuns` owned by a `PipelineRun` even when the `PipelineRun` status is stale (because of API issues).
Before using the `PipelineRun` status as a source of truth, we should check it against the list ot `TaskRuns` owned by the `PipelineRun`.

# Actual Behavior
When `TaskRuns` are created during the reconcile cycle of a `Pi

[2020-05-06 09:20] afrittoli commented on #2558
/kind bug

[2020-05-06 12:09] orefalo commented on #1912
Tks,

I gave it another try and I can't figure how to authenticate against my git repo.

[2020-05-06 12:12] orefalo commented on #1912
nevermind, found this
https://github.com/tektoncd/pipeline/blob/master/docs/auth.md

[2020-05-06 12:33] imjasonh opened #2559 "Enforce TaskRun timeout using entrypoint binary"
# Problem

Today, TaskRun timeouts are enforced by the Tekton controller scheduling a goroutine to check in the future that a TaskRun has completed -- if it hasn't, it stops execution by deleting the TaskRun's underlying Pod, and updates the TaskRun's status to indicate timeout.

This leads to Pod logs being GCed more quickly than in the case of successful or failed TaskRuns, where the Pod stays a

[2020-05-06 12:40] ImJasonH opened #2560 "Write our own helper image to stop sidecars"
# Problem

Today, Tekton uses the `tianon/true` image to stop sidecar execution when steps complete. It's a small image that exits successfully immediately. We use it by updating sidecar containers' image to the `true` image, which stops the sidecar execution immediately (successfully).

This image isn't owned or maintained by the Tekton team, and though we expect it to be fairly stable and bug-fr

[2020-05-06 12:52] ImJasonH commented on #2560
Well don't I feel silly: https://github.com/tektoncd/pipeline/pull/1510 😬

[2020-05-06 15:55] kramvan1 commented on #2510
@vdemeester we are building the images, but are they picking up the latest OS base package updates, from what I'm seeing in the release images, they are back level.

[2020-05-06 17:01] n3wscott commented on #2558
my advice would be to not use the trackers for this but use a informer for `TaskRuns` inside of `PipelineRuns`. We do this all over Knative, here is an example: https://github.com/knative/eventing/blob/master/pkg/reconciler/parallel/controller.go#L62-L65

The `Parallel` resource makes `Subscriptions` and manages their lifecycles.

The issue you are going to run into is that the generate name on th

[2020-05-06 17:09] vdemeester commented on #2560
/kind feature

[2020-05-06 17:30] vdemeester commented on #2559
/kind feature

[2020-05-06 19:27] rakhbari opened #2563 "ClusterRole tekton-pipelines-webhook-cluster-access should be limited to *.tekton.dev resourceNames"
# Expected Behavior
In the latest 0.12.0 release.yaml file, ClusterRole `tekton-pipelines-webhook-cluster-access` should be limited to `*.tekton.dev` `resourceNames`.

# Actual Behavior
ClusterRole `tekton-pipelines-webhook-cluster-access` doesn't have a `resourceNames` attribute and therefore contends to act upon all resouce names.

# Steps to Reproduce the Problem
Does not apply. This is strictl

[2020-05-06 19:43] sbwsg commented on #2563
I think this relates specifically to the customresourcedefinition part [here](https://github.com/tektoncd/pipeline/blob/master/config/200-clusterrole.yaml#L66-L70) is that right?

@vdemeester do you know if the webhook needs write access to all CRDs or we could scope to just tekton's?

/kind feature

[2020-05-06 20:46] rakhbari commented on #2563
@sbwsg That's correct Scott. That's the correct YAML and section. Any rules with read-only verbs are not of big concern. But anything with CRUD verbs that are not limited by `resourceNames` raise red flags with enterprise security folks, as they did here at eBay.

[2020-05-07 01:41] vikas027 opened #2565 "Question - is there a way to pass git branch/revision in a task?"
# Problem
I am trying to reuse my git resource which defaults to a `master` branch in different tasks but with different branches.

Is it possible to do something similar to below?

[code]
# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version`**

[code]

[2020-05-07 08:29] afrittoli commented on #2558
Today we do both, not sure why:
-  use the informer: https://github.com/tektoncd/pipeline/blob/fe5981e4e75ffec7f50a4aaab5eb6899742dd0f2/pkg/reconciler/pipelinerun/controller.go#L99-L101
- setup a tracker: https://github.com/tektoncd/pipeline/blob/d5a91fdddc520d407e53324569b5af2d95e612b3/pkg/reconciler/pipelinerun/pipelinerun.go#L185-L186

So we do run the reconciler whenever a TaskRun is updated.

[2020-05-07 08:48] vdemeester commented on #2563
Hum, I don't think it needs access to all CRDs, just the tekton's.

[2020-05-07 08:53] vdemeester commented on #2565
You would need to create a new PipelineResource for the branch you want to use (specificying the revision there)
/kind question

[2020-05-07 09:00] vdemeester commented on #2557
/kind feature

[2020-05-07 09:02] vdemeester commented on #2552
/kind cleanup

[2020-05-07 09:15] vikas027 commented on #2565
Ah, ok. Yeah, I know I can do that. Wouldn't be it nicer to create a `PipelineResource` with a default `revision` (say `master`) and then reuse the resource in `PipelineRun` but with a different `revision`, something like this?

[code]

[2020-05-07 09:23] vdemeester commented on #2565
@vikas027 that's not really how PipelineResource are designed ; they are designed to be swapable "as-is" in a Pipeline/Task (through binding in PipelineRun/TaskRun). You can however use `worksace` and the `git-clone` task from [`tektoncd/catalog`](https://github.com/tektoncd/catalog) to have more control and pass the revision as a param for the `git-clone` task.

[2020-05-07 09:43] vikas027 commented on #2565
Cool, @vdemeester . I will try to use the same. I found an example [here](https://developer.ibm.com/tutorials/build-and-deploy-a-docker-image-on-kubernetes-using-tekton-pipelines/#create-a-task-to-clone-the-git-repository).

[2020-05-07 09:43] #2565 closed

[2020-05-07 10:25] gsaslis commented on #2140
@vdemeester I was actually looking for something similar, as @dbazhal, but I don't mind if I could define different service accounts per task on the PipelineRun, rather than the Pipeline.

How do other people get around the fact that there might be a pipeline step that requires e.g. cluster-admin privileges, while a step further down still needs access to the k8s api, but not at cluster-admin leve

[2020-05-07 10:29] gsaslis commented on #2140
@vdemeester never mind. I just found out about [Mapping Service Accounts to Tasks](https://github.com/tektoncd/pipeline/blob/c76a6ad90d191c837dfb0b1c00e494866512ba9f/docs/pipelineruns.md#mapping-serviceaccount-credentials-to-tasks).

Sorry for the noise. Leaving it here in case it helps someone else who stumbles upon this issue first.

[2020-05-07 10:44] #2555 closed

[2020-05-07 15:08] sbwsg opened #2574 "Support e2e tests / example YAMLS for behaviour behind feature flags"
# Expected Behavior

I should be able to write e2e tests or YAML examples that require feature flags be set a specific way.

# Actual Behavior

Currently doing so would potentially break other tests running in the same cluster since the feature flags are cluster-scoped.

# Additional Info

Couple ideas that have been floated to fix this so far:

1. What if Tekton Pipelines could be set to only wat

[2020-05-07 16:46] 2020testuser commented on #2507
@dibyom - Very sorry for the delay. Since, the tekton step runs as a kubernetes container , user doesn't have access to run certain initializations within the step. That's the reason planned to use InitContainers. Was looking for something similar to Initconainers in Tekton or how Initcontainers can be initiated in Kubernetes. Thanks!

[2020-05-07 16:52] animeshsingh commented on #2050
@jcmcken yes Argo has full featured looping and recursion support - @Tomcli can point to some implementation details there

[2020-05-07 16:53] animeshsingh commented on #2050
Thanks @GregDritschler for the detailed analysis - is this being discussed in any workgroup meeting on Tekton side?

[2020-05-07 17:01] chanseokoh commented on #2507
@2020testuser you can chain multiple steps. Take a look at the tar example in [this section](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-resources). You can find many other examples with multiple steps in the doc. So, I think you can just add a new "InitContainer"-like step before your main step?

[2020-05-07 18:05] GregDritschler commented on #2050
@animeshsingh There was a discussion this past Monday, mainly around whether there are sufficient CI/CD use cases to justify doing it in Tekton.  That's where it stands for now.

[2020-05-07 18:28] r0bj commented on #2050
I wanted to write about my use case. There is kaniko `Task` from catalog https://github.com/tektoncd/catalog/tree/v1beta1/kaniko, it's great and works fine but only for one image. What if I have multiple images (which are unknown at the time of building static `Pipeline` definition) to build from one repository? Then I cannot use it and I have to build images is some custom way in loop.

[2020-05-07 19:12] afrittoli opened #2578 "The tekton.dev/conditionCheck contains the TaskRun names insteaf of the check name"
# Expected Behavior
The `tekton.dev/conditionCheck` attached to the underlying `TaskRun` should contain the name of the `Condition` from which it was generated.

# Actual Behavior
It contains instead the name of the `TaskRun` itself.

# Steps to Reproduce the Problem

1. Run a pipeline with conditions. Check the taskrun associated to the condition.

[code]

# Additional Info

- Kubernetes version:

[2020-05-07 19:15] animeshsingh commented on #2050
@GregDritschler above is an exact example - dynamic parallel steps needed to complete a task based on the output of previous step, and used in multiple CI/CD scenarios.

[2020-05-07 20:07] jlpettersson commented on #989
This can be done as by mounting the secret in a [projected volume](https://kubernetes.io/docs/concepts/storage/volumes/#projected)

Create a secret from your `gradle.properties`

[code]

A "dummy-task", as an example how to access the `gradle.properties` file in a Task

[code]

[2020-05-07 20:20] jlpettersson commented on #2343
I earlier promised to come up with a proposal on how we can use "projected service accounts" - with tokens that are regularly rotated by the kubelet. (see [No more forever tokens](https://thenewstack.io/no-more-forever-tokens-changes-in-identity-management-for-kubernetes/) )

I have tried this out. Actually, it works as is with Tekton, without any changes. By using a [projected volume](https://kub

[2020-05-07 22:03] afrittoli commented on #2578
Fixed by #2579

[2020-05-07 22:03] #2578 closed

[2020-05-08 01:57] vincent-pli opened #2582 "Should add validation for "Pipelinerun.spec.ServiceAccountNames" to avoid define with a wrong "taskName""
# Expected Behavior
Raise validate error to notify user.
# Actual Behavior
Success with nothing, hide the wrong definition.
# Steps to Reproduce the Problem
Define `Pipelinerun.Spec.ServiceAccountNames` with a wrong `taskname`, like this:
[code]
The `Pipelinerun` will success and its `taskrun` will success with default `sa`, it's not expect.
# Additional Info

- Kubernetes version:

  **Output of

[2020-05-08 03:47] HefeiJoe opened #2584 "Faile: create workspace from volumeclaimtemplate, binding "task-ws" is invalid"
kubectl create -f https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/workspace-from-volumeclaimtemplate.yaml

![image](https://user-images.githubusercontent.com/27885579/81368070-76b8eb00-9121-11ea-9ec3-d5c636fc3500.png)

[2020-05-08 09:34] jlpettersson commented on #2584
The `volumeClaimTemplate` option was introduces in Tekton Pipelines v0.12.0. This example will not work on earlier versions.

[2020-05-08 10:40] jlpettersson opened #2586 "Difficult to use parallel Tasks that share files using workspace"
# Expected Behavior

A key feature for a CI-system is to provide **fast feedback**. Parallelization is one way to provide faster feedback.

I would be interested in an _easy_ way to run parallel "commands" (e.g. steps or tasks), sharing the same workspace volume.

# Actual Behavior

Tasks _can_ be run parallel today. But there is a lot of complexity when using a PVC based workspace (using PVC work

[2020-05-08 11:29] afrittoli commented on #2586
Results is a feature that has been introduce to allow for PVC-less data share across tasks, at least for parameter / text type of data.

One concern for parallel steps is scheduling, since a Task with multiple parallel steps might be tougher to schedule, even though we could have a maximum parallel steps setting to ease that issue.

Another small concern I have is re-usability of tasks. Since the

[2020-05-08 11:32] afrittoli commented on #2584
@HefeiJoe thank you for your bug report.
Could you share your Tekton version and K8s version?

It would be greatly helpful if you could follow the issue template when filing issues in future.

/kind question

[2020-05-08 11:32] afrittoli commented on #2582
/assign @vincent-pli
/kind bug

[2020-05-08 11:55] sbwsg commented on #2343
Very interesting!  Would there ever be a reason that a TaskRun would want to override the `audience`?  I have to admit I don't fully understand how the audience field works.

This definitely seems worthwhile to document (at least to me!)

[2020-05-08 12:25] sbwsg opened #2587 "Wrap `cmp.Diff` to make clear the (want, got) ordering of arguments."
# Expected Behavior

In https://github.com/tektoncd/pipeline/pull/2580 we are trying to make test diff formatting uniform.  There is still room for user-error though: if the user did not call `cmp.Diff` with arguments in the expected order `(want, got)`, then the diff they print with `diff.Print` will be incorrect / reversed.

One possible improvement over this would be to wrap `cmp.Diff` with a [

[2020-05-08 14:32] GregDritschler commented on #2586
I'm confused.  Steps in a Task map to containers in a Pod.  I assume that "parallel steps within a Task" then would map to parallel containers in a Pod.  There wouldn't be any scheduling involved for parallel steps.  Right?

[2020-05-08 16:35] sbwsg commented on #2524
Here's a slightly more in-depth illustration of the problem:

[code]

`creds-init` has written credentials to the /tekton/creds directory as the root user.  So the files it wrote are owned by root/root.  My Step runs as user 1111 in group 2222.  So my Step is not able to open those creds for reading.

[2020-05-08 16:43] bobcatfish commented on #2586
@jlpettersson could you give some examples of steps you'd want to run in parallel?

[2020-05-08 16:50] jlpettersson commented on #2586
I also see the step container image as a reusable unit. But a full `step` including parameters is also reusable, but only via _copy-and-paste_.

The typical use-case is a CI-pipeline that starts with a **git-clone** and the following steps analyze or generate outputs depending on all files that was cloned from git - hence the usefulness with a shared workspace volume.

e.g. I have a pipeline simil

[2020-05-08 16:56] bobcatfish commented on #2586
Interesting! Thanks for the details. I haven't thought this through very far but a couple of intial reactions:

1. git-clone in particular being a separate task is a shortcoming we've run into as a result of seeing how things go without pipeline resources, but i think we'll have other options here eventually (+ @sbwsg )
2. it seems from your description like what you really want is the graph expre

[2020-05-08 16:56] bobcatfish commented on #2586
Re. (2) -> https://github.com/tektoncd/pipeline/issues/617 might be relevant to your interests

[2020-05-08 17:09] jlpettersson commented on #2586
Linking task output (result) to  task input (params) is a great feature.

But this is more about sharing all files in the workspace, typically a larger number of files from a git-clone operation.

The closest alternative to this is to use [pod-affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity) as in my [comment](https://github.com/tek

[2020-05-08 17:31] jlpettersson commented on #2586
A use-case from Tekton Catalog is the three golang-tasks: [build](https://github.com/tektoncd/catalog/blob/v1beta1/golang/build.yaml), [lint](https://github.com/tektoncd/catalog/blob/v1beta1/golang/lint.yaml) and [test](https://github.com/tektoncd/catalog/blob/v1beta1/golang/tests.yaml). For fastest feedback, it would be good to execute all three in parallel. They are all three operating on the sa

[2020-05-08 17:58] jlpettersson commented on #2586
A full example of a Golang CI-pipeline that uses a proposed "TaskGroup":

[code]
Example Pipeline definition. I have excempted params for clarity. The taskGroup syntax could be designed differently.

[code]

Since all tasks about belong to the same `taskGroup: ci` they will all be executed within the same Pod.

[2020-05-08 18:09] bobcatfish opened #2588 "Allow Tasks/Pipelines to indicate versions of Tekton Pipelines they work with"
# Expected Behavior

Before I try to use a Task or a Pipeline, I should know if it is compatible with my installation of Tekton Pipelines just by looking at it.

# Actual Behavior

Right now the only indication is the `apiVersion`, currently with possible values of `v1alpha1` and `v1beta1`. But additive changes can be made between releases.

# Steps to Reproduce the Problem

For example [v0.12.0](

[2020-05-08 18:33] jlpettersson commented on #2343
Yes! When a serviceAccountToken from a projected volume is _without audience_ it is intended to be used for requests to the ApiServer in the same cluster.

By setting a different audience, e.g. `audience: vault` or `audience: docker-registry` or `audience: deploy-to-cloud-run`, the token _can not be used_ for requests to the ApiServer (or any service other than written in audience).

This is great

[2020-05-08 20:49] wlynch commented on #2343
Hopping in late, but here's an idea to add on to approach 2, but relies more on the existing k8s Secrets API.

### Idea

Treat secrets like [workspaces](https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md) by providing a mechanism to bind them in tasks and allow users to reference them by name to let users use them with the Secrets API.

### Example

Task:

[code]

TaskRun:
[code]

[2020-05-08 21:52] wlynch opened #2590 "Idea: Tekton Generators"
/kind feature
/kind design

Creating in pipelines, since I think this is more of a discussion on our approach to Pipeline and Task configuration.

# Problem

Currently it's not an easy for users to bootstrap common workflows. e.g. "run a simple build and test workflow on this GitHub repo".

# Feedback I'm looking for

- Is this a good/useful idea?
- How else (if at all) can we encourage users to u

[2020-05-08 22:04] 2020testuser commented on #2507
@chanseokoh - I got the application successfully tested with gradle jib. Thanks for all your help.

Now , I'm testing with plain gradle (to do time comparison).
 I'm testing with plain gradle (4.5 image). What happens is after gradle build (using :docker task), I need to push the built image which is in server host to the Docker repository. I have a secret created for my docker config in my Kubern

[2020-05-08 22:53] chanseokoh commented on #2507
Because `docker push` pushes an image stored in a local Docker daemon (local to the running container), I assume in an earlier step you did `gradle jibDockerBuild` to build and push an image to the Docker daemon, right? Then, how about creating an image tarball instead of building an image to a Docker daemon? That is,

1. Run `gradle jibBuildTar`. This will create an image as a tarball at `<projec

[2020-05-08 22:56] chanseokoh commented on #2507
BTW, doing `gradle jib` is immensely more efficient (in terms of saving time, storage, and bandwidth) than doing `gradle jibDockerBuild|jibBuildTar` and then pushing the image later, because `gradle jib` can push only those bytes that are missing the target registry.

[2020-05-09 00:09] 2pai commented on #2587
hi @sbwsg, this is my first time looking to tektoncd repository,
is it okay for a first-timer to have a shot on this?

[2020-05-09 00:16] coryrc commented on #2292
Why not change the go struct then?

[2020-05-09 12:08] ImJasonH commented on #2292
This is actually more consistent with Kubernetes style (e.g., how env vars are expressed to containers) and though it is a bit verbose, we thought consistency with the platform was better.

[2020-05-09 12:09] #2292 closed

[2020-05-09 16:46] 2020testuser commented on #2507
@chanseokoh - The Jib works fine and I will be using it.
I'm doing a comparison ( as a report) on build time in Jib and plain Gradle (without Jib and with :docker task ) to showcase jib and make it as standard.
That's the reason testing with plain Gradle.
In plain gradle, the gradle image runs as  gradle user (sample code below). So,  after building the image, I want to push the image to the compa

[2020-05-09 18:05] ysaakpr opened #2591 "Controlling max parallel jobs per pipeline"
What is the way to control concurrency? The pipeline has 100 independent steps. But I don't want them to run all 100 together.  For different pipeline run, I wish to adjust the concurrency as well.

[2020-05-09 20:28] chanseokoh commented on #2507
Even before thinking about a secret account, docker config and what not, there is a fundamental issue if you want to use Docker.

Basically, using Docker requires root. It is one of the dreaded requirements that people dislike but have to live with. You do need to have elevated privileges to be able to do `docker push`. At least the Docker daemon should run as root. (Not 100% sure but the Docker C

[2020-05-09 23:50] ImJasonH commented on #2591
There isn't a configuration for this today, but it should be possible if there's demand and the use cases make sense.

In the meantime you can run pipelines in a namespace with a resource limit such that no more than X CPUs are available to tasks, and those over the cap will queue until others finish. If you're just trying to limit the resource footprint this is likely the best way to express the

[2020-05-09 23:54] fabioluciano commented on #2382
Hi @dibyom.

I already done all these steps(twice), and the problem persists.

This is my config-artifact-pvc
[code]

Created pod for pipeline...
[code]

Note that in Volumes session that there is my pvc `ws-jtzj8` and  a `pipelinerun-pvc` that i never configured.

[2020-05-10 07:45] ysaakpr commented on #2591
Using Kubernetes resource-wise limits is one of the ways. But which pretty hard to achieve due to the kind of resource limits that I have to dynamically do, based on different aspects.
In my pipeline, we are loading 100 of DB dump to a new database, for creating a new environment from a seed database instance. All the jobs can run parallel, But if we run that the DB instance. from which we taking

[2020-05-10 08:51] ysaakpr opened #2592 "Better tasks order logic in Pipeline - label selectors in runAfter"
As of today, Tekton has two methods to control the sequence of tasks in Pipeline. Which are basically by using `runAfter` and `from` keywords. In a complex CI CD pipeline, sometimes its difficult to maintain `runAfter` or even `from`.

Eg: In my Pipeline(Which is created dynamically, and programmatically) has 100s of tasks. Which performs actions in parallel. In the current scenario, in order to r

[2020-05-10 14:02] ysaakpr commented on #2591
@ImJasonH  I could contribute to this if someone can give me some hints on the code structure as well as the standards to follow, plus any other technical issues if exists, which will conflict against this behaviour

[2020-05-10 14:06] ImJasonH commented on #2591
Thanks, I think this seems like a reasonable addition, and would be happy to help you with it.

First, what kind of API addition are you envisioning? What's the minimum addition we can add that we could extend later if we need to? Is there any precedent in other workflow tool we could borrow/steal from?

Depending on the size of the change, we'd probably ask for a design doc answering those questi

[2020-05-10 16:42] jlpettersson commented on #2343
@sbwsg I created an _alternative_ `git-clone` task in Catalog, https://github.com/tektoncd/catalog/pull/309 and wrote a README about how to setup SSH authentication to e.g. GitHub, solely by creating Secrets and mount them with a projected volume, and configure the `git` command to use paths to located them.

It shows an authentication:

- without _custom annotations_ on Secrets
- without modifica

[2020-05-10 17:43] ysaakpr commented on #2591
At first glance, I think a property in `pipelinerun` or|and `pipeline` resource named `concurrency`
`concurrency` if defined should be a value gte 0. Zero, can make the pipeline to pause between run, any positive value will set the max parallel that can be triggered. If no value set, all possible will run in parallel.

Initial version for this feature can be just `concurrency` field in the pipelin

[2020-05-10 19:34] jlpettersson commented on #2591
I think this can be solved by using a [Pod quota for the Namespace](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace/).

[2020-05-10 21:32] jlpettersson commented on #2592
This can potentially be solved also by `runAfter: ['taskGroupName']` that I propose in [Proposal: DAG within Pod - TaskGroup comment](https://github.com/tektoncd/pipeline/issues/2586#issuecomment-625941044)

[2020-05-11 03:54] ysaakpr commented on #2591
Of course, you have an option from Kubernetes resource limits as you mentioned, but not always practical.  For example, In my namespace, I am not just using the only tekton. And configuration and usability point of view, using pod quota is much more complex than using a value of max parallel in `pipelinerun`

[2020-05-11 04:02] ysaakpr commented on #2592
@jlpettersson, Awsome, but your proposal is more for running the same group tasks in one pod than for control the ordering I guess.  I think we should track these two issues separately. Else if the above ticket is really focusing on `taskGroup`, we may close this in favour of your ticket.

[2020-05-11 05:17] #2584 closed

[2020-05-11 05:18] HefeiJoe commented on #2584
@jlpettersson  Thanks

[2020-05-11 08:15] fenglixa commented on #2050
Great to know tekton could support this feature!

It's true out of the control in current tekton pipeline, if the loop parameters are defined by user as input parameters or it's the result of another task.

We may need to support both the parameters with array list, **e.g [a, b, c, d]** and array list with dict, e.g **[{'a': 1, 'b': 2}, {'a': 10, 'b': 20}]**. Then only one loop param need to be co

[2020-05-11 09:07] vdemeester commented on #2590
Some links:
- https://github.com/tektoncd/experimental/issues/185
- https://github.com/redhat-developer/build/
- https://github.com/bigkevmcd/tekton-ci

[2020-05-11 11:26] #2582 closed

[2020-05-11 12:06] 2020testuser commented on #2507
@chanseokoh - Thanks! Could you please let me know whether having a step (say, step 2) after the gradle step (say step 1)?  In that way , step 2 can use Kaniko (or some other mechanism like shared workspace)  to pull the built image from step 1 and send as parameter to step 2. gradle user is not needed in step2 but as you mentioned is root usre still needed?
I'll also try to do some testing .

Tha

[2020-05-11 12:35] vdemeester opened #2594 "Add a check to ensure diff.PrintWantGot is used"
In https://github.com/tektoncd/pipeline/pull/2580, we migrated `cmp.Diff` to better functions (simpler to use, using `diff.PrintWantGot()`). To make sure we don't have to do #2580 again in the future, we should add a `presubmit` check to check for this.

This can be done as in a `pre_build_tests` (https://github.com/tektoncd/plumbing/blob/master/scripts/presubmit-tests.sh#L114)

/kind cleanup
/are

[2020-05-11 12:37] sbwsg commented on #2594
Also worth keeping in mind that in future [we might not be using `cmp.Diff` at all](https://github.com/tektoncd/pipeline/issues/2587), and replace it with a helper that does the diffing and formatting together.

[2020-05-11 12:53] vdemeester commented on #994
This is closed by https://github.com/tektoncd/pipeline/pull/2489 and https://github.com/tektoncd/pipeline/pull/2444

[2020-05-11 12:53] #994 closed

[2020-05-11 12:54] vdemeester commented on #2045
@danielhelfand are https://github.com/tektoncd/pipeline/pull/2489 and https://github.com/tektoncd/pipeline/pull/2444 closing this issue ?

[2020-05-11 13:00] sbwsg opened #2595 "Default workspace types for PipelineRuns and TaskRuns"
# Expected Behavior

Following up on https://github.com/tektoncd/pipeline/issues/2398

It would be useful to be able to specify default `Workspace` types. The idea would be that users don't need to specify `workspaces` they don't care about (or whose configuration should be entirely in the hands of admins) and Tekton could just inject a default bit of `volume` configuration when it launches a `Tas

[2020-05-11 13:10] sbwsg commented on #2595
Here's an example ConfigMap syntax that might suit. TaskRuns would received `emptyDir` WorkspaceBindings by default and PipelineRuns would receive `volumeClaimTemplates` by default:

[code]

And then, given a Task that looks just like one of our existing examples:

[code]

A user could choose to only provide the secret and configuration workspaces:

[code]

All of the other workspaces would be aut

[2020-05-11 13:16] jlpettersson commented on #2595
This is also related to https://github.com/tektoncd/pipeline/issues/2586
since, you currently have to _carefully_ think how you use PVCs in a Pipeline at least when you have any _parallelism_ of tasks or if you have a _regional_ cluster.

Remember https://github.com/tektoncd/pipeline/pull/2546

fan-out: one task followed by multiple parallel - is difficult with PVC workspaces
fan-in: multiple para

[2020-05-11 13:28] sbwsg commented on #2595
Ah yeah, good point; it may be that default workspaces for PipelineRuns are much trickier to use correctly.

[2020-05-11 13:33] sbwsg commented on #2587
@2pai Sure thing, thanks for your interest!  Since this is your first contribution I suggest you write the helper funcs first and make a PR.  Once code reviewers are happy with the helpers you could then replace usages of `cmp.Diff` in a separate commit or PR.

[2020-05-11 13:37] sbwsg commented on #2587
Also, feel free to reach out to me on [Slack](https://github.com/tektoncd/community/blob/master/contact.md#slack) (user: Scott) if you need any pointers.

[2020-05-11 14:23] chanseokoh commented on #2507
If you have to run Docker commands like `docker push` yourself in a step, then basically, yes. But perhaps, now I am thinking you may not have to run `docker push` yourself. Please read through.

Disclaimer: I am not a Tekton expert, and what I say here may be out of date or not ideal.

Before I talk about pushing a Docker image from Tekton, I'd like to talk about general file and information shar

[2020-05-11 14:57] shuawest opened #2596 "Ability to burst builds into cloud as capacity becomes limited"
Alternative tools such as CloudBees have a central operations manager that controls where to schedule builds. As an on-premise cluster reaches capacity the operations manager is able to target builds to an alternative on a scale public cloud cluster. While Tekton tasks can be directed to a specific target, is there a way to have the target be controlled by the build queue depth, cluster capacity,

[2020-05-11 15:12] jlpettersson opened #2597 "Add variable substitution to fields within a Projected Volume"
# Expected Behavior

That I can use [projected volumes](https://kubernetes.io/docs/concepts/storage/volumes/#projected), e.g. for more secure ServiceAccountTokens (that expire and may have single-audience), or using a Secret or ConfigMap mounted to a single directory.

I also want to _name_ my Secret, ConfigMap and ServiceAccountToken how I want in my environment.

# Proposal

Add variable substit

[2020-05-11 15:19] master221 opened #2598 "submodule update --recursive failed"
# Expected Behavior
it should append --depth only once
# Actual Behavior
"Error running git [submodule update --recursive --depth --depth=1]: exit status 1\nfatal: depth --depth=1 is not a positive number
https://github.com/tektoncd/pipeline/blob/master/pkg/git/git.go#L172
# Steps to Reproduce the Problem

1. /ko-app/git-init -url <repo> -revision FETCH_HEAD -refspec +refs/heads/mybranch:refs/remo

[2020-05-11 15:26] sbwsg commented on #2598
/kind bug

[2020-05-11 15:27] sbwsg commented on #2598
fyi @ad22 this looks possibly related to the refactoring added to git-init?

[2020-05-11 15:32] ImJasonH commented on #2591
@ysaakpr Configuring pipeline-wide concurrency limits definitely seems easiest, but I wonder if that's expressive/powerful enough to satisfy more complex use cases. We should explore other options, even if only to be able to dismiss them with well thought out reasons.

Consider a pipeline that does two highly parallelizeable things (e.g., initializing a database, then later deploying code to multi

[2020-05-11 16:26] ImJasonH opened #2599 "FR: Document runtime contract and deprecation policy"
# Expected Behavior

The runtime contract is documented and well understood. Changes to the contract (incl. additions to the contract that may not have been enforced/documented in the past) adhere to a documented deprecation policy.

# Actual Behavior

🤷‍♂️ Nope.

# Examples

- Environment variables that Tekton adds to steps' env vars
- Volumes/paths available to steps (incl. permissions)
- Any gu

[2020-05-11 16:48] ysaakpr commented on #2591
@ImJasonH  that's a good thought. There are already two other tickets for Task grouping in a pipeline, which actually discussing the pipeline task grouping
https://github.com/tektoncd/pipeline/issues/2592 and https://github.com/tektoncd/pipeline/issues/2586#issuecomment-625941044.

As you mentioned, the idea of concurrency should not be limited to just at the pipeline level. I agree/accept that fo

[2020-05-11 17:17] siamaksade opened #2600 "Add global stepTemplate config"
Currently a global `podTemplate` can be specified in the default Tekton configuration (`config-defaults` configmap). Similar global config would be desirable for `stepTemplate` to apply to all taskruns. The use-case is to be able to for example constrain the amount of cpu and mem resources that taskrun containers can consume.

[2020-05-11 17:18] vdemeester commented on #2600
/kind feature
/cc @danielhelfand

[2020-05-11 17:32] ImJasonH commented on #2600
Isn't this something you can accomplish with [limit ranges](https://kubernetes.io/docs/concepts/policy/limit-range/) ?

[2020-05-11 17:38] siamaksade commented on #2600
Limit range would apply to everything in the namespace, including the application pods. TaskRun pods are terminating pods so admin might allow higher limits for those pods since they stop after a usually short while, in contrast to application pods are non-terminating and keep running.

[2020-05-11 18:04] dibyom commented on #2591
/kind feature
/area api

[2020-05-11 18:08] ImJasonH commented on #2600
That makes sense. `stepTemplate` doesn't let you enforce any kind of maximum/minimum resource request, just a _default_.

Another option would be to use [OPA's Gatekeeper](https://github.com/open-policy-agent/gatekeeper) to enforce a policy that TaskRuns run as part of a PipelineRun have a default/max resource request, or maybe even max total resource usage across the run.

[2020-05-11 18:58] danielhelfand commented on #2600
One thing I am noticing here that seems related is there are no docs on `stepTemplates` as far as what properties are available that could've helped inform this a little better. Most examples just include specifying environment variables. Beyond just resource constraints, there could be other use cases that may make sense here, but it's hard to tell since not a lot of info is available.

[2020-05-11 18:59] dibyom commented on #2382
I'm not super familiar with k3s...can you manually create pvcs in your k3s cluster? https://rancher.com/docs/k3s/latest/en/storage/

When you create a pipeline with an output resource type git, the pipeline controller will try to automatically create a PVC to share the output git resource across tasks: https://github.com/tektoncd/pipeline/tree/master/docs/developers#how-are-resources-shared-betwee

[2020-05-11 19:09] dibyom commented on #2596
This would be a cool feature but at the moment, the Tekton controller only schedules on the cluster it is running on. Could be a proxy of some kind that can schedule the calls to the right clusters based on load

/kind feature

[2020-05-11 19:10] dibyom commented on #2592
You might be interested in #2446

/kind feature

[2020-05-11 19:21] dibyom commented on #2438
Worth discussing: Is there a need to differentiate between "regular" taskruns and these conditional taskruns? I believe these taskruns are present in the status under the pipelineTask's `conditionChecks` field

[2020-05-11 20:02] danielhelfand commented on #2438
I understand the idea of trying to keep the results of Conditions separate from TaskRuns, but I think this mainly comes down to a couple things for me:

1. These aren't being treated as TaskRuns. They are considered to be a ConditionCheck on the PipelineRunSpec, and yet a TaskRun is created as a result of this PipelineRun. This makes it difficult to develop around the idea of Conditions with regar

[2020-05-11 21:40] ad22 commented on #2598
Appears so. I'll attempt to fix it.

[2020-05-11 21:55] ad22 commented on #2598
Fixed in #2602

[2020-05-11 22:30] #2381 closed

[2020-05-11 23:46] shuawest commented on #2596
At this point, the plan would be to have the user create a Condition for a build task that looks up the build queue length and/or available cluster capacity to target on-prem versus public cloud.

[2020-05-12 02:19] 1026908346 commented on #2441
is there any other SDK for tekton?

[2020-05-12 05:21] ysaakpr commented on #2592
oh, that’s nice, finally is a good idea for running any tasks even pipeline failed. Cleanup jobs are better to do at finally. Though my use cases does not stand for finally, just because they are not the end. Means I want to run few other tasks after this tasks.

Implementing finally would be easier than this. Because it just have to check for status of pipeline. Grouping looks more complex but us

[2020-05-12 06:48] dghubble opened #2603 "Namespaced controller should not list cluster namespaces"
# Expected Behavior

https://github.com/tektoncd/pipeline/pull/2144 added a command `--namespace` to allow the controller to be used in a more namespace-scoped way, watching only a single namespace. Accordingly, we use a restricted ClusterRole that does not permit any cluster-level namespace access.

# Actual Behavior

Tekton controller errors trying to list cluster namespaces. Fortunately, Tekton

[2020-05-12 09:22] vdemeester commented on #2603
/kind cleanup

[2020-05-12 11:04] gsaslis commented on #1559
Let me add another use case here:

I have a pipeline where I want to:

1. provision some resources,
1. deploy an application in those provisioned resources,
1. run some integration tests against deployed application,
1. tear down the resources (undeploy / unprovision any cloud resources).

I want the tear down task to run regardless of whether tests passed or failed.

[2020-05-12 12:09] ImJasonH commented on #1559
@gsaslis This sounds like a use case for a Pipeline comprised of reusable single-purpose Tasks, rather than a single Task which is responsible for doing everything at once. In this case, your Pipeline would have Tasks for each bullet point (`provision`, `deploy`, `integration-test`, `teardown`), and the ongoing Pipeline-level finally work (#2437) should be useful to you.

By putting this logic int

[2020-05-12 12:24] sbwsg opened #2605 "Document all locations that variable substitution is available"
# Expected Behavior

We should write down all the places that a variable can be substituted in our CRDs.

# Actual Behavior

It's a bit hit-or-miss; we demonstrate some places to substitute in this section: https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#using-variable-substitution but it doesn't look like we document all of the possible locations that are supported.

# Proposal

My

[2020-05-12 13:11] gsaslis commented on #1559
@ImJasonH thanks for the pointer. I absolutely meant for those to be separate Tasks (which is why i referred to it as a "task" above.

What I didn't notice was the big, fat "within the same Task" on this issue title 🤕

Yes, this use case was not meant for this particular task - I just found this one first. Apologies for the noise.

[2020-05-12 13:35] #2410 closed

[2020-05-12 16:41] zzguang520 commented on #1228
@cnych how to fixed it?I have same issues now,looking forward to your reply,thanks!

[2020-05-12 20:11] andrewballantyne opened #2610 "Enum Parameter Type"
Some of the template sections are not feature-request oriented, so I'll just give a trimmed down version. Today this does not exist as far as I can tell from the docs. There is a suggestion in https://github.com/tektoncd/pipeline/issues/1393#issuecomment-558833526 but it's asking for a lot of other flexibility as well. Which might be a larger and slower to get ask.

# Expected Behavior

[code]

I

[2020-05-12 20:25] jlpettersson commented on #2586
/assign

[2020-05-12 21:01] bobcatfish commented on #2610
@skaegi probably has some thoughts here, he's been working on adding something like a "schema" to params to allow for many different types beyond just the array and string we currently have

[2020-05-12 21:17] nickgerace opened #2613 "Using v0.12.0 as a Go module breaks due to a knative/pkg error"
# Expected Behavior

Using Tekton pipelines v0.12.0 as a Go module should not break due to dependencies not being compatible with 18.X k8s APIs.

# Actual Behavior

Since knative/pkg is not compatible with k8s 18.X APIs, using Tekton pipelines v0.12.0 as a Go module fails.

# Steps to Reproduce the Problem

1. Create a Go project
2. Use Tekton v0.12.0 as a Go module, which uses k8s 18.X APIs
3. Pe

[2020-05-12 21:18] #2517 closed

[2020-05-12 22:04] jlpettersson opened #2614 "Duplicate ways to specify ServiceAccountName for tasks in a PipelineRun"
# Expected Behavior

A consistent way to declare `ServiceAccountNames` for tasks in a `PipelineRun`

# Actual Behavior

There is now two ways, almost identical to specify `ServiceAccountName` for tasks in a `PipelineRun`. It is a bit confusing. What happens if I specify both fields but with different values?

[code]

The latter alternative seem to have been merged yesterday with #2389
/kind bug

[2020-05-12 22:12] jlpettersson commented on #2614
That syntax was actually requested: https://github.com/tektoncd/pipeline/issues/2362

[2020-05-12 22:30] vdemeester commented on #2614
Yes serviceAccoutNames need to be marked as deprecated indeed 😇

[2020-05-13 09:26] vdemeester commented on #2614
/kind cleanup

[2020-05-13 09:27] vdemeester commented on #2610
/kind feature

[2020-05-13 09:31] vdemeester commented on #2613
@nickgerace thanks for the issue. This is mainly because of https://github.com/tektoncd/pipeline/blob/master/go.mod#L57 (the `replace` section). We might be able to clean that once release-0.15 of knative/pkg is released (as it will use go modules)

/kind cleanup

[2020-05-13 13:43] bobcatfish commented on #2610
I'll add this to the agenda of [our API working group on Monday](https://github.com/tektoncd/community/blob/master/working-groups.md#api) to get some more eyes on it and see where the schema work (https://github.com/tektoncd/pipeline/issues/1393) is at.

[2020-05-13 14:01] skaegi commented on #2610
For validation of params it's a bit of a balancing act as we want to retain backwards-compatibility at the same time as improving validation. For the validation in particular I'm hesitant to re-invent syntax here so what I'm thinking of borrows a lot from json schema. (See https://tools.ietf.org/html/draft-handrews-json-schema-validation-02#section-6.1.2)

For enum I'd suggest something like...

[

[2020-05-13 14:10] skaegi commented on #2610
@andrewballantyne there is still a ton of work to actually support multiple types as per #1393 however we could still make progress on the validation aspect independently. e.g. `schema` could be implemented right now I believe.

[2020-05-13 14:31] andrewballantyne commented on #2610
This is definitely more open-ended and can evolve in the future to support anything. I think this is probably the better of the two solutions (and for the support of #1393 and it's goals).

This definitely aligns more with what I was thinking, but I wonder if it's a little less long-lasting.

This feature request was something that spawned out of a conversation around a future use-case. So in shor

[2020-05-13 16:04] #2523 closed

[2020-05-13 19:58] bobcatfish commented on #2588
Proposal for using annotations in [this design doc](https://docs.google.com/document/d/1fULIi1ZCcg9ZfZGgfxF-bxYM33MG6BHf2JyJq9-Ahho/edit#).

[2020-05-13 20:37] riceluxs1t commented on #2047
This may not be the best place to ask but @vdemeester could you point me to a link that describes what conversion web hook does? I have some code that creates a simple PipelineRun object that explicitly specifies its apiVersion to be `v1beta1` but when I use a Dynamic client (or Tekton client) to ask "give me all the PipelineRuns of apiVersion `v1alpha1`, the client returns the pipeline run I crea

[2020-05-13 20:52] nickgerace commented on #2613
Ah I see. Yep, I've commented on the issue there as well. Thank you; I'll keep an eye on this.

[2020-05-14 02:16] calvinpark opened #2616 "Following the tutorial fails with "error checking push permissions""
# Expected Behavior
A successful `docker login` followed by a `docker push` to my repo `docker.io/calvinpark/leeroy-web`

# Actual Behavior
[code]
# Steps to Reproduce the Problem

1. Follow the [tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) exactly
2. `pipelineresource.yml`
[code]
3. `secret.yml`
[code]
4. `cat /tekton/home/.docker/config.json` correctly shows
[code

[2020-05-14 03:54] gsmlg opened #2617 "Can not get task output in pipeline"
# Expected Behavior
Get task results

# Actual Behavior
unable to find result referenced by param "lint" in "report": Could not find result with name output for task run lint

# Steps to Reproduce the Problem

1. Run pipeline
task yaml
[code]
2. Can not get results of lint output when output is very long
pipeline describe:
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl ve

[2020-05-14 04:51] mattmoor commented on #2047
When an API serves multiple versions, e.g. v1alpha1 and v1beta1, resources exist at all versions.

Without conversion webhooks, what you'd see is the exact same resource being returned with different TypeMeta (e.g. you'd get the v1alpha1 or v1beta1 that you asked for).

Conversion webhooks let us change the schema of resources across versions, so if fields move between alpha and beta we can return

[2020-05-14 09:17] vdemeester commented on #2617
/kind bug
/cc @sbwsg @othomann

[2020-05-14 11:57] sbwsg commented on #2617
Could you provide the `kubectl get -o yaml taskrun <name of taskrun>`?  I expect that the data for the result was simply too large.

I recommend using a [workspace](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-workspaces) for data that you know can be very large. Results have a limited size, which we document here:  https://github.com/tektoncd/pipeline/blob/master/docs

[2020-05-14 11:59] sbwsg commented on #2617
I wonder if we should perhaps enforce a size limit via the entrypoint - if a Task tries to emit a result file that is larger than, say, 500KB, we should abandon it and exit with an error.

[2020-05-14 12:26] eddycharly commented on #2503
Fixed in https://github.com/tektoncd/pipeline/pull/2501

[2020-05-14 12:26] #2503 closed

[2020-05-14 12:29] eddycharly commented on #1494
Closing as i don't considered this an issue, feel free to reopen if it makes sense to you.

[2020-05-14 12:29] #1494 closed

[2020-05-14 12:37] eddycharly commented on #1602
@dibyom i think we can close it.
I'm not sure how a workspace can be shared by multiple tasks, is this possible at all ?

[2020-05-14 12:39] eddycharly commented on #1602
Closing as old issue and things have changed too much for the issue to be relevant nowadays.

[2020-05-14 12:39] #1602 closed

[2020-05-14 12:40] eddycharly commented on #1490
I was about to close it but ok, let's keep it opened if it serves the backlog purpose.

[2020-05-14 12:41] eddycharly commented on #1535
Not sure if this is still relevant in regards to workspaces.

[2020-05-14 12:42] eddycharly commented on #1604
@dibyom two task running on two different can share a workspace ?

[2020-05-14 12:43] eddycharly commented on #1604
Closing as it is probably not relevant anymore in regards of workspaces.

[2020-05-14 12:43] #1604 closed

[2020-05-14 13:18] sbwsg commented on #1602
It depends what you mean by "shared" - tasks running one after another? or multiple simultaneous readers? or multiple simultaneous writers?

Workspaces are backed by Volumes and a Volume's ability to be used across multiple Tasks (Pods) depends on the [accessModes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) that are supported on your platform of choice.  Another

[2020-05-14 13:22] vincent-pli commented on #2617
Based on my test, the max size is 4096 , if more than that the string will be trim from beginning then destroy the `json` format, `json.Unmarshal` failed, then `result` lost.

Agree with @sbwsg , need validate.

[2020-05-14 13:27] eddycharly commented on #1602
Yup, that's what i understood about workspaces. It boils down to the type of volume and the limitations from the provider as you pointed out.

Thank you.

[2020-05-14 19:13] holoGDM opened #2622 "Passing parameters to pipelineresource"
Is there possibility to pass runtime parameters to pipelineresources from task/pipeline?

Something like that:

[code]
I need to choose during pipeline start from which branch application need to be builded. I found:
[issue](https://github.com/tektoncd/pipeline/pull/1186)

but it looks like it is not merged. Is there any other possibility to handle such thing?

/kind question

[2020-05-15 06:27] vincent-pli commented on #2617
/assign

[2020-05-15 13:33] sbwsg commented on #2517
@r0bj we've released a fix for this as part of v0.12.1.  Please let us know if problems persist after updating.  Cheers!

[2020-05-15 15:08] jlewi opened #2628 "Release notes have incorrect URL for v 0.12.release"
The release notes appear to have an incorrect link for the v0.12 release.

The release notes are here:
https://github.com/tektoncd/pipeline/releases/tag/v0.12.1

Which contain the command

[code]

This URL doesn't appear to exist

[code]

I think the problem is that `pipeline` should not have a capital `p`.

The  following URL exists.

[code]

[2020-05-15 15:10] afrittoli commented on #2628
/kind bug

[2020-05-15 15:11] afrittoli commented on #2628
Thanks for the report!
I fixed the link - it looks that the URL is case sensitive (?!)

[2020-05-15 16:26] eddycharly commented on #2497
Closing as all related PRs were merged.

[2020-05-15 16:26] #2497 closed

[2020-05-15 20:12] gpaul commented on #1376
I read through the comments and the design doc and I can't find a mention of how timeouts are handled.

My use case: I want to (a) collect task artifacts and (b) report status to github, using Finally tasks. One common reason for pipeline failure is timeout. In the case of a PipelineRun timing out, I would like to do both (a) and (b) once the individual non-final tasks have been stopped.

[2020-05-16 08:03] jlpettersson opened #2631 "Proposal: Add option for eager Pod scheduling to speedup PipelineRun"
# Expected Behavior

That I can use Tekton as a _highly efficient_ CI-system. As a user of Tekton, can a choose between trade-offs.

A `Pipeline` consisting of a chain of several `Tasks` (using `runAfter:` property), may be executed in several ways within a cluster, depending on what trade-off is chosen:

- Schedule the pods for `TaskRuns` within a `PipelineRun`, on-demand, **lazily**. This option

[2020-05-16 10:21] jlpettersson commented on #2586
@bobcatfish you are right.

With a small trick, by introducing a new component (not user-facing), I found a working solution for this problem using [Inter-pod affinity](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity), implemented in https://github.com/tektoncd/pipeline/pull/2630

[2020-05-17 07:07] avloss commented on #782
Having exact same issue - container is specified, worked before - could be an issue with kubernetes itself, I'm not using "tektoncd"

[2020-05-17 11:33] jlpettersson opened #2635 "Feedback on Conditions"
# Expected Behavior

That "conditions" is easy to use and easy to understand.

# Actual Behavior

Things actually work, the way I expect, almost. But it is not straightforward to understand.

# Proposed improvements

* In the [conditional pipeline example](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/conditional-pipelinerun.yaml), the word `from: [first-create-fil

[2020-05-17 19:07] jlpettersson commented on #2134
I feel the use case is a bit unclear here. But I do have things that reminds me about this. E.g. The use-case I describe in https://github.com/tektoncd/pipeline/issues/2505#issue-608585765 - there I use (or "link") two `PipelineRun` and reuse the `workspace` volume.

On the other hand, I will have another use-case that also reminds a bit. But one fundamental difference is that I probably want to h

[2020-05-18 01:18] gsmlg commented on #2617
My task output is too large that overflow the output data struct.
And this break out the result `json` format.
🙏

[2020-05-18 07:17] Divyansh42 opened #2638 "Not able to push to git repository using ssh-auth"
# Expected Behavior

Able to push to the git repo by providing the ssh-auth.

# Actual Behavior

Getting the following error while trying to push while I am successfully able to clone the private repo as well.
[code]

# Steps to Reproduce the Problem

1. Run the following task, by providing the valid `ssh-privatekey` ,`known hosts` and github repo to clone. This task is modification from the https

[2020-05-18 11:20] #2603 closed

[2020-05-18 13:09] eddycharly opened #2639 "Tenant namespace, is it working if the namespace is different than the controller one ?"
From what i understand, the tenant namespace feature is using a `Role`.

Is this supposed to work when pipelines controller is deployed in `tekton-pipelines` and the tenant namespace is another namespace (`tekton-tenant`for example) ?

How is the service account living in `tekton-pipelines` linked with the `Role` in the tenant namespace ?

[2020-05-18 14:13] sbwsg commented on #2638
Are you able to provide the TaskRun yaml after it has run?  I'd like to see the complete object including any Status fields.

I'd also be curious to find out:
- which UID / group / fsgroup the creds-init initContainer ran as
- which UID / group etc your git commands ran as

Also, it would be great to know what the structure of `/tekton` looks like and also what you have $HOME set to.  Can you modi

[2020-05-18 15:26] jlpettersson opened #2640 "Create a binary for Affinity Assistant used as a placeholder pod"
This was requested in https://github.com/tektoncd/pipeline/pull/2630#discussion_r426566799

# Expected Behavior

A small, minimal binary, e.g. an Go http service.

# Actual Behavior

We currently use an Nginx image for this.

[2020-05-18 15:27] vdemeester commented on #2628
As it seems to be fixed, let's close this :angel:
Thanks for the repo @jlewi
/close

[2020-05-18 15:27] #2628 closed

[2020-05-18 15:29] vdemeester commented on #2591
/priority important-longterm

[2020-05-18 16:13] Yannig opened #2642 "Parameters is not supported in csi Volumes"
# Expected Behavior

Inject parameters into csi volume definition.

# Actual Behavior

If I provide a parameters in volume -> csi, the parameters are not substitued correctly and Kube is complaining about it.

# Steps to Reproduce the Problem

1. Use a Task with volumes csi (using Azure vault secrets for example)
2. Run it using a TaskRun

Here an example of Task declaration doing a simple git che

[2020-05-18 16:22] vdemeester commented on #2642
@Yannig thanks for the issue. Indeed it's not supported *yet*. We may need to rework our "variable interpolation" implementation as, for now, it only supports a small set of things and is not "extendable" (aka on types we refer and that we don't "know in advance").

/kind feature

[2020-05-19 06:40] Yannig commented on #2642
@vdemeester I made a fix for my specific case but maybe I could try to work on something more generic.
What do you think?

[2020-05-19 09:07] vdemeester commented on #2642
Right, we need to discuss the more "generic" approach. *But* we can fix the specific case in the mean time :angel:
/cc @sbwsg @jlpettersson @bobcatfish @skaegi

[2020-05-19 10:12] jlpettersson commented on #2642
Is there any specific reason to mount the volume directly here, instead of using a `PersistentVolumeClaim` as shown in [Container Storage Interface (CSI) for Kubernetes GA](https://kubernetes.io/blog/2019/01/15/container-storage-interface-ga/)?

I think the intention with PVC was to decouple the app from storage-specific things (that may be specific to the platform.). In this case Tekton is "your

[2020-05-19 10:28] AlanGreene opened #2645 "latest/release.yaml does not point to the latest available release"
# Expected Behavior
https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml should point to the latest release (v0.12.1)

# Actual Behavior
It points to v0.12.0

[2020-05-19 10:32] vdemeester commented on #2645
/kind bug
/cc @afrittoli

[2020-05-19 11:16] jlpettersson commented on #2642
@Yannig this use case come from [Azure Secret Store examples](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/examples), right? they have a few examples with _inline-volume_, but they also have a few examples using PV and PVC  - that is methods to decouple the app, e.g. Tekton from the storage implementations. Would any of those satisfy your needs?

[2020-05-19 13:28] eddycharly commented on #2639
Closing. Read the code again, makes sense now.

[2020-05-19 13:28] #2639 closed

[2020-05-19 13:54] bobcatfish commented on #2614
Thanks for catching this @jlpettersson !

[2020-05-19 13:57] bobcatfish commented on #2529
It sounds like this isn't a bug in Tekton so I'll close this, please re-open if I'm wrong

[2020-05-19 13:57] #2529 closed

[2020-05-19 13:59] bobcatfish commented on #2466
@vincent-pli are you planning to submit a fix for this? no worries if not!

[2020-05-19 14:01] bobcatfish commented on #2371
Seems like there isn't any work to do here, but please re-open if I'm wrong.

[2020-05-19 14:01] #2371 closed

[2020-05-19 14:01] sbwsg commented on #2524
One way this could play, discussed during API Working Group, is that we deprecate the `creds-init` behaviour entirely and remove it when switching to `v1beta2`.  It's a holdover from the very earliest days of Tekton / Knative Build so it simply might not make sense to retain the behaviour much longer.

[2020-05-19 14:11] bobcatfish commented on #1103
I'm going to close this for now, please re-open if needed.

[2020-05-19 14:11] #1103 closed

[2020-05-19 14:59] Yannig commented on #2642
@jlpettersson Here I'm trying to mount a secret from Azure Vault using CSI for this purpose. The following example is close to what I'm trying to do: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/nginx-pod-secrets-store-inline-volume-secretproviderclass-podid.yaml

[2020-05-19 16:20] jlpettersson commented on #2642
@Yannig that would be, like this without _inlining_ the volume:

[code]

and then used by a `TaskRun` or `PipelineRun` as a [PVC workspace](https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md#using-persistentvolumeclaims-as-volumesource) by declaring the PVC as:

[code]

by following [pv example](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/

[2020-05-19 16:26] afrittoli opened #2647 "Handle TaskRuns deletion in the PipelineRun controller"
# Expected Behavior
If a TaskRun generated by a PipelineRun is deleted while the PipelineRun is running, the PipelineRun should fail quickly, as the controller has not way to know a coherent status anymore.

# Actual Behavior
If a TaskRun generated by a PipelineRun is deleted while the PipelineRun is running, the controller does not get any update from that TaskRun anymore, so eventually the Pipel

[2020-05-19 16:41] Yannig commented on #2642
@jlpettersson Thanks, I got the idea now. I'll do some test and give you feedback then :)

[2020-05-19 18:38] dibyom commented on #2638
/kind bug

[2020-05-19 19:54] bobcatfish commented on #2647
I wonder if this is what we want, or if we would want the controller to re-create the TaskRun in this case?

[2020-05-19 20:01] afrittoli commented on #2647
I think it would be very difficult to decide what to do, which is why a proposed stopping.
It could be that the taskrun was already complete so it should not be re-run.
It could be that the taskrun was writing to a workspace and left a dirty state there.
The pipeline editor may have put guards / conditions on the execution of the taskrun, that we would need to check again.

[2020-05-19 20:09] afrittoli commented on #2522
Fixed by https://github.com/tektoncd/pipeline/pull/2526

[2020-05-19 20:09] #2522 closed

[2020-05-19 20:26] afrittoli commented on #2438
The current syntax would allow for ConditionChecks to keep a similar API even if they were backed by something different than TaskRuns - but I'm not sure this is a huge benefit.

FWIW I recently added a new label to the TaskRun associated to the ConditionCheck that help mapping back to the Condition: https://github.com/tektoncd/pipeline/pull/2579/commits/106ad1e2ff2d7ab2f90e0d5814403cb1c53d08dc.

[2020-05-19 20:31] afrittoli commented on #2438
I wrote here code that builds back the pipelinerun status from a list of TaskRuns, in case it helps: https://github.com/tektoncd/pipeline/pull/2573

[2020-05-19 20:51] 2020testuser commented on #2507
@chanseokoh - Thanks Much for providing more than one option !  Will try out these options.

[2020-05-19 20:52] jlpettersson commented on #2642
Actually, if you want, this can be set as a PersistentVolumeClaim in the `Task`, and pass the PVC ClaimName as a Parameter and do this reference (very similar to your initial example), too bad it is not well documented.

[code]

By doing it like this, you can pass claimName as a parameter and do not need to use a PVC workspace in the PipelineRun.

[2020-05-19 20:57] chanseokoh commented on #2507
@2020testuser just realized my last comment had broken links. Fixed.

[2020-05-19 23:03] 2020testuser commented on #2507
@chanseokoh - Thanks!

[2020-05-20 00:02] vincent-pli commented on #2466
@bobcatfish
Sure, seems the original submit need rebase,  I will handle it.

[2020-05-20 03:44] mmpei opened #2648 "Is there a plan to provide a standard way of log collecting for TaskRun and PipelineRun"
# Expected Behavior
a standard way of log collecting intergrated with tekton.
such as a inline log collector base on object storage.
# Actual Behavior
pod log searching or log collecting base on ELK

[2020-05-20 05:03] Divyansh42 commented on #2638
I think this issue is similar to #1271

[2020-05-20 05:30] 2020testuser opened #2649 "Pipeline resource output"
# Expected Behavior
I'm using image pipeline resource. The pipelineresource image url  was set to the gradle build output image after successful build in the task. Expecting the new image in the docker repository url (which is set in the  pipelineresource image url ).
# Actual Behavior
No errors in the pipelinerun log. However, don't see the new image in the docker repository.
# Steps to Reproduce

[2020-05-20 06:59] ysaakpr commented on #2591
How could I contribute on this, Are there any discussion forum? Where I can also be part of the design/implementation discussions.

[2020-05-20 15:09] Fabian-K commented on #1350
Hi, I was also facing this issue. We have a corporate github instance and this is reproducible whenever my VPN connection is not available. Maybe this info helps!

[2020-05-20 15:34] madbence commented on #2134
This feature would be really useful for us. eg. right now we have a task that can set the status on a given commit, and a task that can execute unit tests (eg. run `npm test`, etc.). We'd like to distribute a task/pipeline that can combine these (eg. set the commit to pending, run unit tests, set commit status to success/failure).

![nested-pipeline](https://user-images.githubusercontent.com/29673

[2020-05-20 15:39] tjwallace commented on #1228
@zzguang520 I was on GKE and I had to create a new firewall rule, [details here](https://stackoverflow.com/questions/59461747/tekton-on-private-kubernetes-cluster-on-gcp-gke).

[2020-05-20 16:01] bobcatfish opened #2656 "Flakey sidecar container test"
# Expected Behavior

TestSidecarTaskSupport/A_sidecar_that_runs_forever_is_terminated_when_Steps_complete should reliably pass unless there is a bug

# Actual Behavior

TestSidecarTaskSupport/A_sidecar_that_runs_forever_is_terminated_when_Steps_complete failed on https://github.com/tektoncd/pipeline/pull/2652 with this error in the logs:

[code]

In the k8s events you can see:

[code]

Particularl

[2020-05-20 16:22] jpds opened #2657 "PipelineRun reports unknown field "taskRunSpecs""
# Expected Behavior

I should be able to specify a `taskRunSpecs` for a `PipelineRun`. This is referenced in:

- https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#specifying-task-run-specs

# Actual Behavior

Unknown field is returned.

# Steps to Reproduce the Problem

1. Take the example at https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelin

[2020-05-20 16:28] danielhelfand commented on #2657
I don't believe taskRunSpecs are part of an official release yet. The docs are associated with what is in master, but there are options for using what is in master to try out the feature.

[2020-05-20 16:39] jpds commented on #2657
Wow, I do appear to have come across a feature I need which indeed isn't in the new 0.12.1 :grin:

[2020-05-20 18:27] sbwsg commented on #2638
@Divyansh42 is the SSH key you're using a Github Deploy Key?  Did you definitely check the "Allow write access" checkbox when you saved the public key in github?  (You can double check this by going to the Deploy Keys page in your repo and you should see something like "Read/Write" on the key description).

I just ran through a test with a private repo and I was able to successfully push to master

[2020-05-20 18:28] sbwsg commented on #2638
Also, if it still doesnt work try making the first command in your Script this:

[code]

[2020-05-20 19:42] jlpettersson commented on #2647
It could be that the taskrun was writing to a workspace and left a dirty state there.
The pipeline editor may have put guards / conditions on the execution of the taskrun, that we would need to check again.

This is indeed interesting points.

We also have a retry property. Should we recommend Tasks to be designed to be idempotent? That would address most of above points. Resilience is a cloud nat

[2020-05-20 20:30] bobcatfish commented on #2657
Note you can also find versioned docs at https://github.com/tektoncd/pipeline#read-the-docs (hopefully soon at tekton.dev as well 🤞 ) You can also install from nightly releases if you want the latest and greatest: https://github.com/tektoncd/pipeline/blob/master/docs/install.md#before-you-begin

[2020-05-20 20:30] #2657 closed

[2020-05-20 20:38] bobcatfish commented on #2649
Hey @2020testuser ! Unfortunately the image resource doesn't really do very much (https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#image-resource) - i.e. it doesn't push the image

This is one reason we're not very happy with the current state of the image pipelineresource, you can see a bit more about it in https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1

[2020-05-20 20:41] bobcatfish commented on #2648
Hey @mmpei ! We did explore this a bit (https://github.com/tektoncd/pipeline/issues/1155) but ultimately decided we were better off letting folks use whatever kubernetes log collecting they wanted instead - there's a bit more info at https://github.com/tektoncd/pipeline/blob/master/docs/logs.md. That being said we do have a tool we've used for our own dogfooding to collect logs: https://github.com

[2020-05-20 20:45] bobcatfish commented on #2645
@afrittoli are you able to take on fixing this, or should the next build cop do it? I didn't notice this until the end of my day unfortunately!!

[2020-05-20 20:50] afrittoli commented on #2645
@bobcatfish Checking - somehow I missed it - even with the ping :'(

[2020-05-20 20:52] afrittoli commented on #2645
Uhm, I think I made a mistake when doing the release - I ran it with the backporting option, which means the latest is not overwritten. It should be ok to fix it manually.

[2020-05-20 20:57] afrittoli commented on #2645
ok, it's should be fixed now. Feel free to re-open @AlanGreene  if you encounter further issues, and thanks for reporting this!

[2020-05-20 20:57] #2645 closed

[2020-05-20 21:29] AlanGreene commented on #2645
All good now, thanks! 😸

[2020-05-20 23:44] 2020testuser commented on #2649
@bobcatfish - Thanks for the links!

Could you please confirm on the below?

So currently we don't have an option to push the image to docker repository from a Tekton task if we use non-kaniko image (Ex: maven image, gradle image etc.) for build? I don't want to use docker push  command to push the image from my task script.

If yes for above, this would be a tekton limitation if I use non-kaniko

[2020-05-21 00:16] #2558 closed

[2020-05-21 01:26] johnnnliu opened #2660 "pipeline installation issue"
# Expected Behavior
install tekton pipeline operator 1.0.1 through openshift operator hub.  expect it to install with no errors
# Actual Behavior
after the install, check the status of the "cluster" object of type "config", got many of the following errors:
status:
  conditions:
    - code: error-addons
      details: >-
        Internal error occurred: failed calling webhook
        "webhook.pipe

[2020-05-21 01:28] johnnnliu commented on #2660
tkn version output:
Client version: 0.9.0
Pipeline version: v0.11.3

[2020-05-21 03:21] mmpei commented on #2648
huge info, thx.

[2020-05-21 03:21] #2648 closed

[2020-05-21 05:31] #2660 closed

[2020-05-21 05:38] Divyansh42 commented on #2638
It is working by adding this command in the script. Thanks! :+1:

[2020-05-21 06:34] chechiachang opened #2662 "Failed to rerun PipelineRun requires WorkspaceBinding"
I have a pipeline require a workspace. The pipeline can be triggered by
[code]
The PipelineRun works perfect, but it can't rerun from dashboard. This makes sense since the rerun don't provide  required WorkspaceBinding. Is there a better way to provide WorkspaceBinding?

# Expected Behavior

Successfully rerun from dashboard (or /rerun api)

# Actual Behavior

PipelineRun failed to create TaskRun.

[2020-05-21 09:40] jlpettersson commented on #2219
I understand your problem. We had the same problem when adopting Tekton, and we created our own `pipeline.yaml` abstraction that can live in the _code repository_ and then we have a `Task` that parse the pipeline.yaml and generate a Tekton `Pipeline` and initiates a `PipelineRun`.

[2020-05-21 13:52] sbwsg commented on #2638
I'm going to close this issue now but have created PR #2663 to document this extra step when using vanilla git commands.

[2020-05-21 13:52] #2638 closed

[2020-05-21 14:17] siamaksade commented on #2595
The parallelism issues are related to use of a PVC in parallel tasks, regardless of if it was provided via a default workspace mechanism or if user provided the PVC in the PipelineRun.

Default workspace is useful IMO for removing the burden or defining a workspace PVC for each PipelineRun. The parallelism issues need to get addresses separately from this and are not really the target of default w

[2020-05-21 14:35] jlpettersson opened #2666 "Avoid unecessary work within reconciliation loop - LimitRanges"
# Expected Behavior

In a larger organization with e.g. 400+ apps using Tekton CI/CD pipelines, and where developers usually do `git-push` to trigger new `PipelineRuns` with typically 10-20 tasks, several times a day, many `TaskRuns` is created.

I expect that Tekton is an efficient CI/CD platform and also is _sound_ with the requests to the Kubernetes control plane, especially _etcd_ that is a cr

[2020-05-21 15:04] jlewi opened #2667 "spec.conversion.strategy: Invalid value: "Webhook": must be None if spec.preserveUnknownFields is true"
I'm trying to deploy Tekton using ACM/Nomos which is Google Cloud GitOps tooling.

When I try to install with ACM I get the following validation error

[code]

The confusing bit here is that if we look at the Tekton spec its setting preserveUnknownFields to false but then has some comment about overriding that.

[code]

Could someone please clarify the intended behavior for Tekton conversions with

[2020-05-21 15:04] jlpettersson opened #2668 "Provide lightweight RBAC set for Deployment Pipeline"
# Expected Behavior

That Tekton is easy to use in a secure way practicing _least privilege_ principles.

Tekton currently does not have a lightweiht RBAC-rule set for e.g. a Deployment Pipeline, that. e.g. does not need access to e.g. `Secrets`, `PersistentVolumeClaim`. A typical Deployment Pipeline will not have use for workspace and should do most operations using a _ServiceAccount_.

It would

[2020-05-21 18:30] bobcatfish commented on #2134
Thanks for the use case @madbence this looks exactly along the lines we're thinking as well - just to double check, set-status sets the status of something like a GitHub check (or similar using non-GitHub)?

[2020-05-21 18:31] bobcatfish commented on #2134
oh and i forgot to post here some relevant links:

- [WIP design doc for pipelines in pipelines](https://docs.google.com/document/d/14Uf7XQEnkMFBpNYRZiwo4dwRfW6do--m3yPhXHx4ybk/edit) - visible to [tekton-dev](https://github.com/tektoncd/community/blob/master/contact.md#mailing-list)
- Also @ImJasonH has been looking into some thoughts around #215 which may let us conquer 2 issues with one stone

[2020-05-21 19:00] bobcatfish commented on #2649
hey @2020testuser ! You can use anything that can push to a docker repo from a Tekton Task - kaniko is one option but you can use other tools as well.

Tekton doesn't provide anything to do the pushing for you.

[2020-05-21 19:37] danielhelfand commented on #2045
I think what's missing is how to include user information associated with a TaskRun or PipelineRun. Not sure what the best approach for that would be as far as if an additional property should be specified or maybe labels would be a better approach, and it would fall on client tools to label runs with appropriate user info?

[2020-05-21 19:51] danielhelfand commented on #2438
I realize that the design of Conditions is pretty far along at this point, but my personal preference would've been to just have TaskRuns represent the execution of a Condition as opposed to having a PipelineRun represent it differently. That being said, I am willing to close this and maybe what the best approach here will be is using a labels approach to retrieve TaskRuns as opposed to relying on

[2020-05-21 19:51] #2438 closed

[2020-05-21 19:54] danielhelfand commented on #1870
Sorry I missed this! Yes, I think the versioned docs makes sense.

[2020-05-21 19:54] #1870 closed

[2020-05-21 23:05] 2020testuser commented on #2649
@bobcatfish -  Thanks for the confirmation!
I'm using docker login in the task script b4 the docker push command. So, forced to pass the docker credentials in the script. If I have a service account with my docker credentials/secret and include in my task , the docker push command doesn't work. I'm forced to explicitly login using the docker login command b4 the docker push command.

 Let me know

[2020-05-22 02:16] vincent-pli commented on #2667
@jlewi
What's your kubernetes version?

[2020-05-22 06:57] sravankumar777 opened #2672 "Build docker image with kaniko fails, when serviceaccount configured with imagePullSecrets"
# Expected Behavior
Kaniko build steps should successful run when Serviceaccount configured with dockerregistry secrets under "imagePullSecrets", by not only checking for secrets under "Secrets".

# Actual Behavior
Kaniko build step fails when serviceaccount configured with dockerregistry secrets under "imagePullSecrets".

# Steps to Reproduce the Problem

1. Configure serviceaccount with dockerre

[2020-05-22 07:46] #2631 closed

[2020-05-22 08:48] FogDong opened #2673 "Failed to use $(results.tasks) command not found"
# Expected Behavior
like [how-task-results-can-be-used-in-pipelines-tasks](https://github.com/tektoncd/pipeline/blob/master/docs/developers/README.md#how-task-results-can-be-used-in-pipelines-tasks)
# Actual Behavior
[code]
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Client version

[2020-05-22 09:21] #2597 closed

[2020-05-22 09:23] madbence commented on #2134
@bobcatfish exactly, `set-status` creates a [commit status](https://developer.github.com/v3/repos/statuses/#create-a-status).

[2020-05-22 16:53] afrittoli opened #2676 "Fix Event ID and Source for Cloud Events without SelfLink"
# Expected Behavior
Event ID and Source are setup according to https://github.com/cloudevents/spec/blob/master/spec.md#producer without using

# Actual Behavior
Right now the ID is a newly generated uuid and source is `ObjectMeta.SelfLink`.
That should be enough to ensure that that the source+id in globally unique, however `SelfLink` is deprecated, so it needs to be replaced.

# Steps to Reproduce

[2020-05-22 21:50] JBodkin-LH commented on #2316
Have you managed to make any more progress with this? We're seeing the same issue in our setup. I've given permissions to the service account to be able to access container registry and ensure the workload identity binding is in place. Is there a way of debugging the request to container registry?

[2020-05-23 02:39] addozhang commented on #2673
v0.10.2 version not support results variable. Should refer corresponding version of doc: https://github.com/tektoncd/pipeline/blob/release-v0.10.x/docs/developers/README.md

[2020-05-23 08:43] jlpettersson commented on #2082
There is also [Eventrouter](https://github.com/heptiolabs/eventrouter) that can forward Kubernetes `Event` to a Sink. We use this today to forward "platform"-events to e.g. Kafka and Dashboards.

[2020-05-23 08:45] afrittoli commented on #2082
The reason why I'd like to emit cloud events directly, either from the main controller or from a dedicated one, is that k8s events have a fixed structure and afaik do not allow storing the whole source object in the event.

[2020-05-23 09:17] jlpettersson commented on #2656
Also https://github.com/tektoncd/pipeline/issues/1819

[2020-05-23 09:43] jlpettersson commented on #1878
https://github.com/tektoncd/pipeline/pull/2630 introduces a way so that Tasks can use Workspaces in parallel, or in sequence (using `runAfter:`)

[2020-05-23 09:50] jlpettersson opened #2678 "Emit an Event when a set affinity property is overwritten"
# Expected Behavior

That it is easy to detect misconfiguration or conflicting configurations

# Actual Behavior

The Affinity Assistant will set `affinity` on TaskRun pods, but not check or warning is done if the `affinity` filed already had a value set. An `Event` should be generated if this happens. Requested in https://github.com/tektoncd/pipeline/pull/2630#issuecomment-630320385

/kind featur

[2020-05-23 09:56] jlpettersson opened #2679 "Add option to specify PodTemplate for Affinity Assistant"
From https://github.com/tektoncd/pipeline/pull/2630#issuecomment-629558587

# Expected Behavior

That Tekton is a flexible system that can be configured for custom needs.

# Actual Behavior

The Affinity Assistant is a static `StatefulSet` that can not be configured.

# Use cases

* For using Tekton only on a subset of Nodes, a `NodeSelector` can be set. This must now be set on the Affinity Assist

[2020-05-23 14:05] jlpettersson opened #2680 "Declaring Task specific Volumes vs Workspaces"
# Expected Behavior

That Tasks are reusable — independent of runtime environment

# Actual Behavior

I proposed an alternative `git-clone` Task with more "Kubernetes native" use of Secrets in https://github.com/tektoncd/catalog/pull/309 — mounting Secrets from a `Projected` volume.

[code]

 There is also a `git-clone` Task example in https://github.com/tektoncd/pipeline/issues/2642 that is using

[2020-05-23 19:58] jlpettersson opened #2682 "TaskRun creation fails, created from PipelineRun with TaskRunSpec"
# Expected Behavior

That I can declare `TaskRunSpecs` in the `PipelineRun` and `TaskRun` with the given spec is created.

Example:

[code]

As described in [documentation about TaskRunSpec](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#specifying-task-run-specs) (However, there were errors in doc also, fixed in https://github.com/tektoncd/pipeline/pull/2681)

# Actual Beha

[2020-05-23 20:42] afrittoli opened #2684 "[feature] Introduce a shared Runnable interface"
# Expected Behavior
We use common code to provide common services to our Run resources

# Actual Behavior
The reconcilers and controllers of `TaskRuns` and `PipelineRuns` share logic, which could be factored up if we had a `Runnable` interface (or more intefaces for different aspects).

Having interfaces would help factoring up chunks of the reconciler logic, since the lifecyle of a run resource,

[2020-05-24 08:29] jlpettersson commented on #2595
A realistic and proper `PipelineRun` will most likely be extensive, where "defining PVC workspace" is a _small_ but _declarative_ piece. This should be done _once_ in e.g. a `TriggerTemplate` and stored in _version control_ with _code reviewed_ PR for every change, as recommended in [Accelerate](https://www.amazon.com/Accelerate-Software-Performing-Technology-Organizations-ebook/dp/B07B9F83WM/ref=

[2020-05-24 17:20] jlewi commented on #2667
1.14

[2020-05-24 19:58] gattytto commented on #2019
ms-vscode extensions can be deployed in eclipse che (Theia web ide that loads ms-vscode extensions) with the help of sidecars to hold the tools, configs and volumes. development environments called workspaces can be defined using yaml devfiles.

Here is eclipse Che project's issue that follows the adoption of Tekton definitions in the builtin devfile editor.
https://github.com/eclipse/che/issues/1

[2020-05-25 01:45] vincent-pli commented on #2667
🤔 ,  I remember `preserveUnknownFields` and `x-kubernetes-preserve-unknown-fields` are introduce by v1.15, will raise unknown field with 1.14 I think.

[2020-05-25 03:25] #2673 closed

[2020-05-25 09:28] siamaksade commented on #2595
Default workspace intention is go give admins a way to configure defaults. How is providing sensible defaults contrary to declarative config management?

[2020-05-25 11:09] jlpettersson commented on #2595
My opinion is that this is the wrong problem to solve.

For storage, the common Kubernetes-way to do this is by [configuring a default storageClass](https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/)

That is very _implicit_ where declarative config tend to be more _explicit_. In this case, if you try to hide `PersistentVolumeClaim` or not, it **will** create a `Per

[2020-05-25 12:48] siamaksade commented on #2595
I don't think the quota and limits play a role here given that it's pretty much how PipelineRun and TaskRun work :) When users create PipelineRuns and TaskRuns, a number of pods are created in the user namespace which count against the quota and limits. PVC won't be an exception

[2020-05-25 14:26] NikeNano commented on #2448
The [design doc](https://docs.google.com/document/d/1e1fagYDErliLnIwU1g_N3YKVyAProhs1l14UyPIoZuM/edit?usp=sharing). Is behind restricted access :( Should I apply for access through the google docs link or should the document be made public @dibyom?

[2020-05-25 21:21] dewan-ahmed opened #2688 "Pipelinerun should be able to read value from a configMap"
# Pipelinerun should be able to read value from a configMap

## Currently, you can specify only `params` but I'm looking to specify `env` for my use case. I have three tasks in pipeline. The final task publishes app externally after appending a specific string to the app-name. This string is coming from a configMap. I am hoping to pass this value to pipelinerun.

# Steps to Reproduce the Problem

[2020-05-25 22:19] delpic opened #2689 "Issue when trying to access our GitHub repo"
# Expected Behavior
I am expecting that the process running should access the GitHub repo I defined and clone it. Our GitHub account is an Enterprise account.

# Actual Behavior
Getting the following error from the `credential-initializer` container:
[code]
# Steps to Reproduce the Problem

Here are the yaml files I created:
[code]
[code]
[code]
Deployed in this order:
1. kubectl apply -f git-task

[2020-05-25 22:19] delpic commented on #2689
Can provide further info as needed. Thanks in advance.

[2020-05-25 22:20] jlpettersson commented on #2159
I have now created a design doc for this issue and #233
The document is available on https://docs.google.com/document/d/1NCIUnSjsuEofwZJE0L0Il0yXgdB7FtELXXSArOSzj44/edit

[2020-05-25 22:47] othomann commented on #2552
@afrittoli I provide a first pass on this issue in https://github.com/tektoncd/pipeline/pull/2690. Will refine if necessary.

[2020-05-26 09:23] eddycharly opened #2692 "Isn't path missing in the conversion webhook ?"
https://github.com/tektoncd/pipeline/blob/fc24674a2e65a724a183e2b8f01314bb7f17d629/config/300-clustertask.yaml#L56-L61

The path is not specified in the manifest (`/` is the default https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#service-reference).

But the conversion webhook is served under `/resource-conversion`:

https://github.com

[2020-05-26 14:04] dlorenc opened #2694 "Conceptual bug: Wrong resource names used"
This is a conceptual bug in the way resource names are handled in Tekton today. I'm working on a fix, but wanted to discuss the actual issue here first.

PipelineResources right now can be referred to by two different names:

1. The PipelineResourceSpec.Params.Name field. This is not a top-level field in PipelineResources, but (almost?) all of the existing PipelineResource types take a parameter c

[2020-05-26 14:18] eddycharly commented on #2692
Found that knative takes care of setting the path.

[2020-05-26 14:18] #2692 closed

[2020-05-26 14:32] bobcatfish commented on #2448
Hi @NikeNano ! Joining our mailing list should give you access: https://github.com/tektoncd/community/blob/master/contact.md#mailing-list

[2020-05-26 14:50] sbwsg commented on #2689
Hey @delpic thanks for the issue report!

There are a couple things you can try to see if they remedy the problem:
- First, do you make use of a corporate VPN? If so, [another user mentioned here](https://github.com/tektoncd/pipeline/issues/1350#issuecomment-631536159) that being disconnected from the VPN can cause this error.
- Second, does it work if you specify a known_hosts file in the Secret?

[2020-05-26 14:53] bobcatfish commented on #2682
@jlpettersson does the volume `ssh-auth` definitely exist when this is running? the error seems to be implying it doesn't but maybe the error is misleading?

[2020-05-26 14:58] NikeNano commented on #2448
Thanks @bobcatfish :)

[2020-05-26 15:02] jlpettersson commented on #2682
I created a PR as well. There was a missing piece in the implementation.

[2020-05-26 16:06] eddycharly opened #2696 "Proposal : separate conversion webhook"
In the context of multi tenancy, it would be handy to separate the conversion webhook from the single webhook we have now.

This is because CRDs and conversion webhook should be deployed once per cluster, and each tenant should have its own dedicated contoller and webhook (for validating resources/configmaps and defaulting).

The conversion webhook would only need to take care of conversion and va

[2020-05-26 20:26] afrittoli opened #2698 "Track cloud event notification metrics"
# Expected Behavior
It is possible to know how many cloud events were sent in a certain timeframe, how many successfully, possibly how many with retries.

# Actual Behavior
We don't have this feature today.

# Additional Info
One implementation option would be to add this information as additional metrics.

- Tekton Pipeline version:
v0.12.1

[2020-05-26 20:27] afrittoli commented on #2698
/kind feature

[2020-05-26 20:27] afrittoli commented on #2698
/kind feature

[2020-05-26 20:28] bobcatfish commented on #2079
Update: @jerop started to work on this and then after discussion with @vdemeester we decided to put it on hold until we decide how to get conditions to beta

[2020-05-27 01:50] delpic commented on #2689
Thanks for the follow up @sbwsg!

I think this issue most likely falls into the second scenario that you mentioned as our GitHub is not on-prem.

I tried specifying `known_hosts` into the Secret. I am now getting the following error:
[code]
I tried troubleshooting further, but no luck.

Here is the pod YAML that you requested:
[code]
Thanks again for your help!

[2020-05-27 11:05] sbwsg commented on #2362
Now that https://github.com/tektoncd/pipeline/pull/2389 is merged, can we close this issue?  Or is there more work to do here?

[2020-05-27 12:22] afrittoli commented on #2694
I'm trying to understand but I'm not sure I understood the problem fully.
So here is my understanding of what the problem is.

The struct that holds all `PipelineResource` types has a field called "Name".  That field is not a `PipelineResource` parameter. For instance for the `git` resource, the struct includes name:
https://github.com/tektoncd/pipeline/blob/4d629484ca894c9ca03cd315bf6ac93d3a71a8d

[2020-05-27 12:22] afrittoli commented on #2694
/kind bug

[2020-05-27 12:44] delpic commented on #2689
@sbwsg, my colleague pointed my to:

https://github.com/tektoncd/pipeline/issues/1271

seems like this maybe the issue I am currently running into at the moment. Going to try the fix that you mentioned in the above issue.

[2020-05-27 12:57] delpic commented on #2689
Tried the fix, but same result. Though there is a symlink error after introducing the fix from above:
[code]

[2020-05-27 13:53] sbwsg commented on #2689
Thanks for the great info, this is all very helpful as we debug.  So, it _appears_ right now like the credentials are being initialized as we expect them to be.  We can tell this because: a) the creds-init initContainer has both the correct arg (-ssh-git=elastic-github-ssh-key=github.com) and mounted secret (mountPath: `/tekton/creds-secrets/elastic-github-ssh-key`, name: `tekton-internal-secret-v

[2020-05-27 14:09] zzguang520 opened #2699 "Does pipelinerun support multiple pipelines？"
# Expected Behavior
pipelinerun can support multiple pipelines
# Actual Behavior
unknown
# Steps to Reproduce the Problem
unknown
1.
2.
3.

# Additional Info
If can，pls share the sample template
- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jso

[2020-05-27 14:10] zzguang520 commented on #2699
If can，pls share the sample template，thanks

[2020-05-27 14:59] delpic commented on #2689
Thanks @sbwsg!

Regarding https://github.com/tektoncd/pipeline/issues/1271, I had set the `disable-home-env-overwrite` to `True`, but I reverted it back to `False`.

I ran the TaskRun yaml you provided. Here is the error I received:
[code]
I can confirm that the private key does match up with the original. As far as permissions go, I added this as a deploy key, but did not give it write access as

[2020-05-27 15:38] sbwsg commented on #2689
Hmmm this is really odd. If the SSH key is working then I would have assumed that the git clone should have succeeded.

[code]

This seems very much like a network problem to me. To double check this I suggest running a new TaskRun with a script that does `sleep 3000`, then `kubectl exec` into the container and try `wget`ting github.com.  Here's another example:

[code]

Then `kubectl apply` this

[2020-05-27 15:54] dlorenc commented on #2694
Yes, that's exactly correct, and a much more succinct way of putting it. I left this as a Ref, but since it's no longer a Ref you're probably right that we should change this to just be a Name.

[2020-05-27 16:02] dlorenc commented on #2694
I'll also add that it's not only because they are not necessarily unique - the resources referred to by the resourceRefs may not actually exist at all! They could have been defined inline in the TaskRun/PipelineRun. Our handling here gets a little funky...

[2020-05-27 16:22] wlynch opened #2700 "Fields specified multiple times overwrite each other"
I did something dumb, but it turns out this poked at some unexpected behavior. 😃

Given this Task spec:

[code]

(`params` is specified 2x by mistake)

# Expected Behavior

Pipeline controller rejects the config with an error.

# Actual Behavior

Pipeline controller accepts the config, overwriting the first `params` field with the second empty `params` field, resulting in:

[code]

This was partic

[2020-05-27 16:24] dlorenc commented on #2694
I just added a second commit that stores the name in a ResourcesResult.ResourceName field, in addition to the resourceRef.

This is an API addition, although it really should be a break since we should delete the resourceRef (it doesn't make semantic sense).

Any thoughts on how to stage this? My suggestion is to add the new field, then remove the old one the next time we change the API version.

[2020-05-27 16:40] delpic commented on #2689
Thanks @sbwsg. Doing some further debugging on our end, it seems that we are blocking port 22 on the network that the clusters are running on. Our platform runs on `aws`, so we will be updating to allow traffic through.

Thank you for all the help you have provided!!

[2020-05-27 16:40] #2689 closed

[2020-05-27 21:46] dibyom commented on #2700
Huh, that's strange...I wonder if there are any k8s issues for this behavior?

/kind bug

[2020-05-27 21:48] dibyom commented on #2699
No, at this time we support only a single pipeline per pipeline run. You may be interested in the #2134 which allows one pipeline to nest other pipelines

[2020-05-27 21:48] dibyom commented on #2699
/kind question

[2020-05-27 21:49] dibyom commented on #2696
/kind feature

[2020-05-27 21:55] dibyom commented on #2688
/kind feature

One workaround for now might be to pass in the configMap name and key name as params, and then have a step within the task that fetches the value from the configMap

[2020-05-28 05:52] pritidesai opened #2701 "task results reassertion"
* `TaskResultsNotProduced`: TaskRun for a task should result in failure if task results are not populated. Tasks are declared successful today even before initializing task results from container status. `updateTaskRunResourceResult` is executed when a `taskRun` is declared successful. TaskRun is declared complete and successful [here](https://github.com/tektoncd/pipeline/blob/203ff99f1431c2f82322

[2020-05-28 07:39] vincent-pli commented on #2700
Seems k8s issue: https://github.com/kubernetes/kubernetes/issues/89303

[2020-05-28 12:35] NikeNano commented on #2587
@2pai, @sbwsg is this progressing? I can make a quick fix it this is not moving :)

[2020-05-28 12:38] 2pai commented on #2587
Hi , i'm sorry for late
I will submit the PR @NikeNano @sbwsg

[2020-05-28 13:55] AlanGreene commented on #2688
If you only need access to the configMap value from one or a small number of steps in that task you could load the value using env + configMapKeyRef in the step definition: https://github.com/tektoncd/pipeline/blob/9fd0908070ccf8750a99a03fa444ce00e3be6090/examples/v1beta1/taskruns/configmap.yaml#L14-L25

[2020-05-28 14:02] AlanGreene commented on #2699
Depending on your requirements you may find [Tekton Triggers](https://github.com/tektoncd/triggers) useful. You could define a TriggerTemplate containing multiple PipelineRuns, one for each Pipeline you would like to run.

Can you share more details about what you're trying to do?

[2020-05-28 14:24] wlynch commented on #2700
Nice find @vincent-pli! And https://github.com/kubernetes/kubernetes/issues/14791 looks to be the underlying open issue.

Going ahead and closing- I don't think there's any work we can do here at the moment without an upstream change.

/triage duplicate
/close

[2020-05-28 14:24] #2700 closed

[2020-05-28 15:28] soumochak83 opened #2703 "Enterprise Git clone fails in tekton taskrun"
Issue: The enterprise git (github.xxx.com) clone step fails when running the taskrun in tekton.
Platform: OpenShift: 3.11
Tekton Pipeline version: v0.12.1

**Step name:** step-git-source-clone
Error log:
{"level":"error","ts":1590679054.7200413,"caller":"git/git.go:41","msg":"Error running git [fetch --recurse-submodules=yes --depth=1 origin --update-head-ok --force master]: exit status 128\nfatal

[2020-05-28 15:39] sbwsg commented on #2703
Could you post a sanitized copy of the Pod YAML that ran for this TaskRun?  You can get the Pod's name by checking the `podName` field on the TaskRun and then run

[code]

I'm interested to take a look at the args that were passed to the creds-init initContainer and the volumes that were provided to it.

Also, just to confirm: your `ssh-privatekey` appears to span multiple lines - is the base64 st

[2020-05-28 15:47] soumochak83 commented on #2703
@sbwsg : I have generated a base64 encoded output of the ssh-privatekey and known_hosts, have aligned them in a single line but it failed. Then I tried to put them in separate line for UI convenience as its too long.
[pod.txt](https://github.com/tektoncd/pipeline/files/4696733/pod.txt)

The sanitized copy of pod yaml is attached.
Please help!

[2020-05-28 16:08] sbwsg commented on #2703
Ah, it looks like maybe you're passing an `https` URL in your git PipelineResource?  I think it should be a `git@` ssh-style URL instead (e.g. `git@github.com:tektoncd/pipeline.git`)?

[2020-05-28 16:35] soumochak83 commented on #2703
@sbwsg : I replaced the URL to git@ ssh-style URL and it worked like a charm. Thanks a ton! (I had spent almost 2 days in this issue and finally now fixed)

Note: I have a separate issue now with image push to OCP registry, do I open a separate issue or continue in this issue thread?

[2020-05-28 16:44] sbwsg commented on #2703
Sure, a new issue would be great, thanks!

[2020-05-28 16:44] #2703 closed

[2020-05-28 17:22] bobcatfish commented on #2701
Hey @pritidesai ! I think I'm missing a bit of context for this one: is this about changing the error "reason" fields in Status conditions?

[2020-05-28 17:33] bobcatfish commented on #2672
Hey @sravankumar777 !  Two things that come to mind:

- The way any particular Task is handling secrets is specific to the Task - are you using the Kaniko Task from the catalog (https://github.com/tektoncd/catalog/tree/v1beta1/kaniko)? Any issues you are encountering might be related to the Task or to Kaniko itself
- my limited understanding of imagepullsecrets is that it exists so you can use it

[2020-05-28 17:51] bobcatfish commented on #2662
Hey @chechiachang ! This seems like a reasonable request but I don't really have enough knowledge about how dashboard works to address it - would you be able to re-open this issue in https://github.com/tektoncd/dashboard instead? I think the folks over there could probably give you a better answer :D

[2020-05-28 17:53] bobcatfish commented on #2307
I'm going to close this issue for now but @zhangtbj please reopen if you are still having trouble!

[2020-05-28 17:53] #2307 closed

[2020-05-28 17:53] pritidesai commented on #2701
yes changing the reason field from generic `PipelineValidationFailed` to specific `InvalidTaskResultReference` and also changing the existing behavior where `taskRun` is marked successful without checking if task results were initialized/populated or not ... change TaskRun reconciler such that, check on task results are done before changing taskRun status to sucess.

[2020-05-28 17:54] bobcatfish commented on #2322
It seems like we're adding (or planning to add) more variables which is great! And now we actually have docs on what is available which is super useful.

As people discover more variables they'd like to see, it's probably easier to detail with them one at a time - any objections if I close this issue and folks can open new issues as they discover specific values they'd like to be able to use?

[2020-05-28 17:54] #2322 closed

[2020-05-28 17:55] bobcatfish commented on #2424
@test2016new please reopen if you'd like to discuss more - I think we'd need to take a look at your volume declarations to be able to figure out what's going on.

[2020-05-28 17:55] #2424 closed

[2020-05-28 17:59] bobcatfish commented on #569
I think the future of the image resource is going to look very different from what we have today (#1673) - and with Tasks able to emit results (e.g. in this example https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1-to-v1beta1.md#replacing-pipelineresources-with-tasks) it seems like image resources really arent that useful. So I'm going to close this for now!

[2020-05-28 17:59] #569 closed

[2020-05-28 18:07] carltonmason commented on #235
FYI, I've been happily running Tekton locally on my Mac with Rancher's [k3d](https://github.ibm.com/watson-continuous-delivery/Documentation/blob/master/on-boarding/common-automation-tooling.md#github-help).

k3d is very lightweight compared to minikube.

I recently created a gist for how I set it up https://gist.github.com/carltonmason/72a494080887175245a8abb7d3dc14f7.

[2020-05-28 19:27] shunsubramanian opened #2707 "Taskrun gives error while pulling image from ECR"
# Expected Behavior
Running the task and taskrun on the EKS cluster and pulling the image from ECR.

# Actual Behavior
When I view the taskrun logs, I am seeing the below error message:
[code]
# Steps to Reproduce the Problem

1. Run the below yaml
[code]

# Additional Info

The below test deployment using the nginx is working just fine.

[code]

- Kubernetes version:
EKS 1.16

  **Output of `kube

[2020-05-28 21:18] GregDritschler commented on #2656
I looked at some build logs where this test failed and noticed that the sidecar test pod has a status of `RunContainerError`:

[code]

In logs where the test **passed**, the pod has a status of `Error`.   The difference is that `RunContainerError` appears to be used with container status `waiting` rather than `terminated`.

There isn't a lot of information out there about these different reasons a

[2020-05-29 00:05] #2466 closed

[2020-05-29 00:55] jerop opened #2708 "Validate PipelineRun parameters"
# Expected Behavior
There's validation that a PipelineRun has provided all the parameters expected by the Pipeline.

# Actual Behavior
There's no validation that a PipelineRun has provided all the parameters expected by the Pipeline.
When you run a Pipeline created by a PipelineRun that hasn't provided all the required parameters, you'll find that it mistakenly succeeds and you'll have to look int

[2020-05-29 00:56] jerop commented on #2708
/assign

[2020-05-29 00:56] jerop commented on #2708
/cc @bobcatfish

[2020-05-29 01:47] jerop commented on #2708
/kind bug

[2020-05-29 01:51] jerop commented on #2708
/kind feature

[2020-05-29 03:05] sravankumar777 commented on #2672
Hi Christie,

Thanks for your reply!!!

For 1st case, i have not tried using with kaniko task from catalog. Would be checking about it this week.
For 2nd case, i have provided the permission on the secrets for image push and pull operations.
For more information, i have created a harbor robot account with both image pull & push permissions. It did worked for me.
Same permissions, i tried to access

[2020-05-29 05:52] pritidesai opened #2710 "Design and implement Pipeline Results for pipeline with finally tasks"
A new field `finally` is being introduced to `PipelineSpec` at the same level as `Tasks`, `Params`, and `Workspaces`. The `finally` field is a list of one or more `PipelineTasks` similar to `Tasks` that provide a guarantee that they are executed only once all `PipelineTasks` under tasks have completed regardless if that is because of success or error.

This new type is getting added with PR #2650

[2020-05-29 05:52] pritidesai commented on #2710
/kind feature

[2020-05-29 06:11] pritidesai opened #2711 "support from in finally tasks"
Similar to `tasks`, `finally` tasks can have [PipelineResources](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#specifying-resources) as inputs and outputs for in the Pipeline.

The only difference here is, final tasks with an input resource can not have a `from` clause
like a `PipelineTask` from `tasks` section. For example:

[code]

Design and implement how can we specify `fr

[2020-05-29 06:11] pritidesai commented on #2711
/kind feature

[2020-05-29 12:25] lukehinds commented on #2207
I am hitting this issue:

I used `examples/kind-with-registry.sh` to create a local registry declared within the `--config` passed to kind.

I then used `ko` to load the current master branch of tektoncd/pipelines, but also used the latest release as well.

I then loaded the a simple pipeline and task:

[code]

This results in the following:

[code]

I am curious if this might be an iptables confi

[2020-05-29 12:38] lukehinds commented on #2207
/reopen

[2020-05-29 12:39] lukehinds commented on #2207
@sbwsg could you reopen please?

[2020-05-29 13:25] afrittoli commented on #164
[This](https://github.com/knative/pkg/blob/41aec11a3cadd48dbffc3f6671f7c8a95bce6afa/controller/stats_reporter.go#L190) would help to track reconciler [stats](https://github.com/knative/pkg/blob/41aec11a3cadd48dbffc3f6671f7c8a95bce6afa/controller/stats_reporter.go#L55-L91)

[2020-05-29 17:53] sbwsg opened #2714 "Remove tianon/true as the "nop" image"
# Expected Behavior

The "nop" image that Pipelines uses to stop Sidecars should be available.

Edit: Generally, my hunch here is that we shouldn't be depending on external images for core Pipelines functionality at all but I'm open to dialog on that if it's simply not possible.

# Actual Behavior

It appears that the SHA for tianon/true, our current "nop" image, has changed in Docker Hub and resu

[2020-05-29 18:26] pritidesai commented on #1680
/assign pritidesai

I need to get this fix while working on `finally`, `finally` tasks are executed after one of the `pipelinetask` fail, pipeline status should not be updated until finally tasks have finished executing.

[2020-05-29 18:34] bgottfried91 opened #2715 "json: unknown field "subPath""
# Expected Behavior
You should be able to specify a subPath field in a workspace definition of a specific Task within a pipeline.
# Actual Behavior
The v1beta1 api does not recognize the subPath field as a valid field for a workspace.
# Steps to Reproduce the Problem

1. oc apply the example pipeline from the documentation that uses two different subPaths on the same workspace (https://github.com/

[2020-05-29 19:01] sbwsg commented on #2715
Hi @bgottfried91 thanks for the issue report.  Both `volumeClaimTemplate` workspace types and `subpath` support in PipelineTasks were only introduced starting in 0.12.  If you try the pipeline you linked against 0.12.1 it should work as expected.  Apologies for the confusion here, we're working to improve Tekton's story around task and pipeline versioning and we acknowledge that are currently some

[2020-05-29 19:01] #2715 closed

[2020-05-31 08:47] vincent-pli commented on #2656
`Error: failed to start container "sidecar-sidecar-container": Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "exec: \"sh\": executable file not found in $PATH": unknown`

Will always be there, try any command with `tianon/true` will cause similar exception, since there is nothing in that image, no $PATH, no filesystem.

[2020-05-31 09:40] vincent-pli opened #2724 "The "STATUS" of Pod with sidecar after terminated"
# Expected Behavior
After `sidecar` is terminated, the associated pod's STATUS should be `Completed`
# Actual Behavior
`StartError`
# Steps to Reproduce the Problem
kubectl create -f ./examples/v1beta1/taskruns/sidecar-interp.yaml

# Additional Info
For now, we terminate `sidecar` by update original `sidecar` image to `tianon/true`, that will work but will make container of `sidecar` failed like t

[2020-06-01 19:23] IdanAdar opened #2725 "Expose retries to the the Task/TaskRun"
# Expected Behavior
For the value of `retries` to be available at runtime so I could track it and potentially run different code flows depending in the current retry counter.

# Actual Behavior
Currently not exposed.

[2020-06-01 19:39] jerop commented on #1797
/assign

[2020-06-01 20:23] wlynch commented on #2724
/kind bug

/cc @sbwsg since this looks like it might be related to https://github.com/tektoncd/pipeline/issues/2714

[2020-06-01 20:33] pritidesai commented on #1797
thanks @jerop for taking this up, happy to help if needed 🥰

[2020-06-01 20:39] wlynch commented on #2725
/kind feature

Hi! Thanks for the feature request!

Can you describe in a little more detail what your use case is? e.g. are you looking for retry information to be exposed to running step containers, or the Tekton controller itself to be used with [Conditions](https://tekton.dev/docs/pipelines/pipelines/#guard-task-execution-using-conditions)?

Thanks! :D

[2020-06-01 20:49] wlynch opened #2726 "Nightly release failure 2020/06/01"
# Expected Behavior

Nightly release passes (or at least actually builds / tests our code)

# Actual Behavior

Nightly build [fails](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-8th5b) on `build-push-base-images`. Error logs:

[code]

[Dockerfile](https://github.com/tektoncd/pipeline/blob/master/images/Dockerfile)

# Additional Info

- Kubernet

[2020-06-01 20:50] wlynch commented on #2726
I suspect the use of [`alpine:latest`](https://github.com/tektoncd/pipeline/blob/8e583cb2740eebc36a282f77a7e56b580fd1f9f3/images/Dockerfile#L1) might be causing some instability here. I am going to pin this to a [stable version](https://wiki.alpinelinux.org/wiki/Alpine_Linux:Releases).

[2020-06-01 20:57] #2586 closed

[2020-06-01 22:21] jerop commented on #1797
thanks @pritidesai 😄

we can collaborate on this a [design doc](https://docs.google.com/document/d/1rleshixafJy4n1CwFlfbAJuZjBL1PQSm3b0Q9s1B_T8/edit?usp=sharing) I just started

[2020-06-02 01:08] vincent-pli commented on #2714
Fixed by #2713 should be closed

[2020-06-02 04:37] mattmoor opened #2728 "Missing coverage of TaskRun label update"
I am able to comment out the annotation/label update call in the TaskRun reconciler and the unit testing passes.  Seems like if this is important it should be covered?

/good-first-issue

[2020-06-02 04:55] IdanAdar commented on #2725
I would like to use it in steps, yes. I did not think about exposing it in Conditions, but I don't see why not...

We have some tasks (with a single step) that will be retried on failure. In this case though, depending on the number of attempts done I may want to dispatch a different notification, so knowing the current attempt # will help me accomplish that.

[2020-06-02 05:01] mattmoor opened #2729 "RunningPipelineRun metric is racy"
I was looking at the PipelineRun controller, and noticed that there is a metric for the number of running PipelineRuns:

https://github.com/tektoncd/pipeline/blob/baf3c725c0f0e4409d935a6bee5c8f3a22695056/pkg/reconciler/pipelinerun/pipelinerun.go#L254-L261

This metric is updated when one of the reconciler's trailing updates modifies the resource (status or labels/annotations), but it bases its met

[2020-06-02 08:30] vdemeester commented on #2729
/kind feature

[2020-06-02 08:59] #2726 closed

[2020-06-02 09:10] vdemeester commented on #2134
cc @mattmoor

[2020-06-02 09:23] vdemeester commented on #2362
I think so yes !
/close

[2020-06-02 09:23] #2362 closed

[2020-06-02 09:55] vdemeester commented on #2714
I guess so too but, @sbwsg if not using `tianon/true`, which image would we use ? :thinking:

[2020-06-02 10:11] sayom88 opened #2731 "How to implement Canary Deployment with Tekton Pipelines on Openshift 4.x cluster?"
I am working as a Test Automation Architect...actually I am very new to Tekton and Openshift world and planning as a very simple PoC to implement a Canary Deployment on Openshift using Tekton pipelines....so it would be of great help if you can guide me on how to implement the Canary deployment via Tekton pipelines on OCP step by step please.....Thanks in advance for this ask :slightly_smiling_fac

[2020-06-02 11:06] vdemeester commented on #2667
@jlewi so as of 0.11.0, "The minimum version of Kubernetes required to run Tekton Pipelines is now 1.15". See https://github.com/tektoncd/pipeline/releases/tag/v0.11.1

[2020-06-02 11:10] vdemeester commented on #2667
So it's kinda "by design" that it doesn't work on 1.14 :sweat: The validation error comes from the api server itself that enforce this on the CRD definition type itself.

[2020-06-02 12:21] sbwsg commented on #2714
we could either bring back our pipeline-owned nop image, or go with a different strategy. i have been wondering what would happen on various platforms if we just replaced the image with a non-existent one, for example.

[2020-06-02 12:32] sbwsg commented on #2724
That's correct & has been treated as acceptable til now - a TaskRun is still considered succeeded if the Step containers all succeeded.  Sidecar container error states are (mostly? completely?) ignored.

I didn't realize that the status of a Pod was dependent on the sort order of its containers - very interesting!

Bear in mind that this won't affect injected sidecars - it's still totally possible

[2020-06-02 13:16] jpower432 opened #2732 "Tekton Pipelines Integration with Istio"
# Expected Behavior
To be able to submit a Tekton CR to K8 admission controller through tekton-pipelines-webhook with Istio integrated

# Actual Behavior

The certificate on the tekton-pipelines-webhook secure backend has a no CN and only the SAN is populated with the service name. See the error below.
![Capture](https://user-images.githubusercontent.com/66313384/83522619-ee72ff00-a4ae-11ea-852c-0

[2020-06-02 15:59] mattmoor commented on #2732
cc @tcnghia

[2020-06-02 16:01] mattmoor commented on #2729
I'd probably say `/kind bug`? 😇

[2020-06-02 16:19] #2682 closed

[2020-06-02 16:42] vdemeester commented on #2729
@mattmoor for my defense, I was on PTO, my brain is not completely wired back correctly it seems :joy_cat:
/kind bug
/unkind feature

[2020-06-02 16:43] mattmoor commented on #2729
I am seeing the informer's copy being modified in both `updateStatus` and `updateLabelsAndAnnotations`.

[2020-06-02 16:46] mattmoor commented on #2729
This modifies a resource fetched from a lister (informer cache): https://github.com/tektoncd/pipeline/blob/be9ac3bf6b27f6beb3f4b7c828ef8388f9b323c3/pkg/reconciler/pipelinerun/pipelinerun.go#L916

[2020-06-02 16:55] mattmoor commented on #2729
You can watch things explode by adding a line like `pr := pr.DeepCopy()` to the top of each of these loops:
https://github.com/tektoncd/pipeline/blob/be9ac3bf6b27f6beb3f4b7c828ef8388f9b323c3/test/controller.go#L108

[2020-06-02 20:46] R2wenD2 commented on #2728
/assign @R2wenD2

[2020-06-03 02:14] mattmoor opened #2734 "Tekton modifies objects in the informer cache"
# Expected Behavior

Tekton should `.DeepCopy()` any resource that is fetched from an informer's Lister, otherwise the resource in the underlying cache is altered and bad things result (TBH, I'm not even sure of the extent, but this is a "no no").

# Actual Behavior

In a few places Tekton updates the resource returned from the informer cache.

# Steps to Reproduce the Problem

I outlined this a b

[2020-06-03 02:15] mattmoor commented on #2734
/kind bug

I'm currently looking at this in spare cycles, but would be open to handing off to someone with more bandwidth to run down the issues this has dislodged.

[2020-06-03 02:26] xiujuan95 opened #2735 "Support controller leader election in tekton-pipeline"
# Expected Behavior

I want to support high availability (HA) for tekton-pipeline. Not sure whether tekton-pipeline has supported or not, now?

I mean HA is like leader-election, not the self-healing properties of kubernetes native.

Because, if I just depend on self-healing properties of kubernetes, it will cause some downtime for my services. This is not expected.

So if above question is yes, t

[2020-06-03 03:43] mattmoor commented on #2734
One complication here is that the single control loop is performing multiple Lister reads -> Client writes, but given that the fakes aren't updating the informers index during the client writes the second Lister read -> Client write reads a stale version of the object from the Lister cache.

[2020-06-03 04:02] mattmoor commented on #2734
One partial solution to the above (since the same will happen during normal reconciliation) is to use a Patch like this, which bypasses the stale read and optimistic concurrency checks to update the labels and annotations:

[code]

I'm working through some other test failures as well, at least one of which is a test bug that was masked by this bug.

[2020-06-03 05:18] mattmoor commented on #2729
Alright, so https://github.com/tektoncd/pipeline/pull/2736 should address the modifications of the resources in the informer cache, but I didn't touch this code because no tests blew up (yet 🤞 ) and I feel like fixing this race needs a deeper design conversation.

Not sure how folks want to proceed, but that PR will almost certainly make this metric flakier until this issue is fixed.

[2020-06-03 06:26] xiujuan95 commented on #2735
Just now, I do an experiment. I setup 3 tekton controller:
[code]
And apply 1 task and 1 taskRun using your sample:
[code]
I found there will have 3 taskrun pods come up, but only one is working. The other two are alway `running`:
[code]

So I think current tekton-pipeline doesn't support HA. If my understanding is wrong, pls correct me, thanks a lot!

[2020-06-03 06:29] eddycharly commented on #2735
I tried the same setup a while ago and observed the same behaviour.

I don’t think it’s supported yet, though there is a leader election config map, I am not sure if this is possible at all.

[2020-06-03 06:35] xiujuan95 commented on #2735
@eddycharly Does it have a leader election configMap?  Which one?
[code]
Could you tell me which one is for the leader-election, pls? Thanks!

[2020-06-03 06:53] eddycharly commented on #2735
Looks like you don’t have it. Look here https://github.com/tektoncd/pipeline/blob/master/config/config-leader-election.yaml

[2020-06-03 06:58] eddycharly commented on #2735
Also, controller down doesn’t mean a downtime.
As long as your etcd is up, you will be able to register new jobs, they just won’t be processed without the controller but requests won’t be rejected.

[2020-06-03 07:30] xiujuan95 commented on #2735
@eddycharly  Thanks a lot! For above mention election configmap, if I apply it, then would the leader-election be processed?

[2020-06-03 07:35] eddycharly commented on #2735
Hopefully... worth a try.
Let me know, I’m interested to know the answer ;)

[2020-06-03 08:06] xiujuan95 commented on #2735
@eddycharly I create above election configMap, and add it into the tekton controller deployment, but it still doesn't work as expected. Namely, it still sets up three taskRun pods.

[2020-06-03 08:30] eddycharly commented on #2735
@xiujuan95 does your RBAC rules allow access to the config map ?

[2020-06-03 08:36] xiujuan95 commented on #2735
@eddycharly Maybe not. I am trying to modify my RBAC and I want to use this image `github.com/tektoncd/pipeline/cmd/controller:latest`, but it failed:
[code]

[2020-06-03 08:40] eddycharly commented on #2735
`github.com/tektoncd/pipeline/cmd/controller` is not a docker image.
It's the github repository, the image is replaced by `ko` when `ko apply` is invoked.
I don't think you need to change the image, the leader election should come with knative. I suspect that if you have the leader election config map setup correctly and accessible it should work.

[2020-06-03 08:55] xiujuan95 commented on #2735
@eddycharly I think now, my RBAC rules allow access to the election config map.
[code]
But, it still doesn't work.
Could you try it in your side, pls?

[2020-06-03 11:22] afrittoli commented on #2735
The leader election is something that was recently added by the knative team in `knative/pkg`.
We inherited the configmap but we did not really do any integration work on Tekton side.

Background: https://github.com/knative/pkg/issues/1181.
@mattmoor may have more context to share.

@xiujuan95 @eddycharly looking forward to the results of your experiments.

[2020-06-03 11:48] afrittoli opened #2738 "Pipeline nightly build is broken"
# Expected Behavior
Pipeline nightly build works

# Actual Behavior
Pipeline nightly build is broken.
Building the base image fails with:
[code]

# Steps to Reproduce the Problem

1. https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-tqgdd

# Additional Info
The image is base on alpine.
It used to be latest, and [now](https://github.com/tektoncd/pipe

[2020-06-03 12:11] afrittoli commented on #2738
The https://gitlab.alpinelinux.org/alpine/aports/-/tags/v3.12.0 was released 4dd ago, which is when the last successful nightly happened.
The build on the [day before](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-2hk7l) ran on v.3.11.0.
We had one successful build on v3.12.0 and then it started failing.

[2020-06-03 12:27] vdemeester commented on #2738
`Read-only file system` make me think it's either a node or an image problem :thinking:

[2020-06-03 13:41] jlewi commented on #2667
Thanks @vdemeester I think we can go ahead and close this issue.

[2020-06-03 13:41] #2667 closed

[2020-06-03 14:50] lmserrano opened #2739 "Add support for Task step yaml with image: docker-registry-within-cluster:port/some-image"
# Expected Behavior

The Tekton Task step should have the image repository dns name correctly resolved to the ClusterIP of the docker registry within the cluster and succesfully connect to it to obtain the specified image and initialize the pod of the task's associated step.

# Actual Behavior

The Tekton Task step which uses the specified image will have Status `ErrImagePull` and then `ImagePullB

[2020-06-03 16:05] mattmoor opened #2740 "The pipeline resource is fetched via client vs. lister in resolver"
# Expected Behavior

Generally best practice dictates that "gets" in the Reconcile loop are done from the informer cache so that when the reconciliation is a nop (e.g. a resync on a done task) there is zero traffic to the API server.

# Actual Behavior

I found the following in the pipeline resolver:

[code]

This explicit read through the client happens on every pipeline run reconciliation, even

[2020-06-03 16:17] afrittoli commented on #2740
Oh, nice catch, thank you!

[2020-06-03 16:59] mattmoor opened #2741 "CompletionTime is not set if Succeeded is already True"
# Expected Behavior

CompletionTime is always updated to reflect the time the task/pipeline was observed to succeed.

# Actual Behavior

CompletionTime is only updated when something else in Status is being touched.  This is because `updateStatus` is guarded by an equivalence check, so if nothing else changes, then this doesn't get set.

# Steps to Reproduce the Problem

I saw this in a unit test

[2020-06-03 17:18] afrittoli commented on #2741
Interesting.
I suppose we never want to have the case where we set the status "True" is set on the "Succeeded" Condition, and the `CompletionTime` is not set.
Would the `+genreconciler` require that separation?

[2020-06-03 17:20] mattmoor commented on #2741
Well `updateStatus` is now generated, and doesn't do this 😅

The way we manage this in Knative is to have higher-level functions for manipulating status conditions.  The equivalent here would be to have the function(s) that put Succeeded into a terminal state also update CompletionTime.

I haven't poked around to see how this is set throughout the reconcilers today, but would be happy to advice if

[2020-06-03 18:07] eddycharly commented on #2696
/cc @vdemeester @afrittoli

Does it make sense to you ? Shall I open a PR ?

[2020-06-03 18:10] mattmoor commented on #2741
I may take a look at this next.  It's all over and I think it'll clean things up a bit.

[2020-06-03 18:43] jlpettersson opened #2742 "Support using Tekton on a subset of Nodes when Affinity Assistant is enabled"
# Expected Behavior

That I can run Tekton workload only on a subset of my Nodes, e.g. on my build-nodes.

# Actual Behavior

This can be done by setting a [NodeSelector](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector) or by using [Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) in the [default PodTemplate](https://

[2020-06-03 21:15] bobcatfish opened #2746 "Define Tekton LTS policy"
In the productivity working group a few weeks back we discussed what it would take to release more frequently.

One big blocker is that having a large gap between releases means that we are more likely to backport fixes to a previous release and have patch releases, which at the moment we really only do for the release before the current one.

If we were to release more frequently (imagine every 2

[2020-06-03 21:32] ricardochimal opened #2747 "Add support for knowing what pipelinerun/taskrun is running the task steps"
# Expected Behavior

I can tell within my task environment which pipelinerun and/or taskrun it's running for

# Actual Behavior

Currently I don't see a way for my task steps to know what the pipelinerun or taskrun is associated with it.  My use case is that I emit some output to a chatbot but would like to reference the run as part of the message to make it easier for other people to check the lo

[2020-06-03 22:32] bobcatfish opened #2748 "Define compatibility policy for Go libs"
# Expected Behavior

We try to minimize the impact of changes to our Go libs on other projects that are using them, for example in https://github.com/tektoncd/pipeline/pull/2717#issuecomment-637164266 when @pritidesai noted the impact of that change on the CLI.

It would make sense to have a clear policy around:
- How to make backwards incompatible changes to the libs and what expectations should

[2020-06-03 22:55] #2679 closed

[2020-06-03 22:55] #2742 closed

[2020-06-03 23:29] #2080 closed

[2020-06-04 00:52] nalinigokulpure commented on #2050
Another use case:

I've got a pipeline that uses a git as an input resource, reads a config file and generates a set of tekton-results containing dependent gits.  i.e result-1=git-1 , result-2=git-2 etc.. then I run a git-clone task to clone git-1 , git-2 etc..  I've also got a condition that checks if result result-1 is not null before running a git-clone task.. so I'd really like a loop which ru

[2020-06-04 01:44] mattmoor commented on #2735
I have some changes brewing that will change how this works a bit.  Those changes will enable reconcilers to be sharded across replicas and should help us scale reconcilers horizontally.  However, I want to get y'all onto `// +genreconciler` first so it's ~free.

[2020-06-04 07:59] vdemeester commented on #2640
@bobcatfish as quickly discussed today, the hardcoded nginx image is most likely gonna be a blocker for openshift-pipelines :sweat_smile: We can use a flag for this and still using nginx but allowing openshift-pipelines (and other integrator) to customize the image.

[2020-06-04 08:51] HefeiJoe opened #2752 "task git-clone: exit status 128\nfatal: remote origin already exists."
task git-clone is very unstable and sometimes reports the following error

script:
[code]

logs:
[code]

[2020-06-04 09:49] #2752 closed

[2020-06-04 10:04] #2741 closed

[2020-06-04 10:28] lmserrano commented on #2739
This is not a Tekton issue because it turns out I'm experiencing it at the base Kubernetes level when creating a pod with any image in a registry within the cluster itself. Sorry all.

[2020-06-04 10:28] #2739 closed

[2020-06-04 12:23] ImJasonH commented on #2640
Does the image have to expose an HTTP service? Or just run indefinitely? Either way, a simple purpose-built Go binary + image sgtm.

Related #2562 #2714

[2020-06-04 12:28] jlpettersson commented on #2640
Just run indefinitely. We could potentially use it for other things as well, if we want.

For this use case, it is just a pod with specific labels, so that taskRun-pods can configure podAffinity to attract that pod, so they are scheduled to the same Node.

[2020-06-04 12:29] ImJasonH commented on #2740
Is there some kind of unit test we could write to try to detect and prevent usage of the client to `Get`? We have it available to be able to `Create` and `UpdateStatus`. Maybe we could wrap it in an interface-compliant struct that fails loudly on `Get`?

[2020-06-04 12:31] ImJasonH commented on #2640
It could (not sure) be nice to reuse the nop image (see #2714) and give it two modes: exit successfully immediately no matter what (nop), or run indefinitely no matter what (affinity assistant).

[2020-06-04 13:13] bobcatfish commented on #2740
I'm under the impression that we are deeply suspicious that relying on the informer instead of doing a get could result in errors due to stale data. I'd love to get to the bottom of this and learn that we actually can rely on the listers and informers.

In this PR that was closed you can see us debating and not really knowing: https://github.com/tektoncd/pipeline/pull/1825

I don't think we really

[2020-06-04 14:03] sbwsg commented on #2746
Responding to the strawman, this makes me very nervous but I might be misunderstanding the intended scheduling?  The way I'm reading this right now: If we move to a weekly release cadence we'd have, minimum, 12 releases to backport fixes to at a given time (3 months = 12 weeks = 12 releases)?  Even if our release process were cut to 30 minutes of work (right now a single release can span anything

[2020-06-04 14:04] afrittoli commented on #2740
@bobcatfish You make a very good point, thank you!

Since we have no mechanism to to cache fetched resources, today we fetch them on every reconcile cycle - which is quite expensive (see https://github.com/tektoncd/pipeline/pull/2690).

I think there are a couple of possible solutions to this issues:
a. When we fetch resources, try the informer informer lister first. If that fails try with the cli

[2020-06-04 14:06] sbwsg commented on #2747
Thanks for the issue!  I'm going to close this a duplicate of https://github.com/tektoncd/pipeline/issues/1522 since I think it's discussing the same problem.  Feel free to reopen if you think this issue is different enough to warrant its own problem statement though.

[2020-06-04 14:06] #2747 closed

[2020-06-04 14:12] vdemeester commented on #2746
Backport fixes should only be on the LTS releases to reduce the workload. Doing backport fixes on weekly release would counter the benefit of doing those weekly release for sure.

Indeed that could be the case. 1.0 would be a LTS and receive bugfixes for a year. During that year we could have another one (at 6month for ex.) to be re-considered as LTS, etc… The question are then :

- how often do w

[2020-06-04 14:15] vdemeester commented on #2740
I think we were also using this because we were using `Update` and that would not be reflected in the informers cache (whereas using `Patch` does) (see https://github.com/tektoncd/pipeline/issues/2729#issuecomment-637959273) — @mattmoor correct me if I am wrong.

Yep, (b) feels also more natural for me.

[2020-06-04 14:18] afrittoli commented on #2746
We do have nightly "releases" today, but they have lower visibility than
official releases because we do not publish release notes for them and do
not have links to docs and examples on the main READMEs.
I think a good way forward would be to improve the visibility and usability
of our nightly release, adding release notes and setting up automated
testing (we already do automated deployment every

[2020-06-04 14:25] mattmoor commented on #2740
Yes, you can look for `GetAction` on the fake clients.  I'd take a hard look at List too.

Yes, using the informer cache can result in stale reads.  Yes, it may not yet have observed a resource yet when reconciling another resource created in the same `kubectl apply`.

I think a worse case is when it does exist, but a mutation may or not be picked up, e.g.

[code]

With Get, the above works reliab

[2020-06-04 14:27] mattmoor commented on #2740
Not quite!  The point with Patch was that it isn't a read-modify-write, so you avoid the stale read.  The Patch also doesn't include the `metadata.resourceVersion` field, so it avoids optimistic concurrency checks.

[2020-06-04 14:32] bobcatfish commented on #2740
This would beg the question of how many times we retry before failing: in the current design, as soon as this fails, the PipelineRun fails. If you start retrying, if users specify the name of a resource that doesn't exist, the Run will wait indefinitely.

That sounds okay since it's how a lot of other Kubernetes resources work BUT I would say there is one big downside:

If the resource springs int

[2020-06-04 14:41] mattmoor commented on #2729
One potential solution would be to replace the current logic with a simple periodic scan.  You'd lose sub-`{period}` resolution, but it avoids a full lister scan (`O(n)`) that potentially keys off of updates to any of those `O(n)` resources.

If we launch a go routine with a `for { <-time.After(period) }` in `controller.go` it can key off of the same lister.

[2020-06-04 14:51] afrittoli commented on #2740
I think it would be fair to retry a fixed number of time, one or two, whatever is needed to ensure the cache is not stale. I don't think we need to support the case of `TaskRuns` created at a later time (outside of the initial `kubectl apply`.

[2020-06-04 15:01] afflom commented on #2732
Since istio is providing mTLS for tekton in this instance, would it be acceptable for tekton to be deployed plain text comms between services? Is there a flag for that? @mattmoor @tcnghia

[2020-06-04 15:20] afrittoli commented on #2740
Heh, nice. In fact, one issue we have today, it to avoid trying to reconcile a mutating Task/Pipeline. Ideally the reconcile should work on the same version of a Task/Pipeline/Condition/PipelineResource through-out the lifecycle of the matching Run resource.

[2020-06-04 15:21] bobcatfish commented on #2740
I'm not sure how far along we've gotten with this but afaik we're now storing the Pipeline/Task definition in the status of the Runs, so it would make sense to operate from that in the future and only retrieve the Pipeline/Task on the first reconcile.

Which actually might do a lot to address the efficiency concern as well?

[2020-06-04 15:23] bobcatfish commented on #2740
We'll have to:
1. start keeping track of how many times we have queried for each, maybe even backoff
2. decide what arbitrary fixed # or amount of time to use

I'd like to be certain that this extra complication is worth saving the expense of using Get vs lister, esp. if we can reduce the number of Get calls required by only Getting on the first reconcile.

[2020-06-04 15:24] pritidesai commented on #1020
This feature is essential for `finally`,  final tasks are executed after all Pipeline Tasks are finished executing with success or after a single Pipeline Task fails. The scope of this design goes beyond just conditional containers, and applies to all final task containers and possibly all pipeline task containers.

[Design Doc](https://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpN

[2020-06-04 16:46] dibyom commented on #2738
I can reproduce this on my cluster running Tekton v0.12.0
1. Apply Task YAML: https://gist.github.com/dibyom/038c9ae01fff69606976971cdb6c4102
2. Create svc account/secret: https://github.com/tektoncd/pipeline/tree/master/tekton#service-account-and-secrets
3. Run Task:
[code]

[2020-06-04 17:28] afrittoli commented on #2746
https://github.com/tektoncd/plumbing/issues/407

[2020-06-04 18:50] bobcatfish commented on #2746
ah kk, I didn't realize that the practice was to designated _certain_ releases only as LTS (though I think @dlorenc has tried to explain this to me before) - that makes this much easier :D

[2020-06-04 18:55] bobcatfish commented on #2738
[code]

It looks like something is trying to remove a mounted secrets:

[code]

[2020-06-04 19:00] bobcatfish commented on #2738
btw looks like this might be a duplicate of https://github.com/tektoncd/pipeline/issues/2726 looks like pinning didnt fix it :S

[2020-06-04 19:11] bobcatfish commented on #2738
Here's a log from a recent successful run, where this "pre-upgrade" thing doesnt seem to be getting involved:

[code]

It's interesting that the successful log references these versions:

[code]

In the failed log we have these versions:

[code]

[2020-06-04 19:18] bobcatfish commented on #2738
It seems like the error might be coming from:

[code]

maybe that's not actually something we want to upgrade?

we're trying to upgrade all packages:

https://github.com/tektoncd/pipeline/blob/4f670ce6b53a13962b1eab19a3b047b3707e2bde/images/Dockerfile#L3-L5

[2020-06-04 19:19] bobcatfish commented on #2738
https://git.alpinelinux.org/aports/tree/main/alpine-baselayout/alpine-baselayout.pre-upgrade

[code]

wut

[2020-06-04 19:30] bobcatfish commented on #2738
I'm not sure what's going on but I recommend building from older checkouts of pipelines and seeing if this was caused by a change that was introduced in the pipelines repo; if so we can use a binary search to find the problem.

[2020-06-04 19:32] bobcatfish opened #2755 "Create presubmit check that verifies release pipeline"
# Expected Behavior

If someone introduces a change that makes it not possible to build a release, it's best to find out i the pull request.

# Actual Behavior

We'll only find out when the nightly release runs and at that point it's hard to know what the cause of the failure is, could be:
1. issue with dependencies
2. issue with the pipelines/tasks themselves
3. issue with the code in the repo

I

[2020-06-04 19:48] bobcatfish commented on #2738
Just realized that to make 0.13 ill need to fix this - and I'm build cop tomorrow anyway, so no time like the present :D

[2020-06-04 20:30] bobcatfish commented on #2738
Okay so I was able to run kaniko locally and reproduce this more or less by introducing the slightly contrived step of mounting a read only file into /var/run:

[code]

I got this error:

[code]

I then pinned to 3.11 and it built just fine.

It seems like pinning to 3.12 isn't working b/c 3.12 is a moving target; evne since my comment above (https://github.com/tektoncd/pipeline/issues/2738#issuec

[2020-06-04 21:21] dibyom commented on #1020
Excellent!! 😃
I had a old [proposal](https://docs.google.com/document/d/1eJBb2VHuSTbrIWfPE3TGdRRfdbJsRCOBIqfTwx9M3H8/edit#heading=h.2f7asw3l4lo9) though I am not sure how much of that is still relevant especially with finally containers! Feel free to suggest something different it that makes more sense!

[2020-06-04 22:22] bobcatfish commented on #2738
I think this is a bizarre collision of kaniko behaviour and alpine relying on /var/run being a symlink to /run so I opened https://github.com/GoogleContainerTools/kaniko/issues/1297

I think our options are:
1. keep the alpine image pinned (and hope this never starts being a problem for 3.11 - i still dont understand why a script committed in 2017 is only causing this problem now)
2. fix the probl

[2020-06-04 22:47] 2020testuser opened #2758 "Tekton and GitOps"
Hi,
Could anyone let me know whether GitOps can be enabled using Tekton?
Basically, is the below possible using Tekton.

 "If I have my source code in github and when I make a github commit or PR , I want my Tekton pipeline to kickoff automatically which will perform my application build, create image , push to docker repo. and deploys the image in Kubernetes pod".

If above is possible, could any

[2020-06-04 23:13] eddycharly commented on #2758
Not out of the box.

Tekton pipelines is for running pipelines, what a pipeline does is up to you. You can create a pipeline to checkout your code, build your image, push it in a docker repo and deploy a pod if you want.

Tekton triggers can trigger your pipelines when a commit is pushed or a pr is opened in your code repository.

You can use both tools to create a sort of continuous integration/d

[2020-06-05 00:04] joshsleeper commented on #2738
I think it's just a perfect storm of conditions that _could've_ happened in any prior alpine release, but by chance didn't.

the base images for alpine 3.12 don't have the latest `alpine-baselayout` for their release yet, and so anything that's trying to build + upgrade from them with a read-only mount anywhere in `/var/run/*` (and I wager anywhere in `/run/*` too!) will throw its hands up.

as so

[2020-06-05 09:09] vdemeester commented on #2755
/kind misc
/area test-infra

[2020-06-05 11:56] 2020testuser commented on #2758
eddycharly - Thanks ! This helps. Could you please clarify on the below?

Does tekton triggers use Github webhooks to trigger the pipelines?

Could you please clarify how by using Tekton pipeline (without triggers), I can achieve continuous integration/deployment solution? Is this achieved using Tekton and argoCD together?

I'm new to GitOps. Could you let me know what components can be used with

[2020-06-05 12:13] eddycharly commented on #2758
Yes

You will need Tekton triggers to automate pipeline execution on git events (push or pr).

Yeah i believe jenkinsx has something close to gitops, ArgoCD or Flux are gitops solutions too.
You could use Tekton for continuous integration/delivery and Flux or ArgoCD for the deployment part.

I never used Flux or ArgoCD myself, i developed an in-house solution for several reasons. GitOps proves to

[2020-06-05 12:27] 2020testuser commented on #2758
@eddycharly - Thanks Much!
So, to confirm... Is the below correct?

Tekton is for enabling continuous integration/continuous delivery  and GitOops is for continuous integration/deployment. For continuous integration/deployment, here are the options I have.
1. Tekton plus Flux or ArgoCD
2. JenkinsX with Tekton
3. Weaveworks
4. Flux
5. Others (if any)

It would be good if we have all these component

[2020-06-05 12:40] eddycharly commented on #2758
GitOps is not related to continuous integration
GitOps can be used to implement continuous deployment but not necessarily, you can stick with manual deployment and have a GitOps approach. As long as you automate the pushes to the git repo when new artifacts are available it becomes continuous deployment.

There are probably a lot of GitOps tools comparison available, last time i checked ArgoCD and

[2020-06-05 14:33] 2020testuser commented on #2758
@eddycharly  - Thanks much for the clarification!
Will checkout the links.

[2020-06-05 14:33] #2758 closed

[2020-06-05 15:37] 2020testuser opened #2763 "Tekton Upgrade"
Hi,
I want to upgrade my current tekton pipeline? Could anyone please let me know whether I need to uninstall the existing tekton and install the latest version? Or, can I simply run 'kubectl apply <latest-version-install.yaml> file?

Want to make sure as need to upgrade tekton. Thanks!

[2020-06-05 17:35] bobcatfish commented on #2763
As long as you are upgrading from a 0.11+ version you should only need to apply the latest version. Since the beta release we are being very careful about breaking changes but before that things could be a bit wild. Also always take a look at the release notes to see what has changed in a release and if there are any deprecation warnings: https://github.com/tektoncd/pipeline/releases

We also have

[2020-06-05 18:21] bobcatfish commented on #2738
ahh makes sense @joshsleeper ! thanks for explaining :D do you happen to know how one could track this kind of thing (e.g. are there release notes somewhere that mention this?) np if not, thanks anyway for the info

![image](https://user-images.githubusercontent.com/432502/83909994-d06bff80-a737-11ea-99f0-866cde941f1b.png)

[2020-06-05 18:37] joshsleeper commented on #2738
for all the things people, including myself, love about Alpine Linux, I think it's a fairly small crew running that ship so their announcement processes aren't extensive.

I think it's mostly a side-effect of the fact that by design alpine doesn't maintain package _history_ really, so generally the only correct version of alpine packages to be using is the latest. if there are upgrades, you're sup

[2020-06-05 21:39] r0bj opened #2766 "v0.13.0: FailedCreate Pod affinity-assistant: must be no more than 63 characters"
# Expected Behavior

Pod affinity-assistant is created successfully.

# Actual Behavior

Pod affinity-assistant fail to create so the whole pipelinerun fail.

# Steps to Reproduce the Problem

1. My workspace definition in `TriggerBinding`:
[code]

2. PipelineRun starts with name `build-images-75hz8`
3. PipelineRun creates PVC with name: `build-images-build-images-workspace-build-images-75hz8`
4.

[2020-06-05 22:53] jlpettersson commented on #2766
/kind bug
/assign jlpettersson

[2020-06-05 23:04] ckadner opened #2767 "Add metadata to PipelineTask to specific additional labels and annotations"
Update issue title and description on 6/9/2020:

---

We need to have support for setting different annotations or metadata on the TaskRun created from embedded TaskSpec define in Pipelines (from the Pipeline Label and Annotation), am I right ?

I could see having the following:
[code]
It should be added on all embedded spec types. It wouldn't break backward compatibility.

---

**Original Issue Q

[2020-06-05 23:05] ckadner commented on #2767
/cc @cjwagner @pritidesai

[2020-06-05 23:44] animeshsingh commented on #2767
@cjwagner @pritidesai

cc @afrittoli

[2020-06-05 23:54] pritidesai commented on #2767
Here are examples of how tasks and pipeline can be embedded:

* https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-pipelinespec.yaml
* https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-pipelinespec-and-taskspec.yaml

Yes, it is possible to embed multiple taskSpecs under pipelineSpec which in turn can be embe

[2020-06-06 00:00] pritidesai commented on #2767
Metadata for first example:

[code]

[2020-06-06 00:29] jlpettersson commented on #2766
@r0bj Thanks for reporting this!

It appears as the new version is more sensitive to long names for Workspaces+PipelineRuns, because of the introduction of an "Affinity Assistant" that is a `StatefulSet` and seem to be more sensitive to long names.

In your example

[code]

I would recommend to remove `name: build-images` in the `volumeClaimTemplate`, since the PVC will be named from the Workspace

[2020-06-06 01:34] ckadner commented on #2767
@pritidesai -- what we would want is `metadata.labels` on the embedded `taskSpec`

[code]

`$ kubectl apply -f temp/embeded_pipelinespec_embedded_taskspec.yaml`
[code]

But that is just one example. Really this question is about any know capabilities that would get lost when transforming from multiple separate `Task` documents to embedded `taskSpec`s.

[2020-06-06 01:46] cameronbraid opened #2769 "v0.13.0 pod scheduling fails - didn't match pod affinity rules"
# Expected Behavior

pipeline run pod should schedule

# Actual Behavior

warning
0/1 nodes are available: 1 node(s) didn't match pod affinity rules, 1 node(s) didn't match pod affinity/anti-affinity.

pod yaml
[code]

[2020-06-06 03:13] r0bj commented on #2766
@jlpettersson thanks!
BTW, thanks for really useful Affinity Assistant  feature!

[2020-06-06 05:38] jlpettersson commented on #2769
From the information given, I can not tell why this has happened. Do you have a pod from a `StatefulSet` running? E.g. `kubectl get statefulset` or `kubectl get po -l app.kubernetes.io/component=affinity-assistant` (should only give a result while a `PipelineRun` is running).

Did you install the new version, including applying the new RBAC yaml that has added RBAC for creating `StatefulSet` ?

Wh

[2020-06-06 06:05] jlpettersson commented on #2769
This may be related to https://github.com/tektoncd/pipeline/pull/2768 where I state that it appears that users can only have these names up to 34 chars (or creation of Affinity Assistant will fail) and it appears that your Affinity Assistant Name ended up with a name of 40 chars.

If you want, you can try with a shorter name of the _workspace name_ or the _pipelinerun name_.

[2020-06-06 08:27] cameronbraid commented on #2769
yep, the affinity assistant cant schedule the pod

warning
create Pod affinity-assistant-maven-repo-webapp-126-1-z-staging-latest-2e1b06-0 in StatefulSet affinity-assistant-maven-repo-webapp-126-1-z-staging-latest-2e1b06 failed error: Pod "affinity-assistant-maven-repo-webapp-126-1-z-staging-latest-2e1b06-0" is invalid: [metadata.labels: Invalid value: "affinity-assistant-maven-repo-webapp-126-1-z

[2020-06-06 08:37] afrittoli opened #2770 "Make MarkResource* helpers for Pod similar to what we have for TaskRun and Pipelinerun"
# Expected Behavior
Less boilerplate code in `pod/status.go`

# Actual Behavior

We repeat this code several times in small variations:
[code]
We could created helpers similar to what we did for TaskRun and PipelineRun, however since we do not own the `Pod` API we could just add them to `status.go` directly.

/kind cleanup

[2020-06-06 17:28] afrittoli opened #2772 "Helper to check actions in unit tests"
# Expected Behavior
We have a common and solid way to check for fake client actions in unit tests

# Actual Behavior
The implementation varies from test to test.
The logic is sometimes complex.
We should write a test helper for this purpose, along with unit tests.

For example:
https://github.com/tektoncd/pipeline/blob/3c3c5e2d9588f7896385dddd219780a257cb08f1/pkg/reconciler/pipelinerun/pipelinerun

[2020-06-08 05:43] shinji62 commented on #454
@bobcatfish @ImJasonH
Hi, I would like to know what is the status of this feature ? We are starting to create our CI/CD in top of Tekton and having a store API that we can query or use to get the status a Run could be nice and avoid us to check Pipelinerun -> Taskrun -> pod logs.

Wondering how others people are dealing with logs a part of the global deamon and so on.

[2020-06-08 05:48] shinji62 commented on #1606
@bobcatfish I have a use case, I would like to propragate and environment variable to all my pod / container, for example a build number of something that I inject at the PipelineRun definition, similar to the pod Template.

Do you think that a reasonable case ?

[2020-06-08 08:15] MarcusNoble commented on #1603
@husnurrsyafni are you using a Mac by any chance? If you take a look in the ~/.docker/config.json file do you see `"credsStore" : "osxkeychain"` ? If so you'll need to manually populate the auth details before adding it to the secret.

[2020-06-08 08:38] MarcusNoble commented on #1539
I've managed to work around this issue by mounting the hosts docker config file into the controller using:

[code]

I'm not 100% sure if this works in all environments. We're running on EKS here. If this is a universal solution is it something that can be merged into the pipeline manifest?

[2020-06-08 08:45] MarcusNoble commented on #2707
See here for a workaround: https://github.com/tektoncd/pipeline/issues/1539#issuecomment-640457021

[2020-06-08 08:59] vdemeester commented on #2707
/kind bug

[2020-06-08 09:00] vdemeester commented on #2772
/kind feature
/area testing

[2020-06-08 09:04] vdemeester commented on #2763
This is also one of the goal of [`tektoncd/operator`](https://github.com/tektoncd/operator), to embedding any knowledge required for upgrading (like migration of CRD version from one version to another, etc…)

/cc @sthaha @nikhil-thomas

[2020-06-08 09:25] #2117 closed

[2020-06-08 10:43] AlanGreene opened #2777 "Unable to deploy as the Replica set throwing error: MutatingAdmissionWebhook"
Originally reported by @ratripathi in https://github.com/tektoncd/dashboard/issues/1482

# Expected behavior
The replica set should scale the pods with the desired instances.

# Actual behavior
Pods are not deployed and the rs shows following error:

[code]

# Steps to reproduce the problem

1. Follow this doc to get starte: https://tekton.dev/docs/getting-started/
2. Check the rs & other resource

[2020-06-08 10:50] vdemeester commented on #2777
/kind bug

[2020-06-08 14:58] #2729 closed

[2020-06-08 15:10] JustinKuli opened #2779 "v0.13.0: the place-scripts container can't start on OpenShift"
# Expected Behavior
The `release.notags.yaml` should be able to be applied to an OpenShift cluster in order to install Tekton without any changes.

# Actual Behavior
Tekton appears to install correctly, but trying to run a Task with a `script` results in the Pod being stuck at with `Error: ErrImagePull` status. The problem seems to be in this message:
[code]

# Steps to Reproduce the Problem

1. I

[2020-06-08 15:12] afflom commented on #2732
This is closed by https://github.com/knative/pkg/pull/1384

[2020-06-08 15:12] vdemeester commented on #2779
/kind bug

[2020-06-08 15:21] vdemeester commented on #2732
@afflom we still need to bump our dependency on knative/pkg :upside_down_face:

[2020-06-08 15:22] JustinKuli commented on #2779
It seems like whatever creates the `notags` version of the release could/should've gotten this? I'm not sure what goes into creating that. If so, there's probably a better way to fix it than my commit.

If it's as simple as changing config/controller.yaml, then I can open a PR.

[2020-06-08 15:23] afflom commented on #2732
Understood. I have patience. Thank you.

[2020-06-08 15:24] vdemeester commented on #2779
ohhh I think I know what's going on now… `notags` is only "driven" by `ko` *but* now there is more than this in the yamls… Indeed, we need to update our release script to fix that.

/assign

[2020-06-08 16:32] #2779 closed

[2020-06-08 16:46] 2020testuser commented on #2763
@bobcatfish - Thanks !

@vdemeester  - Thanks! Will look at tektoncd/operator as I end up manually deleting the old version pods/deployments. operator would be useful.

[2020-06-08 16:46] #2763 closed

[2020-06-08 17:34] cjwagner commented on #2767
Here is my understanding:
Metadata is not part of the taskspec, tasks contain both a taskspec to define the behavior and metadata to identify the task k8s resource. When a taskspec is embedded in a pipelinespec instead of referencing a task, their is no separate task k8s resource so we don't need task specific metadata since it wouldn't make sense.
AFAIK there should be no lost capabilities from e

[2020-06-08 19:01] jlpettersson commented on #2680
This was discussed in the API WG today. I am closing this now, when it has been discussed.

[2020-06-08 19:01] #2680 closed

[2020-06-08 19:25] wlynch commented on #2590
We're going to go ahead and start working on this in experimental.

Milestones we're going to focus on:

1. Create tool that given an input spec with steps, generates the resulting Tekton resources for the particular type.
   - Create binary that invokes another binary on the path based on the type.
   - Read input steps and generate resulting pipeline config that mounts GitHub workspace and confi

[2020-06-08 23:20] pritidesai commented on #2767
Right, `metadata` is associated with CRD and can not be specified under `specification`, like following task metadata, pipeline metadata, etc:

[code]

Pipeline metadata:

[code]

CRD metadata is stored inside the resources themselves, in case of embedding resources, no resources are created and hence no metadata.

[2020-06-08 23:49] Tomcli commented on #2767
Is it possible to update the podTemplate so that we can add labels/annotations to taskRun without creating the task CRD?
https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/pod/template.go

The custom label or annotations are not implemented in podTemplate, but we want to see can we add that support to the podTemplate similar to how ImagePullSecrets was done
https://github.com/tekto

[2020-06-08 23:56] animeshsingh commented on #2767
Thanks @Tomcli @ckadner

@pritidesai @afrittoli see if this can be prioritized - parts of our implementation definitely dependent on being able to pass lables/annotations at a taskRun level in addition to higher pipelineRun level

[2020-06-09 00:10] Tomcli commented on #2767
i.e. We want to append the extra pod labels or annotations to here https://github.com/tektoncd/pipeline/blob/master/pkg/pod/pod.go#L259-L260

[2020-06-09 00:21] animeshsingh commented on #2767
And ideally want it to be part of 0.13 bug-fix or patch, or 0.14 release latest for us to be able to deliver timely.

[2020-06-09 00:30] Tomcli commented on #2767
@ckadner maybe we can update the issue title to be a little bit more concise for metadata.labels and annotations? The other metadata are irrelevant in Kubeflow and our use case.

[2020-06-09 01:17] Tomcli commented on #1779
Thanks @NikeNano for adding this feature. I think this issue can be closed.

[2020-06-09 03:04] ckadner opened #2786 "Link to install v0.13.0 on Github release page does not work"
**Installation one-liner**

[code]

... fails due to the upper-case `P` in `../Pipeline/...`.

This is rather trivial to one who looks more closely at the URL but it may be annoying to some.

[2020-06-09 06:38] vdemeester commented on #2786
I'll update manually, but I thought we fixed the script doing that ?

/cc @afrittoli @bobcatfish
/kind bug

[2020-06-09 06:57] vdemeester commented on #2767
@animeshsingh if I understand correctly, you need to have support for setting different annotations or metadata on the TaskRun created from embedded TaskSpec define in Pipelines (from the Pipeline Label and Annotation), am I right ?

I could see having the following:

[code]

It should be added on all embedded spec types. It wouldn't break backward compatibility.

A 0.13 bug-fix would definitely b

[2020-06-09 06:58] vdemeester commented on #1779
/close

[2020-06-09 06:58] #1779 closed

[2020-06-09 07:24] animeshsingh commented on #2767
Thanks @vdemeester. A 0.14 can land just in time for us - what's the timeframe for cutting it?

@ckadner please rename the issue.

[2020-06-09 07:48] vdemeester commented on #2767
I think the current deadline for 0.14 is on 1st July of 2020 for 0.14 :upside_down_face:

[2020-06-09 12:57] Theresa29 opened #2789 "Need help with Tekton Pipelines Tutorial"
# Expected Behavior
TaskRun finishes successfully.
# Actual Behavior
Taskrun fails with the following error:
kubectl -n tekton-pipelines logs build-docker-image-from-git-source-task-run-pod-sg8m7 -c step-build-and-push
{"level":"info","ts":1591707101.5778267,"logger":"fallback-logger","caller":"logging/config.go:69","msg":"Fetch GitHub commit ID from kodata failed: \"KO_DATA_PATH\" does not exist

[2020-06-09 14:11] bobcatfish opened #2790 "Reduce ambiguity in beta backwards compatibility policy"
In https://github.com/tektoncd/pipeline/pull/2697 @dlorenc pointed out that our backwards compatibility policy (https://github.com/tektoncd/pipeline/blob/master/api_compatibility_policy.md) is a bit vague:

Our policy currently says:

I understood this to mean that we would need to wait at least 9 months before creating a release that included this as a backwards incompatible change, e.g. introduc

[2020-06-09 14:13] bitsofinfo opened #2791 "v0.13.0: unsuccessful cred copy: ".ssh" from "/tekton/creds" to "/root""
# Expected Behavior

I should be able to **opt-out of the auto seeding of tekton creds** into each step and just mount my own secrets via workspaces under `/root`. Let the user have complete control and disable some of the automatic stuff tekton does around this. For steps which use images that rely on specific things in the user's home dir (in this case `/root`) I need to craft this directory in

[2020-06-09 14:15] sbwsg commented on #2791
Best, most succinct, description of creds-init I've read yet. Thanks for the issue report!

[2020-06-09 14:18] vdemeester commented on #2790
Yes, as you said, the "You will be given at least 9 months to migrate before a backward incompatible change is made." is on a given API version, so if you release a `v1beta2` API version (a new version) you can have that field removed. **But** you need to support `v1beta1` (and that field) for at least the 9 months :wink:

If we need to make it more explicit on the doc, let's do it :wink:

[2020-06-09 14:23] sbwsg commented on #2791
In terms of the "hang" though - could you post the sanitized Pod YAML?  The errors you have in the issue report "shouldn't" cause hangs so I'd like to try reproducing to see if I can figure out what's going wrong.

[2020-06-09 14:24] sbwsg commented on #2791
/kind bug

[2020-06-09 14:38] bitsofinfo commented on #2791
here is a dump of the pod yaml as it sits

[code]

[2020-06-09 16:01] vdemeester opened #2792 "Exericice our PodSecurityPolicy on CI"
We define a [`PodSecurityPolicy`](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) in our [`config/`](https://github.com/tektoncd/pipeline/blob/edc453934a183d44fde739dc24d6ca6b25cdeb6b/config/101-podsecuritypolicy.yaml). But this `PodSecurityPolicy` is never exercised on the CI as it is not enabled by default, for the following reason:

This means we do not know if the `PodSecurity

[2020-06-09 16:24] Tomcli commented on #2767
Thanks @vdemeester. That's what we want.

[2020-06-09 16:30] vdemeester commented on #2767
I think that's a fair ask and doable. cc @bobcatfish @pritidesai @afrittoli

[2020-06-09 16:47] vdemeester commented on #2696
Overall I think that make sense. As we are using the [`knative/pkg`](https://github.com/knative/pkg) code there, I am going to invoke @mattmoor to have his opinion on this (and how knative handle that too :angel: )

[2020-06-09 16:55] gabemontero commented on #2792
For reference, how you turn on an admission controller is [here](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#how-do-i-turn-on-an-admission-controller)

PodSecurityPolicy in k8s docs:  https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podsecuritypolicy

[2020-06-09 17:22] ckadner commented on #2767
/remove-kind question

[2020-06-09 17:39] ckadner commented on #2786
Thanks @vdemeester

Now I can install from the copy-pasted command, but after the installation I cannot verify the cluster version using the `tkn` command line:

`tkn version`
[code]

`$ kubectl describe svc -n tekton-pipelines | grep release`
[code]

Is that a problem with `tkn`?

[2020-06-09 17:48] bobcatfish commented on #2790
If that's the case I think the table at https://github.com/tektoncd/pipeline/blob/master/docs/deprecations.md#deprecation-table is a bit misleading - the question isnt really about the earliest date the field could be removed (which had been my understanding before this discussion!) but it's about when we'd stop supporting v1beta1 period, which sounds like it would be at a minimum 9 months after r

[2020-06-09 17:59] dlorenc commented on #2790
So to clarify, here's my understanding:

The # of months applies to backwards incompatible changes. These can come in (at least) two flavors:
- API changes. A `v1betaN` release will be supported for at least 9 months from the time a `v1betaN+1` comes out.
- Non API, behavioral changes. A Tekton feature will change in a backwards incompatible way, that cannot be gated by an API version. These shoul

[2020-06-09 20:27] bobcatfish commented on #2769
Looks like this is a duplicate of #2768, please re-open if not!

[2020-06-09 20:27] #2769 closed

[2020-06-09 20:41] pritidesai commented on #2767
@vdemeester does it mean introducing `metadata` in [PipelineTask](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/pipeline_types.go#L95)? It has to be [TaskMetadata](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/task_types.go#L57) and can not be [PipelineMetadata](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/pipe

[2020-06-09 20:51] bobcatfish commented on #2786
Created https://github.com/tektoncd/plumbing/pull/412/files to fix the first problem - I don't know enough about the tkn issue to respond, but if the svcs have the right info, maybe @ckadner is right and that's a tkn issue? I know we had problems before with not propagating that info correctly tho.

[2020-06-09 21:59] takirala commented on #2591
+1 for this feature.
I am also looking for something similar and open to contributing to any discussions/design/code.

[2020-06-09 22:00] retgits opened #2795 "Pipelines Tutorial question"
# Steps to Reproduce the Problem

* In [the tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#specifying-task-inputs-and-outputs) you create a PipelineResource of type `git` which has parameters for `url` and `revision`;
* In the task, you use a git input called `docker-source` (which is referenced in the `TaskRun`, so I kinda get how it gets there)
* In the TaskDefinitio

[2020-06-09 22:02] jpds opened #2796 "Regression with PVCs and node affinity"
# Expected Behavior

I have a pipeline that works fine in 0.12.1 but fails on 0.13.0.

# Actual Behavior

Pod for pipeline fails with:

[code]

# Steps to Reproduce the Problem

1. Deploy 0.13.0:

[code]

2. Apply this pipeline:

[code]

3. Pod fails to start with above error.

4. Remove 0.13.0.

5. Install 0.12.1

6. Apply above pipeline.

7. Autoscaling succeeds:

[code]

# Additional Info

- Ku

[2020-06-09 22:17] jlpettersson commented on #2796
Hi, yes, this is a known bug.

Unfortunately the name of PipelineRun + Workspace, can only be up to 34 chars long. In your case, it is 35 chars. You can use shorter PipelineRun Name or Workspace Name, or [disable the affinity assistant](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml#L32)

The bug will be fixed by #2768

This is a duplicate of https://github.com/t

[2020-06-09 23:35] ckadner commented on #2786
@bobcatfish -- I created an issue on the `tkn` CLI repo

[2020-06-09 23:36] ckadner commented on #2786
Thanks @bobcatfish

[2020-06-09 23:37] ckadner commented on #2786
https://github.com/tektoncd/cli/issues/1015

[2020-06-10 00:39] vincent-pli commented on #2795
@retgits
Could take a look at this part: https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#using-resources

[2020-06-10 01:08] retgits commented on #2795
Ah! Okay, that makes sense. I appreciate you pointing that out. Would it be an idea to add that to the tutorial portion? That would help have all information in a single place (at least for the tutorial part).

[2020-06-10 01:50] mattmoor commented on #2696
This isn't really tenable right now because of how K8s webhooks work.  They are cluster-scoped resources, which in the best of cases can apply to a subset of namespaces via namespace selector.  So two problems:
1. There isn't any good way to scope a tenant's webhook configuration to just their namespace (it'd have to get called and manually filter).
2. The webhooks self-register, and allowing tena

[2020-06-10 07:58] eddycharly commented on #2696
@mattmoor thanks for your feedback.

The main point is kind of for security, this would allow isolating each team in its own namespace.

The conversion webhook is a bit different than other webhooks in the sense that it is part of the CRD definition, that's why i thought it would make sense to have it separated from other webhooks.

[2020-06-10 08:50] #2786 closed

[2020-06-10 09:03] vdemeester commented on #2790
@dlorenc yes

[2020-06-10 09:14] vdemeester commented on #2767
@pritidesai That might be a way yes :upside_down_face: We don't necessary need to use `metav1.ObjectMeta` and just define our own with the `map[string]string` for labels and annotations.

Not sure I follow :stuck_out_tongue_closed_eyes: both are the same type :upside_down_face:

[2020-06-10 09:42] vdemeester commented on #2796
/kind bug

[2020-06-10 14:59] afrittoli opened #2800 "[proposal] Capturing step exit codes in Tasks"
# Expected Behavior
It should be possible to use easily use off-the-shelves (OTS) images as steps in Tekton tasks.

# Actual Behavior
When using OTS images, a step / task author does not control the error case behaviour of the image. It may be desirable for the pipeline to continue even if there was a failure.

One way to achieve this could be to wrap the original image into a custom image, but th

[2020-06-10 15:06] sbwsg opened #2801 "Git Credential Initializer doesn't include port when running `ssh-keyscan`"
# Expected Behavior

When an ssh git credential is passed from a Secret to TaskRun Pod via `creds-init`, we run `ssh-keyscan` if no `known_hosts` file is included on the Secret.  This key scan is intended to fetch the public key of the server to populate the `known_hosts` file.  It should work when the sshd server is running on a non-standard port.

# Actual Behavior

The `ssh-keyscan` fails becau

[2020-06-11 06:55] fenglixa commented on #2050
Does this issue has any progress?

[2020-06-11 08:20] #1680 closed

[2020-06-11 09:29] #2801 closed

[2020-06-11 14:31] R2wenD2 commented on #1522
/assign R2wenD2

[2020-06-11 15:54] husnurrsyafni commented on #1603
@MarcusNoble no. I am using ubuntu 18.04.

[2020-06-11 15:57] mattysweeps opened #2806 "Breaking changes to ClusterTasks from v0.10 to v0.12"
# Expected Behavior

The following ClusterTask has one param:
[code]

Note it's using the deprecated `spec.inputs.params` field, which has been replaced with `spec.params`.

Expected behavior is: I should be able to reapply this ClusterTask over and over.

# Actual Behavior

After applying once, the Tekton mutates the ClusterTask and moves `spec.inputs.params` to `spec.params`. A subsequent apply

[2020-06-11 16:24] sbwsg commented on #2806
/kind bug

This is a known issue with upgrading versions unfortunately, [documented as part of the beta release here](https://github.com/tektoncd/pipeline/releases/tag/v0.11.0) ("Submitting the same v1alpha1 Tasks more than once results in errors."). The current advice is to use `kubectl replace` instead of `kubectl apply` when repeatedly submitting alpha resources against versions of Tekton 0.11+

[2020-06-11 16:24] #2806 closed

[2020-06-11 17:44] pritidesai commented on #2800
@afrittoli I can not think of any use case at this moment, but would be beneficial to [pipeline level exception](https://gist.github.com/pritidesai/238ef0e8ed935e82d2bb716ef9e91db8#file-tekton-pipeline-to-test-and-deploy-yaml-L40) or [onFailure](https://gist.github.com/pritidesai/238ef0e8ed935e82d2bb716ef9e91db8#file-tekton-pipeline-to-test-and-deploy-yaml-L82)

[2020-06-11 17:54] afrittoli commented on #2800
The use case that triggered this is being able to use off-the-shelves images and control the exit code, so that the pipeline can be branched based on the outcome of the task.
If would allow implementing something like `onFailure` without forcing the task do define the logic to be taken on failure, leaving it to the next tasks to decide.