[2019-01-29 17:24] abayer commented on #27
@bobcatfish - any thoughts on my comment above? I'm not at all sure yet how to actually implement it, mind you. =)

[2019-01-29 18:53] abayer commented on #221
I'm going to start working on this once #355 is merged, FYI.

[2019-01-29 19:55] nadgowdas commented on #410
@a-roberts can you please help me get pipeline controller deployed.

I am trying deploying it on 3-node kube cluster. I am following the guidelines [here](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md), and set the environment variables properly. I am using local docker registry.

When I run `ko apply`, it fails with `Error: ErrImagePull` error for controller.
[code]

I beli

[2019-01-29 23:05] tejal29 opened #451 "Add a custom ResourceSpec BuildGCS to embed GCS resource in TaskRun"
## Expected Behavior
In issue #440, we added ability to embed resource spec  in Task run.
Adding a new Type "BuildGCS" for  a GCS resource spec.
This task is Part 2 of #313

If we want people to be able to migrate from the Build and BuildTemplate types in knative/build to Task and TaskRun in pipelines, we need to support the same GCS functoinality that was provided by the GCS source type.

## Actu

[2019-01-29 23:58] tejal29 opened #452 "Design a Simple Result Store API for Pipeline CRD Results"
## Expected Behavior
Right now we do not have a result store for Pipeline and Task Runs. We have complex API available and looks like it is difficult to adapt in our case.
This is a tracking issue and @pmbethe09 will be working on this

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-01-30 00:02] tejal29 opened #453 "[EPIC] Pipeline CRD results are stored to a Result Store via Result Store API"
## Expected Behavior
Results for Tasks and Pipeline Runs are stored and available later.

Structured Result Stores are places to upload the results of each Knative Build.
A Knative Build can be a result of TaskRun. The TaskRun Controller will be responsible to upload, update and fetch the results for a Build to and from the Result Store.
### Types of Results
In Pipeline CRD, results will be produc

[2019-01-30 00:07] tejal29 opened #454 "Design result reporting to to Result Store."
## Expected Behavior

In #452 we will be designing a simple Result Store API which an endpoint will implement.

The status of Runs can be reported to this API as PipelineRuns and TaskRuns are in progress.

In this issue, we will be evaluating if we want to use a side car or a new Result CRD (or just a controller) to upload results to result store using the Result Store API, or if there is some oth

[2019-01-30 00:11] tejal29 opened #455 "Document fields for Task run and Pipeline Run state."
## Expected Behavior
Document the fields which can describe a pipeline run state and task run state.
@tejal29 has already started a document here https://docs.google.com/document/d/1CUAsqgk_7PM_g8XKfXbvbqUnHnY3ujZegnI7H3IbMns/edit

Iterate over this and fix all the fields.

## Actual Behavior
Does not exist right now.
## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-01-30 14:24] vdemeester opened #456 "Handle build/taskrun timeout outside of resync"
Capturing discussion over Slack, https://github.com/knative/build/pull/543 breaks our timeout handling, because we rely on the resync to enforce timeouts. `build-pipeline` rely on the same for timeouts (or will with #355).

The reason to change the resync time is the following

We need to rely on something else for build/taskrun timeouts, running a background goroutine in the controller, watching

[2019-01-30 18:44] nadgowdas commented on #410
Thank you @a-roberts , moving this `build-pipeline` under `GOPATH` you mentioned did help.

[2019-01-30 20:45] #222 closed

[2019-01-30 23:51] bobcatfish commented on #313
Looks like we've to a separate issue for the GCS resource in #415, any objections to closing this one @shashwathi ? :D

[2019-01-31 00:10] #387 closed

[2019-01-31 01:04] shashwathi commented on #313
Feel free to close this issue @bobcatfish

[2019-01-31 07:01] #227 closed

[2019-01-31 15:00] abayer opened #457 "Allow specifying parameters in PipelineRun"
## Expected Behavior

A `PipelineRun` can have parameters defined in it which will be passed to all of its `TaskRun`s, allowing for uses such as environment variables which have a different value from `PipelineRun` to `PipelineRun` without requiring changes to the underlying `Pipeline` or `Task` every time.

## Actual Behavior

A new `Pipeline`, with new `PipelineTask`s, needs to be created for ea

[2019-01-31 15:01] abayer commented on #457
Whoops, this is #263.

[2019-01-31 16:52] abayer commented on #263
So my initial thinking on this is that we probably need to have the ability to specify parameters themselves (with options for a default value for the parameter or if a value for the parameter is required, perhaps) in `Pipeline`, and values for those parameters in `PipelineRun`. Then the parameter values would be used at runtime via `PipelineTask` to pass to the actual task execution, and would al

[2019-01-31 17:29] jstrachan opened #458 "copy the labels from `Task` ->`TaskRun` to the generated Pod"
## Expected Behavior

If we add labels to a `Task` they should get replicated to the `TaskRun` then the `Pod` thats created so that you can more easily query/filter TaskRuns and Pods.

## Actual Behavior

Labels on a `Task` are ignored

If there are concerns over copying the labels, maybe there could be a way to specify which labels to copy/not copy?

[2019-01-31 17:57] vdemeester commented on #458
/assign @abayer

[2019-01-31 18:32] bobcatfish commented on #313
awesome :D :tada:

[2019-01-31 18:32] #313 closed

[2019-01-31 18:33] #384 closed

[2019-01-31 22:47] bobcatfish commented on #193
Looks like the net effect of #304 is going to take care of this more or less!

[2019-02-01 16:03] vbatts commented on #216
Cool cool. As for "tags" (see also "labels" or "annotations" (I know annotations in k8s are even more heavily utilitized)), hopefully we can make reuse of keys like https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys and the label-schema.org effort.
So as we could have build artifacts like an [OCI image-layout](https://github.com/opencontainers/image

[2019-02-01 17:39] bobcatfish commented on #454
@tejal29 could you add more detail about what these are? i.e. what does "result CRD" (does this mean a CRD for results and a controller? what would the controller do?) mean in this context, and what is "result store API"?

[2019-02-02 02:09] bobcatfish commented on #304
Re. doc versioning, looks like this is something the docs working group is taking care of already: https://github.com/knative/docs/blob/master/doc-releases.md

[2019-02-02 02:41] bobcatfish commented on #27
I am so sorry this is taking so long to review @abayer 😓going to prioritize this for next week 🤞🤞🤞

[2019-02-02 04:59] #193 closed

[2019-02-02 04:59] #304 closed

[2019-02-02 07:55] jstrachan commented on #323
btw this go library is a great way to work with all the different cloud blob storage provides (GCS, S3, Azure etc) https://github.com/google/go-cloud via https://github.com/google/go-cloud/tree/master/blob using a simple URL scheme

[2019-02-03 19:58] abayer commented on #263
/assign abayer

[2019-02-05 17:07] abayer commented on #27
Sounds right to me - `post`, `wait_until`, and `when` are really just different "if $CONDITION, then do $X" cases - different $X, different places in the flow, etc, but same condition checking mechanisms and capabilities, so yeah, some abstraction for defining conditions and their arguments is exactly what I think we need. =)

[2019-02-06 00:14] bobcatfish commented on #426
Looks like we'll get some of this with https://github.com/knative/build-pipeline/pull/430 but this issue I think is more focused on the developer experience, while #430 is about following along with the tutorial specifically (correct me if I'm wrong @a-roberts !)

[2019-02-06 00:22] bobcatfish commented on #382
It is done! :tada:

[2019-02-06 00:22] #382 closed

[2019-02-06 08:12] a-roberts commented on #426
Yep @bobcatfish, exactly 😄

[2019-02-06 17:53] bobcatfish commented on #27
So for next steps @abayer what do you think about making a doc where we can distill your list above
into some requirements (pretty close as is, those are great use cases anyway!) and brainstorm some alternative approaches? :D

Looks like we have a couple ideas already:
1. Some kind of `condition` CRD which controls whether or not a Task executes, based on some metadata
2. Explicitly adding `post`,

[2019-02-06 17:57] abayer commented on #27
Will do!

[2019-02-06 21:19] #263 closed

[2019-02-07 11:48] afrittoli opened #481 "Resource name too long, cannot create taskrun"
## Expected Behavior
The pipelinerun automatically creates taskruns for every task. It sets up the taskrun name using <pipelinerun-name>-<task-name>. The pod name will be even longer with <pipelinerun-name>-<task-name>-pod<uuid>. When then name is longer then 63 characters it fails to setup the taskrun.

I think we should have some logic to automatically truncated the names, or at least we should

[2019-02-07 16:44] bobcatfish commented on #481
`health-helm-cd-pipeline-run-28jrg-source-to-image-health-frontend`

interesting :thinking:

specifically talking about the automatically created taskruns (generated by a pipelinerun) we could probably give them way less meaningful names and get away with it. but we also need a solution names ppl explicitly set :thinking: :thinking::thinking:, tho maybe it's better to tell the user their name is t

[2019-02-07 16:56] dwnusbaum commented on #481
FWIW we've run into similar issues in the context of Jenkins X integrating with Build Pipeline. For now we are leaning towards generating machine-friendly unique names for the CRDs, and then storing metadata somewhere else to associate the user-specified names with those generated names.

Perhaps an additional label or description field on the CRDs that users can set to whatever they'd like would

[2019-02-07 17:00] abayer commented on #481
Yeah, I'm a +1 on distinguishing between "name of the actual CRD" and "display name for human beings".

[2019-02-07 17:24] pivotal-nader-ziada commented on #385
/assign

[2019-02-07 17:49] bobcatfish commented on #481
That's a good idea!

[2019-02-07 17:50] bobcatfish commented on #263
Thanks @abayer !! :tada:

[2019-02-07 17:51] bobcatfish commented on #431
whoops, good catch @afrittoli !

[2019-02-07 17:56] abayer commented on #263
I'm still wondering if there's anything else we want to allow parameter values to be used in, but for now, it really seemed like `PipelineTask` parameters were the only one that made sense. Of course, once we tackle #254, there'll be something else. =)

[2019-02-07 18:54] bobcatfish commented on #439
Looking at the config we use for deploying Pipelines we have:

1. [This service account](https://github.com/knative/build-pipeline/blob/master/config/200-serviceaccount.yaml)

[code]

2. [This RoleBinding](https://github.com/knative/build-pipeline/blob/master/config/201-clusterrolebinding.yaml), which refers to service account `build-pipeline-controller` but also ClusterRole `knative-build-pipelin

[2019-02-08 15:03] abayer commented on #481
This actually gets hairier - the `step` names for things like copying from a bucket or checking out git source etc result in containers with really long names as well.

[2019-02-08 18:43] bobcatfish commented on #481
hm interesting point - okay controversial idea, do steps actually need names? what if we numbered them sequentially instead :thinking: (+ @ImJasonH @shashwathi @pivotal-nader-ziada @tejal29 @vdemeester )

[2019-02-08 18:46] shashwathi commented on #481
I like step names because it makes debugging easy. We can consider truncating resource names if it's too long.

[2019-02-08 18:56] bobcatfish commented on #481
If the steps had clear names like `step-1`, maybe it would still be easy to debug?

[2019-02-08 19:00] pivotal-nader-ziada commented on #481
we can make sure generated name, for steps or taskruns, have a max number of characters

[2019-02-08 19:57] bobcatfish commented on #481
(Added some more detail in the description re. the "names" and "resources" effected by this issue)

[2019-02-11 19:54] pivotal-nader-ziada commented on #481
/assign

worked with @bobcatfish on idea on how to fix this issue, PR coming soon

[2019-02-11 20:27] dwnusbaum commented on #458
I'm actually picking this up from Andrew :) Looking at the code, propagation from PipelineRun to TaskRun to Pod (through Build in memory) is pretty trivial, but propagation from Task through to Pod is a little trickier because right now most of the relevant data structures only pass a TaskSpec around but we'd need to full Task or at least its metadata. I discussed with @jstrachan and he was ok wit

[2019-02-12 08:22] odra opened #490 "Use "AppendRandomString" function from knative/pkg"
## Expected Behavior

No errors - just remove the implementation of `AppendRandomString` and use the one implemented on knative/pkg (`test module`) once this PR gets merged: https://github.com/knative/pkg/pull/256

## Actual Behavior

No errors, see above item.

## Steps to Reproduce the Problem

No errors, see above item.

## Additional Info

https://github.com/knative/pkg/pull/256

[2019-02-12 18:36] bobcatfish commented on #224
Quick update on the current state of this work;

1. @aaron-prindle created https://github.com/knative/build/pull/470 which overrides the entrypoint with a custom image that allows us to start containers for each step in a Task within the same pod.

2. This PR was pretty massive and hard to get all working at once so he started breaking it up, https://github.com/knative/build/pull/522 was the first

[2019-02-12 18:45] #458 closed

[2019-02-12 21:57] bobcatfish commented on #458
It feels kinda like the chain should go all the way:

* Pipeline -> PipelineRun -> TaskRun -> pod
* Task -> TaskRun -> pod

What do you think?

Hooray!! :tada: :D

hm good point - I'm sure we can figure out a way to make it work :D in the worse case we could always use the Task client to retrieve the Task again :thinking: - but also adding the labels to the [resolved task resources](https://github

[2019-02-12 21:59] bobcatfish commented on #458
lol totally late to the party and the PR, sorry @dwnusbaum :rofl:

[2019-02-12 22:02] bobcatfish commented on #458
I am really tempted to put in a last request to add some docs on this but considering that I deleted the last ones I wouldn't blame you if you ignored me @dwnusbaum :sweat_smile: :sweat_smile: :sweat_smile:

(in retrospect I should not have deleted them...)

[2019-02-12 22:06] bobcatfish commented on #490
Hey @odra ! In https://github.com/knative/build-pipeline/pull/491 we're actually deleting `AppendRandomString` and using https://github.com/knative/build-pipeline/blob/244e1cbf464589501923b863ca94dea39b6468a6/pkg/names/generate.go instead

[2019-02-12 22:06] #490 closed

[2019-02-12 22:12] abayer commented on #254
/assign abayer

[2019-02-12 22:16] bobcatfish commented on #451
I updated the description of this issue to reflect why we need to add this new type.

@tejal29 I think the only thing left to address here before we close the issue is to add docs to resources.md?

[2019-02-12 22:25] dwnusbaum commented on #458
Yeah I agree, it was just really easy to add the *Run propagation so I went for that first. Do you think it makes sense to open another issue specifically for Pipeline and Task label propagation, or just reopen this one? (I don't have permission to update the title/description so it might be cleaner to use a new issue)

Yeah, that was what I was thinking too, but it seemed like at that point we mi

[2019-02-13 17:26] shashwathi commented on #431
/assign @pivotal-nader-ziada

[2019-02-13 17:27] #431 closed

[2019-02-13 17:35] bobcatfish commented on #250
I think this is unblocked now! But @shashwathi I'm guessing you're in a good position to take this on since you've migrated so many examples in #493 🙏 ? No worries tho if you'd rather not take it on :D

[2019-02-13 17:56] bobcatfish commented on #254
Hm so info like this would come from the PipelineResources most likely 🤔 I could see making it so that all of the metadata about a Run is made available to the Tasks and steps involved in some form.

hmmm I do kinda feel like params are a better fit for this 🤔- especially since the steps still need to make use of that value somehow, whether it's via `$MY_ENV_VAR` or via `${inputs.params.my_param}`

[2019-02-13 18:05] abayer commented on #254
@bobcatfish See my PR at #496 - it properly propagates down the `Pipeline` env vars to the `TaskRun`, and then combines any env vars on `TaskRun` and the `Task` and adds the whole pile to the steps in the `Build` that's generated for creating the `Pod`. That said, switching to env vars being a `PipelineResource` to make it easier to pass `Pipeline` env vars down to the `TaskRun` at reconciliation

[2019-02-13 18:26] bobcatfish commented on #72
Prow job to automate releases added in: https://github.com/knative/test-infra/pull/464

[2019-02-13 18:44] bobcatfish commented on #254
I have left some incredibly verbose feedback in #496 🙏🙏🙏 Let me know if you want to discuss this more in realtime @abayer

[2019-02-13 18:49] dwnusbaum commented on #458
e2e tests updated and docs added in #500

[2019-02-13 18:50] bobcatfish commented on #458
niiiiiice 🙏 😍

A new issue is probably more satisfying too! :D

[2019-02-13 19:03] dwnusbaum opened #501 "Propagate labels from Pipeline and Task to PipelineRun and TaskRun"
## Expected Behavior

Custom labels specified on `Pipeline` and `Task` resources should be added to `PipelineRun` and `TaskRun` objects that reference them. In other words, labels should propagate as follows:

Pipeline -> PipelineRun -> TaskRun -> Pod
Task -> TaskRun -> Pod

In addition, similarly to how the `pipeline.knative.dev/pipeline` label is added to generated `TaskRuns`, a `pipeline.knativ

[2019-02-13 19:04] dwnusbaum commented on #458
Created #501 😄

[2019-02-13 19:05] bobcatfish commented on #455
@tejal29 when you get a chance could you update this with some details about why this doc is needed?

Also as a side note, the fields in those CRDs change pretty regularly so it might be hard to keep a doc in sync with them 🤔 One thing you could do is decide to document just the fields from a major release, i.e. the 0.1 release we have coming up - but also it might be better to point anyone who ne

[2019-02-14 18:26] #364 closed

[2019-02-14 18:57] abayer commented on #254
Closing this for now after discussion over in #496 and on Slack - for the use case that was driving this for Jenkins X, this is just a nice-to-have to decrease verbosity in the `Task` CRDs. We can still accomplish everything we need when translating from our own syntax and customizing the CRDs for Jenkins X-specific assumptions by copying the env vars to every step, and there's real value in the C

[2019-02-14 20:19] #481 closed

[2019-02-15 11:37] pmuir opened #508 "Support for batch/merging commits"
## Expected behaviour

We'd like to be able to support "batch testing", which is a Prow feature (see https://github.com/kubernetes/test-infra/tree/master/prow#functions-and-features). It's not well documented in Prow how batch testing works, but I'll try to explain my understanding of it:

When a PR arrives, it is tested using something like `/test this` or perhaps automatically. Once it is passin

[2019-02-15 11:38] pmuir commented on #508
Initial questions and comments from @bobcatfish and @pmuir copied from PR:

One of the features of prow is batch testing (see https://github.com/kubernetes/test-infra/tree/master/prow#functions-and-features). It's not well documented in Prow how batch testing works, but I'll try to explain my understanding of it:

When a PR arrives, it is tested using something like `/test this` or perhaps automat

[2019-02-15 12:21] afrittoli opened #509 "Document and design the relationship with Knative Serving"
## Expected Behavior
There should be a clear story designed and documented about the relationship between pipelines and serving. Pipelines aims to replace build, so we should have use cases and examples documented about how pipelines can be used to create revisions to be used in k-services.

In the source-to-url example (https://github.com/knative/docs/tree/master/serving/samples/source-to-url-go)

[2019-02-15 15:57] shashwathi opened #511 "Fix flaky e2e test TestTaskRunPipelineRunCancel"
## Expected Behavior

`TestTaskRunPipelineRunCancel` e2e test should not be flaky.

## Actual Behavior

`TestTaskRunPipelineRunCancel` fails lot more often on PR submission
example: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-pipeline/493/pull-knative-build-pipeline-integration-tests/1096429645164711938/

Changes in the PR were adding yaml test so go e2e tests were

[2019-02-15 20:08] #302 closed

[2019-02-15 20:54] shashwathi commented on #250
/assign @shashwathi

[2019-02-15 22:12] dwnusbaum commented on #501
Any thoughts on the best way to modify `ResolvedTaskResources` so it contains task metadata as well? I see two obvious options, but I'm not sure if there is a particular reason to prefer either:

1. Replace `TaskSpec *v1alpha1.TaskSpec` with `Task v1alpha1.TaskInterface`
2. Add a new field `TaskMetadata *metav1.ObjectMeta` (or just `TaskLabels map[string]string` if we don't want all of the metadat

[2019-02-15 23:29] bobcatfish commented on #364
Note just in case someone comes across this later: I ran into trouble after this change because my `kubectl` was too old and there was some outdated client side validation that failed, so I needed to update `kubectl`.

[2019-02-15 23:46] #451 closed

[2019-02-16 00:57] bobcatfish commented on #386
- [x] `providedBy`, now called `from` docs don't talk about ordering (https://github.com/knative/build-pipeline/blob/master/docs/pipelines.md#from) - they did say "from can support fan in and fan out" which I'll remove for now since it's kind of true but confusing
- [x] "* the docs do not explain that the Tasks in a Pipeline execute sequentially (unless we get to #168 before 0.4)" <-- [the docs no

[2019-02-16 19:32] #386 closed

[2019-02-18 10:43] #72 closed

[2019-02-18 22:31] dwnusbaum commented on #501
Turns out that I was a bit confused, and I don't think we ended up needing to change any data types. I think the main question left is how best to update the PipelineRun/TaskRun with the labels from the Pipeline/Task so that we don't keep doing the same work in the reconciler and so we can keep the core status logic clear. See https://github.com/knative/build-pipeline/pull/517#discussion_r25783985

[2019-02-19 13:53] #511 closed

[2019-02-19 20:10] Conky5 opened #522 "GCS input resources flatten files on copy"
## Expected Behavior

Using a GCS directory storage resource should preserve existing directory structures.

## Actual Behavior

Copies from GCS flatten files.

## Steps to Reproduce the Problem

1. Given a bucket `gs://example` which has a directory structure in it, for example:
[code]

2. Create a `PipelineResource` `storage` resource type `directory`:
[code]

3. Create a task that uses the GCS

[2019-02-20 14:25] #501 closed

[2019-02-20 15:47] shashwathi commented on #522
@Conky5 : Thank you for finding this. Would you like to submit PR for this bug?

[2019-02-20 19:13] bobcatfish commented on #383
Will be merging #385 with the 0.1 release today! :tada:

[2019-02-20 19:13] #383 closed

[2019-02-20 19:21] bobcatfish commented on #52
I'm going to close this for now, I think we feel pretty confident without it, but feel free to re-open if you disagree.

[2019-02-20 19:21] #52 closed

[2019-02-20 19:24] bobcatfish commented on #99
Seems like this is working now!

https://testgrid-dot-knative-tests.appspot.com/knative-build-pipeline#coverage

81.9% coverage even, pretty decent :D :tada:

[2019-02-20 19:24] #99 closed

[2019-02-20 20:00] bobcatfish opened #527 "Create a Tekton GCS release bucket & GCR repo"
## Expected Behavior
Since we want to clearly distinguish Tekton Pipelines from the rest of Knative, and we are decoupling the release schedule, we should be releasing to a Tekton specific gcr repo and gcs bucket.

It should be clear:
- What permissions are required to make releases to these locations
- Who will have these permissions
- How to obtain the permissions if you need them.

## Actual Be

[2019-02-20 20:20] #385 closed

[2019-02-21 00:09] bobcatfish commented on #522
very nice write up @Conky5 ! thanks for all the details!! ❤️

[2019-02-21 00:14] bobcatfish opened #528 "Create `Task` for building and tagging Tekton Pipelines release images"
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Build all images
- Tag the images appropriately

It should be possible to use this for both:
- Manually creating a versioned release (including updating "latest" tag)
- Creating nightly releases

### The Task

* Inputs:
  - git repo
* Outp

[2019-02-21 00:21] bobcatfish opened #529 "Create `Task` for publishing Tekton Pipeline release yaml"
## Expected behaviour

We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Generate the `release.yaml` (including the correct image names)
- Upload the `release.yaml` to a gcs bucket

### The Task

* Inputs:
  - git repo
  - gcr images (for all Tekton images - we can assume these have been built by something up

[2019-02-21 00:30] bobcatfish opened #530 "Create `Task` for creating GitHub release"
## Expected behaviour

We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Create a new release in GitHub
- Generate release notes from ["release notes" in merged PRs](https://github.com/knative/build-pipeline/blob/master/.github/pull_request_template.md)

### The Task

* Inputs:
  - git repo
  - gcr images (fo

[2019-02-21 00:36] bobcatfish opened #531 "Create `Pipeline` for releases"
## Expected Behavior

We should be testing and releasing Pipelines with Pipelines.

We should have a Pipeline that performs these operations, in order:

1. Builds + tags images (#528)
2. Publishes a release.yaml with those images (#529)
3. Creates a GitHub release (#530)

## Actual Behavior

We currently use [prow](https://github.com/knative/test-infra/tree/master/ci/prow) and [knative release scr

[2019-02-21 00:45] bobcatfish opened #532 "Create `Task` for Tekton Pipeline unit tests"
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to
- Trigger [all unit tests in build-pipelines](https://github.com/knative/build-pipeline/tree/master/test#unit-tests)
- Write results to [gubernator](https://github.com/knative/test-infra/tree/master/ci/gubernator)

### The Task

* Inputs:
  -

[2019-02-21 00:51] bobcatfish opened #533 "Create `Task` for Tekton Pipeline end to end tests"
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Run [end to end tests](https://github.com/knative/build-pipeline/tree/master/test#end-to-end-tests)
- Write results to [gubernator](https://github.com/knative/test-infra/tree/master/ci/gubernator)

### The Task

* Inputs:
  - git repo
  -

[2019-02-21 00:53] bobcatfish opened #534 "Create a `Task` that can create a Tekton Pipelines cluster to test against"
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Create a cluster to test against (currently done using boskos and triggered by [e2e-tests.sh](https://github.com/knative/build-pipeline/blob/master/test/e2e-tests.sh))
- Deploy Pipelines to the cluster

![image](https://user-images.githubu

[2019-02-21 01:00] bobcatfish opened #535 "Create `Task` to update GitHub PR status"
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

To do this, we need a `Task` that knows how to update a GitHub PR with the results of a check.
- Update a PR with the result of the "check", i.e.:

![image](https://user-images.githubusercontent.com/432502/53135071-a258b100-352e-11e9-8969-9fb344713217.png)

### The Task

* Inputs:
  - git repo (maybe? this is a gith

[2019-02-21 01:06] bobcatfish opened #536 "Create `Task` for running "yaml tests""
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Run our ["yaml tests"](https://github.com/knative/build-pipeline/blob/master/test/e2e-tests-yaml.sh) (i.e. test our examples
- Write results to [gubernator](https://github.com/knative/test-infra/tree/master/ci/gubernator)

### The Task

*

[2019-02-21 01:17] bobcatfish opened #537 "Add Tekton Pipeline support to Prow"
## Expected Behavior
We should be testing Tekton Pipelines with Tekton Pipelines. Since we haven't designed triggering yet (#315), and we're already using Prow for triggering our CI/CD, it would be cool to use Pipelines with Prow directly.

This means (in our current design), being able to give Prow the spec for:
- PipelineRuns to create
- PipelineResources to create for those PipelineRuns to refe

[2019-02-21 01:18] bobcatfish commented on #537
@rawlingsj would you want this assigned to you? Not sure if you wanted to concentrate only on the POC or also to contribute this upstream to Prow :D

[2019-02-21 01:21] bobcatfish opened #538 "Make Tekton Prow jobs invoke Tekton Pipelines"
## Expected Behavior

The CI/CD used by Tekton Pipelines ([triggered via prow jobs](https://github.com/knative/test-infra/blob/master/ci/prow/config.yaml#L466)) should be able to invoke Pipelines.

In the long run we want Pipeline support in Prow (#537), but in the meantime, we can make the existing Prow jobs:

- Deploy Tekton Pipelines (to the Prow cluster itself? not sure, will need input)
- Cre

[2019-02-21 01:36] bobcatfish opened #539 "Create `Pipeline` for running Tekton Pipeline CI/CD"
## Expected Behavior

We should be testing Pipelines with Pipelines.

We should have a Pipeline which does the following, in this order (this is graph with 2 roots):

[code]

("end to end tests" and "yaml tests" both execute in parallel, both depend on "build a test cluster" AND the unit test reporting results)

Runs should be triggered by new PR creation.

## Actual Behavior

The CI/CD used by Te

[2019-02-21 01:49] bobcatfish commented on #454
@tejal29 I updated the description a bit after talking about this with you offline

[2019-02-21 01:59] bobcatfish opened #540 "Start measuring Tekton Pipelines performance"
## Expected Behavior

We should be measuring performance for Pipelines. This task includes both adding the actual measurement mechanism and also the design re. what exactly we want to measurement.

Some ideas for measurement:

- Null Task / null Pipeline (i.e. it doesnt actually do anything)
- Null Tasks that have linked inputs outputs
- ?

## Actual Behavior

We do not measure or track this.

##

[2019-02-21 02:00] bobcatfish commented on #375
We have since removed the double PVC issue (#443) so we should now be able to [re-enable this test](https://github.com/knative/build-pipeline/blob/master/test/pipelinerun_test.go#L83).

[2019-02-21 03:02] abayer commented on #538
Is @rawlingsj's Prow work close enough to ready to be feasible here in the near term?

[2019-02-21 03:03] abayer commented on #539
An idea for the "teardown" task - have it be a shell script run in parallel to the two branches already defined, that periodically queries GitHub to see if the commit status has been set for the two branches, and when they are set, blows away the cluster?

[2019-02-21 11:48] rawlingsj commented on #538
We have a pipeline controller that seems to be working great https://github.com/jenkins-x/test-infra/blob/238d673/prow/cmd/pipeline/controller.go - main issue ATM it's slightly tied to Jenkins X as we have it optionally calling out to the 'pipelinerunner' service.  I did want to take what I've done and apply a non Jenkins X related PR to the test-infra repo but not been able to yet unfortunately.

[2019-02-21 12:26] hrishin opened #541 "Installing Tekton Pipelines guide is not working"
As mentioned in [installation guide](https://github.com/knative/build-pipeline/blob/master/docs/install.md#adding-the-tekton-pipelines) step 1, `release.yaml` is not present on the release bucket.

## Expected Behavior
[code]
Should install Tekton pipeline resources

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. kubectl apply --filename https://storage.googleapis.com/tekton-pip

[2019-02-21 13:01] vdemeester commented on #541
I think the release is not yet published on that bucket (cc @ImJasonH @bobcatfish) and still is on knative release bucket https://storage.googleapis.com/knative-releases/build-pipeline/latest/release.yaml it seems :angel:

[2019-02-21 13:05] pivotal-nader-ziada commented on #541
yes, the release is in `gs://knative-releases/build-pipeline/latest/release.yaml`

[2019-02-21 13:12] pivotal-nader-ziada commented on #541
created a PR to fix the file path for now

[2019-02-21 13:25] pivotal-nader-ziada opened #543 "Can't specify any arbitrary commit id in git resource"
## Expected Behavior
Use the revision param in the git resource to specify any arbitrary commit should pull the git repo at this commit

## Actual Behavior
specifying a commit hash in the `revision` param results in an error
[code]

## Steps to Reproduce the Problem

1. Use a git resource with an commit hash in the revision param

## Additional Info

From slack by @duane
[code]

[2019-02-21 13:48] jessm12 opened #544 "PipelineResources left behind after PipelineRuns are wasteful"
## Expected Behavior
When a `PipelineRun` has completed it is desirable that as few resources as possible are left behind so as to preserve memory and keep systems clean.

## Actual Behavior
When creating `PipelineRuns`, associated `PipelineResources` are created to reference key inputs or outputs to `Tasks` within a `Pipeline`. This leaves behind many resources that are only used during the `Pipe

[2019-02-21 14:26] ImJasonH commented on #543
This is the same as https://github.com/knative/build/issues/212

Basically, GitHub (and most-but-not-all other Git hosting services) don't serve commits that aren't pointed to by branches or tags.

The workaround will probably be to have fetch-by-commit do a full clone instead of a shallow clone, then checkout the requested commit. This will be slower than doing the shallow clone, especially for l

[2019-02-21 14:59] shashwathi commented on #375
/assign @shashwathi

[2019-02-21 15:13] pivotal-nader-ziada commented on #543
One suggestion I have is to add another optional param to the git resource for the commit hash, and if that is provided do the `git pull` otherwise do the `fetch` to be more efficient. We might want to rename the `revision` to `branch` with that approach.

[2019-02-21 15:21] ImJasonH commented on #543
The reason Build chose the term `revision` was that it's used as a general term for any of a branch/tag/commit, or any ref at all like `refs/pull/123` which is the ref for a pull request.

We could split those out into four separate mutually-exclusive fields, but we thought it's a somewhat simpler API to just accept one string and use Git's consistent and documented logic for determining whether a

[2019-02-21 15:25] #541 closed

[2019-02-21 17:05] bobcatfish commented on #541
Thanks for the detailed report @hrishin - and the quick fix @pivotal-nader-ziada !! :heart:

[2019-02-21 17:06] bobcatfish commented on #541
(Will be creating Tekton specific buckets etc. in https://github.com/knative/build-pipeline/issues/527)

[2019-02-21 17:08] bobcatfish commented on #543
If we don't want to add additional fields, another option would be to catch the initial error and try to do a `pull` + `checkout` in that case

[2019-02-21 17:10] bobcatfish commented on #543
From the chat in slack, sounds like @dibbles is going to take this on! :heart: :tada:

[2019-02-21 17:10] Conky5 commented on #522
Thanks! I should be able to submit a PR for this in the next week.

[2019-02-21 17:12] bobcatfish commented on #544
Awesome write up @jessm12 :heart_eyes_cat:, thanks so much, that captures the problem perfectly!!

[2019-02-21 17:13] bobcatfish commented on #544
Note there was some related work in #200 but definitely looks like we can make this even better :D

[2019-02-21 17:29] bobcatfish commented on #508
( @pmuir I moved some of your above comment into the initial description, just to make it more clear at a glance what this is about)

Thanks for all the details and links @pmuir , I really appreciate it and I can see now why you need this functionality!!!

(sorry for the delayed response also!)

So as discussed in #506, I think we probably don't want to go ahead with that exact solution, but the R

[2019-02-21 17:30] bobcatfish commented on #508
( @pmuir I assume we can consider this one assigned to you? do you mind if we close #506 for now? )

[2019-02-22 05:51] hrishin opened #549 "Taskruns: hard to follow `steps` status of a `task`"
Consider the following task
[code]

Once the user executes a such `Task` using `Taskrun` the status appears like as follow

[code]

Now as a user I'm not able to determine the status of individual `steps`.  This be might be addressed in #146

## Expected Behavior
It's better to associate `step name` in the individual `step status`.

## Actual Behavior
`Taskrun step status` doesn't have any associa

[2019-02-22 11:02] jessm12 commented on #544
Thanks @bobcatfish! 😄 There are some really interesting ideas and work under that issue! Some of which would definitely come under discussion here as well 👌

[2019-02-22 12:00] dibbles commented on #543
Yes - I'll look at getting something together for this.

[2019-02-25 11:54] dibbles commented on #543
Well, if we don't go down the path of adding the different options - then I think we need to retry using a pull on any error from the fetch.  I'm not sure we can check for the error given as different git providers might give different errors..... therefore I'm looking at adding something along the lines of:

[code]

Also looking at adding in some tests - hope to have something together in a PR th

[2019-02-25 13:07] pmuir commented on #508
Yep, assign to me :-)

[2019-02-25 17:16] #375 closed

[2019-02-26 14:21] warrenbailey opened #552 "Dynamic Input Parameters"
## Expected Behavior
I'm building a release pipeline for one of our projects and ideally I want to pass a dynamically created value between two tasks. I want the first task to generate the 'release version' and do the git tags etc. Then the second tasks (which is Kaniko) to build the image and push it to the docker registry with the released version from the first task as a tag.

I know it's possi

[2019-02-26 14:44] pivotal-nader-ziada commented on #224
/assign

[2019-02-26 14:46] pivotal-nader-ziada commented on #456
@bobcatfish I think this should be part of the 0.2 milestone as we discussed

[2019-02-26 15:17] abayer commented on #552
/assign

[2019-02-27 12:37] pmuir commented on #508
/assign pmuir

[2019-02-27 12:38] pmuir commented on #508
Just to set expectations - it will take me a couple of weeks to get to this one - maybe late March.

[2019-02-27 14:21] #543 closed

[2019-02-27 15:02] vdemeester commented on #456
/assign

[2019-02-27 15:17] vdemeester commented on #456
/assign @shashwathi

[2019-02-27 16:43] vdemeester opened #558 "Create `Task` for running linting (markdownlint, …)"
# Expected Behavior

We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:

- Run our "linting" (`markdownlint`, …)

## The Task

* Inputs:
  * git repo
* Outputs:
  * some kind of result info which can be passed to #535
* Parameters:
  * some kind of gubernator endpoint info, will have to look into existing script

[2019-02-27 17:20] bobcatfish opened #559 "Add validation on Pipeline creation for DAG"
# Expected Behavior
In #168 we add DAG based execution for Pipelines instead of executing Tasks in the order they are declared.

The DAG is created based on the `from` and `runAfter` clauses. It is possible that these can be used to create Graphs which cannot actually execute and complete, e.g. infinite loops, etc.

If a user tries to create a `Pipeline` which contains an invalid graph, the creati

[2019-02-27 17:28] vdemeester commented on #559
/assign

[2019-02-27 18:34] vbatts commented on #147
In the meantime, I'm personally looking at reusing build-template e.g. buildah for making taskrun HowTos.

[2019-02-27 19:33] bobcatfish commented on #552
@warrenbailey I added a "steps to reproduce" section which tries to sketch out the functionality you're looking for, is that accurate?

The example assumes a design we don't have to be tied to:
1. There's a `keyvalue` Resource type
2. Tasks can output keyvalue Resoruces by writing a json map to a certain location

[2019-02-27 19:35] bobcatfish commented on #552
btw @abayer we can probably share some logic between this and https://github.com/knative/build-pipeline/issues/216 (the logic for how we get values from an executing container back to the controller)

[2019-02-27 19:35] bobcatfish commented on #216
Added examples to the description!

[2019-02-27 19:37] abayer commented on #552
@bobcatfish Yes! #216 is exactly the same sorta thing.

[2019-02-27 19:42] bobcatfish commented on #233
Makes sense @abayer ! I also updated the description here with some requirements that Andrew Phillips shared with me, i.e. that pausing and resuming is really about async execution in general

[2019-02-27 19:52] bobcatfish commented on #259
Makes sense @abayer ! I updated the description with an example, feel free to fix it if this doesn't reflect what you're looking for.

[2019-02-28 04:16] demobox commented on #233
Thanks, @bobcatfish! Happy to elaborate on those if useful

[2019-02-28 16:32] #168 closed

[2019-02-28 18:39] bobcatfish commented on #549
Thanks for opening this @hrishin ! That's a good point - I think I usually work around this by going straight to the `pod` itself but that's quite a pain and it would be useful to have more info in the `TaskRun` status directly.

[Looking at StepState](https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeline/v1alpha1/taskrun_types.go#L165) it's pretty much just `corev1.ContainerStat

[2019-02-28 18:43] bobcatfish commented on #439
@afrittoli quick ping, is this still giving you any trouble or should I resolve this issue?

[2019-02-28 18:51] bobcatfish commented on #233
Always @demobox :D :D :D

[2019-02-28 18:53] bobcatfish commented on #509
Related: proposal re. moving knative/build-pipelines https://github.com/knative/build/pull/569

[2019-02-28 18:53] bobcatfish commented on #147
Related: proposal re. moving knative/build-pipelines https://github.com/knative/build/pull/569

[2019-02-28 21:32] afrittoli opened #567 "Add example of build + deploy via helm pipeline"
# Expected Behavior
Have an example of how to deploy to a target cluster via helm, based on https://andreafrittoli.me/2019/02/06/define-a-simple-cd-pipeline-with-knative/

# Actual Behavior
n/a

# Steps to Reproduce the Problem
n/a

# Additional Info

[2019-02-28 21:33] afrittoli commented on #567
Assigned to @afrittoli

[2019-02-28 22:13] afrittoli opened #568 "Tekton pipeline as knative serving build example"
# Expected Behavior
As part of the hackathon I worked on developing a working example of a taskrun and a pipelinerun  that are defined as part of a configuration/build of a knative service.
The code is available at https://github.com/afrittoli/openstack-health/tree/knative.

This issue is about taking that code and bringing it into the build-pipeline repo as an example, as long as folks are intere

[2019-02-28 22:13] afrittoli commented on #568
Assigned to @afrittoli

[2019-02-28 22:59] bobcatfish commented on #528
Starting to look at [how we use `ko` for release publishing](https://github.com/knative/build-pipeline/blob/master/hack/release.sh#L33) and it looks like the `ko resolve` command does _both_ the creation of the images and the creation of the yaml so maybe it would make more sense to have one `Task` for both of those things.

[2019-03-01 00:33] bobcatfish opened #569 "Resources for Tasks with many images in the same registry are repetitive"
# Expected Behavior

If I'm creating a `Task` that needs to build a lot of images, that means I need to provide many [image resources](https://github.com/knative/build-pipeline/blob/master/docs/resources.md#image-resource). If these all need to get pushed to the same image registry, it would be great if I only needed to provide this information once.

# Actual Behavior

While working on #528 I sta

[2019-03-01 06:38] mustafaakin commented on #323
Sorry for the late reply, assuming we use go-cloud, what would be the way to go? Right now there is GCS Storage resource and it would  be a duplicate.

[2019-03-01 10:50] afrittoli commented on #439
If I deploy pipelines in a namespaces, and I want to run them via a service account, it's not enough for the service account to be `admin` on the namespace, it will have to have special permissions added to be able to view / run tekton resources.

The way I solved this was to add the following to `tekton-pipeline-admin`:
[code]

That makes it to that an `admin` is automatically a pipeline admin as

[2019-03-01 11:17] #522 closed

[2019-03-01 12:10] warrenbailey commented on #552
@bobcatfish yes that's exactly what I want 👍

[2019-03-01 18:15] bobcatfish opened #573 "Can't parse image references for gcr.io/cloud-builders/go:debian"
# Expected Behavior

If I try to use a Task step that uses the image `gcr.io/cloud-builders/go:debian` without specifying a `command` explicitly, the controller should be able to fetch that image and determine what the command is (this is required for our [entrypoint rewriting logic](https://github.com/knative/build-pipeline/blob/master/docs/container-contract.md#entrypoint)).

# Actual Behavior

[2019-03-01 19:12] bobcatfish opened #574 "Entrypoint rewriting logic is ignoring `cmd`"
# Expected Behavior

I'm a bit confused about this to tell you the truth, but I think _think_ that when we are wrapping a container, we should be respecting _both_ the `entrypoint` and the `cmd`

# Actual Behavior

When we [retrieve an image's entrypoint](https://github.com/knative/build-pipeline/blob/f267ad53eb83b9e6f8e47a7c7066ec5f6ba0bdb5/pkg/reconciler/v1alpha1/taskrun/entrypoint/entrypoint.go

[2019-03-01 19:31] bobcatfish commented on #568
btw @afrittoli you might find this end to end test in the serving repo relevant: https://github.com/knative/serving/blob/master/test/e2e/build_pipeline_test.go (which uses knative serving with a pipeline)

Having an example in this repo too would be useful - but i hope we can find a way to have it without bringing in knative/serving as a dependency here :thinking:

[2019-03-01 19:35] bobcatfish commented on #439
Ah, glad you figured it out! I didn't know about those labels, thanks for the explanation!

Sounds good - if someone wants to add some docs, https://github.com/knative/build-pipeline/blob/master/docs/auth.md might be a good place, or possibly https://github.com/knative/build-pipeline/blob/master/docs/install.md (since this is part of cluster setup).

[2019-03-01 19:43] bobcatfish commented on #508
Sounds good, thanks for the info @pmuir :D

[2019-03-04 04:44] hrishin commented on #549
Yes, it's painful.

@bobcatfish I think we need container name (it may be init-container name) for `stepstate` or `taskstate` along with whether it's `waiting, running, terminated`. At this moment we don't have any association between `state` and `step`, right?. As a progressive step, it would be better to have `logUrl` or `logBlob` which we are going to address in #107, I guess. right?

[2019-03-04 05:32] hrishin commented on #549
Let me run the `task` and `pipelines`, will post more updates about it. However [containerstatus](https://github.com/knative/build-pipeline/blob/master/vendor/k8s.io/api/core/v1/types.go#L2252) looks good enough.

[2019-03-04 19:07] pivotal-nader-ziada commented on #574
/assign

[2019-03-04 19:09] pivotal-nader-ziada commented on #574
in pr #564, I have logic that will check the remote image `entrypoint` and if there isn't one, will check the `cmd`
would that cover the problem you ran into?

[2019-03-04 19:19] abayer commented on #574
Oh boy, this is always a fun area - we've flip-flopped on how the Jenkins/Docker integration works from using `entrypoint` vs `cmd`...well, multiple times. The lesson I've taken away from our pain there is that if you try to handle every particular permutation of `entrypoint` vs `cmd` as default behavior, you're going to have a bad time. My opinion is that it's best to settle on one expected/requi

[2019-03-04 19:20] abayer commented on #569
Would need to be overridable per-image, I'd assume?

[2019-03-05 20:36] abayer opened #584 "Entrypoint remote image fetch fails for a non-default service account with no `ImagePullSecrets`"
# Expected Behavior

Publicly accessible images should be usable when using a non-default service account, even if it has no `ImagePullSecret`s defined.

# Actual Behavior

All attempts to fetch remote images to handle their entrypoints with a non-default service account without any `ImagePullSecret`s fail like:
[code]

# Steps to Reproduce the Problem

1. Create a `Pipeline` with a `Task` using a

[2019-03-05 20:36] abayer commented on #584
/assign abayer

[2019-03-05 20:37] abayer commented on #584
I have a potential fix (assuming it passes @pivotal-nader-ziada's approval!) but am working on a reproduction case test before I open a PR.

[2019-03-05 22:11] #584 closed

[2019-03-06 07:41] hrishin commented on #549
For `task` and `taskrun`, the following kind of status could be helpful:

[code]

where task definition is

[code]

So
 - taskName:  represents the the actual task name from definition
 - .steps.name: represents the actual name of each step from definition

This could help in exact UI/Visual presentation of a pipeline. This could also be useful for doing benchmarking of steps, task and whole pipel

[2019-03-06 12:57] afrittoli opened #587 "Define an output that acts as a Knative eventing source"
A CI/CD pipeline may include tasks that should be executed asynchronously from the main pipeline, for instance post processing of test results or logs, notifications and more; so things that should not affect the duration / reliability of the pipeline and can be executed "eventually" once the pipeline is complete.

This could be achieved by exploiting knative eventing. We could define a `pipeliner

[2019-03-06 13:12] hrishin commented on #549
For `unnamed` steps, I'm really not sure. Maybe putting sequence number with step names could be possible options like

[code]

Any reason we are allowing `unnamed` steps in a `task`? what would happen if mandate `name` to each step?

[2019-03-06 13:26] pivotal-nader-ziada commented on #574
@bobcatfish I think this should be closed as part of the changes in PR #564

[2019-03-06 13:28] vdemeester commented on #252
/assign

[2019-03-06 14:24] pivotal-nader-ziada commented on #573
/assign

[2019-03-06 14:26] pivotal-nader-ziada commented on #573
@bobcatfish I think this is now fixed with the changes in the containers PR #564

I get the following error from the step mentioned above
[code]

which I believe means it got the command which is the problem you are having here, still doesn't work but the task needs to put the `ko` repo in the gopath

[2019-03-06 14:48] ImJasonH commented on #573
go-containerregistry only recently gained the ability to parse references that specify both a tag and a digest (https://github.com/google/go-containerregistry/pull/391)

When we rewrite the entrypoint we just add the digest to the end of the given image, which, if it specified a tag, go-containerregistry wouldn't be able to parse.

I think updating the go-containerregistry dep could fix this.

[2019-03-06 15:51] #559 closed

[2019-03-07 11:21] a-roberts opened #591 "Unable to run Tekton pipelines locally since move away from InitContainers"
For full context see https://knative.slack.com/archives/CDCQ72D0R/p1551956671118100

**Caveat: we are doing this locally and our pipeline involves resources. We're creating the PipelineRun and the resources through Go code - something we plan to contribute as an example, based on receiving a webhook from a repository. I don't know if this is a problem with our own code or with Knative itself, just

[2019-03-07 13:10] afrittoli commented on #315
Brainstorming about this topic...

With the existing API, the way to trigger a `Pipeline` (or a `Task`) is to define the `PipelineResources`, define the `PipelineRun` and run it, so the service that defines the `PipelineRun` also triggers it.
I can image the use cases where a `PipelineRun` is defined but not yet executed, for instance if there are parts of the pipeline that we want to decouple, we

[2019-03-07 18:16] bobcatfish commented on #591
Whoops, looks like a bug for sure, sorry for the hassle!! We'll get on this right away

btw awesome issue write up @a-roberts thanks so much :pray:

[2019-03-07 18:24] bobcatfish commented on #587
That's a cool idea @afrittoli !

Would the success/failure and completion of the PipelineRun depend on the completion of this processing as well?

[2019-03-07 19:44] afrittoli commented on #587
That's a good question. I can see both behaviours as valid, i.e. submitting the event to the channel successfully might or might not affect the success / fail status of the pipeline.

On one side one might not want the health of the channel to impact critical pipelines; on the other side not reporting a failure in submitting to the channel could live the issue undetected.

[2019-03-07 19:53] bobcatfish opened #594 "Add test for mulitple pod creation"
# Expected Behavior

In knative/build @rawlingsj added a test to make sure we don't create multiple pods (https://github.com/knative/build/pull/519)

# Actual Behavior

We should have the same test in build-pipeline as well

# Additional Info

Since we don't have the test, we might also have underlying bugs here to fix as part of getting this test in.

[2019-03-07 23:18] bobcatfish commented on #301
After more discussion and the proposal at https://github.com/knative/build/pull/569 it looks like it makes sense for knative/build to continue to be its own entity and so migrating issues as described here no longer makes sense or is relevant.

[2019-03-07 23:18] #301 closed

[2019-03-08 08:21] abayer commented on #591
Blech, my internet connection is terrible and I've never actually *used* Docker for Mac in a meaningful way, so I don't think I can get this reproduced locally. If someone else can tackle it, that'd probably be for the best.

[2019-03-08 13:11] abayer opened #598 "All containers in a TaskRun's Pod are combined to calculate required resources"
# Expected Behavior

We're only running one container per `TaskRun` pod at a time, so the required resources for that pod should be the max values needed amongst all the containers we're running. While we were using init containers, that's how things worked.

# Actual Behavior

With containers instead of init containers, the pod's required resources are the *sum* of the required resources for each

[2019-03-08 13:23] abayer commented on #598
fyi @pivotal-nader-ziada @ImJasonH @bobcatfish

[2019-03-08 13:25] bbrowning commented on #598
Given this (same for both Memory and CPU requests/limits):
[code]

I believe we could choose the largest of the memory/cpu requests, stuff that on a single Container, and leave the requests unset on all the other Containers in the Pod. Containers could keep their individual memory/CPU limits as scheduling is not based on limits.

An example:

Container A requests 512MB, Container B 2048MB, Contain

[2019-03-08 13:37] abayer commented on #598
Aaaaaah, that sounds reasonable - if I understand correctly, does that mean we'd effectively use the full resources (assuming no limits specified on steps) of the whole pod for each step?

[2019-03-08 13:51] bbrowning commented on #598
To answer my own question above about leaving the resource request on the largest or first pod - you leave it on the largest pod. That's the only pod guaranteed to have a limit greater than or equal to the largest request.

[2019-03-08 13:53] bbrowning commented on #598
@abayer If you don't specify limits then yes, you can use as much CPU/memory as the node has available. But I believe that behavior is unchanged from InitContainers or the current Containers implementation.

You can still set CPU/memory limits per Container and those limits will get enforced. The requests value is just to help the scheduler decide which Node your Pod gets placed on.

[2019-03-08 13:56] abayer commented on #598
@bbrowning Gotcha - that's actually a nice result anyway. =)

[2019-03-08 14:39] abayer commented on #598
@dwnusbaum has a memory of this coming up at the working group meeting on Wednesday, but I wasn't paying enough attention to remember myself. =) But regardless, yeah, I endorse this approach.

[2019-03-08 14:40] pivotal-nader-ziada commented on #598
@bbrowning I thought the containers without any limits set would get the max or default limit, would setting a high limit on one container override that for all containers? or do set this limit on the pod?
[code]

there is anything in the api currently to set `limits` on a `taskrun` so @abayer doesn't that mean it's not set and you are still getting the problem? or are you setting them somehow?

[2019-03-08 14:41] abayer commented on #598
I think we're seeing it with no explicit limits set - @jstrachan, can you verify?

[2019-03-08 14:44] jstrachan opened #599 "non-init container tekton seems to use an unknown docker image"
I just tried switching from the init-container to non-init container tekton version `v20190306-eee89b02` - and got this failure due to an unknown docker image `override-with-entrypoint`.

here's the generated Pod:
https://gist.github.com/jstrachan/ae32a07b4002e774d0f94ac5a78b8157#file-pod-yml-L614

this is for the tekton created step (the image isn't in the `Task / Pipeline / PipelineRun`)

[2019-03-08 14:59] jstrachan commented on #599
ah this could be an issue with the Jenkins X chart for tekton ;)

[2019-03-08 14:59] #599 closed

[2019-03-08 15:03] bbrowning commented on #598
@pivotal-nader-ziada The scheduling problem stems from a Container's requests - not its limits. And Task Steps are just Containers - https://github.com/tektoncd/pipeline/blob/bbe504a83f66181d0662e16b596ebeb072b099c2/pkg/apis/pipeline/v1alpha1/task_types.go#L49

Containers can set memory and/or CPU requests and/or limits. Unless you're explicitly forbidding the setting of those somewhere in a webho

[2019-03-08 15:13] dwnusbaum commented on #598
Yeah, as I recall the discussion was that this was a known issue that didn't make it into the PR to switch from init container to containers, but that we definitely want to do something to fix it.

Relevant discussion starts around [9:20 in the 3/6/2019 meeting recording](https://drive.google.com/file/d/1B0fOkCBd5oRRHu7W6uIYnGjnh61imPYR/view?t=9m20s).

[2019-03-08 15:38] pivotal-nader-ziada commented on #598
@bbrowning you are correct, we don't forbid that anywhere

[2019-03-08 21:06] dlorenc commented on #574
Fixed with #564

[2019-03-08 21:06] #574 closed

[2019-03-08 21:12] dlorenc commented on #527
We have this at gcr.io/tekton-releases and gs://tekton-releases.

[2019-03-08 21:12] #527 closed

[2019-03-08 21:13] dlorenc commented on #573
This should have been fixed with #592.

[2019-03-08 21:13] #573 closed

[2019-03-08 21:14] dlorenc commented on #252
/assign vdemeester

[2019-03-11 12:10] vdemeester commented on #594
/assign

[2019-03-11 14:42] vdemeester commented on #591
/assign

[2019-03-11 15:12] vdemeester commented on #591
To complete a bit the bug decription, it's also the case on `minikube` with a simple case like that (because of `git-init` containers that do no specify `command`)

[code]

Thinking outloud of possible fixes and workaround :

1. As we do remote lookup only when the `command` is not specified, we can, for *internal* containers (copy, git-init, creds-init, …) provide `command` and thus make it work.

[2019-03-11 16:18] shashwathi commented on #456
/assign @shashwathi

[2019-03-11 16:29] vdemeester commented on #456
/assign @shashwathi

[2019-03-12 08:30] abergmeier opened #609 "Installing onto OpenShift leads to not working Pod"
# Expected Behavior
Should work after installing.

# Actual Behavior
Seems to create all objects. But `tekton-pipelines-webhook` creates Pods, that don't work.

# Steps to Reproduce the Problem

1. `kubectl apply --filename https://storage.googleapis.com/knative-releases/build-pipeline/latest/release.yaml`

# Additional Info
Pod log is e.g.:
[code]

[2019-03-12 08:48] hrishin commented on #609
Hi @abergmeier

Thanks! for reporting an issue. Recently we have fixed this [issue](  https://github.com/tektoncd/pipeline/pull/572). It would be available in the next release.

However, to get fix this issue, for the time being, you could add permissions to `tekton-admin` role according to patch.

[2019-03-12 11:57] hrishin commented on #27
Hey @bobcatfish @abayer,

Thanks! for having this feature discussion. A kind request, May I know where we are up to in terms of `pipeline` spec design?

One of the simple use case we are trying to address is add to "manual approval" gate in pipeline execution.
So pipeline says
[code]
So pipeline execution waits to start `task4` unitl its approved by user or something like that.

One of the way `pi

[2019-03-12 13:39] khrm opened #611 "Developer Documentation for forking has knative/build-pipeline in path"
# Expected Behavior
Proper fork and working code in the directory.

# Actual Behavior
Forking doesn't happen because of documentation at https://github.com/khrm/pipeline/blob/master/DEVELOPMENT.md#checkout-your-fork
as it is somewhat outdated.

# Steps to Reproduce the Problem
Follow the instructions given in the documentation at https://github.com/khrm/pipeline/blob/master/DEVELOPMENT.md#checkout

[2019-03-12 16:54] #594 closed

[2019-03-12 17:36] #611 closed

[2019-03-12 21:17] abergmeier commented on #609
That seems to bring me further:

[code]

[2019-03-13 07:30] hrishin commented on #609
That's true, this would solve the problem
[code]
Or if you are running minishift, you can enable minishift addon

[code]

[2019-03-13 08:54] skeeey opened #615 "Enhance the output of the kubectl get taskruns"
# Expected Behavior

When I execute `kubectl get taskruns` command, I want to get more helpful information about the `taskruns`

e.g.

- `TaskRun.Status.StartTime`
- `TaskRun.Status.CompletionTime`
- `TaskRun.Status.Conditions.Type`
- `TaskRun.Status.Conditions.Status`
- `TaskRun.Status.Conditions.Reason`

# Actual Behavior

When I execute `kubectl get taskruns` command, I don't get any helpful  i

[2019-03-13 08:56] skeeey commented on #615
If this make sense, I can send out a PR to fix this

[2019-03-13 13:30] chmouel commented on #609
@hrishin it may be good to have a document documenting all those gotchas (or limitations) somewhere,

[2019-03-13 21:11] bobcatfish opened #617 "Link inputs and outputs without using volumes"
# Expected Behavior

When a user wants to [link Pipeline Task outputs and inputs](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#from), this should:

* Not be significantly slower than executing a Pipeline where no outputs are linked.
* Not require external resources such as PVCs or GCS/S3 buckets

# Actual Behavior

There are currently two options for how outputs and inputs ar

[2019-03-13 21:13] bobcatfish commented on #617
One possible solution is to detect when this is happening, and schedule pods for Tasks with linked inputs/outputs onto the same nodes so they can share data directly on disk.

This would be a bit of a scheduling challenge; we may need to look into using a custom scheduler.

[2019-03-13 22:06] bobcatfish commented on #598
@bbrowning @abayer trying to catch up here - as far as I can tell (and I think you're saying this above), the taskrun controller isnt setting any of these values, this would only come into play if a user set the `request` and/or `limit` values themselves in the `Container` spec for the `step`, is that right?

In steps to repro right now we've got:

_but_ you'd have to actually set the `request` va

[2019-03-13 22:21] bobcatfish commented on #615
Hey there @skeeey ! Trying to make sure I know what's missing: so when I run `kubectl get taskruns -o yaml` I seem to be seeing the info you're looking for, e.g.:

[code]

(I took this example output from https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task)

So we've got:

* `TaskRun.Status.StartTime`
* `TaskRun.Status.CompletionTime` is technically: `TaskRun.Status.Conditions[0

[2019-03-14 02:11] skeeey commented on #615
Hi @bobcatfish, maybe my description is not clear :),  in fact, I want to get some basic info from  `kubectl get taskruns` directly, e.g.

[code]

so,  we can quickly glance the `taskrun` status and we can also use `--watch` to monitor their status changed, currently, I must use `-o yaml` and go through the yaml file to find the taskrun status, I think this is not convenient, what do you think?

[2019-03-14 06:49] hrishin commented on #609
copied @chmouel  :+1: .

[2019-03-14 07:52] vdemeester commented on #615
/good-first-issue
/enhancement
/help-wanted

[2019-03-14 07:54] vdemeester commented on #615
/kind enhancement

[2019-03-14 07:54] vdemeester commented on #609
/good-first-issue
/mostly-docs

[2019-03-14 08:34] abergmeier opened #618 "Does not restart pods"
# Expected Behavior
When I delete an initializing Pod, it should restart the pod (at least attempt N times).

# Actual Behavior
It complains over and over:
[code]

# Steps to Reproduce the Problem

1. Create a _TaskRun_ without rights to pull from Docker registry.
2. Pod will be stuck in setup state
3. Delete Pod

# Additional Info

[2019-03-14 09:26] abergmeier opened #619 "Cannot pull image in OpenShift"
# Expected Behavior
It should download from the default OpenShift registry.

# Actual Behavior
It cannot access internal OpenShift Docker registry:
[code]

So the problems seem to be:
1. It seems to not correctly configure the Docker daemon
2. It outputs the errors via a different logging method
3. It does not configure the internal OpenShift registry as _insecure-registry_ (could be a result of 1

[2019-03-14 10:39] vdemeester commented on #615
/assign @chmouel

[2019-03-14 11:38] abayer commented on #615
If we're going to do this for `TaskRun`s, it'd make sense to do it for `PipelineRun`s at the same time.

[2019-03-14 11:40] abayer commented on #618
Yeah, I think we don't really have retry logic in place in general - we discussed this a bunch over in #221, and https://github.com/tektoncd/pipeline/pull/510 is in flight, but we probably need to do more work.

[2019-03-14 15:00] abergmeier commented on #619
Seems like the problem was, that I overwrote `entrypoint`. Seems to work when switching to `command`.

[2019-03-14 15:00] #619 closed

[2019-03-15 00:35] dlorenc commented on #617
Hmm, I was sort of hoping that the k8s scheduler would be smart enough to allow us to schedule subsequent tasks on the same node as the previous one when there's a shared volume (in cases where this is possible). Maybe this is true and we just need to use the scheduler differently? If not a custom scheduler should do the trick.

[2019-03-15 03:12] abergmeier opened #623 "Permission denied when executing build steps"
# Expected Behavior
Should just run the steps container fine.

# Actual Behavior
Prints `standard_init_linux.go:178: exec user process caused "permission denied"`

# Steps to Reproduce the Problem

1. Configure Ubuntu:rolling container
2. Set `command: ['true']`

# Additional Info
The generated Pod Container then looks like:

[code]

[2019-03-15 14:33] chaodaiG opened #624 "release job in knative/build-pipeline is consistently failing"
# Expected Behavior
Release job succeeds
# Actual Behavior
Release job is failing consistently in past 7 days
# Steps to Reproduce the Problem
https://testgrid.knative.dev/knative-build-pipeline#release

# Additional Info
This might be expected as build-pipeline is now moved out of knative

[2019-03-15 14:52] adrcunha commented on #624
@bobcatfish can we simply remove them from our Prow and Testgrid instances, now that you guys have your own?

[2019-03-15 15:47] dlorenc commented on #624
Yes we should remove.

[2019-03-15 16:20] adrcunha commented on #624
/assign @chaodaig

Chao, please deploy the new configs once 563 merges and close this issue, thanks.

[2019-03-15 16:45] bobcatfish commented on #615
ohhh that makes perfect sense, thanks for the extra details @skeeey !!! :heart: :heart::heart:

[2019-03-15 19:55] chaodaiG commented on #624
Both Prow and Testgrid configs deployed

[2019-03-15 19:55] #624 closed

[2019-03-16 00:37] bobcatfish opened #626 "Access paths to input/output resources via templating"
# Expected Behavior

When creating Tasks that use inputs and outputs, it's important to know what the path is to them on disk. It would be cool to obtain the path via templating, e.g.:

[code]

_This could also mean that in the future maybe changes could be made to this path without affecting users (e.g. randomizing it)?_

# Actual Behavior

In order to know where to find the files provided by inp

[2019-03-16 01:07] bobcatfish opened #627 "Incorrect templating should result in error"
# Expected Behavior
Whenever a user uses `${}` templating syntax in their Task, if the value within the {} can't be resolved, an error should be returned to the user and the execution of any related TaskRuns or PipelineRuns should stop.

# Actual Behavior

With these output resources:
[code]

I tried to use this within one of my steps:

[code]

Values like `${outputs.resources.builtCredsInitImage}

[2019-03-17 17:50] rajatjindal opened #629 "consider installing goodfirstissue app on project/org"
Hi,

Thanks for the opensource project for k8s native CI/CD. I stumbled upon the repo while searching for projects promoting/using "goodfirstissue" label to encourage first time contributors.

I've developed a github app [goodfirstissue](https://github.com/rajatjindal/goodfirstissue) which tweets 'good first issues' via twitter handle [@goodfirstissue](https://twitter.com/goodfirstissue).

the tar

[2019-03-18 12:46] vbatts commented on #623
@abergmeier hey hey, can you provide information about the version of tekton/pipeline and kubernetes that you're using?
@vdemeester have you seen this?

[2019-03-18 17:53] bobcatfish opened #630 "Status of pending steps no longer displayed in status"
# Expected Behavior
When running `kubectl get taskruns -o yaml` for a TaskRun that is in progress, the `steps` section should display a pending status for all steps that have not yet started executing.

# Actual Behavior

Since we switched from init containers to regular containers, the `steps` section will show only completed steps and not in progress steps, for example:

[code]

# Steps to Repro

[2019-03-18 18:17] abayer commented on #630
Yeah, we've got a lot of things that don't quite work right for containers vs init containers - I'm quite wary of moving Jenkins X to a container-using version of this. =)

[2019-03-18 23:58] bobcatfish opened #631 "Clean up interface for building + releasing"
# Expected Behavior

If automation (or a user) wants to create a `TaskRun` or `PipelineRun` to release the tekton pipelines project:

1. The Task should be able to use images for each step that have all the dependencies they need
2. It should be possible to auth for pushing images to registries to fall back in the following order:
  a. If the user [provided a service account to the run](https://gi

[2019-03-19 03:28] pickledrick opened #633 "support token based authenication for git pipelineresource"
# Expected Behavior

Creating a PipelineResource of type git should be able to reference secrets for token based authentication via https git access

[code]

# Actual Behavior
Not yet implemented

# Additional Info
This is a proposal, as a first cut at git authentication without supporting all methods. I would like to take this up as a first issue.

[2019-03-19 08:59] vdemeester commented on #630
Indeed, it's still looking at init containers here… I'm fixing it as part of #252 but I'll most likely do 2 PRs then (one to fix this issue, the other one for removing build ref)

/assign

[2019-03-19 14:02] dlorenc commented on #315
Ref to a recent design doc: https://docs.google.com/document/d/1vxFEovcLxDbypYMTAS1r6t8KCL4ltGmck266tbS1mTw/edit?disco=AAAACu6Ex1I&ts=5c90ad27

[2019-03-19 15:00] #630 closed

[2019-03-19 17:50] bobcatfish opened #637 "Re-add coverge automation"
# Expected Behavior

* For each PR, the author should get a report about:
  * Whether coverage has gone up and down
  * Which lines are covered and which arent
* We should be able to track coverage over time in testgrid (e.g. see the coverage for knative/serving at https://testgrid.knative.dev/knative-serving#coverage - we'll need our own testgrid instance too :O)
* The coverage check will also fa

[2019-03-19 17:52] dlorenc commented on #637
This looks pretty easy to add back. Do we care if it uses "covbot" or the same  account the rest of prow uses?

[2019-03-19 17:54] bobcatfish commented on #637
same bot should be fine!

[2019-03-19 18:06] shashwathi commented on #637
Yes this would be great

[2019-03-19 18:15] bobcatfish commented on #618
hm this seems super weird, i would have thought kubernetes would create a new pod in this case - looks like a bit of investigation is warranted! :D

[2019-03-19 18:28] bobcatfish commented on #623
I tried this out with this Task and TaskRun (with the controllers at commit 1861bddc364cd82930f506901180bfd2c10b5e77):

[code]

And the TaskRun succeeded :thinking: so I think something else might be going on :thinking: , maybe related to the version of kube you're using like @vbatts said? (Maybe https://github.com/moby/moby/issues/30097 is related?)

[2019-03-19 18:36] bobcatfish commented on #629
Thanks @rajatjindal ! We've set it up, seems pretty cool. Thanks for taking this on :)

Question, is it possible to configure the twitter handle used for tweeting, or at least the message? Would be cool to add twitter.com/tektoncd to the tweet as well :)

(btw great docs :D)

[2019-03-19 18:36] #629 closed

[2019-03-19 21:12] bobcatfish commented on #633
Hey @pickledrick ! Thanks for writing up this issue :D

At the moment via the `serviceAccount` field in either [TaskRun](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#service-account) or [PipelineRun](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#service-account) you can specify a service account that has the credentials you need for accessing your githu

[2019-03-19 21:39] bobcatfish opened #639 "Allow for images output by one Task to be used by steps of downstream Tasks"
# Expected Behavior

Sometimes folks need to be able to build an image, which later they need to run as part of their CI/CD. For example, say you need an image (like we did for https://github.com/tektoncd/pipeline/pull/632) that has:

* gcloud
* ko
* golang

You might not be able to find a published and supported image that meets your exact needs, so you might need to build and publish your own. I

[2019-03-19 22:08] pickledrick commented on #633
Cool!

Sounds like exactly what I need. I'll take a look and see if I can identify
why this was hard for me to find in the doco. And provide any suggestions
around that space.

Happy to close this issue and I'll raise another to tidy up documentation
if necessary.

On Wed, 20 Mar. 2019, 08:12 Christie Wilson <notifications@github.com wrote:

[2019-03-20 04:57] rajatjindal commented on #629
Hi @bobcatfish

many thanks for installing it.

Currently its not possible to tweet using a specific twitter handle as it would require the auth token for that handle.

but its possible to cc a twitter handle whenever a goodfirstissue is reported for the project. I've [updated](https://github.com/rajatjindal/goodfirstissue/pull/24/commits/08e13e89cc1731dc177b13877b6b2c537207e504) our twitter handl

[2019-03-20 07:02] skeeey opened #641 "How can I build the code in my local environment"
# Expected Behavior

I can build the code in my local environment

# Actual Behavior

When I run

[code]

It failed with

[code]

What is the `ko` command?

[2019-03-20 07:20] skeeey commented on #641
Oh, I should install `ko` command by

[code]

[2019-03-20 07:29] skeeey opened #642 "The image created time is not right"
# Expected Behavior

The image created time should be the build time

# Actual Behavior

After build, the image created time (49 years ago) is not right

[code]

And I also check the release images, they also have the same problems

[code]

[2019-03-20 08:13] vdemeester commented on #641
@skeeey yes :angel: We're working towards having actual releases for `ko` so it can be installed more easily (and maybe automated in the scripts :man_dancing:). I think we can go ahead and close this issue :wink:

/close

[2019-03-20 08:13] #641 closed

[2019-03-20 13:56] pivotal-nader-ziada commented on #642
@skeeey can you please close the issue now that the PR is merged. Thanks

[2019-03-20 14:01] vdemeester commented on #642
/close

[2019-03-20 14:01] #642 closed

[2019-03-20 14:15] abayer commented on #27
/assign @abayer

[2019-03-20 14:26] abayer commented on #27
Verrrrrrry beginning of the doc is shared at https://docs.google.com/document/d/1R6WlDMC3vuY5StiEIFg5MP18n7_kOa1QHxB10CRlbw0/edit?usp=sharing

[2019-03-20 14:31] RXminuS opened #644 "Add a table of comparisons from Tekton to other solutions to the README"
Maybe an obnoxious question, but I just can't see a lot of differentiation with Argo CI/CD...a project that is already adopted for things like Kubeflow. I'm all for different projects to attack the same problem with different priorities, but in this case it seems like creating yarn after npm had already adopted all of its features.

Maybe good to outline a clear focus and how that differs from exi

[2019-03-20 17:34] abayer commented on #598
I don't think you do need to manually set the `request` values - @jstrachan hit this in Jenkins X, and we don't explicitly set `request` values anywhere when generating our `Task`s.

Anyway, lemme create a concrete reproduction.

[2019-03-20 17:56] abayer commented on #598
got it - https://gist.github.com/abayer/41cc9db17600dfe845f06002fb0492ed - when you get somewhere between 30 and 40 steps in a single `Task` with no explicit `request`, with a cluster of 3 `n1-standard-4`s, autoscaling up to 10, you get
[code]

[2019-03-20 18:08] abayer commented on #598
And fwiw, https://gist.github.com/abayer/1fe81f3813d777167590b2523a3fff6e is the same `Task` but with an explicit `request` on the first step, and zeroed-out `request`s on the others. This one actually works.

[2019-03-20 18:11] abayer commented on #598
And it also works with no explicit `request` on the first step and the rest zeroed out.

[2019-03-20 18:43] bobcatfish commented on #598
Awesome, thanks for adding the repro case @abayer !

Quick question, are you creating Tasks that have 30+ steps in them?

[2019-03-20 19:12] pivotal-nader-ziada commented on #216
/assign

[2019-03-20 19:12] pivotal-nader-ziada commented on #260
/assign

[2019-03-20 19:24] abayer commented on #598
Apparently? =) More likely is that the cases where this showed up were on a cluster running other pipelines etc, so that the nodes weren't as empty as they were in my test case.

[2019-03-20 21:20] bobcatfish commented on #644
Hey @RXminuS ! It's a good question :D The main distinction is that Argo itself is more general purpose, and with Tekton Pipelines we are aiming specifically and only for CI/CD use cases. We might have more direct overlap with Argo CI or CD, but we've been in contact with some of the Argo folks, and hopefully in the long run we can collaborate.

If you are interested [we created this spreadsheet a

[2019-03-20 22:35] bobcatfish opened #646 "Fetching empty GCS storage bucket of type `dir` fails"
# Expected Behavior
If a user is invoking a Task that needs a GCS bucket, sometimes that bucket will be empty and will be populated by the Task.

It should be possible to fetch this empty bucket and use it in the Task.

# Actual Behavior
If you try to use [a GCS storage resource](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#gcs-storage-resource) with the `dir` flag set as an

[2019-03-20 23:38] bbrowning commented on #598
Whether you have to explicitly define requests in your steps or not depends on how your underlying Kubernetes cluster is configured. Some clusters are configured to provide default request values for all containers if one isn't otherwise specified. See https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/

In the cluster @abayer is using it sounds like perhaps

[2019-03-21 00:12] abayer commented on #598
It was GKE, fwiw

[2019-03-21 13:28] RXminuS commented on #644
Thanks for the answer, again it was hard to phrase the question without coming across hostile but your response is super clear and kind :-)

I'll have a look at the document. Personally I really like it when projects put similar solutions front and center and highlight the differences as well as similarities.

Vue is a classic example and I think that could be useful here too. https://vuejs.org/v2

[2019-03-21 14:34] vdemeester commented on #637
@dlorenc I think this can be closed now right ?

[2019-03-21 14:36] dlorenc commented on #637
Yup!

[2019-03-21 14:36] #637 closed

[2019-03-21 14:40] dlorenc commented on #615
It looks like the right way to do this might be with "Additional Printer Columns":
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns

[2019-03-21 14:41] dlorenc commented on #615
@chmouel are you still hoping to do this?

[2019-03-21 14:55] dlorenc commented on #567
At some point we may want to split examples to a new repo. I'll write up a quick proposal here for it.

[2019-03-21 14:58] dlorenc opened #649 "Split examples out to a new repo"
This is a proposal to move examples to a separate repo. Currently we have examples in this repo, but this might lead to a few issues eventually:

- We want lots of examples, without bogging down the submit queue for tektoncd/pipeline itself
- We want some notion of "supported, maintained" tasks/pipelines that can be used directly
- We want the community to help curate these

Some ideas to think th

[2019-03-21 15:01] dlorenc commented on #649
Ref #567
Ref #568
Ref #558
Ref #535
Ref #536
Ref #530

[2019-03-21 15:14] dlorenc commented on #649
cc @bobcatfish any other concerns to think through here?

[2019-03-21 16:29] dlorenc commented on #649
Strawman for tests:

Each example pipeline/task must also specify a `Pod` yaml file in the same directory. We'll have a runner that creates that `Pod` in the same cluster the example ran in and validates that it worked correctly. Exit code of 0 means pass, anything else is failure.

Our test runner then goes:

1. kubectl create -f example.yaml
2. Wait for the resource to complete
3. Create the tes

[2019-03-21 16:45] vdemeester commented on #649
@dlorenc I'm very much for a à-la-`build-template` repository that would hold `Task` and `Pipeline` definitions (and some associate run to test them).

On tests, additionally, if we setup some CI on this repository, we would need some daily build with current release and/or current master :dancer:

On updating them with API changes, it's gonna be a good exercise for us (to hopefully not break them

[2019-03-21 18:40] #456 closed

[2019-03-21 19:18] bobcatfish opened #652 "Setup auto config application for Prow"
# Expected Behavior
When we make changes to [our prow config](https://github.com/tektoncd/pipeline/blob/master/infra/prow/config.yaml):

1. The pull request that proposes the changes should verify them as much as possible
2. Once they are merged, they should be automatically applied to our prow cluster

# Actual Behavior

1. We have nothing verifying our config.yaml changes
2. Once the changes are

[2019-03-21 20:47] bobcatfish commented on #289
I don't think we've seen _this_ particular flake in a while, closing this issue.

[2019-03-21 20:47] #289 closed

[2019-03-22 00:03] #528 closed

[2019-03-22 00:03] #529 closed

[2019-03-22 09:11] skeeey commented on #549
@bobcatfish the latest code does not allow user to use `unnamed` step, is it right? when I apply a task that has unnamed steps, the below error will be printed

[code]

[2019-03-22 10:01] skeeey commented on #549
I send out a PR to add a step name to `taskrun` status

[2019-03-22 15:06] dibbles opened #659 "Update to support latest knative/pkg: Implentation issues such as: ClusterTask does not implement apis.Validatable"
# Expected Behavior

No errors when performing a go build and using github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1 imports

# Actual Behavior

Seeing errors building ...... specifically looks like changes to knative/pkg/apis last night have caused issues for tekton

Caused by changes here :- https://github.com/knative/pkg/commit/60fdcbcabd2faeb34328d8b2725dc76c59189453

[code]

# Steps to

[2019-03-22 15:07] vdemeester commented on #659
We'll have to update some dependencies :angel:
/assign

[2019-03-22 15:37] athrane opened #660 "Some links are broken on the development page (in the requirments section)"
# Expected Behavior
The links
- Install required tools and setup GCP project
- Create a GKE cluster

should point to a valid URL.

# Actual Behavior
GitHub reports 404.

# Steps to Reproduce the Problem

1. Go to the page: https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md#requirements
2. Click on the two links mentioned above
3. Observe the 404.

# Additional Info

[2019-03-24 00:59] zxDiscovery opened #664 "Can we restart taskrun or pipelinerun when the task or pipeline complete or failed"
# Expected Behavior

The `tektoncd/pipeline` can restart their task.

# Actual Behavior

I always delete the current complete `taskrun` and re-apply this `taskrun` to restart the `task`.

So I just want to know does the `tektoncd/pipeline` has the feature to restart the `task`?

# Additional Info
I also log an issue for `knative/build` https://github.com/knative/build/issues/580

[2019-03-25 11:04] #660 closed

[2019-03-25 11:18] rikameajay1 opened #673 "Is only google cloud cluster supported?"

[2019-03-25 11:40] ImJasonH commented on #673
No, any Kubernetes cluster should work, including other Kubernetes service hosts (EKS, AKS, etc), standard Kubernetes installations, and minikube.

If you find something that doesn't work please file an issue.

[2019-03-25 11:40] #673 closed

[2019-03-25 14:58] #659 closed

[2019-03-25 17:09] abayer commented on #27
Doc now has a bunch of stream-of-consciousness thoughts and some very rough mockups for CRD changes. As I mention in the stream of consciousness bit, I think that manual approval and "wait for condition" in general probably shouldn't be in the first push - we should start with "execute this taskrun if..." and "execute these steps after a taskrun or pipelinerun if...", making sure the condition che

[2019-03-25 21:47] abergmeier commented on #623
Sorry, of course. What is the best way to report the tekton version? Kubernetes is OpenShift 3.9.

[2019-03-26 09:14] hrishin commented on #549
Hi @skeeey
What do you mean by latest code? I've tried from last [release](https://github.com/tektoncd/pipeline/tree/v0.1.0), there [unamed task](https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/taskrun-unnamed-steps.yaml) is working.

Hi @bobcatfish @vdemeester @ImJasonH
Could you please confirm if we have dropped the support for unamed steps?

[2019-03-26 21:03] #252 closed

[2019-03-26 23:41] bobcatfish opened #682 "If an init container in a TaskRun fails, entire TaskRun should fail"
# Expected Behavior

If an init container in the `Pod` created for a `TaskRun` fails, then the subsequent steps/containers will not be able to run. Therefore in this case, the entire `TaskRun` should be marked as failed.

# Actual Behavior

If an init container fails, the `TaskRun` status makes it look like it is still executing (i.e. the status of the init containers is not taken into account whe

[2019-03-27 00:06] bobcatfish commented on #682
Looking at this a bit more, the problem might be a bit deeper than I thought, I'm seeing the same behaviour even when it's a step that fails, i.e. the status stays at:

[code]

:thinking:

[2019-03-27 01:38] skeeey commented on #549
@hrishin not the last release, I build the master code, :-)

[2019-03-27 04:39] mikeykhalil opened #683 "Approver requirements link is broken"
# Expected Behavior
Approver requirements link takes you to the document which goes over requirements to become an approver.

# Actual Behavior
Approver requirements link takes you to 404 page

# Steps to Reproduce the Problem

1. Navigate to this page https://github.com/tektoncd/pipeline/blob/master/CONTRIBUTING.md#development-process
2. Click on `approver requirements` link

# Additional Info

[2019-03-27 04:56] mikeykhalil commented on #627
I was going to try to fix this issue, if nobody has jumped on this yet. Just getting my dev environment setup, but will report back once I make some progress.

I don't plan on tackling the problem mentioned in the **Additional Info** portion, though. That does seem like something that needs to be addressed. It almost feels like a separate issue though, if I understand it correctly.

[2019-03-27 05:46] skeeey opened #685 "Doc: How to use generate name to replay Task"
# Expected Behavior

It should be possible to use [`generateName`](https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values) like functionality to create `TaskRun` yaml definitions such that the definition in a yaml file can be reapplied.

# Actual Behavior

I cannot reapply a `taskrun` when the `taskrun` fails

# Steps to Reproduce the Problem

1. apply a `taskrun` with a bro

[2019-03-27 06:06] vdemeester commented on #682
/assign

[2019-03-27 07:17] vdemeester commented on #682
Reproduced by the following `TaskRun`. I think the `entrypoint` waits for ever in case of one step failing  — looking into fixing that.

[code]

[2019-03-27 08:52] #683 closed

[2019-03-27 11:33] afrittoli commented on #649
I like the idea of a separate repo.

I think we'll need to have some type of cross-testing: we could run the examples against API changes as part of the `pipeline` repo CI, so that we can detect if a change breaks any example. To begin with such tests could be informative only; once the APIs are declared as stable they might even be made blocking.

This brings two benefits: keep the examples in a

[2019-03-27 11:57] hrishin commented on #685
Thanks for reporting this issue @skeeey. One way to solve this issue is to delete the `taskrun` and create it again or create the `taskrun` with a new name (could document it for the time being if its not done yet) :+1: . Totally agree with the pain of it. However, this is how in general `kubrenetes` works, right? I mean unless a resource is not changed it doesn't accept any modification. :(

It m

[2019-03-27 12:08] vdemeester commented on #685
Agreeing with @hrishin :angel:

That said, there is a concept of `generateName` in kubernetes (on [ObjectMeta](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#objectmeta-v1-meta)) that we could maybe use and support in tekton — what would happen is each time you apply the yaml, it creates a new taskrun from the prefix you specified in `generatedName`.

cc @bobcatfish

[2019-03-27 12:24] hrishin commented on #664
Thanks! for reporting this issue @zxDiscovery :+1:. Sorry to say this, as far as I know, its not possible :(.

The disucssion is going this issue https://github.com/tektoncd/pipeline/issues/664. We would love to hear some ideas or paposals to solve this problem :)

Does that helps?

[2019-03-27 12:32] chmouel commented on #685
I think it may be better to have an incremental number (ie -1 -2 -3 etc..) than random suffix,

[2019-03-27 17:18] #682 closed

[2019-03-27 18:34] bobcatfish commented on #682
Awwwwwesome @vdemeester , can confirm that the problem I was having yesterday isn't happening anymore today!!

[code]

Thanks for the fix - so fast!!!! :racing_car:

![a cat staged in front of a laptop typing very quickly](https://user-images.githubusercontent.com/432502/55102697-3a910b00-5084-11e9-9892-2dc8a20c39f1.gif)

[2019-03-27 21:29] dwnusbaum commented on #598
I'd like to pick this up. @bbrowning's proposal to unset all of the requests except for the largest one seems good to me. A few things that I'm not sure about are:

* What should we do if there are no requests set at all? I guess we check if there is a `LimitRange` in the current namespace and use its `defaultRequest` setting?
* What happens if a container specifies a cpu/memory limit but not a re

[2019-03-28 01:35] bobcatfish commented on #530
This is what I did manually for the 0.2.0 release:

[code]

Note that hub asked me for my github username + pass - not sure how we'll pass this info to hub in automation, looks like it stores some token info in `~/.config/hub`

To find the committers, I ran `git log --format=short c1500fa...7c43fba | grep Author | sort | uniq` (where the commits are the v0.1.0 and 0.2.0 tags) then manually looked

[2019-03-28 06:05] skeeey commented on #685
@hrishin

I think in this case, the resource is changed, I change the  `taskRef` from

[code]

to

[code]

from the code, the problem is the judgement [`IsDone()`](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/taskrun.go#L158), this function check the `taskrun` condition status, if the condition status is not `Unknown` the reconciler will think `taskrun` is done

[2019-03-28 07:42] vdemeester commented on #664
Closing this one as a duplicate of #685 (@hrishin you linked the wrong issue :nerd_face:)
/close

[2019-03-28 07:42] #664 closed

[2019-03-28 07:54] vdemeester commented on #685
My thought is : a `TaskRun` is "immutable" (in its weird way), meaning once a taskrun has been successfully created, it shouldn't be updated (or allowed to be updated). I would make the parallel with docker containers : you can run as many containers from the same image, but they will all, in the end, have a different id (and names potentially).

That's why I think we should look into supporting `

[2019-03-28 08:04] skeeey commented on #685
@vdemeester thanks for your clarify, If we don't want to a taskrun to update, I think the `generatedName` is a good solution

[2019-03-28 19:01] girishramnani commented on #615
I can work on this @dlorenc, I have this much output working.
[code]

I am not sure how to get `reason` out of all the `steps`. maybe adding an extra field called `AggregateReasons` which holds all the reasons as a comma separated string can be a possibility @chmouel

[2019-03-28 19:18] girishramnani commented on #615
Opened a PR for this https://github.com/tektoncd/pipeline/pull/694

[2019-03-29 02:51] zxDiscovery commented on #685
If we use `generatedName`,  the command `kubectl apply` should be replaced by `kubectl create`.
Do we need to update the Document? @vdemeester

[code]

[2019-03-29 08:25] zxDiscovery opened #696 "The current taskrun, pipelinerun and also the pod generate by the taskrun doesn't have running status"
# Expected Behavior

The current taskrun, pipelinerun and also the pod generate by the taskrun should show a running status for user.

# Actual Behavior

[code]

I see the pod status changed from `PodInitializing` to `Completed` directly. The taskrun status always `unknown`.  I think this maybe make user confuse if user start a long time task for his project when the status always show `Init`, `Po

[2019-03-29 11:03] #615 closed

[2019-03-29 11:57] pradeepitm12 commented on #540
Hello @bobcatfish
Need your thoughts on this.
1-  A service outside of tekton that watches tekton object and expose it to prometheus.
2- Introduce an endpoint in the tekton pipeline itself to expose all the metric to Prometheus.

[2019-03-29 12:44] larson004 commented on #646
This seems to be an issue with gsutil. This is the same issue, but for rm command.
https://github.com/GoogleCloudPlatform/gsutil/issues/417

gsutil fails for both
`gsutil cp -r gs://empty-bucket /workspace/bucket`
and
`gsutil cp -r gs://empty-bucket/* /workspace/bucket`

[2019-03-29 20:19] bpowell opened #698 "Waiting for connection, timeout with task and taskrun"
# Expected Behavior
`kubectl apply -f taskrun.yml` to be successful

# Actual Behavior
[code]
# Steps to Reproduce the Problem

1. Install tekton in EKS `kubectl apply --filename https://storage.googleapis.com/tekton-releases/previous/0.2.0/release.yaml`
2. create `taskrun.yml` with
[code]
pulled from the [tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task)
3. run `ku

[2019-03-31 02:46] dicarlo2 opened #701 "Is Tekton compatible with injected sidecars? (E.g. istio)"
How does Tekton handle injected sidecars? Off the top of my head, potential issues:

1. Are containers run by Tekton (git-init, creds-init, etc.) resilient to an unavailable network on pod startup. Use case: Service mesh (istio, linkerd) sidecars can take some time on startup to configure the proxy. During that time, all network connections will fail.
2. Will Tekton kill injected sidecars (or dele

[2019-04-01 00:45] pickledrick commented on #633
Thanks for the help @bobcatfish !

[2019-04-01 00:45] #633 closed

[2019-04-01 09:02] ffahri commented on #698
Could you check your ec2 security groups it may be causing for that

[2019-04-01 17:07] bpowell commented on #698
@ffahri what should I be looking for in my ec2 SG? I can see in my cluster that tekton-pipelines-webhook.tekton-pipelines.svc routes to the correct pod  with `nslookup`.

[2019-04-01 21:25] bpowell commented on #698
Thanks @ffahri I was able to figure it out. The worker nodes need to be able to talk to the control plane over port 443.

[2019-04-01 21:25] #698 closed

[2019-04-02 00:21] dicarlo2 commented on #701
Looking through the codebase, here are the answers:

1. No. Containers will not wait for injected sidecars nor are they resilient to network failure. E.g. git-init is a very simple container which just [runs](https://github.com/tektoncd/pipeline/blob/9428c431bcef5d7c70246160fb6d3c210b6c831c/cmd/git-init/main.go#L57) a few git commands without retries. Containers defined in steps, either added auto

[2019-04-02 09:17] zxDiscovery opened #709 "Starting container process caused "exec: \"/ko-app/creds-init\": stat /ko-app/creds-init: not a directory""
# Expected Behavior

The [task](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task) run normally.

# Actual Behavior

The pod generate by the taskrun init failed.
[code]

# Steps to Reproduce the Problem

Follow the step https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task

# Additional Info
I use the `master` branch latest code, and compile the code use `ko a

[2019-04-02 10:26] vdemeester commented on #709
@zxDiscovery thanks for the report :angel:
Which version of `ko` are you using ? In the [requirements](https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md#requirements) we *now" require `ko` v0.1.0 (https://github.com/google/ko/releases/tag/v0.1) — if you have an older version of ko, it might not work (as the binary in the images are gonna be in the wrong place). Sorry for the inconven

[2019-04-02 11:59] zxDiscovery commented on #709
@vdemeester Thanks, I update the ko then this problem has been solved. So close this issue

[2019-04-02 11:59] #709 closed

[2019-04-02 13:34] abergmeier opened #712 "Support Slack"
Maybe create a Tekton channel in Kubernetes Slack?

[2019-04-03 05:16] mikeykhalil commented on #627
Haven't had a ton of time to look at this. I added a few tests to pipeline/pkg/templating/templating_test.go` based off this issue. I would have expected these new tests to fail, but they passed without any source code changes. So I'm guessing that if the issue is still present, it's further up in the call stack and is just a matter of handling the error from the templating package properly.

Anyw

[2019-04-03 10:01] runzexia commented on #685
How about refusing a user to modify a Run that has ended by admission webhooks?

[2019-04-03 18:16] pivotal-nader-ziada commented on #712
There is a slack channel currently in the knative slack https://knative.slack.com/messages/CDCQ72D0R

[2019-04-03 18:23] dwnusbaum commented on #598
Here's an example from some local testing I've done showing that we can't just unset `requests` other than the largest one. Say we have a cluster whose `Nodes` all have 5Gi of memory, and we want to run a `Task` with 3 steps with the following resource settings:

[code]

The resulting `Pod` requires a `Node` with 4Gi of memory, and each container has a 3Gi limit. If we delete the requests on  step

[2019-04-03 20:50] bbrowning commented on #598
@dwnusbaum Great catch, and you're right we can't just clear most of the requests but instead need to explicitly request something very small or perhaps 0. I don't actually know if 0 has any special meaning compared to a very small request value.

[2019-04-04 00:10] sthaha commented on #609
And it seems we also need a **hack** `oc adm policy add-cluster-role-to-user cluster-admin -z tekton-pipelines-controller -n tekton-pipelines` for the pipelines-controller to work

[2019-04-04 02:47] vincent-pli opened #717 "The output of "kubectl get taskruns" was really confusing"
# Expected Behavior
When I execute `kubectl get taskruns`, I expect to get a clear and helpful information.
These information could tell me the status of `taskruns` at least.

A simple one should look like this:
[code]

A better one like this:
[code]

# Actual Behavior
[code]

This output seems like the "Pod condition" ?  The "False/True" things.  I think it's not make sense to display these infor

[2019-04-04 13:04] chmouel commented on #609
@sthaha is it on 3.x or 4.x ? On os4.x with 0.2 release, webcontroller does not even start for me :

[code]

I'll start a new issue for this (i have tested the fix to bind it to another port and it will run)

[2019-04-04 13:07] chmouel opened #719 "webhook service is binding to a priviliged controller"
# Expected Behavior

Under OpenShift which does not allow by default to run pods as user the webcontroller is crashing due of this error message :

[code]

# Actual Behavior

Install tekton onto openshift

# Additional Info

1. Tekton 0.2 release
2. OpenShift 4 latest installed onto AWS

[2019-04-04 13:10] vdemeester commented on #719
/assign @chmouel

[2019-04-04 16:07] #719 closed

[2019-04-04 19:11] dicarlo2 opened #724 "git-init should not fail if it cannot symlink into the root"
# Expected Behavior

git-init can be run as non-root

# Actual Behavior

git-init fails because it tries to symlink into the root.

# Steps to Reproduce the Problem

Create a task/taskrun with

1. security context set to non-root user (see https://github.com/tektoncd/pipeline/pull/714)
2. git input resource

# Additional Info

Re: https://github.com/tektoncd/pipeline/blob/d719494eac0eb393bd674ea83

[2019-04-04 19:19] dicarlo2 opened #725 "Steps with workingDir refuse to start because the directory does not exist on pod startup"
# Expected Behavior

We can set the workingDir to a subdirectory of the workspace directory (e.g. the one we plan to populate with a git repository).

# Actual Behavior

Pods fail because the containers can't `chdir` into a directory that does not exist. This is likely a bug due to the move from init containers (where the directory would have existed since they start in order).

# Steps to Reprodu

[2019-04-04 19:58] dicarlo2 opened #727 "Proposal: graceful sidecar support"
# Expected Behavior

Pods injected with sidecars run to completion.

# Actual Behavior

They typically fail because the sidecar is not ready and the steps depend on it. If the steps succeed, the pod does not exit because the sidecar is not killed.

# Proposal

**Use Cases:**

 - Environments that require injected sidecars for pods to interface with the network correctly. Concrete example: we use c

[2019-04-04 22:11] chmouel opened #729 "if a side container in a taskrun failes, entire taskrun should fail"
Reusing the title  from #682 since they are the same but this time we are using side container instead of init ones

# Expected Behavior

When you have one step that fails it should be marked as fail and not continue to the next step

# Actual Behavior

Continue to the next steps and show as Completed/Succeeded

# Steps to Reproduce the Problem

Sample task

[code]

First step should success, seco

[2019-04-05 07:03] vdemeester commented on #729
@chmouel So… it's a bit trickier. As we don't use `initContainers`, all containers in a `Pod` starts in parallel… So the flow is the following:
- all the container are starting, initial step command being "transformed" using `entrypoint …`
- if it's the first step, it starts right away, and write a file when finished (if failed, it's gonna prepend `.err` to that file)
- if it's not the first step,

[2019-04-05 07:30] vdemeester commented on #725
/assign @dicarlo2

[2019-04-05 07:42] vdemeester commented on #717
/assign @vincent-pli

[2019-04-05 07:44] chmouel commented on #729
I see thanks for taking the time to describes how it works, I guess then it's a UI problem, to check if the containers have failed or not.

Is it a pattern that we are going to keep ? if it is then perhaps we can document it  ? (I would not mind doing it)

[2019-04-05 07:49] vdemeester commented on #729
Right… Good question :sweat_smile:. I'm not a huge fan of " it's a UI problem, to check if the containers have failed or not." as it means each UI implementation will have to have this knowledge (and if it changed or evolve, well. we break them). I think that:

1. We should document it (for sure !)
2. We may want to think of a better way to show that those steps are skip due to previous errors. In

[2019-04-05 07:56] chmouel commented on #729
Perhaps as a first step,  we can maybe fix that the status is not set as "Succeeded" when there is a failure ? For example :

[code]

the `type`  here get sets as failed after all the task has finished ?

that would make explicit that there is an issue for UI to then go digg into the issue ?

[2019-04-05 08:07] vdemeester commented on #729
@chmouel as discussed on Slack, this conditions are "standard", and it is *kinda explicit* for the consumer that this is a failure : condition of type Succeeded is false — hence it's a failure. Also this is what knative/serving is looking for and it would be a huge API changes just to rename it :sweat:

[2019-04-05 08:11] chmouel commented on #729
fair enough, so let's try to document this, then. (there is a nice github tag for this?)

[2019-04-05 10:23] vdemeester commented on #618
/assign @khrm

[2019-04-05 10:45] vdemeester opened #731 "TestTaskRunTimeout is flakey : fix timeouts"
# Expected Behavior

`TestTaskRunTimeout` should pass all the time :100:

# Actual Behavior

`TestTaskRunTimeout` is failing a lot. I'll skip it so that

Here are some examples of failures:
* From https://github.com/tektoncd/pipeline/pull/713:
  * https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/713/pull-tekton-pipeline-integration-tests/1113345177981816832/
  *

[2019-04-05 12:54] khrm commented on #618
@abergmeier
I am not able recreate this issue for your scenario. My pod isn't getting stuck in in setup state. I used following taskrun.yaml:
[code]

[2019-04-05 14:07] imjasonh opened #733 "Display last updated time for Tasks, Pipelines, Resources"
# Expected Behavior

After updating a Task, Pipeline or Resource definition, `kubectl get pipeline my-pipeline` should give some indication of when it was last updated.

# Actual Behavior

Instead, it only displays the resource's age (time since creation), which is somewhat less helpful.

[code]

# Steps to Reproduce the Problem

1. Define a Task, Pipeline, Resource
2. Update it
3. `kubectl get` i

[2019-04-05 14:15] ImJasonH opened #734 "Schedule Pods in resource-constrained environments"
# Expected Behavior

In a resource-constrained environment like a namespace with [resource limits](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/) imposed (or just an insufficiently provisioned cluster), creating a TaskRun (Pod) that exceeds those limits should not fail the TaskRun, but should instead continually try to create the Pod until it either

[2019-04-05 14:26] nikhil-thomas commented on #733
/assign @nikhil-thomas

[2019-04-05 17:15] hrishin commented on #233
hey @abayer @bobcatfish @demobox

Considering this would be fine to declare "wait until condition" at `pipeline task` (just like `RunAfter`) level rather `task` definition?

Could you please shed some light on this?

[2019-04-08 05:23] #646 closed

[2019-04-08 15:22] deedubs commented on #35
(General CLI Request)

I think it would be great if we could run tasks locally.  I think the concept of `--inputs-from` from concourse would be interesting to allow the local CLI to grab some values from the remote pipeline to run locally

[2019-04-08 16:02] mustafaakin opened #742 "Publish Events on Step & Task Completions"
# Expected Behavior

Have more knowledge of what happened in the PipelineRun or TaskRuns

# Actual Behavior

There are only Succeeded or Failed events for whole Pipeline or Conditions for TaskRun/PipelineRun.

# Additional Info

As the containers in the pod run in parallel and they are all starting at the same time and ending in arbitrary times, it can be hard to debug what went. Publishing events

[2019-04-08 16:44] #717 closed

[2019-04-09 11:29] khrm commented on #742
/assign khrm

[2019-04-09 15:28] houshengbo opened #746 "Some integration tests failed on local kube environment"
I am using kube cluster installed by docker desktop, edge version 2.0.1.0.
After I launched the kube cluster, I install Istio and knative with the following commands:
[code]

[code]

[code]

Then, I went the directory of tektoncd pipeline and ran the test command:
[code]

I got quite some warning and error messages:
[code]

I was kindly wondering what are missing and what could be the reasons for

[2019-04-11 03:45] sbose78 opened #749 "[Discussion] Unify GitSource CRD & PiplelineResource of type Git"
Hi,

I'm Shoubhik from the OpenShift Developer Console team.

The DevConsole operator team is using a CRD called `GitSource` which represents a Git repo. Here's how it looks like

https://github.com/redhat-developer/devconsole-operator/blob/master/deploy/crds/devconsole_v1alpha1_gitsource_crd.yaml

[code]

We use this for in our _suite_ of CRDs which also consists of Component CRD and GitSourceAna

[2019-04-11 09:24] sbose78 commented on #749
( edited the CRD type :) )

[2019-04-11 14:03] #724 closed

[2019-04-11 15:27] jstrachan opened #751 "allow controller to be configured to watch a single namespace"
some clusters get locked down so getting clusterroles applied can be challenging; so it'd be nice to have a namespace CLI argument / environment variable so that the tekton controller can be configured to watch a specific namespace only for CRDs rather than always `v1.NamespaceAll`

then if a namespace is specified it'd call `.WithNamespace(ns)` on the informer factory stuff: https://github.com/te

[2019-04-11 16:35] gorkem opened #752 "Cluster PipelineResources should be able to reference cluster-registry"
`PipelineResources` of type `cluster` defines the similar kind of data as [Cluster-registry ](https://github.com/kubernetes/cluster-registry) APIs that comes from kubernetes multicluster-sig. It should be possible for the `cluster` `PipelineResource` to reuse or reference clusters that are defined as part of the cluster registry.

[2019-04-11 17:31] jstrachan commented on #751
this will also make it easier for us to test tekton in preview environments (in temporary namespaces for each PR etc)

[2019-04-11 22:05] caniszczyk opened #753 "Complete CII Best Practices Badge"
Generally a good thing to do recommended for all LF related sub foundation projects:
https://bestpractices.coreinfrastructure.org/en

[2019-04-11 23:12] caniszczyk opened #754 "Move to CDF/LF CLA"
We need to move to the LF/CDF CLA.

[2019-04-11 23:13] caniszczyk commented on #754
I will connect @dlorenc with the LF IT folks to make this happen

[2019-04-12 03:11] vincent-pli opened #755 ""From" does not work"
# Expected Behavior
This my pipeline:
[code]
I guess it's right, just follow the guide, I expect the task will run as build-model-image -> train
# Actual Behavior
I get error:
**pipelineTask tried to use input resource  not present in declared resources**

# Additional Info
I try to figure out what happened, then find the code in pkg/reconciler/v1alpha1/pipelinerun/resources/pipelinerunresolution.

[2019-04-12 17:18] #598 closed

[2019-04-13 12:11] #701 closed

[2019-04-13 12:14] dicarlo2 commented on #618
+1 for this.

My use-case is we use preemptible instances on gcp so nodes can be randomly deleted and the pods don't seem to be restarted by kubernetes on another node. (Though perhaps I'm missing something here...)

[2019-04-15 06:31] pdutta777 opened #760 "Simple Task creation not working"
After installing onto an EKS cluster, tried running one of the sample task creation (with small edit):

[code]

The task does not get created, and fails.

# Expected Behavior
The task should be created

# Actual Behavior
[code]

# Additional Info
EKS clusters are running 1.11 flavor, and I see that from release v0.2.0 there may be a minimum requirement of version of the Kubernetes cluster?

[2019-04-15 08:03] vdemeester commented on #760
@pdutta777 thanks for the issue. Looking at the errors, it looks like the admission webhook is not started. Can you add the output of the following command here ?

[code]

[2019-04-15 08:16] vincent-pli commented on #755
@vdemeester
Could you take a look this?

[2019-04-15 08:33] piyush-garg commented on #755
@vincent-pli Seems like a document issue. AFAIK, we need to provide resource filed which will be the resource name from the previous task, so your changed input resources for the second task looks fine to me. Can you please point me where the yaml's are.

More @vdemeester can give us info about this. Thanks

[2019-04-15 08:42] vincent-pli commented on #755
Thanks @piyush-garg , I just follow document about `pipelines`:
[](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md)

[2019-04-15 08:51] piyush-garg commented on #755
Ok, Thanks @vincent-pli will fix that.

For your reference, here is an example with the details I provided https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#pipeline

@vdemeester Any thoughts.

[2019-04-15 10:52] pdutta777 commented on #760
[code]

[code]

[2019-04-15 20:23] bobcatfish commented on #712
You can see all of our docs about getting in contact at https://github.com/tektoncd/community/blob/master/contact.md

(And we'll update there once we have our own slack!)

[2019-04-15 20:23] #712 closed

[2019-04-15 20:36] bobcatfish commented on #725
Ah nice one @dicarlo2  - I ran into this while dogfooding as well but wrote it off as https://github.com/moby/moby/issues/32708 and gave up on it (i think that's the same problem!)

Thanks for being proactive and pushing us to actually fix this XD

[2019-04-15 20:51] #755 closed

[2019-04-15 21:37] bobcatfish commented on #701
Thanks for doing this investigation @dicarlo2 !!

If you feel like creating issues in the backlog for any/all of these that would be super cool (and apologies if they already exist and I haven't caught up to them yet haha), in the meantime I've added these to my secret queue of issues to write XD

We'd need:
- To add sidecars to the Task spec
- Anything else?

I'm not familiar with this use case -

[2019-04-15 21:51] bobcatfish commented on #753
Notes to self:

- [ ] Do this for all repos
- [ ] Once this is done, I should add this to our docs on the process for adding new repos

[2019-04-15 21:57] bobcatfish commented on #701
Aaaand of course looks like ~50% of this is covered in the proposal in https://github.com/tektoncd/pipeline/issues/727 :sunglasses:

No issues yet (I don't think :crossed_fingers: ) for adding sidecars to the Task spec, adding retries to PipelineResources and moving creds-init to a step

[2019-04-15 22:20] bobcatfish commented on #727
Oh this is awesome - I have some sidecar related plans I need to propose soon and I'll need this as well :pray::pray::pray: (plus did NOT anticipate handling this haha)

Brainstorming other ideas:
- Make the entrypointer binary responsible
- Make an (init ?) container repsonsible for this <-- could be cool?

More brainstorming:
- Could we impose an interface on the sidecar containers, e.g. that th

[2019-04-16 15:26] bobcatfish commented on #727
Just realized this won't work b/c the sidecars won't start until the init containers are done :woman_facepalming:

Maybe the same thing with a container? I guess the question is whether it's simpler to have the controller take care of this (via writing to a volume as you are suggesting @dicarlo2 ) or have a container in the pod take care of it. I'm torn but leaning toward container in the pod :thi

[2019-04-16 17:07] vdemeester commented on #35
/assign

[2019-04-16 17:18] dlorenc commented on #754
Just chatted with Vasu from the LF on this. There's a backlog of a few weeks to get new projects onboarded to the LF CLA, but we're on the list now. I'll share some more info on the exact timeline and process shortly.

[2019-04-16 22:23] bobcatfish commented on #35
![image](https://user-images.githubusercontent.com/432502/56248010-891a3f80-605b-11e9-8a1b-ad4e435dce59.png)

[2019-04-16 22:27] bobcatfish commented on #729
I just want to double check @chmouel @vdemeester do we want to keep this open so we update the docs? or did that already happen?

[2019-04-16 23:04] bobcatfish commented on #254
I've been thinking about this some more - and I've finally come around to the idea of Task level environment variables!

(And I think there's a good chance seeing @abayer 's example translation b/w the Jenkins X yaml and the Task yaml helped convince me XD)

Here is my thought process: If multiple steps in one `Task` need the same environment variables, making the `Task` author repeat the environm

[2019-04-16 23:26] bobcatfish commented on #731
@vdemeester just let me know if you want a break from the investigation for a while, I'd be happy to take it on for a while :dancer:

[2019-04-17 07:21] vdemeester commented on #731
/assign @bobcatfish

The more the merrier (especially as I'm running out of time this week)

[2019-04-17 07:25] vdemeester commented on #729
@bobcatfish we may want to keep it opened until docs are clearer about it, indeed

[2019-04-17 07:32] vdemeester commented on #254
Agreed !

Agreed too ! :angel:

That's a good point, we would do more or less the same as `deployment.template` (or `job.template`) then :angel:

[2019-04-17 11:16] girishramnani commented on #733
I can work on this, the way to resolve this is same as https://github.com/tektoncd/pipeline/issues/615. I would have to add `additional-printer-columns` https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns

[2019-04-17 17:17] sbwsg commented on #734
/assign @sbwsg

[2019-04-17 18:53] bobcatfish commented on #696
This is definitely confusing if you haven't seen it before! This actually comes from [the kubernetes API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties):

So the logic here is that `Succeeded` is:

* `True` if it has succeeded
* `False` if it failed
* `Unknown` if we don't know yet, i.e. it is runnin

[2019-04-17 18:58] bobcatfish commented on #746
Hey @houshengbo !! Sorry you're running into trouble here - I'm not sure what's going wrong but one thing that stands out is:

[code]

So it looks like the kaniko build step is failing - if we could get at those logs we could probably figure out what's going wrong (I'm gonna take a wild guess that it might be permissions related but I'm not sure!).

If you want to take a look at the logs, you'll n

[2019-04-17 19:02] bobcatfish commented on #254
ooo neat, TIL!

[2019-04-17 19:03] bobcatfish commented on #733
@nikhil-thomas let me know if you want to be added to the `tektoncd` org and you can be assigned for real! (but either way we'll consider it assigned to you :) )

[2019-04-17 20:32] dlorenc commented on #749
Thanks for opening this! Would you be interested in coming to one of the upcoming Tekton weekly calls to discuss some goals/ideas for unifying? I wholeheartedly agree with the idea of fewer CRDs :)

[2019-04-17 20:45] sbose78 commented on #749
Sure, I would love to, @dlorenc .

[2019-04-18 02:39] zxDiscovery commented on #696
@bobcatfish I see. Thanks for your reply.

[2019-04-18 02:39] #696 closed

[2019-04-18 08:01] vdemeester commented on #746
@bobcatfish yes, some end-to-end tests may fails locally as they required some "temporarly" changes (ex is https://github.com/tektoncd/pipeline/blob/master/test/e2e-common.sh#L95) or with `KO_DOCKER_REPO`. I think we may need a simple conditional run setup or something when we detect something is missing, but didn't took to much time to think about it yet

[2019-04-18 22:18] bobcatfish commented on #731
tl;dr: The timeout handle and the reconciler disagree about when a Run has timed out.

Okay I have a theory about what's going on. In https://github.com/tektoncd/pipeline/pull/771 I ran the timeout test 10 times (and p.s. this _seems_ to reproduce the issue locally as well), and in https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/771/pull-tekton-pipeline-integra

[2019-04-18 22:20] bobcatfish commented on #731
Can see similar stuff happening in https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/771/pull-tekton-pipeline-integration-tests/1118995157169999873/build-log.txt as well (with "improved" logs):

[code]

`timeout 30s runtime 29.943341324s` DUN DUN DUUUUN

[2019-04-19 17:02] bobcatfish commented on #746
Ah kk so it sounds like the work here is for us to make sure we support local running of integration tests! (And part of that is surfacing errors better if the setup isn't correct...)

[2019-04-19 17:03] bobcatfish commented on #696
Glad that cleared things up, thanks for opening the issue @zxDiscovery !! :D

[2019-04-19 17:06] bobcatfish commented on #749
Nice, I've added this to the agenda @sbose78 ! And [here's the info on our working group meeting](https://github.com/tektoncd/community/blob/master/contact.md#working-group) just in case you hadn't seen it yet. Talk to you soon!

[2019-04-19 17:11] bobcatfish commented on #633
No problem at all, thanks for opening the issue @pickledrick !!

[2019-04-19 17:17] bobcatfish commented on #540
My gut feeling is that I'd lean more toward exposing the metrics from Pipelines itself:

Question: I'm not super familair with Prometheus, how vital would it be to making metrics usable? Could we simply emit the metrics, and allow the user to provide their own metrics gathering mechanism (which could be prometheus but could be something else), or would it make more sense for us to include Promethe

[2019-04-19 17:22] bobcatfish commented on #501
Sorry for missing all the thoughts and potential discussion here @dwnusbaum :pray: but thanks so much for taking this on and fixing it!! :heart:

[2019-04-19 18:10] #254 closed

[2019-04-19 20:36] pwittrock opened #775 "gcs storage input cannot overwrite files from git input"
# Expected Behavior

- git input creates dir in `gitspace`
  - has file `gitspace/foo/secret`
- gcs input copies `secret` file into `gitspace/foo` dir

- gcs overwrites the existing file in the git input with the one from gcs

# Actual Behavior

- gcs doesn't overwrite the existing file in the git input with the one from gcs

# Steps to Reproduce the Problem

[code]

# Additional Info

[2019-04-19 21:01] afrittoli commented on #754
Thanks for this. For corporate contributors, does the CDF require companies to sign a dedicated CCLA?

[2019-04-20 11:52] hrishin opened #777 "Pipeline doesn't allow different service accounts for different tasks"
Right now a `serviceaccount` can be passed to `tasks` through `pipelinerun` only. In result, only one `serviceaccount` has to share by all `tasks` in `pipeline`.
What in case, a user wants to pass the different `serviceaccounts` to different `tasks` in the `pipeline`.

# Expected Behavior
The `pipeline` specification should allow multiple different `serviceaccounts` for `tasks` so that different `

[2019-04-22 17:49] dlorenc opened #778 "Design: Support for Manipulating PullRequests"
# Expected Behavior

Task/Runs should be able to declaratively manipulate PullRequests (across SCM providers), similarly to how they can manipulate Images, k8s Clusters, and the other PipelineResources.

# Actual Behavior

This is not possible today.

# Additional Info

Potential Design Document/PRD: https://docs.google.com/document/d/1MXy-AOZmrgNusX710MgeERin_RkjNhnl0P5e5-ROhuc/edit (shared with

[2019-04-22 19:17] abayer commented on #751
My gut instinct is to add this as a flag to the controller - defaulting to all namespaces, optionally scoping to a single namespace. @vdemeester, @bobcatfish, @dlorenc, @ImJasonH - does that sound like the right approach to y'all?

[2019-04-23 01:33] ImJasonH opened #781 "RFC: "Script Mode" for task steps"
(Much of this proposal is cribbed from proposals \@ahmetb has previously made in other venues, ideas are not purely my own)

# Expected Behavior

Users have an easy cruft-free way to express a multi-statement script in the body of a Task step, without having to understand advanced topics about containers, like what an entrypoint or a command is.

Users should only need to have passing familiarity

[2019-04-23 03:30] abayer commented on #781
This seems worthwhile - I’ve been thinking along similar lines for Jenkins X syntax on top of Tekton’s. I’ll think on this more tomorrow, but in re the shell - we probably would want to default to `/bin/sh` and allow overriding it.

[2019-04-23 07:34] nikhil-thomas commented on #733
@bobcatfish Thank you for adding me :+1:

[2019-04-23 07:34] nikhil-thomas commented on #733
/assign @nikhil-thomas

[2019-04-23 09:00] mrtylerzhou opened #782 "kubectl logs always get a badrequest error even through the status is success"
[code]

but the status is **success**

[code]

the task defined like below(i just copy from your example and made a simple modification)

[code]

[2019-04-23 09:25] ImJasonH commented on #782
That error indicates that you need to specify a container name to get logs, not that the TaskRun itself failed.

You can also get logs for all containers with `--all-containers` which we should probably advertise better.

This isn't an issue with Tekton, just a confusing requirement of `kubectl`.

[2019-04-23 09:25] #782 closed

[2019-04-23 10:01] dicarlo2 commented on #727
Yup - I think this makes the most sense for waiting for sidecars to be ready and is the approach implemented in #728.

Ideally we'd support off the shelf arbitrary sidecars, it's probably the most user-friendly and likely easiest to configure. E.g. for istio, we could certainly wrap the istio proxy with logic to make it conform to a sidecar interface as well as only use that specially wrapped imag

[2019-04-23 10:04] dicarlo2 commented on #727
Also, just fyi, I'll be relatively available to tackle implementing whatever solution we land on for the next week or two. (I.e. I won't disappear again for 7-10 days 😅)

[2019-04-23 12:31] jstrachan commented on #751
I don't mind whether its an environment variable or CLI flag; I find environment variables are easier to conditionally add in YAML but its not a biggie

[2019-04-23 13:19] vdemeester commented on #685
@runzexia that could be an option. Right now our admission webhooks are pretty simple though (aka they don't use the k8s api)

@zxDiscovery maybe yes :angel: This works as is with `generatedName` or do we need to implement something on our end ?

[2019-04-23 14:13] sbwsg commented on #734
Been working through some of the implementation details in a POC but want to drop current working notes here since I likely won't be able to work on it more until tomorrow.

1. Catching a pod failure is relatively straightforward; checking the error message produced by the `createPod()` func in `pkg/reconciler/v1alpha1/taskrun/taskrun.go` reveals the reason. From here it's quick to parse out the e

[2019-04-23 14:43] dlorenc commented on #781
I really like the idea of decoupling a task definition from a container, we'll likely have to do this anyway for other types of Tasks. We've discussed things like JenkinsTasks, SpinnakerTasks, etc.

[2019-04-23 14:44] dlorenc commented on #754
@afrittoli  The CLA will be the standard LF one.

[2019-04-23 14:45] dlorenc commented on #751
This makes sense to me.

[2019-04-23 14:48] dlorenc commented on #644
Awesome, retitled this issue to make the goal of adding a comparison clear.

[2019-04-23 14:51] dlorenc commented on #537
Closing this, it was tracked https://github.com/kubernetes/test-infra/pull/11888

[2019-04-23 14:51] #537 closed

[2019-04-23 14:56] dlorenc commented on #623
Something like: `kubectl get pods --namespace=tekton-pipelines -o=yaml | grep image:` should get the running images and digests.

[2019-04-23 14:57] dlorenc commented on #538
I don't think this is still relevant. Prow can call Tekton tasks already. Closing for now.

[2019-04-23 14:57] #538 closed

[2019-04-23 14:59] dlorenc commented on #535
Ref #778

[2019-04-23 15:01] dlorenc commented on #323
What do you think about keeping a single `StorageResource`, but expanding it to support multiple backing stores? I think that's in-line with what we were thinking for #778 as well.

[2019-04-23 15:02] dlorenc commented on #215
Ref #781

[2019-04-23 15:29] dlorenc commented on #609
Closing, looks like the documentation was added above.

[2019-04-23 15:29] #609 closed

[2019-04-23 16:31] sbose78 commented on #749
Sorry, will add this to my calendar and join the next one!

[2019-04-23 18:27] bobcatfish commented on #652
Moved into the plumbing repo https://github.com/tektoncd/plumbing/issues/1

[2019-04-23 18:27] #652 closed

[2019-04-23 21:11] ImJasonH opened #786 ""TaskRun's declared resources didn't match usage in Task""
# Expected Behavior

I can create a `TaskRun` that pulls source from Google Cloud Storage, entirely specified in one
resource, without having to create a `Task`, `Resource` and `TaskRun` separately.

This is the YAML I'm trying to create:

[code]

# Actual Behavior

That taskrun fails with:

[code]

# Additional Info

If I remove the `name: source` from my `resourceSpec` it fails with `Provided ex

[2019-04-23 21:34] ImJasonH commented on #786
Shash pointed out I need to specify the task input

https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/gcs-resource-spec-taskrun.yaml

[code]

So this is WAI, and I just need to make sure to remember/document that for any Knative Build migrators.

The benefit is that you can skip defining the resource twice if you're going to reuse it in multiple task(run)s.

[2019-04-23 21:34] #786 closed

[2019-04-23 23:10] ImJasonH commented on #781
@dlorenc This proposal still weds us to containers as an underlying implementation, but does start moving us away (optionally) in the API, and could open the door to future divergences from the container type, all inside the standard vanilla `Task` type.

I had _not_ imagined this being a new `Task` sub-type, e.g., `ScriptTask`, without any container-isms involved. It still needs container-isms in

[2019-04-24 16:00] #751 closed

[2019-04-24 19:30] #618 closed

[2019-04-24 22:12] bobcatfish opened #791 "Update integration tests to run TestStorageTaskRun"
# Expected Behavior

We should run all of our integration tests on every PR if possible!

# Actual Behavior

If you look at recent integration test output (e.g. [this one](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/790/pull-tekton-pipeline-integration-tests/1121125444347760642/)) you'll see that `TestStorageTaskRun` is skipped:

[code]

# Additional Info

[2019-04-24 22:22] bobcatfish opened #792 "Start using error wrapping"
# Expected Behavior

When we have layers of function calls that can each return errors, e.g. A->B->C where C returns an error, B needs to return it and then A needs to return that, we should use B and A to add context to that error, but retain the original error from C, e.g.:

[code]

# Actual Behavior

Throughout our codebase, we have many instances of errors being "wrapped" via string formatting

[2019-04-24 22:41] chmouel commented on #792
👍  on dave chenney's pkg/errors package!

It would be nice tho to have a linter that supports that check! I looked around  and i had some hope for [errcheck](https://github.com/kisielk/errcheck) but it doesn't seem to be supported there or in other golinters 😿

[2019-04-25 04:43] u5surf commented on #792
@bobcatfish I'd like to try this issue.

[2019-04-25 09:09] chmouel opened #794 "Liniting errors"
I have launched [golangci](https://github.com/golangci/golangci-lint) on the codebase and there is quite a lot of errors reported in there that may be useful to address/cleanup :

<details>
<summary>
golangci errors list
</summary>

test/builder/doc.go:63:2: `defaultAPIVersion` is unused (varcheck)
	defaultAPIVersion = "a1"
	^
pkg/apis/pipeline/v1alpha1/build_gcs_resource.go:51:5: `validArtifactTy

[2019-04-25 12:39] abergmeier opened #796 "Setup on Minishift"
# Expected Behavior
Install for Openshift should work fine for Minishift.

# Actual Behavior
It cannot even install.

# Steps to Reproduce the Problem

1. `oc new-project tekton-pipelines`
2. `oc apply --filename https://storage.googleapis.com/tekton-releases/latest/release.yaml`

# Additional Info

Error messages are:
[code]

It seems like `system` also needs rights `namespaces`, `clusterroles` a

[2019-04-25 14:10] abergmeier commented on #796
Seems like `system` does not work for MiniShift: https://github.com/tektoncd/pipeline/pull/797

[2019-04-25 17:13] sbwsg commented on #734
I'm going to move this into a design doc. There are enough variables here to seed some discussion and it'd be good to get broader input before committing to one approach.

[2019-04-25 18:32] bobcatfish commented on #727
My bad, I didn't provide enough detail about what I was thinking here: I was thinking instead of having the controller responsible for knowing when the sidecars are ready, have the entrypoint binary do it - but looking at your implementation in #728, I think the direction you've gone is better.

I was thinking originally that having the controller be responsible for paying attention to the sidecar

[2019-04-25 18:38] bobcatfish commented on #727
Oh yeah one more question: @dicarlo2 as part of this work are you also interested in extending the Task spec to include support for defining sidecars? No worries if not, once we have this we can add that in a later iteration :)

[2019-04-25 18:40] bobcatfish commented on #752
Hey @gorkem !

Apologies for the delayed reply - I'm not familiar with the cluster registry API, could you give us an example of what it might look like to define a `cluster` `PipelineResource` that references the cluster registry?

[2019-04-25 18:48] bobcatfish commented on #760
Hm it does look like the webhook is running based on your output :thinking:

If nothing else we should [update our install docs](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines) with the requirements.

Our [dev docs indicate that a minimum of 1.11 should work](https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md#kubernetes-cluster). The clust

[2019-04-25 23:05] bobcatfish commented on #452
Gonna close this for now, will revisit result handling later.

[2019-04-25 23:05] #452 closed

[2019-04-25 23:05] bobcatfish commented on #455
Gonna close this for now, will revisit results handling later.

[2019-04-25 23:05] #455 closed

[2019-04-25 23:41] bobcatfish opened #799 "Update Github release task to scrape initial release notes"
# Expected Behavior

When making a release, we should be able to scrape the release notes from all the PRs since the last release to create a draft release description.

# Actual Behavior

When making a release, you currently have to manually look through all the pull requests and create the release notes, e.g. https://github.com/tektoncd/pipeline/releases/tag/untagged-ae24b5214648d4ec25dc

# Addi

[2019-04-25 23:43] bobcatfish commented on #315
I think we should consider _this_ issue completed once we have something like agreement on a design; then open subsequent issues to tackle the implementation.

[2019-04-25 23:48] bobcatfish commented on #27
I think we should consider this issue completed once we have relative agreement re. the design, then we can open separate issues to tackle the implementation.

Note @abayer that @kimsterv and I are planning to try to flesh out some more requirements next week and collaborate on the doc :D

[2019-04-26 13:04] mgreau opened #803 "SSH authentication (Git) does not work anymore"
# Expected Behavior

As explained in the [ssh-authentification-git doc](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#ssh-authentication-git), it should be possible to use an SSH private key as a Kubernetes Secret for accessing Git repositories.

# Actual Behavior

While it was working with Tekton Pipelines **v0.2.0**, it does not work anymore using the **v0.3.0**. The key verifica

[2019-04-26 15:56] vdemeester commented on #803
/assign

[2019-04-26 22:07] bobcatfish commented on #803
Thanks for fixing this so fast @vdemeester !! I'm gonna re-open this b/c we should have some tests to verify this functionality if we can (let me know if I'm off base and this isn't reasonable to test)

[2019-04-27 00:03] pdutta777 commented on #760
After the 0.3.0 release I no longer have issues on EKS

[2019-04-27 00:03] #760 closed

[2019-04-27 07:41] vdemeester commented on #803
@bobcatfish note that a yaml test was failing because of this bug, it was just not caught, https://github.com/tektoncd/pipeline/pull/805 fixes that.

[2019-04-28 01:42] vincent-pli commented on #315
@afrittoli
I like the option #2
I working on a demo with gitlab + knative + tekton pipeline.
We expect the pipeline could be triggered by knative eventing, seems not support, so we have to build a "subscribe" (a knative service) and bind a "pipelinerun.yaml" to it's image, it's hack.

One question:
Do you prefer to let pipeline controller know everything needed by a pipelinerun in advance but hold

[2019-04-29 12:58] sbwsg commented on #734
I've started the [design doc here](https://docs.google.com/document/d/1-vxHEsLXMH9yEdTn-FcNcYWrW3QOR24oZia2IuAyXXg/edit?usp=sharing) including use cases, a draft implementation, some open questions and possible alternative implementations that I'm still working through.

[2019-04-29 16:34] piyush-garg opened #811 "When using ${variable} in containerTemplate, it is not working"
# Expected Behavior

Templating in containerTemplate should work.

# Actual Behavior

Templating in containerTemplate is not working.

# Steps to Reproduce the Problem

1. Create a Cluster resource.
[code]
2. Create a task using cluster resource.
[code]
3. Create task run for the task
[code]
4. Check the logs of the step, it will show something like
[code]
# Additional Info

Tekton version v0.3.1

[2019-04-29 16:47] abayer commented on #811
Interesting - this is actually an enhancement, not a bug, fwiw, since variable templating has to be explicitly enabled for a field. This raises a question though - variable templating can only be done on explicitly specified string fields, which in the case of steps (i.e., `Container`s, so the logic we could trivially reuse for `containerTemplate`) currently means `Name`, `Image`, `Args`, `Env` va

[2019-04-29 17:26] hrishin commented on #238
Hi @bobcatfish :wave:

We would like to know, how this issue is coming along? We've started working on `controller` implementation for `PipelineResource` or we expecting this design to evolve more?

[2019-04-29 22:36] bobcatfish commented on #315
Related proposal from @iancoffey in https://github.com/tektoncd/pipeline/pull/783

[2019-04-30 14:06] dlorenc opened #812 "FR: Allow Resources to be declared as "optional""
# Expected Behavior

`Task` authors should be able to declare some Inputs as "optional".

# Actual Behavior

Today all declared input resources must be supplied.

[2019-04-30 14:08] dlorenc commented on #812
Example use-cases:

- A "deployment" task that can deploy to a specified cluster, but defaults to the cluster it is running in.
- A task that can optionally upload artifacts to an artifact store, but does not need to.

[2019-04-30 14:15] dlorenc opened #813 "FR: Easier support for authentication to GKE clusters in ClusterResource"
# Expected Behavior

It should be easy to specify a GKE cluster as a target in ClusterResource.

# Actual Behavior

Right now ClusterResource supports basic and token authentication. GKE uses kubectl credential helpers, which makes using this ResourceType hard.

# Proposed Idea

Refactor the ClusterResource type from this:

[code]

to something like:

[code]

[2019-04-30 14:30] dlorenc commented on #813
Note that this exact refactoring won't work because `Params` in a `Resource` are limited to strings only, and can't contain other nested types. This is probably something we want to do anyway, though.

[2019-04-30 15:20] dlorenc commented on #803
Looks like we can close this out now that the test has been fixed.

[2019-04-30 15:20] #803 closed

[2019-04-30 16:38] ImJasonH opened #815 "Remove references to "build""
# Expected Behavior

TaskRuns are not assumed to be "building" something; they can do anything, including tests, deployments, busy-waits, making sandwiches

# Actual Behavior

TaskRuns describe things in terms of "build" all over the place, including (but not limited to):

* A running TaskRun's status is `Building` ([here](https://github.com/tektoncd/pipeline/blob/11e03b73e549ab1508827182f6cc05ccf

[2019-04-30 16:47] dlorenc opened #816 "Investigate why the trigger field exists"
This came up as a question in today's WG meeting. Proposal is to delete it if we can't figure out what it's for to prevent confusion.

[2019-04-30 16:48] vdemeester commented on #816
@dlorenc on `TaskRun` it's to know if the run has been created by a PipelineRun or on its own. For `PipelineRun`, I feel it's there for the "near future" :angel:

[2019-04-30 18:45] bobcatfish commented on #315
Linking @iancoffey's proposal here: https://docs.google.com/document/d/1tfG6dkARP2xko-5trDV3D62DJZiXQBZgLtLH7GyUopM/edit#

[2019-04-30 18:48] bobcatfish commented on #816
This is one of the fields hanging around from our first implementation that we should probably revisit.

The goal of this field isn't to _cause_ triggering to occur, the goal was to record for posterity why the Run was created, this is probably clearest when looking at `TaskRun`:

https://github.com/tektoncd/pipeline/blob/19bf18abe2f7e71c5eb3ee6ff10351643db5510b/pkg/apis/pipeline/v1alpha1/taskrun_

[2019-04-30 18:48] bobcatfish commented on #816
+ @dlorenc anything else you'd like to see added here?

[2019-05-01 00:17] bobcatfish commented on #238
No implementation yet! I'm going to try to flesh out the design a bit further asap :D

[2019-05-01 14:04] abayer opened #819 "Artifact bucket storage for input/output doesn't create volume"
# Expected Behavior

When you configure [the `config-artifact-bucket` config map](https://github.com/tektoncd/pipeline/blob/c463f1230adc340ee96c02c60f074fff83240210/docs/install.md#how-are-resources-shared-between-tasks), workspace copying between `Task`s should use the bucket rather than a PVC, and should, y'know, work.

# Actual Behavior

You get an error on pod creation like
[code]

# Steps to

[2019-05-01 14:48] abayer opened #821 "We aren't running bucket storage-related e2e tests in CI"
# Expected Behavior

We should be running all our e2e tests.

# Actual Behavior

We're not! `TestStorageBucketPipelineRun` and `TestStorageTaskRun` get skipped because there's no `GCP_SERVICE_ACCOUNT_KEY_PATH` env var set. As a result, issues like #819 and #820 just get missed.

# Steps to Reproduce the Problem

1. check the e2e test results. See that we're not running those tests.

# Additional I

[2019-05-01 17:15] bobcatfish commented on #821
tee hee i guess ill close https://github.com/tektoncd/pipeline/issues/791 as a duplicate :D

[2019-05-01 17:15] bobcatfish commented on #791
Duplicate!

[2019-05-01 17:15] #791 closed

[2019-05-01 17:24] abayer commented on #821
whoops! I was in such a frenzy of opening tickets that I didn't look for an existing one. =)

[2019-05-01 17:30] #819 closed

[2019-05-01 18:57] bobcatfish commented on #803
awwwwesome thanks for following up with the yaml test fix @vdemeester  🙏

[2019-05-02 13:18] abayer opened #823 "Artifact storage PVCs aren't cleaned up until the PipelineRun is deleted"
# Expected Behavior

Artifact storage PVCs get deleted after the completion of the `PipelineRun`.

# Actual Behavior

Artifact storage PVCs don't get deleted automatically until/unless the owning `PipelineRun` itself is deleted.

# Steps to Reproduce the Problem

1. Run a `Pipeline` with multiple `Task`s, with one having its workspace as output and another having that workspace as input.
2. Notice

[2019-05-02 15:58] nader-ziada commented on #823
The pods using the pvc have to be deleted first before the pvc is deleted

[2019-05-02 16:39] dlorenc commented on #816
Should retitle this to be "decide if it should continue to exist"? It seems like we're still not clear.

I also wonder if some of this "provenance"-style info should be tracked as annotations rather than fields.

[2019-05-03 08:21] siamaksade opened #824 "Task validation ignores containerTemplate"
When validating a Task before creation, it should take the attributes from `containerTemplate` into account. Defining an `image` attribute on `containerTemplate` but not on the `steps` should pass the validation but right now fails with:

[code]

Example task:
[code]

[2019-05-03 13:38] #824 closed

[2019-05-03 14:10] sbwsg commented on #821
/assign @sbwsg

[2019-05-03 14:27] objectiveous opened #826 "release docs have stale links."
<img width="787" alt="image" src="https://user-images.githubusercontent.com/31235/57143925-c594ad80-6d74-11e9-9742-e01479a3d513.png">

[2019-05-03 15:53] objectiveous opened #827 "making ci images fails with"
# Expected Behavior

I'm trying to build and publish CI images as I intend to make enhancements to the "creds-image" to work better with our corporate github and container registries.

# Actual Behavior

It fails to publish but more importantly the error message doesn't help me.

# Steps to Reproduce the Problem

Not sure yet.

[code]

# Additional Info

## Using
[36mINFO[0m[0000] Downloading ba

[2019-05-03 16:12] vdemeester commented on #827
error building image: error building stage: waiting for process to exit: exit status 1

Looking at this message, the task you are using refers to a non-existing go package. `ko` move away from `go-containerregistry` and now leaves here : https://github.com/google/ko.

[2019-05-03 16:33] objectiveous opened #828 "SSL error"
# Expected Behavior

In the context of an enterprise rollout of tekton using github enterprise and an internal docker registry,  I want to know how to configure tekton to work with my systems.

For example, I need to make something like the following work:

[code]

# Actual Behavior

The build step git-source-gitssh-7777777 throws an SSL error:

```SSL certificate problem: self signed certificate

[2019-05-04 00:43] dicarlo2 commented on #727
No worries! I've always found it a bit more difficult to work through proposals entirely remote, through text only no less, so I totally understand.

Cool, sounds good, I'll take a look at what it will take to implement 2b.

He says then disappears again for 10 days  😅

Definitely interested, we'll just have to see how much time I can devote to it. As a first iteration I'll implement without thoug

[2019-05-04 12:34] objectiveous commented on #828
Turns out that I don't think this is a tekton issue. I was able to get past this using ssh rather the https for my git PipelineResrouces but later ran into similar SSL issues w/ docker and which point I realized this was likely a cluster config issue. Specifically my tests using minikube simply required I useL

 ```minikube ... --insecure-registry="docker.CORP.com" ```

[2019-05-04 12:34] #828 closed

[2019-05-04 12:38] objectiveous commented on #827
@vdemeester, thank you. Sorry for the trouble. ;-)

[2019-05-04 13:02] ImJasonH commented on #827
This is an actual issue, this line needs to be updated: https://github.com/tektoncd/pipeline/blob/master/tekton/ko/Dockerfile#L10

[2019-05-04 14:16] #827 closed

[2019-05-04 14:18] dlorenc commented on #754
Update here: still waiting on the LF to setup the right automation for this.

[2019-05-06 05:20] vincent-pli commented on #816
Could we reuse the field to introduce new function: execute immediately or hold on
if "hold on" (TaskTriggerType: "hold-on"), then the CRD is created, but Controller will leave it alone.
A later event or operation will trigger it (A couldevent or `kubectl apply`)

[2019-05-06 17:36] #221 closed

[2019-05-06 18:57] bobcatfish opened #833 "Design: Track provenance of TaskRuns and PipelineRuns"
# Expected Behavior

It should be possible to look at the data contained in a `TaskRun` or a `PipelineRun` and determine what led to the creation of this Run, for example:

* If the Run was created manually
* If the TaskRun was created to fulfill a PipelineRun
* If the PipelineRun was created in response to some event (not functionality that we have yet, see #315)

# Actual Behavior

We have a fie

[2019-05-06 18:58] bobcatfish commented on #816
I created a new issue instead #833 feel free to edit it @dlorenc :D

if "hold on" (TaskTriggerType: "hold-on"), then the CRD is created, but Controller will leave it alone.
A later event or operation will trigger it (A couldevent or kubectl apply)

@vincent-pli that's an interesting idea - do you feel like opening a new issue to discuss this further? If we want to support the use cases you're desc

[2019-05-06 18:58] #816 closed

[2019-05-06 19:11] abayer commented on #833
For `TaskRun`, we can tell if it was created via a `PipelineRun` by looking at the labels currently.

[2019-05-06 22:57] bobcatfish commented on #238
Design doc focusing on `PipelineResource` based extensibility available at: https://docs.google.com/document/d/12SPwIHZpERbFGroQulu3A16Sp-sPODAGP8b78-3WQDs

(I realized I actually don't have a clear idea of how to design custom `Tasks`, so if anyone wants to take on that design work, that's still available!)

[2019-05-07 00:15] vincent-pli commented on #816
@bobcatfish
I am glad to hear that, I will open a new issue for it for the further discussion, thanks.

[2019-05-07 01:22] vincent-pli opened #836 "Design: Suspend PipelineRun and TaskRuns after creation"
# Expected Behavior
In some scenario, we expect `Pipelinerun/Taskrun` suspend after creation until triggered by some event (whatever, `kubectl patch` or `cloudevent` )
# Actual Behavior
`Pipelinerun/Taskrun` will execute immediately once created.

# Additional Info
The idea is come from an internal demo several weeks ago.
We plan to use `gitlab `+ `knative` + `tekton` to implement a simple CI/CD c

[2019-05-07 13:34] sbwsg commented on #836
Could you describe a bit more about the specific scenarios that you'd like to serve with this feature?  We have some discussion of features that provide related functionality. [Wait until condition is met](https://github.com/tektoncd/pipeline/issues/233) seems particularly relevant.

[2019-05-07 14:41] vincent-pli commented on #836
@sbwsg  Sure,
basically in my case, I expect everything (resource, tasks, pipelines, pipelinerun . etc) is ready, but not start. The “start” should be triggered by something (couldevent or kubectl patch or whatever).

That’s require feature that the **Pipelinerun could suspend rather than execute immediately after creation.**

I saw the link you mentioned, that’s reasonable. we can leverage Knativ

[2019-05-07 15:41] afrittoli commented on #587
Proposed design: https://docs.google.com/document/d/1Ry1B37QZlN6wwjgYj4TUdNwq_Wtex0A3nj11yizfqZI/edit?ts=5cd1879c

[2019-05-08 07:29] vincent-pli opened #841 "Allow to define the source path of output resources when use pvc for sharing"
# Expected Behavior
User could define a path for output resource, then controller will copy it to PV when the task complete.
# Actual Behavior
Currently, there are two ways to decide the path of the output resource:
**1. Define an input resource which has the same name with this output resource**
Controller will copy the path of input resource to PV when complete.
I can understand the design. just

[2019-05-08 07:51] vincent-pli commented on #841
#842

[2019-05-08 16:49] #725 closed

[2019-05-08 19:31] bobcatfish commented on #238
I'm gonna downscope this issue to be just about `PipelineResource` extensibility, and we can use #215 for `Task` extensibility!

[2019-05-08 20:38] bobcatfish commented on #828
Glad you figured this out @objectiveous !! :D

[2019-05-08 20:39] bobcatfish commented on #826
whoops, thanks!!

[2019-05-08 20:40] bobcatfish commented on #821
We still need to fix the output -> input bucket linking test. @sbwsg do you still want to take this on or should we unassign you for now?

[2019-05-08 20:41] bobcatfish commented on #824
Thanks for jumping on this so fast @abayer !! 🎉 ❤️

[2019-05-08 20:44] bobcatfish commented on #323
That does sound like a good diea @dlorenc  - and maybe in that case it would make sense to try out `go-cloud` like @mustafaakin is suggesting? (I think I was initially opposed b/c I assumed there would be too many difference but now I'm thinking I was wrong)

[2019-05-09 07:40] AkihiroSuda opened #848 "can't push to gcr"
# Expected Behavior
can push to gcr

# Actual Behavior

kaniko fails with `error pushing image: failed to push to destination gcr.io/*****/*****: DENIED: "Access denied."`.
Looks like the credential is not mounted on `/root/.docker` .

# Steps to Reproduce the Problem

1. Run https://github.com/knative/build-templates/blob/fa2ac1bc3f31d6d7a367e1c783c116b1f6b94ce0/gcr_helper/helper.sh but `s/build.

[2019-05-09 12:13] vincent-pli commented on #848
Seems similar with this issue:
#706

[2019-05-09 12:36] sbwsg commented on #821
I'm still interested in solving this but likely won't get to it until mid next week.  I'll unassign myself until then in case anyone wants it resolved ASAP.

[2019-05-09 19:41] bobcatfish commented on #727
lol happens to the best of us XD

[2019-05-09 19:55] tomgeorge commented on #796
I was able to get it installed by logging in as `system:admin`.

[2019-05-09 20:00] bobcatfish commented on #685
@skeeey thanks for the detailed explanation of the `UpdateFunc` solution, made it really clear 🎉 !! I agree with the overall decision to make `Runs` immutable and use `generateName`

Agree! If someone wants to write this up in an issue I'd be super grateful! :D

[2019-05-09 20:02] bobcatfish commented on #685
I've updated the "expected behavior" in the description to reflect our discussion

[2019-05-09 20:47] bobcatfish opened #850 "Settle mismatch between k8s approach to templating + Tekton approach"
# Expected Behavior

Kubernetes was intentionally designed to not provide templating capabilities because templating makes configuration harder to understand and reason about ([see this Kubernetes design proposal for more details](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/declarative-application-management.md#configuration-using-rest-api-resourc

[2019-05-09 23:33] sixolet commented on #850
What if the build-example image always gets mounted in a copy of all resources and params? Then it could read whatever it wanted out of that. If you wanted to parameterize *what* it read out of that, you'd use `args: ["inputs.resources.params.pathToDockerFile"]`

Your example in full would be
[code]

(incedentally, I think I like better not specifying args and command, and just having the image kn

[2019-05-10 05:31] AkihiroSuda commented on #848
thanks

[2019-05-10 05:31] #848 closed

[2019-05-10 05:47] vincent-pli opened #851 "Add subfolder to the target path when input source has more than one from condition"
# Expected Behavior
If input resource has more than one `from` condition, controller should copy output of previous to `/workspace/task_resource_name/previous_task_1/` and `/workspace/task_resource_name/previous_task_n/`
# Actual Behavior
The controller will add copy container to copy from PV to `/workspace/task_resource_name`,
If there are more than one output need to copy, the stuff from outputs

[2019-05-10 06:36] AkihiroSuda opened #852 "Feature request: allow populating creds with non-root UID"
# Expected Behavior

Credentials under `/builder/home` should be accessible by non-root builders

# Actual Behavior

Credentials are not accessible by non-root builders

# Steps to Reproduce the Problem

`1-task.yaml` in https://github.com/tektoncd/catalog/pull/20  fails if `moby/buildkit:v0.5.1-rootless` is used instead of `moby/buildkit:v0.5.1` because `buildctl` (runs as  UID 1000) cannot acces

[2019-05-10 12:09] waveywaves commented on #823
I would like to work on this. Anything specific I should keep in mind before I start ? This would be my first time contributing.

[2019-05-13 07:57] pavlobaron opened #855 "Observability aspects of CD pipelines"
hi guys,

I opened this communication thread offline with Christie, Chris and Dan, they recommended to move it here.

In my role as founder and CTO of Instana, and for the reasons of personal interest I would like to open a discussion about observability aspects, and eventually see if this needs to be worked on in a dedicated group. Observability of CD pipelines IMO goes way beyond just metrics co

[2019-05-13 08:20] vdemeester opened #856 "Add support for other architectures"
Kubernetes support more architecture than x86_64, Tekton Pipeline should support those too.

What this means is :
- [ ] the project compiles on the architecture (and tests runs too)
- [ ] `controller` and `webhook` should be able to run on supported architecture
- [ ] images like `entrypoint`, `creds-init`, `git-init`, … should also be able to run on those architectures
- [ ] container images publ

[2019-05-13 13:32] lisa commented on #856
As part of my [investigation](https://thedoh.dev/kubernetes/tektoncd-pipeline.html) that @vdemeester mentioned I had to change the base images in `.ko.yaml*`, even though `busybox` has an arm64 manifest. I believe this is because in google/ko's [commands/config.go](https://github.com/google/ko/blob/cef9764e3d04c099f5926f10e50d537f318b8864/pkg/commands/config.go#L36-L43) which exhibits underlying b

[2019-05-13 13:32] vdemeester commented on #856
cc @ImJasonH @mattmoor (for the `ko` part)

[2019-05-13 15:13] dlorenc commented on #833
I agree that the field here is confusing. I think in general annotations/labels would make more sense for this type of data.

[2019-05-13 15:30] ImJasonH commented on #856
https://github.com/google/ko/issues/6 cc @jonjohnsonjr

[2019-05-13 16:52] dicarlo2 commented on #727
So I started implementing 2b and realized we actually can't use this approach because there's no guarantee the container has a binary capable of killing other processes available. I.e. it's not guaranteed that the container will have `kill` or equivalent. So we either delete the pod entirely or use the third solution I mentioned in the original proposal.

[2019-05-13 17:22] jonjohnsonjr commented on #856
I added some more details to that bug with what I had in mind.

[2019-05-13 19:47] sbwsg commented on #727
Thanks for the update about implementation 2b.  I'm going to start picking up work on sidecar support once I'm done with [TaskRuns in resource constrained environments](https://github.com/tektoncd/pipeline/issues/734) and this is v useful info.

[2019-05-13 21:37] bobcatfish commented on #727
Ah makes sense, nice find @dicarlo2 !!

Both options seem to have some downsides and personally I don't feel like either is immediately more appealing, so I think we should just go with one and see what happens :D

[2019-05-14 00:45] bobcatfish commented on #35
@vdemeester now that we've got https://github.com/tektoncd/cli I'm thinking we could close this issue, what do you think? :D

[2019-05-14 00:47] bobcatfish commented on #538
I'm gonna assign this to @rawlingsj for posterity :D thanks for this @rawlingsj !!! 🎉 ❤️

[2019-05-14 00:48] bobcatfish commented on #537
Woooot thanks @rawlingsj + co!! 🎉🎉🎉

[2019-05-14 00:49] bobcatfish commented on #538
https://github.com/tektoncd/pipeline/issues/537

[2019-05-14 01:11] bobcatfish opened #859 "Solve chicken and egg problem of Tekton config-as-code"
# Expected Behavior

It should be possible to define `Pipeline` and `Task` definitions and have them committed to a repo which they act on (e.g. this is the intent of the [`tekton`](https://github.com/tektoncd/pipeline/tree/master/tekton) dir in this repo!).

* Changes to these definitions that are committed to the repo should be picked up and used as soon as they are merged
* Changes to these def

[2019-05-14 01:24] bobcatfish opened #860 "Create Pipeline for nightly releases"
# Expected Behavior

Folks who are integrating with Tekton would like to be able to integrate with regular builds (e.g. nightly) so that they can test out new functionality and catch integration pain points and bugs between releases.

# Actual Behavior

Currently we release manually approximately every 4 weeks.  In #531 we will add a Pipeline which can do this via Prow.

# Additional Info

* #531

[2019-05-14 07:58] vdemeester commented on #860
/assign

[2019-05-14 17:19] dlorenc commented on #794
Once these are all fixed we should add a presubmit to verify they stay fixed.

[2019-05-14 17:32] vdemeester commented on #35
@bobcatfish I think we can close this issue and migrate any cli related issues in the new repository yes.
/close

[2019-05-14 17:32] #35 closed

[2019-05-15 00:10] bobcatfish commented on #649
Now that we've got https://github.com/tektoncd/catalog can we close this @dlorenc ? (or we could leave it open assuming we want to move our `examples` dir to that repo - but im not sure that's a given 🤔 )

[2019-05-15 07:34] vdemeester commented on #649
`examples` are used as tests too in this repository, so maybe we want to rename the folder to make it more clear ?

[2019-05-15 20:10] bobcatfish commented on #27
@kimsterv has put together a doc solely for requirements: https://docs.google.com/document/d/1C3crx89VXbeIqAem1648IxP3SCWsQvsgjM0r2vmiPIY (shared with tekton-dev)

[2019-05-16 13:13] gorkem opened #868 "Configure number of pipelines running in parallel"
Tekton should be able to limit the number of `PipelineRuns` running concurrently on a namespace. `PipelineRuns` on a namespace should be queued if they exceed the configured limit. The limit should cover all `PipelineRuns` on the namespace regardless of the `Pipeline` that they reference.

[2019-05-16 15:02] steveodonovan opened #869 "Update doc to remove taskSpec as an alternative to pipelineRef in a pipelineRun"
# Expected Behavior

Documentation [here](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#syntax) should reflect that a pipelineRun needs a pipelineRef.

# Actual Behavior

Documentation indicates that an alternative to a pipelineRef is to supply a taskSpec which will fail.

# Steps to Reproduce the Problem

1. View documentation [here](https://github.com/tektoncd/pipeline/bl

[2019-05-16 15:32] #869 closed

[2019-05-16 21:54] bobcatfish commented on #869
Thanks for reporting this and fixing it @steveodonovan !! :heart:

[2019-05-16 22:13] bobcatfish commented on #860
@vdemeester does this mean you'll be doing https://github.com/tektoncd/pipeline/issues/531 as well? :D :D  :D

[2019-05-16 22:14] bobcatfish commented on #860
I guess you do them independently - #531 is blocked on https://github.com/tektoncd/pipeline/issues/530 also :sweat_smile:

[2019-05-16 22:29] bobcatfish commented on #649
hm interesting idea @vdemeester ! i'm having trouble thinking of any other names - I wouldn't want to move these to `test` since we do probably want to be able to point ppl at these as extensive examples of how `Tasks` and `Pipelines` work in general (unless we don't want users to look at these anymore?) :thinking:

Do you have any ideas? :ok_woman:

[2019-05-16 22:57] #823 closed

[2019-05-16 23:10] cjwagner opened #872 "Allow embedding specs in Pipeline and PipelineRun instead of referencing."
# Expected Behavior
I see that the `TaskRun` spec allow `Task`s and `PipelineResource`s to be embedded into the spec via the `taskSpec` and `resourceSpec` fields. ([Docs](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#example-with-embedded-specs), [Issue](https://github.com/tektoncd/pipeline/issues/313))  Creating just the `TaskRun` is simpler than creating all the CRDs and avoi

[2019-05-16 23:21] bobcatfish commented on #872
Seems totally reasonable to have this! Thanks for opening the issue @cjwagner

Sort of related, I'd also like to bring your attention to #859: we'd really like our Pipeline and Task definitions to live in our repo alongside our code. So another possible way to address your use case could be for Prow to be aware of where the Pipeline and Task definitions are stored in the repo, and apply them befor

[2019-05-17 00:14] cjwagner commented on #859
Can you explain the "chicken and egg" part of this problem a little more? AFAICT the  `Pipeline` and `Task`s come before the `PipelineRun`. What part of creating a `Pipeline` or `Task` depends on the `PipelineRun`?

This can be achieved with a postsubmit ProwJob that syncs the checked in YAML with what is deployed in the cluster. (Basically `kubectl apply -f` with a little extra logic to delete re

[2019-05-17 17:03] rawlingsj commented on #540
+1 we're looking at the same thing and just started looking at prometheus too, hopefully we can help each other out here.

[2019-05-18 00:22] bobcatfish commented on #540
Maybe the first thing to do would be to identify the metrics we're interested in? I'm not super familiar with prometheus but I would think before we want to monitor the metrics, we'd want to figure out what needs monitoring (maybe there's a Jenkins/Jenkins X precedent we can draw on :D?)

[2019-05-18 12:43] cezkuj commented on #777
I would like to take care of it. Issue seems quite clear, will ask question here, if needed. :)

[2019-05-20 15:13] houshengbo opened #882 "The instruction about installing in custom namespace does not work"
# Expected Behavior
The controller and webhook should be installed under a custom namespace.

# Actual Behavior
The controller and webhook were installed under default namespace.

# Steps to Reproduce the Problem

1. Follow the section at https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md#install-in-custom-namespace to install in custom namespace.

# Additional Info

[2019-05-20 16:24] shashwathi commented on #868
@gorkem :
If the goal is to limit the underlying resource utilization in each namespace then isn't it better to use [`resource-quotas`](https://kubernetes.io/docs/concepts/policy/resource-quotas/) instead of limit on `PipelineRuns`.
Another idea would be apply  [quota limits](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/quota-pod-namespace/) on Pod. Since `TaskRuns` CRD con

[2019-05-20 20:24] dibyom commented on #836
Could this be a special case of #233 where the initial task(s) are paused waiting on a condition?

[2019-05-21 00:01] vincent-pli commented on #836
@dibyom I guess so, but the `condition met` is a big picture, such as `event trigger`, `kubectl apply` .etc

[2019-05-21 02:28] jotacamou opened #884 "PipelineRun definition expects pipelinerun.spec.trigger.type"
# Expected Behavior
Following the examples and documentation, was not able to create a `PipelineRun` if `pipelinerun.spec.trigger.type` is not specified.

# Actual Behavior

```Error from server (InternalError): error when creating "pipelinerun.yaml": Internal error occurred: admission webhook "webhook.tekton.dev" denied the request: mutation failed: invalid value: : pipelinerun.spec.trigger.type`

[2019-05-21 05:51] vincent-pli commented on #884
@jotacamou
Please check the age of  pods in name space: `tekton-pipelines`, they just removed `trigger` several days ago.
Use the `master` cannot reproduce this issue.

[2019-05-21 11:13] cmoulliard opened #885 "Failed to parse image ${inputs.params.DOCKER_IMAGE}: could not parse reference"
## Error

The following task when processed generates this error

[code]

## Config

[code]

[2019-05-21 11:44] gavinfish commented on #885
Similar with #811.

[2019-05-21 12:09] bobcatfish commented on #811
Yeah, I'm into that! I think it's confusing to only be doing it for a few fields.

[2019-05-21 12:11] bobcatfish commented on #885
Like @gavinfish said, I think what's happening here is that we aren't applying the templating to all fields, and as discussed in #811 we might as well :D

I'm going to close this in favor of #811. (Please re-open if we missed something @cmoulliard !)

[2019-05-21 12:11] #885 closed

[2019-05-21 12:12] abayer commented on #811
That's definitely doable, for sure.

[2019-05-21 12:20] #882 closed

[2019-05-21 12:31] cmoulliard commented on #885
A few remarks:

- If the templating is working as described under #811, why the error is only reported for the step `docker-push` and not for `s2build` as they both have a field defined as such `image: ${inputs.params.BUILDER_IMAGE}` and `${inputs.params.DOCKER_IMAGE}` ?
- Is it possible to report a more human readable message as this one don't at all explain that we have a templating issue `Refer

[2019-05-21 13:22] bobcatfish commented on #727
I take it back - after seeing demos of the cli tool @vdemeester + co are working on, and the dashboard that @skaegi + co are working on, I think deleting the pods (and the logs with them) is _not_ the best option (even once we do have log persistence).

So let's use the third option and overwrite the spec with the `nop` image?

[2019-05-21 15:13] cmoulliard opened #887 "git clone failed: exec: "git": executable file not found in $PATH"
# Expected Behavior

Git is available to perform a `s2i build git_repo` command

# Actual Behavior

The following is reported when the `s2i` client executes the build command in order to git clone the project

[code]

# Steps to Reproduce the Problem

1. Install ocp3
2. Install tekton : `oc apply -f https://storage.googleapis.com/tekton-releases/latest/release.yaml`
3. Execute the following bash s

[2019-05-21 15:21] vbatts commented on #887
build container running is https://quay.io/repository/openshift-pipeline/buildah?tab=info, which is built using https://github.com/containers/buildah/blob/master/buildahimage/stable/Dockerfile
The issue looks similar to https://github.com/containers/buildah/issues/1523

[2019-05-21 15:38] bobcatfish commented on #859
(I also want to be clear that whatever solution we come up with here should work when using Prow, but also should work with some event triggering soution completely not Prow as well!)

What I mean by "chicken and egg" is something like, if you want to use Pipeline + Task + PipelineRun to do all the CI,

- The Pipeline has to exist for the PipelineRun to work
- For changes to the Pipeline to be ref

[2019-05-21 16:22] bobcatfish commented on #885
It took me a few minutes to figure this out but the reason is actually pretty disappointing XD

This specific error ("Failed to fetch remote image") is caused by an implementation detail: we override the 'entrypoint'/'cmd' provided in the `step` with our own image (https://github.com/tektoncd/pipeline/blob/master/docs/developers/README.md#entrypoint-rewriting-and-step-ordering). When a `step` does

[2019-05-21 16:33] dicarlo2 commented on #727
SGTM, in that case the POC I have is pretty much the full implementation - it just needs to be cleaned up, tested and probably properly abstracted (I just kinda stuck the logic in as quickly and hackily as possible)

[2019-05-21 16:39] bobcatfish commented on #727
Sounds perfect @dicarlo2 !! :D

[2019-05-21 16:39] bobcatfish commented on #727
![image](https://user-images.githubusercontent.com/432502/58114313-cbedab00-7bf7-11e9-8a3a-efa53710aafb.png)

[2019-05-21 16:44] bobcatfish commented on #887
Is it possible that [docker.io/kbaig/s2i:latest](https://github.com/snowdrop/openshift-infra/blob/66a6b9999e519cd9d817f35802d40625977ed99b/tekton-pipelines/s2i-jdk8/tasks/clone-build.yml#L8) doesn't have `git` installed?

[2019-05-21 16:47] cmoulliard commented on #887
This is why I requested to @khrm : `Where is the github repo containing your `kbaig/s2i` dockerfile ?` to verify that

[2019-05-21 16:51] vbatts commented on #887
The container image can be looked through without the Docker file, right?

[2019-05-21 20:57] vbatts commented on #887
@cmoulliard for the s2i image:
[code]

[2019-05-21 22:54] jotacamou commented on #884
Confirmed.  Not an issue on `master` branch however present on `v0.3.1`.  Please close, thank you!

[2019-05-22 06:55] bobcatfish commented on #884
Glad you got it working! Thanks for opening the issue @jotacamou :D

[2019-05-22 06:55] #884 closed

[2019-05-22 06:59] bobcatfish commented on #794
I think we've got the presubmit now - thanks @dlorenc ! Safe to close this?

[2019-05-22 08:35] houshengbo opened #888 "Why does the input resource name have to show up in pathToDockerFile and pathToContext"
This is the example used at the page: https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task-inputs-and-outputs to create a task:
[code]
It took me hours to figure out we have to keep the input resource name, like "docker-source" as defined in this example, in pathToDockerFile and pathToContext as part of the prefix "/workspace/docker-source", then continue the REAL path to dockerf

[2019-05-22 09:06] ImJasonH commented on #888
Resource names describe where the source is placed inside `/workspace` -- if you have a resource named `foo` and another named `bar`, they'll be materialized into `/workspace/foo` and `/workspace/bar`

The kaniko builder needs to be aware of the location of the input resource, to know where inside `/workspace` to find the Dockerfile.

FWIW, in general you should probably use the [`kaniko` Task in

[2019-05-22 09:32] cmoulliard commented on #885
This is because the URL of the image will change according to the registry where it will be published. when a local docker registry is available, then we will use the following by example URL `service_name.namespace.svc.cluster.local:5000` but when it will be deployed on `quay.io` or `docker.io`, then we will another URL address

Make sense @bobcatfish ?

[2019-05-22 11:16] abergmeier opened #889 "Controller cannot watch for resources"
# Expected Behavior
Controller should work fine. Or at least tell, which Resource/version actually was the problem.

# Actual Behavior
Logs state:
[code]

# Steps to Reproduce the Problem

1. Install Tekton on OpenShift 3.9
2. RoleBind `tekton-pipeline-controller` to `edit`

[2019-05-22 12:25] cmoulliard opened #890 "Error during unshare(CLONE_NEWUSER): Invalid argument"
## Error

The following error occurs when we execute the task defined hereafter on openshift
[code]

## Task executed

[code]

## Steps to configure Openshift's security

[code]

[2019-05-22 17:28] houshengbo commented on #888
@ImJasonH Thank you for the response.
However, the kaniko task in the catalog is hardly able to use, since context is missing. I can locate the dockerfile, but it is a hassle to reach the correct directory. Probably this is a feature to be added.

[2019-05-22 20:58] vdemeester commented on #794
I think so yes !
/close

[2019-05-22 20:58] #794 closed

[2019-05-23 00:45] vincent-pli commented on #888
@houshengbo
You can use `TargetPath` to change the behavior.

[2019-05-23 04:04] ImJasonH commented on #888
The Kaniko task in the catalog [sets `workingdir: /workspace/source`](https://github.com/tektoncd/catalog/blob/41b864ab08e6c69998513f4cb135102bd54366ca/kaniko/kaniko.yaml#L23), which is supposed to address this, but since the default of `--context` is `/workspace` and not `.`, it doesn't. :(

I've proposed https://github.com/tektoncd/catalog/pull/33 to address this, thanks for bringing this to my

[2019-05-23 05:55] cmoulliard opened #896 "Doc: Improve task introduction"
## Request

The[ Task's doc](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#tasks) part don't really introduce from a technical perspective what it does and how it works (pod + containers for each step). Nevertheless, this is covered by the first part of the [tutorial](
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task)

So I propose to review the Task intro pa

[2019-05-23 06:03] cmoulliard opened #897 "Doc: How to replay a task"
## Doc feature - How to start/cancel/stop or replay a task/pipeline

The existing doc only explains how to cancel a `TaskRun` or `PipelineRun` but not how to remove a task or replay it.

So I propose to enhance the doc and to explain how to run/stop or cancel a taskRun/PipelineRun like also how to replay it

According to @hrishin, this is possible to replay a TaskRun using a `generatedName` but th

[2019-05-23 06:23] cmoulliard opened #898 "Doc: How to read log of the steps"
## Doc feature - How to read log of the steps

When a `taskRun` or `pipelineRun` is executed with several steps, then a container is created for the step defined and the log content could be accessed to check what happened.
the doc should explain how to find the containers - steps and how to read the log

Example
[code]

Next, check the log of the pod
[code]

Get container's log
[code]

[2019-05-23 06:28] cmoulliard commented on #884
This error still exists with the tutorial doc as I get this error when I deploy the pipelineRun

[code]

[2019-05-23 06:36] cmoulliard opened #899 "PipelineRun: pod has unbound immediate PersistentVolumeClaims"
## Issue

During the creation of the Pod from the tutorial [pipeline definition](https://github.com/snowdrop/openshift-infra/blob/fe42cc8c94bd0cd581275517b71a2df15cc08042/tekton-pipelines/tutorial/pipelineRun.yml), we get this error

## Error
[code]
the problem is related to the fact that no PVC is created for this volume as declared within the pod

[code]

## Yaml file of the pod created
[code]

[2019-05-23 06:38] vdemeester commented on #884
@cmoulliard which version of tekton pipeline did you deploy ?

[2019-05-23 06:48] vincent-pli commented on #899
@cmoulliard

please check this #866

[2019-05-23 06:49] vdemeester commented on #897
@cmouillard, thanks for the issue. The Run CRD (pipelinerun and taskrun) are not replayable, they are, in a sense, immutable. The only mutation you can do afterwards is cancellation.

This is a bit related to this issue : https://github.com/tektoncd/pipeline/issues/685.

GenerateName is a kubernetes feature that allows you to apply your object (yaml, ..) with only a prefix for the name, letting th

[2019-05-23 06:52] vdemeester commented on #898
There is several possibilities to do that, but please keep in mind this is still early.

- a taskrun creating a pod, you need to read the pod log as you described. You can use ˋ—all-containers` flag on kubectl to see the logs from all the containers
- tektoncd/cli aims to answer those questions/features, by providing a cli focused on pipeline (and thus not on kubectl constructs)
- tektoncd/dashboa

[2019-05-23 13:54] houshengbo commented on #888
@ImJasonH
I submitted another PR https://github.com/tektoncd/catalog/pull/32 to address this already. Hope we do not repeat the effort.

--context=/workspace/source/${inputs.params.CONTEXT}, so --context can be set to ./. The user does not need to care whether workspace or workspace/source.

[2019-05-23 15:36] Joseph-Irving commented on #727
Hey, have you looked at the sidecars containers KEP for Kubernetes? I would be interested to see if you think it would solve this issue for you, tracking issue: https://github.com/kubernetes/enhancements/issues/753 ([design doc](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/sidecarcontainers.md)).

[2019-05-23 21:23] gorkem commented on #868
The main idea is to avoid starving pipelines when resource-quotas are applied. I do not think Pipelines check whether there is enough resources to run a `PipelineRun` through therefore multiple pipelines that are started on the same namespace can starve each other and fail.

[2019-05-24 12:51] aristosvo commented on #815
It looks like the order of steps is changed. In the failing [test](https://github.com/aristosvo/pipeline/blob/master/test/taskrun_test.go) the order is:
- exit
- hello
- world
- nop

In the output yaml the order is:

- nop
- exit
- hello
- world

[2019-05-24 13:06] sbwsg commented on #868
Hey there @gorkem you're right that Pipelines don't check whether there are enough available resources for a Task to execute in a namespace.  We're tracking that problem in https://github.com/tektoncd/pipeline/issues/734 and I'm about ~80% of the way through development.  You can see my [latest commit to retry pod creation in the face of ResourceQuota errors](https://github.com/sbwsg/pipeline/comm

[2019-05-24 13:06] #868 closed

[2019-05-24 13:09] sbwsg commented on #868
One other interesting observation around this:

When a pipeline is running and a task is unable to fit on the _node_, then the Pod is held in a Pending state until space is freed up on the node or the task times out.  However, when a task is unable to fit due to a _resource quota_, the Pod is rejected **immediately** and the task fails.  I find this kubernetes behaviour slightly confusing - why do

[2019-05-24 15:31] sbwsg commented on #821
The fix we introduced for `TestStorageTaskRun` in #829 unfortunately [breaks users who are running the e2e tests in non-GCP environments](https://github.com/tektoncd/pipeline/pull/904). Need to add a way to limit tests that rely on specific providers like this.

[2019-05-25 14:29] dlorenc opened #906 "Formalize review requirements for API changes"
Changes to the Tekton CRDs should probably require more than one reviewer/a more formal review process than other changes. We should formalize this, document it and automate it where possible.

[2019-05-25 14:29] dlorenc commented on #906
Ref https://github.com/tektoncd/pipeline/pull/902 for an example of this.

[2019-05-25 14:30] dlorenc commented on #888
It looks like we can close this now that the catalog fix has been merged. Please let me know if I missed something and there is still work to do here.

[2019-05-25 14:30] #888 closed

[2019-05-25 14:32] dlorenc commented on #887
Looks like git is missing. Closing this as a dupe of https://github.com/containers/buildah/issues/1523.
Please let me know if this should be reopened.

[2019-05-25 14:32] #887 closed

[2019-05-25 18:53] emichaf opened #907 "Why tekton?"
I wonder what's the difference between tekton and argo cd?

[2019-05-27 12:49] garethr opened #908 "Failure to install on 1.14.2 using Kind"
# Expected Behavior

Installing Tekton on a new v1.14.2 cluster would succeed

# Actual Behavior

Installation fails with the following error:

[code]

# Steps to Reproduce the Problem

1. Provision a Kind cluster using the latest images:

[code]

2. Install Tekton according to the README instructions:

[code]

Note that ignoring validation will install the resources:

[code]

# Additional Info

[

[2019-05-27 20:00] skaegi commented on #898
@vdemeester I sometimes wonder if we should just bite the bullet and do api aggregation to have a common logs endpoint on TaskRuns. e.g. so we could support `kubectl logs` on TaskRun names.

I was looking at https://github.com/kubernetes/kubernetes/issues/72637 -- and a generic logs sub-resource we can use via CRD does not seem to be imminent.

[2019-05-27 20:22] vdemeester commented on #898
@skaegi yes we may have to go that route at some point 😅

[2019-05-27 23:22] drshrey opened #912 "Can't run tutorial PipelineRun"
# Expected Behavior
I expect the PipelineRun execution to run smoothly from the tutorial here - https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#pipeline.

# Actual Behavior
When I do `kubectl apply -f tutorial-pipeline-run.yaml`, this error pops up:
[code]

# Steps to Reproduce the Problem

1. Create a file called `tutorial-pipeline.yaml` and add this to the file contents:
[code]

[2019-05-28 00:32] vincent-pli commented on #912
@drshrey
Please check this: #884

[2019-05-28 03:20] vincent-pli opened #914 "Variable substitution in PipelineResource definition"
Recently, I try to implement demo for event triggered Pipelinerun, one thing bothers me,
The pipelineResource definition depends on the content of event, in my solution, I use placeholder like “event.foo” and replace them when pipelineReousrce loaded.
Then I realized in tekton, there is variable substitution solution: Pipelinerun.params

So could we replace the placeholders in PipelineResources wi

[2019-05-28 10:42] #912 closed

[2019-05-28 12:20] Gl4di4torRr commented on #860
@bobcatfish are you saying this is currently blocked by #530 and #531?

[2019-05-28 12:28] vdemeester commented on #860
@Gl4di4torRr it's not entirely blocked but it's kinda related :angel: Now that Kubecon and Red Hat Summit are behind, I'll have more time to make this happen :man_dancing:

[2019-05-28 12:29] chmouel opened #915 "Flaky TestPipelineRun when provisioning pvcs"
# Expected Behavior

When the cloud provider volume are slow to deprovision, the test fails due of failing to delete the PVC .

# Actual Behavior

Fails without even trying again 😢

# Additional Info

[code]

[2019-05-28 12:30] chmouel commented on #915
/kind bug

[2019-05-28 12:30] chmouel commented on #915
/label bug

[2019-05-28 12:36] Gl4di4torRr commented on #860
@vdemeester great! i am looking for a good "first time contributor" issue to tackle. if this would be a good one, i can try implementing this.

[2019-05-28 12:38] abayer commented on #915
...sorry. =(

[2019-05-28 12:41] Gl4di4torRr commented on #860
@vdemeester nvm looks like y'all have a `good first issue` tag :)

[2019-05-28 12:45] vdemeester commented on #915
/area testing

[2019-05-28 12:56] Gl4di4torRr commented on #907
@emichaf here are my two cents...

tekton was donated to the (cd foundation)[https://cd.foundation/] which is a collaborative effort across  organizations (vendor neutral) to help improve the CI/CD space. Argo is not a member of the cd foundation. Because of tekton's donation to the cd foundation, I have been looking at tekton over something like argo.

[2019-05-28 13:42] chmouel commented on #915
/assign

[2019-05-28 14:24] chmouel opened #917 "Making easier to deploy with KO to different namespace"
# RFE: Allow KO to deploy to different namespace easily

Currently KO don't allow easily to install to different namespace than the default `'tekton-pipelines' ` which is less than ideal for multi users dev clusters

It really only uses what's inside the config/*.yaml and it references `tekton-pipelines`

Suggestions:

1. Templatize it (with kustomize or simple go template) and pre generate them b

[2019-05-28 15:15] chmouel commented on #917
/kind enhancement

[2019-05-28 15:18] #591 closed

[2019-05-28 16:15] bobcatfish commented on #917
Another possible idea: switching to something other than `ko`

@ImJasonH @jonjonsonjr any thoughts?

[2019-05-28 17:08] bobcatfish commented on #906
One idea (which I think was yours @dlorenc ) is to move all the `_types` files into a dir with its own OWNERS file (I wonder if the OWNERS file has the flexibility for us to add criteria such as "at least 3 reviews required"?)

I would like to be present in every API change review when possible.

[2019-05-28 17:11] bobcatfish commented on #777
Totally unrelated, this issue number makes me miss this awesome restaurant in Dublin of the same name:

![image](https://user-images.githubusercontent.com/432502/58497524-fb893f80-8130-11e9-8bcd-af69f692a15c.png)
![image](https://user-images.githubusercontent.com/432502/58497530-004df380-8131-11e9-8ffd-7516ce28300e.png)

[2019-05-28 17:26] bobcatfish commented on #908
@garethr it looks like this _might_ be caused by a skew between the client + server versions (https://github.com/kubernetes/kubernetes/issues/73111#issuecomment-480891902)

Since your kubectl client is 1.10, maybe it needs to be updated to 1.14? (I'm not sure this will work tho since in https://github.com/coreos/flannel/issues/1117#issuecomment-477689002 it didn't seem to fix the problem :S)

[2019-05-28 17:27] bobcatfish commented on #908
(if so we're probably all about to start running into it XD)

[2019-05-28 17:33] bobcatfish commented on #914
Could you give an example of what this might look like in the PipelineRun and the PipelineResource @vincent-pli ?

I'm not sure if you have seen https://github.com/tektoncd/experimental/tree/master/tekton-listener#eventbinding which @iancoffey is working on but in the example there, you can use values from the triggering event to build the eventual `PipelineResources`:

[code]

[2019-05-28 17:38] bobcatfish commented on #907
It's a good question @emichaf and @Gl4di4torRr has a good point :D

You might find https://github.com/tektoncd/pipeline/issues/644 interesting as well, where @RXminuS asked a very similar question (the original title was "Why not contribute to Argo?")

Specifically I would say that argo cd is an example of the sort of tool that could make use of Tekton - we chatted with some of the Argo CD folks a

[2019-05-28 17:50] garethr commented on #908
Ah ha, that would be it. Update the kubectl version and installation works fine. Closing.

[2019-05-28 17:50] #908 closed

[2019-05-28 17:52] alexmt commented on #907
I agree with you @bobcatfish. Argo CD does not provide an ability to define a pipeline. Instead, it is supposed to be integrated with an existing pipeline tool like Tekton: https://argoproj.github.io/argo-cd/user-guide/ci_automation/

Going through tekton tutorial and trying to run my first `hello world` task today :) . Next step is to submit PR with gitops/argocd specific shared tasks to https://

[2019-05-28 18:12] bobcatfish commented on #908
Woot! :tada: glad you got it working @garethr :D

[2019-05-28 19:42] kimholmes commented on #833
This also looks like something that could be accomplished in the dashboard UI.

![Tasks](https://user-images.githubusercontent.com/21316329/58507192-2b4f3c00-815f-11e9-88a7-6132f0065466.png)

[2019-05-28 21:10] pmorie commented on #850
I am def +1 on using the `$(thing)` syntax at a minimum.

Another option that is thematically similar but different in terms of implementation would be allow using a jsonpath-like syntax (similar to addressing fields of a pod via downward API) to address fields within a resource, and then generate literal values in the taskrun controller*.

* caveat: we wouldn't want to leak escalating information

[2019-05-28 21:11] bobcatfish commented on #410
I _think_ we've basically got this covered in our docs, but if I'm wrong we can re-open :)

[2019-05-28 21:11] #410 closed

[2019-05-28 21:33] bobcatfish opened #922 "Use Tekton for at least one Prow triggered job"
# Expected Behavior

We want to use Tekton to test Tekton! And now thanks to https://github.com/kubernetes/test-infra/pull/11888 we can use Prow to trigger PipelineRuns instead of prow jobs :D

So this issue is about starting to migrate over to this by picking (at least) one of the jobs we trigger view ProwJobs (https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml) and updating it to

[2019-05-28 21:54] dibyom commented on #27
Lots of great ideas above! I'm working on distilling them into a design doc (and a quick PoC) -- mostly based on @abayer 's ideas around the[ condition CRD](https://docs.google.com/document/d/1R6WlDMC3vuY5StiEIFg5MP18n7_kOa1QHxB10CRlbw0/edit#heading=h.vfpnpyvxw394) + @vincent-pli 's suggestion of using [containers to do the evaluation](https://docs.google.com/a/google.com/document/d/1R6WlDMC3vuY5S

[2019-05-28 22:01] bobcatfish commented on #27
Looks like a great scoping to me - @dibyom do you want to review this in the working group meeting tomorrow?

[2019-05-28 22:05] dibyom commented on #27
Yes! I'll get something written up by then!

[2019-05-28 23:50] sarnaudova commented on #884
Getting the same error with the latest tekton release v0.3.1
If this change is only in master, how can I install tekton from a master branch ?
I am using the installation instruction from the doc :
kubectl apply --filename https://storage.googleapis.com/tekton-releases/latest/release.yaml

Error when running pipeline (without triggers):
Error from server (InternalError): error when creating "pipel

[2019-05-29 00:09] vincent-pli commented on #884
@sarnaudova
Please take a look this: https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md
Use `ko` to apply the `master` to the cluster.

[2019-05-29 00:55] vincent-pli commented on #914
@bobcatfish
I mean we can define the PipelineSource like this:
[code]
And the placeholder will be replaced by params defined in Pipelinerun or Taskrun.
With the ability, we have a PipelineResource template.

Actually, I keep tracking the `eventbinding` from @iancoffey, I like that project.
with the PipelineResource template, the `eventbinding` only need binding the event with the params defined in

[2019-05-29 07:52] #826 closed

[2019-05-29 10:25] markusthoemmes opened #924 "Binary (local) input type"
Openshift builds have a really neat concept of [Binary (local) sources](https://docs.openshift.com/container-platform/4.1/builds/creating-build-inputs.html#builds-binary-source_creating-build-inputs). Essentially, it gives you an API to stream binary contents into a build from anywhere (including the local file system).

This opens the door for nice FaaS-style user-experiences, where the user migh

[2019-05-29 13:41] vdemeester commented on #532
/assign

[2019-05-29 14:53] sbwsg opened #926 "Merge "Graceful Sidecar Support" implementation"
@dicarlo2 has [proposed](https://github.com/tektoncd/pipeline/issues/727) and [implemented](https://github.com/tektoncd/pipeline/pull/728) graceful sidecar support. The remaining work is to:

- [x] Perform any needed code organization
- [x] Get all existing tests passing
- [x] Satisfy lint and any other presubmit tools
- [x] Add test coverage where needed
- [x] Document usage
- [ ] \~\~Demo the re

[2019-05-29 15:10] sbwsg commented on #727
Now that we've agreed on the implementation details of the proposal (and it's already most of the way done in the PR! :tada: thanks @dicarlo2 ) I'm going to close this issue and carry on with the remaining TODOs in https://github.com/tektoncd/pipeline/issues/926

@Joseph-Irving I've read over the sidecar KEP. In principal it does seem applicable to this use case.  Given its current status I'm not

[2019-05-29 15:10] #727 closed

[2019-05-29 18:04] bobcatfish commented on #884
We should have a 0.4 release coming out this week @sarnaudova ! Sorry for the difficulty :(

[2019-05-29 18:53] bobcatfish commented on #792
Quick update: we ended up using https://godoc.org/golang.org/x/xerrors instead of https://github.com/pkg/errors b/c @ImJasonH pointed out that xerrors will be moving into the Go std lib in 1.13 :D

[`xerrors.Errorf`](https://godoc.org/golang.org/x/xerrors#Errorf) lets the user use `Errorf` style syntax, but:

Which gives us the same benefits as [`errors.Wrap`](https://github.com/pkg/errors#adding-

[2019-05-29 19:15] sarnaudova opened #929 "invalid input resources: TaskRun's declared resources didn't match usage in Task: Didn't provide required values"
# Expected Behavior
This pipeline should run without problems. In fact with separate taskrun outside of the pipeline it succeed, but put into the pipeline, the pipelinerun throw an error about input resource usage. I am following the doc and examples from the doc and couldn't figure why it is not working. Can someone take a look and help.

# Actual Behavior
invalid input resources: TaskRun's decla

[2019-05-29 20:21] #734 closed

[2019-05-29 20:27] bobcatfish commented on #929
Hey @sarnaudova ! That's super weird, are you 100% sure that's the right error?

[code]

This error talks about a `TaskRun`, but you're saying the `PipelineRun` is what is failing, is there any chance the `PipelineRun` itself has a different error? Maybe you could paste in complete status of the `PipelineRun` after you create it, e.g. `kubectl get pipelinerun demo-pipeline-run-1 -o yaml`?

[2019-05-29 20:39] sarnaudova commented on #929
Hi @bobcatfish thanks for looking into it. This is the result of running the command below:
[code]
I used to run the task with TaskRun, butI delete all task runs and  currently "kubectl get taskrun" return "No resource found". I am running in local minikube.

[code]

[2019-05-29 21:43] bobcatfish commented on #929
:thinking: the PipelineRun controller [_should_ be adding a randomly generated suffix to any TaskRuns it creates](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/v1alpha1/pipelinerun/resources/pipelinerunresolution.go#L277) so i'm not sure that's it

It sounds like the PipelineRun controller is creating TaskRuns that don't match the spec of the reference Task :thinking:  Ideas for

[2019-05-29 23:33] khrisrichardson opened #932 "v0.4.0 release.yaml missing from GitHub assets"
# Expected Behavior

Download `release.yaml` from GitHub release [v0.4.0](https://github.com/tektoncd/pipeline/releases/tag/v0.4.0) :+1:

# Actual Behavior

Download `release.yaml` ala `gsutil cp gs://tekton-releases/latest/release.yaml .` :-1:

# Steps to Reproduce the Problem

1. Get excited to install new release
2. Look for release.yaml
3. :crying_cat_face:

# Additional Info