[2019-09-05 20:45] bobcatfish commented on #1279
Proposal in https://docs.google.com/document/d/13TZdWU6PEaOwpe--Zw96lcpjRqksJ7zAQ-mxk1qnZ30/edit#

[2019-09-05 20:51] bobcatfish opened #1280 "Create git output that updates git"
# Expected Behavior

As discussed in #1076, if a git PipelineResource is used as an output, this should cause a change in the outside world, i.e. for git the most appropriate action would be to create a new git commit. And in #1279 we want to make PipelineResoruces immutable, i.e. using a resource as a output would create a new PipelineResource.

This would mean that any Task that has a git Pipeli

[2019-09-06 09:46] cccfeng opened #1281 "Deploy tektoncd/pipeline in high concurrent request scenario"
# Expected Behavior
When I deploy tektoncd/pipeline in high concurrent request scenario(the taskruns/pipelineruns  are submitted concurrently), it may be better to increased the threads for controller to process queue workitems faster.

# Actual Behavior
From [v0.5.x](https://github.com/tektoncd/pipeline/blob/release-v0.5.x/cmd/controller/main.go#L179) --> [v0.0.6](https://github.com/tektoncd/pipe

[2019-09-06 11:52] ImJasonH commented on #1281
I'm definitely also very interested in exploring the scaling options/limits for the controller. I've run a number of load tests to measure queue latency under load (specifically TaskRuns), and the improvements in v0.6 were very welcome.

It could be helpful to define a scaling target we'd like to reach, then identify steps to take to get there.

In my tests creating 500 TaskRuns at 2 QPS (`kubectl

[2019-09-06 13:39] vdemeester commented on #1244
/assign
I think the problem should show up for recent version of tektoncd/pipeline… I'll try to bump the dependency in `kubernetes/test-infra`

[2019-09-06 13:56] vdemeester commented on #1244
Hum interesting, `go mod` doesn't really look into what package is used and what is not… So even if `test-infra` doesn't import anything in tektoncd/pipeline that uses `go-containerregistry`, it lists it as an indirect dependency…

[2019-09-06 15:44] bobcatfish opened #1282 "Add strong typing for PipelineResources"
# Expected Behavior

PipelineResources should be able to define their params in their spec with types, just like other CRDs, instead of being limited to just key/value. For example:

[code]

(@vdemeester @pmorie I'm assuming we can't get around keeping the `type` field if we want to add this in a backward compatible manner?)

# Actual Behavior

The current model of PipelineResource is a type (stri

[2019-09-06 15:50] bobcatfish opened #1283 "Warn about upcoming removal of git outputs"
In https://github.com/tektoncd/pipeline/pull/1109  we will remove support for git outputs. We may add support via https://github.com/tektoncd/pipeline/issues/1280 in the same release but even if we do, the functionality of a git output will be radically different from what it is today. We should include a warning in 1 release, via both release notes and via a warning logged by the controller whene

[2019-09-06 15:55] bobcatfish opened #1284 "Remove automatic PVC creation"
# Expected Behavior

Once we have #1062, users can use the Volume resource whenever they want to use a PVC. We should no longer create and link PVCs for them.

# Actual Behavior

Today whenever an output of one task is linked to an input, we use a volume to share the data between them. Also we create PVCs even when they are not needed, and TaskRuns that are created by PipelineRuns will expect thei

[2019-09-06 16:00] bobcatfish opened #1285 "Add FileSet Resource"
# Expected Behavior

Tasks that need to operate on files should be able to depend on a generic `FileSet` resource so that they can operate on Files without needing to know if the files came from git, from a configmap, from a hardcoded string, whatever.

Tasks that do need extra information, e.g. a git commit, should be able to still rely on more specifically typed PipelienResources

## Proposal

#

[2019-09-06 16:01] bobcatfish commented on #1170
Note that we should also update the catalog when we do this since after this change the catalog would no longer work with HEAD.

[2019-09-06 16:16] cccfeng commented on #1281
Glad to see the optimization brought about by the upgrade of the version.

We want to use tekton to pull up the build task (such as code2image). Dozens of tasks will be submitted concurrently at peak business hours. At the same time,  the time from apply tekton crds  to k8s pod enter running state is sensitive for us.

So I think parameter configuration maybe a better solution.

[2019-09-06 16:28] ImJasonH commented on #1281
Can you provide more information about what peak QPS you're sending, and what performance you're seeing that you'd like to see improved? It would be helpful to get real-world data, to help set a sort of informal SLO for TaskRun queue performance.

IIRC the default K8s pod scheduler enforces a 2 QPS limit for pod creations, so short of writing our own scheduler (which we could do...), that's probab

[2019-09-06 17:36] vtereso commented on #1272
I haven't looked https://github.com/tektoncd/pipeline/pull/1184/files over extensively, but I suppose my thinking is that this is not just a particular `PipelineResource` kind, but could effectively model any inter-step communication. The above `ConfigMap` idea is more or less a generic way of passing around params between tasks that is a hybrid/middleground between volumes and current `PipelineRe

[2019-09-06 17:55] sbwsg commented on #1272
I wonder if https://github.com/tektoncd/pipeline/issues/1285 alleviates some of the same pain. A FileSet is essentially an "untyped" group of files to be output from one Task and input to another but a benefit I see there is that the paths of those files is declared as part of the resource.

[2019-09-06 18:12] vtereso commented on #1272
To the same point of `PipelineResources` being dicey, I don't feel particularly strong about one `PipelineResource` being able to reference another as this further compounds/complicates things. I do like the idea between being able to select between raw data and config maps. Would the raw data support a compressed directory? That would essentially satisfy the "volume" approach. In any case, I thin

[2019-09-06 18:16] vtereso commented on #1285
A `PipelineResource` referencing another `PipelineResource` is somewhat concerning, but otherwise I think this is great.

[2019-09-06 18:29] bobcatfish opened #1286 "Design to keep PullRequest PipelineResource in sync with reality"
# Expected Behavior

If a Task uses a PullRequest Pipeline resource, as the Task progresses, if comments are added (or other changes represented in the filesystem) to the Pull Request, it should be possible:

- For the executing Task to see these changes <-- this is kind of a stretch goal really
- For the executing Task to use the PullRequest resource as an output and make _additive_ changes to th

[2019-09-06 18:52] bobcatfish commented on #860
Nightly releases are now releasing to the gs bucket `tekton-releases-nightly` !! 🎉

[2019-09-06 18:55] bobcatfish commented on #1273
I think this makes a lot of sense and I've run into some similar issues myself, for example in the nightly release pipeline (adding in https://github.com/tektoncd/pipeline/pull/1274) I need to generate a version tag, then pass that between steps. Between steps it isnt so bad b/c I can write it to a file on disk and read it into an environment variable but:

- it would be even harder between tasks

[2019-09-06 19:04] bobcatfish opened #1287 "Follow references in webhook validation of TaskRuns and PipelineRuns"
# Expected Behavior

When a user creates a PipelineRun or a TaskRun which is incorrect (e.g. missing parameters that a Task expects) they should find out immediately, i.e. the admission control webhook should fail.

# Actual Behavior

With most types in k8s, an effort is made to ensure that the order of creation of resources that reference each other doesn't matter.

For example, if you create a p

[2019-09-06 19:09] bobcatfish commented on #259
The file set resource (#1285 ) might address this?

[2019-09-06 19:09] bobcatfish commented on #51
I think we can consider this done for now.

[2019-09-06 19:09] #51 closed

[2019-09-06 19:23] bobcatfish opened #1288 "Add testing to example snippets in docs"
# Expected Behavior

When we include example snippets of code (yaml?) in our docs, we should be confident that they actually work.

# Actual Behavior

Our snippets are completely untested, for example our tutorial (https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) falls behind all the time and then we have to rely on users telling us what is wrong with it.

# Additional Info

I'm

[2019-09-06 19:34] bobcatfish opened #1289 "Testing tools for Tekton Pipelines"
I'm not exactly sure what this looks like but I wanted to start tracking this here if ppl have ideas.

Basically I think that we should have a great testing story around Tekton Pipelines, e.g.:

- People should be able to write "unit tests" for their Tasks and Pipelines (I have no idea what these would actually look like!)
- People should be able to have some level of confidence in their Tasks wit

[2019-09-06 19:37] bobcatfish opened #1290 "End to end tests should not buffer logs"
# Expected Behavior

End to end tests run for multiple minutes, so as a developer running the tests, I should see log output as they run so I know what they are up to.

# Actual Behavior

In https://github.com/tektoncd/pipeline/pull/662/files we switched to using the test log functions (i.e. `t.Logf`) instead of using the zap logger. `t.Logf` buffers logs until the end of the test, so you aren't g

[2019-09-06 20:16] bobcatfish commented on #993
I want to add here that `PipelineResources` should have descriptions too!

[2019-09-06 21:04] skaegi commented on #1273
Another example where this might be useful is if your step/task posts a message to a forum and you get back the post URL, or if you upload a zip file somewhere and get back a generated URL.

Passing params between `steps` is tricky especially since the container is already started. I think the `/workspace` mechanism is probably as good as it gets.

Off the top of my head Task Output param values c

[2019-09-09 04:26] hrishin commented on #1275
@vincent-pli that sounds nice idea. Just wondering where shall we add the example?
Because [example](https://github.com/tektoncd/pipeline/tree/master/examples) `Task` has to pass the CI integration and not sure how to keep the `Github` creds.

[2019-09-09 04:32] anxinyf commented on #1150
@rakhbari I create a configmap with file ~/.docker/config.json, then mount it to kaniko image, like this:
`kubectl create configmap docker-config --from-file=/root/.docker/config.json`
And,
[code]

serviceAccount like:
[code]

it seems to be viable for me.

but I have a question about Secret：
[code]
in this Secret, git repo and docker repo have the same username and password?

[2019-09-09 05:43] vincent-pli commented on #1287
Is this solution acceptable?
https://github.com/tektoncd/triggers/pull/81

[2019-09-09 08:00] cccfeng commented on #1281
Please reply for insufficiency in time.

At first, in a k8s cluster built with minikube, I submitted the pod create request in batches, and reproduced the description of "IIRC the default K8s pod scheduler enforces a 2 QPS limit for pod creations". The qps is between 2~3.

But in the k8s version of our internal production environment, we have done some optimizations for the pod scheduler to submit

[2019-09-09 08:03] cccfeng commented on #1281
For example:
`{"level":"info","logger":"controller.taskrun-controller","caller":"controller/controller.go:339","msg":"Reconcile succeeded. Time taken: 599.764148ms.","knative.dev/controller":"taskrun-controller","knative.dev/traceid":"0b1a1eca-28c2-4762-a457-47dbc7627da4","knative.dev/key":"tekton-pipelines/tekton-load-task-run-2"}`

[2019-09-09 13:39] OliverNocon commented on #1111
I follow issues and discussions but so far have no real idea about how to solve the above challenge of identifying a task's/step's container image at runtime?

Maybe I am on the wrong track as well and solving this should rather be done outside of Tekton by automatically generating a suitable PipelineRun?

Also not sure if #1136 could be of help?
@afrittoli maybe you could comment on this?

Any hi

[2019-09-09 13:58] afrittoli commented on #1111
There are a couple of ways you could solve this that I can think of:

1. Have a set of Tasks or Pipelines, one for each image. Run a Task to identify the image to be used. At the end of the Task send a CloudEvent and include the type of image identified and type of scans needed (you cannot include custom data in the notification body today, but there may be ways around this). Use triggers to recei

[2019-09-09 14:21] vtereso opened #1292 "Enable PipelineRuns to run multiple Pipelines"
To await the completion of multiple `PipelineRuns` (e.g. multiple `PipelineRun` created from an incoming event), these runs must be uniquely identified (e.g. a label) and then presumably another `PipelineRun` has to handle this. As an alternative and since `PipelineRun` have parameters (not reusable), perhaps allowing multiple `Pipeline` within a `PipelineRun` could be a good idea?

[2019-09-09 15:26] skaegi opened #1293 "Support Task/Step level user namespace remapping in `entrypoint`"
One real challenge for Tekton adoption in environments concerned with security is that "many" images used for CI/CD run as "root". In many cases this is simply because images were not authored using the principle of least privilege but in others there are legitimate reasons why root is needed. Regardless, the net result is that running arbitrary images in your Tekton tasks requires caution and in

[2019-09-09 15:31] chhsia0 commented on #1180
Updated the example to use Pipeline and PipelineRun. Also updated the above design doc.

[2019-09-09 15:32] bobcatfish opened #1294 "Better support for CI systems that provide many env vars"
# Expected Behavior

Many CI systems expect to pass a plethora of environment variables to executing logic (in our case, to the executing Step containers).

For example, [these are environment varaibles that Jenkins X provides](https://jenkins-x.io/architecture/jenkins-x-pipelines/#default-environment-variables), and [these are environment variables that Prow provides](https://github.com/kubernete

[2019-09-09 19:45] bobcatfish opened #1295 "Move from v1alpha1 to v1beta1"
# Expected Behavior

In our beta release (https://github.com/tektoncd/pipeline/milestone/14) we will need to upgrade our APIs from `v1alpha1` to `v1beta1`.

This would apply to both:

1. our package names (i.e. the `v1alpha1` folder)
2. the versions in our type definitions (e.g. https://github.com/tektoncd/pipeline/blob/master/config/300-pipeline.yaml)

# Actual Behavior

We are currently at `v1al

[2019-09-09 19:47] bobcatfish commented on #1231
Okay so we now have:

- [proposed roadmap](https://docs.google.com/spreadsheets/d/1ssL2bnzhHG_T4eUJd-EpUu22WCN5Z0a9zyVykJ2HpA4/edit#gid=0)
- [milestones to represent this work in github](https://github.com/tektoncd/pipeline/milestones)
- [beta working group](https://github.com/tektoncd/community/pull/35)

I'm gonna consider this issue done!

[2019-09-09 19:47] #1231 closed

[2019-09-10 08:09] thallgren commented on #1063
I've done some work on a more go-like type system "dgo" (dynamic go) where the type syntax is designed to be close to the go syntax. If something like pcore was of interest, then I think this can be even more so: https://github.com/lyraproj/dgo

[2019-09-10 12:46] afrittoli commented on #639
We may want to wait on immutable resource before we tackle this one.

[2019-09-10 12:46] afrittoli commented on #639
We may want to wait on immutable resource before we tackle this one.

[2019-09-10 14:15] pmorie commented on #1282
I'm wondering if we should make any changes here before we agree on the extension model. If we have agreement on the goal state first, we can avoid multiple API changes for users. Also, is backward compatibility important here? If so we should take that into account in the resource extension design.

[2019-09-10 16:15] bobcatfish commented on #1002
Quick update: assuming that https://github.com/tektoncd/pipeline/issues/1279 and https://github.com/tektoncd/pipeline/issues/238 will take care of this problem.

[2019-09-10 16:22] sbwsg commented on #1155
Implementation of this design is halted in favor of existing solutions. Through conversations with a number of teams and some experimenting with fluentd / stackdriver it has become clear that Tekton does not need to invent its own log export solution. Fluentd is an existing tool that is highly configurable and well-documented. The labels that Tekton adds to its Tasks' Pods provide enough informati

[2019-09-10 16:29] bobcatfish commented on #259
https://github.com/tektoncd/pipeline/issues/1285 + #1184 will cover this ! 🎉

[2019-09-10 16:29] #259 closed

[2019-09-10 16:30] sbwsg opened #1296 "Dogfood fetching logs from tekton pipelines that triggered by Prow"
# Expected Behavior

Logs from pipeline runs that are triggered by Prow should be easily reachable by contributors creating PRs against Tekton Pipelines.

# Actual Behavior

Currently the logs are not available for pipeline runs that kicked off by Prow in reaction to PRs.

[2019-09-10 16:31] bobcatfish commented on #1185
One way of doing this in a backwards compatible way is to do this via the mutating webhook.

[2019-09-10 16:33] bobcatfish commented on #1286
One way to work around this (reduce the risk) would be to use this with a Notification type (#49 )

[2019-09-10 16:33] bobcatfish commented on #1286
Also: for our beta release, maybe more realistic to view PR outputs as additive only.

[2019-09-10 16:36] dibyom commented on #1286
might be useful: https://developer.github.com/v4/mutation/

[2019-09-10 16:37] bobcatfish commented on #1284
(note the volume resource MUST be added before we can remove this)

[2019-09-10 22:02] arzarif commented on #1155
Hi @sbwsg - what would this mean for historical data presented via Tekton dashboard? Presumably, the dashboard isn't going to be interfacing with whatever solution is being used for cluster-wide pod log collection. If that's correct, wouldn't that present a pretty big hit to the dashboard's utility?

[2019-09-11 06:28] hrishin commented on #1275
A better way we can address it in the followup PR? @vincent-pli @sbwsg

[2019-09-11 12:44] sbwsg commented on #1155
The design here didn't dictate a specific persistent store for historical logs that would be universally available in all Tekton clusters. Even if this proposal were implemented the dashboard would have still needed to integrate with whatever persistent store an operator configured tekton to export out to. Really all we were doing in this design was pushing the configuration and burden of collecti

[2019-09-11 12:53] akihikokuroda opened #1298 "MutatingAdmissionWebhook is not working on OpenShift 3.11"
# Expected Behavior

The type of the Tekton param default is `string`.  So the param type is **optional**.  The mutatingadmissionwebhook set the default type when the custom resource (e.g. task) is created with missing default values.

# Actual Behavior
The taskrun for the task that has some params with unspecified type fails on OpenShift 3.11.  The error is:

`invalid input params: param types do

[2019-09-11 12:58] vdemeester commented on #1298
/kind bug
/assign

[2019-09-11 14:48] vdemeester commented on #1070
/assign

[2019-09-11 15:20] afrittoli opened #1300 "Empty selfLink warning in reconciler unit tests"
# Expected Behavior
"Clean" output when running unit tests successfully.
This does not really cause the tests to fail, but it generates noise in the test run logs.

# Actual Behavior
Some unit tests for negative cases would trigger a k8s event, however that fails because of the selflink missing in the resources created for testing:

[code]

# Steps to Reproduce the Problem

1. go test  ./pkg/recon

[2019-09-11 15:29] dibyom opened #1301 "Create a buildcop rotation for Tekton Pipelines"
We should have have a regular rotation of folks that take a look at incoming issues, PRs, build failures.

I wrote up a draft runbook here: https://docs.google.com/document/d/1QJV0z2bMXdz_BZOkBwfxIP1BiktUb8c1lcifwqxF5wg/edit#heading=h.6fsxjbh35nu5

Once we have some agreement, we can take the runbook and put it in the repo.

[2019-09-11 15:31] afrittoli commented on #1300
The error is logged in client-go, but it's not returned - so I wonder if this should really be logged as an error? Perhaps the issue is on client-go side as well:
https://github.com/kubernetes/client-go/blob/67a413f31aeaaff8cd9352ad060c1e57232157c8/tools/record/event.go#L290-L295

[2019-09-11 15:50] afrittoli commented on #1124
I've done some testing around this one.
Only looking at `pipelinerun_test.go`, it seems that the following tests generate issues:

[code]
$ go test -race  ./pkg/reconciler/pipelinerun/
E0911 16:40:28.050423   72124 event.go:259] Could not construct reference to: '&v1alpha1.PipelineRun{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"test-pipeline-run-with-timeout", Gene

[2019-09-11 16:56] sbwsg commented on #1275
If a working example is required I'd personally tackle it in a separate PR from #1276. Seems like it's going to need more thought on how exactly to make that work with the YAML tests.

[2019-09-11 20:24] vtereso commented on #1292
The [notifications proposal](https://docs.google.com/document/d/1ehhGngn2ulnjYX0HUxSyhQGAvcbabSa27UZs3RvZWwU/edit#) probably overlaps this.

[2019-09-12 08:23] anxinyf opened #1302 "Can't rerun existing completed taskruns or delete completed taskruns automatically"
# Expected Behavior
There can be some fields that can automatically delete taskruns or completed pods if necessary.

If you don't want to delete existing succeeded taskruns, please allow me to rerun the same name of taskrun, like kubectl apply which can configure the same Deployment and the pod will rerun.

# Actual Behavior
At present, when a taskrun is succeeded and the related pod is completed,

[2019-09-12 17:56] lafh opened #1303 "timeout: 0 will fail the pipeline immediately"
# Expected Behavior
`timeout: "0"` sets no timeout for PipelineRun or TaskRun.

# Actual Behavior
[code]
failed immediately on the HEAD release.

[2019-09-12 19:27] dibyom opened #1304 "Reserve "tekton/" folder in taskrun filesystem"
We should consider reserving the `tekton/` folder in the taskrun filesystem and perhaps even move stuff from the current `builder/` folder to `tekton/`.
The tekton folder could contain internal tools as well as things like the proposed JSON file containing the [pipelinerun context](https://docs.google.com/document/d/1eJBb2VHuSTbrIWfPE3TGdRRfdbJsRCOBIqfTwx9M3H8/edit#) and any other filesystem based

[2019-09-13 04:23] jstrachan opened #1305 "provide a pipeline concurrency limit"
# Expected Behavior

Its common in CI systems to limit the number of concurrent pipelines that can execute on a given repository and branch. e.g. process PRs concurrently, but only allow a maximum of 1 release to be performed at once in case releases clash with each other. e.g. to avoid race conditions between concurrent pipeline steps that operate on shared git repositories/buckets/kubernetes clu

[2019-09-13 12:29] #1118 closed

[2019-09-13 13:45] vdemeester opened #1306 "Inconsistent status.step(s) name"
# Expected Behavior

`TaskRun.Status.Step[…].Name` should always be the same.

# Actual Behavior

`TaskRun.Status.Step[…].Name` is not always the same, it varies between `step-XXX` and `XXX`.

# Steps to Reproduce the Problem

1. Create a `PipelineRun` with task or a `TaskRun`
2. Watch the `TaskRun` (or better, `TaskRun.Status.Step`)

# Additional Info

![image](https://user-images.githubuserconte

[2019-09-13 14:12] vdemeester commented on #1306
Hum :thinking: maybe I am just really tired and I'm not looking at the right fields :man_facepalming:

[2019-09-13 14:17] vdemeester commented on #1306
[code]

Yeah, false alarm :sweat_smile:
/close

[2019-09-13 14:17] #1306 closed

[2019-09-13 17:21] ImJasonH commented on #1294
@poy is working on migrating https://github.com/google/kf from Knative Build to Tekton (🎉 ) and ran into this speedbump. As a workaround they're going to create a `ConfigMap` that defines all the env vars for each TaskRun, then create both and tie them together with:

[code]

Thought it might be worth mentioning as a (kinda cruddy) workaround until we come up with something better.

[2019-09-13 18:12] bobcatfish commented on #1304
I really like this idea!!

(related: #1030 )

[2019-09-13 18:51] bobcatfish opened #1307 "Find a threadsafe way to log in timeout_handler"
# Expected Behavior

We should be able to emit logs from the timeout_handler in a threadsafe manner. The logic in the timeout_handler is intended to be running in separate goroutines alongside the main reconcile loop execution, to manage actions like timing out and retrying.

# Actual Behavior

We were using the same zap sugared logger that we were using everywhere else for logging, e.g.:

https:/

[2019-09-13 18:51] bobcatfish commented on #1124
Created #1307 to add thread safe logging back in

[2019-09-13 21:14] fejta opened #1309 "importing the pipeline api pollutes flags"
Importing the pipeline api causes a bunch of global flags to get introduced, for example:

https://github.com/tektoncd/pipeline/blob/5e3276d3df90c4d9b7c8d42c16c058a8d2348809/pkg/apis/pipeline/v1alpha1/git_resource.go#L33-L35

Ideally people should be able to consume this api definition without polluting their flag namespace.
Can we move these flags into the pipeline controller and/or move them ins

[2019-09-13 21:16] vrutkovs commented on #1175
Example params don't have `type: string` specified, so the validation error is misleading

[2019-09-13 23:48] bobcatfish commented on #1124
Created https://github.com/tektoncd/plumbing/issues/71 to update the base image we're using with Prow

[2019-09-13 23:50] bobcatfish commented on #1248
Might get fixed by https://github.com/tektoncd/pipeline/issues/1124 🤞

If so we should file a bug that errors while running coverage might be causing files to get skipped?

[2019-09-13 23:51] bobcatfish commented on #238
@vdemeester @pmorie what are the next steps for the design here? I think folks are pretty happy with the design as proposed and we could close this issue, and move into implementing it, what do you think?

[2019-09-14 02:12] hrishin commented on #1275
@sbwsg :+1:

[2019-09-14 14:17] bobcatfish commented on #1272
Hey @vtereso ! Thanks for starting this discussion and helping us to critically examine PipelineResources :D

As you pointed out, our docs on PipelineResources focus completely on _how_ they currently work and not really on _why_ we think they're an important abstraction. I like @dlorenc 's definition from #1076 a lot more than the one in our docs right now:

We can take this further by defining w

[2019-09-14 22:28] vtereso commented on #1272
@bobcatfish That was a good summary.

What do you mean by this? My rationale behind `Task`s being analogous to the `PipelineResource`s is because in the above/most/all scenarios a `TaskRun`/`PipelineRun` will need to be created regardless, where this would be where the parameters are injected rather than in the ahead of time `PipelineResource`. With consideration for the catalog or otherwise (e.g.

[2019-09-15 13:29] #1124 closed

[2019-09-15 14:37] thinkerou opened #1313 "Upgrade all dependent package"
# Expected Behavior

Use the latest dependent package.

# Actual Behavior

Still use the older version package.

# Steps to Reproduce the Problem

For example, the version of `cloud.google.com/go` package is `v0.45.1` but we still use `v0.37.2`; and the version of `github.com/Azure/azure-sdk-for-go` is `v33.2.0` but we still use `v21.4.0`; and so on. So, we should upgrade these third-party package

[2019-09-16 05:52] anxinyf commented on #1302
@vdemeester Would Pipeline or Operator like to design some fields used in yaml which means that succeeded taskruns can be deleted automatically after ttl time , or they can be deleted in batches?

[2019-09-16 08:35] #1170 closed

[2019-09-16 09:25] vdemeester commented on #1272
@vtereso do you envisonned `Task` as composable, a bit like GitHub actions ? Being able to refer and encapsulate a `Task` into another one ?

[code]

On the "volume handling", currently you can do the following :

[code]

That allows you to decouple the mount point from the volume type. You could have all your task referencing a volume that is "attached"/"declared" in you `PipelineRun` and do all

[2019-09-16 11:05] afrittoli commented on #260
One use case for resources I've been thinking about it some form of input image resource: it's quite common to want a custom image for a step and I think we need to have a better solution for that. One idea could be having the step image specified as an input - i.e. a pipeline builds the step image(s) and produces output image resources which include the digest. Then other pipelines that consume t

[2019-09-16 11:27] pradeepitm12 opened #1314 "ClusterResource validation for CAData"
# Expected:
If the insecure parameter is set as  true ideally it should not force the user to provide CAData

# Actual:
Creating the `ClusterResource` with `insecure` `true` and CAData as an empty,
returns a validation error saying `missing field(s): CAData param`

# Steps to Reproduce the Problem

Executed following command

[code]

[2019-09-16 13:17] skaegi opened #1315 "Consider Go module adoption for beta"
I'm looking at versioning for the beta and wondering if we should maybe use the opportunity to move to Go modules before we have to support semantic package versions forever.

In particular I'd like to see if we can do a one time change to avoid having versions in our imports like ... /pkg/apis/pipeline/v1alpha1 and instead just have /pkg/apis/pipeline and then rely on module versioning.

[2019-09-16 13:20] skaegi commented on #1315
Similar issue in knative serving -- https://github.com/knative/serving/issues/3368
Kubernetes KEP -- https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md

[2019-09-16 14:01] vtereso commented on #1272
If a step/`Task` can be encapsulated in another, the `Task` would still have to specify it uses the correct mount in order for it to interoperate correctly? In this way, there would be at least an implicit contract that the mountPath would be consistent across `Task` that work together. Alternatively and with consideration for encapsulating steps, creating a new `EmbedStep` or something like that

[2019-09-16 14:40] vdemeester commented on #1309
/assign
/kind feature

[2019-09-16 14:42] vdemeester commented on #1248
@bobcatfish right, that's the case, when there is errors, the job is marked as green anyway (and it skips the report for that package)

[2019-09-16 15:02] chhsia0 commented on #1272
In the current API, `PipelineResource`s provides two functionalities:
1. `Task` parametrization with *static* structured data
2. Procedure to bring data to tasks
Right now 1 is overlapped with task parameters, and 2 is very similar to task steps and/or volumes. It seems to me that this could make us think that `PipelineResource` is not absolutely necessary.

However, it seems to me that to there's

[2019-09-16 15:12] #1275 closed

[2019-09-16 16:14] sbwsg commented on #1272
Notes from our initial meeting on this subject are available here for review: https://docs.google.com/document/d/1p6HJt-QMvqegykkob9qlb7aWu-FMX7ogy7UPh9ICzaE/edit

[2019-09-16 16:40] arzarif commented on #1155
Thanks for the clarification (unfortunately I can't access the design doc even though I'm on the mailing list). My initial read on this was that this specifically meant to enable historical logs within the dashboard. If that wasn't the intention, then I agree.

I wonder if the best approach is to just have the dashboard interface directly with some storage medium (S3, GCS, etc.) to persist logs it

[2019-09-16 19:18] #860 closed

[2019-09-17 11:13] MartinForReal commented on #544
This issue may be covered by https://github.com/kubernetes/enhancements/issues/592

[2019-09-17 11:39] naiduasn commented on #233
Hey, just want to check if we would see this getting implemented anytime soon.

[2019-09-17 17:05] afrittoli opened #1323 "Support alternative implementations of a specific Task"
## Description and motivation

A Tekton `Task` has an interface that is defined by the collection of its inputs (resources + params) and outputs (resources). It should be possible to replace a `Task` in a `Pipeline` with a different one as long as their inputs and outputs are compatible.

Tekton however does not really provide any way to switch the implementation of a `Task` in a `Pipeline` dynami

[2019-09-17 17:18] skaegi commented on #1323
Maybe a little low-tech ... but a Task could have a step that internally wraps a dynamically named (or even generated) Task or Pipeline, run it and then copy it's inputs and outputs (and maybe even logs) back out to the containing TaskRun. It would definitely be a bit of work to support traceability but I think still possible with clever labelling.

[2019-09-17 18:07] afrittoli commented on #1323
Nice idea, that would move the granularity back; but without the benefit of running on the same node. I think there are multiple possible ways to implement this - but whatever the solution I'd like it to be very much declarative - so that its clear from the pipeline/task/step specs what we expect to happen.

[2019-09-17 20:50] afrittoli opened #1325 "The release pipeline does not store artifacts on the GCS bucket"
# Expected Behavior
The release yaml should be store on the target GCS bucket

# Actual Behavior
Since https://github.com/tektoncd/pipeline/pull/1122, we changed the behaviour of resources that are used as both inputs and outputs. We'll need a step in the release pipeline to add the content work `/workspace/output/bucker`

# Steps to Reproduce the Problem

1. Run the release pipeline
2. No content

[2019-09-18 10:43] jstrachan opened #1328 "allow environment variables to be added to git-init containers"
# Expected Behavior

Provide some way (e.g. a ConfigMap?) to be able to add additional environment variables to the `git-init` container step

# Actual Behavior

Some folks are evaluating Jenkins X + tekton on an internal gitlab which doesn't have a proper public certificate and the first git-init step generated by tekton is failing with `SSL certificate problem: unable to get local issuer certifi

[2019-09-18 15:32] #1325 closed

[2019-09-18 16:48] #1229 closed

[2019-09-18 17:22] afrittoli commented on #49
@bobcatfish if thing we got enough input on the design doc now to close this issue and start prototyping - so I would close this one.

[2019-09-18 19:24] bobcatfish commented on #49
Sound good to me @afrittoli !

[2019-09-19 17:24] sbwsg commented on #540
We had our first meeting regarding observability, specifically metrics, today and work is now underway. There are a couple of other issues that overlap in theme with this one. I am linking them together here for us to review later and figure out which to keep and which to close.

Related issues:
https://github.com/tektoncd/pipeline/issues/164
https://github.com/tektoncd/pipeline/issues/540
https:/

[2019-09-19 17:24] sbwsg commented on #164
We had our first meeting regarding observability, specifically metrics, today and work is now underway. There are a couple of other issues that overlap in theme with this one. I am linking them together here for us to review later and figure out which to keep and which to close.

Related issues:
https://github.com/tektoncd/pipeline/issues/164
https://github.com/tektoncd/pipeline/issues/540
https:/

[2019-09-19 17:25] sbwsg commented on #855
We had our first meeting regarding observability, specifically metrics, today and work is now underway. There are a couple of other issues that overlap in theme with this one. I am linking them together here for us to review later and figure out which to keep and which to close.

Related issues:
https://github.com/tektoncd/pipeline/issues/164
https://github.com/tektoncd/pipeline/issues/540
https:/

[2019-09-19 17:35] skaegi opened #1332 "Handling Secrets in Pipeline-as-code"
One challenge we run into when using Tekton for pipeline-as-code is around handling the creation of Secrets used both by PipelineResources (which require specific type and annotations) as well as the more typical Secrets used in Steps.

A typical case has us in response to an event create a single-use namespace and laydown definitions for Pipelines, Tasks, ConfigMaps, etc.  We then generate a Pipe

[2019-09-19 20:09] bobcatfish commented on #49
plz feel free to make a follow-up Issue to do POC and/or implement - we can add it to our 0.8 milestone!

[2019-09-19 20:09] #49 closed

[2019-09-19 20:11] bobcatfish commented on #872
/assign pritidesai

[2019-09-19 20:12] bobcatfish commented on #544
Seems like folks are in agreement about the proposal! And @pritidesai is working on this via https://github.com/tektoncd/pipeline/issues/872 so I'm going to close this issue.

[2019-09-19 20:12] #544 closed

[2019-09-19 20:24] bobcatfish commented on #872
/assign pritidesai

[2019-09-20 02:31] MartinForReal opened #1334 "[feature request]Delete pipelinerun and taskrun under 'complete' state using different strategies automatically"
# Expected Behavior
Delete pipelinerun and taskrun under 'complete' state using different strategies automatically

# Actual Behavior
pipelinerun and taskrun are not deleted until system admin delete them manually

# Additional Info

related issue: #453  https://github.com/kubernetes/enhancements/issues/592

[2019-09-20 06:54] khrm commented on #1182
/assign khrm

[2019-09-20 10:25] prashankprince opened #1336 "error pushing image: failed to push to destination host.docker.local:5000/"
# Expected Behavior

Image pushed to private registry.

# Actual Behavior

error pushing image: failed to push to destination host.docker.local:5000/test/leeroy-web:latest: Get http://host.docker.local:5000/v2/: dial tcp: lookup host.docker.local on <some IP>:53: no such host.

# Steps to Reproduce the Problem

1. Follow https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md
2. Update /

[2019-09-20 12:00] vdemeester commented on #1328
/kind feature

So this is doable using `StepTemplate` in a `Task` but I don't think it applies to internal init container…

[2019-09-20 14:54] lafh commented on #1303
It seems "no timeout" is an option according to https://github.com/tektoncd/pipeline/issues/978 and the documentation https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md

"this *Run should be allowed to run indefinitely forever" is unlikely to happen, but "no timeout" should still be an option for flexibility reason. For example, we might want to control the timeout at a higher l

[2019-09-20 15:14] ImJasonH commented on #1303
Ah okay, I must have been mistaken. If the docs says `timeout: 0` should work and it doesn't that's a bug. Reopening!

[2019-09-20 15:15] ImJasonH commented on #1303
@houshengbo Can you look into this and see if you can reproduce? (I ask because you implemented https://github.com/tektoncd/pipeline/pull/1040)

[2019-09-22 16:04] fraenkel commented on #1197
I started to look at this closer. The question to answer is how the data should be reflected back.
If one uses a Value, its just as its done today.
1. If we support a valueFrom, should it be an envVar or volume?
1. We can't verify the type unless we pull the value which seems odd.
1. The current Secrets can be deprecated and replaced with Secrets via `valueFrom` hence the question above regarding

[2019-09-23 03:01] dragon9783 opened #1343 "All container of pipline pod will pull image always"
# Expected Behavior
for offline environment, can NOT connect internat
if image (creds-init, entrypoint, webhook,bash etc) present on node, NOT pull image always

# Actual Behavior
pull image always
# Steps to Reproduce the Problem

1. install pipline
2. create task
3. create taskrun

# Additional Info

[2019-09-23 05:45] MartinForReal commented on #1334
related issue: #1302 , both need to delete pipeline run and task run automatically.

[2019-09-23 16:38] chmouel opened #1347 "Sidecars doesn't get terminated when the binary is in the nop image"
# Expected Behavior

Sidecars get terminated along the `main` container

# Actual Behavior

This is a followup  to the discussion we had with @sbwsg  on this issue :

https://github.com/tektoncd/pipeline/issues/1253#issuecomment-527464092

Since the sidecar tests has been implemented we have seen some issues on our openshift based CI. The test would run waiting for a terminate state and fails wait

[2019-09-23 17:38] khrm commented on #1315
When you vendor, you don't import v1alpha1,  you vendor by tektoncd pipeline version.
So v1alpha1 isn't the version of tektoncd/pipeline.
In cli, we would import pipeline like github.com/tektoncd/pipeline v0.8.0 which isn't solving v1alpha1/2 which is inside the package.
Then in case of go modules, we would use it like import "github.com/tektoncd/pipeline/v0.8.0"

[2019-09-24 08:07] gejunqiang opened #1350 "Creds-init container process caused "invalid value "tekton-ssh-key={my own gitlab domain name}" for flag -ssh-git: exit status 1""
# Expected Behavior
The task run normally.

# Actual Behavior

The creds-init container  step-credential-initializer (using the image of gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/creds-init@sha256:c8544b7182b53608f7b71f42c31295d8bf534ceeed14be735977c7e289fd37b7) is alway  Error !

# Steps to Reproduce the Problem

1. Follow the step: https://github.com/tektoncd/pipeline/blob/master/d

[2019-09-24 08:13] vdemeester commented on #1350
/kind bug

[2019-09-24 10:27] chmouel commented on #1347
Related Kubernetes issue for a RFE allowing `spec.Container.Command` to be modified  https://github.com/kubernetes/kubernetes/issues/83059

[2019-09-24 13:19] chmouel commented on #1347
Our case is a bit different, it just that as a policy (and our CI enforces it) all our images needs to use our official distro images so we have to base the `nop` image against a minimal RHEL container (called UBI).

[2019-09-24 13:42] sbwsg commented on #1347
Does UBI contain a `kill` binary?  If so then this issue may be resolved by https://github.com/tektoncd/pipeline/issues/1131 since, once implemented, that would no longer perform a nop image swap (and at the same time would introduce a nice simple contract for sidecar containers that want to be stopped "gracefully").

[2019-09-24 13:43] sbwsg commented on #1347
There is also the ongoing sidecar KEP which is progressively being implemented in Kubernetes. https://github.com/kubernetes/enhancements/issues/753

[2019-09-24 14:19] chmouel commented on #1347
@sbwsg ah really nice yes we do have a kill binary :

![image](https://user-images.githubusercontent.com/98980/65518172-24092680-dee4-11e9-874c-ab0562f973c4.png)

but if I understand your comment here https://github.com/tektoncd/pipeline/issues/1131#issuecomment-525845852 you want to SIGKILL process 1 in the sidecar container before it gets replaced to `nop`. That sidecar container is whatever the

[2019-09-24 14:21] sbwsg commented on #1347
Ah yeah good point!

[2019-09-24 16:20] pritidesai commented on #812
/assign pritidesai

[2019-09-24 16:39] abayer commented on #1328
The git clone step isn't run as an init container, but it is an internal step added by the git resource.

[2019-09-24 21:01] wlynch commented on #1286
I don't think notification types would solve this problem. The race condition exists even in that case, since a new comment could come in from when the PR is initialized on disk.

I think what we want here is a comment manifest. This would let us detect whether or not a comment was explicitly deleted, or just one we don't know about yet.

e.g. When we download the pull request resource, also creat

[2019-09-24 21:09] bobcatfish commented on #1248
Seems like this is working now that we've addressed #1124, plz re-open if not!

[2019-09-24 21:09] #1248 closed

[2019-09-25 11:36] gejunqiang commented on #1350
# Additional Info Again

when I add the "known_hosts" data into my Secret:
[code]
**It works !**

[2019-09-25 11:49] thinkerou commented on #1313
closing

[2019-09-25 11:49] #1313 closed

[2019-09-25 14:05] nlewo opened #1355 "Export tags of an image resouce"
# Expected Behavior
I would like to have a list of tags exported by the `imageDigestExporter` in the image resource.
I generate a tag at image build time which depends of the build requires, and I would like to reuse this tag in some other tasks.

# Actual Behavior
The image resource only exports a `name` and a `digest`.

# Additional info
The `index.json` file contains the `repoTags` attribute wh

[2019-09-25 14:07] vdemeester commented on #1355
/kind feature

[2019-09-25 14:39] vdemeester commented on #1350
@gejunqiang thanks for the additional info. `creds-init` should add the `know_hosts`, so my guess is, it is not creating the correct one, most likely…

[2019-09-25 16:43] bobcatfish commented on #872
Design doc for PipelineSpec embedding: https://docs.google.com/document/d/1at7nFsC-4OIILXwAC--EujlF9eJ_yiVt3cBWMRJbIdc/edit#

[2019-09-25 16:44] bobcatfish commented on #872
I'm going to reopen this b/c we don't have Task embedding yet.

[2019-09-26 09:55] nlewo commented on #216
@afrittoli if I understand well, the digest is exposed in the `taskrun` but the image resource is not yet updated. So, this means we cannot use the digest as an image resource variable (since it is the empty string).

Are you still planning to update the image resource with the digest?

[2019-09-26 09:57] vdemeester commented on #216
The digest *should* be available for the next `Task`/`TaskRun` that use this image as input resource (and use `from`, although I don't think it's required ?). If it doesn't work, then it's a bug :sweat_smile:

[2019-09-26 13:12] berbiera commented on #1328
Hi
Any update on that feature ? Is that feasible to integrate the variable ? We are waiting on that feature.
Thanks guys

[2019-09-26 23:57] pritidesai commented on #872
will start working on Task embedding after PR #1353 and #1333 are merged since these PRs are perquisites for `taskSpec` under `pipelineSpec`.

[2019-09-27 20:34] dibyom commented on #1285
One  use case: Pass entire event bodies from Triggers to a Pipeline

[2019-09-30 15:10] #1303 closed

[2019-09-30 16:22] vtereso opened #1367 "Allow for TaskReference Interpolation within Pipeline"
# Expected Behavior
Without `PipelineResource`s ([google doc](https://docs.google.com/document/d/1u6qO7CPtDnTOZMYFQ5ARysSOy8lfFeVw83C_5BxAKsw/edit#heading=h.dqk738hxkkh)) `Pipeline` duplication happens as a consequence because there is no way to interchange the injection steps. In order to alleviate this shortcoming, taskRef injection will enable arbitrary `Task` to be similarly injected into the

[2019-09-30 17:05] steveodonovan opened #1368 "Cancelled TaskRun and PipelineRun Steps keep an invalid status"
Came across some slight inconsistency in cancelled resources. The steps in a PipelineRun or TaskRun which has been cancelled keep their status' and reason messages.

# Expected Behavior

Steps should reflect their state.
`running` and cancelled -> `cancelled`
`terminated` and cancelled -> `terminated` (which is the case)
`waiting` and cancelled -> `not run` (or cancelled ?)

# Actual Behavior

The

[2019-09-30 17:07] sbwsg opened #1369 "Beta documentation: write up alternatives to PipelineResources if they remain Alpha"
# Expected Behavior

Clearly documented approach to passing files, folders, docker images, cluster information, auth information, repo information etc etc without relying on PipelineResources.

# Actual Behavior

At the moment our docs assume that PipelineResources are "the answer" to modelling meaningful resources external to the CI/CD system. In the most recent PipelineResource working group we

[2019-10-01 07:23] vdemeester commented on #1367
/kind feature
/area api

[2019-10-01 07:24] vdemeester commented on #1368
/kind bug

[2019-10-01 14:30] bobcatfish commented on #1367
@vtereso can you elaborate a bit more on what taskRef injection would look like, maybe with an example?

[2019-10-01 14:36] vtereso commented on #1367
[code]

[2019-10-01 14:41] vtereso commented on #1367
With this change, we would likely have strong enforcement where the taskRef must be a valid Kubernetes name after interpolation (the task must exist). Alternatively, an empty taskRef could be ignored when creating the `TaskRun` to get definition with optional injection points. In either situation, what this allows for in injection anywhere within the definition where `PipelineResources` only allow

[2019-10-01 14:50] imjasonh opened #1371 "Proposal: Per-resource Service Accounts"
Today, to authorize interactions with PipelineResources (e.g., fetch source, push image, deploy to cluster), a TaskRun specifies a Service Account, which is expected to have an annotated Secret with credentials to interact with all the external services needed by the TaskRun.

These credentials are pulled from the Secret and passed to [`creds-init`](https://github.com/tektoncd/pipeline/tree/master

[2019-10-01 14:58] vtereso commented on #1371
I assume this means outside of `PipelineResource`s since the steps internal to them are blackboxed? I agree that per step seems overkill since you could just make smaller `Task` definitions, which could probably achieve a similar result.

[2019-10-01 15:06] ImJasonH commented on #1371
Yeah, I envisioned someone wanting to run the main `steps` of a Task with credsA applied to the first set of steps and credsB applied to the rest of the steps, but this seems like a real antipattern that would likely only cause more confusion.

[2019-10-02 10:37] afrittoli opened #1372 "Reduce E2E test dependencies on external components"
# Expected Behavior
It should be possible to run E2E tests in any k8s cluster with no need for external dependencies. We could use sidecars to run a container registry, a git server, a GCS like service etc.

# Actual Behavior
The kaniko test expects a container registry to push images to, which requires credentials.
The GCS tests expects to push to a bucket on GCS, which requires credentials.
This

[2019-10-02 10:52] XiaohanLiang opened #1373 "`release.yaml` needs to be updated"
# Expected Behavior
I was following the tutorial, just found a small issue. [Here](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#accessing-local-path-to-resource) it says `path` is an pre-defined variable. It is expected to return the location of my git-repository

[code]

# Actual Behavior
However when I try to reference to it I got:
[code]

# Steps to Reproduce the Problem

[2019-10-02 13:05] skaegi commented on #1197
We might also want to figure out how to support "fieldref" https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#envvarsource-v1-core

I've had a couple of cases where I wanted the metadata.name to be injected via param

[2019-10-02 15:09] #1213 closed

[2019-10-02 21:45] bobcatfish commented on #1367
Ah interesting, so the name of the Task could be interpolated! I think I could get behind that but I'm not quite sure about how well it addresses the use case you described:

The way that PipelineResources work right now, the logic being used to fetch your data is pretty fixed - if you use a git PipelineResource, you always get the same containers injected. I guess that storage is a bit different,

[2019-10-03 02:45] vtereso commented on #1367
This creates a similar contract in terms of functionality, but rather than being at the `Task` level, it happens at the `Pipeline` level. For example, a `Task` can be interpolated to support both `mercurial` and `git` repository types, where the rest of the `Pipeline` would be identical. Without interpolated `Tasks`, this would create two distinct `Pipeline`. The combinatorics of not being able to

[2019-10-03 02:52] vtereso commented on #1367
Another example, with the classical Clone->Build->Push `PIpeline`, the build `Task` will be different per language. Instead of having to maintain many different `Pipeline`, interpolating each language build `Task` consolidates this. This compliments `Pipelines` whether they use `PIpelineResources` or not.

[2019-10-03 10:02] prashankprince commented on #1336
Use private IP name rather than name in image resource, it will work

[2019-10-03 11:03] gireeshpunathil opened #1374 "feedback request: tekton pipeline generator"
Hello team!

[Kabanero](https://kabanero.io/) is an open source project aiming to integrate foundational open source technologies for accelerating microservices development.

[Kabanero Pipelines](https://github.com/kabanero-io/kabanero-pipelines) is a sub-project that contains a collection of Tekton tasks and pipelines for the most common CI/CD work flows.

I am working on a project [plgen](https:

[2019-10-03 11:49] aadeshpa opened #1375 "Github secret missing causes error `could not read Username for 'https://github.ibm.com': No such device or address` in build step of the tekton pipelines."
# Expected Behavior
need better error message when missing github secret.

# Actual Behavior
When a user forgets to either miss to do below 3 things for the setup of Github secret prior to running any pipeline the build step in pipeline fails

Error snippet :

[code]
This type of error can occur for a set of related reasons:

- The user has created a secret for github but not patched that secret o

[2019-10-03 11:51] aadeshpa commented on #1375
This issue was created as a output of other issue in pipelines repository (https://github.com/kabanero-io/kabanero-pipelines)

Below is the reference issue:
https://github.com/kabanero-io/kabanero-pipelines/issues/54

[2019-10-03 13:34] sbwsg commented on #1367
We might want a slightly more complicated example in order to interrogate this idea a bit more.  Here's a mockup of what a git/hg/svn checkout pipeline might look like:

[code]

And the PipelineRun to execute it:

[code]

And I guess the `gitCheckout` task (or any other VCS task) needs to follow the right shape of params as @vtereso already mentioned:

[code]

This feels like it's again a question

[2019-10-03 13:35] sbwsg commented on #1367
Oh I should've included another task in the pipeline and a volume mount to demonstrate sharing between tasks.

[2019-10-03 14:24] vdemeester commented on #1113
/assign

[2019-10-03 14:53] bobcatfish opened #1376 "Allowing for actions to be taken in failure scenarios"
I'm creating this as an Epic to generally cover being able to express behaviour that should occur in a Pipeline when some part of the Pipeline fails. At the moment we have Conditions in Pipelines, but afaik you can't express "if previous Task failed" as of yet b/c a Task failing will halt execution (correct me if I'm wrong @dibyom !).

And if a Task fails, any PipelineResource output actions that

[2019-10-03 14:59] afrittoli commented on #587
The CloudEventPipelineResource is implemented, so this can be closed now.

[2019-10-03 14:59] #587 closed

[2019-10-03 15:05] afrittoli opened #1377 "Deploy and test each release after it's done"
We should test releases after they're done (including nightly ones) and track the results.
This should use the work done in https://github.com/tektoncd/plumbing/issues/75.

Ideally this should be automated E2E, and we should not use prow to trigger the pipeline, so that we can benefit use the latest Tekton syntax in the pipeline definition.

[2019-10-03 15:06] afrittoli commented on #1377
We're setting up a new cluster for dogfooding. We plan to CD tekton there on a daily basis (at least) and we can use that same Tekton to run this test.

[2019-10-03 15:32] vdemeester commented on #1377
@afrittoli related to https://github.com/tektoncd/pipeline/issues/1121 right ? (at least this is the foundation for it)

[2019-10-03 15:52] afrittoli commented on #1377
Yeah, even though #1121 is about testing code before releasing, while this one is to test a release after it is made to ensure the build and release process was successful.

[2019-10-03 21:48] skaegi opened #1379 "Investigate use of an admission webhook to ease move to beta"
When we go beta we're going to end up with a ton of pre-existing Tekton resources that use `apiVersion: tekton.dev/v1alpha1` where-as our stored versions will now be using `apiVersion: tekton.dev/v1beta1` or similar.

One practice to help ease migration is to use a [MutatingAdmissionWebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook). W

[2019-10-04 03:09] gireeshpunathil opened #1380 "unknown field "trigger""
# Expected Behavior

Pipeline run `pipeline.tekton.dev/l-txt-pipeline-run` created

# Actual Behavior

Error from server (InternalError): error when creating "l.yaml": Internal error occurred: admission webhook "webhook.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "trigger"

# Steps to Reproduce the Problem

[code]

apply this on an Opensh

[2019-10-04 05:45] duanshiqiang commented on #1250
Yes, it would be very useful.

[2019-10-04 06:11] afrittoli commented on #1380
The trigger field has been removed some time ago since it was not used for any purpose.
Could you remove it from your PipelineRun and try again?

[2019-10-04 06:20] gireeshpunathil commented on #1380
@afrittoli - thanks for the response! sure, it works fine.
Does this mean this will not be supported anymore? FWIW, `OKD 3.1` continues to take this as a valid input, so!

thanks again!

[2019-10-04 06:55] vdemeester commented on #1380
@gireeshpunathil yes this is not supported anymore. There is a problem on OKD 3.x (I hope you meant 3.11 because 3.1 is.. really old :sweat_smile:).

Related issue for OKD: https://github.com/tektoncd/pipeline/issues/1298 and https://github.com/tektoncd/pipeline/issues/1113

[2019-10-04 07:01] vdemeester commented on #1379
@skaegi note that we already are using a `MutatingAdmissionWebhook` and we have a slight mechanisms to do conversion… but yeah we need to enhance that and have confidence on it (hence the battery of tests :stuck_out_tongue_closed_eyes:)

[2019-10-04 09:06] gireeshpunathil commented on #1380
@vdemeester - thanks for the clarification! yes, I meant `3.11`.

issue clarified and resolved, closing.

[2019-10-04 09:06] #1380 closed

[2019-10-04 18:00] sbwsg commented on #1367
I've updated the git clone example above to a mostly-working example (spent a couple hours getting it working locally minus the taskRef interpolation to make sure that the volume stuff was right).

The example clones a repo and `cat`s the README file.  It took me a long time to get everything lined up right with the volume configs.

Also, fun note, you can't name a volume "workspace" right now bec

[2019-10-04 20:38] dibyom opened #1383 "1023"

[2019-10-04 20:38] #1383 closed

[2019-10-06 17:33] skaegi commented on #1197
I think in retrospect this might be a mis-feature. I've yet to have a case where I can't get at the data I need every bit as cleanly in an individual step using `env` or by 'volume/volumeMount' and a param for reference name.

[2019-10-07 10:15] hhellyer opened #1384 "Tutorial recommendation to use Docker Edge for suitable Kubernetes level out of date."
The tutorial documentation at:

https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#known-good-configuration

suggests installing Docker Edge is required to get a suitable level of Kubernetes on Docker, Kubernetes v1.11 or higher. The latest Docker Stable releases now use Kubernetes v1.14. Additionally I was able to complete the tutorial using the latest version of stable docker inst

[2019-10-07 11:01] chrono2002 opened #1386 "Several git resources for task"
Add support for several git resources as input for task. E.g.:

  inputs:
    resources:
      - name: source1
        resourceRef:
          name: git-source-1
      - name: source2
        resourceRef:
          name: git-source-2

Tekton fetches everything into single dir (the second one overwrite same files from the first one) and then pack into image.

[2019-10-07 12:20] vdemeester commented on #1384
#1385 is merged, we can close :wink:
/close

[2019-10-07 12:20] #1384 closed

[2019-10-07 13:30] dlorenc commented on #1314
Looks like this was fixed with #1354

[2019-10-07 13:30] #1314 closed

[2019-10-07 13:33] dlorenc commented on #1300
Looks like this no longer repros:

[code]

Maybe a recent update fixed this?

[2019-10-07 13:33] #1300 closed

[2019-10-07 13:36] dlorenc commented on #1214
This was fixed wtih #1215

[2019-10-07 13:36] #1214 closed

[2019-10-07 13:38] dlorenc commented on #1185
@skaegi do you still want to pursue this or should we close it out?

[2019-10-07 13:38] dlorenc commented on #1147
I think I'll close this out as stale. Please re-open with more information if you can!

[2019-10-07 13:38] #1147 closed

[2019-10-07 13:40] dlorenc commented on #1065
For Docker to run, I think you'll need to have a daemon running somewhere as a sidecar. We've recently added support for this!

Can you check out the example at https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/dind-sidecar.yaml?

[2019-10-07 13:40] #1065 closed

[2019-10-07 13:41] dlorenc commented on #917
Closing as fixed by #972

[2019-10-07 13:41] #917 closed

[2019-10-07 13:51] #1309 closed

[2019-10-07 16:33] kav commented on #1066
Any update here? Happy to contribute where needed. Would really love to use Tekton to manage Bitbucket PRs. Is the next step adding BB PR labels to the jenkins-x go-scm fork?

[2019-10-07 20:08] bobcatfish opened #1389 "Add description field to Resources in Tasks"
# Expected Behavior

It should be easy to tell from looking at a `Task` what the intended usage is of any `PipelineResources` the `Task` requires.

# Actual Behavior

We have description fields for `params` but not for `input` or `output` `PipelineResources`, for exmaple [the kaniko Task from the catalog](https://github.com/tektoncd/catalog/blob/14d38f2041312b0ad17bc079cfa9c0d66895cc7a/kaniko/kani

[2019-10-07 20:42] bobcatfish commented on #1273
@kbruner looking in more detail at the use case you're describing, I'm wondering if [the proposed FileSet resource](https://github.com/tektoncd/pipeline/issues/1285) might be a better match for some of your issues (e.g. easily sharing files between Tasks) than string based output parameters?

(I think we want output params anyway but wanted to point that out!)

[2019-10-07 21:17] bobcatfish commented on #1185
I think it's important @dlorenc !

After looking into it a bit more, I think we should wait to see how #1273 plays out since that may change the way params are specified (and is a chance to make Pipeline + Task specification of params + resources more similar).

[2019-10-07 21:18] bobcatfish commented on #1273
I've put together [a proposal for adding output params](https://docs.google.com/document/d/12fOveI3_bVS1on6yCZK3rY5vki5EtvYFzNr350UhvwI/edit#).

[2019-10-08 14:50] a-roberts commented on #1273
👍 , I was linked here from a Slack question and I'd like to provide a use case I think is covered by this proposal.

We're looking to use a Tekton Task for creating webhooks: so like you'd get back a forum post URL, we're getting back the webhook ID which I can parse out and return as an output).

Just being able to provide output as type `string` would be great, I don't want to have to deal with

[2019-10-08 15:21] toshi0607 commented on #1389
Is adding Description to `Inputs` and `Outputs` type in v1alpha/task_types.go right way to solve this issue? If it's not wrong approach, may I challenge this?

[2019-10-08 15:26] fgiloux commented on #552
This would also be required to allow human interactions as part of a pipeline, something like the input step in Jenkins [1]. It would then be possible to create a task, which supports the human interaction (presenting a web form for instance) and populate the parameters according  to the user input.

[1] https://jenkins.io/doc/pipeline/steps/pipeline-input-step/

[2019-10-08 16:11] arzarif commented on #1266
@dibyom

Would it make sense to extend the scope of this request to include something like `ClusterPipelines`? The justification for such an object would be similar to what @chengjingtao described above.

[2019-10-08 17:29] skaegi commented on #1030
I think we might consider simplifying things for the stuff we get for free, and should either go all-in on "workspace" as a concept or not at all. I get the idea of targetPath customization for input and output resources but it really dilutes the value of the "workspace". Setting HOME to `/builder` is confusing but perhaps I could be educated here.

Anyway...
If "all-in" for `/workspace` we would

[2019-10-08 17:59] dlorenc opened #1392 "Proposal: Make PipelineResourceResult generic"
Today the TaskRunStatus object contains a [field](https://github.com/tektoncd/pipeline/blob/7962731ab7c50ebc6ca465190db9e1191ffd7fc2/pkg/apis/pipeline/v1alpha1/resource_types.go#L166) called `PipelineResourceResult` which is used to record the digest of a built container image output.

I propose we make this object more generic, to handle recording information for all types of resources.

## Today

[2019-10-08 18:09] dlorenc commented on #1392
In order to do this backwards-compatibly, I think we would basically add both versions for a release:

[code]

Then drop name/digest later.

[2019-10-08 18:32] bobcatfish commented on #1392
Another idea could maybe be to dump the entire Resource as-is into the result? For inputs it would be the Resource as provided, for outputs it would be (in an immutable world) the Resource that will be created.

Pro: Resources dont need to specify in any way what to include
Con: Less readable, more stuff in status that ppl might not care about

[2019-10-08 19:35] dlorenc commented on #1392
Added a note on why Resources may not contain enough information in the initial proposal.

[2019-10-08 19:41] dlorenc commented on #1392
@bobcatfish had another proposal from chat:

ive thought for a while now that resources should get a status
and the taskrun status would contain the entire resource, spec + status

I think in this case, the extra data around the exact contents that have been resolved would be written to the Resource CRD instance's status section (which is empty today), then the TaskRun would contain this full enti

[2019-10-08 20:28] bobcatfish commented on #1392
I think this highlights that reusing a PipelineResource is kind of weird - since https://github.com/tektoncd/pipeline/issues/215 I've been in favor of defaulting to embedding, in which case a PipelineResource instance could be ephemeral, and the lifecycle managed by the pipeline controller. At the moment no backing instance is created at all, but it could be!

One idea here is to have PipelineReso

[2019-10-08 22:02] skaegi commented on #1273
I have another use-case. I have two Tasks where the first collects 3rd party service endpoints and credentials and the second uses them. Passing by volume made the second Task's contract really hard to understand whereas passing by params was much clearer.

[2019-10-08 22:33] skaegi commented on #1389
I'm hoping we could add something like `ParamSpec` [Description](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1alpha1/param_types.go#L38) to
[ResourceDeclaration](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1alpha1/resource_types.go#L186)

[2019-10-09 01:04] skaegi opened #1393 "Consider removing type from params (or _really_ support types)"
We currently have `params` of type string and array with string being far more typical. Support for the array type does not strictly seem required and can be worked around without undue hardship. On the flip-side interpolation of an array type param inside of a string is both limited and not terribly intuitive. In addition all use of $(variable) interpolation in core Kubernetes is string based.

I

[2019-10-09 02:15] anxinyf commented on #1302
see [add taskrun_expired and pipelinerun_expired for deleting taskRuns or pipelineRuns automatically](https://github.com/tektoncd/pipeline/compare/master...anxinyf:master)

[2019-10-09 03:25] skaegi opened #1394 "Support for TaskRuns that fail but do not then fail the PipelineRun"
It's not uncommon for a development pipeline to run a set of Test Tasks where some might fail however we still might want to promote the build to a manual staging/testing environment. Existing CI/CD tools handle this with a "WARN" or similar state.

[2019-10-09 03:26] skaegi commented on #1394
Also see https://github.com/tektoncd/pipeline/issues/1376

[2019-10-09 10:42] afrittoli opened #1395 "Bucket resource folder initialization"
# Expected Behavior
When using the bucket resource I find that sometime I'm going to create a new folder and only write in there. Ideally the the bucket resource could point to the new folder already, to minimize the risk of my Task writing where it should not. To do so however I need an extra bit of automation to run somewhere and create the folder for me.
It would be handy if the bucket resource

[2019-10-09 10:50] afrittoli opened #1396 "YAML test pass when applying example fails"
# Expected Behavior
If something goes wrong when applying the example YAMLs, tests should fail

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-10-09 10:53] afrittoli opened #1397 "One of the examples uses generateName and test script uses kubectl apply"
# Expected Behavior
We should either switch to `kubectl create` in the test script, or never use `generatedName` in the examples. `kubectl apply` fails in no name is specified.

# Actual Behavior

Example failure:
[code]
The failure is not detected because of #1396

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-10-09 11:45] csantanapr commented on #1273
I think even more sense to not use a volume if this are credentials or API keys to avoid writing to persistent disk (at rest) and just have the sensitive data in “memory” (ie apiserver, etcd)  only (in transit)

[2019-10-09 12:54] sxmon commented on #1147
I have the same issue on Windows 10

[2019-10-09 12:57] vdemeester commented on #1386
/kind bug

@chrono2002 which version of Tekton pipeline are you running ? By design, it should clone the repository in two separate folder under `/workspace`, so this definitely feels like a bug..

[2019-10-09 14:13] bobcatfish opened #1401 "Users who specify a commitish of "master" may get unexpected behavior"
# Expected Behavior

If a user provides a PipelineResource of type git to a PipelineRun and specifies `master` as the commitish, they probably meant that they want the entire Pipeline to run against the lastest commit at the time the PipelineRun starts.

# Actual Behavior

What will actually happen is that every Task will re-fetch master when it executes, meaning that every Task in the Pipeline co

[2019-10-09 14:14] bobcatfish commented on #1392
Talked about this some more with @dlorenc - if we want to support reusing a PipelineResource, then there is no practical way to limit the number of Runs that might try to update its status, so appending data like this to the status is not a great design.

I also got very fixated on the idea that if you are using a PipelineResource such as type git and you specify a commitish such as "master" that

[2019-10-09 14:25] bobcatfish opened #1402 "Confusing error when same volume name used twice"
# Expected Behavior

If you try to use a volume name in a Task that is either already being used internally by Tekton (e.g. `workspace`) or you have already specified it yourself (resulting in a pod that is invalid), you should get an informative and helpful error.

# Actual Behavior

Instead you get this cryptic error:

[code]

# Steps to Reproduce the Problem

1. Create a Task and [add a volume

[2019-10-09 18:24] #1402 closed

[2019-10-09 18:30] chhsia0 opened #1407 "PipelineRun should fail if they don't pass validation."
# Expected Behavior

When validation fails for a pipeline run, `kubectl get pipelinerun <name>` should return an error status.

# Actual Behavior

Right now `kubectl get pipelinerun <name>` returns the pipelinerun object with no status.

# Steps to Reproduce the Problem

[code]
Note that the task name in the pipeline is invalid. When submitting a pipeline run for it, the following error will be tr

[2019-10-09 19:54] dlorenc commented on #1395
I like how Kubernetes handles "emptydir" style volumes. What do you think of that? The two use-cases I can see are:

1. I need to access storage from a specific place, including whatever was inside that place. I assume any risk for deleting those things, that might be what I want to do.
2. I need some place to put things. I might have a preference on the underlying system (GCS, S3), but I just wan

[2019-10-10 10:46] abergmeier commented on #1298
Is there a chance to extend Tektons CI with OpenShift? We've had quite a few problems in the past with that combination. Would be really good to have a vanilla Tekton tested continously against a vanilla OpenShift.

[2019-10-10 12:35] vdemeester commented on #1407
/kind bug
@chhsia0 one which platform are you running tekton ? Usually, if the PipelineRun doesn't pass validation, it's not even created. That's the job of the admission webhook.

If you are running on OpenShift 3.x, this might be related to #1298

[2019-10-10 12:43] vdemeester commented on #964
Design doc is https://docs.google.com/document/d/1O8VHZ-7tNuuRjPNjPfdo8bD--WDrkcz-lbtJ3P8Wugs/edit#

But I will close this one as a duplicate of tektoncd/catalog#45 :wink:

/close

[2019-10-10 12:43] #964 closed

[2019-10-10 12:44] vdemeester opened #1409 "TaskRef: refer to a Task from another namespace"
# Expected Behavior

It would be nice to be able to refer a Task from another namespace. Something like the following.

[code]

or

[code]

The security aspect of this should be simple, we let kubernetes RBAC handle this (aka if the user can't access `Task` from the other namespace, then we fail and report an error :angel:

# Actual Behavior

To refer a `Task` in `taskRef`, today you need to have

[2019-10-10 12:46] vdemeester commented on #631
@bobcatfish what is the status of this issue ? :angel:

[2019-10-10 14:10] wlynch commented on #1066
@kav Yes! That would be very helpful. https://github.com/jenkins-x/go-scm/issues/21

[2019-10-10 14:11] wlynch commented on #1066
I'll be starting work to replatform the PullRequest resource on go-scm soon. I'm sure a bunch of missing bits will shake out as a result :upside_down_face:

[2019-10-11 08:43] #1307 closed

[2019-10-11 16:38] cmoulliard opened #1419 "RFP: Add a health endpoint"
## Request for proposal

Currently, if something wrong is happening during the start of the `tekton-pipelines-controller`, then the pod will continue to run even if the pod is not able to process the tasks, taskruns, ... CRs.

This problem could occur, if for any reasons, the k8s go client used by the controller can't access the K8s Api server
[code]

Such error should be trapped and the health en

[2019-10-11 16:42] ImJasonH commented on #1419
That's a great idea. Can you provide steps to reproduce this, so we can more easily get the controller into a state where it should report unhealthy? Ideally we could even make this an e2e test case.

[2019-10-11 16:45] cmoulliard commented on #1419
This is not reproducible using ocp3, minishift or minikube but if you deploy tekton using AWS + ocp4, you should see this error happening from time to time. We continue to get also this error using ocp3 cluster created with Ravello by RHTE Team

[2019-10-12 22:47] slowr commented on #216
Is it supposed to pass the `digest` correctly? I have a pipeline with two tasks (one build and one deploy) and it seems that the digest is an empty string.

[code]

The `image-digest-exporter` successfully exports the digest.

[code]

[2019-10-13 07:36] nlewo commented on #216
@slowr I don't think it's working atm. I had to deploy a intermediate task to do this. See here https://github.com/nlewo/poc-tekton#deploy-tasks for details and example.

[2019-10-14 04:38] hrishin commented on #1409
/assign

[2019-10-14 11:37] #1397 closed

[2019-10-14 13:17] vdemeester commented on #1298
So, we need to document this, as :
- Having MutatingAdmissionWebhook is required for Tekton to work.
- How to enable mutating webhook on OpenShift 3.11, and how to make Tekton work on OpenShift 3.11.

We have that downstream, aka in [`openshift/tektoncd-pipeline`](https://github.com/tektoncd/pipeline), **but** we only support OpenShift 4.x.

[2019-10-14 14:55] sbwsg opened #1423 "Rename GCS resource to Bucket resource / cloud storage resource / other catchy name"
# Expected Behavior

The GCS resource now supports S3 through the use of a boto configuration file. See https://github.com/tektoncd/pipeline/pull/1361 for where this support was added for artifact uploading and comment from Andrea https://github.com/tektoncd/pipeline/pull/1258#issuecomment-541079060 describing its use to get the GCS resource speaking to S3.

So the "GCS" resource now supports S3 b

[2019-10-14 14:57] sbwsg commented on #1423
Hm, we should also probably document its usage as well.  Will create a separate issue for that.

[2019-10-15 12:42] sbwsg commented on #1423
We've decided to punt on this for the time being. Lots of churn in PipelineResources and there are cases that the boto config can't handle due to, it seems, problems in the way the s3 implementation is done in gsutil. For example, trying to use Minio in a sidecar and accessing it through localhost doesn't seem to work.

[2019-10-15 12:59] paperplane opened #1426 "previous release link spelling mistake"
# Expected Behavior
(Previous versions will be available at previous/$VERSION_NUMBER, e.g. https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.2.0/release.yaml.)

# Actual Behavior

(Previous versions will be available at previous/$VERSION_NUMBER, e.g. https://storage.googleapis.com/tekton-releases/pipeline/previous/0.2.0/release.yaml.)

# Steps to Reproduce the Problem

1. https:/

[2019-10-15 15:03] afrittoli opened #1427 "Pipelinerun hangs with condition validation issue"
# Expected Behavior
If the condition validation fails, the error should be reported back

# Actual Behavior
The pipelinerun remains in status "running", no error is reported, only the following error could be found in the controller logs:
[code]

# Steps to Reproduce the Problem

1. I'm not sure what the issue is yet, I suspect the type "string" must be specified on condition parameters
2.
3.

# A

[2019-10-15 15:11] dibyom commented on #1427
I thought the type "string" should be added by default if one is not specified.

[2019-10-15 15:23] dibyom commented on #1427
Wonder if this is related to https://github.com/tektoncd/pipeline/issues/1407

[2019-10-15 15:26] afrittoli commented on #1427
Yeah, it does for task parameters but it doesn't seem to be happening for conditions?
I'm not running on openshift, and the webhook process has been running for days just fine.

[2019-10-15 15:34] dibyom commented on #1427
/assign

[2019-10-15 19:32] dibyom commented on #1427
So two issues here:

1. We do not set the default parameter type if we are embedding the taskSpec inside a taskrun (which is what conditional uses internally). Looking at the example taskruns, all of them explicitly set the param type to string, so we have not run into this before

2. If we return an error from the `reconcile` function, we never call the bit that updates the `Status`. This is usua

[2019-10-15 20:04] afrittoli commented on #1427
D'oh, that was me updating the taskruns a couple of days ago. Because CI was broken we did not run the taskruns in CI for a while, so we didn't realize that the embedded task did not get the default until I found the issue while fixing CI. But I didn't manage yet to dig into the root cause, which you now did, thanks!

I believe this is https://github.com/tektoncd/pipeline/pull/1204, which has been

[2019-10-15 20:14] dibyom commented on #1427
Nice! I'm going to review that!!

[2019-10-15 20:19] dibyom commented on #1409
Should we allow this for Pipelines/Conditions as well? Related: we have a feature request for Cluster scoped Conditions and Pipelines: https://github.com/tektoncd/pipeline/issues/1266

[2019-10-15 20:24] dibyom commented on #1016
@akihikokuroda pointed out that this is already possible in the [design](https://docs.google.com/document/d/1eJBb2VHuSTbrIWfPE3TGdRRfdbJsRCOBIqfTwx9M3H8/edit#) for #1020 :

Each task can know what the pipelinerun and taskrun it is executed under by mapping the label (tekton.dev/pipelineRun) to an environment variable and then using the Kube API to get the necessary information:
[code]

Ref: https:

[2019-10-15 20:24] #1016 closed

[2019-10-15 20:25] #1243 closed

[2019-10-15 20:25] #1426 closed

[2019-10-15 20:47] #1286 closed

[2019-10-15 23:34] #1396 closed

[2019-10-16 08:07] vdemeester commented on #1409
@dibyom right, this is something we need to discuss then. My gut feeling is yes, but maybe this means we don't need `ClusterTask` and other cluster scoped objects then :angel:

[2019-10-16 09:08] #1427 closed

[2019-10-16 16:42] ImJasonH commented on #549
(Stumbled across this going through good-first-issues)

Is this still an issue?

We still support unnamed steps. If a user doesn't name a step, it's corresponding container name in the Pod will be `step-unnamed-N` where N  is the index in the original steps list.

[2019-10-16 16:54] skaegi commented on #1409
One concern I have with this is that at least currently the Tekton Controller is doing the taskref lookup with elevated privilege. This might be a real problem in a multi-tenant environment where we want to prevent lookup of private Tasks that might inadvertently contain secret-ish materials.

[2019-10-16 19:54] josephlewis42 commented on #1409
I'm concerned about the statement in the proposal:

I don't think it's clear what would happen later on if the permissions changed. If any garbage collection scenarios would be changed with this (I don't believe owner references work across namespaces). Or what it would mean to have an instance of this `TaskRun` by someone who didn't have permission to see the other namespace (should it fail? shou

[2019-10-17 04:02] hrishin commented on #1409
We need to consider the overlap with `ClusterTask` and we are approaching the beta release soon. If we support both it and `ClusterTask` if goes into beta then do we need to support both in the long term?

Yes as @skaegi mentioned on other hand we need to handle the permission or authorization issue.

[2019-10-17 08:36] vdemeester commented on #549
/close

[2019-10-17 08:36] #549 closed

[2019-10-17 14:51] #983 closed

[2019-10-17 16:11] ImJasonH commented on #1304
+1000

We could validate that requested TaskRuns don't request any volumeMounts over that path.

[2019-10-17 16:20] vdemeester commented on #1304
I thought I commented on this issues but I only added *reactions* :stuck_out_tongue:
I am also +:100: on this idea ! And validating it on the `TaskRun` too

[2019-10-17 16:32] dibyom commented on #1394
Related: https://github.com/tektoncd/pipeline/issues/1023

[2019-10-17 19:36] skaegi opened #1437 "Private worker pipeline /yaml has a bad workerName value"
For a public worker the value was -- ({workerType=public, workerId=public, workerName=})

Instead we should omit the private worker altogether!

[2019-10-17 19:36] skaegi commented on #1437
Woops wrong issue tracker! apologies all.

[2019-10-17 19:36] #1437 closed

[2019-10-17 20:16] #1235 closed

[2019-10-18 05:15] skaegi opened #1438 "Support for a "volume resource"-like Task.spec field"
A "volume resource" like abstraction is valuable as it lets a Task specify the requirement for a work folder as well as a description of its purpose without declaring the specifics of the volume backing it.

In the resources meeting -- https://docs.google.com/document/d/1p6HJt-QMvqegykkob9qlb7aWu-FMX7ogy7UPh9ICzaE/edit#heading=h.vf9n4tewyadq -- we discussed different approaches for supporting the

[2019-10-18 06:27] 3sky commented on #1389
OK, let's begin /assign it to me.

[2019-10-18 07:46] vdemeester commented on #852
/kind feature

[2019-10-18 13:35] sbwsg commented on #1438
+1 for an overridable `mountPath`.

[2019-10-18 19:02] afrittoli commented on #1377
I've implemented nightly release automation with tektoncd/triggers in the `dogfooding` cluster. Now there are three options for triggering testing automatically:
* trigger a cloudevent using the `CloudEventPipelineResource` at the end of the release pipeline. Use a dedicated event listener as a sink. There are limitations in the way binding can extract info from the POST body, specifically filteri

[2019-10-18 19:16] ncskier opened #1439 "Steps following a step with an error should also terminate with an error"
# Expected Behavior
Assume I have a TaskRun with steps `one` and `two`. If step `one` fails, then when I `kubectl describe` the TaskRun, I expect to see the `Status.Steps` indicate that step `one` and step `two` have both terminated because of an `Error`. I also expect the `step-two` container to log something indicating that its execution has been skipped because the previous step failed.

# Actu

[2019-10-19 06:44] hrishin opened #1441 "Pipeline metrics enhancements"
Some enhancements are leftover from the previous metrics [PR](https://github.com/tektoncd/pipeline/pull/1387).

1. It's better to log the TaskRun/PipelineRun count metrics count for adding timeout/cancelled/etc status?
2. For TaskRun which has embedded Task spec, check if we `task` can be left empty. (Right now it adds `Task=anonymous` lable for such TaskRuns)
3. Revert the logging key name until

[2019-10-20 09:23] afrittoli commented on #1438
Thanks for this. If I understand correctly would would provide a logical name to be used in tasks for a path on a pre-provisioned PVC. I think it would be helpful to see an example task, how it would look like in a complete example.

As far as I understand the main issue with the current solution for sharing data between tasks is that PVC can be expensive to provision (in terms of time it takes to

[2019-10-21 01:08] skaegi commented on #1438
@afrittoli -- yes I agree as much as we can that we want to build on top of the existing artifact pvc concept. One of the main goals for this proposal is just to add just enough syntax to make use of the artifact pvc (or something like it) clear.

---
So I've take the original proposal a little further and hopefully closer to implementable. So... to start things off I want to provide a bit more on

[2019-10-21 15:40] ImJasonH opened #1445 "cmd/bash is confusingly named/used"
# Expected Behavior

Image named `bash` executes provided args using the Bash shell.

# Actual Behavior

It [invokes the args with `sh -c`](https://github.com/tektoncd/pipeline/blob/00116034e0e4093a51a395dc715c1679565fa77a/cmd/bash/main.go#L59) ([Bourne shell](https://en.wikipedia.org/wiki/Bourne_shell)), not Bash. The image is based on `busybox`, [whose default shell is `ash`](https://serverfault

[2019-10-21 16:21] afrittoli commented on #1438
Thanks for the extra specification work!
This looks like a lot to support before beta - perhaps we could have an incremental plan where we aim for a subset of this at first?

Is this meant to fully replace the `VolumePipelineResource`?

[2019-10-21 19:23] sbwsg commented on #1438
We talked about this briefly in the Beta meeting but wanted to leave a note here as well - it looks like the shape of WorkspaceMount and WorkspaceDevice are very similar (only the *Path param names differ). Wonder if we can de-dupe those somehow - would be cool if a Task didn't have to care about whether a mount is a Volume or Device.

[2019-10-21 21:18] kav opened #1450 "Git Pipeline Resources should allow depth to be specified"
# Expected Behavior
I can specify a git resource to be more than a shallow clone so I can use `git diff` and `git tag` to drive task behavior.

# Actual Behavior
Git resources are always shallow cloned

# Additional Info
Just to get a proposal on the table; I'd propose an optional `depth` parameter for git resources that matches (and wires to) the `git clone` parameter `--depth`

If that gets a fe

[2019-10-21 21:40] skaegi commented on #1438
@afrittoli yes this is meant to fully replace VolumePipelineResource . There was concern that just saying that a particular PipelineResource was beta but only for `type: volume` or that the `type` field was alpha and the default type was VolumeResource was confusing. The hope though is that at least part of the VolumePipelineResource PR would still be useful for the eventual implementation.

[2019-10-21 21:59] skaegi commented on #1438
@sbwsg I had the same thought when spec'ing this out but part of my reasoning is that they are wrapping different concepts at the Pod level. In particular VolumeDevice is still relatively new and might add new fields that we might want to expose.
The other idea I had wondered about was to altogether defer on VolumeDevice support however it seemed like the work to prevent `volumeMode: Block` PVs wa

[2019-10-22 08:49] brandonkal commented on #1374
The bigger question is why something like this should even be required. I appreciate Tekton's Kubernetes-native approach to CD, but the fact that this issue exists is evidence that Tekton Pipelines are extremely over-engineered.

I would advocate for re-thinking Tekton's API before 1.0 is reached. Beyond the wall of YAML, the number of objects introduced by Tekton CD should be reduced. KISS. A tra

[2019-10-22 11:42] #781 closed

[2019-10-22 12:21] #1445 closed

[2019-10-22 12:46] gireeshpunathil commented on #1374
thanks @brandonkal for sharing the insights!

IMO APIs (always) present tradeoffs:

 - readability vs performance
 - abstraction vs fine grained control
 - consumability vs scalability

criss-cross the pairs and still you get some valid combos.

IMO tekton has done a great job in terms of balancing those, but the `kube-native` inheritance offers challenges to end users - the most notable one being

[2019-10-22 14:29] vdemeester commented on #1450
/kind feature

[2019-10-22 15:23] ImJasonH commented on #1374
This is related to https://github.com/tektoncd/experimental/issues/185 which proposes a.) the benefit of some higher-level DSL that generates Tekton YAML, and b.) the specific idea that it should be based on Starlark, and c.) that the `tkn` CLI should support this DSL as a first-class feature of the platform (triggers will also want to be able to generate from a DSL)

This proposal is to base a DS

[2019-10-22 15:25] dlorenc commented on #1438
Thanks for the detailed proposal! A couple notes:

- In all your examples tasks only use one workspace mount. Are there any real-world use cases we can envision where it might need multiple?
- I don't love the name WorkspaceDeviceBinding or WorkspaceDevice, what about just WorkspaceBinding and Workspace? Device isn't a formal Tekton or Kubernetes concept, and right now it just binds workspaces to

[2019-10-22 18:48] skaegi commented on #1438
Thanks @dlorenc
- So far I have only ever needed one dynamically created shared volume like the artifact pvc.  On the other hand I have many real world cases where I want to share a pre-existing PVC, ConfigMap, and Secrets that exist outside of the PipelineRun.
- WorkspaceDevice is meant to model a block storage VolumeDevice. I had originally started just with Workspaces but then in looking at the

[2019-10-22 21:18] brandonkal commented on #1374
If it is possible to express Tekton Pipelines using a DSL, Tekton can be improved to use a simplified syntax itself. The issue is course is trying to shoehorn an imperitive list of tasks into a data representation.

I propose keeping only Pipelines and PipelineRuns. A pipeline could easily contain other Pipelines for the purposes of modularity. A pipeline is simply a list of steps, and each step w

[2019-10-23 04:06] nikhil-thomas commented on #1450
@vdemeester i can work on this issue this weekend
could you assign this to me

[2019-10-23 07:24] nikhil-thomas commented on #1450
/assign

[2019-10-23 07:48] eddycharly opened #1454 "Can we specify a nodeSelector for a given task ?"
Let's say a task has to run on a specific node, is this possible to add a nodeSelector somewhere to ensure it is scheduled on the correct node ?

[2019-10-23 08:58] vdemeester commented on #1454
@eddycharly yes this is possible on the runtime types (`TaskRun` and `PipelineRun`), see [here](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#pod-template) or [here](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#pod-template).

I think we can close this issue then :angel:

[2019-10-23 10:36] eddycharly commented on #1454
@vdemeester 👍

[2019-10-23 10:36] #1454 closed

[2019-10-23 10:48] eddycharly commented on #1454
@vdemeester one more question please, it's not yet possible to specify the node selector from the dashboard right ?

[2019-10-23 12:13] vdemeester commented on #1454
@eddycharly I don't know :sweat_smile: (cc @a-roberts)

[2019-10-23 12:14] a-roberts commented on #1454
Nah, it's not but it's a good feature request, I'll make an issue for it 👍

[2019-10-23 12:18] eddycharly commented on #1454
@vdemeester @a-roberts awesome, thanks !

[2019-10-23 12:29] eddycharly opened #1458 "Task Ouputs examples in the docs looks wrong"
In `docs/tasks.md`, in the examples about Outputs, we can see things like this :

[code]

I'm new to tekton and from my understanding it's not the correct syntax.
Shouldn't it be something like this instead ?
[code]

Also, i'm trying to use a git repository as input, perform some parckage install in it (composer install for instance) and use the result as output.
My task works well, but the output

[2019-10-23 12:43] #1059 closed

[2019-10-23 13:15] eddycharly commented on #1458
Am i supposed to copy the content from input (the git resource) to the output (same git resource) manually or is there a mechanism that can handle that automatically ?

[2019-10-23 15:26] hrishin commented on #1409
One way to address the permission issue by either placing the authorization checks in the tekton pipeline webhook based on the user's token/`ServiceAccount` provided `PipelineRun/TaskRun` or impersonate the request to resolve the `TaskRef` with `ServiceAccount` mentioned in `PipelineRun(Pipeline)/TaskRun` definition.

[2019-10-23 15:43] vtereso opened #1460 "Add Hooks into Pipeline Lifecycle"
# Expected Behavior
Tekton `Pipeline`s have hooks into the execution of tasks. This way, an additional system/resource is not needed to monitor the internal status. Put another way, `Task`s do not need to concern themselves with updating an external system about their results.
# Actual Behavior
Currently, there is no way for `Task`s to report their results unless done so explicitly within a step.

[2019-10-23 15:48] ImJasonH commented on #1460
Can you motivate this a bit more with a concrete example? What workflow is unnecessarily hard to describe today, that this makes better? Maybe include an outline of a Pipeline YAML before + after this change.

[2019-10-23 15:53] siamaksade opened #1461 "Add structural OpenAPI schema to Tekton CRDs"
Kubernetes 1.15 introduced [structural OpenAPI schema](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema) which helps with validation, supporting `kubectl explain` and also building tools around it:

Structural schema should be added for all CRDs introduced by Tekton.

[2019-10-23 16:33] abayer commented on #1304
+1 from me!

[2019-10-23 16:39] bobcatfish commented on #1304
+1 from me but might want to do some of this across 2 releases (i.e. support /tekton and /builder for some things if possible?) b/c of features such as https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#surfacing-the-image-digest-built-in-a-task and as @ImJasonH pointed out, many examples using /builder

But also not totally opposed to just going for it, as pointed out in #1030 (wh

[2019-10-23 16:56] ahpook commented on #1409
FWIW I'm neutral to -1 on this, but our use case (this was echoed by @rakhbari on the WG call) is that we use namespaces as a mechanism for isolation and some security guarantees, so if it were implemented we couldn't use it.

[2019-10-23 16:57] bobcatfish commented on #1460
Couple of related ideas:
* https://github.com/tektoncd/pipeline/issues/1376 <-- taking actions in failure scenarios (finally clause)
* https://github.com/tektoncd/pipeline/issues/49 <-- notifications
* We've also talked about emitting cloudevents throughout execution (cant find an issue about it tho!!) which might be one way to implement this
* PipelineResources can execute before and after steps

[2019-10-23 16:58] bobcatfish commented on #1409
Slight preference for design 2:

[code]

Re. service account issues - could we initially assume the controller service account has the permissions it needs, and ask users to add more permissions to that account if needed?

[2019-10-23 17:03] vdemeester commented on #1409
The problem is opposite, if the user has less permission than the controller (which might easily be the case), then we are in a situation of privileged escalation (kinda).

[2019-10-23 17:21] bobcatfish commented on #1392
I think this is completed via #1406 but plz reopen if not!

[2019-10-23 17:21] #1392 closed

[2019-10-23 19:04] vtereso commented on #1460
I have something like the following in mind for a possible implementation:
[code]
To add an additional "notification" step, you would just have to add another `afterAll` step, where this could be something like a slack notification. While making the above, I recognize that the status and some other meta data will likely have to be fed into these injected steps. Also as mentioned in the community c

[2019-10-23 19:09] vtereso commented on #1460
@ImJasonH Since https://github.com/tektoncd/pipeline/issues/1438 is still ongoing, I didn't want to get too into the weeds with the volume stuff in any particular way. The pull request hooks aren't really providing much value, but conceptually, each `TaskRun` in this example would be responsible for its own status on a pull request.

[2019-10-23 19:38] vtereso commented on #1460
Another interesting point, CI/CD is inherently ad-hoc despite there being some common overlap. In this way, exposing script

[2019-10-23 20:18] poy commented on #1409
I'm curious, can you not get the same/similar result by using a `ClusterPipeline` instead?

The nice thing about using a `ClusterXXX` is, if you create it, you go in knowing that your pipeline is not scoped to a namespace. This should resolve the many security concerns.

[2019-10-24 13:18] skaegi commented on #1438
So... what  if we pared things down to really just mapping the artifact pvc into the workspace, and deferred everything else to a VolumePipelineResource when PipelineResources are ready...

[code]

----

Our example becomes...
[code]
To prevent unnecessary artifact pvc creation if no Pipeline tasks[*].workspaces are specified then we don't create it.

[2019-10-24 14:10] skaegi commented on #1438
I think this is not bad and probably covers enough of the most common use-cases to be sufficient for beta. I currently use a mixture of params and PodSpec.volumes to handle configMap and secret sharing and can wait for a VolumePipelineResource without forcing the issue. WDYT?

[2019-10-24 14:54] sbwsg commented on #1347
At least in the short term i think we should document this.  I will do this today.

[2019-10-24 15:07] skaegi opened #1463 "Variable substitution and bracket notation for name encoding"
For Kubernetes names the set of allowable characters is ... digits (`0-9`), lower case letters (`a-z`),`-`, and `.`. We dereference with `$(params.param_name})` so if we have a param name or task name that contains `.` things can get weird (even if they happen to work in some cases).

The [Downward API](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-informa

[2019-10-24 15:43] vtereso commented on #1460
With consideration for individual `TaskRun` being injected in place of `before`/`after`, this could also be satisfied with a field like `beforeTask`/`afterTask` where they would also be recyclable. The alternative implementation for injecting steps into the specified `Task` is similar to the idea for a `Step` resource (as others have mentioned before) where this could also be accomplished with a m

[2019-10-24 15:52] vtereso commented on #1460
@afrittoli What are your thoughts on this? I saw the notifications design document, but not sure the direction this work has gone on in.

[2019-10-24 16:04] sbwsg commented on #1347
https://github.com/tektoncd/pipeline/pull/1464

[2019-10-24 16:04] bobcatfish commented on #1409
Ah interesting!! Is this already the case then, even with Tasks in the _same_ namespace? Like a user only needs to be able to create a `TaskRun` or a `PipelineRun`, and the controller will fetch any `Tasks` etc. that are needed, and even create pods, even if the user doesn't have permission to?

(In some ways this reminds me of https://github.com/tektoncd/triggers/issues/77)

[2019-10-24 16:11] vdemeester commented on #1409
@bobcatfish yeah that's the case already :angel: You can refer a Task in the same namespace even if you don't have the right to get/list/update/… Tasks :angel:

[2019-10-24 19:12] poy opened #1468 "Port knative-build's pkg/log functionality"
# Expected Behavior

Be able to stream logs from a Tekton `TaskRun` similar to how I could stream logs from a Knative-Build `Build`.

# Actual Behavior

No way to stream logs (via a library). The docs all suggest CLI options: https://github.com/tektoncd/pipeline/blob/master/docs/logs.md

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-10-24 19:18] ImJasonH commented on #1468
There used to be a package/binary for this in the Tekton repo, until https://github.com/tektoncd/pipeline/pull/1414

I think the tektoncd/cli repo should have a package you can use to stream logs from the pod, somewhere around https://github.com/tektoncd/cli/blob/master/pkg/cmd/taskrun/logs.go

[2019-10-24 19:19] poy commented on #1468
Ah perfect! I didn't think to look under the `cmd` package!

[2019-10-24 21:39] skaegi commented on #1393
I was thinking about this issue in the context of beta and in particular how @afrittoli and @vdemeester mentioned that the Array "merge" support was solving a real problem they had in the plumbing project.

I think removing Array support is just going to be a big pain and also believe that we want to support Param typing in the futures so... instead of removing it we should just ensure our current

[2019-10-25 09:15] cmoulliard opened #1473 "Missing or invalid Task test/s2i-buildah-push: translating Build to Pod: serviceaccounts"
## Issue

I'm getting a very strange `TaskRun` message

[code]

even if the serviceaccount exists like the task and taskruns before that Tekton creates the pod running the different tasks as initContainer

https://gist.github.com/cmoulliard/28cede49e8a2ea69531aa814ded10307#file-gistfile1-txt-L67

[2019-10-25 14:38] vdemeester commented on #1473
This can happen if the `serviceAccount` gets created after the `TaskRun` (or around the same time with a small race).

To *fix* this, we may want to be able to do a retry with backoff (and like 3 retry max or something) when we hit the *serviceaccounts not found*.

/kind bug

[2019-10-25 14:50] vdemeester commented on #1468
@ImJasonH :angel: we may want to extract that part (logs) from the `tektoncd/cli` project at some point and have it in `tektoncd/pipeline`

[2019-10-25 17:05] adjavaherian opened #1476 "Question: A way to pass variables between task steps."
Is there a way set an env variable in one task step and then have the subsequent task step be able to read that in or interpolate it in an arg?  Admittedly, I don't fully understand if env variables are shared between multiple images / steps in the same task.

What I want to do is have a little script in one task step read a file and set env variables, so that the subsequent task step (kaniko) can

[2019-10-25 17:22] bobcatfish commented on #1062
After implementing this (har har) we realized that we might not need it after all, which I started to discuss in https://github.com/tektoncd/pipeline/pull/1417#issuecomment-546436595

We were creating the VolumeResource to solve several problems that it looks like will be solved other ways:
- @skaegi identified a lot of pain points around Volumes and VolumeMounts in Tasks which should be fixed in

[2019-10-25 17:22] #1062 closed

[2019-10-25 18:35] sbwsg commented on #1476
There isn't a way to export environment variables from one step into another.

A different possible approach would be to use files on disk for a similar purpose. All steps in a Task share a workspace volume. This allows the following:

[code]

(I'm using the `script` field here which won't be released until 0.9 but makes writing shell scripts in steps much clearer).

[2019-10-25 18:38] vtereso commented on #1476
This is similar to https://github.com/tektoncd/pipeline/issues/1273. However, inter-`Task` communication can be achieved by saving to the mounted volume that is shared between steps or creating your own. I think you should be able to create a directory within `/workspace` to save such state. Someone correct me if I am wrong 👀

[2019-10-25 20:05] bobcatfish commented on #1205
I think this happened again https://github.com/tektoncd/pipeline/pull/1475

[2019-10-25 20:08] skaegi commented on #1273
Here's a quick syntax example I put together based on a variation I like from the above proposal. I've flattened  `inputs.params` to `params`, `outputs.params` to `results`, and am using variable interpolation to extract results. I've also introduced pipeline `results` which I suspect we might also want to support.
[code]

[2019-10-27 11:44] afrittoli opened #1484 "Passing parameters and resource Pipeline -> Task"
# Expected Behavior
Writing a pipeline does not add a lot of overhead to the single Tasks

# Actual Behavior
Today writing a pipeline that includes many parameters and resources results in a rather verbose YAML. It has the advantage that is very explicit - but to the point of being redundant.
I think a thinner syntax on the parameters and resource passing would make the process of writing pipeline

[2019-10-27 14:03] vdemeester commented on #1484
I tend to like that idea.

Or we could let it like this, aka if the name do not match, be explicit about it.

The only disadvantage I can see, might be with really common parameter names. Something like `package` could be used differently in 2 different task, and thus the implicit behaviour might be the wrong one. The other question is, if I'm using a pipeline parameter expelicitely, with a differ

[2019-10-27 21:17] csantanapr opened #1485 "envFrom not working in Task, but it works in step"
# Expected Behavior

For `envFrom` to work when defined in `Task` resource for configMap or Secrets.

I would like to define a group of environment variables that are required by multiple steps within the same task.

# Actual Behavior
The `envFrom` gets ignore if defined at the `Task` level, but it works if defined at the `step` level.

# Steps to Reproduce the Problem

Define task that uses `envF

[2019-10-27 21:50] skaegi commented on #1485
Hey @csantanapr `envFrom` comes from the container spec which is roughly what a Step is based on but there is no similar concept for a Task/Pod. What you can do is in your Task use a https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#step-template to define an `envFrom` that will be reflected in each step.

[2019-10-28 01:43] csantanapr commented on #1485
ah cool, yes stepTemplate will save me from the duplicates

[2019-10-28 10:40] evgf opened #1489 "Question: poll-based change detection for Git?"
In a GitOps project, we are trying to implement the poll-based change detection of the Git Repo using Tekton. (We cannot fully rely on WebHooks since they offer no guaranteed delivery)
I scanned through the Tekton Pipeline / Trigger documentation but did not find any sample of this use case.
If this possible, without implementing our own status caching / change-detection?
If yes, could you point m

[2019-10-28 11:05] vdemeester commented on #1489
/kind question

[2019-10-28 13:29] csantanapr commented on #1485
closing since `stepTemplate` solves this

[2019-10-28 13:29] #1485 closed

[2019-10-28 14:27] bobcatfish commented on #1476
Not a solution but an interesting approach to a similar problem: @afrittoli added an init container for our dogfood cron pods that writes a script to a known location that initializes environment variables:

https://github.com/tektoncd/plumbing/blob/1062bd15a7354972b5a0dcd3db5912bc9b5f64ab/tekton/config/nightly-release-cron-base/trigger-with-uuid.yaml#L27-L42

[2019-10-28 17:27] eddycharly opened #1490 "Question : does parameter interpolation support function ?"
Is this possible to use some kind of functions in parameters interpolation ?
Simple things like `tolower` or `replace` are supported or doest it have to be done in bash or something else ?

[2019-10-28 17:36] sbwsg commented on #1490
There isn't any function support in interpolation. Currently any edits you need to make to the contents needs to happen in the command / args / script of the step.

[2019-10-28 17:39] eddycharly commented on #1490
@sbwsg thanks.
one more question, how can i retrieve the branch from a `PipelineResource` ? is something like this possible `$(inputs.resources.clone.branch)` ?

[2019-10-28 17:50] sbwsg commented on #1490
You can use `$(inputs.resources.clone.revision)` i think - this will be the branch / tag / commit SHA or ref that was cloned.

[2019-10-28 18:05] eddycharly commented on #1490
Just tried it, i have the commit hash in revision, but i guess it is because prow uses the commit hash when creating the `PipelineResource`.
I will have to check how to get the branch information from prow, not related to tekton.
Thanks

[2019-10-29 12:46] dlorenc commented on #1463
+1 on supporting both.

[2019-10-29 12:51] dlorenc commented on #1386
I'm not able to repro this. Could you share a Task definition that shows this happening?

[code]

and the output:

[code]

[2019-10-29 12:51] #1386 closed

[2019-10-29 13:02] dlorenc commented on #1438
So to be clear I understand the proposal:

- Add a workspaces field to Task specs. This is a way of saying that the Task needs a location that will be persisted outside of the lifecycle of the task.
- Add a binding field to TaskRun specs. For Tasks that have workspaces, this is the way of binding that workspace to a real location, like a volume/subpath combo.

This sgtm. A few questions:

- Do wor

[2019-10-29 14:10] #1458 closed

[2019-10-29 14:57] abayer opened #1493 "Should evicted pods be retried?"
This is as much a question as it is a bug report, so... =)

When a `TaskRun` pod gets deleted while it's running, it'll get automatically recreated, but `Evicted` `TaskRun` pods don't get recreated, so far as I can tell. Should we be handling eviction the same way we do deletion? In practice, they're analogous cases, so it feels like they should be handled in the same way, but I'm not 100% sure.

[2019-10-29 15:12] bobcatfish commented on #1458
Even more evidence in support of https://github.com/tektoncd/pipeline/issues/1185 :D

[2019-10-29 15:32] eddycharly opened #1494 "Question : do you have prow run your pipelines stored in the repository ?"
I see your pipelines are in the tekton folder, how did you setup prow so that it executes the pipelines defined in the repository ?

I have to configure prowjobs and pipelines manually, and i couldn't find a way to have them defined/versioned in the repository itself.

Would be very helpful if you could share some details about how you did it.
Thanks

[2019-10-29 15:54] dlorenc commented on #1494
cc @afrittoli @vdemeester

They just gave a talk on this :)

/kind question

[2019-10-29 15:56] eddycharly commented on #1494
@dlorenc 👍 just in time
can't wait to read details :)

[2019-10-29 15:59] vdemeester commented on #568
I am going to close this as knative/build is deprecated as well as the build part of the configuration spec of knative serving.

/close

[2019-10-29 15:59] #568 closed

[2019-10-29 16:01] dlorenc commented on #1494
If you want to dig through it, the code/scripts should be in http://github.com/tektoncd/plumbing

[2019-10-29 16:18] vdemeester commented on #102
@bobcatfish what should we do there ? I think we are "good" for now as it makes sense, for me, to keep `TaskRun` of deleted Task (and the opposite), but I wonder if we need to do something else still.

This is also a bit related to #279

[2019-10-29 16:30] vdemeester commented on #303
@bobcatfish I think this is more or less covered by the [`tektoncd/catalog`](https://github.com/tektoncd/catalog) covers it (and if there is missing *bolts*, we should create ones).

/close

[2019-10-29 17:15] pritidesai commented on #872
hey @vdemeester the `taskSpec` is still pending, just started working on it this week.

[2019-10-30 00:28] vincent-pli commented on #102
I think we could prepare a `daemon` container in `pod` of `taskrun`.
In that container, watching on the resource (`task`, `pipelineresouce`) referenced, if any change (delete, update), we could send k8s event to related `taskrun`/`pipelinerun`

Similar to this implement:
https://github.com/tektoncd/triggers/pull/174/commits/e10d490fe3faf9dbe170b74a79cee4a76a90ba43

[2019-10-30 08:17] evgf commented on #1489
Thank you @dlorenc, what we miss is the change tracking logic like in ArgoCD or Jenkins.
Even with Triggers, I need to keep track of the commits already processed and not processed.
Do you know, if there is anything we can start with?

[2019-10-30 09:26] vdemeester commented on #872
@pritidesai ok :+1: I thought it was tracked in another issue :stuck_out_tongue_closed_eyes:

[2019-10-30 09:39] bibi520 opened #1496 "Why does pipeline bind a PVC when I run it"
![image](https://user-images.githubusercontent.com/42456284/67846479-42de8680-fb3c-11e9-8beb-fc94ca555f77.png)

1.this is my pipeline yaml

apiVersion: tekton.dev/v1alpha1
kind: Pipeline
metadata:
  name: demo-pipeline
spec:
  resources:
  - name: source-repo
    type: git
  - name: push-image
    type: image
  tasks:
   - name: skaffold-unit-tests
     taskRef:
       name: build-app
     resourc

[2019-10-30 12:58] danielhelfand opened #1498 "Inconsistent Types for PipelineRef and TaskRef"
While working with the Tekton API as part of the cli project, I was adding validation to the `tkn tr describe` and `tkn pr describe` commands to check whether the properties are present on taskrun and pipelinerun specs. For taskruns, I used a nil check to determine if the TaskRef is present. For pipelineruns, I had to used an empty string for PipelineRef.

I am wondering why TaskRef is defined as

[2019-10-30 13:11] danielhelfand commented on #1498
/kind question

[2019-10-30 13:13] bobcatfish commented on #1438
I thought I was following this pretty well until https://github.com/tektoncd/pipeline/issues/1438#issuecomment-545913358 but I think that might be b/c I was viewing this proposal maybe differently than you @skaegi @dlorenc

- I was viewing this as a way to provide Volume info at runtime instead of in the Task spec (which seems really important to me in hindsight!!)
- I think you are viewing this a

[2019-10-30 13:38] bobcatfish commented on #1496
Hey @bibi520 ! This is to support [the `from` syntax](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#from) which lets you provide data from one Task to another Task. There is some bugs such as #1007 which make it so this is always done, even if you don't need it :( but in #1076 we are trying to fix this and you shouldn't see unnecessary PVCs created by the time we go beta :cros

[2019-10-30 13:59] bobcatfish commented on #102
Yeah I think we're fine as-is @vdemeester ,  I don't mind resolving this, unless @vincent-pli is this functionality you need?

@vincent-pli your solution it sounds like would also _interrupt_ any currently executing `TaskRuns` that used `Tasks` or `PipelineResources` that were deleted, I'm not sure we'd need to go that far. (Maybe you have a use case where you'd want this tho?)

[2019-10-30 14:13] jkljf opened #1499 "Support 'from' usage in pipeline conditions"
# Expected Behavior
On generating the pod for conditions, if 'from' is used for the condition's resource, the pod could mount to that resource (e.g. /pvc/<resource name>) then copy to condition resource's workspace.
This is similar to Task usage in the pipeline.
# Actual Behavior
No support 'from', any Git resource declared for the condition will be handled as normal Git fetch.
# Steps to Reproduc

[2019-10-30 14:41] vdemeester opened #1500 "Integration test race (or missing task reconcilier)"
# Expected Behavior

No race.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

It seems to happen from time to time on the CI, on this particular test or others. We may have a race, either in the tests themselves, *or* we need to handle "missing" task better (aka, at least retry once if they are created at the same time and thus, the reconciler loop not seeing the task at first)

# Ad

[2019-10-31 01:33] bibi520 commented on #1496
OK   thank you

[2019-10-31 07:00] sthaha commented on #1409
Continuing discussion on https://github.com/tektoncd/pipeline/pull/1420#issuecomment-547798114

But a  namespaced task or a cluster-task does not solve this issue that the task definition can change and the next pipeline-run can fail.

So what is the recommended approach if a task definition need to be shared amongst only few namespaces/projects but not all?

[2019-10-31 08:27] vincent-pli commented on #102
No interrupt, only `watching` -- `notification`

The reference resource (`task`, `pipelineresource`) should not be modified in the period the related resource(`taskrun`) running.
If modify occurred, based on current implements, no body know that, everything looks good, but that's not real, maybe the mistake long before found.

[2019-10-31 10:05] vdemeester commented on #1379
/assign

[2019-10-31 10:07] vdemeester commented on #1304
First step is #1440
@dibyom @ImJasonH should I assign one of you on this one ? :stuck_out_tongue:

[2019-10-31 10:07] vdemeester commented on #1377
/assign @afrittoli

[2019-10-31 15:12] #1439 closed

[2019-10-31 15:45] rakhbari commented on #1409
@sthaha IMHO we're getting into the area of artifact versioning and that's already covered by your SCM tool, in most cases github. If you organize your shared tasks properly in a github repo, that repo can be attached to other repos as a git submodule. That submodule is defined at a particular SHA of the shared tasks repo giving you automatic version control. You then `apply` those shared tasks to

[2019-10-31 15:49] bobcatfish commented on #1499
Thanks for opening this @jkljf ! I think this is a duplicate of https://github.com/tektoncd/pipeline/issues/1256 so I'm going to close it, but I'm going to copy some of your description into there also :D

[2019-10-31 15:49] #1499 closed

[2019-10-31 15:50] bobcatfish commented on #1500
![image](https://user-images.githubusercontent.com/432502/67963188-943a5480-fbd4-11e9-8f71-2457b5a31e65.png)

[2019-10-31 19:38] joonlim opened #1507 "Invalid Kubernetes Service Account prints unhelpful error"
# Expected Behavior

I expect an error like:
`Provided service account 'bad-sa' does not exist. Please follow the steps ... to create a service account.`

# Actual Behavior

The error I see is:
`Error: task Task 0 failed: resource name may not be empty`

# Steps to Reproduce the Problem

1. Create file `echo-hi.yaml` with contents:
[code]
2.
[code]
3.
[code]

If I remove the service account field

[2019-10-31 19:39] joonlim commented on #1507
More info: I installed the "latest" Tekton controller on 10/28

[2019-10-31 20:14] joonlim commented on #1507
Here's a sample of what I see with an invalid service account when using `kubectl run`:

`➜  kubectl run --rm -it --generator=run-pod/v1 --image google/cloud-sdk:slim --serviceaccount gke-deploy-k8s-sa workload-identity-test
Error from server (Forbidden): pods "workload-identity-test" is forbidden: error looking up service account default/gke-deploy-k8s-sa: serviceaccount "gke-deploy-k8s-sa" not f

[2019-11-01 02:36] vincent-pli commented on #1507
Actually, it's a bug of `cli` not `pipeline`, the "resource name may not be empty" is raised by `client-go`, since it received a null string as parameter.

[2019-11-01 03:15] danielhelfand commented on #1507
@joonlim Would you mind opening this up in the [CLI repo](https://github.com/tektoncd/cli/issues/new)? You could even just reference this issue that you opened here. But yes, this looks to be a CLI issue.

[2019-11-01 03:56] sthaha commented on #1409
@rakhbari thanks,  that is a good enough approach albeit it does feel like working around the limitation that a task can't be shared outside a namespace.

[2019-11-01 06:56] withlin opened #1509 "Have a plan to migrate to go mod?"
as title

[2019-11-01 14:30] bobcatfish commented on #1509
Hi @withlin ! We sure do, we've got https://github.com/tektoncd/pipeline/issues/1315 which we want to complete before beta, and @wlynch has been working on migrating tektoncd/triggers to go mod in https://github.com/tektoncd/triggers/pull/180

[2019-11-01 14:30] bobcatfish commented on #1315
note @wlynch is doing a lot of the ground work for this in https://github.com/tektoncd/triggers/pull/180

[2019-11-01 18:04] ImJasonH opened #1511 "Record digests of images used as sidecars"
# Expected Behavior

TaskRun status indicates the specific digest of an image used as a sidecar.

Digests of images used in steps are surfaced, and this makes it easier to reproduce a TaskRun in cases where the image is specified by tag and that tag points at something else now. No such faculty is available for sidecar images.

# Actual Behavior

This information isn't recorded or surfaced. Someon

[2019-11-01 18:11] ImJasonH opened #1512 "Step start times are reported inaccurately"
# Expected Behavior

Step start times are recorded and reported accurately.

# Actual Behavior

Step start times are all reported to be the same as the beginning of the first step, because according to k8s all the containers started at once -- the entrypoint binary ensures the actual step's work doesn't start until a previous step finishes.

# Steps to Reproduce the Problem

[code]

After completi

[2019-11-02 08:23] Timoses commented on #1066
I really like the approach by Concourse CI to make "Resources" a [container which handles 'get', 'put' and 'check' requests](https://concourse-ci.org/implementing-resource-types.html). It renders resources very modular, as anybody can write up a new image and use it as a resource.

Was there any consideration using a similar approach with TektonCD Resources? It would allow the community to create

[2019-11-02 17:31] afrittoli opened #1513 "Support dry-run in the admission webhook"
# Expected Behavior
I can kubectl diff tekton pipeline resources

# Actual Behavior
On the plumbing repo:

[code]

[2019-11-03 03:25] NicolasRouquette opened #1514 "Cannot use parameter substitution for volume size"
# Expected Behavior

Apply the following resource:

[code]

We should get:

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. `kubectl apply -f <file>` where `<file> is the task described above
2. `tkn tasks ls`

# Additional Info

This behavior suggests that it is currently not possible to define tekton parameters for cpu or memory characteristics (quota or limits). Are ther

[2019-11-03 06:31] #1509 closed

[2019-11-04 13:56] skaegi commented on #1393
Actually a slightly better syntax in this case is to use a spread operator. e.g. `...`
[code]
Our lookup syntax is closer to a json lookup than flat bash interpolation. A spread operator is slightly more future-proof and from a parser point of view does not introduce  a new magic encoding rule

[2019-11-04 13:56] vdemeester commented on #1514
/kind feature

[2019-11-04 15:02] bobcatfish commented on #1076
Latest design from @sbwsg to address confusion and bugs by re-designing PipelineResources: https://docs.google.com/document/d/1euQ_gDTe_dQcVeX4oypODGIQCAkUaMYQH5h7SaeFs44/edit#

[2019-11-04 15:02] vdemeester commented on #746
https://github.com/tektoncd/pipeline/pull/1516 should fix at least that test (need to get a full run on `kind` or something to make sure)

[2019-11-04 15:02] ImJasonH opened #1519 "Isolate TaskRun↔Pod translation into a separate package"
# Expected Behavior

TaskRun→Pod and PodStatus→TaskRunStatus translation code should be organized into its own package, ideally with minimal exported symbols.

This would make it easier to test and use in isolation: the TaskRun reconciler would simply be able to call `pod.MakePod(taskRun)` and create the correct Pod for the TaskRun, without being exposed to any details of what that even entails.

[2019-11-04 15:03] bobcatfish commented on #1272
Latest design from @sbwsg to address confusion and bugs by re-designing PipelineResources: https://docs.google.com/document/d/1euQ_gDTe_dQcVeX4oypODGIQCAkUaMYQH5h7SaeFs44/edit#

Note we also have https://github.com/tektoncd/pipeline/issues/1076 which outlines similar problems and proposes a re-design.

Since there hasn't been any activity on this issue and we've stopped having the PipelineResource

[2019-11-04 15:03] #1272 closed

[2019-11-04 15:05] bobcatfish commented on #1279
New proposal from @sbwsg for re-designing PipelineResources: https://docs.google.com/document/d/1euQ_gDTe_dQcVeX4oypODGIQCAkUaMYQH5h7SaeFs44/edit# (for #1076)

The proposal in that doc includes immutable PipelineResources. Closing this issue to reduce the number of issues we need to update with the same information.

[2019-11-04 15:05] #1279 closed

[2019-11-04 15:12] bobcatfish commented on #1219
Re-opening b/c afaik we made the backwards compatible change, but not the backwards incompatible one.

[2019-11-04 21:13] ImJasonH opened #1522 "Variable interpolations for a TaskRun's name, etc."
# Expected Behavior

I'm able to reference the name of the TaskRun (and PipelineRun) I'm running inside of, from within the execution context.

# Actual Behavior

I am not.

# Additional Info

We could support this using variable interpolation, with a placeholder like `$(inputs.taskRunName)` or `$(inputs.pipelineRunName)` etc. -- if the TaskRun is not part of a PipelineRun its name should be `""`

[2019-11-04 23:04] NicolasRouquette opened #1523 "tekton pipeline git resource should init and update submodules recursively."
# Expected Behavior

Suppose we have a git pipeline resource as described in the doc:
https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#git-resource

[code]

Suppose that `https://github.com/wizzbangcorp/wizzbang.git` has `.gitmodules` with one or more git submodules.

When the git resource is cloned, the behavior should be equivalent to this:

[code]

where `<remote url>` would b

[2019-11-04 23:17] skaegi commented on #1522
Tekton uses labels pretty effectively so you can use an envFrom fieldref to get  most information...
For example inside a `Step` you can do...
[code]
That works for `tekton.dev/pipeline`, `tekton.dev/pipelineRun`, `tekton.dev/pipelineTask`, `tekton.dev/task`, and `tekton.dev/taskRun`

Alternately you can use the Downward API to mount the labels as a volume to roughly the same effect.

All in all I

[2019-11-04 23:45] NicolasRouquette commented on #1523
I was debating whether to submit a PR for a simple fix to this.

There are two ways to address this issue:

1) Change the behavior of the git resource such that it always performs `git submodule update --init --recursive`

2) Add to the documentation that, for submodules, one needs to add a task step somewhere to do `git submodule update --init --recursive`

There are pros/cons for either option:

[2019-11-05 08:29] maheshwarishikha opened #1524 "tekton pipeline - parameters are not getting replaced recursively"
# Expected Behavior
After running pipeline-run, parameters value provided in pipeline-run should substitute parameters in Pipeline, then in task and so on.

# Actual Behavior
No value is being substituted, hence it is failing with message "$(input.params.pathToYamlFile): No such file or directory"

What could be the reason of this? Is there a way that I can check if there is any syntax error in ya

[2019-11-05 08:44] vdemeester commented on #1524
Hi @maheshwarishikha, thanks for the issue. Can you share the yamls for your PipelineRun, Pipeline and Tasks ?

[2019-11-05 09:45] hougangliu commented on #1171
I hit the same problem in my use case，any process for this issue?

[2019-11-05 10:02] vdemeester commented on #1522
@skaegi there is one trick to it though, those `labels` are on `TaskRun` and `PipelineRun`, but *not* on `Task` and `Pipeline` — I don't think it's a big deal as if we need it in the `Task` we may use parameters for it.

@ImJasonH overall, I tend to agree with @skaegi, not sure it is required as of today, that said, it might be nice to have that "easy" variable interpolation in the future.

[2019-11-05 10:08] maheshwarishikha commented on #1524
@vdemeester , Thanks for the prompt response.
Files are attached here.

[files.zip](https://github.com/tektoncd/pipeline/files/3808369/files.zip)

[2019-11-05 11:07] vdemeester opened #1526 "Create a v1alpha2 apiVersion"
As discussed in the [working group](https://docs.google.com/document/d/1JmRd0vbh2Q6Emu2DOk-LwLHfxd2V0zrN4WNawGzoNXw/edit?ts=5dc06514#heading=h.5xcyovo0bbkh), let's try to create a `v1alpha2` apiVersion for 0.9, where we do our main breaking changes, and use our webhook to do the conversion (see #1379).

- This allows user to keep `v1alpha1` without getting broken too quickly
- This allows to exerc

[2019-11-05 11:40] csantanapr commented on #1522
I was able to use fieldRef to get the namespace.

What about using this values in conditions for example if namespace is “prod” skip this step or add this step. Is that possible today?

[2019-11-05 14:34] vdemeester commented on #1526
Another question *rises* from that : where should the `PipelineResource` struct live ?

[2019-11-05 16:15] bobcatfish commented on #1393
If we do want to make the syntax more powerful, it would be great if we could align with Triggers which is already using a more powerful syntax (https://github.com/tektoncd/triggers/blob/master/docs/triggerbindings.md#event-variable-interpolation) tho also currently debating which syntax to use (https://github.com/tektoncd/triggers/issues/178)

+ @dibyom

[2019-11-05 16:21] dibyom commented on #1393
I'm all for aligning on the syntax and reusing an existing one like CEL or JSONPath instead of inventing our own! :angel:

[2019-11-05 20:30] bobcatfish commented on #1438
After my exploration in #1508, @skaegi and I discussed and

This is the latest iteration of what we discussed (similar to https://github.com/tektoncd/pipeline/issues/1438#issuecomment-544313339 but without devices):

[code]

Main differences (that I remember) from #1508:
* Ability to provide subpaths in `Pipeline`
* Using the term `volume` as well as `workspace` (in #1508 everything is `workspace`

[2019-11-05 20:38] bobcatfish commented on #1438
@skaegi I was trying to explore your usecase for providing `subPath` in `Pipeline`, and I'm not exactly sure how you're doing it but I came up with a contrived scenario: a `Pipeline` where 2 `Tasks` write files to subdirectories on a PVC, and a 3rd `Task` reads those files from the root of the PVC.

I came up with a few (buggy, typo ridden) examples:
1. [This is what the Pipeline would look like w

[2019-11-05 20:42] skaegi commented on #1393
For param lookup we currently support "dot-notation". (Hurray!)
"Bracket-notation" is used [elsewhere in Kubernetes](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api) to support cases where `.` (or any other path-specific character is used) and I logged #1453 for that already. I've looked at our param substitution

[2019-11-05 21:08] #1511 closed

[2019-11-05 21:22] skaegi commented on #1438
Thanks @bobcatfish  -- and agree FileSets are cool and think they abstracts away most of what subPath was doing. Let me have a go at making an example using some fancy `$(tasks.{name}.workspaces.{names})` but I think this is starting to look good. One thing I'd like to try is using absolute `/workspace` paths in the Task instead of interpolation and will include that in my examples.

[2019-11-06 04:05] skaegi commented on #1438
So I played with your examples a bit and quite liked (1) although having now seen filesets agree that subPath management might be optimized. For (2) and (3) I found having the volume subPath on the volume did not feel right. A "subPath" is a property of the volumeMount and one of the things that I really liked about our earlier design was how cleanly a Workspace and WorkspaceBinding combined to pr

[2019-11-06 10:46] maheshwarishikha commented on #1524
Hi @vdemeester , did you get a chance to look at files...? Please do check ...it is like blocker for me and I have tried many things...but no luck yet. Thanks in advance.

[2019-11-06 11:44] vdemeester commented on #1524
@maheshwarishikha I took a look. This is by design "so far". You have to pass params explicitely to your Task when referencing it. From your file, you need to update your Pipeline to something like the following.

[code]

The issue #1484 is tracking discussion wether we should automatically pass parameters (and resources) from pipeline to task if the have the same name.

[2019-11-06 11:56] maheshwarishikha commented on #1524
@vdemeester , ohh...my bad. I am doing this way only but the files I uploaded does not have that change.
It is not working in this way as well. Updated files are attached here.

[Updated_files.zip](https://github.com/tektoncd/pipeline/files/3814257/Updated_files.zip)

Very sorry for the confusion.

[2019-11-06 14:18] vdemeester commented on #1524
@maheshwarishikha the updated files seems ok too. You are using the same value for the parameter as the default value `deploy.yaml`… What is the error you are seeing ? :thinking:

[2019-11-06 15:20] maheshwarishikha commented on #1524
@vdemeester , I get following error -
$ kubectl -n default logs application-pipeline-run-deploy-application-dxl7z-pod-ea1d58 -c step-update-yaml
sed: /workspace/git-source/$(params.pathToYamlFile): No such file or directory

Describing pipeline/task - it shows parameters as $(params.pathToYamlFile) not with their substituted value.

[2019-11-06 15:28] vdemeester commented on #1524
@maheshwarishikha oh, I think I see what is the problems, `params` are under `inputs` in the `Task`, it should be `"/workspace/git- source/$(inputs.params.pathToYamlFile)"` instead of `"/workspace/git-source/$(params.pathToYamlFile)`.

(Related issue on the `params.Foo` vs `inputs.params.Foo`: #1185)

[2019-11-06 15:28] vdemeester commented on #1498
Both pull-requests are merged, closing
/close

[2019-11-06 15:28] #1498 closed

[2019-11-06 15:32] skaegi opened #1530 "Handling parameter interpolation in fields not designed for it"
When authoring Tekton resources that use parameter interpolation we can get in trouble when either the value type is not a `string` or if there is additional validation like for #1514 . For now I'm just pointing out the problem but it would be good if we could somehow defer validation in Tasks and Pipelines until after parameter substitution occurred.

[2019-11-06 15:57] chengjingtao commented on #1523
I think a better logic is to first determine if `submodule` exists.
We can make a judgement according output of `git submodule status`.
@vdemeester  do you have any opinions ?

[2019-11-06 16:20] vdemeester commented on #1523
@chengjingtao I thought of that initially, that said, those commands are fully no-op if there is no submodules so, running them almost doesn't cost anything :angel:

I needed for a task (that uses the `git-init`) so I opened a PR #1531 :sweat_smile:

[2019-11-06 17:32] maheshwarishikha commented on #1524
@vdemeester , I have tried both...both fails.:(
sed: /workspace/git-source/$(input.params.pathToYamlFile): No such file or directory

[2019-11-06 22:27] skaegi commented on #1393
@dibyom Reading the triggers issue... https://github.com/kubernetes/client-go/tree/master/util/jsonpath looks like it might be reasonable -- the minimal syntax above is of course more than covered by JSONPath. We do still need to pin down our substitution rules though.

[2019-11-07 02:14] zhangtbj opened #1534 "Define timeout or times for Condition"
Base on the Condition example:
https://github.com/tektoncd/pipeline/blob/master/examples/pipelineruns/conditional-pipelinerun.yaml#L53

# Expected Behavior
I think there should be a timeout or times for Condition to allow user set Condition timeout

# Actual Behavior
For example, after 5mins, if the `check` is not satisfied, then fail the Condition

# Additional spec example:
[code]

[2019-11-07 02:33] chengjingtao commented on #1523
Wow, I understand what you mean. It really makes sense
It seems I lost a chance to make a contribution to this project. 😆😅  Your PR is great.
I am trying to find some `good-first-issue` to resolve it.

[2019-11-07 02:42] csantanapr commented on #1409
Trying to understand how is this different from using a `ClusterTask`?

For example in a pipeline using:
[code]
vs
[code]

[2019-11-07 08:49] vdemeester commented on #1523
@chengjingtao sorry about that :sweat_smile: There is plenty (and if not enough, we need to triage them to add more `good first issue` :angel:

[2019-11-07 09:05] eddycharly opened #1535 "Using S3 for artifacts is slow"
Using a S3 bucket for artifacts storage is slow when there is a lot of files to copy.

As it is an automatic process managed by tekton itself, could we automatically zip the artifact before uploading and unzip it after downloading ?

It should be transparent from the user point of view and should improve performance a lot.
Maybe we can add a flag in the config map to enable/disable the zip/unzip b

[2019-11-07 15:33] vdemeester commented on #1379
Small update on this: as #1529 shows (if people are not completely dead :skull:  after reading the PR :joy_cat:) that it is definitely possible (and not that hard, thanks to `knative/pkg` code :angel:). It comes with a few "gotchas", but it is doable.

@bobcatfish @skaegi Should we close this issue (as we know what is the status) and focus on #1526 ?

[2019-11-07 15:39] vdemeester commented on #403
@afrittoli @bobcatfish is this still an issue ?

[2019-11-07 15:41] vdemeester commented on #509
@afrittoli I think we should be able to close this now. The relationship with Knative Serving is now the same as any other "deployment" system (standard kubernetes services, …). We should document those in their respective task in the catalog :angel:

/close

[2019-11-07 15:42] vdemeester commented on #439
@afrittoli does #800 closes this issue ? :angel:

[2019-11-07 15:44] vdemeester commented on #250
I think we are good closing this one, https://github.com/tektoncd/pipeline/blob/master/docs/migrating-from-knative-build.md is there, and `knative/build` is "long gone" :angel:

/close

[2019-11-07 15:44] #250 closed

[2019-11-07 15:45] vdemeester commented on #147
I think we are good closing this one :angel:

/close

[2019-11-07 15:45] #147 closed

[2019-11-07 15:47] vdemeester commented on #729
I think we can "close" this :angel: @ImJasonH proposal on API spec should help with making it more clear but it's "standard" conditions :angel:

/close

[2019-11-07 15:47] #729 closed

[2019-11-07 15:53] vdemeester commented on #992
@hollisc I'm gonna go ahead and close this issue as it seems to be fixed for you *and* it's on kaniko side :angel:

/close

[2019-11-07 15:53] #992 closed

[2019-11-07 15:54] vdemeester commented on #1013
@cmoulliard I am going to close this (as the linked file are not available anymore and there is a lack of activity on this issue). If you face those again, please open a new issue :wink:

/close

[2019-11-07 15:54] #1013 closed

[2019-11-07 15:55] vdemeester commented on #1014
Closing it as it doesn't seem to be a tekton bug :angel:

/close

[2019-11-07 15:55] #1014 closed

[2019-11-07 15:56] vdemeester commented on #567
@afrittoli what is the status of this one ? (we do have a build+deploy with helm on the go integration test, and something a tiny bit similar on the example I think)

[2019-11-07 16:10] vdemeester commented on #1012
@HusterWan @paulalex yeah, there is no limitiation on deploying things to the current running cluster (or any k8s cluster to be honest). You can deploy to anything as long as you have (or write) a task for it (see [ansible `tower-cli` task]() for example)

We may need more task of the kind (terraform, …)  and maybe a little bit of documentation or blog posts on the future `tekton.dev` website :ang

[2019-11-07 16:13] vdemeester commented on #1167
@dlorenc what is the status of this one ? (in relation to the PipelineResource design work happening those days)

[2019-11-07 16:19] vdemeester commented on #1211
#1212 being merged, I think we can close this issue.

[2019-11-07 16:19] #1211 closed

[2019-11-07 16:25] vdemeester commented on #1228
@cnych what is the status of this one ?
Looking at the report it seems you are experiencing network problem on your cluster, making k8s not able to forward the creation payload to the webhook — there is little we can do here.

[2019-11-07 16:34] vdemeester commented on #1232
As @ImJasonH, this is possible, we need to create an issue upstream [`google/ko`](https://github.com/google/ko) to add support for having the full image reference (tag + digest) written in the resolved yaml :angel:

[2019-11-07 16:37] vdemeester commented on #1234
@bobcatfish what is the status ? I guess it still is blocked on the PipelineResource design work :angel:

[2019-11-07 16:40] vdemeester commented on #1242
@gavinfish few questions
1. is this still a problem ?
2. on which system are you experiencing that ?

If it's still a problem, I think it's a `ko` issue, most likely linked to docker creds-store :sweat_smile:

[2019-11-07 16:41] vdemeester commented on #1246
@bobcatfish @skaegi @afrittoli @dlorenc @ImJasonH @abayer any thoughts on this ? :angel:

[2019-11-07 16:46] vdemeester commented on #685
@guillermobandres so, `tektoncd/pipeline` is one component of a full CI/CD system (being jenkins-x or something else).

An example is the use of `tektoncd/triggers`, that, for each events, generate a unique name for your runtime types (`PipelineRun`, `TaskRun`), with a prefix (usually the name of the pipeline, can be something else). This is also how the `tkn` cli does it with `tkn pipeline start`

[2019-11-07 16:49] vdemeester commented on #1271
/kind bug

There is a small "hack" around that for `git-init` (see [here](https://github.com/tektoncd/pipeline/blob/master/pkg/git/git.go#L48:L72)). Maybe we should "add this hack" in `creds-init`, aka creating both files to make sure either the `GitResource` or a random `git …` command work.

/cc @chmouel

[2019-11-07 17:08] vdemeester commented on #1287
@bobcatfish I wonder if this assumption is "fully" true, there might be some case when we may want to wait "a bit" for the objects they reference to exists (I think it's highly limited to few fields, but I feel there is some use-cases for it)

[2019-11-07 17:10] vdemeester commented on #1296
@sbwsg I think this is more or less fixed now, right ?

[2019-11-07 17:47] bobcatfish commented on #1526
There was a bit of context to this (and #1379) that I had to ask many questions of @dlorenc (and @jonjohnsonjr ) before I could understand that I want to share for anyone else who doesn't know, specifically more on 1) _why_ we need to be able to bump the API version and 2) _why_ we need to be able to convert between the versions.

I think the TL;DR is that [our beta policy/plan](https://docs.googl

[2019-11-07 18:04] bobcatfish commented on #1438
That's an interesting way of looking at it - I think I've been looking at the fields we're adding less from the perspective of mapping each one perfectly to k8s concepts, and more from the perspective of who is interacting with each type at which time and what should they need to know, specifically Task and Pipeline authors  vs folks people actually running the Pipelines who provide runtime inform

[2019-11-07 18:07] vdemeester commented on #1368
/assign

[2019-11-07 18:09] vdemeester commented on #1373
@XiaohanLiang I am not sure I follow :thinking: which `release.yaml` are you refering to ?
It seems to me this is something already fixed with recents version of `tektoncd/pipeline` :angel:

/kind question

[2019-11-07 18:10] vdemeester commented on #812
/kind feature

[2019-11-07 18:15] vdemeester commented on #1175
@MemorySpring does the webhook run and is registered on the cluster you are targeting ?

/kind bug

[2019-11-07 18:17] vdemeester commented on #1182
/kind feature

[2019-11-07 18:20] vdemeester commented on #1401
This needs to get fixed before beta, and should be resolve, by not using `PipelineResource` as of today or with https://github.com/tektoncd/pipeline/issues/1438, or with a re-design of PipelineResource, or a combinaison of those :stuck_out_tongue:

[2019-11-07 18:22] vdemeester commented on #1343
/kind feature
/assign

This is the case because the default value for `ImagePullPolicy` is `Always`, preparing a fix for that

[2019-11-07 18:25] vdemeester commented on #1334
@MartinForReal I feel this is a duplicate of #1302, should we close this one ?

[2019-11-07 18:35] bobcatfish commented on #1182
Maybe this is already the understanding everyone has, but we'd want to add this param to the Git PipelineResource afaik, not Task or TaskRun

[2019-11-07 18:36] vdemeester commented on #1287
An example is this issue https://github.com/tektoncd/pipeline/issues/1473 :angel:

[2019-11-07 19:14] skaegi commented on #1438
Sure, go for it. My concerns are that it means that we must deliver on PipelineResources right away and that we probably want similar resource types for ConfigMaps, Secrets, and (eventually) Block Devices. I can see us delivering on a static set of built-in PipelineResources but that would mean we need to figure out how to factor out extensibility at least short-term.

[2019-11-07 20:26] #1523 closed

[2019-11-07 20:36] skaegi commented on #1530
Two approaches...
1) parse selected fields of the Task and Pipeline `spec` identified as supporting interpolation into interface{} or similar until after fields have been interpolated or perhaps not until they are translated into a runtime object.
2) introduce a new field to Task and Pipeline called `patches` that lets you target a path and provide a value that will be added at that location. (sem

[2019-11-07 22:13] bobcatfish commented on #1438
Okay sounds good, let's give it a try :D

The most recent design [includes a pretty sweet model for extensibility that @sbwsg came up with](https://docs.google.com/document/d/1euQ_gDTe_dQcVeX4oypODGIQCAkUaMYQH5h7SaeFs44/edit#heading=h.mk50e1kwo4p3) where you can define your own PipelineResource types :D

[2019-11-07 23:01] poy opened #1538 "Support go modules"
# Expected Behavior
Repo uses go modules

# Actual Behavior
Repo uses dep

# Additional Info

Kubernetes has transitioned to go modules and the go community is pushing more things towards this. I think we should consider doing the same.

[2019-11-08 02:02] cnych commented on #1228
@vdemeester Sorry, the last troubleshooting is the problem of my admission's webhook. Now it's OK to remove it.

[2019-11-08 02:02] #1228 closed

[2019-11-08 02:41] ImJasonH commented on #1538
/assign wlynch

[2019-11-08 03:51] jpds opened #1539 "Controller tries to pull down image"
# Expected Behavior

Tekton should just launch the pods in a taskrun and let Kubernetes handle invalid images.

# Actual Behavior

I'm doing local dev on a pipeline, and I have a local docker image on the host I'm running Kubernetes on. The tekton controller tries to validate if this image exists against the main Docker repo:

[code]

Kubernetes launches the pod fine with:

[code]

It's a little t

[2019-11-08 05:29] skaegi commented on #1438
ok. I'll start digging into that asap and give feedback. Sorry @sbwsg but I suspect it might be worthwhile to reconvene the resource-wg next week some time...

[2019-11-08 06:35] sthaha commented on #1409
ClusterTask available / viewable by everyone in the cluster vs if namespaced, the access to the task can be controlled by RBAC if we choose to implement this feature request.

[2019-11-08 08:30] vdemeester commented on #1539
@jpds I think this is similar to #1343, I'll submit a fix today :wink:

/kind feature
/assign

[2019-11-08 08:33] vdemeester commented on #1538
This is a duplicate of  #1315 more or less, we should keep only one of those issue

[2019-11-08 09:18] afrittoli commented on #403
@vdemeester I'm not sure, I stopped using the PVC in favour of the bucket a long time ago :P
I might not have that version of k8s at hand anymore, but I can try to reproduce on later versions of k8s.

[2019-11-08 09:24] afrittoli commented on #439
It does not really solve this issue but it defines new roles that help with this, so I guess it helps.
I think what's missing in #800 is a little bit of documentation on how to use those.

[2019-11-08 09:24] afrittoli commented on #439
/assign

[2019-11-08 09:53] vdemeester commented on #1343
@dragon9783 actually, according to the default value to the ImagePullPolicy, it's `Always` if the image tag is `:latest`, `IfNotPresent` otherwise. So it shouldn't affect the internal images for sure (as they should have a version of a digest).

The problem is that, as of today, k8s consider an image with a digest to have the `latest` tag (which is.. wrong I think).

[2019-11-08 10:33] vdemeester commented on #1185
/assign
This is related to https://github.com/tektoncd/pipeline/issues/1526 and https://github.com/tektoncd/pipeline/issues/1526, so I'll tackle this along the others :angel:

[2019-11-08 10:34] vdemeester commented on #1539
@jpds actually it is not related to #1343 and it "can" work correctly (although it is tricky).

The entrypoint magic rewrite will query the image registry to get the default command from the image config **if the command is not specified in your step**. This means, if you want your task to work you need to specify the command you want to run on the step that uses `task-testing-image:1.0` :sweat_sm

[2019-11-08 10:41] vdemeester commented on #1376
Allowing for actions to be taken in failure scenarios, we should support this with Resources *or* without, so having a way to say "this step needs to be run even if the previous step failed".

[2019-11-08 11:10] afrittoli commented on #509
@vdemeester While Knative can be just an extra deployment system, there is an extra relationship, that is tekton pipelineruns can be used in Knative Serving spec via duck typing, e.g.:

[code]

[2019-11-08 13:04] vdemeester commented on #509
@afrittoli the `build` field is deprecated and removed from the v1bat1/v1 api of Knative serving, that’s why I closed this one 😝

[2019-11-08 14:06] MLBMatt opened #1542 "Official Helm Chart"
I can't seem to find an official Tekton Pipelines helm chart. It looks like the JX team has their own implementation of it but it looks tuned to JX. Is there any plan (or one that currently exists) for an officially supported Helm chart?

[2019-11-08 14:19] vdemeester commented on #1542
There is not plan for an official helm chart that I know of. We are working on providing a operator (see [`tektoncd/operator`](https://github.com/tektoncd/operator)) for installation purpose.

That said, it might make sense to have one ?

/kind question

[2019-11-08 14:38] sbwsg commented on #1296
yeah i think so!

[2019-11-08 14:38] #1296 closed

[2019-11-08 14:39] skaegi opened #1543 "Add version label to pipelines controller deployment"
Figuring out which version of Tekton you're running can be a challenge of looking up image SHAs and other equally fun things.

As per https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ we should add an an `app.kubernetes.io/version` label to the tekton-pipelines-controller deployment and figure out how we set it both for formal versions and ad-hoc builds.

[2019-11-08 14:40] vdemeester commented on #1543
/kind feature

[2019-11-08 15:02] bobcatfish commented on #403
I'm really surprised this isn't happening more often :O

[2019-11-08 15:02] bobcatfish commented on #454
oh hey

/assign @ImJasonH

[2019-11-08 15:06] vdemeester commented on #454
/kind feature

[2019-11-08 15:33] ImJasonH commented on #454
Project proposal doc: https://docs.google.com/document/d/1-XBYQ4kBlCHIHSVoYAAf_iC01_by_KoK2aRVO0t8ZQ0/edit

[2019-11-08 16:05] bobcatfish commented on #1260
@danielhelfand I think this is a really interesting idea - maybe relevant to @ahpook 's interests as well?

We've been focusing on a `Task` as the most reusable unit; additionally the container `images` within the `Steps` are kind of another reusable unit, so I think we haven't seen a clear reason to make a `Step` itself reusable.

Maybe you could give some examples of where this could be useful?

[2019-11-08 16:11] vdemeester commented on #1260
@bobcatfish This is kind of related to Task composition and issues like #1367 (Allow for TaskReference Interpolation within Pipeline). I think the idea would be able to define some common step that need to be done in a Task, so that they can be shared and re-use easily.

I wonder if it should be a PipelineResource or its own type, usable/injectable in the Task spec. And as it is "arbitrary" (Step

[2019-11-08 16:37] danielhelfand commented on #1260
I think the main use case I see for this is, as @vdemeester has mentioned, is about being able to define a step once and have it be reusable across tasks. Being able to write the step once and then be able to have a `StepRef` as part of a task would help to avoid having to write out a whole step each time.

Granted, it's debatable how much this would be worth it considering how much has already be

[2019-11-08 17:25] rakhbari commented on #1409
@sthaha I actually don't see it as a "limitation" at all. I see it as proper use of existing tools features (rather combining features of different tools) to achieve an end. Use the right tool for the job. TektonCD shouldn't include any features that creep into version control. We already have a tool for that (Github). Hopefully that makes more sense. 😃

[2019-11-09 08:05] eddycharly commented on #1542
@MLBMatt i wrote an helm chart with pipeline and dashboard. My plan was to add triggers before making it public.

I also wrote an helm chart for prow so that I can set up my full ci/cd solution from helm.

It’s not official though, but I will be happy to contribute if there is some interest for it.

[2019-11-09 08:19] eddycharly commented on #1542
@MLBMatt i made the repo public, keep it mind it's still work in progress. Things are subject to change as i work on it.

https://github.com/eddycharly/helm-prow-tekton/tree/master/helm/tekton

[2019-11-09 08:34] eddycharly commented on #1542
@vdemeester i think having a helm chart is great to simplify installation for the end user. It is also useful for documenting how one can configure/customize the installation, while allowing to provide default values.

Things like adding custom annotations, labels, tuning resources, etc... are so common, that's where helm really shines.

[2019-11-09 16:04] #1066 closed

[2019-11-10 00:24] DanielChuDC opened #1547 "Tekton webhook seem does not work in OKD 3.11 Multi-tenant networking"
# Expected Behavior
After created tekton webhook with kabanero that link to github, the webhook successfully trigger and deploy the deployment in OKD 3.11 cluster

# Actual Behavior
Github webhook return 504 service timeout. After I dig down the problem, it seem like the istio istio-egressgateway and istio-ingressgateway have issue with health check and the pods keep redeploy.

# Steps to Reproduc

[2019-11-10 12:34] MartinForReal commented on #1334
I think this is a little bit different because I want to strengthen that we need different deleting strategies. such as keep a certain number of run records for a certain task.

[2019-11-10 13:34] bobcatfish commented on #1376
I think @dibyom expressed a desire to work on this :D 🤞

[2019-11-10 19:42] faust64 opened #1548 "Task with variable resource params"
Trying to setup a generic task with params involving per-container resource limits/requests.

# Expected Behavior

Should be able to create task.

# Actual Behavior

Can't create task.

[code]
# Steps to Reproduce the Problem

1. Try creating task from sample below

# Additional Info

`task.yaml`:
[code]

[2019-11-10 20:04] faust64 commented on #1548
somewhat similar to tektoncd/pipeline#1514

[2019-11-11 14:14] sbwsg commented on #1438
I suggest that we keep conversation of the new resource proposal to the main WG. If we start taking up inordinate amounts of time discussing it then a separate WG makes more sense to me but I really want to keep the new proposal visible in the wider community if we can. Feel free to ping me with questions on slack though - happy to talk through the design or implementation details I'm working thro

[2019-11-11 14:45] danielhelfand opened #1549 "Add More Properties for StepState for Testing"
Currently, `test/builder` does not appear to support an easy way to set properties of a `StepState`. There is a [`StateTerminated`](https://github.com/tektoncd/pipeline/blob/98dbc0b51655b0261980448c05b2f9790e783294/test/builder/task.go#L397) function for setting the exit code of a `StepState`, but it would be nice to be able to set any property for `Terminated` (e.g. `Reason`, `StartedAt`, `Comple

[2019-11-11 14:45] danielhelfand commented on #1549
/kind testing

[2019-11-11 14:46] danielhelfand commented on #1549
/area testing
/assign

[2019-11-11 17:52] stobias123 opened #1551 "Pipelinerun example fails"
# Expected Behavior
Pipelines example to work in openshift
# Actual Behavior
Pipelines example fails.
# Steps to Reproduce the Problem

1. `k appy -f https://raw.githubusercontent.com/tektoncd/pipeline/master/examples/pipelineruns/pipelinerun.yaml`
2. View results of pipeline run

# Additional Info
Error output from step containers.
[code]

[2019-11-11 19:29] ncskier opened #1552 "Reusable workloads with a DAG"
# Expected Behavior
I expect to be able to easily reuse any consumable workload that I define with Tekton by using it within a larger workload. This reuse is analogous to implementing a function in a library, and reusing this function in different functions/programs.

# Actual Behavior
If my workload requires a DAG, then I must declare it as a Pipeline. There is not an easy way to reuse my workloa

[2019-11-11 19:37] bobcatfish commented on #1438
I also think once we have some POC's to try out (for this proposal and for FileSet) it'll help with our discussions! :D

[2019-11-11 20:02] ncskier opened #1553 "Add labels to PipelineRuns/TaskRuns based on PipelineResources"
# Expected Behavior
When I execute PipelineRuns/TaskRuns using different git repositories, I expect to be able to filter my PipelineRuns/TaskRuns by repository, branch, etc.

# Actual Behavior
As far as I know, there is currently no way to filter my PipelineRuns/TaskRuns by the repository or branch they use. I can manually add a label to each PipelineRun/TaskRun, but this doesn't work if something

[2019-11-11 20:09] ImJasonH commented on #1553
This is a perfect use case for the proposed [Results API project](https://docs.google.com/document/d/1-XBYQ4kBlCHIHSVoYAAf_iC01_by_KoK2aRVO0t8ZQ0/edit#).

One benefit of storing this information outside of the cluster's etcd storage is that the storage engine can index results and enable queries like "what PipelineRuns have executed on this commit of this repo" or "what PipelineRuns have executed

[2019-11-11 20:13] MLBMatt commented on #1542
What I really need is just a way to apply the CRDs automatically into a cluster...right now we're just leveraging a makefile to run a "setup task" that runs a bunch of `kubectl apply -f`s

[2019-11-11 20:21] eddycharly commented on #1542
The crds and the controller are tightly coupled. What do you mean by « just a way to apply the crds into a cluster » ?

The chart can deploy only the crds and controller. Dashboard and webhook components are optional and can be disabled.

[2019-11-11 20:29] MLBMatt commented on #1542
Like I need the `https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml` and `https://storage.googleapis.com/tekton-releases/triggers/latest/release.yaml` applied without running a kubectl apply to work seamlessly in our workflow. Bootstrapping a Tekton cluster still requires these manual steps that could be solved if they were put into and maintained in a standalone Helm char

[2019-11-11 21:04] eddycharly commented on #1542
I agree that an officially maintained chart would be great.

A lot of charts are created and maintained by the community though.

[2019-11-12 03:08] jpds commented on #1350
There are some instances where we can't add `known_hosts` to our YAMLs (I'm looking at you, GitHub...)

[2019-11-12 08:16] wei-qiang opened #1555 "Buildpacks task doesnt have steps when using pipelinerun"
# Expected Behavior
pipeline creates a taskrun of task "buildpacks-v3" with its steps.
![image](https://user-images.githubusercontent.com/18074984/68653434-05aac900-052c-11ea-8cea-aea3556d2120.png)

# Actual Behavior
![image](https://user-images.githubusercontent.com/18074984/68653477-2115d400-052c-11ea-8a62-8b1a66f76927.png)

# Steps to Reproduce the Problem

1.create pipelinerun using task build

[2019-11-12 11:04] vdemeester commented on #1552
Using [`tektoncd/triggers`](https://github.com/tektoncd/triggers) alongside some task, it is kinda possible right now. It is not possible through the current `tektoncd/pipeline` API, but I'm not sure if this is something the "core" API should handle (or using several components and have an abstraction layer on top).

[2019-11-12 14:10] siamaksade commented on #1461
This PR is related: https://github.com/tektoncd/pipeline/pull/1179

[2019-11-12 15:30] vdemeester commented on #1551
@stobias123 it seems `kaniko` explicitely needs to be run as root. We should update the example to reflect that.

/kind bug
/kind documentation

[2019-11-12 15:31] sbwsg opened #1559 "Add a field to Step that allows it to ignore failed prior Steps *within the same Task*"
This is a sub-issue of #1376 and goes a small way to supporting the functionality described there. This issue is focused solely on running Steps inside a Task when prior steps (within the same Task) have failed. This issue specifically *does not* deal with running whole Tasks when previous Tasks have failed.

# Motivating Use Cases

1) A unit test step fails but a subsequent step in the same Task

[2019-11-12 16:08] vdemeester commented on #1559
/kind feature

[2019-11-12 16:38] sbwsg commented on #812
gke-deploy Task in the catalog could use this functionality: https://github.com/tektoncd/catalog/pull/126

That task would ideally be able to accept either a cluster resource OR the necessary args to configure access to that cluster.  Very similar to the first example use case mentioned by @dlorenc

[2019-11-12 18:51] josephlewis42 commented on #1543
Another place I'd like to see this is on the namespace; if you're sharing a cluster a scrupulous operator would probably lock down the controllers, but it's more likely users would have access to read namespaces.

For example, Knative Serving does this with a `serving.knative.dev/release` label on their namespace.

[2019-11-12 22:47] ImJasonH commented on #1461
Is this something that can be easily generated using existing tooling? I'm a bit worried we'll end up with structs and YAML validation out of sync, and I'm also a bit uncomfortable with maintaining code to generate one from the other. Is there something OpenAPI provides for this?

[2019-11-13 03:48] withlin opened #1561 "undefined: serializer.DirectCodecFactory"
## go mod
[code]
## Build Error
[code]

ref issue
[controller-runtim#issues#633](https://github.com/kubernetes-sigs/controller-runtime/issues/633)
[sample-controller#issues#49](https://github.com/kubernetes/sample-controller/issues/49)

[2019-11-13 06:36] vdemeester commented on #1561
@withlin right now pipeline depends on k8s 1.13. We will probably bump those to 1.15 soon but it requires a little bit of work :angel:

[2019-11-13 08:59] withlin commented on #1561
Thank you for your reply. any progress on go mod in current repo?

[2019-11-13 09:57] vdemeester commented on #1561
@withlin we are looking into it, that said, it's not gonna happen before kubecon na 2019 for sure, and the main priority is beta apis :angel: *but* there is issues about that to track the work done on it : #1315 and #1538

[2019-11-13 11:36] withlin commented on #1561
@vdemeester we already  upgrade from  k8s 1.13 to k8s 1.16.2 and then migrate to go mod.

[2019-11-13 17:28] bobcatfish commented on #1559
Related issue: https://github.com/tektoncd/pipeline/issues/1376

[2019-11-13 20:29] sbwsg commented on #1559
Presented during working group today. Feedback I can remember from the meeting:

* What's the interaction here with output resources?
* This feels like it's a "finally" clause in a try/catch.
* It would be neat if this were generalized to handle other failure strategies e.g.:
  1. Ignore this step's failures and continue with the rest as if nothing errored
  2. Ignore all failures in this task and

[2019-11-14 02:27] vincent-pli opened #1565 "Make "image digest exporter" as the output "task modifier" of image resource"
I'm curious why we treat `image digest exporter` as a specific operator, like this:
https://github.com/tektoncd/pipeline/blob/15e3bd240f38aa77045a498fc6ccb928fefeac00/pkg/reconciler/taskrun/taskrun.go#L479

Any reason do not make it as `InternalTaskModifier` in `image resource`?

[2019-11-14 03:02] skaegi commented on #1559
- @dibyom can probably comment on the Resources
- re: finally -- it was more just an observation although finally really would be useful for a "final" task in a PipelineRun.
- re: generalized
  (i) suggesting we do something a bit more flexible like instead of...
`ignorePrevStepErrors:true/false`
Do something like...
`entrypointStrategy: IgnorePreviousStepErrors`
  (ii) If we're feeling ambitious

[2019-11-14 15:28] vas-dev-ops opened #1567 "custom parameter in resource"
# Expected Behavior

Adding a custom parameter on a docker resource i would expect to be able to read it in a task where the resource is used.

# Actual Behavior

I can't read it.

# Steps to Reproduce the Problem

1. Create a docker resource with a custom parameter "deployment":

[code]

2. Create a task and access the parameters of the resource:

[code]

3. run the task with a taskrun:

[code]
4

[2019-11-14 16:10] sbwsg commented on #1567
/kind feature

[2019-11-14 16:18] sbwsg commented on #1567
Would adding an input param to the Task be suitable here?

[code]

If that's not suitable for your use case could you go in to a little detail about why not? It strikes me as a little counterintuitive that you could bundle additional arbitrary fields in a PipelineResource since the params it expects are specific to the work that it does.

[2019-11-14 16:30] NicolasRouquette opened #1568 "Need a way to specify a timeout for a pipeline task"
# Actual Behavior

I configured a Tekton trigger event listener + trigger + pipeline for building some complex software that happens to exceeds the global task run timeout configuration.

With `tkn pr describe <pipeline run id>`, I see that several task runs failed with `TaskRunTimeout`.
Since these `TaskRuns` are generated by the tekton trigger event listener, I can't specify a timeout.

# Expect

[2019-11-14 16:40] vas-dev-ops commented on #1567
The problem for me is where I could save additional information regarding the application i'm working with.

On my actual system the docker-resources are the only object with the same cardinality as the application I'm working with so for me it has been quite natural to try to store some information there.

Getting that information as a parameter (as you suggested) force me to write a triggerTempl

[2019-11-14 16:54] ImJasonH opened #1569 "Handle sidecar execution signalling with entrypoint injection"
# Background

Today, Tekton injects an `entrypoint` binary into running steps, to control ordering of execution of those steps. Broadly, this is done by having the binary wait for files passed via the `--wait_file` flag, and having the binary write a file when it completes, specified by the `--post_file` flag.

In order to run steps A, B, C, the TaskRun controller creates a Pod with entrypoint bin

[2019-11-14 18:07] skaegi opened #1570 "Optimize step signalling in entrypoint"
The entrypoint signaling mechanism currently wakes up and checks for file changes written by the previous step every second. This is simple but in out experience slow. We have a synthetic test that runs a 20 step do nothing task that takes something like 60s to run. A similar raw Pod without the entrypoint runs in 10s. We should see if we can get those times down.

We might reduce sleep time to 50

[2019-11-15 02:52] vincent-pli opened #1574 "Confused timeout in pipelinerun"
At the beginning, I define `timeout` in `pipelinerun` and expect the pipeline will end after a certain time and release the resource, but it's not.
After `pipelinerun` mark it as `timeout`, the `task` still keep running for a while.

Now I know the `pipelinerun` will share the `timeout` with `task`s, that's means in a linear scenario, if the `task` is render by `pipelinerun` it will keep running n

[2019-11-15 08:46] vdemeester commented on #1568
/kind feature

[2019-11-15 09:00] vdemeester commented on #1567
@vas-dev-ops yeah that's the problem with the current design of PipelineResource, it gives the feeling that you can pass any number of parameters, but those parameters are ignored.

We should try to take this into account for the [new design](https://docs.google.com/document/d/1euQ_gDTe_dQcVeX4oypODGIQCAkUaMYQH5h7SaeFs44/edit?ts=5dc9bc93#heading=h.jag64ldd0zc6) of PipelineResource.

[2019-11-15 09:01] vdemeester commented on #1570
/kind feature
/priority important-longterm

[2019-11-15 09:50] vdemeester commented on #1567
You need to be in the tekton-users@ google group (and/or tekton-dev@ google group), see [here](https://github.com/tektoncd/community/blob/master/contact.md#mailing-list)

Depends on what you mean by project (as there is no such notion in tekton) ? the relation is more `n -> n` : Task define what pipelineresource they need (and it can be many), and you can "bind" the actual resource to any number o

[2019-11-15 11:03] vdemeester commented on #1379
/close

[2019-11-15 11:03] #1379 closed

[2019-11-15 19:06] bobcatfish commented on #1569
I think we could do something crazy like subscribe to changes to the pod we created, and inject AFTER istio injects - but I'm not sure if Istio will catch that and try to undo it, causing a sweet k8s mutating webhook injection bomb 💣 which i have to say would be kind of cool to see in action.

[2019-11-15 19:08] ImJasonH commented on #1569
We can't inject after the Pod is created, because we can only update containers' `image` field, not the `args` or `command` or anything.

@sbwsg and I had also talked about adding a mutating webhook for Pods, which could rewrite them, but would only work if it was run _after_ Istio's mutating webhook. And you can't declare any kind of ordering. 😕

Either way, it seems simplest to just state "Istio

[2019-11-15 19:22] pritidesai commented on #812
Design Doc: https://docs.google.com/document/d/1oe936Zspc8jL9Tb7kWd26bS6sf2emxUxTjt-aKv01Mc/edit#heading=h.duu98lpb6lg4

[2019-11-17 09:18] afrittoli commented on #509
oh, I see, thank you. I'll close this back.

[2019-11-17 09:18] #509 closed

[2019-11-17 20:49] faust64 opened #1584 "tkn logs segfaults if run not started"
# Expected Behavior

Some info/error/warning, notifying me the job has not started yet

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. pile up several pipelineruns
2. use tkn pipelinerun logs against a job that did not start

[2019-11-18 09:12] withlin opened #1585 "pipeline support authentication mutiple username and password in Secret?"
## Actual Behavior
[code]

## Expected Behavior
[code]

[2019-11-18 12:46] tomhau01 opened #1586 "Missing k8s liveness and readiness probes support"
# Expected Behavior
Pipeline controller and webhook containers have liveness and readiness probes (https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/) defined.

# Actual Behavior
Probes are missing:
https://github.com/tektoncd/pipeline/blob/v0.8.0/config/controller.yaml
https://github.com/tektoncd/pipeline/blob/v0.8.0/config/webhook.yaml

# Steps

[2019-11-18 14:10] sbwsg commented on #1584
This sounds like it belongs in the tkn/CLI repo: https://github.com/tektoncd/cli/issues

[2019-11-18 17:53] vdemeester commented on #1586
/kind feature

[2019-11-18 18:41] faust64 commented on #1584
Sure.

https://github.com/tektoncd/cli/issues/470

[2019-11-18 18:41] #1584 closed

[2019-11-18 18:50] jkljf opened #1587 "Allow ReadWriteMany mode for PVC of PipelineRun"
# Expected Behavior
For the automatic created PV, allowing AccessMode 'ReadWriteMany' would facilitate the parallel tasks' execution.
# Actual Behavior
It seems 'ReadWriteOnce' is the default value. In fact, it's hardcoded in the source code (./pkg/artifacts/artifacts_storage.go)
# Steps to Reproduce the Problem

1. Run a pipeline with the Input/Output Resource usage
2. Check the K8S PV
3. AccessM

[2019-11-19 06:37] bibi520 opened #1589 "Is there any field setting to automatically remove these pods"
![image](https://user-images.githubusercontent.com/42456284/69122537-0cac7b00-0ada-11ea-9548-c11f47ff4128.png)
Is there any field setting to automatically remove these pods

[2019-11-19 06:38] #1496 closed

[2019-11-19 07:02] poy opened #1590 "Use Knative's {Type}StatusFields Pattern"
# Expected Behavior
I would like to be able to embed Tekton's Status in my own CRD (e.g., for a TaskRun).

# Actual Behavior
I have to recreate Tekton's Status type because I can't embed it due to the included `duck.Status`.

# Additional Info
Knative-Serving solves this by creating a new Type that doesn't embed the `knative.dev/pkg/apis/duck/v1beta1.Status`.

An example of it is their [`ServiceSt

[2019-11-19 08:07] ImJasonH commented on #1590
I'm having some difficulty understanding what we're doing that's causing a problem for you. It sounds like you want to embed `TaskRunStatus` in your own `*Status` struct, is that correct? Like this?

[code]

And the inclusion of the `knative.dev/pkg/apis/duck/v1alpha1.Status` type is causing problems somehow? Can you give me an example error message you're seeing?

(In general I have no problem re

[2019-11-19 13:59] poy commented on #1590
You are correct that I'm wanting to do this. Its less of a compilation problem and more that it seems misleading (to me at least).

With Knative's pattern, it's clear what fields will be filled in. However if I embed the `TaskRunStatus` as it is today, it has an unused field `Status`. WDYT?

[2019-11-19 14:14] sbwsg commented on #1589
Hey @bibi520, there's no setting to automatically clean up the pods. To remove the pods you can delete the PipelineRuns that created them. There are a couple reasons for this but the main one I can think of right now is that the logs from your PipelineRun are stored attached to the pods by Kubernetes. So if you want to see those logs we need (right now) to keep those pods alive. If you want to cle

[2019-11-19 14:14] #1589 closed

[2019-11-19 15:57] eddycharly opened #1592 "Script task : Error from server (InternalError): error when applying patch"
This task is rejected by the admission webhook :
[code]

I receive the following log :
[code]

Is this a known issue ?
It looks like the script task is not working anymore ?

[2019-11-19 17:17] sbwsg commented on #1592
Hrm, I'm able to run `examples/taskruns/step-script.yaml` with the version of the controller & webhook at HEAD of master.

Do you know what version of tekton you're running?  I don't believe script mode has made its way into a named release yet - it'll be released as part of 0.9.  One additional thing that I just noticed is that your Taskrun tried to run in a namespace called "Prow".  The version

[2019-11-19 17:20] eddycharly commented on #1592
@sbwsg i modified prow to run with the latest version of tekton (the pr was merged about 2 weeks ago), i'm running the latest prow version with tekton 0.8.0.

if i use `latest` images for `tekton-pipelines-controller` and `tekton-pipelines-webhook` i have a chance that it works ? ;)

[2019-11-19 17:21] #1549 closed

[2019-11-19 17:29] eddycharly commented on #1592
Arff.. `latest` image version is `0.8`.
I hoped for a nightly or something... i will wait for 0.9.

[2019-11-20 04:29] xiujuan95 opened #1594 "Run TestKanikoTaskRun test failed on kuberneters cluster"
# Expected Behavior
TestKanikoTaskRun is passed
# Actual Behavior
Run TestKanikoTaskRun test failed.
Recentlly, I build a pipeline , and then install it into my local kubernetes cluster. But when run `go test -v -tags=e2e -count=1 ./test -run TestKanikoTaskRun`, it failed. The error message is below:
[code]
The task and taskrun yaml files are like below:
[code]
[code]
Besides, I try to fix this is

[2019-11-20 12:21] strideynet commented on #698
@cnych did you resolve this issue?

[2019-11-20 16:29] skaegi commented on #1570
/assign

[2019-11-20 18:22] #1592 closed

[2019-11-21 03:25] vincent-pli commented on #1569
@ImJasonH
Could we consider to use [Share Process Namespace](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/) to handle the `istio` inject case.

1. If there are `sidecar` in `Task`, add new `step` at the 1st position to watch on the process of `sidecar`s, it existed, trigger other `step` to run.
2. If `sidecar` add new step at the end of `step` queue to kill the

[2019-11-21 18:16] skaegi commented on #1570
Ok... so first off my initial numbers were totally incorrect. My imagePullPolicy was just not right so that was a good part of what I was seeing. Redoing my numbers in my cluster I see 6s for a vanilla pod case and 18s for the TaskRun case for a 20 step.

So I played with the entrypoint wait time...:
raw pod -- 6s (lower limit...)
1ms -- 12s (burning laptop... power percentage going down in real t

[2019-11-21 19:01] ImJasonH commented on #1570
Thanks for that data Simon! This makes me think we should have a metric for "overhead" time -- time spent between `step[n].finish` and `step[n+1].start`. That would let us gather data across a bunch of runs before and after (and during) tweaks to the poll interval and while moving to something better.

This is also something an operator might want to monitor, in case they want to precache popular

[2019-11-21 23:03] eddycharly opened #1602 "Question : How manage temp output artifacts ?"
I would like to create a pipeline with three tasks.

The first task builds a package, the second task generates a configuration.
After that, the third task takes the package and the configuration and deploys the application.

Outputs from tasks 1 & 2 are somewhat temporary as they are to be used by the third task.

I configured my pipeline to work with s3, i would expect outputs from task 1 & 2 to

[2019-11-22 08:13] husnurrsyafni opened #1603 "Github and GCR Authentication Failed."
# Expected Behavior
Taskrun can fetch code from private github repository, make docker image from it, and push image to Google Container Registry.

# Actual Behavior
Failed to authenticate Github and Google Container Registry.

# Steps to Reproduce the Problem
Follow the step explained in [Tekton pipeline tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) both with basic

[2019-11-22 09:32] eddycharly opened #1604 "Copy output from a previous task, resource is not used ?"
When a task in a pipeline uses output from a previous task, the resource element is ignored ?
Do the output and input have to share the same name for it to work ?

If i trust the code below :

https://github.com/tektoncd/pipeline/blob/c9a7a35c01aea3ad6cf8b0992e10b0a21535d2a6/pkg/reconciler/pipelinerun/resources/input_output_steps.go#L83-L92

If the output is named `foo` in the previous task and th

[2019-11-22 14:34] vincent-pli commented on #1604
@eddycharly
Yes, based on current implementation, the next `task` has no idea what's the name of output resource of the previous `task`, only know the name of previous `PipelineTask`.

[2019-11-22 14:39] eddycharly commented on #1604
@vincent-pli what's the reasoning behind this ? previous task output and current task input must match ?

So there is no way to take an output of a task and use it as input in another task whatever their names ?

The examples in the docs are confusing https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#from. Not sure why `resource` and `from` are set here.

[code]

[2019-11-22 17:30] wlynch commented on #1561
I encountered this when working on #1538, so we can probably close this issue as a duplicate of that. The problem here is that you need to pin all k8s dependencies on the same tag version, which requires a manual override since not all dependencies are following the go mod semver semantics yet.

You can find a WIP prototype here: https://github.com/wlynch/pipeline/tree/modules. The overrides you'r

[2019-11-22 18:49] imjasonh opened #1605 "Simplify and split apart MakePod"
Related to #1519

Today, the conversion between TaskRun to a Pod jumbled together (mostly) inside [`MakePod`](https://github.com/tektoncd/pipeline/blob/c9a7a35c01aea3ad6cf8b0992e10b0a21535d2a6/pkg/reconciler/taskrun/resources/pod.go#L112-L292), which is responsible for lots of different things. This makes it hard to understand, hard to test in isolation, and hard to make fixes and improvements.

#

[2019-11-22 19:24] poy opened #1606 "Provide mechanism to set environment variables on TaskRuns"
# Expected Behavior
Have similar API to knative-builds [TemplateInstantiationSpec](https://godoc.org/github.com/knative/build/pkg/apis/build/v1alpha1#TemplateInstantiationSpec) to provide environment variables to a TaskRun.

# Actual Behavior
Use work arounds.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-11-23 01:20] vincent-pli commented on #1604
I think the reason is the `pipelinerun` will be divide to several `taskrun` in runtime, each `taskrun` has limited knowledge of others.

The `resource` in the sample means `pipelineresource`, it's a refer to a real crd named `pipelineresource`, has no relationship with the location of the resource :)

[2019-11-23 08:05] chmouel opened #1608 "Permission denied when checking out source to /workspace"
# Expected Behavior

When checking out a `PipelineResource` with a Git resource checking it out in `/workspace` which run as *user* (as for example by default on OpenShift) the Git repository would probably be checked out in `/workspace/src`.

# Actual Behavior

This would be denied and can't create directory in `/workspace`

[code]

# Steps to Reproduce the Problem

This is maybe an OpenShift spe

[2019-11-23 08:15] eddycharly commented on #1604
Each taskrun has no knowledge at all of other taskruns. The pipeline creates/orchestrates the taskruns, making the glue between them.

I am trying to understand if an output of a task can be copied as the input of another task, regardless of the output and input names.

For the copy to work, it looks like the name of the input and output have to be the same, it makes the tasks difficult to reuse a

[2019-11-23 08:23] chmouel commented on #1608
Oh! `/workspace` volume is not getting mounted when it fails so not bind to the user, this is the failed step `dir-init` :

<img width="868" alt="image" src="https://user-images.githubusercontent.com/98980/69475782-bd17c900-0dd1-11ea-8ffa-c9b81e6a3c7e.png">

while it is mounted and then working in the previous initContainer step `credentials-init` :

<img width="778" alt="image" src="https://user-

[2019-11-23 10:06] vdemeester commented on #1602
/kind question

[2019-11-23 14:45] withlin commented on #1561
/close

[2019-11-23 14:45] #1561 closed

[2019-11-24 19:07] #1608 closed

[2019-11-25 08:07] utherp0 opened #1610 "When creating a pipeline with a condition that has missing attributes the pipeline never progresses but no error is given"
# Expected Behavior
When starting a pipelinerun where the condition contains missing information, such as a parameter type field, the status of the pipelinerun via the Operator should be set to failed

# Actual Behavior

Pipelinerun status never gets updated, user has to examine the Operator Logs to get information on Condition processing failure

# Steps to Reproduce the Problem

1. Create a cond

[2019-11-25 09:25] vdemeester commented on #1604
I think this is related/duplicate of #1002. This is (imho) one of the limitation of the PipelineResource (as currently designed) and one of the reason why PipelineResource are (so far) not considered to move to beta until they are redesigned (see #1369 and [design doc](https://docs.google.com/document/d/1euQ_gDTe_dQcVeX4oypODGIQCAkUaMYQH5h7SaeFs44/edit#))

[2019-11-25 09:29] eddycharly commented on #1604
thanks @vdemeester
i don't have access to the google drive.
i was thinking about it, why not introduce an implicit resource, something like `taskstorage` to be used by the pipeline ?
from the task point of view it would be a storage, it doesn't change anything, from the pipeline run point of view, it could be used to pass the `taskstorage` to the task output.

the `taskstorage` would take care of

[2019-11-25 09:31] vdemeester commented on #1605
@ImJasonH I wasn't sure if what is listed is what `MakePod` does currently (and that should change somehow) or what it should do ?

/kind feature

[2019-11-25 09:36] vdemeester commented on #1603
@husnurrsyafni thanks for the issue.

- If you are using `ssh` auth, you should use `git@github.com:…` instead of `https://github.com/husnurrsyafni/hello-world-js` (cloning using `https` won't make `git` use ssh)
- On basic auth, is your account using 2-factor auth ? (if yes, `git clone …` won't work as GitHub will also need 2-factor auth which isn't supported)
- Pushing on `gcr.io/projectkirin/he

[2019-11-25 09:40] vdemeester commented on #1604
@eddycharly the current "idea" is to separate this concern from the PipelineResource, see #1438

[2019-11-25 09:42] vdemeester commented on #1604
You need to be part of `tekton-dev@` or `tekton-users@` to be able to have access to those design document, see [here](https://github.com/tektoncd/community/blob/master/contact.md#mailing-list)

[2019-11-25 09:46] vdemeester commented on #1569
/kind feature

[2019-11-25 10:08] vdemeester commented on #1587
/kind feature
Might be a consideration to take for #1438

[2019-11-25 10:52] chmouel commented on #1569
@vincent-pli It is very nice thanks for sharing, but unfortunately that would be a big issue for (openshift) since that would require elevated capabilities to run the tasks, the `SYS_PTRACE`  cap.

[2019-11-25 11:10] vdemeester commented on #1606
@poy I am not entirely sure I follow but I guess, what you want is to be able to pass environment variable from the `TaskRun` (to the running pods) ; which is not possible as of today.

It could be something like the following…

[code]

… or we could *enhance* `podTemplate` to have an `env` field (but I am not a huge fan of that, better abstracting it from `podTemplate`)

/kind feature

[2019-11-25 13:31] vdemeester opened #1612 "pkg/reconciler/taskrun TestReconcile_ExplicitDefaultSA/serviceaccount Race condition"
# Expected Behavior

No race

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. `go test -race ./...`
2. :pray: to see the race

# Additional Info

See [here](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/1611/pull-tekton-pipeline-unit-tests/1198954185136017411/) (link might be dead at some point…)

/area testing
/kind flake

[2019-11-25 14:24] poy commented on #1606
Sorry for being vague, but you nailed it! I also prefer your first API suggestion.

[2019-11-25 15:06] bobcatfish commented on #1606
hey there @poy! could you describe a bit more about the use case for this?

today you could accomplish this by:
1. Declaring a parameter for your env var
2. Using [variable substitution](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#variable-substitution) to use that param to populate an environment variable

We've tried to be very deliberate about what values provide at runtime:

[2019-11-25 15:21] poy commented on #1606
@bobcatfish of course!

So we are using Buildpacks with Tekton. Traditional Buildpacks (In Cloud Foundry) allowed environment variables for settings.

We have no way of knowing what environment variables could be needed ahead of time as users can create their own Buildpacks. Therefore we need something more dynamic.

[2019-11-25 16:17] bobcatfish commented on #1304
Update from @dibyom : @ImJasonH is waiting to finish his refactoring of pod logic before merging this one

[2019-11-25 16:24] bobcatfish commented on #1377
Related: https://github.com/tektoncd/pipeline/issues/1372

[2019-11-25 16:35] bobcatfish commented on #1205
@vdemeester pointed out this is 5 min in the cli repo

[2019-11-25 16:40] bobcatfish commented on #1401
TODO before beta release:
1. Document this clearly
2. Make sure our examples do not use master (since it would be a bad practice)

[2019-11-25 20:42] imjasonh opened #1617 "taskrun_test.go spews a lot of logs on failure"
# Expected Behavior

Failing tests are easy to debug, and test failure messages are easy to find.

# Actual Behavior

For each sub-test in `TestReconcile`, you get a blob of logs like this:

[code]

# Steps to Reproduce the Problem

1. instigate a test failure in taskrun_test.go
2. `go test ./pkg/reconciler/taskrun/`
3. ☝️

# Additional Info

Logs seem to come from Cloud Events integration, and fr

[2019-11-26 00:55] vincent-pli commented on #1610
The issue is gone with v0.8.0 or latest master.

[2019-11-26 06:45] vdemeester commented on #1617
/area testing
/kind cleanup

[2019-11-26 06:53] maheshwarishikha commented on #1524
It worked finally. Thanks.

[2019-11-26 06:53] #1524 closed

[2019-11-26 08:14] vincent-pli opened #1619 "Params in multiple Condition of one task will overwrite by the last one"
I have a `Pipeline` defined with multiple `Condition`s in one `Task` like this:
[code]
I expect the first condition which check "README.md" will be success and the second one for "README.mdxxx" will failed, but all of them are failed.

I checked the `Taskrun`s generated, found  `inputs.params` is all about "README.mdxxx"
like this:
[code]

# Expected Behavior
The first `condition` for "README.md"

[2019-11-26 08:14] vincent-pli commented on #1619
/bug

[2019-11-26 09:02] husnurrsyafni commented on #1603
@vdemeester thanks for your guidance.

I am sorry, this was **on my side**. **I missed the colon** when changing https:// to git@github, I left the slash there.

yes, using local machine `docker` config I am able to push the image on to `gcr.io/projectkirin/hello-world`. I did try making a new machine and copy my local machine `docker` config to the new machine and try pushing on to `gcr.io/projec

[2019-11-26 09:06] vdemeester commented on #1603
@husnurrsyafni oh… I think it might require the `gcloud` binary then (to be successful) ?
/cc @bobcatfish @ImJasonH @dibyom because I am not sure exactly how this work on the gcloud side (docker creds and gcloud)

[2019-11-26 09:14] husnurrsyafni commented on #1603
I thought so too because the error prompted me to do `gcloud auth configure-docker` or some sort, so `gcloud` binary probably is required.

[2019-11-26 12:44] ImJasonH commented on #1605
This lists what MakePod does, in the ~ideal order. Before these changes things happened in jumbled order because it mostly happened in one huge wall of text. Afterwards I'd like to have one `MakePod` method that just calls N smaller isolated methods with clear goals and tests.

[2019-11-26 13:07] vdemeester commented on #1619
/cc @dibyom
/kind bug

[2019-11-26 13:23] #1219 closed

[2019-11-26 14:04] vdemeester commented on #1585
@withlin thanks for the issue. I wonder what would be the reason for grouping them into one secret though ? You can define 3 differents secret, attached them to the serviceAccount you're using with your PipelineRun or TaskRun, and it should work.

/kind question

[2019-11-26 14:11] ImJasonH commented on #1569
I've thought about this a bit more, and I think entrypoint injection won't be a magic bullet for us after all, at least not without expanding the scope of this work. 😢

Entrypoint injection will tell us when a sidecar is _running_, but not when it's _ready_. A sidecar container might pull and start, then take an indeterminate amount of time to actually report as ready. The entrypoint binary would

[2019-11-26 15:34] skaegi commented on #1393
For the typing piece of parameters I'm looking at .. https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#parameterObject -- this might feel verbose but let me try to put together an example

[2019-11-26 15:56] chmouel opened #1624 "Add missing integration test for workingdir"
Following review comment from @ImJasonH here :

https://github.com/tektoncd/pipeline/pull/1609#pullrequestreview-321907838

Let's add an integration test for the workingdir feature

/area testing
/assign
/kind feature

[2019-11-26 16:16] maciejs20 commented on #1524
try ${input.params.pathToYamlFile} instead if $(input.params.pathToYamlFile). It works for me.

[2019-11-26 20:30] danielhelfand commented on #1260
Following up on this, I think a good use case of this could be cli tools used as part of a task. For instance, currently there is a task for [`gcloud`](https://github.com/tektoncd/catalog/tree/master/gcloud) and also one for [`oc`](https://github.com/tektoncd/catalog/tree/master/openshift-client). These tasks basically only execute one command, but I think the better use case would be to have thes

[2019-11-26 21:54] skaegi commented on #1393
The idea here would be to use `schema` instead of `type` since 'type' is just one field of a schema. Some param examples that use `schema` as a mechanism to express type...
[code]

In terms of implementation change what this would mean is that `Param.Value` and `ParamSpec.Default` would be parsed into a flexible type like interface{} (or a JSONValue) and validated by `ParamSpec.Schema` if present.

[2019-11-26 21:55] skaegi commented on #1393
/assign

[2019-11-27 01:16] dibyom commented on #1610
Yeah I think this should be fixed by https://github.com/tektoncd/pipeline/pull/1431 which is in the 0.8 release. Maybe the operator installation is using an older release?

[2019-11-27 01:49] vincent-pli commented on #1610
@dibyom
That's true,  the issue has gone in Operator, since we start to use v0.8.0

[2019-11-27 04:57] zhangtbj opened #1629 "Where to define the PVC type when a task declare to use it?"
# Expected Behavior
The public cloud provider may provide many PVC types, such as standard or GLACIER, etc..... but just only one.
I can choose which PVC type I use.

# Actual Behavior
But in the current tekton taskrun config:
[code]

It only config the `paths`, and it used a storage class type which is not good for me.

Is there any way that I can choose which storage class type I used for the ta

[2019-11-27 06:35] vincent-pli opened #1630 "Folders for output resource not created in multiple scenario"
I have a `task` with more than one `output resource`, like this:
[code]
Base on the document, folders named: `/workspace/output/resource_name/` should be created.

The fact is the `/workspace/output/builtImage` is created and `step: build-and-push` is success but the `step: build-and-push-1` is failed, since `/workspace/output/builtImage1` is not existed, found logs: `touch: /workspace/output/buil

[2019-11-27 09:08] vdemeester commented on #1630
/kind bug

[2019-11-27 09:12] vdemeester commented on #1610
Alright, if it's fixed with 0.8.0, we can close this one then
/close

[2019-11-27 09:12] #1610 closed

[2019-11-27 09:19] vdemeester commented on #1629
@zhangtbj thanks for the issue. There is no way as of today, but #1438 might help to tackle that (and later on the new design of PipelineResource should build on top of #1438)

/kind question

[2019-11-27 09:31] jeffmaury commented on #742
I noticed no events are generated when a tekton resource is created/deleted. Is this planned ? We need this for the VSCode and IntelliJ stuff we are working on in order to refresh the tree

[2019-11-27 10:32] maheshwarishikha opened #1631 "Access issue while pushing to Openshift 3.x through pipeline using Kaniko"
# Actual Behavior
I am trying to build and push an application using Kaniko to openshift cluster. I have written tekton pipelines - configuration yamls.
Created service account and have provided secret as config-map, still kaniko command fails with following error:

"error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try aga

[2019-11-27 11:30] vdemeester commented on #1305
/kind feature
/kind question

I wonder if this should be a feature for pipeline (core) or some integration tooling (like jenkins-x)

[2019-11-27 12:02] afrittoli opened #1632 "Missing PullRequestPipelineResource steps with artifact PVC"
# Expected Behavior
When the pull request pipeline resource is used in a Task as both input and output, I expect three steps to be added:
- created dir
- download pr
- upload pr

This should happen regardless of Tekton configuration.

# Actual Behavior

If Tekton is configured to use artifact PVC, only download is added to the POD:
[code]

With the bucket instead:
[code]

# Steps to Reproduce the

[2019-11-27 12:28] vdemeester commented on #1632
/kind bug

[2019-11-27 13:22] bobcatfish commented on #1632
Are you 100% sure that the behaviour your expect isn't there @afrittoli ? I think it might be easier to understand what's going wrong if you could list exactly what each of the missing steps is intended to be doing.

(I'm just surprised b/c I think both @dlorenc and I have been using the PR resource a bunch, and I know I've got PVC linking turned on, and it was working as I expected)