[2020-09-17 19:07] NavidZ commented on #2316
It seems we do have a caching system on the controller side. So if we delegate the image entrypoint lookup to the pod we would lose that caching. Also it might fail (for any reason like not having access and whatnot) which in that case we are failing after the pod and everything is created as oppose to today that we fail way earlier in the controller flow.

[2020-09-17 19:18] adambkaplan commented on #3243
Looks like you have tls verification enabled for the `buildah bud` command, and the container running in the Tekton task does not trust the internal registry.

Try using for the buildah bud command:

[code]

[2020-09-17 19:54] jlpettersson commented on #3240
I think you are on the right track @itscatherinelam ! It's a good start.

I don't have full overview or time to test your task, but it mostly looks good and I can give some feedback.

I think I know what you are looking for, you want to execute a command like:

    oc get build <build-name>

and in addition, write true/false or yes/no or something to the _result path_. You are right, it is probabl

[2020-09-17 20:49] grebit commented on #3251
Ok. But how should I define the resources then in the task? Because when I'm running the pipeline we can choose the git repository and image but still getting the error that the resources are missing within the taskrun.

[2020-09-17 20:55] coryrc commented on #3251
https://tekton.dev/docs/pipelines/migrating-v1alpha1-to-v1beta1/#pipelineresources-and-catalog-tasks

[2020-09-17 21:10] coryrc opened #3253 "`script:` doesn't error when /bin/sh is dash"
Introduced in #1735, scripts will default to have `set -ex`, in that if any line returns a non-zero exit code, the entire Task will fail (errexit) and every line is printed before being executed (xtrace). Unfortunately the behaviour is inconsistent depending on which shell the image has `/bin/sh` symlinked to and should not allow execution if `set -e` does not work.

I believe errexit should be co

[2020-09-17 21:26] bobcatfish commented on #859
I think @coryrc was looking into a similar approach ^^

[2020-09-17 21:39] grebit commented on #3251
I changed a couple of things. But still getting this error: ```invalid input resources: Task's declared required resources are missing from the TaskRun: [animal-app-repository]```

task.yml
[code]

taskrun.yml
[code]

[2020-09-17 21:41] coryrc commented on #859
Thanks for the link! I really need to learn kustomize.

[2020-09-17 21:53] coryrc commented on #3251
You are still using PipelineResources with v1beta1

[2020-09-17 21:55] grebit commented on #3251
What do you exactly mean?

[2020-09-17 21:59] eigood commented on #2050
Any reason that design document is private, and not public?

[2020-09-17 22:02] grebit commented on #3251
When I'm removing the pipeline resources in the task I'm getting the following questions asked as input

[code]

[2020-09-17 22:05] coryrc commented on #3251
`apiVersion: tekton.dev/v1beta1`

https://tekton.dev/docs/pipelines/migrating-v1alpha1-to-v1beta1/#pipelineresources-and-catalog-tasks

[2020-09-17 22:14] grebit commented on #3251
Could you please help me out? Because looking at the documentation it looks like it's setup well and how it should be

[2020-09-17 23:06] abudavis commented on #3243
Thank you, that worked :)
buildah --storage-driver vfs bud \
 --tls-verify=false \

[2020-09-18 08:35] vdemeester commented on #2050
This is *mostly* a google docs issue (aka most of our corporate google account do not allow us to create a fully public document.. at least I never found out how). Those are available if you are part of either `tekton-dev`/`tekton-users` mailing list (see [here](https://github.com/tektoncd/community/blob/master/contact.md#mailing-list)). And this is also why we started the [TEP process](https://gi

[2020-09-18 08:45] vdemeester commented on #3251
@coryrc it's definitely still possible to use `PipelineResource` with `v1beta1`. They are not "supported" in a "we may break you in the future" kinda of way, but you can still use them :wink:.

@grebit so few things:
1. `app-backend-build-image` doesn't seem to be used anywhere (so it might not be needed at all)
2. if you define a `taskrun.yaml`, you don't need to use `tkn task start`, but just ap

[2020-09-18 09:07] vdemeester commented on #3253
Thanks for the issue @coryrc. From my point of view, this is a problem of the image and not on tekton. As documented, not using any shebang in script, will default to `#!/bin/sh` (and `set -xe`). This means, the assumption a user should do in that case is that it is gonna be `/bin/sh` and not `/bin/bash` or something else. The fact that the `/bin/sh` in the image is `/bin/sh` or is a link to anoth

[2020-09-18 09:07] chmouel commented on #3253
I think what we are authoring in `script:` should only be consistent with regard to the image you are running in your current task, not with other images from other tasks.

i.e: if the  task author choose a image that only works on /bin/dash the author should ensure it works by other means than relying on the error catching of `set -e`.

[2020-09-18 09:16] chmouel commented on #859
I do have a working POC  here https://github.com/chmouel/tekton-asa-code the diagram mentions some openshift feature (ie: the console) but it can do without.

I am in process to convert it to a GitHUB apps instead of having the user using webhooks.

[2020-09-18 12:02] jtestard opened #3255 "Arguments of type array cannot be access via index"
# Expected Behavior

When using a parameter of type `Array` and trying to access access a specific index, the variable substitution does not occur. Assuming the following pipeline spec, I would expect the tasks generated to have the value `'false'` be substituted.

[code]

# Actual Behavior

As can be seen here once the pipeline is run (seen through dashboard) , the variable is not substituted.
<i

[2020-09-18 12:12] vdemeester commented on #3255
Hey @jtestard, thx for the issue. I think it's not clearly documented in [here](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-parameters), but we do not currently support accessing array values by index.

/cc @skaegi @bobcatfish

[2020-09-18 12:13] jtestard commented on #3255
I noticed a typo indeed: the pipeline parameter name is `disabled` and matches that of the task parameter.

[2020-09-18 13:40] Yannig commented on #3237
I have reproduced the problem with a clean new aks cluster without anything on it.

Command used to create the cluster:

    az aks get-credentials --admin -g my-group -n test

Next, apply the tekton definition:

    kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.16.3/release.yaml

Then, the loop error/retry hell start:

[code]

[2020-09-18 13:42] bobcatfish commented on #3237
Interesting!! Thanks @Yannig - I wonder if it actually has something to do with aks, maybe they are making some modifications to webhooks - or is something specific to 1.17? 🤔

[2020-09-18 13:46] Yannig commented on #3237
@bobcatfish I'll try to do some experiments with older/newer version if the problem is still there.

I will keep you in touch if I made any progress.

[2020-09-18 14:01] Yannig commented on #3237
Same behaviour with version 1.18.8 ...

[2020-09-18 14:16] Yannig commented on #3237
Same thing with 1.16.13 with or without calico.

[2020-09-18 15:05] Yannig commented on #3237
I'm wondering if this issue as something to do with the following issue: https://github.com/Azure/AKS/issues/1771

[2020-09-18 15:10] bobcatfish commented on #3237
Oh wow nice find, that could definitely be it, since we use the knative libs!

[2020-09-18 15:20] Yannig commented on #3237
I will try to play with some labels to check if things get better

[2020-09-18 15:27] Yannig commented on #3237
Yes ! Adding the following labels did the trick: `admissions.enforcer/disabled: "true"`

[2020-09-18 15:29] Yannig commented on #3237
I'll do some others experiments to be sure I'm not missing anything else :)

[2020-09-18 15:33] Yannig commented on #3237
So, to have a working tekton on AKS, run the kubectl apply command and then, the following commands:

[code]

[2020-09-18 15:44] vdemeester commented on #3237
Looking at https://github.com/knative/pkg/pull/1696/files, I think a bump to 0.18 (which is not release yet) will automatically fix the problem ?

[2020-09-18 15:49] n3wscott commented on #3237
Also related to https://github.com/Azure/AKS/issues/1771

Yeah tekton needs to grab the latest PKG for our webhook controllers to not fight with AKS.

[2020-09-18 16:02] Peaorl commented on #3239
Thanks all! I went ahead with option 2 in #3256

[2020-09-18 19:06] coryrc commented on #3253
Agreed, I don't think the *controller* should be smart about it, but I think we could be injecting something along with `set -e` which will abort the script if the intended `set -e` behavior is not functional.

[2020-09-18 19:06] dibyom opened #3257 "Config option to skip downward API for some Tasks/Pipelines/Runs"
### Feature request

In #2080, we added a flag to skip the downward API step during TaskRun which can lead to faster startup times for TaskRuns without sidecars.

Today, the [flag](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml#L60) is for the entire Pipelines installation i.e there is no way to selectively enable it for only some Pipeline/TaskRuns.

This feature

[2020-09-18 19:22] coryrc commented on #3253
As a naive user, I was surprised by this not working -- I anticipate others will copy from examples but be tripped up by this same problem. Even the Task catalog has [Tasks](https://github.com/tektoncd/catalog/blob/5cf3952aedee17745b35d1b2ad75235821c41e57/task/gke-cluster-create/0.1/gke-cluster-create.yaml) which could easily "pass" despite all gcloud commands failing!

OTOH, I didn't know this ab

[2020-09-18 19:36] coryrc commented on #3253
Ah, I see now -- it only didn't abort because the error occurred in an `if`. If I use an invalid command in an `if` in bash it also doesn't fail. If a command fails in `dash` it still aborts the script.

The real issue is `sh` isn't guaranteed to have `[[` and that's reasonable and totally my fault!

Sorry for distraction.

[2020-09-18 19:36] #3253 closed

[2020-09-18 19:43] abudavis commented on #3227
Is there anywhere else I could ask about it, like bugzilla may be ?

[2020-09-18 21:33] grebit commented on #3251
@vdemeester thank you for your reaction.

This is the pipeline:

[code]

[2020-09-19 01:39] ImJasonH commented on #3178
I've found a truly disgusting mis-feature of test builders! 😱

Pop quiz: What does this method do?

[code]

Hint: [godoc for `PipelineTaskParam`](https://godoc.org/github.com/tektoncd/pipeline/internal/builder/v1beta1#PipelineTaskParam)

Pencils down! It results in an object equivalent to:

[code]

That's right! The first arg is the parameter _name_,  and subsequent values are the parameter _value

[2020-09-19 03:41] ImJasonH commented on #3178
Another one-liner to find most used test builder methods:

[code]

And one to find unused test builder methods we can probably just delete any time:

[code]

[2020-09-19 12:52] imjasonh opened #3262 "Cleanup: multiple unnecessarily exported methods"
Repurposing a script used to find unused test builder methods from https://github.com/tektoncd/pipeline/issues/3178#issuecomment-695158605 to try to find exported method names that aren't invoked from outside their package.

[code]

This greps for exported function names like `Foo` which aren't found in the codebase `.Foo(`, which would indicate that it's called by another package -- callers in th

[2020-09-19 22:16] vigneshashokan commented on #3262
@ImJasonH If no one is working on this, I can take a stab at this issue.

[2020-09-20 14:01] ImJasonH commented on #3262
Great! It should be pretty straightforward, let me know if you have any questions or find any difficulties.

[2020-09-20 15:57] mattmoor commented on #1107
@bobcatfish I had a knobot check for this, which I converted to a little CLI binary to run in Github actions: https://github.com/mattmoor/boilerplate-check

It's designed to work with reviewdog for annotating reviews based on its findings (so it's not just a CI failure).  You can see it in action (no pun intended) here: https://github.com/knative/serving/pull/9486/files

I have a PR here, which wi

[2020-09-20 15:57] mattmoor commented on #1107
cc @afrittoli too

[2020-09-20 19:48] AlexReiff opened #3263 "Sections out of order in DEVELOPMENT.md"
1. The `Checkout your fork` section cannot be completed before the `Set up your shell environment` and `Install requirements` which are listed after it in on the page (and in the ordering at the top of the page).

1. Neither the `Set up your shell environment` nor the `Install requirements` sections can be completed without making partial progress in the other.
`Set up your shell environment` need

[2020-09-20 21:05] skaegi commented on #3224
Actually I'll just add a note to #1569 and close this one to keep thing together.

[2020-09-20 21:05] #3224 closed

[2020-09-20 21:24] skaegi commented on #1569
The istio team has moved to a slightly improved mechanism for sidecar support (while we wait and see what happens in K8). I'm adding this comment for awareness as the approach is elegant if a bit clever hacky -- https://medium.com/@marko.luksa/delaying-application-start-until-sidecar-is-ready-2ec2d21a7b74

--
Basically the observation is that in kubelet, containers are started sequentially and if

[2020-09-21 08:00] vdemeester commented on #3251
@grebit right, so this seems to be the problem, you need to *pass* the resources to the task when referencing it in `tasks`. Tekton doesn't implicitly pass all pipeline resources to all tasks — one reason is that they don't necessarily share the same name in the pipeline and task definitions.

[code]

[2020-09-21 08:07] vdemeester commented on #3178
Note that this is an API design (the `builder` API here), we could have done it differently and not have that confusing method :upside_down_face:

[2020-09-21 08:43] vdemeester commented on #3257
Would it make sense to use `annotation` for this on the resources ?

[2020-09-21 10:51] ImJasonH commented on #3178
Oh definitely, the builder could have been something like:

[code]

...and if we wanted to keep the builders we could refactor it to that already.

But is it more readable than the raw struct declaration, and is it more readable _by enough_ to warrant us maintaining a method to make it possible, when the alternative is already available to us for free? I think we've decided the answer is no 😄

[2020-09-21 10:57] vdemeester commented on #3178
@ImJasonH yeah agreed, I was just pointing out it's not the "builder" pattern that is wrong "by default" :stuck_out_tongue:

[2020-09-21 13:24] jtestard commented on #3255
@vdemeester We are using Tekton in production at our startup, pretty eager on the tech. However, this (among other things) is a blocker to get us where we want to be. Is this the kind of issue an external contributor could easily tackle?

[2020-09-21 14:23] vdemeester commented on #3255
@jtestard sure :wink: I wonder if this needs a TEP or not (my guess is that we may not but… it's kinda user-facing :thinking:)

[2020-09-21 14:45] sbwsg commented on #3255
I think it's probably a good idea.  We've had other proposals for this problem that suggest a more wide-ranging solution (see the JSONPath work @skaegi started for instance [here](https://github.com/tektoncd/pipeline/issues/1393) and, related, [here](https://github.com/tektoncd/pipeline/issues/2041)).  And we've had similar requests [asking for CEL](https://github.com/tektoncd/pipeline/issues/2812

[2020-09-21 14:56] jtestard commented on #3255
@sbwsg So only adding index-based array access would be too incremental a change. I don't know if we have the resources on our end to assist with adding support for a whole new language such as JSONPath/CEL. Let us know if/how we can help

[2020-09-21 14:57] bobcatfish commented on #3249
Thanks for reporting this @cgruver and I'm glad you got it working.

It looks like we try to describe it at https://github.com/tektoncd/pipeline/blob/master/docs/install.md#customizing-basic-execution-parameters but it's not clear what the content of that field is expected to be so I think this is worth adding more detail to.

[2020-09-21 15:21] sbwsg commented on #3255
Ah, that wasn't quite what I was trying to suggest, sorry.  I agree with what @vdemeester suggested: this is a user-facing change.  And this is an area that's had people propose changes to it in the past.  So, given it's user-facing and we've got other folks in the community who are interested in this area, I think that writing up a short TEP to declare the change you're proposing is the way to go

[2020-09-21 15:30] dibyom commented on #3257
Yes, that's what I was thinking of too.

[2020-09-21 19:10] bobcatfish commented on #2905
@ImJasonH kindly volunteered to pick this up with the goal to update it with enough information that we could put a "good first issue" label on it

[2020-09-21 19:20] ImJasonH commented on #2905
I'll start with a summary of the discussion so far, please anybody hop in with more questions/clarifications/links to source as you see fit.

The current thinking (correct me if I'm wrong!) is that we can use `EnqueueAfter` to schedule a reconciliation at a point in the future when the run _should_ be complete, and have reconciliation logic simply 1.) check whether the timeout is elapsed, and if s

[2020-09-21 20:02] ywluogg commented on #1690
I realized my change for #2559 needs to heavily based on [Add timeout setting to Steps](https://github.com/Peaorl/pipeline/commit/ea1f5233dac9e36f8d482e505e0ef8abd58ec432). I saw this commit was held by #3239 Are both issues' commits going to be merged soon?

[2020-09-21 20:58] grebit commented on #3251
Thank you for your help. When I'm running the pipeline I'm getting now the following error...

[code]

[2020-09-22 07:42] vdemeester commented on #3251
@grebit can you do a `kubectl get app-java-gradle-task -o yaml` ? seems like the version you have in your cluster of that task doesn't have a `tasks` parameter :thinking: (which is weird because given the tasks you shared above, it should)

[2020-09-22 07:58] #3094 closed

[2020-09-22 09:00] savitaashture opened #3273 "Failed to install v0.16.3 on minikube"
# Expected Behavior
* Pipeline installation should be success

# Actual Behavior
* After installing pipeline v0.16.3 (`kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.16.3/release.yaml`) controller and webhook pod fails
[code]
with below error
[code]

# Steps to Reproduce the Problem

1. Install released pipeline `kubectl apply -f https://storage.googleapis.com

[2020-09-22 14:08] tragiclifestories commented on #2872
https://github.com/knative/pkg/pull/1464 is merged now so I guess it's a matter of waiting for a new release to be cut and then bumping the dep ... Not sure if this would count as a breaking change, since it's hypothetically possible that somebody is relying on the current behaviour even though they really really shouldn't? 🤔

[2020-09-22 15:51] sbwsg opened #3275 "Support Workspaces' `bound` value as an available variable in WhenExpressions"
### Feature request

A Pipeline author should be able to skip or include Tasks in a Pipeline based on whether an optional workspace has been bound by a PipelineRun.

Example syntax:

[code]

In this example the `fetch-dependencies-if-no-build-cache-provided` task will only run if the Pipeline's optional `build-cache` workspace was not provided in a PipelineRun.

### Use case

A Pipeline accepts an

[2020-09-22 15:52] sbwsg commented on #3275
Depends on https://github.com/tektoncd/pipeline/pull/3274 before work can start on this one.

[2020-09-22 15:59] jpower432 opened #3276 "The Tekton Pipelines webhook service does not work with Istio mTLS"
# Expected Behavior
Try to create a new Tekton custom resources resources with Istio mTLS set to STRICT
Resource is created

# Actual Behavior

Try to create a new Tekton custom resources resources with Istio mTLS set to STRICT
Webhook service X509 cert failure

Error from server (InternalError): error when creating "maven/": Internal error occurred: failed calling webhook "webhook.pipeline.tekton

[2020-09-22 18:44] grebit commented on #3251
@vdemeester thank you for your reaction. Hereby the task:

[code]

[2020-09-23 03:02] vincent-pli commented on #3052
@denkensk
That's very interesting, I would like to take a try.

[2020-09-23 06:58] vdemeester commented on #3251
This tasks looks like the [`git-clone`](https://github.com/tektoncd/catalog/blob/master/task/git-clone/0.2/git-clone.yaml) from the catalog and nothing like the one you shared above. You or something may have overwritten it but it's definitely not the right task.

[2020-09-23 07:24] grebit commented on #3251
@vdemeester sorry, hereby the right one:

[code]

[2020-09-23 07:50] grebit commented on #3251
I build a other pipeline with tasks and clustertask. Now I'm getting a error at the first task again:

[code]

Logs in the pipeline run are showing this:
[code]

[2020-09-23 11:07] ImJasonH commented on #3052
I think a good concrete next step here would be for someone to experiment/prototype with the scheduler framework and report back to the community with any findings/demos, and help us concretely understand what the code would look like to, for instance, replace AA with custom scheduling.

Based on those findings we could start a design doc to more concretely outline requirements and next steps, or

[2020-09-23 11:30] yaoxiaoqi commented on #3275
/assign @yaoxiaoqi

[2020-09-23 13:33] zops commented on #3273
This is caused by the security settings in the Pod.

**Temporary solution:**
Annotate the definition of "securityContext".

**Warning:**
Any security definition needs to be tested to go online.

[2020-09-23 14:33] grebit commented on #3251
The code I'm using:

I created the key with the following cmd:
[code]

[code]

Task:
[code]

Taskrun:
[code]

[2020-09-23 15:52] sbwsg commented on #3251
The secrets for Git SSH require some extra annotations to have them picked up by Tekton. See the [auth.md](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#configuring-ssh-auth-authentication-for-git) doc for more info.

[2020-09-23 16:08] grebit commented on #3251
Yes, I know. Even when I'm using the all annotations it still giving me errors:

[code]

[2020-09-23 16:12] skaegi commented on #3226
In your example you can maybe just use single quotes if you want to make sure you get the literal value:
[code]

Although the syntax looks like shell variable expansion it really is just doing a direct and very simple string substitution. We already have teams doing script in node and python which will have different encoding rules so I'm a bit hesitant to jump on the +1 wagon here.

[2020-09-23 17:02] grebit commented on #3251
Running oc debug on the pod I'm getting the following feedback:

[code]

[2020-09-23 17:37] wlynch commented on #3208
/cc @NavidZ who's been working on https://github.com/tektoncd/pipeline/issues/2316 (which I think is the same issue).

[2020-09-23 19:00] skaegi commented on #3154
The tekton-pipelines-controller and tekton-pipelines-webhook both need to have an egress to the api server. Something like...
[code]

It's likely different in your cluster, but If you look at the `kubernetes` service in the default namespace you can get the correct values ipBlock and port values from the service Endpoint. e.g.
[code]

[2020-09-23 19:02] skaegi commented on #3172
See https://github.com/tektoncd/pipeline/issues/3154#issuecomment-697893693

[2020-09-23 19:10] skaegi commented on #3276
The tekton pipelines controller and webhook both talk to the kubernetes api server. I don't specifically use Istio in my clusters where I run Tekton workloads but this might help... https://istio.io/latest/faq/security/#accessing-non-istio-services as it specifically has an example for the api server.

[2020-09-23 20:03] grebit commented on #3251
Looking in to the Tekton workspace on the pod I also see that the GIT credentials are empty..

[code]

[2020-09-23 20:38] jpower432 commented on #3276
Thanks @skaegi. Seems like it is an issue with the exchange between Envoy and the webhook service over 8443. If I put an exclude 8443 annotation on the webhook deployment, everything work normal with STRICT mTLS. Could it be that the webhook service doesn't trust the Istio certificates or they are not in format expected?

[2020-09-24 00:07] vincent-pli commented on #3052
@ImJasonH
Yes, as @dlorenc mentioned, the custom scheduler is straightforward and I can copy/paste from https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/coscheduling as @denkensk said.

Anyway, I will make a demo and back here.

[2020-09-24 05:04] popcor255 commented on #3178
/assign

[2020-09-24 07:17] afrittoli commented on #1171
/reopen
/remove-lifecycle rotten

[2020-09-24 07:18] afrittoli commented on #1171
/remove-lifecycle stale

[2020-09-24 12:53] popcor255 commented on #2656
I think this flaked again #3281.

[2020-09-24 14:10] bobcatfish commented on #3263
I think this was fixed in #3264, thanks @AlexReiff !

[2020-09-24 14:10] #3263 closed

[2020-09-24 14:17] bobcatfish commented on #2928
I'm gonna tentatively close this and we can re-open it if we see this again, looks like we've only seen it the once so far.

[2020-09-24 14:17] #2928 closed

[2020-09-24 15:09] #3239 closed

[2020-09-24 15:44] sbwsg commented on #2992
@bobcatfish and I spent some time this morning debugging the test.  We were only able to reproduce the test flake "artificially" by adding a delay to the sending of certain events. We've added an extra log line that we hope will help us debug the problem when it occurs again in future (see https://github.com/tektoncd/pipeline/pull/3282)

Our hunch is that the cloud events are being sent out of ord

[2020-09-24 16:02] skaegi commented on #3276
The traffic to the webhook comes directly from the API Server (sometime through a kube-system vpn pod). I'm not sure the "source" in this case will go through Envoy at all but really not sure.

[2020-09-25 00:51] psschwei commented on #3249
The different fields available are listed in https://github.com/tektoncd/pipeline/blob/master/docs/podtemplates.md#supported-fields . I'll open a quick PR to add that detail to the page that @bobcatfish posted.

[2020-09-25 00:51] psschwei commented on #3249
/assign @psschwei

[2020-09-25 08:21] afrittoli commented on #2992
It probably makes sense. We might want to call out that because of retries there is no guarantee that events will be delivered in order (even if it's likely that they will as long as retries are not used).
However before we do that change, I would like to benefit from https://github.com/tektoncd/pipeline/pull/3282 and see if we can catch the cause of this out of order.

[2020-09-25 09:23] #3249 closed

[2020-09-25 23:00] jonjohnsonjr commented on #856
https://github.com/google/ko/pull/38 has landed which should unblock this, if anyone wants to jump on it.

Also happy to hear any feedback if that's not sufficient. I still need to write docs and stuff but it's pretty straightforward to play around with:

1. Set a multi-platform image as the base image.
2. Use `--platform=all`

[2020-09-26 20:26] jpower432 commented on #3276
@skaegi I think you are right. We are just trying to get non-Istio services and Istio service to communicate with mTLS which just won’t work unless the Kube-API server was communicating with the Istio certs. We can go ahead and close this. Thanks for your help!

[2020-09-26 20:26] #3276 closed

[2020-09-26 21:39] rdelpret commented on #685
kubectl rollout restart taskrun/<name> would be pretty sweet.

[2020-09-26 21:41] rdelpret commented on #685
[code]

[2020-09-27 14:11] #2981 closed

[2020-09-28 02:17] xiujuan95 commented on #2735
Any updates about this issue?

[2020-09-28 10:54] Chimney42 commented on #3164
Hi,
I'm having the same issue on our brand new OCP 4 cluster, running OpenShift 4.5.9
Tekton/Openshift Pipelines was installed through the Operator (1.0.1 provided by Red Hat) provided by OperatorHub
OpenShift-Pipelines: v0.11.3
OpenShift-Pipelines-Triggers: v0.4.0
OpenShift-Pipelines-ClusterTasks: v0.11

This happens even if I try to apply a tasks through the Openshift Web Console
[code]
An error

[2020-09-28 10:57] vdemeester commented on #3164
@Chimney42 do you happen to run a network policy in your cluster ?

[2020-09-28 11:04] Chimney42 commented on #3164
Yes indeed. They belong to a differnt service though and shouldn't interefere (theoretically)
[code]

[2020-09-28 11:38] Chimney42 commented on #3164
@vdemeester I deleted the network policies and was able to create the tasks. Thank you for the hint!

[2020-09-28 12:20] vdemeester commented on #3164
@Chimney42 there seems to be a problem with NetworkPolicy indeed, see https://github.com/tektoncd/pipeline/issues/3154#issuecomment-697893693 though

[2020-09-28 15:15] terrytangyuan commented on #2441
We are currently working on supporting Tekton in [Couler](https://github.com/couler-proj/couler). Couler aims to provide a unified interface for constructing and managing workflows on different workflow engines. See https://github.com/couler-proj/couler/pull/65 for a proposal on Couler's Tekton backend that @FogDong created. We'd appreciated any comments and feedback.

[2020-09-28 15:18] sbwsg commented on #2992
Woo, we caught a flake 🐟 !  [Dashboard link to failed PipelineRun](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-lklg4-rr9fx?pipelineTask=unit-tests&step=unit-test).

Initial speculation about go routine ordering appears to be correct.  In the below log output we can see that the cloud events controller reports `Sending cloudevent of type "dev.t

[2020-09-28 17:48] coryrc commented on #3226
This will break if `params.in` is `'; rm -fR /;'`

[2020-09-28 21:10] khalkie opened #3295 "Tasks can have duplicate mountPath values if they are substituted with variables"
# Expected Behavior

When you create a Task, it is validated to ensure all the mountPath values are different.  For example, the following snippet of a Task cannot be created

[code]

According to the unique mountPath validation, I would expect that it should not be possible to have duplicate mountPaths for different workspaces.

# Actual Behavior

Using variable substitution, you can assign diffe

[2020-09-29 06:06] didier-durand commented on #2013
Hello,

Same here

How can this get fixed

Didier

[2020-09-29 06:42] rannox commented on #3273
I am experiencing the same problem on kubernetes v1.18.3 with tekton pipelines v0.16.3.
The version v0.14.2 worked fine.

[2020-09-29 09:13] didier-durand commented on #2616
Hi all,

I had the same issue with same message.

I used the recommendation of @Peaorl to get it to work: use 'index.docker.io' (instead of my initial 'docker.io' for docker-server) and then everything goes fine.

kubectl create secret docker-registry secret-docker-credentials \
                    --docker-server='index.docker.io' \
                    --docker-username=$DOCKER_USERID \

[2020-09-29 09:48] Shahard2 commented on #2616
Sounds good,
And if I'm using ECR?

[2020-09-29 09:52] didier-durand commented on #2616
Didn't yet: it is my next step.

[2020-09-29 10:11] Shahard2 commented on #2616
please keep us posted if you can

[2020-09-29 13:11] sbwsg commented on #2013
Could you explain a bit about what is broken?  What is the Task you're trying to run and what are its Steps?  What version of k8s and tekton are you running?  What are the PipelineResources you've configured?  What does the Pod look like after the TaskRun finishes?  What is the incorrect observed behaviour of your PipelineRun or TaskRun?

[2020-09-29 13:17] didier-durand commented on #2013
@sbwsg Scott, in the meantime since I wrote the above, I fixed my problem : see my comment in https://github.com/tektoncd/pipeline/issues/2616#issuecomment-700575193. When I replaced 'docker.io' by 'index.docker.io' in the secret creation, the initial credential checks (before building) went ok. Then, I could build and push to Docker Hub. So, my problem is fixed.

[2020-09-29 13:19] sbwsg commented on #2013
OK, thanks for the update!

[2020-09-29 18:19] #3295 closed

[2020-09-29 18:20] khalkie commented on #3295
A mistake on my part - there is no actual substitution happening in the mountPath field, it was using the $(params.input-path) value literally and they did not match

[2020-09-29 21:43] GregDritschler opened #3303 "Webhook log has repeated TLS handshake error EOF messages"
# Expected Behavior

The webhook log does not contain errors during normal operation.

# Actual Behavior

The webhook log contains the following error repeated every few seconds:

[code]

# Steps to Reproduce the Problem

* Find the `tekton-pipelines-webhook` pod and display its log.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[2020-09-29 21:45] GregDritschler commented on #3303
Hi  @ywluogg.   As the original contributor of the liveness and readiness probes can you please investigate and resolve this issue?  Thank you.

[2020-09-30 04:03] pierretasci opened #3305 "Refactor the way resources are injected into the reconcilers"
### Feature request

The `TaskRun` and `PipelineRun` reconcilers are very dependent on the `resources` package which implements several fetchers. Many of these fetchers are strongly tied to specific implementations and likewise tied to the cluster itself. These assumptions may not always be the case (as Tekton Bundles has shown) so a refactor could be useful. Ideally, we should be rewrite the inte

[2020-09-30 06:55] IdanAdar commented on #2725
For example, we have an e2e tests task that runs continuously.

If it fails, it runs again and again thanks to the number of retries.

Whenever it fails, it sends a Slack notification. I want it to send the notification only if it fail the defined number of retires. Exposing the number will enable me so.

[2020-09-30 07:46] vdemeester commented on #2725
@bobcatfish Agreed, I think we should discuss this during the API working group, but I don't see any reason for not exposing this.

[2020-09-30 13:58] sbwsg opened #3306 "Allow Sidecars to access Workspaces"
### Feature request

Mount Workspaces into Sidecars declared as part of a Task as well as in to the Task's Steps.

### Use case

An integration test Task is written to run a mock server in a Sidecar that responds with pre-configured JSON responses when it is hit with API requests from the application under test. See [`mountebank`](http://www.mbtest.org/) for an example app for this kind of API stu

[2020-09-30 15:08] dbazhal commented on #2272
yeah, we do exactly like that. so pipeline for each service starts with "create-pvc" task run, then continues with "run-task-or-pipeline-with-pvc-bound-workspace" task runs. that is kinda uncomfortable :D

[2020-09-30 15:33] sbwsg commented on #3275
Fixed by #3274 unfortunately :S

[2020-09-30 16:45] vdemeester commented on #215
@bobcatfish @ImJasonH should this be considered as done as "custom tasks" is a thing now ?

[2020-09-30 18:44] GregDritschler opened #3307 "Regression in master: Cannot pass array variable from pipelinerun to task"
# Expected Behavior

I can define an array parameter value in my PipelineRun and pass it to a Task that declares that parameter to be array type.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

The problem can be recreated with the following yaml.  I have run this yaml successfully before.

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

[2020-09-30 18:44] GregDritschler commented on #3307
@vdemeester ^^^

[2020-09-30 20:10] skaegi commented on #2127
I do believe we can close this now that we have awesome "when expressions" support -- ty ty @jerop

[2020-09-30 20:39] pritidesai commented on #2127
Hey @skaegi I had left this open 😜 and was planning on closing after we have `continueAfterSkip`.

The use case in the description above wouldn't work with only when expressions the way they are implemented. `skippable-task` is skipped based on the when expression but `run-regardless-of-first-task-skipped` would be skipped too. We need `continueAfterSkip` to continue executing `run-regardless-of-f

[2020-10-01 06:57] vdemeester commented on #3307
/assign

[2020-10-01 12:27] vdemeester commented on #3307
It always did both though (or should have). Looking into why it fails now but…

[2020-10-01 13:09] vdemeester commented on #3307
Oh I see :facepalm:

[2020-10-01 13:26] vdemeester opened #3310 "TaskRun is failing to run/complete in some cases (on different namespace, …)"
# Expected Behavior

OpenShift Pipelines 1.0.1 installed on OpenShift 4.4.17 is failing to run the below `TaskRun` in some specific namespaces. While it's working on some namespaces it's failing in specific with the following error reported in `tekton-pipelines-controller`:

[code]

# Actual Behavior

It always work.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

The error is comi

[2020-10-01 13:26] vdemeester commented on #3310
cc @ImJasonH @pritidesai

[2020-10-01 13:53] anderoo opened #3311 "Conditional Finally Taks"
Hi

### Feature request

We'd like to be able to simulate onError functionality for tasks. The closest thing Tekton has to this is Finally, however I don't see an obvious way to conditionally run Finally tasks.

### Use case

The use case for this is that we only want certain tasks to run on error, and other tasks to run on success. The latter is already solved by just having the tasks run sequent

[2020-10-01 14:25] #3307 closed

[2020-10-01 14:56] sbwsg opened #3312 "Volume name differs between $(workspaces.foo.volume) and actual Volume/VolumeMount config"
# Expected Behavior

The `$(workspaces.foo.volume)` variable should match whatever the Volume/VolumeMount for a TaskRun's Pod gets named.  E.g. if my workspace, `foo` gets assigned the random name `ws-12345` then this name should appear in the Volume/VolumeMount config of the Pod _and_ should be rendered the same in a Step's Script block using the `$(workspaces.foo.volume)` variable.

# Actual Beh

[2020-10-01 14:59] ImJasonH commented on #3310
I'm not sure what difference the namespace makes, that might be a red herring.

In any case, the issue seems to be that we should update annotations with a Patch instead of an Update, to prevent errors from concurrent updates. Is that correct?

[2020-10-01 16:05] c5haw commented on #2877
I have also found this issue, but I am running on GKE cluster on Shared VPC.

### Steps to reproduce:
[code]

*base/kustomization.yaml*
[code]

*base/manifest.yaml*
[code]

[2020-10-01 16:14] pritidesai commented on #3310
Thanks @ywluogg and possibly replace one more `Update` with `Patch`:

https://github.com/tektoncd/pipeline/blob/9c37fea9c19c7d4ed3bf222b45bb9019788e656c/pkg/pod/entrypoint.go#L210-L212

[2020-10-01 16:50] ImJasonH commented on #3310
`Patch` takes a JSON object describing the change you want to make, for example when a PipelineRun is cancelled, all of its TaskRuns are cancelled using Patch, code here: https://github.com/tektoncd/pipeline/blob/5005e818919a819f27d9418cb4b37250b27ff5ef/pkg/reconciler/pipelinerun/cancel.go#L52

[2020-10-01 17:36] c5haw commented on #2877
/reopen

[2020-10-01 17:49] c5haw opened #3317 "Internal error occured: context deadline exceeded"
# Expected Behavior

Create a new ClusterTask and TaskRun

# Actual Behavior

[code]

# Steps to Reproduce the Problem

#### Pre-requisites

* GCP Shared VPC host project
* GCP service project with GKE cluster

#### Steps

1. Install Tekton
`kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml`

2. Create Kustomization template and resources

*base/k

[2020-10-01 18:52] skaegi commented on #2595
@sbwsg @jlpettersson How would you feel about a config-map provided "default" storage-class for PipelineRun Workspaces.

I largely agree that we don't want to or even have to hide the details of PVC creation. When running in my teams service the user runs in a namespace that uses quota. What we struggle with is the "default" storage-class as typically it's not at all suitable for Tekton use. (slow

[2020-10-02 08:49] ibotty opened #3320 "git-init does not recurse submodules correctly"
# Reproduction

Cloning the level2branch of https://github.com/ibotty/git-clone-task-submodules-repro it fails to create `level2/level1/README.md`.

# Reproduction

[...]

does not create `/tmp/repro/git-init/level2/level1/README.md`, while

does

[2020-10-02 08:54] ibotty commented on #3320
I guess, that in https://github.com/tektoncd/pipeline/blob/8ecaa2974dbcc5d09e4309ecf91aa97ff6b0cf4d/pkg/git/git.go#L198 which does call `git submodule update --recursive` it should also add `--init`.

[2020-10-02 12:59] sbwsg commented on #3306
It turns out this is already achievable by explicitly adding a volumeMount to the Sidecar with the `$(workspaces.<name>.volume)` variable.

[2020-10-02 12:59] #3306 closed

[2020-10-02 14:26] #3311 closed

[2020-10-02 15:32] sbwsg commented on #2595
I like this idea and I'm now thinking we should do both this and a `default-pipeline-run-workspace-binding`.

[2020-10-02 15:33] eddycharly opened #3323 "Json tags on ArrayOrString are misleading"
https://github.com/tektoncd/pipeline/blob/78f54793880f4494e6d5748d7c27cb8633164148/pkg/apis/pipeline/v1beta1/param_types.go#L92-L96

Json tags here are misleading as `ArrayOrString` uses custom marshalling.
It confuses tools like kubebuilder and probably other tools potentially leading to incorrect generated code.

[2020-10-02 17:05] rawlingsj opened #3324 "Upgrade Kubernetes dependencies to 0.19.2"
We're using the Tekton client in a couple of places and are currently upgrading all our golang Kubernetes dependencies to 0.19.2.  This includes an upgraded Kubernetes client-go which requires fixing up code due to breaking API changes.

I've just noticed there's a similar PR https://github.com/tektoncd/pipeline/pull/3319 although that doesn't go all the way to 0.19.2 so I wonder if we should comb

[2020-10-02 18:39] #2678 closed

[2020-10-02 22:37] pritidesai commented on #3312
@sbwsg what are the consequences of this mismatch names? any impact on any of the runs?

[2020-10-02 23:04] #3312 closed

[2020-10-03 01:04] vigneshashokan commented on #3262
Hi @ImJasonH, I created this PR https://github.com/tektoncd/pipeline/pull/3327 for this issue. Let me know what you think.

[2020-10-03 07:55] vincent-pli commented on #3052
@ImJasonH
I have make a very draft implements here: https://github.com/vincent-pli/coscheduler-same-node

Please take a look.

[2020-10-05 12:46] afrittoli commented on #3111
The probes are available now on the webhook: https://github.com/tektoncd/pipeline/blob/cfe2fe04a9af1ccb101cad49c7ebd37b5bd4399c/config/webhook.yaml#L93-L103

[2020-10-05 13:03] afrittoli commented on #3111
@mattmoor @pmorie I found https://github.com/knative/pkg/issues/1048 but it's not clear to me then whether it is available yet or not. If not we could perhaps add a "shallow" `/healthz` for now, that always reports "ok" (as @ImJasonH suggested) and switch to the `knative/pkg` one once it becomes available.

[2020-10-05 13:21] jerop commented on #3324
/kind question
/priority backlog (owners will review)
/area dependency

[2020-10-05 13:31] jerop commented on #3323
/kind bug
/area api
/priority backlog
/good-first-issue

[2020-10-05 13:41] sbwsg commented on #3312
Ah, good question. The specific issue I was having was that I couldn't add a volumeMount to a sidecar so that a workspace could be shared:

[code]

Here ^ the volume name that the `volumeMount` saw didn't match the one that the workspace was actually mounted with.  This produced a fatal error like `"No volume with name ws-abcdef exists"` because the volume actually had the name `ws-ghijk`.

[2020-10-05 14:02] sickyoon opened #3330 "PipelineRun is expected to be terminated when a pod fails with `StartError` status"
# Expected Behavior

PipelineRun is expected to be terminated when a pod fails with `StartError` status.

# Actual Behavior

When a pod fails with `StartError` status, PipelineRun hangs indefinitely in `running` status until it times out.

#### Kubernetes pod status:
[code]
#### PipelineRun status:
[code]

# Steps to Reproduce the Problem

1. Create a task with invalid step
[code]
2. Trigger `Pipe

[2020-10-05 15:38] sbwsg commented on #1839
Moving to 0.18 release milestone because there are some remaining questions around fetching large images during reconcile.

[2020-10-05 15:39] sbwsg commented on #2815
Closing for now.  We've merged a couple fixes towards this so should reopen or start a new one if we see the problem surface again.

[2020-10-05 15:41] sbwsg commented on #3133
Moving to 0.18 as there's still some work being made towards this goal.

[2020-10-05 15:46] afrittoli commented on #3310
@mattmoor if I remember correctly using `PATCH` would require changes to the unit test infra to handle revision numbers properly?

[2020-10-05 15:50] sbwsg commented on #3323
We should take a look at kubernete's IntOrString type for comparison here.

[2020-10-05 15:51] sbwsg commented on #3323
Looks like they don't have tags for json: https://github.com/kubernetes/apimachinery/blob/master/pkg/util/intstr/intstr.go#L40

[2020-10-05 15:57] sbwsg commented on #1676
/close

Given the open questions above, and a general feeling that we'd need to provide lots of tools baked in to the image which we can't really predict in advance, I'm going to close this for now unless a really strong use case rears its head in future.

[2020-10-05 15:57] #1676 closed

[2020-10-05 16:57] sbwsg commented on #2725
We discussed this in the WG.  There were no objections surfaced during that time and people seemed to generally agree that there are use cases for this.  So I think we can go ahead with a short TEP / implementation.

[2020-10-05 19:23] cten commented on #3273
@zops can you elaborate on what you mean? Thanks

[2020-10-05 19:37] eddycharly commented on #3323
Nope, k8s tooling usually has some special code for handling the IntOrString case (some specific open api tag, x-int-or-string, something like this).

From what I understand it’s not possible to represent the ArrayOrString pattern with the structural schema définition constraint that Kubernetes adds on top of open api.

[2020-10-05 19:49] eddycharly commented on #3323
I feel like the only think we can do here if we don’t want to break compatibility is to ignore the value field and add the preserve unknown field tag :(

[2020-10-05 19:58] mattmoor commented on #3310
The reactor logic around generation handling won't work properly.  This is mainly relevant for "primary key" types IIRC, so patching a child resource might be alright.

[2020-10-06 05:57] hprateek43 opened #3335 "Tekton controller goes in crashloopbackoff in EKS"
# Expected Behavior
The pipelines controller should work on EKS 1.15 with KUBERNETES_MIN_VERSION=1.15.11
# Actual Behavior
The pod controller crashes due to the SHA appended at the end of version string

[code]
# Steps to Reproduce the Problem

1. Spin up EKS 1.15
2. Deploy Tekton release yaml
3. Check logs for controller in crashloopbackoff

# Additional Info

- Kubernetes version:

  **Output of

[2020-10-06 06:17] wwu-cx opened #3336 "Duplicate 'pipelinerun.successful' cloudevent"
# Expected Behavior

A single 'dev.tekton.event.pipelinerun.successful.v1' event after a successfull pipelinerun.

# Actual Behavior

Two 'dev.tekton.event.pipelinerun.successful.v1' events with different id's and different timestamps referencing the same run:

First:

"ce-type": "dev.tekton.event.pipelinerun.successful.v1"
"ce-time": "2020-10-06T05:19:26.898238287Z",
"ce-subject": "tekton-builds-

[2020-10-06 08:21] eddycharly commented on #3323
For more context : the doc about structural schema definition (particularly the IntOrString struct) https://kubernetes.io/blog/2019/06/20/crd-structural-schema/#extensions.

And the way controller-tools takes care of IntOrString : https://github.com/kubernetes-sigs/controller-tools/blob/2f203e490e8af05e988fdac460151ff3a93f3ee7/pkg/crd/known_types.go#L91-L100

[2020-10-06 08:37] eddycharly commented on #3323
More docs https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#intorstring

And a simple example:
[code]

Will result in:
[code]

[2020-10-06 11:05] mbwhite commented on #2557
@spikeburton would you mind sharing the workaround please?  My use case I want to send a message to slack saying if the build worked or not...   and was hoping to pass that in a result.

[2020-10-06 11:53] afrittoli opened #3338 "Missing version in pod annotations"
# Expected Behavior
The annotation in the pod shows the version of pipeline it was created by

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Install latest Tekton (v0.17.0)
2. Run a task `k create -f https://raw.githubusercontent.com/tektoncd/pipeline/master/examples/v1beta1/taskruns/task-result.yaml`

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[2020-10-06 12:03] afrittoli opened #3339 "The `disable-ha` flags behaves backwards"
# Expected Behavior
When `disable-ha` is set to true, HA with leader election is disabled.

# Actual Behavior
When `disable-ha` is set to true, HA with leader election is enabled.
Since the default is `false`, it means that HA is now by default.

# Steps to Reproduce the Problem

1. Edit the controller deployment, add
[code]
to the list of args.
2. Check the controller logs

[code]

# Additional I

[2020-10-06 12:04] afrittoli commented on #3339
https://github.com/tektoncd/pipeline/pull/3156/files#r500176975

[2020-10-06 13:05] vdemeester commented on #3338
@afrittoli interesting… I think I missed updating the `publish` task :thinking: (although I was pretty positive I did.. :thinking: )
/assign

[2020-10-06 13:40] skaegi commented on #2127
Oh no that's really too bad and you're right to re-open this. Unless I'm mistaken what you're saying is that a skipped Task is an assert "failure" that does not end the PipelineRun but prevents all dependent Tasks to run. That is definitely not what any of my users have ever asked for. In addition that introduces a logical tri-state and really complicates the meaning of run-after. `continueAfterSk

[2020-10-06 14:19] spikeburton commented on #2557
@mbwhite sure, for our use case I am using a config map as a workaround to make data available between tasks. However, this requires setting up a service account which is able to create / delete config maps using kubectl.

[2020-10-06 15:03] daviddyball commented on #3273
I had this exact issue and had to change the `Deployment` for both the `webhook` and the `controller` to change `runAsUser` from `1001` -> `65532`

`kustomization.yaml` to patch it
[code]

[2020-10-06 15:25] vdemeester commented on #3273
cc @mattmoor @ImJasonH
I see that the images do have `"User": "65532",`, which makes me think we are actually doing something wrong in the [`controller.yaml`](https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml#L107). When did this change to user `65532` ?

Might be worth a bugfix release (0.17.1, and maybe even 0.16.4 :sweat:)

[2020-10-06 15:25] daviddyball commented on #3273
@vdemeester I saw that too... the image is running as `65532` but all manifests point to `1001`

[2020-10-06 15:34] vdemeester commented on #3338
Oh I know why… I forgot to apply the latest `publish.yaml` task before doing the release :facepalm: …
Should be taken care of on 0.17.1 …

[2020-10-06 15:36] vdemeester commented on #3273
Let's fix this by using `65532` in the deployment (webhook and controller).
/assign

@bobcatfish @sbwsg @afrittoli @pritidesai @ImJasonH @dibyom is it worth doing a 0.16.4 ? (my initial though is *yes* :upside_down_face:)

[2020-10-06 15:37] dibyom commented on #3273
I think we'd need this for Triggers too: https://github.com/tektoncd/triggers/issues/781

[2020-10-06 15:37] vdemeester commented on #3273
Yep, indeed :sweat_drops:

[2020-10-06 15:39] #3339 closed

[2020-10-06 15:42] afrittoli commented on #3338
Thanks!
Still I wonder, version `devel` should have resulted in an annotation `devel`, not an empty string?

[2020-10-06 15:46] ljupchokotev commented on #3206
I am getting these errors for pipelines with `finally` sections on a clean GKE 1.16 cluster. The moment I apply the pipeline, it will start spamming these errors. On its own, it's not a problem apart from the log spam. But, I am using Fluxcd for syncing Tekton manifests and somehow Flux figures out these errors and stops the syncing process. So it is impossible to use Fluxcd currently to sync Tekt

[2020-10-06 15:46] mattmoor commented on #3273
@vdemeester This was probably my bad when I switched things over to the `:nonroot` base images.

`:nonroot` has used `65532` since it's inception, but Tekton only moved (relatively) recently (tho still probably a few months back?).

Having just fixed something similar for our rebuild of Contour, I'd love to know if/how we can make this fail on GKE to avoid future issues like this 😬

cc @mikedanese

[2020-10-06 15:48] vdemeester commented on #3338
Good point… it might be.. more than this.. :sweat:

[2020-10-06 15:55] vdemeester commented on #3206
@coryrc @benke33 @ljupchokotev can you paste the output of the following command : `kubectl get crd pipelines.tekton.dev -o yaml`
I wonder if this happen when there is still some pipeline/tekton object stored as v1alpha1 in the cluster.

[code]

[2020-10-06 15:55] mattmoor commented on #3273
cc @bentheelder too since I'd like it to fail on KinD too 😅

[2020-10-06 16:06] ljupchokotev commented on #3206
@vdemeester

[code]

[2020-10-06 16:14] BenTheElder commented on #3273
@mattmoor this is a difference between containerd and docker rather than minikube and kind, and has to do with default permissions.
we've already attempted to resolve this upstream.

https://github.com/kubernetes-sigs/kind/issues/1331

someone needs to land https://github.com/containerd/cri/pull/1397

[2020-10-06 16:15] vdemeester commented on #3206
@ljupchokotev thanks, this means my initial though about this was wrong.. back to square one :sweat_smile:

[2020-10-06 16:26] ljupchokotev commented on #3206
Looking a bit closer at the webhook logs, it's doing this conversion only for 2 out of 4 pipelines. One of those conversions is succeeding since that pipeline doesn't have any `finally` section, while it fails for the other one. The other 2 remaining pipelines don't show up in the log spam. 1 of them even uses a `finally` section.

Logs:
[code]

[2020-10-06 16:32] vdemeester commented on #3206
Hum that's even more concerning… :cold_sweat: There should be no reason for them to be converted and thus hitting this issue… in theory.. :sweat:

[2020-10-06 17:41] pritidesai commented on #3206
@vdemeester does it play any role here, how the pipelines are applied or created? `kubectl`, `ko`, `tkn`?

[2020-10-06 17:42] #3273 closed

[2020-10-06 18:25] skaegi opened #3345 ""when" expressions do not match user expectations"
"when" expressions are great but have introduced a behaviour unfamiliar to existing CI/CD users. The issue is that Tasks set to "runAfter" a Task using a "when" expression do not run. We have many users moving from Travis and Jenkins to Tekton and this is not the way these systems work.

https://www.jenkins.io/doc/book/pipeline/syntax/#when
https://docs.travis-ci.com/user/conditional-builds-stages

[2020-10-06 18:29] pritidesai commented on #3345
thanks @skaegi, it will be great to discuss this sooner, will add it to next API WG discussion (10/12).

[2020-10-06 18:36] #2872 closed

[2020-10-06 19:17] ywluogg commented on #3303
Taking a look now

[2020-10-06 19:21] ywluogg commented on #3111
Agreed with @afrittoli. It seems still more suitable if we add the health checks after [knative/pkg#1048](https://github.com/knative/pkg/issues/1048) becomes available.

[2020-10-06 20:26] yoonst opened #3347 "Provide a way to create new pull request"
### Feature request

Provide a way to create a new pull request using go-scm.
https://pkg.go.dev/github.com/jenkins-x/go-scm@v1.5.178/scm#PullRequestService

### Use case

Automatically create PR to bump up the helm chart version whenever a new image gets built through Tekton.

[2020-10-06 22:22] afrittoli commented on #3336
Hello @wwu-cx, thanks for this bug report.
I was able to reproduce the issue and I'm working on a fix

[2020-10-06 23:48] skaegi commented on #3226
Sorry @coryrc, I just saw this and well... ouch.
I wonder if there is a generic alternative to `$(params.<name>.escaped)` -- fwiw I am now onboard and trying to figure out the best solution.

[2020-10-06 23:58] ywluogg commented on #3303
This happens because the probes are using https ports, but only establishing TCP connections, so no HTTPS protocol handshake is done, causing TLS to throw error. I'm planning to switch to a normal http port and separate the ports for probes from webhook https ports.

[2020-10-07 00:11] jerop commented on #3345
@skaegi to address how to handle tasks that `runAfter` a task guarded using `WhenExpressions`, we proposed using `continueAfterSkip` as described here in the TEP: https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#skipping-1 -- the implementation is in progress, pending some refactoring we're doing on the execution logic

Does the current proposal solve your use cases?

[2020-10-07 01:14] skaegi commented on #3345
Thanks @jerop and yes, `continueAfterSkip` true as the default does what I'm suggesting. I hear what you're saying about our current behavior but at the same time feel we have to recognize that a precedent has already been set by existing CI tools. Current practice in Jenkins etc. suggests treating skipped Tasks as successful (as opposed to a special skip state) is reasonable and useful behavior.

[2020-10-07 01:35] skaegi commented on #2057
If I can get our local provisioner to work as a block storage provider this might become relevant again. I do have use-cases that need block storage but the availability of a "cheap" provisioner is holding this back.

[2020-10-07 07:04] pritidesai commented on #3345
yup I agree, we have associated execution status `success` for sequential patterns. A sequence of tasks are only executed if all of them are successful. A task being skipped for any reason results in skipping the rest of the tasks in that sequence.

Having `continueAfterSkip` as `true` by default would help and allow rest of the tasks in a sequence to execute. But it becomes tricky again with reso

[2020-10-07 07:09] vdemeester opened #3351 "TestReconcile_FeatureFlags/disable-working-dir-overwrite unit test seems flaky"
Unit test failure on TestReconcile_FeatureFlags/disable-working-dir-overwrite (https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/3341/pull-tekton-pipeline-unit-tests/1313732405898514433/?log#log).

[code]

/area testing
/kind flake
/cc @sbwsg

[2020-10-07 09:23] shibumi opened #3352 "Is there a way to set dynamic the task name?"
Hi,
I have the following problem. I have a build pipeline that shall build multiple docker images. Every build task looks pretty much the same. For example:

[code]

I have multiple dockerfiles in this project: ocpp-server.Dockerfile, graphql-server.Dockerfile and more... so what I actually want to do is something like this:

[code]

See the $(target) variable in name and params.. is there a way t

[2020-10-07 09:47] vdemeester commented on #3345
I think it would be nice discussing this in the next API WG call, but few *thoughts*

I don't think we really made our mission to have similar behaviour than other CI tools. There is already a "conversion" buy-in when switch to tekton from existing CI tools (some concept are different, …), this is one of them.

It's gonna do more than hurt, it would go against our [API change policy](https://githu

[2020-10-07 12:39] tomgeorge commented on #2062
Sorry for the delay, this has been fixed. I think this can be closed

[2020-10-07 12:41] #2062 closed

[2020-10-07 14:21] #3139 closed

[2020-10-07 15:48] #1690 closed

[2020-10-07 15:52] bobcatfish commented on #3335
eek thanks for reporting this @hprateek43 !

[2020-10-07 16:17] #3338 closed

[2020-10-07 16:23] hprateek43 commented on #3335
A sokution can be to use the contains check for the min version rather than exact match. If you want I can pick this up as a contribution.

[2020-10-07 18:13] #3336 closed

[2020-10-07 20:01] bobcatfish commented on #2815
Nice!!! Thanks @sbwsg and @jerop :D

[2020-10-08 09:33] vdemeester commented on #3305
/assign

[2020-10-08 15:24] andradedpg opened #3354 "Starts pipeline from image refresh on external hub registry"
### Feature request

In last sunday, Jeferson Fernando (https://github.com/badtuxx) from LinuxTips, promotes a livestream about how Tekton is helpfull in devops k8s life cycle. -> https://www.youtube.com/watch?v=adFl-4A4fX4 <-
At a moment, was discuss about how the pipeline can be started from image update on external registry (DockerHUB, AWS ECR, ...) public or private. Afterwords, we thought wil

[2020-10-08 18:36] devwander commented on #3354
Up!

[2020-10-08 18:57] bobcatfish commented on #3345
@skaegi one other thought: the current behavior for when expressions is the same behavior we have for the conditions CRD, so this is less about "when expressions" in particular and more about how we've been treating conditional execution in general

maybe another way of solving this is having a config option for controlling the default value for a tekton installation? e.g. you could default the va

[2020-10-08 22:56] psschwei commented on #3175
Anecdotally, I started seeing some minor sluggishness with about 1600 completed taskruns (this was doing an artificial test on minikube, where I just spammed it with new taskruns of the "hello world" task from the tutorial).

Going to spend some time over the next couple of days doing some more rigorous testing and documenting the results in this issue.

[2020-10-08 23:42] psschwei commented on #3175
/assign @psschwei

[2020-10-09 00:48] msmagnanijr commented on #3354
Up

[2020-10-09 08:30] vdemeester commented on #3354
@andradedpg this is *already* possible using the [`tektoncd/triggers`](https://github.com/tektoncd/triggers) project by configuring the registry to notify the webhook (created by an event-listener in triggers) on image push or some other events (or all events really). If the registry doesn't support webhook on events, then, there is still the possibility to do a cron-job that would "poll" the list

[2020-10-09 08:32] vdemeester commented on #3354
*quick note*: :+1: on the issues description are enough to notify to the community your interests, no need for an `Up` comment :wink: :pray:

[2020-10-09 09:35] a-roberts opened #3356 "Design idea for scannedImage/scan configuration in Task/Pipeline spec"
Wanted to share this idea while it's still fresh in my head and very interested in feedback (if this is a terrible idea I'd love to figure out what's being suggested as the current go-to) - thanks in advance for checking this out!

### Feature request

Writing security scanners that run on demand, or after a push pipelineruns, or on a cron job, as an additional pipeline or step, shouldn't be neces

[2020-10-09 12:12] #3086 closed

[2020-10-09 12:13] vdemeester commented on #3356
/cc @dlorenc @tektoncd/chains-maintainers

[2020-10-09 17:42] coryrc commented on #3152
@sbwsg In my case, there's an image with an existing GOPATH setup (with bin/, src/...). What I want to do is allow the user to say "mount this and only this module" aka mount `knative.dev/serving` from this workspace into the image's `$GOPATH/src`; if you mount the root to `$GOPATH/src` you clobber whatever is preexisting in the image (which is what I ended up doing), which is exactly what the gol

[2020-10-09 18:15] sbwsg commented on #3152
Gotcha, thanks!  Can a symlink work here ala:

[code]

Similarly in cases where a symlink isn't suitable can `cp` fill the gap instead?

The reason I'm hesitant to implement this today is that the feature request is made much more tricky because our variable resolution process only happens once and `$(workspaces.foo.path)` is already a variable we expose.  What does this mean?  It means that if `m

[2020-10-09 18:22] khalkie commented on #3152
I think this will work properly with the change as I implemented because `createPod` resolves `ApplyWorkspaces` last, meaning that any mountPath variables would already have been expanded before the value is applied to anywhere that `$(workspaces.foo.path)` is requested

[2020-10-09 18:27] coryrc commented on #3152
Symlink didn't work pre-Go-modules and I haven't tried since.

Me personally, I mostly care that there aren't any examples or catalog Tasks showing things that don't work.

[2020-10-09 18:28] kyledwilson opened #3361 "conversion webhook for tekton.dev/v1beta1 unexpected EOF"
# Expected Behavior

Upgrading tekton from v0.11.3 to v0.12 should not produce any conversion webhook errors when applying a pipeline, task, or pipelinerun.
# Actual Behavior

After upgrading tekton from v0.11.3 to v0.12, applying a task produces the following error:
[code]

# Steps to Reproduce the Problem

1. Apply tekton v0.12
2. Apply pipeline task

say-hello.yaml
[code]

[code]

# Additional

[2020-10-09 18:36] sbwsg commented on #3152
Indeed I'm not trying to say it can't be done, more that it gets progressively more brittle the more special-cases and ordering-specific variable replacements we add over time.

I don't feel strongly enough to want to push back any further - I think the use case is totally valid.  Just hesitant about making the current variable replacement logic progressively more complicated.

[2020-10-09 19:23] bobcatfish commented on #2815
Looks like this failed last night (https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-qnsg6?pipelineTask=unit-tests&step=unit-test):

[code]

[2020-10-09 20:31] sbwsg commented on #3152
Thanks for this feedback - I think I'm going to update the golang tasks in our catalog to mount the workspace at its default path and then `cp -R` the source code from there in to the package's directory.

We also have another workaround starting with version 0.17 for this problem: you can add your own `volumeMount` in a Task that points to a workspace volume.  Then you can give that volumeMount a

[2020-10-09 20:49] pritidesai commented on #1020
I am narrowing down the scope here:

## Goal

Access to execution status of other `taskRuns` within the same `Pipeline`.

## Proposal

Introduce execution status as a context variable (thanks @sbwsg for pointing out about context variables) in the form of `$(context.pipelineRun.Tasks.<pipelineTaskName>)"`. This variable can have one of the following values:

1. Started: taskRun for that pipelineTa

[2020-10-10 03:19] adux6991 opened #3362 "Comment in code contradicts with doc"
# Expected Behavior

In [doc](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#running-scripts-within-steps), it says args will be passed to script in a step of a task.

But in [code](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/task_types.go#L126), it says "If Script is not empty, the Step cannot have an Command **or Args.**"

I experimented and the doc

[2020-10-10 04:42] mattmoor opened #3364 "TestHelmDeployPipelineRun makes several bad assumptions"
# Expected Behavior

Test passes on KinD and without KO_DOCKER_REPO

# Actual Behavior

Test fails on KinD or without KO_DOCKER_REPO

# Steps to Reproduce the Problem

[code]

# Additional Info

K8s 1.17 - 1.19 tested.

`test/ko_test.go` should simply be deleted.  This test is the only test that references it and it makes the bad assumptions that:
1. `KO_DOCKER_REPO` is set (or it fails)
2. `KO_DO

[2020-10-10 10:40] namloc2001 opened #3365 "Secrets used in Tasks showing in Tekton dashboard and logs without obfuscation"
Hi, apologies if this is the wrong place for this issue, if it is please let me know.

We have created a tekton task which includes the following configuration to obtain a secret from a K8s secret, set it as an environment variable and use it in the `script`/`command` activity in the task.

[code]

The concern I have is that in the Tekton logs for the pod, and therefore displayed via Tekton dashbo

[2020-10-10 15:38] sbwsg commented on #3365
Thanks for the report.  That shouldn't be happening.  Can you isolate the log lines to specific container / step names?  Is it Task-specific or happening with every run?

[2020-10-10 16:36] namloc2001 commented on #3365
Hi, it's for all tasks I am performing. This is an example of one of the tasks, wherein we perform a Dependency Check scan.

[code]

The logs show:
[code]
(I've obviously removed the password, user and URL values in the log output above)

The secret is configured as follows:
[code]

ConfigMap is:
[code]

We are using Tekton versions as follows:
 - Tekton Dashboard: v0.9.0
 - Tekton Pipelines: v0.1

[2020-10-10 16:38] mattmoor commented on #3364
Correct me, but I believe this also assumes push access to the configured `KO_DOCKER_REPO` in the cluster, which is another bad assumption.  GKE's ambient authn might satisfy this, but if I use e.g. `KO_DOCKER_REPO=docker.io` I'd guess this will fail the way things work today.

[2020-10-11 15:48] mattmoor opened #3366 "cancel_test doesn't tolerate redundant events"
# Expected Behavior

Consistently passing test 😉

# Actual Behavior

Intermittent flake with:
[code]

There are a number of reasons that this could be emitting multiple events of the same kind, including possibly stale informer caches during the Reconcile that emits the stale event.

I'd think the test should probably check "at least once" for each of the two events instead?  cc @afrittoli

# Step

[2020-10-12 05:17] skaegi commented on #3345
The biggest issue is that you can't do a merge or a synchronize after a Task that contains a "when" expression if the condition fails.

For example, Logic like this is really challenging...
[code]

Instead you're forced to create a positive and negative Task chain to manage this. (Totally possible there is a better coding pattern here -- please feel free to pipe in)
[code]
If you try to write that

[2020-10-12 05:56] xiujuan95 opened #3367 "Install tekton-pipeline 0.17.0 release failed because of InternalError"
# Expected Behavior
Install tekton-pipeline 0.17.0 release successfully

# Actual Behavior

When I apply tekton-pipeline `0.17.0` release use below command:
[code]
It failed and reported below error:
[code]
Then I check the status and logs of `tekton-pipelines-webhook`:
[code]
Not sure what's wrong with it? Could you please help me about this? Thanks in advance!

BTW, I am installing tekton-pipeli

[2020-10-12 06:41] gejunqiang commented on #2735
@xiujuan95  I met the same issue this days,  Can u explain how to enable leader-election for tekton-pipeline-controller, pls? I can not find any documents about this. Thanks in advance.

[2020-10-12 06:45] vdemeester commented on #3365
@namloc2001 that's to be expected, this is bash and `set -x` at work, there is not too much Tekton can do here. What you can do though, is to disable `set -x`, either locally or for the whole script:

[code]
or
[code]

[2020-10-12 06:50] vdemeester commented on #3367
The error seems to be with the configmap `config-defaults` not being present:

[code]

Any error during the apply phase on the configmap ?

[2020-10-12 06:58] afrittoli commented on #2735
Leader election should work now (on master branch) but it still needs to be verified, documented and tested.
I  tried in my local cluster and it seemed to behave nicely, but you'll have to use master branch.

[2020-10-12 08:05] xiujuan95 commented on #2735
@gejunqiang I just modify `config-leader-election` configMap and add this filed. My final configMay is:
[code]
BTW, I am using `0.14.2` tekton-pipeline release. Maybe now, something is changed. You can see these two parts:
https://github.com/tektoncd/pipeline/blob/v0.14.2/vendor/knative.dev/pkg/leaderelection/config.go#L49
https://github.com/tektoncd/pipeline/blob/v0.14.2/vendor/knative.dev/pkg/in

[2020-10-12 08:09] namloc2001 commented on #3365
Thanks, @vdemeester. I'll use `set +x` and `set -x`, just wanted to make sure I wasn't missing particular Tekton functionality that blocked plaintext secrets being played back in logs/dashboard. Cheers.

[2020-10-12 08:13] xiujuan95 commented on #3367
@vdemeester No other errors about you mentioned configmap, actually, I checked and found I didn't have this configmap.

[2020-10-12 08:13] vdemeester commented on #3365
Yeah, tekton cannot do too much here, the logs are kubernetes pods logs, even if the dashboard would block those somehow, anyone able to get logs from the pods would see those.

[2020-10-12 08:15] vdemeester commented on #3367
The release yaml should create this configmap (hence why I was asking for an error).

[2020-10-12 08:19] xiujuan95 commented on #3367
@vdemeester Then seem like this release didn't create it for me. I have proposed all errors.

[2020-10-12 09:07] xiujuan95 commented on #3367
I found the root cause. Because I didn't delete previous `validatingwebhookconfigurations` and `mutatingwebhookconfigurations` for tekton-webhook. I delete them, tekton installation is successful.

[2020-10-12 13:04] imjasonh opened #3373 "Explore entrypoint binary redacting secrets from logs"
Stemmed from https://github.com/tektoncd/pipeline/issues/3365 though there have been other cases it's come up.

Today, if the user specifies a `script:` without shebang, we assume `#!/bin/bash` and `set -euxo pipefail` -- we consider this a reasonable default script preamble, but `set -x` especially can surprise some users that might be using secrets in their script, and don't expect those to be e

[2020-10-12 13:05] ImJasonH commented on #3365
I don't think there's much we can do today, but we might be able to do more in the future. I opened https://github.com/tektoncd/pipeline/issues/3373 to track one idea to redact secrets from logs automatically, but I'd love more feedback on it.

[2020-10-12 13:28] jerop commented on #3345
@skaegi taking the example you provided above, we can use the `continueAfterSkip`, as described in [TEP](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md#skipping-1) to create the logic needed without having to create positive and negative task chains, as such:

[code]

The only thing you have to do is set `continueAfterSkip` to true to allow for execution of ordering

[2020-10-12 14:51] gejunqiang commented on #2735
@xiujuan95 I'm using v1.16.3 tekton-pipeline release, and I tried your way, it works well, thank u!

[2020-10-12 14:53] gejunqiang commented on #2735
@afrittoli Yeah, I saw that the v1.17.0 release code support the Leader Election, I will upgrade my tekton-pipelines to v1.17.0 and do some experiments, thank u!

[2020-10-12 15:00] afrittoli commented on #2735
Well, on v0.17.0 the enable flag is broken, v0.17.1 will fix that as soon as it's released.
So either use master, or a nightly build, or you can use v0.17.0 but you need to set the disable-ha flag is true to *enable* HA

[2020-10-12 16:42] chhsia0 commented on #3345
It seems to me that syntax-wise, when-expressions give users a false impression that they only apply to the associated `PipelineTask`s, but because of the DAG structure, the expressions apply to more than the associated `PipelineTask`s (but not all subsequent tasks), thus making it counter-intuitive.

[2020-10-12 16:55] jerop commented on #3345
As discussed in the WG today, another consideration when evaluating `continueAfterSkip` defaulting to true is how we handle resource dependencies, such as results. That is, what happens if we allow dependent tasks to execute by default after a parent task is skipped when that parent task was supposed to produce a result needed by the dependent tasks.

This concern is currently being discussed in a

[2020-10-12 17:07] dibyom commented on #3352
/kind question

[2020-10-12 17:14] jerop commented on #3345
@chhsia0 when the expressions evaluate to false, the pipelinetask is skipped and **all** the subsequent tasks are skipped by default

it is only when a use case requires _ordering-dependent_ tasks as defined by `runAfter` (not _resource-dependent_) to execute regardless of the parent task being skipped, that the user can set `continueAfterSkip` to true to allow for execution of _ordering-dependent

[2020-10-12 17:17] dibyom commented on #3352
Thinking out loud here:
1. Since all the tasks are similar, maybe you can have one generic task (like you said) but each TaskRun name can contain the $(target) so you can distinguish between what is actually being built. Not sure how this will look in the dashboard though.

2. Maybe kustomize to create multiple tasks with different names?

3. If you are using Triggers, you can use a [TriggerTempla

[2020-10-12 17:48] pritidesai commented on #3345
`Condition` guarded the entire branch of tasks not just the task that it's defined in and when expression follows the same design principle. `continueAfterSkip` helps continuing even after a guarded task is skipped but comes with a cost of adding extra YAML schema in each subsequent `pipelineTask`.

Also, like @jerop mentioned, `continueAfterSkip` wouldn't work with resource dependencies such as t

[2020-10-12 17:53] sbwsg commented on #3345
I think this might be highly subjective? My intuition goes immediately the other way 😄 - I expect a branch of execution to be halted by default if a gating check hasn't passed.  In other words, the existing behaviour.

It sounded to me like `continueAfterSkip` is going to solve the immediate pain.  I would definitely be +1 on not changing existing behavior and not providing installation-specific d

[2020-10-12 17:56] sbwsg commented on #3345
Ah, I really like this idea.  Keep the declaration of DAG semantics out of the installation configuration but still allow users to make it the default for their pipeline runs.  I am +1 on in-addition-to pipelineTask level.

[2020-10-12 19:42] pritidesai opened #3374 "Intermittent Cloud Event failures during integration tests"
I have noticed this kind of failure happening in many PRs recently.

* [3369](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/3369/pull-tekton-pipeline-integration-tests/1315726113254674432/)
* [3353](https://github.com/tektoncd/pipeline/pull/3353#issuecomment-705080791)
* [3242](https://github.com/tektoncd/pipeline/pull/3242)

/cc @afrittoli

[code]

[2020-10-12 19:59] afrittoli commented on #3374
Thanks for the report!
The issues from the logs seems to be about k8s events, not cloud events.
This looks like a duplicate of https://github.com/tektoncd/pipeline/issues/3366, so I'll close this one.

[2020-10-12 19:59] #3374 closed

[2020-10-12 20:14] afrittoli commented on #3366
Yeah, the `TaskRun` event is sent twice, the second time shows with `Count:2`.
The resource version of the two events is different between the two events, the resource version of the `TaskRun` is the same though. I wonder why this happens only with the `cancel_test` though?

[2020-10-12 20:17] afrittoli commented on #3366
Other example of failures from #3374

#3369
#3353
#3242

[2020-10-12 20:36] pritidesai commented on #3374
no wonder, this was not fixed by [3353](https://github.com/tektoncd/pipeline/pull/3353) 😱 🤦‍♀️

[2020-10-13 02:11] xiujuan95 commented on #2735
@afrittoli How can I set `disable-ha` flag, also set it in the `config-leader-election` configMap?

[2020-10-13 02:23] gejunqiang commented on #2735
@xiujuan95  set `disable-ha` flag in container args of tekton-pipelines-controller deployment,  according to https://github.com/tektoncd/pipeline/blob/v0.17.0/cmd/controller/main.go#L56.

I'll try this later, but actually I was confused by this flag's name at first. According to @afrittoli , this flag in v0.17.0 does the opposite of what it should,  we need to set the disable-ha flag is true to en

[2020-10-13 02:27] xiujuan95 commented on #2735
@gejunqiang Thanks!  If you have some results about `disable-ha` flag, please let me know, thanks in advance! Also I will verify it.

[2020-10-13 02:50] xiujuan95 commented on #2735
@gejunqiang Sad! I can't set it in tekton-pipeline-controller deployment:
[code]
Also can't set it in `config-leader-election` configMap.
[code]

[2020-10-13 05:29] gejunqiang commented on #2735
@xiujuan95 How do u set this `disable-ha` flag,  I tried this just now , the container args of `tekton-pipelines-controller` deployment looks like this:
[code]
It works well.

[2020-10-13 07:58] xiujuan95 commented on #2735
@gejunqiang I first set them like below:
[code]
I didn't add the double quotation marks. Now, although I can configure it like your method, my tekton-pipeline-controller pod can't come up and alway crash:
[code]
Do you have this issue?

[2020-10-13 08:14] gejunqiang commented on #2735
@xiujuan95 I didn't have this issue. From the log `found unset image flags: [build-gcs-fetcher creds entrypoint git gsutil imagedigest-exporter kubeconfig-writer nop pr shell]`,  maybe you have removed other args? Can you show your complete container args.

[2020-10-13 08:17] xiujuan95 commented on #2735
@gejunqiang Sure! I don't remove anything, below is my spec:
[code]

[2020-10-13 09:24] gejunqiang commented on #2735
@xiujuan95  Oh..It's so weird! I don't know what's wrong. But it works well for me.

[2020-10-13 10:16] afrittoli commented on #2735
You need the double quotation marks.

This happens because you have the `disable-ha` set to true with no quotation marks on the top, so the rest of the args are not passed to the controller which then fails on missing flags.

[2020-10-13 14:06] jerop opened #3377 "Deprecate Conditions CRD"
With the implementation of [Conditions Beta](https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md), specifically `WhenExpressions`, we want to deprecate the `Conditions` CRD because:

- _Efficiency_: `Conditions` have to spin up new `Pods` for every check, even simple ones. `WhenExpressions` enable guarding `Tasks` with simple checks without spinning up new `Pods`. [Read

[2020-10-13 14:26] mattmoor opened #3378 "PipelineRun fails too eagerly on missing resources"
# Expected Behavior

PipelineRun only fails when referenced resources do not exist.

# Actual Behavior

PipelineRun fails when referenced resources do not YET exist in it's informer cache at the time of reconciliation.

You can see the bug here as the `lister` is passed to fetch the resource, and on error it manifests as a permanent failure of the pipeline resource: https://github.com/tektoncd/pip

[2020-10-13 14:31] mattmoor commented on #3378
Slack thread: https://tektoncd.slack.com/archives/CLCCEBUMU/p1602598837131500

[2020-10-13 14:36] GregDritschler commented on #3378
This is very closely related to #2740.  The pipelinerun and taskrun reconcilers use the client to get the Pipeline or Task respectively to avoid lister cache issues.  There was a lot of good discussion in that issue.  I'm not sure why it was closed.

[2020-10-13 15:31] mattmoor commented on #3378
There is a lot of nuance, and honestly there are facets of the Tekton resource model that make this challenging (as I highlighted in that thread).

The conflict here is between:
1. fast-feedback when a user fat-fingers a bad reference
2. working in the presence of slow informer syncing

Using the client could solve both, but then puts things into conflict with scaling the system.

I think an appro

[2020-10-13 20:12] afrittoli opened #3381 "Investigate duplicate events and how we test them"
### Feature request

In https://github.com/tektoncd/pipeline/pull/3375, we patched the cancel test as it was getting a duplicate event.
This was only reproducible - in my knowledge - with the cancel test, and only the beta1 version of it.
We should understand why the failure only happened there, and if in general we shall expect events might be delivered more than once; and if so we should adapt t

[2020-10-13 22:59] r0bj opened #3382 "v0.17.0 Pipeline can't be Run; it has an invalid spec: missing field(s): tasks[1].when[0]"
# Expected Behavior

Pipeline is executed.

# Actual Behavior

PipelineValidationFailed:
[code]

[code]

It seems that "When" fields are empty.

# Steps to Reproduce the Problem

PipelineRun definition:

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:
[code]

In tekton pipelines 0.16 it works as expected.

[2020-10-13 23:36] fx2y commented on #3317
`<SERVICE_NAME>.<NAMESPACE>.svc` is correct name, and `kubedns` will correctly point to the right address without specifically add `.cluster.local`. The issue that you encounter is related with the inability of GKE control-plane to do webhook admission directly into pod port because of firewall rule. In `tekton-pipelines` case, control-plane need to directly access `8443` port. So, you need to set

[2020-10-14 00:09] pritidesai commented on #3382
@jerop please help troubleshoot

[2020-10-14 00:11] pritidesai commented on #3382
@r0bj can you please try running an [example](https://raw.githubusercontent.com/tektoncd/pipeline/master/examples/v1beta1/pipelineruns/pipelinerun-with-when-expressions.yaml) from the pipeline repo?

https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-when-expressions.yaml

[2020-10-14 02:04] r0bj commented on #3382
@pritidesai after some more tests it turned out that this issue manifests itself in scenario like this:
1. install tekton pipeline v0.16.3
2. install pipeline definition
3. update tekton pipeline to version v0.17.0
4. run pipelinerun

So I needed to reapply all my pipelines definitions in order to make them work.

[2020-10-14 02:11] xiujuan95 commented on #2735
@afrittoli I have double quotation mark. But the pod still is in crash status!

[2020-10-14 02:17] xiujuan95 commented on #2735
I found why the pod can't come up. 'disable-ha' should be added at the end rather than at the beginning:
[code]
If I change it to below, it will be fail:
[code]
The behavior is weird for me! Why？

[2020-10-14 03:28] pritidesai commented on #3382
oh 😞, so pipelines deployed in Tekton `v0.16.3` not compatible with `v0.17.0` and results in such validation error?

[2020-10-14 04:00] savitaashture commented on #2992
@sbwsg

This one flaked again today

https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-fnx28?pipelineTask=unit-tests&step=unit-test

[code]

[2020-10-14 04:27] r0bj commented on #3382
I've prepared yaml definitions based on https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-when-expressions.yaml (separate Pipeline and PipelineRun) to be able to reproduce this issue:

1. install tekton pipeline v0.16.3
2. install Pipeline `guarded-pr`
[code]
3. update tekton pipeline to version v0.17.1
4. run PipelineRun
[code]
5. Result
[code]

[2020-10-14 04:44] afrittoli commented on #2735
Uhm, this sounds like a bug to me

[2020-10-14 05:01] phantooom opened #3383 "Qusetion: git-init error"
i run git-init fetch code. but some error happend.
[code]

how can i use git-init

[2020-10-14 07:46] xiujuan95 commented on #2735
@afrittoli I found the following settings for `disable-ha` flag is incorrect:
[code]
We can't set it like above. Because above setting treats the value of `disable-ha` to be a string type, then this judge:https://github.com/tektoncd/pipeline/blob/v0.17.1/cmd/controller/main.go#L87 will be alway true whatever we set it to be `"true"` or `"false"`. Only there has a value, then it will be alway `true

[2020-10-14 12:07] Fabian-K commented on #3206
Hi,
I stumbled upon what I think looks like a similar issue. I´m
- creating a new cluster via kind (1.19.1)
- installing pipelines `kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.17.1/release.yaml`
- creating a task via kubectl apply -f with the following content
[code]

This results in a conversion of the task to v1alpha1. Logs:
[code]
🤔

[2020-10-14 12:36] sbwsg commented on #3383
Interesting.  I would not recommend using `git-init` outside of the containers it's already used - the `git-clone` task and Git PipelineResource - because we don't really intend to support it outside those contexts.

I believe the problem you're encountering is that since commit 8bc424db6249a4f4ab9240792a4a6b1ec00b4222 we don't support short hashes in git-init.

[2020-10-14 12:43] sbwsg commented on #2992
It appears that two events were not received: `taskrun_test.go:837: timed out waiting for 2 more events: []string{"(?s)dev.tekton.event.taskrun.started.v1.*test-taskrun-not-started", "(?s)dev.tekton.event.taskrun.running.v1.*test-taskrun-not-started"}`

Looks like the full error is:

[code]

[2020-10-14 12:51] sbwsg commented on #2992
I'd expect to see debug messages of the format `Sending cloudevent of type "dev.tekton.event.taskrun.running.v1"` from the cloud event controller but don't see any here.  It looks like the test caught an actual issue (or ran sooooo sllooooowwwlly that the cloud event controller never got round to emitting those events)

[2020-10-14 14:06] cyberbliss opened #3384 "Pipeline pods crashloopbackoff with Kind and Ubuntu 20.04"
# Expected Behavior
Deployment of 0.17.1 Pipelines controller and webhook pods on a Kind cluster should result in running pods

# Actual Behavior
The pods crashloopbackoff due to the following Go error:
[code]
This happens pretty much immediately with pipelines-webhook pod but can take longer with pipelines-controller pod.

# Steps to Reproduce the Problem

1. kubectl apply -f release.yaml (downlo

[2020-10-14 15:18] mattmoor commented on #3366
@afrittoli Not sure from your comment what you think the remediation should be?

[2020-10-14 15:22] afrittoli commented on #3366
For now I changed the specific test to allow for duplicate events, and I filed another issue about investigating this further

[2020-10-14 16:28] mattmoor commented on #3378
I have a change, which will hopefully build in a grace period for this here: https://github.com/tektoncd/pipeline/pull/3385

Let's see how the e2e tests respond to this 🤞

[2020-10-14 16:59] ImJasonH opened #3386 "Replicate webhook pods for resiliency"
Currently we run one replica of the webhook deployment, which makes it a single point of failure in the event of a node outage. The job doesn't do anything that requires running as a single replica, so we should investigate running multiple replicas.

We can crib from Knative Serving, which configures:
* [a HorizontalPodAutoscaler (HPA) to run 1-5 replicas based on CPU usage](https://github.com/kn

[2020-10-14 17:18] afrittoli commented on #3386
Thanks for this.
I think the pod anti-affinity will also mean that we will have one pod in case of a single-node cluster, which would be perfect as I'd like to preserve the smallest possible footprint for dev / test scenarios.

[2020-10-14 18:39] raballew opened #3387 "Shallow clone specific commit with tags"
### Feature request

[code]

If I would use the pipeline resource specification shown above, I would expect that all tags referencing the git revision would be fetched as well. Using plain git commands this could be achieved by the following:

[code]

But actually the current implementation does not fetch the tags.

[code]

A manual `git fetch --tags` is required in the task using the pipeline res

[2020-10-14 18:51] raballew commented on #3386
Awesome idea! This is not only true for a node outage but also heavy load scenarios for the event listeners. In one of our production environments we faced situations, where the event listener got unresponsive because no auto scaling was in place and too many requests were send to it.

[2020-10-14 20:06] bobcatfish commented on #1797
hey all! i want to reopen this to discuss further down the line: when expressions will allow you to disable particular tasks via a parameter, however to take advantage of this you need to add the when expressions

imo the feature request here is about getting this functionality out of the box; e.g. even without when expressions or conditionals, commenting out tasks in a pipeline is another way to

[2020-10-15 03:50] pritidesai commented on #1797
have to explore `pipelineRun` to support it, something like @jerop's proposal on a list of disabled/skipped `pipelineTasks`

[2020-10-15 05:28] pritidesai commented on #1797
another possible way is to introduce `status` in `pipelineRun` CRD which can have a `pipelinetask` name and desired status (skipped), can extend it in future to include other states.

[2020-10-15 12:59] skaegi commented on #3345
@pritidesai Yes that would work for me. I have no examples with a mixture of `continueAfterSkip` semantics. I wonder if that is a `Pipeline` thing instead of a `PipelineRun` thing -- e.g. you would write a Pipeline with particular semantics in mind.

[2020-10-15 13:08] skaegi commented on #3345
@pritidesai @jerop Is there an issue for `results` behaviour in this case?

[2020-10-15 13:55] afrittoli commented on #3345
+1
Indeed, if we made `continueAfterSkip`  a run option, the pipeline author would have to allow for both ways of execution, which seems overly complicated and unnatural.

If we allow for a `pipelineTask` to be "optional", we'll need a way to provide results values.
Those could be (1) defined statically in the `Pipeline` definition, (2) produced by a previous task or even (3) passed through the ru

[2020-10-15 13:57] jerop commented on #3345
I also like the idea of supporting `continueAfterSkip` on the `PipelineRun` level in addition to the `PipelineTask` level. However, there are some things that I'm wondering about:
- Is it valid to specify `continueAfterSkip` on both levels in a given `PipelineRun` + `Pipeline`? Or do we allow it being specified in only one of the levels?
- If we allow for it to be specified on both levels in a giv

[2020-10-15 14:00] jerop commented on #3345
@skaegi `continueAfterSkip` is for allowing execution of ordering-dependent (`runAfter`) tasks only -- so it won't affect the resource-dependent tasks

[2020-10-15 14:50] afrittoli opened #3393 "Invalid step name in conditions"
# Expected Behavior
The generated step name for conditions is valid

# Actual Behavior
If the parent name is long enough, it may become too long:

[code]

# Steps to Reproduce the Problem

1. See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/3392/pull-tekton-pipeline-integration-tests/1316675745287770115/

# Additional Info

The code that builds the name is h

[2020-10-15 14:52] bobcatfish commented on #3382
Side note that there is some overlap with this issue and https://github.com/tektoncd/triggers/issues/526 - in both cases we are getting some unexpected (and sometimes inconsistent) tolerance of using different casing for fields than what kubernetes is actually storing.

(i.e. since before the change in #3291 k8s was storing the fields starting with uppercase letters, it's kind of confusing that us

[2020-10-15 14:57] bobcatfish commented on #1797
The biggest blocker for this one is convincing ourselves the functionality is worth adding - I happen to think it is but some folks don't, which is why we put this on hold. I want to revisit it at some point but understand why folks are reluctant to add it - it might make more sense for post v1 unless we have some strong use cases now (was talking to @coryrc about a potential use case with prow al

[2020-10-15 15:16] mattmoor commented on #3393
I can take a look at this if nobody else is.  I'm seeing it a lot and I dislodged the bug.

/assign

[2020-10-15 15:23] pritidesai commented on #3345
Yes, `continueAfterSkip` is not something you would want to go back and forth at runtime unless the pipeline is shared across different teams and each team would like to write their own `pipelineRun`. Also, it's beyond one single deployment of `Tekton`, we will come across use cases where one deployment would prefer `continueAfterSkip` to true and others might want to set it to `false`. `continueA

[2020-10-15 15:49] bobcatfish commented on #3382
Was brainstorming with @jerop yesterday how we could have avoided this and there didn't seem to be a lot of good options - thinking about it more, I think it would be good to tackle tektoncd/triggers#526  as well and understand more about why we are being tolerant of the capitalization mismatches and try to tackle that - imo that is the root cause of the problem here.

[2020-10-15 17:35] #3393 closed

[2020-10-15 17:39] vdemeester commented on #3382
The "short" team fix, aside from reverting the change, would be to have `Deprecated*` fields that use capitalized version of the field and use the *default* mechanisms to put the right thing at the right place. No matter what we do, there will be, for cluster that were using `when` in 0.16.x, some object stored with capitalized field.

[2020-10-15 21:17] jerop commented on #3345
thank you everyone for your contributions to this discussion!

it seems to me that the options we've considered are (please let me know if i'm missing something):
1. `continueAfterSkip` defaults to **true**, and when a guarded task is skipped:

    a. _ordering-dependent_ tasks are executed while _resource-dependent_ tasks are skipped, except when `continueAfterSkip` is set to **false** then the _

[2020-10-15 22:31] ad22 commented on #3387
I added the refspec functionality, so I can help take a look. IIRC this was precisely the use case I needed, and this _should_ work.

[2020-10-15 23:19] mattmoor opened #3397 ".github/pull_request_template.md should include /kind"
# Expected Behavior

PR template prompts folks to do all required things.

# Actual Behavior

`/kind` is missing

# Steps to Reproduce the Problem

1. Open a PR,
2. Don't do anything extra,
3. See the `/kind` label checker fail
4. Be sad.

[2020-10-15 23:32] raballew commented on #3387
@ad22 Thanks for helping! Knowing this, I did some more debugging and manually pulled the [latest and greatest image](https://console.cloud.google.com/gcr/images/tekton-releases/GLOBAL/github.com/tektoncd/pipeline/cmd/git-init@sha256:a39b8c647d6eaf609dc04bc7b0fc0f787b3b25fd6b1c9b182066a5c29a64a18c/details?tab=info) and everything looks fine. So I assume that this behaviour is caused by some kind o

[2020-10-15 23:32] #3387 closed

[2020-10-16 01:55] willzhang commented on #1542
i want helm chat ,so i can add tekton to rancher or kubesphere appstore.

[2020-10-16 02:39] skaegi commented on #3345
I might prefer 1c, but think I would be fine with 2b even without 2a. I think 2b is a much better alternative than having a global flag. I don't love `continueAfterSkip: true/false` as the Pipeline field name but I can get over it 😜 . I do not want to treat order and resource dependencies differently and always run or not according to the `continueAfterSkip` field value.

[2020-10-16 03:18] adux6991 commented on #3362
Closing the issue since nobody cared. It hangs on the top of my homepage all the time.

[2020-10-16 07:28] gokula-krishna-dev opened #3399 "Unsuccessful cred copy: ".docker" at end of successful build"
# Expected Behavior
Exit builds free of warnings

# Actual Behavior
At the end of the build I get the warning
```[image-digest-exporter-rmrl8] 2020/10/16 06:13:34 unsuccessful cred copy: ".docker" from "/tekton/creds" to "/tekton/home": unable to open destination: open /tekton/home/.docker/config.json: permission denied```

# Steps to Reproduce the Problem
1. `minikube start --memory 6144 --cpus 2

[2020-10-16 08:10] salaboy commented on #1542
The cd.foundation created a shared chart here: https://github.com/cdfoundation/tekton-helm-chart

[2020-10-16 11:42] billinra opened #3401 "PipelineRun delete workspace volume after completion"
### Feature request

We are using the Pipeline Workspace feature to share data among Tasks in a Pipeline. When attaching a `volumeClaimTemplate` to a PipelineRun the volume will only be deleted after removal of the PipelineRun. This is the current behaviour as documented here: https://github.com/tektoncd/pipeline/blob/3e906480a1c2907b97fc6cf7f7bd7a6c75bf2856/docs/workspaces.md#using-persistentvolu

[2020-10-16 11:43] almottier commented on #3384
Same problem here with my Ubuntu nodes:

[code]

I think building tekton with go 1.15.3+ should fix this issue. Please check [this](https://github.com/golang/go/commit/71218dbc401cbb8f7e052e7a64372d9732082d5d).

I got the tekton pods Running by adding `--default-ulimit memlock=83968000:83968000` in the docker service, but this is not convenient.

[2020-10-16 12:51] sbwsg commented on #3399
@gokula-krishna-dev thanks for the report - could you share the pod yaml too? `kubectl get pod -o yaml <name-of-taskrun-pod>`  That would be helpful in trying to figure out what happened.  Remember to sanitize the YAML if it includes any sensitive info before posting it here.

This message is only a warning but it can be indicative of a problem - did the docker image push succeed?

The message sho

[2020-10-16 13:31] sbwsg commented on #3399
Oh, sorry I just realised from your original message that it's the `image-digest-exporter` step that's raising the error.

So this is likely what appears to be the problem: the image digest exporter injected step is based on a non-root image.  The git-init Step and your Task's Step both initialize credentials in /tekton/home/.docker as the root user.  Then the image-digest-exporter comes along and

[2020-10-16 13:37] sbwsg commented on #3399
I've been able to reproduce the issue from your example YAMLS and regcred, thanks a lot for those!  This should not interfere with the operation of your Task and is a warning related to the difference in UIDs of the various Steps injected into your Task by PipelineResources.  I'm going to document the warning message more clearly in https://github.com/tektoncd/pipeline/pull/3395 and am going to sp

[2020-10-16 14:25] bobcatfish commented on #3362
Hey @adux6991 !

Thanks for opening in this - I'd say that the amount of time it takes us to get to issues varies and though I'm surprised there were no comments at all on the issue, it does often take us longer than 1 week to get to an issue. Often we'll label something like this is "help wanted" or "good first issue".

I think you made a great point - is there any chance you'd be interested in s

[2020-10-16 16:15] sbwsg commented on #3382
More brainstorming for options to help catch this in future:
- Lint rule for the API types to ensure json annotations are included on any public fields
- Put the API types in their own package without any additional methods / other types. It may then be easier to apply automation around them - special linting, extra owner reviews required, etc
- Generate OpenAPI docs from the APIs and diff them ag

[2020-10-16 20:25] bobcatfish commented on #3345
If you have other ideas for the name this is the time! XD I'm not super in love with the name either but it's the clearest name we'd come up with so far. ("keepGoing"? XD)

I agree that the inconsistency is not great and a bit confusing :( Note that 1c with defaults would only help with resource dependencies on "results" - we've been talking about expressing dependencies on workspaces (and we stil

[2020-10-17 13:52] #3383 closed

[2020-10-17 13:52] phantooom commented on #3383
thx~ @sbwsg

[2020-10-17 15:20] cyberbliss commented on #3384
I built Tekton using go 1.15.2 on my Ubuntu 20.04 machine and that did, indeed, fix the issue I reported above.

[2020-10-17 22:12] sbwsg commented on #2119
Fixed in #3274

[2020-10-17 22:12] #2119 closed

[2020-10-17 22:12] sbwsg commented on #2119
Released in 0.17

[2020-10-18 21:07] alan-ghelardi opened #3404 "Allow scaling Tekton controllers horizontally"
### Feature request

According to the comments in this issue: https://github.com/knative/pkg/issues/1813 and to the changes introduced in this pull request: https://github.com/knative/pkg/pull/1301, Knative already supports scaling controllers horizontally. Is there some in progress initiative to add such capability to Tekton controllers?

### Use case

Scaling controllers, even in a fixed and som

[2020-10-19 02:38] gokula-krishna-dev commented on #3399
@sbwsg Noted and thank you for your response. I'll proceed with my setup. Also, I'll be waiting for the fix to be released :smile:

[2020-10-19 02:41] LiYa-Xu commented on #3378
Hi  all ,I am not sure I met a same issue. The e2e test case fails on case `TestTaskRunPipelineRunCancel`, I got message like
[code]

Then I checked the events from this e2e test namespces , seems the pod is still under `pending` status:

[code]
Can you help me?

[2020-10-19 07:38] vdemeester commented on #1797
Naive question, does the following work ?

[code]

Coupled with the `continueOnSkip` feature, this would be *the* way to skip temporarily a task in a pipeline. It's not a one-liner, but it would exist.

Anyway, I would like to gather samples on uses cases for this :angel:

[2020-10-19 08:07] vdemeester commented on #3384
I think 0.18.x will be released using Go 1.15. Before that, I don't see use do a minor release just to change the go version we used to compile the projects. I am honestly not sure what to do here. I don't have this issue on a 5.4.70 kernel for example. My feeling is that Ubuntu should, at some point, push a fix or a new kernel that would fix this.

[2020-10-19 08:31] cyberbliss commented on #3384
Fair enough. The process for building Tekton is straight-forward (kudos to those involved for making it so!) so this issue isn't a blocker. When is 0.18 likely to be released?

[2020-10-19 08:40] vdemeester commented on #3384
In about 3 to 4 weeks :wink:

[2020-10-19 10:40] adux6991 commented on #3362
Hi @bobcatfish, sorry for my impatience and the inappropriate act. Problem solved and thanks a lot for you and your colleagues' great work!

[2020-10-19 11:21] #3362 closed

[2020-10-19 12:21] sbwsg commented on #2974
/remove-lifecycle stale
/lifecycle frozen

[2020-10-19 15:39] afrittoli commented on #3324
Does this require an update to the minimum version?

[2020-10-19 15:42] afrittoli commented on #3237
Could already be fixed by #3319

[2020-10-19 16:02] Yannig commented on #3237
@afrittoli I will try to install the last version and keep you in touch.

[2020-10-19 16:09] jerop commented on #3345
we can discuss further in the API WG

added 2c for option with default results when continueAfterSkip defaults to false --> https://github.com/tektoncd/pipeline/issues/3345#issuecomment-709595309

I think you might have meant 2a (because 2b is the one with continueAfterSkip at PipelineRun level)

[2020-10-19 16:59] afrittoli commented on #2735
I think the only bits left on this are documentation and perhaps testing.
I targeted this v0.18.0 because the feature was in fact already in v0.17.1, but no docs about it.
/cc @qu1queee

[2020-10-19 18:42] raballew opened #3408 "Bump copyright year"
In general the guidance I've seen is to bump the year if you're touching the file. Bulk commits to update the year everywhere aren't great for history/blame tracking, but keeping it up to date is slightly better than not.

_Originally posted by @dlorenc in https://github.com/tektoncd/pipeline/pull/3391#discussion_r507724933_

[2020-10-20 07:14] hprateek43 opened #3411 "Fail to fetch logs for old PipelineRuns"
# Expected Behavior
Tekton pipelines should persistent the logs of old pipeline runs in the configured bucket.

# Actual Behavior
The logs for old pipeline is not available. When I try tp see the logs I get unable to fetch logs with the following message

[code]

# Steps to Reproduce the Problem

1. Deploy tekton and configure s3 bucket in us-east-1
2. Create a pipeline run
3. Delete the pods, the

[2020-10-20 08:43] vdemeester commented on #3237
This is on `master` only so far, it will automatically get picked by 0.18.0 release.

[2020-10-20 08:45] daviddyball commented on #3411
I believe this is by-design and not a bug, but I do wish that it _wasn't_.

Nodes are replaced all the time and `Pods` will come and go freely over the lifetime of a cluster... it'd be nice if there was still a way to grab the logs for previous `PipelineRuns`. I'm sure there's a possible issue here with the 1Mb limit etcd places on each K8s API object, so perhaps that's why it's the way it is at t

[2020-10-20 08:48] #3397 closed

[2020-10-20 08:52] jtama-op opened #3412 "Taskrun status incorrectly assigned"
# Expected Behavior

When a build-step is marked `waiting` with reason `CreateContainerConfigError`, it should be marked as failed, which would cause the whole pipeline to be marked as failed

# Actual Behavior

The build-step is waiting, the taskrun status is unknown and pipelinerun is forever in running state

# Steps to Reproduce the Problem

1. Run a pipeline with securityContext that uses kan

[2020-10-20 11:32] hprateek43 commented on #3411
Logs are not stored in etcd AFAIK, this can be a issue if tekton does not ship the logs to the configured S3 bucket/GCS bucket. Just want to confirm this behaviour. @bobcatfish Can you share your inputs ?

[2020-10-20 12:33] vdemeester commented on #3411
@daviddyball indeed, this is by design. Aggregating logs for Tekton workflows is similar to aggerating logs for any workload running in kubernetes.
The main question is, should Tekton provide a component to aggregate logs somewhere, or should we *just* rely on existing ones in the kubernetes ecosystem (loki, …) **and** document it / give some advice on them ? This is something that is "investigate

[2020-10-20 13:50] jlpettersson opened #3415 "ServiceAccountName in PipelineRun is not used in TaskRuns"
# Expected Behavior

That the serviceAccountName I set in a PipelineRun is used in the TaskRuns

# Actual Behavior

The specified serviceAccountName is **not** used, but the default is used.

# Steps to Reproduce the Problem

1. specify a custom serviceAccountName in PipelineRun.spec.ServiceAccountName
2. trigger a new run
3. verify what serviceAccountName was used in the pod

# Additional Info

-

[2020-10-20 14:00] jlpettersson opened #3416 "Support kubectl explain"
### Feature request

When working with yaml, it is hard to know all the fields, and it is cumbersome to find yaml in the doc. When working with kubernetes it is good to be able to use `kubectl explain <resource>` to understand the yaml structure.

This is not well supported for Tekton resources:

[code]
Would it be possible to improve on this?

### Use case

I would like to e.g. lookup how a `Pipe

[2020-10-20 14:12] vdemeester commented on #3416
@jlpettersson so my guess is #3173 would help, but it comes with a problem : our spec are huge, so having the openapi spec embedded in the CRD breaks the `kubectl apply` as it becomes an object too big for etcd :sweat_smile:

[2020-10-20 14:25] jlpettersson commented on #3415
There is actually the same problem with:

[code]

in the PipelineRun - specified in a `TriggerTemplate`.

[2020-10-20 16:13] bobcatfish commented on #1797
@vdemeester that would work - but again it would mean changing the Pipeline spec itself, and for the use cases I'm imagining (e.g. say a pipeline failed and you want to rerun just part of it, or @coryrc's case where you have one pipeline with several branches but you want to run them separately, or you're developing the pipeline and want to run only part of it as you work on it, or you're debuggin

[2020-10-20 16:30] bioball opened #3417 "Feature Request: Pooled PersistentVolumeClaims"
### Feature request

There should be a way to select a `PersistentVolumeClaim` from a pool as the workspace binding when creating `PipelineRun`s and `TaskRun`s.

Ideally, there should be a way to dynamically grow the pool size; if there are no PVC's available in the pool, a new one gets created dynamically and added to the pool. This implies that there should be some way to expire these PVC's as w

[2020-10-20 16:53] sbwsg commented on #3417
Worth noting that this feature request was also recently opened against Argo: https://github.com/argoproj/argo/issues/4130

I've tried searching for "kubernetes pvc pool" and "kubernetes storage pool" but haven't found anything.  I wonder if this would also be worth looking at as a platform feature and raising with the k8s team.

[2020-10-20 18:40] bioball commented on #3417
That makes sense. Perhaps the ideal solution would look something like Kubernetes having a new Resource representing a pooled PVC, and there being a workspace binding to the PipelineRun. Something like the following:

[code]

Without native k8s support for this, perhaps the other approach here could be either to introduce a new CRD managed by Tekton, or have a way to express a custom workspace bin

[2020-10-20 18:41] #3378 closed

[2020-10-20 18:51] sbwsg commented on #3417
This would be desirable for other use cases as well.  We've had requests to [support more Workspace types](#2272) for example, and this could be one way to do that.  It could also open the door to Workspace types that aren't Volume-backed, such as using GCS / S3 buckets instead.

[2020-10-20 19:08] jlpettersson commented on #3417
I agree with this. (from the slack thread).

Storage pooling for PVCs is what cloud providers already do for this, in the layer under PVC/PV.

[2020-10-21 03:38] jrcast commented on #1020
@pritidesai what do you think about adding a status field for the pipelinerun itself? That way we can easily check for the pipelinerun state as part of a _generic_ `finally` task which we can reuse across pipelines regardless of which tasks we reference. Maybe you can follow the "True", "False", "Unknown" approach as seen [here](https://tekton.dev/docs/pipelines/pipelineruns/#monitoring-execution-

[2020-10-21 05:17] pritidesai commented on #1020
hey @jrcast I am not sure how `pipelineRun` status can be helpful here? `finally` is part of the same run and `pipelineRun` status is set to `running` until the pipeline finishes execution i.e. until finishes executing `finally` tasks.

Also, I have [TEP](https://github.com/tektoncd/community/blob/108662a77fba2b2208cf849ba202e0a674c97a16/teps/0027-task-execution-status-at-runtime.md) created for t

[2020-10-21 05:37] pritidesai commented on #3345
Going with 1 would break backward compatibility with the way conditions were implemented and brining it up here since we have documented `when` expression replaces `conditions`. Folks with `conditions`  in their `pipelines` starting to migrate to `when` expression as its released with 0.16. Option 1, would break what we released in 0.16. Its great that we are not going that route.

[2020-10-21 07:55] vdemeester commented on #2984
/remove-lifecycle stale

[2020-10-21 08:24] vdemeester commented on #1797
@bobcatfish so the use case is then to "disable" a `Task` in a `Pipeline` *at runtime* (from a `PipelineRun`) — which is a bit different from the initial request.

[2020-10-21 10:46] daviddyball commented on #3411
@vdemeester I totally understand the feature-creep that could be encountered by trying to solve this problem, but the main issue is that the core `tkn` CLI errors if you try to fetch logs for pods that were removed, which feels broken.

I get that logging is quite a nebulous thing and there are already so many different options for this (Loki, ELK, Datadog etc.).... but in order for an operator to

[2020-10-21 11:08] Bl4d3s commented on #1023
@jerop I really could use the feature you implemented in the PR. is there any ETA when this will be merged?

My use case:
1. Unit and Integration-Tests are executed
2. Optional additional tasks if systemtests or similar need to be executed (guarded with when expression)
3. Task collecting all test results from workspace (has to be after 2. obviously, but is not dependent on it)

[2020-10-21 13:37] #3382 closed

[2020-10-21 14:32] vdemeester commented on #3415
@jlpettersson I can't reproduce this, at least not from the pipeline side. I wrote a test trying to replicate this and… it doesn't fail :sweat: See #3420

[2020-10-21 15:21] vdemeester commented on #3411
I completely agree :wink: There is definitely room for improvement in here, and, long-term, tools like `tkn` should work with getting logs from runs that do not have related pods anymore. Not sure yet how we would do this, but this is something that, I think, we need to support yes :+1:

[2020-10-21 16:33] itewk opened #3423 "Parameter substitution not working in ClusterTask.spec.steps.imagePullPolicy"
# Expected Behavior

This should work:

[code]

# Actual Behavior

Get the following error:

[code]

It would apear from the error that for some reason variable substitution is not happenin gin the `ClusterTask.spec.steps.imagePullPolicy` value. I would have assumed that could do variable substitution in anything under `ClusterTask.spec.steps.`

# Steps to Reproduce the Problem

1. Create a cluste

[2020-10-21 16:36] itewk commented on #3423
it would seem the problem has to do with kube trying to validate the resulting container spec before the variable substituion happens....

[2020-10-21 16:37] vdemeester commented on #3423
@itewk I think we do not support variable interpolation in `imagePullPolicy` yet :sweat_smile: This needs to be fixed indeed :angel:

[2020-10-21 16:39] itewk commented on #3423
@vdemeester is there a list somewhere of which paramters do support variable interpolation?

[2020-10-21 17:15] bioball commented on #3417
I'm definitely no expert of PV's. By the layer under PVC/PV's, are you referring to storage classes? And if so, how would this work? Are they able to provision stateful volumes? E.g. can I request a new PV that retains its file system from the last time I used it?

[2020-10-21 17:16] sbwsg commented on #3423
https://github.com/tektoncd/pipeline/blob/master/docs/variables.md#fields-that-accept-variable-substitutions should list all the places you can put variables at the moment.

[2020-10-21 17:21] afrittoli commented on #2725
@yaoxiaoqi are you still looking into this issue?

[2020-10-21 17:29] sbwsg commented on #2725
There's a TEP open at https://github.com/tektoncd/community/pull/239

[2020-10-21 17:58] spikeburton opened #3424 "Allow specification for sidecars with the e2e test runner other than `go-rest-api-test`"
### Feature request

I would like to be able to specify sidecar containers to run during end-to-end tests in the same pod as the Task. This could be either for a TaskRun or PipelineRun. Currently, I am only able to inject the `go-rest-api-test` mock API server as a sidecar.

### Use case

In addition to the `go-rest-api-test` service, I also would like to be able to spin up an SSH mock server duri

[2020-10-21 20:01] jerop commented on #3345
thank you everyone for participating in this discussion!

will continue forward with option 2a, where `continueAfterSkip` defaults to _false_ and users can set it to _true_ at the `PipelineTask` level to allow for executing of _ordering-dependent tasks_ only

as @bobcatfish mentioned, implementing 2a still leaves 2c as an option for the future such that, if we support default results in the future

[2020-10-21 20:23] jerop commented on #1023
@Bl4d3s we paused that work for a bit as we discussed some design choices and alternatives in https://github.com/tektoncd/pipeline/issues/3345 -- rebasing the pr now and planning to get it in before the v0.18 release

[2020-10-21 21:22] vdemeester commented on #3415
@jlpettersson should we close ? :thinking:

[2020-10-21 21:23] jlpettersson commented on #3415
Yes, we can close, and I can reopen if I can reproduce it.

[2020-10-21 22:13] pritidesai commented on #2557
@mbwhite can you please explain your use case in terms of what exactly being passed as a task result? is build failure causing task failure in your pipeline?

For communicating build success/failure, @mbwhite I have another feature being implemented `accessing execution status of a task`, would that be helpful?

* [TEP](https://github.com/tektoncd/community/pull/234)
* [PR](https://github.com/tekt

[2020-10-22 02:43] mattmoor opened #3429 "tekton e2e tests regressed against clusters with non-standard suffix"
# Expected Behavior

Bundle tests pass on clusters without `.cluster.local` suffix.

# Actual Behavior

Bundle tests do not pass on clusters without the default suffix.

[code]

# Steps to Reproduce the Problem

Start kind with a random suffix: https://github.com/mattmoor/mink/blob/eea5fcbfc387a5b40c2c7dd5769e085a2ac2e147/.github/workflows/minkind.yaml#L170

[2020-10-22 02:44] mattmoor commented on #3429
cc @pierretasci

[2020-10-22 08:04] jlpettersson commented on #3415
This is the resources I had:

The PipelineRun with `ServiceAccountName: pipeline-runner`
[code]

and the TaskRun, with `ServiceAccountName: default`
[code]

I was a bit surprised that this happened. But now I think it was the combination of some fields in `taskRunSpecs:` and `ServiceAccountName:` that caused this.

[2020-10-22 08:09] vdemeester commented on #3415
Oh, let's add this to the test to see, I'll re-open for now.

[2020-10-22 08:22] vdemeester commented on #3415
/assign

[2020-10-22 08:32] mbwhite commented on #2557
@pritidesai Hello.. here's the use case.

The pipeline is primarily aimed at testing: there are a few build tasks, then a number of test tasks. These run against cloud resources (provisioned at the start of pipeline).

The finally is there is clean up the cloud resources - and ideally I'd like to be able to report the success or failure of the various tasks.  Failure being more important as that m

[2020-10-22 08:38] vdemeester commented on #3415
@afrittoli @pritidesai @sbwsg Do we want this in 0.17.2 ? (My initial thought is yes)

[2020-10-22 08:56] yaoxiaoqi commented on #2725
Yes, I'm still working on this. There is a short TEP under reviewing as Scott says.

@sbwsg Thanks for providing the information!

[2020-10-22 08:58] pierretasci commented on #3429
Ah good catch. I can drop a new change really quick to fix this. Should just be a matter of removing the redundant suffix.

[2020-10-22 09:50] pierretasci commented on #3429
/assign

[2020-10-22 13:24] sbwsg opened #3435 "Custom Workspace Bindings"
### Feature request

Allow flexible, configurable support for Workspace Bindings with [currently unsupported volume types](https://github.com/tektoncd/pipeline/issues/2272), [provisioning styles](https://github.com/tektoncd/pipeline/issues/3417), and storage that doesn't manifest as k8s Volumes such as cloud storage buckets.

### Use case

As a Tekton operator I want to utilize a kind of storage t

[2020-10-22 13:53] sbwsg commented on #3415
@vdemeester It makes sense to me to include it in 0.17.2, yeah.

[2020-10-22 14:41] #3415 closed

[2020-10-22 16:47] bioball commented on #3435
Another really cool use-case that I think this addresses is to express artifact publishing as a workspace. For instance: "write your library to this workspace, and it will be published to Artifactory at that path when your build is complete"

[2020-10-22 16:59] verokarhu commented on #1020
Most of my pipelines are at least 5 tasks, there are a few that are over 10. Configuring a finally task for e.g. reporting build status would be complicated as it would have to take the result of each single task as an input. It would also have to be customised for each pipeline and if someone adds a task they need to remember to update the finally task.

I think the idea @jrcast presented is in t

[2020-10-22 18:41] bobcatfish commented on #1797
@vdemeester exactly! maybe it would make more sense to create a new issue and close this one?

[2020-10-22 18:52] skaegi commented on #2057
I have a concrete use-case for this now. We use a ClusterTask to do image builds that "needs" to run with Block storage. I am doing this with behind the scenes with volume and volumeDevices but would like to at least look at modelling in the Task as a workspace variation.

[2020-10-22 18:55] skaegi commented on #3417
I guess you could do some really clever re-use of PVCs but that is essentially re-doing what a storage provisioner does. It might even be possible to write a storage provisioner that re-uses another storage provisioner's PVs (or underlying storage) but I do not know of active work in that area but that could be cool ;)

In our world we solved the problem a little differently. We found that in our

[2020-10-22 18:56] alan-ghelardi commented on #3404
After looking carefully at Knative and Tekton's code base, it seems that Tekton already supports such feature. It's kinda obscure, but basically, I've followed these steps to have two controller instances running:
* Added the key `buckets`with the value `"2" to the config-leader-election.yaml file.
* Replaced the controller deployment with a statefulset.
* Increased the number of replicas to 2.
*

[2020-10-22 19:28] bobcatfish commented on #3245
Hey again @grebit !

Echoing what @vdemeester pointed out, I'm not sure how to repro this b/c like he said:

I tried to reproduce it with this task definition (slightly different from yours above but I think the same in the important areas):

[code]
I tried this with both the current HEAD commit (6d8f4513213a0a85f5164e0ed13b8a15c1839f89) and I tried v0.11.3 and both times I got:

[code]

I tried c

[2020-10-22 20:21] AlanGreene commented on #2533
/remove-lifecycle stale

[2020-10-22 20:28] bobcatfish commented on #2057
Thanks @skaegi !

/remove-lifecycle rotten

[2020-10-22 21:23] bobcatfish opened #3438 "Be able to use when expressions in finally Tasks"
### Feature request

To be able to combine [when expressions](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-task-execution-using-whenexpressions) with [task execution status](https://github.com/tektoncd/community/pull/234) in finally tasks to be able to express when you want actions to happen in the case of the failure of another Task (without having to modify the Task t

[2020-10-22 21:23] bobcatfish commented on #3438
@jerop @pritidesai  might be relevant to your interests! feel free to close if there is already an issue tracking this

[2020-10-22 21:28] ekupershlak opened #3439 "Failed TaskRuns should still report results"
# Expected Behavior
Results produced by failed steps should still be include in the task results.

# Actual Behavior
Results are present in the "message" field of the step, but not in the task results.

# Steps to Reproduce the Problem

1. Apply the following to a cluster with Tekton installed:

[code]

# Additional Info

- Kubernetes version:
[code]

- Tekton Pipeline version:
v0.17.1 (I first ra

[2020-10-22 21:33] jerop commented on #3438
this is something we've been discussing as next steps after execution status and task results are supported in finally tasks but don't have an issue to track afaik, thanks for opening this...will assign myself

/assign

[2020-10-22 22:32] jlpettersson opened #3440 "Provide a separate PipelineRun-volumeClaimTemplate, that can be mapped to multiple workspaces"
### Feature request

Improve usability when multiple workspaces share the same volume.

### Use case

It is a good practice for CI/CD pipelines to contain two git-repos, one for the _source code_ and one for the _configuration_ (ref [Continuous Delivery book](https://www.amazon.com/Continuous-Delivery-Deployment-Automation-Addison-Wesley/dp/0321601912/ref=sr_1_1?crid=3RAE8DS0DPY84&dchild=1))

This

[2020-10-23 03:35] docularxu commented on #856
I did a native Arm64 build of teckton/pipeline on Arm64 servers. Also, I had docker images built, everything is run and tested on Arm64. Is there anyway I can contribute my work to you?

The description of my work can be found [here](https://github.com/docularxu/jenkins-x-arm-support/tree/master/doc): Build tekton-v0.15.2 on Arm64.md

For the tests, I run a lighthouse+tekton pipeline.

[2020-10-23 08:50] vdemeester commented on #3439
@cc @pritidesai @bobcatfish @jerop

[2020-10-23 08:51] vdemeester commented on #3404
cc @mattmoor @ImJasonH

[2020-10-23 11:16] ImJasonH commented on #3404
Thanks for giving it a try! It sounds like we should document this in a section in install docs, so users who are interested in an HA setup can learn how to get one.

If we want to support this more thoroughly than just documentation, we could write e2e tests to check that killing a controller replica during PipelineRun execution doesn't cause problems, or even generate a HA install YAML that user

[2020-10-23 11:27] afrittoli commented on #3404
Documentation PR: https://github.com/tektoncd/pipeline/pull/3418

[2020-10-23 12:23] sbwsg commented on #3439
Could you go in to a bit more detail as to _why_ they should be included?  What's your use-case?  A failed Task may have failed because the data it generated was invalid.

[2020-10-23 12:56] alan-ghelardi commented on #3404
I'm testing in our production cluster and found at least one inconsistency. I ran `tkn -n pipelines p start clojure-service-pr --use-pipelinerun notification-pr-run-8hm88-wtjn9` to start a new pipelinerun using another one as the base. At the first time it worked as expected; a pipelinerun has been created with its taskruns. Once this pipelinerun completed, I re-ran the above command and at this t

[2020-10-23 13:30] skk2142 opened #3443 "Use secret values as parameters of a task"
### Feature request

Ability to read secrets in taskRun and use it as parameters for the task.

### Use case

I want to use a task like kaniko in the catalog to build image. I also need to use a secret token as a build arg. I should not be using that secret inside the task itself because it is only needed to certain images and defeats the purpose of build args.

[2020-10-23 13:59] alan-ghelardi commented on #3404
@afrittoli, about the pull request in question, the high availability mechanism that is being described there and the scalability that I'm referring to seem to be different although both depend on the leader election feature. When the statefulset based leader election is enabled, all instances remain active and as per my understanding, there is no way of enabling backup instances. Maybe @mattmoor

[2020-10-23 14:09] sbwsg commented on #3443
Thanks for the issue report. We have a Tekton Enhancement Proposal for exactly this kind of scenario: https://github.com/tektoncd/community/pull/225

What I'm proposing in https://github.com/tektoncd/community/pull/225 is to expose Workspaces to individual Steps / Images in a Task.  A Secret can then be safely mounted into that Workspace and will only be exposed to the single Step/Image.

At the m

[2020-10-23 14:48] mattmoor commented on #3404
There are two mechanisms available for scaling controllers horizontally via knative/pkg:
1. Using leader election, which allows for failover, but can result in hot-spotting.
2. Using StatefulSet ordinals, which doesn't allow for failover, but guarantees keys are evenly spread across replicas.

Anecdotally, github.com/mattmoor/mink has been running Tekton's controller scaled across 3 replicas using

[2020-10-23 15:13] dibyom opened #3444 "Nightly failing on TestReconcileValidDefaultWorkspace"
# Expected Behavior

Nightly should pass

# Actual Behavior
Nightly fails on the following unit test:

[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-db2dh?pipelineTask=unit-tests&step=unit-test&view=logs

[2020-10-23 16:10] sbwsg commented on #3444
hmm.  We can see the Default TaskRun Workspace Binding has been correctly updated (`DefaultTaskRunWorkspaceBinding:"emptyDir: {}"`):

[code]

I notice the timestamp (1603419159.1718261) translates to `2020-10-23T02:12:39` which is the same second that the store update messages are seen.  I wonder if this was a race?

Running the same test locally it passes on `master`. Hmmm.

[2020-10-23 16:48] #3444 closed

[2020-10-23 17:27] riceluxs1t opened #3446 "Cannot cancel a Tekton Pipeline that uses a Condition."
# Expected Behavior

`tkn pr cancel` should be able to cancel a Tekton Pipeline that has two or more Tasks and at least one Condition on a Task at any given time before the Pipeline completes.

# Actual Behavior

`tkn pr cancel` fails to cancel a Pipeline when its .status.taskRuns includes an entry for the Condition but the Condition has not been evaluated yet.

Further, `tkn pr list` shows the st

[2020-10-23 17:57] sbwsg commented on #2343
Something @bobcatfish raised today while we were talking about credentials is the idea of conformance and platforms conforming to the Tekton API.

In a world where creds-init is part of Tekton conformance it's very difficult to imagine a system being Tekton-compatible on anything but Kubernetes. This is down to the heavy reliance of creds-init on specific k8s concepts like Secrets, Annotations, Se

[2020-10-23 18:11] bobcatfish commented on #3446
Thanks for reporting this @riceluxs1t !

Hopefully we'll be able to get this resolved quickly, in the meantime, I want to draw your attention to the fact that [we have deprecated the Conditions CRD](https://github.com/tektoncd/pipeline/releases/tag/v0.16.0) in favor of [when expressions](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-task-execution-using-whenexpressions).

[2020-10-23 18:23] jerop commented on #3038
/assign

[2020-10-23 19:49] riceluxs1t commented on #3446
@bobcatfish

Hi Christie. We are currently running Tekton 0.14.2 which doesn't yet support when expressions. We certainly plan to migrate to a version >= 0.16.0 which introduces when expressions.

I will test a similar pipeline that uses a when expression instead and see if cancellation happens as expected :)

[2020-10-23 20:48] riceluxs1t commented on #3446
A when expression-based same pipeline doesn't seem to have the issue. Does a when expression execute in a TaskRun? If not, I don't think it has the same issue.

[code]

[2020-10-23 21:58] skk2142 commented on #3443
Thank you. This makes sense and is more secure way to doing things. In my case, I want to build an image using kaniko using secret build args which come from environment variables or passed as string (which is not safe as you mentioned). If I mount a volume/workspace with the secrets in it, I could not find a way to populate the environment variables from a volume. It has to be either a configmap

[2020-10-24 22:12] mattmoor opened #3449 "Intermittent timeout_test flake"
# Expected Behavior

PipelineRun failed with `PipelineRunTimeout`

# Actual Behavior

PipelineRun failed with `Failed`:
[code]

# Steps to Reproduce the Problem

This is an intermittent flake, though I see it several times a day in the continuous build.

# Additional Info

This snapshot from the resource dump highlights the discrepancy:

[code]

I wanted to open this in the hope of getting more ey

[2020-10-24 22:28] mattmoor commented on #3449
Wait is the PipelineRun's timeout handler maybe racing with its own propagation of the TaskRun's failure status? 🤔

[2020-10-25 01:25] evyros opened #3450 "Creating a PipelineRun with Go code"
Hi :)
I'm trying to create a PipelineRun programatically with Go code.
I followed the [tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) and created a task, pipeline and a pipelinerun.
Now I want to create another PipelineRun for an existing pipeline. So I have this:

[code]

What is the **recommended way** to send it to Tekton / k8s?
Is there such a way at all? I couldn

[2020-10-26 10:26] chmouel opened #3452 "Pipeline release.notags.yaml would not install on OpenShift"
# Expected Behavior

Be able to install `release.notags.yaml` on OpenShift

# Actual Behavior

[code]

# Steps to Reproduce the Problem

Trying to install the .release.notags.yaml on OpenShift (which is the release.yaml that needs to be used for openshift) would fail due of the runAsUser "forcing".

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

Latest as of

[2020-10-26 10:37] vdemeester commented on #3452
Both `release.yaml` or `release.notags.yaml` share the same problem.

We need to either:
- do a `release.openshift.yaml` that removes the `runAsUser`
- document how to install on OpenShift (either a `sed` or `anyuid`)

[2020-10-26 10:41] chmouel commented on #3452
The red hat openshift-tekton team (us :-)) provides a mid-stream release which let's pipeline release.yaml install on  openshift to this url :

https://github.com/openshift/tektoncd-pipeline/blob/release-v${version}/openshift/release/tektoncd-pipeline-v${version}.yaml

i.e:

https://github.com/openshift/tektoncd-pipeline/blob/release-v0.17.1/openshift/release/tektoncd-pipeline-v0.17.1.yaml

it doe

[2020-10-26 10:53] #3320 closed

[2020-10-26 11:56] ibotty commented on #2591
I want to add the following use case that might be included above, but I want to make it clear, that that's an important part for our CI/CD.

Say, we have a task that is used in many pipelines.  That task has a concurrency limit.  It would be great to honor that limit across concurrent pipelineruns.

[2020-10-26 13:22] sbwsg commented on #1131
/remove-lifecycle stale
/lifecycle frozen

Open TEP: https://github.com/tektoncd/community/pull/191

[2020-10-26 13:25] itewk commented on #3423
@sbwsg sweet. I guess this should be changed to an RFE then?

[2020-10-26 13:27] sbwsg commented on #3423
/kind feature
/remove-kind bug

[2020-10-26 13:39] sbwsg commented on #3443
@skk2142 are you in control of the Task?  If you want to write a Task that accepts a Secret and uses it for an env var in only one Step/Image today you could do it like this:

[code]

The way to do this would be to use file redirection into an env var:

[code]

[2020-10-26 14:36] sbwsg opened #3457 "Remove creds-init binary from Pipelines builds"
### Change Request

We still build a binary called creds-init even though it's no longer used by any of our pipeline or taskrun code. This Issue addresses the removal of the `cmd/creds-init` directory along with any associated build steps / tasks / params.

It looks like the phrase "creds-init" appears in the following places:

[code]

So all these should be updated.

[2020-10-26 14:54] skk2142 commented on #3443
Thank you, this is what I ended up doing.

[2020-10-26 16:27] sbwsg opened #3458 "Document current best practice for avoiding script injection with variable substitution"
## Change Request

In [TEP 17](https://github.com/tektoncd/community/pull/208) @coryrc documented a way to prevent script injection when substituting variables in, for example, `script` fields of Steps.

The approach is to do something like this:

[code]

### What To Do

Make a PR to Tekton's official docs that shows this approach along with a description of how/why this mitigates the risk of scri

[2020-10-26 16:33] ekupershlak commented on #3439
I'm using Tekton for execution, though the user-facing abstraction has no notion of Tekton concepts. When execution fails, I need to provide some details about this failure.

I would like to store details about the failure in a result and then interrogate it when retreiving the PipelineRun.

The only alternative I can think of is to access the logs directly, but this is undesirable. Having the use

[2020-10-26 17:06] pritidesai commented on #3439
yup I agree and would be great to provide a way to communicate failure logs which are otherwise just limited to the pod its running in.

We have been having lot of discussion around task results in finally and task results without results, please feel free to leave a comment and voice your opinion:

https://github.com/tektoncd/community/pull/240
https://docs.google.com/document/d/1tV1LgPOINnmlDV-o

[2020-10-26 17:36] sbwsg commented on #2977
/remove-lifecycle stale

[2020-10-26 17:47] skaegi opened #3459 "Support Kubernetes style feature-gates for new API fields"
Some of the Tekton objects are now "beta" and hopeful "stable" in the not too distant future. When doing work in the API WG we should not be immediately graduating any new fields added to "beta" or whatever degree of stability the CRD currently is. Instead we should provide a mechanism for them to go through some sort of Alpha state until we're sure they work well.

The alternative is that we'll b

[2020-10-26 17:52] sbwsg commented on #3221
@bharathvenkatrajan just wanted to check in here: did you ever manage to resolve this problem?  Were you able to figure out if there were indeed encoding issues or another root cause?

[2020-10-26 18:05] pritidesai commented on #1020
@verokarhu, the idea @jrcast presented about reading the `pipelineRun` status does not work since when the `finally` tasks are starting to execute, the `pipelineRun` status would be still `running` not `succeeded` or `failed` as `pipelineRun` status also includes status from `finally` tasks and not considered completed/done until `finally` tasks finish executing i.e. `pipelineRun` status does not

[2020-10-26 18:07] pritidesai commented on #1020
Also, the overall idea here is to include these context variables as by default available instead of explicitly mapping in future.

[2020-10-26 18:54] mattmoor opened #3460 "TestPipelineRunTimeout is flaky"
# Expected Behavior

TestPipelineRunTimeout consistently passes with the properly observed failure mode.

# Actual Behavior

TestPipelineRunTimeout often observes a "Failed" status on the PipelineRun(!!!).

# Steps to Reproduce the Problem

Run the test a lot.

I will post my analysis here shortly, as I believe I know WHY this is happening.

[2020-10-26 18:57] mattmoor commented on #3449
I already started opening another issue when I realized I'd opened this...  🙃

[2020-10-26 18:57] #3449 closed

[2020-10-26 19:05] mattmoor commented on #3460
Every so often this test will fail with:
[code]

The setup is a task that sleeps for 10s and a pipeline that has a 5s timeout:
https://github.com/tektoncd/pipeline/blob/adc4cfa733af86874017d07459cc5ad62bf82bd3/test/v1alpha1/timeout_test.go#L49-L61

This check expects the "Reason" to be "PipelineRunTimeout":
https://github.com/tektoncd/pipeline/blob/adc4cfa733af86874017d07459cc5ad62bf82bd3/test/v1a

[2020-10-26 19:08] mattmoor commented on #3460
Generally this means that any PipelineRun specifying a Timeout may simple show up as Failed due to this race.

I think that my $0.02 on the appropriate "fix" would be that the PipelineRun's "StartTime" should never be greater than the "StartTime" of its constituent TaskRuns.  This should guarantee that any copied-down timeout never manifests this way.

cc @vdemeester @afrittoli @ImJasonH @bobcatfi

[2020-10-26 19:12] mattmoor commented on #3460
Sorry, I should mention that the first bit of yaml is actually a dump from a prior run that I lifted from my older bug that this replaces.  So don't try to rationalize it with the later "diffs".

The complete run for the latest failure (that I debugged) was here: https://github.com/mattmoor/mink/runs/1305814401?check_suite_focus=true#step:17:58

[2020-10-26 19:28] mattmoor commented on #3460
I think that this is derived from state informer caches and the retry logic for updating status that we have.

On a subsequent reconciliation of the PipelineRun (+1s) from the stale uninitialized version, we re-InitializeConditions, which resets StartTime, but a prior reconciliation had already created the TaskRuns (likely what triggered us to be reconciled).

The diff for this status update looks

[2020-10-26 19:55] jrcast commented on #1020
I think the aggregate results of _all_ tasks would do the trick. If all tasks are, let's say, `suceeded`, then  `$(context.pipelineRun.Tasks.status)` should be `succeeded` right?. If one of the tasks is `failed` then the aggregate should be `failed`. I think something like this would still allow to reuse the finally task regardless of the pipeline in question without having to write and maintain s

[2020-10-26 21:09] pritidesai commented on #1020
Yes and as the variable says `tasks`, this does not include any of the `finally` tasks.

I will think of alternate name to avoid any confusion, otherwise, this sounds good.

[2020-10-26 21:53] bharathvenkatrajan commented on #3221
@sbwsg apologies for the late reply. I tried to debug more but was still getting the same error. So i switched to http auth.

[2020-10-27 13:10] sbwsg commented on #3440
Your final example with the PipelineRun spec `volumeClaimTemplate` looks very similar to this, which is supported today:

[code]

I think the one major difference here would be that the `volumeClaimTemplate` has an owner reference to the pipelinerun and will be deleted with it. But there may be other advantages too?

I have a bit of concern about adding a kubernetes-specific field to the top-level

[2020-10-28 10:15] vdemeester commented on #3459
Interesting extract of the doc
---
An API change is considered compatible if it:

   * adds new functionality that is not required for correct behavior (e.g.,
does not add a new required field)
   * does not change existing semantics, including:
     * the semantic meaning of default values *and behavior*
     * interpretation of existing API types, fields, and values
     * which fields are requi

[2020-10-28 10:32] vdemeester commented on #3459
About "*Adding Unstable Features to Stable Versions*", there is 2 options described in the document

### Alpha field in existing API version

The preferred approach adds an alpha field to the existing object, and ensures it is disabled by default:

It **has to be** `+optional` and `omitempty`.

Before persisting the object to storage, clear disabled alpha fields on create, and on update if the exi

[2020-10-28 15:10] Fabian-K opened #3465 "PipelineRun emitting task results that were never produced"
Hi,

we have a task that emits a result and a pipeline that propagates the task result using (https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#emitting-results-from-a-pipeline). In case the task failed, the PipelineRun contains the pipelineResult with the template string as a value, in this example `$(tasks.print-date.results.current-date-unix-timestamp)`

[code]

IMO this is une

[2020-10-28 15:26] sbwsg commented on #3465
Yeah I agree, this should be viewed as a bug and behaviour should match that of TaskRuns.  We haven't specified the scenario in [our docs](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#emitting-results-from-a-pipeline) when a failure occurs so I think we should go ahead and make the behaviour match between PipelineRun <-> TaskRun.

/kind bug

[2020-10-28 17:00] sbwsg commented on #3439
I dunno.  I feel like we've jumped the gun a bit.  I definitely see the value in returning some information about the failure of a Task.  I'm not convinced that a Task Result is the absolutely only way we could tackle this tho.  Here's an alternative:  we add a new field to a TaskRun's status (e.g. `taskRun.status.failureReason`) that gets populated from a `/tekton/failure-reason` file that a Step

[2020-10-28 17:00] bobcatfish commented on #999
I'm thinking we want to keep this open, since it covers an important use case. However I do wonder about where this feature belongs, esp. as we seem to be moving to relying more on the catalog for specific provider integrations 🤔  Triggers has GitHub awareness via interceptors but even that is being updated to be pluggable and not built in.

[2020-10-28 17:02] ekupershlak commented on #3439
Having a consistent way to populate a failure reason would be great.

[2020-10-28 17:45] itewk opened #3466 "add ability to set "displayName" for Pipeline tasks"
### Feature request

Currently when a pipeline is rendered in the UI the `Pipeline.tasks.*.name` is used in the UI. The problem is that field has character requirments on it designed for a machine so it can be used for other params like `runAfter`. This means that the pipelines are not very human readable in the UI.

### Use case

For instance when converting a pipeline from Jenkins to Tekton. had

[2020-10-28 18:29] dibyom commented on #3450
/kind question

[2020-10-28 18:35] dibyom commented on #3450
You can use the generated pipeline go client to create the resource: https://pkg.go.dev/github.com/tektoncd/pipeline@v0.17.0/pkg/client/clientset/versioned/typed/pipeline/v1beta1#PipelineRunInterface

example from our e2e tests: https://github.com/tektoncd/pipeline/blob/0df5c32e3b473b11fb91c9f5b7c2ea7f39630d0e/test/clients.go#L68

Another good place to ask these type of questions would be in our S

[2020-10-28 19:06] veggiemonk opened #3467 "Add NFS to VolumeSources in workspaces"
Hi,

Nice work on the API design and the naming of things.
Coming from Cloud Build (GCP) it seems more verbose but also gives more control.
Kudos for that 😄

I would like to use an NFS drive to share among tasks. VolumeSources seems like the correct place for that. Correct me if this is a wrong assumption.

I saw the comment in the documentation to open an issue in case I wanted more type supporte

[2020-10-28 19:32] sbwsg commented on #3467
You may be able to do this today using a Persistent Volume and volumeClaimTemplate.  Does the following work for you:

[code]

[2020-10-28 19:33] sbwsg commented on #3467
/kind feature

[2020-10-28 19:40] wlynch commented on #999
I can look into cleaning up my PoC and add it somewhere in experimental.

I think between my GitHub App PoC, commit-status-tracker, and the possible (? - not sure where this landed) cloud events notification controller, I think there's a pattern here of that might benefit from a common framework to help other integrations get bootstrapped for responding to Tekton events. 🤔  (I won't worry about th

[2020-10-28 20:37] itewk opened #3468 "allow more complex when conditions, minimally regex"
### Feature request

currently the `when` statement that replaced the `Condition` CRD only has the ability to check if a given string is in a list of other strings. This is limiting.

Need the ability to at the least do pattern matching, ex, regex.

### Use case

Transitioning from a Jenkins pipeline to a Tekton pipeline. In Jenkins have when condition on steps to check the branch and compare it a

[2020-10-28 22:37] chmouel commented on #999
FYI maybe that would be useful for others, we have this task in the catalog
https://github.com/tektoncd/catalog/tree/master/task/github-app-token/0.1
to help the user getting a token from a github app private key. The user
would usually plug this in its pipeline and use the resulted token for
subsequent github api request.

[2020-10-29 02:41] scott-kawaguchi commented on #3317
@fx2y is correct I had same issue look for your clusters master's ingress firewall rule in the console it looks like this.
`gke-my-cluster-13e19556-master | Ingress | gke-my-cluster-13e19556-node | IP ranges: 172.16.X.X/28 | tcp:10250,443,15017,8443 | Allow | 1000 | default | Off`
add 8443

[2020-10-29 03:57] jerop commented on #3468
For now, you could possibly solve your use case by creating a `Task` that compares a _branch_ `Param` against a _pattern_ `Param` and produces a `Result` indicating whether it _matches_....then use that `Result` in `WhenExpressions` to guard the subsequent `Tasks`

Separately, one alternative for supporting regex matching in `WhenExpressions` is by adding another `Operator` (maybe `Matches`) inste

[2020-10-29 04:01] BenTheElder commented on #3273
Once https://github.com/containerd/containerd/pull/4669 (I'm carrying forward https://github.com/containerd/cri/pull/1397 after the repo merge and Lantao moving on) lands this will fail on future kind clusters.

[2020-10-29 11:30] itewk commented on #3468
@jerop thanks for the work around idea. I will give it a try and report back. and I like the new operator idea.

[2020-10-29 14:48] sdaschner commented on #3202
@mhaddon I had a similar issue, which I believed to be connected to that Argo prunes the resources it doesn't know about.

My reasoning was that Argo should ignore these "dynamic" resource types, i.e. pipelineruns & taskruns.

I achieve that by configuring the Argo `default` project to ignore the runs:

[code]

Then, they aren't taken into account, also not for comparing the sync status.

See http

[2020-10-29 17:50] dbazhal commented on #1876
na-ah, please don't
/remove-lifecycle stale

[2020-10-29 18:49] jsimao71 commented on #1876
@dbazhal can you plese clarify why you think cluster support for pipelines is not a good idea?! Thanks!
Personally..I find really bad pipelines can not be installed at cluster level like task.
For exemple, if you create a simple but very common and useful pipeline with two task to git clone  and build with maven and push image, this limitation of tekton implies that the pipeline needs to be instal

[2020-10-29 18:50] dbazhal commented on #1876
wat :) i was talking to bot that tried to stale issue.

[2020-10-29 22:39] jlpettersson commented on #3052
This looks cool @vincent-pli
What is the next step? Can I help?

We should probably imitate the logic of the Affinity Assistant in a scheduler and add it to the experimental repository. So that we eventually can replace the Affinity Assistant with the scheduler.

[2020-10-30 02:00] rakhbari commented on #1281
@afrittoli Do you have any idea when pipelines code base will pick up this change in knative.dev/pkg so that these parameters can be externally configured?

[2020-10-30 02:07] zhangtbj commented on #1281
As I know the QPS, Burst and Thread can be configured since new Tekton `0.17.0` release:
https://github.com/tektoncd/pipeline/releases/tag/v0.17.0

- Make DefaultThreadsPerController, QPS and Burst configurable via flags (#3156)

[2020-10-30 02:14] zhangtbj commented on #1876
Yes, Our service leverages Tekton a lot.

And our service is not used for personal user, it is a multiple tenant case, it means we provide some shared Tekton tasks as ClusterTask, so that each namespace user can share or use them.

So it is the same case for Cluster scope pipeline. Such as for a common CI/CD or build relate processes.

[2020-10-30 02:37] vincent-pli commented on #3052
@jlpettersson @ImJasonH
I think we can add it to the experimental repository firstly then make some further discussion for further implements.
I'm glad to create a PR for it if needed.

[2020-10-30 02:43] ImJasonH commented on #3052
That would be great, I'd be happy to do any reviews and approve any PRs to add it to experimental. If we decide to try to move it into Tekton core we'd need a TEP, but it sounds like it should be usable without that in the near term at least.

Thanks!

[2020-10-30 02:55] vincent-pli commented on #3052
Great, let's add it to the experimental firstly.

[2020-10-30 02:59] pritidesai commented on #2989
/remove-lifecycle stale

[2020-10-30 09:02] dbazhal commented on #1876
We are currently compelled to copy each pipeline into user namespace to execute :D
That kinda says something about importance of cluster-scoped pipelines :)
I think feature importance is not an issue, there must be some trouble with adding this functionality. I'd like to help but i don't know how

[2020-10-30 12:29] jstrachan opened #3476 "reuse Tasks inside the same Pod?"
### Feature request

is there any way to create a Pipeline with multiple Tasks so that it uses the same Pod? Effectively combining multiple Tasks into a single effective Task?

Currently each Task creates a separate Pod which then means you need to create a PVC and workspace to share content between the Tasks.

### Use case

I've been looking at migrating the [Jenkins X Pipeline Catalog](https://j

[2020-10-30 13:24] sbwsg commented on #3476
Definitely worth worrying about!  We've had reports from users on Slack that, for example, their org doesn't allow them to allocate storage, which prevents them from using Pipelines + Workspaces almost entirely.  We've also seen similar feedback that writing a Pipeline just for 2 relatively simple tasks (encompassing only 2 steps as in your example) is onerous / too labor-intensive.

I think a big

[2020-10-30 13:39] jstrachan commented on #3476
@sbwsg thanks for the heads up! let me read up on the [PipelineResources redesign](https://github.com/tektoncd/pipeline/issues/1673). I might have a little experiment with a source code transformation for a little while.

Incidentally I really love the [tekton bundles](https://github.com/tektoncd/pipeline/blob/8f5feedb95f71b7dc5a6cb247ea1e3e8fdff7191/docs/taskruns.md#tekton-bundles) approach. It w

[2020-10-30 16:30] bobcatfish commented on #1876
Hey all!

I think it is likely we'll be moving away from cluster scoped resources ( not sure if @vdemeester and others might disagree) as we add more support for [tekton bundles](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#tekton-bundles) (more tools and support coming soon!)

The idea is that there are a lot of limitations to referring to Tasks and Pipelines in the cluster

[2020-10-30 16:43] dbazhal commented on #1876
Aw. Talking about solving concrete problem - absence of reusable pipelines mechanism - how soon could it be done? Wouldn't it be faster to add cluster-scoped pipelines first, and then calm and move to bright future with bundles?) (namespaced pipelines hurt really much)

[2020-10-30 16:47] bobcatfish commented on #1876
I think you can start using it today but I don't know what the mechanics of that look like b/c I think you'd have to create the Bundle by hand? Not 100% sure but I think @ImJasonH @vdemeester know more

[2020-10-30 18:30] veggiemonk commented on #3467
Hi @sbwsg

I tried what you suggested. Thanks a lot for providing the example.

The issue is I got was all the PVC got stuck in "Pending" and the message from `kubectl describe pod XXX` yields "pod has unbound PersistentVolumeClaims". I could not understand why.

Found a simple way:

[code]

The main difference is that every pod has access to the whole disk.

[2020-10-30 18:48] jlpettersson commented on #3476
I was exploring some of these ideas in https://github.com/tektoncd/pipeline/issues/2586
Sometimes I feel that it would be very tempting to run the whole PipelineRun within a single Pod. In #2586 the idea was that since the tasks needed to share a volume, it could be done within a Pod - or all pods should be scheduled to the same Node - to allow for parallel execution.

In discussions around that i

[2020-11-02 07:12] koceg opened #3480 "task has failed: more than one PersistentVolumeClaim is bound"
# Expected Behavior
the task to execute from pipelineRun as it executes from taskRun

# Actual Behavior
task backup-prometheus-snapshot has failed: more than one PersistentVolumeClaim is bound
pod for taskrun prometheus-snapshot-run-8cdnx-backup-prometheus-snapshot-fpcgx not available yet
Tasks Completed: 2 (Failed: 1, Cancelled 0), Skipped: 0

# Steps to Reproduce the Problem
[code]

# Additional

[2020-11-02 09:32] xiujuan95 commented on #2735
@afrittoli Now, I am using `0.17.1` tekton release. Yes, it has supported leader election. But there has another problem I find.
I deploy three tekton-pipeline-controller pod:
[code]
And I checked the log of each pod and found `tekton-pipelines-controller-58c8868475-t2mcv` is the leader.

Next, I will verify if leader election can work well. So I delete the leader `tekton-pipelines-controller-58c8

[2020-11-02 09:42] afrittoli commented on #2735
The HA setup is an active/active one:
- the reconcile queue is sharded into multiple buckets
- each reconciler is leader for one bucket only
- if a reconcile fails, the content of its bucket is divided across the remaining reconcilers

[2020-11-02 09:57] vdemeester commented on #1876
This is the case (https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#specifying-the-target-pipeline). You can use "reference" to tekton bundles in PipelineRun, Pipeline and TaskRun :wink:

That said, I do not think we should move away from cluster scoped resources, and the more I think about, the more I don't see why we wouldn't have `ClusterPipeline`.

If you think this is real

[2020-11-02 09:58] vdemeester commented on #1876
You can use [`oci`](https://github.com/tektoncd/experimental/tree/master/oci) for now, until we integrate this more into "official" tooling.

[2020-11-02 09:59] xiujuan95 commented on #2735
@afrittoli I see. So at the same time, it's possible that two leaders which are responsible for two different buckets are handling two different reconcilers, right?

[2020-11-02 10:00] vdemeester commented on #3049
/remove-lifecycle stale

[2020-11-02 10:17] afrittoli commented on #2735
Yep, exactly.
@mattmoor in case you want to add something

[2020-11-02 10:23] vdemeester opened #3481 "ssh cred validation is wrong with disable-home-env=true"
In case of the following `feature-flags` configmap, mainly `disable-home-env-overwrite` to true, the `git-clone` task (aka `pkg/git`) fails to clone.

[code]

The main reason seems to be *how* we try to detect if there is a ssh credential or not. Right now we do check if there is a `$HOME/.ssh` folder. With `disable-home-env-overwrite` we do not overwrite `$HOME` env anymore, and thus we have *no*

[2020-11-02 10:48] afrittoli commented on #2800
@skaegi I believe this would partly help with your use case of failing tests that should not fail a pipeline :)

[2020-11-02 11:27] zeromsi opened #3483 "Need an example of mentioning my docker host in a task."

[2020-11-02 12:30] jlpettersson commented on #3480
[code]

Could these two workspaces use the same PersistentVolumeClaim? I see one of them is using a `subPath`, could the other use another `subPath` of the same PVC? It does not work well to use two PVCs in the same Task, if you only use a single datacenter, it should work if you disable the [affinit assistant](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml#L32)

[2020-11-02 13:03] ppitonak commented on #3166
@vdemeester can you comment if it's even feasible to implement and if it would be useful. Is there any other way how to implement this use-case?

[2020-11-02 13:16] koceg commented on #3480
The requirement for the Task itself is to save the snapshot to some other remote location, and the subPath is used to simplify my logic in the Task that is execute. And yes currently the setup is with different Availability Zones.
I've tested the same logic on
`Kubernetes Version: v1.18.3+2fbd7c7`
`Tekton Pipeline version: v0.11.3`
and initially it was failing almost the same.
With exception of lo

[2020-11-02 13:26] #3481 closed

[2020-11-02 13:45] sbwsg commented on #2815
Failed again last night (https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-wpbpz?pipelineTask=unit-tests&step=unit-test):

[code]

[2020-11-02 14:39] soulseen opened #3487 "can not sharing data among Tasks when use PersistentVolumeClaim volumes within a Pipeline"
# Expected Behavior
The data can be shared among Tasks when using PersistentVolumeClaim volumes within a Pipeline
# Actual Behavior
Task A input the git resource to the workspace, and Task B used the same workspace and run after Task A, but It can get any source code in the workspace that Task B pod.
# Steps to Reproduce the Problem

1. create the following PipelineResource
[code]
2. create Task A

[2020-11-02 14:47] vdemeester commented on #3487
@soulseen this is to be expected, at least for 0.17.2 and before. PipelineResource and workspace are not magically compatible. You can't *mount* a workspace at the same path where the git `PipelineResource` does its clone, it's not supposed to work. Instead of using the git `PipelineResource` in the Task A, you should use the [`git-clone`](https://github.com/tektoncd/catalog/tree/master/task/git-c

[2020-11-02 14:50] jlpettersson commented on #3480
I think your use case is interesting, but also challenging. In this case, you need to disable the affinity assistant, and you also need to make sure that your PVCs are in the same Availability Zone, how this can be done depends on your storage system. Is there a way to set Zones for your PVs ? Or at least, enforce so that all Pods that use those PVCs are always scheduled to the same zone?

The [Vo

[2020-11-02 16:37] dibyom commented on #1839
Closing since #2395 was merged.

/close

[2020-11-02 16:37] #1839 closed

[2020-11-02 16:38] dibyom commented on #3133
Ref: https://github.com/tektoncd/pipeline/pull/3463

[2020-11-02 16:43] dibyom commented on #1250
We need to publish the generated OpenAPI specs to the website.

[2020-11-02 16:46] dibyom commented on #2815
/kind bug

[2020-11-02 16:46] afrittoli commented on #1250
https://github.com/tektoncd/website/issues/194

[2020-11-02 16:51] afrittoli commented on #2735
@xiujuan95 would you be happy to close this one now?

[2020-11-02 17:02] bobcatfish commented on #3335
Opened https://github.com/knative/pkg/issues/1883 in knative/pkg

One weird thing is that our docs for pipelines 0.16.3 seem to indicate you need kubernetes 0.16 (https://github.com/tektoncd/pipeline/blob/v0.16.3/docs/install.md#before-you-begin) but the error looks like it's checking for 0.15 🤔

[2020-11-02 17:21] c5haw commented on #3317
That's brilliant. Thanks for that. I suspected something like this was the case, but could not work out where the firewall rule needed updating.

[2020-11-02 18:04] qu1queee commented on #2735
@xiujuan95 I will provide you more insights on the behaviour internally in IBM, there is a document from Knative around this. Sorry for not sharing this earlier.

[2020-11-02 21:34] pritidesai commented on #1020
@vdemeester this is the use case I was referring to about accessing aggregate execution status of all `tasks` in `finally.

[2020-11-02 21:42] #3345 closed

[2020-11-03 02:30] soulseen commented on #3487
what's the difference between using the `PipelineResource` and `git-clone`?  using `PipelineResource ` looks like also running a container to action git clone code.

[2020-11-03 05:51] xiujuan95 commented on #2735
@afrittoli Yes, I think we can close this issue, now. Thanks!

[2020-11-03 06:27] zhangtbj commented on #924
Hi @cmoulliard or @markusthoemmes ,

I am not sure do you have any update about this issue?

We also have this kind of requirement that we want to upload some local folder to a Tekton task to build the related container image.

Is there a new InputResource for that or any new solution for that?

Or can we know how to do about the the project `odo` above ^^

Thanks!

[2020-11-03 06:43] xiujuan95 commented on #2735
@afrittoli Sorry, just for confirming.

I went through `tekton-pipeline-webhook`'s code, I found webhook was executing same logic with controller:
webhook is calling `WebhookMainWithConfig `: https://github.com/tektoncd/pipeline/blob/v0.17.1/cmd/webhook/main.go#L216, and `MainWithConfig ` is assigning value to `WebhookMainWithConfig`: https://github.com/tektoncd/pipeline/blob/v0.17.1/vendor/knativ

[2020-11-03 06:57] xiujuan95 commented on #3111
Hi, @ywluogg any updates about adding livenss/readiness probes for controller?

[2020-11-03 06:59] xiujuan95 commented on #2842
Any ideas about this issue?

[2020-11-03 08:12] koceg commented on #3480
@jlpettersson I want to thank you for pointing out affinity assistant after disabling it on the initial cluster where I started testing everything worked. The backup storage that I use is zone independent and does not pose any problem as it allows RWX access mode. I'm closing this as it's not really a bug but lack of understanding on my side.

[2020-11-03 08:12] #3480 closed

[2020-11-03 09:35] vdemeester commented on #3487
`PipelineResource` are deprecated (meaning still in alpha, not supported), and possibly being re-desigend. Also `PipelineResource` are adding "containers" to the specified Task pods, whereas using the `git-clone` task is a full-fledge task :upside_down_face:.

[2020-11-03 12:58] soulseen commented on #3487
okay, thanks for your answer, and I will close this issue.

[2020-11-03 12:58] #3487 closed

[2020-11-03 13:28] vdemeester commented on #3335
This is because @hprateek43 is using the `KUBERNETES_MIN_VERSION` to override the version (as documented in the error message if you are running on 1.15). The problem is that setting `KUBERNETES_MIN_VERSION=1.15.11` fails because EKS provides a slightly different version scheme that doesn't seem compatible with what `knative/pkg` uses for checking the version

[2020-11-03 13:29] vdemeester commented on #3335
Looking at knative/pkg#1883, in order to fix this error @hprateek43 you should use `KUBERNETES_MIN_VERSION=1.15.11-0` :sweat_smile:

[2020-11-03 13:47] vdemeester commented on #3166
@ppitonak doesn't the follow work ?

[code]

If it doesn't work, I feel it should (and thus this would be consider a bug or a feature request) :sweat_smile:

[2020-11-03 14:04] jerop commented on #3483
@zeromsi here's one example:
https://github.com/tektoncd/pipeline/blob/50212455bfaa22165a887104e3f6f6c862a4213c/examples/v1beta1/taskruns/dind-sidecar.yaml#L1-L65

/kind question

[2020-11-03 14:59] #2791 closed

[2020-11-03 15:29] bobcatfish commented on #3423
Hey @rinckm and all,

I want to explore this a bit before we add it since it seems to me like ImagePullPolicy is a very k8s specific thing and while we do add k8s specific stuff into our API I want to make sure we really need to before we do (https://github.com/tektoncd/community/blob/master/design-principles.md#conformance)

@vdemeester it sounds like you think we SHOULD replace this - do we repl

[2020-11-03 15:43] vdemeester commented on #3423
I would say, yes and no (on `imagePullPolicy` being "k8s specific stuff"). The field itself is k8s specific but the "feature" is more than k8s specific. It is tied to any container runtime (aka what should the runtime do in case of the image is present in its cache or not, …) and could probably be part of the conformance / api spec.

The variable interpolation is *selective* and I am pretty sure w

[2020-11-03 15:43] bobcatfish opened #3490 "Support Tekton "Bundles" stored in Git repos"
### Feature request

Via https://github.com/tektoncd/pipeline/issues/1839 we now support referencing versioned Tasks and Pipelines in OCI registries (https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#tekton-bundles).

As highlighted in [@ImJasonH 's early design doc](https://docs.google.com/document/d/1zUVrIbGZh2R9dawKQ9Hm1Cx3GevKIfOcRO3fFLdmBDc/edit#heading=h.tp9mko2koenr) this o

[2020-11-03 15:44] vdemeester commented on #3423
@bobcatfish See [`container_replacements.go`](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/container_replacements.go) for what we support in variable interpolation.

[2020-11-03 15:45] vdemeester commented on #3490
"Support Tekton "Bundles" stored in Git repos" should probably renamed to "Support TaskRef/PipelineRef to refer to Git repos" instead :wink:

[2020-11-03 15:46] vdemeester commented on #3490
@bobcatfish Which then is a duplicates from https://github.com/tektoncd/pipeline/issues/2298 :stuck_out_tongue_closed_eyes:

[2020-11-03 15:47] bobcatfish commented on #3423
Is it possible to understand the use case a bit more where you need to use this value inside your Tasks @rinckm? (Want to make sure there isn't some other feature we could provide instead that would solve your problem even better)

[2020-11-03 15:48] bobcatfish commented on #3490
hahaha that's how much I like this feature!

[2020-11-03 15:48] #3490 closed

[2020-11-03 15:49] bobcatfish commented on #2298
Added some more detail to the description of this after I accidentally made a duplicate XD

[2020-11-03 15:55] itewk commented on #3423
@bobcatfish my use case is being able to control at runtime when calling a pipeline whether to used the cached images or pull the latest. This comes in most handy when doing intigration testing of the workflow itself and testing with updated task container images.

This is likley a crazy ask, that i am guessing has already been discussed somewhere, but why isn't there variable substitution in ever

[2020-11-03 15:56] rinckm commented on #3423
I want to allow that a user of the Task can specify the image and the corresponding imagePullPolicy.
If the user specifies a released image he may want to use the imagePullPolicy 'IfNotPresent' to speed up things.
If the user specifies a image with tag 'latest' he may want to use the imagePullPolicy 'Always' to really get the latest version.

[2020-11-03 16:24] vdemeester commented on #2298
So there is one thing that worries me is that, it *would* open the door for a lot of "ways" to reference definitions.
- For example, why do we support `git` and not mercurial, or darcs, or other vcs ?
- Them, why not supporting `http`/`https` references, `ftp`, `ssh`, `<insert-your-protocol>`, … ? (aka where do we start, where do we end)
- Do we need to have some *extension* mechanism here to supp

[2020-11-03 16:43] #3045 closed

[2020-11-03 20:17] veggiemonk commented on #3467
Hi @sbwsg

I still would like to have a workspace with NFS. The use case I have is to share a build cache among pipelineruns. Basically to decouple the lifetime of the workspace from the lifetime of the pipelinerun.

Does that make sense?
What is the way forward ? Can I make a PR ? join a meeting ? 😄

Highly appreciated

[2020-11-03 23:47] popcor255 commented on #1288
/reopen

[2020-11-03 23:47] popcor255 commented on #1288
sorry, this is moving slowly.

[2020-11-03 23:49] popcor255 commented on #1288
/remove-lifecycle rotten

[2020-11-04 14:35] jsimao71 commented on #1876
Thanks for the update and discussion @vdemeester.
As you point out, I think this thread shows clearly that lots of people in the community think this is a great idea.
This simplifies life for first time users  --- which can really on high-level tools or clusters pre-setup by an admin). And also saves possible duplicate installs across namespaces, which is wasteful at best and a pain to maintain an

[2020-11-04 15:01] zeromsi commented on #3483
hey @jerop thank you!

[2020-11-04 15:02] sbwsg commented on #3467
I have just tested this against Filestore and was able to get it working. For the `Pending` issue I recommend trying again with a new `PersistentVolume` object and looking at its `state` when you submit the `TaskRun`.

I noticed that creating a new `PersistentVolume` is required for every `TaskRun`.  The PersistentVolume starts out in `Available` state then moves to `Bound` when the TaskRun execut

[2020-11-04 15:17] sbwsg commented on #3435
In https://github.com/tektoncd/pipeline/issues/3467 a user is requesting NFS support in Tekton Workspace Bindings.  I've tested this locally against Filestore.  It works but it's more labor intensive than it ideally should be because a new `PersistentVolume` has to be created for every single TaskRun. [`nfs` volumes do not support dynamic provisioning out of the box with kubernetes](https://kubern

[2020-11-04 16:25] jerop commented on #3109
I prefer the `from` option as well, and agree with @sbwsg that it shouldn't be a variable but I think we don't even need the dot-notation in `from`. I explored some alternatives and found that we can solve this using `from` that references the `pipelinetask` that we expect to operate on that workspace before the current `pipelinetask` -- the syntax would look like:

[code]

I implemented a poc for

[2020-11-04 16:51] bobcatfish opened #3497 "Tasks that claim to emit results but don't should fail"
# Expected Behavior

If I create a Task which claims to emit a result, but it doesn't, the TaskRun should fail, i.e. I should be able to rely on the interface a Task claims to provide.

# Actual Behavior

This will only be considered a failure if something in the Pipeline tries to use the result; if nothing tries to use the result, there will be no error, but if something does try to use the resul

[2020-11-04 16:55] sbwsg commented on #3497
FYI in https://github.com/tektoncd/pipeline/pull/3472 we're removing the behaviour where a PipelineRun is put into a failed state due to a Task dropping a result.  Feedback welcome!

[2020-11-04 16:59] pritidesai commented on #3497
thanks @bobcatfish, https://github.com/tektoncd/pipeline/issues/2701 has some discussion as well

[2020-11-04 17:17] bobcatfish commented on #3459
Related proposal in kubebuilder to add support for feature gates as part of their controller framework: https://github.com/kubernetes-sigs/kubebuilder/issues/849

[2020-11-04 18:20] sbwsg commented on #3109
[code]

I think this approach makes sense. It simplifies the field to its core purpose of specifying the resource dependency without any of the variable-looking stuff.  lgtm!

[2020-11-04 19:20] pritidesai commented on #3305
Hey @vdemeester I am moving this out of `0.18` (to `0.19`) as per our discussion in the General WG, "moving bundle behind a feature flag give that its still in `alpha`"

[2020-11-04 21:10] #3111 closed

[2020-11-04 21:10] bobcatfish commented on #3423
Thanks for explaining your use cases @itewk and @rinckm , that makes perfect sense to me! I also looked at your examples more closely and I had this backwards 🤦‍♀️  - I thought we were adding a variable that allows you to _grab the ImagePullPolicy that was already set_ (e.g. something like "echo $(steps.imagePullPolicy)") but now i understand you want to SET the ImagePullPolicy at runtime which ma

[2020-11-04 21:15] bobcatfish commented on #3423
This is maybe different than what you're asking for but it also kinda sounds like you might want to be able to specify a [step template](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-a-step-template) at runtime 🤔  I was hoping that [podTemplate](https://github.com/tektoncd/pipeline/blob/master/docs/podtemplates.md) would let you set the ImagePullPolicy at runtime but it

[2020-11-04 22:08] bobcatfish commented on #3109
I also prefer `from` but I'd like to introduce a couple other thoughts in case they change your opinion @jerop @sbwsg :

1. We chose _not_ to use `from` with results <-- slightly different because in that case we NEED variable interpolation and here we don't
2. The only other place we have `from` is with pipelineresources - https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#using-t

[2020-11-04 22:29] bobcatfish commented on #2701
@pritidesai looking at this more closely would you say this is a duplicate of #3497? It sounds like this issue is about trying to add more validation around expectations for Task results?

[2020-11-04 23:34] pritidesai commented on #2701
This issue is about documenting and implementing the expected behavior in cases such as `TaskResultsNotProduced` i.e.  a task must fail if the result is not populated (same as issue #3497),  and `InvalidTaskResultReference` which was implemented with PR #2538.

`MissingTaskResultReference` is something not discussed much but does not warrant any changes in pipeline. A task is allowed to produce a

[2020-11-04 23:34] #2701 closed

[2020-11-04 23:40] freefood89 commented on #3206
I'm getting the same issue on GKE. I manage tekton pipelines in GKE using fluxcd to automate, and this issue is causing fluxcd to fail.

GKE Version: 1.17.9-gke.1504
Pipelines version: v0.17.3
FluxCD: 1.21.0 -- Kubectl: 1.18.9 (fluxctl), Kustomize 3.8.4

[code]

However, I am able to manually create these pipelines from my laptop using kustomize and kubectl. These Pipelines have no problem running

[2020-11-04 23:51] pritidesai commented on #2735
@afrittoli please help verify this, thanks 🙏

[2020-11-05 04:51] mattmoor commented on #2905
Alrighty, so this is the root cause of at least some of the timeout_test flakes I have been chasing.

From a recent failure's logstream:
[code]

Looking at the log line from the timeout handler a bit closer...  This log statement is prior to calling the callback to enqueue a taskrun that we expect to fail with a timeout, and this test sets a 30s timeout, so the start time should be `03:38:09`, but

[2020-11-05 05:17] mattmoor commented on #2905
I really think that the bulk of this logic could simply be handled by something along the lines of this `defer` (in `taskrun.go`):

[code]

There is some logic around backoff that is probably better rationalized in terms of changes to how "StartTime" is set (since if there are pod creation errors, it hasn't really started to effect timeout handling IMO).

PipelineRun could probably get away with s

[2020-11-05 09:22] #3386 closed

[2020-11-05 12:08] rbaumgar opened #3498 "example/pipelinerun: Error: InvalidImageName"
# Expected Behavior
try to run the example examples/v1beta1/pipelineruns/pipelinerun.yaml on OpenShift 4.5

# Actual Behavior

Failed to apply default image tag "**ko://github.com/tektoncd/pipeline/cmd/git-init**": couldn't parse image reference "ko://github.com/tektoncd/pipeline/cmd/git-init": invalid reference format
Error: InvalidImageName

# Steps to Reproduce the Problem

1. Install OpenShift

[2020-11-05 12:16] vdemeester commented on #3498
@rbaumgar yeah, that's the *problem* of use running `examples` as part of CI. We should probably move the samples that uses the specific `ko://` scheme elsewhere :sweat_smile:.
The current workaround would be to replace  `ko://github.com/tektoncd/pipeline/cmd/git-init` with the latest released image for it, aka `gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:v0.17.3`

/cc @afritt

[2020-11-05 13:09] rbaumgar commented on #3498
sweat_smile Task: kanico is also affected.

[2020-11-05 13:12] sbwsg opened #3499 "Add earlier validation of pipeline result references"
### Feature request

At the moment we fail a PipelineRun with `InvalidTaskResultReference` when we're scheduling the next TaskRuns to execute.  This can happen after some tasks in the pipeline have already executed, which takes time.  It should be possible to inspect all referenced Tasks before a PipelineRun starts and confirm that any references to Task Results from variables in the Pipeline are

[2020-11-05 15:15] ppitonak commented on #3166
In my scenario, I don't care how volumeMount is named but I did try your version (and updated podTemplate in pipeline run, too). It failed to create pod with message like this:
[code]

My original version produces events like this:
[code]

[2020-11-05 15:20] kpiwko commented on #3166
Not sure how this is related but assuming that core case here is to store some secrets as the outcome of pipeline run and reuse them later in the another task, I wonder whether that functionality does not already exist in ACM?

[2020-11-05 16:36] vdemeester commented on #3050
/remove-lifecycle stale

[2020-11-05 16:37] ywluogg commented on #1586
/close

[2020-11-05 16:37] #1586 closed

[2020-11-05 16:38] ywluogg commented on #3303
/close

[2020-11-05 16:38] #3303 closed

[2020-11-05 17:29] sbwsg commented on #3109
I'm trying to come up with use-cases that could lean on a precise mapping from one pipeline task's workspace to another's but I'm struggling to think of any.  The edge in the DAG between the two tasks remains the same regardless of which of the two tasks' `WorkspacePipelineTaskBindings` are connected by their intent.

[2020-11-05 18:13] #2327 closed

[2020-11-05 18:41] vdemeester commented on #3076
/remove-lifecycle stale

[2020-11-05 19:24] freefood89 commented on #3206
Deleting pipelines with `finally` made the errors go away and adding them back brought the errors back.

What could be explicitly requesting v1alpha1 versions of Pipeline and other resources? `kubectl get pipelines.v1alpha1.tekton.dev` seems to trigger successful conversions (level=info logs) for pipelines without `finally`.

Deleting the pipelines with `finally` also reduced the spam (level=info

[2020-11-05 23:31] freefood89 commented on #3206
Oops. Looks like I didn't add much that's new to the thread. Here are some things that I haven't seen in the thread yet..

- Deleting each of the controller and webhook pods as well as the dashboard pod didn't seem to reduce the conversions
- Deleting my own operators didn't help
- Temporarily deleting version v1alpha1 from the Pipeline CRD stopped the logs but didn't seem to cause errors in the c

[2020-11-05 23:53] pritidesai commented on #3206
thanks @freefood89 I am trying to troubleshoot this without much conversion/version knowledge 😞

Yes, the webhook logs has `desiredAPIVersion` set to `v1alpha1` for all resources which I guess is causing issue, I am not 100% sure.

Pipeline CRDs have listed two versions, `v1alpha1` and `v1beta1`, but `v1alpha1` is served but storage is set to `false` and `v1beta1` does not have any setting for `se

[2020-11-05 23:58] freefood89 commented on #3206
@pritidesai I learned that actually `b1veta1` in the CRD is whatever `v1alpha1` is with:
[code]
as overrides. Apparently that's what `&version` with `<<: *version` does. Didn't know yaml had these capabilities

[2020-11-06 00:01] pritidesai commented on #3206
aah, crazy, but then is `desiredAPIVersion` playing any role here? Why is it set to `v1alpha1` (according to webhook logs)? 🤔

[2020-11-06 00:03] freefood89 commented on #3206
So whenever you get resources from k8s the api is called with the resource:

`GET /apis/GROUP/VERSION/namespaces/NAMESPACE/RESOURCETYPE/NAME`

I'm guessing that's where the desiredVersion comes from (???) I was able to replicate it with `kubectl get pipelines.v1alpha1.tekton.dev` where k8s will call the conversion webhook to convert my v1beta1 pipelines to v1alpha1

[2020-11-06 00:09] freefood89 commented on #3206
I'm starting to suspect that maybe the conversion webhook service is calling itself seeing as errors are increasing calls to itself. I'll be running delve to step through the code after taking a break.. How are others debugging this?

If this doesn't turn up answers I have no idea what's causing this.

[2020-11-06 00:35] pritidesai commented on #3206
not sure, how others debugging this. I am literally updating CRDs/code and installing `pipeline` with every change to make sure nothing else mocking with it 😱

[2020-11-06 01:01] pritidesai commented on #3206
Even when I am creating a pipeline/task with `v1beta1`, the same pipeline is created for both versions:

[code]

`v1alpha1` was created first, its age is 20 seconds whereas `v1beta1` was created later, its age is 12 seconds. Same happens with `tasks`.

`v1beta1` Pipeline converted to `v1alpha1`:

[code]

`v1beta1` version of that pipeline:

[code]

[2020-11-06 01:06] pritidesai commented on #3206
`v1alpha1` pipeline is also getting converted to `v1beta1` 😱  with same `resourceVersion` and `uid`.

[code]

[2020-11-06 01:53] freefood89 commented on #3206
It should only be stored as v1beta1. I think it's converting when you request it as `v1alpha1` or `v1beta1`... right?

[2020-11-06 02:26] pritidesai commented on #3206
nope, i didnt explicitly request that particular pipeline, just listing `v1alpha1` pipelines with `kubectl get pipelines.v1alpha1.tekton.dev` shows that pipeline as well. Unless, the listing command is implicitly converting pipelines which sounds weird.

[2020-11-06 07:13] vdemeester commented on #3206
Yeah, that's what should happens, when you list `pipelines.v1alpha1.tekton.dev`, it will get whatever is stored and convert it "on-the-fly" in a v1alpha1 version if it can.

The "age" difference in the listing feels weird though…

[2020-11-06 07:30] pritidesai commented on #1250
hey @afrittoli is there anything outstanding from pipeline perspective with API Spec? this is part of 0.18 and checking what is left with this feature 🙏

[2020-11-06 08:24] afrittoli commented on #1250
The missing bit is publishing it to the website.
tektoncd/website#194

I've been working on it but I don't think it'll be ready today. I'll try to finish in time.

[2020-11-06 08:50] freefood89 commented on #3206
I think the age difference is probably the time difference between the first and second `kubectl get`.

BTW, for now I've decided to just patch away `v1alpha` altogether from the CRD (I use kustomize). This way k8s will just prevent requests that trigger the conversion webhook mentioned above since `v1alpha1` no longer exists. It's kind of brute force, but I don't intend to support `v1alpha1` nor

[2020-11-06 09:42] #3317 closed

[2020-11-06 11:08] pc-tradelab opened #3504 "workspace is not deleted at the end of the pipelineRun"
Hello,

I would to delete the workspace ( ie the underlying PVC ) at the end of my pipelines. However between pipelines, the same volume seems to be reused. I tried this in my pipelineRun :
[code]

but persistentVolumeReclaimPolicy is not recognised :

How can I delete the workspace at each end of my pipelineRuns without creating my own pvc and attaching it to pipelineRun?

[2020-11-06 12:34] ImJasonH commented on #3021
This is happening again/still: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/3494/pull-tekton-pipeline-integration-tests/1324621677065146370/

[code]

[2020-11-06 13:03] ImJasonH commented on #3021
/remove-lifecycle stale

[2020-11-06 14:02] jlpettersson commented on #3504
The currently best alternative for this is to use https://github.com/tektoncd/experimental/tree/master/pipeline/cleanup to cleanup PipelineRuns.

There are work/ideas to export run history to a repository - that also would take care of cleanup responsibility - but nothing ready yet, as what I know.

[2020-11-06 14:25] ImJasonH commented on #3429
I think this is closed now.

[2020-11-06 14:25] #3429 closed

[2020-11-06 14:26] #3310 closed

[2020-11-06 14:46] mattmoor commented on #3429
Yep!  I removed my downstream workaround, so I'll let y'all know if it regresses again 😉

[2020-11-06 14:57] vdemeester commented on #3206
@freefood89 :hugs: Yeah I need to dig deeper into this. I have yet to understand why the webhook or controller would go on his own to ask a `v1alpha1` or a conversion… I might miss something obvious in code…

[2020-11-06 16:08] pritidesai commented on #3206
The age difference is really weird, I could be related to `kubectl get` but I am having hard time understanding since I am creating a `pipeline` in `v1beta1` and listing `v1beta1` before `v1alpha1`. Based on the age of 20 seconds, the `pipeline` was first created in `v1alpha1` followed by `v1beta1` (12 seconds old), unless the age is itself broken 😆

[code]

[2020-11-06 16:17] vdemeester commented on #3206
@pritidesai because it's too commands, it make sense that those "age" are different. The would also be different if you ask twice the same resource version :wink:

[2020-11-06 16:49] pritidesai commented on #1250
thank you @afrittoli 🙏

[2020-11-06 17:36] pritidesai commented on #1250
this is being tracked in [tektoncd/website#117](https://github.com/tektoncd/website/issues/117)

[2020-11-06 17:55] pritidesai commented on #3237
This should be fixed with 0.18 (releasing on 11/9), moving it to 0.19 so that it can be verified with 0.18

[2020-11-06 18:02] Yannig commented on #3237
Not a big issue. I have a workaround for the moment :)

[2020-11-06 18:06] freefood89 commented on #3206
Do you think it's reconciliation? I wrote my operator using kopf and there's an option to periodically make sure the resources are in the right state.

[2020-11-09 06:55] vdemeester commented on #2217
/remove-lifecycle stale

[2020-11-09 07:00] vdemeester commented on #2986
/remove-lifecycle stale

[2020-11-09 09:16] piyush-garg commented on #1606
I will prefer the way of having an `e2e` field in the pod template. Benefits are

1. We can specify a global level default
2. We can override default at taskrun and pipelinerun level by specifying in spec.
3. It requires fewer code changes as most fo the logic for the pod template is there to merge/override

[2020-11-09 14:49] itewk opened #3509 ".ssh/* files do not have expected/required permissions when copied into custom home dir"
# Expected Behavior
When the .ssh/* files are copied into the home dir of the runAsUser of the container they should have the expected standard .ssh file permissions

# Actual Behavior

[code]

And because the permissions on `.ssh/config` are not 644 I get an error from git about about permissions on that file.

# Steps to Reproduce the Problem

1. have a TaskRun using a custom UID and custom home

[2020-11-09 15:22] JPEWdev commented on #3401
FWIW, I would really like this feature also. I currently am working on pipelines that use local storage for the PVC to optimize build times, which means I have to manually go in and delete pipelineRuns to release volume claims and prevent them all from being claimed since there are only a small number of local volumes attached.

[2020-11-09 16:53] #2905 closed

[2020-11-09 17:14] JPEWdev commented on #2134
I also would really like support for running pipelines inside of pipelines. This is really useful for the case were you want some "super pipeline" that runs different variants of the same sub pipeline with different arguments (i.e. like a matrix/parameterized build from most other CI systems), provided that it can run all the sub-pipelines in parallel with different workspaces.

[2020-11-09 17:19] JPEWdev commented on #2134
Also I would like to point out that it would only *really* be useful if the subpipelines could be scheduled on different nodes. My (limited) understanding of tekton is that this might be difficult if the parent pipeline has to specify the workspace

[2020-11-09 17:54] dbazhal commented on #2134
agreed. Work with workspaces is sometimes pain, double pain if super-pipeline can't create ws, so Super-pipeline runs 1) task to create ws 2) each sub-pipeline with passing it workspace as argument 3) has to finish with task that deleted ws.

Also, i dont know how it could be done, but it would be better to aggregate sub-pipelines bodies into single pipelinerun. Creating separate pipeline run for

[2020-11-09 18:08] itewk opened #3510 "sometimes next Task in Pipeline will start before previous Task completes causing PVC/PV permisison issues"
# Expected Behavior
When having sequential Tasks in a Pipeline that all use the same PVC/PV created via `volumeClaimTemplate` definitions in a TriggerTemplate I would expect that by the time a Task starts running all previous Task's Pods have fully termininated. If not, then the shared PVC/PV when mounted into the follow on Task will not have write permissions if stuck using RWO PVCs.

# Actual Be

[2020-11-09 20:56] bobcatfish commented on #2134
Quick update from my side: I am (at least!) very strongly in favor of this feature: I think it solves a lot of problems we have around expressing more complex error handling without adding a lot of complication to our API.

Theoretically it could - the coupling to custom tasks is more about the fact that custom tasks make this really easy to prototype; and make it so folks can start using Pipeline

[2020-11-09 23:35] jlpettersson commented on #3510
I'm not sure I understand the issue here.

Both Tasks/Pods will have write permissions. The RWO means that the PV can be mounted only at a Node in writable mode at a time - multiple Pods on that Node can write to the volume. The example [Parallel Tasks using PVC](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-with-parallel-tasks-using-pvc.yaml) shows two

[2020-11-10 06:40] Letty5411 commented on #2828
I'd prefer both task and pipeline granularity mutex.

[2020-11-10 07:50] Letty5411 commented on #2828
Hi @pritidesai , is there any update about this issue? Thanks :)

[2020-11-10 08:12] Vstural opened #3512 "unit test build failed: t.Cleanup undefined"
# Expected Behavior

expect build success/test passed

# Actual Behavior

[code]

# Steps to Reproduce the Problem

run `go test ./...`
or see [build log](https://tekton-releases.appspot.com/build/tekton-prow/logs/post-tekton-pipeline-go-coverage/1325933069860868096/?log#log)

- Tekton Pipeline version:

master branch

consider upgrade go version to go 1.14 and run `go mod vendor`?

[2020-11-10 08:24] vdemeester commented on #2973
/remove-lifecycle stale

[2020-11-10 08:57] vdemeester commented on #3512
@Vstural right, we need to update the coverage image.
/assign

[2020-11-10 10:22] vdemeester commented on #2610
/remove-lifecycle stale

[2020-11-10 13:33] itewk commented on #3510
I'm not 100% sure on my cause analysis other then I know that indeterminately a pipeline run will fail due to an inconsistent step failing due to `Permission denied` errors when writing to the workspace that is mounted to the home dir.

[2020-11-10 13:43] itewk commented on #3510
like i just added the following to the begining of my ClusterTask (that gets used multiple times in the same Pipeline with different input params).

[code]

and on random steps will get:

[code]

where the ClusterTask has a worksapce of
[code]

and that workspace is mapped to a PVC/PV created via `volumeClaimTemplate`

[2020-11-10 13:43] itewk commented on #3510
i wasn't having these issues pre upgrade to 1.2. i had to upgrade to 1.2 to get ahold of the `when` statement

[2020-11-10 14:17] itewk commented on #3510
some more info:

updated task to run this first:
[code]

Pipeline:
* Task N -> Task N+1

# Task N
/bin/sh: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
DEBUG
uid=1001(tssc) gid=0(root) groups=0(root),1001
tssc
total 4
drwxr-xr-x. 1 root root 18 Oct 23 17:40 .
drwxr-xr-x. 1 root root 37 Nov 10 14:14 ..
drwxrwsr-x. 7 root 1001 4096 Nov 10 14:14 tssc
total 36
drwxrwsr-x. 7 root 1001

[2020-11-10 14:29] bobcatfish commented on #2298
That's a good question - I think we'd have to choose which to support.

My current thought is that we start with git support and add others as people ask for them. Usually I've tried to prioritize making things like this pluggable; do we feel like that's important here? I feel like version control is so fundamental to CI/CD use cases that it's reasonable to have some built in version control suppo

[2020-11-10 14:40] itewk commented on #3510
okay. i have learned new things.

[code]

for ClusterTasks with multiple steps Tekton seems to be spinning up duplicate pods both with both containers, one for each step.

when i caught the task in the sleep and looked at the running pods, there were two pods running both with the same two step containers in them.

[2020-11-10 14:46] itewk commented on #3510
actully, its not limtied to Tasks with multipel steps. my pipeline is running one long run Task at the moment and look at the output from `oc pods -o wide`

[code]

[2020-11-10 14:58] vdemeester commented on #2298
Some questions : Is the use of `tektoncd/pipeline` limited to version control ? the current answer is definitively no. Should it ? I would answer no here too, tektoncd/pipeline should be as *less* opiniated as it can in terms of "where data comes from and where it goes".

I am talking about engineering effort, and usage/interface (user experience, verbosity, …), not on fetching resources, it's an