[2019-05-29 23:34] bobcatfish commented on #932
Whoops! One sec :D (#530 can't come quickly enough... :sweat_smile: )

[2019-05-29 23:37] bobcatfish commented on #932
Okay [should be up now with the v0.4.0 release!](https://github.com/tektoncd/pipeline/releases/tag/v0.4.0) Sorry about that and thanks for the quick report @khrisrichardson :D :heart::heart::heart:

[2019-05-29 23:38] khrisrichardson commented on #932
Sweet. Thanks @bobcatfish for all the awesomeness

[2019-05-29 23:38] bobcatfish commented on #932
p.s. I am a big fan of your emoji use in the report, especially the skillful deployment of the sad cat emoji :crying_cat_face:

[2019-05-30 00:15] #792 closed

[2019-05-30 00:23] bobcatfish commented on #792
Thanks @u5surf !! :tada: :heart: :tada:

[2019-05-30 05:42] mikeykhalil commented on #627
This issue ended up being a bit more complex than we originally had thought.

Seems like there are some more involved design decisions that would have to be made in order to correctly validate variables at task creation time.

Feel free to follow the discussion on this PR for more details:

https://github.com/tektoncd/pipeline/pull/765

[2019-05-30 06:53] vdemeester commented on #932
/close

[2019-05-30 06:53] #932 closed

[2019-05-30 10:16] #915 closed

[2019-05-30 11:36] chmouel commented on #907
/kind question

[2019-05-30 17:02] bobcatfish commented on #235
@ndeloof's https://github.com/ndeloof/kitten could be a super promising answer to part of this :D

[2019-05-30 17:31] bobcatfish commented on #907
I'm gonna close this PR for now but feel free to re-open and/or open more issues if we should discuss further. Thanks @emichaf !

[2019-05-30 17:31] #907 closed

[2019-05-30 18:09] bobcatfish commented on #836
@vincent-pli what kind of action would cause the PipelineRun to un-suspend?

[2019-05-30 18:11] bobcatfish commented on #898
We should definitely document one or more of the current solutions!

[2019-05-30 18:34] bobcatfish commented on #899
@cmoulliard where are you running kubernetes when you see this and what version are you running? (And are you sure the error persists? I've seen this error pop up for a while before while the PVC is being created)

[2019-05-30 18:34] bobcatfish commented on #896
Sounds good to me!

[2019-05-30 18:36] bobcatfish commented on #890
@vdemeester you have any insight into this error? :innocent:

[2019-05-30 18:40] bobcatfish commented on #885
Makes sense @cmoulliard - that's an interesting use case. I think for local registries / images we might want to have some other top level solution to this (related to #235 maybe).

[2019-05-30 20:11] #898 closed

[2019-05-30 21:43] sarnaudova commented on #929
@bobcatfish thank you for your suggestions it was really helpful. I started deleting all the objects that I have previously created in my cluster- Tasks, TaskRuns, Pipeline, Pipelineruns, PipelineResources, but I was still seeing the same error. Then I decided to create a new cluster + install the latest tekton (pre-released v0.4.0) - still the same error. Then after looking into the pipeline spec

[2019-05-30 21:58] bobcatfish commented on #929
Oh great! I'm glad you got it working @sarnaudova !! :D

Is there any chance you could paste in the `Pipeline` definition that _does_ work? Looking at your Pipeline it still seems like it _should_ work - the order of the sections _shouldn't_ matter :crossed_fingers:  (I wonder if there was an indentation issue?)

[2019-05-30 22:55] sarnaudova commented on #929
@bobcatfish below is the working version of the pipeline. I am not really sure why this one works, but it does :)

[code]

[2019-05-31 13:57] mustafaakin opened #937 "Tekton Creates PVC unnecessarily if volumes are defined"
# Expected Behavior

I have task with no inputs or outputs. It should not have any PVCs.

# Actual Behavior

But a PVC is created if the Task spec has volumes in it.

# Steps to Reproduce the Problem

[code]

[code]

# Additional Info

tekton 0.4

[2019-05-31 17:13] jonjohnsonjr commented on #917
This is possible if you aren't already specifying a namespace, see my comment here: https://github.com/google/go-containerregistry/issues/295

I'd use `ko` in conjunction with another tool, like kustomize or even sed:
[code]

[2019-05-31 23:15] bobcatfish commented on #937
I see the same thing:

[code]

[2019-06-03 09:18] vdemeester commented on #890
@cmoulliard `buildah` needs `privileged` for now (in `SecurityContext`) (or needs enviroment variable to be set-up `BUILDAH_ISOLATION=chroot`, and `STORAGE_DRIVER=vfs`). We are working on that with the runtime team, but, anyway this has nothing to do with Tekton, it's a `buildah`+containers issue.

/close

[2019-06-03 09:18] #890 closed

[2019-06-03 18:12] pmorie opened #941 "Current API allows users to place escalating information into PipelineResource"
Currently, we allow users to put escalating information (tokens, basic auth pw) into the `PipelineResource` API resource; we should avoid this:

- Cluster administrators expect secret information to be confined to the `Secret` resource and write RBAC policies accordingly
- If you have read access to the `PipelineResource` API resource, you can potentially learn secret information by reading the co

[2019-06-03 18:17] emichaf commented on #907
Hi again,
Wirh Argo ci you can specify workflows with steps, also different gateways exist (rest, amqp..) to trigger workflows, build steps are executed in containers.possible to handle input/output in steps with different artifact etc like git...

Is a tekton use case to re-use loosely coupled steps in different pipelines?

Hard to see the differences between Argo and Tekton!

What will Tekton so

[2019-06-03 23:05] sbose78 commented on #941
We should have only the owner of the `secret` and the `builder`-ish service account to have access to that secret ?

[2019-06-04 06:46] vdemeester opened #942 "Order TaskRun.Status.Steps same way as Task.Spec.Steps"
Related to https://github.com/tektoncd/pipeline/pull/818#discussion_r288705407, the `TaskRun.Status.Steps` order is not the same as `Task.Spec.Steps`, as @hrishin commented.

We feel it would be better if the order would be kept, to simplify iterating over the status and also because as a user it feels a bit weird to see status in a different order.

cc @hrishin @bobcatfish

/kind enhancement

[2019-06-04 07:29] vdemeester opened #943 "TestHelmDeployPipelineRun is failing "a lot""
It is either flaky or something change in the image we use that makes the test fail on all PRs

[code]

/area testing

[2019-06-04 08:34] chmouel commented on #943
I can reproduce it every time when running it locally with :

[code]

<details>
  <summary>log output from help-deploy pod</summary>
<pre>
 % kubectl logs helm-deploy-pipeline-run-push-image-5sqgv-pod-11f226 --all-containers
{"level":"warn","ts":1559636604.083356,"logger":"fallback-logger","caller":"logging/config.go:65","msg":"Fetch GitHub commit ID from kodata failed: \"KO_DATA_PATH\" does not e

[2019-06-04 08:37] chmouel commented on #943
another note: unsetting `KO_DOCKER_REPO` would `SKIP` the test properly :

[code]

[2019-06-04 10:35] afrittoli opened #944 "Pod logs missing for E2E Go tests failures"
# Expected Behavior
When an E2E go test fails, we should log the pod for the Task/PipelineRun

# Actual Behavior
We only do so for YAML tests

# Additional Info
E2E tests: https://github.com/tektoncd/pipeline/blob/master/test/e2e-tests.sh#L34
YAML tests: https://github.com/tektoncd/pipeline/blob/master/test/e2e-tests-yaml.sh#L41

[2019-06-04 10:39] vdemeester commented on #944
/area testing
/assign @afrittoli

[2019-06-04 11:14] hrishin commented on #942
Thank you! @vdemeester :+1:

[2019-06-04 12:18] vdemeester commented on #943
#946 fixes this problem (and will fix master and PRs). 2 days ago, `alpine/helm` was updated and `latest` now point to `3.0.0-alpha.1` which, doesn't work the same way as 2.x (make sense :angel:)

[2019-06-04 12:51] #943 closed

[2019-06-04 14:56] emichaf opened #947 "Why tekton?"
reference:
https://github.com/tektoncd/pipeline/issues/907#issuecomment-498368697

Hi @bobcatfish
With Argo CI you can specify workflows with steps (like pipelines), also different gateways exist (rest, amqp..etc) to trigger workflows (pipelines), build steps are executed in containers. Possible to handle input/output in/between steps with different artifacts like git etc...

Hard to see the diffe

[2019-06-04 15:01] vdemeester commented on #947
@emichaf it would have been possible to comment on the closed issue and we would have re-opened it :angel:

[2019-06-04 15:08] abayer commented on #947
Tekton provides pieces that can be used by other CI/CD solutions, such as Jenkins X.

[2019-06-04 15:13] chmouel commented on #947
Aside of the technical differentiations, having different implementations is generally what drives innovations among opensource project and I believe having multiple of them is healthy for Kubernetes and for argo and tekton,

[2019-06-04 15:38] vdemeester commented on #649
No clear ideas yet. There will be the catalog for a extensive examples of each task but we still need executable examples here (to catch potential regression, etc.). `examples` is fine for now :angel:

[2019-06-04 18:14] vtereso commented on #315
I have heard from @iancoffey that the above proposal (currently `tektoncd/experimental/tekton-lister`) is intended to live outside this repository? From the repo naming (at the very least), it would seem that anything in experimental is "experimental" and, at the discretion of the community, a potential candidate for upstreaming? We were looking to unify into one approach in the experimental repo

[2019-06-04 18:16] bobcatfish commented on #315
hey @vtereso everything you've said is accurate! There's a bit more info about the process at https://github.com/tektoncd/community/blob/master/process.md#experimental-repo

I'm currently working on a proposal to promote the project from experimental to a top level dir! I'll share the proposal shortly and then we can keep discussing :D

[2019-06-04 18:36] vtereso commented on #315
I see that you added a slot on the schedule to discuss this :) I believe this [issue](https://github.com/tektoncd/experimental/issues/46) effectively breaks down the differences between the two experimental approaches, notably that the current `tekton-listener` does not implement any mechanism for resource templating (creating resources at event trigger time). Since Tekton is already templating fo

[2019-06-04 18:51] vtereso commented on #315
If I understand your point, is the idea to make a `tektoncd/eventing` repo rather than working it into `tektoncd/pipeline`? Would that be a further integration at a later step? Assuming some consensus could be reached on the spec, this seems like a necessary component of Tekton that would warrant combining the two. With the core logic of the proposal adding a few CRDs/controllers, it doesn't seem

[2019-06-05 01:08] vincent-pli commented on #315
I think this discussion could help on the topic:
https://github.com/tektoncd/experimental/issues/35

[2019-06-05 07:06] emichaf commented on #947
Thanks for your answers, I will test/evaluate Tekton the coming weeks!

[2019-06-05 07:06] #947 closed

[2019-06-05 12:54] houshengbo opened #953 "Support local path as pipeline resource type"
We are now supporting "git", "storage", "image", and "cluster".
Shall we support an easier case to allow users develop and save code locally somewhere in order to build?

[2019-06-05 13:13] afrittoli commented on #859
Some thoughts about this.
It is definitely an important issue to solve, but I'm not convinced it's something that can fully be solved on Tekton side. The ability to run pre-merge pipeline/task definitions is a functionality of the CI system that triggers the pipeline.

That said we could provide functionality on Tekton side that help CI system is realizing this.
Something that might help is the ab

[2019-06-05 13:21] vdemeester commented on #859
Yes :angel: I want to open an issue on [`tektoncd/catalog`](https://github.com/tektoncd/catalog) or here to talk about integration with pipeline and task definitions.

I feel this is the tricky part. We may want to have some sort of *revision* notion (or version, simpler to grasp) for our Pipeline and Tasks. A _Run would reference a Pipeline or a Task (by default latest revision), but when created

[2019-06-05 14:26] pmorie commented on #941
Good question. By builder-ish service account, I think you mean the SA specified in the PipelineRun or TaskRun, right? I *think* based on some initial investigation (still learning the codebase in this repo) that the SA specified in the `PipelineRun` must have access to the referenced secrets - but that's for you as the person who specifies which SA to use to sort out for yourself.

[2019-06-05 15:01] #953 closed

[2019-06-05 18:09] houshengbo commented on #942
/assign @houshengbo

[2019-06-05 19:59] houshengbo opened #956 "The dollar sign $ creates trouble when running one test"
# Expected Behavior
We should be able to run a single test case by go test -v -tags=e2e -count=1 ./test -run ^TestTaskRun$.

# Actual Behavior
go test -v -tags=e2e -count=1 ./test -run ^TestTaskRun$
There is no test running.

# Steps to Reproduce the Problem

1. Run the command: go test -v -tags=e2e -count=1 ./test -run ^TestTaskRun$

I guess this may be a careless error. When I remove the dollar

[2019-06-05 20:31] houshengbo opened #958 "kubeconfig does not show the correct information when running integration tests"
# Expected Behavior
Using kubeconfig at `/Users/vincent/.kube/config` with cluster ``
We expect this is a correct information regarding my current environment.

# Actual Behavior
It always shows "Using kubeconfig at `/Users/vincent/.kube/config` with cluster ``", even if I set kubeconfig and cluster to something else. I found the reason is that we print this message before we run c := m.Run(), so

[2019-06-05 20:36] houshengbo commented on #958
/assign @houshengbo

[2019-06-05 20:36] houshengbo commented on #956
/assign @houshengbo

[2019-06-05 22:12] bobcatfish commented on #947
Thanks for the questions @emichaf !! :D

[2019-06-05 23:56] bobcatfish commented on #941
I was also finding it strange that we have some secrets included directly in `PipelineResources` 🤔 Does it help @pmorie if we use `ServiceAccounts` for these and give `PipelineResources` access to those instead?

I'm guessing no since you still get access via the secret being mounted in the container that executes the `PipelineResource` :S

I'm not sure how to avoid this though if a `PipelineResou

[2019-06-06 00:01] bobcatfish commented on #924
@markusthoemmes could you give a bit more detail about what exactly this would look like from a user perspective? I'm just trying to wrap my head around where the data would actually be coming from.

Since Tekton Tasks currently execute on a k8s node, would data from "the local filesystem" be data from the disk on the node, or would it be data from the user's machine, which would be uploaded to th

[2019-06-06 07:13] vdemeester commented on #956
@houshengbo right, I think it's becasue `TestTaskRun` test go renamed :sweat_smile:. The `$` is part of the support regular expression you can use with `-run` to filter tests to run.

[2019-06-06 07:16] #956 closed

[2019-06-06 07:16] #958 closed

[2019-06-06 09:09] afrittoli commented on #941
One initial bit that should be easy to implement here is the validation, to disallow entering secrets directly as a parameter instead of a secret parameter.  This would only help people to make a better choice when defining their resources. This helps at least for to prevent secret leaks to people with read access to the namespace and no read-access to the secret, as long as the RBAC setup of the

[2019-06-06 14:43] Fabian-K opened #960 "PipelineRun keeps "running" although all tasks seem completed"
Hi,

I´m using tekton for the first time hand have the following simple pipeline definition:

[code]

When I create a PipelineRun for it, I can see that a pod is created and also that the pod finishes with the status Completed. The dashboard however still displays the PipelineRun with the status "Not all Tasks in the Pipeline have finished executing". A kubectl describe pipelinerun also shows the

[2019-06-06 14:49] joseblas opened #961 "Proposal: Tekton objects should be self descriptive using annotations instead of insider info (container name prefix...)"
# Expected Behavior
Tekton Step names shouldn't have any constrains but length.
# Actual Behavior
Currently Tekton sidecars is based on steps names, and this makes Tekton step names not flexible.

# Proposal
 When a Pod is created should have an annotation with all the Tekton containers within. Something like Istio does:
`sidecar.istio.io/status: '{"version":"299b0fe3441985f893a8b9fcca72a53989f22e

[2019-06-06 15:00] vdemeester commented on #961
This is related to [that change](https://github.com/tektoncd/pipeline/pull/818) and https://github.com/tektoncd/pipeline/pull/936. We should try to make sure our object are as self descriptive as they can be *and* use annotation more instead of having to rely on *insider* information (aka the containername prefix, …)

[2019-06-06 15:14] sbwsg commented on #960
Hi @Fabian-K I wasn't able to reproduce this while running from the master branch - using your Task and Pipeline and then writing a short PipelineRun to execute them.  I get the following:

[code]

Could you describe which version of Pipeline you are using?  Also, could you describe a bit about the cluster you're deploying into?  Which platform / any resource limits enforced / whether you have any

[2019-06-06 15:35] Fabian-K commented on #960
Thanks @sbwsg.

I´m using the latest version of tekton (whats currently available at https://storage.googleapis.com/tekton-releases/latest/release.yaml) on top of a kubernetes 1.10.11. The cluster is running on premise on top of openstack.

There should be no resource limits or sidecars (e.g. no isito etc). The pod of the pipelinerun consists of two containers, but both seem to be from tekton (ubu

[2019-06-06 18:23] sbwsg commented on #960
Hrm. I deployed the controller from https://storage.googleapis.com/tekton-releases/latest/release.yaml and got the same successful result :/

Could you post the (sanitized) output of `kubectl describe` for the pod, taskrun, and pipelinerun involved?

[2019-06-07 07:56] Fabian-K commented on #960
Sure!

Pipelinerun:
[code]
TaskRun:
[code]
Pod:
[code]

[2019-06-07 09:01] vdemeester opened #964 "Pipeline Catalog Integration story"
Now that we have [`tektoncd/catalog`](https://github.com/tektoncd/catalog), that store re-usable task for now (and maybe more in the future), we may want to think of a way to use/integrate those in a pipeline flow.

Something that might help is the ability for a task/pipelineRun to reference a task/pipeline by some kind of URI (instead of name only) e.g. git://repo/path/to/pipeline@gitref. A task/

[2019-06-07 09:59] #944 closed

[2019-06-07 10:00] vdemeester commented on #924
@bobcatfish I think the initial use-case @markusthoemmes is aiming for is some FAAS-like behavior where you could, as an example, send your code directly to a Pipeline that will, once succeeded, deploy on Knative, without having to rely on any source-code management like a git repository or else.

This is a bit related to https://github.com/tektoncd/cli/issues/53.

[2019-06-07 14:08] vtereso commented on #961
It's terms of processing, it requires less memory to filter the steps out of the pod using a prefix rather than having to compare against all annotations in a map (although either is fine). However, one question is why all containers within the task pod are not steps? A task in this manner would be most descriptive this way imo.

[2019-06-07 14:39] hrishin opened #965 "Cant relate TaskRun which belongs to particular PiepelineRunTask"
# Expected Behavior
If clients want to show the logs for particular `TaskRun` of a `Pipeline`, it's not easy to relate which task it belongs to in pipeline.
`TaskRun` should have some reference to `PipelineTask.Name`

# Actual Behavior
`TaskRun` metadata or spec dont have any references to which `Task` in `Pipeline` it belongs to.

[2019-06-07 15:02] joseblas commented on #961
For instance, Istio adds sidecars containers in pods; when Tekton containers are finished the pod is finished unless a sidecar container is still running. That container has to be killed. Up to now, the code was based on prefix on step names. The goal of this thread is to provide an alternative design.

[2019-06-07 19:00] sbwsg commented on #960
I booted up a minikube cluster running k8s 1.10.11 and was able to reproduce the problem you describe.

I can see in the tekton controller logs that both the taskrun and pipelinerun reconcilers are experiencing issues like this:

[code]

My hunch right now is that k8s 1.10 simply doesn't have the features needed to run Tekton Pipelines.  In particular it seems like a number of changes were made to

[2019-06-10 13:01] sbwsg commented on #960
Hey @Fabian-K I've just upgraded my minikube cluster to k8s v1.11.10 and am now able to successfully run the example pipeline you posted.

Would it be possible for you to try updating your openstack cluster?

[2019-06-10 15:03] #532 closed

[2019-06-10 15:23] #965 closed

[2019-06-10 17:21] bobcatfish commented on #626
I think we can consider this fixed via #877! (correct me if I'm wrong @dibyom!) We didn't do the bonus `${resources.rootPath} ` but that's totally a-ok, and we can open a new issue if we want to work on that later.

[2019-06-10 17:21] #626 closed

[2019-06-10 20:06] bobcatfish commented on #775
Worked with @elizucker to investigate this and we found that the reason these are not being applied in the expected order is because of this:

https://github.com/tektoncd/pipeline/blob/c137ac5a2a6b9c8a0f263830e4ff27d70528ea20/pkg/reconciler/v1alpha1/taskrun/resources/input_resources.go#L135

The variable `taskSpec.Steps` is being used to hold the complete list of containers that will be executed b

[2019-06-11 00:32] vincent-pli commented on #964
Could we leverage GUI (dashboard) or CLI to do this?
I think the import thing of Catalog is how to let user know there is stuff in catalog could be reused, no need another wheel.

So, if CLI or GUI could list all stuff in catalog and allow user apply some of them, this could help.

[2019-06-11 08:12] chmouel commented on #917
Thanks for the tip @jonjohnsonjr I have sent a PR to update our documentation in #972, the sed wasn't as straightforward, but i believe I figured it out to install it properly.

[2019-06-11 09:50] #558 closed

[2019-06-11 10:03] #775 closed

[2019-06-11 10:23] afrittoli commented on #964
@vincent-pli I think having the ability of importing Tasks / Pipelines via CLI / GUI is a nice feature to have for sure; however it doesn't really solve the issues outlined in https://github.com/tektoncd/pipeline/issues/859 (see also my [comment](https://github.com/tektoncd/pipeline/issues/859#issuecomment-499077173)).

Being able to point to a Task / Pipeline by a URL of some kind would allow CI

[2019-06-11 15:00] sbwsg commented on #960
I'm going to close this issue now that the minimum k8s version has been identified and added to the installation docs.

[2019-06-11 15:00] #960 closed

[2019-06-11 20:29] houshengbo commented on #941
@pmorie Since the yaml file of the PipelineResource can be manually written, we are technically unable to prevent people from writing anything into it, including sensitive information. It is their freedom to define the names of the fields, and specify the value. If we still want to protect the sensitive information defined accidentally or intentionally in PipelineResource, we better have more stri

[2019-06-11 22:34] bobcatfish opened #977 "Remove `containerTemplate` in favor of `stepTemplate`"
In #931 we introduced `stepTemplate` to replace `containerTemplate`. We want to make this change first in a backwards compatible manner by supporting both. This issue should wait until #931 has been released (probably in 0.5), and in the next version (probably 0.6) we can make the backwards incompatible change.

[2019-06-12 00:26] vincent-pli commented on #914
Hi guys, is this idea unattractive?
I think it will be useful if the `Pipelineresource` have ability to be a template like stuff,
especially in `event trigger` case:  @iancoffey
we do not need create specific `Pipelineresource` based on content of each 'Event' every time, only need a `Pipelineresource` template.

To say the last, this change will not hurt current logic.
If I missing something, cou

[2019-06-12 06:35] vincent-pli commented on #964
@afrittoli

Support URI or something similar in the `Pipelinerun` means we will not  actually create related crd (tasks, pipeline, resource) in the k8s cluster, am I right?

But I guess there is challenge how to describe this to user, since we have `Tasks`, `Pipeline`, `resource` cannot to be a truly `crd` which could be trace or monitor by user 😄

[2019-06-12 06:41] vincent-pli commented on #267
@bobcatfish
Sorry in advance, maybe this is a stupid question 😸
So, we have an existing k8s cluster with `tekton` to run the build?
What's the version this `Tekton`? will upgrade it regular?

[2019-06-12 08:08] vincent-pli commented on #914
Seems it's impossible based on current design 😭
We can not transfer `params` defined in `Pipelinerun` to `taskrun` unless `tasks` requires.

The substitution should be no specific setting required.

[2019-06-12 09:17] Fabian-K commented on #960
Hi @sbwsg, thanks for looking into this - really appreciate it! I´ll update my cluster and then continue exploring tekton :)

[2019-06-12 10:53] iancoffey commented on #914
I agree this sort of variable substitution would be useful, depending on how the new `EventListener` project Spec ends up looking, I will be focusing entirely on evolving the eventbinding concept to embrace that new listener.

[2019-06-12 14:41] joseblas commented on #961
Hi @vdemeester @bobcatfish,
   this was open last week and no feedback since. I guess this proposal could be used in our implementation and close this issue, or discuss it in our weekly  meeting

[2019-06-12 17:02] abayer opened #978 "There is no way to override default TaskRun timeout with "don't timeout at all""
# Expected Behavior

There should be a way to say "don't ever timeout this `TaskRun`".

# Actual Behavior

There isn't. If no timeout is specified on the `PipelineRun`, the `TaskRun.Spec.Timeout` is set to `nil`, and if that's `nil`, then the default timeout of 10 minutes kicks in instead.

# Steps to Reproduce the Problem

1. Create a `PipelineRun` with a `Task` that runs indefinitely.
2. Don't s

[2019-06-12 17:07] abayer opened #979 "The default TaskRun timeout is too short."
# Expected Behavior

A user shouldn't have their `TaskRun`s killed in 10 minutes if they haven't specified a larger `PipelineRun` timeout.

# Actual Behavior

The `TaskRun`s do get killed.

# Steps to Reproduce the Problem

1. Kinda obvious, really. =)

# Additional Info

We should bump this up to something more reasonable. Also relates to #978.

[2019-06-12 17:11] vdemeester commented on #979
@abayer I feel there is two things we could do :

- Bump the timeout to something more reasonable (as a default), like 25min or sthg
- Make it possible to configure the default Pipeline timeout on the controller side

[2019-06-12 17:15] abayer commented on #979
@vdemeester The latter would be fantastic.

[2019-06-12 20:56] bobcatfish commented on #978
Maybe a timeout setting of 0 to indicate no timeout?

[2019-06-12 21:01] abayer commented on #978
That sounds perfect to me, yeah.

[2019-06-12 21:33] bobcatfish commented on #267
Those are good questions @vincent-pli !

Yes, we'd need to have tekton deployed in the CI cluster, at least initially it'd be [the cluster we use to run Prow](https://github.com/tektoncd/plumbing#prow)

I'm not 100% sure! I think at least initially we would pin to whatever the most recent release was, and maybe the process would be to upgrade our own cluster whenever we publish a new release (mayb

[2019-06-12 22:32] houshengbo commented on #979
/assign @houshengbo

[2019-06-12 22:34] houshengbo commented on #978
/assign @houshengbo

[2019-06-13 13:03] sbwsg opened #980 "Specify sidecar containers to run inside a TaskRun's Pod"
# Expected Behavior

Users can define sidecar containers to run inside a TaskRun's Pod.

# Actual Behavior

There is no way currently to specify sidecar containers as part of any Tekton CRD.

# Open Questions

1. What are some good use cases for this feature?
2. Where should sidecars be specified?  Task / TaskRun / Pipeline / PipelineRun?
    * What would defining a sidecar in a PipelineRun do?  A

[2019-06-13 14:44] steveodonovan opened #981 "TaskRun conditions not fully set and printer fields missing values"
Not sure if this is an issue. Opening a ticket to check. Seems like the values should be consistent between PipelineRuns and TaskRuns and for task runs at different stages.

# Expected Behavior

- Additional printer fields attached to taskRuns should always have a value.
- conditions reason and message should also always be set on a taskRun

# Actual Behavior

Because the [reason field is not set]

[2019-06-13 16:59] bobcatfish commented on #811
Note https://github.com/tektoncd/pipeline/pull/982 is expanding the scope of values that can be templated, but not as broadly as we're suggesting here!

[2019-06-13 21:36] bobcatfish commented on #924
Hm okay I think this is making a bit more sense @vdemeester ! So would this be a use case where a user is manually creating `PipelineRuns` and/or `TaskRuns`? (cuz if there was some other mechanism invovled, e.g. the CLI, then that mechanism could take care of uploading the source wherever i needs to go)

Or is this more about making it possible to actually store that data somewhere - e.g. ephemera

[2019-06-13 21:42] bobcatfish opened #983 "Update release Task to prevent releases clobbering each other"
# Expected Behavior

If someone tries to use [the dogfood release Task](https://github.com/tektoncd/pipeline/blob/master/tekton/publish.yaml) to re-release a release that has already been created, execution of the Task should fail.

(One idea of how to do this is to add a first step to look in the buckets and the image repo to see if that versionTag has been used before, maybe even check for every

[2019-06-13 22:13] bobcatfish commented on #906
It's sounding (especially after the impact on projects like `tektoncd/dashboard` from changing step names in https://github.com/tektoncd/pipeline/pull/818) like there is more to the API than just the CRD types so it doesn't seem like it can be as simple as moving those definitions to their own dir and changing the owners file.

@dlorenc @skaegi and I have started work on a doc about [moving forwar

[2019-06-13 23:39] bobcatfish commented on #906
Another option is like 50% + 1 but I think every owner is _better_ if we think we can handle it.

[2019-06-14 07:42] vdemeester commented on #924
So, the `cli` (or a `cli`) would take care of uploading the source to wherever it needs to go indeed. But yeah, this would be about making the data stored ephemerally in the cluster. Could be a volume, or whatever, and this would/could be referenced as an input resource (of type storage, git or whatever :angel:) so that you could use it as an input to a Task or Pipeline :angel:.

A side effect wou

[2019-06-14 07:44] vdemeester commented on #983
/area test-infra

[2019-06-14 11:57] vincent-pli commented on #914
@iancoffey thanks, happy to see new `Listener`

[2019-06-14 17:53] bobcatfish commented on #906
While reviewing yesterday it became quickly clear that:

1. Nearly every PR includes an API change of some kind!
2. Asking _every_ OWNER to approve every one of these changes is probably too much

So here is attempt number two:

1. **Backwards incompatible** API changes must be approved by all OWNERS: Every OWNER must explicitly /approve the PR. This doesn't mean they have to review the entire PR,

[2019-06-14 22:48] #942 closed

[2019-06-14 23:52] bobcatfish commented on #315
With @iancoffey @ncskier @vtereso @dlorenc and @kimsterv we have created an updated proposal/design at https://docs.google.com/document/d/1fngeNn3kGD4P_FTZjAnfERcEajS7zQhSEUaN7BYIlTw 🎉

[2019-06-17 08:06] vincent-pli commented on #856
@vdemeester @ImJasonH
What about this project?  do we have `ppc64` supported?

[2019-06-17 08:08] vdemeester commented on #856
@vincent-pli as of today, we only support `linux/amd64`. We should aim to support more combinaison of `GOOS` and `GOARCH` though.

[2019-06-17 14:35] mattmoor commented on #856
The container tools nerd in me would love to see this happen, but I'm concerned about our current testing capability for this matrix.

@jonjohnsonjr can probably guide someone through this (he has an "ugly" PoC), but we probably won't be able to prioritize this before Knative Serving "v1"s.

[2019-06-17 16:38] bobcatfish commented on #964
I may have duplicated this in https://github.com/tektoncd/catalog/issues/45

[2019-06-17 21:08] jonjohnsonjr commented on #856
Published what I was playing with here: https://github.com/google/ko/pull/38

If anyone's interested in picking this up, I'm happy to chat.

[2019-06-17 23:22] bobcatfish opened #988 "Re-re-add coverage automation"
# Expected Behavior

* For each PR, the author should get a report about:
  * Whether coverage has gone up and down
  * Which lines are covered and which arent
* We should be able to track coverage over time
* The coverage check will also fail if the coverage goes down below a threshold

Example of the covbot feedback:

![image](https://user-images.githubusercontent.com/432502/54629334-99c39f80-4a

[2019-06-18 03:23] vincent-pli commented on #856
@lisa
I saw your article: https://thedoh.dev/kubernetes/tektoncd-pipeline.html
Seems you did not change the `defaultBaseImage ` in `.ko.yaml`, did the `controller` work?

[2019-06-18 08:47] joseblas commented on #961
implemented in https://github.com/tektoncd/pipeline/pull/936

[2019-06-18 08:47] #961 closed

[2019-06-18 16:39] houshengbo commented on #979
@vdemeester @bobcatfish @abayer

First, I'd like to increase the internal default timeout to 60 mins. Is that OK so far?
Then, since the timeout is not limited to taskrun only, I am thinking of creating a new YAML of a new ConfigMap under config dir, e.g. config-default.yaml for the configuration of a configurable timeout key called: defaultTimeoutMinutes.
If defaultTimeoutMinutes is not set, we f

[2019-06-18 16:45] abayer commented on #979
Sounds reasonable to me!

[2019-06-18 17:15] objectiveous opened #989 "operator extensible pipeline credentials (-creds-image)"
## Background

Tekton currently has support for the provisioning of ```Build Tooling Configuration```. For example,  we have support for docker config (/builder/home/.docker/config.json) and git credentials (/builder/home/.ssh, /builder/home/..git-credentials, etc) but the provisioning mechanism is not extensible to Tekton operators (the human kind, not controllers).

By way of example, consider t

[2019-06-18 17:29] vdemeester commented on #989
This is also a bit related to #238 as it would be nice to have a extensiblitiy mecanisms for initializer too

/kind feature
/kind design

[2019-06-18 17:47] lisa commented on #856
@vincent-pli Yes, it worked. The build process (`./hack/release.sh`) built a controller image which I'm storing as [thedoh/arm64-tektoncd-pipeline-cmd-controller](https://hub.docker.com/r/thedoh/arm64-tektoncd-pipeline-cmd-controller).

[2019-06-18 21:22] houshengbo opened #990 "Are we missing the version for github.com/tektoncd/plumbing and github.com/knative/test-infra"
# Expected Behavior
When we update dependencies with ./hack/update-deps.sh, all the dependencies should be pinned to the versions we specified.

# Actual Behavior
github.com/tektoncd/plumbing and github.com/knative/test-infra have never been updated

# Steps to Reproduce the Problem

1. Run ./hack/update-deps.sh

# Additional Info
Are we really missing the versions defined for these two modules?
I

[2019-06-18 21:26] houshengbo commented on #990
@vdemeester @bobcatfish Is this true?

[2019-06-19 08:02] vdemeester commented on #990
@houshengbo we don't really need them, they are needed in `Gopkg.lock`.
Those are present in `Gopkg.toml` but not as dependencies entry.
https://github.com/tektoncd/pipeline/blob/fc6ef39101a1bbead39c8271d813ed0e70733cb1/Gopkg.toml#L12-L13

https://github.com/tektoncd/pipeline/blob/fc6ef39101a1bbead39c8271d813ed0e70733cb1/Gopkg.lock#L553-L559

All dependencies are *pinned* in the lock file. Only th

[2019-06-19 13:23] afrittoli commented on #981
Nice catch, thank you.
`message` and `reason` seem less relevant in case of success; however I agree we should be consistent across CRDs, so personally I think it would be nice to add them in https://github.com/tektoncd/pipeline/blob/fc6ef39101a1bbead39c8271d813ed0e70733cb1/pkg/status/taskrunpod.go#L65

[2019-06-19 13:27] wlynch opened #991 "What is the intended usage of GetParams in CRDs?"
Brought up in https://github.com/tektoncd/pipeline/pull/895#discussion_r289568126

In all Tekton CRDs, there is a func that looks like:

[code]

https://github.com/tektoncd/pipeline/search?q=GetParams&type=Code

It looks like it is defined to satisfy the [PipelineResourceInterface](https://github.com/tektoncd/pipeline/blob/24c5516232edb04dd3d4ef2f4e3e05afa8958214/pkg/apis/pipeline/v1alpha1/resourc

[2019-06-19 13:36] afrittoli commented on #929
@sarnaudova could this issue be closed now? Thank you!

[2019-06-19 15:15] bobcatfish commented on #979
Makes sense!

[2019-06-19 17:02] sarnaudova commented on #929
Yes, thanks for helping me out with this issue. I couldn't reproduce it so I will close it.

[2019-06-19 17:02] #929 closed

[2019-06-19 17:06] houshengbo commented on #990
@vdemeester
With that being said, it looks like we need to update the dependency individually with the command "dep ensure -update the_dep_package", if we would like to. And we are only able to update it to the latest commit.
Would it be better if we can specify which version or revision of that dependency we should update into?
Maybe ./hack/update-deps.sh does not have a good name, but would it b

[2019-06-19 17:10] vdemeester commented on #990
You can do `dep ensure -update github.com/tektoncd/cli@v0.2.0` for example.

Yeah I do agree on that, we could have something like :
- `./hack/update-deps.sh` does `dep ensure`
- `./hack/update-deps.sh github.com/tektoncd/plumbing` does `dep ensure -update github.com/tektoncd/plumbing`
- `./hack/update-dep.sh --all` would update all (aka `dep ensure -update`)

@bobcatfish wdyt ?

[2019-06-19 17:17] houshengbo commented on #990
Take the plumbing as example, we can take advantage of the file Gopkg.toml by defining

[[override]]
  name = "github.com/tektoncd/cli/plumbing"
  # HEAD as of 2019-0x-xx
  revision = "hash of the commit or version"

Then, run ./hack/update-deps.sh to update github.com/tektoncd/cli/plumbing and all other dependencies to the specified revisions. Gopkg.lock will be updated accordingly as well.

[2019-06-19 17:18] houshengbo commented on #979
OK, I will implement as described.

[2019-06-19 19:31] hollisc opened #992 "Unable to push image to private docker registry if URL is not using the default 443 port"
# Expected Behavior
Built image to be pushed to private docker registry.

# Actual Behavior
The "build-step-build-and-push" step fails in the TaskRun of the tutorial (https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) if using a private docker registry using a different port than 443.  From the error message, it appears to be complaining about the `:` in the image URL.

The error f

[2019-06-19 20:09] AdityaGupta1 commented on #238
Relevant discussion here: https://tektoncd.slack.com/archives/CJ62C1555/p1560974129126900

It would be nice if there was a way to specify a file/directory or even just a simple text value to be passed between tasks without needing to create a volume across tasks. Maybe even a non-typed `PipelineResource`?

[2019-06-19 20:09] objectiveous opened #993 "Self describing Pipeline and Task Definitions"
# Overview

A number of teams are building catalogs of Pipelines and Tasks for the purpose of reuse. Many of these catalog have usage documentation that exists separate from the the actual Pipeline/Task definition.

# Proposal

Make usage documentation a fist class concern of Tasks. Perhaps by enhancing task definitions or maybe by introducing a new Kind (TaskInfo?).

# Example Scenario

Consider

[2019-06-19 22:13] houshengbo commented on #990
/assign @houshengbo

[2019-06-19 22:15] bobcatfish commented on #953
Related discussions in:
- https://github.com/tektoncd/pipeline/issues/924 (about how to make local data available when triggering locally)
- https://github.com/tektoncd/pipeline/issues/235 (being able to "run locally")

[2019-06-19 22:29] bobcatfish commented on #993
This would be great to see! In the catalog repo we're ending up with a lot of docs in the associated readmes (e.g. https://github.com/tektoncd/catalog/tree/master/golang#golangci-lint) but I agree it would be way better to see this in the Tasks and Pipelines themselves!

Also maybe related: https://github.com/tektoncd/catalog/issues/7

[2019-06-19 23:17] bobcatfish commented on #958
Nice catch!

[2019-06-19 23:28] alexmt commented on #907
@AdityaGupta1 just sent a PR with the first argocd task: https://github.com/tektoncd/catalog/pull/49

[2019-06-20 00:28] vincent-pli commented on #992
Seems the issue is caused by docker itself,

Come from https://docs.docker.com/docker-hub/repos/

[2019-06-20 06:39] vdemeester commented on #990
@houshengbo this would be a `[[constraint]]` instead of `[[override]]` (see the [docs](https://golang.github.io/dep/docs/Gopkg.toml.html#constraint))

[2019-06-20 07:44] afrittoli commented on #267
I'm not sure option (3) will be possible right from the beginning, but as soon as we sorted out other issues I would start using HEAD! If we by chance we merge a breaking change, we'll break our CI as well and thus we'll stop merging changes until that's fixed. As long as the volume of PRs is similar to what we have today we should be able to afford that.

Besides doing CD with a project from the

[2019-06-20 07:47] afrittoli commented on #267
Do we have some kind of design document / diagram that explains what kind of setup we're aiming for? Do you guys @bobcatfish @vdemeester need any help in this area? I would be happy to help.

[2019-06-20 10:14] siamaksade opened #994 "Add metadata to pipelinerun to capture the complete pipeline definition"
It's currently impossible to reason on the exact pipeline definition, conditions, git and image urls used when a pipelinerun is executed given that pipelinerun includes references to pipeline, condition and pipeline resources which all can change after pipeline execution is complete.

This is specially difficult for building tooling around Tekton, for example causing graph visualisation of a compl

[2019-06-20 11:01] vdemeester commented on #994
This is also kinda related to @afrittoli comment on #859 on how do we manage pipeline reference of a `PipelineRun` when the `Pipeline` changes (after the run)

[2019-06-20 11:10] vdemeester commented on #992
@hollisc the issue is in the PipelineResource definition. The `url` parameter of the image pipeline resource might not be that well named… It has to be the **image reference**, which means it should not include transport (`https://`). In your case, it should be `value: <IP Address>:8500/tekton-pipelines/leeroy-web`.

I feel this field might need to be renamed.

[2019-06-20 13:00] hollisc commented on #992
Hi @vdemeester, thanks for clarifying this as that is what I had initially set.

If I set `url` parameter to `<IP Address>:8500/tekton-pipelines/leeroy-web`, I get this TaskRun error for the "build-step-build-and-push" step.  The docker registry is enabled for https only.  I tried updating the `--docker-server` field in the sa-tekton-pipelines secret to include https but no luck yet.

[code]

[2019-06-20 13:24] vdemeester commented on #992
@hollisc interesting, I am not sure why `kaniko` tries to push on `http` :thinking:. As it's a private repository, I am guessing you need to be authenticate. Did you add an authentication serviceaccount (see [`auth.md](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md)) to your TaskRun (or PipelineRun) ?

[2019-06-20 18:40] AdityaGupta1 opened #998 "Tasks/pipelines/containers have the wrong time"
# Expected Behavior

When I apply a `PipelineRun` and run `kubectl get` on it, it should say it started at the same time as I applied it (in this case, approximately `2019-06-20T18:31:04Z`).

# Actual Behavior

I applied a `PipelineRun` just now and ran `kubectl get`, and the start date was listed as `2019-06-15T17:00:41Z`, which is five days before now.

# Steps to Reproduce the Problem

Make a `

[2019-06-20 18:55] hollisc commented on #992
@vdemeester, yes I added serviceaccount with basic-auth secret containing registry credentials.
Also, verified the credentials does exist in /builder/home/.docker/config.json using the executor:debug image.

[code]

How does kaniko know to use `http` vs `https`?   Should it reference the server in the docker config.json?

[2019-06-20 19:29] sbwsg commented on #998
Hey, so I receive the correct date/time when I run this TaskRun:

[code]

As far as I'm aware there's nothing in Tekton Pipelines that dictates the date/time in TaskRuns.  This will be configuration in your cluster or on the nodes themselves I think.

[2019-06-20 20:06] AdityaGupta1 commented on #998
I deleted and restarted Minikube and it seems to be working fine now. Makes sense that it isn't a Tekton issue. Thanks for the help!

[2019-06-20 20:06] #998 closed

[2019-06-20 22:13] bobcatfish commented on #267
There's no doc that I know of! @vdemeester has been doing most of the actual work but afaik so far we've been kind of just taking it one step at a time without a clear overall picture. If you want to start putting together an overall plan and weighing the options @afrittoli that would be super helpful :pray::heart::pray:

I also just sent you an invite to [our zenhub project](https://github.com/te

[2019-06-20 22:22] wlynch opened #999 "Add GitHub App Support"
Tracking issue for adding GitHub App support.

See https://developer.github.com/apps/differences-between-apps for the differences between GitHub Apps and OAuth.

Primary wins we get from Apps are:
* Access to the Check Run API
* Single webhook endpoint for the entire App config (no need to request admin permissions to create a webhook)
* Fine grain access token permissions (can generate tokens sco

[2019-06-20 22:35] bobcatfish commented on #778
Especially since this issue is just about design, I think we can close the issue, unless you think otherwise @wlynch !

[2019-06-20 22:35] wlynch commented on #778
SGTM

[2019-06-20 22:36] bobcatfish commented on #777
I think #902 closes this issue! :tada: Thanks @cezkuj and @hrishin !

[2019-06-20 22:36] #777 closed

[2019-06-20 23:20] wlynch opened #1000 "Pull Request CRD: GitLab Support"
Tracking issue for GitLab Pull Request support in the Pull Request CRD.

GitLab API documentation: https://docs.gitlab.com/ee/api/merge_requests.html
Existing Tekton Pull Request support (GitHub): https://github.com/tektoncd/pipeline/tree/master/cmd/pullrequest-init

[2019-06-21 03:23] yangkailc commented on #992
@hollisc kaniko uses flags to know http protocol will be used when  pushing to  insecure registry，you can try "insecure-pull" and "insecure"  flag in "build-step-build-and-push"  step。

[2019-06-21 15:56] hollisc commented on #992
Hi @yangkailc and @vdemeester, if I add "--skip-tls-verify" arg, the TaskRun is able to push the image to the private registry successfully.  Seems like there is an issue why kaniko is trying to push with `http` instead of `https`.

[2019-06-21 16:05] steveodonovan opened #1001 "Cluster Tasks Cannot be Run from a pipelineRun"
# Expected Behavior

Cluster tasks should be runnable from pipelineRuns.

# Actual Behavior

The pipeline run and task run fails. TaskRun with the status

[code]

Root cause seems to be the taskRun is created with the wrong kind attached to the `taskRef.spec.kind` field. (see the taskRun resource below)

# Steps to Reproduce the Problem

1. Apply the resources below
2. Check status for taskRun and

[2019-06-21 16:08] vdemeester commented on #1001
/kind bug
/milestone 9

[2019-06-21 16:08] vdemeester commented on #1001
/assign

[2019-06-21 16:28] bobcatfish commented on #1000
AND ITS ISSUE 1000

![](https://i.chzbgr.com/full/6613858304/h391F6A12/)

woooooo 🎉

[2019-06-24 09:24] siamaksade opened #1002 "Task input "from" requires inputs to have the same name"
When providing the output of one task as an input to another task in a `Pipeline`, the `source-copy` step fails if the resource names are not the same. For example:

Task 1:
[code]

Task 2:
[code]

An the pipeline:
[code]

Then the pipelinerun fails with
[code]

The git sources are copied to `/pvc/build/build-source` in the first task while the second task looks for them in `/pvc/build/test-source

[2019-06-24 09:59] vdemeester commented on #1002
/kind bug

[2019-06-24 10:09] vdemeester commented on #1002
/kind bug

Indeed this is a bit problematic… We may need to be able to specify the name in the from like `from: [ build as buildsource` ? (for multiple this would be `from: ["build as build-source", "test"]` maybe ?)

/cc @bobcatfish @nader-ziada

[2019-06-24 10:38] siamaksade commented on #1002
Can't this be transparent for the user?

[2019-06-24 10:45] vdemeester commented on #1002
@siamaksade I don't really see how, as, if there is two resource of the same type in the `from` task, how can you choose the one you want ? (that is why I put the 2nd example, we may have a "default" behavior but… it seems very error prone)

[2019-06-24 11:31] siamaksade commented on #1002
I see. There are then two related but different issues:
1) When a task has multiple outputs of the same type, there should be way to specify the specific resource name to be used as the input of next task with `from`
2) When output of one task is used as the input of next task, the resource should be made available at the path that the second task expects it

[2019-06-24 12:24] vincent-pli commented on #1002
@siamaksade
I'm a little confuse, I think that's why the `resource name` in the next `input` section should be the same as `resource name` of previous `output`.
The stuff in the `from` point to `task` and the `resource name` point to previous resource which need.

[2019-06-24 14:11] siamaksade commented on #1002
@vincent-pli the `resource name` is defined by the referenced `Task`, not the pipeline. User might have imported the tasks from [tektoncd/catalog](https://github.com/tektoncd/catalog) and have no control over how the resources are named.

[2019-06-24 14:32] vincent-pli commented on #1002
@siamaksade  How about adding `alias` for the previous `output resource`.

[2019-06-24 16:31] StrongMonkey opened #1005 "Unable to use docker secrets to push image to dockerhub"
# Expected Behavior
When using docker secrets to build and push image, I should be able to reference the secret, build and push my build image by following https://github.com/tektoncd/pipeline/blob/master/docs/auth.md.
# Actual Behavior
Unable to push image.
# Steps to Reproduce the Problem

1. Create a clusterTask:
[code]
2. Create a secret, service account, using service in taskRun
[code]
3. Ima

[2019-06-24 16:48] vdemeester commented on #1005
@StrongMonkey thanks for the issue. Can you share how the secret is defined ? (redacted of course, I am mainly interested in the annotation)

[2019-06-24 16:55] StrongMonkey commented on #1005
@vdemeester The secret is defined as the following
[code]

[2019-06-24 17:02] xihaLong commented on #859
"What happens when a PR that modifies the task/pipeline definition is merged?"

Another good question to ask is "How do I run a CI/CD pipeline against my changes to the pipelines of other teams/my entire org?" or in other words

 "How do I avoid breaking the world with my pipeline changes?"

The pipeline itself being kept under source control (as recommended practice) may go a long way to allowing

[2019-06-24 20:35] afrittoli commented on #534
I would like to help, but I'll have to learn a bit more about prow to boskos and prow to tekton interaction first 😇.

AFAIK Boskos does more than creating the test cluster. It does the cleanup as well, as well as garbage collection of orphaned resources.

I wonder if we really need to re-implement Boskos in Tekton, or if we could start using a ClusterResource as an input to the test Pipeline.

[2019-06-25 07:36] vdemeester commented on #1005
@StrongMonkey the `docker-0` annotation should be in the form of `tekton.dev/docker-0: https://index.docker.io` (no need for the `v1`, it might even mess the thing). The only thing that matters is the `auth` part in the gerenated `.docker/config.json` file.

Note that you can also use `kubernetes.io/dockerconfigjson` secrets, Tekton supports thoses.

[code]

[2019-06-25 16:12] kameshsampath opened #1008 "Unable to combine params"
Task params with combination of two or more params is not getting expanded.

# Expected Behavior
The parameters should be expanded

# Actual Behavior
Some weird wrong value getting expanded.

# Steps to Reproduce the Problem

1.  Create a task like

[code]
2. Create a task run like
[code]
3. when you apply the task and taskrun above you will see a error like:

[code]

# Additional Info

PipelineRe

[2019-06-25 16:13] vdemeester commented on #1008
/kind bug
/assign

[2019-06-25 16:23] kameshsampath commented on #1008
it was a copy and paste error in the task run, the expansion seem to work. Sorry for inconvenience.

[2019-06-25 16:23] #1008 closed

[2019-06-25 18:58] houshengbo commented on #978
@bobcatfish
It will be feasible that we set the timeout to 0, after we merge the PR: https://github.com/tektoncd/pipeline/pull/996.

[2019-06-26 02:26] HusterWan opened #1012 "[question] can the pipeline support non-kubernetes environments"
# Why I ask this question?

we have two large production environment, which one is an old system that not used the kubernetes, the other one is kubernetes  env.

I want to delivery the components (kubernetes components and non-kubernetes components) by all using the tekton. It this idea is reasonable or do you guys have any suggestion for this situation?

[2019-06-26 03:30] vincent-pli commented on #1012
Tekton is k8s native, can not run without k8s.
Does the old environment has Docker? you can use `Kind` prepare a build-in k8s, then run Tekton on that.

[2019-06-26 03:50] #990 closed

[2019-06-26 04:11] #1001 closed

[2019-06-26 06:00] tiger74s commented on #1012
We understand that Tekton is k8s native and it must run inside k8s. Can Tekton support a pipeline that release the code to the old environment that is running on VM not k8s?  Many enterprises may have that requirement. Can it be a new feature for Tekton?

[2019-06-26 06:41] HusterWan commented on #1012
@vincent-pli our old environment is all running containers,  what do you mean `use Kind prepare a build-in k8s`, does this have docs?

[2019-06-26 06:57] vincent-pli commented on #1012
😭 So, you have a `Tekton-pipeline` running for some process (checkout, build, whatever), when almost complete, get an output stuff, then you want to deploy(release) these stuff to a no-k8s env? am I right?

I think you need a task to do that, you can handle this in that task, no matter the target env is k8s or not.

[2019-06-26 06:59] cmoulliard opened #1013 "Issue : starting container process caused "chdir to cwd (\"/workspace/git\")"
## Issue

Version used: `v0.3.1`

I'm facing a strange issue. Project has been cloned correctly (I suppose according to the log of the git step)

`{"level":"info","ts":1561531018.2719452,"logger":"fallback-logger","caller":"git/git.go:105","msg":"Successfully cloned https://github.com/snowdrop/component-operator-demo/  @ master in path /workspace/git"}`

but when the s2i step to generate the docke

[2019-06-26 07:09] HusterWan commented on #1012
you are right

but how can i run tekon-pipeline task with k8s env?  ...

[2019-06-26 07:21] vincent-pli commented on #1012
You can have two tasks all depends on previous step (task), one for k8s env another for no-k8s
another option is handle both in one task.

[2019-06-26 07:34] cmoulliard opened #1014 "Tekton-pipelines project can't be deleted on ocp-3.11"
## Issue

Tekton-pipelines project can't be deleted on ocp-3.11

[code]

Command executed
[code]

Which tekton k8s resource is blocking to delete the namespace/project

[2019-06-26 07:38] vincent-pli commented on #1013
@cmoulliard  Could you post the `pipeline` definition.

[2019-06-26 07:49] cmoulliard commented on #1014
This bash script saved my life as it removes the finalizer kubernetes and post the project updated

https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-497542245

[2019-06-26 08:02] chmouel commented on #1014
IMO This more like a bug in k8/openshift than tekton

[2019-06-26 08:13] HusterWan commented on #1012
got you, 3x

[2019-06-26 09:49] cmoulliard commented on #1013
Here are the definitions about the `task` and `taskrun`

https://github.com/snowdrop/component-operator/blob/master/pkg/controller/component/taskruns.go
https://github.com/snowdrop/component-operator/blob/master/pkg/controller/component/tasks.go

**REMARK**: The error reported occurs sometimes

[2019-06-26 14:49] vdemeester commented on #811
#1006 is in, this should be fixed :angel:
/close

[2019-06-26 14:49] #811 closed

[2019-06-26 15:22] dibyom opened #1016 "Expose pipelinerun status to taskrun"
# Expected Behavior

The use case is around tasks that can use the pipeline run status e.g. a task that updates github PR status based on the success/failure of a previous pipeline (https://github.com/tektoncd/pipeline/pull/995#issuecomment-505476017).

# Actual Behavior

Does not exist though there is WIP to expose the pipelinerun status to the conditional container.

[2019-06-26 22:12] dibyom opened #1019 "Conditionals: Add Condition CRD and API changes to pipelines to add conditions"
Tracking issue for API changes for conditional execution + initial implementation based on the design in #27

ref: https://github.com/tektoncd/pipeline/issues/1137

[2019-06-26 22:16] dibyom opened #1020 "Expose pipeline run metadata to Tasks and Conditions"
Condition containers need access to metadata about the pipeline run. The metadata will be in the form of  a `pr-metadata.json` file that is present in the `workspace` directory.

Part of implementation of #27

ref: https://github.com/tektoncd/pipeline/issues/1137

[2019-06-26 22:21] dibyom opened #1021 "Conditionals: Allow access to pipeline resources"
# Expected Behavior
Condition containers should have access to the resources themselves e.g a `fileExists` condition to check if a file exists in a git repo.

# Additional Info
The resources that the condition needs have to be explicitly specified so that we do not needlessly initialize all resources for each condition check. Based on design in #27

ref: https://github.com/tektoncd/pipeline/issues

[2019-06-26 22:32] dibyom opened #1022 "Conditionals: Support chaining conditions"
# Expected Behavior
Users should be able to specify multiple conditions to gate a task and chain them using a type: "AND", "OR"
Part of implementation for #27
# Additional Info
Strawperson of the potential API: https://gist.github.com/dibyom/557c9abc50f607e3e0cf5a8125adcb62 based on https://docs.google.com/a/google.com/document/d/1iTb0rDDlgQcPbiYIGJ-atkaML8aCyPCyhfucCPJmNLs/edit?disco=AAAADFnE658

[2019-06-26 22:40] dibyom opened #1023 "Conditionals: Configure what happens when a task is skipped due to condition failure"
# Expected Behavior
Users can decide to either run or skip tasks that are dependent on the task that was skipped due to a condition check failure.

# Actual Behavior
Tasks that are dependent on a skipped task are always skipped

# Steps to Reproduce the Problem

1. Create a pipeline like similar to this:
[code]
2. Run the pipeline through a PipelineRun
3. task2 is not executed

# Additional Info
1

[2019-06-26 23:01] dibyom commented on #27
Closing since we have a design in place and issues to track the implementation.
/close

[2019-06-26 23:01] #27 closed

[2019-06-27 00:43] dlorenc commented on #991
Yeah, looks like this is useless. Removing now.

[2019-06-27 01:02] dlorenc opened #1025 "Proposal: Extend the TaskRun Status to contain the exact digest of all images used as steps."
# Expected Behavior

It should be possible to determine what images (including digest) were used in a TaskRun after it is complete.

This information is available on a Pod right now under Status.ContainerStatus.ImageID. We could obtain this later by finding the Pod used for a TaskRun and getting the digests there, but we should expect that completed pods will eventually be GC'ed. The digests are l

[2019-06-27 02:48] mumoshu commented on #215
I have following use-cases to add :)

- Runs [Helmfile](https://github.com/roboll/helmfile) against the specified source to deploy a module of K8s apps
- Runs any command in an existing pod i.e. `kubectl exec`, without bringing up a pod dedicated for running `kubectl exec` itself.
- Sends a HTTP request to the specified endpoint, without creating a pod dedicated for running e.g. `curl`, and withou

[2019-06-27 03:07] hrishin opened #1027 "Proposal: extend taskrun.status.steps to have container name"
Recently while introducing some minor [changes](https://github.com/tektoncd/pipeline/issues/815) in steps status details, it broked some functionality across `CLI`, `Dashboard` and other projects integration.
Maybe because those integration tries to extract some attributes related to the `pod` base on `TaskRun.Status` fields i.e extracting the container name from step's name for fetching the logs

[2019-06-27 03:22] hrishin commented on #1014
Yes, as @chmouel said :+1:. However, we could document this somewhere?

[2019-06-27 09:00] vincent-pli commented on #991
Maybe it's useful when we decide to implement `Variable substitution` of `PipelineResource`, I guess...

[2019-06-27 13:11] nader-ziada commented on #1002
is there a reason why the input can't have the same name as the output? I feel like the easiest way is to keep the name the same and update the tasks accordingly. Otherwise @vdemeester suggestion of adding `as buildsource` would work, but just makes a little bit harder

[2019-06-27 14:04] chmouel commented on #1014
Document k8 gotchas in pipeline cli ? IMHO: People would probably google it and find this brilliant issue to get to Charle’s bash script link to fix it :)

[2019-06-27 20:37] lizhao-code opened #1029 "Tutorial task "deploy-using-kubectl" failed with "forbidden“ permissionssion"
# Expected Behavior
Should be able to apply the corresponding pipelinerun and succeeded

# Actual Behavior
task "deploy-using-kuberctl" failed

# Steps to Reproduce the Problem

(The kubernetes cluster is deployed in on-premise environmnt and dockerhub is used instead of gcr)

1. create task, pipeline, pipelinerun, and pipelineresource following the tutorial (only exception is to use docker instea

[2019-06-27 21:05] bobcatfish opened #1030 "Audit and document "paths" in Tekton Pipelines API"
# Expected Behavior

1. It should be clear to users of Tekton Pipelines what special directories will be available to executing containers, what the contents of those directories are, and what the consequences are of editing them.
2. It should be clear to contributors as well, and all directories should be defined in one location in the code

# Actual Behavior

There are a number of special direct

[2019-06-28 01:06] vincent-pli commented on #1029
Assign `cluster-admin` role to the `default` `serviceaccount`  of `default` `namespace`

[2019-06-28 05:21] yuxintong-github commented on #567
great!

[2019-06-28 14:43] ArisBlkkr opened #1032 "Usecase: Integration tests task"
# Expected Behavior
For a simular story like [url](https://itnext.io/running-integration-tests-with-kubernetes-ae0fb71e207b), I would like to run steps/containers in a task at the same time. One container contains a webserver, one a database and one the tests for integrations between the two. I only need to execute a command in the test container, not in the other containers, so I'm more or less l

[2019-06-28 14:48] sbwsg commented on #980
Possible Usecase: https://github.com/tektoncd/pipeline/issues/1032
Summary: User wants to launch a database and webserver in sidecar containers, await their readiness, then have a step container execute integration tests against them.

[2019-06-28 14:53] houshengbo commented on #1030
/assign @houshengbo

[2019-06-28 14:53] houshengbo commented on #1030
@bobcatfish
Thanks for raising this issue. I have been thinking of the special folders and got baffled all the time.
I used to submit a PR to shield the folder names /workspace/source from users for kaniko: https://github.com/tektoncd/catalog/pull/32.

I actually propose the idea that we keep these special folders as internal as possible, so that user do not need to care about them UNLESS they hav

[2019-06-28 15:02] houshengbo commented on #1029
@lizhao-code
First check https://github.com/tektoncd/pipeline/blob/master/docs/install.md#pre-requisites.
If you are not using gcloud service, you probably need to change the command `kubectl create clusterrolebinding cluster-admin-binding \
--clusterrole=cluster-admin \
--user=$(gcloud config get-value core/account)`
Like minikube or docker-desktop of mac, you need to use `--user=$(USER)`.

[2019-06-28 15:28] houshengbo commented on #1032
@ArisBlkkr
This is a lovely use case in terms of concurrency.
However, it seems to me that we need to build on top of webserver, database, or some other third party services, where we need to take care of the credentials. Is that a scope that goes beyond the integration tests of tekton pipeline?(Concerned, but not quite sure of that)
I hope you can be more generic on a certain aspect about that th

[2019-06-28 15:39] houshengbo commented on #1027
@hrishin Could you give more details on the `sufficient information`? With what kind of information do we mean having sufficient?
Per `keep the container and step name same`, it may resolve this issue in a straightforward way, but what if we want to retrieve information other than just container name?
To me, it is better to have a list of the fields or objects we can access the get the necessary i

[2019-06-28 15:52] aristosvo commented on #1032
@houshengbo
Thanks!:) I'm not sure if it is beyond the scope of Tekton to do tests for more than 1 container, as a developer I would like to. Please check [_Running integration tests in Kubernetes_](https://itnext.io/running-integration-tests-with-kubernetes-ae0fb71e207b) for a more elaborate story of the usecase and how it is currently supported with Jenkins.

[2019-06-28 19:22] houshengbo commented on #983
@bobcatfish Have we supported conditional execution yet?
If we have a step checking the image and the tags, how can we make sure next step is executed or terminated based on the result of the first step?
Is this what you mean to fix this issue?

[2019-06-28 20:42] lizhao-code commented on #1029
Thanks Houshengbo and vincent-pli,  I am able to complete the deploy-using-kubectl after creating the clusterrolebing for default account.

[2019-06-28 20:42] #1029 closed

[2019-06-29 15:03] objectiveous commented on #1019
I left a comment [here](https://docs.google.com/document/d/1iTb0rDDlgQcPbiYIGJ-atkaML8aCyPCyhfucCPJmNLs/edit#heading=h.isehsedcrq00) but I'm not sure if you'd see it.

Please consider a "break pointing" condition. For example, imagine you have a GUI w/ an Operations view of running Tekton Pipelines and you discover a PipelineRun that is failing. You might want to rerun the pipeline but pause execu

[2019-06-30 04:18] hrishin commented on #1027
@houshengbo at this moment `container.name` is missing as part of `taskrun.status.step` in our experience.

That's what ideally we can do it now unless there is a need to keep container name different from a step name.
However, changing this would require some form of consensus because it could break the existing integration which leverages step-prefix in order to derive container name.

I'm not s

[2019-07-01 08:31] cccfeng commented on #398
Hi everyone, I totally agree with what @shashwathi  say.

In the following user scenarios, whether a pipeline containing only one task is defined or an output resource in a task is not referenced by subsequent tasks, Tekton may not need to copy output resources into PVC or remote bucket. This logic is very clever, but it may not be very appropriate as the default logic.

I think it's better to par

[2019-07-01 16:57] vdemeester commented on #1016
A task could use the kubernetes and Tekton API (given it has access to the cluster and the correct RBAC setup), and get information about the current Pipeline, this would only require that a reference of the current run (taskrun, pipelinerun) can be passed to the container process (as an environment variable, through variable interpolation, …).

[2019-07-01 22:42] dibyom commented on #1019
Hi @objectiveous ! Interesting use case. The initial implementation of conditionals won't have support for this but we do have #233 open for adding support for pausing tasks till a condition is met.

[2019-07-02 00:03] howardjohn opened #1035 "Simple helloworld pipeline fails with: can't open 'echo': No such file or directory"
I created this config:

[code]

And it fails.

[code]

Pod logs shows
[code]

As a sanity check:
[code]

It seems tekton is messing with the images in some way that maybe mangles the PATH?

[2019-07-02 00:10] howardjohn commented on #1035
Changing the image to ubuntu gives me `/bin/echo: cannot execute binary file` instead.

[2019-07-02 00:14] howardjohn commented on #1035
I did not RTD,
[code]
works.

The tests were actually running `/bin/sh echo hello world` not `/bin/sh -c echo hello world` like I thought.

This is already documented at https://github.com/tektoncd/pipeline/blob/master/docs/container-contract.md so I don't think any action needed

[2019-07-02 00:14] #1035 closed

[2019-07-03 07:23] vdemeester commented on #207
/assign EliZucker
@EliZucker assigning this to you (given your comment on #1037)

[2019-07-03 13:13] bobcatfish commented on #530
Maybe use goreleaser: https://github.com/tektoncd/cli/blob/master/tekton/goreleaser.yml

[2019-07-03 13:15] bobcatfish commented on #778
This has been implemented! (Thanks @wlynch !! 🎉 )

[2019-07-03 13:15] #778 closed

[2019-07-03 13:17] bobcatfish commented on #906
We have also been working on a doc about how we can get to Beta for Pipelines, we can work on this as part of this issue.

[2019-07-03 13:20] bobcatfish commented on #926
It is done!! Thanks @sbwsg @joseblas @dicarlo2 !!! 🎉

[2019-07-03 13:20] #926 closed

[2019-07-03 15:35] javajon opened #1039 "Hello-world: Error message about missing jx namespace should not appear."
# Expected Behavior

This tutorial should work without having to create a `jx` namespace.
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task

When you create a Task and TaskRun yaml and then submit with kubectl create then an error message appears.

# Actual Behavior

Without a jx namespace you get this error:

Workaround: create an empty namespace with

`kubectl create namespa

[2019-07-03 16:41] #979 closed

[2019-07-03 17:13] hrishin commented on #1027
/assign @hrishin

[2019-07-03 18:02] javajon commented on #1039
Red herring. A previous installation of jenkins-x left behind the `jx` namespace in the context in my ~/.kube/config file. Resetting it to `default` fixed the problem.

[2019-07-03 18:02] #1039 closed

[2019-07-03 18:47] bobcatfish commented on #1027
I think the only reason these are different right now is to try to make it obvious which containers are steps and which are added by the tekton controller. I wouldn't mind changing this so that the container names and step names are the same (and maybe it would make more sense to preface the names of the containers tekton adds instead? e.g. `tekton-`)

But I think adding the container names to the

[2019-07-03 18:49] houshengbo commented on #978
We are able to set the timeout to the value 0, and we can also set the timeout to nil.
If the timeout value is 0, we can take it as no timeout.
If it is still nil, we fall back to use the default 60 mins.
@abayer @bobcatfish Does it sound a plan?

[2019-07-03 18:50] abayer commented on #978
Perfect!

[2019-07-03 20:38] hongchaodeng opened #1041 "Support for global parameter output"
# Use case

Currently we have an etcd storing configuration data. In the deploy pipeline the first task is to read the data from etcd and convert it into pipeline parameters.

This was done using the Argo global parameter output feature: https://github.com/argoproj/argo/blob/7a21adfeb0af18c2452648a8bb3698a687f99b5e/examples/global-outputs.yaml#L27-L30

# Question

Can you provide any guide on how

[2019-07-03 20:38] al3xisb commented on #617
Not sure about this one, probably because caching (read persistance) is a core concept of ci/cd architectures. But did you looked at [emptydir](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir) ?

[2019-07-03 20:52] hongchaodeng opened #1042 "Support for pulling images from private registry"
We want to build Tekton pipelines but the container images are hosted on private registry. Previously we set `ImagePullSecrets` in PodSpec to do it.

[2019-07-03 20:57] hongchaodeng commented on #1042
Nvm. We can use service account.

[2019-07-03 20:57] #1042 closed

[2019-07-04 02:25] hrishin commented on #1027
Agreed!

[2019-07-04 04:41] danielhelfand opened #1045 "Leave Resource Request Empty Instead of Requesting 0"
I recently went through the [pipelines-tutorial](https://github.com/openshift/pipelines-tutorial) in the OpenShift org and encountered the following error message:

[code]

This occurred because my OpenShift project had a `LimitRange` with the following specifications:

[code]

Since there were no specifications on the container cpu of resource request for the pipeline, the resource request was se

[2019-07-04 13:44] steveodonovan commented on #981
/assign

[2019-07-04 17:15] abayer opened #1047 "Artifact bucket storage doesn't preserve permissions on copy"
# Expected Behavior

A file that's copied from one `TaskRun` pod to a later one via artifact bucket storage should have its permissions preserved.

# Actual Behavior

It doesn't

# Steps to Reproduce the Problem

1. Run a pipeline that downloads/creates/whatever a file with executable permission in one task.
2. Copy it via artifact bucket storage to a later task.
3. Discover that the file no longe

[2019-07-04 17:42] abayer opened #1049 "cmd/pullrequest-init/github_test's TestGetStatuses is flaky due to ordering"
Sometimes you get a result like:
[code]

Ordering-dependent tests that don't have what they're testing generate in a consistent order are not ideal. =)

[2019-07-05 08:15] #1047 closed

[2019-07-05 12:58] sandrom opened #1050 "Http Support for Webhook"
# Expected Behavior

The webhook supports http (80/8080) as configurable option, so that ssl termination can happen in some loadbalancer beforehand.
I would expect https to be default, but still configurable.

# Actual Behavior

http vs https (8080/8443) not configurable

# Steps to Reproduce the Problem

https://github.com/tektoncd/pipeline/blob/master/cmd/webhook/main.go

see here for 8443. Happ

[2019-07-08 05:56] rokii opened #1051 "Support customization of injected containers for taskrun"
In my internal on premise k8s , there is enforcement that each container should have resource request and limit specified.
While making pod for taskrun, additional [init containers ](https://github.com/tektoncd/pipeline/blob/d494344ebf338a2869a4446d2e571d4006971a06/pkg/reconciler/v1alpha1/taskrun/resources/pod.go#L254-L263) will be injected into pod. This will cause the pod creation failure.

Is i

[2019-07-08 10:41] cmoulliard opened #1052 "Buildah push step is failing due to unauthorized"
## Issue

Version : tekton v0.3.1
Cluster: ocp 3.11

### Description

A buildah login against the internal docker registry running within the `default` namespace is working fine using the following task

[code]

Result:
[code]

but not when we try with the next taks to perform a `buildah push`

[code]

Result
[code]

### How to reproduce

[code]

**Remark**: Even if the imagestream is created befo

[2019-07-08 10:58] cmoulliard commented on #1052
ServiceAccount `build-bot` used by tekton and buildah contains the secret references about the dockercfg file and token

[code]

[2019-07-08 13:10] bobcatfish commented on #961
Sorry for the lack of discussion in the issue @joseblas ! I had a pretty big backlog of issues to get through and didn't get a chance to get back to this one :(

In our working group meeting last week we discussed https://github.com/tektoncd/pipeline/issues/1027 which seems like it might accomplish what you are looking for by making it so that container names are included in statuses as well as st

[2019-07-08 14:20] bobcatfish commented on #1030
That's an interesting idea @houshengbo !

I think there are kind of 4 main use cases (maybe some others I'm not thinking of):

1. Paths to PipelineResources, i.e. inputs and outputs, which have always been at `/workspace`
2. Paths to implementation details that users (hopefully) shouldn't have to know about but which are important to ppl working on Tekton Pipelines, e.g. `/builder/tools/entrypoint

[2019-07-08 14:25] bobcatfish commented on #983
@houshengbo we _could_ use conditional execution but I think it might be simpler to do this via a step in the existing Task - that way the Task could fail early if a complete run would clobber an existing Task.

imo conditional execution would make sense if it wasn't considered an error to try to overwrite an existing release - but it is an error!

[2019-07-08 14:39] cmoulliard commented on #1052
Problem resolved using this task [1] AND where within the taksRun, the namespace of the image to push matched the namespace used to deploy the project [2]

[1] https://github.com/snowdrop/component-operator/blob/dfc490710f7308dbd10686c3b1c73d8859f2a72b/demo/scripts/tekton/buildah/task.yml#L78-L96
[2] https://github.com/snowdrop/component-operator/blob/cc5b28ff1615922b499d67237abf83251f2582ea/demo/

[2019-07-08 14:39] #1052 closed

[2019-07-08 15:31] #981 closed

[2019-07-08 16:45] chmouel commented on #1052
I am glad you resolved this issue! 👍

[2019-07-09 13:45] bobcatfish commented on #897
I'm closing this as a duplicate of #685 (also updated the title of #685 to make it a bit more clear that these are the same).

Re-open if I've missed something!

[2019-07-09 13:45] #897 closed

[2019-07-09 13:48] bobcatfish opened #1056 "Update dogfood TaskRuns to use generate name"
# Expected Behavior

Folks releasing Tekton pipelines via https://github.com/tektoncd/pipeline/tree/master/tekton#release-pipeline should be able to run the Runs as-is.

This should apply to all of the `-run.yaml` TaskRuns in the tekton dir.

# Actual Behavior

Folks running these TaskRuns need to make sure to clean up old Runs before/after executing, or the Runs will silently do nothing since the

[2019-07-09 13:49] bobcatfish commented on #1056
Bahaha my run just failed, I can actually solve this myself XD

[2019-07-09 13:57] bobcatfish commented on #1056
Nevermind, I won't do this right now after all, there's an additional complication as @zxDiscovery mentioned at https://github.com/tektoncd/pipeline/issues/685#issuecomment-477846453 we have to start using `kubectl create` instead of `kubectl apply`; since the `-run.yaml` files also contain the `PipelineResources`, calling `create` on the yaml file as-is leads to failures creating these `PipelineR

[2019-07-09 15:21] abayer commented on #924
So I was about to create an issue for adding a `volume` resource type - we've got a use case where we've got one pipeline that clones a git repo, makes some changes or adds new files, generates a new pipeline to actually build/test the repo, and then runs that pipeline. Basically, what we want is to be able to reuse the workspace volume from the first `PipelineRun` in the second `PipelineRun`. So

[2019-07-09 23:20] afrittoli opened #1059 "TaskRun and PipelineRun controller do not sync status on `err` from `reconcile`"
# Expected Behavior
When `reconcile` returns an error, there status, labels and annotations of the TaskRun/PipelineRun should still be sync'ed back.

# Actual Behavior
In case of error, the error is returned, and no update happens.
There is only a little number of cases where this is relevant; nonetheless it should be fixed and unit test coverage added

# Steps to Reproduce the Problem

1. https:/

[2019-07-09 23:21] afrittoli commented on #1059
/assign me

[2019-07-09 23:21] afrittoli commented on #1059
/assign

[2019-07-10 04:10] rokii commented on #1051
I just notice this PR https://github.com/tektoncd/pipeline/pull/767. It may solve my issue. I will try and update later.

[2019-07-10 14:41] abayer commented on #924
After thinking about this for a while and starting an experimental prototype of a `volume` resource type, I think it makes sense to tackle that on its own. Opening an issue for that.

[2019-07-10 14:48] #1051 closed

[2019-07-10 14:51] abayer opened #1062 "Add "volume" input/output resource"
Related to but not exactly the same as #924. =)

In Jenkins X, we're going to be running two `PipelineRun`s of different `Pipeline`s for each build - the first will dynamically generate the second `Pipeline` from the `jenkins-x.yml` and build packs etc in the repo and potentially make changes to other files in the workspace, while the second will run the actual build. To do this, we need to be abl

[2019-07-10 17:09] xihaLong opened #1063 "Tekton Type system scope and design doc"
# Tekton Types Design Doc (starter)
Type system and any methods of extensibility to consider on top of the Types (including as-plugin or as an external project entirely). There are already JSON Schema validators. Can Tekton let you provide your own validator, or should Tekton ignore validations? This has somewhat of an impact on what happens in Arrays, Templates, and reuse of Pipelines/Resources/T

[2019-07-10 18:11] jorgemoralespou commented on #1045
In the documentation it states:
`The CPU, memory, and ephemeral storage resource requests will be set to zero if the container image does not have the largest resource request out of all container images in the Task. This ensures that the Pod that executes the Task will only request the resources necessary to execute any single container image in the Task, rather than requesting the sum of all of

[2019-07-10 18:28] jorgemoralespou commented on #598
As reported here: https://github.com/tektoncd/pipeline/issues/1045 if there's a LimitRange setting the container requested resources to 0 makes the deployment not work.

[2019-07-10 18:44] dwnusbaum commented on #1045
IIRC, the reason we set the requests to 0 explicitly in the fix  for #598 is that if you leave the request unset, the Pod still ends up summing the default values for the containers, and values used for limits become the values for requests (see https://github.com/tektoncd/pipeline/issues/598#issuecomment-479604163 for some discussion of this).

I think the best fix here would be to load the Limit

[2019-07-10 19:02] xihaLong commented on #1063
@ahpook @skaegi

[2019-07-10 19:06] xihaLong commented on #1063
reading https://puppet.com/blog/lyra-brings-puppet-concepts-and-more-cloud-native

[2019-07-10 19:20] xihaLong commented on #207
I gave some feedback on the design document. I do not see a link to the design document here yet, so: https://docs.google.com/document/d/1A_4wWFGQ6puNk1KpM_cuyVRnES2JP6-5XjceYenUh2g

[2019-07-10 19:49] jorgemoralespou commented on #1045
That would be good.
I've tried manually setting the resources requests in the Tasks for every image, but what I've found when created a Pipeline and the PipelineRun is that there were more containers defined in the Pod for which I could not easily set the memory.requests.

Some of them are using this image `quay.io/openshift-pipeline/tektoncd-pipeline-imagedigestexporter:v0.4.0`, this other one `q

[2019-07-10 20:00] dwnusbaum commented on #1045
All requests you set on steps in a Task other than the largest one will be replaced with 0.

Depending on exactly how the minimum values for a LimitRange for a Container are enforced (per-container, or per-pod?) It might mean that we actually need to set the minimum on _every_ container. If we did that, then to still have #598 fixed, we'd need to change the largest request from whatever it is (say

[2019-07-10 20:16] jorgemoralespou commented on #1045
I've verified I can set the requests on every container on every step to prevent them to be calculated and henced zeroed. Also, I've verified that the containers the framework adds (and hence I can not explicitly set the requests) are all zeroed, except for the last one I described `quay.io/openshift-pipeline/tektoncd-pipeline-nop:v0.4.0` which in the final pod has no request set, even not a zero.

[2019-07-10 21:13] dwnusbaum commented on #1045
I think they would all be zeroed except for the one with the largest request. In your example pod definition, all requests are zeroed except for the one container which requested 6mi of memory. Is that what you mean?

Yeah, I'm not sure why no requests are set for the nop container, or even why the nop container is even present. I think I can see why that would have been broken before https://gith

[2019-07-10 22:55] lafh opened #1065 "Privilege escalation: unable to run docker commands in a task."
I need outputs(logs) of running an image and save them to `/workspace/` later. Regardless of safety, how can I run a docker command in a task?

For example, running the following task will result in `docker: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?.`

[code]

This is a typical error message if you don't have the permission. I usually solve t

[2019-07-11 06:08] jstrachan opened #1066 "migrate the pullrequest-init code to go-scm to handle multiple git providers?"
It would be great to migrate the `pullrequest-init` code to support any git provider (bitbucket, gitlab, gitea et al). e.g. for https://github.com/tektoncd/pipeline/issues/1000

We've been using this fork of `go-scm` to handle multiple git providers via a single unified API: https://github.com/jenkins-x/go-scm and its been working great.

e.g. we've ported the main prow ChatOps commands into a new

[2019-07-11 15:29] dlorenc commented on #1066
cc @wlynch @bobcatfish

[2019-07-11 16:28] wlynch commented on #1066
Thanks for raising this!

I'm not against sharing the common type here, but we'll probably need to make some changes to support everything we want.

The biggest concern I see is the lack of a common status enum, since it means pipelines will need to know the implementation specific statuses. For example:

| [GitHub Status](https://developer.github.com/v3/repos/statuses/#create-a-status) | [GitHub

[2019-07-11 20:09] afrittoli opened #1067 "TestAssets.Logs is not set anymore"
# Expected Behavior
TestAssets.Logs allows to obtain the controller logs during a test

# Actual Behavior
Since the migration to knative/injection for the taskrun controller, TestAssets.Logs is not set anymore. There is a `TestLogger` that is setup and stored in the context, but it's not linked to TestAssets. We should either fix TestAssets.Logs to use the logger from the context, or we should rem

[2019-07-11 20:11] afrittoli commented on #1067
@vdemeester what do you recommend?

[2019-07-11 20:13] afrittoli commented on #1067
Since the context is not in the TestAssets, it is not possible to get the logger from here. We could add the context to the TestAssets struct.

[2019-07-11 21:31] castlemilk opened #1068 "PipelineRun hangs in Pending state"
# Expected Behavior

Pipeline should run singular task, as it would in pre v0.5.0

# Actual Behavior

Pipeline stun in `Pending` state, waiting for a `PVC` to be provisioned which hasn't been created by the controller.

Logs will be observed warning:

[code]

and

[code]

# Steps to Reproduce the Problem

deploy the following pipeline:

[code]

The `Pod` for running the pipeline will be created, b

[2019-07-11 21:54] bobcatfish commented on #1068
Oh noes, I'm seeing the same thing :(((( Not sure how this slipped by our tests but I guess we'll find out!!

[code]

I wanted to make a new 0.5.1 release with https://github.com/tektoncd/pipeline/pull/1061 but we should fix this first!

I'm guessing this is a bug with https://github.com/tektoncd/pipeline/pull/1007 so (icky) way to work around this would be to link the resources 😓

[2019-07-11 22:00] castlemilk commented on #1068
Awesome! yea I found if you create a second stage that links or depends on the first it'll created a PVC and enable the pipeline to run.

[2019-07-12 07:19] vdemeester opened #1070 "Remove PodSpec deprecated field in favor of PodTemplate"
In #1004, we introduced `podTemplate` to group `PodSpec` fields applied to the created Pod. This means we marked some `TaskRun` field **deprecated** : `NodeSelector`, `Tolerations` and `Affinity`. As we want to make most change first in a backwards compatible manner, we are currently supporting both, with `podTemplate` taking precedence.

This issue should wait until #1004 has been released (proba

[2019-07-12 14:29] bobcatfish commented on #937
Re-opening this b/c we had a massive bug (#1068) in our first attempt to fix this! 😅 🙏

[2019-07-12 19:21] #1049 closed

[2019-07-12 20:02] #1068 closed

[2019-07-12 21:32] bobcatfish commented on #1068
Sorry again about this @castlemilk and thanks for the quick report! I've created https://github.com/tektoncd/pipeline/tree/release-v0.5.1 with our 2 bug fixes and I'll make 0.5.1 release first thing monday EST :) 🙏

[2019-07-15 13:41] bobcatfish commented on #937
Quick update: @dlorenc and I have been looking into this, and instead of tackling it directly, want to propose some updates to the way we've designed input + output linking. Stay tuned!

[2019-07-15 13:43] bobcatfish commented on #1068
Okay https://github.com/tektoncd/pipeline/releases/tag/v0.5.1 should have this fixed! (It's back to making an extra PVC unfortunately, but we'll have a better fix for that via #937 hopefully!)

Thanks again for the report and your patience @castlemilk ! ❤️

[2019-07-15 13:58] abergmeier opened #1075 "SIGSEGV in Reconciler"
# Expected Behavior
Should run fine

# Actual Behavior
Leads to a _segmentation violation_.

# Steps to Reproduce the Problem

1. Created `TaskRun` on OpenShift 3.11
[code]

# Additional Info
Logs print:

[code]

[2019-07-15 14:17] vdemeester commented on #1075
@abergmeier which version of tekton is running ?

[2019-07-15 14:18] abergmeier commented on #1075
Tried both 0.5.0 and 0.5.1.

[2019-07-15 14:22] vdemeester commented on #1075
Interesting… :thinking: Was that `TaskRun` created before 0.5.x or after ?

Somehow you are running into a case that shouldn't happen… as `Timeout.Duration` should never be `nil` at that point. The only case it can happen are :
- The `TaskRun` is older, thus it's not present … I feel we will need to fix that (and backport it :sweat_smile:)
- The webhook didn't make his work (which I am really doub

[2019-07-15 14:24] abergmeier commented on #1075
`TaskRun` was created with 0.5.0.

[2019-07-15 14:29] vdemeester commented on #1075
@abergmeier the webhook sets default values, and in there, the default, configured, timeout for all `TaskRun`. So that `Timeout` field should never be nil *post* 0.5.0.

Did you have pre-existing `TaskRun` before deploying 0.5.0 ? (aka did you update the controller with already existings TaskRuns)

[2019-07-15 14:32] abergmeier commented on #1075
Without knowing the technical details - this sounds brittle to me.

Not at all - this is a fresh cluster :)

[2019-07-15 14:39] vdemeester commented on #1075
/kind bug
/assign

[2019-07-15 14:51] #978 closed

[2019-07-15 15:45] dlorenc opened #1076 "Resources, PVCs and Chaining"
In the debugging of #937 and the subsequent rollback of our failed fix attempt in #1068, @bobcatfish and I did a bit of a deep dive into the current state of the Resource code to try to understand the current behavior and decide on the right fix.

We have some ideas on what we'd like to do to fix the issue, but I want to open this up early to track our initial findings and open up the conversation

[2019-07-15 15:50] cmadam commented on #698
@bpowell: could you please elaborate more on how you solved this problem?  I am having exactly the same issue after setting up a Kubernetes cluster with one master and one worker, using `kubeadm`. I am using version 0.5.0 of tekton pipelines, and Kubernetes version 1.15.  I have followed the instructions here https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/ to ensure t

[2019-07-15 16:20] bobcatfish commented on #698
@cmadam are you seeing exactly the same issue, or could it be a slightly different one? Just a heads up that there was a bug in v0.5.0 (#1068) that would cause PipelineRuns to hang (and presumably eventually timeout) which is fixed in https://github.com/tektoncd/pipeline/releases/tag/v0.5.1

(If it's the same issue described above where the webhook is having a problem, then it's something else!)

[2019-07-15 17:17] cmadam commented on #698
@bobcatfish thank you so much!  Upgrading to release 0.5.1 has solved my problem:
[code]

For the sake of completeness, this is the contents of hello_task.yaml (taken straight from tutorial):
[code]

[2019-07-15 18:05] bobcatfish commented on #698
Phew, glad it's working for you now @cmadam ! I don't quite know why you would see that exact error 😅 but at least you're not seeing it anymore! :D

[2019-07-15 18:25] bobcatfish commented on #850
Quick update here, we are leaning currently toward [solution 1](https://docs.google.com/document/d/1h_3vSApIsuiwGkrqSiegi4NVaYG4oVzBquGAhIN6qGM/edit#heading=h.nd7k1fdr7uvz) or [solution 1b](https://docs.google.com/document/d/1h_3vSApIsuiwGkrqSiegi4NVaYG4oVzBquGAhIN6qGM/edit#heading=h.d8vcg5cskezy).

In both of these solutions we would initially at least switch to the `$(thing)` syntax.

[2019-07-15 18:26] bobcatfish commented on #850
Oh and thanks to @vdemeester we want to start calling this feature "variable interpolation" instead of templating ;)

[2019-07-15 20:40] xihaLong commented on #1063
reading https://blog.openpolicyagent.org/securing-the-kubernetes-api-with-open-policy-agent-ce93af0552c3

[2019-07-15 20:58] cmadam commented on #698
@bobcatfish : While I can create the task, I am still having a problem when trying to run this task:
[code]
This is the content of the task run object:
[code]
[code]

[2019-07-15 21:02] xihaLong opened #1078 "Is rego / OPA / Open Policy Agent support in scope for Tekton?"
Do we support Open Policy Agent and rego as "the way, the truth, the method of policy enforcement"?
https://www.openpolicyagent.org/docs/latest/how-do-i-write-policies#what-is-rego
Does Tekton support multiple policy agents? Does Tekton feel the urge to write its own (currently: no)?

Tekton is specifically planning to *not* implement 100 bajillion things. Tekton needs to depend on outside systems

[2019-07-15 21:19] xihaLong opened #1079 "Is it reasonable for Tekton's Typing system to build itself on OPA/rego/Open Policy Agent?"
If OPA can enforce arbitrary constraints successfully, then can OPA be used to enforce Tekton's entire Typing system? Large parts of it?

If rego can (rego does looks flexible enough to provide validation like this), then should the Type system of Tekton be defined or implemented in terms of rego files rather than coded into Tekton's controllers? Matching rules can be specified.

Relying on the ex

[2019-07-15 21:20] xihaLong commented on #1063
filed https://github.com/tektoncd/pipeline/issues/1078 and https://github.com/tektoncd/pipeline/issues/1079

[2019-07-15 21:30] xihaLong commented on #1079
Will using Tekton mean requiring OPA as well?
There are several examples now of other teams replacing several logic engines with declarative rego using OPA for enforcement, as shown in OPA's adopters.md
https://github.com/open-policy-agent/opa/blob/master/ADOPTERS.md

OPA can readily function as a library within another system if the team decides it makes sense. OPA appears to encourage this type

[2019-07-15 21:52] carltonmason commented on #1075
FYI, I ran into the exact same issue in the same place an hour ago with taskRun when following the https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md.

[2019-07-15 22:12] cmadam commented on #698
Actually, I have tried removing the hello-world task and re-creating it, and that failed, as well.  First, I have got a slightly different error message:
[code]
And then, on subsequent invocation, I started receiving the old error message again:
[code]

[2019-07-16 00:36] xihaLong commented on #1063
created https://docs.google.com/document/d/1pH9wyVaGVLjnhi5tOa2TSq7d1j5HTTeCbCmosRo4jWE

[2019-07-16 07:41] vdemeester commented on #1075
@carltonmason thanks :angel: which version of kubernetes (and/or OpenShift) are you using ?

@carltonmason @abergmeier can you display what `kubectl get mutatingwebhookconfiguration` says ?

[2019-07-16 07:43] abergmeier commented on #1075
[code]

[2019-07-16 07:59] vdemeester commented on #1075
@abergmeier @carltonmason are you using `Task` or `ClusterTask` for those ?

[2019-07-16 10:39] abergmeier commented on #1075
Task

[2019-07-16 12:10] carltonmason commented on #1075
I am using Tekton 0.5.1 release on Mac and I am using Task.
[code]

[2019-07-16 13:27] #297 closed

[2019-07-16 16:02] #1075 closed

[2019-07-16 20:41] xihaLong commented on #850
Tekton going forward, as of last week's working group meeting, is following the template style of K8S, which can be interpreted as specifically avoiding a few things called out in the K8S community document here: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/declarative-application-management.md

2/3rds of that K8S document may easily apply directly

[2019-07-17 02:02] xihaLong commented on #850
"Less Template, More Tekton" proposal https://docs.google.com/document/d/11QWLYPP-yj_K_ghQqHr3LFonFE9bfHwtooYq6qPhn8w/edit

[2019-07-17 07:34] abergmeier commented on #1075
Thanks for the quick fix.

[2019-07-17 07:37] abergmeier opened #1096 "Error: resource name may not be empty"
# Expected Behavior
It should work

# Actual Behavior
Complains in log:
[code]
# Steps to Reproduce the Problem

1. Add `TaskRun`
[code]

# Additional Info
Seems to be similar to https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/private-taskrun.yaml. By now I am worried whether it is ensured, that all examples actually work.

It might be related to https://github.com/tektoncd/pipe

[2019-07-17 09:24] abergmeier commented on #623
Cannot reproduce on OpenShift 3.11 with Tekton 0.5.2 - which is ok for us now.

[2019-07-17 09:24] #623 closed

[2019-07-17 09:26] abergmeier commented on #889
Gave up on installing on OS3.9.

[2019-07-17 09:26] #889 closed

[2019-07-17 09:32] abergmeier opened #1097 "Enable git mirroring"
# Expected Behavior
It should be semantically possible to mirror repos using Tekton.

# Actual Behavior
AFAIU currently Git Resources want a branch and work on that.
For mirror we couldn't care less about a branch however.

# Additional Info
Mirroring might be as easy as:
[code]

[2019-07-17 10:57] vdemeester commented on #1096
@abergmeier thx for the issue. Can you attach the task definition used for the taskrun ?

There was some validation problems on the example, that are fixed by https://github.com/tektoncd/pipeline/pull/1081

[2019-07-17 10:58] vdemeester commented on #1096
/kind question

[2019-07-17 11:20] abergmeier commented on #1096
There you go:
[code]

[2019-07-17 11:41] abergmeier commented on #1096
If there is something wrong with the CRD, I cannot for the life of me figure it out :(

[2019-07-17 14:57] dibyom commented on #1019
/assign

[2019-07-17 14:57] dibyom commented on #1020
/assign

[2019-07-17 14:57] dibyom commented on #1021
/assign

[2019-07-17 16:41] dlorenc commented on #1076
OK, time for some suggestions!

Here's what we think we need to start fixing:
* Fix the mental model of the git resource
  * It needs to support uploading back to git (features TBD)
* Add a directory or fileset resource to encourage use of the existing replace the existing use-case of the git output
  * Add a PVC type to the storage resource
* We need to fix the logic around what happens when thin

[2019-07-17 17:07] abayer commented on #1076
@dlorenc https://github.com/tektoncd/pipeline/pull/1087 seems like it may be germane. I opted to go with a new volume resource rather than adding it as an implementation of the storage resource, but we could definitely go down that road. The one thing I'd note in re: getting rid of chain-copying with this is that we'd need to have an option to not delete the PVC at the end of the run, at least to

[2019-07-17 21:31] xihaLong commented on #1078
Discussed at weekly meeting. Conclusion: Add some items to Experimental (https://github.com/tektoncd/experimental) to start, then can move to its own repo or another existing repo when the documentation comes out well

[2019-07-17 21:33] xihaLong commented on #1079
Asked today at the weekly meeting. Answer: "Do not know yet" Needs investigated further in a specific design to decide

[2019-07-17 21:35] xihaLong commented on #1063
asked about Types again at the weekly working group meeting

PipelineResources may turn into updates to the TaskRun/PipelineRun (hanging the results from the run directly), as one potential future direction. Related conversation in #544

[2019-07-18 13:55] Fabian-K opened #1101 "Configure storage class for PVC of PipelineRuns"
Hi,

when using pipelines, a pvc for each pipeline run is automatically created. I want to be able to configure the storage class used instead of always using the default storage class of the cluster.

[2019-07-18 14:04] Fabian-K commented on #1101
Looks like this can be added to https://github.com/tektoncd/pipeline/blob/master/pkg/artifacts/artifacts_storage.go#L34-L44 similar to how the size of the pvc can be configured.

I´m thinking of giving it a try myself, however as this would be my first contribution to tekton and i´m not an experienced go developer this might take some time 🙈

[2019-07-18 14:35] cmoulliard opened #1103 "Operator must be restarted to allow a pod created by taskrun to get security privileged"
# Info

ocp: 3.11
tekton release: v0.4.0

# Issue

We have an operator responsible to create a `task` and `taskrun` and to deploy them into a namespace. As the `buildah step` part of the task [1] needs privileged access [2], we update the `SecurityContextConstraint` in order to append the `serviceaccount` to the list of the users defined for the SCC/Privileged

Unfortunately, even if the SCC is up

[2019-07-18 17:36] dibyom opened #1104 "Why do we run imageDigestExporter after each step in a taskrun?"
The imageDigestExporter container writes the digest of any built images to the container's `terminationMessagePath` which is then parsed by the taskrun controller in order to update the taskrun's status with the image digests.

The container only gets added if a task contains an output resource of type image. However, it [gets added after each step](https://github.com/tektoncd/pipeline/blob/master

[2019-07-19 10:04] m1093782566 opened #1105 "Does Tekton provide advanced CD strategies such as blue/green and canary?"
Per the document https://cloud.google.com/tekton/, 'With Tekton, you will also be able to leverage advance deployment patterns like rolling, blue/green, canary deployment, or GitOps workflow.'

However, I am unable to find anything on such advance deployment patterns. Am I missing something or tekton does not support rolling, blue/green, canary deployment etc. by it self?

[2019-07-20 04:45] lance opened #1106 "Is there a way to authenticate with an image resource's registry?"
# Expected Behavior
I am attempting to use an image as an input resource, and it actually seems as though it might work, however I am running into problems due to the fact that the registry requires authentication.

My use case is that I have another process outside of the Tekton pipeline purview which creates an image and pushes it to a registry. My `Task` then needs to access this image from the

[2019-07-21 12:28] m1093782566 commented on #1019
I think it's really an important feature which is required in my environment.

[2019-07-22 02:40] vincent-pli commented on #1022
@dibyom
Do we plan to support nested conditions:
[code]
If yes, I think it's will be a big topic 😄

[2019-07-22 11:15] bobcatfish opened #1107 "Add linting to check for boilerplate header"
# Expected Behavior

All source code files should start with:

[code]

# Actual Behavior

Since we came from the knative project, sometimes source code sneaks in with `2018 the Knative Authors` instead of `2019 the Tekton Authors`. We should be catching this before the code gets submitted.

# Additional Info

Ideally we should implement this as a Task in `tekton/` :D

[2019-07-22 11:42] piyush-garg commented on #733
/assign

[2019-07-22 14:28] vdemeester commented on #1101
@Fabian-K https://github.com/tektoncd/pipeline/pull/1087 might be interesting to you :angel:

[2019-07-22 14:35] dlorenc commented on #1076
Thanks for the explanation @abayer! So to be clear, the Volume resource would persist, but the Storage one would get deleted transparently?

[2019-07-22 14:40] vdemeester commented on #1106
hey @lance

Did you try with what's described in `auth.md`](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md) : [here](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-docker) and [here](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#kubernetess-docker-registrys-secret) (preferred imho).

[2019-07-22 15:01] abayer commented on #1076
In the PR, the new `volume` resource persists, the `artifact-storage` PVC does not, yes.

[2019-07-22 20:54] OliverNocon opened #1111 "Flexibility for tasks?"
We have the following use case:
We integrate a security scan tool into the CD pipeline which needs to run inside a build tool-specific container. The type of image used for the container depends on the content of the repo. So far we identify the technology at runtime and then start a pod containing the correct container.

Maybe I am on the wrong track but I was thinking about integrating the scan

[2019-07-22 21:57] lance commented on #1106
@vdemeester so I have been trying to get this to work for a while now, but am still not successful. Let me provide a little more detail and perhaps you can tell me if I'm trying to do something that's just not possible yet.

A process external to pipelines ([nodeshift](https://github.com/nodeshift/nodeshift)) generates an `ImageStream` using `s2i`, resulting in an image in the internal repository

[2019-07-23 03:04] lance commented on #1106
Just a little more info - here is the log file from the `deploy-webapp-taskrun-pod-nnnnnn`.

[code]
And this is a little snipped of output showing that the authentication has been set up.

[code]

The error message is `unable to retrieve auth token: invalid username/password` which makes me think my secret is wrong. Hmmm.

[2019-07-23 13:44] pmorie commented on #941
Yep, this is my motivating concern. It would be a bad outcome if we were to provide an API that did not dissuade users from putting secret information into non-secret resources. It's fine for resources to require secret information - the most important thing is that secret information should be stored in the secrets resource, rather than in another resource.

[2019-07-23 15:42] vdemeester commented on #1106
It just struck me that you are using the image resource `url` in the `image`, so our `creds-init` magic doesn't work in there. This is something we need to tackle somehow.

/kind feature

[2019-07-23 17:00] vdemeester opened #1113 "Make sure the webhook is always registered before allowing user to create resources"
As of today, `knative/pkg`'s code is the one responsible to register the webhook on kubernetes. This means, the following are possible :
- The webhook fails to start (for any reason), it does not get registered, thus it's not applied
- The webhook takes time to start (slow network, …), it's not registered quickly enough, a user can create resources

In all those cases, the user can end up creating

[2019-07-23 17:19] vdemeester opened #1114 "Release upgrade scenario tests"
Related to latest release (0.5.2) that include few problems, with the one of interest here being #1075, a controller panic.
We decided during the [post-mortem](https://docs.google.com/document/d/1iHbb4Yc5IgcR5UG5BWPM9V1sr1-05tOHaO2VgXCQ-jo/edit) brainstorm, that we need to have some upgrade scenario tests, *a least* (or *to start with*) for the release.

In a gist this means at least the following

[2019-07-23 17:21] vdemeester commented on #315
@bobcatfish should this issue be closed now that `tektoncd/triggers` exists ?

[2019-07-23 17:23] vdemeester commented on #988
It now works :tada:
![2019-07-23-192242](https://user-images.githubusercontent.com/6508/61733067-4c0ec900-ad7f-11e9-869b-2731c6f0216d.png)

[2019-07-23 17:23] #988 closed

[2019-07-23 18:09] bobcatfish commented on #988
woooot thanks @vdemeester !! 🎉

[2019-07-23 19:29] dlorenc opened #1118 "Do not automatically copy inputs used also as outputs"
When the same resource is used as both an input and output to a Task, we copy the resulting information directly from the input path:

`/workspace/$resource`

rather than copying it from the `/workspace/output/$resource` directory. This causes a few problems:

- Task implementations should not need to know whether they are called with the same resource as an input and output. They should behave th

[2019-07-23 19:29] dlorenc commented on #1118
Ref #1076

[2019-07-23 20:53] bobcatfish commented on #315
kk let's do it! The main reason I was keeping this open was b/c I still need to expand that design doc to include conditions/filtering but that's just an additive change :D

🎉 woot!

[2019-07-23 20:53] #315 closed

[2019-07-23 23:57] lance commented on #1106
@vdemeester so I managed to get this to work. The resources, tasks and pipelines are [here](https://github.com/lance/pipeline-webapp-example/tree/master/deploy), if you are interested. It's actually not as complicated as I thought - mostly it was misconfiguration on my part. But the long and short is that I am able to specify an image from the internal repository as an input resource on a task and

[2019-07-23 23:57] #1106 closed

[2019-07-24 08:19] sujithjoseph opened #1120 "Can I use tektoncd for building data processing pipelines?"
I am trying to see if I can build a data processing pipeline using tekton CD with say an input of event in Kafka Queue. Some example of data processing pipeline task steps will include Text extraction from files, Running AI/ML predictions / classification / tagging on extracted text from the earlier tasks , meta-data processing etc and finally push it as an event to kafka and store the data in S3.

[2019-07-24 11:47] vdemeester opened #1121 "Tests from other tekton project on releases"
Related to latest release (0.5.2) that include few problems, with the one of interest here being #1075, a controller panic.
We decided during the [post-mortem](https://docs.google.com/document/d/1iHbb4Yc5IgcR5UG5BWPM9V1sr1-05tOHaO2VgXCQ-jo/edit) brainstorm, that we need to run other project's tests (as much as possible) while doing the release (or on what commit we are releasing).

In a gist this

[2019-07-24 13:11] abergmeier commented on #1096
So I now boiled this down to:

[code]
And still get the same error. So either the example is wrong, or this is not a question but a bug IMO.

[2019-07-24 13:45] abergmeier commented on #1001
I have the same error message in #1096. Can anyone explain to me what happened in `sidecars.Stop` to trigger this error message?

[2019-07-24 14:29] afrittoli commented on #1076
Regarding the git resource, I think it makes sense to keep it as input only; an actual output behaviour would be sync back the status to the git server we cloned from, but I'm not sure we want / need to go there  :)

[2019-07-24 14:43] afrittoli commented on #1076
Thanks for the nice write-up, it's really helpful!

In general it makes sense to me; I wonder if we need to restrict the output of and input resource / input of a an output resource to a filesystem.
Resources, (along with input params), define the interface of a Task, and I think that's their most defining feature. That should make it possible to do things like swap a Task for another one that mat

[2019-07-24 14:57] EliZucker commented on #1096
I was curious and just manually ran that yaml you posted in the most recent comment and I don't think I got an error.

Are you still seeing

[code]
when describing the taskrun?

[2019-07-24 15:16] dibyom commented on #1022
I was planning on only supporting basic AND or OR for top level conditions with no nesting.
Mainly because like you said, it will be a complex API and these scenarios can be also be implemented by writing your own Condition check container and referencing those in your pipelines.

[2019-07-24 16:27] dlorenc opened #1123 "Determine policy for releasing security fixes on images"
The Tekton Pipelines project releases a set of YAML files that contain pointers to images that are pinned by digest. These images are used in production situations, so we should be continuously monitoring them for security vulnerabilities.

When a vulnerability is found, we need a playbook or set of steps to:
- remediate the issue
- make the fixes available to users
- inform users

This issue is t

[2019-07-24 16:46] abergmeier commented on #1096
The problem is probably related to some special handling in OpenShift.
For us we decided to no longer try to get Tekton running on OpenShift <=3.11 and instead rather go with Google Cloud Build.

[2019-07-24 16:46] #1096 closed

[2019-07-24 16:48] abergmeier commented on #1097
No longer have a need for Tekton to do the mirroring.

[2019-07-24 16:48] #1097 closed

[2019-07-24 16:48] abergmeier commented on #796
Has been documented.

[2019-07-24 16:48] #796 closed

[2019-07-24 17:38] houshengbo commented on #1114
/assign @houshengbo

[2019-07-24 18:53] dibyom opened #1124 "Data Race in Pipelinerun reconciler tests"
The reconciler tests seem to occasionally fail with a panic. Looks like https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/timeout_handler.go#L265 is being called after the test exits. (My assumption is that the [`defer cancel()`](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/v1alpha1/pipelinerun/pipelinerun_test.go#L741) should ensure that the timeout goroutines get

[2019-07-25 08:37] #1027 closed

[2019-07-25 08:43] vdemeester commented on #1114
Updated the description a bit more.

[2019-07-25 09:24] vincent-pli commented on #1022
Make these logic in container will make them hard to reuse.
need some research to find a solution 🤔

[2019-07-25 12:04] vdemeester commented on #1104
Looking into that, I think this is working like that to support multiple image built in different steps. but looking at the code, only one step/container is needed.

/assign
/kind bug
/remove-kind bug

[2019-07-25 13:08] Leboudin commented on #1105
Guess it could be implemented using the Condition CRD in the near future...

[2019-07-25 19:18] dlorenc commented on #1076
I'm not sure I understand, can you explain a bit more? Basically disallow things to push to outside services directly from inside a Task?

[2019-07-26 04:30] Leboudin opened #1128 "Define notifications & notificatiers as CRDs"
Suggest that notifications & notifiers are defined and invoked as CRDs, so that people can easily implement their own notification workflows.

----

I'm about to get started on this, any idea is appreciated :D

[2019-07-26 15:50] #1104 closed

[2019-07-26 21:00] pierretasci opened #1131 "Allow sidecars to terminate gracefully"
# Expected Behavior
A sidecar might need to complete any pending work before being torn down (eg, uploading metadata).

# Actual Behavior
Sidecars are replaced with a `nop` image as soon as a TaskRun completes preventing any cleanup work.

# Steps to Reproduce the Problem

1. Create a TaskRun
2. Using an AdmissionsController to inject a sidecar that streams output from the Task to another service.

[2019-07-26 21:24] dibyom commented on #1131
/kind bug
/cc @sbwsg

[2019-07-27 12:07] afrittoli commented on #1076
Heh, sorry, I was trying to say something simple in a very convoluted way :P

I was commenting on this point you made:

Do we need to restrict us to a "filesystem injected into a Tekton Task" or can we say that resource in general should represent reconciliation between a system in the outside world and a resource made available to a Tekton Task?

Resource could be an environment variable or a com

[2019-07-29 12:14] thavlik commented on #1120
Not knowing too much about Tekton, I think this is a great idea. My use case is very similar to yours (1000x100mb files that need text analysis) and I was planning on using RabbitMQ. My intuition is that using a Tekton pipeline would be less of a headache.

I’ll post back if it turns out. Please keep us up to date on your efforts as well! :)

[2019-07-29 14:30] sbwsg commented on #1131
There was some discussion of this problem on the [original design proposal](https://github.com/tektoncd/pipeline/issues/727). I think the main issue raised was that you can't guarantee an arbitrary sidecar has a `kill` binary available, so exec'ing into a container and running kill on a pid won't always work.  I'll do some reading on how kubernetes kills containers in a pod and see what it would t

[2019-07-29 15:03] pierretasci commented on #1131
Yeah, I read through the discussion on the original proposal and I think it makes sense. I do think that it wouldn't be particularly harmful to send a `SIGTERM` or `SIGKILL` into the container arbitrarily with the contract that if you don't handle shutdown in XX seconds then we will perform our `nop` container swap.

If the container doesn't have shutdown logic, no harm done it seems. At the worst

[2019-07-29 20:36] sbwsg commented on #1120
Obviously there's nothing in Tekton that will actively prevent you from building whatever kinds of pipelines you want. However, while I don't think it would be impossible to do what you're suggesting I also don't think Tekton Pipelines is geared towards your goals either. Tekton's focus is very much to provide building blocks and working implementations of continuous integration and delivery primi

[2019-07-29 20:36] #1120 closed

[2019-07-30 00:52] sujithjoseph commented on #1120
Thanks Scott for your quick reply!

[2019-07-30 01:03] thavlik commented on #1120
I’m writing s3 support this evening. My use case is some one-off tasks working on ~1000x100mb files stored in a bucket, and I wanted to accomplish this with Tekton to become more familiar with it.
As sbwsg said, it’s clearly possible. Tekton supports basically all of the resources types as inputs that you could want. Implementing s3 support has been a breeze.

[2019-07-30 01:19] #207 closed

[2019-07-30 10:06] cappyzawa commented on #1105
I'm also interested in this topic.

[2019-07-30 14:00] sbwsg commented on #1105
The short answer is that Tekton doesn't currently provide CD strategies out of the box. The longer answer is that there are multiple threads of ongoing work to model deployment strategies in such a way to work well with Tekton's resource model.

I'm personally interested in and have started investigating possible approaches to supporting some kind of GitOps deployment flow with a Tekton Catalog en

[2019-07-30 14:00] #1105 closed

[2019-07-30 14:04] dlorenc commented on #1124
Not able to repro. I just tried with 1000:

[code]

[2019-07-30 14:15] sbwsg commented on #1124
hrm, another data point, I'm able to repro.  go version 1.12.5

[code]

Tried with different settings of GOMAXPROCS but no change to the result, it panics each time I run it.

[2019-07-30 16:05] Fabian-K commented on #1101
Thx @vdemeester , indeed. However, I think this is still relevant as #1087 targets more complicated setups like chaining pipelines while this is for the basic pipeline case, right? I started working on this in https://github.com/Fabian-K/pipeline/tree/pvc-storage-class

[2019-07-30 16:08] afrittoli opened #1136 "Task trigger within a pipeline"
This is a proposed feature that would help orchestrating asynchronous pipelines.

The use case is as follows: as a user I want to be able to include in a pipeline a component that is executed asynchronously and possibly externally i.e. Tekton on a different cluster or something that is not Tekton at all.

For instance a pipeline may include a Task that sends a cloud event on completion. The cloud

[2019-07-30 16:11] sbwsg commented on #980
A bunch of other usecases for user-defined sidecars running alongside tasks:

* Start a dummy API server with fixture data in a sidecar for tests to execute against.
* Introduce network proxy so primary Task container can access internal/external networks.
* Introduce network proxy to capture network traffic for debugging and/or test doubles.
* Add a logging sidecar to stream log output from the p

[2019-07-30 16:19] pierretasci commented on #980
I'm not sure if this is the right issue to add this thought to but I wanted to bring up the use case of sidecars that span multiple Tekton tasks. I am thinking here of expensive objects to setup like a database with a full schema that several tasks would call.

This could be an argument for allowing sidecars to be defined on a Pipeline and on a Task.

[2019-07-30 19:29] sbwsg commented on #980
Interesting idea!  Am I right in thinking that this is more like a "sidecar Pod" rather than a "sidecar Container"?  Sounds like it would need more startup configuration - i.e. a Service to direct traffic to the pod running the initialized database.

My initial thought for sidecars in Pipeline resources was as a way to define containers that will be run as part of each Task's Pod, rather than as a

[2019-07-30 19:44] sbwsg commented on #1131
I totally agree, I'm just not entirely sure yet how this would be implemented if the container doesn't include a `kill` binary.

[2019-07-30 21:30] dibyom opened #1137 "Conditionals Support for Pipelines"
Tracking issue based on design in #27

[2019-07-30 21:33] dibyom commented on #1023
ref: https://github.com/tektoncd/pipeline/issues/1137

[2019-07-30 23:17] bobcatfish commented on #1023
One thought after looking at #1137 :

- If a Task is getting a resource `from` a Task that has a failing condition, I'm not sure it makes any sense to run that dependent Task: e.g. if a Task is building an image as an output, and another task wants to get the built image (digest) `from` that Task, it wouldn't make sense to run it anyway
- `runAfter` is fuzzier - if it's just a matter of ordering,

[2019-07-31 05:03] StrongMonkey commented on #1005
Thanks for the response. I have solved my issue.

[2019-07-31 05:03] #1005 closed

[2019-07-31 14:15] dibyom commented on #1128
That's awesome! I'd recommend writing up a [proposal](https://github.com/tektoncd/community/blob/master/process.md#proposing-features) first and discussing it at a[ working group meeting](https://github.com/tektoncd/community/blob/master/contact.md#working-group). Looking forward to it!

[2019-07-31 15:47] vdemeester commented on #1136
@afrittoli I wonder if this makes Pipeline (and resources) too complicated. If we have `triggers` that consume CloudEvents, the `Task D` could be it's own pipeline, independent of the rest of the pipeline, and know nothing on how to consume CloudEvents.

[2019-07-31 15:58] dlorenc commented on #1066
Looks like we also need support for labels in go-scm.

[2019-07-31 20:02] samueltauil opened #1142 "Error message missing name of the failed taskrun"
# Expected Behavior
Get a error message that provides the name of the task to better troubleshooting purpose.

# Actual Behavior
status:
  completionTime: '2019-07-31T19:54:11Z'
  conditions:
    - lastTransitionTime: '2019-07-31T19:54:11Z'
      message: >-
        invalid output resources: TaskRun's declared resources didn't match
        usage in Task: Didn't provide required values: [source]

[2019-07-31 20:16] sbwsg commented on #1142
Could you provide the contents of the pipeline/pipelinerun and task/taskrun YAMLs that trigger this?

Looks like one of the tasks is expecting a resource named source and it isn't being wired in.

Taking a wild guess, is the error manifesting from the [tutorial pipeline](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#pipeline)?

[2019-07-31 20:29] samueltauil commented on #1142
Source for the pipeline and tasks are here: https://github.com/samueltauil/openshift-cd-demo/tree/ocp-4.1-tekton

I don't remember from top of my head a resource called source there but will double check.

I'm starting the pipeline with `tkn pipeline start deploy-pipeline --resource tasks-git=tasks-git --resource tasks-image=tasks-image-internal -s pipeline`

tkn version: 0.2.0

[2019-07-31 20:52] samueltauil commented on #1142
I found some references to the `source` reference in my yaml files but still relevant the issue as the errors doesn't show what Task is throwing the error.

[2019-07-31 22:44] EliZucker commented on #1136
Also thinking something similar to @vdemeester . The idea for the trigger project right now is allow for a general way to accept events like CloudEvents, then use specific fields from the event payloads as parameters when invoking external resources. To me it seems harder to allow for a raw CloudEvent payload to enter a task as an input.

[2019-08-01 03:32] bobcatfish opened #1145 "Noisy log message :O"
# Expected Behavior

When looking at logs from running Tasks (e.g. using `tkn pr logs -f` to tail logs from a PipelineRun😉 ) the only output should be:

- Informative logs from the containers inside the executing pods
- Error logs if actual errors occur
- Logs from the user provided pods

# Actual Behavior

Whenever I look at logs from a running Task I see something like this over and over:

[code

[2019-08-01 15:36] samueltauil commented on #1142
Just add more to the thread, I more concerned about messages like this that doesn't bring the actual Task name that generated that error:
 `message: >-
        invalid output resources: TaskRun's declared resources didn't match
        usage in Task: Provided extra values: [tasks-git]message: >-`

[2019-08-01 15:46] sbwsg commented on #1142
Yeah, agreed, it would be helpful to include the name of the Task and TaskRun that caused the mismatch in the error message.

[2019-08-01 16:19] EliZucker commented on #1142
Looked into this briefly. This isn't an easy fix because those error messages are produced via `ValidateResolvedTaskResources()`. That validation method is reused for TaskRuns and PipelineRuns, both of which drop the particular `Task` name, if it exists (remember they can be directly embedded).

[2019-08-01 16:36] EliZucker commented on #1142
Additional points:

- You can find the `TaskRun`/`PipelineRun` name right? I'm assuming that error is attached to one of them. It's still not as easy as it could be, but with that name and the missing parameter's name it's doable to find the source of the error
- We allow embedded `taskSpec` definitions, so in some situations it will be impossible to give the task's name that has a resource valida

[2019-08-01 17:41] samueltauil commented on #1142
@EliZucker Yes I do can see a list of TaskRun and PipelineRun but when you have many tasks it is kind of hard to understand where that error came from and looking to the future I'm assuming pipelines are gonna grow either in complexity and size so having this would be a key feature for troubleshooting purposes.

[2019-08-01 17:53] dibyom commented on #1142
ValidateResolvedTaskResources() has a parameter of type `ResolvedTaskResouces` which has a [`TaskName`](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/resources/taskresourceresolution.go#L27). Can we not add that to the error message [here](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/validate_resources.go#L121)?

(We'd have to

[2019-08-02 07:04] emichaf opened #1147 "ko apply -f config/ not working"
Followed the guide at:
  https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md

In step 1. Install/Run everything:
  I got the below error... any ideas?

$ ko apply -f config/
namespace/tekton-pipelines created
podsecuritypolicy.policy/tekton-pipelines created
2019/08/01 16:53:11 Building github.com/tektoncd/pipeline/cmd/webhook
2019/08/01 16:53:11 Building github.com/tektoncd/pipeline/c

[2019-08-02 14:33] sbwsg commented on #1147
I haven't seen this error before but I'm curious what version of Kubernetes you're running.  What's the output of `kubectl version`?

You can also see what YAMLs ko generates by running `ko resolve -f ./config`. This might help debugging if you can paste the results here.

[2019-08-02 14:43] houshengbo commented on #1114
Here is the plan:

1. Add a new flag called --upgrade-tests to the script plumbing/scripts/presubmit-tests.sh, so that
presubmit-tests.sh supports this upgrade scenario. Then, implement the scenarios in the scripts.

Create a new prow job in plumbing to call the script ./test/presubmit-tests.sh --upgrade-tests, to run the upgrade tests.

2. Another way can be create a new script called ./test/pres

[2019-08-02 15:03] abayer opened #1149 "Resource upload containers should be able to run even if steps in the pod have failed"
Currently, the step(s) added by `GetUploadContainerSpec()` won't run if an earlier step fails, since the pod won't run any steps after a failure. This makes things like reporting a build failure via a `PullRequestResource` or uploading the workspace to a storage resource even if the build fails impossible. This should be configurable, ideally both as something that can be inherent to the resource

[2019-08-02 15:09] abayer commented on #1149
At first glance, it looks like we could do this by adding a flag to the `entrypoint` binary to ignore the presence of a `[wait file].err` file and run the command anyway. Also seems like this kind of logic is how we'd want to do a more general conditional execution of steps within a `Task`? (cc @dibyom)

[2019-08-02 15:46] dibyom commented on #1128
@Leboudin let's continue this discussion for notification design in #49 since that's already been open for a while. I'm going to close this issue.

[2019-08-02 15:46] #1128 closed

[2019-08-02 15:48] dibyom commented on #1149
This seems like a `finally` type clause for a Task. How do we add this to the API? Should something like a `continueOnFailure` be part of the `Task`? (Or for something like a pull request resource, does it make sense to add it as part of the resource spec or maybe even the resource interface?)

[2019-08-02 15:49] dibyom commented on #1147
/kind question

[2019-08-02 16:04] abayer commented on #1149
I think for these particular purposes it'd be step-specific, so it would probably make sense to add it to `Step` in some form. Then you could specify it in either a resource spec or the resource type, or just specify it on an arbitrary `Step` as well.

[2019-08-02 16:36] vdemeester commented on #1114
@houshengbo also I feel this should be a periodic job instead of sthg run on each PR. In that sense, I think have a separate script makes more sense 👼

[2019-08-02 18:21] afrittoli commented on #49
/assign @afrittoli

[2019-08-02 19:42] thavlik opened #1150 "Unable to use secrets with build-bot serviceAccount"
# Expected Behavior

A task should use secrets as per the documentation.

# Actual Behavior

The TaskRun finishes with this error (as per `kubectl get tr build-my-image-task-run -o yaml`):
[code]

Output of `kubectl describe pod`:
[code]

# Steps to Reproduce the Problem

1. Push a kaniko image to a private repository
2. List a known working k8s dockerconfigjson secret in the `secrets` section of

[2019-08-02 20:48] dacleyra commented on #1150
as a guess,
pipeline resource may have to have a url in the form of
git@github.com/thavlik/my-git.git

https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/taskrun-git-ssh.yaml#L40

[2019-08-03 03:37] thavlik commented on #1150
Thanks for the tip! I will give this a try and post back!

[2019-08-04 10:06] afrittoli commented on #1149
Right now we have an implicit assumption that a failed step will stop the rest of the steps in a Task, and that a failed Task will stop the execution of the pipeline (except for tasks that are already running). I think the assumption is correct for sequential items - like steps - but we should have some `finally` type of clause, like proposed in the design for conditionals.
For Tasks it's a bit di

[2019-08-04 10:09] afrittoli commented on #1145
It's the logger we use from knative, it tries to enrich log lines with a commit ID from kodata - see https://github.com/knative/pkg/pull/506.
I understand that we use the knative logger for Tekton services, but perhaps we should be using a different logger for Tasks and Pipelines.

[2019-08-04 10:13] afrittoli commented on #1147
I think it would be useful to pinpoint the issue to try a `ko resolve` to see if that is successful or a `ko publish` of a single image.

[2019-08-04 10:15] afrittoli commented on #1136
Heh, that's exactly the point. `Task D` could of course be an independent TaskRun or PipelineRun, however it's success status would be then decoupled from that of the initial pipeline, so some extra component would be required to decide whether the overall pipeline was successful or not.

[2019-08-04 10:19] afrittoli commented on #1136
Yeah - I didn't intend for a TaskRun to implement a new way of accepting CloudEvents - this is merely a way to say that a TaskRun may depend on an external input. The external input might be a well defined interface between tektoncd/triggers and tektoncd/pipeline. In fact I was thinking that we could have the taskrun controller creating an event listener dedicated to feeding the input to the taskr

[2019-08-04 10:30] afrittoli commented on #260
We may want to revisit this in light of the current work on resources https://github.com/tektoncd/pipeline/issues/1076.

I think we need to decide whether a Resource is something that maps a state from outside to into a task from and from a task back to outside - or if we want resources to do actual work, like building an image or deploy an application.

It would be interesting to have an abstract

[2019-08-04 10:31] afrittoli commented on #216
Is there something still missing here from the current implementation?

[2019-08-04 10:48] afrittoli commented on #508
In my opinion the batching of PRs should be something implemented on prow/tide side. It can be implemented or wrapped in a Tekton Task in the catalog, but I don't think the code for the merge should live in the tekton/pipeline repo.

All of our input/output resources transfer the state/payload of a resource from outside into a Task or the other way around, but they usually don't do any modificatio

[2019-08-04 10:54] afrittoli commented on #742
We do publish some events today, but only in case of errors and afaik only for Tasks and Pipelines. There may be some standard events published for containers.

We do have start and stop times of everything in the status, so with that it is possible to build a timeline of execution - perhaps displaying the timeline is something that it would be nice to integrate into the CLI and/or the dashboard.

[2019-08-04 11:00] afrittoli commented on #267
Thank you! I've been ramping up on the different bits and pieces, I'll start working on some document soon.

[2019-08-05 00:26] vincent-pli commented on #1136
@afrittoli

I think it's make sense. we can have a `CloudEvent` input resource (actually a listener).
then we could have an event receive `Condition`, will hang if no right event received.
Take these two thing together, we can achieve the upper diagram.

[2019-08-05 03:15] cappyzawa opened #1154 "Support for pushing app to Cloud Foundry Cluster"
Original: [Proposal: Support pushing app to Cloud Foundry Cluster \- Google Groups](https://groups.google.com/forum/#!topic/tekton-dev/TWK5gpBCvBs)
# Expected Behavior
I think it would be nice to make a `type` parameter for Cluster Resource as well as Storage Resource.
If the type parameter is not set or set `k8s`, the cluster type is kubernetes.
If this parameter is set `cf`, the type is cloud fo

[2019-08-05 12:42] sbwsg opened #1155 "Validate Design & Implement Tekton Logging Proposal"
The Design Doc for this feature can be read and commented on here: [Design Doc](https://docs.google.com/document/d/1YJrRXY7S1VIzWrJUoY4Xy9NJzcx6fwaq3Cv41Gqhgs4)

Following on from #107 a design doc for logging in Tekton has been circulated with the working group and initial feedback has been gathered. It's now time to validate the proposal with potential early users and to implement it for review.

[2019-08-05 12:46] sbwsg commented on #107
I'm closing this issue out as we have now circulated a [design doc](https://docs.google.com/document/d/1YJrRXY7S1VIzWrJUoY4Xy9NJzcx6fwaq3Cv41Gqhgs4) for logging in Tekton and the utility of information retained in this issue is limited due to its age.

I've opened #1155 to encompass the work of validating and implementing the proposed design and encourage anyone looking to get involved on this top

[2019-08-05 12:46] #107 closed

[2019-08-05 13:01] sbwsg commented on #980
I've written up a short design doc for specifying sidecars in Tekton.  [Available here](https://docs.google.com/document/d/1OiV75sIqwo77QbASiItBVFVsM5gWgxvtpuc4fLcbjBs).

It doesn't address the issue of enforcing a sidecar lifecycle at the moment. I've been skimming through the k8s codebase looking for the spot where the pod termination flow is implemented and [it looks as though](https://github.c

[2019-08-05 13:45] paulalex commented on #1012
Sorry to jump in but I have a similar use case. Is it possible to run builds that deploy into k8s as our current jenkins set up does for us, but also use tekton pipelines to deploy changes for terraform to roll out infrastructure changes? I cant find any information on this online.

[2019-08-05 15:11] bobcatfish commented on #1076
TODO for next release: break this down into component issues, esp. since this will probably span releases.

[2019-08-05 15:17] aristosvo commented on #980
@sbwsg Nice piece of work, thanks a lot!

With regard to the implementation of sidecar lifecycle, what are you looking for exactly?

- Validation the sidecar is ready
- Graceful failing
- Graceful termination

Is there more to it?

[2019-08-05 15:21] sbwsg commented on #980
@aristosvo Referring specifically to https://github.com/tektoncd/pipeline/issues/1131 : the ability to signal to sidecars that they're going to be terminated soon so they can clean up / flush buffers etc.

[2019-08-05 16:24] sbwsg commented on #1131
I've been skimming through the k8s codebase looking for the spot where the container termination flow is implemented and [it looks as though](https://github.com/kubernetes/kubernetes/blob/42d7feee28bafaf91f328f9b115ad3c4c2184982/pkg/kubelet/kuberuntime/kuberuntime_container.go#L533) the precise implementation of the grace period is delegated to the container runtime.

[2019-08-05 16:38] bobcatfish commented on #1101
I am going to re-open this to make sure that the features in #1087 get this functionality as well!

[2019-08-05 16:45] bobcatfish commented on #937
I'm going to close this in favor of #1076: this will remain a known issue for the moment, in the meantime we will work on #1076 and remove this problem by changing the way resource linking works.

[2019-08-05 17:15] siamaksade opened #1160 "Invalid pipelinerun lacks labels"
When a `PipelineRun` is created that contains validation error, the pipeline run fails as expected however the `tekton.dev/pipeline` label is not set on the pipeline.

[code]

Valid pipelines get the `tekton.dev/pipeline` label set correctly to the name of the referenced pipeline.

[2019-08-05 17:48] vdemeester commented on #1160
/kind bug
/assign

[2019-08-05 20:24] bobcatfish commented on #922
TODO to make this happen:

- [x] Update our Prow cluster so we get support for Tekton (https://github.com/tektoncd/plumbing/pull/55 🎉 )
- [ ] Figure out a way to get logs from our Runs into our log viewer (gubernator)  chance that @cjwagner might be working on this in Prow already.... or we can leverage @sbwsg 's work on log uploading?
- [ ] Pick a very simple Pipeline to add as our first Pipeline

[2019-08-06 10:08] cappyzawa commented on #1154
@afrittoli What do you think?

[2019-08-06 10:37] emichaf commented on #1147
kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2", GitTreeState:"clean", BuildDate:"2019-03-25T15:26:52Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2", GitTreeSt

[2019-08-06 12:19] sbwsg commented on #1147
Reformatting as monospaced:

[code]

[2019-08-06 12:27] sbwsg commented on #1147
The odd thing I notice here is that the `images.caching.internal.knative.dev` CRD has been replaced with the string `../vendor/knative.dev/caching/config/image.yaml`. That also lines up with the error reported - this string isn't a valid YAML object but it's embedded in a YAML doc.  I don't know why that is happening.  When I run `ko resolve -f ./config` on my machine I get the following YAML for

[2019-08-06 12:33] sbwsg commented on #1147
Do you have a `vendor/knative.dev/caching/config` directory in your git checkout? And does it contain an `image.yaml` file?  If not you might try `git fetch`ing upstream and `git reset`ting to upstream/master, or simply trying to take a completely fresh `git clone` of the repo.

[2019-08-06 13:45] vdemeester commented on #1147
@emichaf which system are you running this on ? it seems there is something weird happening with symlinks :thinking:

[2019-08-06 14:22] dlorenc opened #1167 "Proposal: Refactor Resource containers into "hyperresource" container."
Currently Resources built into Tekton take the form of a set of containers and volumes that are run in order before and/or after a TaskRun executes. Each Resource is responsible for mutating the TaskRun/Pod spec to add its own init and/or regular containers.

This works, but has led to a sprawl in the number of containers executed, which complicates the generated pod yamls.

This issue proposes re

[2019-08-06 20:01] bobcatfish commented on #850
As discussed [in our working group](https://github.com/tektoncd/community/blob/master/contact.md#working-group), for now we will go ahead with [solution #1b](https://docs.google.com/document/d/1h_3vSApIsuiwGkrqSiegi4NVaYG4oVzBquGAhIN6qGM/edit#heading=h.d8vcg5cskezy) which replaces the `${}` syntax with `$()`. If in the future we want to continue to explore more changes like:

1. Adding env var inj

[2019-08-06 20:05] bobcatfish opened #1169 "Less Template, More Tekton"
# Expected Behavior

[As said by @xihaLong](https://github.com/tektoncd/pipeline/issues/850#issuecomment-511977453):

Tekton going forward, as of last week's working group meeting, is following the template style of K8S, which can be interpreted as specifically avoiding a few things called out in the K8S community document here: https://github.com/kubernetes/community/blob/master/contributors/desi

[2019-08-06 20:05] bobcatfish commented on #1169
+ @skaegi who I think has been looking into this recently

[2019-08-06 20:05] bobcatfish commented on #850
Created #1169 to continue the Less Template, More Tekton discussion!

[2019-08-06 20:06] bobcatfish opened #1170 "Remove `${}` in favor of `$()` syntax"
In #850 we updated Tekton to support both `${somevariable}` and `$(somevariable)` syntax for variable replacement. The goal is to remove the `${}` synxtax in favor of `$()` but in a backward compatible way. This issue is to track completely removing support for `${}` in a later release.

[2019-08-06 20:57] pierretasci opened #1171 "x509 certificate signed by unknown authority"
# Expected Behavior
I am trying to run a container from my private registry within Tekton. I would like Tekton to invoke the `entrypoint` defined in the container rather than specify a command. Per, https://github.com/tektoncd/pipeline/blob/master/docs/container-contract.md I have added an ImagePullSecret to the service account running my pipeline.

I would expect Tekton to be able to pull my imag

[2019-08-07 05:42] vdemeester commented on #1171
@pierretasci Thanks for the issue. This is one pitfall of our `entrypoint` dark magic… WIthout a command, pipeline tries to get the image entrypoint from the registry, and, in your case fails because of certificates.

We need to find a way to use k8s image pull secret in pipeline (or do that in a separate container that would have this secret) when we try to fetch the image config from the registr

[2019-08-07 15:15] pierretasci commented on #1171
Yeah that is what I figured was going on so I am glad to see that I'm not crazy 😄

Pardon my naivete, but is an image pull secret enough here? If the issue is that the image running the entrypoint "magic" doesn't trust the self-signed cert from my registry, being able to login to the registry wouldn't be enough. Is that about right?

[2019-08-07 15:22] vdemeester commented on #1171
@pierretasci it should be enough, but it's the pipeline controller itself that also needs it (to get the image config)…

[2019-08-07 15:40] dibyom opened #1173 "Pipeline status not updated when `runAfter is used with a `condition`"
Say we have a pipeline with two pipeline tasks A and B. A is a conditional task that only runs if a condition is true while B is dependent on A using either `from` or `runAfter`.

# Expected Behavior
If task A is skipped due to a condition failure, task B should not run. The pipeline status should be set to success since both A and B are skipped

# Actual Behavior
Task A is skipped due to conditio

[2019-08-07 15:42] dibyom commented on #1019
Closing this since we have added the APIs as well as an implementation that allows running condition containers, along with variable substitution support for parameters.

[2019-08-07 15:42] #1019 closed

[2019-08-07 15:53] vdemeester commented on #1173
@dibyom adding this to 0.6 milestone as it will ship conditionals :angel:

[2019-08-07 18:15] rakhbari commented on #1150
I have the same `ErrImagePull` issue as @thavlik and mine has nothing to do with Kaniko. It's a fairly straight-forward `Task` and `TaskRun` that's attempting to pull a `builder` image and issue commands to it to build app JAR artifact.

[code]

Here's the `build-bot` account as described by kubectl:
[code]

I have double and triple-checked the validity of all the secrets listed under `secrets`. T

[2019-08-08 02:00] bobcatfish commented on #906
Notes from our recent governance meeting, which I will update our docs with:

1. Backwards incompatible (i.e. making the change in a backwards compatible manner)= tag all OWNERS, then 50% + 1 minimum approved
2. Additive changes = Two OWNERS should approve

[2019-08-08 05:07] vdemeester commented on #1150
/kind bug
/kind question

[2019-08-08 07:08] MemorySpring opened #1175 "cannnot run the example"
# Expected Behavior
 run success
# Actual Behavior

invalid input params: param types don't match the user-specified type: [pathToDockerFile pathToContext]

# Steps to Reproduce the Problem

1.compile the controller
2.start controller
[code]
3. kubectl apply -f example/pipelineruns/pipelinerun.yaml

# Additional Info

[2019-08-08 07:15] MemorySpring opened #1176 "cannot run the example/out-pipeline"
# Expected Behavior
run success
# Actual Behavior
flag wrong
[code]
# Steps to Reproduce the Problem
see #1175

# Additional Info

[2019-08-08 09:13] MemorySpring commented on #1176
the image tekton/entry-point was wrong. change the  image can solve the problem

[2019-08-08 09:13] #1176 closed

[2019-08-08 09:20] #977 closed

[2019-08-08 13:00] afrittoli commented on #1167
\o/ That would be great

[2019-08-08 18:00] #906 closed

[2019-08-08 20:19] skaegi commented on #207
@EliZucker I'm sorry to pick on a closed issue but I think there are a few things here that we need to think about... (perhaps a few already have an answer)
1) How do we represent an array parameter with a CLI
2) Is args the only use-case? This is not something the container spec's env/arg based substitution supports so we should be careful. If we want to get param values "from" configmaps or secr

[2019-08-08 22:46] chhsia0 opened #1180 "Proposal: Dynamic Output Resources"
# Expected Behavior

Currently a `PipelineRun` binds a task's output to predefined *static* resources, which is not intuitive. A more natural way to model a pipeline is to dynamically generate new resources based on predefined templates as the output of a task. For example:
[code]
In the above example, the PipelineRun and Pipeline does *not* bind any predefined image resource to the `img` output r

[2019-08-09 15:32] skaegi commented on #1045
LimitRange is used and although a best practice for namespaces where Tekton Tasks are running is to definitely not set a `minimum` we should still try to honor the request.

I agree that we could certainly get fancy wrt calculating an upper limit on request e.g. `maximum - (minimum * (number of tasks - 1))` but I would tend to keep things simple and leave this at `maximum` at least for now.

For t

[2019-08-09 16:10] danielhelfand commented on #1045
I think it’s a good idea to honor a LimitRange minimum before requesting the default value, but I disagree with leaving the default request as 0. I think, despite the fact the LimitRange default is higher than is needed, we need to honor the default value and can’t assume 0. I think it’s a better approach to have the default be empty and trust the LimitRange defaults have been set appropriately by

[2019-08-09 16:57] dwnusbaum commented on #1045
The problem is that if set the request to the LimitRange minimum or the default request, #598 becomes a problem again, because now the default/minimum values will be combined to compute the resources required for the Pod even though the containers will only execute one at a time, so the pod requires more resources than it will ever use at a single point in time.

That might be fine if you use the

[2019-08-09 17:37] danielhelfand commented on #1045
My apologies. I didn’t fully go through the discussions in #598 and now better understand the proposal from @skaegi.

If the goal here is a short term fix, I think it sounds reasonable. I think a question is if it makes sense to require resources be defined for a Task. However, this seems like it would be a poor user experience. Not sure if there had been any discussions around that.

[2019-08-09 17:39] #1173 closed

[2019-08-10 09:48] jorgemoralespou commented on #1045
IMHO there should be the ability for the user to explicitly set this values
in every container that tekton adds to the pod, so he can fix the problem
if it arises. Limit range is something that typically a user/developer
doesn't control and a problem not being able to schedule a pipeline can be
really tricky to fix. The user/developer should be able to fix these as
much as possible.

I think that

[2019-08-10 20:50] nnachefski opened #1182 "RFE: Add a git parameter in TaskRun object to disable TLS verification from git source"
A resourceSpec param is needed for resource type 'git' to ignore TLS/SSL verification.  This is so i can build source from my local gitlab-ce instance (that doesnt have valid certificate).

[code]
add something like:
[code]

[2019-08-12 00:39] dlorenc commented on #1182
This SGTM.

[2019-08-12 16:56] #850 closed

[2019-08-12 18:30] bobcatfish commented on #781
@ImJasonH do you want to try to get this in for 0.7? I'm gonna add it to the next milestone but lemme know if that's too soon.

[2019-08-12 18:32] ImJasonH commented on #781
I don't have any specific urgency for it, but it should be fairly easy to implement if enough people think it's worth it and useful enough.

I'll add it to the WG agenda this week to get feedback before committing to it :)

(Thanks for pinging this to remind me!)

[2019-08-12 19:54] #1025 closed

[2019-08-12 20:01] skaegi opened #1185 "Inconsistency with how we use and parameterize a taskRef"
In a Pipeline and PipelineRun we reference `params`, `resources.inputs`, and `resources.outputs`. In a Task and TaskRun we reference the same variables as `inputs.params`, `inputs.resources`, `outputs.resources`. This is a bit confusing and inconsistent. If we want to make a change here we better get going quick...

If we were to make a change here (and recognizing that it would be breaking) I wou

[2019-08-12 20:07] bobcatfish commented on #872
p.s. going to propose pipelineresource embedding for https://github.com/tektoncd/pipeline/issues/544 anyway :D

[2019-08-12 21:00] bobcatfish commented on #1185
This has been bothering me for a while now 😭

It is doubly bad b/c I'm pretty sure I did it....

[2019-08-12 21:49] bobcatfish commented on #544
I've created [a design doc](https://docs.google.com/document/d/1fF2vWMs12d3FwkqkNuzS7FzQFQSFz1ZKUe6CHqkIg0c) to propose tackling this by embedding `PipelineResources` in `PipelineRuns`, and managing their lifecycle in the Pipelines controller. (The [resource extensibility proposal](https://docs.google.com/document/d/1rcMG1cIFhhixMSmrT734MBxvH3Ghre9-4S2wbzodPiU/edit?ts=5d498dc1#heading=h.vs1ata2i1s

[2019-08-13 06:25] yfei1 opened #1187 "Documentations for using tekton as agent in prowjob"
# Expected Behavior
I'm not sure if this is a Prow or Tekton related issue. I was working on migrating a CI pipeline from Google Cloud Build to Prow. However, it seems like the native Kubernetes agent does not support running build/test sequentially in a pipelined way. I looked into api.ProwJob's [source code](https://github.com/kubernetes/test-infra/blob/master/prow/apis/prowjobs/v1/types.go#L79)

[2019-08-13 08:53] vdemeester commented on #1187
@yfei1 I would say it might be more a prow issue but I feel we could also document it here (or at least on `tekton.dev`)

[2019-08-13 12:29] gireeshpunathil commented on #1001
Hello!
I am using minishift v1.34.1  from https://github.com/minishift/minishift/releases , and looks like I am hit with the issue reported above.

 - do you know if https://github.com/tektoncd/pipeline/commit/cf2ecd56bcb73fa25118a280a2562a69b8957b83 is included in `v1.34.1`?
 - are there workarounds possible? I qualified the pipelineref and taskref with kind in my definitions, but the issue persi

[2019-08-13 16:40] dlorenc commented on #1185
I would also love to write params to disk somehow under /workspace/inputs/params for full consistency.

[2019-08-13 16:56] #1160 closed

[2019-08-13 16:58] vdemeester commented on #1185
@dlorenc what would be the benefit to write them to disk instead of passing via environment variable ? And then we are back to variable substitation and all-as-environment variables discussion :angel: (https://docs.google.com/document/d/1h_3vSApIsuiwGkrqSiegi4NVaYG4oVzBquGAhIN6qGM/edit#heading=h.api53thmnjwo)

[2019-08-13 17:22] yfei1 commented on #1187
Thanks for your prompt reply! Could you point out some resources that I could look into for using tekton with prow?

[2019-08-13 19:37] bobcatfish commented on #1149
My personal feeling is that Notifications (#49) could be a nice answer here. Notifications could use PipelineResources and their job would be to:
1) execute after Tasks have completed
2) have access to metadata about the execution of previous Tasks / execution of a Pipeline

[2019-08-13 20:32] dlorenc commented on #1185
I meant in addition to that method.

If we ever want tasks to be able to output parameters, then files would probably make sense for that, and then this would be consistent.

[2019-08-15 14:13] skaegi opened #1197 "params should support valueFrom"
All `params` value fields (e.g. pipelinerun, taskrun, pipelineresource) should support valueFrom similar to container env support -- see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#envvar-v1-core and https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#envvarsource-v1-core

To start with we should support `configMapKeyRef` and `secretKeyRef` to avoid having

[2019-08-15 14:28] bobcatfish commented on #1197
Sounds reasonable to me! @skaegi any chance you could provide an example of what this syntax would look like?

[2019-08-15 22:40] jlewi opened #1198 "kustomize package for tekton"
Have you considered creating a kustomize package for TektonCD?

The Kubeflow project is starting to test TektonCD and we are heavy users of kustomize so we are creating a kustomize package.

kubeflow/manifests#264

Someone could potentially upstream that if it makes sense.

/cc @kkasravi

[2019-08-16 04:51] moficodes opened #1199 "Tutorial Task Inputs and Outputs fails to find dockerfile"
# Expected Behavior
Follow the `Task Inputs and Outputs` part of the tutorial and a docker image is build.

# Actual Behavior
The `TaskRun` step fails.
on
[code]

I get

[code]

This suggested to do
[code]
This gives me
[code]

I kept everything default except for the image url value in the `PipelineResource`

# Steps to Reproduce the Problem
Followed the tutorial.
Installed tekton latest as of 08

[2019-08-16 05:01] ImJasonH commented on #815
Looks like there's still at least one lingering reference:

- TaskRuns in progress have `Reason: Building` (from [here](https://github.com/tektoncd/pipeline/blob/53c936baecfe40a04800c0d3f1502b3f1687a7f0/pkg/status/taskrunreasons.go#L38)) -- I'm not sure what the difference is between `ReasonBuilding` and `ReasonRunning`, but any place we use `Building` we should use `Running` instead.

[2019-08-16 06:35] Letty5411 opened #1201 "No event for PipelineValidationFailed"
# Expected Behavior
When try to run a pipelinerun, it failed with the following condition:
[code]
In this situation, I expect that there may be event about this failure.

# Actual Behavior
No event in this situation.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-08-16 07:17] Letty5411 opened #1202 "taskrun timeout is not accurate"
# Expected Behavior
Define a pipelinerun with two tasks, taskA and taskB. taskB is defined to run after taskA. Set a timeout for pipelinerun, like 10s.

Assume taskA will finish in 5s, taskB will finish in 10s. When pipelinerun timeout failed, taskB will still be running.

This is because, the timeout of taskA and taskB are both 10s. But taskB will not be created until taskA finished. So taskB wil

[2019-08-16 14:10] skaegi commented on #1197
Yes and I'm also signing up for doing this.

[2019-08-16 14:14] skaegi commented on #1197
/assign

[2019-08-16 14:26] bobcatfish opened #1205 "Build tests are flakey"
# Expected Behavior

Our tests should only fail when there is a real error! Especially the "build" tests.

# Actual Behavior

Sometimes the build tests fail like this (e.g. https://github.com/tektoncd/pipeline/pull/1203#issuecomment-522013395):

[code]

# Steps to Reproduce the Problem

Not sure! I saw this happen locally (i.e. when running [the release pipeline](https://github.com/tektoncd/pipeli

[2019-08-16 14:55] bobcatfish commented on #1199
Whoops, I see the problem:

[code]

😅  The braces are mixed! We really need tests for our docs...

When you say latest, do you mean the latest from HEAD in the repo, or the latest released version? Just a note that versioned docs are available at https://github.com/tektoncd/pipeline#read-the-docs

[2019-08-16 15:04] #1199 closed

[2019-08-16 15:51] ImJasonH commented on #821
There are e2e tests for `build-gcs` storage resources, and more are coming in #1200. Because they only pull publicly-visible objects, no creds are needed and they can be expressed as YAML tests instead of Go tests.

I tried to write a similar YAML test for a "regular" `gcs` resource pulling the same `archive.zip` file used in those `build-gcs` tests, and it fails:

[code]

[code]

FWIW I'm able to

[2019-08-16 16:05] moficodes commented on #1199
[code]

I didn't see the version there. But should have seen this one too.  🤦🏻‍♂️

I saw the error message and it looked like the context root was wrong. Error messages are hard.
Thanks @bobcatfish 👍 🙏

[2019-08-16 16:07] bobcatfish commented on #1199
Thank _you_ for the report @moficodes ! :D

[2019-08-16 17:44] tylerauerbeck opened #1209 "Task Retry Interval"
# Expected Behavior
I would like to define a task to retry X number of times, but to have a cooldown period of Y seconds between retries.

# Actual Behavior
I currently haven't found any documentation that shows that this is possible. I would like to know if this is possible.

# Steps to Reproduce the Problem
N/A

[2019-08-16 17:49] sbwsg commented on #1209
I don't believe we have cool down support for retries. There are manual ways of injecting one if you wrap your step command in a bash script with a `sleep` but it would be hacky.

Could you add a description of the practical use case for this?  What specific purpose would the cool down period serve?  Is this related to a rate-limited API in some way?

[2019-08-16 18:34] moficodes opened #1210 "Unexpected end of JSON input on Task Inputs and Outputs example"
# Expected Behavior
Run the tutorial to have a build image.

# Actual Behavior
[code]

I think two lines to notice is
[code]

and
[code]

If this is a secret issue, maybe we can see little better error messages.
But I should have the right credentials set. In this namespace I can pull image from the same source.

Might be missing something.

# Steps to Reproduce the Problem
- Run through the Task

[2019-08-16 18:41] bobcatfish commented on #1210
Hi again! :D

@moficodes looking at the output:

[code]

I think maybe ` us.icr.io` should be `us.gcr.io`?

[2019-08-16 18:54] vdemeester commented on #1205
This is the linters (golangci-lint) that time outs.. this might happen when they are scheduled on a slow node (or loaded node). We could bump the timeout for those, or split them to a job on their own 🤓

[2019-08-16 20:02] skaegi commented on #941
I wonder if borrowing the container env approach and using valueFrom with a secretKeyRef might be a reasonable approach here - https://github.com/tektoncd/pipeline/issues/1197

[2019-08-16 20:53] moficodes commented on #1210
Hey @bobcatfish no its the ibm cloud container registry. 😬

I will try testing with some other container registry next and see if thats why its failing.

[2019-08-16 21:57] bobcatfish commented on #1187
In the context of #922 I got Prow + Pipelines up and running for my own repo (thanks to @JoelSpeed 's notes in https://github.com/kubernetes/test-infra/issues/13874#issuecomment-521237150 and some help from @krzyzacy + @BenTheElder !!), so I'll take this on and document how to get it to work!

[2019-08-16 21:58] bobcatfish commented on #922
I got a Pipeline running with Prow against my own repo, so I've got a good idea of what needs to get done here :D

Also @sbwsg has been investigating logs and it looks like all the logs are going to be automatically filterable in stackdriver which might be a decent approach!

[2019-08-16 22:03] bobcatfish commented on #922
I had to use version 0.3.1 or older with Prow, opened https://github.com/kubernetes/test-infra/issues/13948

[2019-08-16 22:10] bobcatfish commented on #1210
![image](https://user-images.githubusercontent.com/432502/63200929-1775f080-c051-11e9-8350-7a717b31d91c.png)

hahaha sorry about that! I tried to go to `us.icr.io` in my browser with no luck and thought that was the end of it XD

This probably has something to do with how `kaniko` is doing the auth then - https://github.com/GoogleContainerTools/kaniko/issues/425 looks like a related issue tho i do

[2019-08-16 22:54] moficodes commented on #1210
The service account secret was the culprit.

More specifically
[code]
Adding this annotation and pointing it to the right base.
Its a bit weird. But the image is created and pushed to the cloud. 🤘🏽

Thank you @bobcatfish for your help.

Closing.

[2019-08-16 22:54] #1210 closed

[2019-08-18 17:41] moficodes opened #1211 "The Pipeline tutorial fails with error"
# Expected Behavior
Push image and create deployment
# Actual Behavior
Taskrun fails with
[code]
# Steps to Reproduce the Problem
Run through the pipeline deployment.

# Additional Info
Ran on kubernetes 1.15

# Fix
The issue is that the the `skaffold` folder `deployment.yaml` removed the service yaml from the file.
https://github.com/GoogleContainerTools/skaffold/commit/3f93642deee42e3ad3dfab741f

[2019-08-19 12:52] sthaha opened #1213 "Provide a way to specify default service accounts"
# Expected Behavior
Currently when a PipelineRun/TaskRun is created without any `serviceAccount` set, it remains empty. The proposal is to provide a way to set a default `serviceAccount` if none is specified.

# Additional Info

I believe this can be achieved by using the current `SetDefaults()` mechanism.

[2019-08-19 13:22] vdemeester commented on #1213
To add a bit more, this would be something that can be configured (using the `config-defaults` config map) :angel:

/assign @sthaha

[2019-08-19 14:16] dlorenc opened #1214 "Proposal: Allow Output Resources to add pre-run containers"
With the upcoming change to the behavior of output resources: https://github.com/tektoncd/pipeline/pull/1122

We now have a potential ease-of-use issue. Consider the common case of a Task that takes an input resource and produces an output resource.

## Description

If the Output Resource is brand new, the Task is responsible for seeding the output directory with all the information it needs. This

[2019-08-19 14:50] dlorenc commented on #1214
It might also be enough to instead just treat the Output Resource as an input resource for initialization purposes.

[2019-08-19 15:03] bobcatfish commented on #1210
Glad you were able to get it working @moficodes !!! Seems a bit odd that you have to use an annotation with gcr.io when you're actually using icr.io :sweat_smile:  Feel free to open another issue if it's something you feel we should look into further :pray:

[2019-08-19 19:34] EliZucker opened #1219 "Change serviceAccount to serviceAccountName to be consistent with k8s"
The `serviceAccount` field name should probably be renamed to `serviceAccountName` to match more closely with the normal k8s API. See `serviceAccountName` under pod [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/).

This stems from @bobcatfish 's comment here: https://github.com/tektoncd/triggers/pull/63/files#r314863023

[2019-08-20 03:11] EricXiao commented on #698
Hi there,

I have encountered the same issue mentioned by @cmadam.

[2019-08-20 12:56] vdemeester commented on #1219
I'm ok with renaming it — I swear I saw `serviceAccountName` somewhere, at some point, in pipeline :angel:
If we go for it, we need to do it in a backward compatible way :angel:

[2019-08-20 13:33] bobcatfish opened #1221 "Create docs on how to make backward compatible changes"
# Expected Behavior

It should be reasonable to tag an issue like https://github.com/tektoncd/pipeline/issues/1219 with "good first issue" cuz it's pretty straightforward what needs to be done and has a fairly low blast radius.

# Actual Behavior

Because of [our api compatibility policy](https://github.com/tektoncd/pipeline/blob/master/api_compatibility_policy.md#backwards-incompatible-changes) t

[2019-08-20 13:38] bobcatfish opened #1222 "Create and maintain release upgrade docs"
# Expected Behavior

If a person had an older version of Tekton pipelines installed, e.g. 0.5.2, and they want to upgrade to a newer version such as 0.6.0, they should be able to look at some docs that explain to them how to make any needed updates between the two (e.g. backwards incompatible changes, and backwards incompatible change warnings).

# Actual Behavior

Folks can see what exactly has c

[2019-08-21 08:40] #821 closed

[2019-08-21 13:56] #815 closed

[2019-08-21 15:19] cmadam commented on #698
@EricXiao I am not sure how to solve this issue in a Kubernetes cluster.  The way I got around it was by installing an OpenShift cluster (instead of Kubernetes) in my testbed.  Tekton ran without any problems in OpenShift.  I have used primarily this to install OpenShift: https://github.com/gshipley/installcentos

[2019-08-22 02:34] cnych opened #1228 "Install Task/TaskRun Object Internal error occurred: failed calling webhook "webhook.tekton.dev""
# Install Task/TaskRun Kind Object Internal error occurred: failed calling webhook "webhook.tekton.dev"

# Expected Behavior
I expect the Task/TaskRun execution to run smoothly from the tutorial here - https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task.

# Steps to Reproduce the Problem

1. kubernetes version
[code]

2. install release.yaml successfully
[code]

3. define Task O

[2019-08-22 07:00] Letty5411 opened #1229 "cancel pipelinerun should emit pipelinerun event"
# Expected Behavior
when cancel a pipelinerun by edit status, pipelinerun should emit a fail event.

# Actual Behavior
No event.
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-08-22 07:00] cnych commented on #698
I have encountered a similar issue. I tried v0.5.2 and v0.6.0 got the same result.
[code]

maybe the admisson controller settings problem?

[2019-08-22 13:45] bobcatfish opened #1231 "Create plan + Timeline for beta"
# Expected Behavior

We should have a clearly documented plan and timeline for beta (which are are hoping to get to in 2019 - and probably a 1.0 release as well!)

# Actual Behavior

We have been discussing this [in this doc](https://docs.google.com/document/d/1H8I2Rk4kLdQaR4mV0A71Qbk-1FxXFrmvisEAjLKT6H0/edit#) but it's still in progress (and I just realized there is no issue to track it!!)

[2019-08-22 13:50] bobcatfish opened #1232 "Released image tags should include version"
# Expected Behavior

If a user of Tekton wants to know what version they have installed, they should be easily able to get that information.

# Actual Behavior

To find this now you need to:
- Find the names of the images you are running, by looking at your tekton Deployments and/or finding the release.yaml you installed (e.g. release.yaml attached to https://github.com/tektoncd/pipeline/releases/

[2019-08-22 13:56] ImJasonH commented on #1232
It is valid for an image name to include both tag and digest. In that case the digest wins but the tag can be useful informationally as in this case.

[2019-08-22 15:52] bobcatfish opened #1234 "GCS resource "dir" field is confusing"
# Expected Behavior

As much as possible it should be clear from the names of PipelineResource params what they do and what values they expect.

# Actual Behavior

The [GCS Resource `dir` param](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#gcs-storage-resource) basically tells the command that grabs the source whether it should grab the source recursively or not, but `dir` do

[2019-08-22 15:52] bobcatfish commented on #1234
Marking this as blocked by #238

[2019-08-22 15:58] bobcatfish opened #1235 "Add docs to GCS resource on required permissions"
# Expected Behavior

The docs for each PipelineResource should provide a good landing page including all the info a user need to use the Resource.

# Actual Behavior

The GCS storage resource docs (https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#gcs-storage-resource) say "To access GCS private buckets, service accounts are required with correct permissions." and link to docs on

[2019-08-22 20:27] bobcatfish commented on #860
Gonna base this on @vdemeester 's proposal for [automated releases](https://docs.google.com/document/d/1BE9E2NkkvnZHdpX4F8ofBG-Uwd07bzx5cPoHSP67qmo/edit#heading=h.2gby4qql9dya)

[2019-08-22 20:33] bobcatfish commented on #531
With the Pipeline added by @vdemeester in https://github.com/tektoncd/pipeline/pull/1095 i think we can call this done! We can always add in the GitHub Task once we have it.

[2019-08-22 20:33] #531 closed

[2019-08-23 19:51] chhsia0 commented on #1030
A small issue related to name conflicts: right now weird things might happen if we have an input resource named `output` and another output-only resource ;)

[2019-08-26 10:42] daixiang0 opened #1241 "Error not help"
# Expected Behavior

Print **true** error.

# Actual Behavior

Print helpless info.

# Steps to Reproduce the Problem

1. Use below content as `Dockerfile`
[code]
2. Run build task
3. view log
[code]

# Additional Info
If build with docker, it print really useful info
[code]

[2019-08-26 11:48] gavinfish opened #1242 "[Question] how to upload dev images to docker hub registry"
# Expected Behavior

I set `KO_DOCKER_REPO` as my public docker hub registry instead of gcr. I want to install pipeline successfully with it.

# Actual Behavior

When I try to install pipeline with `ko apply -f config/`, it just throws error like `error processing import paths in "config/webhook.yaml": unsupported status code 401; body:`. I have already `docker login`, but it seems that it does no

[2019-08-26 12:27] vdemeester commented on #1241
@daixiang0 Thanks for the issue. Few things though:
- First a question: which `build` task did you use ? (aka is it using `buildah`, `kaniko`, `buildkit`, …)
- The error is from the command(s) running inside the container, thus `tektoncd/pipeline` doesn't have anything to do with it. Depending on the answer of the first point, you may want to create an issue on the related repository.
- The error

[2019-08-26 12:27] #1241 closed

[2019-08-26 21:30] bobcatfish opened #1243 "Remove unused Results field"
# Expected Behavior

Our API should only contain fields we actually use.

# Actual Behavior

[The results field](https://github.com/tektoncd/pipeline/blob/dbd2e69ca91af93943e16d4beb9e12d72f1c60f7/pkg/apis/pipeline/v1alpha1/pipelinerun_types.go#L57) was part of our very first design and was imagine to contain info like links to logs and test results, but we have since not done anything with it. Whe

[2019-08-26 23:33] fejta opened #1244 "Pipeline depends on packages with bad k8s imports, preventing minor upgrades"
See https://github.com/kubernetes/kubernetes/issues/81878 and/or https://github.com/google/go-containerregistry/issues/496

The reconciler imports go-containerregistry's k8schain package, which has an unsupported k8s.io/kubernetes import.

[code]

This makes it impossible for downstream pipeline consumers to do minor module upgrades:

[code]

[2019-08-27 08:57] vdemeester opened #1246 "What should be the CRDs categories for Tekton ?"
As of today, Tekton's CRDs are using `tektoncd-pipeline` and `all` as categories. This means you can do `kubectl get all` or `kubectl get tektoncd-pipeline` and it will display those resources (and others if in the same categorie). For `all`, this might pose a problem if the user has not sufficient rights, see quote below.

kubectl get all *or* oc get all displays all resources that are in the "al

[2019-08-27 09:09] GrahamDumpleton commented on #1246
Worth also linking here is https://github.com/kubernetes/kubectl/issues/151#issuecomment-410306145

In this, core developers state the intention that `all` would not be extended any further to cover any other resource types. Presumably this is why in oart those guidelines for best practices may have disappeared. It was likely deemed as no longer being a best practice because of the issues includin

[2019-08-27 11:34] guillermobandres commented on #685
Hi all, I was deploying Tekton in our AKS to do CI/CD, and I ran into the problem to replay taskRuns and PipelineRuns. I understand what is the current behavior, but can someone tell me how is doing the CI/CD with this behavoir?? Is it mandatory to delete the TaskRuns or PipelineRuns and recreate? Are you creating Runs with differents names?

Thank you

[2019-08-27 16:35] hrishin commented on #685
Yes

Yes, some ways are already mentioned in the above thread. Other ways to start the pipeline is to use `tkn start` [command](https://github.com/tektoncd/cli/blob/master/docs/cmd/tkn_pipeline_start.md) in case you haven't come across. Does that answers your question?

[2019-08-27 18:11] jagraj opened #1247 "ErrorImagePull and ImagePullBackOff after installing tekton pipelines."
# Expected Behavior

Pods should not say error pulling images after installing tekton pipelines.

# Actual Behavior
Pods displaying status as ErrorImagePull and ImagePullBackOff after installing tekton pipelines.

# Steps to Reproduce the Problem

1. Follow these instructions to install tekton pipeline (https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines-on

[2019-08-27 19:00] bobcatfish opened #1248 "Seems like coverage reporter isn't reporting on all files"
# Expected Behavior

Coverage reporting should include all coverage impacted by a PR.

# Actual Behavior

The coverage reports for #1227 [only included `default.go`](https://github.com/tektoncd/pipeline/pull/1227#issuecomment-523474433) but it looks like other files changed, test files - which presumably would increase coverage - and also files that should have their coverage measured, e.g. `pkg/a

[2019-08-28 02:44] hrishin opened #1249 "[Report] Parameters to support the "Array type" API compatibility"
Recently we introduced the `Array type` support in `params` which is really good, however, broke the compatibility with existing API consumer. So existing `pipelines` tools around it (e.g. CLI) need some fix, in order to get it working with `tekton-pipelines v0.6.0`.

After upgrading to new pipeline version user could hit this issue with old CLI versions
[code]

It fails while deserializing the `P

[2019-08-28 07:22] wlmvp commented on #899
I deployed the pipelinerun get the same error as following tutorial step by step (https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md)

pod has unbound immediate PersistentVolumeClaims

[2019-08-28 07:37] guillermobandres commented on #685
Thank you @hrishin, yes it does!

Is there any way to automatize this process or anyone has this process automatized?

[2019-08-28 15:48] skaegi opened #1250 "Tekton API Reference"
Currently a lot of our doc is examples that do not necessarily reflect all the dark corners of our API. It might be time to craft or generate open API for everything and add a reference API section to our doc.

Something like -- https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/

[2019-08-28 17:10] sbwsg opened #1251 "Run CI's YAML tests as a `go test` instead of bash scripts"
# Expected Behavior

YAML tests can be run as part of a `go test` suite, maybe with their own build tag. Failures in the tests should be correctly highlighted in the log output / prow error highlighting.

# Actual Behavior

We currently run YAML tests through a series of bash scripts. Their failure isn't reported accurately by the log output / prow error highlighting - the integration suite will s

[2019-08-28 18:11] chmouel opened #1252 "Unit test should not depend on github API"
We are getting this errors sometime on the unit tests :

[code]

we need to find a way to mock the github api call instead of doing an actual call

[2019-08-29 13:12] chmouel commented on #1252
/assign

[2019-08-29 17:21] #980 closed

[2019-08-29 20:35] bobcatfish commented on #991
Since this was removed I'm going to close this issue!

[2019-08-29 20:35] #991 closed

[2019-08-30 07:23] chmouel opened #1253 "testSideCar is failing"
`testSideCar` test is failing on our CI based on openshift. I am not really sure if it's an openshift issue or a test issue.

# Expected Behavior

Working tests

# Actual Behavior

[code]

events :

[code]

# Steps to Reproduce the Problem

1.
[code]

# Additional Info

[code]

[2019-08-30 07:23] chmouel commented on #1253
/assign

[2019-08-30 13:12] chmouel commented on #1252
that should go to tektoncd/cli :\

[2019-08-30 13:12] #1252 closed

[2019-08-30 14:54] bobcatfish commented on #1253
hm @chmouel maybe we should leave this open to continue to investigate and find the root cause? sounds like we're still not completely sure why this is happening? (probably would be hard for non-open shift folks to investigate tho so I'll leave it up to you!)

[2019-08-30 15:24] bobcatfish commented on #1231
[Proposed roadmap to get to beta at end of 2019](https://docs.google.com/spreadsheets/d/1ssL2bnzhHG_T4eUJd-EpUu22WCN5Z0a9zyVykJ2HpA4/edit#gid=0).

[2019-08-30 18:02] bobcatfish commented on #1124
Yikes! im putting this into our current milestone

[2019-08-30 18:08] dibyom commented on #1124
So, looks like its less of a flake and more of a data race:
`go test -race ./...`

[code]

[2019-08-30 18:13] #1021 closed

[2019-08-30 18:24] dibyom opened #1256 "Support `from` clause for resources in Conditionals"
# Expected Behavior

Resources in Conditions should be able to use output resources from other tasks using the `from` clause. This will become very important when we have resource immutability and new output resources are created from the original resource spec.

On generating the pod for conditions, if 'from' is used for the condition's resource, the pod could mount to that resource (e.g. /pvc/<r

[2019-08-30 19:20] #1114 closed

[2019-08-30 20:41] iancoffey commented on #323
As chance would have it, I had made a step and a small task/utility using `go-cloud` for S3 artifact diddling, so I reworked it into a Storage resource type-> https://github.com/tektoncd/pipeline/pull/1258

[2019-08-30 20:44] StevenACoffman opened #1259 "Example request: Fluxcd example?"
So this is probably the wrong place, but I'm not sure to where's a better place to ask. Is there an example combining both tekton pipelines and [fluxcd](https://github.com/fluxcd/flux) for gitops?

Flux is most useful when used as a deployment tool at the end of a Continuous Delivery pipeline (like Tekton!!!) . Flux will make sure that your new container images and config changes are propagated to

[2019-08-31 02:48] danielhelfand opened #1260 "Question/Proposal: Step Resource"
Currently, the `Task` resource consists of `Steps` that each run in a separate container. I am wondering why `Steps` are not a separate resource that could be defined separately from a `Task` and then reused as part of several `Tasks`.

This would follow the design considerations of other Tekton resources that are highly reusable, such as `Tasks` and `PipelineResources`.

What is the reasoning for

[2019-09-01 08:38] cappyzawa commented on #1154
This may be solved by [Tekton Pipeline Resource Extensibility \- Google Docs](https://docs.google.com/document/d/1rcMG1cIFhhixMSmrT734MBxvH3Ghre9-4S2wbzodPiU/edit?ts=5d512593#heading=h.vfpnpyvxw394).

I'm looking forward to this feature.

[2019-09-01 08:38] #1154 closed

[2019-09-02 07:43] chmouel commented on #1253
@bobcatfish sounds good, ill dig into it a bit more!

[2019-09-02 11:44] anxinyf commented on #1150
@rakhbari Hi, have you solved this problem yet? I have a same problem. When ServiceAccount like this:
[code]
but cannot push image to destination: UNAUTHORIZED. My username and password is right.

[2019-09-02 11:46] chmouel commented on #1253
So i spent some more time on this and there is definitively something funky going on in there.

If I use the ubuntu image in the sidecar test and run the tests :

[code]

test run fine and I see the image used being the ubuntu one :

[code]

Now let's change it back to busybox as previously commited and run the test :

[code]

It's failing not being able to launch a shell `sh`  as seen from opensh

[2019-09-02 12:32] chmouel commented on #1253
Oh, it's actually failing as well on minikube but we are not catching it properly (and it was in my previous output 🙄 ) :

[code]

[2019-09-02 15:19] afrittoli opened #1263 "Pipeline resource validation does not account for Condition resources"
# Expected Behavior

It should be possible to have resources only used by a `Condition`. For instance the following pipeline should be valid:
[code]

# Actual Behavior

Validation of the pipeline fails:
[code]

# Steps to Reproduce the Problem

1. Define a simple condition with a resource
2. Define a simple task that does not use the resource used by the condition
3. Define a pipeline like above

[2019-09-02 16:10] chmouel commented on #1253
I think I figured out the issue :

1) On OpenShift when the sidecar fails it returns an `Error` instead of ContainerCannotRun, perhaps that's because this is based on kubernetes 1.13.x while minikube is based on 1.15.x

2) When we have `ContainerCannotRun` in the test we consider it as okay, https://github.com/tektoncd/pipeline/blob/3950521325d4744760a96c18e3d0c67d86495af3/test/sidecar_test.go#L13

[2019-09-02 16:46] afrittoli opened #1264 "Behaviour of "runAfter" for a Task that runs after a Task with Condition"
# Expected Behavior
I would like to have a way in Tekton to easily express the following dependency between Tasks in a pipeline: The 2nd task should run only after the 1st one was executed successfully or if the 1st one was skipped because of a condition.

# Actual Behavior
If the 1st task is skipped because the condition is not met, the 2nd task is not executed at all.

# Steps to Reproduce the P

[2019-09-03 07:29] vdemeester commented on #1263
/kind bug
/cc @dibyom

[2019-09-03 07:48] afrittoli commented on #1263
I can propose a fix for this myself, but I want to make sure folks agree that this is a bug :)

[2019-09-03 08:21] cmoulliard commented on #924
Your idea is correct @abayer. We need to mount a volume to the tekton's pod created to let a tool such as oc, odo, kubectl, ... to push as binary the code of the project to be `built`. This is what we did with the project `odo` or our operator halkyon using the concept of `supervisord` init container

[2019-09-03 13:42] sbwsg commented on #1253
Hm, it looks like the ubuntu container isn't actually running at all.  It starts and stops in the same second and running `kubectl logs` on that pod shows the following:

[code]

I'm surprised this isn't exiting with an error status, but it at least explains why ubuntu isn't being replaced with the nop image - it exits immediately on its own so the taskrun controller doesn't need to stop the sidec

[2019-09-03 13:45] chmouel commented on #1253
@sbwsg yes you are right! this is indeed weird, our CI wil run this on whenever this gets merged, thanks,

[2019-09-03 14:17] dibyom commented on #1263
Yeah, I think this is a bug. I don't see a reason why we should limit the resources available to the condition to only the ones available to the task.

[2019-09-03 15:25] dibyom opened #1266 "Feature Request: ClusterConditions"
Currently, `Condition` type is scoped to a namespace. It might be useful to have a `ClusterCondition` type similar to the cluster tasks that we have so that it is easy to share conditions.

From slack thread: https://tektoncd.slack.com/archives/CJ62C1555/p1567480976102300

[2019-09-03 15:36] dibyom commented on #1264
This is a feature request that looks like a duplicate of #1023

I'm going to close this out though I like the description here so I copied the `Steps to Reproduce the Problem` section over to #1023 :angel:

[2019-09-03 15:36] #1264 closed

[2019-09-03 15:36] dibyom commented on #1023
From @afrittoli in #1264:

[2019-09-03 15:41] dibyom commented on #1263
/assign

[2019-09-03 15:58] afrittoli commented on #1023
I'm not sure we have a good solution for this case specifically. I've been trying to build a pipeline that builds a docker image only if needed - which I encoded in a condition. The build task has the condition attached and the next Task deploys a cloud function that uses that image plus some code on top.
As long as I don't rely on the image digest, and I use a tag e.g. "latest", the second task c

[2019-09-03 16:22] #1253 closed

[2019-09-03 18:54] bobcatfish commented on #1124
I think I'm seeing this also when trying to get nightly releases running that run the unit tests (#860 ):

[code]

[2019-09-03 20:24] bobcatfish commented on #1205
Saw this when trying to run automated releases too (#860).

[code]

Would be frustrating to have the nightly build fail b/c of this!

[2019-09-03 20:30] bobcatfish opened #1267 "Failure to chdir caused PipelineRun to get stuck"
# Actual Behavior

For #860 I tried to run a release Pipeline that included linting and it got into this state:

[code]

The error was `ContainerCannotRun` but for some reason the PipelineRun was still running

# Steps to Reproduce the Problem

This was caused by a periodic job attempting to execute the nightly release pipeline (see #860 )

# Additional Info

Sorry there is so little detail here -

[2019-09-03 20:32] bobcatfish commented on #1267
There are two really weird things about this:

* Execution of the exact same Pipeline 5 min before did not have the `chdir` error
* The PipelineRun thinks it is still running (the nop container seems to be still running)

[2019-09-03 20:44] bobcatfish commented on #1267
hm this has happened now for a totally different step in a totally different Task

[code]

[2019-09-04 09:14] vdemeester commented on #1205
@bobcatfish yeah we might need to increase the deadline (can be done in the configuration file)

[2019-09-04 10:51] chengjingtao commented on #1266
+1
I think namespaced  resource will be treated as resource of one tenant and  cluster scoped resource will be treated as global resources that could be used by all tenants.

We have a CICD product that allow to orchestrate pipeline from UI, and users could complete orchestration by draging the task. We will list all tasks in tenants namespaces's task and all tasks in cluster scope.

In the same w

[2019-09-04 11:21] chengjingtao opened #1271 "[Bug Report] Cannot use ssh private key in task steps"
# Expected Behavior
We could use ssh private key in task steps in order to execute command like `git pull` or `git push`

# Actual Behavior
When using command like `git pull` in task steps , it shows errors

[code]

# Steps to Reproduce the Problem
Flow example https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/taskrun-git-ssh.yaml and just change the `args` of  `config step`

1.
t

[2019-09-04 15:30] bobcatfish commented on #1267
After a good night's sleep I've realized that this is probably a duplicate of https://github.com/tektoncd/pipeline/issues/725 - due to https://github.com/kubernetes/test-infra/issues/13948 we're using v0.3.1 of Pipelines with Prow and the fix isn't in there.

(Tho it kind of boggles my mind that this only _sometimes_ happens..)

[2019-09-04 15:30] #1267 closed

[2019-09-04 15:34] #1263 closed

[2019-09-04 16:47] rakhbari commented on #1150
@anxinyf No, unfortunately I haven't been able to get this to work. I even added `imagePullSecret` to my `ServiceAccount` definition as suggested by the developer docs:
https://github.com/tektoncd/pipeline/tree/master/docs/developers#entrypoint-rewriting-and-step-ordering

But even that didn't help. Frankly I'm not sure if this is an issue with Tekton or an issue with Quay v3. We use RedHat Quay v

[2019-09-04 17:32] vtereso opened #1272 "Volumes, Tasks and PipelineResources overlap"
## Background
Tekton `Pipelines`/`Tasks` separate functionality from configuration by acting as reusable components for work. Work is actualized/instantiated in the corresponding`PipelineRun`/`TaskRun` objects (noted as Run objects onward for the sake of brevity). Run objects store the work configuration through both `PipelineResources` _and_ parameters.

## Goals
- Understand the true intent/purp

[2019-09-04 18:36] kbruner opened #1273 "Feature Request: Task Output Type of `Param`"
It would be eminently useful for Tasks to have an output type of 'param', which could then be passed to the next task in a PipelineRun as an input param.

While other people might envision other use cases, a single type of `string` should be fine.  Other data could be put into string form via JSON or however, or Base64-encoded by the user.  I'm also not sure what a reasonable size cap would be, al

[2019-09-04 18:47] sbwsg commented on #1273
In principle I agree that this could be useful but I can't think of concrete examples - could you describe a bit more the use case you have for this?  What's the problem that you're trying to solve & in what way is it not served by, for example, PipelineResources?

[2019-09-04 19:08] sbwsg commented on #1272
One of the benefits of `PipelineResource`s is that they declare the expected types of inputs into and outputs out of a Task.  If we were to get rid of them how could a Task describe what it operates on and what it produces?

[2019-09-04 19:37] kbruner commented on #1273
The only PipelineResource type that's really suitable for this use case would be a bucket.  However, I have issues with how using a bucket for caching data between steps actually works.

Also note that our current use case is to use tekton to create and destroy temporary infrastructure based mainly on terraform.  We're not doing git-based builds, so making caching work with a git repository someho

[2019-09-04 19:56] vtereso commented on #1272
The above approach does everything with volumes. I imagine the `PipelineRun` effectively mapping volumes to `Tasks` where there is no such thing as an input/output, but rather a volume that was previously mounted and modified.

[2019-09-05 07:11] hrishin opened #1275 "PullRequestResource resource usage"
Looks like users are not able to understand how to use the `PullRequestResource` with secrete configuration.
Maybe it's a bit confusing with respect to documentation.

[2019-09-05 07:21] vincent-pli commented on #1275
@hrishin
Could you supply some example for use `PullRequest Resource` as output, I means update PR status on Github.

[2019-09-05 12:00] afrittoli commented on #49
Design document: https://docs.google.com/document/d/1ehhGngn2ulnjYX0HUxSyhQGAvcbabSa27UZs3RvZWwU/edit#

[2019-09-05 13:26] sbwsg commented on #1272
Couple thoughts from my pov. I'm coming at this from a somewhat selfish point of view - I've written and run CI pipelines for a few different projects and so my reaction is based on some bad experiences with existing tools rather than necessarily from the perspective of someone writing a brand new platform on top of Tekton. I can see value in the idea of having easy generic storage passed between

[2019-09-05 14:21] sbwsg commented on #1259
This was the first I'd heard of Flux, so thanks for the heads-up. I'm not aware of anyone already getting these two tools running together but I don't see anything immediately problematic in the description of how Flux operates.

Running specific containers and command line tools as part of a Tekton Task is eminently doable - in fact it's how they fundamentally work. See the `steps` field in the T

[2019-09-05 16:13] vtereso commented on #1272
I think this is a really strong point and the main concern with this sort of approach. I wonder if the pipeline step/process had already been going for a long time, would the failure at this particular section be intrinsic to the volume? Maybe in the same way, a `PipelineResource` would have failed to be output?

Somewhat similar, if a contract needed to be fulfilled between `Tasks`, maybe a `Conf

[2019-09-05 16:27] vtereso commented on #1272
To the point about who benefits from this:
### Pipeline Distributor
I think broadly speaking it makes the catalog more well defined since you don't need to create `PipelineResources` ahead of time, where catalog `Task` encapsulates everything (assuming dynamic volume generation/etc.)
### Tekton Developer
Instead of having to deal with new `PipelineResources`, new first-party `Tasks` could be added

[2019-09-05 16:38] sbwsg commented on #1259
Chatted with @bobcatfish about this a bit more who thought this would be an excellent opportunity to develop a [Catalog entry](https://github.com/tektoncd/catalog) that shows how to tie the two systems together.  I'm going to reopen this issue for anyone who is interested in working on this further!

[2019-09-05 18:15] skaegi commented on #781
@ImJasonH we're really interested in this and thinks it's important and would be happy to help if you would like it ;)

We've had similar functionality in IBM Cloud pipelines for a long time with one significant difference -- instead of an array of strings we use free-form YAML...
so...
[code]
We use this to generate a `_script` file that we chmod +x ... and execute it.

What's kind of nice is you

[2019-09-05 19:27] ImJasonH commented on #781
Nice, I like the idea of making it an executable file instead of passing things to some explicit shell.

I think it's simplest to enforce that `script` is mutually exclusive with `command` or `args`, rather than having to document how they'd all work together. I can't imagine a scenario where it would be easiest to express some script using both `script` and `args`, for example (if you have one, p

[2019-09-05 19:39] bobcatfish commented on #1056
This isn't required now that we're using `tkn` and I'm proposing to remove the Runs in #1274

[2019-09-05 19:39] #1056 closed

[2019-09-05 20:18] bobcatfish opened #1279 "Make PipelineResources (mostly) immutable"
# Expected Behavior

When a Task (say "task B") in a Pipeline gets a PipelineResource [from](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#from) another Task (say "task A"), this means that Task B wants to use a version of the PipelineResource which has been changed by the previous Task A (as described in #1076: "Resources in general should represent reconciliation between a s

[2019-09-05 20:45] bobcatfish commented on #1180
I've added this as a proposal to solve #1279 (https://docs.google.com/document/d/13TZdWU6PEaOwpe--Zw96lcpjRqksJ7zAQ-mxk1qnZ30/edit#).