[2021-01-25 13:58] vdemeester commented on #3712
/cc @sbwsg

[2021-01-25 16:40] sbwsg commented on #3305
Pushing this one back to 0.22 since it sounds like there are a number of connected pieces that need to be pulled together to get this into good shape.

[2021-01-25 16:45] sbwsg commented on #3324
It looks as though this will happen naturally when we upgrade to knative 0.21.

[2021-01-25 17:16] skaegi commented on #2800
/assign

[2021-01-25 18:13] pritidesai commented on #3705
We could add as complementing to the original tutorial that way folks can compare a pipeline with and without resources. @psschwei would that work?

[2021-01-25 18:50] riceluxs1t opened #3715 "Is there any way to tell whether any of the finally tasks failed?"
I have a pipeline that has
task1 -> task 2 -> ... -> taskN | singleFinallyTask.

When `singleFinallyTask` fails for whatever reasons, is there an easy way to use `kubectl` or `tkn` to tell?

[2021-01-25 19:41] zhouhaibing089 commented on #3713
IMHO, you can achieve this by creating a Task which checks the image existence, and write into [Results][1], then using the Results in when expression in the next Task.

[1]: https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#using-results

[2021-01-26 01:24] psschwei commented on #3705
@pritidesai I like the idea of including both alternatives. However, for a new user looking to get started with Tekton (which I assume is the main audience for the tutorial), would it be better to keep things simple and only present a single way of doing things?

[2021-01-26 09:43] supershll opened #3716 "mistake : mountPath of workspace"
# Expected Behavior

when I use `workspace` as follows:

[code]

According to following guide from the [documentation](https://tekton.dev/docs/pipelines/workspaces/) :

[code]

the Expected  Result should be :

-  `$(workspaces.messages.path)`  is  `/workspace/custompath/relative/to/workspace`
-  the folder should already exist

but the actual result is

-  `$(workspaces.messages.path)`  is  `cust

[2021-01-26 09:45] vdemeester commented on #3716
/cc @sbwsg

[2021-01-26 12:06] supershll opened #3718 "Suggest of variable substituting"
### Feature request

when use  `variable substituting` Substituting parameters

When using the `variable substitution` function, if the value corresponding to the expression cannot be evaluated, then **`Tekton` will do nothing** and remain it as it is . It meas that if I use the example as follow , I would get an error because `$()` in shell has its own meanings of get the output of the command ex

[2021-01-26 12:23] chmouel commented on #3715
I believe there is a TEP in the work for this :

https://github.com/tektoncd/community/pull/240

In the meantime this gets discussed/implemented, I have done something like this to get slack notifications, the main code detection is here which returns the list of the failed tasks :

https://github.com/chmouel/tekton-asa-code/blob/47bd39d/misc/send-slack-notifications.py#L37-L57

You can get the cu

[2021-01-26 13:51] sbwsg commented on #3718
As you mention, shell also uses the same syntax.  I'm not sure Tekton would be able to correctly determine in all cases whether a `$(foo)` is intended for tekton pipelines to replace or for the shell to handle.  This could lead to cases where Pipelines replaces an instance of `$(foo)` with an empty string but the user wanted the literal `$(foo)` characters to be sent to the shell.  The `script` bl

[2021-01-26 13:59] sbwsg commented on #3716
Good catch!  This is a mistake in the docs which has been around forever.  I'll make a PR to fix it.

The behaviour is:

1. If workspace mountPath is not set: volume mounted to `/workspace/<name of workspace>`
2. If workspace mountPath is set: volumeMount.mountPath is set to the workspace's mountPath. No matter if it's relative, absolute, or whatever, the literal value is passed through. Then it's

[2021-01-26 16:50] jerop commented on #2989
/assign @souleb

thank you!!

[2021-01-26 16:56] souleb commented on #2989
/assign

[2021-01-26 18:50] itewk commented on #3466
:(

[2021-01-26 18:58] ImJasonH commented on #3466
/remove-lifecycle stale

This seems like a fairly straightforward FR, possibly even a [good first issue]. I think a TEP is a good next step, to get feedback and input from the community, particularly in the CLI and Dashboard areas.

If you're interested in drafting a brief TEP I can help shepherd this through the process. 👍

[2021-01-26 19:17] itewk commented on #3466
ill need a a definition of TEP, but happy to help push it along

[2021-01-26 19:50] ImJasonH commented on #3466
The TEP (Tekton Enhancement Proposal) process is described here: https://github.com/tektoncd/community/blob/master/teps/0001-tekton-enhancement-proposal-process.md

Basically, write up a short Markdown document using the template, send a PR to tektoncd/community, people will discuss and (🤞) approve, then we can implement.

Since the proposal is small, just adding a field, I suspect discussion will

[2021-01-26 20:52] itewk commented on #3466
@ImJasonH https://github.com/tektoncd/community/pull/319

[2021-01-26 21:02] jlpettersson commented on #3638
Closing this in favor of the linked TEP

[2021-01-26 21:02] #3638 closed

[2021-01-26 21:35] bobcatfish opened #3720 "Race condition on startup when using configuring controller via configmaps"
# Expected Behavior

When  a user [configures the Pipeline controller's behavior via configmaps](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#customizing-basic-execution-parameters), e.g. disabling the affinity assistant or enabling custom tasks, the controller should always respect these configured values.

When the controller tries to use these configured values, it should al

[2021-01-26 21:36] bobcatfish commented on #3587
Created https://github.com/tektoncd/pipeline/issues/3720 to describe what I _think_ is the root cause of this and some of our other flakey tests.

[2021-01-26 21:36] #3587 closed

[2021-01-26 21:36] bobcatfish commented on #3351
Created https://github.com/tektoncd/pipeline/issues/3720 to describe what I _think_ is the root cause of this and some of our other flakey tests.

[2021-01-26 21:36] #3351 closed

[2021-01-26 21:36] bobcatfish commented on #2815
Created https://github.com/tektoncd/pipeline/issues/3720 to describe what I _think_ is the root cause of this and some of our other flakey tests.

[2021-01-26 21:36] #2815 closed

[2021-01-26 23:45] supershll commented on #3718
This is just another topic I want to talk about, the `variable substitution` function lacks `character escape`

Just like the scene you described,  when user  want the literal `$(foo)`  , may be he can use `\$(foo)` to `escape $ symbol` , and `\` itself can be escaped by `\\`  ,just like in the shell

[2021-01-26 23:46] supershll commented on #3716
Thanks for reply !

[2021-01-26 23:46] #3716 closed

[2021-01-27 03:23] fenglixa commented on #3682
Thanks @bobcatfish.
Great that we will support `pipeline.taskSpec` for custom task defination!

[2021-01-27 04:56] anshulpatel25 opened #3721 "Feature request to detect whether executed TaskRun is part of finally section"
### Feature request

Ability to fetch/differentiate TaskRuns executed as part of Finally section in the PipelineRun

### Use case

Currently, there is no way to detect whether executed TaskRun is part of Finally section directly. Adding this feature can help external systems via SDK to directly query the TaskRuns which are part of Finally without applying complex logic.

[2021-01-27 05:09] pritidesai commented on #3715
@riceluxs1t would tagging taskRun of `singleFinallyTask` help your use case? We could classify taskRun created for `finally` tasks by adding a label to it. (something similar to #3721).

[2021-01-27 05:35] pritidesai commented on #3705
Sure @psschwei sounds good.

How are we updating [this](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#specifying-task-inputs-and-outputs) section to replace pipeline resources? I am asking because this section refers to a task using pipeline resources to build an image. After replacing pipeline resources with the catalog tasks, it can no longer be represented as a single task i

[2021-01-27 10:30] #3695 closed

[2021-01-27 10:54] vdemeester commented on #3705
@pritidesai we would need to have a task that does all (the git-clone and the build). This means we wouldn't use a task from the catalog but it would work 👼🏼.

[2021-01-27 11:51] mancubus77 commented on #3713
Thank you @zhouhaibing089
Could you please advise what's the best way to check image availability. Is there a standard task for that?

[2021-01-27 12:16] kutsal commented on #2977
Bump. Has there been any progress on this? Our PSP blocks anything running as root...

[2021-01-27 14:52] psschwei commented on #3705
Does it make sense to add a clone&build task to the catalog?

[2021-01-27 15:06] vdemeester commented on #3705
I am less sure about that *yet*. Let's see a bit where discussions on https://github.com/tektoncd/community/pull/316 and https://github.com/tektoncd/community/pull/318/files are going before 👼🏼 🙏🏼

[2021-01-27 17:22] chmouel commented on #3021
On our downstream nightly CI we had quite a lot of issues with those as well, and could not figure out (at that time) why our CI which is openshift based  consuming more memory  and was affected by it and not on upstream, so we had to disable it :

https://github.com/openshift/tektoncd-pipeline/blob/master/openshift/patches/0001-Remove-task-retry-since-too-flaky.patch

It was never happening when

[2021-01-27 18:00] vdemeester commented on #1171
I think this could be considered fixed given that https://github.com/tektoncd/pipeline/pull/2787 is now merged and released.
/close

[2021-01-27 18:00] #1171 closed

[2021-01-27 19:13] pritidesai commented on #3705
Yup, I agree with @vdemeester,  lets wait and see how the discussion unfolds on  tektoncd/community#316 and  tektoncd/community#318.

@psschwei you have hit this at the right time and I am hopeful we will find a solution to it.

[2021-01-28 15:06] namloc2001 opened #3726 "Optional Parameters?"
Hi, I'm not sure if I've missed it in the documentation, but is it possible to supply optional parameters that don't have to have a value provided in pipelineRun and will default to blank/nothing if not provided?

[2021-01-28 15:09] sbwsg commented on #3726
Specify a default value of `""` for the param in the [Pipeline](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#specifying-parameters):

[code]

/kind question

[2021-01-28 16:21] namloc2001 commented on #3726
Thank you.

[2021-01-28 16:21] #3726 closed

[2021-01-28 18:39] dprotaso commented on #3324
The above PR bumped the k8s deps

[2021-01-28 18:40] dprotaso commented on #3324
Right now `knative.dev/pkg` is tracking the main branch instead of the 0.20 release.

[2021-01-28 20:05] jlpettersson commented on #3476
This is now investigated in two TEPs
* https://github.com/tektoncd/community/pull/316
* https://github.com/tektoncd/community/pull/318

 /remove-lifecycle stale

[2021-01-28 22:55] #3499 closed

[2021-01-29 00:38] Tomcli commented on #3682
/cc @afrittoli @animeshsingh @pritidesai

[2021-01-29 01:27] pritidesai commented on #3682
/assign

yup, this is reasonable and we have a use case.

Custom task is specified using `taskRef`:

[code]

And its classified as custom task if `taskRef.APIVersion` is populated:

[code]

@Tomcli what is your expected usage with `taskSpec`?  Please help me while I am trying to understand how `taskSpec` can be supported.

[2021-01-29 01:29] pritidesai commented on #3682
/kind feature

[2021-01-29 01:54] ImJasonH commented on #3682
I think what's being asked for is support for inlining the custom task CR definition in the PipelineSpec, instead of only being able to reference the definition elsewhere. Something along the lines of:

[code]

(Please correct me if I'm wrong!)

This is similar to how `taskSpec` lets you inline the Task definition (`steps`, etc.) in the PipelineSpec, instead of only referencing external Tasks.

Wh

[2021-01-29 02:36] Tomcli commented on #3682
We already have our own custom task controller and spec ready, here is one of our example.
https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/examples/loop-example-basic.yaml

The use case we have is to run the custom task inside a pipelineRun using the Tekton pipelineRun go client. We are using Kubeflow Pipeline to do this which assumes all the information for displa

[2021-01-29 06:46] jinchihe opened #3730 "The $(context.task.name) is substituted to taskrun name"
# Expected Behavior
The $(context.task.name) is substituted to task name
# Actual Behavior
The $(context.task.name) is substituted to taskrun name

# Steps to Reproduce the Problem

1. Apply the sample:  https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/using_context_variables.yaml

[code]
2. Check the logs
[code]
3. I think the task name should be "task1", right? Than

[2021-01-29 07:18] jinchihe commented on #3730
Seems the $(context.pipeline.name) also is same with $(context.pipelineRun.name) ?

[2021-01-29 07:19] jinchihe commented on #3730
/cc @jerop comments?

[2021-01-29 07:55] aleixripoll opened #3731 "Support custom TopologyKey in Affinity Assistant"
### Feature Request
Currently AffinityAssistant hardcodes `kubernetes.io/hostname` as the Affinity TopologyKey:
https://github.com/tektoncd/pipeline/blob/08177fab0e2f2d2cc8e30e67f018a552338fca26/pkg/pod/pod.go#L335
This setting results in a "scheduler deadlock" when some of the Task's pods fit in one node but not all of them. To solve this, we'd like to use the availability zone as the topology ke

[2021-01-29 09:05] vdemeester commented on #3731
/kind feature
cc @jlpettersson

[2021-01-29 09:06] vdemeester commented on #3476
/remove-lifecycle stale

[2021-01-29 10:58] sbwsg commented on #3730
Hi @jinchihe it looks like you're using nested `pipelineSpec` and `taskSpec` in your PipelineRun.  What you're seeing is expected behaviour.

When you embed a `pipelineSpec` inside a `PipelineRun` the pipeline takes on the same name as the PipelineRun.  This happens because we explicitly use the PipelineRun metadata as the Pipeline metadata here: https://github.com/tektoncd/pipeline/blob/master/pk

[2021-01-29 11:01] sbwsg commented on #3730
Here's an example that uses separate Task, Pipeline, PipelineRun and the context variables we get:

[code]

Logs:

[code]

[2021-01-29 14:50] ImJasonH opened #3734 "cleanup: Remove build-gcs support and gcs-fetcher image for v0.22"
As part of [TEP-0037](https://github.com/tektoncd/community/blob/master/teps/0037-remove-gcs-fetcher.md), [`build-gcs` has been marked as deprecated](https://github.com/tektoncd/pipeline/pull/3728), which will be included in the next release, v0.21.

After v0.21 is cut, we can [remove `build-gcs` support](https://github.com/tektoncd/pipeline/compare/master...ImJasonH:remove-gcs-fetcher), to be inc

[2021-01-29 15:24] sbwsg commented on #3713
/kind question

[2021-01-29 15:28] sbwsg commented on #3704
/kind question

[2021-01-29 15:29] sbwsg commented on #3650
/kind question

[2021-01-29 16:50] jlpettersson commented on #3731
My experience of this is that the pods that did not get "place" on the node, will be run when the first task-pods has completed, so they all eventually complete.

The point with the AA was to provide "Node Affinity", since "Zone Affinity" doesn't solve the problem.
As described in https://github.com/tektoncd/pipeline/pull/2630

But the Affinity Assistant can be [disabled](https://github.com/tekton

[2021-01-30 06:31] aleixripoll commented on #3731
That would generally be the case, but there are a few situations that result in a deadlock:
- The node has reached its pod count limit, or there's a namespace pod quota in place and the Assistant takes that last pod spot.
- A task requests more resources than others.

As described in #2630

#2630 mentions issues with pods spread among different zones, but within an availability zone there shouldn'

[2021-01-30 07:28] jlpettersson commented on #3731
Yes, #2630 address two problems in one. Both "Task parallelism" and "Regional Clusters". It was not described as two different problems in that issue, I apologize for that. This is more clearly described in https://github.com/tektoncd/pipeline/issues/3563

The property that solves "Task parallelism" (this is specific for PVCs with RWO access mode) is the "Node Affinity" property, "Zone Affinity" d

[2021-01-30 07:35] aleixripoll commented on #3731
True, AZ affinity doesn't solve Task parallelism, but it's marginally better than current single-node affinity, it solves the scheduling issue if you don't need parallelism.

Using AZ nodeSelectors, correct me if I'm wrong, would entail setting the AZ in advance. With the Assistant we can just let it get scheduled anywhere and all other pods will follow, it has better AZ failure toleration.

[2021-01-30 07:51] jlpettersson commented on #3731
Yes, this is correct.

The currently best workaround to that is to set nodeSelectors in the PipelineRun - using a custom "Mutating Webhook" to, perhaps randomly (or intelligently?) set the nodeSelector for the PipelineRun. I have not tested this setup, but it might be a way to address the problem you describe?

[2021-01-30 07:57] jlpettersson commented on #3731
Now, I don't understand what problems you are solving with a custom affinity assistant for AZ-affinity. Isn't this problem solved without any Affinity Assistant but just following the limit to use at most one PVC per TaskRun (Pod)? My experience is that should solve this problem alone.

[2021-01-30 08:09] aleixripoll commented on #3731
We'd need to somehow retrieve available AZs in the current cluster, it's kind of hackier than the Assistant solution, as we don't need to know or care about the available AZs, so I think we'll stick to our custom Assistant for now. We just wondered if it made sense to put together a PR to support that in Tekton itself instead of duplicating an Assistant that already exists, but as you pointed out,

[2021-01-30 08:12] aleixripoll commented on #3731
We have a PipelineRun which starts with a git-clone task that is later used by other tasks. We need to make sure all task pods get scheduled in the same AZ to keep the workspace PVC visible to all of them. WIth default Assistant we randomly hit the scheduler deadlock that I mentioned, with AZ affinity that problem gets solved.

[2021-01-30 08:25] jlpettersson commented on #3731
I can see that problem with the Affinity Assistant. But what problems do you get with this kind of Pipeline with the Affinity Assistant [disabled](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml#L32)?

My understanding is that should work equally good as your custom Affinity Assistant. But I am interesting to hear what issue you run into if not.

[2021-01-30 08:27] aleixripoll commented on #3731
Sorry I just edited my previous answer. I was wondering how using one PVC per TaskRun would allow us to share the workspace between tasks.

[2021-01-30 08:44] jlpettersson commented on #3731
Yes, to let multiple Tasks share data via a PVC Workspace did work before the Affinity Assistant was introduced in #2630
What did not work, is to use two or more PVC Workspaces in a single Task in a regional cluster, since the two PVCs might be located in different AZs.

So I am interested to hear if you run into issues with your Pipeline when disabling the Affinity Assistant. What does not work w

[2021-01-30 09:10] aleixripoll commented on #3731
If we remove the Assistant, won't the task pods get scheduled anywhere, maybe into different zones? Does the PipelineRun ensure somehow that the workspace remains visible to all of them?

[2021-01-30 09:30] jlpettersson commented on #3731
A Pod using a PVC is usually scheduled to the PVC - this is e.g. how it works when the PVC is a local disk - this is also how Tekton worked before #2630

But storage is a complicated field, so I can not promise, but it sounds like it should work that way for you too. But it might depend on how your storage system is working. I am interested to hear if you get issues without the Affinity Assistant.

[2021-01-30 12:14] aleixripoll commented on #3731
We will try, but my understanding is that the workspace PVC is created at the PipelineRun level. In our case, our storage backend is AWS EBS, so the PVC is visible through the AZ. If the different task pods are scheduled in different AZs, I fail to see how that workspace PVC can be shared between task pods. Maybe I'm missing something.

[2021-01-30 12:54] aleixripoll commented on #3731
Closing this up, @jlpettersson thanks a lot for your help!

[2021-01-30 12:54] #3731 closed

[2021-01-31 11:15] jlpettersson commented on #3049
/remove-lifecycle stale

[2021-02-01 06:07] ratripathi opened #3737 "[question] Using Tekton for Ansible Playbook"
Hello Team,

I am tying to understand the implementation of Tekton with Ansible Playbooks. Our current setup is as follows:

1. Project A: Contains Ansible Roles for Infrastructure provisioning.
2. Project B: Contains Roles for component deployments and includes roles from Project A. Project B has playbooks(using roles from both A & B) which can either be invoked via the CLI or via Jenkins using t

[2021-02-01 07:57] chmouel commented on #3737
/kind question

[2021-02-01 08:45] chmouel commented on #3262
I think it still there :

[code]

the PR on https://github.com/tektoncd/pipeline/pull/3327 is still open @vigneshashokan would you like to rebase it ?

/remove-lifecycle rotten

/assign @vigneshashokan

[2021-02-01 09:00] chmouel commented on #3713
skopeo should be help you achieving this https://github.com/containers/skopeo

[2021-02-01 10:39] ppitonak commented on #3166
@bobcatfish would this be useful for others?

[2021-02-01 13:40] jerop commented on #3438
actively working on this issue, wrote the [WhenExpressions in Finally Tasks TEP](https://github.com/tektoncd/community/blob/master/teps/0045-whenexpressions-in-finally-tasks.md) and opened PR with the implementation of the TEP in https://github.com/tektoncd/pipeline/pull/3738

/remove-lifecycle stale

[2021-02-01 14:36] afrittoli commented on #3497
I feel like this depends on what we define with "producing a result". I think with the current code today is:
- no file created -> result not produced
- file exists, empty -> empty result is produced (which will be an empty string)

That said, it is probably good to continue to force tasks to produce a result like they do today (unless we introduce support for default values, and a task specifies

[2021-02-01 16:54] jerop commented on #2134
/assign

[2021-02-01 19:09] pritidesai commented on #2937
@prantaa pipeline `0.21.0` is releasing soon with the finally tasks support referencing task results from other tasks. The feature is already available on master. Please confirm it satisfies your use case 🙏

[2021-02-01 20:05] ibexmonj opened #3739 "Tekton Taskrun Metrics are not accurate"
# Expected Behavior

Tekton metrics should match the data provided by kubectl.

# Actual Behavior

I have been trying to gather the taskrun duration using `tekton_taskrun_duration_seconds_sum` and `tekton_taskrun_duration_seconds_count`by doing

`
sum(rate(tekton_taskrun_duration_seconds_sum{cluster_name="dev",namespace="tekton",taskrun="task-run-tekton5g444"}[1h])) / sum(rate(tekton_taskrun_durat

[2021-02-01 23:44] pritidesai commented on #3206
I could not reproduce this on master today.

1. Deployed tekton pipeline from master with `ko apply -f config/`.
2. Applied a pipeline with `finally` section.
3. Following (with `--follow`) webhook logs did not produce any conversion failures.
4. List `v1beta1` pipeline with `kubectl get pipelines.v1beta1.tekton.dev`:

[code]

5. List the same pipeline in `alpha` failed with:

[code]

6. An error

[2021-02-02 14:07] Fabian-K commented on #3206
We were facing this with `v0.19.0` and I just updated one cluster to `v0.20.1` and still see this in the webhook log

[2021-02-02 14:07] #3412 closed

[2021-02-02 17:14] Fabian-K commented on #3206
Ok... it´s not tekton-pipelines-controller. I just stopped the deployment and still see the conversions. In retrospect, I should have checked this earlier 🤦‍♂️

I still don´t know what´s causing this in my case tough...

[2021-02-02 18:19] phonique opened #3742 "release.yaml Kustomize Issue"
Hi everyone,
I have the following unexpected behavior with tekton-pipeline (dashboard and triggers are not affected).
My guess is that this is possibly a kustomize bug, but it might affect tekton-pipeline, once the built-in kustomize in kubectl is updated.

# Expected Behavior
`kustomize build` creates a manifest the same way `kubectl kustomize` does.
# Actual Behavior

# Steps to Reproduce the Pr

[2021-02-02 21:10] bobcatfish commented on #3459
We want this for v1 and there's a TEP in progress at https://github.com/tektoncd/community/pull/280

/lifecycle frozen

[2021-02-02 21:21] bobcatfish commented on #1797
hmmm i dont want to lose this, but the last discussion we had was to replace it with a new issue so maybe it's ok to leave as is :D

[2021-02-02 23:52] phonique commented on #3742
According to @stefanprodan over at the [kustomize repo](https://github.com/kubernetes-sigs/kustomize/issues/3446#issuecomment-762122084) this happens, when a custom resource has an integer key.
His workaround is to disable kyaml (e.g. `kustomize build --enable_kyaml=false`), which I can confirm works in the case of tekton-pipeline.

@Shell32-Natsu provides more information in a [follow up](https:/

[2021-02-02 23:52] #3742 closed

[2021-02-03 01:15] dmitry-mightydevops opened #3745 "Failed to add the host to the list of known hosts (/root/.ssh/known_hosts)"
# Expected Behavior

I'm trying to authenticate github repo using SSH deploy key.

# Actual Behavior

Pipeline run fails with the following messages

[code]

# Steps to Reproduce the Problem

Every task is defined in the **tekton-pipelines** namespace

[code]

# Additional Info

Secret was created this way

[code]

- Kubernetes version:

[code]

[code]

- Tekton Pipeline version:

[code]

[2021-02-03 02:53] ibexmonj commented on #3171
hey folks, I am curious if what i reported here https://github.com/tektoncd/pipeline/issues/3739 about some of the pipeline metrics is relevant to this discussion.

[2021-02-03 02:54] ibexmonj commented on #2844
hey folks, I am curious if what i reported here #3739 about some of the pipeline metrics is relevant to this discussion.

[2021-02-03 08:24] impl commented on #3417
Hey friends,

We've had a need for this for quite some time and I've finally decided to take a stab at implementing it here: https://github.com/puppetlabs/pvpool. It doesn't use the approach of layering storage provisioners because some of those APIs just didn't seem to fit the model well (for example, it can't support static binding and `reclaimPolicy` could be very confusing). Instead, you creat

[2021-02-03 13:58] sbwsg commented on #3745
The `Secret` you create needs to use a specific type and annotation for Pipelines to pick it up from your service account.  See https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#configuring-ssh-auth-authentication-for-git

[2021-02-03 16:25] sbwsg opened #3746 "Provide non-root user in pullrequest-init image"
### Feature request

Similarly to supporting `nonroot` in `git-init`'s image ([PR here](https://github.com/tektoncd/pipeline/pull/3727)) we should also add support for a non-root user in the `pullrequest-init` image.

### Use case

Users would like to be able to run pipelines without root permissions inside Task containers.  See request [here](https://github.com/tektoncd/pipeline/pull/3727#issueco

[2021-02-03 16:28] ImJasonH commented on #3746
From [.ko.yaml](https://github.com/tektoncd/pipeline/blob/1b7a37f0d21d8e8114a96f3d061a15dc24d6782f/.ko.yaml#L9-L10):

Could we document that if you use the PR resource in output mode, that `pr.json` must be readable by all users?

[2021-02-03 16:31] sbwsg commented on #3746
We could probably do that yeah, though it's technically backwards incompatible?  Luckily PipelineResources are still alpha...  We'd also need to do this if we want to provide the nonroot user in the `pull-request` catalog task: https://github.com/tektoncd/catalog/blob/master/task/pull-request/0.1/pull-request.yaml#L38

[2021-02-03 20:51] #3745 closed

[2021-02-03 22:07] skk2142 opened #3750 "Cloudevents are sometimes not emitted for task state change"
# Expected Behavior
Taskrun successful should emit an event.
# Actual Behavior
No event is emitted for success, but I do get events for started and unknown state.
I have shown the headers of events emitted for the taskrun.
# Additional Info
[code]
However, the task did succeed:
`
deploy-run-7x5ft-get-info-wjsnz                           48 minutes ago   7 seconds    Succeeded
`
I'm using the cloud

[2021-02-04 00:36] ewolak-sq opened #3748 "Affinity Assistant doesn't run with PipelineRun's ServiceAccount"
# Expected Behavior

If I specify `spec.serviceAccountName` in a `PipelineRun` definition, then all tasks _and the affinity-assistant pod_ should run with the specified service account. When I run the below `PipelineRun` in our fairly locked-down Kubernetes cluster, it fails to execute because the `affinity-assistant` pod runs as the _default_ service account, which doesn't have permissions to mou

[2021-02-04 00:54] ewolak-sq commented on #3748
I have a PR ready to go to correct this bug. Just waiting on CLA signature from our OSS team.

[2021-02-04 02:20] zhangtbj commented on #3746
Thanks for the info, Scott!

A quick question, how about the `gcs-fetcher` in here:
https://github.com/tektoncd/pipeline/blob/v0.20.1/.ko.yaml#L7-L8

It says: `# GCS fetcher needs root due to workspace permissions`, is that possible to switch them all to `non-root` in the .ko.yaml?

Thanks!

[2021-02-04 03:05] ImJasonH commented on #3746
gcs-fetcher will be deprecated in the next release (v0.21) and removed in the following release (v0.22). I believe nobody uses it. If you believe your users don't use it, you can effectively disable it by modifying your Tekton installation to reference a non-existent (or any) image. For example, replace [this line](https://github.com/tektoncd/pipeline/blob/98507859fa961f2152b65ad911defc2f0a2ef804/

[2021-02-04 03:18] zhangtbj commented on #3746
Oh, thanks Jason!

That is awesome for us! We will try to replace a non-existent image for gcs-fetcher in the later release.

Thanks for the good news!

[2021-02-04 08:12] FogDong commented on #2298
Can we move this discussion forward? Since that we have already supported getting pipelines from OCI repository, I feel a bit unreasonable for the idea of separating Git support to another repository.
I do think that the `pipeline` repo is a CI module but a CI system, but since that the version control stands a huge part of CI, the pipeline git support might be important.
Take GitHub Action as an

[2021-02-04 11:19] vdemeester commented on #3748
@ewolak-sq thanks for the report and the PR in preparation 😉
/cc @jlpettersson

[2021-02-04 11:19] vdemeester commented on #3748
/assign @ewolak-sq

[2021-02-04 11:25] vdemeester commented on #3262
/lifecycle frozen

[2021-02-04 12:33] afrittoli opened #3749 "Results for failed task and pipeline runs"
### Feature request

Results should be available for failed task and pipeline runs.

Today, if a `TaskRun` or `PipelineRun` is set to failed, we skip the code that grabs the results and adds them to status.

### Use case

Results can be used by a failing task or pipeline to provide more context about why the failed, or how to react to the failure.

One specific use case that I'm trying to implemen

[2021-02-04 12:51] wouter2397 commented on #3206
@pritidesai We are using Tekton on OpenShift as part of the Red Hat OpenShift Pipeline Operator.
The lastest version of this operator is using: Tekton Pipelines: v0.16.3.
For us it's not possible to upgrade to the latest available Tekton Pipeline version as we are using the Red Hat implementation of Tekton.

[2021-02-04 14:00] sbwsg commented on #3749
I've discussed this before with users in another issue.

Results are required to be populated.  Pipelines fail if they're not.  If you introduce an "errorMessage" result to a Task then the Task has to populate it whether there was a failure or not.  That means:

[code]

...in any Tasks that want to provide this.

Further, the error message results will be named differently for every single Task. T

[2021-02-04 14:02] sbwsg commented on #3749
Another alternative could be to explicitly mark certain results as `error-results`?  Or have a separate section like `results` just for them?

[2021-02-04 15:56] bobcatfish commented on #3548
Another item to add to our list (from our governing board meeting):

* Fixing the security issues identified at https://security.lfx.linuxfoundation.org/#/a092M00001G3xhxQAB/foundation-details

[2021-02-04 16:51] dibyom commented on #3750
/kind bug
/cc @afrittoli

[2021-02-04 16:56] afrittoli commented on #3750
@skk2142 Thanks for reporting the issue!
A few questions:
Are you able to reproduce this issue consistently?
Do you see it happening on a regular basis?
Do you see the issue happening more with specific pipelines / tasks?
Thank you!

[2021-02-04 17:45] skk2142 commented on #3750
I see this happening sporadically and it is not limited to a specific taskrun. I saw this issue happening multiple times yesterday. I will check again today in a few hours. Here's the spec of the task for which I logged the events:
[code]

[2021-02-04 18:19] bobcatfish commented on #3109
Ooooo yeah this ol' chestnut - I'm going to tentatively add this to the 2021 roadmap [draft](https://docs.google.com/document/d/12AIYkDHBqhdM2v_yuQZWGzp4_1-wGThPUs_WgDxAuQ0/edit#)

/remove-lifecycle stale

[2021-02-04 18:20] bobcatfish commented on #3050
This has gone stale but I do think there is some interest in reducing the boilerplate copy / paste

/remove-lifecycle stale

[2021-02-04 19:36] skk2142 commented on #3750
Okay so I had two replicas of event listener and one of the pods was throwing an error
[code]
I restarted the pod and it does not show error anymore. Could this issue be because of one the replicas failing? I'll check and let you know soon. Thanks!

[2021-02-04 22:03] pritidesai commented on #2987
Hey @eddie4941 the webhook logger key was fixed in PR https://github.com/tektoncd/pipeline/pull/3741. We have similar fix for the controller logger key in PR https://github.com/tektoncd/pipeline/pull/3752.

[2021-02-04 22:30] csantanapr commented on #3050
Thank you @bobcatfish for keeping the issue open 👍

[2021-02-04 22:34] csantanapr commented on #3050
This will help avoid problems when editing yaml to author pipelines.
We have standard pipelines in this repo https://github.com/IBM/ibm-garage-tekton-tasks/blob/main/pipelines/golang-pipeline.yaml that we use with clients and when they edit the pipelines usually they are mistakes because of so much repetition in the file

[2021-02-04 22:58] skk2142 commented on #1750
I also need this feature. I am trying to run a browser test and it requires a url other than localhost. `hostAliases` field allows for that:
[code]
Please add this!

[2021-02-05 05:44] pritidesai commented on #3206
I am not able to reproduce this even on `0.16.3` now 😞 I am running pipelines on my local Kubernetes cluster. Even tried resetting my cluster 😭

How often these conversion errors are reported in the webhook logs?

[2021-02-05 09:11] ljupchokotev commented on #3206
All the time non-stop spam :smile:. You will not miss it if you hit this issue.

[2021-02-05 13:29] sbwsg commented on #1750
Given continued interest I'm reopening the issue.

@liuchintao @gejunqiang @skk2142 I don't think anyone's working on this right now but contributions are welcome.

[2021-02-05 13:33] #2987 closed

[2021-02-05 16:56] pritidesai commented on #3206
😭

[2021-02-08 15:19] #3712 closed

[2021-02-08 15:51] TakiTake commented on #3712
Thank you so much!

[2021-02-08 16:11] afrittoli commented on #3749
This is not what I'm saying.
I'm proposing to have error specific results, rather to stop ignoring valid results in case of failure, for instance

# Write a result which is valid for the failure case
echo "This failed. To try again re-run the pipeline" > $(results.githubcomment.path)

# Perform some task
really-useful-task
echo "This was successful" > $(results.githubcomment.path)
[code]

[2021-02-08 16:28] sbwsg commented on #3749
I understand the distinction but I'm not sure I totally see the difference in outcome.  Once we support emitting results on Task failure they will immediately become available for use as "error results".  I'm looking at the proposal both in terms of the described use-case but also the other patterns that become available when implementing that proposal.

I guess my question is: why not also consid

[2021-02-08 16:46] afrittoli commented on #3749
I didn't think in terms of error results before, I kind of expected results to be there in case of failure too, and I'm not sure why they are not. In case of a task failure we should provide as much context as available - why skip results then?
I was tempted to file this as bug, but I created it as a feature because the code explicitly skips results in case of failure.

Optional results are certai

[2021-02-08 16:58] sbwsg commented on #3749
There's definitely more discussion that could be had around this but one of the original reasons we didn't emit results on failure was because Tekton can't infer whether the result data is valid or not.  Given the original purpose of Task Results was for passing along short bits of data to other Tasks (and there was no Finally on the horizon at that point) the design ultimately omitted those bits

[2021-02-08 21:29] bobcatfish commented on #3749
Note also that if you have a Task that depends on the result of another Task, and the Task producing the result fails, the Task consuming the result will not run.

e.g.:

[code]

If TaskA fails or is skipped, TaskB will not run (which is where the optional results come in)

But @afrittoli maybe you're not talking about making the result available to consuming Tasks, you're talking specifically abo

[2021-02-08 21:30] bobcatfish commented on #2610
Does it make sense to keep this issue open, or should we focus on our attention specifically on #1393 and tackling param types as whole?

[2021-02-08 21:33] afrittoli commented on #3749
Yes, indeed.

The status will stay in etcd, might be gobbled up by chains, stored in results, sent over cloud events, trigger other parts of the workflow, so there is value in having that result even if it won't be read by other tasks.

It may also be used by tasks in finally, once the corresponding TEP is implemented.

[2021-02-08 22:04] bobcatfish commented on #2298
@FogDong there's been some related movement in this proposal: https://github.com/tektoncd/community/pull/341 (might be similar to what @michaelsauter is proposing also)

[2021-02-09 12:14] andrewballantyne commented on #2610
Agreed @bobcatfish, #1393 will be able to cover this. This was not adopted at the rate that I had hoped it would be so we can lean into #1393 as the solution that will cover this scenario as well.

[2021-02-09 12:14] #2610 closed

[2021-02-09 14:17] sbwsg commented on #3749
Thought about this some more the past few days and my resistance has waned.  I do think there are downsides to introducing this, and I think we'll see them quickly picked up just for error messages, but I can see that the practical utility might outweigh those issues?  Paging @pritidesai here too for any thoughts or feedback.

If we get to a point where we see lots of Tasks added to the Catalog wh

[2021-02-09 16:36] ImJasonH commented on #1746
/remove-lifecycle stale

[2021-02-09 16:36] ImJasonH commented on #1746
/assign @ImJasonH

[2021-02-09 16:44] afrittoli commented on #1746
Thanks! I was thinking about this today to build the infra for custom tasks

[2021-02-09 17:00] bobcatfish commented on #3749
If we're talking about ONLY making these results available in the TaskRun status then I think the behavior sounds reasonable. (i.e. the TaskRun is failling, but previous steps - or even the failing step maybe? - have successfully written results to their termination messages, so we might as well expose them in the status). If we're talking about making the results available to other Tasks in a Pip

[2021-02-09 17:01] #1746 closed

[2021-02-09 17:48] afrittoli commented on #3324
This is closed by https://github.com/tektoncd/pipeline/pull/3724

[2021-02-09 17:48] #3324 closed

[2021-02-09 17:58] afrittoli commented on #1305
@jstrachan work on this is happening in experimental https://github.com/tektoncd/experimental/issues/699, please continue the investigation / discussion on this there. Closing this one for now.

[2021-02-09 17:58] #1305 closed

[2021-02-09 18:00] sbwsg commented on #3206
This seems like a really important point.  @ljupchokotev , @wouter2397 , @coryrc  - are you any of you able to reproduce this?  If you stop the pipelines controller deployment do you continue to see the error messages?

At this point I'm not quite sure how to debug further if we're not able to nail down some clearer steps to reproduce.  If the above is true re: the deployment then it seems possibl

[2021-02-10 07:35] dmitry-mightydevops commented on #2407
Is my understanding correct that if we have 2 repos, defined via PipelineResources as:

[code]

then both of these should have just a single and same **github deployment key** for both repos in github repo settings?

[2021-02-10 11:15] sbwsg commented on #2407
Are you using these `PipelineResources` with a single Task?  If so then yes you will unfortunately need to use the same deploy key.

If you use them as part of separate Tasks of a Pipeline you can assign each Task its own ServiceAccount + Secret.  So the deploy keys can be different.

The more robust approach is to build a Pipeline that uses [`git-clone` Tasks](https://github.com/tektoncd/catalog/

[2021-02-10 14:41] #3750 closed

[2021-02-10 19:03] skk2142 opened #3756 "Pod Template for Task"
### Feature request
PodTemplate for task
### Use case
I want a certain task (kaniko build) to always run in a pod with certain memory and cpu allocated. Currently, I have to specify it for every taskrun or pipelinerun separately which is not DRY.

[2021-02-10 19:11] skk2142 commented on #3756
Acutally, resources can be specified within a step template. That solves the problem:

[2021-02-10 19:30] pritidesai commented on #3749
It does sound reasonable but would not justify.

If the results are part of the status, the users would like to consume those results in `finally` or make them part of pipeline results.

Yup, I agree. Results are mainly produced to be consumed by other tasks in the pipeline. We do not have any other means of communicating from a step to the users. We could introduce a step level output `steps.<ste

[2021-02-10 20:56] dmitry-mightydevops commented on #2407
thank you Scott! Makes total sense!

[2021-02-10 20:57] skk2142 commented on #3756
I have another use case. If I want a task to always run on a node with certain labels, currently I will have to specify the node selector in every taskRun/pipelineRun. Is there a way to specify node constraint at the task level?

[2021-02-11 08:46] wouter2397 commented on #3206
@skaegi @pritidesai When applying a finally step in one of the tekton pipelines, the following error messages start showing up inside the webhook container.

Downscaling the pipelines controller to 0 does not have any impact on the error messages in my situation.

[code]

When the finally step is applied to the pipeline the following error messages are showing up in our FluxCD container. After del

[2021-02-11 12:19] sbwsg commented on #1836
/remove-lifecycle stale
/lifecycle frozen

[2021-02-11 16:33] sbwsg commented on #3206
The kube api server is repeatedly attempting to `ListAndWatch` v1alpha1 versions.  Here are the logs from my api server in kind:

[code]

@vdemeester @pritidesai should we maybe not [return a conversion error](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1alpha1/pipeline_conversion.go#L103-L106) when moving down to v1alpha1?  It doesn't seem to be what the k8s api server is

[2021-02-11 16:35] sbwsg commented on #3206
(ps are there any docs out there in k8s land or knative land that folks are aware of explaining how to correctly convert down api versions? I can't find __anything__ that cleanly explains the right way to handle this)

[2021-02-11 16:47] sbwsg commented on #3206
https://github.com/kubernetes/apiserver/blob/ab31715e135fe7a7fbcd6f2d91ee25c2c7e6eaf9/pkg/storage/cacher/cacher.go#L383-L387

That's the loop that kubernetes is running.  It reattempts every second, which matches the rate of errors I'm seeing.

[2021-02-11 19:05] sbwsg commented on #2343
/remove-lifecycle stale
/lifecycle frozen

We're quite close to having this issue wrapped up, so keeping it around.

[2021-02-11 23:04] pritidesai commented on #3206
Thanks a bunch @sbwsg

This is very weird, [docker-for-desktop](https://github.com/tektoncd/pipeline/blob/master/docs/developers/local-setup.md#using-docker-desktop) is not producing any such failures or spamming logs unless a conversion is requested.

[code]

I just created a brand new kubernetes cluster using [minikube](https://github.com/tektoncd/pipeline/blob/master/docs/developers/local-setup

[2021-02-11 23:09] pritidesai commented on #3206
Webhook Logs:

[code]

[2021-02-12 03:41] jmcshane opened #3758 "Support using default value if parameter is empty"
### Feature request

Allow parameter defaulting to override empty value

### Use case

In our pipelineruns, we are passing calculated values from the repository into a variety of tasks from the tekton catalog. It would be helpful if these pipelines could allow setting via a parameter of their own, but if the parameter is empty, pick up the task param default value.

Understandably, there is an imp

[2021-02-12 06:03] pritidesai commented on #3206
`cacher.startCaching()` is attempting to list `v1alpha1` pipeline CRDs and failing with `unexpected ListAndWatch error: failed to list tekton.dev/v1alpha1 Kind=Pipeline`

This loop is part of `NewCacherFromConfig` function which is referenced from `StorageWithCacher()`:

https://github.com/kubernetes/apiserver/blob/ab31715e135fe7a7fbcd6f2d91ee25c2c7e6eaf9/pkg/registry/generic/registry/storage_fact

[2021-02-12 12:39] bitsofinfo opened #3759 "Pod disruption budget: tekton-pipelines-webhook issue"
Hi, experienced this w/ 0.18.1 on Azure AKS during an rolling upgrade of k8s on the cluster via AKS's platform.

I was having troubles not being able to upgrade any cluster; AKS provisions a new node, drains one then upgrades and on and on. The entire process was hanging and failing, and it turned out due to the PodDisruptionBudget for `tekton-pipelines-webhook`. Is this expected? What should be t

[2021-02-12 12:53] bitsofinfo commented on #3759
or i guess just scaling it prior to an upgrade would solve it

[2021-02-12 13:15] ImJasonH commented on #3759
Duplicate of #3654 -- I'll comment over there

[2021-02-12 13:15] #3759 closed

[2021-02-12 13:17] jmcshane commented on #3758
Here's a very simple use case, imagine I have a pipeline for running `go lint`, `go test`, and `go build` on a repository. Each of those tasks in the catalog can take a `flags` parameter. In the pipeline, I specify `lint-flags`, `test-flags`, and `build-flags` as the argument. I pass each of these flags to the associated taskRef. If these flags are unset, I want to pick up the value of the default

[2021-02-12 13:20] ImJasonH commented on #3654
This definitely does sound like something we need to document and communicate to operators better.

The PodDisruptionBudget was put in place to prevent users from being unable to create PipelineRuns/TaskRuns/etc when the webhook Pod is unavailable, e.g., during an upgrade. Unfortunately they way it did this basically turned into "never let Kubernetes make the Pod unavailable" 😬

There are basicall

[2021-02-12 13:21] ImJasonH commented on #3654
The PodDisruptionBudget was put in place in #3391 cc @raballew

[2021-02-12 13:22] bitsofinfo commented on #3654
1 and/or 2 are what i did to get around it, but it burned a day or so w/ our k8s paas support trying to triage why the upgrade of the cluster was halted/stuck due to this.

[2021-02-12 13:22] bitsofinfo commented on #3654
agree, its more of a documentation heads up clear warning kind of thing

[2021-02-12 14:06] sbwsg commented on #3758
If I'm understanding right the scenario is something like this:

[code]

In the case that the `repo-build-flags` computed value is an empty string you'd still like to utilize the Task's default value?

One approach that would work today would be to add an intermediary Task in your Pipeline that applies default values when a param is empty.  Here's what that hypothetical Pipeline could look like:

[2021-02-12 14:15] jmcshane commented on #3758
Thanks for the thoughtful reply @sbwsg. While I'm preferential to a single flag on the param rather than a cluster task to set these defaults, I see the value in avoiding feature creep. I'll close this issue for now and try out your suggested approach.

[2021-02-12 14:15] #3758 closed

[2021-02-12 14:34] sbwsg commented on #3206
Nice find @pritidesai ! I think that warning is enough evidence to me that we should simply be removing `Finally` from the `v1alpha1` resources we convert down to.  In a way this does make sense - anyone relying on `v1alpha1` should have no expectation that their `Finally` entries would be available since the feature simply didn't exist then.

It also sounds like this is only an issue because kube

[2021-02-12 16:00] vdemeester commented on #3206
@wouter2397  If those logs are from the fluxcd container, my feeling is that Flux does use the `v1alpha1` API and thus, this is expected — which would make it slightly different than the issue @sbwsg is facing (where it is without any consumer of t)

[2021-02-12 20:47] r0bj commented on #3654
In my opinion defaults should be reasonable. Current default values casing trouble operating cluster and require manual intervention during normal operations like draining nodes.

In this case I see options:
- PodDisruptionBudget is optional, not enabled by default
- HorizontalPodAutoscaler is set with higher minReplicas to meet PodDisruptionBudget demands

[2021-02-12 21:11] ImJasonH commented on #3654
I agree, the default configuration should be safe and easy to use for basic usage.

cc @afrittoli

Worth noting that Knative seems to have the same configuration (autoscaling, HPA), I wonder if they've got the same issue, or whether they have a solution: https://github.com/knative/serving/blob/master/config/core/deployments/webhook-hpa.yaml added in https://github.com/knative/serving/pull/9444

[2021-02-12 22:24] pritidesai commented on #3206
Setting a [Kubernetes api-server](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) flag `--watch-cache` to `false` (default is `true`) stops this bleeding.

If this is not the desirable solution for your deployment, there is a [discussion](https://tektoncd.slack.com/archives/CLCCEBUMU/p1613062221122900) going on and until we find the right solution, you could give

[2021-02-13 01:34] nwang92 opened #3760 "Artifact upload fails on what appears to be an extra step"
# Expected Behavior

When using S3/GCS bucket storage to persist output artifacts in a task, it should execute in the correct order and return successfully.

# Actual Behavior

The injected steps to facilitate the upload do not seem to be waiting for the previous step(s) to complete. Specifically, the problem is with what appears to be an extra "upload" container/step. I'm not certain if that step

[2021-02-13 12:06] ErmakovDmitriy commented on #3756
Hi @skk2142,

I saw your issue and you wrote that the resources could be configured using pipelinerun, Task Step template.
I tried to look through the Tekton docs and couldn't find an example.

Could you, please, share examples for specifying requests.cpu, request.memory, limits.cpu, limits.memory in PipelineRun, Task step?

Thank you in advance.

[2021-02-13 21:13] jmcshane commented on #2676
Just ran into this on a Kubernetes 1.20.2 cluster and ran into this issue. It is causing cloudevent sending to fail with this error message:

[code]

What this means is that the Kubernetes API is returning an empty string for this call:

https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/events/cloudevent/cloudevent.go#L98

There needs to be some sort of patch for this otherwise it fa

[2021-02-14 04:37] skk2142 commented on #3756
You can specify container resources in the step of a task:
[code]
You can also specify pod level template for a task in pipelinerun under taskPodTemplate
[code]

[2021-02-14 08:16] dmitry-mightydevops opened #3762 "Unable to get tasks.TASK-NAME.status in finally section of the Pipeline"
# Expected Behavior

Unable to get `tasks.TASK-NAME.status` in **finally** section of the **Pipeline**
Trying to follow this [example - pipelinerun-task-execution-status.yaml](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-task-execution-status.yaml)

Essentially speaking I need to pass the value, which will be analyzed inside the **slack-notification**

[2021-02-14 17:41] jlpettersson commented on #2666
/remove-lifecycle stale

[2021-02-15 02:55] dmitry-mightydevops opened #3763 "Github Interceptor: invalidation of the secret returns positive http code with the response"
# Expected Behavior

If github's repository webhook settings have incorrect **secret** value then the following things happen with a new push:

1. Request is not starting the PipelineRun and I see the error in the logs of the pod (good)

2. A proper error inside trigger event listener POD, like "security token" mismatch, right now it displays the incorrect reason for the failure.

3. I expected a

[2021-02-15 07:31] jeffmaury commented on #742
/remove-lifecycle stale

[2021-02-15 10:06] ErmakovDmitriy commented on #3756
Thank you @skk2142 for your examples!

[2021-02-15 11:33] nikhil-thomas commented on #3654
the knative team is handling this with the operator, by patching the pdb on the fly.
https://github.com/openshift-knative/serverless-operator/blob/master/openshift-knative-operator/hack/003-serving-pdb.patch

[2021-02-15 13:41] gabemontero commented on #2288
/remove-lifecycle stale

[2021-02-15 13:43] gabemontero commented on #2288
@piyush-garg @vdemeester I went back and revisited https://github.com/tektoncd/community/pull/232 and see where we had some discussion on the mounting of certs.

Do you all think we still need this tracking item and further augmentation of the work @pritidesai did with https://github.com/tektoncd/pipeline/pull/2215 or do you all think we should close this item in favor of your TEP and the subseque

[2021-02-15 19:55] ImJasonH commented on #3654
This issue also seems to be related: https://github.com/knative/operator/issues/376

If we change our PDB to `minAvailable:1` as in that patch, will the HPA scale up a second pod on another node, thus allowing the first pod to go down? I don't know enough about how HPA+PDB work together.

[2021-02-15 20:03] ImJasonH commented on #3654
@nak3 seems to be responsible for both knative/operator#376 and the `minAvailable:1` patch added in https://github.com/openshift-knative/serverless-operator/pull/751, I wonder if he could advise on how best to approach this in Tekton as well.

In general I'd prefer to solve this by making Tekton's default configuration easy to use even if it means being slightly less HA-capable, and then document

[2021-02-16 00:51] nak3 commented on #3654
Yes, we use `minAvailable:1` with the same reason. Although it is not perfect solution as you know, it is easy to use.
You can refer to https://issues.redhat.com/browse/SRVKS-670 (sorry the link is Red Hat only) for other opinions when we had the discussion.

[2021-02-16 14:57] jerop commented on #3762
@dmitry-mightydevops it looks like you're trying to use the status of finally task `checker` in another finally task `slack-notification`, and that doesn't work because:
- all finally tasks execute in parallel, so `slack-notification` would not wait for `checker` to finish executing, [read more](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#adding-finally-to-the-pipeline)
- fi

[2021-02-16 17:05] piyush-garg commented on #2533
/milestone v0.21.0

[2021-02-16 17:40] jerop commented on #2448
The use cases described here could be better solved using [Pipelines in Pipelines](https://github.com/tektoncd/community/issues/330) because it:
- allows us to reuse Finally Tasks instead of introducing Finally Steps
- encourages writing Tasks with singular concerns then allowing them to be composed together as a unit of execution

This use case can be solved using a `unit-test-and-upload` Pipelin

[2021-02-16 19:05] pritidesai commented on #2710
Reopening as this feature is not implemented yet. And will be a good feature to have finally task produce some kind of result and have it as part of the pipeline.

[2021-02-16 19:06] pritidesai commented on #2710
/remove-lifecycle stale

[2021-02-16 21:29] bobcatfish commented on #2448
Thanks for summarizing this and adding examples @jerop !

One detail that I would add which makes using Pipelines as the solution difficult is that sharing data between Tasks in a Pipeline requires a workspace (and probably a backing PVC) in order to make the data available to all the Tasks (pods) (e.g. the unit test upload example above would probably need a workspace too).

If it was possible to

[2021-02-16 21:41] dmitry-mightydevops commented on #3762
@jerop thank you for the **excellent** explanation!

[2021-02-16 21:42] #3762 closed

[2021-02-16 21:43] bobcatfish commented on #2813
ooo why wasn't this a bug all along - i dont know! anyway this is still happening and still a bug

/remove-lifecyctle stale

[2021-02-16 21:47] bobcatfish commented on #2746
ooo this is a good one - i think im gonna add it to [the draft roadmap for 2021](https://docs.google.com/document/d/1gCuj1HgyjlngQXrmISfHk_nPlDsFWpi1yu_5PRcVfTY/edit?resourcekey=0-89-VsI_kkAQo6CvJ4X2rkg). we haven't gotten a chance to look into this specifically but we've been talking about how to coordinate release across projects

/lifecycle frozen

[2021-02-16 21:50] bobcatfish commented on #3749
I think it depends on who is consuming this information - if you are consuming it _within_ the pipeline, you'll need some mechanism to provide the info via a variable (and allow for the failure of hte task :O ); but if it's a system built on top of Tekton (e.g. a dashboard) then making the results available in the status would be enough.

[2021-02-16 22:33] pritidesai commented on #3762
thanks @jerop will add this as one of the use cases for accessing aggregate status of all the tasks from `finally` #1020.

[2021-02-17 10:31] afrittoli commented on #3627
Do you wait for all pods to be ready in the `tekton-pipelines` namespace before starting to run the tests?

[2021-02-17 10:33] afrittoli commented on #3627
Looking at the task that installs Tekton it looks like you do, I wonder if there is something else causing the delay... it would be useful if you could share the controller logs?

[2021-02-17 11:38] barthy1 commented on #3627
yes

sure, I will provide the logs when do clean setup

[2021-02-17 17:06] pollard93 opened #3767 "Cloud events not working in getting started docs"
# Expected Behavior

Cloud events should be received by service in getting started docs.

# Actual Behavior

Cloud events are not received by service.

I have tested that the dns is correct for the service as well as sent test requests to the service which is logged. So I can only assume that the events are not being sent.

I'm also a little confused by the docs regarding cloud events, i'm not sur

[2021-02-17 18:34] barthy1 commented on #3627
the logs from controller from start till test started to execute
https://gist.github.com/barthy1/58e7fe5bc5dd67335c0c24a93894ae83#file-tekton_controller_logs

[2021-02-17 19:27] pritidesai commented on #2748
/remove-lifecycle stale
Defining such policy is crucial as we are approaching `v1`.

[2021-02-19 11:16] Hokwang commented on #3609
I fix this problem.
In /etc/kubernetes/manifests/kube-apiserver.yaml, there's no_proxy setting.
but there's no `.svc`.

I added it and now works perfectly.

[2021-02-19 11:16] #3609 closed

[2021-02-19 20:37] abhinavkhanna-sf opened #3774 "webhook pod blocking node drain"
Hi,

I am trying to drain a node to update the kubectl version, however keep getting this error

`error when evicting pod "tekton-pipelines-webhook-747547fc7c-qg556" (will retry after 5s): Cannot evict pod as it would violate the pod's disruption budget.`
Is there a way to avoid it?

[2021-02-19 20:39] #3774 closed

[2021-02-19 20:39] ImJasonH commented on #3774
This is https://github.com/tektoncd/pipeline/issues/3654

[2021-02-22 08:13] vincent-pli commented on #3682
@ImJasonH
I think `runtime.RawExtension` could satisfy the requirement, user could address any information in the `run` to shape the behavior of custom controller and avoid to create a template CRD in advance.

As @Tomcli mentioned the `loop` is just one case we still have `Exception handler` and some incoming components adopt the `custom task`, they hit the same issue, so hope we can start the ta

[2021-02-22 15:31] afrittoli commented on #3682
Being able to embed custom task specs in pipelines would be consistent with the existing API; to having it instead could inhibit usability of custom tasks instead. We would need to define the name of the field use to embed the spec. The only question I have, if whether support for this new field would be optional or mandatory for custom controllers.
In any case this is an API change, so it will re

[2021-02-22 18:29] #3734 closed

[2021-02-22 21:54] rjackowens opened #3781 "Variable Substitution Not Working in Tasks"
# Expected Behavior
Pipeline parameters substituting when using `$(params.<name>)` syntax as specified [here](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#using-variable-substitution).

Task File:

[code]
CLI command: `tkn task start --showlog -p person=World hello`

Expected Output:
`[say-hello] Hello World`

# Actual Behavior
Pipeline parameters not substituting.

Actual Output

[2021-02-23 06:55] nikhil-thomas commented on #3654
@abhinavkhanna-sf
a quick solution is to change the pdb resource in your tekton-pipelines installation.
eg: https://github.com/tektoncd/operator/blob/main/cmd/openshift/kodata/tekton-pipeline/0.19.0/00_tektoncd-pipeline-v0.19.0.yaml#L1826

[2021-02-23 11:29] garyyang85 opened #3782 "[question] How does tekton control the order of the steps in task"
Hello Team

As I know, containers in a pod don't have a sequence for start or stop. But how does tekton achieve this? I can search the result in the doc "The order in which the Steps appear in this list is the order in which they will execute."

Take the **buidah** task for example. How does tekton control step-build before step-push. Is there a design doc?  Thanks

[2021-02-23 12:54] chmouel commented on #3782
/kind question

Using entrypoint binary see: https://github.com/tektoncd/pipeline/blob/master/cmd/entrypoint/README.md

[2021-02-23 16:01] sbwsg commented on #3781
I don't think v1beta1 resources were supported this far back - I think they were added in 0.11.0.  I'm kinda surprised a Task with `tekton.dev/v1beta1` was accepted by the api server!

Here's the output running the same task on a later version of Pipelines (current HEAD of main branch):

[code]

So several options:
1. Upgrade to later pipelines version ([0.21.0](https://github.com/tektoncd/pipelin

[2021-02-23 18:09] #3443 closed

[2021-02-23 19:12] djfinnoy opened #3785 "Adding a manifest/ folder"
Would it be possible to include the `release.yaml` you distribute via your Google Storage bucket to this github repository, perhaps under a `manifest/` dir?

**But why?**

Installing Tekton via kubectl is easy, but installing Tekton via an Infrastructure as Code approach is super tedious.
There is no official Helm chart (#1542), and the Terraform `kubernetes-alpha` provider is not mature enough to

[2021-02-23 19:18] ImJasonH commented on #3785
I'm weakly inclined not to include generated content in the repo, since this can drift out of sync with the repo contents, or at the very least, require a new commit to add the generated content. For example, if we tag commit `abcde` as `v0.X.Y`, then automation adds a new commit `f1234` with updated `manifest/release.yaml`, should `v0.X.Y` move to point to the new commit? :thinking:

Maybe I'm no

[2021-02-23 20:22] bobcatfish commented on #3785
I wonder if storing a copy of the release.yaml in your own repo might be the best solution for your needs in the long run - then you'd be in complete control of what version you're using and when you want to upgrade.

[2021-02-23 20:25] bobcatfish commented on #3782
@ImJasonH and I did a talk at kubecon on this a while back too: https://www.youtube.com/watch?v=iz9_omZ0ctk

And recently argo workflows (+ @alexec) took a similar approach with their Emissary executor: https://github.com/argoproj/argo-workflows/blob/22f4d26ec059ad86b9c409ffe25392261a22afba/docs/workflow-executors.md#emissary-emissary

[2021-02-23 20:27] ImJasonH commented on #1542
It sounds like there's a fair amount of demand for this. Is there anybody interested in pushing this forward and making it a reality?

There's partial (abandoned?) helm chart support [in experimental](https://github.com/tektoncd/experimental/tree/master/helm), but it looks like those haven't been updated in quite a while, and they seem to need some website changes to support the charts.tekton.dev

[2021-02-23 20:31] bobcatfish commented on #3782
oh yeah and for more history, i think this would be the issue to look at https://github.com/tektoncd/pipeline/issues/224 (we used to use init containers for this functionality)

[2021-02-23 21:03] rawlingsj commented on #1542
The one in the CDF is being maintained, all Jenkins X 3 installs are using it too.  It looks like we should kick off the automation to publish the latest chart for Tekton 0.21.0 from last weeks release, as the chart is currently on 0.20.1.  I can look at that.

[2021-02-23 21:39] bobcatfish commented on #3720
Okay https://github.com/knative/pkg/pull/2036 is an attempt to fix this! If it's accepted, we should see these races fixed when we next update knative/pkg :D 🙏

[2021-02-23 22:01] rjackowens commented on #3781
Thank you, this was it! My mistake was following an outdated tutorial for the Tekton installation using
https://storage.googleapis.com/tekton-releases/latest/release.yaml. It turns out this "latest" release is indeed 0.10.1. After installing the latest pipelines release, the task is working as expected.

[2021-02-23 22:01] #3781 closed

[2021-02-23 23:14] mhubig commented on #3557
I'm having the same issue here. Sometimes the task runs are duplicated. Not sure how to debug this further ... i've also requested access to the above document. I'll try reinstalling tekton and see if that helps.

[2021-02-24 07:16] djfinnoy commented on #3785
Yeah that's what we're doing now. If we get around to it, we may use Github Actions to track releases from this repository and pull the yaml's into our own repo. Just though I'd ask if there was any interest in doing this centrally for the benefit of users who prefer an IaC approach to setting up their clusters.

[2021-02-24 09:59] afrittoli opened #3786 "Variables are not replaced in workspace mountPath"
# Expected Behavior

Variables are replaced in the `mountPath`:
For instance:

[code]

The workspace is mounted to `/go/src/github.com/tektoncd/pipeline`

# Actual Behavior

The workspace is mounted to `/go/src/$(params.package)`

# Steps to Reproduce the Problem

1. Create a task with the spec from the example
2. Add a step that prints `$(workspaces.source.path)`
3. Run the task

# Additional Inf

[2021-02-24 10:02] afrittoli commented on #3786
/cc @sbwsg

[2021-02-24 13:50] sbwsg commented on #3781
@rjackowens Interesting info, thanks a lot!  Which tutorial did you follow?

[2021-02-24 13:55] ImJasonH commented on #3654
Turns out, #3784 probably won't actually fix the issue. 😢

Based on investigation from @nikhil-thomas (🙇‍♂️ ), even with `minAvailable:1`, Kubernetes won't scale up another replica before turning the old one down to drain the node.

We basically have two options in the near-term:
1. Always run at least 2 replicas (`replicas:2` in the deployment, `minReplicas:2` in the HPA), with node anti-affinity

[2021-02-24 14:03] sbwsg commented on #3786
There's already a PR for this: https://github.com/tektoncd/pipeline/pull/3380 that just needs a couple edits to get mergeable.

/cc @khalkie

[2021-02-24 15:44] rjackowens commented on #3781
No problem! [This is the tutorial](https://developers.redhat.com/blog/2019/07/19/getting-started-with-tekton-on-red-hat-openshift/) I followed. It was published in mid-2019 which should have raised a red flag... I think the "latest" tag on the CDN link gave me a false sense of assurance.

[2021-02-24 15:45] bobcatfish commented on #3786
I think I'm being pedantic, but is this a bug? Doesn't seem like we list this as a field you can replace in (yet)

https://github.com/tektoncd/pipeline/blob/master/docs/variables.md#fields-that-accept-variable-substitutions

/kind feature

[2021-02-24 15:45] bobcatfish commented on #3786
(yes, i am currently looking at the bug count for our WG meeting XD)

[2021-02-24 16:36] #3606 closed

[2021-02-24 16:43] bobcatfish commented on #3438
hey @jerop this is done, right?

[2021-02-24 16:44] bobcatfish commented on #1606
This is (about to be) in our roadmap ([WIP roadmap](https://docs.google.com/document/d/12AIYkDHBqhdM2v_yuQZWGzp4_1-wGThPUs_WgDxAuQ0/edit#))

/lifecycle frozen

[2021-02-24 17:12] vdemeester commented on #2676
/remove-lifecycle rotten

[2021-02-24 17:53] vdemeester commented on #2288
I think we can close this item in favor of @piyush-garg TEP yeah 👼🏼 (and this can be quite easily be handled by the operator)

[2021-02-24 17:57] vdemeester commented on #3785
Note that it is also available from github.com (in the release pages, e.g. https://github.com/tektoncd/pipeline/releases/download/v0.21.0/release.yaml)

I agree with @bobcatfish and @ImJasonH, I don't see a reason to include a generate file in the repository. It could easily drift and thus not be the source of truth.

[2021-02-24 18:01] vdemeester commented on #2563
/assign

[2021-02-24 18:06] gabemontero commented on #2288
making it official then - thanks

/close

[2021-02-24 18:06] #2288 closed

[2021-02-24 19:41] jerop commented on #3438
yes, it's available in release [v0.21](https://github.com/tektoncd/pipeline/releases/tag/v0.21.0):
- [Design](https://github.com/tektoncd/community/blob/main/teps/0045-whenexpressions-in-finally-tasks.md)
- [Implementation](https://github.com/tektoncd/pipeline/pull/3738)
- [Documentation](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-finally-task-execution-using-whenexpr

[2021-02-24 19:41] #3438 closed

[2021-02-24 23:00] #2676 closed

[2021-02-25 05:47] sbose78 commented on #3705
+1

We need to start having folks get used to the alternatives of PipelineResources sooner.

[2021-02-25 09:26] rawlingsj commented on #1542
Just to follow up, version [0.21.0 CDF Tekton helm chart](https://github.com/cdfoundation/tekton-helm-chart) has been released.

FWIW the process to upgrade with a new Tekton release is relatively simple, anyone can fork the repo, run `make fetch`, review the changes, push and make a pull request.

A merge to the mainline will create a new helm chart release.  FWIW Jenkins X then has automated PRs

[2021-02-25 09:48] garyyang85 opened #3790 "[question] Is there a way to specify the tekton entrypoint image"
Hello Team

I am using tekton in a limited network. When run task, there will be a pod generated with a init container. In this init container, it will copy tekton entrypoint from an image like below. I am wondering if can replace the image with another one? Thanks.

[code]

[2021-02-25 09:53] HerrmannHinz commented on #2134
super helpful. would finally allow us to "chain" pipelines. plz 🙏

[2021-02-25 10:15] vdemeester commented on #3790
Hey @garyyang85,

Yes there is. The entrypoint image is specified as a flag in the controller image (see https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml#L65 for the "source", and you can see if the releaser yaml the generated version). You can update the yaml to refer to another image. Not that if it's to support air-gaped environment, the operator ([`tektoncd/operator`](ht

[2021-02-25 12:18] salaboy commented on #1542
@ImJasonH @rawlingsj what about if I send a PR to the tekton docs with a quick intro about how to install tekton from the CDF charts? So people looking at the tekton docs knows how to get started.. and also google directs people to there instead of to this issue ?

[2021-02-25 12:25] ImJasonH commented on #1542
Yeah I think that'll be a good place to start.

I do want to make it clear to users who owns and updates the charts, since it's not Tekton folks.

But definitely it makes sense to promote them better if users want them and someone wants to support them.

[2021-02-25 16:29] namloc2001 commented on #2127
Could this functionality be added into Tasks themselves as well? We have a use case whereby we have a single task with multiple steps (security scanning via Dependency Check, then passing results to DefectDojo). I'd like to use this single task for either Java or node repositories and need to perform either `maven install` or `npm install` before DepCheck is run. I currently have one of the steps

[2021-02-25 17:19] jerop opened #3792 "PipelineRun and TaskRun Status"
## Overview
As discussed in API working group on 02/22 ([notes](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.f8cfqihbg88y) | [recording](https://drive.google.com/file/d/1N3iXRqxlb8ju3BD5V8EKA9DnOomXBi9D/view)), we need to revisit the design of the `Status` sections of `PipelineRuns` and `TaskRuns`

We agreed that we need to rework the `Status` sect

[2021-02-25 17:23] jerop commented on #3548
@vdemeester we missed you in the API meeting on Monday where we discussed adding https://github.com/tektoncd/pipeline/issues/3548 to the V1 work here, what do you think?

[2021-02-25 19:54] #3450 closed

[2021-02-25 20:13] bobcatfish commented on #1876
I've added this to the API working group discussion next week if any interested folks are able to attend! and/or we can discuss at an upcoming Wednesday working group

https://github.com/tektoncd/community/blob/main/working-groups.md#general
https://github.com/tektoncd/community/blob/main/working-groups.md#api

my 2 cents is that I'd like to move away from using the Cluster as a source of truth (e

[2021-02-25 22:55] jlpettersson commented on #3440
/remove-lifecycle stale

[2021-02-26 02:03] garyyang85 commented on #3782
Thank you guys. I got the answer.

[2021-02-26 02:03] #3782 closed

[2021-02-26 10:10] mhubig opened #3794 "Tekton release manifest is not working with kustomize and ytt"
# Expected Behavior

The tekton release manifest should work out of the box with tools like kustomize and ytt.

# Actual Behavior

Both ytt and kustomize crashes with the current tekton release manifest. See https://github.com/kubernetes-sigs/kustomize/issues/3639 and https://github.com/vmware-tanzu/carvel-ytt/issues/310 for reference.

# Steps to Reproduce the Problem

I think this is because of

[2021-02-26 13:32] sbwsg commented on #2977
There's been some progress here.  We recently updated the `git-init` image to also include a `nonroot` user with UID 65532.  See https://github.com/tektoncd/pipeline/issues/3712 and PR https://github.com/tektoncd/pipeline/pull/3727

Obviously all the files cloned with this nonroot user are owned by UID 65532 so it's up to the user's pipeline to enforce any ownership rules they need on the files.

[2021-02-26 13:47] sbwsg commented on #1559
Now that we have a [TEP](https://github.com/tektoncd/community/pull/302) merged for this and a [newer issue](https://github.com/tektoncd/pipeline/issues/2800) which is more use-case focused I'm going to close out this issue.

[2021-02-26 13:47] #1559 closed

[2021-02-26 14:22] shibumi commented on #852
Hey everybody, I stumbled upon this while reading the buildkit-daemonless README:
https://github.com/tektoncd/catalog/tree/master/task/buildkit-daemonless/0.1

Am I correct with the thought that we can remove the `privileged: true` from that task now?

[2021-02-26 14:31] sbwsg commented on #852
@shibumi I'm not entirely sure why buildkit-daemonless uses `privileged: true` tbh.  Does that have any bearing on the user which the container runs with?  I would've thought that's decided by the image.

[2021-02-26 14:33] shibumi commented on #852
@sbwsg  privileged: true means it runs with root in the cluster/on the node. This is a possible security vulnerability, especially if want to include/run a shell script in the container from the git repository you have checked out.

[2021-02-26 14:36] sbwsg commented on #852
Right, I'm just not sure that buildkit-daemonless uses `priviliged: true` due to the credential issue we fixed in https://github.com/tektoncd/pipeline/pull/2671 though.  I'm unclear why buildkit-daemonless needs `privileged: true` in the first place.

[2021-02-26 14:41] shibumi commented on #852
@sbwsg ah okay, my assumption was that it needed to run as root (because of certain reasons). The task's README mentioned this:

|                  | `buildkit`     | `buildkit-daemonless`|
|------------------|----------------|----------------------|
|Difficulty        | Hard           | Easy                 |
|Supports Rootless | Yes            | No (BuildKit per se supports, but [Tekton doesn't

[2021-02-26 14:46] AkihiroSuda commented on #852
We should be now able to switch to rootless and remove privileged: true, but I haven't confirmed yet

[2021-02-26 14:58] shibumi commented on #852
btw the image says this:

[code]

and when I try to run this task I get a bigge error (but I am not sure if I am just calling it incorrectly)

[2021-02-26 15:08] shibumi commented on #852
@sbwsg  @akihikokuroda  We seem to need root for the daemonless version, because buildkit wants to mount things:

[code]

[2021-02-26 15:14] shibumi commented on #852
@sbwsg  @akihikokuroda ok.. one addition: The daemonless task uses `moby/buildkit:6.2` if you change the image to `moby/buildkit:6.2-rootless` it works.

[2021-02-26 15:17] AkihiroSuda commented on #852
Seccomp and AppArmor needs to be unconfined like this https://github.com/moby/buildkit/blob/v0.8.2/examples/kubernetes/job.rootless.yaml

Also might be related to https://github.com/moby/buildkit/issues/879

[2021-02-26 15:36] jstrachan commented on #2298
BTW here's the solution we've been using in the Jenkins X community to workaround there being no native support yet for referencing tasks + steps in git and overriding them... https://jenkins-x.io/blog/2021/02/25/gitops-pipelines/

we're using the [ko](https://github.com/google/ko) and [mink](https://github.com/mattmoor/mink) trick of using a custom image URI for now.

it would obviously be better

[2021-02-27 09:45] zhangtbj commented on #3746
A quick question about this requirement.

I did a test, to use the same non-root build-base image for pullrequest init image and run the Tekton e2e tests. It passed.

So about the solution:

If prefers to support both `root` and `nonroot` users, and use a more lightweight base image than build-base image.

Should introduce a new image/Dockerfile to add non-root USER for distroless then for pullreq

[2021-03-01 09:35] vdemeester commented on #2298
Would it be though ? (in tektoncd/pipeline CRD I mean). We are back into the following questions

* Do we consider `tektoncd/pipeline` to be a full fledge CI/CD system ? Should it ?
* Should Tekton (the community, the `tektoncd` org) provide a full fledge CI/CD system ?

The fact that this is "not" supported in `tektoncd/pipeline` today (only reference in-cluster, reference by oci ref or embedded

[2021-03-01 09:48] FogDong opened #3796 "Add pending/pause task in pipeline"
### Feature request

Right now we have pending status in pipeline, with which we can pause the pipeline at any time. But when it comes to pause the pipeline before a specific task, we can not pause the pipeline automatically.
That's the reason why I think we need a pending/pause task in pipeline, we could:
1. Add a pending/pause task in pipeline like the way argo do: https://argoproj.github.io/arg

[2021-03-01 11:14] vdemeester commented on #3792
One thing to consider here is that having the spec used in the status allows us to have a finite source of truth of what was used for that run. Without it, we have no way, while looking back at some runs, to know *for sure* what what the definition of the pipeline or the task executed. In addition, even though we are not taking advantage of this today, this could allow us to reduce the number of "

[2021-03-01 11:14] vdemeester commented on #3548
We should definitely add it to the list of things to discuss and work on yes 😉

[2021-03-01 12:50] salaboy commented on #1542
@ImJasonH Jason, can you please point me out to where (which github repo and which section) would be the best place to add that piece of information, I will happily send a PR.

[2021-03-01 12:52] ImJasonH commented on #1542
We could add a paragraph to https://github.com/tektoncd/pipeline/blob/master/docs/install.md

[2021-03-01 12:54] salaboy commented on #1542
@ImJasonH perfect.. let me send a PR there.
Thanks

[2021-03-01 13:48] garyyang85 commented on #3790
Thanks for the answer :)

[2021-03-01 13:48] #3790 closed

[2021-03-01 14:03] garyyang85 opened #3797 "Failed to clone private github repo"
# Expected Behavior
git-clone can clone private github repo
# Actual Behavior
 git-clone task clone private github repo failed
# Steps to Reproduce the Problem

1. create secret
[code]
2. create service account
[code]
3. tekton run pipeline
[code]

# Additional Info

- logs:
[code]

- Kubernetes version:
[code]

- Tekton Pipeline version:
[code]

[2021-03-01 14:58] sbwsg commented on #3797
It doesn't look like the clone is having connection issues - I'd expect to see authentication errors - but is having trouble pulling a branch specifically called "master".

Can you confirm that the default branch in your private repo is called "master" and not "main" or something else entirely?

[2021-03-01 21:56] imjasonh opened #3798 "Validate Tekton works with GKE Autopilot"
GKE Autopilot is a new mode for GKE which locks down certain aspects of the cluster, in exchange for a more managed environment, and billing based on pod resource requests instead of node reservations. Someone should make sure Tekton works well with it, or at least identify where it doesn't and document those.

Looking through the overview (https://cloud.google.com/kubernetes-engine/docs/concepts/

[2021-03-02 03:07] garyyang85 commented on #3797
Thanks. The default branch is "main" :(.
Close

[2021-03-02 03:07] #3797 closed

[2021-03-02 09:17] vdemeester commented on #1876
So we discussed this a bit during the API WG. In a gist, it seems we are leaning towards getting away from `Cluster` scoped object once we have something that is better (OCI bundles, …). Thus adding support to ClusterPipeline would add more complextiy and technical dept for the future. Instead we should focus on making OCI bundle enabled by default. Especially given the current open question : wha

[2021-03-02 09:41] dbazhal commented on #1876
Ah, too bad :) We were really hoping pipelines will live with adding cluster pipelines and ability to refer pipelines in pipelines, because there was real need to reuse same pipeline(let's say "deploy to one environment") in other pipelines in different namespaces.
Without this features we are forced to consolidate more functions in one clustertask, and use it instead of pipelines, so task reusabi

[2021-03-02 09:42] FogDong commented on #3796
/cc @vdemeester @bobcatfish

[2021-03-02 14:17] sbwsg commented on #3796
It sounds like this could be implemented initially as a Custom Task to prove out the concept?  There's an existing [`Wait Task`](https://github.com/tektoncd/experimental/tree/master/wait-task) in the experimental repo - I wonder if you could take that and modify it to look for an approval signal before it is allowed to continue.

[2021-03-02 14:33] sbwsg commented on #3746
I don't have any immediate plan to work on this in the next few weeks so a PR would be great.

Personally I do think we should be able to support both root and non-root uses for the time being. Adding an optional nonroot user to pullrequest-init's base image makes sense to me.

[2021-03-02 16:31] skaegi opened #3799 "Entrypoint Image Lookup does not use PodTemplate ImagePullSecrets"
At this point this is just by looking at the code and not validated by me. (although reported by a user)
Current main -- https://github.com/tektoncd/pipeline/blob/e2f528b0b247efb3b52b10800aad4ffd9046a266/pkg/pod/entrypoint_lookup_impl.go#L64

We're creating the k8schain with the service account, but also should add in the image pull secrets referenced in the pod template.

[2021-03-02 17:56] andrewballantyne opened #3800 "Know the name of the PVC that a volumeClaimTemplate creates (associated with the workspace)"
### Feature request

I would like to be able to know the name of the PVC that was created by the `volumeClaimTemplate` I used on my PipelineRun or TaskRun, specifically in relation to the workspace name.

Creation of either a Task Run or Pipeline Run that uses `volumeClaimTemplates`, the best we have is the owner reference on the PVC but no reference of what workspace it's related to.

When creati

[2021-03-02 17:59] sbwsg commented on #3551
/remove-lifecycle stale

[2021-03-02 18:34] sbwsg commented on #3800
Do you want access to this information inside of a Task and its Steps?  If so there are two variables we've got:

var | desc
-- | --
workspaces.<workspaceName>.claim | The name of the PersistentVolumeClaim specified as a volume source for the Workspace. Empty string for other volume types.
workspaces.<workspaceName>.volume | The name of the volume populating the Workspace.

https://github.com/tekt

[2021-03-02 18:43] andrewballantyne commented on #3800
Nope, this isn't a request for how to craft a resource to have access to that information... I'm a UI Developer with the OpenShift Console. I have no control over how the user crafts their resources. My apologizes for not adding that information in the description.

We would like to have access to the name of the PVC so we can display that to the user in relationship with the workspace they set it

[2021-03-02 18:51] andrewballantyne commented on #3800
I noticed I didn't put `status` anywhere in the description heh... I started with a Bug template and couldn't really post as a bug as this isn't something that is "required". So I swapped over to a Feature request and I forgot to carry over that information. I added to my description this:

[2021-03-02 22:16] pritidesai commented on #3644
Analyzing the error message logged in the description:

`failed to create task run pod` is being logged as part of `handlePodCreationError`:

https://github.com/tektoncd/pipeline/blob/ca26ea83aba58aa0313f1a5bb81fbd686a6acb01/pkg/reconciler/taskrun/taskrun.go#L533-L538

The second part of the error says the `Pod <podName> is invalid` because of:

* spec.volumes[12].secret.secretName: Required value

[2021-03-02 23:16] wlynch opened #3803 "Pipelines v0.20+ release broken for Kubernetes v1.16.x"
# Expected Behavior

Tekton installation docs say Pipelines is compatible with Kubernetes >= v1.16

# Actual Behavior

Attempting to upgrade from Pipelines v0.19.0 to v0.21 (and v0.20) results in the following error:

[code]

Additionally, the pipeline and webhook controllers are in `CrashLookBackOff` with this error in the logs:
[code]

Despite the error, tkn reports v0.21 after applying.

# Step

[2021-03-02 23:41] afrittoli commented on #3803
Uhm, it looks like we forgot to update the installation guide. It was definitely in the release notes.

[2021-03-02 23:43] jerop commented on #3803
besides https://github.com/tektoncd/pipeline/pull/3640, knative version was bumped to v0.20 in https://github.com/tektoncd/pipeline/pull/3605 which bumped the min Kubernetes version to 1.17

the upgrade notice that Kubernetes 1.17+ is required to run Pipelines was included in [v0.20.0](https://github.com/tektoncd/pipeline/releases/tag/v0.20.0), does it make sense to add it to [v0.21.0](https://git

[2021-03-03 00:08] wlynch commented on #3803
*phew* I think that takes care of the deprecation issue then.

https://github.com/tektoncd/pipeline/blob/master/docs/install.md is where I noticed it. I can throw together a PR to update the docs tomorrow!

/assign me

[2021-03-03 00:08] wlynch commented on #3803
/assign @wlynch

[2021-03-03 03:24] zhangtbj commented on #3746
Cool, got it. Let me think about it.

Thanks Scott!

[2021-03-03 05:09] zhangtbj commented on #1876
Understand if it complex to add cluster scope pipeline from technical perspective.

We don't have this requirement now because we already downgrade to a single Task in our side.

But two cents from me or maybe from user perspective:
- if the pipeline is also a kind of `template` like Task, I think it should be able to extracted and shared at the cluster level.
- If Tekton is also a CI/CD tool, lik

[2021-03-03 08:50] vincent-pli opened #3804 "Allow to inject custom "RateLimiter" when implements "custom task" controller"
### Feature request

When implements new `controller` based on `custom task` mechanism, a reconcile for `Run` will be created.
in our case, the `DefaultControllerRateLimiter` in client-go could not satisfy us, so we expect adopt our `rateLimiter`.

but I found there is no chance to do that, since controller of `custom task` will leverage:
https://github.com/tektoncd/pipeline/blob/master/pkg/client

[2021-03-03 10:23] souleb commented on #3804
The `func NewImpl(r Reconciler, logger *zap.SugaredLogger, workQueueName string) *Impl` is deprecated and NewImplFull must be used. What about opening an issue on knative to have it changed on the injection controller?

[2021-03-03 13:13] afrittoli commented on #2812
/remove-lifecycle stale

[2021-03-03 13:28] afrittoli commented on #2812
This is still an open issue.

I agree with @bobcatfish that we should keep API changes to a minimum, so perhaps it would help us take a step back on this a look at concrete use cases that these would solve, so that we see if there is any alternative solution.

I also feel like this is related to https://github.com/tektoncd/pipeline/issues/1393.

If we support something like `$(inputs.params.payloa

[2021-03-03 15:08] vdemeester commented on #2563
I think that's done looking at https://github.com/tektoncd/pipeline/blob/master/config/200-clusterrole.yaml
/close

[2021-03-03 15:08] #2563 closed

[2021-03-03 16:55] #3803 closed

[2021-03-03 18:08] renannprado commented on #3373
@ImJasonH I'm not sure where this discussion would belong, but would be nice if Tekton also considers "secret parameters".

e.g. so that if I have a task whose output is a token (secret) I can pass to the next step seamlessly without having to create a k8s secret in order to have it `[REDACTED]` later.

[2021-03-03 19:27] ImJasonH commented on #3373
@renannprado I think "secret params" (or results) would be a separate issue, though it might end up sharing the same redaction code. Results today are very much _not_ secret, and shouldn't be treated as such. Anybody who can view a TaskRun's underlying Pod status can see results data, whether or not they have access to the TaskRun, etc. Redacting from logs could be useful, but we'd need to close t

[2021-03-03 20:47] esphen opened #3806 "Be able to use pipeline execution status in pipeline finally"
### Feature request

It's currently possible to [check individual tasks's execution status](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-task-execution-status.yaml) in a pipeline's finally, but seemingly not the pipeline's execution status as a whole. One could imagine this is a pretty common usecase, as acting on the pipeline's result would make contr

[2021-03-04 02:03] vincent-pli commented on #3804
Thanks @souleb , have submit issue on `knative/pkg` side.

[2021-03-04 06:44] renannprado commented on #3373
@ImJasonH do you have interesting in developing this feature? it doesn't seem very complicated to develop (I guess it depends on how hard is it to get the metadata to the pipeline inside of this method hehe), maybe I could develop it if some guidance/mentoring is provided. Of course, after developing it, I would love to contribute to a feature like the "secret parameters" too, but that's another s

[2021-03-04 06:53] FogDong commented on #3796
Thanks! That's exactly what I need, I'll see if I can add the approval signal in wait task.

[2021-03-04 10:47] bharathvenkatrajan commented on #2127
@pritidesai / @jerop Is the `continueAfterSkip` feature available yet? I want to run subsequent tasks even if a previous one was skipped. Or is there any kind of a workaround?

[2021-03-04 18:32] jlpettersson commented on #3800
@andrewballantyne would labels on the PVC (e.g. name of the PipelineRun) solve your use case?

[2021-03-04 18:39] andrewballantyne commented on #3800
@jlpettersson The PVCs created via the `volumeClaimTemplate`s have proper owner references; today we fetch all and trim on the owner (as I'm pretty sure you cannot fetch via owner reference in k8s). So having a label of the PipelineRun would definitely help with our logic of fetching, but doesn't "solve" this particular feature request -- which is "what workspace is PVC for".

So technically yes t

[2021-03-04 18:57] #3206 closed

[2021-03-04 21:45] pritidesai commented on #3806
/assign

[2021-03-04 22:01] wlynch commented on #2316
It's been a while, but I threw together a post for how to use Workload Identity with Tekton, including use of private images in steps - https://wlyn.ch/posts/gcp-tekton-workload-identity/. Just wrote this today, so open to any feedback!

[2021-03-04 23:01] zhouhaibing089 commented on #2862
/remove-lifecycle rotten
/remove-lifecycle stale

This is still relevant.

[2021-03-05 04:03] jcatana commented on #1803
Could the knative CRD you install be renamed, an external dependency, or removed? Seems problematic to have both tekton and knative installed in the same cluster with tekton doing this.

[2021-03-05 05:37] sbose78 commented on #3654
Great adventure!

This setting could possibly also detect a single-node situation and refuse to enable HA, and surface a warning that HA is impossible in single-node scenarios.

This looks like a good first step!

[2021-03-05 15:45] sbwsg commented on #1803
/lifecycle frozen

[2021-03-07 23:42] afrittoli commented on #3607
/remove-lifecycle stale still an issue to be checked

[2021-03-08 02:38] mengjieli0726 commented on #540
@bobcatfish, any tektone performance white paper have?  as so far,  how many pipeline run or run we can support in middle cluster (just like: 1 master + 1 compute node.)
the node spec:  8 core + 64 G memory + 250 G disk.

[2021-03-08 08:00] zhangtbj commented on #3746
I provided a PR to add a new Dockerfile for pullrequest-init image:
https://github.com/tektoncd/pipeline/pull/3810

Please review and hope the build process can be verified by the CI/CD process.

[2021-03-08 15:30] namloc2001 opened #3811 "Use pipelineRun unique identifier within a task"
Hi, I'm creating a pipeline where I build and push a container image. To ensure that if in the case of two instances of the pipeline being run in parallel, I then access the correctly tagged container image in a subsequent task in the pipeline, I'd like to ensure the container image is given a unique tag.

I was hoping I could somehow obtain the pipelineRun unique identifier and use this as a para

[2021-03-08 15:45] sbwsg commented on #3811
There's a variable available in pipelines: `context.pipelineRun.uid`

More info here: https://github.com/tektoncd/pipeline/blob/master/docs/variables.md#variables-available-in-a-pipeline

/kind question

[2021-03-08 16:16] namloc2001 commented on #3811
Amazing, thanks @sbwsg I hadn't spotted that page earlier when hunting around the docs. Much appreciated.

[2021-03-08 16:55] wlynch opened #3812 "Discussion: Remove List calls from Reconciliation?"
This discussion originated from https://github.com/tektoncd/community/pull/357/files#r586702303 but branching off to have a pipelines focused discussion.

Something we realized as part of https://github.com/tektoncd/community/pull/357 was that there are a few places where we make List calls in the Pipeline reconciler to query existing state to check if the resource has been partially reconciled (i

[2021-03-08 18:25] sbwsg opened #3815 "Losing When Expressions converting from v1beta1 to v1alpha1"
# Expected Behavior

All of the fields in a v1beta1 document are "round-trippable" through older versions like v1alpha1 without losing any data.

# Actual Behavior

We lose certain fields that had no representation in the older v1alpha1 version when converting down from v1beta1.  If a stored v1beta1 document has WhenExpressions, for example, then fetching the doc as v1alpha1 will drop those WhenEx

[2021-03-09 14:48] sbwsg commented on #3548
We might want to add the "phasing out HOME / workingDir" things as part of v1 work too:

https://github.com/tektoncd/pipeline/issues/2013
https://github.com/tektoncd/pipeline/issues/1836

[2021-03-09 17:32] RafaeLeal commented on #1684
I feel that `finally` helps a lot on cleanup tasks scenarios, but there are other scenarios that are not covered, even if we add the ability to nest pipelines.
Two scenarios that I'm facing this problem right now:
- non-required PR checks interrupting the schedule of other PR tasks, because they can fail.
- multi-cluster deploy (branched pipeline). We have tasks to deploy in staging/prod for multi

[2021-03-09 17:45] afrittoli commented on #2591
/remove-lifecycle rotten

[2021-03-09 17:54] afrittoli commented on #753
/remove-lifecycle rotten

[2021-03-09 18:08] #2533 closed

[2021-03-09 18:15] bobcatfish commented on #3548
Another item to add to our list - I think @sbwsg 's comment touches on this - but we have a bunch of feature flags we can probably remove (i.e. set the behavior they guard as the default): https://github.com/tektoncd/pipeline/blob/master/docs/install.md#customizing-the-pipelines-controller-behavior (maybe these are just the creds related flags?)

[2021-03-10 00:05] #3654 closed

[2021-03-10 03:33] DrWadsy commented on #1826
I work with @lukehb, and we've been discussing our need for Windows support in Tekton for several weeks now. We've prioritised this in our development roadmap, and have put together a draft TEP to get this process started. I'll be posting it on the main WG for feedback before starting the formal TEP process. We would appreciate any and all advice on getting the proposal to a state where we can sta

[2021-03-10 06:44] lippertmarkus commented on #1826
@DrWadsy @lukehb Thanks a lot for your involvement, I'm really excited and looking forward to it!

[2021-03-10 07:31] djfinnoy opened #3819 "Question: flow control and conditionals"
I can't find much information about using basic code flow control within Tekton tasks; I'm guessing this isn't supported yet (or I'm just bad at searching the internet).
Below I will describe a use case, my question is whether what I want to do is possible right now, and if not; whether it's on the roadmap for future releases.

Consider [the kaniko task from the catalog](https://github.com/tektonc

[2021-03-10 12:10] Siddhesh-Ghadi opened #3820 "Broken release.yaml file on ppc64le."
This issue is in reference to https://github.com/tektoncd/plumbing/pull/762#discussion_r591316378 to track `pipelines` failure on `ppc64le`.

The `distroless/base` image in `tekton-pipelines-controller` deployment doesn't work on `ppc64le` due to incorrect `busybox` binary.

We are working on having a permanent fix. https://github.com/GoogleContainerTools/distroless/pull/622#issuecomment-795077067

[2021-03-10 13:26] vdemeester commented on #3820
/kind bug
/cc @ImJasonH

[2021-03-10 13:34] ImJasonH commented on #3820
Apologies for coming to this late, if this has already been discussed, but can we fix this by using `distroless/static:nonroot` instead of `distroless/base`? That image should have support for ppc64le as well and not have any BusyBox issues. The controller shouldn't depend on anything in the base image anyway.

[2021-03-10 13:48] afrittoli commented on #3820
@ImJasonH That's the image we use as `shell-image` https://github.com/tektoncd/pipeline/blob/10870dfaa0c6c4213b9dd8418275cc61e401475e/config/controller.yaml#L72-L75, which is used for things like `script` - it needs to have a shell inside.

[2021-03-10 13:49] ImJasonH commented on #3820
Oh I see from https://github.com/tektoncd/plumbing/pull/762#discussion_r590501357 this is in reference to the shell image, which indeed does use busybox

[2021-03-10 18:17] bdurrow opened #3824 "Help Scheduler make the right choice"
### Feature request

Through some mechanism provide the scheduler enough information so that the workspace PV(s) are scheduled somewhere the pipeline can complete.  Nice to have, if a node scale-up is required allow that to happen while other less resource intensive tasks are being performed.

### Use case

As a cluster admin I would like to run pipelines that are hard to schedule due to resource

[2021-03-10 21:48] jlpettersson commented on #3824
Yes, these are a weak point with Tekton currently. I feel this problem is similar to https://github.com/tektoncd/pipeline/issues/3049

I have tried to elaborate about similar problems in [Design doc: Task parallelism when using workspace](https://docs.google.com/document/d/1lIqFP1c3apFwCPEqO0Bq9j-XCDH5XRmq8EhYV_BPe9Y) and a potentially viable solution (but require lot of work) for this is to run t

[2021-03-11 07:23] pritidesai commented on #3682
@ImJasonH please confirm 🙏

So what we are proposing here is to mainly add a new field in the `RunSpec` to hold the specification in raw bytes (`RawExtension`) similar to `taskSpec` (which is of type `TaskSpec`) and expect the custom controller to interpret those bytes to discover the specifications from the `RunSpec`?

https://github.com/tektoncd/pipeline/blob/1cd612f90db17dbfc83e37b99fd8ce6b6a07

[2021-03-11 13:49] vdemeester commented on #1826
/lifecycle frozen
This is something we want at some point, so let's just make sure it does not stale and gets auto-close 😛

[2021-03-11 17:41] afrittoli commented on #3819
Hi @djfinnoy, Tekton does support parameters of type array - but they are very limited - you cannot expand an array to a string or interpolate the values of the array with other strings, so I would not recommend this route.

The catalog task supports `EXTRA_ARGS` so you could pass a `--destination=$(params.IMAGE):$(params.IMAGE_TAG_1) --destination=$(params.IMAGE):$(params.IMAGE_TAG_2)` in there.

[2021-03-11 18:03] Tomcli commented on #3682
Thanks @pritidesai. This feature can help us
1. Users can put all the information in one pipelineRun CR.
2. Users don't have to manage the custom task CR. Since custom task CR is namespace scope, if there are multiple users in the same namespace, they will have conflicts when they are using the same name for their custom task CR.
3. The pipeline developer might use several different custom task co

[2021-03-11 18:09] Tomcli commented on #3682
In our use case, KFP is the admin for storing and managing all the PipelineRuns. We are having a hard time to track all the custom resources because they all have different APIs.

[2021-03-11 19:34] djfinnoy commented on #3819
Hah, version 0.2 was released after I posted my question, the `EXTRA_ARGS` param was not included in version 0.1.
Thanks for pointing it out, your suggestion to include a second `--destination` via `EXTRA_ARGS` works perfectly.

[2021-03-11 19:34] #3819 closed

[2021-03-11 19:39] jlpettersson commented on #3631
/remove-lifecycle stale

[2021-03-11 20:18] ImJasonH commented on #3682
Yep, that seems right to me.

[2021-03-12 11:05] nikhil-thomas commented on #3785
how about publishing an OCI non-executable image which contains our release.yaml (for pipelines, triggers ...).

This is help us eliminate delays in operaors release process. At present, we need to make a pr each for every reelase of pipeline, triggers ... to get the respective release.yaml inside operator's kodata directory.

If we can publish the release.yaml as an image in addition to gcs bucke

[2021-03-12 14:23] vdemeester commented on #3785
That's an idea indeed 😝

[2021-03-15 12:47] sbwsg commented on #3435
I captured the problem statement from this issue in [TEP-0038](https://github.com/tektoncd/community/pull/382) but have punted on proposing an implementation or solution at the moment.

/remove-lifecycle stale

[2021-03-15 20:58] jlpettersson commented on #2668
/remove-lifecycle stale

[2021-03-16 06:53] Hokwang commented on #3619
/remove-lifecycle stale

[2021-03-16 06:54] Hokwang commented on #3619
@afrittoli
I want to ask once again.
every variable start with big letter now, but it is nice to change small letter, isn't it?

[2021-03-16 07:57] djfinnoy opened #3833 "Question: Best practice for storage and cleanup in a Tekton CI pipeline"
I've patched together a pipeline using tasks from the catalog, and I'm noticing some areas where I'm probably not "doing it right".

The pipeline gets triggered via Github, and it simply clones the triggering repo, builds and pushes its dockerimage, and runs Helm to update an ArgoCD `application` resource.

The idea is that we'll have dozens of github repositories that call on this pipeline to dep

[2021-03-16 11:25] sbwsg commented on #2684
/remove-lifecycle rotten

[2021-03-16 11:26] sbwsg commented on #2684
Letting this live on for future discussion now that we have three types of runnable: PipelineRun, TaskRun, (Custom Task) Run.

[2021-03-16 11:31] sbwsg commented on #2854
/remove-lifecycle rotten

This would still be a nice-to-have. Now that we've switched many/most/all of our repos over to "main" branch I think any of them could be a good candidate.

[2021-03-16 11:39] sbwsg commented on #2330
/close

[2021-03-16 11:39] #2330 closed

[2021-03-16 12:14] vincent-pli opened #3835 "Active/active HA"
I saw the [ha of tekton](https://github.com/tektoncd/pipeline/blob/main/docs/enabling-ha.md) said:

I tried it with branch master, but I found only one replicas really works, and seems all `lease` hold by one controller(tekton-pipelines-controller-6f66f86b9f-8dqh5):
[code]

So, is that by design or i missing something?

[2021-03-16 12:28] sbwsg commented on #3619
@Hokwang it should be small `i` in `imagePullSecrets`. The pod template from the configmap is read into a PodTemplate struct with `ImagePullSecrets` field (https://github.com/tektoncd/pipeline/blob/e20d2498cd0b317da01c2171c0122020487f061e/pkg/apis/pipeline/pod/template.go#L100-L102).  Notice `json:"imagePullSecrets"` on the field - this is the field name which should be used.  The YAML library we

[2021-03-16 12:31] sbwsg commented on #3833
/kind question

Thanks for the issue!  I'm going to convert this over to a discussion thread so that it doesn't get chewed up by our issue automation.

Worth noting: the PVCs created from a `volumeClaimTemplate` will be cleaned up when the PipelineRun is deleted.  As you mentioned the runs get kept around because their logs and other info is useful for the dashboard.  The Tekton Results project (g

[2021-03-16 12:32] #3833 closed

[2021-03-16 14:27] vdemeester commented on #2934
/lifecycle frozen
I think we still need to have that discussion and decide.

[2021-03-16 14:37] zhangtbj commented on #3835
Hi,

I remember the `lease` is related to the bucket for reconcile queues.

We did some investigation, the `lease` and `bucket` are introduced from `knative/pkg` package, but it is a new feature and is not design very well, I think.

By default, tekton controller has one bucket, so the `HOLDER` should be the bucket name. And if you have three pods, and you want to use three buckets to average the

[2021-03-16 16:56] muxmuse commented on #3221
I received the error message `Load key \"/tekton/home/.ssh/id_gitlab-creds\": invalid format` when a newline was missing at the end of `-----END OPENSSH PRIVATE KEY-----`

[2021-03-16 20:31] abdiali9617 opened #3837 "PipelineRun Deleted Event"
After deleting the pipelinerun there are no further events that can be captured. What events if any are supposed to trigger when a pipelinerun is deleted?

[2021-03-17 02:27] xiujuan95 commented on #3693
PR is merged, I will close this issue, thanks!

[2021-03-17 02:27] #3693 closed

[2021-03-17 02:59] xiujuan95 commented on #3835
@vincent-pli

As @zhangtbj said, by default, tekton controller sets [the number of bucket is one](https://github.com/tektoncd/pipeline/blob/main/vendor/knative.dev/pkg/leaderelection/config.go#L89-L106).

And also tekton controller HA is `active/active`. The reconcile queue is sharded into multiple buckets, and  one bucket only can be held by one leader (one replicas/pod). And ideally, different b

[2021-03-17 09:48] Hokwang commented on #3619
@sbwsg I tested. small `i` does not work.
and I am using now big `I`.

[code]

[2021-03-17 11:01] vincent-pli commented on #3835
Thanks @zhangtbj @xiujuan95
It's interesting, I guess I need dig in to the `knative/pkg` for more details, thanks again, I'd like keep the issue open see if others have more idea.

[2021-03-17 16:59] ghglza opened #3841 "v1alpha1 tasks trigger admission webhook error when reloaded w/ v0.22.0"
# Expected Behaviour
re-applying a task resource that has already been created should result in a nop

# Actual Behavior
since upgrading to v0.22.0, re-applying an existing task results in a denial error by the webhook adminssion controller

# Steps to Reproduce the Problem

1. create v1alpha1 Task resource:
[code]
2. re-apply existing resource
[code]
# Additional Info
The denial does not happen i

[2021-03-17 17:31] pritidesai commented on #1020
@riceluxs1t can you please review the proposal https://github.com/tektoncd/community/pull/371 and let me know if it matches your expectations? 🙏

[2021-03-17 20:20] #2391 closed

[2021-03-18 07:49] vincent-pli commented on #3835
I checked some code of `knative/pkg`, the lead selection is totally random.
Every `controller` will try to be the leader of all buckets.
https://github.com/knative/pkg/blob/dfeeb1817679df6d29737a6c9a61ea9c4860d91a/leaderelection/context.go#L123-L171

[2021-03-18 10:14] #3794 closed

[2021-03-18 15:19] sbwsg commented on #3619
I'll have a look at this and see if I can figure out what's happening.

[2021-03-18 15:56] Fabian-K commented on #3206
Hi @pritidesai, if i understood it correctly, the k8s api server is the reason for the repeated requests to the webhook for conversion. The latest release of tekton ensures that these requests are not failing in case finally is involved.

That still means that the API server continues making these requests, now they are just successful. Doesn´t that leave the question open why the API server maint

[2021-03-18 16:16] vdemeester commented on #3841
@ghglza Thanks for the report. This is definitely not new and should be happening from the first version we shipped v1beta1 to today. `v1alpha1` is converted into `v1beta1` for storage. The problem is with `apply` that merges what is stored with what you want to apply and thus it adds both `params` and `inputs.params`. The workaround here is either using `v1beta1` API instead of `v1alpha1` (mainly

[2021-03-18 17:29] ghglza commented on #3841
Do you mean you don't consider this behavior a bug?
We deploy Tekton tasks with the Flux2 GitOps toolkit (where we don't have control about what kind of kubectl operation equivalent is executed during reconciliation by the kustomize controller), and the error message turned up after upgrading Tekton to v0.22.0 (i.e. it was not emitted by the same setup with Tekton v0.20.0)

[2021-03-19 08:30] mengjieli0726 opened #3844 "In performance testing, sometimes the one pipelinerun will create multiple run even if the yaml define one pipeline vs one run"
#### Expected Behavior
the pipelinerun number = the run number according to yaml file definition
#### Actual Behavior
In performance testing,  sometimes the one pipelinerun will create multiple run even if the yaml define one pipeline vs one run
#### Steps to Reproduce the Problem
1. use the apatch benchmarking tool to create 2000 pipelinerun concurrently.
[code]
2. check the `pipeline run` vs `ru

[2021-03-19 10:25] vdemeester commented on #3841
Hum, I consider this as an unfortunate bug due to how `kubectl apply` works… That said, if this used to work with `v0.20.0`, then something else is went wrong there, and thus might highlight another bug. @ghglza do you know if it does this for `v0.21.0` ?

@ghglza Right, but you have control over the `APIVersion` in use right ? If yes, updating your yaml to `v1beta1` would be the best way forward

[2021-03-19 10:47] vdemeester commented on #3113
/close
I think this is fixed now.

[2021-03-19 10:48] #3113 closed

[2021-03-19 11:09] ghglza commented on #3841
OK, thanks for the heads up!
We'll start to lift our tasks to v1beta1 today.

[2021-03-19 15:15] ghglza commented on #3841
So after re-testing it turns out that
* the error on re-application was also existent w/ Tekton v0.20.0
* we became aware of it due to upgrading the Flux2 GitOps toolkit, because the older versions of the kustomize operator (though faithfully logging it) did not surface the error message to "kubectl get" operations on its CRs
* upgrading our tasks to v1beta1 was a no-brainer, and made the error me

[2021-03-19 15:21] vdemeester commented on #3841
Yes and no at the same time 😝 . Using the approach of CRD + webhook (admisison controller) + controller, we can have only one version stored (it's a limitation from k8s itself for this approach). Thus, we have to convert all *served* version to a given one. I agree it can be confusing though 😓 .

Do you have an example of such warnings ? Usually it warns when you `apply` something you use `create`

[2021-03-19 17:32] pritidesai commented on #3682
Alright, I took sometime to put the puzzle pieces together before writing a TEP for it. Let me know if its headed in right direction:

Introduce a new field `customSpec` in `pipelineTask` which can be merged with existing `taskSpec` if needed. Chose to create a new field just for the PoC:

[code]

`customeSpec` is of type `CustomInlinedSpec` which holds `APIVersion`, `Kind`, and `Spec`:

[code]

U

[2021-03-22 07:45] vincent-pli opened #3845 "The reason limit marking "PipelineRunPending" before "pipelinerun" started"
I saw `tekton` introduce feature [pending pipelinerun](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#pending-pipelineruns), it's very useful, but I wonder to know why we limited the feature could only marked before the `pipelinerun` is started.

Just from the view of its implements, I think it could work after `pipelinerun` started.
So I guess I missing something, any idea? t

[2021-03-22 07:51] zhangtbj opened #3846 "What the gsutil-image and shell-image images for?"
Hi all,

When I viewing the tekton deployment, I found there are two images that are NOT built/managed by `.ko.yaml`:
https://github.com/tektoncd/pipeline/blob/main/config/controller.yaml#L70-L75
- "-gsutil-image", "gcr.io/google.com/cloudsdktool/cloud-sdk@sha256:27b2c22bf259d9bc1a291e99c63791ba0c27a04d2db0a43241ba0f1f20f4067f",
- "-shell-image", "gcr.io/distroless/base@sha256:92720b2305d7315b5426

[2021-03-22 10:57] ImJasonH commented on #3845
Mainly to limit the scope of the feature initially, IIRC.

If a PipelineRun is updated to `Pending` while it's ongoing, what should happen? Ongoing TaskRuns can't be easily paused today, and pausing ongoing steps is even harder. Should `Pending` mean "don't start any new work until I tell you" then?

I'm open to discussing it, but I think there's some complexity involved in the answers.

[2021-03-22 11:04] ImJasonH commented on #3846
The gsutil image is used to fetch objects from GCS when you use the gcs type PipelineResource.

The shell-image is used to support the `script` feature.

In both cases if you don't need these features you can set the flag values to any valid image ref to pass validation. Even an image that doesn't exist (`example.com/doesn't/exist`) should work.

[2021-03-22 12:05] vincent-pli commented on #3845
@ImJasonH

I agree with you we cannot get a exactly `pending` since pause ongoing pod(means pause 'step') is a problem.
but with current implements we can at lease pause `taskrun`, I mean leave the ongoing `taskrun` there and stop creating new `taskrun`, it's valuable, at lease I have such case in my project.

so, could we remove the limitation?

[2021-03-22 12:08] sbwsg commented on #3845
Also related I think, a request for supporting pending taskruns: https://github.com/tektoncd/pipeline/issues/3796

Maybe placing an executing pipelinerun into pending state would mean any newly-created taskruns from that point on will be started with a pending state, effectively pausing the pipeline until those are allowed to continue?

[2021-03-22 13:42] zhangtbj commented on #3846
Thanks @ImJasonH ,

We care about more about the `The shell-image is used to support the script feature.`.

It is a little different from what we see.

From our test, the `gcr.io/distroless/base` image is used for just one container:

| Container | Command |
| -- | -- |
| create-dir-image (for the image resource) | `mkdir -p /workspace/output/image` |

It means the `shell-image` is used in the fir

[2021-03-22 14:05] SaschaSchwarze0 commented on #3846
@zhangtbj, this step is specific to how Shipwright Build creates the TaskSpec. We have the [output resource of type=image and name=image](https://github.com/shipwright-io/build/blob/c0861901860f867697a46c638788ddbd0f7d942a/pkg/reconciler/buildrun/resources/taskrun.go#L240-L253). To my best knowledge, for each output resource, Tekton creates the directory `/workspace/output/{RESOURCE_NAME}`. Withou

[2021-03-22 14:06] ImJasonH commented on #3846
Working dir initialization is also done using the shell-image ([here](https://github.com/tektoncd/pipeline/blob/0593c7bef395505fae8b2e611cf4632e2e980e1d/pkg/pod/workingdir_init.go#L34)).

In that case you can update the `-shell-image` value passed to controller.yaml to any image you want:

https://github.com/tektoncd/pipeline/blob/0593c7bef395505fae8b2e611cf4632e2e980e1d/config/controller.yaml#L72

[2021-03-22 14:20] zhangtbj commented on #3846
Yes, but I have to update the `-shell-image` value in the controller deployment yaml after I build and generate the yaml files by using `ko`.

We followed the official build process, but we still miss these two images, and it is hard to control during my custom build process.

I am thinking can Tekton use a unified way to build and manage these init or tool images (such as use ONE build-base image

[2021-03-22 14:34] ImJasonH commented on #3846
I understand it's not ideal, but you can accomplish this with `sed`:

[code]

Or

[code]

`my-base-image` could be any image that has `sh` and `mkdir`, including `busybox`, `alpine`, Red Hat's UBI, etc.

Longer term, this might make sense as a configuration on the Tekton operator, rather than making people muck with flags.

[2021-03-22 14:50] ImJasonH commented on #3845
I think I'd like to have a TEP to discuss the limitations and user expectations. Otherwise, I agree it should be relatively straightforward to implement.

[2021-03-23 06:42] zhangtbj commented on #3846
How about provide a base image property in `.ko.yaml` like `git-init` or `pullrequest-init` and also configure these two image by using ko, so that we can control them by using a same way as other images?

[2021-03-23 16:37] sbwsg commented on #3815
Could we avoid storing the status if possible?

[2021-03-23 16:38] sbwsg commented on #3305
Pushing this one back again to 0.23.

[2021-03-23 17:03] sbwsg commented on #3846
/kind question

[2021-03-23 17:05] sbwsg commented on #3845
/kind feature

[2021-03-23 17:12] ImJasonH commented on #3846
The shell-image and gsutil-image images aren't built by `ko`, so `.ko.yaml` isn't involved in the building of those images.

It's conceivable that `ko` could also take a mapping of input->output images to perform replacements, but I think you'd probably just have a better time using a single-purpose string replacement tool (`sed`, maybe `kustomize`) to replace these strings in your release pipelin

[2021-03-23 17:20] sbwsg commented on #3841
I'm going to remove this one from priority critical urgent given the reason for this behaviour is a somewhat nuanced side-effect of working with k8s CRDs.

[2021-03-23 17:57] prashant-juluri commented on #3373
A small suggestion but it might go a long way in enterprise adoption. Rather than show a static "redacted" message, why not show the key of the secret itself. That way, the users have a way of identifying which secret it is.

Secrets can differ across environments. Typically you may have different secrets driven by DBs for specific environment such as Dev, staging prod.

Would love to hear more on

[2021-03-24 02:16] zhangtbj commented on #3846
Thanks Jason, yes, we are doing the string replacement in our release process now.

[2021-03-24 09:51] dongwangdw opened #3849 "issue with kustomize"
I have multiple yamls, including tasks, pipeline and pipelinerun.

I try to deploy them with kustomize.
But there is always a problem: CouldntGetTask which says : pipeline can not retrive the tasks.

Is this a bug?

I expected to run all yaml files with the kustomization. It will be so convenient.

[2021-03-24 10:49] #3846 closed

[2021-03-24 12:57] ImJasonH commented on #3849
We might need more information about what you're trying to do to help solve this.

Can you run `kustomize build your-configs/` to see the output YAML, and then `kubectl apply` it? That could help narrow the issue down to `kustomize` or `kubectl`.

One possible explanation for this error is that your YAML declares a `Task`, then immediately afterwards a `Pipeline` that references that Task, and whe

[2021-03-24 13:55] dongwangdw commented on #3849
yes, I can apply the built YAML from kustomization. And it worked well. Only the tasks can not be found.
If I apply the yaml one by one, it will be good too. But this is a little cumbersome that is why I use kustomize.

In the kustomization yaml file, I do order the files as tasks, pipeline, and pipelinerun.

The versions are as below:
[code]

[2021-03-24 22:07] souleb commented on #3824
From the k8s documentation:

`If a pending Pod has inter-pod affinity to one or more of the lower-priority Pods on the Node, the inter-Pod affinity rule cannot be satisfied in the absence of those lower-priority Pods. In this case, the scheduler does not preempt any Pods on the Node. Instead, it looks for another Node.`

[2021-03-25 04:19] dongwangdw opened #3851 "mountPath can not mount relative path"
I try to mount a relative math in a task. But it will be always abs path.
This is not right accoriding to the doc. I think it is a bug.
The task as below(please ignore the indention issue):
[code]

The result I got as:
[code]

And

[code]

From the doc:

I exepect /workspace/test-dir not /test-dir.

Version info:
[code]

Or didI miss anything?

[2021-03-25 09:39] CurryWurry commented on #3221
@muxmuse You are a lifesaver.. took me 3 hours and your post pointed my to the solution. Thanks for sharing!

[2021-03-25 10:30] sbwsg commented on #3851
Hey, I thought I'd corrected the docs on this but I see you are right.  We had a similar issue here: https://github.com/tektoncd/pipeline/issues/3716

The relative path was never appended to `/workspace` so this was an error in documentation.  We just pass the `mountPath` directly, without adding or changing anything, to the pod's `volumeMount.mountPath` field.

[2021-03-25 12:01] jmcshane opened #3853 "Allow tasks to publish results specified by Pipeline spec"
### Feature request

Allow taskrun to pick up results from a broader context, such as the invoking pipelinerun.

### Use case

I have a task in my Tekton Pipelines that I am using to fetch some parameters from an external source that provides a map of parameters. I then use those parameters later in the pipelinerun. Our current setup looks like this:

[code]

The problem here is the results array,

[2021-03-25 15:23] sbwsg commented on #3815
I'm not sure we can - if we returned a PipelineRun's YAML without the status and the user re-applied that against a cluster they would have lost information I think.

[2021-03-25 16:14] wlynch opened #3855 "PipelineRun volumeClaimTemplate creation can race with PVC deletion"
# Expected Behavior

I should be able to run `kubectl delete -f pipelinerun.yaml; kubectl apply -f pipelinerun.yaml` repeatedly with a `volumeClaimTemplate`.

# Actual Behavior

Talking with @sbwsg, we suspect that something along these lines is happening:

1. apply a pipelinerun that uses volumeclaimtemplate
2. delete that pipelinerun
3. the pvc created for the volumeClaimTemplate starts terminat

[2021-03-25 16:14] wlynch commented on #3855
/assign wlynch

[2021-03-25 18:33] impl commented on #3417
We rolled the implementation of this out in our product in the last week or so, so I thought I'd close the loop on this. Because we have a "supervisor" controller that creates PipelineRuns for us, the implementation here was actually quite straightforward using the workspaces feature.

Basically, we end up with something like this:

* Owner (happens to be a ConfigMap in our case)
  * pvpool.puppet

[2021-03-25 20:23] #3855 closed

[2021-03-25 23:00] #3851 closed

[2021-03-26 02:26] gattytto commented on #2019
/remove-lifecycle rotten

[2021-03-26 03:26] zhouhaibing089 commented on #3794
For anyone who have to deal with it:

[code]

will expand those merge keys.

[2021-03-26 06:31] qtheya opened #3858 "Pipe symbol in task result"
Hello
I'm trying to use task result but it's adding "|" symbol to output that is making output value incorrect
[code]
This step generates:
![image](https://user-images.githubusercontent.com/9653011/112589621-18186080-8e0a-11eb-88fd-a5b7c7ba4f0d.png)
![image](https://user-images.githubusercontent.com/9653011/112589644-249cb900-8e0a-11eb-8292-c180bf22a9f5.png)
Then in Pipeline i'm using calVer resul

[2021-03-27 17:12] AlanGreene commented on #3858
@qtheya the `date` command it outputting its result followed by a new line character (`\n`). You can remove this using `echo -n`, `tr -d '\n'`, or a number of other ways. For example:

`date $(params.dateFormat) -d @$(params.timestamp) | tr -d '\n' > $(results.calVer.path)`

[2021-03-28 04:31] qtheya commented on #3858
Thank you!

[2021-03-28 04:31] #3858 closed

[2021-03-29 20:11] wlynch commented on #3812
Closing this out. Some experimentation in the TEP with the lister caches showed this really isn't a problem.

[2021-03-29 20:11] #3812 closed

[2021-03-31 08:21] tingShean opened #3861 "git clone private repo got could not read username"
# Expected Behavior
git clone private repo use basic-auth

# Actual Behavior
could not read Username

# Steps to Reproduce the Problem

secret.yaml
[code]
service_account.yaml
[code]
taskrun.yaml
[code]
Finally
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipeline

[2021-03-31 17:34] afrittoli opened #3862 "Cloud Events for Runs"
### Feature request

Cloud events should be sent Runs.

It needs to be identified whether we want this to be a responsibility of the custom task controllers, the pipeline controller or a dedicated one.

### Use case

We support cloud events for taskruns and pipelineruns, we should support them for runs too.

[2021-03-31 20:27] ImJasonH commented on #3862
I like the idea of basic cloudevents for Run start/success/failure that everybody gets out of the box, and documentation/samples for Custom Task authors to add their own if they want.

The pipelines controller doesn't currently do anything with Runs, I'm not even sure it has a no-op reconciler for them, so if we decide we want to support this we'd add one and do it there.

[2021-03-31 21:47] AliArdaOrhan commented on #907
This question is still unanswered and waits for someone to create a value proposition for Tekton.

[2021-04-01 06:34] tingShean commented on #3861
this issue maybe only in v0.22.0
change to use v0.21.0 work fine

[2021-04-01 06:34] #3861 closed

[2021-04-01 09:35] qu1queee commented on #852
Jumping into this thread. I opened a [PR](https://github.com/shipwright-io/build/pull/675) in Shipwright to support Buildkit, there, we do a small trick so that the `/tekton/home` is nonroot. Thanks for the discussions in here, they helped me a lot.

[2021-04-01 19:03] afrittoli opened #3864 "Incomplete annotations in the taskrun start cloud events"
# Expected Behavior

The annotations taskrun sent in a cloud event are always complete.

# Actual Behavior

In annotations are set in the `Task`, they have not been inherited to the `TaskRun` when the start cloud event is sent.
This causes missing annotations. The `PipelienRun` controller must resolve the tasks in the pipeline, however it does not use the resolved `Task` to set `TaskRun` annotatio

[2021-04-01 20:45] bobcatfish commented on #3824
hey @bdurrow - it seems like maybe part of the problem is that the variable replacement you're trying to do isn't working, is that right? e.g.:

[code]

Looking at the [list of fields that accept variable replacement](https://github.com/tektoncd/pipeline/blob/main/docs/variables.md#fields-that-accept-variable-substitutions) it doenst look like the resource requests (or limits) are in there - im su

[2021-04-04 09:23] ericsgagnon opened #3867 "tekton/tools/entrypoint permission denied troubleshooting help"
Just trying tekton and can't get a successful taskrun on the hello world task in the getting started guide.

I'm running kubernetes 1.20 on rhel 7 selinux permissive mode.
Installed tekton by: kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml
kubectl apply the hello world task from the tutorial:
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:

[2021-04-04 16:28] FogDong commented on #3408
The truth is that we don't bump the year after touching the file since I see no `2021 copyright` in the repo 😅
I wonder if we should update all the files in a once, if so, I can help

[2021-04-04 16:47] Hokwang commented on #3651
/remove-lifecycle stale

[2021-04-05 13:46] gabemontero commented on #2962
@jlpettersson any chance in your opinion my write up of solving this via policy engines like OPA/gatekeeper (or more recently kyverno as well as my feature requests to the to add support for CRDs has landed) is a sufficient enough explanation for saying this item is solved?

I'll qualify that question minimally with the community stance declared in that TEP around deferring RBAC type scenarios to

[2021-04-05 17:32] sbwsg commented on #3815
Moving this to 0.24 because it's not clear to me yet that https://github.com/tektoncd/pipeline/pull/3854 is the way to go.

[2021-04-06 13:00] joeltorby commented on #2875
This answer helped me solve the same error message after some hours frustration, thanks!!

I had reasonly changed the project project path (=the repo url) to a name containing some of the "runes" (=letters) which was not allowed.  The problem was solved by changing the project path to a name only containing allowed runes.

[2021-04-06 16:42] afrittoli commented on #2591
Controlling max taskruns: https://github.com/tektoncd/pipeline/issues/3796

[2021-04-06 16:44] afrittoli commented on #2591
Related issue in experimental: https://github.com/tektoncd/experimental/issues/699

[2021-04-06 16:46] afrittoli commented on #2591
Related approval task issue: https://github.com/tektoncd/experimental/issues/728

[2021-04-06 16:52] sbwsg commented on #2013
From owners meeting just now: next step is to loudly announce this upcoming change on the mailing list and slack.

[2021-04-06 16:54] afrittoli commented on #3666
The issue seems to be fixed upstream in gvisor.
@rvadim would you like to retest this with the latest gvisor?

[2021-04-06 16:55] afrittoli commented on #3666
Removing the priority as it is not a Tekton issue

[2021-04-07 11:44] Hokwang commented on #2050
in my case, I have many dockerfiles in one git repo.
[code]

and pipeline what I think is
`<git clone> - <get last commit's file dir (result: dir name array)> - <dynamic parallel docker build>`

dynamic parallel means that
- create tasks for array elements
- each task runs get Dockerfile and run docker build and push

This can be possible in jenkins already.

[2021-04-07 12:59] MartinKanters opened #3871 "Tekton converts double dollar symbols to one"
# Expected Behavior

When the script element in a Tekton Task definition has double dollar symbols, it should remain as two dollar symbols.

# Actual Behavior

When the script element in a Tekton Task definition has double dollar symbols, the two symbols are reduced to one dollar symbol.

# Steps to Reproduce the Problem

1. Apply the Sample TaskRun manifest defined at the bottom of this descripti

[2021-04-07 17:25] jceresini commented on #3645
/remove-lifecycle stale

This is a pretty standard way to track completion of jobs/tasks/etc in kubernetes. As an application that runs on kuberenetes, it would be reasonable to expect tekton to work with the native kubernetes tools.

https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#wait

[2021-04-07 20:17] sbwsg commented on #3867
hey @ericsgagnon I'm not familiar with running pipelines on rhel but the fact that this is a permissions issue implies to me that maybe the TaskRun needs to be executed with a different `securityContext`.  It could be that containers are not allowed to run as root in your cluster or it might be that the uid / gid is being set to something unexpected by another component (e.g. an admission webhook)

[2021-04-07 22:17] ericsgagnon commented on #3867
@sbwsg it looks like trying tekton may have exposed an underlying issue with my cluster. I tried using ubuntu images for both init and container, copying "ls"  from the init to /tekton/tools/ and running /tekton/tools/ls in the container and got the same permission denied error. You're probably right - it seems like it might be an issue with permissions on files copied to emptydir. I'll scrape the

[2021-04-07 22:17] #3867 closed

[2021-04-08 14:47] photoni-137 opened #4381 "Documentation on Pipeline Controller Metrics seems to be outdated"
# Expected Behavior
The documentation provides the correct metric names.
# Actual Behavior
The documented metric names seem to be outdated; `tekton` needs to be replaced by `tekton_pipelines_controller`.

For example: `tekton_pipelinerun_count` is now called `tekton_pipelines_controller_pipelinerun_count`.
# Steps to Reproduce the Problem
Curl the metrics endpoint of the pipelines controller.
# Ad

[2021-04-09 18:56] abeven opened #3873 "Git basic auth credentials written to logs when newline present in URL."
# Expected Behavior
If any part of a constructed basic-auth git URL accidentally contains a newline,  I should not see the clear-text credentials in the console output logs.
# Actual Behavior
The full basic auth URL is written to the console output.

# Steps to Reproduce the Problem

1. Create a PipelineResource for a git repository.
2. Create a basic auth git secret. Encode a newline in either th

[2021-04-09 19:11] ImJasonH commented on #3873
Thanks for reporting this!

As a simple mitigation, git-init could check whether either username or password contains `\n`, since that's likely the easiest one to slip in. Other invalid characters could also be checked, but maybe we should just check and suppress error messages that include "credential url cannot be parsed".

[2021-04-09 19:15] abeven commented on #3873
Thanks for the quick response @ImJasonH ! I wonder if git-init could instead be bumped to use patched version of git? The patch changes the output of the error message to `fatal: unable to access 'https://github.com/tekton/': URL using bad/illegal format or missing URL`

[2021-04-09 19:16] ImJasonH commented on #3873
Yep, that works too! 😄

[2021-04-09 19:52] ImJasonH commented on #3873
The `git-init` image is [currently](https://github.com/tektoncd/pipeline/blob/5dc24d220ecb77a92e13f7148e4a5a505df82748/images/git-init/Dockerfile#L1) based on `alpine:3.11`, which installs Git 2.24.4. The current latest is `alpine:3.13` which installs Git 2.30.2.

In both cases, I think the issue is not fixed:

[code]

[2021-04-10 18:26] afrittoli opened #3874 "Pipelines in bundles do not go through defaulting before validation"
# Expected Behavior

Pipelines can be stored in bundles in the same format they are stored in git - i.e. with default not specified.

# Actual Behavior

Pipelines must have default specified, specifically the type must be specified for all parameters, otherwise validation errors are triggered at execution time:

[code]

# Steps to Reproduce the Problem

1. Create a pipeline with implicit param typ

[2021-04-12 14:08] abe-rodriguez-nuvalence commented on #3873
@ImJasonH Looks like the edge version has the same problem. I'll try to open an issue with them today.
docker pull alpine:edge
docker run -it apline:edge /bin/ash
apk add  git
git --version
   git version 2.31.1
git clone https://blah%0A:bleh@github.com/tekton
  Cloning into 'tekton'...
  warning: url contains a newline in its username component: https://blah%0A:bleh@github.com/tekton/
  fatal: cr

[2021-04-12 14:21] vince-franco commented on #1542
Would it make more sense for the Operator to have a helm chart instead of just pipelines?

[2021-04-12 14:31] vdemeester commented on #1542
What do you mean by that ? 🤔 By Operator, I assume you don't mean `tektoncd/operator` as it allows you to install, manage and *kustomize* you pipeline installation as well as other components.

[2021-04-12 14:57] ImJasonH commented on #3676
Sorry for not responding earler.

This should be considered expected behavior. Reconcilers are configured to periodically scan all resources in case they missed a previous update. Normally this has no effect, except a (hopefully) brief spike in the workqueue depth, and not a noticeable additional latency for in-progress PipelineRuns.

[2021-04-12 14:57] #3676 closed

[2021-04-12 15:14] Gl4di4torRr opened #3875 "Documentation on Release Branches / Tagging"
Hi,

Do you have a document on how/when you create release branch and how you name the release branch? Also, is there a document on how/when you create a tag?

Thanks!
Chris

[2021-04-12 15:35] vince-franco commented on #1542
@vdemeester I do!

There's no easy way to deploy the Tekton Operator yaml and the Config yaml without running kubectl from a local machine.  A really simple helm chart that would install the operator on a cluster and allow you to choose which install config profile you wanted "basic, default, all" would be really helpful.  I could use the HashiCorp Terraform Helm Provider to install the operator r

[2021-04-12 15:38] vdemeester commented on #3875
/kind documentation
We do have https://github.com/tektoncd/pipeline/tree/main/tekton and particularly https://github.com/tektoncd/pipeline/blob/main/tekton/release-cheat-sheet.md but this doesn't cover when we do create release branches, nor when a release should be expected. We should indeed document this better.

[2021-04-13 14:50] Fabian-K commented on #3676
Thank you @ImJasonH for picking this up!

Do you know if the periodic reprocessing is deterministic, e.g. every x hours (after the container started?)? Is this basically https://github.com/knative/pkg/blob/main/controller/controller.go#L52 or did I miss where this is overwritten by tekton?

Some background info: we currently have ~15k taskruns and 8k pipelineruns in the cluster. With these numbers

[2021-04-13 15:02] ImJasonH commented on #3676
I believe the resync period is from the time the informer started (which is the time the container started) and not for example since the last time the object was reconciled.

That 10-hour resync period is the one Tekton uses, we don't overwrite it AFAIK.

Results is probably going to be your best bet long-term, if you want to try that out and give feedback that'd probably be helpful to that proje

[2021-04-13 15:09] ImJasonH commented on #3585
This process is documented in [DEVELOPMENT.md](https://github.com/tektoncd/pipeline/blob/main/DEVELOPMENT.md). We use [`ko`](https://github.com/google/ko) to build and publish images. Once you have requirements set up you can build these images with `ko publish ./cmd/controller` etc.

[2021-04-13 15:09] #3585 closed

[2021-04-13 15:18] Fabian-K commented on #3676
That's perfectly fine :). I´m just not sure if I´m seeing the (expected) periodic reprocessing or something in addition. My guess: lost connection to the API server. I´ll try to monitor this on my end and potentially re-open the issue.

[2021-04-13 17:11] sbwsg commented on #3871
I see the same output as you. Checking the pod I can see that Tekton is passing the dollar signs through to the shell script exactly as written in the TaskRun:

[code]

and the env var:

[code]

The way the Step `script` block works Tekton writes a temp shell script with the contents of the block and then executes it in your Step's container. I modified the test yaml to print out the contents of t

[2021-04-13 17:46] sbwsg commented on #3861
Just wanted to follow up on this one - I wasn't able to reproduce with a private Github repo over https with a personal access token as the password.  This was running off the very tip of `main` so it might have been fixed in 0.23?  If you're still able to reproduce in later versions of Tekton please reopen this bug and we can investigate further.

[2021-04-13 18:52] MartinKanters commented on #3871
Thanks for your research, it gave me some nice insights in the workings of Tekton.

I've been trying to replicate the behavior locally with Docker. I suspected the shell image that Tekton uses in the initContainer messes up the '$$'. I've found [the code](https://github.com/tektoncd/pipeline/blob/main/pkg/pod/script.go#L121-L126) that creates the tempfile. I also think I found [the shell image tha

[2021-04-13 21:15] afrittoli commented on #2590
Thanks @dbazhal - I discovered your comment only now. Is the work you've been doing something that you'd be willing to share?

[2021-04-14 08:25] Alveel commented on #2925
/remove-lifecycle rotten

Also quite interested in these features.

[2021-04-14 12:30] sbwsg commented on #3871
Ah, after a bit of digging I think this is how Kubernetes treats `$$` in the `args` and `env` fields of a pod.  From https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core

And from https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#envvar-v1-core :

[2021-04-14 12:42] sbwsg commented on #3871
So I guess kubernetes is seeing the double dollar and, assuming that it is a variable escape, replaces it with a single dollar.

I am having a really hard time finding the k8s source for this variable substitution though!  I can't find the exact lines of go that perform the replacement to confirm this behaviour.

[2021-04-14 13:01] eniomachado opened #3879 "failed to create task run pod in namespace with resource quotas"
I'm doing an simple test with tekton, I'm using in openshift but i can't deploy in any namespace that has resource quotas.

$ oc get taskruns.tekton.dev -o yaml

apiVersion: v1
items:
- apiVersion: tekton.dev/v1beta1
  kind: TaskRun
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"tekton.dev/v1beta1","kind":"Task","metadata":{"annotation

[2021-04-14 13:05] eniomachado commented on #3879
$ oc apply -f socketclient-task.yaml
task.tekton.dev/socketclient created
$ oc apply -f pipeline.yaml
pipeline.tekton.dev/socketclient-pipeline created
$ oc get task
NAME           AGE
socketclient   5m51s
 $ oc get pipeline
NAME                    AGE
socketclient-pipeline   9m26s
 $ oc get pipelinerun
NAME                              SUCCEEDED   REASON   STARTTIME   COMPLETIONTIME
socketclient-

[2021-04-14 18:06] MartinKanters commented on #3871
Nice find!

I'm pretty confident [this is the source](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/third_party/forked/golang/expansion/expand.go#L38) of the expansion. It is used [here](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/container/helpers.go#L163).
As I haven't set up a Go dev environment, I'v

[2021-04-14 18:44] sbwsg commented on #3871
Yeah, confirmed I see the same behaviour running your demo.  I'm pretty well convinced now that this is indeed the source of the problem.

So Tekton might be able to work around this by injecting the script a different way.  We could place it in an annotation on the Pod and then project that via downward API, for example.  This way we bypass k8s' `$$` replacement.  I am going to try a proof-of-con

[2021-04-14 20:15] ImJasonH commented on #3871
This is indeed surprising. Nice investigation work getting to the root cause so quickly! 👍

I don't have a better idea than injecting via the downward API.

[2021-04-15 04:26] vdemeester opened #3884 "`update-codegen.sh` doesn't work outside of GOPATH"
Running `./hack/update-codegen.sh` from outside of `GOPATH` seems to be broken. It will create the files in `${GOPATH}/src/github.com/tektoncd/pipeline` which, if you are not in `GOPATH`, won't update your working directory and thus won't work.

See below

[code]

We may want to update the script based on what has been done upstream in knative (even though I am not sure if it supports or not being

[2021-04-15 04:47] vdemeester commented on #3884
my *temporary* workaround is to link my current pwd to `${GOPATH}/src/github.com/tektoncd/pipeline` but we should ensure this work.

[2021-04-15 07:35] MartinKanters commented on #3871
I've created a [bug report](https://github.com/kubernetes/kubernetes/issues/101137) on Kubernetes. But I can understand that waiting for this to be resolved is not the way to go for Tekton.

[2021-04-15 13:40] nikhil-thomas commented on #3874
/assign

[2021-04-15 13:46] kulon opened #3887 "git-clone task cannot handle backslash in the username of a secret"
The git-clone task fails if the secret associated with the service account used to run the task contains a backslash "" in the username. For example, if the username of the secret contains a value "domain\firstname.lastname", the git-clone task will throw the following error:

Error running git [init /workspace/output/]: exit status 128\nfatal: bad config line 4 in file /tekton/home/.gitconfig\n",

[2021-04-15 17:05] joaosilva15 commented on #2374
I found a workaround for anyone that stumbles on this. You can pass the array in the args section and then use the args in the script. In the above case, it would look something like
[code]
As per tekton documentation

[2021-04-15 17:24] bobcatfish commented on #1803
I think this was removed in https://github.com/tektoncd/pipeline/pull/3850

[2021-04-15 17:24] #1803 closed

[2021-04-16 00:45] tlawrie commented on #1750
I'd like to add my +1 for needing this as well. I feel the PodTemplate is the right place for this.

[2021-04-16 03:55] vdemeester commented on #3590
/lifecycle frozen
I think this needs to be taken into account or at least discussed 🙃

[2021-04-16 04:08] vdemeester commented on #3879
@eniomachado are you setting up `LimitRange` too with your `ResourceQuota` ?
The error is `failed quota: resource-quota-oxt: must specify limits.cpu,limits.memory,requests.cpu,requests.memory`, which means using `ResourceQuota` forces you to set those values. Those can be set by step and/or using `LimitRange` on the namespace.
Note that I think there is gap here, as documented a bit in https://git

[2021-04-16 04:34] vdemeester commented on #2986
/lifecycle frozen
We still need to support this.

[2021-04-16 04:42] vdemeester commented on #2931
This really depends on what are those values though. If the `min` is 50Mi and the `defaultRequest` is 500Mi, then we will be requesting 500Mi for any task that has less than 11 steps which is probably most of them. That said, that might be fine as is then.

[2021-04-17 19:33] xclud commented on #1750
@sbwsg Please check out this PR.

https://github.com/tektoncd/pipeline/pull/3889

[2021-04-19 04:44] ghatwala commented on #3820
@vdemeester @ImJasonH @afrittoli  - Busybox failures in distroless image for power has been resolved with https://github.com/GoogleContainerTools/distroless/pull/723

[2021-04-19 10:17] #3820 closed

[2021-04-19 12:04] goldmann opened #3891 "Why does a Tekton resource cannot contain a dot?"
I see this validation being enforced on Tekton resources: https://github.com/tektoncd/pipeline/blob/879ba4f65732808a0614d76d5993af0bac736009/pkg/apis/validate/metadata.go#L31-L36 A dot is a a perfectly valid character within the resource name as per [Kubernetes docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/). Why Tekton does not allow for dots in resource names?

Do

[2021-04-19 12:05] vdemeester commented on #3891
/kind feature

If it's valid for kubernetes, I don't see why we block this indeed. Looking at https://github.com/tektoncd/pipeline/blame/0cb2bf09f1a2ebc30e833d3e64a38b61858be51c/pkg/apis/pipeline/v1alpha1/metadata_validation.go, seems like it's been there since the start of the project (as part of the skeleton).

/cc @tektoncd/core-maintainers

[2021-04-19 12:55] ImJasonH commented on #3891
It goes back even further, to [Knative Build days](https://github.com/knative/build/blob/master/pkg/apis/build/v1alpha1/metadata_validation.go#L33-L38). Digging even further, this check seems to show up for the first time in https://github.com/knative/build/pull/181, written by a rather untrustworthy looking character named @ImJasonH 🤔

I agree with @vdemeester that this is probably unnecessary an

[2021-04-19 19:18] afrittoli commented on #3864
The same issue will exists for annotations on `PipelineRuns` inherited from `Pipeline`.

[2021-04-19 19:24] psschwei commented on #3891
/assign @psschwei

[2021-04-19 19:32] afrittoli commented on #3849
It could be a race between task and pipeline indeed - there's no easy solution as long as we stick to synchronous validation.
You could split your tasks and pipelines and always apply your tasks first.

Some users wrap their pipelines in `helm` which might give you slightly more orchestration compared to `kustomize` alone.
Alternatively you could `kustomize build` your tasks, and publish them to O

[2021-04-19 19:37] afrittoli commented on #3837
We do not have any event at the moment, we don't really use the pipelinerun finalizer.
Do you refer to k8s events or `CloudEvents`?
I would be interested to know about your use cases about this - this shouldn't be too difficult to implement.

[2021-04-20 07:58] zhangtbj commented on #3561
This issue is solved by the PR: https://github.com/tektoncd/pipeline/pull/3725

Hi @HeavyWombat , I think we can close this issue.

Thanks!

[2021-04-20 08:31] HeavyWombat commented on #3561
Yes, it was solved with #3725.

[2021-04-20 08:31] #3561 closed

[2021-04-20 20:47] sbwsg opened #3895 "Validate feature-flag ConfigMap so that misspellings of bools and api fields can't happen"
### Feature request

Our `feature-flags` ConfigMap has a number of flags that expect a `"true"` or `"false"` string, which is parsed to a `bool` in our [`NewFeatureFlagsFromMap` func](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/config/feature_flags.go#L69). Our `enable-api-fields` feature gate will similarly expect specific string values of `"stable"`, `"alpha"`, and eventually `"beta"

[2021-04-21 13:29] julweber commented on #2828
+1

[2021-04-21 13:34] julweber commented on #2828
Dear tekton Team,

is there any update about this?

It would be great if there was an option to set pipeline runs to a serial mode.
In the scenario that a new pipeline run is added while a pipeline run for the same pipeline within the same namespace is already running, the new run could wait for the existing one to finish before being executed.

For example:
Concourse CI allows this via a serial j

[2021-04-21 13:47] jerop commented on #2828
@julweber this is being explored in tekton experimental repo: https://github.com/tektoncd/experimental/issues/699 - @ImJasonH shared an idea in that issue

[2021-04-21 16:55] #3720 closed

[2021-04-22 12:36] vdemeester commented on #3178
/lifecycle frozen
Still work to do here.

[2021-04-22 14:03] bitsofinfo commented on #3591
/remove-lifecycle stale

[2021-04-23 12:26] sbwsg commented on #1750
/close

Thanks a lot for tackling this @xclud!  This feature will be released as part of 0.24.

[2021-04-23 12:26] #1750 closed

[2021-04-23 13:08] sbwsg opened #3896 "Add `enable-api-fields: alpha` to pipeline's CI runs"
### Feature request

Once https://github.com/tektoncd/pipeline/pull/3881 is merged we'll be in a good position to start testing `alpha` fields in our CI. In order to exercise new alpha features we'll need to add an additional round of integration tests and example runs in a cluster with `enable-api-fields: alpha` set in the feature-flags configmap.

### Use case

Contributors to Tekton Pipelines s

[2021-04-23 16:33] Homopatrol opened #3897 "Task should fail if Container fails to mount"
### Feature request
I recently ran into this bug where I was purposely providing incorrect secret into a task .
[code]
However instead of the task failing it instead hanged and I had to go into the console in order to check this had failed as expected.
[code]
My request is that if the a Container fails to spin up, we should output an error message and the task should fail instead of hanging.
In ad

[2021-04-23 17:44] #3891 closed

[2021-04-26 04:37] pritidesai commented on #2800
/remove-lifecycle stale
Problem statement ([TEP-0040](https://github.com/tektoncd/community/blob/main/teps/0040-ignore-step-errors.md)) is merged, working on the proposal.

[2021-04-26 08:22] vdemeester commented on #2800
/lifecycle frozen

[2021-04-26 17:06] jerop commented on #2989
/remove-lifecycle stale

@souleb is actively working on this:
TEP: https://github.com/tektoncd/community/blob/main/teps/0046-finallytask-execution-post-timeout.md
PR: https://github.com/tektoncd/pipeline/pull/3843

thank you @souleb 😁

[2021-04-26 21:08] itewk commented on #3466
@ImJasonH the TEP got merged, should this stay alive for the actual implementation or allowed to die?

[2021-04-26 21:12] ImJasonH commented on #3466
/lifecycle frozen

Let's keep it open.

[2021-04-27 16:08] 06kellyjac opened #3898 "unclear why pipeline task is stuck Pending / tekton entrypoint behaving different"
# Expected Behavior

Expected task to run, fail, or be refused as invalid when added originally

While writing this report it finally failed

Some detail as to why this happened and maybe where to look to debug this would be great.
I tried looking for the pod, describing the pipelinerun, I had a little look at the tekton-pipeline-controler's logs but gave up quite quick as they're pretty hard to r

[2021-04-27 18:14] pritidesai commented on #3715
We do not have any solution to this yet.
/lifecycle frozen

[2021-04-28 02:44] lugeng opened #3900 "Exec Steps Concurrent in task (task support DAG)"
### Feature request

I would exec a tekton task with multi concurrent steps, but it seems cannot support this; (I know the pipeline can handle this feature, but I think it is too heavy to move workspace in different pod);

### Use case

![image](https://user-images.githubusercontent.com/18281825/116337909-78396280-a80d-11eb-803d-67bd6ca6ef0d.png)

In my user case, I hope that the scan step and ima

[2021-04-28 09:53] vdemeester commented on #3900
@lugeng I think you might be interested by [TEP-0044: Decouple Task Composition from Scheduling](https://github.com/tektoncd/community/blob/main/teps/0044-decouple-task-composition-from-scheduling.md).

/cc @bobcatfish

[2021-04-28 13:27] SaschaSchwarze0 opened #3902 "TaskRun fails with CouldntGetTask reason when API server returns retryable error on pod creation"
# Expected Behavior

When a TaskRun creates a pod, all kind of things can go wrong. There might be reasons for the creation to be blocked if limitranges or resourcequotas or permissions or any validating webhook says "no". In that case it makes sense that the TaskRun is immediately marked as failed and not anymore considered.

But, there can also be temporary failures where a retry would make sens

[2021-04-28 17:36] andrewballantyne opened #3903 "Starting PipelineRun in Pending Or Cancelled State Doesn't Add Pipeline Label"
# Expected Behavior

When I create a PipelineRun against a `pipelineRef.name` to an existing Pipeline I have on my OpenShift cluster, a label is added for me `tekton.dev/pipeline = <pipelineName>`. I'd expect this to happen for `spec.status` of `PipelineRunPending` and `PipelineRunCancelled` as well, when they are included.

# Actual Behavior

However, when I create the same PipelineRun with the s

[2021-04-28 21:20] sturfee-petrl commented on #782
I have the same. I believe the pod exist because without `-c` it prints correct list of containers in the pod.

**error: a container name must be specified for pod api-blue-64c9945794-6jkxj, choose one of: [redis api]**

**Error from server (BadRequest): previous terminated container "redis" in pod "api-blue-64c9945794-6jkxj" not found**

I see the pod in the kubernetes dashboard

![Captura de pan

[2021-04-29 06:13] lugeng commented on #3900
[PipelineRun in a Pod, running of Tasks in parallel](https://github.com/tektoncd/community/pull/318#) perfect meet our need !

[2021-04-29 09:10] tibcoplord commented on #3898
I see the same with https://github.com/tektoncd/catalog/tree/main/task/kaniko/0.3 but not with https://github.com/tektoncd/catalog/tree/main/task/kaniko/0.1

I'm wondering if its related to workspaces somehow

[2021-04-29 11:01] sbwsg commented on #3898
Difficult to know precisely what's delayed the TaskRun here but it could be worth watching the PVC's and PV's Status as the PipelineRun executes. My first guess would have been either the volume is taking a looooong time to initialize or a Step's `image` is being downloaded extremely slowly.  However in both of those scenarios the Pod is typically created just fine I think, but it won't be allowed

[2021-04-29 11:10] badamowicz opened #3906 "Question regarding sidecar exit code 137"
Hi Tekton team!
There's one thing when working with Tekton pipelines that always confuses me a bit. If a Pod which has been created by a TaskRun ends, alle the sidecars of the Pod will end with this status:
[code]
This will also make the Pod fail with status ERROR though actually no errors occured at all. This is not the OOM issue mentioned in many other posts here!
So I digged down the source cod

[2021-04-29 11:28] sbwsg commented on #3906
This is indeed how Tekton stops sidecars once a Task's steps are complete.  We document the approach to sidecars in [our dev docs here](https://github.com/tektoncd/pipeline/tree/main/docs/developers#handling-of-injected-sidecars).

The `nop` image is unlikely to have the command which the sidecar ran with, so it will immediately fail when it attempts to start up. This is one possible source of the

[2021-04-29 11:31] 06kellyjac commented on #3898
The pod wasn't created for over 15 minutes. I did `kubectl get po` numerous times and it only showed the completed ones from clone, build, and test, no pending or failed pods

The image was busybox so it wouldn't have taken long to pull and as you mentioned it should have been visible that it was having issues pulling the image in an actual pod resource, when no such resource existed.

As for volu

[2021-04-29 11:50] badamowicz commented on #3906
Obviously I missed exactly that part of the dev docs. So many thanks for clarifying things!

[2021-04-29 11:50] #3906 closed

[2021-04-29 11:57] 06kellyjac commented on #3898
get po watch:
[code]

get pvc:
[code]

kubectl get po over time:
[code]

describe taskrun:
[code]

Dashboard:

![Screenshot_2021-04-29 Tekton Dashboard PipelineRun - sample-pipeline-run-bctlv(1)](https://user-images.githubusercontent.com/9866621/116546465-8bb9fb80-a8e9-11eb-816b-79d1eb83d9fc.png)

[2021-04-29 13:01] sbwsg commented on #3898
Yeah, this does strike me as strange.  I'm able to reproduce it running off the latest `main` commit too.  What I'm seeing is that the reconciler schedules the `hello` TaskRun right after `build` finishes but after that no real updates. I've attached the raw log from the TaskRun creation below. Nothing strikes me as out of the ordinary.

[code]

Will update with another log snippet once the TaskRu

[2021-04-29 13:34] sbwsg commented on #3898
OK, I was able to reproduce it once but subsequent PipelineRuns have not manifested the same problem. I'm continuing to debug.

[2021-04-29 14:00] sbwsg commented on #3898
@06kellyjac I might have missed this but what platform are you running on?  E.g. openshift / gke / kind / docker kubernetes / etc...

[2021-04-29 14:03] 06kellyjac commented on #3898
I'm also on kind 0.10.0

host is nixos following the unstable channel

[2021-04-29 15:16] sbwsg commented on #3898
I've been digging through the output from `kind export logs` but I haven't yet stumbled across anything that looks suspicious.  I have to switch gears for a bit but will try to come back to this and keep looking.  I want to check this against GKE and see if the same problem manifests.

[2021-04-30 19:31] paultiplady opened #3910 "Getting Started instructions fail on GKE v 1.17"
# Expected Behavior

Running the command in https://github.com/tektoncd/pipeline/blob/main/docs/install.md should succeed and produce a working install.

# Actual Behavior

`kubectl apply` command fails and does not produce a working install.

# Steps to Reproduce the Problem

1. `kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.22.0/release.yaml`

[code]
# Addi

[2021-05-01 13:07] andrei-dascalu commented on #2159
I wonder if this is still pursued in the light of the last comment?
Are custom tasks a way to achieve manual approval? This seems like an important use case, perhaps a documented example would help put the issue at rest?

[2021-05-02 14:46] kitty-catt commented on #3897
The Tekton pod fails somewhere down the line CreateContainerConfigError

customer-security-pipeline-ibm-prevail-2021-kztvh-sonar-s-m58tm   2/3     CreateContainerConfigError   0          2m26s

with oc describe po
Error: secret "sonarqube-access" not found

In the Tekton Task it is possible to set the parameter to being not optional.

        - name: SONARQUBE_LOGIN
          valueFrom:

[2021-05-03 03:19] #3713 closed

[2021-05-03 14:39] vdemeester commented on #3647
So quick update on this, for now, we do not build (nor support) arm32v7 for pipeline. But this issues, thus, it is still open
/remove-lifecycle stale

[2021-05-04 04:22] r0bj commented on #3171
/remove-lifecycle stale

[2021-05-04 16:52] bobcatfish commented on #859
Some recent proposals related to this:
* [TEP-0048 pipeline as code](https://github.com/tektoncd/community/pull/341)
* [TEP-0060 remote task resolution](https://github.com/tektoncd/community/pull/389)

[2021-05-04 16:58] dibyom commented on #3221
/cc @sbwsg

[2021-05-04 16:59] bobcatfish commented on #3590
Had a discussion about this in slack a bit, folks pointed out that the syntax for this might get a bit confusing, e.g. if we support results names with `.` we can end up with things like `$(results.foo.bar.baz.path)` (imagining a result named `foo.bar.baz`). I think the way our variable replacement is implemented this isnt technically difficult, but it does look strange.

I'm not sure that's enoug

[2021-05-04 17:05] sbwsg commented on #3221
It appears that this issue is related to formatting errors in the private key.  I'm going to close this for the time being since we don't have really good steps to reproduce nor evidence that it's a Tekton-specific problem. If someone stumbles across this in future and is able to pinpoint a specific problem in Pipelines then feel free to re-open!

[2021-05-04 17:05] #3221 closed

[2021-05-05 18:42] pritidesai commented on #3896
thanks @sbwsg yup, we need this to validate any new alpha features being added. I have bumped up the priority for the same reason.

[2021-05-05 20:55] #2343 closed

[2021-05-06 12:39] #3806 closed

[2021-05-06 13:23] vdemeester opened #3916 "Run vs Definition "race" and "source of truth": `PipelineRun` errors out after `Pipeline` changed"
# Expected Behavior

Once a `PipelineRun` starts, it does continue to the end (if success) no matter what happens to the referenced `Pipeline` (a change, …).

# Actual Behavior

If something happens to the `Pipeline` that is referred by the `PipelineRun`, the controller might fail the execution because incompatibilities, missing resource/parameter/… or even missing `Pipeline` (or `Task`).

# Steps

[2021-05-06 16:54] pritidesai commented on #1020
Reopening again 😜  since we do not expose the entire metadata yet, so far we have access to execution status of individual `pipelineTask` from the `tasks` section and an aggregate status of the entire `tasks` section, documented [here](https://github.com/tektoncd/pipeline/blob/main/docs/variables.md#variables-available-in-a-pipeline).

[2021-05-06 23:40] #746 closed

[2021-05-07 00:40] #1032 closed

[2021-05-07 00:40] #1493 closed

[2021-05-07 01:40] #1632 closed

[2021-05-07 01:40] #3004 closed

[2021-05-07 01:40] #1150 closed

[2021-05-07 03:40] #2707 closed

[2021-05-07 03:40] #1587 closed

[2021-05-07 06:40] #1603 closed

[2021-05-07 06:40] #2520 closed

[2021-05-07 06:40] #2596 closed

[2021-05-07 06:40] #2852 closed

[2021-05-07 06:40] #2370 closed

[2021-05-07 06:40] #1818 closed

[2021-05-07 06:40] #3116 closed

[2021-05-07 07:40] #3059 closed

[2021-05-07 07:40] #1294 closed

[2021-05-07 07:40] #3137 closed

[2021-05-07 07:40] #3151 closed

[2021-05-07 07:40] #3129 closed

[2021-05-07 07:58] vdemeester commented on #1461
/reopen
/lifecycle frozen
It would be still nice to be able to tackle this.

[2021-05-07 08:00] vdemeester commented on #2574
/reopen
/lifecycle frozen
We should tackle this still

[2021-05-07 08:03] vdemeester commented on #2493
/reopen
We should discuss this still

[2021-05-07 08:04] vdemeester commented on #1822
/reopen
/lifecycle frozen
We should tackle this still

[2021-05-07 08:40] #1201 closed

[2021-05-07 08:40] #3105 closed

[2021-05-07 08:40] #733 closed

[2021-05-07 08:40] #1198 closed

[2021-05-07 08:40] #3204 closed

[2021-05-07 09:40] #3219 closed

[2021-05-07 09:40] #2559 closed

[2021-05-07 10:40] #3227 closed

[2021-05-07 10:40] #3154 closed

[2021-05-07 10:40] #3208 closed

[2021-05-07 10:40] #3172 closed

[2021-05-07 10:40] #3251 closed

[2021-05-07 10:40] #1796 closed

[2021-05-07 10:40] #3164 closed

[2021-05-07 11:40] #2272 closed

[2021-05-07 11:40] #3347 closed

[2021-05-07 12:04] sbwsg commented on #3140
/reopen

This still seems worth discussing, even if we end up deciding that keeping a copy of the exact pipeline + tasks in the PipelineRun's status is indeed what we want to do.

[2021-05-07 12:05] sbwsg commented on #3140
Freezing for future review.

[2021-05-07 12:15] sbwsg commented on #3916
I wonder if this should be configuration setting?  Some users seem to want less data to be stored in their PipelineRun statuses (e.g. https://github.com/tektoncd/pipeline/issues/3140) while others would probably want the reproducibility / performance benefits from the spec being cached in this way.

It sounds like the logic described here would work for both cases: if the user configures tekton no

[2021-05-07 12:40] #3354 closed

[2021-05-07 12:40] #3356 closed

[2021-05-07 12:40] #3361 closed

[2021-05-07 12:40] #3364 closed

[2021-05-07 12:45] GBernard314 commented on #1603
I had a similar issue where the pop up window for Auth would instant close.
Solved by signin out of github account.

[2021-05-07 13:35] bitsofinfo commented on #1990
/reopen

[2021-05-07 13:40] #3381 closed

[2021-05-07 13:40] #3366 closed

[2021-05-07 14:03] sbwsg commented on #3898
@XanderXAJ does the TaskRun that's created have any `status` field or is it totally devoid of any additional data beyond the yaml you submitted?

[2021-05-07 14:12] sbwsg commented on #3152
/reopen

/lifecycle frozen

We already have a PR that is so close to being ready over here: #3380

[2021-05-07 14:18] sbwsg commented on #1990
Starting in 0.24 the HOME directory will no longer be automatically set to `/tekton/home`.  This means creds-init credentials will be placed in `/tekton/creds` and tasks that use `git` will need to copy them into the user's home directory.  The `git-clone` catalog task and `Git PipelineResource` both do this for the user automatically.

Generally I am trying to get Tekton away from the "creds-init

[2021-05-07 14:40] #2984 closed

[2021-05-07 14:40] #3411 closed

[2021-05-07 14:40] #3424 closed

[2021-05-07 15:16] wlynch commented on #3208
Realized I never followed up on this 😓

Workload Identity should work just fine with Tekton Pipelines, with a caveat that some additional identity bindings might be needed to grant the pipelines controller the access to read private images. I've written up a small blog post about this to document - https://wlyn.ch/posts/gcp-tekton-workload-identity/

[2021-05-07 15:40] #1288 closed

[2021-05-07 15:40] #2316 closed

[2021-05-07 16:40] #1797 closed

[2021-05-07 16:40] #3076 closed

[2021-05-07 16:40] #3064 closed

[2021-05-07 16:52] pritidesai commented on #3187
/reopen

@bharathvenkatrajan are you still looking for solution or able to design your pipeline with `finally`?

[2021-05-07 17:40] #1687 closed

[2021-05-07 17:40] #3515 closed

[2021-05-07 18:30] skaegi commented on #3569
Yikes. This is real and some internal issues now make more sense. It turns out we actually do a lot of things that @vdemeester mention here https://github.com/tektoncd/pipeline/issues/3569#issuecomment-738060560

We frequently see:
[code]
injected into PipelineRuns and we also in our service inject `affinity` into the same PR podTemplate for workspace volumes... had no idea we were overriding the

[2021-05-07 18:40] #3097 closed

[2021-05-07 18:40] #1617 closed

[2021-05-07 18:40] #2696 closed

[2021-05-07 18:40] #941 closed

[2021-05-07 18:40] #1371 closed

[2021-05-07 18:40] #1372 closed

[2021-05-07 19:40] #2219 closed

[2021-05-07 20:40] #3048 closed

[2021-05-07 20:40] #1441 closed

[2021-05-07 20:40] #2509 closed

[2021-05-07 20:40] #2600 closed

[2021-05-07 20:40] #2647 closed

[2021-05-07 20:51] sbwsg commented on #3898
Yeah, very bizarre.  Thanks for the additional data here, I will try to find some time next week to see if this is a kind-specific issue.

[2021-05-07 21:38] pritidesai commented on #3051
/reopen

I don't think we have reached to resolution for this yet ...

[2021-05-07 21:40] #2045 closed

[2021-05-07 21:40] #2924 closed

[2021-05-07 21:40] #3110 closed

[2021-05-07 22:40] #2827 closed

[2021-05-07 22:40] #1323 closed

[2021-05-07 22:40] #2335 closed

[2021-05-07 22:40] #2448 closed

[2021-05-07 22:40] #3118 closed

[2021-05-07 23:40] #3518 closed

[2021-05-07 23:40] #1023 closed

[2021-05-07 23:40] #3543 closed

[2021-05-07 23:40] #3540 closed

[2021-05-07 23:40] #3541 closed

[2021-05-07 23:40] #3417 closed

[2021-05-07 23:40] #3565 closed

[2021-05-08 00:40] #3090 closed

[2021-05-08 00:40] #3202 closed

[2021-05-08 00:40] #3439 closed

[2021-05-08 00:40] #2433 closed

[2021-05-08 01:40] #3408 closed

[2021-05-08 01:40] #3607 closed

[2021-05-08 01:40] #2842 closed

[2021-05-08 01:40] #3608 closed

[2021-05-09 20:40] #3617 closed

[2021-05-10 08:40] bharathvenkatrajan opened #3925 "Schedule pipelines to be run on a specific time"
### Feature request

Define cron like schedules for running pipelines.

### Use case

Jenkins and other major CI/CD tools have scheduling capabilities for pipelines. I guess this is a major feature that is missing in Tekton. Currently, as a workaround, I am using the tkn cli in a kubernetes cron job to trigger the pipeline. But if this can be built into the pipeline controller, it'll be very helpf

[2021-05-10 09:45] vdemeester commented on #3925
Hey @bharathvenkatrajan, thanks for the issue. On "Reduces dependencies and technical debt", I am not sure I follow. `cronjob` are a k8s construct, and tekton run on k8s, so it's not a dependency, it's something we can rely on, just like we rely on `pods` to be a construct. I think it even make more sense to not have it in the core of tekton at least (aka `tektoncd/pipeline`) as then, it can be im

[2021-05-10 09:56] vdemeester commented on #3569
/lifecycle frozen
/assign

[2021-05-10 10:00] Fabian-K commented on #2207
Hi, we are facing this issue when running some integration tests for our pipelines. Although the webhook pod is ready, creating tasks fails for some time with `connect: connection refused`. We are using kind version 0.10.0 for the cluster.

Here is a script that reproduces the issue. It
(1) creates a new kind cluster
(2) waits for some core components to be ready
(3) installs tekton v0.23.0
(4) wa

[2021-05-10 10:02] vdemeester commented on #3626
/remove-lifecycle rotten
This is still something worth exploring, there is even a TEP around this, or at least a [TEP PR](https://github.com/tektoncd/community/pull/310)

[2021-05-10 10:31] vdemeester commented on #3925
@bharathvenkatrajan right, the `tkn` documentation is lacking and we need to provide way better helping pages, but it is possible to provide workspace spec in a non-interactive way: som exmaples from https://github.com/tektoncd/cli/blob/main/docs/reference/cmd/pipeline_start.md#examples:

[code]

[2021-05-10 10:59] bharathvenkatrajan commented on #3925
@vdemeester Oh, great! Exactly what I wanted. Yeah, if possible, also update the CLI’s man page :)

[2021-05-10 13:06] #3896 closed

[2021-05-10 14:21] wkulhanek opened #3929 "Split / Join in Pipelines"
### Feature request

It appears there is currently no way to split / join a Pipeline. This is a basic feature that is missing - and will prevent broad adoption of Tekton Pipelines. Almost every Pipeline that I build (besides simple demo ones) requires this capability.

Note that this is different from parallel execution of tasks where all tasks will run.

### Use case

The use case is actually qui

[2021-05-10 14:23] vdemeester commented on #3929
/cc @pritidesai @jerop
I think it might be covered by [TEP-0059](https://github.com/tektoncd/community/blob/main/teps/0059-skip-guarded-task-only.md) but I wasn't sure as I didn't see described in the motivation/use cases.

[2021-05-10 14:45] sbwsg commented on #3871
A workaround for this behaviour has been merged and should be released as part of 0.24 this week.

[2021-05-10 14:52] wkulhanek commented on #3929
@jerop The simple case that I fell over was that I built a pipeline that builds and deploys a Java based application.

But the actual deployment was happening either via a "Deployment" or via a "Knative Service" based on a boolean flag on the PipelineRun.

So all my steps in the pipeline are the same (git checkout, maven build, image build, tag, ...). The only thing that's different is how to upda

[2021-05-10 14:53] wkulhanek commented on #3929
@afrittoli This is exactly what I had. Except I would suggest that just using the "condition" on Task A would be too narrow. In my case the condition is a boolean input parameter on the PipelineRun itself rather than being generated by Task A.

[2021-05-10 22:30] r0bj opened #3935 "v0.24.0: broken bash variable evaluation"
# Expected Behavior

bash variable evaluation works fine.

# Actual Behavior

bash variable evaluation is broken.

# Steps to Reproduce the Problem

taskrun.yaml:
[code]

Taskrun result:
[code]

Note: Output should be `var1_value` instead of `5var1`.

On tekton pipelines before version v0.24.0 it works as expected:
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:*

[2021-05-11 02:16] Hokwang opened #3936 "release note errata"
Hi,
in v0.24.0 release note,

[code]

I think you need to change Kubernetes `v1.18+`

[2021-05-11 06:00] afrittoli commented on #3936
Fixed!

[2021-05-11 06:00] #3936 closed

[2021-05-11 07:38] grytrn commented on #1912
/remove-lifecycle rotten

[2021-05-11 09:24] vdemeester commented on #3935
/cc @sbwsg
This probably relates to https://github.com/tektoncd/pipeline/pull/3888

[2021-05-11 11:17] sbwsg commented on #3935
Could you post the generated pod?

[2021-05-11 11:35] sbwsg commented on #3935
The script gets expanded to:

[code]

This is the new script behaviour, expected.  Kubernetes rewrites `$$` as `$` so we've doubled-up the number of dollar signs to try and prevent losing characters when k8s eventually rewrites our script.

But then the output is:

[code]

Sigh.

OK I'll make a revert commit and reopen https://github.com/tektoncd/pipeline/issues/3871

[2021-05-11 11:46] sbwsg commented on #3935
For someone who doesn't know the infinite reaches of bash scripting, what is `eval echo \$$$$var2`?  Why so many dollars and a backslash, is this related to something in the way `eval` works?

[2021-05-11 12:46] sbwsg commented on #3871
Copy/pasting the findings from #3935:

Bit more investigation: Kubernetes does replace instances of two dollar signs, "$$", with a single dollar sign, "$" but it also attempts to replace instances of "$(X)" with the contents of env var X. In this case k8s sees $( from $(eval echo \$$var2) and assumes that "eval echo $$var2" is a variable name. Of course it doesn't have an env var with that name so

[2021-05-11 16:09] jlpettersson opened #3940 "Use "when expression" instead of "WhenExpression" in documentation"
The user is only using `when:`-keyword, followed by an "expression". I think we should call this for "when expression" rather than "WhenExpression" in the documentation, that is probably better english?

Compare e.g. how this is written in the [Kotlin documentation](https://kotlinlang.org/docs/control-flow.html#when-expression)

/kind documentation

[2021-05-12 02:30] jbg commented on #3035
Was this ever looked at? We're considering Tekton for CI/CD but with the permissions granted to the controller in the deployment YAML, we'd need to dedicate a k8s cluster just for Tekton, since it gets really wide access.

[2021-05-12 13:20] imjasonh commented on #3035
We've looked into scoping down what Tekton has permissions for at the cluster-scope (see [history](https://github.com/tektoncd/pipeline/commits/main/config/200-clusterrole.yaml)), but I don't think anybody's looked into constraining what namespaces it has access to. For that you'd need to tell Tekton which namespace(s) you expect to be able to run workloads in, which necessarily can't be configure

[2021-05-12 13:44] sbwsg commented on #3871
Nice! I'll give this a try.

[2021-05-12 14:48] wwu-cx opened #3943 "Kaniko authentication errors since 0.24 because of HOME env missing"
Took me a while to figure this out, i know this is not per se a bug in tekton, but since a lot of people are using the kaniko build step from the library, i will report this.

# Expected Behavior

After upgrading to 0.24, the kaniko buildstep should function as before.

# Actual Behavior

PUTs to the registry (Useragent kaniko/1.5.2) are working like before, but i see GET and HEAD requests  second

[2021-05-12 15:53] sbwsg commented on #3871
This works quite nicely ([branch with changes over here](https://github.com/tektoncd/pipeline/compare/main...sbwsg:fix-dollar-signs-in-scripts-with-base64)) and doesn't mangle bash scripts but there are definitely trade-offs:

1. The Shell Image passed to the controller with the `-shellImage` flag must contain the `base64` program. Busybox has this by default but if users are overriding this thems

[2021-05-12 17:57] MartinKanters commented on #3871
Nicely done, @sbwsg . To me, the benefit (ensuring data integrity and no dollar wickedness) outweighs the trade-offs. Sure, scripts will increase in size (trade-off 2), but I believe we found out that Kubernetes allows a lot of data in this `args` field, right?
Debugging issues will become harder (trade-off 3), but it should be very clear to a user that it is base64 encoded. The format and code ar

[2021-05-13 08:47] #3623 closed

[2021-05-13 09:47] #3598 closed

[2021-05-13 12:49] sbwsg commented on #3871
Very good point about the heredoc, I will update the branch to take advantage of this!

Agreed on 2 & 3. There are ways we could increase the available script size, for example by splitting multiple scripts across multiple init containers writing them. And visual inspection of the scripts in the pod has always been quite difficult so base64 encoding doesn't feel like a big drop in usability (to me

[2021-05-13 13:30] MartinKanters commented on #3871
Nice job on the docs!

I'm thinking of another idea.. I'm not sure what the use-case of using a custom initContainer image is, so perhaps this will sound ignorant. We could `base64 decode` the script into a file in a new initContainer (with a fixed image, containing base64) and make sure the original initContainer can get to it by using a volume mount.

Then again, I'm not sure what the use would

[2021-05-13 21:52] #2590 closed

[2021-05-14 07:57] #3586 closed

[2021-05-14 14:48] VickyWinner commented on #2050
I have a scenario where in my gitrepo has a file with bunch of vault paths and `vault-read` needs to run for every entry and get the secrets in that path.
within pipeline, I need to be able to call `vault-read` # of times.  Is this still in the roadmap?

[2021-05-14 16:31] sbwsg opened #3947 "Emit Warning Events for Deprecated Features"
### Feature request

Emit events when a TaskRun( / Task) or PipelineRun( / Pipeline) utilizes a feature that we intend to deprecate.

### Use case

As a person administering a Tekton cluster I would like to query that cluster to see if any of the Tekton resources my teams have created contain deprecated features. I would like to be able to do this either 1) by querying the cluster in-the-moment or

[2021-05-14 17:42] sbwsg commented on #3947
A couple immediate problems with this idea:

1. It won't help users who don't upgrade to later versions: if an operator pins to 0.21.0 but a deprecation warning is added in 0.25.0 then this user won't receive it.
2. Some operators may not want to expose deprecation warnings to their teams / users.  (Who?  And Why?)
3. Some deprecations aren't as easily detected programatically (for example removin

[2021-05-14 17:57] pittar opened #3948 "Docs or Blog Post for Creating Custom Tasks"
It would be great to see a document or a very basic blog post detailing the process and/or best practices of creating your own custom tasks, especially when a new task image is required. For example:

- I need a new Tekton task so I can run a specific CLI
- So, first I create a container image that has my cli, and these are the steps.
- Then I create a Task, and this is how I lay out params, args,

[2021-05-14 19:32] sbwsg commented on #3871
I've got a workaround going which no longer requires `base64` in the `shellImage`. We update the `entrypoint` binary to include a `decode-script` subcommand and use that in the `place-scripts` `initContainer`. Works very nicely, thanks for the suggestion @imjasonh. Also updated with fixed heredoc as suggested, cheers @MartinKanters !

Changes visible at: https://github.com/tektoncd/pipeline/compar

[2021-05-14 19:32] psschwei commented on #3705
Adding link to [TEP-0044](https://github.com/tektoncd/community/blob/main/teps/0044-decouple-task-composition-from-scheduling.md) now that it's merged. It includes a comparison with [the TEP formerly known as 0046](https://github.com/tektoncd/community/pull/318), which was closed.

[2021-05-14 22:57] #3075 closed

[2021-05-15 14:57] #3545 closed

[2021-05-15 17:57] #3026 closed

[2021-05-15 17:57] #3027 closed

[2021-05-16 18:57] #2725 closed

[2021-05-16 21:14] jeffmaury commented on #742
/remove-lifecycle stale

[2021-05-17 02:58] #1209 closed

[2021-05-17 03:28] aiden-deloryn opened #3951 "Building and publishing Windows images"
Currently Ko is not able to build images for Windows (see https://github.com/google/ko/issues/361) and adding support for this is potentially a complicated problem to solve. In the interest of progressing development on Windows support for Tekton, I think it would be beneficial to investigate alternatives for building and publishing Windows images until this functionality is supported by Ko.

A po

[2021-05-17 03:31] aiden-deloryn commented on #3951
/kind misc

[2021-05-17 07:29] vdemeester commented on #3943
We should update the catalog kaniko task to do that then I think.
/cc @tektoncd/catalog-maintainers

[2021-05-17 07:56] chmouel commented on #3943
or contact the kaniko maintainer to set a `WORKDIR` in the Dockerfile :)

[2021-05-17 08:44] supershll opened #3952 "Add Metadata for Pod of TaskRun"
### Feature request

for some reason, I need add annotation to Pod that created by taskrun,

### Use case

for some reason, I need add annotation to Pod that created by taskrun,
is there some way to do this ?

[2021-05-17 10:37] cybul7 opened #3953 "Git credentials are not available between steps in the same task"
# Expected Behavior

Git config should be "visible" in all steps.
I don't have this error when I use **v0.20.1**.

# Actual Behavior

I have few steps in task. 1st one is a git setup and the next one is git add and commit.
I have a problem with second task, it doesn't see the git config setup from the previous one.

First step output:
[code]

In the "git commit step" output we have:

[code]

# Add

[2021-05-17 13:16] vdemeester commented on #3884
Note that this is also the case for `./hack/update-openapigen.sh` 🙃
One other workaround (that we could automate in the scripts is the following)

[code]

[2021-05-17 20:52] jerop commented on #2710
/lifecycle frozen

may be useful even for pipelines in pipelines for the results from finally tasks to be passed to pipeline results

[2021-05-18 02:10] ashish-saha opened #3957 "Cannot create file in the workspace directory unless running as root"
I want to create a file in the workspace directory. But I can only do that if I run as `root` with
[code]
if I leave it blank or want to run as user  `1001` it gives me `touch: cannot touch '/workspace/workspace_folder/test.txt': Permission denied`
It seems like when the workspace directory gets created it is owned by user `99`

# Expected Behavior

I should be able to create files in the workspac

[2021-05-18 16:37] sbwsg commented on #3305
We could spend some effort taking some measurements in our dogfooding clusters to see how a change here could have an impact before we commit to refactoring?

@pierretasci do you have an idea of how you'd like to proceed on this one?  Is it still worth keeping in the milestones?

[2021-05-18 16:45] sbwsg commented on #3916
Question from owners meeting just now: Should we be fetching / caching the Spec when a TaskRun or PipelineRun is created in pending state at the moment that the TR / PR is created?  Right now (I think) the spec won't be fetched until we move out of the pending state.

[2021-05-18 16:55] sbwsg commented on #3669
@xpepermint Does this remain an issue for you?

[2021-05-18 16:56] sbwsg commented on #3655
@ycyxuehan Does this remain an issue for you?

[2021-05-18 16:58] xpepermint commented on #3669
@sbwsg please keep this issue open for another month. I work on other things right now but I'll try to test this again. Thanks.

[2021-05-18 17:01] sbwsg commented on #3672
@bibi520 am I right in understanding that `git rm --cached education-html` fixed the issue?  I will close this issue if so.

[2021-05-18 17:01] pritidesai commented on #3641
Hey @vincent-pli you still looking for this functionality? Do you think the [graceful termination](https://github.com/tektoncd/community/blob/main/teps/0058-graceful-pipeline-run-termination.md) would help the use case you are trying to implement?

[2021-05-18 17:12] sbwsg commented on #3669
/remove-lifecycle rotten

[2021-05-18 17:54] pierretasci commented on #3305
I think this is going to need to happen for remote resource resolution anyways, so perhaps we refocus this on what is needed to get that to work

[2021-05-18 19:33] sbwsg commented on #3957
I haven't been able to reproduce this with either the YAML you've got here or the workspace examples from our repo.

Which platform are you running on and which version of Tekton + K8s are you working with?

[2021-05-19 02:30] vincent-pli commented on #3641
Thanks @pritidesai
I guess not, since I concern the time point to trigger the `Finally`, not the behavior when `Finally` trigger.
but thank you all the same.

[2021-05-19 03:33] pritidesai commented on #3641
So, do we consider to change the functionality a little? I mean when hit failure, let the finally trigger immediately, I guess code like this:

Like @vdemeester mentioned, `finally` tasks are by design scheduled after all running tasks finish executing. `finally` is implemented based on the fact that none of the `dag` tasks are running at the time `finally` starts executing.

Is there any addition

[2021-05-19 04:32] Xinyan272 opened #3959 "Private git (also need proxy) clone failed"
### Problem:
I configured the secret token required by the private gitlab according to this [auth.md](https://github.com/tektoncd/pipeline/blob/main/docs/auth.md#configuring-authentication-for-git), and use httpsProxy in pipelineResource. But the two cannot work at the same time. It means in taskRun, the content of the service account will be executed first, it will try to connect and auth to the

[2021-05-19 08:31] supershll commented on #3952
sorry, I found that the pod's metadata just inherit from taskrun.

[2021-05-19 08:31] #3952 closed

[2021-05-19 08:54] vdemeester commented on #2748
/lifecycle frozen

[2021-05-19 17:33] Fabian-K commented on #2207
In the meantime, I opened https://github.com/kubernetes/kubernetes/issues/102013 with respect to this issue. The first suggestion is to check if the webhook pod signals readiness too early.

https://github.com/tektoncd/pipeline/blob/55ae8563be29a76bb43b9577c8d6072ae7110d78/cmd/webhook/main.go#L218-L233

Looking at the webhook code, as far as I understand this signals readiness immediately. I´m won

[2021-05-20 13:15] #644 closed

[2021-05-20 13:25] mike-sirs commented on #999
Greetings
I've built a small app that uses GitHub application private key to generate and store an access token in K8S secrets.
https://github.com/mike-sirs/gha-get-token

[2021-05-20 15:06] ScrapCodes opened #3962 "Timeout support for custom tasks."
### Feature request

Timeout support is already discussed in brief in the [TEP-0002](https://github.com/tektoncd/community/blob/main/teps/0002-custom-tasks.md#timeout), but not yet implemented.

### Use case

Custom tasks, does not know that pipeline running has a configured timeout. If timeout information is propagated to custom tasks, then they have the opportunity to cleanly release the resourc

[2021-05-20 15:06] ScrapCodes commented on #3962
/assign

[2021-05-20 15:07] ScrapCodes commented on #3962
This will require an addition of API fields, we will update the TEP with the appropriate details.

[2021-05-20 15:15] ScrapCodes commented on #3962
/cc @Tomcli

[2021-05-20 16:00] jeffmaury opened #3964 "Sidecar struct field Workspaces has not JSON annotation"
# Expected Behavior

Field should be annotated with json:"workspaces,omitempty"

# Actual Behavior

No annotation in source code.

[2021-05-20 16:07] imjasonh commented on #3962
I think there are two separate timeout issues we should address and support as best we can, separately:

1. A Pipeline configuring that a Custom Task Run contained within it should have a timeout (`.task.timeout: 10m`)
2. A Pipeline configuring a pipeline-wide timeout, which when hit, cancels any ongoing Custom Task Runs that might be ongoing. I think this is really just a sub-case of Custom Task

[2021-05-20 20:31] imjasonh commented on #3951
+1 to unblocking development however you can. I don't know if we should include a windows-mode to the release plumbing, ideally we'd be able to get ko working before that becomes necessary 🤞 , but if you're able to build an entrypoint image and configure Tekton to use it, that'll help us find out about whatever the next thing is that breaks and give us more time to fix it. 👍

[2021-05-20 21:14] priyawadhwa opened #3965 "Hermekton Beta Tracking Issue"
This is an overarching issue we can use to track the different things we'll need to do for hermekton beta:

- [ ] Figure out how we want to handle sidecar containers. We can either just document that they aren't supported or actually fail if hermetic execution mode is applied on a Task with sidecar containers
- [ ] Add sample working tasks & pipelines
- [ ] Make sure hermekton works if the user is

[2021-05-21 10:25] #3257 closed

[2021-05-21 12:35] sbwsg commented on #3305
Makes sense, I will remove this from milestones for now on the basis that remote resolution is still in the design stages.

[2021-05-21 13:28] ScrapCodes commented on #3962
@imjasonh it makes sense to me. Presently we do not update custom task status field to `Cancelled`. For example, it has to go through all the custom tasks and see if there is any one timed out and then update the `.spec.status` to `cancelled`. WDYT?

[2021-05-21 13:56] skaegi opened #3968 "In Openshift for "affinity-assistant" getting permission problem"
What's happening is in pod we're getting... `"chdir to cwd (\"/home/nonroot\") set in config.json failed: permission denied"` because we're getting assigned `openshift.io/scc: restricted`.

Looking at the securityContext I see...
"securityContext": {
      "fsGroup": 1000660000,
      "seLinuxOptions": {
        "level": "s0:c26,c5"
      }
    }
Presumably the `nonroot` scc would work fine.

I'm

[2021-05-21 15:23] ppitonak commented on #3749
/remove-lifecycle-stale

It would make sense to at least allow publishing pipeline results that are not depending on results of a failing task, the minimal reproducer is below. In my real-world use-case, I have a pipeline with task A publishing a result, task B using task A's result, pipeline publishes a result based on task A result. When task A succeeds and task B fails, pipeline doesn't publish

[2021-05-21 15:25] ppitonak commented on #3749
/remove-lifecycle stale

It would make sense to at least allow publishing pipeline results that are not depending on results of a failing task, the minimal reproducer is below. In my real-world use-case, I have a pipeline with task A publishing a result, task B using task A's result, pipeline publishes a result based on task A result. When task A succeeds and task B fails, pipeline doesn't publish

[2021-05-21 15:32] imjasonh commented on #3962
Yeah that change looks like it's going in the right direction. End-to-end tests demonstrating how the Pipelines controller works with a properly implemented (and maybe improperly implemented?) Custom Task controller would be very helpful as well.

[2021-05-21 15:46] hokadiri opened #3969 "Reference repo support for large repos in git pipeline resource"
I see there's currently no support for reference repo. https://github.com/tektoncd/pipeline/blob/b7fa888082bd20e08edc3b89b6b4d52ed4f00651/pkg/git/git.go#L61

My CI use case uses a large repo which requires a the use of a reference repo to clone it quickly. shallow clone is not sufficient for my use case.

Jenkins under the hood provides reference repo access by doing this:
[code]

How much appetit

[2021-05-21 16:00] imjasonh commented on #3965
One option, at least for declared sidecars, would be to inject the entrypoint even if we don't otherwise use it to start the container. That wouldn't help with injected sidecars, but then we could just detect/block injected sidecars, instead of blocking all sidecars.

[2021-05-21 17:16] mrutkows opened #3970 "Document use of `kind` tool for developer k8s cluster deployments"
### Feature request

This issue is being opened assure work is done on a suggested follow-on PR to add developer documentation related to use of `kind` (i.e., https://kind.sigs.k8s.io/) and leverage existing scripts perhaps to deploy Tekton into K8s clusters.

See discussion in: https://github.com/tektoncd/pipeline/pull/3955

Specifically, what was suggested by @afrittoli and endorsed by @nikhil-t

[2021-05-21 20:42] priyawadhwa commented on #3965
@imjasonh wouldn't we have to use the entrypointer to start the container as well? Right now hermekton basically takes the command the entrypointer would run and runs it in a namespace without network access, so I think we'd need the entrypointer to start sidecars as well for this to work--

https://github.com/tektoncd/pipeline/blob/145043aece13ed928425defc7ac2b36e30f5f631/cmd/entrypoint/runner.go

[2021-05-21 21:35] #3553 closed

[2021-05-22 07:45] #3602 closed

[2021-05-23 06:52] faust64 commented on #1530
Should we re-open?
I'm still getting errors, for example when using params as resource requests/limits:

[code]

[2021-05-23 07:14] faust64 commented on #1548
After over one year waiting for it, both linked cases are now closed.
Does this mean this won't be implemented after all?

[2021-05-23 08:31] aelbarkani commented on #2134
+1 for this feature, very helpful for reusing pipelines !

[2021-05-23 20:22] #3964 closed

[2021-05-24 07:21] nikhil-thomas commented on #3969
I think, https://github.com/tektoncd/catalog/issues/735 could be the immediate fix.

Do you prefer using PipelineResource (type: git) more than the git-clone task.
if yes, why? 🧑‍💻 🙂

[2021-05-24 08:03] nikhil-thomas commented on #3968
In understand the pain. 🧑‍💻

tektoncd/operator, creates additional ClusterRole and Rolebinding, https://github.com/tektoncd/operator/blob/main/cmd/openshift/operator/kodata/tekton-pipeline/0.22.0/01-clusterrole.yaml.

With these added, the controller works without additional modifications.