[2022-09-15 14:43] lbernick opened #5500 "Conversion error for parameters when pipelineref.bundle is used"
Webhook error messages show:

[code]

I believe the issue is that [param value conversion](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/param_conversion.go#L63-L75) doesn't handle param type "" (i.e. param type not set-- corresponds to string type)

[2022-09-15 15:41] bitsofinfo commented on #3468
/reopen

[2022-09-15 15:41] bitsofinfo commented on #3468
/remove-lifecycle rotten

[2022-09-15 15:41] bitsofinfo commented on #3468
/reopen

[2022-09-15 16:09] jerop commented on #3468
reopening on behalf of @bitsofinfo

/reopen

[2022-09-15 19:36] lbernick opened #5504 "Improve API versioning"
Currently, we use the "enable-api-fields" feature flag to allow users to opt into features at different stability levels, as described in [tep-0033](https://github.com/tektoncd/community/blob/main/teps/0033-tekton-feature-gates.md).

We have discussed moving towards maintaining multiple versions of CRDs in the future (for example, a v1 version with stable features and a v2alpha1 version with stabl

[2022-09-15 19:38] jerop commented on #5412
@chabeezy wondering if you have a selection of pre-defined workspaces only because they aren't be torn down when the pipelinerun are completed...or if there are other reasons

[2022-09-15 20:23] jerop commented on #5140
fixed in https://github.com/tektoncd/pipeline/pull/5371

[2022-09-15 20:23] #5140 closed

[2022-09-15 20:23] jerop commented on #5140
Thank you @chitrangpatel!

[2022-09-15 21:30] jerop opened #5505 "TEP-0111: Propagated Workspaces Migration to Beta"
This issue tracks the migration of Propagated Workspaces to Beta, targeting [v0.44.0](https://github.com/tektoncd/pipeline/releases/tag/v0.44.0).

### Feature looking for Promotion

Propagated Workspaces

TEP: https://github.com/tektoncd/community/blob/main/teps/0111-propagating-workspaces.md

Docs:
- https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#propagated-workspaces
- https

[2022-09-16 00:01] StevenACoffman commented on #4453
/remove-lifecycle stale

[2022-09-16 12:51] skaegi opened #5507 "Why did Tekton change its base image?"
Why did Tekton change its base image from `gcr.io/distroless/static` to `ghcr.io/distroless/static`? Has Kubernetes and other projects made a similar change? The base image is an absolutely critical part of things and although I'm sure there are good intentions here I have no idea how and if this image will be maintained.

[2022-09-16 13:07] vdemeester commented on #5507
For what is worth:
- gcr.io/distroless images comes from https://github.com/GoogleContainerTools/distroless
- ghcr.io/distroless images comes from https://github.com/distroless

gcr.io/distroless is maintain mainly by google I think, ghcr.io/distroless is maintain by the distroless org, which today, is mainly composed by ChainGuard folks I think 🙃. Both are maintained, and kept up-to-date.

/cc @i

[2022-09-16 13:09] vdemeester commented on #5500
@lbernick what version does it affect ?

[2022-09-16 13:15] chabeezy commented on #5412
Yes currently we don’t tear down the pipelines after each run, as we need to preserve the logs for a while.

We don’t have lots of space either so can’t create pvc templates as we’ll soon run out, or lose logs too soon due to deleting the pipeline run.

I’ve not implemented it yet, but my plan is

- Send the logs to elasticsearch
- I can then use a template for pvc and implement the cron job that

[2022-09-16 13:30] imjasonh commented on #5507
We believe the new distroless images are a better alternative to `gcr.io/distroless`, for a few reasons:

1. They are built using [apko](https://github.com/chainguard-dev/apko), which lets them be described in YAML instead of Bazel's Python-ish bzl. This makes it easier to tell at a glance what's going into the image, easier to update the image, and easier to build your own variant if you so choos

[2022-09-16 14:23] JeromeJu commented on #5500
Looks like it's the stored version as of v1beta1 according to https://github.com/tektoncd/pipeline/pull/5506#discussion_r972979172.

[2022-09-16 15:02] skaegi commented on #5507
Thanks all. It sounds like we're on a good path here and it would definitely be great if in the future by using this new image ko could  generate a perfect SBOM for the dependencies. I'm not sure if this makes sense or would just be overkill but it might be good in this this case if ko generated an apk package for the tekton binary and added it with apko.

For the base image changes in general tho

[2022-09-16 15:29] imjasonh commented on #5507
That's certainly possible, especially using apko's sibling project [melange](https://github.com/chainguard-dev/melange), which is designed to make building new apks simpler, like apko makes constructing images from apks simpler.

If we did that, we could build Tekton images without `ko` at all, just using melange+apko, though we'd lose the YAML templating features, and other Go-specific optimizati

[2022-09-16 15:30] imjasonh commented on #5507
(Closing this as I think the question has been answered, but feel free to keep this discussion going)

[2022-09-16 15:30] #5507 closed

[2022-09-16 15:37] chuangw6 commented on #5487
Agreed that this is probably the good path to explore. Depending on what is best for the users, we might want to consider how to reuse `api-token-secret-name` that could store the tokens for different providers in a single secret under different `api-token-secret-key`. wdyt?

[2022-09-16 15:54] jerop commented on #5412
@chabeezy you may be interested in the work that @adambkaplan is doing to persist logs in tekton - https://github.com/tektoncd/community/blob/main/teps/0117-tekton-results-logs.md

[2022-09-16 16:01] lbernick commented on #5500
I think @vdemeester might be asking about the software version not the api version (to know if we need to backport)-- is that right? I think this change was introduced in 0.39.0 so at least we only have to do one backport 😬

[2022-09-16 16:02] JeromeJu commented on #5302
TODO: implement the rest of the fields after v1 release

[2022-09-17 17:29] iabughosh opened #5512 "Unable to list pipeline and pipeline runs"
# Expected Behavior
To list actual pipeline, pipeline runs and to show pipeline run logs

# Actual Behavior
Unable to find pipeline and pipeline runs, k8s responds with an error.

# Steps to Reproduce the Problem

1. Following tekton [getting started tutorial](https://tekton.dev/docs/getting-started/)
2. execute command `tkn pipelinerun logs hello-goodbye-run -f -n default' after creating pipeline

[2022-09-19 07:26] vdemeester commented on #5500
@lbernick ah yeah I should have been more clear. And yes, which release, to know if I need to make the PR fixing this in 0.40.0 milestone or not 👼🏼

[2022-09-19 13:19] lbernick commented on #5500
Yes let's include it in the 0.40.0 milestone and backport to 0.39.0

[2022-09-19 14:20] vdemeester commented on #5500
Well, 0.40.1.. 😅 for some reason I thought it was merged when I chose the commit to be released on.. 🤦🏼

[2022-09-19 14:47] abayer opened #5514 "Deprecate `TaskRef.Bundle` and `PipelineRef.Bundle` in favor of the bundles resolver"
Relates to #4710

With remote resolution coming out of `alpha` in v0.41.0, the legacy `taskRef.bundle` and `pipelineRef.bundle` syntax should be deprecated in favor of using the `bundles` resolver.

[2022-09-19 18:51] chitrangpatel opened #5520 "Reduce logic in test"
[Test](https://github.com/chitrangpatel/pipeline/blob/62f0f52a00b30876c13dedcc7db436080c28f462/pkg/reconciler/taskrun/taskrun_test.go#L2515) contains too much logic in it. This indicates that we might not be testing this at the right level. Instead, call Reconcile function and validate the expected output.

[2022-09-19 18:51] chitrangpatel commented on #5520
/assign

[2022-09-19 18:53] chitrangpatel opened #5521 "ExtractVariablesFromString likely contains a redundant variable"
In the return of the function [ExtractVariablesFromString](https://github.com/chitrangpatel/pipeline/blob/732aed55d75e4b1024b1cedbe8022e868925fd0e/pkg/substitution/substitution.go#L241-L275), the boolean variable is redundant with the string slice that's returned (i.e. the bool is just len(stringslice) > 0).

[2022-09-19 18:53] chitrangpatel commented on #5521
/assign

[2022-09-19 19:05] chuangw6 opened #5522 "Passing ref data from `ResolutionRequest` to taskrun/pipelinerun through `status.Annotations`"
### Feature request

Currently, remote `ResolutionRequest` carries some data in the `status.Annotations`, but this data is not used anywhere / not passed down further.

We need to edit/add extra data in the `ResolutionRequest`'s `status.Annotations` to make sure it contains the fields (url, commit, path) required by the SLSA provenance, and finally pass this data to taskrun/pipelinerun's `status.A

[2022-09-19 19:06] chuangw6 commented on #5522
## Implementation

- Git resolver: https://github.com/tektoncd/pipeline/pull/5397

[2022-09-19 19:06] chuangw6 commented on #5522
/assign

[2022-09-19 22:30] abayer commented on #5514
/assign

[2022-09-20 07:12] atulag91 commented on #5497
Tried setting the workingDir to `$(workspaces.<workspace-name>.path)` but still getting the same error for the above issue. As mentioned above, it seems like if workingDir is set to a sub-directory for any tasks, then its initialized before any steps runs even if `$(workspaces.<workspace-name>.path)` is used.

[2022-09-20 08:18] vdemeester opened #5524 "Projected volumes to beta"
### Feature request
For the latest release, Projected Volumes is in Alpha in v0.38. It shall be promoted to beta.

### Use case

[2022-09-20 10:21] vdemeester commented on #5514
@abayer is it https://github.com/tektoncd/pipeline/pull/5131 ?

[2022-09-20 13:41] #5456 closed

[2022-09-20 13:51] abayer commented on #5514
Basically, but I think it's worth doing it as a new PR, since I'm also going to change the legacy bundle syntax to be handled by the bundles resolver.

[2022-09-20 14:06] Yongxuanzhang opened #5527 "TEP-0091: Trusted Resources Alpha"
This issue tracks the progress of Trusted Resources for Alpha.
TEP:  https://github.com/tektoncd/community/blob/main/teps/0091-trusted-resources.md

**Feature Version:**
`enable-api-fields: alpha`

Checklist:
Step 1: https://github.com/tektoncd/pipeline/pull/5552
- [x] Signing functions
- [x] Verification functions

Step 2: https://github.com/tektoncd/pipeline/pull/5581
- [x] Verification of resol

[2022-09-20 14:06] Yongxuanzhang commented on #5527
/assign

[2022-09-20 16:46] dibyom commented on #4112
From Pipelines WG:

1. Remove PSP
2. Add a PSA to do as much as the existing PSP can
3. Document how to achieve the same behavior with an alternative (OPA or another policy)

[2022-09-20 16:47] #5160 closed

[2022-09-20 17:07] #5126 closed

[2022-09-20 18:09] pritidesai commented on #3796
[TEP-0123 - Specify on-demand-retry in a pipelineTask](https://github.com/tektoncd/community/pull/823) does not solve pending/pause use case specified in this issue but addresses the use case to retry a failed task on-demand if you are interested.

[2022-09-20 18:10] pritidesai commented on #5348
[TEP-0123 - Specifying on-demand-retry in a pipelineTask](https://github.com/tektoncd/community/pull/823) addresses the first scene (use case) mentioned here.

[2022-09-20 18:13] pritidesai commented on #50
[TEP-0123 Specifying on-demand-retry in a pipelineTask](https://github.com/tektoncd/community/pull/823) does not offer solution for this feature. But proposes a feature to allow specifying `on-demand-retry` at the authoring time.

[2022-09-20 19:29] chuangw6 opened #5529 "Add provenance-related field in `ResolutionRequest.Status`"
### Feature request
Remote [`ResolutionRequestStatusFields `](https://github.com/tektoncd/pipeline/blob/481def234d1e8715ea5f0299713592f311340286/pkg/apis/resolution/v1alpha1/resolution_request_types.go#L76-L81) currently only has a `Data` field that stores the string representation of the resolved content. It would be great to add extra structured field `SourceRef` into `ResolutionRequestStatus` w

[2022-09-20 19:30] chuangw6 commented on #5529
Had this discussion with @wlynch in today's S3C meeting.

@abayer  Please comment here if you have any questions/concerns. Thanks!

[2022-09-20 20:03] abayer commented on #5529
So there's the additional problem that we can't guarantee structured resolution source information - that's going to depend on the resolver implementation itself. We can control that for `git`, `bundles`, `cluster`, and `hub`, but not for any third-party resolvers that are written. I'm also a bit wary of using a struct because even just with those four resolvers, we've got 5+ from `git` (I forget

[2022-09-20 20:13] abayer commented on #5487
Ok, I ran into some walls with the config map approach - namely, how to know when a new provider's config map has been added so we can add it to the config map watch. I've prototyped a new approach:

Rather than put the provider-specific information in different config maps, instead the user would add new keys to the existing configmap, formatted like `provider.(provider name).(key name)`. So for

[2022-09-20 20:27] wlynch commented on #5529
It just needs to be structured enough that we can report back in a general way to record what was fetched in build provenance. https://github.com/in-toto/attestation#provenance-example has an example of what this should look like.

A [pURL](https://github.com/package-url/purl-spec) + digest identifier would do the trick. [Intoto Materials](https://pkg.go.dev/github.com/in-toto/in-toto-golang@v0.3.

[2022-09-21 09:04] vdemeester commented on #5487
I think it make sense 👍🏼

[2022-09-21 12:56] abayer commented on #5487
I should also say that one of the reasons I've gone with this approach is that it doesn't close the door on moving to separate config maps or CRDs for provider-specific config in the future. This doesn't add any new resources/config maps, just fields in the existing config map, and we could easily deprecate this if/when we add an alternative approach without breaking compatibility in the near term

[2022-09-21 14:09] Yongxuanzhang commented on #5485
Wonder if pipeline in pipeline is able to address this issue?
https://github.com/tektoncd/community/blob/fc1dd1065a7325cee6b3df1b36f6bedb316d7d8d/teps/0056-pipelines-in-pipelines.md#tep-0056-pipelines-in-pipelines

[2022-09-21 17:39] vsinghai opened #5532 "TEP-0114: Updating pipelineTask spec to accomodate for CustomRun and Run"
### Feature request
As mentioned in [TEP-0114](https://github.com/tektoncd/pipeline/issues/4313), we aim to transition
`v1alpa1.Run` to `v1beta1.Custom`. After a lot of discussion regarding implementation for this feature,
some of which can be found in this [PR](https://github.com/tektoncd/pipeline/pull/5471), the team is
moving forward adding the `CustomRun` CRD and deprecating `v1alpha1.Run` aft

[2022-09-21 17:39] vsinghai commented on #5532
/assign

[2022-09-21 18:14] abayer commented on #5532
`PipelineTask`'s `TaskRef` already has an `APIVersion` field - why do you need a new one?

[2022-09-21 18:19] alhuizenga opened #5533 "test issue"
test

[2022-09-21 18:21] #5533 closed

[2022-09-21 18:21] #5524 closed

[2022-09-21 18:25] alhuizenga opened #5534 "test feature request"
### Feature request

### Use case

[2022-09-21 18:25] #5534 closed

[2022-09-21 18:29] alhuizenga commented on #5533
comment

[2022-09-21 18:36] dibyom commented on #5532
we need to know which version of Run or CustomRun to create. the existing apiVersion filed refers to the apiversion of the custom task to use. I don't think we can just move to always creating a  CustomRun or a Run - this would mean a user would have to make sure all of their custom tasks have been upgraded to use a reconciler that supports CustomRun. With a field that allows setting the apiVersio

[2022-09-21 18:48] abayer commented on #5532
Aaaaaah - good point. I forgot about that!

[2022-09-21 20:47] dibyom commented on #5532
two downsides - 1. we are adding a custom task specific field into task ref and 2. having two apiVersions within the same taskRef is going to be confusing - open to other ideas here as well!

[2022-09-21 22:31] chuangw6 commented on #5529
If we start using the structured [intoto configSource](https://pkg.go.dev/github.com/in-toto/in-toto-golang@v0.4.0-prerelease/in_toto/slsa_provenance/v0.2#ConfigSource), we wouldn't need to create those annotations at all. Passing the structured `SourceRef` from ResolutionRequest to pipeline reconciler should be sufficient, which is essentially what Chains needs for the provenance.

[code]

[2022-09-22 09:03] piyush-garg opened #5537 "Taskrun not working with volumeClaimTemplate"
# Expected Behavior

Taskrun Should Work

# Actual Behavior

Taskrun is throwing an error

[code]

# Steps to Reproduce the Problem

1. Create a task

[code]

2. Create taskrun

[code]

3. See the taskrun getting failed.

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

[code]

It is working fine with pipeline 0.39 but not with pipeline 0.40. It is a regression.

[2022-09-22 09:20] vdemeester commented on #5532
Can we write an example of usage here to see how it would look like ?

I am not sure if I completely follow the reasoning here, and I "fear" we are adding fields and *complexifying* things for very little gain. We also need to take into account that this is for an alpha API (both in its "usage" and its definition) — and with alpha api, we can pretty much.. switch on/off from one release to the oth

[2022-09-22 09:57] jbg commented on #1461
Just want to second this. Managing Tekton resources with `kubernetes_manifest` in Terraform is a world of pain due to the lack of a schema. `kubectl_manifest` is a workaround, but it has its own problems.

[2022-09-22 10:37] vdemeester commented on #5537
Will have to be included in a 0.40.1 👼🏼
/assign @piyush-garg
/assign @vdemeester

[2022-09-22 14:09] lbernick commented on #5443
linking https://github.com/tektoncd/pipeline/issues/5532 where some relevant discussion is occurring

[2022-09-22 14:16] lbernick opened #5541 "Release v1 versions of Task, TaskRun, Pipeline, and PipelineRun CRDs"
This issue tracks the release of v1 api versions for Task, TaskRun, Pipeline, and PipelineRun.

Before doing this, we would like to wait for remote resolution beta (https://github.com/tektoncd/pipeline/issues/4710), since we want to provide an alternative to taskref.bundle and pipelineref.bundle.

It would be nice to wait for custom tasks beta (https://github.com/tektoncd/pipeline/issues/4313) so

[2022-09-22 14:18] #5154 closed

[2022-09-22 16:37] imjasonh commented on #5507
Also related: https://github.com/tektoncd/pipeline/pull/5542 proposes changing the image references from `distroless.dev/static` (etc) to the equivalent `cgr.dev/chainguard/static` (etc) refs.

This is not a functional change at all; both URLs point to exactly the same backend and blob storage, and there will never be a diff between `distroless.dev/static:$tag` and `cgr.dev/chainguard/static:$tag`

[2022-09-22 18:49] lbernick commented on #3661
Decision has been made to deprecate OCI bundles syntax, so I'm going to close this issue. @vdemeester feel free to reopen if there's anything else to track here

[2022-09-22 18:49] #3661 closed

[2022-09-22 18:52] lbernick commented on #4476
@abayer have clusterTasks been officially deprecated? I'm happy to open a PR deprecating them now that the cluster resolver is in pipelines

[2022-09-22 19:17] abayer commented on #4476
Not officially, I don't believe, so yeah, that'd be great!

[2022-09-22 20:38] #2840 closed

[2022-09-22 20:54] dibyom commented on #5532
I think we can just set defaults here right? We default to v1alpha1.Run for x releases and then switch to v1beta1.CustomRun after. In case a user wants to use a custom task that has not upgraded to supporting v1beta1.CustomRun, they still have some way of using it.

I think this is a valid approach though I am unsure how realistic it is to expect all custom tasks to be upgraded to support both v1a

[2022-09-22 21:59] vdemeester commented on #5532
Yes, that would be a valid approach imho.

Indeed. Also, I am not sure how much Custom Task there is in the wild, but they depend on alpha api, it's in the contract that things might break 🙃

[2022-09-23 07:51] #5188 closed

[2022-09-23 08:57] Elkasitu opened #5546 "`serviceAccount` is not a valid `EventListener.spec.triggers` attribute"
# Expected Behavior

According to the tekton docs [1] one can define, for each individual trigger in an `EventListener`'s spec, a `serviceAccount` object from a different namespace in multi-tenant scenarios.

The following `EventListener` definition should work:

[code]

When created/applied on the target namespace

`$ oc create -f my-el.yml`

# Actual Behavior

The server replies back with the fo

[2022-09-23 13:52] afrittoli opened #5548 "Extend the `Run` (`CustomRun`) interface to log retrieval"
### Feature request

Define a common interface for `CustomRun` controller implementors to expose logs specific to a resource.

### Use case

Enable `CustomRun` log visualisation through standard tools like Tekton CLI, Dashboard or even `kubectl`.

[2022-09-23 14:00] afrittoli commented on #5548
The first idea that comes to mind is to use a "logs" sub-resource, which would provide an interface consistent with `Pods` which are used for regular `Tasks`. The "logs" sub-resource is not available however for CRDs (see this [k8s feature request](https://github.com/kubernetes/kubernetes/issues/72637), and besides that log aggregation via API server may not be the most scalable solution.

An alte

[2022-09-23 14:08] afrittoli commented on #5548
Possibly related to https://github.com/tektoncd/pipeline/issues/4313 - even though this is something we could add after the beta as well.

[2022-09-23 14:09] afrittoli commented on #5548
/cc @jerop

[2022-09-23 14:18] afrittoli commented on #4710
I'm rather late to the discussion here, but I still wanted to mention that something that I think we should have in remote resolution is support for bundles, i.e. a way for a parent resource to use "relative references" for children, as long as they belong to the same bundle.

That was one of the most requested changes to the OCI bundles feature that we have today.
The only place where we have thi

[2022-09-23 14:38] #4793 closed

[2022-09-23 14:41] abayer commented on #4710
Interesting - that'll need new syntax for "this `Task` needs to be resolved, so here's where to find it based on its name/type/version (for the Hub) and the `Pipeline`'s resolution parameters".

[2022-09-23 14:45] vdemeester commented on #4710
Could it be something the resolver support itself ? For example, a `Pipeline` in a bundle could use the `bundle` resolver that would make the bundle resolver *resolving* the `Pipeline` to also resolve the `Task` from the same `bundle`, in case the `bundle` parameter is missing, or is using a special syntax ? We could even envision that the resolver, when seen "normal" `TaskRef` could list all the

[2022-09-23 14:59] Elkasitu commented on #5546
Nevermind, the cluster is actually running on tekton triggers 0.17 which has a different syntax (serviceAccountName)

[2022-09-23 14:59] #5546 closed

[2022-09-23 15:12] abayer commented on #4710
So this is a bunch of interesting questions!

I'm pretty sure (I'm going to add e2e tests for this today) that if you've got a `resolver` reference for a `PipelineTask` inside a `Pipeline` that gets resolved remotely, it'll work just fine. So what's "missing" is automatically resolving `Task`s without them needing to have an explicit resolver - automatically detecting when we've got an unresolved

[2022-09-23 15:14] abayer commented on #4710
(and down the road, it may make sense for a `PipelineRun` to be able to say "here are the default org/repo (or URL for the anonymous clone approach) and revision for all `Pipeline`s and `Task`s within this `PipelineRun` which are marked as to be resolved by the `git` resolver", so that all that needs to be specified on the `pipelineRef` and the `PipelineTask`s would be the `pathInRepo` for the ind

[2022-09-23 15:19] abayer commented on #4710
Also, I keep thinking that it may make sense to eventually add real fields (with relevant structs) to `ResolverRef` for the built-in resolvers, so that you can just do
[code]

Rather than the more elaborate generic params approach of
[code]

We could only support the `git: ...` syntax for built-in resolvers, but for those, we'd be able to do admission control-time validation, a simpler syntax, `Pi

[2022-09-23 15:31] abayer opened #5549 "Add configuration types for built-in resolvers in ResolverRef"
I keep thinking that it may make sense to eventually add real fields (with relevant structs) to `ResolverRef` for the built-in resolvers, so that you can just do
[code]

Rather than the more elaborate generic params approach of
[code]

We could only support the `git: ...` syntax for built-in resolvers, but for those, we'd be able to do admission control-time validation, a simpler syntax, `Pipeline

[2022-09-23 15:31] abayer commented on #5549
cc @tektoncd/core-maintainers @chuangw6 - thoughts?

[2022-09-23 15:32] abayer commented on #5549
/assign

[2022-09-23 15:36] vdemeester commented on #5549
I am not sure I am too found of this approach, as I don't want for us to treat built-in resolvers *any* different from non built-in ones.
I think we should rather spend more time trying to find a way so that we could have "structured" syntax (aka no `name`+`value` param) for any type.

[2022-09-23 15:40] abayer commented on #5549
Also, since this idea came out of discussion prompted by https://github.com/tektoncd/pipeline/issues/4710#issuecomment-1256275607, we could have a new field on `PipelineRun.Spec` called `resolverDefaults` or somesuch, with this struct:

[code]

[2022-09-23 18:32] chuangw6 opened #5550 "Add provenance-related data field in `Run.Status`"
### Feature request

Related to https://github.com/tektoncd/pipeline/issues/5529
Add provenance related data into TaskRun/PipelineRun status

[`TaskRunStatusFields`](https://github.com/tektoncd/pipeline/blob/826d8a0317cd293669bce2a6fcce93287a7ed221/pkg/apis/pipeline/v1beta1/taskrun_types.go#L211) will be

[code]

[`PipelineRunStatusFields`](https://github.com/tektoncd/pipeline/blob/826d8a0317cd293

[2022-09-23 18:35] chuangw6 commented on #5550
Inspired from the PR comments and the conversations with @wlynch and @dibyom. Thanks!

cc @abayer @vdemeester @jerop @lbernick.

Please comment in this issue if anyone has any thoughts/concerns/comments on this. Thank you!!!

[2022-09-26 07:40] g0194776 opened #5555 "Cannot refer array params to pipeline task's params"
# Expected Behavior
Can refer to array type of parameter in the Pipeline task's params.

[code]

Returns error after I committed it to Kubernetes:
[code]

# Actual Behavior
Can successfully commit that yaml-formatted file to Kubernetes.

# Additional Info

- Kubernetes version: **v1.24.3**

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version: **v0.38.3**

  **Output of `tkn versi

[2022-09-26 08:25] vdemeester commented on #5555
Hey @g0194776,

There is an example to pass arrays from pipeline to task in the [doc](https://tekton.dev/docs/pipelines/pipelines/#specifying-parameters):

[code]

[2022-09-26 09:32] g0194776 commented on #5555
@vdemeester thanks for your reply.

[2022-09-26 09:32] #5555 closed

[2022-09-26 09:47] gsgs-libin opened #5556 "can pipeline support set workspace with variable"
I set the `workspace` in task `fetch-ops-git` from the task `create-random-workspace` result, but it not work
![image](https://user-images.githubusercontent.com/22513159/192245968-812c76e9-d50c-4a21-8334-25bf51628f5d.png)

the `create-random-workspace` task:
[code]

[2022-09-26 11:00] gsgs-libin opened #5557 "pipelinerun use volumeClaimTemplate will pending"
I set the pipelinerun with volumeClaimTemplate : [PV](https://tekton.dev/docs/pipelines/workspaces/#volumeclaimtemplate)
but the next pipelinerun will pending , and start to run when the previous pipelinesrun was deleted.
![image](https://user-images.githubusercontent.com/22513159/192260286-0c812b5b-8293-48c4-97d7-344262d077e1.png)

[2022-09-26 11:04] gsgs-libin commented on #5557
no

[2022-09-26 14:05] wlynch commented on #5550
lgtm! You should sync with @ywluogg - there was a desire to record other types of provenance data for inputs/outputs of a Run that we probably want to sort out (maybe it also goes in this `Provenance` struct?)

Otherwise, slight bikeshed - `ProvenanceData` -> `Provenance`? I don't think the Data suffix adds much.

[2022-09-26 17:15] #5537 closed

[2022-09-26 18:57] lbernick commented on #5541
Discussed in today's api wg: folks seem to be OK with going forward with this plan without blocking on custom tasks beta but would like to block on remote resolution beta. We should review our plan for supporting deprecated fields (#4546) before swapping our stored versions over to v1.

[2022-09-26 18:58] lbernick commented on #4546
@afrittoli if you have any context about past pitfalls we ran into when supporting deprecated fields on conversion from v1alpha1 -> v1beta1 this issue is probably the best place for it!

[2022-09-26 20:07] JeromeJu commented on #5541
/assign

[2022-09-26 20:38] #4711 closed

[2022-09-27 04:37] gsgs-libin commented on #5485
In fact, there are two points to this problem：
1.How to control concurrency
2.How to solve multiple pipelineruns using the same pvc problem

Regarding the first point, it has not yet been resolved and needs to be seen in the subsequent update iterations。

Regarding the second point, I have implemented two solutions so far:
1.When creating a pipelinerun, use `volumeClaimTemplate` to create random P

[2022-09-27 12:11] afrittoli commented on #5400
Related issues:

- [ ] https://github.com/tektoncd/website/issues/448

[2022-09-27 14:14] afrittoli opened #5563 "Secure development knowledge"
From the OpenSSF badge

This requires understanding the following design principles, including the 8 principles from [Saltzer and Schroeder](https://web.mit.edu/Saltzer/www/publications/protection/):
economy of mechanism (keep the design as simple and small as practical, e.g., by adopting sweeping simplifications)
fail-safe defaults (access decisions should deny by default, and projects' installat

[2022-09-27 14:16] afrittoli commented on #5563
@tektoncd/core-maintainers I think we probably comply with this, but it would be good to have someone associated to security in the [topical ownership](https://github.com/tektoncd/pipeline/blob/main/topical-ownership.md) file to provide as proof for this requirement. wdyt?

[2022-09-27 14:47] afrittoli opened #5564 "Fuzzing tests for Tekton"
### Feature request

The OpenSSF badge requires dynamic vulnerability analysis, e.g. via fuzzing, to be applied to major releases.
We should introduce fuzzing at least into the release pipelines.

### Use case

Security and OpenSSF badge

[2022-09-27 15:44] XinruZhang commented on #5156
@jerop I think we can mark this issue as done, wdyt?

[2022-09-27 15:53] jerop commented on #5156
yes, making it as done - thank you so much @XinruZhang 😻

/close

[2022-09-27 15:53] #5156 closed

[2022-09-27 20:49] chaospuppy commented on #5188
This issue has persisted in Tekton `v0.41.1` (`gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/controller@sha256:02aef94088e2f5487b224c6a9d380cac7fa72e8fec883c9e2833569f302cb53c` is the corresponding image sha), and presents itself when attempting to run `skopeo copy --remove-signatures docker://gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/controller@sha256:02aef94088e2f5487b224

[2022-09-28 06:40] vdemeester commented on #5188
Ah 😅 this didn't apply to 0.41.1 because I did not cherry-pick #5539 to the release branch (and thus.. it used ko 0.11 I guess).
I'll cherry-pick today and prepare a 0.41.2 tomorrow 😉

[2022-09-28 06:57] vdemeester commented on #4546
Note that this can happen no matter what we do 🙃. If the user / tool cleans the annotation(s), the situation is the same 👼🏼

[2022-09-28 08:13] T0MASD opened #5568 "tekton-resource-pruner: no image found in manifest list for architecture arm64"
# Expected Behavior

image for tekton-resource-pruner available on arm64 architecture

# Actual Behavior

[code]

# Additional Info

Tekton operator installed via: `kubectl apply -f https://storage.googleapis.com/tekton-releases/operator/latest/release.yaml`

- Kubernetes version:

[code]

- Tekton Pipeline version:

  **v0.40.0**

[2022-09-28 09:38] chengjingtao opened #5569 "pipelinerun hang on Unknown status when duplicated params definded in PipelienTask"
If create a pipelinerun with duplicated params defined in PipelineTask, the PipelineRun will hange on `Unknown` status and never complete.

[code]

# Expected Behavior

PipelineRun will fail, and `status.taskRuns[0]`  should be succeed and `status.taskRuns[0]`  should fail.

# Actual Behavior

hanged on `Unknown` status, never complete.   `status.taskRuns[0]` is not updated correctly.

# Steps to

[2022-09-28 12:25] gigatesseract opened #5571 "Replacements not applied to finally task workspaces"
For a finally task, the workspace subpath has a $(context.pipelineRun.name) field. This is used to create a unique folder for each pipelinerun.

# Expected Behavior
The name of the pipelinerun should be substituted for the workspace value

# Actual Behavior
The string `$(context.pipelineRun.name)` is taken literally and a folder with the name `$(context.pipelineRun.name)` is created / overwritten

[2022-09-28 12:46] abayer commented on #5571
We explicitly do workspace replacement on non-`finally` tasks - https://github.com/tektoncd/pipeline/blob/99226de6ef1c3f14e38e9b8cbc1fe0e60753a079/pkg/reconciler/pipelinerun/resources/apply.go#L233-L235

But we don't do so for `finally` tasks. I'm not sure if this is an oversight or a deliberate decision.

[2022-09-28 15:34] abayer opened #5574 "TaskRun.Status.TaskSpec is sometimes overwritten without replacements applied"
Discovered this due to `TestPipelineRunStatusSpec/pipeline_status_spec_updated` e2e test being flaky:

[code]

Seen on https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_pipeline/5573/pull-tekton-pipeline-alpha-integration-tests/1575135529287028736 among others.

/kind bug

[2022-09-28 15:59] abayer commented on #5574
So the resulting pod has the right script - the parameter replacement is performed there. But for some reason I have yet to figure out, the updated `TaskSpec` used to create the pod is not also being saved to `tr.Status.TaskSpec` after the replacement has happened.

[2022-09-28 16:25] abayer commented on #5574
Ok, some hacky debug logging later, it turns out that `tr.Status.TaskSpec.Steps[0].Script` _is_ getting updated properly, but we only do the `applyParamsContextsResultsAndWorkspaces` when there isn't already a pod, and are (somehow, still not exactly sure how) overwriting `tr.Status.TaskSpec` with every reconcile, so that the original `TaskSpec` keeps getting put back.

[2022-09-28 16:39] abayer commented on #5574
Yup, more debug logging discoveries: sometimes, the first call to `taskrun.go`'s `reconcile` after the `tr.Status.TaskSpec` has been updated sees a nil `tr.Status.TaskSpec`. When that's the case, we end up with the parameter value unreplaced in `tr.Status.TaskSpec.Steps[0].Script`. So what's making that be nil?

[2022-09-28 16:52] abayer commented on #5574
Ok, that pattern seems to be consistent - if the `PipelineRun` is reconciled after the `TaskRun` reconciliation that creates the pod and updates `tr.Status.TaskSpec`, but before the next reconciliation of that `TaskRun`, `tr.Status.TaskSpec` is nil at the start of that second `TaskRun` reconciliation and the "original" `TaskSpec` is written to `tr.Status.TaskSpec`. That strongly suggests something

[2022-09-28 16:59] abayer commented on #5574
Slight correction - here's the order of operations:
* The `TaskRun` is reconciled, creating the pod and updating `tr.Status.TaskSpec`
* The generated `reconciler.go` code for the `TaskRun` calls `updater.UpdateStatus` with the correct `tr.Status.TaskSpec`
* The `PipelineRun` is reconciled
* The `TaskRun` `reconciler.go` calls `updater.UpdateStatus` again, with the correct `tr.Status.TaskSpec`
Thos

[2022-09-28 18:05] abayer commented on #5574
Ok, pretty sure this is due to https://github.com/tektoncd/pipeline/commit/9cf7590959acd9ad9518e62d56f5941885614446, thanks to @wlynch noticing a new chains failure (https://github.com/tektoncd/chains/issues/577) between Pipeline v0.40.0 and v0.40.1 - that's the exact code I've been looking at for this flake, but I somehow didn't notice that it had just been moved. 🤦

[2022-09-28 18:09] imjasonh commented on #5568
The `tkn` image is built using this Dockerfile: https://github.com/tektoncd/cli/tree/main/contrib/tkn-image -- which isn't enabled for multi-platform builds.

It might be worthwhile building this image with `ko`, like we build all other images in Tekton. It looks like it doesn't depend on anything at build-time, it only expects to be based on `debian`. If someone wants to help convert the tkn imag

[2022-09-28 19:01] T0MASD commented on #5568
I'm happy to help converting tkn-image to use `ko`
my dev environment is podman, kube+cri-o on aarch64
any pointers appreciated

[2022-09-28 19:05] imjasonh commented on #5568
If you [install `ko`](https://ko.build/install/), set the `KO_DOCKER_REPO` env var to a Docker repo you have push access to and run `ko build ./cmd/tkn --platform=all` from the root of the tkn repo, you should get an image built for a bunch of platforms.

Assuming there's no issue with that, we'd just need to update `tkn`'s image build process to use `ko` instead of `docker build`, and remove the

[2022-09-28 21:03] T0MASD commented on #5568
Thanks for the tips, the build went through, but I've got a trouble pushing to quay https://github.com/ko-build/ko/issues/834
I'll try local registry

[2022-09-29 07:38] #4730 closed

[2022-09-29 14:43] #4112 closed

[2022-09-29 14:49] ywluogg commented on #5550
Seems like the configSource records the build provenance data. For recording the provenance of the artifacts, we are looking for `subjects` and `materials` in [`Statement`](https://github.com/in-toto/attestation/blob/main/spec/README.md#statement).

These provenance don't come from resolver, but instead coming from the artifacts' SHAs and URIs. I wonder if this provenance field is also considering

[2022-09-29 15:29] XinruZhang opened #5582 "The implementation of CustomRun is not aligned with what we documented."
# Expected Behavior

We documented that `timeout` in CustomRun is for constrainting the running time of all retry attempts, see [TEP-069](https://github.com/tektoncd/community/blob/33ca1d5254a405b1d479f2350443f6c7979a0b72/teps/0069-support-retries-for-custom-task-in-a-pipeline.md) and [docs/runs.md](https://github.com/tektoncd/pipeline/blob/0dd9f9719177054bdf60928ce9b4aab4b85af5bd/docs/runs.md). I

[2022-09-29 15:38] XinruZhang commented on #5582
The current [implementation](https://github.com/tektoncd/pipeline/blob/e1fd72720652fa5a1b7f811a6ce1d6c943be11a6/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go#L198) in PipelineRun reconciler, it [relies on both Condition and retriesStatus](https://github.com/tektoncd/pipeline/blob/e1fd72720652fa5a1b7f811a6ce1d6c943be11a6/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go#

[2022-09-29 16:53] #5574 closed

[2022-09-29 20:25] QuanZhang-William opened #5585 "Migrate from Tekton Hub to Artifact Hub"
### Feature request
This issue tracks the action items and progress of the migration work from [Tekton Hub](https://hub.tekton.dev/) to [Artifact Hub](https://artifacthub.io/).

### Background
Based on @jerop's [investigation](https://docs.google.com/document/d/1fB4IYlgMBQrSupaSPGnaLkE2fwZZeh4s02p3cZektSE/edit) on Artifact Hub (Thanks @jerop  🎆! ) and discussion in the Tekton Hub community, we hav

[2022-09-29 20:26] QuanZhang-William commented on #5585
/assign @QuanZhang-William

[2022-09-29 20:32] QuanZhang-William commented on #5585
moving this issue to Hub repo: https://github.com/tektoncd/hub/issues/667 😅

[2022-09-29 20:32] #5585 closed

[2022-09-30 06:38] #4810 closed

[2022-09-30 11:29] ScrapCodes commented on #5582
As per the developer Guide, https://tekton.dev/docs/pipelines/runs/#developer-guide-for-custom-controllers-supporting-timeout

A Custom task controller has to perform :
[code]
When it observes, ` run.IsCancelled()  ` as true.

This should make `run.IsDone()` true and `run.IsFailed()` evaluate true as well.

This is the expectation, what do you observe in your code? Can you show us what you are run

[2022-09-30 14:31] T0MASD commented on #5568
This is potentially related to https://github.com/tektoncd/plumbing/issues/1222

[2022-09-30 15:46] XinruZhang commented on #5582
Yeah, `run.IsDone()` and `run.IsFailed()` will be true, but `!t.hasRemainingRetries()` will be false. So this run will be never considered as Done in `Resolved.PipelineTask.IsDone()` https://github.com/tektoncd/pipeline/blob/e1fd72720652fa5a1b7f811a6ce1d6c943be11a6/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go#L76

Therefore, it will be always treated as schedulable, but when the P

[2022-09-30 18:35] chuangw6 commented on #5550
Synced with @ywluogg @wlynch @jagathprakash in the Chains WG meeting on Sep 29, 2022. We landed the idea that for now just start with having the `ConfigSource` field in the `Provenance`, but we're onboard with adding inputs (a.k.a materials) / outputs (a.k.a materials) mentioned in [Tep-109](https://github.com/tektoncd/community/blob/main/teps/0109-better-structured-provenance-retrieval-in-tekton-

[2022-10-02 00:35] bendory commented on #5040
Some observations and questions:

1) Your OP includes a private key. If that is a real private key, I strongly suggest you invalidate it, despite the fact that you have obscured the associated service account email.

2) Is your code running on GKE (on GCP)? If so, it would be much easier and more robust to use the Application Default Credentials that can be associated with your Kubernetes Service

[2022-10-02 09:38] #4716 closed

[2022-10-02 20:20] afrittoli commented on #5400
[![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/4020/badge)](https://bestpractices.coreinfrastructure.org/projects/4020)

[2022-10-03 08:36] afrittoli commented on #2814
/assign @kmjayadeep

[2022-10-03 09:13] kmjayadeep commented on #2814
I have proposed a TEP for this : https://github.com/tektoncd/community/pull/839

[2022-10-03 12:48] afrittoli commented on #5248
Related: https://github.com/tektoncd/community/pull/816

[2022-10-03 14:39] chitrangpatel opened #5588 "Propagated Parameters for Finally Tasks"
### Feature request

Implement propagated parameters for `Finally` tasks.

### Use case

Propagated parameters was implemented for `TaskRuns` and `PipelineRuns`. However, propagating for `finally tasks` was overlooked. This feature needs to run for `finally` tasks as wells since they are exactly like normal tasks, just run at the end of the pipeline.

[2022-10-03 14:40] chitrangpatel commented on #5588
/assign

[2022-10-03 15:21] afrittoli commented on #5563
https://github.com/tektoncd/pipeline/pull/5589

[2022-10-03 15:32] #5400 closed

[2022-10-03 17:34] mrobson commented on #5317
Another example here related to the same root issue.

serviceAccountNames was deprecated and then removed.

If you upgrade to 0.37+ and did not remove it from your PipelineRun, you can no longer delete that old PipelineRun due to this issue.

`admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: decoding request failed: cannot decode incoming old object: json: unknown fie

[2022-10-03 18:56] LilyHolms opened #5592 "get step index or step name inside container"
### Feature request

I noticed we can get pipeline name, task name inside a container. (https://tekton.dev/docs/pipelines/variables/)
Is it possible to get step name or step index inside a container?

[2022-10-04 05:39] VeereshAradhya opened #5594 "`context.task.retry-count` returns value zero all the time"
# Expected Behavior
`context.task.retry-count` should give the actual retry count value

# Actual Behavior
`context.task.retry-count` returns value zero all the time

# Steps to Reproduce the Problem

1. Create a Pipeline as described in [this section](https://github.com/tektoncd/pipeline/blob/main/docs/pipelines.md#using-the-retries-and-retry-count-variable-substitutions)
2. Start the pipeline an

[2022-10-04 10:33] aruiz14 opened #5595 "Possible race condition writing `exitCode` file"
# Expected Behavior

Consecutive steps can consistently access previous steps' result by using `$(steps.step-mystep.exitCode.path)`.

# Actual Behavior

I've observed some cases in which a second step of the same `TaskRun` won't find this file, which is being read at the very beginning of this steps' script.

# Steps to Reproduce the Problem

Unfortunately, this step is not always reproducible. Th

[2022-10-04 11:26] tomkennedy513 commented on #4731
/remove-lifecycle stale I opened a pr (#5565) to fix this issue

[2022-10-04 16:58] dibyom commented on #4910
@Yongxuanzhang anything remaining to be done here?

[2022-10-04 17:01] dibyom commented on #4903
TEP-0120 is working on canceling concurrent pipeline runs - it does not support queuing but that could be another concurrency strategy we add

[2022-10-04 17:05] #5569 closed

[2022-10-04 17:39] Yongxuanzhang commented on #4910
I think this is unaddressed, I will take a look to doublecheck

[2022-10-04 18:55] egaudet-casa opened #5600 "Support timeout in Pipeline"
### Feature request

Provide a way to configure an individual Pipeline's default timeout.

### Use case

In order to support different Pipelines with different default timeouts and not have to resort to a single global value.  PipelineRun can override it, but the Pipeline designer should be able to provide a default.

An example is an easy way to "start" a Pipeline through a UI like Openshift Pipe

[2022-10-04 20:55] NewmanJ1987 commented on #5242
@lookis Did you ever find a solution to this problem ? I'm facing the same thing now.

[2022-10-04 21:55] stuartwdouglas opened #5601 "Possible race if PR is reconciled before Pipeline"
When creating a PipelineRun and Pipeline in quick succession you can get the following error:
[code]
e.g.  as at https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/redhat-appstudio_jvm-build-service/290/pull-ci-redhat-appstudio-jvm-build-service-main-jvm-build-service-in-repo-e2e/1577408946094739456

I had a look at the code and I am pretty sure this happens if the PR is reconciled

[2022-10-04 22:10] lookis commented on #5242
I have to replace ssh with https link and use basic authentication to fetch the code to work around

[2022-10-05 07:46] vdemeester commented on #5601
Hey @stuartwdouglas, thanks for the issue. One thing though, `Pipeline` are not "reconciled" at all, only `PipelineRun` and `TaskRun` are — but `Pipeline` and `Task` (and other type) do have a mutating admission controller though.
Any specifics on the Pipeline used ? (like using pipelineref with oci bundles, or something like that).
Also, where does this errors pops out ? in the controller logs or

[2022-10-05 08:44] vdemeester commented on #5317
@imjasonh so, I don't think `knative/pkg` allows us to say we do not want to have the webhook registered for the `DELETE` operation. So this means we need to propose some changes upstream for this.

[2022-10-05 09:02] stuartwdouglas commented on #5601
Ah, looking again I seem to have misunderstood what what going on here.

Looking at the actual code I don't actually understand what is going on, as far as I can see the message is generated here: https://github.com/tektoncd/pipeline/blob/a11c38585b924d9b07b93bc38524889c7413ce1d/pkg/apis/pipeline/v1beta1/task_validation.go#L305

The message `"" type does not match default value's type: "string"` i

[2022-10-05 10:09] vdemeester commented on #5601
So we looked at this offline with @stuartwdouglas, and this is indeed a "timing" issue.
Because the webhook registers itself, there is a small (but possibly long) period of time, where the CRDs are available *but* the webhook is not registered (or has no rules). This is not really a problem in a "normal" usage, but for things like automated e2e tests, it could be a problem, as one could create som

[2022-10-05 11:07] dbazhal commented on #5099
/remove-lifecycle stale
/lifecycle frozen
sounds like an opportunity?)

[2022-10-05 11:23] abayer opened #5603 "Container configurations need to be updated for `PodSecurity` on k8s 1.23+"
I've verified this on 1.23 and 1.24 in clusters created via kind. The error message is the same.

The deployments fail to create pods - from `kubectl get deployment -n tekton-pipelines tekton-pipelines-controller`:

[code]

This is due to https://github.com/tektoncd/pipeline/commit/b506b776da7dad3c30d65decfb405540320d4fe9#diff-d98ea73731da6e49a8552d6917d796aab6613198b269eda1b4bbfb4b53d90111R22, ad

[2022-10-05 11:25] abayer commented on #5603
cc @tektoncd/core-maintainers - this definitely feels like a blocker for v0.41.0.

[2022-10-05 11:48] abayer commented on #5603
cc @JeromeJu

[2022-10-05 13:08] abayer commented on #5603
Ok, so I'm not sure what exactly we need to change on the controller/webhook/resolver container configurations, or whether we can do those changes while still working on k8s 1.22. The right answer may be to revert #5536 for now, move v0.41 to requiring k8s 1.23, and then bringing back #5536 and whatever additional configuration is needed on the containers for v0.42.

[2022-10-05 13:36] lbernick commented on #5603
It sounds like we should be able to fix this for k8s 1.23 by setting the correct security context for the pipelines controller. I'll work with Jerome to try to address this but it probably does make sense to revert until this can be addressed.

[2022-10-05 14:05] abayer commented on #5603
Yeah, https://kubernetes.io/blog/2021/12/09/pod-security-admission-beta/ makes me think we don't need to go to 1.23 to get things working, so that's good. =)

[2022-10-05 14:07] abayer commented on #5603
FYI - I'm going to repurpose this issue to be more generally about needing to do more work to move to `PodSecurity`.

[2022-10-05 14:09] vdemeester opened #5606 "Better Kubernetes version test "coverage""
As of today, we are mostly testing our pull-request on one Kubernetes releases. Some recent issues, like https://github.com/tektoncd/pipeline/issues/5603, shows that we may want to run our tests on multiple version, *mainly* on the version we "aim" to support.

For example, today, we should probably run tests on the following versions : 1.22, 1.23, 1.24 and 1.25 (that last one would fail). We *do

[2022-10-05 14:13] abayer opened #5607 "Should we support installing Pipeline without the resolvers?"
See discussions on #5515 - as part of that PR, we're moving from v0.40's separate `release.yaml`, containing everything _but_ the resolvers, and `resolvers.yaml`, just containing the contents of `config/resolvers`, to a unified `release.yaml` containing everything. @vdemeester requested that we retain the ability to install Pipeline without the resolvers, so we keep the separate `resolvers.yaml` a

[2022-10-05 14:15] abayer commented on #5606
So there have been discussions about doing a "matrix" of k8s versions tested nightly, but yeah, it feels like progress towards actually having that in place may not be quick enough, and that we should add some basic validation in CI builds.

[2022-10-05 14:23] abayer commented on #5607
It's moments like this that I miss Helm. =)

[2022-10-05 15:39] #4710 closed

[2022-10-05 18:51] #5399 closed

[2022-10-06 03:27] NewmanJ1987 opened #5611 "SSH Auth not correctly setting ssh credentials git pull not working."
# Expected Behavior
I'm doing a test locally following the guide https://tekton.dev/docs/how-to-guides/clone-repository/

I have a git-server running inside a docker container. I'm trying to get tekton to pull the project and display it's readme.

# Actual Behavior
When I run the task this is the error that I see in the logs
[code]

# Steps to Reproduce the Problem
The files `pipeline.yaml`  and `

[2022-10-06 14:27] JeromeJu commented on #5193
Current progress:

- kubetest
  - when run locally `kubetest` would need to be installed
![unnamed](https://user-images.githubusercontent.com/46675578/194339354-4fb5295a-f062-4215-b6b2-c9053608bce4.png)

  - kubetest is deprecated as in https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md
Trying to figure out why

[2022-10-06 19:26] LilyHolms commented on #5592
for example, with following script, I can set task name and namespace as environment variables, and use them inside my container.
Is there a way to do the same for step name or step index?

[code]

[2022-10-06 20:59] #5443 closed

[2022-10-06 22:05] #4476 closed

[2022-10-07 05:18] mike-serchenia commented on #5500
@vdemeester
Release 0.40.2
still see the same issue for some reason
[code]
Installed
[code]

[2022-10-07 06:35] michaelsauter commented on #4235
Any chance this can move forward as a feature request? The workaround isn't great.

[2022-10-07 07:45] vdemeester commented on #5500
hum 🤔 #5506 defenitely got in 0.40.1 though.
@mike-serchenia can you share the task/pipeline used to reproduce this ?

[2022-10-07 17:03] mike-serchenia commented on #5500
@vdemeester Please let me know how if I can help to debug it
[code]
PR
[code]

[2022-10-07 17:05] mike-serchenia commented on #5500
pipeline
[code]

[2022-10-07 17:54] mike-serchenia commented on #5500
I think the issue caused by `bundle: gcr.io/tekton-releases/catalog/upstream/git-clone:0.4`
using `bundle: gcr.io/tekton-releases/catalog/upstream/git-clone:0.7` seems to be working fine

[2022-10-07 22:11] JeromeJu commented on #5500
Thanks @mike-serchenia , but now it feels to me that even not with your case the webhook has been trying to convert to v1.

[2022-10-08 01:19] #5571 closed

[2022-10-08 11:22] Wang-kk714 commented on #5611
totally same error and procedure. same as org sample yaml but I use GitHub. Do you figure it out?

[2022-10-08 12:27] NewmanJ1987 commented on #5611
Yes. I think it's an issue with the git-clone.
My solution was to create my own task. I'll post an example in about an hour so.

[2022-10-08 13:49] NewmanJ1987 commented on #5611
This is the solution I found. I ended up using the example [here.](https://tekton.dev/vault/pipelines-v0.14.3/auth/#ssh-authentication-git)

My task `pipeline-pull-display.yaml`
[code]
My secret, service account and pipeline I put in `pipeline-pull-display.yaml`
[code]
Then finnaly my pipelinerun i put in a seperate file
[code]

You should be able to clone no problem with this. Shame about the git

[2022-10-08 16:40] #4856 closed

[2022-10-08 16:47] Wang-kk714 commented on #5611
Thanks! It works! just use alpine/git... Why hub's git-clone task not work? and so it from org How-to doc. 😢 same awkward to me, It spend me one day and thanks to your reply.

[2022-10-08 19:06] AlanGreene commented on #5611
Looks like it works as expected if you use v0.6 of the git-clone task as specified in the `kubectl apply` command in the guide:
`kubectl apply -f \
https://raw.githubusercontent.com/tektoncd/catalog/main/task/git-clone/0.6/git-clone.yaml`

To achieve the same with the `tkn hub install` command:
`tkn hub install task git-clone --version=0.6`

There are a number of issues in the catalog repo discuss

[2022-10-09 04:21] Wang-kk714 commented on #5611
thanks! version 0.6 works! It's  a really hard start 😂

[2022-10-09 18:40] RahulSurwade08 commented on #3631
I would like to work on this issue under hacktoberfest. How can I get started?

[2022-10-10 12:39] adambkaplan commented on #5115
/remove-lifecycle stale

This was identified as an action item in [TEP-0117](https://github.com/tektoncd/community/blob/main/teps/0117-tekton-results-logs.md)

[2022-10-10 14:22] vdemeester commented on #5500
Ah ok, it's using the `bundle`, which are not going through the conversion webhook or anything. We should already be running `.SetDefaults` on what the bundle fetched, so there might be a regression or something overlooked.
cc @JeromeJu

[2022-10-10 14:23] vdemeester commented on #5500
@mike-serchenia but indeed, your bug is still there, I'll re-open and update the title.

[2022-10-10 14:24] vdemeester commented on #5500
(We also need to validate if this is also happening for spec coming out of resolvers)

[2022-10-10 14:45] lbernick commented on #5254
Same error for TestRealWaiterWaitWithBreakpointOnFailure on https://github.com/tektoncd/pipeline/pull/5622

[code]

Thanks @bendory for spending some time looking into this issue. He was not able to get it to flake locally and I wasn't able to get it to flake run locally in a container, so I'm not sure why this is still happening on CI. Unfortunately makes it hard to know if a given fix works.
His

[2022-10-10 14:57] vdemeester commented on #4235
/remove-lifecycle stale

[2022-10-10 23:33] mike-serchenia commented on #5500
i was checking requirements to use resolvers
https://tekton.dev/docs/pipelines/bundle-resolver/

A cluster with the alpha feature gate enabled could be an issue since GKE Alpha has the following limitations
https://cloud.google.com/kubernetes-engine/docs/concepts/alpha-clusters#limitations

to be more specific:
- Automatically deleted after 30 days

[2022-10-11 07:40] #4873 closed

[2022-10-11 09:24] pawelkopka opened #5623 "Termination message could not be parsed as JSON: parsing message json"
# Expected Behavior

Pipelines pass

# Actual Behavior
When we run multiple pipelines (pipelineruns of the same pipeline), some of them hang on random tasks with events.
In a pipeline with 18 tasks it happens to 1-2 tasks causing the pipeline to run until the timeout.
[code]
Some pipeline hang
# Steps to Reproduce the Problem

1. Run multiple pipelines at the same time (min 4 pipelines with 18 par

[2022-10-11 10:05] pawelkopka commented on #5623
Update: when we change names tasks and pipeline issue doesn't occurs:
Changes:
tasks:
-  xxxxxxx-yyy-test-high-cpu  ->  yyy-high-cpu
- xxxxxxx-yyy-test  ->  yyy
pipelines:
- xxxxxxx-yyy-test-> yyy

[2022-10-11 16:40] lcarva commented on #5091
/remove-lifecycle stale

This is an important feature that increases reproducibility when using Tekton Pipelines.

[2022-10-11 18:36] lbernick opened #5627 "Integration tests for upgrading API versions"
Tekton already has integration tests that check that a newer version of Tekton Pipelines can be installed on a cluster with existing Tekton CRDs. Improving these tests is tracked in https://github.com/tektoncd/pipeline/issues/5193.

We would also like to add integration tests that ensure users can upgrade API versions and that webhook conversion is working properly. (We already have conversion uni

[2022-10-11 18:39] lbernick commented on #5504
@dibyom has written up a proposal for a new API versioning strategy: https://docs.google.com/document/d/15vD5vbK5UKCDFMoOqOwEc_NYACthtCZJlTJiiEEoljY

[2022-10-11 19:14] JeromeJu opened #5631 "Unhandled `resolutionrequests` in conversion Webhook"
The following error persists in the conversion webhook. Related to #5515

[code]

cc @abayer

_Originally posted by @JeromeJu in https://github.com/tektoncd/pipeline/issues/5625#issuecomment-1274764721_

[2022-10-11 19:48] pritidesai commented on #5594
thank you @VeereshAradhya for reporting this issue 👍

What API version are you running with, `v1beta1`? I am a little surprised since we have an [example](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/using-retries-and-retry-count-variables.yaml) which validates this context variable. Do you observe `$(context.pipelineTask.retries)` set to zero as well? otherwise thi

[2022-10-11 20:43] afrittoli commented on #5627
Thank you @lbernick - this is really useful.
Some more we had in the past with API changes (but not API version changes) are not being able to update or delete an existing resource after an upgrade because of webhook validation changes.
If the `v1` and `v1beta` webhook behaviour is not in sync, this could cause problems with resources that may become stuck in a bad state which can only be solved b

[2022-10-11 21:34] dibyom opened #5632 "Per Feature Feature Flags"
### Feature request

[TEP-033](https://github.com/tektoncd/community/blob/main/teps/0033-tekton-feature-gates.md) proposed an `enable-api-fields` flag for features that require an API field. This allows us to group and enable/disable all "alpha"/"beta" features together.

An alternative approach is having a way to enable/disable each feature by via its own flag (such as the approach taken by [Kube

[2022-10-11 22:01] dibyom commented on #5632
One though I just had - per TEP-033, fields that are behind an alpha/beta flag can be gradually transitioned from alpha to beta to GA. For features that are not controlled by a field, TEP-033 says they should have their own flag. But I do not think it is possible to move them gradually from alpha to beta to GA and instead they must either be enabled or disabled within a particular API version

[2022-10-11 22:35] dibyom opened #5633 "Update API compatibility policy for V1/GA"
### Feature request

Our current policy describes alpha and beta. We need to update it for GA.

### Use case

1. As a Tekton user, I'd like to know what API guarantees Tekton V1 provides
2. As a Tekton developer, I'd like to know how to experiment with new features post the V1 release.

We had some discussion on this in the [API WG](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVg

[2022-10-11 22:40] dibyom commented on #2748
Planning to incorporate this in #5633

[2022-10-12 12:29] kamieniarzk opened #5635 "Is it possible to bind a workspace from within a Pipeline (not a PipelineRun) or create a PipelineRun with bound workspaces using GUI?"
First of all, pardon me if it's not the right place for such questions but I've struggled to find the answer in the documentation and did not find any other community forums related to tekton.

I'd like to be able to start my pipeline which uses two workspaces using the Tekton dashboard (GUI) but from what I can see, there is no option to provide workspaces here.

[![enter image description here][

[2022-10-12 12:45] vdemeester commented on #5631
/kind bug

[2022-10-12 12:46] vdemeester commented on #5091
Note on this: we should look into this in the "lens" of the bundle resolver. cc @abayer to know if it already does that or not 🙃

[2022-10-12 15:16] jerop commented on #5588
Fixed in https://github.com/tektoncd/pipeline/pull/5593

[2022-10-12 15:16] #5588 closed

[2022-10-12 15:53] chengjoey opened #5636 "taskrun hang on Unknown status due to breakpoint"
# Expected Behavior
taskrun `SUCCEEDED` status should be true after `echo 0 > /tekton/run/0/out.breakpointexit

# Actual Behavior
kubectl get pods
[code]

kubectl get taskrun
[code]

# Steps to Reproduce the Problem

1.kubectl apply -f steps.yaml
steps.yaml:
[code]
2. kubectl exec -it steps-pod sh
3. echo 0 > /takton/run/0/out.breakpointexit

# Additional Info

- Kubernetes version:

[code]

- Tek

[2022-10-12 15:54] chengjoey commented on #5636
kubectl get pod steps-pod -o yaml:
[code]

[2022-10-12 18:05] Alejandro9917 commented on #4259
What was the missing step?

[2022-10-12 20:39] #5500 closed

[2022-10-13 08:05] VeereshAradhya commented on #5594
@pritidesai I tried the given [example](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/using-retries-and-retry-count-variables.yaml) and observed that the `"$(context.task.retry-count)"` works fine in the embedded spec that the  [example](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/using-retries-and-retry-count-variables.yaml) contains

[2022-10-13 13:49] JeromeJu commented on #5193
- When disabling [initialize](https://github.com/tektoncd/pipeline/blob/main/test/e2e-tests-upgrade.sh#L32), the test could run locally.

- When set Previous version at v0.40.2 and deploy on the current devel, the following error occurred when upgrading to the current release:
[code]

[2022-10-13 15:17] dibyom commented on #5635
/cc @tektoncd/dashboard-maintainers may be able to answer this

[2022-10-13 21:06] AlanGreene commented on #5635
It's not supported in the Dashboard yet but is being tracked in tektoncd/dashboard#1283 and there's some work in progress to add this functionality.

[2022-10-16 11:40] AlanGreene commented on #4364
/remove-lifecycle stale

[2022-10-16 15:40] #4890 closed

[2022-10-16 19:40] #4889 closed

[2022-10-17 11:46] cugykw opened #5645 "Display init container error message"
# Expected Behavior

When an error occurs in the init container in the pod associated with taskrun, the error message can be clearly displayed.

# Actual Behavior

An error occurred in the init container injected by webhook, causing the pod to end. TaskRun
status shows a message `build failed for unspecified reasons`.

taskrun status:

[code]

pod status:

[code]

# Steps to Reproduce the Problem

[2022-10-17 13:57] imjasonh commented on #5146
/lifecycle frozen
/remove-lifecycle stale

I think this is still something we should do. I think @vdemeester was looking into it.

[2022-10-17 15:01] #5636 closed

[2022-10-17 18:01] jerop commented on #4955
Completed in https://github.com/tektoncd/pipeline/pull/5540 - Thank you @chitrangpatel!

[2022-10-17 18:01] #4955 closed

[2022-10-17 18:25] austinzhao-go commented on #5412
thanks @jerop for linking my question to this discussion.

perhaps a related use case from my problem
[code]

thank you @chabeezy for bringing up this FR discussion!

[2022-10-18 09:42] ernestang98 commented on #5512
Just encountered this error myself.

This is my version of Ubuntu that I am trying to run tkn on

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.1 LTS
Release:	22.04

Try uninstall and re-installing tkn

Install tkn via:

curl -LO https://github.com/tektoncd/cli/releases/download/v0.27.0/tektoncd-cli-0.27.0_Linux-64bit.deb
sudo dpkg -i tektoncd-cli-0.27.0_Linux-64bi

[2022-10-18 12:38] #5635 closed

[2022-10-18 15:05] #5550 closed

[2022-10-18 15:05] XinruZhang opened #5653 "PipelineRun reconciler shouldn't care about how the `Timeout` field is implemented in Custom Task Run."
PipelineRun reconciler shouldn't care about how the Timeout field is implemented in Custom Task Run.

Currently in PipelineRun reconciler, it cancells the Run when it detects that Run is TimeOut: https://github.com/tektoncd/pipeline/blob/2b54123eaafe5d6b86577402830e0957928374d2/pkg/reconciler/pipelinerun/pipelinerun.go#L657-L659
by calling https://github.com/tektoncd/pipeline/blob/2b54123eaafe5d6b

[2022-10-18 15:07] #5529 closed

[2022-10-18 15:21] abayer commented on #5603
For the record, I think it should still be critical-urgent since we need to support k8s 1.25, but hey, I seem to have found the fix - see https://github.com/tektoncd/pipeline/pull/5652#issuecomment-1282550601

[2022-10-18 16:52] afrittoli commented on #4979
@xauthulei is this issue still reproducible? If so, could you please provide some details about your setup and how to recreate the issue?

[2022-10-18 16:54] afrittoli commented on #4966
@aceeric Thanks for the workaround. Would a PR to the catalog solve this issue, or do you think this is something that needs to be fixed on pipeline side?

[2022-10-18 16:59] afrittoli commented on #4903
We do not handle this today but it's an interesting use case for the future, so marking as frozen

[2022-10-18 16:59] afrittoli commented on #4903
/lifecycle frozen

[2022-10-18 17:00] afrittoli commented on #4900
Based on @imjasonh response, I will close this one. Feel free to re-open if required.

[2022-10-18 17:00] #4900 closed

[2022-10-18 19:35] #5317 closed

[2022-10-18 19:39] lcarva commented on #4916
It's fixed! :tada:

The `completionTime` on the PipelineRun is only set after all the TaskRuns have a `completionTime`:

[code]

[code]

[2022-10-18 19:39] #4916 closed

[2022-10-18 20:05] XinruZhang commented on #5653
Took another look at [the timeout section of TEP-0002](https://github.com/tektoncd/community/blob/main/teps/0002-custom-tasks.md#timeout):

Therefore this is actually aligned with what's designed, but this exact implementation causes the flaky test results.

The statement **"timeout is updated to the run with same policy as it is for task runs"** in the design is NOT true in the current implementa

[2022-10-18 20:06] XinruZhang commented on #5653
/kind flaky

[2022-10-18 20:06] XinruZhang commented on #5653
/kind flake

[2022-10-18 20:10] XinruZhang commented on #5653
Do we want to remove https://github.com/tektoncd/pipeline/blob/2b54123eaafe5d6b86577402830e0957928374d2/pkg/reconciler/pipelinerun/pipelinerun.go#L657-L659 and update TEP-0002 to reflect the change?

At least we need to update TEP-0002 to reflect that PipelineRun reconciler doesn't cancel TaskRun when its run time bigger than TaskRunSpec.Timeout.

[2022-10-18 20:10] XinruZhang commented on #5653
/assign

[2022-10-18 21:30] abayer opened #5659 "CustomRun equivalents of FilterRunRef and FilterOwnerRunRef are needed"
Stumbled across this today - `pkg/controller/filter.go` has functions that are used in custom task controllers to filter `Run`s for the desired `apiVersion` and `kind`, and we need equivalents of those for `CustomRun`.

cc @jerop

[2022-10-18 21:39] #5603 closed

[2022-10-19 06:38] ericfunktxgroup commented on #5568
same issues on our side - we are using a EKS cluster using graviton (ARM) instances.
I also noticed that many of the tasks from the tekton catalog only work with the standard amd64 architecture. some allow the override of the image used - some dont which is annoying and forced me to clone the tasks and use my local copies
reason is mostly the sha - without a sha it will pull the correct image for

[2022-10-19 09:47] vdemeester commented on #5146
Yes I was looking into it recently, and it might "break" some assumption users do (on some labels being present on `PipelineRun` or `TaskRun`), so I think we might have to document and deprecate the current behavior so that we can remove it later on.

[2022-10-19 09:52] vdemeester commented on #4404
/remove-lifecycle stale

[2022-10-19 14:54] JeromeJu opened #5663 "Keep track of 'beta' features promotion after v1 release"
### Feature request

This issue tracks down the necessary updates to be made to the beta features for the promoted features before the v1 release. This issue occurred because there were time that v1 was not released but features had been promoted to beta.

- https://github.com/tektoncd/pipeline/pull/5540#discussion_r998301542
- https://github.com/tektoncd/pipeline/pull/5628
- https://github.com/te

[2022-10-19 14:54] JeromeJu commented on #5663
/assign

[2022-10-19 15:50] chengjoey opened #5667 "`Contributor's Guide` link is not found"
https://github.com/tektoncd/pipeline/blob/2ed31e90628c973b08c6faac1f6afa5361c9bd0d/CONTRIBUTING.md?plain=1#L36-L40

`doc-con-main.md` is not existed in website repository

[2022-10-19 15:50] chengjoey commented on #5667
/assign @vdemeester

[2022-10-19 16:14] dibyom opened #5668 "Remove webhook validation on delete"
@dibyom I think this is also needed for triggers

_Originally posted by @vdemeester in https://github.com/tektoncd/pipeline/issues/5610#issuecomment-1283591181_

[2022-10-19 16:41] AlanGreene commented on #5667
Thanks for raising this @chengjoey. The link should probably point to https://github.com/tektoncd/website/blob/main/content/en/docs/Contribute/_index.md since the old file was removed and this content has been reorganised.

This is published on the website at https://tekton.dev/docs/contribute/

[2022-10-19 17:14] XinruZhang commented on #5653
@ScrapCodes, wondering if you have any thoughts 😀

[2022-10-19 21:29] jerop commented on #5607
could this be addressed in [tektoncd/operator](https://github.com/tektoncd/operator) which is used to configure installation?

[2022-10-19 21:42] JeromeJu commented on #5627
/assign

[2022-10-19 21:57] #5514 closed

[2022-10-20 00:11] aceeric commented on #4966
Honestly @afrittoli  it's hard to say - not being an expert in the tool. Fundamentally the catalog task is (presently) wanting to use the pipeline image in a way that seems incompatible with the image. So - should the image in the pipeline be modified to not require the additional line of shell? Part of that IMO is determined by which - if any - other Tekton components use that image and what impa

[2022-10-20 06:23] ScrapCodes commented on #5653
Hi @XinruZhang , I want to respond to this and the other PR as well, currently I am working in a limited capacity and enjoying vacations upto Tuesday. Thanks!

[2022-10-20 12:56] XinruZhang commented on #5653
/remove kind/bug

[2022-10-20 12:57] XinruZhang commented on #5653
/remove-kind bug

[2022-10-20 15:56] Yongxuanzhang commented on #5632
comment for tracking this issue

[2022-10-20 16:00] Yongxuanzhang commented on #5632
I encounter this issue when implementing trusted resources in https://github.com/tektoncd/pipeline/pull/5581
We have a feature flag `ResourceVerificationMode` to let users choose from skip, enforce and warn. So if it is set to skip the feature will not be enabled.
This is an alpha feature and it may not be ideal to let users enable 2 flags (ResourceVerificationMode and enable-api-fields).

[2022-10-20 19:30] dibyom commented on #5632
@chuangw6 also mentioned the same thing for his ConfigSource status field proposal

[2022-10-20 20:25] jimmyjones2 commented on #5242
@lookis Think you've mixed URL formats with `ssh://git@github.com:xxxxx.git`

Should either be `git@github.com:xxxxx.git` or `ssh://git@github.com/xxxxx.git`

[2022-10-20 20:47] chuangw6 commented on #5632
Thanks @dibyom. This is a good idea.
https://github.com/tektoncd/pipeline/pull/5670 is the implementation that adds a dedicated feature flag to control the `provenance` field in taskrun/pipelinerun status.

[2022-10-20 21:24] afrittoli commented on #5632
To give extra background, the reason we decided to have a single flag instead of per-feature ones is the amount of testing that that would require, because while features are (often) clearly separated from one another at the API level, they may be more intertwined in the controller code - so enabling one feature out of 10 may behave differently from enabling all 10.

The alternative to feature fla

[2022-10-21 10:02] vdemeester commented on #5607
@jerop it could be addressed by the operator for sure yes. I think I am ok if we include the resolvers in the release.yaml and not provide another yaml without them. Users and tools who do not want to use them can mutate the release.yaml to skip those.

[2022-10-21 10:09] vdemeester commented on #5607
Just so it's clear, this means I am fine to close this issue and ship a release.yaml that includes resolvers and nothing else. 😝

[2022-10-21 14:46] jerop commented on #5112
here's a close issue with the same feature request and related discussions: https://github.com/tektoncd/pipeline/issues/2973

[2022-10-21 15:27] XinruZhang commented on #5158
/assign

[2022-10-21 15:34] XinruZhang commented on #5158
To extend the TODOs listed above, we need to
- [ ] Migration guide for v1alpha1.Run --> v1beta1.CustomRun
  - [ ] Prepare a migration doc, refer to the migration doc in the runs.md and pipelines.md
  - [ ] Remove illustration about how to use alpha run
  - [ ] Add illustration about how to use beta customrun
    - [ ] Update [runs.md](https://github.com/tektoncd/pipeline/blob/main/docs/runs.md) e.

[2022-10-21 19:29] lbernick opened #5673 "Incorrect PipelineRun status "ResolvingTaskRef""
# Expected Behavior
If a pipeline task ref is invalid, the Pipeline will be rejected by the admission webhook. In addition, if remote resolution completes successfully, the PipelineRun status should not be "ResolvingTaskRef". Lastly, the validation error `expected exactly one, got both: spec.taskRef.name, spec.taskRef.params, spec.taskRef.resolver".` is confusing since there are three things, and

[2022-10-24 17:07] JeromeJu commented on #5663
TODO:
- add the following at workspaces.md 536
This is a beta feature in v1. The `enable-api-fields` feature flag [must be set to `"beta"`](./install.md)
for csi volume source to function in v1.

[2022-10-24 18:27] lbernick opened #5679 "Move non-API related code into internal"
Based on this [discussion thread](https://github.com/tektoncd/pipeline/pull/5634#discussion_r997411776).
Everything in the [apis packages](https://github.com/tektoncd/pipeline/tree/main/pkg/apis) and the [client packages](https://github.com/tektoncd/pipeline/tree/main/pkg/client) should be public, and all other code should be moved into the internal folder where possible to avoid usage outside of

[2022-10-25 08:29] vdemeester commented on #5679
Note that today, other tektoncd component might depend on those, for example the cli, or the operator, or triggers or even chains. I think for each package we want to move we need to see if it make sense or not to be "public" (and exported) or not.

See https://github.com/tektoncd/pipeline/pull/5681#pullrequestreview-1154364716

[2022-10-25 14:47] aruiz14 opened #5683 "Repeated error messages when a Cloud Events sink is configured"
# Expected Behavior

Absence of error logs.

# Actual Behavior

The following error message is produced every time an event is produced:
[code]

# Steps to Reproduce the Problem

1. [Install Tekton](https://github.com/tektoncd/pipeline/releases).
2. [Configure a Cloud Events sink](https://tekton.dev/docs/pipelines/install/#configuring-cloudevents-notifications).
3. Add some dummy `TaskRun` and obs

[2022-10-25 16:43] #5262 closed

[2022-10-25 16:57] XinruZhang commented on #5153
Putting a note here as a reminder: all the references about `v1alpha1.Run` should be migrated to `v1beta1.CustomRun`, for example: https://github.com/tektoncd/pipeline/blob/f1b68123b2de6c5fe05b0db3a98ca77b56e8a91f/pkg/apis/pipeline/v1alpha1/run_types.go#L101-L107

Thanks for @lbernick 's input!

[2022-10-25 18:07] #5653 closed

[2022-10-25 19:37] jerop commented on #5138
/lifecycle frozen

[2022-10-26 05:29] sravanlakkimsetti opened #5688 "Promote TEP-0075 and TEP-0076"
### Feature looking for Promotion

These features are currently behind alpha. Requesting them to be promoted to beta

- [TEP-0075 Propose object (dicitonary) param and result types](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md) and
- [TEP-0076 Propose array results and indexing](https://github.com/tektoncd/community/commit/e0e7d73e08113ac82e5fe8bc6467d

[2022-10-26 10:48] errordeveloper commented on #4542
This does become quite a problem when the installation manifest is used with a GitOps operato like Flux. I found that dropping `ValidatingWebhookConfiguration/config.webhook.pipeline.tekton.dev` emilinates the probel, however webhook pod ends up logging plenty of errors. I think that disabling config map validation should be allowed, perhaps there should be some official way of doing that avoids e

[2022-10-26 15:15] #5232 closed

[2022-10-26 16:36] JeromeJu opened #5689 "Cluster setup for upgrade test"
### Feature request

Kind cluster setup for the upgrade test would be preferred compared with the current setup which relies on GKE at https://github.com/tektoncd/pipeline/blob/d4c2f75e32a8657f486790da8d665019f5e0550b/test/e2e-tests-upgrade.sh#L32

Related: #5649
### Use case

The upgrade test could be run with local kind cluster setup.

[2022-10-27 12:41] mtcolman opened #5692 "Non-root Task Containers trying to run as root (uid=0)"
# Expected Behavior
Having run this pipeline without issue on OpenShift-Pipelines 1.7.3, which uses:
 -  Tekton Pipelines: v0.33.2
 -  Tekton Triggers: v0.19.0
 -  Tekton Chains (tech-preview): v0.8.0
 -  Tekton Hub (tech-preview): v1.7.3
 -  Pipelines as Code (tech-preview): v0.5.10

I have then tried upgrading to OpenShift-Pipelines 1.8.0, which uses:
 -  Tekton Pipelines: v0.37.4
 -  Tekton Tri

[2022-10-27 13:43] #5667 closed

[2022-10-27 14:06] lbernick commented on #5203
I think this should be fixed by https://github.com/tektoncd/pipeline/pull/5610; @chuangw6 are you able to check whether this is still happening?

[2022-10-27 16:51] ronanww opened #5693 "Confusing failed STATUS for privilege access errors"
Scheduling a Tekton TaskRun that requires privilege access (for example using a Docker-in-Docker sidecar) in a k8s cluster that doesn't allow privilege access properly fails, however the failure status shows as `Failed(CouldntGetTask)`

If you look deeper into the error message you can see `unable to admit pod: [spec.containers[1].securityContext.privileged: Invalid value: true: Privileged contain

[2022-10-28 08:08] mtcolman commented on #5692
Further testing has shown that the error in 1.8.0 only occurs when I include a git pipelineResource in the pipelineRun, pipeline and task. Without it (I can even have an image pipelineResource included and it uses the correct SA and SCC), it works fine.

[2022-10-28 17:08] JeromeJu commented on #5627
Wondering if we should only add the tests converting v1 to v1beta1 once the v1 is changed to the storage version?

[2022-10-28 17:31] lbernick commented on #5627
Since users will be able to request both versions of the CRD as soon as they are served, it probably makes sense to add these tests as soon as they are served rather than waiting for the storage version to change. Clients have no way of knowing what the storage version is (AFAIK-- users can look at the CRD definitions but I don't think you can specify it in the client?), so I don't think it makes

[2022-10-28 19:07] JeromeJu commented on #5627
Thanks Lee, updated in the latest commit in #5579

[2022-10-28 19:23] thomascube commented on #5454
@cleverhu Running both my example and your test case again on my Openshift cluster (now on version 4.10.36) shows the successful execution of the finally tasks. I'm no longer able to reproduce the reported problem myself. No idea what changed but this issue can be closed. My apologies for the noise!

[2022-10-28 19:23] #5454 closed

[2022-10-28 19:40] #4784 closed

[2022-10-29 23:40] #4892 closed

[2022-10-31 11:09] #5128 closed

[2022-10-31 17:47] aleskandro commented on #5600
It'd be great to have the default PipelineRun timeout set to a smarter value than the [default one from the config](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/pipelinerun_defaults.go#L39-L45): for instance, one can calculate the sum of the longest path's task timeouts.
It would be an upper bound ignoring the `when` clauses, and other concerns will need to be addressed

[2022-10-31 18:54] XinruZhang opened #5700 "Conformance Policy around Custom Task Run"
Creating this issue to propose we need to:
1. Define conformance policy for Custom Task API, including
    - the requirement (`REQUIRED`|`RECOMMENDED`|`OPTIONAL`) of each field.
2. Define that to what extent PipelineRun Controller relies on each field
    - for example, Pipeline Controller can only rely on required fields, must not rely on optional fields etc.
3. Develop a conformacne test suite

[2022-11-01 08:52] kabhiibm opened #5703 "Testcase TestGitResolver_API using non multi-arched images"
The Tekton Pipeline nightly job fails on dogfooding for **Power** due to a testcase :- `TestGitResolver_API`.

![image](https://user-images.githubusercontent.com/97608374/199189088-2d81df81-a47e-47e9-a0f0-c5b8eee70fb1.png)

On initial investigation we found that the testcase use images which are not multi-arched - [bitnami/memcached](https://github.com/tektoncd/pipeline/blob/99226de6ef1c3f14e38e9b

[2022-11-01 14:13] abayer commented on #5703
/assign

[2022-11-01 14:13] abayer commented on #5703
Wonder if there's a way we can skip this test if we're on multiarch as a workaround?

[2022-11-01 14:59] chengjoey commented on #5594
@VeereshAradhya  do you mean task and pipelinerun like this:
[code]

## get results
pods:
[code]

kubectl logs retry-pipeline-bug-retry-tasks-pod-retry5 -c step-retry-me:
[code]

[2022-11-01 15:20] JeromeJu opened #5706 "Beta features in V1 for Integration and Examples Test"
### Feature request

The beta feature in V1 needs to be specified. The respective flag values and directories need to be updated.

- feature flag table & gates
- plumbing for beta feature tests

_(please feel free to edit if missing)_

### Use case

In #5579 , the integration tests for bundle conversion to resolver needs beta/ alpha feature flags to be set.

For example, the following tests are fa

[2022-11-01 15:20] JeromeJu commented on #5706
/assign

[2022-11-01 15:31] rphua opened #5707 "0.41.0 new configmap: config-observability contains helm specific syntax"
We are using our own custom helm chart to deploy new versions of tekton and in version 0.41.0 there is a new configmap named "config-observability" and in the example the following syntax is used:

{{.Request.Method}}

and more of this in the same example.

By doing so helm will try to resolve this eventhough it is just an example. It would be nice if the entire example could be commented out

[2022-11-01 16:40] pritidesai commented on #5153
Pipeline WG - Blockers:

- What should go in RunSpec?
- How to support v1alpha1 Run along with v1beta1 CustomRun?

/cc @ScrapCodes

[2022-11-01 16:51] pritidesai commented on #5052
Pipelines WG - We might want to document the settings and configurations needed for GCS.

[2022-11-01 16:53] pritidesai commented on #5052
@akhil97 please provide further troubleshooting if you have done so beyond Tekton Pipelines 0.35. Thanks!

[2022-11-01 16:53] lbernick commented on #4966
@aceeric it looks like this issue may be resolved by @jhonis's PR https://github.com/tektoncd/catalog/pull/1092 to the git clone catalog task so I'm going to close this issue; please feel free to reopen if the problem is not resolved.

[2022-11-01 16:53] #4966 closed

[2022-11-01 16:54] pritidesai commented on #4910
Pipelines WG - @Yongxuanzhang to confirm if we can close this. Thanks!

[2022-11-01 16:59] pritidesai commented on #4444
Pipelines WG - @dibyom to close this after summarizing the discussion!

[2022-11-01 17:00] dibyom commented on #5052
from the error message it seems like this has more to do with some kind of network restrictions - source.developers.google.com - Address not available

[2022-11-01 17:01] pritidesai commented on #4433
Pipelines WG - deleted v1alpha1 examples and tests but might happen with v1beta1. Closing this for now since havent seen this in a while. We can reopen if needed!

[2022-11-01 17:01] #4433 closed

[2022-11-01 19:38] wlynch opened #5708 "Scripts with missing binary shebang fail ambiguously"
# Expected Behavior

If a TaskRun fails due to a user misconfiguration, pipelines controller should surface the reason. (e.g. `/usr/bin/env: No such file or directory`)

# Actual Behavior

## TaskRun

[code]

<details>
<summary>$ kubectl describe</summary>

[code]
</details>

Logs:

[code]

---

Pretty sure the reason why this is failing is because the binary referenced by the shebang (`/usr/bin/e

[2022-11-01 23:20] aceeric commented on #4966
Sounds good - thank you.

[2022-11-02 03:15] Yongxuanzhang commented on #4910
/close the docs are updated. We don't support the quote reference of result name and if this is requested we could reopen this issue

[2022-11-02 03:15] #4910 closed

[2022-11-02 10:25] MaximSidorovRep opened #5709 "Breaking previous pipeline run"
In documentation i cannot find how breaking inprogress old pipelinerun.
I'm looking for an option analogs in GitLab CI interruptible, or how can realize.

[2022-11-02 12:08] kabhiibm commented on #5703
@abayer , the test can be skipped with https://github.com/tektoncd/pipeline/blob/main/test/multiarch_utils.go#L135-L153.
But in place of skipping it, what is the test doing and if including opensource memcached and postgresql (which is multi-arched) in the testcase would work for the test case ?

[2022-11-02 13:14] chengjoey commented on #5709
https://github.com/tektoncd/pipeline/blob/55459dd85258e47da484208d92d9b616633ce230/docs/pipelineruns.md?plain=1#L1521

mark it as "Cancelled" to  cancel a `PipelineRun` that's currently executing

[2022-11-02 15:21] lbernick commented on #5709
Thanks @chengjoey for your response! @MaximSidorovRep I'm going to go ahead and close the issue since I believe your question was answered and this feature is already documented, but please feel free to reopen if you have unresolved concerns.

[2022-11-02 15:36] vdemeester commented on #5708
@wlynch the trick is that we are "just" giving back the error of the process in the container. It's a "script" (in the sh/bash sense of scripts) behavior (or a linux behavior probably more accurately) to error out that way (`fork/exec /tekton/scripts/script-0-55pdl: no such file or directory`) on shebang error. Running the script, in the container, on `docker` (or something else) in anyone laptop

[2022-11-02 17:50] wlynch commented on #5708
Makes sense!

Maybe we should consider changing the default shell? 🤔  Looks like the error message is a bit better for bash:

[code]

[2022-11-02 18:24] JeromeJu commented on #5689
/assign

[2022-11-02 21:54] pritidesai commented on #5248
Thanks @lbernick!

It feels awkward because there is no concept of `pipelineTask` reconciler. For each `pipelineTask`, `pipelineRun` controller creates a `taskRun` for a `pipelineTask`. In case of `retries`, `pipelineRun` controller creates a new `taskRun` which is embedded in the existing `taskRun` under `taskRun.status`.

+1

+1

I find it very useful to have pod name based on the length of the

[2022-11-02 22:26] dibyom commented on #5689
I think you should be able to follow a lot from @abayer 's excellent guide here: https://github.com/tektoncd/plumbing/blob/main/docs/kind-e2e.md

[2022-11-02 22:27] dibyom commented on #5689
(basically we need to put the initialize call within an if block)

[2022-11-03 12:12] MaximSidorovRep commented on #5709
Thanks  for response.
I was interested in automatic cancellation if a newer pipeline appeared.
I trigger pipeline from webhook, and I can't always keep track of them.

[2022-11-03 12:22] abayer commented on #5703
This test is verifying that the git resolver's API approach works, using a Gitea instance that we spin up and configure locally to test against. I'd say we can skip it, since there's nothing arch-specific about the actual functionality we're testing, just the Gitea instance we spin up for the test. I'll open a PR.

[2022-11-03 15:00] vdemeester commented on #5708
@wlynch well, we don't really have control here either, as the shell needs to be available in the image. We are *almost* certain that 98% of the image that ship with a shell will have a `sh` command available in `PATH`, being an alias/link to `/bin/bash`, `/busybox/…`, … It's harder to make the same assumption for `bash`, as, for example, `bash` is not available by default in `alpine`.

[code]

[2022-11-03 15:17] vdemeester commented on #5251
/remove-lifecycle stale

I need to rework : https://github.com/tektoncd/pipeline/pull/5401 in order to fix this.

[2022-11-03 15:21] vdemeester commented on #5153
On the second question, I would ask a question to the question : do we even want to support both ? `v1alpha1.Run` is alpha, we can pretty much do whatever. As already mentionned during a WG, if we give a timeline when `tektoncd/pipeline` will start creating `v1beta1.CustomRun` instead of `v1alpha1.Run`, announce it, it should give enough time for current `CustomTask` project to update to handle `v

[2022-11-03 16:52] msvticket commented on #4485
@pritidesai I have to admit I don't understand the process here. I can not see how this can be seen as other than a simple addition to the API that is in line with the current functionality.

I can probably device a pull request with the functionality. But I don't want to spend time on that if the PR wont be accepted.

[2022-11-03 18:54] abayer commented on #5707
/assign

[2022-11-03 18:56] abayer commented on #5707
Whoops - I'll open a PR to get `config/resolvers/config-observability.yaml` more like the previously-existing `config/config-observability.yaml`, which doesn't contain the relevant lines that are causing this problem.

[2022-11-03 19:04] jerop commented on #5265
/lifecycle frozen

[2022-11-03 19:04] jerop commented on #5267
/lifecycle frozen

[2022-11-03 21:59] chuangw6 opened #5720 "`docs/taskruns.md` misses a section for fields in status"
We should have a section in the [`docs/taskruns.md`](https://github.com/tektoncd/pipeline/blob/main/docs/taskruns.md#monitoring-execution-status) file to document the fields in taskrun status in detail.  What we have in [`docs/pipelineruns.md`](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#pipelinerun-status) is an good example.

[2022-11-04 01:57] dibyom commented on #5632
I agree, the testing story is complicated but I don't think that by itself should be why we should only have a single flag. The most common use case for alpha features is to try out a single alpha feature, not all of them altogether.

Feature flags implementations being intertwined is not great either - wherever possible a feature flag should only control the behavior of that specific feature and

[2022-11-04 09:00] Basavaraju-G opened #5721 "Nightly tekton pipelines build failed to install on k8s 1.25.3 version"
# Expected Behavior
pipleines should install successfully on v1.25.3 k8s version
# Actual Behavior
`error: unable to recognize "https://storage.googleapis.com/tekton-releases-nightly/pipeline/latest/release.yaml": no matches for kind "HorizontalPodAutoscaler" in version "autoscaling/v2beta1"`
# Steps to Reproduce the Problem

1. install lastest k8s cluster i.e 1.25.3
2. kubectl apply --filename ht

[2022-11-04 10:01] chengjoey commented on #5709
hi  @MaximSidorovRep , refer to this document [Canceling Concurrent PipelineRuns](https://github.com/tektoncd/community/blob/main/teps/0120-canceling-concurrent-pipelineruns.md),this feature is being implemented

[2022-11-04 11:00] afrittoli commented on #5721
I don't seem to be able to reproduce the issue:

Create cluster:
[code]

Install Tekton:
[code]

The nightly from the issue is "latest" though, so the one that I used is likely not the same one that you used.
Please let me know if you still experience the issue with the latest nightly, or else we could close this one.

[2022-11-04 12:52] MitchelNijdam-Rockstars commented on #1744
I can provide a use case we are facing that this feature would solve.

We have a pipeline Task that builds a Java application using Gradle. In order to have a speedy execution, we have built an image containing all Gradle dependencies that we use in this Task. The Task looks like this now:

[code]

Since the dependencies of our Java application regularly change, we automatically re-build this imag

[2022-11-05 21:08] jimmyjones2 opened #5722 "Suprious warning from git-clone with SSH credentials"
# Expected Behavior

When using the git-clone task with SSH credentials, no spurious warnings are emitted on successful clone

# Actual Behavior

The warning `appears to need SSH authentication but no SSH credentials have been provided`

This comes from the following code: https://github.com/tektoncd/pipeline/blob/34274fb039971f310c84f77b609f6589a6763eb8/pkg/git/git.go#L271 which seems to expect c

[2022-11-06 03:35] cugykw opened #5723 "The pipelinerun never ends due to duplicate workspaces"
We have a pipeline of users that hasn't finished for more than a day. When we checked, we found that there was a pipeline task with duplicate workspaces. The pr never done.

[code]
pr status:
[code]

tekton-controller error:
[code]

# Expected Behavior
1. The Pipeline creation is prohibited
2. The pipelinerun should display specific error messages, and pipelinerun should end.

# Steps to Reproduce

[2022-11-07 04:24] Basavaraju-G commented on #5721
yes right @afrittoli , With latest build i was not getting this issue. so closing this issue.

[2022-11-07 04:24] #5721 closed

[2022-11-07 16:30] JeromeJu opened #5727 "Remote resolution for kaniko catalog examples"
The compatible remote resolution task referred in the catalog repo needs to be updated in  https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/pipelinerun.yaml#L39-L40.

The yaml file to reproduce:
[code]

Error:
https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_pipeline/5712/pull-tekton-pipeline-alpha-integration-tests/1588181464132882432

Would it make se

[2022-11-07 17:31] JeromeJu opened #5728 "Replace deprecated function CleanupOnInterrupt in ./test"
`CleanupOnInterrupt` is deprecated by knative in https://github.com/tektoncd/pipeline/blob/main/vendor/knative.dev/pkg/test/cleanup.go#L57-L65. This would need to be updated to `OnInterrupt`.

[2022-11-07 19:43] JeromeJu commented on #5727
Thanks for the reminder. Updated in the issue comment.

[2022-11-07 20:47] abayer commented on #5727
@JeromeJu The failure you linked to is a red herring - that particular failure was me screwing up some copy-paste. The actual error I kept hitting is seen in https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_pipeline/5712/pull-tekton-pipeline-integration-tests/1588168599833415680:

[code]

This was using the same `kaniko/executor` image as the copied-in task does - v1.8.1, gcr.io/k

[2022-11-07 21:04] lbernick commented on #5727
This looks like an issue with the kaniko-build task, should we transfer to the catalog repo?

[2022-11-08 14:45] michaelsauter commented on #4235
With the availability of remote task resolution (via Git or ArtifactHub), this issue will become more pressing for us in the future.

So far our workaround is that each user defines the task in the Helm chart and can therefore add the sidecar at "Helm chart authoring time". We would like to make things easier for our users so that they do not need to maintain the task definitions in a Helm chart a

[2022-11-08 15:40] chengjoey commented on #5722
@jimmyjones2 hi, The warning message is only if no credentials are provided and it is an ssh repository, or if it is not an ssh repository but credentials are provided.
when  using the git-clone task with SSH credentials, no spurious warnings maybe is expected

[2022-11-08 15:49] XinruZhang opened #5730 "Remove hard dependencies on `Run.retriesStatus` in Tekton controllers"
We've agreed that `retriesStatus` is not required in Custom Task, therefore, all of hard dependencies on that field must be removed.

It's worth mentioning that we may still be able to use the information that field provides, but an empty `retriesStatus` must not break the pipeline controller.

[2022-11-08 19:17] dgeorgievski opened #5732 "Pipeline workspaces not accessible in embedded Tasks"
# Expected Behavior
Content of Tekton Workspaces to be accessible in embedded Tasks.

Cloned github.com repo should be available through a shared workspace to Tasks subsequent to the git-clone task.
git-clone is a standalone Tektone task that clones successfully a github.com repository, and stores its content into a shared Pipeline workspace to make it available to subsequent Pipeline tasks.

Othe

[2022-11-08 21:00] #5689 closed

[2022-11-08 23:56] lookis commented on #5242
@chengjoey never mind, I've give up tekton for now, thanks

[2022-11-09 03:25] yuzp1996 commented on #5673
/assign

[2022-11-09 10:19] vdemeester commented on #5732
Hey @dgeorgievski,

The embedded task need to define the workspace as well, in the `taskSpec`. The error state that "does not match any declared workspace", which means in the *embedded* task spec, there is not "declared" workspace named `source`.

[code]

Behind the `enable-api-fields: alpha` feature-flag, there is a way to not "declare"/repeat those as documented [here](https://tekton.dev/docs/p

[2022-11-09 13:59] JeromeJu opened #5734 "V1 pull-tekton-pipeline-beta-integration-tests"
### Feature request

Prow env needs to be updated in the pipeline repo.

As v1 got introduced in #5579  , the feature flag gets a new valid value of `beta`. Therefore a new CI job `pull-tekton-pipeline-beta-integration-tests` to test features that are marked as beta in the v1 API will be needed.

Since during the gap between v1 gets `served` in 0.42 release and when it gets stored in the next rele

[2022-11-09 14:33] JeromeJu commented on #5734
Shall be in plumbing repo

[2022-11-09 14:49] dgeorgievski commented on #5732
Thanks @vdemeester , that resolved the issue.

I looked at the docs again to check if I missed the **taskSpec.workspaces** setting and couldn't find it.
1. https://tekton.dev/docs/pipelines/workspaces/
2. https://tekton.dev/docs/how-to-guides/clone-repository/

Some other people I work with had the same issue with referencing workspaces in embedded tasks. It would help others if the documentation

[2022-11-09 14:49] #5732 closed

[2022-11-09 15:04] JeromeJu commented on #5734
Link with https://github.com/tektoncd/plumbing/issues/1255

[2022-11-09 15:29] chuangw6 commented on #5203
Hey @lbernick ,

I just tried on the latest main. It seems the issue still persists because of the reason above mentioned by @wlynch.

[2022-11-09 15:45] icereed commented on #5275
/remove-lifecycle stale
We have the same issue. We want to use AWS EFS as a build cache, but also use another ephemeral PVC for the usual workspace.

[2022-11-09 16:52] #4660 closed

[2022-11-09 17:03] VeereshAradhya commented on #5594
@chengjoey Sorry for the delayed response. You are trying to access a [pipeline variable](https://github.com/tektoncd/pipeline/blob/main/docs/variables.md#variables-available-in-a-pipeline) (`"$(context.task.retry-count)"`) inside a task definition, it does not if it is not an embedded spec.
You can reproduce the issue by creating the task and pipeline from the spec that I provided and use the bel

[2022-11-09 17:13] JeromeJu commented on #5734
/assign

[2022-11-09 17:43] jimmyjones2 commented on #5722
@chengjoey The git-clone Task copies SSH creds into `/home/git/.ssh` by default (which git automatically uses) here https://github.com/tektoncd/catalog/blob/1de628290778ad5063450a2a9edffda690c119e3/task/git-clone/0.9/git-clone.yaml#L184

I'm successfully cloning SSH git repos but getting the warning, I presume because the Task is not putting them into `/tekton/creds` where git-init expects it? How

[2022-11-09 18:35] JeromeJu opened #5740 "Post V1 CRD Release"
### Feature request

This issues summarizes the issues that are unblocked once V1 CRD has been released.

- Sync examples
  - specifically add PodTemplate examples for taskRunTemplate
  - add resolver etc. to beta folder
  - examples that are added during the existence of #5579
- https://github.com/tektoncd/pipeline/issues/5734
- https://github.com/tektoncd/pipeline/issues/5663
- https://github.co

[2022-11-09 18:36] JeromeJu commented on #5740
/assign

[2022-11-09 18:39] JeromeJu commented on #5740
cc @afrittoli @dibyom @lbernick

[2022-11-09 18:48] abayer opened #5741 "Webhook conversion error logged for resolutionrequest"
[code]

I'm not entirely sure what I did wrong here, but I definitely did _something_ wrong.

EDIT: Oh, I forgot to add a `conversion` entry for `ResolutionRequest`. D'oh. PR incoming.

/kind bug

[2022-11-10 11:02] #5741 closed

[2022-11-10 15:51] lbernick commented on #5248
Pod naming for taskruns isn't part of our api-- we don't make any guarantees about pod naming not changing and I don't think we should. Are other projects getting the pod associated with a taskrun by making an api call for a pod named `taskrunname-pod`? or are they using `taskrun.status.podname`? Maybe you could give a bit more detail on how the pod name is being used?

I was thinking the pipeline

[2022-11-10 16:18] lbernick commented on #4235
I don't know of any plans to implement this feature at the moment, but it sounds like it would add a lot of value for your team. Would you consider [proposing a TEP](https://github.com/tektoncd/community/blob/main/process.md#proposing-features) for this?

[2022-11-10 23:34] #5707 closed

[2022-11-11 13:46] michaelsauter commented on #4235
@lbernick Sure: https://github.com/tektoncd/community/pull/877. Let me know how I can help to move this forward.

[2022-11-11 15:55] lbernick commented on #4235
Thanks Michael! We will see if anyone is able to review the proposal at our regular monday working group. Other great ways to get eyes on the proposal are to post on the #tep channel on the tekton slack or highlight your proposal on the tekton-dev or tekton-users mailing list. [This doc](https://github.com/tektoncd/community/tree/main/teps#tekton-enhancement-proposals-teps) has a bit more detail o

[2022-11-14 10:13] enarha commented on #3452
As of today the documentation is still not updated and the instructions here https://tekton.dev/docs/installation/pipelines/#installing-tekton-pipelines-on-openshift still result failures which is quite confusing given they are pretty short and straightforward.

[2022-11-14 12:20] cugykw opened #5749 "able to get task results from failed tasks"
### Feature request

We have a pipeline with a scan task that generates a report file. In addition, this scanning task will act as a gatekeeper, and the task will fail when there are serious vulnerabilities. In general, a report file is generated and there is a corresponding link. There is a final task that will send a message containing this link to the triggering user.

But now once the scan tas

[2022-11-14 15:33] XinruZhang opened #5751 "Built-in `Retries` support for CustomRun"
### Feature request

Collected from Andrea's [comment](https://github.com/tektoncd/community/pull/879#issuecomment-1313895900), thanks!

It would work as follows:

[2022-11-14 22:30] XinruZhang opened #5753 "TEP-0121: Task-level Timeout is for each retry attempt for both `TaskRun` and `CustomRun`."
- [x] https://github.com/tektoncd/pipeline/issues/5754
- [x] https://github.com/tektoncd/pipeline/issues/5158

[2022-11-14 22:36] XinruZhang opened #5754 "TEP-0121: Example code for `v1beta1.CustomRun`"
We need an example Custom Task Controller to show the right way to:
- set `ConditionSucceeded` as `False` after exhausting all `retries`.
- set `Timeout` for each retry attempt.
- fill in `RetriesStatus`.

---

- [x] [An example of defining standalone CustomRun: example_customrun.yaml](https://github.com/tektoncd/pipeline/blob/main/test/custom-task-ctrls/wait-task-beta/example_customrun.yaml)
- [

[2022-11-14 22:40] XinruZhang opened #5755 "TEP-0121: Implement `Retries` in TaskRun reconciler"

[2022-11-14 22:41] XinruZhang opened #5756 "TEP 0121 - TaskRun Retries"
Create this issue to track the implementation of `TaskRun` `Retries`:
- [ ] https://github.com/tektoncd/pipeline/issues/5753
- [ ] https://github.com/tektoncd/pipeline/issues/5755
  - Pipeline Controller uses `Condition.Succeeded` to determine the termination of a TaskRun
- [ ] https://github.com/tektoncd/pipeline/issues/5810

[2022-11-14 23:19] XinruZhang commented on #5756
/assign

[2022-11-14 23:19] XinruZhang commented on #5755
/assign

[2022-11-14 23:19] XinruZhang commented on #5754
/assign

[2022-11-14 23:19] XinruZhang commented on #5753
/assign

[2022-11-14 23:21] XinruZhang commented on #5756
/kind feature

[2022-11-14 23:21] XinruZhang commented on #5755
/kind feature

[2022-11-14 23:21] XinruZhang commented on #5754
/kind feature

[2022-11-14 23:21] XinruZhang commented on #5753
/kind feature

[2022-11-15 03:04] #5455 closed

[2022-11-16 16:51] JeromeJu commented on #5193
Current update:
- Trying to debug
[code]

Previous assumptions:
- might disappear with the kind cluster change

I think there're 2 things here:
- not sure if the --repo arg worked for catalog test or if it's path_alias
- why it didn't work for the upgrade test

And my questions are about:
- where does it clone the --repo if it's what worked for the catalog test (didn't seem to find it in the runne

[2022-11-16 21:08] masseybradley commented on #1187
This is an example prow config for a tekton job:
[code]

With an example tekton pipeline and task:
[code]
... using tekton v0.36.0, prow v20220705-20e880da9b, and prow pipeline. Need to use the [legacy prowjob CRD](https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/prowjob-crd/legacy/prowjob-schemaless_customresourcedefinition.yaml) (`pipeline_run_spec` doesn't handle passing

[2022-11-16 22:08] Ganiredi opened #5769 "Array indexing for v1beta1"
### Feature request

Hi Team ,I come up with a problem where we are using v1beta1 and we are trying to use array indexing for default values to pass those in steps.As i am aware this feature in alpha,But my team was not a in place to upgrade it to newer version just because of one task that it requires.So as this feature is not available in v1beta1 ,is there any chance that could added in next res

[2022-11-17 13:24] email2smohanty commented on #1684
We have a strict requirement of not stopping the pipeline if any task is failing and it can not be achieved through `finally`, also we can not run the tasks in parallel. Based on this issue and tekton documentation I am assuming that we do not any configuration or setting at pipeline level to continue the pipeline execution in case of task failure. So can anyone please suggest how to tackle this i

[2022-11-17 13:53] afrittoli commented on #1684
@email2smohanty the current behaviour of `PipelineRun` is that as soon as `Task` fails, no new `TaskRun` will be scheduled, and the ones that are currently running will run to completion. Depending on the topology of the `PipelineRun`, there may be `TaskRun` that could have been executed, but we're not because we already know that the pipeline would fail.

If I understand correctly, you would like

[2022-11-17 14:39] XinruZhang opened #5771 "Indent missmatches after running `.hack/update-codegen.sh`"
### Feature request

`./hack/update-codegen.sh` should avoid using `tab` to indent.

### Use case

In https://github.com/tektoncd/pipeline/pull/5765, I updated Custom Task API Spec by adding new fields. Per https://github.com/tektoncd/pipeline/blob/main/hack/README.md, I ran `./hack/update-codegen.sh` to generate corresponding client code and pushed the PR.

However, our CI failed to build (`pull-

[2022-11-18 03:44] email2smohanty commented on #1684
Yes @pritidesai I am looking for a feature which you have mentioned i.e [ignoring a task failure at the pipeline authoring time](https://github.com/tektoncd/community/blob/main/teps/0050-ignore-task-failures.md). Currently is this feature available as an alpha feature?

[2022-11-18 03:49] email2smohanty commented on #1684
@afrittoli thanks for responding to my comment, you mentioned that There are some features in Tekton today that we could use to achieve something like that - as mentioned in https://github.com/tektoncd/pipeline/issues/1684#issuecomment-794253474. But my understanding is that whatever the features mentioned in said comment are in `Implementable` state or `Proposal` state. Or these features are avai

[2022-11-18 05:18] pritidesai commented on #1684
Hey @email2smohanty this feature is not implemented yet. We are looking for help or if someone is available we can guide on how to implement this. Once implemented, yes it will be an alpha feature.

[2022-11-18 07:23] simonlaw0711 opened #5772 "Cannot pass params from pipelinerun inside trigger template to pipeline"
# Expected Behavior
My params defined in pipelineRun inside triggerTemplate should work

# Actual Behavior
`PipelineRun tekton-pipelines parameters is missing some parameters required by Pipeline build-deploy-stage-qxtqs's parameters: PipelineRun missing parameters: [environment]`

# Steps to Reproduce the Problem

[code]

[code]
# Additional Info

- Kubernetes version:

  **Output of `kubectl ver

[2022-11-18 08:31] afrittoli commented on #5183
/lifecycle frozen

[2022-11-18 09:59] VannTen commented on #1879
For the record, I recently hit this. I was assuming to be able of doing this (Use a pipeline params directly inside an embedded taskSpec).

[2022-11-18 16:34] #5633 closed

[2022-11-18 18:50] dibyom commented on #1879
@VannTen - we have support for propagated parameters now which should enable this: https://github.com/tektoncd/pipeline/blob/main/docs/taskruns.md#propagated-parameters

[2022-11-18 21:42] XinruZhang opened #5775 "Separate the Custom Task Documentation for different audience group"
### Feature request

Currently, the audience of [Custom Task documentation](https://github.com/tektoncd/pipeline/blob/main/docs/runs.md) is mixed -- for both end users and developers. It would be cleaner if we have separate documentation for different audience groups.

[2022-11-19 14:03] jimmyjones2 opened #5776 "Allow PVC of completed PipelineRun to be deleted"
### Feature request

For PVCs specified as part of a PipelineRun with `volumeClaimTemplate`:

* Once a PipelineRun has completed, remove the `pvc-protection` finalizer from the PVC to allow it to be deleted by the user (similar to https://github.com/argoproj/argo-workflows/issues/6629)
* Provide an option to automatically delete the PVC on completion of PipelineRun

### Use case

If a PVC is speci

[2022-11-21 06:27] huangjingfang opened #5778 "Error handling on api-server unstable"
Hi, tekton team.
Recently I find a case in my cluser: some TaskRun occasionally stopped with status TaskRunResolutionFailed. and the reason is the api servers is unavaiable, such as 'connection refused' or 'the server is currently unable to handle the request'. in tekton, this TaskRun's status will be set to TaskRunResolutionFailed.

This produce a very strange behaver,  for example, one of my pip

[2022-11-21 15:04] JeromeJu commented on #5541
Would like to confirm the understanding on the part iii.

Basically what is needed here is changing most `v1beta1` to `v1` in reconcilers and regarding directories. While for the deprecated fields, I am referring to the previous [v1alpha1 to v1beta1 changes](https://github.com/tektoncd/pipeline/pull/2577/files#diff-6e67e9c647bbe2a08807ff5ccbdd7dc9036df373e56b9774d3996f92ab7ceaba) and in the exampl

[2022-11-21 15:06] lbernick commented on #5541
Yes, that sounds right to me!

[2022-11-21 15:19] Allure996 opened #5779 "TaskRun failures dued to k8s PodSecurity"
# Expected Behavior
I can run the tutorial pipeline to clone a repo

# Actual Behavior
The pipeline fails for PodSecurity configurations
# Steps to Reproduce the Problem

1.Copy the files [here](https://tekton.dev/docs/how-to-guides/clone-repository/#full-code-samples)
2. Apply them to k8s cluster (I'm using kubectl v1.25.1 on minikube)
3. watch as the pipelinerun fails

# Additional Info

- Kuber

[2022-11-21 15:41] Allure996 commented on #5779
Quick update:
I succeded in making the PipelineRun running but I had to modify the labels on my namespace with

[code]

[2022-11-21 16:01] JeromeJu commented on #5452
/assign

[2022-11-21 16:56] XinruZhang commented on #5775
To keep track of [this comment](https://github.com/tektoncd/pipeline/pull/5677?notification_referrer_id=NT_kwDOAm_MBLM0NjcyODIxMDQxOjQwODgxMTU2#discussion_r1028298897), we need to get the following topic covered:

- For end users, clarify when to use `unnamed CustomRun` and `named CustomRun`
- For custom task authors, clarify whether they should support `unnamed CustomRun`

[2022-11-22 09:22] AlanGreene commented on #5357
/remove-lifecycle stale This is still needed.

[2022-11-22 09:22] AlanGreene commented on #5357
This is still needed.
/remove-lifecycle stale

[2022-11-22 11:13] Fabian-K commented on #3404
Looks like 0.39.x uses a version of knative that already contains the fix. Because the fix was only backported to 0.35.1, it is currently not possible to use sharding in tekton 0.36.x, 0.37.x and 0.38.x.
We are currently running 0.35.1, I´ll try upgrading to 0.39!

[2022-11-22 12:00] AlanGreene commented on #5779
Have you tried applying the files in another namespace, e.g. `default` as in the tutorial? This should not be subject to the same restrictions.

I believe it's good practice not to run your pipelines in the `tekton-pipelines` namespace, it is intended for the Tekton controllers only.

[2022-11-22 12:05] AlanGreene commented on #5778
v0.17.3 is a very old release, over 2 years old now. There have been many changes and improvements to Tekton Pipelines since. Do you see the same behaviour with a recent release?

[2022-11-22 16:14] abayer commented on #5771
Yeah, I've seen this pop up but haven't reproduced it myself (though I'm running `update-codegen.sh` on my new M1 for the first time as we speak, so maybe I'll see it now?) and have never been able to figure out what's causing it.

[2022-11-22 16:39] JeromeJu opened #5782 "Add client/server compatibility tests"
This issue tracks the improvement of upgrade test for preventing regression as noted in #5193:

[code]

We should add a step where we run integration tests on the older server version (before upgrading the server). This will address the first type of regression detailed here. When we do make a breaking change purposefully (after deprecating a field), I would imagine we'd remove tests for this func

[2022-11-22 16:40] JeromeJu commented on #5782
/assign

[2022-11-22 16:49] JeromeJu commented on #5193
/close
Closing as currently the upgrade test is running in prow at https://prow.tekton.dev/view/gs/tekton-prow/logs/ci-tekton-pipeline-upgrade-tests/1594874572958601216. While https://github.com/tektoncd/pipeline/issues/5782 is created to track down the following improvement for regression.

[2022-11-22 17:14] #5193 closed

[2022-11-22 23:13] JeromeJu opened #5785 "Decide whether to remove `resources` from the codebase"
This issue is opened for further discussion about whether we should remove the `resources`-related fields and respective supports. The current approach we went for includes keeping the deprecated `resources` and its related fields where it has been serialized in the conversions. However, this is brought up to discussion in the PR when releasing V1 CRD.

The goal of this issue is to make sure that

[2022-11-23 12:55] gujiwork opened #5788 "I am getting pipelinerun result using the tekton client and the field taskRuns returned is out of order. How do I sort the tasks in order?"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem
I am getting pipelinerun result using the tekton client and the field taskRuns returned is out of order. How do I sort the tasks in order?
1.
[code]
2.
[code]
3.
The data I expect to return should be
[code]
# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Ou

[2022-11-23 14:36] #5703 closed

[2022-11-23 15:25] #5769 closed

[2022-11-23 15:32] lbernick commented on #5769
Also, https://github.com/tektoncd/pipeline/issues/5632 tracks allowing alpha features to be enabled individually instead of all or nothing

[2022-11-23 16:59] muxmuse commented on #5359
My workaround is to let less privileged users (_users_) only use eventlisteners to create taskruns or pipelineruns. This allows to specify volumes and other runtime parameters in prior aswell. Without knowing the required amount of work for the implementation, I could imagine a custom kubernetes verb `create/run` applicable to tasks, pipelines, and triggerbindings(?) such that kubernetes RBAC can

[2022-11-24 14:27] vdemeester commented on #2746
@afrittoli I think this might be closeable ?

[2022-11-24 17:47] afrittoli opened #5790 "Run and CustomRun documentation"
# Expected Behavior

It's clear in the documentation that `CustomRun` is the beta version of `Run`

# Actual Behavior

The two resources are documented independently, but there's no mention to their relationship in the docs.

<img width="1369" alt="image" src="https://user-images.githubusercontent.com/2205608/203842747-acd5607f-0b1a-47fb-a786-e0f27733cbdc.png">

# Additional Info

- Tekton Pipelin

[2022-11-24 17:52] afrittoli opened #5791 "Front matter missing in several new docs"
# Expected Behavior

All pipeline documentation pages are shown in the navigation once rendered on tekton.dev/docs

# Actual Behavior

Many markdown files have no front matter specified, which results in links with no text:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/2205608/203843259-91a392b4-7d0a-4e06-a7a1-84fece7fb18b.png">

Note the link to the bundle resolver

[2022-11-24 17:53] afrittoli commented on #5791
/cc @abayer

Once this is fixed on main, we need to cherry-pick to the relevant branches to fix the website

[2022-11-24 19:03] JeromeJu opened #5793 "Improve `./test/examples_test.go` for V1 CRDS"
The [examples_test](https://github.com/tektoncd/pipeline/blob/main/test/examples_test.go) needs to be updated with the V1 client version to have v1 Status testing:

For these to add status succeeded check:
- https://github.com/tektoncd/pipeline/blob/main/test/wait.go#L91
- https://github.com/tektoncd/pipeline/blob/main/test/wait.go#L167

Thanks @XinruZhang for the catch, confirmation and findings

[2022-11-24 20:48] pst opened #5795 "ClusterRoleBinding tekton-pipelines-resolvers has namespace set"
ClusterRoleBindings are not namesapce scoped, but the [`tekton-pipelines-resolvers` ClusterRoleBinding has a namespace set](https://github.com/tektoncd/pipeline/blob/c6ba630e38ed9766ee148b11c18fdc01a20dab5e/config/resolvers/201-clusterrolebinding.yaml#L19).

- Tekton Pipeline version:

This "namespaced" ClusterRoleBinding made it into the release.yaml of the v0.42.0 release.

[2022-11-25 00:31] JeromeJu commented on #5793
/assign

[2022-11-25 14:52] Faraaaaaaaaaaaa commented on #5795
/meow

[2022-11-26 12:20] yuzp1996 opened #5802 "Pipelinerun should not be failed if some of the results do not exist."
# Expected Behavior
Pipelinerun should not be failed if some of the results do not exist. It is more like a warning but not an error.

# Actual Behavior
If any of results in pipelineRun do not exist, pipelineRun will be fail.

# Steps to Reproduce the Problem

1.  Deploy pipeline with latest commit
2. Apply task pipeline and pipelinerun  to cluster
[code]
3. Check pipelineRun status

<img width="1

[2022-11-27 13:28] yuzp1996 opened #5803 "result value type is not same as defined"
# Expected Behavior
When defining the result type as string, the result value should be a string no matter what data it contains.
# Actual Behavior
If the string data is JSON then the result type will be recognized as object and cause pipelineRun to fail.

# Steps to Reproduce the Problem

1. Deploy pipeline with the latest commit
2. Apply task pipeline and pipelineRun to cluster
[code]
3. Check t

[2022-11-27 23:26] JCzz opened #5804 "tkn - could not find the requested resource"
Running [these][1] examples, when getting to:

    tkn pipelinerun logs hello-goodbye-run -f -n default

I get this error:

    Error: the server could not find the requested resource (get pipelineruns.tekton.dev hello-goodbye-run)

The pipeline is there:

    kubectl get pipelinerun -A
    NAMESPACE   NAME                SUCCEEDED   REASON      STARTTIME   COMPLETIONTIME
    default     hello-goo

[2022-11-28 13:37] afrittoli commented on #5791
Complete list of path on the website with no link title:

[code]

[2022-11-28 15:51] jwitrick commented on #4731
This is a side topic... but do you have an example of your task/pipeline configured to use istio?  I am facing a similar issue where my NS has istio-injection enabled and my task will keep hanging around (like you described above).

[2022-11-28 15:54] #5790 closed

[2022-11-28 17:15] JeromeJu commented on #5785
AI:

- [ ] Validations
- [ ] Comments/ documents on the conversion

[2022-11-28 17:21] abayer commented on #5795
Oops! Good catch.

[2022-11-28 17:49] JeromeJu opened #5805 "Add validation for JSON annotations stored in v1 CRDs"
This is brought up in the api WG and we would like to have validations of the annotations serialized for `resources` to be valid when converting down from `v1` to `v1beta1`. The validations need to make sure that the controller doesn't panic if it attempts to deserialize invalid JSON from annotations.

The goal of this issue is to make sure the conversion would not cause any error. Can be closed a

[2022-11-28 17:49] JeromeJu commented on #5805
/assign

[2022-11-28 17:50] JeromeJu commented on #5785
Closing as the consensus is reached during WG and `resources` will be kept supported in the code base while being serialized into annotations when converted to v1.

https://github.com/tektoncd/pipeline/issues/5805 is created as a follow up issue of the AI

[2022-11-28 17:50] JeromeJu commented on #5785
Closing as the consensus is reached during WG and `resources` will be kept supported in the code base while being serialized into annotations when converted to v1.

https://github.com/tektoncd/pipeline/issues/5805 is created as a follow up issue of the AI

[2022-11-28 17:50] #5785 closed

[2022-11-28 23:12] #5793 closed

[2022-11-29 09:37] afrittoli commented on #5791
https://docs.google.com/spreadsheets/d/1HknnR5FDSPgLJlI7kbtPsUlvL1nGvYeIZA7vKti05os/edit?usp=sharing

[2022-11-29 14:40] JeromeJu opened #5808 "Changing all ducktype status to use knative duckv1 type"
This issue tracks the change to be made for switching all the ducktype status to use `duckv1` as they are essentially the same struct in knatives. According to https://github.com/knative/pkg/issues/2655#issuecomment-1330683324, we should change all the duck type status fields and respective conversions as the [ConvertTo](https://github.com/tektoncd/pipeline/blob/bb3b1ae5948f0460ee7de753f2d8405eb68

[2022-11-29 15:00] abayer commented on #5791
Is there a way to have a further level of nesting in the sidebar? It seems silly to put the 8 resolver-related links all directly under `Tasks and Pipelines`, but I don't have any idea how the site gets generated and therefore don't know how to do that, or if it's even possible. =)

[2022-11-29 15:03] afrittoli commented on #5791
Yeah, I think we need further nesting, and not only for the resolvers.

I prepared [this table] as a basis for discussing this exactly - once we agree on the nesting we want we can look for a technical solution on how to achieve it.

[2022-11-29 15:13] JeromeJu commented on #5808
/assign

[2022-11-29 15:21] abayer commented on #5791
You forgot the link for `[this table]`. =)

[2022-11-29 16:02] afrittoli commented on #5791
https://docs.google.com/spreadsheets/d/1HknnR5FDSPgLJlI7kbtPsUlvL1nGvYeIZA7vKti05os/edit?usp=sharing

[2022-11-29 17:21] vdemeester commented on #5407
/remove-lifecycle stale

[2022-11-29 17:28] vdemeester commented on #5355
/remove-lifecycle stale
I think we still need to discuss / handle this.

[2022-11-29 17:40] #5153 closed

[2022-11-29 17:53] XinruZhang opened #5810 "Pipeline controller stop relying on `retriesStatus` for Custom Task"
### Feature request

For now, Pipeline Controller relies on`retriesStatus` to determine the termination status of Custom Task.

The dependency has been removed for `v1beta1.CustomRun` in https://github.com/tektoncd/pipeline/pull/5844

We need to remove the dependency after deprecating `v1alpha1.Run`. But this is not a blocker for the TEP-0121 implementation.

- [x] https://github.com/tektoncd/pipe

[2022-11-29 17:58] #5808 closed

[2022-11-29 18:00] geriom commented on #5791
Totally agree. This seems like a great topic to discuss in the docs team meeting. Adding it to the agenda.

[2022-11-29 18:36] geriom commented on #5791
I going to work on a couple of proposals to improve the way the information is display and share them in the pipelines meeting to discuss.

[2022-11-29 19:50] XinruZhang commented on #5730
/duplicated with https://github.com/tektoncd/pipeline/issues/5730

[2022-11-29 19:50] #5730 closed

[2022-11-30 01:07] chuangw6 commented on #5803
Thanks @yuzp1996 for filing this ticket.

I think the reason for this is that when we do [unmarshal](https://github.com/tektoncd/pipeline/blob/83af16733e00b7572d2156e73b8266c71766a43e/pkg/apis/pipeline/v1beta1/param_types.go#L143-L182), we infer the result/param type based on the characters in the JSON-encoded data.

But I do agree that "the result value should be a string no matter what data it c

[2022-11-30 01:11] chuangw6 commented on #5803
cc @Yongxuanzhang

I see we [removed the TODOs](https://github.com/tektoncd/pipeline/commit/795e720e3928bb35d06d5d8576879ad09443c958#diff-1d8c8017631ff12ab411b4fba64245aa3706a8593d19580a3d421a2c96de2e18) for checking the type from unmarshal against the user defined result type. Have we completed this somewhere else?

[2022-11-30 03:29] Yongxuanzhang commented on #5803
Hi @yuzp1996, thanks for raising this issue and sorry this is a breaking change for you.

Yes that's why it will cause error, since we compare the type of emitted result and the type defined for the results. If the result is emitted as json object then the type is inferred as object, and it will fail. (same for array).
Reference example in tep:
https://github.com/tektoncd/community/blob/main/teps/

[2022-11-30 03:45] Yongxuanzhang commented on #5802
Hi @yuzp1996 again thanks for raising this issue and I'm happy to discuss. I think this behaviour is expected. Since you want to refer a result in pipeline but it doesn't exist (the result is not emitted). This seems like an error that needs to fixed by how we define the pipeline, task or how the results are emitted?

I may be wrong. Feel free to leave any suggestions!
Thanks!

[2022-11-30 03:48] Yongxuanzhang commented on #5804
Hi, could you provide more details like your tkn version, Tekton pipeline version?
I cannot reproduce this issue.

[2022-11-30 03:54] Yongxuanzhang commented on #5788
Hi, did you mean you want to get the taskruns in the order they are defined in the pipeline?
If so, it seems that the order in pipelinerun is indeed not the one we defined

[2022-11-30 06:55] JCzz commented on #5804
Thanks.

[code]

I dont know how to get the pipeline version

[2022-11-30 10:13] AlanGreene commented on #5804
That's a very old `tkn` version, you could also try `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'` or manually inspect the labels on the controller to find the version.

[2022-11-30 10:27] vdemeester commented on #5804
@JCzz are you running OpenShift ? (if yes `tkn version -n openshift-pipelines` might help). In any case, as @AlanGreene said, this is a very old `tkn` version. It might only support "talking to" `v1alpha1` API, and you might run a cluster where there is only `v1beta1` API for tektoncd/pipeline.

Ideally, you should probably get the latest version of `tkn` 👼🏼

[2022-11-30 10:33] vdemeester commented on #5788
Hey @gujiwork, as @Yongxuanzhang said, we do not guarantee the order of the `TaskRun` in the status. The "only way" to get the real order is to look at when the TaskRun started (`startTime`) and order them based of that. But this need to be done on the clientside.

[2022-11-30 10:38] vdemeester commented on #5802
Hey @yuzp1996, agreeing with @Yongxuanzhang, this is an expected behavior. There is a [TEP](https://github.com/tektoncd/community/blob/main/teps/0048-task-results-without-results.md) discussing this a bit I think.

[2022-11-30 10:43] vdemeester commented on #5803
@chuangw6 @Yongxuanzhang I think this is similar to https://github.com/tektoncd/pipeline/issues/5414 am I right ?

I do think we should assume the users do "not" forget to add the type. I would lean towards making the controller as "less smart" as we can. If the type of a result is string, we add the content as a string, if the type is array or object, we parse, etc.. I really do think the case of

[2022-11-30 13:26] Allure996 commented on #5779
Hi @AlanGreene thanks for your response, I've tried to change namespace into default and it worked as expected.
In general which is a good namespace in which I can run my Pipelines? Let's say I'm trying to deploy a project (so many k8s manifests):is the namespace the same in which I want to deploy? Or should I plan to create an ad hoc namespace for the Tekton resources to run?

[2022-11-30 13:36] AlanGreene commented on #5779
In general I would use different namespaces for different purposes. So I would have my application deployed in one namespace and run my CI/CD pipelines in another (possibly multiple), in fact I may even use different clusters depending on the level of isolation required. It depends on your particular circumstances and requirements.

[2022-11-30 13:38] Allure996 commented on #5779
Crystal clear! Thank you for the explanation

[2022-11-30 14:33] Fabian-K opened #5812 "Conversion Webhook Log"
### Feature request

The log output of the conversion webhook does not contain much helpful information. Currently, I can only see that a conversion happened, however, I don´t know what object was converted or to what version. This could be helpful to see if any clients still rely on an old version and if upgrading tekton pipelines to https://github.com/tektoncd/pipeline/releases/tag/v0.38.1 is ac

[2022-11-30 15:18] lbernick commented on #5805
If the annotations contain invalid JSON, conversion will [return an error](https://github.com/tektoncd/pipeline/blob/83af16733e00b7572d2156e73b8266c71766a43e/pkg/apis/version/conversion.go#L47-L50) rather than panicking, so I don't think there's any remaining work here, feel free to reopen if needed.

[2022-11-30 15:18] #5805 closed

[2022-11-30 15:53] Yongxuanzhang commented on #5802
Oh thanks! I remembered I saw it somewhere. TEP-48 is in progress and once it is implemented it should "fix" this issue as well. Since it will allow you to add default results to avoid the failure.

Again feel free to provide any suggestions. @yuzp1996

[2022-11-30 16:00] Yongxuanzhang commented on #5803
Yes it is similar.
Sure! I will open a PR to fix this.
Thank you for providing such a detailed ticket! @yuzp1996 It is well written!

[2022-11-30 16:20] JeromeJu opened #5813 "Handle PipelineRun conversion when `embedded-status` flag is set to "full" or "both""
This issue aims point out the needs to handle PipelineRunStatus conversion when embedded-status flag is set to "full" or "both". It tracks the information loss depending on `embedded-status` flag when converting ChildReferences to `TaskRuns` and `Runs` status. Specifically in the case where:
- Users creates a v1 PipelineRun CRD without `TaskRuns`/ `Runs` but with `ChildReferences`, converted to v1

[2022-11-30 17:21] JeromeJu commented on #5813
Findings:

- Embedded status: full:
  -

[code]

[2022-11-30 17:22] JeromeJu commented on #5813
- `minimal` - Just populate `status.childReferences`, not `status.taskRuns` or `status.runs`.
- `both` - Populate `status.childReferences` as well as `status.taskRuns` and `status.runs`.

[2022-11-30 17:26] JeromeJu commented on #5813
Embedded status:
- `full` - The current default behavior of populating `status.taskRuns` and `status.runs`, without populating `status.childReferences`.
[code]

[2022-11-30 17:33] JeromeJu commented on #5813
/assign

[2022-11-30 17:43] JeromeJu commented on #5813
Looking at https://github.com/tektoncd/pipeline/blob/main/pkg/reconciler/pipelinerun/pipelinerun.go#L1299-L1302

[2022-11-30 17:44] JeromeJu commented on #5813
V1 PR yaml:
[code]

[2022-11-30 17:59] Yongxuanzhang commented on #5803
/assign

[2022-11-30 19:05] #4983 closed

[2022-11-30 19:28] #2746 closed

[2022-11-30 20:40] bendory commented on #5611
Should this be closed as resolved / not reproducible? Is a documentation update needed?

[2022-11-30 21:02] chuangw6 opened #5818 "Inconsistency of Required v.s. Optional fields across docs."
# Expected Behavior

Required fields v.s. optional fields in PipelineRun status should be consistent across documentations.

# Actual Behavior

[docs/pipelinerun.md](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#the-status-field) documents that `startTime` and `completionTime` are required fields in PipelineRun status, but the [docs/pipeline-api.md](https://github.com/tektonc