[2020-06-11 19:14] gpaul commented on #1680
Lovely!

[2020-06-11 19:37] pritidesai commented on #1680
indeed, all thanks to @afrittoli 🙏

[2020-06-11 21:22] bitsofinfo opened #2812 "Feature: expression support in $()"
Would be great to be able to do something like this in a Task (or anywhere `$()` variable syntax is supported)

[code]

CEL is supported in triggers CEL interceptors, would be great if just globally available in all of tekton.

[2020-06-11 22:08] bobcatfish opened #2813 "Completed steps within a pod will re-run if restarted for some reason"
# Expected Behavior

Once a step in a TaskRun completes, it should not run again. If the entire pod was rescheduled before the TaskRun completed, perhaps all steps should start again, but if something triggers the re-creation of only containers within a pod, they should not run again.

# Actual Behavior

The entrypoint binary will wait for it's waitfile to exist, then run, then write the file that

[2020-06-11 22:11] bobcatfish commented on #2813
* here is a dump of the pod: https://gist.github.com/bobcatfish/47402f9e66ff30b3fc3a6f0026c5bdba
* here is a describe of the pod: https://gist.github.com/bobcatfish/aa4febd1da0ec521e389dc9d28d06338
* here are some maybe relevant kubelet logs: https://gist.github.com/bobcatfish/6aef43da83690937a467104e3c7584dc

[2020-06-11 22:16] bobcatfish commented on #2813
/type bug

[2020-06-11 22:21] bobcatfish commented on #2813
![image](https://user-images.githubusercontent.com/432502/84444721-64463b80-ac10-11ea-81d4-a46008798050.png)

[2020-06-11 22:25] bobcatfish commented on #2812
@bitsofinfo could you give some examples of the kinds of things you'd like to use CEL for? Before we add CEL support fullstop we'd want to make sure it's the best solution to meet your needs.

note we are also exploring CEL and JSONPath for conditions: https://github.com/tektoncd/pipeline/issues/2127

If you need CEL mostly for expression evaluation, we've talked before about adding JSONPath suppo

[2020-06-11 22:26] bobcatfish commented on #2812
( @ImJasonH maybe another use case for the CEL custom task? :D)

[2020-06-12 10:49] afrittoli opened #2814 "Instrument Tekton resources for tracing"
# Expected Behavior
I am able to analyse where the time is spent during an execution of a task or pipeline.
I can break down the execution time into time spent reconciling logic, fetching resources, pulling images, running containers, and more.

# Actual Behavior
Right now with opencensus metrics we have data about the overall duration but no breakdown view.

# Additional Info
We could instrument

[2020-06-12 12:45] bobcatfish commented on #2050
@fenglixa I think that @GregDritschler has been continuing to iterate on [the design he proposed](https://docs.google.com/document/d/1P8gse1TCxJEDnj9oonl-_l3T4n2uO15bqbon4lHWD1Q/edit).

@ImJasonH has also been working on a mechanism to make it easier to prototype workflow features via ["custom tasks"](https://docs.google.com/document/d/10nQSeIse7Ld4fLg4lhfgUmNKtewfaFNET3zlMdRnBuQ/edit), which we m

[2020-06-12 13:48] bitsofinfo commented on #2812
@bobcatfish here is an example:

[code]

Others? well I don't have specifics beyond mine above. But I can just imagine how much i'd use such a capability to do simple string mutations without having to echo the params into shells for further mutation, it gets awkward. Triggers uses CEL and the functions provided by it for string manipulation works for me. Would be consistent to use that, but if JS

[2020-06-12 13:53] bitsofinfo commented on #2800
Yes I'm not interested in having to create/maintain another thing outside of tekton for capturing/monitoring for events and then making additional calls against tekton to react to those events.

I just need a simple way to get access to a task's exit code. Right now I'm hacking this with something like the below (only for off the shelf images that I can wrap). I obviously can't do this with an off

[2020-06-12 16:22] ImJasonH commented on #2813
Pods should not be rescheduled or re-run at all. It's better to fail the TaskRun than to potentially run even parts of it twice.

Maybe the answer is to have the entrypoint binary check whether its `-post_file` already exists (indicating that it may have already ran under mysterious circumstances), and not run (or fail loudly?) if that's the case.

[2020-06-12 18:46] dibyom opened #2815 "Nightly unit test failure due to race condition when initializing config stores"
# Expected Behavior

Nightly build unit test passes

# Actual Behavior

Nightly build unit test failed:

TaskRun is: `pipeline-release-nightly-gkd24-unit-tests-l2pdb `

Failure:
[code]

# Additional Info

- Tekton Pipeline version: v0.13.2

- I tried to reproduce this locally and failed:
[code]

[2020-06-12 18:52] dibyom commented on #2812
/kind feature

[2020-06-12 19:10] rvandegrift opened #2816 "Tekton upgrade 0.11.3 -> 0.13.2"
# Expected Behavior

There's no real upgrade docs, but some conversations on slack and github issues indicate 0.11+ upgrades should be smooth, just apply the new manifest.

# Actual Behavior
Today I upgraded from 0.11.3 -> 0.13.2.

Applying the new manifest didn't work.  First I applied in my nonprod cluster, and it failed with this error: https://gist.github.com/rvandegrift/f0a584aa8c2fa0a2a6ceb7

[2020-06-12 19:57] bobcatfish commented on #2816
Thanks for reporting this!

If it's not super inconvenient, I'm curious if you run into the same thing upgrading to 0.12. Np if you're already done upgrading and don't wanna try that tho.

[2020-06-12 20:59] rvandegrift commented on #2816
Sorry, already have both environments up and running again - would rather not mess with it right now.

Our installation isn't too exotic:
- GKE 1.15, w/Istio on GKE
- GCS for `config-artifact-bucket` storage
- GKE workload identity to provide GCP service account

[2020-06-13 07:13] cccfeng commented on #1281
Maybe you can look at [The default qps of kubeClient](https://github.com/tektoncd/pipeline/blob/master/vendor/knative.dev/pkg/injection/sharedmain/main.go#L144)

When the pipelineRun/taskRun is submitted simultaneously, we found that the first bottleneck is kubeClient. The QPS allocated to each controller by default is only 5. When the reconcile code relies on k8s apiserver, it will be restricted

[2020-06-15 10:22] vdemeester commented on #2813
by container you mean pod right ?

[2020-06-15 10:25] vdemeester commented on #2813
@bobcatfish is there any k8s logs before the error on duplicated named containers ?

[2020-06-15 10:26] vdemeester commented on #2815
@dibyom any logs below the `FAIL:` ? (to see where did it fail)
/area testing

[2020-06-15 11:23] ImJasonH commented on #2813
It sounded like the issue was that a single _container_ in the Pod was restarted, and when it restarted, re-ran the step again. It's possible this happened because the Pod restarted, but then a.) why wasn't `restartPolicy:Never` respected, and b.) why didn't other steps re-run?

I think we can be more defensive about re-running steps if we see a signal that we're running again. I don't know whethe

[2020-06-15 12:54] bobcatfish commented on #2134
[Tekton custom tasks](https://docs.google.com/document/d/10nQSeIse7Ld4fLg4lhfgUmNKtewfaFNET3zlMdRnBuQ/edit) would let us have this feature and more; planning to put this feature on hold until we have custom tasks and then we can decide if we want it as a top level feature or not.

[2020-06-15 12:56] vdemeester commented on #2813
This feel so weird as I initially thought a container couldn't restart on its own from k8s, but maybe it's on the runtime that there was a weird case…

I agree it make sense to be defensive in that case.

[2020-06-15 14:01] dibyom commented on #2815
Nothing unfortunately:
[code]

The command I used is :

`tkn tr logs pipeline-release-nightly-gkd24-unit-tests-l2pdb`

[2020-06-15 14:12] bobcatfish commented on #2816
Hey @rvandegrift , @jerop and I tried this out a bit and we found that going from 0.12.1 to 0.13.0 gave us the 'labelselector field is immutable' error (not sure about the endpoints error you ran into).

It looks like https://github.com/tektoncd/pipeline/pull/2501 introduced this but I failed to include it in the release notes. I'll update them now, thanks for calling this out!

I'm going to resol

[2020-06-15 14:44] bobcatfish commented on #2816
[code]

I just saw this error but im not sure what state I got into to cause it - I thought it might be a partial application from 12.1 to 13.0 but I couldnt reproduce it when I tried again 😨

[2020-06-15 15:11] afrittoli commented on #2448
@chhsia0 Are you still looking into this?

This may be rendered unnecessary by the pipeline resource redesign. If you feel this is high prio still feel free to bring it back at the API WG

[2020-06-15 15:13] afrittoli commented on #1826
@ImJasonH any special reason for this to be on the priority list? I will remove it for now, feel free to bring it back to the API WG if needed

[2020-06-15 15:17] bobcatfish commented on #1689
@afrittoli mentioned custom tasks in this context as well (https://github.com/tektoncd/pipeline/issues/215) - if we want to customtaskruns to have a similar structure to taskruns, maybe we dont want `podName` in the status?

[2020-06-15 15:17] bobcatfish commented on #215
@ImJasonH has been working on [a design for custom tasks in tekton pipelines](https://docs.google.com/document/d/10nQSeIse7Ld4fLg4lhfgUmNKtewfaFNET3zlMdRnBuQ/edit)

[2020-06-15 15:17] afrittoli commented on #1689
I will remove the label for now, until we have an agreement on it.
@ImJasonH perhaps would you like to bring it back to the API WG for discussion?

[2020-06-15 15:19] afrittoli commented on #1570
@skaegi feel free to bring this back to the API WG for discussion if it need priority attention

[2020-06-15 15:21] afrittoli commented on #1284
Depends-on on what we decide to do with pipeline resources. Removing the priority label for now

[2020-06-15 15:25] salaboy commented on #1542
@vdemeester or someone.. is there any update on this front?
Is there any public helm chart for pipelines?

[2020-06-15 15:28] bobcatfish commented on #753
I started turning this on for tektoncd/pipeline, looks like the next thing to do is fill in a bunch of questions at https://bestpractices.coreinfrastructure.org/en/projects/4020/edit

[2020-06-15 15:34] eddycharly commented on #1542
@salaboy we couldn't integrate this in the official repo, i've setup one here https://github.com/eddycharly/tekton-helm but it's not official

[2020-06-15 16:05] mattmoor commented on #2696
My point is that if you peel the onion a little bit the implications for the webhook are really not that different.  TBH, the webhook scares me a lot more than the CRD details.

Would it make sense to set up a quick call?  sometimes issues are a hard medium for discussing :D

[2020-06-15 16:45] R2wenD2 commented on #1522
Since (inputs) is no longer a field on the resource, I'll use (runtime.<name>) as the way to access names.

[2020-06-15 17:40] eddycharly commented on #2696
@mattmoor sure, let's discuss this tomorrow, on slack or something else, up to you

[2020-06-15 17:47] sbwsg commented on #2343
It took me way too long to fully understand the implications of this.  Essentially I think we're talking about removing any credentials-specific code from Tekton and simply relying on existing Kubernetes mechanisms (and/or external systems like Vault) for credential handling.  Is that right?  I can definitely see the desirability of this both from a user perspective (don't need to learn something

[2020-06-15 18:33] NavidZ commented on #2016
/assign

[2020-06-15 18:58] jlpettersson commented on #2343
Yes, thats how I meant about it. But I also see that it is not a very clear way forward.

I brought this up in last weeks API WG, and elaborated about this in https://github.com/tektoncd/pipeline/issues/2680

I also create a new git-clone-ssh PR https://github.com/tektoncd/catalog/pull/332/commits/92fb4a0e6b68e98c6d8027ff6ba34c9fe3aca325 that includes instructions on how to configure authenticatio

[2020-06-15 20:36] jlpettersson commented on #2814
Yes,  this is a great feature to have!

This has been discussed before, in terms of Observability, also with design docs were it as suggested that this problem was "tracy" for Tekton, but only the metric part was implemented. Related issues: https://github.com/tektoncd/pipeline/issues/540 and https://github.com/tektoncd/pipeline/issues/164

Related article: [Reducing Build Time with Observability

[2020-06-15 22:33] gpaul commented on #1376
Ping?

The design doc says:

I'm still not clear: will my finally task run if my pipelinerun times out after 1h?

[2020-06-16 01:28] AhmaudArbery commented on #2814
I've been looking for a `good first issue`. May I take this on if no one is currently implementing it?

[2020-06-16 01:42] AhmaudArbery commented on #733
Can this be worked on? I'm looking for a first issue to take on.

[2020-06-16 01:52] mattmoor commented on #2696
Sure, hit me on tekton slack.  I'm usually online after about 8am PST

[2020-06-16 06:50] pritidesai commented on #2767
/assign

[2020-06-16 07:27] vdemeester opened #2822 "git-init: do not assume `master` as default branch"
As of today, when the user doesn't specific a revision (branch, commit, …), we are defaulting to `master`. There is some problems with that: `master` might not be present on the remote. The recent wave of change of default branches on several project, including https://github.com/spring-projects/spring-petclinic are putting this problem into light : see https://github.com/tektoncd/catalog/pull/365

[2020-06-16 09:45] vdemeester commented on #733
Of course :wink: You can do `/assign` to assign yourself to issue you are working on.

/assign @AhmaudArbery

[2020-06-16 14:39] #2708 closed

[2020-06-16 15:37] bobcatfish commented on #2738
I think we've successfully working around this and it seems like  GoogleContainerTools/kaniko#1297 probably won't have a solution for a while. Considering this resolved!

[2020-06-16 15:37] #2738 closed

[2020-06-16 15:37] bobcatfish commented on #2540
I don't think we've seen any evidence of this since @jlpettersson 's fixes, closing!

[2020-06-16 15:37] #2540 closed

[2020-06-16 16:22] mattmoor opened #2825 "Consolidate Result spec/status types across Pipeline/Task"
This is relevant to duck typed tasks, but I hit this in the context of trying to write some library code that deals with results (both spec/status) in a common way.

Right now the result types are identical, and the spec types only differ in this Value field:

[code]

We will want a common type for these to live in our duck type anyways, so we should think about consolidating these shapes.

/assig

[2020-06-16 17:29] #2016 closed

[2020-06-16 18:03] ImJasonH commented on #2825
Some context I didn't have before this bug: `PipelineResult`'s `Value` field exists to be able to express some derived result value of the Pipeline, as derived from some of its constituent Tasks' results.

[This example](https://github.com/tektoncd/pipeline/blob/648cff3dfe1330c5035492437adee6bf1670d941/examples/v1beta1/pipelineruns/pipelinerun-results.yaml) for instance:

[code]

So when this Pipe

[2020-06-16 18:26] mattmoor commented on #2825
One thing you can do there is to expose the same shape, but vary the validation.

This is a pretty common pattern for PodSpec, and ObjectReference (as widespread examples)

[2020-06-16 19:13] sbwsg commented on #2343
Looking at the [variable replacement code](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/container_replacements.go#L37-L46) it seems we might have a way to do this today as well.

A Task could declare:

[code]

I'm starting to come around to the idea that we might not need to provide Tekton-specific mechanisms for getting credentials into Tasks and Runs.  There are sti

[2020-06-16 19:37] bobcatfish commented on #2825
I wonder if it would make sense to separate how a pipeline declares it will have results from how the results are set

[2020-06-17 00:46] animeshsingh commented on #2767
@pritidesai thanks for tackling this - would love for this to be in master before v0.14 release, which i am hoping comes out some timeframe in July, and is adopted in ibm cloud for us to be able to leverage functionality finally on product side.

cc @Tomcli @skaegi

[2020-06-17 01:26] pritidesai commented on #2767
yup, working on a PR as we speak 👍

[2020-06-17 05:34] vinamra28 commented on #2822
/assign

[2020-06-17 12:37] bobcatfish commented on #1522
Totally minor thing but in the working group update this morning i was typing `runtime.taskRunName` and i'm wondering if it would make sense to make it `runtime.taskRun.name` in case we want to expose other taskRun type attributes one day (e.g. startTime or something)

[2020-06-17 14:04] danielhelfand opened #2827 "Remove PipelineTask Timeout in Favor of TaskRunSpecs"
As of #2389, PipelineRuns now support the ability to define runtime settings of TaskRuns associated with a PipelineTask.

Prior to this, #2038 was introduced as a way to specify a timeout for a PipelineTask. Seeing as it seems the design moving forward will be to define these runtime settings all via PipelineRuns/TaskRuns, would it make sense to remove the [Timeout property](https://github.com/tek

[2020-06-17 16:10] danielhelfand commented on #2827
/kind api-change

[2020-06-17 22:26] wlynch opened #2828 "Idea: Pipeline Mutexes"
This was an idea that @k floated to me awhile back, but I finally got around to making an issue to discuss. What I'm curious about:

- Is this a use case we want to focus on?
- Is this worth make this a built-in feature? (as opposed to a Catalog feature)
- Any other features / alternatives to consider

Details intentionally vague - this is a "should we do this?" issue, not a "how we'll do this" is

[2020-06-18 00:03] r0bj opened #2829 "Task with more than one workspace waiting forever to start"
# Expected Behavior

Task with more than one workspace starts.

# Actual Behavior

Task with more than one workspace waiting forever to start because it cannot attach volumes.

# Steps to Reproduce the Problem

1. There is a task (taskA) in pipeline which uses 2 workspaces
2. Pipelinerun starts, creates 2 different affinity-assistants
3. Because affinity-assistants use anti-affinity they are start

[2020-06-18 02:22] csantanapr opened #2830 "Failed to create TaskRun cannot decode incoming new object: json: unknown field "resources""
# Expected Behavior

For pipelinerun to start with no errors

# Actual Behavior

Pipeline errors

# Steps to Reproduce the Problem

1. Define task, pipeline, and pipeline run
2. Describe pipelinerun
[code]

Describe pipelinerun
[code]

# Additional Info

[code]

- Tekton Pipeline version:

[code]

[2020-06-18 02:24] csantanapr commented on #2830
@vdemeester I'm using OCP pipelines operator provided by RedHat 1.0.1

[2020-06-18 02:28] csantanapr commented on #2830
Same problem using v1alpha1
[code]
Describe output
[code]

[2020-06-18 03:13] csantanapr commented on #2830
I think I found the root cause, I installed the openshift pipeline community operator, then uninstall, then install the pipeline operator provided by RedHat.

I deleted the OCP cluster, and created a new one and this time I only install the pipelines operator provided by RedHat

[2020-06-18 03:13] #2830 closed

[2020-06-18 06:55] zzguang520 opened #2831 "Issues: Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: context deadline exceeded"
# Expected Behavior
 kubectl apply -f https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml
create successfully
# Actual Behavior
[root@master ~]# kubectl apply -f https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml
Error from server (InternalError): error when creating "https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml": I

[2020-06-18 07:21] vdemeester commented on #2829
/kind bug
/cc @jlpettersson

[2020-06-18 07:21] vdemeester commented on #2828
/kind feature

[2020-06-18 07:21] vdemeester commented on #2825
/kind cleanup

[2020-06-18 07:28] vdemeester commented on #2831
@zzguang520 can you share more detail on the kubernetes environment you deploy on ? It seems there is an issue with the internal network (and/or internal name resolution).

[2020-06-18 07:53] jlpettersson commented on #2829
No - by intention. When the Affinity Assistant was introduced, the docs was also updated so that we recommend _at most one_ writeable workspace per Task.

And this will happen if e.g. a pipeline starts with two parallel tasks - even without the Affinity Assistant.

In the worst case - these two volumes are located in two different Availability Zones - and your Pipeline is deadlocked - with or with

[2020-06-18 08:08] zzguang520 commented on #2831
@vdemeester, I used flannel for the clustered network, do you have a more detailed view of the network Settings?

[root@master ~]# kubectl get pod -n kube-system
NAME                                               READY   STATUS    RESTARTS   AGE
coredns-66bff467f8-6nk6r                           1/1     Running   7          29d
coredns-66bff467f8-zn25r                           1/1     Running   7

[2020-06-18 08:16] zzguang520 commented on #2831
and I have checked the NetCard in node server:
[root@node2 ~]# ifconfig
cni0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1450
        inet 10.244.2.1  netmask 255.255.255.0  broadcast 0.0.0.0
        inet6 fe80::f0ec:25ff:fe46:53e7  prefixlen 64  scopeid 0x20<link>
        ether f2:ec:25:46:53:e7  txqueuelen 1000  (Ethernet)
        RX packets 1069708  bytes 136464466 (130.1 MiB)
        RX e

[2020-06-18 08:32] jlpettersson commented on #2829
We should probably validate and emit an Event or use the Admission Webhook to validate these situation to inform the user in a better way.

[2020-06-18 08:53] zzguang520 commented on #2831
BTW, I deployed Flannel in the following way:
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[2020-06-18 09:53] phantooom opened #2832 "pull source code very slow"
some time git pull very slow,some time fast. how can i debug this problem?
[code]

[2020-06-18 13:41] jlpettersson commented on #2829
@r0bj is there any specific reason to why you need two workspaces in the same Task?

It is possible to have a single workspace volume but mount different parts of it using `subPath`, there is an example of that: https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-using-different-subpaths-of-workspace.yaml

Is that a way to solve your use case?

[2020-06-18 14:43] wlynch commented on #2832
It's difficult to determine a particular cause of slowness from the logs, since there might be a number of reasons why this takes awhile - e.g.

- is the repo large?
- is the slowness originating from Tekton or from the remote Git server?
- does the pod have enough resources to uncompress Git objects fast enough?

You can try and see if you can recreate the slowness on your own machine. IIRC this

[2020-06-18 16:34] tragiclifestories commented on #2828
We've built a queueing system to manage our way around this problem, so a +1 for it being a useful thing to tackle. I don't know whether it should be a core primitive or in the catalog, but in our use case is was necessary at a very early stage, and for deployments specifically it seems to me that having one deployment per app per environment at a time, and ideally in a sensible order, is going to

[2020-06-18 17:42] r0bj commented on #2829
@jlpettersson thanks for explanation. In my case using `subPath` resolves issue. Using two workspaces is not a strong requirement, just an option I was considering.

[2020-06-18 21:47] R2wenD2 commented on #1522
Rather than runtime, lets use context.taskRunName so that the term runtime doesn't become overloaded. Please let me know if there are any concerns with adding a context scope.

[2020-06-18 21:55] bobcatfish commented on #1522
context sounds good to me!

@R2wenD2 what do you think about `context.taskRun.name` to open up the possibility of other `taskRun` attributes one day?

[2020-06-19 02:24] zzguang520 commented on #2831
@vdemeester Is there any other you would like me to provide?

[2020-06-19 09:24] afrittoli opened #2838 "Pipeline nightly fails on gcloud issue"
# Expected Behavior
Pipeline nighty works fine

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1.  https://dashboard.dogfooding.tekton.dev/#/pipelineruns/pipeline-release-nightly-c445r
2. JOB_NAME=nightly-cron-trigger-pipeline-nightly-release
3. kubectl create job --from=cronjob/$JOB_NAME $JOB_NAME-$(date +%s)

[2020-06-19 12:37] afrittoli commented on #2838
I run the release in docker on my laptop using the same setup but it worked fine.

[2020-06-19 14:27] tom24d commented on #2082
Hi @afrittoli , I am genuinely staggered by your hard work. Thanks so much for doing this!

I got one question:
What is the expectation if the third party component registers to monitor every events generated by any Run? In order to monitor every events, I am imagining the situation of injecting sinkURI from third party controller into the ConfigMap, but I want to make sure that no breakage occur

[2020-06-19 14:44] afrittoli commented on #2082
Hi @tom24d, thank you for your interest in this topic. The way I imagined this is that the administrator of a Tekton deployment would configure the target URL for cloud events.
The config map can also be edited by a third party controller as you mentioned, as long as it has the rights to edit a configmap in the namespace where Tekton is deployed.

Your question makes me wonder if we should support

[2020-06-19 18:41] bobcatfish opened #2840 "TestTaskRunPipelineRunCancel is flakely"
# Expected Behavior

TestTaskRunPipelineRunCancel should only fail due to legit bugs (or if there is some kind of transient test infra issue we can't avoid)

# Actual Behavior

The test failed recently on an unrelated PR and passed on a re-run: https://github.com/tektoncd/pipeline/pull/2782 - https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/2782/pull-tekton-pipe

[2020-06-20 00:02] jverce commented on #782
I can confirm this issue on my side:

**Retrieve list of running pods**
Only a single pod named `redis-test-fpw2t` is running:
[code]

**Pod details**
Note the container `redis-test-master` running in the pod:
[code]

**Retrieve the logs from the pod**
This is where I get the error:
[code]

[2020-06-20 05:29] zhangtbj opened #2842 "Too much tekton metrics which makes our monitoring system doesn't work well"
# Expected Behavior
Just have some high level scope metric collecting, so that admin can know the whole tekton overview in my monitoring system. Or allow end user to choose which metric we want to collect.

# Actual Behavior
Currently, each metric is very fine-grained that have multiple labels:
https://github.com/tektoncd/pipeline/blob/master/docs/metrics.md
[code]
And tekton pipeline also have `H

[2020-06-20 18:35] popcor255 commented on #1288
/assign

[2020-06-21 03:53] tom24d commented on #2082
@afrittoli

If there is no problem for that idea, I think that gonna make the basic way for third party actor! 😀
The reason is, I was wondering if there is a general registration mechanism to receive every events from Tekton. As long as regarding the discussion here, it seems like injecting sinkURI to the ConfigMap is the simplest way for me.

Thanks!

[2020-06-21 21:17] popcor255 commented on #1288
I am going to start out by making a POC with a task/taskrun. Then, we can go from there.

[2020-06-22 00:16] jlpettersson commented on #1522
I liked the idea with `metadata.name` since that is the actual field name. E.g. it is used in Downward API: [fieldPath](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/)

[2020-06-22 13:58] bobcatfish commented on #1522
If we go that path I think we'd still want to scope it since it might not be clear which object's metadata you're talking about, e.g. `context.taskRun.metadata.name` or `taskRun.metadata.name`

[2020-06-22 14:12] R2wenD2 commented on #1522
I prefer `context.taskRun.metadata.name` - it makes it clear that we're using the name provided in the metadata for the taskRun (or pipeline, or pipelinerun) that is being run in the current context.

[2020-06-22 14:56] vdemeester commented on #1288
Should we look at [`gauge`](https://getgauge.com) ?

[2020-06-22 15:01] R2wenD2 commented on #2728
This is currently blocked because patch can't be tested with the existing test infrastructure.  @mattmoor is planning to move back to update for taskRun.

[2020-06-22 15:37] NavidZ commented on #2814
@afrittoli, I can take a look at this and start with migrating the current metrics to Open Telemetry API and then add more submetrics/tracing to the code.

[2020-06-22 15:37] NavidZ commented on #2814
/assign

[2020-06-22 15:44] afrittoli commented on #2814
Thanks @NavidZ, looking forward to your contributions!

@hrishin Implemented the existing metrics, so cc him for interest.
@vdemeester do you think this would belong to a TEP?

[2020-06-22 16:33] popcor255 commented on #1288
I cant tell what this product is from the landing page. :sweat:

[2020-06-22 17:08] RafaeLeal opened #2844 "Tekton metrics are reporting wrong values"
# Expected Behavior
Tekton metrics coherent with data gather with kubectl

# Actual Behavior
I have two examples, for the `tekton_pipelinerun_count` metric, it's currently reporting 22 failed and 58 success, but the cluster only have 20 PipelineRuns
![image](https://user-images.githubusercontent.com/9096450/85314522-09260b80-b490-11ea-825c-9e364eb301da.png)
[code]
The second example, `tekton_pipel

[2020-06-22 19:54] R2wenD2 commented on #1522
I'll use "" as the default value for the name if a taskRun isn't a part of a pipelineRun.

[2020-06-22 20:03] dibyom commented on #2838
Some discussion slack: https://tektoncd.slack.com/archives/CPY3T4YHM/p1592831497130600

[2020-06-22 20:03] holly-cummins commented on #868
I have another use case for this, which is to do with cross-talk between concurrent runs. In an integration test scenario, for example, the tasks depend on an external resource. If that resource is stateful (like a database), some tasks are rebuilding the database while others might be executing tests which use the database. I'd love to be able to single-thread pipeline runs through the integratio

[2020-06-22 20:10] holly-cummins commented on #2842
I'm seeing severe cluster performance degradations on my dev cluster if I have sysdig running unthrottled, so this might explain that.

[2020-06-22 20:11] holly-cummins commented on #868
I guess https://github.com/tektoncd/pipeline/issues/2828 is a newer version of this request.

[2020-06-22 20:16] holly-cummins commented on #2828
I'd really appreciate this as well, perhaps with Task granularity rather than pipeline. My use case for this, which is to do with cross-talk between concurrent runs of integration tests/db management. In an integration test scenario, for example, the tasks depend on an external resource. If that resource is stateful (like a database), some tasks are rebuilding the database while others might be ex

[2020-06-22 20:21] holly-cummins commented on #2591
See also https://github.com/tektoncd/pipeline/issues/2828.

[2020-06-22 20:27] jlpettersson commented on #1522
If it will start with `context.taskRun.*`

I think also `context.taskRun.name` would be a viable alternative. In the Go types, that is a shortcut for `metadata.name`. Then we keep that name slightly shorter for the end-users.

[2020-06-22 20:32] jlpettersson commented on #2591
I think it would not be so difficult to add logic for this.

e.g. right before we create a `TaskRun` - we could check if we have less than X _uncompleted_ `TaskRuns`  or else _omit creating_ a new.

later when a `TaskRun` is completed, the `PipelineRun` will do the _reconciliation_ again, and the creation of a `TaskRun` will be re-evaluated.

[2020-06-22 22:13] dibyom commented on #2838
/assign

[2020-06-22 22:19] dibyom commented on #2838
Did some digging:
1. I added a `sleep 3600` to the publish-tekton-pipelines task and then `kubectl exec` `d into the `step-run-ko`pod
` k exec -ti  pipeline-release-nightly-cx6gx-publish-images-w8gdw-pod-8ctx7 -c step-run-ko bash`

2. I manually run `gcloud auth activate-service-account --keyfile=/secret/release.json` and `gcloud auth configure-docker`

3.  gcloud info diagnose was still failing:

[2020-06-22 22:23] #1251 closed

[2020-06-23 00:53] zhangtbj commented on #2842
yes, me too.... :(

And we even cannot see other component metrics well because Tekton pipeline will take over 3000 metrics very soon if we have some stress on my cluster.

[2020-06-23 02:06] vincent-pli commented on #2844
The `tekton_pipelinerun_count` is incorrect, that's caused by reconcile enter this block more than once:
https://github.com/tektoncd/pipeline/blob/4fb10781528724d329120d9246da80fa39cb8641/pkg/reconciler/pipelinerun/pipelinerun.go#L149

[2020-06-23 02:06] vincent-pli commented on #2844
/kind bug

[2020-06-23 09:24] vdemeester commented on #2814
Yes :upside_down_face:

[2020-06-23 09:26] vdemeester commented on #1288
@popcor255 ahah sorry, wrong link :man_facepalming: : https://gauge.org/index.html

[2020-06-23 09:38] #2838 closed

[2020-06-23 09:38] afrittoli commented on #2814
@NavidZ TEP is a new process that we recently introduced - have a look at the [community repo](https://github.com/tektoncd/community/tree/master/teps) for guidance and feel free to ping me and @vdemeester if you have queries / need assistance with the process.

[2020-06-23 13:18] RafaeLeal commented on #2844
Do you think that could be the case for the duration metrics aswell?

[2020-06-23 13:52] bobcatfish commented on #1251
yaaaaaassss!!!!

![image](https://user-images.githubusercontent.com/432502/85412064-2d88f300-b537-11ea-9b11-93b8ad3adce2.png)

Thanks again for this @thomaschandler and for your patience with me duplicating your efforts and the review being prolonged. Really excited to have this in!!!

[2020-06-23 15:05] jerop commented on #2832
/kind question
/area performance

[2020-06-23 15:20] sbwsg commented on #2343
What would be the best way to approach this?  Document the existing possibilities (creds-init, Workspace Secrets, "k8s-native" approach that you've described) and then suggest recommendations which we could create documentation for?  Beyond documentation do you think there's more we could do?

[2020-06-23 15:32] jlpettersson commented on #2343
I am not sure. I was thinking, maybe we could generate `Event` from creds-init if the user is using e.g. Secrets with annotations and inform that the user is using a feature that will be deprecated/removed. At the same time we must have a good documentation story about how to do it the "other" way? Eventually we could hide creds-init behind a toggle, that is initially on by default, and a release

[2020-06-23 15:47] sbwsg commented on #2343
Ah, nice idea about the Events!  I hadn't considered that.

The other thing, and it might be totally impossible, would be to try and introduce guidelines for catalog tasks so that they all uniformly accept credentials in the same way.  I'm unsure if that would be feasible though.

The one major benefit of the `creds-init` approach is that it is a cross-cutting style compared to Workspaces and k8s-

[2020-06-23 16:01] jlpettersson commented on #2343
I think this is just "so so true". The fact is that _few_ Catalog tasks uses "credentials". It mostly is git-init - but that can use credentials for both SSH or token.

All Tasks that interact with an external system should be possible to configure with authentication, a `Secret` or a `ServiceAccountToken`.

E.g. the [kubectl task](https://github.com/tektoncd/catalog/tree/master/kubectl) does not

[2020-06-23 17:20] NavidZ commented on #2814
@afrittoli sounds good. I will send a TEP with the suggested sub-metrics.

Just to give an update on what I was up to so far. After looking deeper into OpenTelemetry Go client SDK (as it is still in beta) I thought it might be better to delay until knative also migrated as we used their libraries for metrics reporting and they have [#3126](https://github.com/knative/eventing/issues/3126) to track

[2020-06-23 23:51] jlewi opened #2851 "[Feature] kpt fun to inline pipelines"
I'm using GitOps tooling (Google ACM) to automatically sync the pipelines tasks defined in my cluster from my Git repo.
This works really well except during development when I want to be able to create PipelineRuns using my modified Pipeline and Tekton tasks without checking them in.

I was thinking a nice way to solve this would be with a tool that would take a PipelineRun and inline any referenc

[2020-06-24 00:06] vincent-pli commented on #2844
@RafaeLeal
I think so, you could apply my fix and take a try.

[2020-06-24 05:46] pritidesai opened #2852 "refactor pipelineRunState and pipelinerunresolution.go"
With the `finally` implementation PR #2661, we have been identifying various areas where the code can be simplified (based on changes being proposed in PR #2821). This involves mainly two areas:

1) Get the execution queue in the Reconciler so that tasks can be scheduled for execution and `taskRuns` can be created.
2) Simplify `GetPipelineConditionStatus` so that the tasks execution status is not

[2020-06-24 05:47] pritidesai commented on #2852
/kind cleanup
/assign

[2020-06-24 07:29] vdemeester commented on #2851
I feel this is a bit related to https://github.com/tektoncd/cli/issues/726 too :upside_down_face:
/kind question

[2020-06-24 08:38] afrittoli commented on #2852
`GetPipelineConditionStatus` is only executed once per reconcile cycle, and the `pipelineState` cannot be persisted across reconcile cycles, however we could build and store the state for each task in `pipelineState` when the state is initially build, and that would simplify the implementation of `GetPipelineConditionStatus`, or at least reduce it's execution time.

[2020-06-24 09:03] afrittoli commented on #2852
In #2821 `isFinalTasksDone` and isDAGTasksDone` will lose the dag parameter and `isDAGTasksStopped` will go away, so this will already be solved there.

[2020-06-24 13:10] sbwsg opened #2854 "Modify git-init symbolic ref test to use tektoncd-owned repo or similar"
# Expected Behavior

Our tests rely on resources that are directly under the `tektoncd` org's control so that changes outside our control do not negatively affect test results.

# Actual Behavior

The git-init symbolic ref test introduced in #2835 (`test/git_checkout_test.go` and `test/v1alpha1/git_checkout_test.go`) currently relies on an outside repo, `https://github.com/spring-projects/spring-p

[2020-06-24 14:33] #2822 closed

[2020-06-24 14:47] jace-ys opened #2856 "Automatic pruning of old TaskRuns / PipelineRuns"
# Expected Behavior

The tekton-pipelines-controller should automatically prune TaskRuns / PipelineRuns past a given age. This age is optional and can be configured via a ConfigMap value.

# Actual Behavior

TaskRuns and PipelineRuns accumulate over the use of Tekton, even though old resources might no longer be valuable (their logs can't be retrieved past 24 hours if I'm not wrong). It makes litt

[2020-06-24 14:50] sbwsg commented on #2856
One option is to use a CronJob to clean up old resources. We have some work in flight to implement that as part of our own plumbing: https://github.com/tektoncd/plumbing/pull/442 and some more conversation around this feature idea in the experimental repo: https://github.com/tektoncd/experimental/issues/479

[2020-06-24 14:55] GregDritschler opened #2857 "Pipelinerun controller creates duplicate events"
# Expected Behavior

When an event occurs a single time, the event count is 1.

# Actual Behavior

The event count is 2.

We have e2e tests that verify event counts.  This bug causes them to fail.  Here is one example:

https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/2850/pull-tekton-pipeline-integration-tests/1275691939903049728/

[code]

# Steps to Reproduce

[2020-06-24 14:58] jace-ys commented on #2856
Thanks for pointing out those - glad to see we're not the only ones! 😄 And like you said, we are using a CronJob running our script right now to do our own clean up, but seems like a nice feature to have out of the box with Tekton.

[2020-06-24 15:57] vdemeester commented on #2857
/kind bug
/kind flake
/area testing

/cc @afrittoli

[2020-06-24 16:10] afrittoli commented on #2857
Because the time stamps are identical, my impression is that something goes wrong in the fake recorder. I don't see how the controller could send the event twice with the same timestamps otherwise.

I've started looking into this, I'll try to see if this is something we can address in the test code.

[2020-06-24 18:52] pritidesai commented on #2852
Added dropping named return value in the list 🆙 from discussion:

https://github.com/tektoncd/pipeline/pull/2661#discussion_r445010798

[2020-06-24 20:42] afrittoli commented on #2857
never mind, I didn't read the issue properly - thank you for catching this!

[2020-06-24 22:24] #2857 closed

[2020-06-25 04:27] GwonsooLee opened #2862 "pipelineRun pvc best practice"
I am triggering pipelineRun via triggerTemplate and the volume is used for cloning a github repository and doing some jobs in it. I want to use volumeClaim and delete it after pipelineRun finishes.

Is there any other way to delete pvc after pipelinerun??

If not, then what is the best practice to build docker image and deploy in tekton pipelines?

Thanks in advance!

[2020-06-25 10:02] shashipratap opened #2863 "task run not getting launched"
# Expected Behavior
task run should start
# Actual Behavior
tkn tr logs echo-hello-world-run-p7mnb
Error: task echo-hello-world has not started yet

# Steps to Reproduce the Problem

1. Install tekton CD on a ubuntu machine having a single node kubernetes cluster(v1.16.7) tk version v0.13.2
2. create task with below yaml
[code]
kubectl apply -f <name-of-task-file.yaml>

3. Run task with below yaml

[2020-06-25 10:47] jlpettersson commented on #2862
It is easiest to delete the PipelineRun - then the PVC created by volumeClaimTemplate is also deleted.

[2020-06-25 13:21] sbwsg opened #2864 "Validate conditions for affinity assistant to operate correctly"
# Expected Behavior

Tekton validates whether a TaskRun's or PipelineRun's volume configuration will be impossible to manage with the Affinity Assistant.

# Actual Behavior

Currently it's possible to get into a situation where [tasks wait forever to start](https://github.com/tektoncd/pipeline/issues/2829) due to use of multiple persistent volumes as workspaces. Ideally we should validate that thi

[2020-06-25 14:09] sbwsg commented on #2864
I wonder if there is another option, c) decide that using the affinity assistant will not work and fallback to running without it, emitting a warning.

[2020-06-25 14:37] jlpettersson commented on #2864
multiple-workspace run will work with the affinity assistant - as long as multiple workspaces is not used by the same task.

and multi-PVC-tasks should not be used in Tasks - they will most likely deadlock in regional clusters _sometimes_ as what happened in https://github.com/tektoncd/pipeline/pull/2546

[2020-06-25 14:39] sbwsg commented on #2864
nice, thanks for clarifying!

[2020-06-25 14:44] jlpettersson commented on #2864
I can have a look at this.

/assign

[2020-06-25 18:11] rvandegrift commented on #1209
@sbwsg I'd like to have this for cases when external resources aren't ready yet, and where the required delay isn't well-defined.  Here's the use-case:

We use tekton pipelines to manage deployments into GCP.  GCP requires enabling APIs before they can be used.  But the API enabling behavior is eventually-consistent - even after GCP thinks the enabling is done, it's common to get 403 errors for a

[2020-06-25 20:30] R2wenD2 commented on #1522
After some investigation, (and discussion with @bobcatfish) It makes sense to make the `context.pipelineRun.name` available to the pipeline and `context.taskRun.Name` available to the task, using "" as a default when there is no taskRun or PipelineRun.

[2020-06-25 22:02] wlynch commented on #2856
Yup, definitely not alone. We've had similar FRs requesting this, so I'm going to close this issue as a duplicate in favor of #1334. Feel free to add additional comments/context to that issue. Thanks!

/triage duplicate
/close

[2020-06-25 22:02] #2856 closed

[2020-06-25 22:02] wlynch commented on #2856
/kind feature

[2020-06-25 22:07] wlynch commented on #2862
/kind feature

The suggestion by @jlpettersson is likely the best short term answer.

@sbwsg Any thoughts on if/how we will do automatic volume cleanup for volumeClaimTemplates?

[2020-06-25 22:10] wlynch commented on #2863
/triage support

Hi! I'm not quite sure if the logging config error is related.
Would you be able to provide additional information? If you could share the TaskRun API output from kubectl, that would be helpful. e.g.

[code]

Thanks!

[2020-06-26 08:02] #2446 closed

[2020-06-26 08:46] ngrkajac commented on #1603
I'm having the exact same problem.

`[build-and-push] error pushing image: failed to push to destination gcr.io/...`

Also, I downloaded _kaniko-secret.json_ and also I'm using a proper Service Account for my _TaskRun_. (instruction from [here](https://github.com/GoogleContainerTools/kaniko#kubernetes-secret))

But still no luck for me.

[2020-06-26 09:40] sbwsg commented on #2343
One additional idea I have is to audit the catalog and make a tally of the existing tasks' creds usage:
- credential mechanism task expects (creds-init, workspace, k8s-native, smthg else)
- manifestation of credential (file, env var, other)
- type of credential (ssh key, certificate, username/pass, api token)
- is cred used in single step or multiple steps?

[2020-06-26 14:20] shashipratap commented on #2863
Hi wlynch,
o/p is as below , basically its not scheduled i think

Name:         echo-hello-world-task-run
Namespace:    default
Labels:       <none>
Annotations:  API Version:  tekton.dev/v1beta1
Kind:         TaskRun
Metadata:
  Creation Timestamp:  2020-06-25T08:09:55Z
  Generation:          1
  Resource Version:    51128966
  Self Link:           /apis/tekton.dev/v1beta1/namespaces/default/task

[2020-06-26 14:44] resamaraschi commented on #2828
I also think this is a very common use case for a CI/CD Pipeline.
Our scenario is that we have one test cluster for all the created PRs. For instance when 2 developers opens 2 PRs, the pipeline should test one PR against the test cluster first and set the status for corresponding PR. Meanwhile all other pipelineRuns for other PRs should be queued until the cluster is free for the next run.

[2020-06-26 20:41] andreasevers commented on #2816
This is due to a circular dependency.
The tekton-pipelines-webhook pod can't start if it doesn't have the configmap, but the configmap can't be installed because it can't reach the tekton-pipelines-webhook pod for validation.

Simple solution is to remove the `app.kubernetes.io/part-of: tekton-pipelines` label from the configmap so it will not need to be validated, apply the configmap, and then ap

[2020-06-26 20:52] #2474 closed

[2020-06-26 21:29] andreasevers commented on #2816
I noticed with @ciberkleid that other configmaps might also have this problem.
You can fix it throughout the entire installation/upgrade, by first applying the installation without any of the labels (which passes), and then again with them.

Script to make this work (uses mikefarah's yq 3.3.1+):
[code]
Note that the last line of the script is removed because yq interprets the final `---` as a new

[2020-06-26 22:19] rvandegrift commented on #2816
Would it be possible to remove the annotations from the configmap entirely?  IMO, it'd be a much better user experience to not have to worry about complicated upgrade procedures like the above.

(Sorry is this is a silly suggestion - I'm just a user, unfamiliar with the internals of tekton-pipelines.)

[2020-06-29 06:55] vdemeester commented on #2816
Hey @rvandegrift, this is where the [operator](https://github.com/tektoncd/operator) should become handy. Those annotations serves a purpose, and that was our mistake to not use them before, and that was also our mistake to not have made the upgrade process smoother (aka having, at least an upgrade path from 0.11.x to 0.12.x to 0.13.x that always works). Hopefully this is a one time thing, and in

[2020-06-29 11:36] tom24d commented on #2676
Hi @afrittoli ,

After thinking about Source attribute, I am wondering if we can introduce new func in the [`objectWithCondition`](https://github.com/tektoncd/pipeline/blob/e93a84018d0cfd40133ad6412277c4aaf6b47197/pkg/reconciler/events/cloudevent/interface.go#L25) to get CloudEventSource to populate it (also should be renamed). For example, [GetCloudEventSource](https://github.com/knative/eventing

[2020-06-29 13:10] tragiclifestories opened #2872 "Webhook metrics can have enormous cardinality"
The metrics exported by the tekton-pipelines-webhook service have a label for `resource_name`. This interacts poorly with the `generateName` part of the k8s metadata API, since you will get a new time series for every interaction. This will cause [well known problems](https://www.robustperception.io/cardinality-is-key) with Prometheus, such as drastically degraded query performance and increased s

[2020-06-29 13:49] ImJasonH commented on #2872
@mattmoor AIUI webhook metrics are defined for us by knative/pkg infra. Is this something Knative has hit as well? Or is Tekton different due to its recommendation to use `generateName`?

[2020-06-29 18:42] ibexmonj commented on #1542
ended up here by search for issues. +1 for an official helm chart support.

[2020-06-29 23:19] holoGDM opened #2875 "Kaniko do not want to work with results"
# Expected Behavior
Kaniko will create image
# Actual Behavior
error:
"error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: getting tag for destination: tag can only contain the runes `abcdefghijklmnopqrstuvwxyz0123456789_-.ABCDEFGHIJKLMNOPQRSTUVWXYZ`: 0.0.1-562e93a0"
# Steps to Reproduce the Problem

Create such ta

[2020-06-30 04:31] mattmoor commented on #2872
It certainly exacerbates it, but I think that's probably a poor choice of dimension in general since generally metrics systems frown upon the use of any dimension with unbounded cardinality.  Want to raise in `#observability` on slack.knative.dev?

[2020-06-30 06:01] Mage-Sky opened #2877 "Tekton, Internal error occurred: context deadline exceeded"
# Expected Behavior

# Actual Behavior

[root@master tekton]# kubectl apply -f taskrun1.yaml
Error from server (InternalError): error when creating "taskrun1.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: context deadline exceeded

# Steps to Reproduce the Problem

[root@ma

[2020-06-30 07:47] ljupchokotev commented on #2875
Hi @holoGDM, `echo` adds a newline after echoing the text.

Can you try to change your line to
[code]
The `-n` flag will tell it not to add a newline at the end, for example see the [git-clone](https://github.com/tektoncd/catalog/blob/v1beta1/git/git-clone.yaml#L99-L100) task.

[2020-06-30 08:00] vdemeester commented on #2875
Looking at the error, it seems, the tag generated by the previous task (and put into `imageName` ?) is invalid : `0.0.1-562e93a0`. It seems it should be valid (looking at the allowed "runes" but it doesn't seem to be. This might be a kaniko issue though.

[2020-06-30 08:09] vdemeester commented on #2877
/kind question

@Mage-Sky thanks for the issue. It seems like there is a network issue on your cluster somehow (between the k8s api-server and the webhook). Can you share more detail on your setup ? (kubernetes version ? OpenShift ? Running "services" (like knative, … ) ?)

[2020-06-30 08:10] vdemeester commented on #2872
/kind question

[2020-06-30 08:17] afrittoli commented on #2082
Yes, with  #2837 you will be able to set the `sinkURI` in the config map to receive cloud events.
Tekton also publishes kubernetes events to the cluster, so you could intercept those too, but you'd need an app running on the same cluster with access to those events.

[2020-06-30 08:58] salaboy commented on #1542
An update on here, I am currently using Jenkins X Helm Charts which include and maintain a Tekton Helm Chart for their deployments, so it is up to date:
[code]

I hope this helps...
Jenkins X relies heavily on Tekton, so I trust that these charts are well maintained and regularly updated.

[2020-06-30 08:59] GwonsooLee commented on #2862
Thanks for answering. @jlpettersson @wlynch
We actually considered deleting pipelineRun.. But if I wanted to keep the build/deploy log, do I have to store them to other place like s3 or elasticsearch, etc?

We are trying to keep all logs of pipelineRuns at least a week...  Actually I changed to use NFS not to create pvc every time for every build. This is kind of a temporary solution for us (We ju

[2020-06-30 09:19] Mage-Sky commented on #2877
Thank you for your reply.

[root@master ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:20:10Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f13

[2020-06-30 09:30] vdemeester commented on #2877
It seems there is something wrong with `flannel` (which is the network part). Not sure how to go from there though, except through the doc and issues of flannel.

[code]

[2020-06-30 09:32] vdemeester commented on #2862
@GwonsooLee there is an [`experimental` project](https://github.com/tektoncd/experimental/tree/master/results) around this (and a [design doc](https://docs.google.com/document/d/1-XBYQ4kBlCHIHSVoYAAf_iC01_by_KoK2aRVO0t8ZQ0/edit)).

[2020-06-30 09:34] Mage-Sky commented on #2877
Thank you very much. Maybe I will solve the issue about flannel at first.

[2020-06-30 11:13] holoGDM commented on #2875
Hello, yes it was it. Thank You for helping :)

[2020-06-30 11:14] #2875 closed

[2020-06-30 11:14] holoGDM commented on #2875
Solved by @ljupchokotev

[2020-06-30 12:57] ibexmonj commented on #1542
@salaboy Is this the chart you are referring to https://github.com/jenkins-x-charts/tekton ?

[2020-06-30 13:25] salaboy commented on #1542
@ibexmonj yes,Ii think that those are the charts that are published in their public helm chart repository linked above.

[2020-06-30 16:49] vyom-soft commented on #1247
On minikube v1.11.0
kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml
NAME                                                                 READY   STATUS                RESTARTS   AGE
tekton-pipelines-controller-f5945cf7b-cbl6x       0/1     ImagePullBackOff   0          77m
tekton-pipelines-webhook-859cd5c766-4dqc4   0/1     ImagePullBackOff   0

[2020-06-30 16:56] danielhelfand commented on #1247
@vyom-soft Not sure if it's your issue, but my guess is that you need Kubernetes v1.15.0 or higher. Tekton requires Kubernetes v1.15.0 or higher because of its reliance of Knative dependencies.

[2020-06-30 20:44] holly-cummins commented on #2828
I got inspired by @tragiclifestories 's suggestion of a queueing system as a workaround, so I made one too. I documented the steps - hopefully it's useful to someone else while this is pending: https://medium.com/@holly.k.cummins/using-lease-resources-to-manage-concurrency-in-tekton-builds-344ba84df297

[2020-06-30 22:54] tragiclifestories commented on #2828
Interesting!

We took a different approach by storing the queue data in configmaps and defining all the queue operations as scripts that run in task steps. So no explicit modelling through CRDs but it works well enough for our use case.

Hopefully we'll get around to the blog-post stage of the project soon.

[2020-07-01 00:42] pritidesai commented on #2852
Deleted named return value in PR #2870
Refactored and deleted `isDAGTasksStopped` in PR #2869

[2020-07-01 04:02] afrittoli commented on #2828
Nice :)
@pritidesai finally in action

[2020-07-01 06:08] tom24d commented on #2676
Sorry I have missed #2684 and its context. Never mind.😓

[2020-07-01 06:14] tom24d commented on #2676
I have missed #2684 and its context, and turns out it it not really good first issue. Never mind😅

[2020-07-01 08:09] vyom-soft commented on #1247
@danielhelfand thankyou

$kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0

[2020-07-01 08:10] afrittoli commented on #2676
@tom24d sorry, I'm a bit late on replying to this. #2684 was an idea, but it would need to go with a TEP probably before going ahead, it's not something we've agreed upon yet.

I like the idea of using an interface for solving the source issue, and I don't like the existing name of the interface I created :D so I wouldn't mind changing it.

Emittable sounds like an interesting idea :)
How would yo

[2020-07-01 08:15] apasrini commented on #856
@skaegi We are right now trying Tekton for s390x. Is it supported or it is yet to be complete? Or is it available in a branch so that we could try?

[2020-07-01 08:42] vdemeester commented on #856
@apasrini It's not "officially" supported, as "we do not ship s390x images" but it should be possible. We (Red Hat & IBM) are working on having OpenShift Pipelines supporting s390x. In parallel we should work upstream to make sure it supports it to (cc @barthy1). To be able to build and release s390x (and other platforms) for tekton, we depend on https://github.com/google/ko/pull/38 — *or* we shou

[2020-07-01 10:54] praveen4g0 opened #2883 "Replace old version of tekton images with tag :latest in examples"
To maintain consistency, in all examples [v1alpha1/v1beta1](https://github.com/tektoncd/pipeline/tree/master/examples) which uses tekton images with specific versions should be replaced with tag `latest`

Example:
- [pipelinerun.yaml](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun.yaml#L83) uses  `gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/g

[2020-07-01 11:08] vdemeester commented on #2883
/area testing

`latest` wouldn't exercise changes in the PR itself though, we need to *dynamically* get the PR's image reference before running the tests. `ko` should help us with that.

[2020-07-01 11:10] vdemeester commented on #2883
/assign @praveen4g0

[2020-07-01 15:30] psschwei commented on #2605
I'll look into this one this week.

/assign @psschwei

[2020-07-01 17:11] GwonsooLee commented on #2862
@vdemeester  Thank you so much for introducing experimental project. `result api` seems perfect if applied. I will look it over! And, I requested access to the design doc, but not yet granted. Is there  anything I have to do for getting access or just wait? I just wanted to know if there is something I have to request but I didn't yet. Thanks again

[2020-07-01 17:21] vdemeester commented on #2862
You should automatically have access to it if you are part of the `tekton-dev` google group, see [here](https://github.com/tektoncd/community/blob/master/contact.md#mailing-list)

[2020-07-02 06:18] tom24d commented on #2676
@afrittoli
No problem! Thanks for the reply.

Is it implying we want to identify the sources for the case of Tektons in multi-cluster? That sounds needed for me, but I assume we want to avoid having `DefaultCloudEventSourceForTaskRun`, `DefaultCloudEventSourceForPipelineRun`,.. etc. I am wondering if we have new one field such as `DefaultClusterName(=https://tekton.dev as default)` in the ConfigMa

[2020-07-02 09:23] fishingfly commented on #2831
I also encountered the same problem。@zzguang520

[2020-07-02 09:26] vdemeester commented on #2082
I would think it would make sense to support more than one sink indead :upside_down_face:

[2020-07-02 10:09] Mage-Sky commented on #2877
After all pods run well, the error was

[root@master tekton]# kubectl apply -f hello-world.yaml
Error from server (InternalError): error when creating "hello-world.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: dial tcp 10.96.85.188:443: connect: no route to host

[2020-07-02 13:19] zgfh opened #2887 "get log of task pod failed"
# Expected Behavior
get task pod log when we debug
# Actual Behavior
get task pod log failed
# Steps to Reproduce the Problem

1. create many taskrun
2. when node of disk usage> 85%, kubelet will clean exited pod
3. `kubectl log <task-pod-name> <step-name>`,  then failed

![image](https://user-images.githubusercontent.com/11729624/86363332-3f8e3280-bca9-11ea-8fef-b3dfcf751bb3.png)

# Additional In

[2020-07-02 15:37] afrittoli opened #2888 "Consistent config store across controllers"
### Feature request

Configuration options should be available to all controllers (task run and pipeline run).

### Use case

Features like cloud events are shared across controllers. Today the pipeline run controller uses its own independent config store, which means that a share configuration needs to be added to two different config stores.

[2020-07-02 17:06] dudicoco opened #2889 "Tekton vs Prow"
Hi,

What are the pros and cons of using tekton vs prow?

I know that prow supports running tekton pipelines, but what is the advantage of doing this rather than running regular prow jobs?

What features are missing from each product, and is it worth running them together with increased complexity or just choose one?

Thanks!

[2020-07-02 17:30] vdemeester commented on #2889
/kind question

[2020-07-02 18:13] #1271 closed

[2020-07-02 18:13] #2524 closed

[2020-07-02 18:23] jlpettersson commented on #2642
@Yannig sorry for late response on this.

Ah, I see. This seem to be a newer limitation in recent Kubernetes versions, ref [CSI ephemeral inline volumes](https://kubernetes.io/blog/2020/01/21/csi-ephemeral-inline-volumes/)

In Tekton v0.13, a new feature, [TaskRunSpecs](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#specifying-taskrunspecs) was introduced - that allow you to

[2020-07-03 00:08] vincent-pli commented on #2887
@zgfh
Thanks for reporting the issue, I have several questions:
1. Do you mean `eviction` of k8s?
2. Your `taskrun` already complete or not.

Thanks.

[2020-07-03 05:46] Mage-Sky commented on #2877
About the flannel status,

● flanneld.service - Flanneld overlay address etcd agent
   Loaded: loaded (/usr/lib/systemd/system/flanneld.service; enabled; vendor preset: disabled)
   Active: activating (start) since Fri 2020-07-03 13:27:43 CST; 1min 25s ago
 Main PID: 9706 (flanneld)
    Tasks: 8
   Memory: 17.0M
   CGroup: /system.slice/flanneld.service
           └─9706 /usr/bin/flanneld -etcd-en

[2020-07-03 07:13] zgfh commented on #2887
thanks for help
1. pod status is Completed
2. taskrun is already complete

![image](https://user-images.githubusercontent.com/11729624/86441997-a78f5800-bd3f-11ea-97bd-19bdbabc2ad4.png)

[2020-07-03 08:50] vdemeester opened #2894 "Input resource validation error not that useful on a pipeline"
# Expected Behavior

In case of a Pipeline not providing the correct input resource (maybe it's the same for output resource), when executing the pipeline, it should tell me which task is in that case (validation problem).

[code]

# Actual Behavior

It does tell me that there is a missing required resources, but I don't know on which task

[code]

# Steps to Reproduce the Problem

1. Create a Tas

[2020-07-03 15:52] savitaashture opened #2898 "tkn version command display pipeline version as devel instead of 0.14.0"
# Expected Behavior
tkn version should display pipeline version as `0.14.0` when installed from released yaml

# Actual Behavior
tkn version displaying pipeline version as `devel` when installed from released yaml

# Steps to Reproduce the Problem

1. Install pipeline from latest release
`kubectl apply -f https://github.com/tektoncd/pipeline/releases/download/v0.14.0/release.yaml`
2. tkn version
3

[2020-07-03 15:52] savitaashture commented on #2898
/assign @vdemeester

[2020-07-06 09:18] barthy1 commented on #856
@vdemeester I've played a little bit with the latest ko version (without taking into account https://github.com/google/ko/pull/38)
A little bit strange behaviour takes place, but there is some dirty way to use ko for building s390x even now. So what I can see:
1) s390x host and s390x base image in .ko.yaml (`defaultBaseImage: docker.io/s390x/busybox:latest`) -> s390x image and `"Architecture": "s3

[2020-07-06 10:38] #2168 closed

[2020-07-06 11:02] Fabian-K opened #2901 "Invalid zap-logger-config in 0.14.0"
Hi,

just noticed that the zap-logger-config which is part of the ConfigMap config-logging has some unexpected content in https://github.com/tektoncd/pipeline/releases/download/v0.14.0/release.yaml

[code]

looks like there is too much string replacement ("devel" -> version name) happening somewhere during the release process?

Best regards,
Fabian

[2020-07-06 11:25] vdemeester commented on #2901
/assign
My bad :sweat:

[2020-07-06 11:26] vdemeester commented on #2901
@Fabian-K should be fixed now :sweat_smile:

[2020-07-06 12:32] vdemeester commented on #2901
@Fabian-K I guess we can close the issue now :stuck_out_tongue_closed_eyes:

[2020-07-06 12:32] #2901 closed

[2020-07-06 13:13] bobcatfish commented on #859
I've been thinking a cool solution to this problem could be referring to Pipelines (and Tasks) in git repos.

In #1839 we're adding support for storing Tasks (and Pipelines) in OCI image registries, and we've opened the possibility of storing them in git repos.

e.g. OCI image:

[code]

e.g. git:

[code]

If you setup your triggering such that the PipelineRuns created for a project refer to a Pipe

[2020-07-06 14:21] shashipratap commented on #2863
anyone has any idea abt it ?

[2020-07-06 14:22] mattmoor commented on #856
I'd love to get Jon's PR moving forwards, and we were just talking last week about some thoughts here.  Let's discuss there?

[2020-07-06 14:42] bobcatfish commented on #2863
Hey @shashipratap - it looks like for some reason the tekton pipelines controller isn't doing anything - if it was, you should at least see the status section of the TaskRun get updated and there should be some events, but nothing is happening.

Can you check if your controllers are up and healthy? e.g.

[code]

Maybe they are not running - in which case you can look at each of them with `-o yaml`

[2020-07-06 15:25] bobcatfish commented on #2605
Hey @psschwei It looks like we actually already have this https://github.com/tektoncd/pipeline/blob/master/docs/variables.md 😨

If there's anything missing tho plz add :D otherwise maybe we should close this issue? Sorry for the confusion 😨 😨 😨

[2020-07-06 15:31] #2694 closed

[2020-07-06 15:36] bobcatfish commented on #1020
I think @dibyom 's proposal to provide this info via json file is a great first step toward what we need for both conditions + finally. We can always follow that up with more power around variable interpolation if needed.

[2020-07-06 15:42] sbwsg commented on #2605
Just to clarify - this issue is about documenting _where_ the variables can be used.  The existing variables.md contents only document _what_ the available variables are.

[2020-07-06 15:43] bobcatfish commented on #2605
Thanks @sbwsg ! Looks like there is work to do here after all, sorry for the (increased) confusion @psschwei XD

[2020-07-06 15:45] psschwei commented on #2605
No worries, thanks for the clarification!

[2020-07-06 17:36] mattmoor commented on #2728
I can't remember my branch name, so I may just start debugging over.  tl;dr the patch is this:

[code]

However, when I tried this there was a test failure that I couldn't explain (I think it had to deal with volume claims)

[2020-07-06 19:46] mattmoor opened #2905 "The timeoutHandler is only instructed to wait when it creates pods"
/kind bug

Consider this logic in `taskrun.go`:

[code]

If after creating the Pod the controller process is restarted (e.g. to rollout a new controller binary) then the timeout handler won't properly timeout task runs straddling this event because the controller's resync won't trigger the go routine.

The pattern we have used successfully in Knative is to have the library support idempotent invoc

[2020-07-06 20:39] pritidesai opened #2906 "support variable substitution for params in finally section"
`params` in `finally` section should be substituted with actual values. Variables under `params` section is not getting interpolated and holds `$(params.x)` as its value.

/kind bug
/assign

[2020-07-06 20:47] bobcatfish commented on #2906
If we can fix this quickly, feels worth getting this into a patch release @vdemeester !

[2020-07-06 21:04] mattmoor commented on #2728
Alright, so the original change above had a tiny bug that totally screwed things up...

[code]

We were setting up `newTr` and then using `tr`...   🤦

[2020-07-06 21:10] pritidesai commented on #2906
yup its very quick, will create a PR today

[2020-07-06 21:17] Yannig commented on #2642
Thanks for your answer. I will try to do some experiment and give you feedback as soon as possible.

[2020-07-06 23:26] pritidesai commented on #2906
@vdemeester please add this to `Pipelines v0.14` milestone 🙏

[2020-07-07 01:20] adjavaherian commented on #1542
fwiw, it looks like Helm 3 has made a conscious decision to not fully support CRDs, so its likely not a good idea to pursue a Tekton chart.  [https://helm.sh/docs/chart_best_practices/custom_resource_definitions/](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/)

[2020-07-07 09:18] Mage-Sky commented on #2877
[root@master ~]# kubectl get all -n tekton-pipelines
NAME                                               READY   STATUS    RESTARTS   AGE
pod/tekton-dashboard-584fc79989-8lczm              1/1     Running   0          4d23h
pod/tekton-pipelines-controller-85496b94dd-tmnk5   1/1     Running   0          7d23h
pod/tekton-pipelines-webhook-7cd58cd7cb-t569j      1/1     Running   0          7d23h

NAME

[2020-07-07 13:31] #2894 closed

[2020-07-07 13:33] JianleiZhang commented on #2877
edit `/etc/kubernetes/manifests/kube-apiserver.yaml` fie in master, add this argument:
[code]
it works for me.

[2020-07-07 13:38] sbwsg commented on #2662
I'm going to close this since it's an issue with the way the dashboard reruns pipelines. I don't think there's much that Pipelines can do to help here, though happy to discuss further if there is.  Feel free to open an issue at https://github.com/tektoncd/dashboard if needed or reopen this one if you think there's more pipelines can do.  Thanks for the issue report!

[2020-07-07 13:38] #2662 closed

[2020-07-07 13:46] sbwsg commented on #2699
Closing since this is over a month old now and I think the original question has been largely answered.  Feel free to reopen if you decide you'd like to follow up with further info.

[2020-07-07 13:46] #2699 closed

[2020-07-07 13:52] sbwsg commented on #2877
Thanks @JianleiZhang ! @Mage-Sky let us know if this helps.  It appears there's some problem with using Tekton and flannel, at least this other issue also hit similar problems using flannel for network: https://github.com/tektoncd/pipeline/issues/2831

[2020-07-07 13:53] sbwsg commented on #2831
See https://github.com/tektoncd/pipeline/issues/2877#issuecomment-654863304 for one suggested fix:

Please let us know if this helps.

[2020-07-07 14:00] sbwsg commented on #2207
I'm curious what the status of the webhook pod is.  You can check it with `kubectl get -n tekton-pipelines pod tekton-pipelines-webhook-xxxx` (those last `xxxx` will be a random string).

Something that at least works for me while developing locally is to delete the validating/mutating webhooks and then reapply the tekton yamls.  Something like the following:

[code]

[2020-07-07 14:11] oiricaud commented on #27
Has this been implemented yet? And if so... what version of Tekton.

[2020-07-07 16:17] sbwsg commented on #2165
@chanseokoh I think this would be worth checking in on again now that 0.14 has been released. Some of the warnings may remain in the logs (e.g. `unsuccessful cred copy` may continue to show up) but Tasks should hopefully 🤞 no longer fail at one of these initialization stages. And credentials should be initialized in each Step with the UID of that Step's first process.

There's still some trickines

[2020-07-07 16:19] sbwsg commented on #2507
I'm going to close this issue as it seems the original question has been largely resolved. Feel free to reopen if there's more to discuss / do here.

[2020-07-07 16:19] #2507 closed

[2020-07-07 17:40] R2wenD2 commented on #2728
/close

[2020-07-07 20:18] dibyom commented on #2816
I ran into this while upgrading to v0.14 today. What worked for me was to delete all the webhooks manually before applying the new version.

[code]

[2020-07-07 20:24] chanseokoh commented on #2165
@sbwsg thanks for letting me know. I've tested 0.14 against GKE with `Task` and `TaskRun`, and it seems mostly working.

However, I've noticed a [recent change](https://github.com/tektoncd/catalog/commit/84bb6d320ab8b36c29c4fd5d227b74ea666b8818#diff-218c88f355db45e8a7a0e2bc9e76ac0e) in the jib-gradle catalog task that replaced git input resource with a "workspace" source, which forced me to try `P

[2020-07-07 20:28] chanseokoh commented on #2165
I also wonder if I have to use `Pipeline` and `PipelineRun` if I want to fetch workspace source for the jib-gradle task from GitHub. Previously, I was able to define a git resource in `TaskRun`, but now I'm not sure how I can easily achieve getting source from GitHub in `TaskRun` if the task is using a workspace.

[2020-07-07 22:47] #2906 closed

[2020-07-07 23:08] pritidesai commented on #2605
@psschwei feel free to create PR with subset of changes if it's easier for you. There are many places variable substitutions happen at Task level, Pipeline level, etc. As a newbie to source code, might be easier to propose small changes 🥰

[2020-07-07 23:14] pritidesai commented on #2605
@sbwsg do we consider [task results](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#configuring-execution-results-at-the-pipeline-level) substitutions as a variable substitution ? 🤔 I would think so, right?

[code]

[2020-07-08 01:49] Mage-Sky commented on #2877
Thank you for your help, but it still has error for me.

Error from server (InternalError): error when creating "task-hello-world.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: no endpoints available for service "tekton-pipelines-webhook"

[2020-07-08 02:02] Mage-Sky commented on #2831
for me,
deployment.apps/tekton-pipelines-  not ready

I'm thinking about the issue: Internal error occurred: failed calling webhook. Wrong cert-manager hook ID. #2419

'Issues like this are ultimately caused by a mismatch between the webhook's service name configured on the CRD resources (which are not templated as part of the Helm chart, and thus are not updated automatically if the release name

[2020-07-08 02:03] Mage-Sky commented on #2877
The error may be not about flannel.
I'm thinking about the issue: Internal error occurred: failed calling webhook. Wrong cert-manager hook ID. #2419

'Issues like this are ultimately caused by a mismatch between the webhook's service name configured on the CRD resources (which are not templated as part of the Helm chart, and thus are not updated automatically if the release name is set to somethin

[2020-07-08 05:50] jotacamou commented on #2831
I'm having a similar issue with a fresh install of the `latest` (`v0.14.0`) release on a fresh GKE cluster, only in my case trying to create a `Task`:

`$ k apply -f hello-world-task.yaml
Error from server (InternalError): error when creating "hello-world-task.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipeline

[2020-07-08 07:44] shahnewazrifat commented on #1131
Currently, the sidecar is not behaving like a sidecar should.
The sidecar should be able to choose when to kill itself. In my use case, I'm trying to process (conversion of format etc)  and upload some test results even if the test step failed.

So, if there was no Nop image hack in place, my sidecar would just complete its task and the container status will be terminated. Isn't it better to leave

[2020-07-08 08:00] #2728 closed

[2020-07-08 12:00] sbwsg commented on #2605
Yeah I would definitely consider that a variable substitution as well.

[2020-07-08 13:22] sbwsg commented on #2165
This is an example of where `"$HOME"` doesn't exist.  I'm guessing user 1111 doesn't have an entry in /etc/passwd.  And therefore doesn't have a home directory.  What's happened is that the `git-init` binary is [delegating to](https://github.com/tektoncd/pipeline/blob/ef57cb86077e798e0bd210ec5da1fa8df9b4ddc6/pkg/git/git.go#L81) `git`, running the `git config --global http.sslVerify true` command.

[2020-07-08 15:08] chanseokoh commented on #2165
Thanks for the explanation. The git behavior seems fair. I guess the UID 1111 example isn't something we will see in practice and probably the image should have a home for it. I think then this is basically working in my case.

One last question: Gradle auto-creates `~/.gradle`, and jib-gradle is designed to cache two subdirectories (`~/.gradle/caches` and `~/.gradle/wrapper`) through volume mount

[2020-07-08 16:15] sbwsg commented on #2165
Interesting that `~/.gradle` ends up owned by `root:root`, I'm not sure where that's happening. I've had a quick dig through the kubernetes source code but couldn't find anything specifically that sets a parent directory of a mount to be `root:root` owned.

Regardless, I think mounting the writable emptyDir to `~/.gradle` is the right way to go here.  Acceptable and reasonable!

[2020-07-08 16:43] #2642 closed

[2020-07-08 20:04] ckadner commented on #2898
https://github.com/tektoncd/cli/issues/1055#issuecomment-655305701

---

[2020-07-08 20:21] gabemontero opened #2917 "validate *Run SA's have access to ClusterTask"
# Expected Behavior

If a PipelineRun or TaskRun's SA (where if one is not specified, the default SA in the *Run's namespace is used) references a ClusterTask, then one would expect that if you log into the cluster with that SA's token used on a successfult PipelineRun or TaskRun that accesses a ClusterTask, and run

[code]

You would get `true`, meaning in fact the ClusterTask could be successful

[2020-07-08 20:21] gabemontero commented on #2917
/assign @gabemontero

[2020-07-09 08:24] vdemeester commented on #2898
#2900 has been merged, should also be fixed when doing 0.14.1
/close

[2020-07-09 08:24] #2898 closed

[2020-07-09 13:58] mike1451 opened #2922 "context.pipelineRun.name value not substituted in final task"
# Expected Behavior
Adding
[code]
to a task under `finally` in a pipeline should pass the name of the pipeline run to that task.
# Actual Behavior
Instead, the value passed to the task is `$(context.pipelineRun.name)`
# Steps to Reproduce the Problem

1. Create a pipeline with a `finally` block.
2. Add a param to a task in  the finally block which sets the value as `$(context.pipelineRun.name)`
3.

[2020-07-09 14:04] vdemeester commented on #2922
@mike1451 I think it should be fixed by https://github.com/tektoncd/pipeline/pull/2908 — which will be in 0.14.1 :pray:

[2020-07-09 15:15] holoGDM opened #2924 "Separating artifacts between tasks from other pipelineruns"
### Feature request

Artifacts should be separated between different pipelineruns, should be accessible only for that one job/pipelinerun to make possibility to start pipeline multiple times in parallel. Right now when you are using workspaces or results and you start pipeline few times, workspaces and results will be overwritten by second running pipeline before first will finish.

### Use case

[2020-07-09 16:35] sbwsg commented on #2343
OK, here's a breakdown of the catalog by Task. For each entry I've recorded the kinds of credential mechanisms supported, how the creds appear in the container (env var / file / etc...), the "type" of cred (user/pass/token/key), whether the cred is exposed to multiple steps or isolated to an individual step, and then any notes i recorded along the way.

https://docs.google.com/spreadsheets/d/1lESY

[2020-07-09 18:13] sbwsg commented on #2343
So, made a couple of quick charts from the catalog repo.

First, the breakdown of credential "mechanism".  Does the Task expose a workspace? Does it use creds-init?  Does it use a platform-dependent mechanism like GKE's Workload Identity?  A Task may support multiple mechanisms and so there can be double counts here.

<img width="704" alt="Screen Shot 2020-07-09 at 2 06 55 PM" src="https://user-im

[2020-07-09 20:12] bobcatfish opened #2925 "Make it possible to extract results from a container's stdout"
### Feature request

I'd like to be able to create a Task which provides results with come from the output of a container, without having to capture that input and parse it in my Task.

Initially we could do this only when output is json formatted maybe?

For example do something like this:

[code]

The `fromStep` above would express the jsonpath to the desired value to use as the result, which is

[2020-07-09 21:23] bobcatfish commented on #2925
OR another idea that might be much better:

If a step could access the stdout of the previous step, then I could easily have a second container in my task that parses out the project name, e.g. something like:

[code]

A couple of ways this could work:
- Indicate via variable interpolation when a step would like to be provided with the stdout of a previous step
- Always save the stdout of all step

[2020-07-10 01:40] pritidesai commented on #2922
yup just validated, should be fixed with #2908

[code]

[2020-07-10 01:40] pritidesai commented on #2922
@mike1451 let me know once you verify, I will close this issue.

[2020-07-10 08:20] nikhil-thomas commented on #2701
/area api

[2020-07-10 08:32] vdemeester commented on #2925
If `boskosctl` was able to write the result to a file, you could do that and have an extra step (using whatever image you feel like using) to extract some information from that file *to* the results file. (checked the image, there is `/bin/sh` and `bash` too.).

This could be done the other way, aka specify *for a step* that you want the output to be written to a file so that any next step in that

[2020-07-10 09:45] vdemeester commented on #2925
I think we also need to gauge the number of cases where this is required *and* where it would be a pain to do it otherwise (aka when you don't have a wait to write to a file in the image, using a shell or something else).

[2020-07-10 12:46] nikhil-thomas opened #2928 "TestReconcile_FeatureFlags Unit test failed in nightly job"
# Expected Behavior

Nightly build unit test passes

# Actual Behavior

Nightly build unit test failed:

TaskRun is: pipeline-release-nightly-gkd24-unit-tests-l2pdb

Failure:

[code]

# Additional Info

the test passed locally
[code]

[2020-07-10 12:52] nikhil-thomas commented on #2928
/kind flake

[2020-07-10 13:37] vdemeester commented on #852
@sbwsg I think this might be fixed by #2671 ins't it ?

[2020-07-10 13:39] vdemeester commented on #1367
/close

[2020-07-10 13:39] #1367 closed

[2020-07-10 13:42] sbwsg commented on #852
Yeah, the UID issue should be resolved.  `/tekton/home` is also going away at some point (or at least that's the current plan).  I'll close this but feel free to reopen if there is more to do here.

[2020-07-10 13:42] #852 closed

[2020-07-10 16:12] wlynch commented on #999
Was inspired by [Tekton Results](https://docs.google.com/document/d/1-XBYQ4kBlCHIHSVoYAAf_iC01_by_KoK2aRVO0t8ZQ0), and wrote a TaskRun -> GitHub Check PoC using a reconciler, largely based off: https://github.com/wlynch/tekton-demo/tree/master/github-app/cmd/watcher
Example CheckRun: https://github.com/wlynch/test/pull/1/checks?check_run_id=858655863

This relies on Object annotations for integrat

[2020-07-10 16:57] shimmerjs commented on #2796
I am experiencing this on 0.14.0

[2020-07-10 18:39] dibyom commented on #999
Neat! Once we have Custom Tasks, it would be interesting to see if this can also evolve to a Custom Task i.e. the watcher becomes the GitHub App controller, the annotations become params for the GitHubApp/Check Run objects whose values can be passed in via Triggers. The use case would be for a more explicit pipeline that for example will have a finally GithubAction custom task for updates!

[2020-07-10 21:12] bobcatfish commented on #2588
We've started using the `tekton.dev/minVersion` annotation in https://github.com/tektoncd/catalog/pull/389.

Seems okay to close this issue now then :D We could still have the controller fail if the minVersion is > than it's own version but that's another story.

[2020-07-10 21:12] #2588 closed

[2020-07-10 21:16] R2wenD2 commented on #1522
/close

[2020-07-10 21:16] #1522 closed

[2020-07-10 21:55] bobcatfish commented on #2928
oooooo _intriguing)

[2020-07-10 21:59] bobcatfish commented on #2925
Oh yeah, that's a good point, I guess it is a convention for a lot of tools to output to a file based on a flag 🤔

However I'd say it's even _more_ common for tools to output to stdout and call it a day - aka relying on ["text streams"](https://en.wikipedia.org/wiki/Unix_philosophy) so it feels to me like there are probably a lot of cases where capturing stdout will be the only way to get the outp

[2020-07-11 09:46] jlpettersson commented on #2924
@holoGDM are you using the same workspace PVC volume for all PipelineRuns? When using the volumeClaimTemplate as workspace volume source, a new PVC volume is created for each PipelineRun so that the runs does not interfere with eachother.

[2020-07-12 10:30] holoGDM commented on #2924
@jlpettersson thanks for help i didnt know about such posibility and i will test it. This is solving problem with sourcecode workspace but how to handle results, to not overwritte them during pipeline execution?

[2020-07-13 08:47] vdemeester commented on #999
@wlynch I guess it uses a different API than https://github.com/tektoncd/experimental/tree/master/commit-status-tracker right ? (cc @bigkevmcd )

[2020-07-13 12:24] sbwsg commented on #2925
I actually really really like both the initial proposal - `generate results from a docker image that I don't control but I know where the interesting data is` - and the subsequent proposal - `access stdout from previous steps so I can do cool stuff with it`.  I think these might be worth separating into two issues and pursuing both?

After reading through I think there might also be an alternative

[2020-07-13 13:53] holoGDM commented on #2924
@jlpettersson  i tried volumeclaimTemplate and added such thing to my pipelinerun:

[code]

but when im starting my pipeline its only executing first task and hanging on second one with:

[code]

[2020-07-13 15:04] wlynch commented on #999
Yes, but this differs from @bigkevmcd's Operator in a few ways:

1. Uses the GitHub Checks API instead of the go-scm package. I think this is a good example of how integration specific APIs can provide more detail than a generic go-scm implementation.
2. Doesn't require use of a Git pipeline resource. I think this is generally more flexible because:
    - It's less ambiguous in cases where multipl

[2020-07-13 15:14] bigkevmcd commented on #999
Yeah, that's the case.

One of the complications that I can see, is that each organisation would likely want to manage their own GitHub App for this, because the owner of the GitHub app can authenticate as any user that has authorised it to (within the scope of the token that was requested).

So, you'd effectively have to have your own private GitHub application for this (and of course, this only

[2020-07-13 15:16] ngrkajac commented on #1603
@husnurrsyafni I've been able to solve my problem.

You need to have GOOGLE_APPLICATION_CREDENTIALS Environment variable for the Kaniko container. In addition, you need to create kaniko-secret based on the kaniko-secret.json file that you download for your **GSA** service account. Your next steps might be:

- Create kaniko-secret.json and create kaniko-secret Secret object
[code]

- Instead of a d

[2020-07-13 15:23] wlynch commented on #999
I think this is actually one of the benefits of the reconciler model - as long as there is a mechanism to call into the cluster, you can store and handle integration creds outside of the user controlled cluster. This enables centralized integrations that rely on Tekton as an execution mechanism without exposing the App private key. App providers would just need to verify that the user cluster is a

[2020-07-13 15:36] qu1queee opened #2931 "As an operator I would like to be able to define init-container resources"
### Feature request

Similar to how the resources values (cpu/memory) are managed by the pipeline controller for `TaskRun` containers(_see [docs](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#specifying-limitrange-values)_) . It would be interesting to see if this pattern could apply to the `TaskRun` initContainers.

The current default behaviour when a LimitRange exists on the

[2020-07-13 17:23] jlpettersson commented on #2924
It sounds like your storage system can not let multiple pods use the same volume? If that is the case, you need to _disable_ the [affinity assistant](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#customizing-basic-execution-parameters). Do you mind sharing what storage system you are using?

[2020-07-13 19:20] jotacamou opened #2932 "Error from server (InternalError): error when creating "task.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: dial tcp <IPADDR>:8443: i/o timeout"
# Expected Behavior
Be able to create a Task and TaskRun definition

# Actual Behavior
Getting error:
[code]
# Steps to Reproduce the Problem

1. Install Tekton Pipelines by:
[code]

2. Add a Task definition (from the documentation):
[code]

# Additional Info

- Kubernetes version: GKE `v1.16.10-gke.8`

[code]

- Tekton Pipeline version: v0.14.1
[code]

This is a fresh installation of both GKE and

[2020-07-13 19:34] NavidZ commented on #2814
@vdemeester @afrittoli I sent a PR with the initial TEP. From the comments in side TEP template I got the impression that it is better to merge things slowly (like first summary and motivation) to get agreements on separates parts separately. But let me know if you prefer me to send also the design/sub-metrics and whatnot to that first PR as well.

[2020-07-13 19:34] jotacamou commented on #2932
Also commented on https://github.com/tektoncd/pipeline/issues/2831, maybe related?

[2020-07-14 01:18] vincent-pli opened #2933 "Resource request not applied to init and sidecar containers"
I get a `ResourceQuota` applied to my namespace, then I cannot make my `taskrun` run success, get
[code]
Event I set the `resources` section in my each `steps`, or in `stepTemplate`.
So I guess there is no such section in `initContainer` or Tekton's `sidecar` container.

# Expected Behavior
`Taskrun` run success.
# Actual Behavior
Failed
# Steps to Reproduce the Problem
1. Create `ResourceQuota` i

[2020-07-14 06:29] pritidesai opened #2934 "precedence order for labels and annotations"
When the same label/annotation exists in `Task` and `TaskRun` (with different values), `TaskRun` CRD is created with the values from `Task`. Is this by design? or Should labels from `TaskRun` take higher precedence over `Task`?

[code]

=>

[code]

Same is happening with `Pipeline` and `PipelineRun`, labels from `PipelineRun` are being overwritten with the labels from `Pipeline`.

/kind question

[2020-07-14 12:48] sbwsg commented on #2934
Possibly related: https://github.com/tektoncd/pipeline/issues/2121 - labels from Pipeline always override those of PipelineRun.

The code that does this is intentionally taking all labels from one to the other: https://github.com/tektoncd/pipeline/blob/8e9230d68634e9426a0503ec3dcc2a7a877c04cc/pkg/reconciler/pipelinerun/pipelinerun.go#L278-L285

I think there could be arguments made from both persp

[2020-07-14 14:55] bobcatfish commented on #2917
`kubectl  auth can-i get clustertask <cluster task name>`

@gabemontero is this the case for non-cluster Tasks and Pipelines? i.e. if you specify a service account in a PipelineRun or a TaskRun, is that service account required to be able to fetch the Task or Pipeline? I don't think that it is.

If that's the case, I don't agree that this is a bug, I think this is a fundamental change in how permi

[2020-07-14 15:20] ibexmonj commented on #1542
@adjavaherian thats not what i interpret based on the what the docs say. They are handling CRD installs in a separate directory now `crds` dir vs the old `crd-install`. They do not say helm3 won't support CRD installs at all.

I believe there is value in adding the community chart and let the community maintain it under the official project like other open source projects do.

FWIW, there are alre

[2020-07-14 15:28] gabemontero commented on #2917
Some clarifications @bobcatfish  ... even if you do not specify an SA in the TaskRun or PipelineRun SA, an SA is still associated with the Pod.  Namely the "default" SA in every k8s namespace, where in this case, we are talking about the default SA in the namespace the  PipelineRun and TaskRun object was created in.

With that, whichever SA is ultimately associated with the resulting Pod, if you l

[2020-07-14 15:37] soharaki opened #2936 "Tekton's Results don't get trimmed"
# Expected Behavior

Tekton's Results have the line feeds.
Some error occurs when we want to pass parameters directly from the results, for example Kaniko.

# Actual Behavior

Tekton's Results have no line feeds.

# Example Test Codes

[code]

and the console displays the follow:

[code]

# Example Usage Codes

[code]

and the console displays the follow:

[code]

# Additional Info

- OpenShift ve

[2020-07-14 15:41] prantaa opened #2937 "configure a task to run after 1 or more conditional tasks"
### Feature request

To be able to configure a task to run after 1 or more conditional tasks.

### Use case

I'm trying to create the following pipeline:

Task(git clone repo) -> Task(run tests) -> Task(create git issue if tests failed) -> Task(Send out slack notification)

The create git issue task is conditional based on the results of the tests that were run previously.

I'd like to be able to

[2020-07-14 16:02] bobcatfish commented on #2917
Thanks for your detailed explanation and patience with me injecting my opinion late!

that makes sense, however the tekton controller is responsible for resolving Tasks/Pipelines/ClusterTasks, not the pod, so my understanding is that the service account supplied (or the default service account in the case none is provided) is not involved in retrieving tasks/pipelines/clustertasks at all right now

[2020-07-14 16:28] sbwsg commented on #2936
Thanks for the issue report!  It's true that Tekton doesn't perform any kind of string trimming for results.  This has been intentional since we didn't want to make assumptions related to the content that task authors can put into results.  But we should document this.

If you're writing a bash script then to prevent a newline being inserted into a result when using `echo` you can use `echo -n`.

[2020-07-14 16:36] gabemontero commented on #2917
Yes the pod is not resolving the Tekton CRDs.  But I think to some degree it is orthogonal.  From my perspective, there is an implied default SA if none is specified for the Tekton Run objects.

Which then get into a distinction common with k8s authorization, which I noted in my design doc (and will transfer to the upcoming TEP), namely "requesting user" vs. "SA" for a given k8s object.  And in ta

[2020-07-14 16:38] gabemontero commented on #2917
/remove-kind bug

/kind feature

[2020-07-14 16:46] afrittoli commented on #2082
As per discussion during the [API WG on 13/07/20](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.c06ggmfyb76k) we will not support for now any option beyond the single sink in the platform wide configuration.

The following use cases:
- send events to multiple sinks
- send different events to different sinks
can be supported using an event broker wit

[2020-07-14 18:49] bobcatfish commented on #2710
@pritidesai has created a WIP design at [Task Results with finally](https://docs.google.com/document/d/10iEJqVstY6k3KNvAXgffIJLcHRbPQ-GIAfQk5Dlrf3c/edit#)

[2020-07-14 18:56] sbwsg commented on #2791
There are two separate issues here:

1. First, a feature request to optionally remove creds-init behaviour.  @bitsofinfo do you think you'd prefer this kind of control per-Task/TaskRun?  Or is it something you'd like to configure at the cluster level through a configmap?  Or something else?
2. The creds init code will write empty credential files if no creds are provided. So for example, `~/.ssh/k

[2020-07-14 19:35] bioball opened #2941 "volumeClaimTemplates do not work if the workspace name has capital letters"
# Expected Behavior

It should be possible to use a workspace that has capital letters with volumeClaimTemplates

# Actual Behavior

The run fails because Tekton attempts to create a PVC that has capital letters

# Steps to Reproduce the Problem

1. Use this TaskRun:
[code]
2. Apply it
3. Observe this message in the status:
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl v

[2020-07-14 19:58] jerop commented on #2937
@prantaa we're designing solutions to address the issues in `Conditions`, including providing more options upon `Condition` failure -- please see the _Failure Handling_ sections of [this design doc](https://docs.google.com/document/d/1kESrgmFHnirKNS4oDq3mucuB_OycBm6dSCSwRUHccZg) and share any feedback you may have

[2020-07-14 21:52] shimmerjs commented on #2055
Where is the non-go API documentation available?  I'd like to validate my Tekton resources with kubeval.  It isn't clear how this issue was resolved

[2020-07-14 21:56] afrittoli commented on #2055
It looks like #1250 and #2055 were both closed as duplicate of each other. I think one of the two should stay open? @sbwsg @bobcatfish

[2020-07-15 07:52] salaboy commented on #1542
@adjavaherian I do understand that it gets confusing for updates of CRDs, but are Tekton CRDs changing that much? I mean, if they are stable enough for other projects to consume, I think that having a Helm chart is very useful,
@ibexmonj we might want to push for something like a http://cd.foundation maintained chart as a joint collaboration of multiple open source projects interested in having th

[2020-07-15 09:02] #2936 closed

[2020-07-15 09:26] rawlingsj commented on #1542
@salaboy yeah makes sense to me.  FWIW the Jenkins X helm chart is currently a little behind the latest release https://github.com/jenkins-x-charts/tekton/blob/0ead7a1b6d950aedb303df76b0ece90fac66a71d/tekton/values.yaml#L2.  It would be great to setup some automation and keep up-to-date with latest releases including automated testing that could also help provide the tekton project some feedback t

[2020-07-15 11:04] shahnewazrifat commented on #1131
Any thoughts @vdemeester / @sbwsg
Sorry about the noise :D

I can contribute to this fix if you agree
I'd prefer `forceTermination: false` to give the control over to the user to disable Nop image swapping

[2020-07-15 11:38] jlpettersson commented on #2941
Is it preferred to restrict workspace-names to k8s-resource-naming (dns compatible names) or to handle the PVC name differently (it could be done with e.g. a hash as for the Affinity Assistant name)?

[2020-07-15 12:34] sbwsg commented on #2055
Sorry for the churn but I'm actually going to make #1250 the source of truth here.  The description of that issue aligns more closely with what we want for the project I think - generated documentation from the existing API definition.

[2020-07-15 12:34] #2055 closed

[2020-07-15 12:36] sbwsg commented on #1250
I'm going to reopen this one since #2055 ended up in a closed state. If I remember right, though I can't find the specific PR, we decided that a static description of the API wasn't enough and that we wanted to be able to regenerate the API documentation.  This issue describes that requirement a bit more clearly than #2055 so I'm calling this one the source of truth.  Happy to switch it around aga

[2020-07-15 12:38] sbwsg commented on #1250
I've created a new milestone for 0.16 and tentatively put this in there to be discussed for inclusion.

[2020-07-15 13:04] sbwsg commented on #1131
Hey, no apology necessary, it sometimes takes us a while to give new designs a proper look.

I am not opposed to the idea of introducing a mechanism to disable the "nop image swap" and let sidecars terminate themselves.

There is no workaround that I can think of which would work today without code changes. The reason this is so tricky is because of the requirement for the Sidecar to run to comple

[2020-07-15 13:07] tracymiranda commented on #1542
@salaboy @rawlingsj great thinking - I'll take it to the CDF interoperability SIG (https://github.com/cdfoundation/sig-interoperability) and I'm sure we can get this done somehow or the other.

[2020-07-15 13:23] bitsofinfo commented on #2791
Both top level `feature-flag` and per `Task` level configuration. Preference for per `Task`

[2020-07-15 14:28] jerop commented on #1142
Duplicate issue: https://github.com/tektoncd/pipeline/issues/2894

Fixed in https://github.com/tektoncd/pipeline/pull/2899

/close

[2020-07-15 15:43] shahnewazrifat commented on #1131
Thank you so much @sbwsg !
Really appreciate it.

I'll follow your advice and ping you back if needed

[2020-07-15 16:00] imjasonh opened #2944 "Move Cloud Events publishing into a separate controller binary"
### Feature request

Move the controller logic that currerntly watches for {Task,Pipeline}Run updates and emits Cloud Events into a separate controller binary, that is released and installed by default alongside the rest of the Tekton components.

### Use case

This should make Cloud Events publishing separately configurable, monitorable and scalable, and in cases where an operator or distributor

[2020-07-15 19:26] gabemontero commented on #2917
OK I have a TEP PR up at https://github.com/tektoncd/community/pull/152

Note @bobcatfish @vdemeester  .... after EOB today I'm out of the office for bereavement/vacation until the end of next week, so please be advised it may a bit before I respond to your respective initial comments.

Also note, based on @bobcatfish 's questions around cluster vs. namespace scoped objects the TEP considers both

[2020-07-15 22:25] andydude opened #2949 "Unable to specify SSH port number in Git PipelineResource"
# Expected Behavior
[code]

# Actual Behavior
[code]
I was also unable to supply a `~/.ssh/config` file via a volume or secret, because I was unable to determine where to put the volume config.

[2020-07-16 06:40] CoderPoet commented on #1983
My performance is the same as yours, is there any solution for this issue

The same configuration, tekton pipeline 0.12 no problem, 0.13, 0.14 version will have problems

[2020-07-16 11:51] dlorenc commented on #2925
One more possible ux: https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-an-output-parameter

GitHub actions does something similar with special tokens in the output to denote a value. Probably a bit simpler than json, unless your tool already happens to output things in json. So maybe a tossup?

[2020-07-16 12:27] sbwsg commented on #1983
Please provide a copy of the Secret YAML, ServiceAccount YAML, and Task YAML that you're using.  Remove any sensitive data in those YAMLs.

This error ^ implies that Tekton is not considering your secret as a valid SSH secret.  Unfortunately the error message isn't enough to know why.  It's also interesting that you mention this problem only started with 0.13.  It could be a bug or it could be tha

[2020-07-16 12:28] sbwsg commented on #1983
One other thing that would be really useful to help debug is the TaskRun YAML after the TaskRun has ended.  You can get this with `kubectl get -o yaml taskrun <taskrun-name>`.

[2020-07-16 12:49] sbwsg commented on #2949
Ah, yeah it's true we don't expose port configuration as part of the git pipeline resource.  You include it in the SSH credential you attach for that address.  See our [auth.md](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#ssh-authentication-git) which describes how to supply the SSH credential.  It's not explicitly stated but the address you include in that Secret can also includ

[2020-07-16 12:54] sbwsg opened #2950 "Document how to specify non-standard port for Git servers"
# Expected Behavior

Users should be able to discover how to specify a non-standard port for Git repos when using the Git PipelineResource, git-clone Task, and/or just supplying Git credentials.  It can be a bit confusing that port information is not included as part of the git PipelineResource URL or params.

# Actual Behavior

We don't explicitly mention how to configure a non-standard port when

[2020-07-16 14:10] danielhelfand commented on #2931
I think the main issue here is that the [`resolveResourceRequest()`](https://github.com/tektoncd/pipeline/blob/586bd4e4116114982f112f9fd12b0f37d2d9efed/pkg/pod/resource_request.go#L35) func currently isn't being applied to init containers as it is for [steps](https://github.com/tektoncd/pipeline/blob/bbb767cd8fb3e52ded726ddbbc531745e3fe17c0/pkg/pod/pod.go#L148).

There could maybe be a separate fu

[2020-07-16 15:10] Fabian-K opened #2951 ""ssh-keyscan": executable file not found in $PATH after upgrading from v0.13.2 to v0.14.1"
Hi,

we have a pipeline running that is using ssh-based authentication to clone from a corporate git repository as described in https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#ssh-authentication-git.

After upgrading from v0.13.2 to v0.14.1, the pipeline starts failing with the following log output:

[code]

In the release notes of 0.14.1 I found the following paragraph:
The creds-in

[2020-07-16 15:12] vdemeester commented on #2951
oh that ain't good :sweat:
/cc @sbwsg
(this might mean we need a 0.14.2 :upside_down_face: )

[2020-07-16 15:13] sbwsg commented on #2951
Ah, yeah, that's fair.  Probably need to rollback the creds-init change.  I'll get a PR open.

[2020-07-16 15:29] sbwsg commented on #2951
@Fabian-K can you confirm whether you include the `known_hosts` section in your Secrets (mentioned in [the auth doc](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#ssh-authentication-git)).

If not then you can add this known_hosts field to immediately sidestep the problem.  `ssh-keyscan` should only run if you don't include a known_hosts entry in the Secret.

[2020-07-16 15:34] sbwsg commented on #2951
I think the fix to this might be to drop use of `ssh-keyscan` in the creds code.  I'm not sure it provides any kind of security to do that scan since Tekton will blindly trust _any_ key that it returns.

[2020-07-16 15:36] Fabian-K commented on #2951
Ah, yes. Currently, we don´t include known_hosts, adding it to the secret resolves the issue :)

[2020-07-16 15:56] vdemeester commented on #2951
Right, *but* this is a breaking change in behavior so… this should definitely not be in a bugfix release and will need to be handle as other deprecation.

[2020-07-16 16:01] #2770 closed

[2020-07-16 16:08] sbwsg commented on #2951
Yep, agreed: https://github.com/tektoncd/pipeline/pull/2952

[2020-07-16 17:18] pritidesai commented on #2557
/assign

[2020-07-16 18:40] jotacamou commented on #2932
Issue solved and not really a Tekton per se problem (but maybe worth documenting about it?)  Since my cluster is a "VPC Native" GKE cluster, it is required that the port is allowed on node pool (port `8443` in this case).

[2020-07-16 18:40] #2932 closed

[2020-07-17 02:57] rucciva opened #2954 "[question] Task which depends on multiple services"
What are the best practices to run a pipeline consisting of integration test that need to invoke multiple individual services which might also depends on another services such as databases? I'm concerned about the scalability of running these services--which might consume high amount of node resources--along side the test in the same node, since they compete on the same resources which might impac

[2020-07-17 03:40] zhangtbj commented on #2842
Hi all,

Our colleague already fixed the same problem in Knative/pkg, and I heard the Tekton also uses the same knati/pkg for metrics.

Can you please help check if it is helpful after update the knative/pkg in Tekton?
https://github.ibm.com/coligo/source-to-image/issues/398

Thanks!

[2020-07-17 07:40] vdemeester commented on #1606
Small updates on this after a slack discussion with @shinji62 :wink:
Overall I think we all agree on making runtime requirement in task as explicit as possible. But as @skaegi said

There is a few use-case where it would be useful to allow the user to "inject" environment variable in there tasks at runtime. The main one is : relatively generic task that might be able to act based on this. A `make`

[2020-07-17 07:44] Fabian-K commented on #2951
Thank you for the quick support & fix 🙏

[2020-07-17 07:45] vdemeester commented on #2951
So this should be fix in 0.14.2 (reverted the change), and will be fixed "differently" in 0.15 :wink:
Thanks for the report @Fabian-K :hugs:

[2020-07-17 09:26] qu1queee commented on #2931
thanks for the answers @danielhelfand .

It is good that you explain the rational behind why Tekton chose limitrange `min` instead of `defaultRequest` for the containers. In general if a container does not specify the resource `request` , it always falls back to the LimitRange `defaultRequest`(if the LimitRange exists), therefore sticking to this behaviour could make more sense for the Tekton step

[2020-07-17 09:27] bigkevmcd opened #2957 ""Build Number" for PIpelineRuns scoped to the Pipeline"
### Feature request

Most Integration Services have a concept of a sequential, human-readable build number.

Jenkins has `BUILD_NUMBER` https://wiki.jenkins.io/display/JENKINS/Building+a+software+project#Buildingasoftwareproject-belowJenkinsSetEnvironmentVariables
Travis has `TRAVIS_BUILD_NUMBER` https://docs.travis-ci.com/user/environment-variables/
Circle has `CIRCLE_BUILD_NUM` https://circleci.

[2020-07-17 09:35] vdemeester commented on #2957
To summarize my views on this (based on multiple discussions) : build number sequences are a "user" concept aka what makes a set of pipelinerun or taskrun part of a given sequence is something the user defines, not tektoncd/pipeline.

That said, as of today, it is not possible to *emulate* that behavior with Tekton, even with https://github.com/tektoncd/community/pull/147 (integration TEP), we nee

[2020-07-17 09:43] vdemeester opened #2958 "Support more context variables (uid, annotations, …)"
### Feature request

Related to https://github.com/tektoncd/pipeline/issues/2957, it would be nice if we could expose more metadata values in the variables, under `context`. Currently we do have `pipelineRun.name`, …

Additionnal variables could benefit from being exposed:
- `metadata.uid` (on PipelineRun and TaskRun). As it is the unique id set by k8s (or whatever other impl. in the future). It c

[2020-07-17 12:12] sbwsg commented on #2954
/kind question

[2020-07-17 13:29] dleurs commented on #2616
Same issue, up

[2020-07-17 13:40] vdemeester commented on #2616
So, if I remember correctly, it is `index.docker.io/v1` or something like that. One thing that should work better is to use `kubernetes.io/dockerconfigjson` secret, see [here](https://v1-14.docs.kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials)

[2020-07-17 13:47] bobcatfish commented on #2957
I like the idea of providing a uid - i think the [uid feature in triggers](https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md) has been really useful and I've run into a few places where I've wanted to use it as well.

Particularly recently trying to create a task that does what our end to end tests do:

[code]

They use the `BUILD_NUMBER` from prow to create a unique resour

[2020-07-17 13:53] vdemeester commented on #2957
@bobcatfish k8s do create a `metadata.uid` when a resource is created :upside_down_face:

[2020-07-17 16:53] bigkevmcd commented on #2957
In my head, I was envisaging some sort of resource that incremented, and that a PipelineRun could reference to get a number from.

I do think that it could be done via an external integration, perhaps annotating the PipelineRun, assuming that we could make annotations available to the context (to be exposed for use), I guess my only concern is that there could be a race, between the external compo

[2020-07-17 17:11] Peaorl commented on #2616
I've been trying this out and got it to work with the following settings:

- In the image PipelineResource the spec.params.value should be index.docker.io/username/repo:tag
- And when creating the regcred secret the docker-server flag should be set to index.docker.io

[2020-07-17 17:35] danielhelfand commented on #2931
My personal opinion on the ways step resource requests are handled is that it is a confusing user experience. The way the algorithm works for pipelines is to only accept the max resource request values across all step containers part of a TaskRun. If a limitrange minimum is present, the min is applied to all steps without max values for CPU, memory, and storage. If no min is present, all container

[2020-07-17 17:35] dleurs commented on #2616
Something I have noticed, my error is /index.docker.io/v2/
[code]
While if I cat the docker credentials, i got index.docker.io/v1/
[code]
I will try to find a way to make credentials /v2 and not /v1

[2020-07-17 17:42] dleurs commented on #2616
Something I have noticed, my error is /index.docker.io/v2/

error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "docker.io/dleurs/tekton-basic-nodejs-app": POST https://index.docker.io/v2/dleurs/tekton-basic-nodejs-app/blobs/uploads/: UNAUTHORIZED: authentication required; [map[Action:p

[2020-07-17 17:55] sbwsg commented on #2616
I think you can leave the version strings out completely as @Peaorl suggested - so just `index.docker.io` in your secret and `index.docker.io/username/repo:tag` in your Image PipelineResource.

If you're still having trouble it would be helpful to see your PipelineResource YAML and the `kubectl create secret` command that you're using.  Leave out any sensitive info like usernames / passwords.  Che

[2020-07-17 19:23] bobcatfish commented on #2957
That sounds almost like something that could be the job of the thing creating the PipelineRun, and could be reflected in both the name of the PipelineRun and potentially the parameter.

If we felt like it was the tekton controller's job to keep track of this, it would have to start storing a count of how many runs of each pipeline have occurred, and if we scaled out the controller, they'd need to

[2020-07-17 19:30] bobcatfish commented on #2917
Hey @gabemontero , I'm really sorry to hear that. Hope you and yours are holding up okay. Absolutely no hurry at all.

[2020-07-17 20:11] jlpettersson opened #2962 "Security: Protect a ServiceAccount token within a namespace"
### Feature request

Provide documentation on how to protect sensitive tokens within a CI/CD namespace

### Use case

For a CI/CD-system for a larger company, a few things are important:

* That developers does not have access to production environment
* That the CI/CD-system does have access to production environment
* That developer-teams are autonomous - e.g. can tweak their CI/CD Pipeline for

[2020-07-17 20:13] jlpettersson commented on #2962
@gabemontero I created this issue to document the security issue that I described in a design doc earlier.

I don't yet know how to solve it, but this is probably a security blocker for us.

[2020-07-18 12:21] dlorenc commented on #2962
This part is kind of hard right now, and I agree might need some thinking. The basic solution for this with RBAC would be to give developers something like this:

- read access to a set of vetted Tasks
- create access to TaskRuns

However, the developers can just use TaskRuns with embedded Task definitions, which would not require them to create a new Task.

[2020-07-18 17:04] dlorenc commented on #2957
I agree with @bobcatfish - an incrementing number is very hard to get right in a distributed system. I think we can probably make a simpler form of the uid that might be easier to read/remember.

[2020-07-18 17:13] dlorenc commented on #2065
I just stumbled on this, but I'm in favor of keeping the directory. Without it, it's hard to review the code we're depending on.

[2020-07-18 17:46] dlorenc commented on #1796
I think this is handled by the custom task work! https://github.com/tektoncd/community/pull/143

[2020-07-18 21:33] skaegi commented on #2962
Granting a user the privilege to create a TaskRun or PipelineRun is really no different from granting the privilege to create a Job, Deployment, or StatefulSet. By that I mean that like it or not you've granted the ability to "indirectly" create a pod with any SystemAccount in the namespace and from there act as that user. Maybe OPA would be something that you could use to provide selective access

[2020-07-19 02:24] nickgerace commented on #2613
I'll close this issue because I believe I've expressed the symptoms, and not the root issue: client-go (other other Kubernetes APIs) v1.18+ support.

[2020-07-19 02:24] #2613 closed

[2020-07-19 14:49] skaegi opened #2966 "PodSecurityPolicy Config problems running Tekton in a restricted environment"
Until there is a better alternative we're using PodSecurityPolicy to lock down our environment and we did a quick audit of Tekton's default PSP config. We found a couple of fairly simple problems that should be fixed.

1. Tekton's PSP "tekton-pipelines" allows containers to `RunAsAny` user. It is applied to the "tekton-pipelines-controller" SA using a `ClusterRole`. A `ClusterRole` should not be u

[2020-07-19 23:32] gitupxm163 opened #2968 "the website - tekton.dev, the demo on this website,the demo path maybe wrong --- the location is: Interactive Tutorial - step 2 of 6"
# Expected Behavior cd tekton-example/getting-started/src

# Actual Behavior cd tekton-examples/getting-started/src

# Steps to Reproduce the Problem

1. please fix the path: tekton-example ---> tekton-examples
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines

[2020-07-19 23:48] gitupxm163 opened #2969 "tekton.dev -demo,some command may be wrong --- the location is: Interactive Tutorial - step 2 of 6"
# Expected Behavior

when i run : mkdir /mnt/data && kubectl apply -f https://k8s.io/examples/pods/storage/pv-volume.yaml ......
the command Should execute correctly

# Actual Behavior

mkdir: cannot create directory ‘/mnt/data’: File exists
the result like this ,so the next command won`t be execute

# Steps to Reproduce the Problem

1. maybe we should use : mkdir -p /mnt/data && command....

[2020-07-20 01:21] andydude opened #2970 "Tutorial.md says to use "host.docker.local" instead of "host.docker.internal""

[2020-07-20 08:04] vdemeester opened #2971 "Tutorial: enhance "running this tutorial locally""
As of today, in the [tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#running-this-tutorial-locally), we assume the user is either running Windows or Mac OS(X) as we are only documenting the use of "Docker for Desktop" (which is only available on those).

We should enhance that part by having support for different tools and more Operating Systems (like GNU/Linux). We sho

[2020-07-20 08:31] vdemeester commented on #2966
/cc @gabemontero
I think the controller and pods can run as nonroot (and are now using the non-root images) so maybe we should make sure the run as non root instead of adding `runAsNonRoot: false` ?

[2020-07-20 08:35] dleurs commented on #2616
Thank you for yout helm, here are all informations :

Install Tekton :
[code]

[code]
[code]
[code]
[code]
[code]
[code]

[code]
[code]

[2020-07-20 08:35] vdemeester commented on #2065
Ah, never commented on this one (but on the go module support, [here](https://github.com/tektoncd/pipeline/pull/1607#issuecomment-558513849)). Overall, I don't see any reason for removing the `vendor` folder.

[2020-07-20 08:45] vdemeester commented on #2962
cc @font

[2020-07-20 13:22] dlorenc commented on #2815
This looks like it's passing now: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-snb9k

Should this be closed/dropped in priority? It's marked critical-urgent still

[2020-07-20 13:31] bobcatfish commented on #2815
I think the point was that this is non-deterministic - let's leave it open until we feel we understand why the race occurred.

[2020-07-20 13:48] dlorenc commented on #2640
The run indefinitely option sounds a lot like the k8s pause container: https://www.ianlewis.org/en/almighty-pause-container

we could maybe reuse that one - it is already optimized to be tiny and run forever with 0 CPU footprint.

[2020-07-20 13:48] dlorenc commented on #2640
Source for it here: https://github.com/kubernetes/kubernetes/tree/master/build/pause

[2020-07-20 13:52] dlorenc commented on #2598
This was fixed in https://github.com/tektoncd/pipeline/pull/2602

[2020-07-20 13:52] #2598 closed

[2020-07-20 13:59] skaegi commented on #2966
re: `runAsNonRoot` fix -- Is that WIP or something coming in the next release? If so it still might be worth adding the entry for now as that's what matches the current code and is super easy to undo when we have non-root support.

[2020-07-20 14:05] Peaorl commented on #2616
You're welcome!

Following your steps we had similar authentication errors even though the only things changed as compared to the [tekton tutorial](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) were the input repo you specified along with omitting a docker context.

In the end we tried a different Kaniko version, namely [v0.16.0](https://github.com/GoogleContainerTools/kaniko/

[2020-07-20 14:11] vdemeester commented on #2966
It should be in 0.14.x for sure, but I don't think there is any test that is exercising this (aka running as non root)k

[2020-07-20 14:46] skaegi commented on #2966
Hmm... so in 0.14.1 I definitely cannot run as non-root. If I try I get...
[code]

[2020-07-20 14:52] bobcatfish opened #2973 "Pipeline level sidecar"
### Feature request

In addition to letting Tasks specify sidecars https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-sidecars, which are containers that run alongside a Tasks's steps and the lifecycle of which is managed by the Tekton controller, we allow Pipelines to specify sidecars as well.

We could implement these as pods, which the Tekton controller starts when execut

[2020-07-20 14:52] bobcatfish commented on #2973
+ @chhsia0

[2020-07-20 15:42] vdemeester commented on #2966
@skaegi I don't this `runAsNonRoot` defined in the [`controller.yaml`](https://github.com/tektoncd/pipeline/blob/release-v0.14.x/config/controller.yaml) though (only in your PR https://github.com/tektoncd/pipeline/pull/2967/files#diff-d56e306ce931c2991f18ef68b6b501a3R109). :thinking:

[2020-07-20 15:47] sbwsg commented on #508
Now that https://github.com/tektoncd/catalog/pull/273 is implemented I think we can close this issue.  I encourage anyone requiring this feature to exercise the new catalog entry and report problems with it there.  Also, please feel free to reopen this issue if there's more work to be done here.

[2020-07-20 15:47] #508 closed

[2020-07-20 15:52] vdemeester commented on #2973
As of today, this can be achieve by using a `Task` — that would do the deploy in the running cluster, … and clean-up in a finally task. There might some rbac issues as this means the service account running the task needs to have some rights on the cluster.
Overall it seems "fine" to me *but* I have the same though as with #2925 — how *required* it is ? how useful it is compared to the "potential"

[2020-07-20 15:54] sbwsg opened #2974 "Improve testing around git packages"
### Feature request

We have a number of packages that work with git in some way.  Examples: `pkg/credentials/gitcreds`, `pkg/git`, `cmd/git-init`. The testing around these packages is not stellar.  In particular, `pkg/git` could really use some good testing since it's heavily utilized by both the Git PipelineResource and the `git-clone` Catalog Task.  We don't have any tests covering its public f

[2020-07-20 16:12] skaegi commented on #2966
Right, what's happening in my environment is that I have a restricted psp that matches the pod description. What's happening is that the psp is "adding" the `runAsNonRoot: true` because it is not stipulated. e.g. the psp is mutating the pod definition

[2020-07-20 18:41] bobcatfish commented on #2973
+ @skaegi

[2020-07-20 18:42] dlorenc commented on #2973
Another crazy idea: make pipeline-level heartbeats a first-class thing - maybe through cloudevents.

[2020-07-21 01:58] psschwei commented on #2971
/assign psschwei

[2020-07-21 03:31] skaegi commented on #2966
I'm trying `runAsUser: 1001` and... so far so good. Let me update the PR.

[2020-07-21 04:29] skaegi opened #2977 "Tekton injected init-containers and steps should runAsNonRoot"
Running in a restricted environment a simple example TaskRun pod fails with...
[code]

The entrypoint container (the lucky winner in this case) does not require root however we should also update the other containers Tekton injects to `runAsUser: 1001` as they likely don't need root privs.

[2020-07-21 08:09] zhangyunlin opened #2978 "the command referenced above is missed"
# Expected Behavior
v0.14.1 pipeline/docs/taskruns.md, "Monitoring Steps" section mentioned a command to monitor steps status, but after ":", the command missed
# Actual Behavior
the command mentioned above is missed

# Steps to Reproduce the Problem

1. url : https://github.com/tektoncd/pipeline/blob/v0.14.1/docs/taskruns.md#monitoring-steps
2. after ":", the command missed
3. need to update the

[2020-07-21 08:47] dleurs commented on #2616
Thank you very much, it is not working with gcr.io/kaniko-project/executor:v0.24.0 (as the only difference as my previous message) but it is working with gcr.io/kaniko-project/executor:v0.16.0

Step 1 : Testing with gcr.io/kaniko-project/executor:v0.24.0 (image tag 1.0.0) => fail
Step 2 : Testing with gcr.io/kaniko-project/executor:v0.16.0 (image tag 1.0.0) => success
Step 3 : Testing with gcr.io/

[2020-07-21 12:09] sbwsg commented on #2977
One thing to be wary of here: assigning a random UID is not quite enough for our various init containers / helpers.  The UID needs to have an entry in `/etc/passwd` with a home directory defined as well. Otherwise behaviour for things like credential initialization can break - errors will start appearing related to things like being unable to copy `/tekton/creds/.docker` to `/.docker`. Particularl

[2020-07-21 12:11] sbwsg commented on #2616
OK, sounds like an update to the tutorial to use kaniko 0.16.0 is a good next step in that case.

/kind documentation

[2020-07-21 13:46] skaegi commented on #2977
Hmm... ok thanks Scott. I was also thinking about this some more and we probably could do this better by changing the actual underlying USER in the image.

[2020-07-21 14:58] lmserrano opened #2979 "The affinity-assistant pods are still spawning after disabling the associated feature-flag: disable-affinity-assistant"
# Expected Behavior

No affinity-assistant pods should spawn

# Actual Behavior

There is an affinity-assistant pod spawning for each pipelinerun task that manages to execute

# Steps to Reproduce the Problem

1. Install Tekton Pipeline 0.14.2
2. `kubectl edit configmap feature-flags -n tekton-pipelines` and add `disable-affinity-assistant` as follows:
[code]
3. Start a pipelinerun which uses mult

[2020-07-21 15:03] lmserrano commented on #2864
I'm facing this issue for 2 nodes in a same single AZ and a pipelinerun which uses multiple pvcs and some tasks which also use multiple pvcs.

@jlpettersson , what is the suggested approach for avoiding multi-PVC tasks? In my use case, as part of a pipeline, I have a task which builds an application, and it does so based on 3 volumes: 1 with the git code and 2 with dependencies (which are retained

[2020-07-21 15:16] #2605 closed

[2020-07-21 15:22] vdemeester commented on #2979
/cc @jlpettersson

[2020-07-21 15:52] sbwsg opened #2981 "Provide configuration option to disallow omitting known_hosts"
### Current Behaviour

When a [Git SSH secret](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#configuring-ssh-auth-authentication-for-git) does not include a `known_hosts` field, Tekton will accept any public key that an SSH/Git server returns. This could be a security concern and may not be an organization's desired behaviour.

### Expected Behaviour

Administrators should be able

[2020-07-21 15:54] #2616 closed

[2020-07-21 22:21] jlpettersson commented on #2864
As a generic solution, I suggests using subPaths of the same PVC volume. See the example with different subPaths: https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/pipelinerun-using-different-subpaths-of-workspace.yaml

There is probably multiple different solutions for this. It also depends on what storage solutions is available for you.

Do you keep the volume, and m

[2020-07-22 00:45] lmserrano commented on #2864
Thank you. With that approach I can have the 2 dependency volumes be used in a single one.

I'm currently using AWS default EBS which I know can pose issues when nodes go across availability zones, but for now I'm having my tekton pipelines and tasks in a single availability zone to avoid volume affinity handling complexity.

Currently I'm using the PVCs with access mode of `ReadWriteOnce`. My use

[2020-07-22 01:19] skaegi commented on #2973
re: docker / registry sidecar Use Case...

One thing we see frequently is in response to a git commit, a single pipeline is run that splits into into separate Tasks used to both build sub-component images and sanity/unit test them concurrently. A later join Task decides if everything is in order and if so finally tags and pushes the images to a final pre-product image registry.

We see this done w

[2020-07-22 06:27] zhangtbj opened #2984 "taskrun pod of resource.request settings is not good enough for customization"
# Expected Behavior
If I set the resource.request in each Tekton task step, during create pod, I would like to keep this setting for my original resource.request value

# Actual Behavior
The tektoncd pkg/pod logic will override the container.resource.request value follow by this doc:
https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#specifying-limitrange-values

It is not good, bec

[2020-07-22 07:07] ZhuangYuZY commented on #2984
Thank you  @zhangtbj to open this issue. I am in same team with @zhangtbj .

In our user case, we are using tekton in multiple tenant IKS cluster, so the CPU/Memory/Disk resource for tekton pod is very important, we want to avoid over-commit on the cluster, we want to set resource request = resource limit for every container.

 And for some tekton container, it does very simple job, we also want t

[2020-07-22 07:54] jlpettersson commented on #2984
I agree with this.

This is related about LimitRanges: https://github.com/tektoncd/pipeline/issues/2666

[2020-07-22 08:16] afrittoli commented on #2984
/cc @vdemeester @ImJasonH @bobcatfish

[2020-07-22 08:18] afrittoli commented on #2666
This is addressed by https://github.com/tektoncd/pipeline/pull/2947

[2020-07-22 08:47] bcollard commented on #1542
To date, the operator looks to be under development and refactoring (for instance, I had a look two days ago, and the 'deploy' dir was renamed to 'config' between 2 pages reload). And, I suppose, this operator would require the OLM (Operator Lifecycle Manager). I guess not everyone has got this OLM installed / available (even if easily installable).

So, in the meantime, I would suggest to rely on

[2020-07-22 09:15] vdemeester commented on #1542
So, the goal of `tektoncd/operator` is to make it usable *without* requiring OLM, so that you can just apply the operator yaml and that takes care of the rest (installing or upgrading tekton, …). cc @nikhil-thomas @sthaha . It is indeed in refactoring to allow such thing (and also to allow having customization per *targets* like openshift, gke, …)

[2020-07-22 09:22] vdemeester commented on #2984
I tend to agree with this too. I think the initial thoughts around this was that resources request on step would sum up even though we do not run them all at the same time (and thus, only the *max* of any request is required). But that *smart* behavior proves to be more painful than it seems to be worth, especially with `LimitRanges` where it can lead to unschedulable pods.

[2020-07-22 11:03] ImJasonH commented on #2984
cc @danielhelfand

[2020-07-22 11:23] ImJasonH commented on #2984
As @vdemeester says, the reason we try to be intelligent is because we know the steps won't run at the same time, and we expect users to understand that too when making resource requests/limits. By default the current implementation creates Pods which would sum up all the requests and result in a much larger Pod request than needed.

For example, a Task with 10 steps each individually requesting 1

[2020-07-22 11:34] ImJasonH commented on #2984
As another option we could add a field to TaskSpec or TaskRunSpec that specifies requests for the whole run, which would be invalid to specify along with per-step resources.

That makes it clearer that you're specifying for the entire run (i.e., underlying Pod) and removes the need for some of the per-step smarts.

[2020-07-22 12:37] zhangtbj commented on #2984
Hi @ImJasonH and all,

Thanks for the suggestion.

I have a question about the pod schedule.

Do you mean the pod schedule is based on the sum of all container resource.**request**?

If keep using the **current** tekton way, such as a Task with 10 steps each individually requesting 10 CPU and 1Gi of RAM (no limitRange in namespace).

The taskrun pod just requests 10CPU and 1Gi RAM resource, and ea

[2020-07-22 12:38] qu1queee commented on #2931
Yes, I agree, you are totally right. Specially around the fact that containers(steps) are sequentially executed.

Ok, it make sense as an additional feature. Maybe this inlines with https://github.com/tektoncd/pipeline/issues/2984#issuecomment-662402725 ?

I think defining also resources for the init containers should be possible, what would be the next step on that particular topic(init container

[2020-07-22 12:54] ImJasonH commented on #2984
Yes, traditional K8s Pods request the **sum** of all resources requested by its `containers`. See https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#how-pods-with-resource-requests-are-scheduled

It does this because K8s Pods expect to start all `containers` at once, and continue to execute all `containers` indefinitely.

Tekton by contrast expects that `steps` will be

[2020-07-22 12:56] danielhelfand commented on #2984
For further context on why this behavior was put in place, see #598.

I also suggested this in #2931 as I think it's misleading to allow users to set resource requests for each step.

I too have always had concerns with regard to [Quality of Service for Pods](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) and do wonder if it makes sense to allow users to define requ

[2020-07-22 13:21] ImJasonH commented on #2984
I wrote a brief presentation to hopefully illustrate why Tekton modifies requests the way it does. I've shared it with tekton-dev@

https://docs.google.com/presentation/d/1-FNMMbRuxckAInO2aJPtzuINqV-9pr-M25OXQoGbV0s/edit

[2020-07-22 13:33] zhangtbj commented on #2984
Hi @danielhelfand ,

Yep, it is a little confusing that I set resource.request, but the tekon change to a new setting which I may don't know.

And it is better to have better documentation on use cases with Tekton.

[2020-07-22 13:38] zhangtbj commented on #2984
Thanks @ImJasonH ,

The document is very clear, thanks!

I just have two questions on the `Other details` page:
- `Only covered CPU requests, not memory or ephemeral-disk or other resources (GPUs)`
Do you mean the memory or ephemeral-disk or other resources are same as the CPU request exmaple in your ppt?

- `initContainers: Pod request is max(initContainers) + sum(containers)`
Is that correct?

B

[2020-07-22 13:42] ImJasonH commented on #2984
I mean that the semantics of how K8s translates the requests of all the containers in a Pod into the request for that Pod as a whole when scheduling that Pod is (as far as I know) the same whether you're talking about CPUs, or memory, or ephemeral-disk, or GPUs.

In the example, those 9 CPUs could easily have been 9 GiB of memory, or 9 GiB of disk, or 9 GPUs.

Yes! You're absolutely right.

The re

[2020-07-22 13:54] nikhil-thomas commented on #2672
@sravankumar777 hi, did you get it working.
If yes, shall we close this issue.
if no, could you share a link to your task definition.

you could also reach us on https://tektoncd.slack.com/

[2020-07-22 14:20] nikhil-thomas commented on #2207
@lukehinds are you still facing this issue.
if yes, could you check, `kubectl get crd pipelineruns.tekton.dev -o jsonpath='{.spec.conversion.webhook.clientConfig.service}'` verigy the service name and service namespace matches where the service is actually created

[2020-07-22 15:04] vdemeester commented on #2922
/close

[2020-07-22 15:04] #2922 closed

[2020-07-22 15:33] danielhelfand opened #2986 "Improve UX of Step Resource Requests"
### Feature request

Currently, users have the ability to define resource requests as part of a step for a Task for each step:

[code]

This is misleading in my opinion because it makes it seem like the user has control of setting the requests for each step. However, only the max requests from all steps are ever used as documented [here](https://github.com/tektoncd/pipeline/blob/master/docs/taskru

[2020-07-22 16:03] danielhelfand commented on #2984
Would be potentially helpful to convert the slides to a doc. I think the visuals/the brevity of it is really helpful.

[2020-07-22 16:18] ImJasonH commented on #2986
+1, the CLI/UI could also make this clearer

Per-step limits are still valid and enforced, so maybe we should migrate to a world where requests are specified per-Task and each step can only set a limit?

[2020-07-22 17:06] shimmerjs commented on #2979
Is real and is really annoying

[2020-07-22 18:13] eddie4941 opened #2987 "Set knative component consistently for webhook/controller"
# Expected Behavior

The knative controller framework sets up a lot of infrastructure based on the `component` name. For example, loggers are created with the `component` name, metrics are prefixed with the `component` name, etc. It would be nice to have these set consistently for the controller and webhook. This would allow for metrics to be named consistently.

For example, it would be nice to h

[2020-07-22 22:15] pritidesai commented on #2978
This bug exists on the master as well. We need to rewrite the section on [Monitoring Steps](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#monitoring-steps) to:

[code]

[2020-07-22 22:41] gpaul opened #2989 "Allow finally tasks to execute after pipeline timeout"
### Feature request

Tekton recently introduced "Finally Tasks" that execute once a Pipeline succeeds or fails. The [design document](https://docs.google.com/document/d/1lxpYQHppiWOxsn4arqbwAFDo4T0-LCqpNa6p-TJdHrw/) lists the following use cases:

* Cleanup cluster resources after finishing (with success/failure) integration tests (Dogfooding Scenario)
* Update Pull Request with what happened over

[2020-07-22 22:41] pritidesai commented on #2970
It's under the [Prerequisites](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#prerequisites) section, replace

[code]

With:

[code]

/kind documentation

[2020-07-22 22:52] psschwei commented on #2978
/assign psschwei

[2020-07-22 22:57] pritidesai commented on #2969
@gitupxm163 the interactive tutorial is part of [website](https://github.com/tektoncd/website) repo, can you open this issue in that repo with the exact location of setup file.

[2020-07-22 23:09] juanri0s commented on #2970
I can work on this! I'll PR by end of day

[2020-07-22 23:29] pritidesai commented on #2968
@gitupxm163 similar to #2969, this is part of website repo, can you please open this issue in that repo with some more details i.e. the exact location of setup file if you have/know?

[2020-07-23 00:30] dlorenc commented on #2989
This is an interesting one - I agree there should be a way to guarantee "finally" runs, but should there be a timeout for that as well?

[2020-07-23 00:54] ImJasonH commented on #2931
Reading through the issue, it sounds like the specific concrete request is for Tekton's injected `initContainers` -- which the user has no control of or visibility into -- to be given the LimitRange's `defaultRequest` instead of the `min`. This seems fine to me, and in line with how `defaultRequest` is intended to be used. In fact, is it possible we could just not set `initContainers`' requests an

[2020-07-23 01:36] danielhelfand commented on #2931
I think it’s actually that the defaultRequest is applied currently for initContainers but the min is applied for steps, which is leading to confusion dealing with requests.

[2020-07-23 02:28] zhangtbj commented on #2931
Yep, it is better that Tekton init and user containers use the same resource settings to avoid the confusing. Because we have different defaultRequest and min settings in LimitRange, I always need to think what is init container settings, what is the tekton user container settings :(

After tekton has the confirmed solution for init container, it is also better to show the example in this doc:
htt

[2020-07-23 04:31] savitaashture opened #2992 "TestReconcile_CloudEvents Unit test failed in nightly job"
# Expected Behavior

Pipeline nightly unit test passes

# Actual Behavior

Pipeline nightly unit test failed:

Taskrun : pipeline-release-nightly-hkptk-unit-tests-2h6tv

Failure:
[code]

# Additional Info

Test passed locally
      Tried on minikube as well as dogfooding cluster several time
[code]

[2020-07-23 04:32] savitaashture commented on #2992
/kind flake

[2020-07-23 07:12] VeereshAradhya opened #2994 "taskruns will stay in `Running(Pending)` state if non existing pvc name is given to workspace"
# Expected Behavior
The piplinerun should check if given pvc is existing or not and pipelinerun should fail if the pvc is not present

# Actual Behavior
The pipelinerun will be in `Running` state and taskruns will be in `Running(Pending)` state

# Steps to Reproduce the Problem

1. Create a simple task which uses workspace
2. Create a pipeline using the above task
3. Create a pipelinerun to run th

[2020-07-23 08:14] vdemeester commented on #2994
/cc @jlpettersson @sbwsg

[2020-07-23 08:29] vdemeester commented on #2989
/cc @bobcatfish @pritidesai

[2020-07-23 08:38] vdemeester commented on #2987
Sounds more than good to me to fix those.

[2020-07-23 08:49] qu1queee commented on #2931
what @danielhelfand mentioned is correct:

For the initContainers resource request,  the `defaultRequest` is used, not the `min` as in the steps. In general, I think due to the Pod's effective request/limit way of working , initContainers should not matter that much, because I doubt their resources will be higher than the sum of all containers in the Taskrun(based on `max(max(initContainers),sum(c

[2020-07-23 12:13] ImJasonH commented on #2931
Users and operators should not care what resources we assign to `initContainers` -- they are an implementation detail. In the future there may not be any `initContainers` at all, or there may end up being 20 of them. Users and operators shouldn't have to care. Tekton should just be responsible for making sure they're valid requests on the cluster, not in violation of any LimitRanges, which is what

[2020-07-23 13:29] sbwsg commented on #2994
I'm not sure that I agree that a PipelineRun should fail if a PVC doesn't exist the moment a Pod runs.  Isn't it possible that the volume is being provisioned by some other service and will appear some time after the Pod launches?  Or will a PVC _always_ exist prior to a Pod launching?

[2020-07-23 14:53] danielhelfand commented on #2986
Yes, think the CLI could definitely add some kind of option for this.

Think it's reasonable to still support limits for steps.

Another benefit of this approach would be potentially eliminating needing to search through all containers as part of a TaskRun to find the max since the values are known in advance.

[2020-07-23 15:18] jlpettersson commented on #2994
Yes, this is the way Kubernetes works. It is hard to say if we should do it differently.

Kubernetes is an eventual consistency system. E.g. you may create a PVC and a Pod/TaskRun in the same "kubectl create"-command. But they are created by different controllers that solve different responsibilities - independent of eachother.

If the taskrun-controller should be responsible for this, it need to

[2020-07-23 16:05] vdemeester commented on #2994
@jlpettersson @sbwsg maybe we should at least update the `Reason` message to "say" that we are waiting for a PVC to be provisionned.

[2020-07-23 16:48] eqqe opened #2997 "Git Resource (PipelineResource) seems to be broken for GitHub LFS"
# Expected Behavior
A Git Resource pointing to a GitHub using LFS should be cloned correctly.
# Actual Behavior
The large files are not cloned correctly they are replaced by small files (100 Bytes instead of 150MB)

# Steps to Reproduce the Problem

1. Create a GitHub repository and push large files using Git LFS
2. Create a Git Resource (PipelineResource) pointing to this GitHub repository
3. Lau

[2020-07-23 17:47] GregDritschler commented on #2994
I agree that this is Kubernetes behavior and I'd be cautious about changing it.  This is just one manifestation of a non-existent resource.  You can get the same behavior for example when referencing a configmap that doesn't yet exist.

I did look into improving the display status for issue #2268 but didn't get a lot of feedback.  Part of the problem is that if there are multiple pipeline branches

[2020-07-23 18:38] eddie4941 commented on #2563
Agreed. We've don't some test and are running version `v0.13.0` with the following `ClusterRole`.
The webhook needs list/watch access for all crds, but only update for the Tekton specific ones.

[code]

[2020-07-23 19:38] sbwsg commented on #2997
I hadn't heard of git lfs before, for anyone else looking at this it's documented here: https://git-lfs.github.com/

Sounds like we'd need to install the lfs extension as part of tekton's git-init image.

[2020-07-23 19:44] sbwsg commented on #2994
This is an interesting idea.  I wonder if we can detect from Pod status / events whether it is waiting on a PVC.

[2020-07-23 19:46] sbwsg commented on #2994
Ah, good point, I hadn't considered the non-PVC scenarios too.

[2020-07-23 21:28] skaegi opened #2998 "shell.image in 0.14.x has problems"
I noticed this when running under Kata but I believe this is a general problem with anyone using "scripts" in Tasks.

For "kata" in the container logs I was seeing...
[code]
for any shell script run using the `place-scripts` container.

Running docker locally...
[code]

We should probably update shell.image to use the current `gcr.io/distroless/base:debug` SHA
e.g. `gcr.io/distroless/base@sha256:6

[2020-07-23 22:05] afrittoli opened #3000 "Tekton pipeline controller during `updatePipelineRunStatusFromTaskRuns`"
# Expected Behavior
The controller does not crash

# Actual Behavior
While authoring a pipeline with conditions, I managed to crash the controller.

[code]

[code]

It looks like the issue is in:
https://github.com/tektoncd/pipeline/blob/7453c403e28b877208aaf466e159354563e01641/pkg/reconciler/pipelinerun/pipelinerun.go#L922

If `prStatus.TaskRuns` is not initialised.

# Additional Info

- Kubernet

[2020-07-24 00:03] skaegi commented on #2998
Also see https://github.com/GoogleContainerTools/distroless/pull/513

[2020-07-24 03:09] psschwei commented on #2971
So I ran into a bit of a blocker here, trying to keep the minikube as close as possible to the Docker for Desktop one...

I created a local insecure registry that I can push to locally:

[code]

In order to be able to access this registry in minikube, I added the following to `/etc/hosts` on local:

[code]

And then added the following to `/etc/hosts` on minikube (assume my local IP is `123.45.6.7

[2020-07-24 03:18] danielhelfand commented on #2986
Something that will have to be worked out with this though is how to deal with step limits and not repeating what occurred in #1937.

[2020-07-24 08:54] afrittoli opened #3004 "Unhandled long names in conditions"
# Expected Behavior
Condition names are trimmed when too long, or at least pipeline is failed and not hanging until timeout.

# Actual Behavior
When using a long name for a condition, the resulting step name becomes too long.
That causes the pipeline to hang indefinitely - until timeout at least.

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

I installed fro

[2020-07-24 08:55] #2978 closed

[2020-07-24 08:58] vdemeester commented on #2997
@eqqe @sbwsg indeed, we do not have `git-lfs` installed in our `git-init` image so we don't support Git LFS. As PipelineResource are not in `v1beta1` and their future still being discussed, I think the best "workaround" right now would be to use a `git-clone` task (like the [one in the catalog](https://github.com/tektoncd/catalog/tree/master/task/git-clone/0.1) but with a different image/script :s

[2020-07-24 09:20] #2998 closed

[2020-07-24 10:25] kameshsampath commented on #2971
@vdemeester  @psschwei  check this add-on https://github.com/kubernetes/minikube/tree/master/deploy/addons/registry-aliases, this should help doing all the required setup for pushing and pulling from minikube internal container registry.

HTH

[2020-07-24 11:57] sbwsg commented on #2815
This test has failed during nightlies on two of my build cop rotations in a row.  I'll assign this to myself and see if I can figure out what's triggering the random behaviour.

[2020-07-24 11:57] sbwsg commented on #2815
Error capture from latest nightly: https://gist.github.com/sbwsg/ce24e70e389e205dcb9d0890afc4193c

[2020-07-24 12:13] #3000 closed

[2020-07-24 12:22] eqqe commented on #2997
Opened PR #3006

[2020-07-24 13:20] dlorenc opened #3007 "Image Mismatch"
While (briefly) debugging #2998 with @skaegi, I noticed that the images we set as default flag values in [cmd/controller](https://github.com/tektoncd/pipeline/blob/master/cmd/controller/main.go#L37) differ from the images we set in [config/controller.yaml](https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml).

I'm not sure how much of a problem this is, but it can be confusing.

[2020-07-24 13:21] dlorenc commented on #3007
An example of the confusion: the flag for "shell-image' defaults to busybox, while the deployment uses gcr.io/distroless/base:debug

[2020-07-24 13:21] dlorenc commented on #3007
/kind cleanup

[2020-07-24 13:31] qu1queee commented on #2931
@ImJasonH are you saying that for steps(containers) we should use `defaultRequest` instead of `min` from the LimitRange?

[2020-07-24 13:36] ImJasonH commented on #2931
For steps, we should assign one container the `max(steps)`, and all the rest can be `min`.

[2020-07-24 13:37] gitupxm163 commented on #2968
@pritidesai ok,i will do that,thanks.

[2020-07-24 13:38] #2968 closed

[2020-07-24 13:38] gitupxm163 commented on #2968
close this issue

[2020-07-24 13:41] gitupxm163 commented on #2969
@pritidesai i will do it ,thanks

[2020-07-24 13:41] #2969 closed

[2020-07-24 13:41] vdemeester commented on #2732
https://github.com/tektoncd/pipeline/blob/master/go.mod#L39 we now depend on knative 0.16. This should be fixed in 0.15.x (and on master)
/close

[2020-07-24 13:41] #2732 closed

[2020-07-24 13:45] vdemeester commented on #627
@bobcatfish is it still valid ? I feel with the move to `$()` we now do more validation ?

[2020-07-24 13:47] vdemeester commented on #1150
@anxinyf indeed :)
@thavlik is this still an issue ?

[2020-07-24 13:48] vdemeester commented on #1632
@afrittoli @bobcatfish is this still an issue ? :upside_down_face:

[2020-07-24 13:51] vdemeester commented on #1705
@EnriqueL8 not sure if it's still an issue. I'm gonna go ahead and close the issue because I feel it might be fixed. If you can reproduce this on recent version of tekton, please feel free to comment it here and I'll re-open :wink:

[2020-07-24 13:51] #1705 closed

[2020-07-24 13:52] vdemeester commented on #2124
@akihikokuroda @dibyom is this still an issue ?

[2020-07-24 13:54] vdemeester commented on #2062
@afrittoli @tomgeorge is this still a bug or has it been fixed (with #2188) ?

[2020-07-24 13:59] vdemeester commented on #1407
I am gonna go ahead and close this for now.
@chhsia0 if this is still an issue, please comment here and we'll re-open :wink:

[2020-07-24 13:59] #1407 closed

[2020-07-24 14:05] vdemeester commented on #1201
@afrittoli is this fixed ? :upside_down_face:

[2020-07-24 14:07] vdemeester commented on #2415
This is fixed by #2455, closing

[2020-07-24 14:07] #2415 closed

[2020-07-24 14:09] chmouel commented on #2973
I think a pipeline level sidecar object make sense for those use cases.

Ideally it would be if we are able to specify a service attached to it so other tasks/pods can access it easily.
This is in context of the DB or docker registry use case.

[2020-07-24 14:09] vdemeester commented on #2617
Seems like this is fixed by #2626, closing

[2020-07-24 14:09] #2617 closed

[2020-07-24 14:17] vdemeester commented on #2316
ping @wlynch

[2020-07-24 14:17] vdemeester commented on #2656
@bobcatfish is this still an issue ?
/kind flake

[2020-07-24 14:18] vdemeester commented on #2740
@afrittoli @bobcatfish @mattmoor so, what is the status of this issue/bug ? :upside_down_face:

[2020-07-24 14:20] dibyom commented on #2124
The linked PR fixed it.

/close

[2020-07-24 14:20] #2124 closed

[2020-07-24 14:25] mattmoor commented on #2740
If it is one-off, it can be fine.  However, in principle making any API calls on steady-state reconciliations is actually a huge problem for scaling controllers, which is the main point of the goal around always using the lister.

Generally: If you can do a global resync without any API calls, then 👍 if not, then you have problems 😬

[2020-07-24 14:25] #2740 closed

[2020-07-24 14:27] vdemeester commented on #2887
The [results](https://github.com/tektoncd/experimental/tree/master/results) project aims to help with this. In the meantime, there is nothing we can do "against" the eviction policies of some clusters (gke, openshift, …)

I'm gonna go ahead and close as this is not really a bug and we are working towards fixing that through the results project.
If you think we should keep this open, comment here a

[2020-07-24 14:27] #2887 closed

[2020-07-24 14:48] gitupxm163 opened #3009 "why don`t make step as a kind of resource,just like task,pipeline, so we can use step at anywhere too."
why don`t make step as a kind of resource,just like task,pipeline, so we can use step at anywhere too.

[2020-07-24 15:04] danielhelfand commented on #3009
@gitupxm163 There is actually an open issue for this (#1260). I unfortunately never got around to putting together a proposal for it, but there has been some activity around it if you would like to weigh in on the discussion. I think the original thought process when creating Tekton would be that Tasks would be the easiest way to reuse resources as mentioned in the issue. However, I also see the v

[2020-07-24 15:05] NavidZ commented on #2316
/assign NavidZ

Had a little chat with @wlynch and I'm looking into this issue.

[2020-07-24 15:06] psschwei commented on #2971
Thanks @kameshsampath ! will check that out

[2020-07-24 15:11] danielhelfand commented on #2986
In rethinking this with regards to limits, why not have one limit for the entire Task? This way, the Task can be set up with a limit to be enforced via a TaskRun, but then resource requests can be specified at run time via a request property?

Since a step has access to all resources of a pod, is there any reason for restricting individual steps?

[2020-07-24 15:14] gabemontero commented on #2966
On that, allowing the PSP admission controller to mutate the pod is hard coded to true at https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/security/podsecuritypolicy/admission.go#L128

The specific mutation @skaegi references is done at https://github.com/kubernetes/kubernetes/blob/master/pkg/security/podsecuritypolicy/provider.go#L167-L173

[2020-07-24 15:19] gabemontero commented on #2962
Cool thanks @jlpettersson .... yeah I refrained from diving into your specific scenario when I was on the schedule in the API WG since you couldn't make it that day.

As to how to solve it, and admission webhook is the only thing that comes to mind for me.  Whether that admission webhook leverages OPA to enforce which SAs are used or some (OPA integrates into k8s via admission webhooks) or some ot

[2020-07-24 16:22] qu1queee commented on #2931
ok, which is already the case.

[2020-07-24 16:44] pritidesai commented on #3009
@gitupxm163 @danielhelfand trying to understand the use case and the value this would add. Will your use case suffice by creating a script and reusing it:

[code]

Here, `my-script.sh` can be part of the `GitHub` repo and the repo is cloned into workspace.

[2020-07-24 17:16] lee-zhg commented on #2533
I got error: 'error: unable to recognize "tekton/tasks/source-to-image.yaml": no matches for kind "Task" in version "tekton.dev/v1beta1"' today and it worked last week.

Is this related to this depreciation?

Thank you
Lee

[2020-07-24 17:21] bobcatfish commented on #3000
oooo good catch

[2020-07-24 17:22] bobcatfish commented on #3000
![image](https://user-images.githubusercontent.com/432502/88417861-b2726100-cdb0-11ea-9dac-fd30294d8de2.png)

[2020-07-24 17:22] rakhbari commented on #1150
@anxinyf @vdemeester  Sorry for the very late reply. This is no longer an issue for me. I stopped using `PipelineResource` as of pipelines v1beta1 so now I just use the `image:` attribute in my Task step directly and that retrieves the `builder` image directly from our internal Quay registry with no problems.

However, in my service account definition, I had to place my Quay secret under **both**

[2020-07-24 19:48] bobcatfish commented on #2905
I was very excited to fix this bug but I'm actually no longer sure it's a bug:

When the controllers start, they call CheckTimeouts ([pipelinerun](https://github.com/tektoncd/pipeline/blob/abb677dbb23cdc305b0c73409679af980fa322c4/pkg/reconciler/pipelinerun/controller.go#L88), [taskrun](https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/taskrun/controller.go#L92) (they probably dont BO

[2020-07-24 19:49] sbwsg commented on #3009
I'm going to close this as a duplicate of https://github.com/tektoncd/pipeline/issues/1260.

[2020-07-24 19:49] #3009 closed

[2020-07-24 19:51] sbwsg commented on #2533
@lee-zhg no, this change wasn't merged yet so it's unlikely to be related.  Feel free to create a new issue if your problem persists.  Please include any more information you can - Tekton version, the Task YAML, etc.

[2020-07-24 19:52] bobcatfish commented on #2905
Thinking about this a bit more, even making the call idempotent won't handle the issue being described:

The call to WaitTaskRun wouldn't happen unless the reconcile loop occurs: will a newly started controller attempt to reconcile all instances of the types it is interested in, or will it only be invoked when a change occurs - do you know @mattmoor ?

If it's only when the instance changes, we'll

[2020-07-24 20:21] mattmoor commented on #2905
Yes, we also do this when a controller becomes the leader of a particular bucket of the key space.

[2020-07-24 20:23] bobcatfish commented on #2905
oh great!! @mattmoor are you able to point me toward the code where that happens?

[2020-07-24 20:34] danielhelfand commented on #3009
@pritidesai I think the main issue is the design of Tekton itself is supposed to promote reusability, and yet step properties need to be fully written out as part of a Task instead allowing them to be easily shared a reused.

Why should a user need to define this step's image, command or script, resource requests/limits, securityContext, etc. again if a step already exists and has these properties

[2020-07-24 20:40] mattmoor commented on #2905
When informers are populating their cache they call `OnAdd` for each key as it is being read the first time, so your informer event hooks will queue stuff in the workqueue and the controller will process it.

[2020-07-24 21:02] afrittoli commented on #2979
The affinity assistant code tries to read the config value from context or default
https://github.com/tektoncd/pipeline/blob/abb677dbb23cdc305b0c73409679af980fa322c4/pkg/reconciler/pipelinerun/affinity_assistant.go#L223-L226

The pipelinerun controller has its own config store, which does not include feature flags, so the code above will always return the default. This should be indirectly solved

[2020-07-24 22:02] jlpettersson commented on #2979
Seem to been introduced / changed in https://github.com/tektoncd/pipeline/pull/2637

[2020-07-25 00:12] ImJasonH commented on #3007
I think we should default the flags to "" and log.Fatal if they're unset. Having values in two places is confusing and error prone.

[2020-07-25 12:15] sravankumar777 commented on #2672
Hi @nikhil-thomas,

We got it working. My suggestion would be to handle from Kaniko image to check both ```imagePulSecrets``` & ```secrets``` for any service account.
Hope this suggestion would be considered and provide the fix.

Thanks.

[2020-07-25 14:43] rakhbari commented on #2672
First let me say, I am using the `kaniko` Task from the catalog. Well, an exact copy of the `kaniko` task in the catalog. Long story as to why a copy, but just know the content is the same.

And also that I've already gotten past this issue by adding the Quay secret to the `secrets` in my serviceaccount. Originally it was only under `imagePullSecrets` and I was getting a 401 error, but as soon as

[2020-07-27 08:58] nikhil-thomas commented on #2672
@sravankumar777
im glad that you got it resolved.

The kaniko image doen't know about the secrets we attach to the service account. As our [creds-init](https://github.com/tektoncd/pipeline/blob/master/cmd/creds-init/main.go#L40) logic in Tekton reads the secrets specfied in the service account and sets up the creds in the Task pods.

So if I understand correctly, your suggestion is that the `creds

[2020-07-27 12:26] #2082 closed

[2020-07-27 12:45] sbwsg commented on #2672
Reading the [reference for `imagePullSecrets` in podspec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#podspec-v1-core) it seems pretty clear, at least to me, that the field is only intended to support the container runtime fetch images for the pod's containers:

There isn't any mention of supporting an in-container credential usecase.  I'd definitely prefer not to go out o

[2020-07-27 12:45] #2672 closed

[2020-07-27 14:40] sbwsg commented on #2343
Over the past few weeks I've been running a survey related to user's knowledge and usage of creds-init.  I plan to present the results at the API WG later today but am summarizing them here to make the information more accessible / searchable.  We had 21 responses in total, which isn't a huge amount, but I think it's worth being transparent with the data regardless.

Raw data follows but TL;DR her

[2020-07-27 15:29] qu1queee commented on #2931
im closing this issue in favour of 2986, thanks all for the nice discussions.

[2020-07-27 15:29] #2931 closed

[2020-07-27 15:43] qu1queee commented on #2986
Regarding steps limits being configurable, would this apply also to the Tekton containers like the `step-create-dir-*` found in a TaskRun?

[2020-07-27 16:00] kramvan1 commented on #2510
Appears to be better now.

[2020-07-27 16:00] #2510 closed

[2020-07-27 16:10] ImJasonH commented on #3007
Found another one!

[`.ko.yaml`](https://github.com/tektoncd/pipeline/blob/d3ba81d5590c6e5925caa80f5952f86bae438a37/.ko.yaml#L11) configures the base image for the `entrypoint` image to be `gcr.io/distroless/base:debug-nonroot`. But [`tekton/publish.yaml`](https://github.com/tektoncd/pipeline/blob/d3ba81d5590c6e5925caa80f5952f86bae438a37/tekton/publish.yaml#L78) writes a `.ko.yaml` file that confi

[2020-07-27 16:25] gabemontero commented on #2977
Yeah my team has had similar experiences with random UUID and updating /etc/passwd in other scenarios as @sbwsg notes ... I can +1 the need

[2020-07-27 16:27] gabemontero commented on #2977
But in those scenarios yes @skaegi we typically have something like a `USER 1001` type directive in the image's Dockerfile.

[2020-07-27 17:15] #2640 closed

[2020-07-27 17:15] #2714 closed

[2020-07-27 17:28] ImJasonH commented on #2986
I don't think so. Tekton is responsible for those steps, and should be responsible for configuring their limits.

Perhaps that step should be an `initContainer` anyway, so there's a clearer distinction between "step containers" (`containers`) and "Tekton's containers" (`initContainers`)

[2020-07-27 17:46] skaegi commented on #1131
@shahnewazrifat when you added a lifecyle / preStop to your sidecar what did you see? Did it just not get called at all when we do the nop image swap.

[2020-07-27 18:32] qu1queee commented on #2986
Makes sense. Do you think it would be possible for Tekton to define reasonable `Limits` numbers for those containers(_e.g. step-create-dir-*_), instead of relying of the LimitRange `default` value?

[2020-07-27 18:34] #2941 closed

[2020-07-27 19:23] dlorenc commented on #3007
Thanks for taking this on! Deleting the other defaults makes sense to me.

[2020-07-28 01:20] pritidesai commented on #2989
This is an interesting indeed and I agree, we should be able to guarantee that `finally` tasks run even the `Pipeline` (that they part of) timeout. This can be configurable and disabled by default.

Today, `pipelineRun` timeout takes the highest precedence and exits with failure if its tasks not able to finish in time.

[code]

PipelineRun failure:

[code]

We can have `finally` task take higher p

[2020-07-28 05:31] gpaul commented on #2989
That seems very elegant.

[2020-07-28 06:14] shahnewazrifat commented on #1131
@skaegi Precisely. It never got called. Here's the explanation from Kubernetes docs. Looks like it only gets triggered under certain conditions:

[code]

[2020-07-28 07:00] zhanghetong opened #3019 "Issue when connect to Git by Basic authentication"
# Expected Behavior
connect git Successful

# Actual Behavior
kubectl get pod:
`git-ssh-creds-pod-m88jv                           0/2         Error                               0      41s`

logs:
[code]

# Steps to Reproduce the Problem

1.
gitbasic.yaml:
[code]

gitbasicsa.yaml:
[code]

gittask.yaml:
[code]
2.

kubectl apply -f gitbasic.yaml
`secret/basic-user-pass created`
kubectl apply -f gitb

[2020-07-28 07:23] gosharplite opened #3020 "Propagate securityContext to Affinity Assistant"
# Expected Behavior
Affinity Assistant pod should work in a cluster with psp setting.

# Actual Behavior
Affinity Assistant pod won't start since it is trying to run as root.

# Steps to Reproduce the Problem

1. Set a cluster with restricted psp.
2. Start pipelinerun with pv/pvc.
3. Affinity Assistant pod won't start.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[2020-07-28 09:58] SaschaSchwarze0 commented on #2986
@ImJasonH  I +1 on Tekton being responsible for those steps (init containers as well as containers added by Tekton) and therefore providing the resources (imo not just limits but also requests). But, I suggest that Tekton provides reasonable values. What we (I am in the same team as @qu1queee) see (we are still on Tekton 0.11, about to get to 0.14; so if things are changed in the meantime, pls cor

[2020-07-28 10:13] vdemeester commented on #2989
I really like that idea :angel: I wonder how much it breaks the backward compatibility. How much users do use timeout in finally, … But I would love to have this :upside_down_face:

[2020-07-28 11:11] #2864 closed

[2020-07-28 11:42] jlpettersson opened #3021 "TestTaskRunRetry is flaky"
TestTaskRunRetry is flaky.

I run into this several times for a PR today and for another PR yesterday.

examples:

* https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/2885/pull-tekton-pipeline-integration-tests/1288049842701996034/
* https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_pipeline/2885/pull-tekton-pipeline-integration-tests/12

[2020-07-28 11:53] danielhelfand commented on #2986
@SaschaSchwarze0 Not sure if you have read how Tekton handles step/container resource requests, but there are some differences from the traditional approach by Kubernetes. Please see the documentation below:
* https://docs.google.com/presentation/d/1-FNMMbRuxckAInO2aJPtzuINqV-9pr-M25OXQoGbV0s/edit#slide=id.p
* https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#specifying-limitrange-

[2020-07-28 13:09] dlorenc commented on #2093
So there are two issues here. We process strings one at a time here: https://github.com/tektoncd/pipeline/blob/master/pkg/substitution/substitution.go#L120

So if one parameter contains a nested reference, it **may** get expanded twice, depending on the order.

The other issue is that the order is non-deterministic. We iterate over an unsorted `map[string]string`.

I can think of a couple options

[2020-07-28 13:10] sbwsg commented on #3019
I think I see two problems here:

1. git doesn't support basic authentication with SSH URLs.  As I understand it "basic auth" is "HTTP Basic Authentication", meaning it only works with repositories referenced by `http(s)://...`.

2. the URLs are a bit mixed up - in the Secret you have annotated with `https://github.com`.  In the Task you are referencing `git@github.com` <- an SSH format.

I recomm

[2020-07-28 13:33] scniro opened #3023 "question - rbac for deletecollection"
Hi,

I am trying to delete some resources from a cicd k8s runner and am in the context of a service account with an on-cluster k8s config, and am experiencing errors specific to accessing `deletecollection` with all tekton resources. An example error is as follows:

I have tried to apply RBAC to help here, but continue to experience the same errors. My RBAC attempt is as follows:

[code]

These RB

[2020-07-28 13:41] dlorenc commented on #2093
Sent a PR here for the final option: https://github.com/tektoncd/pipeline/pull/3024

[2020-07-28 13:47] SaschaSchwarze0 commented on #2986
Yes, I know it.

[2020-07-28 14:04] #3023 closed

[2020-07-28 14:04] scniro commented on #3023
taking an alternative path entirely, sorry!

[2020-07-28 14:28] bobcatfish commented on #2905
do you have a link to the code where this happens? (or some docs?) i can go looking for it if not - basically if we're going to remove our attempt to manually reconcile all the timeouts, which seems totally unnecessary now, i want to be able to point at the justification for why we don't need it anymore

[2020-07-28 14:39] dlorenc commented on #2093
Another challenge to supporting nested expansion: cycles.

foo => bar
bar => foo

How many times would we expand?

[2020-07-28 14:50] dlorenc commented on #3007
@ImJasonH I think this can be closed now, thanks for sending all those PRs!

[2020-07-28 14:50] #3007 closed

[2020-07-28 14:51] dlorenc commented on #2970
I think this was fixed with #2993!

[2020-07-28 14:51] #2970 closed

[2020-07-28 14:55] dlorenc commented on #2560
I think you just fixed this with #3025

[2020-07-28 14:55] #2560 closed

[2020-07-28 15:13] bioball commented on #2941
Thanks, @jlpettersson!

[2020-07-28 15:26] #2949 closed

[2020-07-28 15:47] pritidesai commented on #2989
+1

@bobcatfish @afrittoli thoughts?

[2020-07-28 17:07] sbwsg commented on #2119
Another potential use-case:

A task generates a manifest of files modified/uploaded/downloaded during its execution. That manifest could be 1 entry long or many, many, many entries.  This rules out results since their length is quite restricted.  So instead the task accepts an optional workspace on to which the manifest is copied.  If the user wants that manifest they provide the workspace.  If th

[2020-07-28 17:23] chhsia0 opened #3026 "Artifacts downloaded from storage resources or output Git resources lose execution permission."
# Expected Behavior

When a task consumes storage resources or output Git resources of another task,
the artifacts stored in the resource paths should have all POSIX permissions preserved.

# Actual Behavior

Tekton v0.14.2 uses `google/cloud-sdk:293.0.0-slim`, which doesn't preserve execution permission when fetching artifacts from s3 for storage or output Git resources through `gsutil cp -P -r`.

[2020-07-28 17:29] dlorenc commented on #2977
i think I ran into this over at https://github.com/tektoncd/catalog/pull/439 as well

[2020-07-28 17:36] chhsia0 opened #3027 "Git CLI doesn't work on Git resource that is an output resource of another task."
# Expected Behavior

When a task consumes a Git resource that is an output resource of another task, `git status` should work correctly.

# Actual Behavior

When the Git resource is fetched by `gsutil` from GCS or S3, `.git/refs` is not created, causing Git CLI to fail:
https://github.com/git/git/blob/master/setup.c#L334
This is because that the `.git/refs` contains only empty dirs `heads` and `ta

[2020-07-28 20:11] chhsia0 commented on #3026
/integration-test

[2020-07-28 21:49] #230 closed

[2020-07-29 10:00] gosharplite commented on #3020
Even `disable-affinity-assistant` is set to `true`, the affinity assistant pod still appear and block the pipelinerun.
[code]

[code]

[2020-07-29 10:02] gosharplite commented on #3020
Latest pipeline release has been used now.
[code]

[2020-07-29 10:19] jlpettersson commented on #3020
Yes, there is a bug in 0.14.0, 0.14.1 and 0.14.2 with the handling of the ConfigMap for those feature-flags, as noted in https://github.com/tektoncd/pipeline/issues/2979 There will be a 0.14.3 soon that fixes that problem.

[2020-07-29 10:23] gosharplite commented on #3020
Thank you!
I missed #2979.

[2020-07-29 13:46] vdemeester commented on #2979
This should be fixed in 0.14.3 and in master with :
- https://github.com/tektoncd/pipeline/pull/3015 (0.14.3)
- https://github.com/tektoncd/pipeline/pull/2938 (master)

I think we can "safely" close this. If this turns out to still be a bug, please comment here and I'll re-open :angel:

[2020-07-29 13:46] #2979 closed

[2020-07-29 15:41] rlandesman opened #3029 "Pipeline metrics reporting incorrect values"
# Expected Behavior
In Tekton CLI using `tkn tr list` I am seeing hundreds of successful TaskRuns, each triggered by a demo pipeline I have setup. In running the promQL query `tekton_taskrun_count` the correct number of successful/failed TaskRuns shows, and I expect that running `tekton_taskrun_duration_seconds_count`would show the duration of each of these TaskRuns

<img width="734" alt="Screen S

[2020-07-29 15:43] sbwsg commented on #2829
Now that we have https://github.com/tektoncd/pipeline/pull/2885 merged, should we close this issue?

[2020-07-29 15:46] vdemeester commented on #2829
I would think so yes. If anyone feels it should be re-open, please comment :angel:
/close

[2020-07-29 15:46] #2829 closed

[2020-07-29 16:53] thomaschandler commented on #3021
/assign @thomaschandler

[2020-07-29 22:07] fbongiovanni29 commented on #999
This is awesome! Not to be a nudge but my developers labeled this a must have if we're to adopt tekton. Any idea when it'll be ready?

[2020-07-29 22:14] pritidesai commented on #3029
Thanks @rlandesman, we have similar issue reported for `tekton_pipelinerun_count` in #2844

[2020-07-29 22:29] pritidesai commented on #2844
@vincent-pli @RafaeLeal we have similar issue reported for `tekton_taskrun_count`, see #3029

[2020-07-29 23:22] dlorenc commented on #2989
Just to makes sure I understand this - is this the idea?

- A pipeline has a timeout set to 1 hour
- It has a `finally` Task`, that has a finallyTimeout of 10 minutes.
- The pipeline runs for an hour, and is terminated.
- The `finally` task then gets executed, and can run for 10 minutes?

[2020-07-30 01:06] pritidesai commented on #2989
Yes.

Pipeline schedules `finally` after all `non-finally` are done within that hour otherwise `non-finally` tasks are terminated after an hour and `finally` runs for 10 minutes.

The idea is `finallyTimeout` does not modify timeout for `non-finally` tasks but confirm the execution of `finally` tasks for the specified amount of time.

[2020-07-30 03:36] gosharplite commented on #3020
Using latest release and disabling Affinity Assistant, pipelinerun is working again.

[code]
[code]

[2020-07-30 03:38] gosharplite commented on #3020
Please consider scenario with psp enforcement.

Closing this issue and thank you!

[2020-07-30 03:38] #3020 closed

[2020-07-30 04:09] danielhelfand commented on #2986
I agree that the request is reasonable as far as being able override step resource requests if it is the case that each step container doesn't have access to the max resources defined for all containers.

cc @ImJasonH Any thoughts on this?

[2020-07-30 15:27] sbwsg commented on #2950
Fixed by https://github.com/tektoncd/pipeline/pull/3022

[2020-07-30 15:27] #2950 closed

[2020-07-30 16:22] Shahard2 commented on #1983
any solution to this one?

[2020-07-30 16:27] sbwsg commented on #1983
Will need YAMLs described in my previous comments in order to help debug.  Remove any sensitive values before posting them.

[2020-07-30 16:32] Shahard2 commented on #1983
@sbwsg can i put the service account inside 'Task' or 'PipelineResource' or 'Pipeline'? Because I don't have a 'TaskRun' for that use-case. and I want to use ssh key from a secret

[2020-07-30 16:57] sbwsg commented on #1983
It's not possible to include a service account in a Task, PipelineResource or Pipeline.  What's your specific use case?  It might help if you could offer a bit more info on what you're trying to do.

[2020-07-30 18:17] #2951 closed

[2020-07-30 18:24] #2971 closed

[2020-07-30 21:07] skaegi opened #3035 "Look at constraining Controller ClusterRole"
The /config/200-clusterrole.yaml really lets the controller have RBAC super-powers that in many cases it simply does not need (or at least strongly suspect this:)). We should look to constrain the privileges as much as we can.

[2020-07-31 02:45] vincent-pli commented on #3029
@pritidesai
The #2844 is about number of success `taskrun`/`pipelinerun` double.
But this issue is about `failed` objects.
The root cause is when a `taskrun` failed, we do not `forgot` it in work queue, then the failed `taskrun` will reconcile again and again and the status is `failed` means `done`, then the metric will count again and again. so the value of the metrics is bigger than it should be

[2020-07-31 07:12] kobaji opened #3036 ""available available" would be "available""
I was browsing https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md and found the following sentence.

[code]

"available available" would be just "available".

---

This is the first time for me to publish an issue.
If this issue was inappropriate, I'd apologize for it.

[2020-07-31 07:45] jlpettersson commented on #3036
Hi, thanks for this.

You are right, it should be only "available".

Do you mind sending a PR for this? (if you want)

[2020-07-31 07:49] kobaji commented on #3036
Hi, thank you very much for your answer.
I'd be happy to send a PR for this.

This is the first time for me to send a PR, but anyway I'll try it!

[2020-07-31 08:07] kobaji commented on #3036
Unfortunately there are some trouble with my network, I haven't sent a PR yet.
I'll keep trying but might need a few more days.

I don't think this is an serious issue and I do not mind if someone sends a PR instead of me.

[2020-07-31 08:28] Shahard2 commented on #1983
Wrote you in slack (k8s community)

[2020-07-31 16:05] VeereshAradhya opened #3038 "timeout applied to taskrun from pipelinerun does not work"
# Expected Behavior
The timeout given to pipelinerun should get applied to taskrun and the taskrun should get failed when it reaches timeout

# Actual Behavior
The timeout given to pipelinerun is getting applied to taskrun but the taskrun is not getting failed when it reaches timeout

# Steps to Reproduce the Problem

1. Create a task and create a pipeline with the task
2. Make sure that task runs

[2020-07-31 16:20] danielhelfand commented on #3038
My suspicion is this would be an issue with pipelines as `tkn` is only responsible for setting the timeout value for the PipelineRun. Pipelines is responsible for enforcing the timeouts. We can take a look though and see perhaps how this is occurring server side/see if `tkn` can help to address this.

If you could please share all your resources (e.g. Tasks, Pipeline, etc.) and how you started the

[2020-07-31 16:31] VeereshAradhya commented on #3038
task:
[code]

Pipeline:
[code]
Command used to start pipeline `tkn p start pipeline-test --timeout 5m`

[2020-07-31 16:41] rlandesman commented on #3036
I'll help out :)

/assign @rlandesman

[2020-07-31 16:54] bobcatfish commented on #3038
I'm looking into the timeout logic right now, so I can take a look at this!

/assign

[2020-07-31 17:13] jlpettersson opened #3039 "Variable Substitution documentation does not explain how it works"
The [main doc page](https://github.com/tektoncd/pipeline/tree/master/docs) has a title "Understanding Tekton Pipelines" and under that, there is a link to [Variable Substitutions](https://github.com/tektoncd/pipeline/blob/master/docs/variables.md).

I expect that link to _explain how variable substitutions work_.

From [discussions on Slack](https://tektoncd.slack.com/archives/CLCCEBUMU/p159613040

[2020-07-31 17:20] jsimao71 commented on #1876
Support for cluster scoped Pipeline is really critical. A cluster will typically have many namespaces being created (in multi-tenant or even single-tenant), while only a small number of pipelines. Required the commonly used pipeline to have to be deployed in all such namespaces is a big burder on the use of tekon, and a waste of resources. Not to mention upgrading pipelines across all namespaces.

[2020-07-31 17:27] jsimao71 commented on #1876
BTW, the issue of the scope of tasks in cluster level pipeline is in concept easy to deal with.
A enum property can fine-tune the behavior. e.g.
task-scope: cluster-only | namespace-only | cluster-first | namespace-first
with the following meaning:
cluster-only -- use always cluster tasks (which need to be setup by admin)
namespace-only -- assume relevant tasks have been added to namespace
cluster

[2020-07-31 19:18] pritidesai commented on #3036
PR #3040 fixed this, thanks @jlpettersson @rlandesman @kobaji 🙏🏻

[2020-07-31 19:18] #3036 closed

[2020-07-31 19:49] danielhelfand commented on #3038
One thing I have noticed with this is that it seems TaskRun pods are being deleted when a timeout occurs. I am assuming this would affect how the TaskRun statuses are being updated.

[2020-07-31 20:22] danielhelfand commented on #3038
FWIW though, I can't reproduce this with the task/pipeline/start command above.

[2020-07-31 21:03] pritidesai commented on #3038
I am not able to reproduce on pipeline master. @VeereshAradhya I notice you have an additional task `pipeline-test-run-5n9rx-run-script-fail-vn6z8` in your pipeline 🤔

[code]

[2020-07-31 21:33] YolandaDu1997 commented on #2590
I have created a CLI tool for the initial GitHub type of [Tekton Generators](https://github.com/tektoncd/experimental/tree/master/generators).
Here are a couple of features that I’ve accomplished:
Design:
1. Designed the input config data structure and the way to parse the yaml file to store the result in the struct.
2. Designed and Built the CLI tool to help interact with generators.
Implementati

[2020-08-01 01:33] dlorenc commented on #2093
This was fixed for now in #3024. If we decide to revisit and do sequential expansion we should file a new feature request.

[2020-08-01 01:33] #2093 closed

[2020-08-01 01:36] dlorenc commented on #2989
+1 to that!

[2020-08-01 01:43] dlorenc commented on #2973
If we go ahead with this, some questions to think through:

- Do we run this as a pod? Or a replicaset for restarts/scaling?
- Do we wait for it to be "ready" before the pipeline starts? How do we know when it's "ready"?
- How do we make it accessible to the pipelinerun? And hopefully only that pipelinerun.
- How much customization do we allow on the created resources? Full Replicaset/service temp

[2020-08-01 12:56] ImJasonH commented on #2973
These are useful questions.

I think the level of customization required might make it easier to just recommend that people start a Service at the beginning of a Pipeline and tear it down in a `finally`.

[2020-08-01 14:29] dlorenc commented on #2973
Yeah I think the only downside to that pattern is then that the Tasks at the start and cleanup have to run with enough RBAC to create the required k8s objects...

[2020-08-03 04:29] popcor255 opened #3044 "Substitute params by index"
### Feature request
Currently prams can be substituted by key (string substitute). However, params is an array of type param. I would like to reference a parameter by the index in the params array rather than the key.

**TLDR;** `Array of Type Params` is not the same as `Param that is Type Array`. We should probably fix this.

(how array access would look)
Request:
[code]
[code]

The above tasks s

[2020-08-03 08:37] vincent-pli opened #3045 "Error count "failed" taskrun for metric of Prometheus"
# Expected Behavior
Count correct the number
# Actual Behavior
Incorrect
# Steps to Reproduce the Problem
Create a `taskrun` which cannot find `task` refer to.
check the `tekton_taskrun_count{status="failed"}`

# Additional Info
When such exception happened,
https://github.com/tektoncd/pipeline/blob/c1852961039d0cd05def5e05cb1d180db8a72344/pkg/reconciler/taskrun/taskrun.go#L240-L245
a `PermanentEr

[2020-08-03 08:39] vincent-pli commented on #3045
#3029
@pritidesai

[2020-08-03 14:00] bobcatfish commented on #3044
Related issue: https://github.com/tektoncd/pipeline/issues/1393 <-- in that issue I believe @skaegi is suggesting a broader syntax for accessing param values (i think jsonpath based?)

I think we could totally tackle the features one at a time if that's easiest, as long as they are all headed in the same direction - and afaik the syntax above _is_ how array access would look?

might be worth bring

[2020-08-03 14:43] popcor255 commented on #1393
I believe the accessors listed in this parameter is on the param type array. Does this include indexing the params array in a task?

[2020-08-03 14:54] popcor255 commented on #3044
I added the example with array types. It is just using bracket annotation instead of dot annotation. However, with bracket annotation we can use the type to distinguish index(int)/key(string).

[2020-08-03 15:16] bobcatfish opened #3047 ""Done" channel (for tracking timeouts) never fires for Runs"
# Expected Behavior

When we start a TaskRun or a PipelineRun, we start a go routine that will wait until either the Run completes, the controller exits, or a timeout occurs. When a timeout occurs, the Run is triggered for re-reconciliation and at that point the controller would notice it has run for too long and stop it.

Specific to this bug: when the Run completes, the controller should use the

[2020-08-03 15:16] bobcatfish commented on #3047
I've got a WIP fix for this!

/assign

[2020-08-03 15:17] bobcatfish commented on #3047
ps I'm using "Run" above to refer to TaskRuns and PipelineRuns collectively - maybe we the new type actually called Run I'm going to have to change my lazy ways :O @ImJasonH

[2020-08-03 15:51] skaegi opened #3048 "Update shell-image to current gcr.io/distroless/base:debug-nonroot SHA"
In #2999 I updated to the latest gcr.io/distroless/base:debug
... it should have been to the latest gcr.io/distroless/base:debug-nonroot

[2020-08-03 16:14] popcor255 commented on #3044
Quick and Dirty POC: https://github.com/popcor255/pipeline/tree/replace-by-index-without-validation
[code]

[2020-08-03 16:32] popcor255 commented on #3044
The main issue I am trying to highlight is that an `Array of Type Params` is not the same as `Param that is Type Array`. I think there should be a discussion on if there should be some effort on keeping them the same or at the very least have a clear distinction.
[code]
[code]

[2020-08-03 18:03] abayer commented on #2979
I seem to still be seeing this with 0.14.3...

[2020-08-03 18:32] abayer opened #3049 "Affinity assistant only takes first task's resource requirements into account when choosing a node"
# Expected Behavior

The affinity assistant should either take the resource requirements of all `Task`s in the `PipelineRun` into account when choosing the first node, or it should be flexible enough to allow later `TaskRun`s to end up on different nodes if the initial node can't satisfy the requirements.

# Actual Behavior

The affinity assistant ends up on the node used by the first `TaskRun`, a

[2020-08-03 19:18] bobcatfish commented on #2973
I wonder if the feature that would work would be less about being a "sidecar" and more about tying the lifecycle of <something that complies with some interface> to a Pipeline - e.g. a kubernetes resource you "create" at the beginning of a pipeline and "delete" at the end?

[2020-08-03 19:24] #2614 closed

[2020-08-03 19:34] jlpettersson commented on #3049
The intention with the Affinity Assistant is to exactly prevent this, because if two `TaskRuns` using the same volume is scheduled to two different Availability Zones in a regional cluster - the `PipelineRun` will be deadlocked and can not continue. An example of such situation is the e2e-test that I had to remove https://github.com/tektoncd/pipeline/pull/2546 (that was before the affinity assista

[2020-08-03 19:36] dlorenc commented on #3026
I think @vdemeester is picking up this update in https://github.com/tektoncd/pipeline/pull/3002

[2020-08-03 19:36] popcor255 commented on #3044
https://github.com/tektoncd/pipeline/issues/1020
/close

[2020-08-03 19:36] #3044 closed

[2020-08-03 20:15] seansund opened #3050 "Add support for implicit param mapping"
### Feature request

Currently, mapping parameters to tasks is a tedious process. The controller is also very unforgiving if there is an error in the mapping and will often fail with error messages that don't reveal the real issue.

There seem to be a couple of common scenarios for how parameters are mapped (pipeline -> task, task -> following task, etc). The proposed solution would be to apply lo

[2020-08-03 20:47] pritidesai commented on #1020
@popcor255 do you have any particular use case or story you would like to be supported with this feature request?

[2020-08-03 21:02] danielhelfand opened #3051 "Timed Out or Cancelled TaskRun Pods are Deleted"
# Expected Behavior

After a TaskRun is timed out or cancelled, I should still be able to view the logs of the failed or cancelled TaskRun.

# Actual Behavior

It appears that the pods for TaskRuns are being deleted due to a change implemented in #2365. In the func, [`failTaskRun`](https://github.com/tektoncd/pipeline/blob/7f71aa8e42a4ead15cd64861fabc1dc65f8c535d/pkg/reconciler/taskrun/taskrun.go#

[2020-08-03 21:04] danielhelfand commented on #3051
/assign

Will wait for confirmation on if this is expect for TaskRuns, but can pick this up if it is unintended.

[2020-08-03 21:32] jlpettersson opened #3052 "Investigate to create a Custom Scheduler to schedule TaskRun pods"
### Feature request

Investigate if it would be doable to create a [Custom Scheduler](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/) for scheduling TaskRun pods, e.g. co-scheduling pods that share workspace PVC volume.

### Use case

When [the affinity assistant was introduced](https://github.com/tektoncd/pipeline/pull/2630) it solved problems with concurrent ac

[2020-08-03 22:22] popcor255 commented on #1020
@pritidesai Yes, as a user I would like to log my pipelines with something with logDNA/ELK. However, [this](https://github.com/tektoncd/pipeline/issues/1016#issuecomment-542388985) work around looks like I should be able to get the name of the pipelinerun I am under. This should let me kubctl against the params. :smile:

[2020-08-03 23:29] pritidesai commented on #3045
thanks @vincent-pli

I am debugging into metrics. When I run a sample invalid TaskRun, Tekton logs has `taskrun done : <taskrun-name>` 12 times based on the default retry attempts with each TasRun instance having different addresses. TaskRun count it set to 1:

[code]

And each TaskRun status has exact same status:

[code]

I am not able to reproduce it, will give it a one more try.

[2020-08-04 00:37] pritidesai commented on #3051
/cc @afrittoli @bobcatfish

[2020-08-04 00:48] pritidesai commented on #3045
I am debugging this with:

[code]

[2020-08-04 01:53] pritidesai commented on #3045
May be in case of `Permanent Error`, controller should not try to exhaust the number of retries and just declare failure 🤔

[2020-08-04 07:36] vincent-pli commented on #3045
@pritidesai , so you reproduce it?

I means in section: `if tr.IsDone()`, if any exception occurred, it raise normal error rather than `Permanent` one, this cause repeat reconcile.
Actually, with your case, this line will raise `resource name should not nil` exception, since `r.Status.PodName` is nil.
https://github.com/tektoncd/pipeline/blob/28d13472156fcf2ceef4b0ae409fe368b73f96dc/pkg/reconciler

[2020-08-04 08:54] #2966 closed

[2020-08-04 09:48] vdemeester commented on #3051
#2365 didn't change that behavior, the *cancellation* feature always worked by deleting the pod. That was, at the time, the only way to do it. As @ImJasonH said somewhere, we may be able to do that now using the entrypoint and some signal (what `docker kill` was doing, not sure the equivalent in k8s yet).

[2020-08-04 09:51] vdemeester commented on #3050
I do like the idea of having this behavior "opt in" :angel:

[2020-08-04 09:54] afrittoli commented on #2888
Closed by https://github.com/tektoncd/pipeline/pull/2947

[2020-08-04 09:54] #2888 closed

[2020-08-04 09:56] afrittoli commented on #3050
FY: https://github.com/tektoncd/pipeline/issues/1484

[2020-08-04 11:47] danielhelfand commented on #3051
Yes, my misunderstanding, but now it makes sense. I now see this is what is required to actually stop the TaskRun and guess I never noticed the behavior. So I guess what could be nice here are two things:
1. This behavior should be documented under the TaskRun documentation. My original thought when this came up was to see if this was expected by looking at docs, but now nothing is there.
2. This

[2020-08-04 11:56] sbwsg commented on #1020
not sure if this has been discussed elsewhere but the pipeline run's name is also available as a context variable in Pipelines which you can then pass to Tasks as a param. see the using_context_variables example: https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/using_context_variables.yaml#L30-L34

[2020-08-04 13:10] dlorenc commented on #2973
That makes sense - stuff using "generateName" could be easily `kubectl create`d repeatedly. We'd need to think of a way to plumb the address/info of that object into the pipeline though. Maybe just make the gvk and name/namespace available via params?

[2020-08-04 14:15] bobcatfish commented on #3051
Copying over from slack, https://github.com/tektoncd/pipeline/pull/381 is when we first added this and it looks like we've been deleting the pods all along - though that surprised me too and I agree it's inconsistent with how we treat other pods (and makes it harder for dashboard folks :S)

[2020-08-04 14:30] sbwsg opened #3054 "Sharing pullrequest metadata from input to output PR resource results in permission error"
# Expected Behavior

One usecase for pull request resources is to have an input PR resource pull down the current state of a PR and then an output PR resource sync the updated state back to github.  In order to make this work a step needs to be added to copy the input resource's metadata to the output resource's workspace directory (e.g. `/workspace/output/pr`). Once the metadata is copied into th

[2020-08-04 14:30] VeereshAradhya commented on #3038
@pritidesai @danielhelfand when I filed the bug I was able to reproduce the issue with the spec that I have provided. When I checked today, with same spec I was not able to reproduce the issue. I observed that the issue is not reproducible all the time. Today with repeated trials I was able to reproduce the issue with below specs
**Command logs**:
[code]

**pipeline**:
[code]
**Task**:
`first-task

[2020-08-04 16:36] jerop commented on #2937
@prantaa when the second Task (`run tests`) fails, the whole pipeline will fail so the subsequent Tasks won't be executed.

Separately, you can explore using [finally](https://github.com/tektoncd/pipeline/blob/935aecfae56d3cc188ca9af4a05b3dd8e114307c/docs/pipelines.md#adding-finally-to-the-pipeline) in pipelines to send out notifications. Final Tasks are guaranteed to be executed after other Tasks