[2018-09-07 18:46] tejal29 opened #3 "Create Sample piplelines for User testing."
## Expected Behavior
Sample pipelines should be easy to understand and can be reviewed by people for the upcomning user study.

## Actual Behavior
samples do not exists.

## Steps to Reproduce the Problem
none
## Additional Info
In this task we need to define sample pipelines which
- [ ] a simple example of linear pipeline
- [x] an example pipeline with Fan in
- [x]  an example pipeline with Fan o

[2018-09-07 18:51] tejal29 opened #4 "Create pipeline CRD documentation for user study"
## Expected Behavior
For user study, go through documentation and iterate the docs with someone on the team.
## Actual Behavior
docs currently are not reviewed if they are inline with the samples.

## Steps to Reproduce the Problem
none

## Additional Info
Minimal documentation and not all the details need to fleshed since it might lead to confusion.
Only relevant to what is defined in samples. Re

[2018-09-07 18:53] tejal29 opened #5 "Create Documentation for Pipeline Parameters"
## Expected Behavior
For user study, go through pipeline documentation and iterate the docs with someone on the team.

## Actual Behavior
The docs are in a good shape right now. We just need to sit with someone and see if they can follow along the docs and samples created in #6  together.

## Steps to Reproduce the Problem
none
## Additional Info
Minimal documentation and not all the details need

[2018-09-07 18:55] tejal29 opened #6 "Define a exercise to add pipeline parameters"
## Expected Behavior
Define a  task which will ask users to define a pipeline param

## Actual Behavior
do not exists.

## Steps to Reproduce the Problem
none
## Additional Info
The task can be something as simple as
" Define a github source code repository https://github.com/knative/build-pipeline to Pipeline paramas"

[2018-09-07 18:56] tejal29 opened #7 "Define a exercise to create a pipeline from given tasks."
## Expected Behavior
Define a task to create pipeline from a given Task Catalog. The task to be defined in the Catalog are listed in #9

## Actual Behavior
 do not exists.

## Steps to Reproduce the Problem
none
## Additional Info
The task could be as simple as "Create a Build-Test-Deploy pipeline for Kritis where
- the source code is at github location X
-  unit test can be run using steps  Y
- N

[2018-09-07 18:58] tejal29 opened #9 "Create sample exercises for User study"
## Expected Behavior
Create tasks for user study which will be used in sample pipelines. Using this task, we will ask user to define a new pipeline.

## Actual Behavior
 do not exists.

## Steps to Reproduce the Problem
none
## Additional Info
Create tasks for user study.
As of now, things on top of my list are
 - [ ] Build with kaniko and push task
 - [ ] Make task
- [ ] Integration Test Task
 -

[2018-09-07 22:15] bobcatfish opened #11 "Design: Ensure same sources/inputs used throughout pipeline"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior

If you create a [PipelineRun](https://github.com/knative/build-pipeline#pipelinerun) which executes against a particular branch/commit/etc., you want to be certain that the same branch/commit etc is used all the way through.

For example if your pipeline runs against mas

[2018-09-07 22:55] bobcatfish opened #12 "Design `image` type"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior
One of the features we want the Pipeline to have is to have strong typing around concepts that will be used commonly in k8s centric CI/CD pipelines.

One of the concepts we want to have strong typing around is a "container image", which is something that could be produced

[2018-09-07 23:11] bobcatfish opened #13 "Design: sources"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior

It should be possible for [Pipelines](https://github.com/knative/build-pipeline#pipeline) to execute against multiple kinds of "sources".

The exact definition of what a "source" is a bit murky but generally we want this to be the same as [a knative build CRD source](htt

[2018-09-07 23:25] bobcatfish opened #14 "Verify vendor directory"
## Expected Behavior
Running `dep ensure` (or whatever [our DEVELOMENT.md says to run](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#dependencies)) should be a no-op on the repo unless deps have actually changed.

## Actual Behavior
When I run `dep ensure -v` on the repo, I get a whole slew of changes to `vendor/`

## Steps to Reproduce the Problem

  1. Checkout repo
  2. I

[2018-09-07 23:29] bobcatfish opened #15 "Setup PR testing for build-pipeline unit tests"
## Expected Behavior
Every PR should have unit tests run against it automatically.

(The long term dream is that we use the Pipeline CRD reference implementation _itself_ to test this repo, but since it is just an API right now, that's a ways off!)

## Actual Behavior
We have no automation! Is master broken? WHO KNOWS IT'S A CRAZY WORLD 🤠

## Steps to Reproduce the Problem

  1. Open a PR with bro

[2018-09-07 23:36] bobcatfish opened #16 "Setup PR testing for build-pipeline integration tests"
_Need to complete #15 before we can tackle this_

## Expected Behavior
Every PR should have integration tests run against it automatically.

(The long term dream is that we use the Pipeline CRD reference implementation _itself_ to test this repo, but since it is just an API right now, that's a ways off!)

## Actual Behavior
Even once #15 is done, we won't have anything to ensure we can actually de

[2018-09-07 23:41] bobcatfish opened #17 "Add `+optional` to optional fields"
## Expected Behavior
[The k8s API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required) explain that optional fields should have both the json `omitempty` directive _and_ should have the `+optional` comment.

## Actual Behavior
We are currently using only "omitempty" to indicate which fields are optional, e.g. a [Pipeline's](ht

[2018-09-07 23:58] bobcatfish opened #18 "Add enum like values for all `type` placeholders"
## Expected Behavior
Whenever a `type` attribute is used, there should be string aliases for all the possible value values so we can see what values should be possible. This should just include the types we would initially expect to implement.

## Actual Behavior
There are a bunch of places in our API where we use a `type` attribute, but it's not clear what kinds of values should actually be used

[2018-09-08 00:05] bobcatfish opened #19 "Evaluate kubebuilder for controllers"
## Expected Behavior
Though our controllers (e.g. [pipeline run controller](https://github.com/knative/build-pipeline/blob/master/pkg/controller/pipelinerun/pipelinerun_controller.go)) don't do much, we should be happy with how they are built and prepared to move forward with the skeletons we do have as we start actually implementing functionality.

## Actual Behavior
We used [kubebuilder](https:/

[2018-09-08 00:12] bobcatfish opened #20 "Reconcile `examples` dir with `config/samples`"
## Expected Behavior
We should have one clear location for all of our example yamls and it should be tested (and eventually included in our CI - #15).

## Actual Behavior
We currently have two sets of examples:
1. [config/samples](https://github.com/knative/build-pipeline/tree/master/config/samples) - these were generated by kubebuilder and we modified them
2. [examples](https://github.com/knative

[2018-09-08 00:26] bobcatfish opened #21 "Add `cluster` and `clusterBindings` to types"
## Expected Behavior

The following types should be added:

* [pipelineparams](https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeline/v1beta1/pipelineparams_types.go) should have `clusters`
* [pipelines](https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeline/v1beta1/pipeline_types.go) should have `clusterBindings`
* [tasks](https://github.com/knative/build-pipelin

[2018-09-08 00:36] bobcatfish opened #22 "Create step by step walkthrough tutorial"
## Expected Behavior
When someone wants to ramp up on this project, they should be able to follow along with a tutorial that explains to them how to create their own pipelines and interact with them.

We can initially cover a simple pipeline, e.g. [the example kritis pipeline](https://github.com/knative/build-pipeline/tree/master/examples#example-pipelines).

### Requirements

* It should be possi

[2018-09-08 00:40] bobcatfish opened #23 "Add step-by-step guides to DEVELOPMENT.md"
## Expected Behavior
The [DEVELOPMENT.md](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md) should cover these common actions:

1. How to start from scratch, setup forks, etc. (e.g. see [knative/serving DEVELOPMENT.md](https://github.com/knative/serving/blob/master/DEVELOPMENT.md#getting-started))
2. How to update controllers in your cluster once deployed
3. How to test changes

[2018-09-10 13:45] pivotal-nader-ziada commented on #14
Looks like the `Gopkg.lock` file is missing the digest field which gets added by running `dep ensure`

[2018-09-10 13:47] dprotaso commented on #14
If the digest fields are missing it means an older `dep` was used. We should be using the latest 0.5.0.

[2018-09-10 13:51] pivotal-nader-ziada commented on #14
Adding the script might be a too early now since it uses the `test-infra` repo but there is no code using that yet. In serving, its used by the e2e tests

[2018-09-10 14:10] pivotal-nader-ziada commented on #14
/assign @pivotal-nader-ziada

[2018-09-10 16:15] bobcatfish commented on #14
Thanks for taking this on @pivotal-nader-ziada ! We don't have prow working yet (#15) so commands like `/assign` don't yet do anything :sweat_smile:

[2018-09-10 16:16] bobcatfish commented on #14
Ah that probably explains the problem - we should add something to our [DEVELOPMENT.md requirements](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#requirements) about the version of `dep`.

[2018-09-10 16:18] #14 closed

[2018-09-10 20:31] adrcunha commented on #15
* See https://github.com/knative/test-infra/blob/master/ci/prow/prow_setup.md%23setting-up-prow-for-a-new-repo for more details on setting up the Prow jobs.
* Travis is not a supported CI/CD for Knative.
* Kubernetes Prow docs are a nice reference, but since Knative has his own Prow instance, not all steps apply.

[2018-09-10 20:42] bobcatfish opened #27 "Design: Conditional execution"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior

Pipelines need to be able to express Tasks that execute conditionally, e.g.:

- If a Task fails, do X (e.g. notify slack)
- If anything in the Pipeline fails, do Y (e.g. notify slack)
- Regardless of success/failure, do Z (e.g. cleanup)

Additionally (as pointed out by @

[2018-09-10 20:49] bobcatfish opened #28 "Create comparison of existing CI systems"
As requested in [the build CRD working group](https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md#build), we should compare the features we are looking for in the Pipeline CRD to features provided by existing solutions to explain why we feel there is a need for this project.

[2018-09-10 23:56] bobcatfish opened #29 "Add validation to controller for Task CRD"
## Expected Behavior

When someone creates a [Task](https://github.com/knative/build-pipeline#task) in a k8s cluster (e.g. with [kubectl apply](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#installing-and-running), the controller should make sure every field is valid.

This should include verifying as many fields as possible, e.g. verifying connectivity with any endpoints, i

[2018-09-10 23:56] bobcatfish opened #30 "Add validation to controller for PipelineParams CRD"
## Expected Behavior

When someone creates a [PipelineParams](https://github.com/knative/build-pipeline#pipelineparams) in a k8s cluster (e.g. with [kubectl apply](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#installing-and-running), the controller should make sure every field is valid.

This should include verifying as many fields as possible, e.g. verifying connectivity w

[2018-09-10 23:58] bobcatfish opened #31 "Add validation to controller for Pipeline CRD"
## Expected Behavior

When someone creates a [Pipeline](https://github.com/knative/build-pipeline#pipeline) in a k8s cluster (e.g. with [kubectl apply](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#installing-and-running), the controller should make sure every field is valid.

This should include verifying as many fields as possible, e.g. verifying connectivity with any endp

[2018-09-10 23:59] bobcatfish opened #32 "Add validation for PipelineRun CRD"
## Expected Behavior

When someone creates a [PipelineRun](https://github.com/knative/build-pipeline#pipelinerun) in a k8s cluster (e.g. with [kubectl apply](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#installing-and-running), the controller should make sure every field is valid.

This should include verifying as many fields as possible, e.g. verifying connectivity with an

[2018-09-11 00:00] bobcatfish opened #33 "Add validation to controller for TaskRun CRD"
## Expected Behavior

When someone creates a [TaskRun](https://github.com/knative/build-pipeline#taskrun) in a k8s cluster (e.g. with [kubectl apply](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#installing-and-running), the controller should make sure every field is valid.

This should include verifying as many fields as possible, e.g. verifying connectivity with any endpoi

[2018-09-11 00:03] bobcatfish opened #34 "Propose process for API updates"
## Expected Behavior
At a certain point we will decide we want to solidify the API and we will want to prevent backwards incompatible changes from being made. We should define a process for introducing changes into the API to minimize disruption to anyone that has integrated with us. For example:

- Requiring all changes be additive
- Versioning and standards around what the version increments rep

[2018-09-11 00:08] bobcatfish opened #35 "Design + POC: CLI tool for visualizing pipeline"
This task is to propose a design and also create a POC tool that demonstrates that design.

## Expected Behavior
We would like to have a CLI tool for interacting with the Pipeline CRD, to make it easier for a user to deal with all that YAML. The first feature we want from this tool is to visualize, on the command line, the DAG of a [Pipeline](https://github.com/knative/build-pipeline#pipeline).

#

[2018-09-11 00:16] bobcatfish opened #36 "Design: Templating"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior
In our examples, we use the syntax `${something}` to reference things, but we don't have a clear model for what can and can't be referenced.

* [Tasks](https://github.com/knative/build-pipeline#task) should be able to reference anything from their inputs or outputs
* [Pip

[2018-09-11 00:18] bobcatfish commented on #36
TODO: should this also cover References, or should we create a separate issue for that? e.g.:

- TaskRuns refer to Tasks
- PipelineRuns refer to Pipelines and PipelineParams
- Pipelines refer to Tasks when linking Task outputs with Inputs

Specifically how the [object references](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#object-references) will work.

[2018-09-11 17:40] tejal29 opened #37 "Requirement Documents for Result Store."
## Expected Behavior
Test Results are first class citizens in PipelineCRDs.
We want to flush out the requirements for Result Store where these results will be stored.

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info
What kind of Results.

[2018-09-11 17:49] aaron-prindle opened #38 "Design: References"
Create a separate design doc which explores in detail how references will work between our resources, e.g.:

- TaskRuns refer to Tasks
- PipelineRuns refer to Pipelines and PipelineParams
- Pipelines refer to Tasks when linking Task outputs with Inputs

Documentation:
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#references-to-related-objects

[2018-09-12 17:19] jchesterpivotal commented on #11
I think my most immediate sense is that what you're describing here isn't really a Pipeline and a PipelineRun, it's a Job and a Build. The analogy to physical pipelines means that there ought to be multiple things in the pipeline simultaneously at separate stages of processing. The design here feels more like a traditional Travis-y style of construction.

[2018-09-13 19:48] pivotal-nader-ziada commented on #36
Where are you expecting the values for the templated variables to be provided from? the cli or from a file? That would mean we can't directly apply these yaml files using kubectl.
We will probably have to build something custom, as part of the cli, to replace them. Maybe using go template package.

[2018-09-13 20:08] aaron-prindle commented on #36
Currently the idea would be that the yaml that is submitted by kubectl does not have the templated values templated.  The templating would be done in the controller, similar to how variable templating is currently done in knative/build:
https://github.com/knative/build-templates/blob/master/kaniko/kaniko.yaml#L17
https://github.com/knative/build/blob/3e2b7e1ae179216063f52b75c7b75e5e29742539/pkg/bu

[2018-09-14 00:45] pivotal-nader-ziada commented on #36
I believe the way the build works is the the build yaml file will have the values that will be applied to the variables in the template.
That makes sense in the case of `task templates` that would get values for their variables from the pipeline, but would be nice to also think about some dynamic option such as the pipeline replacing their template variables from env variables or a config map

[2018-09-16 21:42] bobcatfish commented on #27
One possibility: all Tasks and Pipelines could have a `finally` clause, which could be provided with params/env variables which indicate whether there was a success, failure, abort, etc. (vs. providing "on failure", "on success", and "finally" as separate concepts)

[2018-09-16 21:43] bobcatfish commented on #35
For an example of what output we'd expect, looking at [the example pipelines](https://github.com/knative/build-pipeline/tree/master/examples) we would expect that this tool could create an image (e.g. svg) or diagram (e.g. ascii art in the terminal) like the guestbook png.

[2018-09-16 21:44] bobcatfish opened #49 "Design: Notifications"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior
In a many modern pipelines, we want to be able to

Requirements:
* Must support: slack updates, email updates, github PR commenting
* Should be possible to perform different actions on failure of a task or a pipeline, or success
* Must be possible to provide required cred

[2018-09-16 21:50] bobcatfish opened #50 "Design: Partial Pipeline execution"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior
If a pipeline has many tasks and takes a long time to run (e.g. tens of minutes, or even hours), and one Task fails, it might be desirable to be able to pick up execution where the Task failed, with different [PipelineParams](https://github.com/knative/build-pipeline#pipe

[2018-09-17 20:20] pivotal-nader-ziada commented on #49
A small addition might be to add `notification.always` which will be trigger at the end irrespective of Task run.
For example:

[code]

Simple use case would updating PR/Slack with a message confirming a test run or an docker image upload.

[2018-09-17 21:50] bobcatfish opened #51 "Encorporate k8s documentation style guidelines"
## Expected Behavior
The k8s project has a [solid set of documentation guidelines](https://kubernetes.io/docs/contribute/style/style-guide/). It would be great if the docs in this project followed them. This means two things:

1. We should review our existing docs (specifically READMEs) and fix any issues
2. We should add a link to these standards to our CONTRIBUTING.md

If possible we should cons

[2018-09-17 22:03] shashwathi commented on #38
Is this design doc meant to also explain the contract between each resources?

[2018-09-17 22:03] bobcatfish opened #52 "Setup continuous integration for build-pipeline"
## Expected Behavior
In addition to running tests against pull requests, and especially once we get #16 (integration tests) added, we should have our tests running continually to be sure nothing breaks over time (e.g. some kind of issue with a dependency - as much as we want our tests to be hermetic they probably never will be 100%).

Our pull request tests:
* https://prow.knative.dev/?job=pull-kn

[2018-09-17 22:35] bobcatfish commented on #38
@shashwathi ya to some extent! we might see more detail in some of [the other upcoming designs](https://github.com/knative/build-pipeline/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+design) tho, this doc would be focused on specifically the mechanics of how to express these references

[2018-09-18 16:27] #18 closed

[2018-09-19 20:58] bobcatfish commented on #50
@BenTheElder, @cjwagner and some other [Prow](https://github.com/kubernetes/test-infra/tree/master/prow) folks indicated that this would be a very desirable feature for them - particularly in a case where your pipeline has 2 phases, one that builds a bunch of stuff and then subsequent phases that use that built stuff, it'd be handy to be able to resume after the point where the stuff is built

[2018-09-20 17:54] bobcatfish commented on #11
I'm going to close this issue and consider it fixed by @shashwathi and @pivotal-nader-ziada 's work in #39 - we now are declaring resources in a separate CRD which will control the version they run at, and also specifying `passedConstraints` explicitly to ensure the same resources are used between Tasks

[2018-09-20 17:54] #11 closed

[2018-09-20 17:55] bobcatfish commented on #13
This design work has been covered in #39! Thanks @shashwathi and @pivotal-nader-ziada !! :champagne:

[2018-09-20 17:55] #13 closed

[2018-09-20 17:59] bobcatfish commented on #12
Closing this issue as @pivotal-nader-ziada and @shashwathi added an initial version of the image type at https://github.com/knative/build-pipeline/blob/1c4deea8de70d40ded6cab8d64fe303d65ce2970/pkg/apis/pipeline/v1beta1/image_source.go in #39 !

[2018-09-20 17:59] #12 closed

[2018-09-20 20:31] pivotal-nader-ziada commented on #17
/assign @pivotal-nader-ziada

[2018-09-20 21:46] shashwathi commented on #21
/assign @shashwathi

[2018-09-21 01:02] bobcatfish opened #57 "Remove kubebuilder (for now)"
## Expected Behavior
While looking into #19 we've decided that for now we want to move forward without kubebuilder (watch #19 for more info re. the rationale) (we might revisit this later afte rfollowing up with kubebuidler folks).

So we would like:
* `build-pipeline`'s [controllers](https://github.com/knative/build-pipeline/tree/master/pkg/controller) to no longer require kubebuilder
* Any boile

[2018-09-21 01:20] bobcatfish opened #58 "Implement the github Resource type"
## Expected Behavior

When a user creates a `TaskRun`, the `TaskRun` will contain the actual `Resources` that the `Task` is using, and if these `Resources` are inputs, they should be made available as mounted volumes in the `Task`'s steps.

For example [run-kritis-test.yaml](https://github.com/knative/build-pipeline/blob/1c4deea8de70d40ded6cab8d64fe303d65ce2970/examples/invocations/run-kritis-test

[2018-09-21 01:20] bobcatfish commented on #58
@pivotal-nader-ziada this is the issue I was mentioning re. the github resource!

[2018-09-21 01:22] bobcatfish commented on #28
[Pipeline CRD CI/CD Comparison](https://docs.google.com/spreadsheets/d/1ejHvL-GEC0CTXi4WpQ6mA2D4fAChGrlQkLOfqS9cKBk/), shared with members of [knative-dev](https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md#build).

The document compares the features we'd like the Pipeline CRD to Concourse, Jenkins, Argo, Prow, Bamboo and TeamCity. (Note however that the goal is that any of th

[2018-09-21 01:22] #28 closed

[2018-09-21 01:23] pivotal-nader-ziada commented on #58
Sounds good

/assign @pivotal-nader-ziada

[2018-09-21 01:35] bobcatfish opened #59 "Implement working "hello world" Task + TaskRun"
## Expected Behavior

A user should be able to create a "hello world" Task that just echoes "hello world" and run it as many times as they like in their k8s cluster by creating TaskRuns.

Requirements:
* Test coverage (unit tests + if possible integration tests, may be blocked by #16 )
* Docs that explain how to run this Task, with examples
* Docs that explain how to debug this (i.e. where to look

[2018-09-21 16:02] pivotal-nader-ziada commented on #58
It is better to pull the common parts we need to the `pkg` repo and use it from there in both `build` and `build-pipeline`, or another common repo?

The resource itself has the [ServiceAccount](https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeline/v1beta1/git_source.go#L29) and the `TaskRun` refers to the [resource](https://github.com/knative/build-pipeline/blob/master/config/sam

[2018-09-21 17:17] bobcatfish commented on #58
If you prefer that approach we can do it, but I prefer keeping the build related logic in build, since I think that's a reasonable grouping of logic.

One of the downsides of the `pkg` repo is that it isn't well factored; it's a grab bag of random stuff that seems to be useful across repos. `build` at least is limited to build related stuff so I kind of like that.

Oh interesting, I totally missed

[2018-09-21 17:41] pivotal-nader-ziada commented on #58
I'm fine with keeping it in build and depending on it there, I think we will have this dependency anyways. If we later decide to make the dependency less coupled, we can pull out the common things even in another common repo.

yeah in case you have different accounts to get from buckets vs from github, I have seen this use case before, what do you think?

I like the approach of saving the snapshot

[2018-09-21 17:58] bobcatfish opened #61 "Implement simple PipelineRun"
## Expected Behavior
A user should be able to create a `PipelineRun` which will look at the `Tasks` in the referenced `Pipeline` and for each of those, create a `TaskRun`.

If #59 is done before this, creation of the `TaskRun` would also trigger running of the `Task`, however if not, nothing would actually be executed but the `TaskRuns` would exist.

Out of scope of this issue (coming in later iss

[2018-09-21 21:29] bobcatfish opened #62 "Implement working kaniko build Task"
## Expected Behavior
Once we have implemented a simple hellworld Task (#59) a user should be able to define a Task that can build and push an image to a registry using Kaniko. This would mean that:

* Templating is in place that allows for the Task to use the image and registry values specified in the output [image resource](https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeline/v

[2018-09-21 21:47] bobcatfish opened #63 "Implement working Task that deploys to k8s using helm"
## Expected Behavior
Once we have implemented a simple hellworld Task (#59) a user should be able to define a Task that can deploy at a k8s resource using [helm](https://helm.sh/).

This would mean that:
* Templating is in place that allows for the Task to use the image and registry values specified in the input [image resource](https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeli

[2018-09-21 22:27] bobcatfish commented on #20
I think we probably want to keep `examples` but I just noticed that the `config/samples` examples don't include any `Pipeline` level templating.

[2018-09-21 22:27] bobcatfish commented on #20
Well neither does `config/samples` so ¯\_(ツ)_/¯

[2018-09-21 22:45] bobcatfish opened #64 "Implement Pipeline Templating"
## Expected Behavior
When a user creates a `Pipeline`, they should be able to use templating to pass arguments to tasks, using the values that will eventually (via `PipelineRun`) be provided by the referenced `PipelineParams` and `Resources`.

This should include:
* Unit test coverage
* Docs on how to use this templating

## Actual Behavior
Templating is being designed in #36 but is not implemente

[2018-09-22 01:09] bobcatfish opened #65 "Pipeline uses `passedConstraints` to provide correct inputs and outputs"
## Expected Behavior
If a user creates a Pipeline which has [`passedConstraints`](https://github.com/knative/build-pipeline#resources) specified, this should be used to construct a DAG of tasks (including fan in and fan out)
2. Ensure that the version of the `Resource` used by the task is the same as the version used by the `Task`(s) in the `passedConstraint`

Should include:

* Expanding the docs

[2018-09-24 17:38] #17 closed

[2018-09-24 21:29] #21 closed

[2018-09-25 13:58] pivotal-nader-ziada commented on #58
my high level plan so far is the following:
 * the git resource will return an array of init-containers,
    * the creds init similar to how the build project uses the service account
    * git resource init-container that will include the github repo fetched on a volume in a folder with the name specified as the name of the inputSourceBinding

I'm expecting the TaskRun Controller/Runner will take

[2018-09-25 14:09] pivotal-nader-ziada commented on #59
in the example above, in step (3) should the name of `TaskRef` be `helloworldTask` as indicated by the name defined for the task in step (2)
or is that name coming from somewhere else?

[2018-09-25 14:27] pivotal-nader-ziada commented on #63
Should we consider this as a `resource` since it is the output of a `Task`?

[2018-09-25 17:51] bobcatfish commented on #59
Oh whoops, so in step (3) I think the name should be `helloworld-task` since that's what the `Task` is called. Thanks for catching that @pivotal-nader-ziada ! I've updated it, let me know if it still doesn't seem right.

[2018-09-25 17:53] bobcatfish commented on #62
That's a great question: + @aaron-prindle @ImJasonH if you have any thoughts

I'm not sure myself. What I don't want to do is duplicate what knative/build is already doing - if we wrap knative/build, I hope we will use the Build CRD and controller however possible, otherwise I hope we will import from knative/build as needed, which might mean refactoring knative/build a bit.

@ImJasonH do you have

[2018-09-25 19:50] bobcatfish commented on #63
By "this" do you mean the cluster than gets deployed to? Definitely!

Or do you mean the deployment itself? b/c that's an interesting idea that I don't think we'd thought of!

[2018-09-25 19:54] bobcatfish commented on #58
Sounds great to me @pivotal-nader-ziada ! I pinged @aaron-prindle in case he has any other comments, he's working on #59.

[2018-09-25 19:55] pivotal-nader-ziada commented on #63
I meant the `deployment` of the chart, a `helm` resource that knows how to deploy similar to how the `image` resource knows how to upload the image to a registry

[2018-09-25 19:58] bobcatfish commented on #63
Oooo neat! I think that's a cool idea, and makes a lot of sense since deployments will probably be a big part of what I imagine folks would want to use Pipelines for. Would you be interested in throwing together an issue to look into designing a `Deployment` resource?

[2018-09-25 19:59] pivotal-nader-ziada commented on #63
Sure, I'll write up an issue for it

[2018-09-25 20:53] nader-ziada opened #68 "Design: Deployment build-pipeline-resource"
The work for this task is to design this feature and present one or more proposals (before implementing).

## Expected Behavior
A common expectation of a pipeline is to deploy the created application/function on some cluster

The `deploy` resource should satisfy the following requirements:
 * Defined as an output of a Task
 * Can only be used as an output binding, if used as an input will have no-

[2018-09-25 23:20] bobcatfish commented on #68
I like it! I think this should be generic enough that we could define different types of deployers, e.g. `kubectl` as well as `helm`

[2018-09-26 20:17] pivotal-nader-ziada opened #69 "Add Pipeline Label to pipelineRun and tasksRun"
## Expected Behavior

The `PipelineRun` and `TasksRun` object  should have a label with the pipeline name. Can be called  `knative.dev/pipeline` with a value of the actual pipeline name.

The TaskRun controller can use the Pipeline name in Pod metadata and log messages.

## Actual Behavior

Currently there are no labels added

## Additional Info
 * The PR to add this functionality should add an in

[2018-09-26 20:28] pivotal-nader-ziada commented on #69
One example is the `taskRun` pod can include the pipeline name and task name in the logs to make it easier to filter these logs

[2018-09-26 23:30] #57 closed

[2018-09-27 00:35] bobcatfish opened #71 "Use knative/serving style controllers"
## Expected Behavior

Our controllers should be written in the current preferred style, which is that used byhttps://github.com/knative/serving .

### Bonus

Write some docs on how to write controllers in this style (maybe in https://github.com/knative/pkg).

If we want ppl to write controllers in this style, we should document _how_ to do that. The only choice currently will be to reverse enginee

[2018-09-27 00:42] bobcatfish opened #72 "Add versioning + CHANGELOG"
## Expected Behavior
Once we have the Pipeline actually working to some extent, and we want to start demoing to people (aka [we've hit our first milestone](https://github.com/knative/build-pipeline/milestone/1)), we should introduce:

* A release process + tools
* [Semantic versioning](https://semver.org/)
* [A changelog](https://keepachangelog.com/en/0.3.0/), ideally somewhat automated, e.g. a [r

[2018-09-27 16:05] pivotal-nader-ziada commented on #71
/assign @pivotal-nader-ziada

[2018-09-27 16:49] tejal29 commented on #61
@bobcatfish Was looking at if there is a way to divide this further.
Few subtasks i am thinking of:
- [ ] Add unit tests for task_controller.go
- [ ] Add unit tests for task_run_controller.go

On the branch, i went ahead and added all the methods
- runWorker
- processNextWorkItem
- enqueueBuild
We could potentially see if
https://github.com/knative/build-pipeline/blob/master/pkg/controller/taskrun

[2018-09-27 18:32] bobcatfish commented on #9
/assign @tejal29

[2018-09-27 18:32] bobcatfish commented on #4
/assign @tejal29

[2018-09-28 16:29] tejal29 opened #77 "Add a step to verify vendor code before running unit tests."
## Expected Behavior
On a Branch, we would want developers to run dep ensure, so that unused dependencies are removed.
We can do this by running a [script](https://github.com/grafeas/kritis/blob/master/hack/dep.sh) in the checks which runs dep ensure and check if they are any changes to vendor dir.

## Actual Behavior
Right now, developers can easily add unused deps and overlook the libs pulled in

[2018-09-28 16:33] tejal29 opened #78 "Run unit tests in prow"
## Expected Behavior
Currently, we do not run in unit tests in prow since they are no go test files.
In #75, i added go tests.
This issue to run go tests and any other that exists.

## Actual Behavior
Currently no unit tests run

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info

[2018-09-28 17:27] tejal29 commented on #77
This should also run ./hack/update-dep.sh and ./hack/update-code-gen.sh

[2018-09-28 18:02] tejal29 commented on #77
We should also run verify-code-gen in CI and error if there any changes to vendor-ed code. https://github.com/grafeas/kritis/blob/master/hack/verify-codegen.sh

[2018-09-28 18:10] bobcatfish commented on #77
knative projects have a bunch of scripts in [`hack`](https://github.com/knative/build-pipeline/tree/master/hack) that get copied around into all the repos for this, and it seems like there are more in the test-infra bash scripts.

[verify-codegen.sh](https://github.com/knative/build-pipeline/blob/master/hack/verify-codegen.sh) is the script that makes sure dep is a no-op.

[2018-09-28 20:53] #77 closed

[2018-09-28 20:53] #78 closed

[2018-09-28 23:14] tejal29 commented on #37
Doc is shared internally.

[2018-09-28 23:14] #37 closed

[2018-10-01 19:01] bobcatfish commented on #29
/assign @dlorenc

@dlorenc btw you should also take a look at #83 before you get started, where @pivotal-nader-ziada is adding skeleton webhooks

[2018-10-01 21:53] #71 closed

[2018-10-03 17:44] adrcunha commented on #52
The integration tests job is now running:

https://github.com/knative/build-pipeline/pull/87

However, it's not marked as required (actually, none of the test jobs). I recommend doing it ASAP, as it means that your PRs are being merged ignoring any test failures.

[2018-10-03 18:29] bobcatfish opened #89 "Create integration test demonstrating milestone 1"
## Expected Behavior
To make sure we work in the same direction was we work towards [our first milestone](https://github.com/knative/build-pipeline/milestone/1) we should have an integration test (which would be skipped) that attempts to perform the actions we want to demo, which we can review as a team and make sure we are happy with.

## Actual Behavior
The only description of the expected behav

[2018-10-03 19:37] tanner-bruce commented on #49
It would also be nice if the pipeline itself could have a generic success/failure notification. Perhaps it could also be templated to accept the task that failed? Having to put notifications for each and every task can be tedious and lead to copy and paste mistakes. This is something that I find Concourse is lacking.

[2018-10-04 18:09] tejal29 commented on #69
Are you also thinking of adding PipelineRun label to TaskRun in this task?

[2018-10-04 18:17] pivotal-nader-ziada commented on #69
It would make sense to add the `PipelineRun` name as a label on the `TaskRun`

[2018-10-04 18:28] pivotal-nader-ziada commented on #62
/assign @pivotal-nader-ziada

[2018-10-04 21:36] #16 closed

[2018-10-04 22:30] #58 closed

[2018-10-05 14:24] pivotal-nader-ziada opened #99 "add test coverage automation to the repo"
## Expected Behavior
When a new PR is submitted, prow should show the test coverage report for changed tests on github

## Actual Behavior
test coverage report is not shown

## Steps to Reproduce the Problem

  1. check an example [PR](https://github.com/knative/build-pipeline/pull/91) with changed test that does not show any coverage report

## Additional Info
 * This is an example of the [PR](ht

[2018-10-05 20:35] aaron-prindle opened #102 "Design: How to Handle Deletion of Referenced Objects"
## Expected Behavior
When a referenced object is deleted (TaskRun -> TaskRef -> Task), make sure that each controller has a way for handling that.

## Actual Behavior
It is unclear, this is not expressly handled

## Steps to Reproduce the Problem

  1. Create a Task
  2. Create a TaskRun that references the Task
  3. Delete the Task

[2018-10-05 21:28] tejal29 opened #103 "Pipeline Webhook is erroring out due to Stack Overflow."
## Expected Behavior
The webhook should be able to admit a valid pipeline resource correctly.

## Actual Behavior
Right now,  for a valid pipeline crd
[code]
If you see the error logs for the webhook, you will see they error out due to stack overflow.
[code]

## Steps to Reproduce the Problem

  1. Apply a valid pipeline config
[code]
  2.  Check logs for the webhook
[code]

## Additional Info
Off

[2018-10-05 21:30] ImJasonH commented on #103
Fixed in https://github.com/knative/build-pipeline/pull/101

[2018-10-05 21:30] #103 closed

[2018-10-05 23:59] bobcatfish commented on #69
Okay I looked into our options a bit about how to reference child resources (e.g. a `PipelineRun`'s `TaskRuns`, a `TaskRun` owns a `Build`) (slightly expanding the scope of this task :sweat_smile: ), looking at 4 options:

1. Labels (e.g. `knative.dev/pipelinerun: kritis-pipeline-run-12321312984`)
2. Using [OwnerReferences](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collecti

[2018-10-06 05:56] tejal29 opened #107 "Implement reference Unstructured store API to upload TaskRun logs GCS store"
## Expected Behavior
The Pipeline `TaskRun` logs should be uploaded to an endpoint and available to download later.
In our initial reference implementation we should support uploading to GCS. In the long run we should support other kinds of stores, and provide a default that does not require GCS.

## Actual Behavior
~As of #167 the logs will be streamed to a PVC. This volume will continue to exist

[2018-10-08 16:36] bobcatfish opened #108 "Create end to end tests for our examples"
## Expected Behavior
We should have a set of example `Pipelines` and `Tasks` (currently in `examples`) which folks can look use as reference to create their own, or even use as is.

These should be regularly tested so we can be sure they are working. We expect the actual test coverage of the Pipeline itself to happen in our integration tests (in `test`), so this task is simply about making sure th

[2018-10-08 17:02] bobcatfish commented on #107
@tejal29 this is a stretch goal for the milestone so I'm going to remove it from the required milestone tasks

[2018-10-08 17:05] bobcatfish commented on #108
![image](https://user-images.githubusercontent.com/432502/46623104-725dc380-cae1-11e8-9d74-f38bd2d16832.png)

I realized this is actually blocked by pretty much [the whole october milestone](https://github.com/knative/build-pipeline/milestone/1) at least, since nothing actually works and it would be hard for someone to jump in and add.

[2018-10-09 01:28] aaron-prindle commented on #59
fixed with #86

[2018-10-09 01:28] #59 closed

[2018-10-09 17:51] bobcatfish commented on #38
[This is the design doc for both templating and references](https://docs.google.com/document/d/1bJLE1E6skPjr1rGtSR0gAXdMaWryXTDTVnCPIKJkRBk), shared with members of  [knative-dev@](https://groups.google.com/forum/#!forum/knative-dev).

See also #36

[2018-10-09 17:51] #38 closed

[2018-10-09 17:51] bobcatfish commented on #36
[This is the design doc for both templating and references](https://docs.google.com/document/d/1bJLE1E6skPjr1rGtSR0gAXdMaWryXTDTVnCPIKJkRBk), shared with members of  [knative-dev@](https://groups.google.com/forum/#!forum/knative-dev).

See also #38

[2018-10-09 17:52] bobcatfish commented on #64
[This is the design doc for both templating and references](https://docs.google.com/document/d/1bJLE1E6skPjr1rGtSR0gAXdMaWryXTDTVnCPIKJkRBk), shared with members of  [knative-dev@](https://groups.google.com/forum/#!forum/knative-dev).

[2018-10-09 18:31] bobcatfish commented on #30
/assign priyawadhwa

[2018-10-09 18:34] aaron-prindle opened #119 "Add log verification to integration tests"
## Expected Behavior
The integration tests should support viewing the logs for a Build containers invocation (Build -> hello world container -> container logs -> "hello world")

## Actual Behavior
Currently we are unable to view the logs for a container that is created by Build as once the container exits, it's logs cannot be queried.

## Possible Solutions
- Use streaming logs and `sleep` in our

[2018-10-09 18:36] priyawadhwa commented on #30
I'll take this one! :smile:

[2018-10-09 20:00] #20 closed

[2018-10-09 20:49] bobcatfish commented on #119
Related issue in knative/build about not being able to access logs: https://github.com/knative/build/issues/232

[2018-10-09 22:15] bobcatfish opened #121 "Find better name for `PipelineParams`"
## Expected Behavior
The name for the values in `PipelineParams` should be descriptive and should be pluralizable without causing laughter.

## Actual Behavior
The current name is `PipelineParams` and code-generator pluarlizes this as `pipelineparamses` #114 (https://github.com/kubernetes/code-generator/issues/53)

![image](https://user-images.githubusercontent.com/432502/46701756-aa463300-cbd5-11

[2018-10-09 23:29] #36 closed

[2018-10-10 02:56] dlorenc opened #123 "Design and implement behavior for multiple input sources"
## Expected Behavior
A Task can accept multiple input resources, and produce multiple output resources.

## Actual Behavior

Today we're translating an input resource to a knative/build Source, which is simple but leaves us with a few limitations:
* We're limited to the Sources knative/build takes
* We're limited to one input Resource.

## Additional Info

Idea: translate the inputs and outputs to

[2018-10-10 02:57] dlorenc commented on #123
Apologies if this issue already exists somewhere.

[2018-10-10 16:12] bobcatfish commented on #123
Probably good to track this here anyway @dlorenc since we definitely need it!

This is the related issue in knative/build: https://github.com/knative/build/issues/392

[2018-10-10 16:13] bobcatfish commented on #123
(Looks like you're looking at the knative/build issue @shashwathi so I'll assign this one to you too for now but let me know if you'd rather not have it assigned to you!)

/assign @shashwathi

[2018-10-10 17:36] bobcatfish commented on #119
An even more related issue in knative/build: https://github.com/knative/build/issues/9

[2018-10-10 19:30] dlorenc opened #124 "Design Output handling"
## Expected Behavior

We should design how outputs (TaskResources and Results) should be handled by the PipelineCRD controller. This includes validation and fetching (uploading, querying, storing, etc.) to make them available to other Tasks that depend on them.

## Actual Behavior
Outputs do not currently work.

## Additional Info

Some ideas:

Append a build step to validate and fetch Outputs to

[2018-10-10 19:31] dlorenc commented on #124
Note that this should probably be handled separately from the unstructured, stdout/stderr streams that build steps produce themselves.

[2018-10-10 19:36] tejal29 commented on #124
One more way is the Task Controller will watch for pods update and delete req.
If they belong to a TaskRun, upload the unseen logs to GCS.
The GCS store should support partial update of logs.

[2018-10-10 20:16] dlorenc commented on #124
For the issue on stdout/stderr in Build, see https://github.com/knative/build/issues/232

[2018-10-10 20:29] bobcatfish commented on #124
Some related work that was done [designing Build CRD artifacts](https://docs.google.com/document/d/1FUn9LZXUAJQb8atoTeRxmsdjxpstOyegHF7ieJEblNs) (shared with members of  [knative-dev@](https://groups.google.com/forum/#!forum/knative-dev).)

[2018-10-10 20:34] bobcatfish commented on #124
/assign dlorenc

[2018-10-11 12:58] pivotal-nader-ziada commented on #121
Can we rename the type to `PipelineParam` and then the plural of it would be `PipelineParams`? All the other existing types have singular names (Task, Resource, ...)
or even change the name completely, for example `PipelineConfiguration`

[2018-10-11 14:46] pivotal-nader-ziada commented on #99
/assign @pivotal-nader-ziada

[2018-10-11 14:46] pivotal-nader-ziada commented on #99
Opened PR in test-infra repo https://github.com/knative/test-infra/pull/179

[2018-10-11 14:51] pivotal-nader-ziada commented on #63
/assign @pivotal-nader-ziada

[2018-10-11 15:26] pivotal-nader-ziada opened #126 "Remove service account from pipeline resources"
## Expected Behavior
The Build CRD only takes in one service account in a build and this should be set according the value from the `PipelineParams`, if resources have different service accounts, we can't set them on the build.

Its a reasonable expectation to have all the resources in one pipeline use the same service account.

## Actual Behavior
Each resource defines a service account and there

[2018-10-11 16:45] #126 closed

[2018-10-11 23:54] tejal29 opened #134 "We should add a Concepts Doc which contains high level description of Building blocks of PipelineCrds"
## Expected Behavior
An user with no knative build knowledge should be able follow along the Pipeline CRDs  project and reach to an understanding without getting deep in Knative Build CRD concepts.

Tasks Remaining
We need to documents
- [ ] Document Pipeline Params
- [ ] Should we introduce TaskRun and PipelineRun?
## Actual Behavior
Right now, the README.md refers knative build and knative build

[2018-10-11 23:57] tejal29 opened #135 "Show an overview of Pipeline Crds in a diagram."
## Expected Behavior
We need to show how Pipeline consists of Tasks and tasks consists of steps (which is what is mentioned in the description)

## Actual Behavior
The current diagram is difficult to read since it also refers to TaskRuns and PipelineRuns.

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info

[2018-10-12 00:03] tejal29 opened #136 "Make README.md simpler."
## Expected Behavior
The current Readme.md is difficult to follow along.

- [ ] We are describing the `TaskRunStatus` and `PipelineRunStatus` which is not needed for higher level understanding
- [ ] Resources and artifacts are used interchangeably
- [ ] passedConstraints should be explained in more detail on how it could be used to specify task dependency with an example.
- [ ] Remove the section

[2018-10-12 00:15] tejal29 opened #137 "`passedConstraints` is confusing and non intuitive way of defining task dependency."
## Expected Behavior
A user should be able to understand  task dependency in a pipeline easily when presented with a sample pipeline definition.

## Actual Behavior
User did not understand what `passedContraint` meant. Follow up question were
- "is there a failledConstraint` too?
- Why do i specify my task dependency on `inputSourceBindings`

## Steps to Reproduce the Problem

  1. As user to read

[2018-10-12 00:16] tejal29 commented on #9
Done. Pushed on branch https://github.com/tejal29/build-pipeline/tree/add_user_study/cuj/docs

[2018-10-12 00:16] #9 closed

[2018-10-12 00:17] tejal29 commented on #7
done. https://github.com/tejal29/build-pipeline/blob/add_user_study/cuj/docs/Exercise3.md

[2018-10-12 00:17] #7 closed

[2018-10-12 00:18] tejal29 commented on #3
We added a pipeline with fan in, fan out.
https://github.com/tejal29/build-pipeline/blob/add_user_study/cuj/pipeline/hipster-pipeline.yaml

[2018-10-12 00:18] #3 closed

[2018-10-12 00:19] tejal29 commented on #6
we changed to create an exercise to add a Task.
https://github.com/tejal29/build-pipeline/blob/add_user_study/cuj/docs/Exercise2.md

[2018-10-12 00:19] #6 closed

[2018-10-12 00:24] tejal29 opened #138 "Concise Yaml for pipeline declaration."
## Expected Behavior
user should be able to write minimal lines of yaml to declare a pipeline.

## Actual Behavior
we end up writing a number of redundant fields like "name" in inputSourceBindings might not be required.

## Steps to Reproduce the Problem

  1. Try writing a sample pipeline
  2. Remove repeated fields.
  3.

## Additional Info

[2018-10-12 00:27] tejal29 opened #139 "Document and simplify InputSourceBindings and OutputSourceBindings"
## Expected Behavior
Given a task, user should be able to use it in a pipeline easily.

## Actual Behavior
Right now, a task defines inputs and outputs. However, when using them in a pipeline, they need to be mapped to `inputSourceBindings` and `outputSourceBindings`
User finds it difficult to specify the input to  a task in a pipeline.

The `sourceBindings` portion of the field names is confusing

[2018-10-12 00:28] tejal29 commented on #5
This is not needed anymore.

[2018-10-12 00:28] #5 closed

[2018-10-12 00:29] tejal29 commented on #4
Initial documentation created here on branch https://github.com/tejal29/build-pipeline/tree/add_user_study. I am going to move it to master in #134

[2018-10-12 00:29] #4 closed

[2018-10-12 01:07] aaron-prindle opened #140 "Extend TaskRun Unit Tests to Cover All Possible Cases"
## Expected Behavior
Currently the TaskRun unit tests only cover that a Build is generated from a Task and that the Build has the correct BuildSpec.  The following additional  cases should be added:

- [ ] taskrun w/ a build that isn't done
Actual Behavior: updates status of the taskrun to mirror build
- [ ] task w/ a build that is done
Actual Behavior: logs that the taskrun finished
- [ ] taskrun

[2018-10-12 15:53] bobcatfish opened #143 "Create solution for making logs available when running Tasks"
## Expected Behavior
After running a Task, it should be simple to get the logs that it has produced.

## Actual Behavior
You can try to get the logs from the init container, however if the pod has been deleted, the logs are deleted with it. _Sometimes_ you can get these logs but most of the time the pod is deleted and the init container logs vanish with it, though the other container logs are kept

[2018-10-12 15:54] bobcatfish commented on #143
I think you might be working on this @tejal29 , should I assign it to you?

[2018-10-12 15:57] bobcatfish opened #144 "Update kaniko build + push test to actually push"
## Expected Behavior
Our integration test for the kaniko build and push functionality(#62, implemented in #120) should be able to actually push an image to a docker registry and verify that it was pushed by checking in the registry.

The kaniko integration test should also verify that this image has been pushed by looking at info about it in the registry.

## Actual Behavior
Our integration test i

[2018-10-12 16:08] bobcatfish commented on #23
I don't actually think there's anything to do here, our DEVELOPMENT.md is decent I think/hope. We can add things as they come up.

[2018-10-12 16:08] #23 closed

[2018-10-12 16:09] bobcatfish commented on #119
Implemented in #133

[2018-10-12 16:09] #119 closed

[2018-10-12 16:18] bobcatfish opened #145 "Add debug info to integration test failures"
## Expected Behavior
If an integration test fails, we should get as much information as possible about the CRDs that existed at the time of the failure so that we can debug, especially in the case where a test fails in prow and not locally.

## Actual Behavior
We were trying to dump as much info as we could [in our e2e script](https://github.com/knative/build-pipeline/blob/319e1b4f729cc58edcb813ea

[2018-10-12 16:27] bobcatfish opened #146 "TaskRun should have `Results` in `Status`"
## Expected Behavior
When `TaskRun` executes, it will upload its logs and results to the locations in `PipelineParams`. A user should be able to look at the Status of a `TaskRun` and see exactly where those logs ended up (i.e. the whole path).

This path should be determined by the controller, e.g. a folder in the path named after the TaskRun and/or timestamp, and provided in the `Status` of the `

[2018-10-12 17:09] ImJasonH commented on #63
If it helps, Helm's founder contributed and maintains a container image that runs `helm`, with GKE integration, [here](https://github.com/GoogleCloudPlatform/cloud-builders-community/tree/master/helm).

[2018-10-12 17:18] bobcatfish commented on #22
Since #143 might not be fixed, we should create a pipeline that builds and deploys an image.

We can iteratively add test results and logs later as we add functionality.

[2018-10-12 17:42] dlorenc commented on #29
Closing this for now. We can always add more validation, but we have the basics.

[2018-10-12 17:42] #29 closed

[2018-10-12 17:50] bobcatfish opened #147 "[Epic] Migrate from Build to Task"
## Expected Behavior
By the time we have something like an "official release" we should no longer be wrapping Builds, we should converge the projects in some way.

* BuildTemplates -> Tasks
* Builds -> TaskRuns

Possible futures:
- Fork Build, turn that into Task, leave Build in knative
- Completely replace Build with Task

## Actual Behavior
Currently when you create a TaskRun, it will start a Bu

[2018-10-12 17:58] pivotal-nader-ziada commented on #144
@aaron-prindle @bobcatfish I think this might not be an issue anymore, I think I was having issues because of the building of the image, but was hard to tell since we don't get back logs from build to know what happened. Check #120

[2018-10-12 18:56] #62 closed

[2018-10-12 19:13] pivotal-nader-ziada opened #148 "Link outputSourceBindings from one PipelineTask to inputSourceBindings of next task"
## Expected Behavior
A PipelineTask defined in a Pipeline yaml should link the output of one task to the input of the next task. For example a task to build and push a container image from source would pass that image along to the next task to deploy it.
[code]
In this example, the `builtImage` resource created in the first task `push-kritis (outputSourceBinding: kritisImage)` should be passed alo

[2018-10-12 19:14] pivotal-nader-ziada commented on #144
Should this issue be closed?

[2018-10-12 21:08] bobcatfish commented on #144
Yeah let's close it, I'll open another one to add a check to the integration test that the image was actually pushed. We should also make another one to use the `serviceAccount` in the `pipelineparams` so that you can push to arbitrary registries.

[2018-10-12 21:08] #144 closed

[2018-10-12 21:11] bobcatfish opened #150 "Kaniko integration test should make sure the image is pushed"
## Expected Behavior
When the  [kaniko integration test](https://github.com/knative/build-pipeline/blob/master/test/kaniko_task_test.go)  succeeds, we should be confident that that means that we can push to a registry from a TaskRun, i.e. the test should actually check that the image was pushed to the registry.

## Actual Behavior
The [kaniko integration test](https://github.com/knative/build-pipe

[2018-10-12 21:17] bobcatfish opened #151 "Support service account authorization"
## Expected Behavior

In `PipelineParams`, we have a `ServiceAccount` field, which should be passed [to the build](https://github.com/knative/docs/blob/master/build/auth.md)) when creating Tasks.

- We should have docs on how to use this (and/or link to [knative build docs](https://github.com/knative/docs/blob/master/build/auth.md))
- We should have integration test coverage

## Actual Behavior

W

[2018-10-12 21:18] bobcatfish commented on #144
* Created https://github.com/knative/build-pipeline/issues/150 to update the kaniko integration test
* Created https://github.com/knative/build-pipeline/issues/151 to use the service account field in pipelineparams

[2018-10-12 21:22] bobcatfish commented on #124
@dlorenc @tejal29 I'm a bit confused about the scope of this task - I _think_ this is about basically all of the results which would be made available to these endpoints:

https://github.com/knative/build-pipeline/blob/37381f5b714bce3c55a5643c76dc03f19f552d72/examples/pipelineparams.yaml#L15-L27

Is that right?

b/c in the context of this project "outputs" can also mean the outputs from a Task, i.

[2018-10-12 21:29] bobcatfish commented on #137
Discussed this a bit with @pivotal-nader-ziada and he pointed out that before we actually change this (or anything major) we should probably make sure that the signals we get are consistent across users, since users may find different things confusing/intuitive.

After discussion with @tejal29 + @aaron-prindle , I think we should make this Task about generating alternative designs, which we can co

[2018-10-12 21:48] tejal29 commented on #135
Fixed #142

[2018-10-12 21:48] #135 closed

[2018-10-12 22:20] bobcatfish commented on #15
Whoa i dunno how this stayed open so long, this was done ages ago :D

[2018-10-12 22:20] #15 closed

[2018-10-13 00:09] #61 closed

[2018-10-13 02:37] #33 closed

[2018-10-14 23:35] dlorenc commented on #124
I *think* this overlaps with #148 but is also a bit more general. We need to design:

- What happens to everything in the Task.Outputs list (Results and Resources). This includes where they gets uploaded to the things in PipelineParams and how they get named).
- How that happens (do we have a step that checks and performs these uploads?, something else?)
- How these get linked to the dependent tas

[2018-10-15 01:06] dlorenc commented on #31
/assign dlorenc

[2018-10-15 15:22] dlorenc commented on #123
It looks like @shashwathi is stuck on backwards compatibility in build. Should we handle this here, instead?

[2018-10-15 17:51] #31 closed

[2018-10-15 23:56] tejal29 commented on #143
yes thanks!

[2018-10-15 23:56] bobcatfish commented on #89
Started working on this but realized that most of the logic will come from @pivotal-nader-ziada 's work in #63 so I'm going to wait for that before continuing :D

[2018-10-16 16:34] shashwathi commented on #151
/assign @shashwathi

[2018-10-17 18:45] dlorenc opened #162 "Pipeline Validation - Controller Side"
## Expected Behavior
Pipeline CRDs can be validated semantically. This includes:
1. Tasks in the Spec exist and are valid
2. All required inputs for all Tasks are bound
3. All required outputs for all Tasks are bound
4. All required parameters for all Tasks are provided
5. Resources used by a pipeline exist and are valid

Note that 2

## Actual Behavior
Validation is superficial only. TaskRefs are

[2018-10-17 18:56] tanner-bruce opened #163 "Tracking pipeline and task execution time"
## Expected Behavior
As a user/pipeline developer, I would like to be able to track how long my pipeline execution takes over a period of days/months, at the individual Task level and at the Pipeline level.

## Actual Behavior
There is no way to see this

[2018-10-17 19:01] tanner-bruce opened #164 "Tracking pipeline and task execution time as well as controller time"
## Expected Behavior
As a developer of build-pipeline, being able to see an entire trace of someones pipeline execution as well as the execution context through the pipeline controller would help diagnose performance issues and give visibility into what is going on

It should be possible to query for metrics around:
* How long Tasks of a particular type are taking
* How long Steps of a particular

[2018-10-17 19:10] #150 closed

[2018-10-17 20:50] bobcatfish commented on #99
hmm [the output this is producing](https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-pipeline/160/pull-knative-build-pipeline-go-coverage/1052658487546351616/?log#log) seems a bit odd, might be some more work to do here:

1. Need to address what all those errors are
2. Somehow view the results (bonus: get them into [testgrid](https://testgrid.corp.google.com/knative-serv

[2018-10-17 21:20] adrcunha commented on #99
To view the results in Testgrid you just need to add the proper config to it. Looks like you're missing the postsubmit job? @steuhs can help with both.

[2018-10-17 22:01] steuhs commented on #99
Right, the presubmit job should not be added before the corresponding post-submit job is added

[2018-10-18 05:07] tanner-bruce commented on #164
After speaking in slack with @aaron-prindle we briefly touched on the possibility of building this in via the same process that will be used for overriding the entrypoint for gathering the build logs.

[2018-10-18 20:45] bobcatfish commented on #164
@tanner-bruce can you give some examples of what kind of info you'd want to see exactly, and when you'd use it?

[2018-10-18 20:47] bobcatfish commented on #164
I'm guessing this is something more like we want to be monitoring these metrics as the person administering the deployment of the Pipeline CRD, is that right?

[2018-10-18 20:49] bobcatfish commented on #163
@tejal29 had pointed out in slack that we already have this in the Build step states:

[code]

(startedAt and terminatedAt)

Is this the same info you're looking for in this issue? (Is this issue about adding those fields to TaskRun + PipelineRun?)

[2018-10-18 21:08] shashwathi commented on #148
/assign @shashwathi

[2018-10-18 21:11] #151 closed

[2018-10-19 02:59] tanner-bruce commented on #163
Closing this in favour of #164 - they are so closely related it doesn't make sense to have both. I'll address your comment there.

[2018-10-19 02:59] #163 closed

[2018-10-19 03:00] tanner-bruce commented on #164
The main one for me, as a user, is tracking build times over days and months, as well as various test times. It would also be kind of slick if during the TaskRuns themselves we could be passed in the trace context and add spans to it from there.

As a cluster operator, it could also be useful to be able to see the timings at a global level, to help determine something like if we need to add anothe

[2018-10-19 18:23] tejal29 opened #168 "Replace Pipeline linear execution with graph based execution"
## Expected Behavior
Tasks in pipeline can run in parallel if:

* The inputs on which they run are available (via `from` field)
* The previous tasks (which should be indicated via `runAfter` - not yet in API, see [description of `runAfter` in design doc](https://docs.google.com/document/d/1RMnn_se_r29gVJ7ChLT_6oRhNeBnD7dfBg5vPUaVkbc/edit#heading=h.9p40gvk8rxtb) (_note doc visible to members of [kn

[2018-10-19 21:58] shashwathi commented on #148
I think https://github.com/knative/build-pipeline/pull/160 is implementing this.

[2018-10-19 22:09] pivotal-nader-ziada commented on #148
pr #160 doesn’t figure out how to move artifacts between task runs, it just makes sure the tasks respect the order based on the passed constraints

[2018-10-20 05:40] #30 closed

[2018-10-22 13:33] shashwathi opened #170 "Link `outputsourceBindings` to build"
Below is a pipeline with a task which has an input source to `push-kritis` and outputs the image to `kritisImage` resource. Currently there is no mechanism to capture the `kritisImage` metadata.
We need this information to use specific version of resource in further tasks of the pipeline.

[code]

## Expected Behavior
Build or TaskRun should hold resource references to `outputSourceBindings` gener

[2018-10-22 13:34] shashwathi opened #171 "Link `outputSourceBindings` to build"
Below is a pipeline with a task which has an input source to `push-kritis` and outputs the image to `kritisImage` resource. Currently there is no mechanism to capture the `kritisImage` metadata.
We need this information to use specific version of resource in further tasks of the pipeline.

[code]

## Expected Behavior
Build or TaskRun should hold resource references to `outputSourceBindings` gener

[2018-10-22 13:35] shashwathi opened #172 "Link `outputSourceBindings` to build"
Below is a pipeline with a task which has an input source to `push-kritis` and outputs the image to `kritisImage` resource. Currently there is no mechanism to capture the `kritisImage` metadata.
We need this information to use specific version of resource in further tasks of the pipeline.

[code]

## Expected Behavior
Build or TaskRun should hold resource references to `outputSourceBindings` gener

[2018-10-22 13:38] shashwathi opened #173 "Link `outputSourceBindings` to build"
Below is a pipeline with a task which has an input source to `push-kritis` and outputs the image to `kritisImage` resource. Currently there is no mechanism to capture the `kritisImage` metadata.
We need this information to use specific version of resource in further tasks of the pipeline.

[code]

## Expected Behavior
Build or TaskRun should hold resource references to `outputSourceBindings` gener

[2018-10-22 15:01] #170 closed

[2018-10-22 15:02] #171 closed

[2018-10-22 15:02] #172 closed

[2018-10-22 15:32] bobcatfish commented on #168
@tejal29 could you add a bit more detail about what the expected behaviour is after this task is implemented when you DO need tasks to execute linearly? e.g. Task A needs to execute before Task B (I'm assuming this is covered by the functionality @pivotal-nader-ziada added in #160?)

[2018-10-22 15:51] bobcatfish commented on #163
kk, thanks @tanner-bruce !

[2018-10-22 15:55] bobcatfish commented on #164
@tanner-bruce makes sense, thanks for the detailed explanation! I added some requirements to the description, feel free to change these and/or add to them if that's not quite right.

[2018-10-22 16:11] pivotal-nader-ziada commented on #63
/close
addressed by PR: #160
Will address the cluster selection by another issue and pr

[2018-10-22 17:50] tejal29 commented on #168
@bobcatfish, in #160, we did not get rid of linear execution. I had a chat with @pivotal-nader-ziada and we decided to remove the logic in another PR.
#160, does address task dependency by waiting on Task A to complete if Task B is depending on it. will add more on that in description.

[2018-10-22 17:50] bobcatfish opened #174 "Runs should stop reconciling if they cannot be run"
## Expected Behavior
If a `TaskRun` or a `PipelineRun` runs into an error that prevents it from being able to run, it should not be reconciled and the reconciler/controller should stop trying to reconcile it.

The status/conditions of the Run should also be updated to indicate that the Run has failed.

## Actual Behavior
In most cases, e.g. when a TaskRun references a Task that doesn't exist, the

[2018-10-22 20:26] aaron-prindle opened #175 "Build steps that rely on entrypoint wont work properly with logging, i.e. Command is required currently"
## Expected Behavior
A BuildStep that uses an in image with an executes normally as it would if ran standalone

## Actual Behavior
The entrypoint modification done for the logging will "blowup" the user defined entypoint leaving the container not running correctly

## Steps to Reproduce the Problem

  1.  Create an image w/ only an "Entrypoint" and no "Command"
  2. Specify that image as a BuildSt

[2018-10-22 22:07] bobcatfish commented on #168
I just want to make sure that when we implement this task, we still _support_ linear execution. This task as it's currently worded sounds like we will only be able to run tasks in parallel, which would be a step backward from where we are now.

We don't want to get _rid_ of linear execution, we want to support **more** use cases

[2018-10-22 22:34] bobcatfish opened #177 "Add support for `clusters`"
## Expected Behavior
It should be possible to deploy to the clusters in PipelineParams:

https://github.com/knative/build-pipeline/blob/fc4775ae44546a68fad8c951073904e5dd51fca3/examples/pipelineparams.yaml#L8-L14

For example, I should be able to make a task like this:

[code]

I _think_ the best way to make this work generically for any deployment tool is to create and mount a kubeconfig automati

[2018-10-22 22:34] bobcatfish commented on #63
Okay I created #177 to add support for clusters, closing this issue.

[2018-10-22 22:34] #63 closed

[2018-10-22 22:36] bobcatfish commented on #89
/assign @dlorenc

@dlorenc has this almost done - we also found a pile of other random things that weren't quite wired together properly that'll get fixed as part of this (including output templating from #64

[2018-10-23 00:10] bobcatfish commented on #145
@tanner-bruce is looking into this 😄

[2018-10-23 02:10] pivotal-nader-ziada commented on #168
The plan is to use `passedConstraint` to set dependency (order) of tasks, if there is no dependency, why would you want them to run in sequence?

[2018-10-23 06:47] tejal29 commented on #168
+1 to what @pivotal-nader-ziada said. It respects `passedConstraint` to determine if a task can run.

[2018-10-23 12:51] pivotal-nader-ziada commented on #140
@bobcatfish @aaron-prindle i think this issue can be closed now based on #159

[2018-10-23 15:33] pivotal-nader-ziada commented on #177
/assign @pivotal-nader-ziada

[2018-10-23 15:49] bobcatfish commented on #168
Sometimes you want to run Tasks in sequence, and you would do this with `passedConstraints`.

I'm just saying that saying we are "removing" linear execution is very confusing if you don't already know intimately how the controller is implemented. But this is a moot point since @tejal29 is the one implementing it and knows what this means :)

[2018-10-23 15:51] bobcatfish commented on #140
Nice sounds good! Thanks @shashwathi :D And thanks for the clean up @pivotal-nader-ziada

[2018-10-23 15:57] shashwathi commented on #177
/assign pivotal-nader-ziada

[2018-10-23 16:02] pivotal-nader-ziada commented on #168
@bobcatfish if the tasks are not related at all, is there a need to run them in sequence? if yes, we might need a task to identify that in the yaml

[2018-10-23 16:05] pivotal-nader-ziada commented on #168
concourse has an optional `serial` flag to indicate you the want the tasks in the pipeline to run in sequence, maybe we can add something similar to the pipeline type?

[2018-10-23 18:28] bobcatfish commented on #168
I think we are talking about 2 different things:

1. Being able to express the order your Tasks execute in via the order they appear in a Pipeline
2. Having the ability to express a sequence of Tasks that execute in a desired order

I'm not saying we need (1), as far as I'm concerned this is just a syntax thing, not really a feature.

After this Task, we'll still have (2), which is the only thing

[2018-10-23 18:32] shashwathi commented on #162
/assign shashwathi

[2018-10-23 18:32] shashwathi commented on #148
Need to address #173 before diving into this issue.

[2018-10-23 18:34] tejal29 commented on #168
@bobcatfish i think you got confused by the title "Remove linear Execution". I will change it to "Remove Default Linear Pipeline Execution"

[2018-10-23 20:06] #174 closed

[2018-10-24 01:59] pivotal-nader-ziada commented on #140
@aaron-prindle  you will manually need to close this issue since the PR didn't say `fixes` and you are creator of the issue

[2018-10-24 14:44] pivotal-nader-ziada commented on #177
@bobcatfish how do you expect to connect to this other cluster? put cert/token info in pipelineparams?

[2018-10-24 14:59] bobcatfish commented on #65
lol the passedConstraints - literally the most important part of this task - are missing from the example! 😅

[2018-10-24 15:02] bobcatfish commented on #65
I think that between #168 (remove default linear execution) and #148 (link outputs and inputs) this issue will be taken care of, resolving as duplicate.

[2018-10-24 15:02] #65 closed

[2018-10-24 15:02] tanner-bruce commented on #175
I have PR #183 open with an initial attempt at resolving this.

[2018-10-24 15:03] bobcatfish commented on #168
Thanks @tejal29 I think that clears it up! I'm going to move some of this discussion into #137 re. `passedConstraints` in general.

[2018-10-24 15:04] bobcatfish commented on #137
Possible alternative names: `requiredTasks`, `runAfter`, `providedBy`, `versionProvidedBy`.

[2018-10-24 15:14] bobcatfish commented on #137
@pivotal-nader-ziada based on our discussions in #168 I want to make sure we're on the same page about how `passedConstraints` will work. At the moment, this is the only way to create a graph.

For example, in this Pipeline, both Tasks will run simultaneously:
[code]

In this pipeline, the tasks will run 1. `task-a`, 2. `task-b`
[code]

If I wanted something more complex, e.g. start 1. Run `task-a

[2018-10-24 15:19] bobcatfish commented on #177
That's a great question! I don't have a clear idea yet, but could we put them in a service account, and specify the service account in the cluster resource?

[2018-10-24 15:37] bobcatfish commented on #123
After so much back and forth, @shashwathi I think that (contrary to what I've said before) we are embracing the idea of adding our own init containers that execute before `Build`'s init containers, so implementing this by adding containers for now seems a-ok.

[2018-10-24 17:15] bobcatfish commented on #137
I can't think of a good use case either, so maybe it's fine as is, and we can tackle this when/if we finally find one. (As long as it's an additive change to our API it wouldn't hurt anything.)

[2018-10-24 17:16] #140 closed

[2018-10-24 19:58] bobcatfish commented on #173
@shashwathi could you provide some examples of what metadata you'd expect to see in Build or TaskRun?

[2018-10-24 20:02] bobcatfish commented on #146
Note after discussing with @shashwathi , we should keep the results in spec as well, so we need both, e.g.
[code]

(This task is just about adding the fields to Status, not about implementing the logic)

[2018-10-24 21:04] shashwathi opened #186 "Use event recorder to verify failure cases instead of logs"
In [pipeline run tests](https://github.com/knative/build-pipeline/blob/master/pkg/reconciler/v1alpha1/pipelinerun/pipelinerun_test.go#L277) log observer is used to verify certain negative test cases. We could instead refactor to inject fake recorder into controller and check the events generated.

## Expected Behavior
No log observer in unit tests

## Actual Behavior
Log observer is used

[2018-10-25 18:06] bobcatfish commented on #143
Fixed in #167

[2018-10-25 18:06] #143 closed

[2018-10-25 19:15] bobcatfish opened #188 "TaskRun Validation - Controller Side"
## Expected Behavior
TaskRun CRDs can be validated semantically. This includes:

1. All referenced CRDs (Tasks, Resources, etc.) exist
2. All required inputs for the Task are bound
3. All required outputs for the Task are bound
4. All required parameters for the Task are provided

## Actual Behavior
Validation is superficial only. No referenced objects are dereferenced in the webhook.

## Addition

[2018-10-25 19:17] bobcatfish opened #189 "PipelineRun Validation - Controller Side"
## Expected Behavior
PipelineRun CRDs can be validated semantically.

PipelineRuns are pretty simple, so this is pretty much just making sure all referenced CRDs exist.

## Actual Behavior
Validation is superficial only. No referenced objects are dereferenced in the webhook.

## Additional Info
#162 is related work for the Pipeline, #188 is the same work for TaskRuns.

[2018-10-25 19:18] bobcatfish commented on #162
@shashwathi I changed the requirements of this task a little, I think they are just more specific now.

However, one option would be to not dereference any Tasks in the Pipeline controller, and instead do all the verification in the PipelineRun controller (#189). In some ways this might make more sense, to prevent an order being imposed (e.g. you must create a referenced Task before creating the P

[2018-10-25 19:21] bobcatfish opened #190 "Expand Task Param fields"
## Expected Behavior
Tasks should be reusable. When you look at a Task, it should be clear how to use it, specifically how to provide the right parameters and what they are. There should also be defaults for parameters, i.e. each Param should look like this:

[code]

* Description should be required
* Default should be optional

_Please also update examples._

## Actual Behavior
Currently Task Par

[2018-10-25 19:29] bobcatfish commented on #64
The other thing still missing is applying any templating at a Pipeline level.

[2018-10-25 19:34] bobcatfish commented on #69
I'm gonna unassign myself from this since I haven't gotten a chance to work on it: the work to do here is to add the labels as described in the previous comment.

[2018-10-25 19:42] shashwathi commented on #189
@bobcatfish : This issue is related to https://github.com/knative/build-pipeline/issues/162
PR: https://github.com/knative/build-pipeline/pull/192

[2018-10-26 00:23] bobcatfish opened #193 "Create reference docs"
## Expected Behavior
We should have 3 kinds of docs:

* Tutorials
* References
* Concepts

For example Concourse has:
* https://concoursetutorial.com/ <-- tutorials
* https://concourse-ci.org/reference.html <-- reference
* https://concourse-ci.org/concepts.html <-- concepts

References should go into detail about what can and can't be done with each of our CRDs.

Bonus: we should have some guideli

[2018-10-26 08:08] #134 closed

[2018-10-26 08:08] #136 closed

[2018-10-26 10:43] abayer commented on #27
I think there's probably a need for both "do X after a Task or Pipeline if $SOMETHING is true" and "only run this Task or Pipeline if $SOMETHING is true before we start" - the most obvious use case that we see for the latter in Jenkins Declarative Pipelines is "only run this stage if we're not on a pull request" and the like. Having different environments, etc for PR runs does cut down on the need

[2018-10-26 10:54] abayer commented on #138
At @dlorenc's talk at Devops World/Jenkins World (augh awkward long conference names), and in discussions he and I had during the conference, he advocated for the idea that the Build Pipeline YAML is the "machine code" (for lack of a better term), which can be generated either via an editor or through transformation from another syntax. I'm intending down the road to add support for transforming J

[2018-10-26 20:57] #162 closed

[2018-10-26 20:57] #189 closed

[2018-10-29 17:28] bobcatfish commented on #138
That's an interesting point @abayer , so I think this would imply that the users of the YAML are the tools generating it, and the APIs consuming it, but not actually the end users of the Pipeline itself, is that accurate?

(+ @tejal29 )

[2018-10-29 17:30] abayer commented on #27
@bobcatfish - exactly! Otherwise, people will end up needing to have separate but nearly identical Pipelines for a PR build vs a master build etc. What other information needs to be available is a wider question, of course, and I've got a whole spiel I'm working up on extensibility in that area as well as others. =)

[2018-10-29 17:39] tanner-bruce commented on #190
@bobcatfish I'll tackle this one.

[2018-10-29 17:46] abayer commented on #138
Well, optionally - it may be better to think of it as end users may be writing the YAML directly, but an implementation/utilization of Build Pipeline may use a different syntax (like I mentioned, in my specific case, I'm thinking about migration paths for existing Jenkins users of its Declarative Pipeline syntax) that "transpiles" down to the standard YAML.

My thinking is heavily influenced by th

[2018-10-29 21:59] bobcatfish commented on #138
Also need to update user study in @tejal29 's branch and decide where to put user study.

[2018-10-30 00:03] bobcatfish opened #200 "Ability to use same Pipeline with different Resources"
(Discovered by @pivotal-nader-ziada while working on #177)

This issue is about deciding on the solution we prefer (see "possible solutions" below) and implementing the change.

## Expected Behavior

A user should be able to take an existing `Pipeline` and run it against their own setup without
modifying the `Pipeline` itself, meaning using their own:

1. GitHub fork / branch (e.g. for PR testing)

[2018-10-30 00:04] bobcatfish commented on #200
I am currently leaning toward option (3).

[2018-10-30 07:08] tejal29 opened #202 "Add `command` to `Task.BuildSpec.Steps` in all example Task definitions."
## Expected Behavior
The [`Task`](https://github.com/knative/build-pipeline/blob/master/docs/Concepts.md#task) documentation in Concepts mentions use of field `command`.
It advises on not have an entry point set for container image.
[code]
However, the [example tasks](https://github.com/knative/build-pipeline/blob/master/examples) still follow the old practice.

## Actual Behavior
We should have e

[2018-10-30 07:17] tejal29 commented on #138
@abayer i agree with your view that the yaml should be as unambiguous as it can and if it leads to very very long config, we can create tools for better user experience.
However, my initial concern is to make sure we don't repel users because of these long configs.
We need to make sure, we are not adding to the user pain.

[2018-10-30 07:20] tejal29 commented on #138
yes, but we need to support both consumers (real users and tool) until we provide a tool which does that.

[2018-10-30 12:04] dlorenc commented on #138
To clarify my thoughts a little further - we'll basically have two classes of users here (I think this is true for basically all Kubernetes yamls today): the users interfacing with Kubernetes directly and the users interfacing with higher level tooling built on top of Kubernetes.

In the long term we'll likely have way more of the second class of user - people using this through other systems. In

[2018-10-30 13:18] #145 closed

[2018-10-30 14:33] zhujian7 opened #203 "EntrypointImage should be configured instead of hard-coded."
## Expected Behavior
Make [EntrypointImage](https://github.com/knative/build-pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/resources/entrypoint.go#L34) configurable.
Because in some customer environment, Google Container Registry is hard to connect. Unfortunately they can not pull the container even though they have their own docker registry in local area network.

## Actual Behavior
[Entry

[2018-10-30 14:53] tanner-bruce commented on #202
Once #183 is merged the advice to not rely on Entrypoint/Command will no longer be true, so the examples will be correct again. Is it worth updating them in the meantime? I think #183 will be merged in soon.

[2018-10-30 15:19] pivotal-nader-ziada commented on #203
It would be even better if this `entrypoint` image is a custom image that is built in the pipeline project and not using the one from `Prow`

[2018-10-30 16:03] zhujian7 commented on #203
Well, what i am concerned about is whether i can execute the pipeline well,  which need to pull the `entrypoint` image from my **local docker registry** firstly.
And i think, if I understand the `entrypoint image` correctly, it is not very necessary to cost time to build the image in the pipeline as the image is stable at most time.

[2018-10-30 16:32] bobcatfish commented on #190
Thanks @tanner-bruce !

And like you were saying in slack, I wonder if we should add a `type` field back - it had seemed like we only needed `string`, but now it's looking like we could do with some kind of `array`/`list` type as well, e.g. for expressing multiple arguments.

[2018-10-30 17:01] bobcatfish commented on #145
Nice one, thanks again @tanner-bruce  :sunglasses:

[2018-10-30 17:04] bobcatfish commented on #203
Great point, thanks for opening this issue @zhujian7 !

I think at the moment we don't load any configuration dynamically for the controllers (correct me if I'm wrong!), so we'll need to add that. There should be some precedent in the other knative controllers tho I think.

[2018-10-30 17:06] tanner-bruce commented on #190
@bobcatfish want to do that as a separate issue? Seems like it warrants a discussion about syntax/implementation.

[2018-10-30 17:20] bobcatfish commented on #202
@tanner-bruce my feeling is we should still encourage people to be explicit about the command and args they should use, since with the entrypoint solution there is still the possible edge case where the entrypoint of the image as viewed by the controller and the pod are different, and this causes a problem, but open to other perspectives if you think this is not worth worrying about!

[2018-10-30 17:21] pivotal-nader-ziada commented on #203
My point was not to create the image in the pipeline, I meant to say it should be part of the `build-pipeline` repo and therefore available for you to build and host locally. This is in addition to make the configurable, sorry for not being clear.

[2018-10-30 17:41] tanner-bruce opened #207 "TaskSpec Params needs an Array type"
In https://github.com/knative/build-pipeline/blob/8a2b6c30efa7f4dd1fedafacc2733a0d290e12c6/examples/deploy_tasks.yaml#L21,  the Input Param `helmArgs` is used. If one were to set `helmArgs` to be `--set arg1=a --set arg2=b` with the intention of providing multiple arguments to helm, this task would fail due to `--set arg1=a --set arg2=b` being interpreted as a single argument.

A couple questions

[2018-10-30 18:07] tejal29 commented on #146
Related to #107

[2018-10-30 19:09] tejal29 commented on #107
After feedback with Build working group, we decided to go with following approach.
The API will provide a Sink interface.
A Sink Service Definition will contain
- Endpoint : This is url where the sink is hosted.
- Path to upload to: for now we will be only focusing on uploading logs.
  * Note: We will add support for uploading the Status for TaskRun or PipelineRun  in subsequent iteration.
When we

[2018-10-30 21:14] tejal29 commented on #200
Wov! Thanks for all the detailed examples and description.
That said, in my head the problem is:
We want to create multiple instances of same resource/artifact with one more different values.
Right now, in the CRD we are embedding the object instance information as well (in case of Git resource it is version, in case of Image its digest)

One approach would be to create CRD with revision being aut

[2018-10-31 01:07] zhujian7 commented on #203
@pivotal-nader-ziada That would be great! thank you.

And please forgive me for my poor engilish, sorry for my misunderstanding.

[2018-10-31 09:44] vdemeester commented on #202
/assign

[2018-10-31 10:08] vdemeester commented on #69
/assign @tanner-bruce

[2018-10-31 16:22] shashwathi commented on #123
@bobcatfish : https://github.com/knative/build/pull/451

[2018-10-31 20:24] bobcatfish commented on #200
This applies to all of the fields in each Resource, so [for a Git Resource we are looking at](https://github.com/knative/build-pipeline/blob/fc53b3a84ff58096860f15b9f94373de9e096e10/pkg/apis/pipeline/v1alpha1/git_resource.go#L26-L33):

[code]

Particularly the `URL` would be of interest, e.g. for using forks (like `github.com/knative/build-pipeline` vs `github.com/bobcatfish/build-pipeline`)

And

[2018-10-31 20:33] pivotal-nader-ziada commented on #203
Thanks for the issue @zhujian7 and no worries at all

Would you be interested in making a pr for this change?

[2018-10-31 21:48] bobcatfish commented on #164
Just a note that when we get here, it would be great if we could switch to a metrics collector that isn't global - e.g. see the problem this causes in https://github.com/knative/build-pipeline/pull/211

[2018-10-31 23:13] #202 closed

[2018-11-01 00:06] tanner-bruce commented on #207
This could be done something like the following, with the idea borrowed from `IntOrStr`.
[code]

This could work nicely, as there is no additional field needed and is compatible with already created resources. Alongside this, introducing the spread operator, `...`, in the interpolation phase would allow supporting arrays in a simple manner

I propose:
- add this new type,`ArrayOrStr`
- change the

[2018-11-01 00:41] tanner-bruce opened #212 "Task may have uninterpolated variables in BuildSpec"
## Expected Behavior
A `Task` would fail validation if it tries to define a `BuildSpec` that has variables which would not be interpolated due to missing inputs or outputs. Having this error on validation would shorten the loop when trying to write a `Pipeline` as errors with Tasks would be caught much sooner.

## Actual Behavior
The `Task` will create the `Build` with the uninterpolated variable

[2018-11-01 01:13] zhujian7 commented on #203
Thanks, I am interested to give it a try in my free time.

[2018-11-01 02:19] tanner-bruce commented on #203
Could this be done by an annotation like `pipeline.knative.dev/entrypoint-image"` added to the `PipelineRun`?

[2018-11-01 12:11] #69 closed

[2018-11-01 12:47] pivotal-nader-ziada commented on #32
@shashwathi @bobcatfish I think this is done now

[2018-11-01 12:48] pivotal-nader-ziada commented on #52
@bobcatfish what do we need to do here?

[2018-11-01 18:07] aaron-prindle opened #213 "PipelineRun Controller Validation - Output Binding Issue"
## Expected Behavior
Currently there is a bug in the PipelineRun Controller Validation as noted in https://github.com/knative/build-pipeline/pull/192#discussion_r229856526.  This allows for Outputs to not have proper Resource bindings.  A test for correctly working correct-output-source-bindings (in addition to the bad-output-source-bindings test we currently have) should catch this issue as curre

[2018-11-01 18:07] aaron-prindle commented on #213
I can refactor the PipelineRun/TaskRun validation to share code which should fix this, putting this here as a reminder.

[2018-11-01 18:08] bobcatfish commented on #207
@tanner-bruce could you show an example of what the corresponding Task yaml would look like with your proposal?

My personal preference is for the type of the param to be explicit, e.g.:

[code]

And then the use would look like:

[code]

(maybe this is the same thing you're suggesting!)

I'd like to understand a bit more about why we need the spread operator, in my mind using the args was `{$test

[2018-11-01 19:16] tanner-bruce commented on #207
@bobcatfish The main reason for `...` was to allow the user to treat the array as a single string, however I've been trying to think of a use case for that, and can't.

Thinking more about it, adding the `type` field to the Task, would allow better, more explicit validation of the Task and TaskRun and likely lead to less user/runtime errors.

With that, I would change my proposal to be:
1. add the

[2018-11-01 19:57] aaron-prindle commented on #213
Also should address:
https://github.com/knative/build-pipeline/pull/208#pullrequestreview-170491372

[2018-11-01 19:57] #190 closed

[2018-11-01 20:57] #188 closed

[2018-11-02 20:25] dlorenc opened #215 "Design alternative Task Implementations inside a pipeline"
Right now A Pipeline is a graph of Tasks, where Tasks are coupled to a Build, which run as a Pod. We'll eventually need to support alternative implementations for the Build/Task execution for cases like:

- Builds that cannot be containerized for some reason
- Builds that must run on a specific piece of hardware (Mac/iOS)
- Manual approval steps where a busy-looping container would be wasteful

<

[2018-11-02 21:18] dlorenc commented on #124
https://github.com/google/go-containerregistry/pull/209 and https://github.com/google/go-containerregistry/pull/261

[2018-11-02 21:34] bobcatfish opened #216 "Add Image Output Resources"
## Expected Behavior
If a Task declares that it produces an image output:

1. The TaskRun controller should verify that the promised image was actually created and pushed to where it was supposed to be pushed to. If the Task does not push the image, the TaskRun should fail.
2. The Image resource should be updated with the digest of the image created

This should leverage the design already fleshed

[2018-11-02 21:49] bobcatfish commented on #212
Good call, thanks for opening this @tanner-bruce !

[2018-11-02 21:53] bobcatfish commented on #203
You _could_ but i think a `ConfigMap` is how this is done for other projects, e.g. https://github.com/knative/build/blob/master/config/config-logging.yaml

[2018-11-02 21:54] #32 closed

[2018-11-02 21:57] bobcatfish commented on #52
@pivotal-nader-ziada so we have jobs to run on PR at the moment, but we don't yet have anything to run continuously, e.g. once an evening. It's debatable whether we really need this - certainly the status of the unit tests should never change, but it _could_ be nice to know that the integration tests continue working.

That way if we all stopped working on the project for a while (e.g. over the ho

[2018-11-02 21:59] pivotal-nader-ziada commented on #52
Would be nice to have to give us confidence about the state of the tests.

[2018-11-03 00:08] bobcatfish opened #218 "Epic: Add a Release Process"
## Expected Behavior
* We should have versioned releases (https://github.com/knative/build-pipeline/releases)
* We should publish all images as part of a release (including the entrypoint image and any other images we depend on)
* We should publish yaml that can be used to deploy the Pipeline

## Actual Behavior
* Currently the only way to setup the Pipeline is to run `ko` [as described in the DEV

[2018-11-03 00:13] bobcatfish opened #219 "Add release automation"
## Expected Behavior
We should have automation that will build and push:

* Images for our controllers to a registry (GCR?)
* Yaml for deploying to a known place (GCS?)

## Actual Behavior
Currently the only way to setup the Pipeline is to run `ko` [as described in the DEVELOPMENT guide](https://github.com/knative/build-pipeline/blob/master/DEVELOPMENT.md#install-pipeline)

## Additional Info

See

[2018-11-03 00:31] bobcatfish opened #220 "Epic: Full linkage of Inputs + Outputs"
## Expected Behaviour
This epic is about fully implementing Input and Output resources. For all Resources that we support:

* We must support multiple inputs
* We should define and implement what it means for that Resource to be an Input
* We should define and implement what it means for that Resource to be an Output
* We should link the outputs of a Task with the inputs of a Task that depends on

[2018-11-03 00:34] bobcatfish opened #221 "Design and implement retries"
## Expected Behavior
Users may have some Tasks which they know will sometimes fail for reasons which are not worth failing a Pipeline over. In this case the user should be able to specify a number of times to retry the Task for.

If a Task is retried, this should be obvious in the statuses of both the PipelineRun and the resulting TaskRuns.

## Actual Behavior
If a Task fails once, the whole Pipel

[2018-11-03 00:36] bobcatfish opened #222 "Design and implement timeouts"
## Expected Behavior
A user should be able to specify timeouts at the:
* Pipeline level
* Task level

If a user does not specify timeouts, then some default should be used and it should be clear what that is:
* Maybe infinite for a Pipeline
* Tasks can use the same default as Builds

## Actual Behavior
Currently this is possible via the build spec for Tasks only.

## Additional Info
+ @abayer

[2018-11-05 15:29] dwnusbaum commented on #222
In Jenkins Pipeline, users are able to specify whether a timeout is absolute or relative to the last log activity. I think the relative option is mostly used for long builds where an absolute timeout would be too long to be useful, but the build is expected to produce log output very consistently. In that case, a timeout after 5 minutes of no log activity can be helpful to make sure builds are not

[2018-11-05 15:32] abayer commented on #222
I'm personally not a huge fan of the relative timeouts in Jenkins - it *seems* like a useful thing, but I find that in practice, the use cases for "timeout after inactivity" that aren't adequately covered by "timeout after absolute amount of time" are pretty negligible, and probably not worth the extra effort to implement/support. But that's just my two cents.

[2018-11-05 16:42] dlorenc commented on #64
Can this be closed now?

[2018-11-05 18:06] abayer commented on #212
So, if I'm understanding correctly (which is always an open question!), this would entail traversing the `BuildSpec` to find any fields in it that have `${input.params.whatever}` and erroring for any cases where `whatever` isn't a defined parameter?

[2018-11-05 18:11] tanner-bruce commented on #215
https://github.com/knative/build/pull/236 could be one possible solution

[2018-11-05 18:48] bobcatfish opened #224 "Explore moving away from init containers"
TODO: @aaron-prindle plz fill in ❤️

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info
Blocking #107

[2018-11-05 18:54] shashwathi commented on #173
@bobcatfish Sorry for late reply.

I started thinking in terms of metadata like this file

[code]

Problem with this approach

1. After build is done, how do we access this?
 _solution_: Probably volume or something that we can access after build completes.

2. Is there a world where task 1 uses github source `A` and alters the source but not make a commit?
For example
[code]
[code]

In this case

[2018-11-05 18:55] bobcatfish commented on #64
Only use case left is when you provide templating via a Pipeline:

[code]

In the end the `value` should be expanded

[2018-11-05 18:58] bobcatfish commented on #89
@dlorenc to send yamls he used for the demo

[2018-11-05 19:05] tanner-bruce commented on #212
@abayer Yup. I wrote a quick PoC in `pkg/apis/pipeline/v1alpha1/task_validation.go` last night doing exactly that. I'm going to clean it up later tonight and make a PR.

`${inputs.resources.whatever}` also needs to be considered

/assign tanner-bruce

[2018-11-05 19:45] abayer commented on #212
@tanner-bruce - gotcha! Will watch for your PR and won't bother trying to do it myself. =)

[2018-11-05 21:11] tanner-bruce commented on #146
@bobcatfish does that mean this task is only about adding the `results` struct into the `status` struct, but not actually doing anything with the new field? This ticket seems deceptively simple

[2018-11-05 21:53] bobcatfish opened #225 "Can't deploy after move to k8s 1.11"
## Expected Behavior
Should be able to deploy with `ko apply` to local clusters and to the clusters used by Prow.

If possible this should continue to work for k8s 1.10 as well, for example [the current cluster requirements we've been using](https://github.com/knative/docs/blob/master/install/Knative-with-GKE.md#creating-a-kubernetes-cluster) are:

* Kubernetes version 1.10 or later
* 4 vCPU nodes

[2018-11-05 23:06] #225 closed

[2018-11-06 18:15] bobcatfish opened #227 "Create integration tests for `knative/serving` with PipelineRun + TaskRun"
## Expected Behavior
In github.com/knative/serving, a [`Configuration`](https://github.com/knative/serving/blob/master/docs/spec/spec.md#configuration) (see [overview](https://github.com/knative/serving/blob/master/docs/spec/overview.md)) can contain a `Build`, which can be used to build the image which will be used in the `Revision`.

Thanks to [duck typing](https://docs.google.com/document/d/16j

[2018-11-06 18:17] bobcatfish commented on #147
Continuing discussions with @ImJasonH who is co-ordinating with other knative/serving folks about the best ways to make these changes.

Meanwhile we can move forward with some of the work required, with the assumption that even if we continue to wrap `Build`, we don't want to expose that to users of `Task`.

[2018-11-06 18:22] bobcatfish opened #228 "Move `buildSpec` up a level inside Task.spec"
## Expected Behavior
`Task.spec` should no longer contain a `Build.spec`. All fields that we want to support from `Build` in `Task` should be moved up one level and explicitly included inside `Task.spec`, e.g.:

[code]

## Actual Behavior
`Task.spec` contains `Build.spec`, however we limit the fields which can be used, for example we do not allow the user to provide a reference to a Build template

[2018-11-06 18:29] bobcatfish commented on #207
@tanner-bruce sounds good to me! Lets do it :D

[2018-11-06 18:31] bobcatfish commented on #190
Thanks again @tanner-bruce ! ❤️

[2018-11-06 19:31] #175 closed

[2018-11-07 00:04] bobcatfish commented on #173
@shashwathi ah okay I think I understand now, thanks for the examples! - I think in fact that #124 might be a duplicate of this, would you agree?

[2018-11-07 00:06] bobcatfish commented on #146
lol yes - @aaron-prindle was asking me the same question - I'm beginning to this I should have just implemented this instead of writing up this ticket about it XD

[2018-11-07 00:50] shashwathi commented on #173
I will close this issue. My bad I did not notice other issue

[2018-11-07 00:50] #173 closed

[2018-11-07 17:19] bobcatfish commented on #89
@dlorenc 's yamls:

[code]

[2018-11-07 18:51] abayer commented on #221
So from discussions coming out of today's meeting and further chatting with @jchesterpivotal on Slack, I think what I'd sketch out as the goal would be:

* By default, nothing retries for any reason.
* If a `TaskRun` or `PipelineRun` is *manually* aborted through the API/CRD changes, nothing should retry.
* If a `TaskRun` or `PipelineRun` fails (i.e., the `command` returns non-zero, e.g.), it shou

[2018-11-07 20:33] shashwathi commented on #148
https://github.com/knative/build-pipeline/issues/124

[2018-11-08 15:55] jchesterpivotal commented on #27
We hit a similar PRs -> many pipelines problem in Concourse, which has been a standing pain point. The solution being worked on is "spaces". A resource can pump versions into spaces which don't need to be defined when the pipeline is set.

Take git commits, since PRs are the motivating case. Right now, a git resource follows a single branch. A PR resource can follow commits in PRs. But what I don'

[2018-11-08 16:04] abayer commented on #27
@jchesterpivotal - yeah, Jenkins' multibranch Pipelines are basically (c). I should really get more familiar with Concourse. =)

[2018-11-08 18:48] bobcatfish commented on #173
no problem at all! better 2 issues than none :D

[2018-11-08 19:35] bobcatfish commented on #200
I'm really fixated on this idea and plan to write up another issue to discuss it as soon as i can! Puts a bit of wrench in option (3) tho :J

[2018-11-08 19:35] bobcatfish commented on #27
The way we've been talking about handling this is a decoupling Resources from Pipelines (if we can), discussion in #200 - so you can use the same Pipeline with different Resources.

[2018-11-08 19:37] bobcatfish commented on #27
another use case here that @fejta brought up yesterday:

conditionally executing based on which files changed in a commit, e.g. if you only changed markdown files, maybe you don't want to run your whole test suite

my gut reaction is that the theoretical "metadata" that is provided to each Pipeline's Task can include information like this, and the Pipeline's Task can express if there are certain f

[2018-11-09 01:41] #177 closed

[2018-11-09 02:30] nader-ziada opened #230 "Explore an integration test deploying a container to an external cluster"
## Expected Behavior
The integration test should use the `Cluster Resource` to configure an external cluster and deploy a go hello world sample to it. This test should combine the functionality of the `TestClusterResource()` and the `TestHelmDeployPipelineRun()`

## Actual Behavior
Each part of the functionality has its own test

## Additional Info
 * Investigations:
   * How to create two cluster

[2018-11-09 15:33] abayer commented on #27
@bobcatfish - hey, yeah, I had a note for myself scribbled down to try to understand what role "changelog"s could play in this world. Actually, that's part of a broader area I'm not clear on - historical data from run to run. I'm still getting my head around the CRD and API model here, so I don't know if we'll be recording run metadata (like, in this example, the commit hash for the git resource u

[2018-11-09 16:03] pivotal-nader-ziada commented on #137
@bobcatfish @tejal29  how about renaming `passedConstraint` to `dependsOn` to make it more clear.

All it does is say the this input resource **depends** on another task

for example:
[code]

[2018-11-09 17:12] dlorenc commented on #64
So I'm not 100% sure of the best way to test this. I added a test case to show that the PipelineRun reconciler does not expand these and will pass them to the TaskRun controller, and we have TaskRun tests that show they get expanded. But that doesn't feel very satisifying...

[2018-11-09 20:05] pivotal-nader-ziada commented on #200
The idea of allowing users to extend the system by adding their own resources is important, this flexibility can help drive adoption of our pipeline significantly. I do think it will requires more work to enable this anyways.

so now I'm leaning towards a combination of (4) and (6).

Moving the _binding of the resources_ and the _results_ to the `pipelineRun` will make it consistent with `TaskRun`

[2018-11-09 21:39] abayer opened #233 "Design and implement paused Task execution until condition is met"
## Expected Behavior
A `Task` can be configured to not commence execution until a condition, such as a particular value being present in the `TaskRun`'s metadata, is true.

* This should be generic enough that the reason for commencing execution can be anything, e.g. it could be triggered by a user pushing a button in a UI, it could be a slack command
* It must be possible to ensure that the mecha

[2018-11-09 23:41] bobcatfish commented on #64
I hear you! I can't think of anything better at the moment - we _could_ have an integration tests that passes the whole thing in and makes sure the right thing comes out, but that sounds pretty rough.

I was looking at some of the kubebuilder stuff today with @pwittrock and the integration tests it generates, which can instantiate the controllers and api server locally, could be an interesting way

[2018-11-10 01:03] BenTheElder opened #235 "feature request: running pipelines locally"
Hello from [kubernetes/test-infra](https://github.com/kubernetes/test-infra)! :wave:  -- We think the pipeline is really interesting and we'd like to use it more, and we (I) have a feature request which we get a lot with our current "jobs" system:

and

We've [considered solving this for "ProwJobs"](https://github.com/kubernetes/test-infra/issues/6590) and while looking at prior art I found https:

[2018-11-10 01:08] bobcatfish commented on #233
Thanks for writing this up @abayer !

Would you see yourself expressing this at the level of the Pipeline or the Task itself? (I'm thinking Pipeline?)

[2018-11-10 01:29] bobcatfish opened #236 "Add Build status fields to TaskRun status"
## Expected Behavior
Similar to the work being done in #228, we should add the status fields which `Build` is using to `TaskRun.status`, so that we can show this status information to a user without requiring the user be aware of the `Build` which has been created, and go find it.

These fields should mirror the status of the underlying `Build`.

This should not include the Builder and Cluster fie

[2018-11-10 01:34] bobcatfish opened #237 "Add status of TaskRuns to PipelineRun"
## Expected Behavior
As a PipelineRun executes, it should be possible to look at the `status` of the PipelineRun and see how the related TaskRuns are doing:
* Which have started
* Which have completed (and whether this was successful or not)

Part of this Issue is to determine what other fields we should include (and add them). See Build's status fields for inspiration:

https://github.com/knative

[2018-11-10 01:35] bobcatfish commented on #146
Since this is such a sad small Task, I'm going to just assign it to myself and do it XD

[2018-11-10 01:41] bobcatfish commented on #124
@shashwathi were you planning to take this one on (as well as #148 ?) i just noticed its still assigned to @dlorenc so im unassigning it

[2018-11-10 01:41] shashwathi commented on #228
[PR](https://github.com/knative/build-pipeline/pull/232) for recent build should be merged first to leverage `sources` in [PR](https://github.com/knative/build-pipeline/pull/234) for removing build spec.

[2018-11-10 01:48] bobcatfish opened #238 "Design Pipeline extensibility"
## Expected Behavior
We should have clear extension points in the Pipeline CRD system. These points should be well documented, clear, and tested.

Ideally it will be possible to extend the system without having to modify the existing controller binaries or CRD definitions.

## Actual Behavior
At the moment, if a user wanted to extend the Pipeline they have these options:

1. They want to create th

[2018-11-10 01:55] bobcatfish commented on #238
Here is one proposal, which I am unreasonably attached to:

Similar to how [consourse uses Resources as an extension point](https://concourse-ci.org/implementing-resources.html), we could also use `Resources` as an extension point.

1. We add a Resource controller, which only pays attention to Resource types it knows about and ignores the rest
2. When the Resource controller sees a Resource it kno

[2018-11-10 01:58] bobcatfish commented on #200
(p.s. wrote up #238 about extensibility via Resources)

[2018-11-10 02:19] bobcatfish commented on #200
@pivotal-nader-ziada I'm also leaning toward (4) now that we talk about it more

Do you have any thoughts on how we can improve this situation where we now have to talk about Resources in both the Pipeline (b/c we have to express order) AND the PipelineRun?

For example in the Pipeline:
[code]

And in the PipelineRun:
[code]

My gut reaction is to suggest that we kill two birds with one stone, and

[2018-11-10 02:58] abayer commented on #233
Hmm. Good question. As part of the Pipeline reference to the Task does feel logical when I think about it. The Task could be used in multiple Pipelines that may not always all want the constraint. Good catch, thanks!

[2018-11-10 19:13] #228 closed

[2018-11-10 19:47] shashwathi commented on #124
/assign @shashwathi
I think this needs to be addressed before #148 so let me take a stab at this issue first.

[2018-11-11 05:14] ImJasonH commented on #99
Ping. I noticed that https://testgrid-dot-knative-tests.appspot.com/knative-build-pipeline#coverage doesn't have any coverage data and found this issue. What do we have to do to get coverage data into TestGrid?

[2018-11-12 13:14] abayer commented on #238
Seems reasonable at first glance - I'm putting together some thoughts on extensibility based on some design work here (i.e., we're establishing what we want to be able to accomplish to do something like automatic quality gates on `Task`s), and will try to get that written up to figure out how that would fit in with this approach.

[2018-11-12 14:52] pivotal-nader-ziada commented on #200
The one issue I can think of regarding making `passedConstraint` on the task level is what if the one task has two inputs each one of them from a different previous task? I think the granularity of the passedConstraint on the resource makes building pipeline more powerful

but how about the following idea:
 * rename `passedConstraint` to `dependsOn`

pipeline
[code]
pipelineRun
[code]

not sure if

[2018-11-12 15:19] ImJasonH commented on #235
I think we should recommend minikube for local development/iteration of pipelines, and have good documentation to cover this use case.

`cloud-build-local` effectively packages GCB's custom container orchestration into a locally runnable binary, but if I could go back in time I'd prefer to use K8s' container orchestration rather than building a minimal bespoke one ourselves. (This repo hopefully m

[2018-11-12 16:44] #203 closed

[2018-11-12 20:01] pivotal-nader-ziada commented on #123
@dlorenc can you please close that? it's done as part of #232 and the PR in build https://github.com/knative/build/pull/451

[2018-11-12 20:08] dlorenc commented on #123
Closing as this was handled in build.

[2018-11-12 20:08] #123 closed

[2018-11-12 20:08] #64 closed

[2018-11-12 20:09] BenTheElder commented on #235
That would be _great_.

That's what I was thinking. Running a cluster is a little bit heavy, this is coming from someone working on another "light" local cluster ([sigs.k8s.io/kind](https://sigs.k8s.io/kind])).

Your minikube deployment won't look _quite_ like prod either. :upside_down_face:
On the other hand, getting your test / build tools / scripts running in a container and figuring out how to

[2018-11-13 03:21] pivotal-nader-ziada commented on #238
We will probably need to have a PVC anyways to share outputs from one taskRun (in a pod) with another taskRun in the same pipeline (in a different pod)

[2018-11-13 15:51] vdemeester commented on #236
To make sure I'm going in the right direction it's :
- Adding what is in `knative/build` BuildStatus type into `TaskRunStatus`
- Update how it gets populate (and populate the field the same way `knative/build` does)

am I missing sthg ?

[2018-11-14 08:50] cppforlife commented on #238
last time i was playing with azure's kubernetes service attaching volume to a node was taking ~2min whereas on gke it was only 10s. i think if persistent volumes are used then we should figure out how to deal with long attachment times (or how to avoid them entirely if that's possible).

[2018-11-14 14:09] tejal29 commented on #238
@pivotal-nader-ziada would downloading the output from a result store be a viable option ?

[2018-11-14 14:21] pivotal-nader-ziada commented on #238
@tejal29 you mean something like gcs or s3 for sharing artifacts between tasks? yes, this would be an option, but its one extra thing users have to setup and have ready. Based on @cppforlife comment and my own investigations, I want to avoid using PVC, but still investigating best options to discuss with everyone

[2018-11-14 16:31] abayer commented on #238
Something worth discussing - what exactly do we want the extensions to be able to do? Some things definitely map directly to `Resource`s - different SCM systems, different artifact storage, etc. But is that actually the only thing we want to be able to extend? For example, there's notifications (i.e., https://github.com/knative/build-pipeline/issues/49) - obviously, we can't hardcode in every noti

[2018-11-14 17:22] wtam2018 commented on #186
I'm interested in working on this issue.   How do I assign myself?   I don't seem to have permission.

[2018-11-14 17:24] vdemeester commented on #186
/assign @wtam2018
(If the bot complains, it's no big deal, people will know you're working on this one :wink:)

[2018-11-14 21:19] pivotal-nader-ziada commented on #238
I think of `resources` as the input and outputs of the task, so notifications can be expressed as output of the task. If we design the extension point with enough flexibility, the resource should be responsible for taking the result of the task and doing what it wants with it including sending it to slack for example.

[2018-11-15 14:33] pivotal-nader-ziada commented on #236
@vdemeester I think you are on the right track, did you get started on a PR yet?

[2018-11-15 14:36] vdemeester commented on #236
@pivotal-nader-ziada started to work on it, didn't want to open a PR until I have a tiny bit of sthg that make sense

[2018-11-15 14:41] abayer commented on #238
Ok, so in cases like notifications, we wouldn't be using PVC, right?

[2018-11-15 15:03] pivotal-nader-ziada commented on #238
Yes, we would not be using PVC for the notifications, we are trying to minimize any use of PVC in general for performance reasons

[2018-11-15 15:05] ImJasonH commented on #236
While you're moving fields from `BuildStatus` to `TaskRunStatus`, we can take the opportunity to remove warts from the API. Namely, we should drop `status.Builder` (since it's always `Cluster` today), and we should probably drop the `status.Cluster` struct and just move `status.Cluster.PodName` up to `status.PodName`.

While a `TaskRun` creates and watches a `Build` it should just update its field

[2018-11-15 15:09] vdemeester commented on #236
@ImJasonH ok :angel:

[2018-11-16 18:19] ImJasonH commented on #219
Done in #241

cc @adrcunha

[2018-11-16 18:44] pivotal-nader-ziada commented on #237
/assign pivotal-nader-ziada

[2018-11-16 19:22] adrcunha commented on #219
Now that the release script exists, we just need a Prow cron job to create nightlies.

[2018-11-16 19:59] bobcatfish commented on #219
Can I assign this one to you @ImJasonH ? :D

[2018-11-16 22:31] bobcatfish commented on #238
Another note re. using PVCs, I realized the design I proposed in https://github.com/knative/build-pipeline/issues/238#issuecomment-437549025 has a big flaw: if multiple Pipelines, or even Tasks within a Pipeline, try to use the same Resources as inputs, they'd be mounting in the same PVC, which seems like it either wouldn't work or would be asking for some terrible side effects.

Here's an updated

[2018-11-16 22:38] bobcatfish commented on #236
Thanks @vdemeester !! :heart:

[2018-11-16 23:13] bobcatfish commented on #186
Unfortunately we can only assign issues to ppl who are members of the knative repo, but we'll consider this issue assigned to you anyway!

I've created https://github.com/knative/build-pipeline/pull/242 to add some instructions to our CONTRIBUTING.md about what to do in this situation: basically if you add a comment expressing your intent to work on an issue, we'll consider it assigned to you.

Th

[2018-11-16 23:29] bobcatfish commented on #123
Amaaaaazing, thanks @shashwathi :D :D :D :tada:

[2018-11-16 23:33] bobcatfish commented on #99
afaik we didn't set anything up for testgrid at all, we probably need some guidance to get that going from @adrcunha and @steuhs

@ImJasonH what do you think if we resolve this issue and open another one about testgrid?

[2018-11-16 23:34] bobcatfish commented on #99
and by "we" @ImJasonH what im secretly hoping is that you would write up another issue :innocent:

[2018-11-16 23:39] bobcatfish commented on #233
@abayer do you see this as being a subtask of https://github.com/knative/build-pipeline/issues/27 or do you think this issue addresses separate concerns?

[2018-11-16 23:43] bobcatfish commented on #27
This is something that probably isn't clear in our current docs or plans, but you can see there is a hint of it in the fact that there is a `runs` section in the `results` configuration:

https://github.com/knative/build-pipeline/blob/4270f16403e90cfd9f900110f37a078736fdfd9c/examples/pipelineparams.yaml#L9-L12

The idea was that this is a location where we would persist a copy of all of the `Runs`

[2018-11-17 05:19] adrcunha commented on #99
There's an error in the repo that's causing coverage to fail. Latest daily coverage job failed with (note that the job succeeds even though the coverage failed):

https://prow.knative.dev/log?job=ci-knative-build-pipeline-go-coverage&id=1063597766501994499

(parsed the stacktrace manually)

[code]

Running `go test ./... -covermode=count -coverprofile /tmp/foo` from head works:

[code]

@steuhs is

[2018-11-19 19:03] bobcatfish commented on #200
@pivotal-nader-ziada + @shashwathi and I talked some of this through today and came to some conclusions:

- The `version` field would only let a user override some values in a Resource, not all of them, for example for a git resource you could change the commitish but not the repo (e.g. to point at a fork), and it's hard to say where to draw the line
- We like the idea of having a user create a ne

[2018-11-19 23:22] bobcatfish opened #246 "Docker compatibility"
This is an epic!

[2018-11-19 23:43] bobcatfish commented on #246
I accidentally created this is the wrong repo :sweat_smile: meant to make https://github.com/GoogleContainerTools/kaniko/issues/462

[2018-11-19 23:43] #246 closed

[2018-11-20 15:49] abayer commented on #233
@bobcatfish Feels different to me - #27 is "should this Task execute at all" while this is "*when* should this Task execute". But I could be wrong.

[2018-11-20 16:29] pivotal-nader-ziada commented on #227
@bobcatfish I think we need to have a release of `pipeline` first before we can a `release.yaml` in serving and try using it, wdyt

[2018-11-20 17:01] abayer commented on #27
@tejal29 @bobcatfish - might be worth taking a look at Jenkins X's PipelineActivity CRD - see https://jenkins-x.io/architecture/custom-resources/ and https://github.com/jenkins-x/jx/blob/master/pkg/apis/jenkins.io/v1/types_pipeline.go. @rawlingsj can speak more to it - I'm just starting to dig in.

[2018-11-20 17:03] abayer commented on #222
Now that I've spent a bit more time digging into the actual code - looks like this already exists for Task, via Build, so we'll just need to add the same thing to Pipeline, yes?

[2018-11-20 17:48] bobcatfish commented on #238
Relevant comment from @mattmoor  in slack:

[2018-11-20 18:18] bobcatfish commented on #34
Tentative plan discussed with @ImJasonH : as of version 0.3, we will consider the Task + TaskRun API somewhat solidified (as they are evolutions of the Build API), but consider the other APIs (i.e. Pipeline, PipelineRun, PipelineResource, PipelineParams) still a bit more in flux since we need to get more user feedback before we know if we've made solid choices.

[2018-11-20 18:20] bobcatfish commented on #108
In light of #147 and the fact that we'll be moving Build + BuildTemplate functionality over here, we may want to actually transplant the example test coverage as is from those repos.

[2018-11-20 18:29] bobcatfish commented on #168
The initial implementation of the DAG is available in https://github.com/knative/build-pipeline/blob/master/pkg/reconciler/v1alpha1/pipeline/resources/dag.go - the next step will be to update the Pipeline to actually use this.

[2018-11-20 18:48] bobcatfish commented on #213
I'm touching this code anyway and I can't help myself so I'll take this on

[2018-11-21 13:50] ImJasonH opened #249 "Execute a TaskRun without having to create a Task"
Related to #147

## Expected Behavior

As a former Build user, I should be able to create a single resource that executes requested steps and can be watched for updates.

## Actual Behavior

If I want to run some steps, I first have to define a `Task` that specifies those steps, then invoke it with a `TaskRun` that references that `Task`.

## Additional Info

One possible solution would be to have

[2018-11-21 13:56] ImJasonH opened #250 "Document migration from BuildTemplate+Build to Task+TaskRun"
Related to #147

As a former Build user, it should be straightforward for me to migrate BuildTemplates and Builds I had previously defined to match the new model for Pipelines.

In the new model, a `BuildTemplate` is roughly equivalent to a `Task` (stateless, parameterized resources which are invoked), and a `Build` is roughly equivalent to a `TaskRun` (the running invocation, with state).

There

[2018-11-21 14:00] ImJasonH opened #251 "Support cluster-scoped Tasks"
Related to #147

As a former Knative Build user, I'd like to be able to define a cluster-scoped `Task` the same way I was able to define a cluster-scoped `BuildTemplate`.

This is helpful for operators who want to provide and update a widely used and supported common set of tasks to namespaced users. Users might have permission via RBAC to define their own namespaced Tasks, but they might not.

Us

[2018-11-21 14:08] ImJasonH opened #252 "Break Pipelines' dependency on Build"
Today, when `TaskRun`s are created, they in turn create a `Build`, which creates a `Pod`. As the `Pod` executes, the `Build` status is updated, and in turn the `TaskRun`'s status is updated.

Instead of all of this indirection, creating a `TaskRun` should simply create and watch a `Pod`, and update its status as it goes along.

This is dependent on the work in #243 so that `TaskRunStatus` has all

[2018-11-21 16:52] adrcunha opened #253 "build-pipeline release deletes knative-releases images"
Proof:

https://storage.googleapis.com/knative-prow/logs/ci-knative-build-pipeline-release/1065160816732409857/build-log.txt

Root cause: https://github.com/knative/build-pipeline/blob/b28da6eccc8e055ac70f53df64d3d471de8c4c4e/test/e2e-tests.sh#L26

Path of doom:
1. release script sets KO_DOCKER_REPO to the release GCR
2. e2e tests run, DOCKER_REPO_OVERRIDE is set to KO_DOCKER_REPO no matter what.

[2018-11-21 17:24] abayer opened #254 "Add support for defining Task-wide environment variables"
## Expected Behavior

In some triggering systems (e.g. Jenkins X) a lot of contextual information is provided via environment variables, for example:

[code]

It should be possible to provide all of this information to a PipelineRun and all Tasks ( / TaskRuns) and all of their steps that are invoked by a triggering system that wants to provide this information.

## Actual Behavior

Environment var

[2018-11-21 18:18] abayer commented on #121
This has been vexing me lately as I try to write up and explain the Pipeline CRD model to others, particularly to anyone with a Jenkins background, since `PipelineParams` sure sounds like it's where you define parameters for a pipeline, but it's in fact just a narrow scope of parameter types, and not ones that change from run to run (unlike Jenkins' job parameters). So I'm a 👍 for `PipelineConfig`

[2018-11-21 19:19] pivotal-nader-ziada commented on #249
@ImJasonH @bobcatfish Its not clear what value `pipeline` gets from this feature. This makes us maintain `build` style of executing steps along with `Task`, `TaskRun` using the same code base which would lead to more complexity. Is it better to help users migrate their existing `builds` into `tasks` and ask them to run them using `TaskRun`? if we feel the concept of `TaskRun` is too much for one-o

[2018-11-21 19:46] pivotal-nader-ziada commented on #249
good point @ImJasonH, the more I think about it, the more I think Task + TaskRun for one off builds or simple building of an app might be a little too much for a lot of use cases.

[2018-11-21 20:40] abayer opened #259 "Allow passing individual files or sets of files as Task inputs/outputs"
## Expected Behavior

A file pattern can be given as an output for a `Task`, with the files in the workspace matching that pattern "archived" and able to be used as an input resource for another `Task`.

### Use case

Imagine building on Kubernetes, but not _targeting_ Kubernetes. Say we need to build an artifact (let's go with a war file for now), and then for whatever reason, we need to run test

[2018-11-21 20:49] pivotal-nader-ziada commented on #249
/assign @pivotal-nader-ziada

[2018-11-21 22:05] #253 closed

[2018-11-21 22:41] #237 closed

[2018-11-22 14:10] vdemeester commented on #254
We may want to support that for the pipeline too.

/kind design
/kind enhancement

[2018-11-22 14:35] nader-ziada opened #260 "Add image resource as an input resource"
## Expected Behavior
When I define an input resource of type image to my task, the taskRun (build) created should have this image as an input source and fetch it

## Actual Behavior
Currently the input source of image is not added to the build input source

## Additional Info
Should come after #200 is done

[2018-11-22 14:58] #236 closed

[2018-11-22 18:04] bobcatfish commented on #213
After looking at the code more closely, it turns out that the code _will_ make sure that there is a resource specified for the outputs, the missing bit is that the type won't be checked.

[2018-11-22 18:13] #139 closed

[2018-11-22 18:13] #200 closed

[2018-11-23 15:43] bkuschel opened #263 "Specify Params in Pipeline"
## Expected Behavior

We want to be able to provide Pipeline wide parameters which can be used in templating across Tasks.

For example, I should be able to create something like this (spec for params can be different!)

[code]

## Actual Behavior

PipelineRun only accepts Resources, not parameters. We can specify templating within a Pipeline, but it only references Resources within the Task that

[2018-11-27 00:32] bobcatfish opened #267 "[Epic] Dogfood Pipeline"
This epic is about using the Pipeline project to test the Pipeline project (so that we can be our own customers and feel their pain :D).

# Expected behavior

The Pipeline project should be tested using the Pipeline project itself, e.g. all testing, building, releasing should be done via Pipelines + Tasks.

# Current behavior

The Pipeline project is tested, built and released using Prow jobs whic

[2018-11-27 00:48] bobcatfish commented on #254
hm i wonder what we need to set up to get that to work - ill add the label manually for now :thinking:

[2018-11-27 01:01] bobcatfish commented on #263
Hey @bkuschel ! Thanks for opening this issue :D

I think we may have this functionality already, though let me know if this isn't what you're looking for.

You could have a helm task like this:

[code]

Then you could use templating in the Pipeline to provide the value of the namespace parameter:
[code]
(From #64)

But you can only use inputs and outputs from the Task in the templating - I'm thin

[2018-11-27 01:04] bobcatfish commented on #263
(Note: if we do want a "pipeline wide variable" I'm thinking that evolving `PipelineParams` like you suggested in slack is probably the way to go @bkuschel !)

[2018-11-27 01:05] bobcatfish commented on #254
@vdemeester looks like @bkuschel 's request in #263 will take care of that!

[2018-11-27 01:06] bobcatfish commented on #254
@abayer would it be possible to add a use case to this?

[2018-11-27 01:08] bobcatfish commented on #259
@abayer would you expect any files in the container to be fair game, or only those that are mounted at `/workspace` as resources?

Is it possible to add a use case to demonstrate when we'd see this in action?

[2018-11-27 01:14] bobcatfish commented on #260
@pivotal-nader-ziada if you define an image as an input, would the contents of the image end up mounted somewhere? or would it actually be expected to be started and running? or something else?

[2018-11-27 01:14] ImJasonH opened #268 "TestGetRemoteEntrypoint makes real HTTP requests"
## Expected Behavior

I can run Go tests without a connection to the internet.

## Actual Behavior

`TestGetRemoteEntrypoint` panics because the registry can't be found, and the error doesn't result in a `t.Fatal`

## Steps to Reproduce the Problem

  1. Disconnect wifi
  2. `go test ./...`

## Additional Info

This test would also fail if the Kaniko image changed its entrypoint.

Unit tests shoul

[2018-11-27 01:55] abayer commented on #267
Fwiw, we’re planning to work on getting Prow to support running Pipelines some time in the not too distant future. Cc @rawlingsj

[2018-11-27 01:55] abayer commented on #254
I’ll come up with something concrete tomorrow.

[2018-11-27 01:56] abayer commented on #259
I’d say only those under `/workspace` would be reasonable. Will get the use case up tomorrow!

[2018-11-27 03:39] rawlingsj commented on #267
Absolutely, we'd love to help in any way we can.  Right now Jenkins X builds Jenkins X with Jenkins X, using prow and Knative Build.  We're looking to switch to Pipeline as soon as we can so definitely would like to help / contribute to this.

[2018-11-27 10:41] vdemeester commented on #268
/assign

[2018-11-27 13:04] abayer commented on #254
Ok, here's an attempt at a use case:

A Pipeline is managed and run by a higher level tool (let's say Jenkins X in this example), in response to GitHub pull requests being opened. Various steps and Tasks within that Pipeline need to have some environment variables made available that will provide GitHub-specific information that can be used in the steps and Tasks to control or modify behavior. A c

[2018-11-27 14:17] abayer commented on #259
And a use case:

Imagine building on Kubernetes, but not *targeting* Kubernetes. Say we need to build an artifact (let's go with a war file for now), and then for whatever reason, we need to run tests of that war file on different Linux distributions, but we *have* to use the exact same artifact we built, rather than rebuilding again. Silly, yeah, but this is a contrived example. =) We only need t

[2018-11-27 14:19] abayer commented on #263
Yeah, I know my first example in #254 was based on the idea of Pipeline parameters that can be referenced by all the Tasks contained in the Pipeline, so we don't have to duplicate setting Task parameters multiple times.

[2018-11-27 14:22] pivotal-nader-ziada commented on #260
I was expecting it to be available in the container for the task steps to use somehow

[2018-11-27 15:01] abayer commented on #212
@tanner-bruce - just checking if you're still going to open that PR - I'm trying to find a small chunk of work to use as my first code contribution and wanna make sure this isn't a good option. =)

[2018-11-27 15:15] vdemeester commented on #222
/assign @abayer

[2018-11-27 15:16] vdemeester commented on #207
/assign

[2018-11-27 15:41] abayer commented on #222
So from discussion in Slack, it feels like the first step is a more general "cancel this running PipelineRun" mechanism, which would be utilized both for timing out the PipelineRun and for manually canceling a running PipelineRun without deleting the PipelineRun/TaskRun/etc.

This would probably entail a new `Canceled` (or `Cancelled`, I ain't gonna get into US/UK spelling religious wars here!) st

[2018-11-27 15:43] abayer commented on #222
Oh, and that all implicitly requires changes in Build's reconciler - which raises the question of whether to worry about doing that now or just waiting until Build has been folded into here.

[2018-11-27 16:17] #268 closed

[2018-11-27 16:21] vdemeester commented on #222
Yes, I'm pretty sure we already do sthg along those lines in `knative/build`.

So, I think the `pipelinerun` controller should update all already created taskrun status to `cancelled` (except the one already cancelled). Then the `taskrun` controller can act on that (and thus not schedule anything if a taskrun has cancelled status). But yeah, I think the timeout check should be one of the first che

[2018-11-27 17:39] abayer commented on #222
Ok, I've only barely looked at `knative/build`'s code, so I'm a bit wary of making changes there myself. =)

I think we would want to only update the status to `Canceled` on `TaskRun`s that have not already completed - it's still worthwhile to be able to distinguish "this task ran to completion and succeeded/failed" from "this task started and then was canceled before completing".

[2018-11-27 23:33] bobcatfish commented on #222
I'd like to plug having two separate Reasons here:

1. `Canceled` for being manually interrupted
2. `Timeout` for having timed out

Seems worthwhile to be able to tell which was the cause.

I don't think we should be expecting users to modify anything in the `status` section (see [these docs on k8s api statuses](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions

[2018-11-27 23:35] bobcatfish commented on #268
That was amazing turnaround time @vdemeester XD!!!

[2018-11-27 23:50] bobcatfish commented on #263
Cool, sounds good to me! Anyone have any other ideas besides extending `PipelineParams` to contain arbitrary key/values? (might tie in well with #121!!)

[2018-11-27 23:50] bobcatfish commented on #121
@abayer looks like in #263 we _might_ actually define arbitrary pipeline parameters too :O

`PipelineConfig` still seems like a better name tho :thinking:

[2018-11-27 23:51] bobcatfish commented on #263
Another idea would be to have a field in the `Pipeline` itself (I guess we don't have to use `PipelineParams` just because it exists XD)

[2018-11-28 15:32] abayer commented on #222
/assign @abayer

[2018-11-28 15:35] abayer commented on #222
@vdemeester - yeah, it sounds reasonable to split into two issues. We can do the hackish approach for cancelling Builds when the PipelineRun times out for now (i.e., modifying the Build CRD instance on the fly to force it to timeout), and then add true cancellation support to Build as part of the Pipeline/PipelineRun cancellation work. Once real cancellation for Builds is in place, we can then swi

[2018-11-28 15:38] abayer opened #272 "Add the ability to cancel/abort a running PipelineRun without deleting the PipelineRun itself."
## Expected Behavior

A user can cancel or abort a PipelineRun, causing all TaskRuns (and their associated Builds) within the PipelineRun to also cancel/abort, while preserving the PipelineRun and associated TaskRuns/Builds for reporting purposes.

## Actual Behavior

PipelineRuns can only be canceled by deleting the CRD, eliminating any record of the canceled run.

## Additional Info

This will r

[2018-11-28 18:23] pivotal-nader-ziada commented on #251
/assign

[2018-11-28 19:55] bobcatfish opened #273 "Gracefully handle Task Step name that can't be used as Pod name"
## Expected Behavior
If you create a Task with a step that has a name which cannot be used for some reason, you should either be:

* Told immediately (via webhook) that it is invalid
* Something should be done to make the name usable

## Actual Behavior
If you create a step with a name that cannot be used as a pod name, the underlying TaskRun/Build will start executing, and only fail when finally

[2018-11-28 22:17] shashwathi commented on #273
/assign

[2018-11-29 01:52] bobcatfish commented on #238
Okay so I'm feeling pretty good about this plan, what do folks think:

For both `PipelineResources` and `Tasks` we allow extensiblilty by using duck typing, i.e. defining an interface which they must each comply with.

1. For `PipelineResources`, we'll define controllers that know what types of `Resources` they can handle.
2. For `Tasks`, we already provide a generic `TaskRun` controller, the key

[2018-11-29 02:07] bobcatfish opened #278 "Gracefully handle non-existent service account"
## Expected Behavior
If a user specifies a serviceAccount in `PipelineParams` that doesn't exist, and they try to use that `PipelineParams` with `PipelineRun`, they should be given an error and the `PipelineRun` should not execute.

(Since we currently only lookup referenced objects in the controller, I'm guessing we do this check at runtime as well - in a later issue we may want to look at moving

[2018-11-29 14:01] #273 closed

[2018-11-29 15:02] nader-ziada opened #279 "feature request: snapshot pipeline data in pipelineRun for historical and repeatability purposes"
## Expected Behavior
When a PipelineRun is created and it expands the pipeline reference, it should include the complete copy of the pipeline yaml so that if the pipeline changes, a user can tell which actual pipeline the results came from.

## Actual Behavior
No information is about the Pipeline is added in the PipelineRun

## Steps to Reproduce the Problem

  1. kubectl get "your-pipeline-run" -

[2018-11-29 17:38] bobcatfish commented on #279
@pivotal-nader-ziada would this include also caching this `Pipeline` and using it in future reconcile loops? @tanner-bruce @mattmoor and @dwnusbaum were discussing this a bit in the slack chat, about wanting to make sure that changing a `Pipeline` midway through a run shouldn't affect runs in progress

(no worries if it makes more sense to tackle that separately)

Also @mattmoor 's suggestion abou

[2018-11-29 19:54] pivotal-nader-ziada commented on #279
you mean creating a new version of the pipeline every time its changed? might be too much versions and we then the pipelineRun needs to have the ability to select which version to use if not latest.

To clarify, yes, I would expect the PipelineRun to make a copy of the Pipeline and use that in any reconcile until this run is finished.

[2018-11-30 08:19] vdemeester commented on #278
/assign

With knative/build#480 it should now report the error in the status. If we update our dependency to `knative/build`, `TaskRunStatus` should now get the correct status, and fix the rest… I'll be on it :wink:

[2018-11-30 15:11] dwnusbaum commented on #279
I think that having the ability to select the version of a Pipeline/Task to run could be useful in some cases. For example, if you have a Task that is used in a few Pipelines, and you want to update it, you will probably want to test your updates on a single Pipeline to make sure it works before you force all Pipelines to use the new version of the Task for new builds. You can always do this with

[2018-11-30 15:39] mattmoor commented on #279
Note that `corev1.ObjectReference` can support `ResourceVersion`: https://godoc.org/k8s.io/api/core/v1#ObjectReference

[2018-11-30 17:39] #278 closed

[2018-11-30 17:55] bobcatfish commented on #279
I think what we'd do is create a new version of the Pipeline when a PipelineRun is triggered, so something like:

1. User creates PipelineRun which uses Pipeline xyz
2. We create a 'Revision'/snapshot of Pipeline xyz, which the PipelineRun references
3. As the `PipelineRun` executes, it references the revision/snapshot of Pipeline xyz, meaning that if Pipeline xyz changes, those changes won't be p

[2018-11-30 18:04] bobcatfish commented on #121
/assign @pivotal-nader-ziada

[2018-11-30 18:16] bobcatfish commented on #124
I think this is done thanks to #270 @shashwathi or is there more to do? I think there were some TODOs about images in #270 but we could leave those for #216 if we wanted

[2018-11-30 18:20] bobcatfish commented on #263
In #282 we are getting rid of `PipelineParams` (as we know it) so adding these global vars to `Pipelines` probably makes the most sense atm :D

[2018-11-30 18:34] bobcatfish commented on #263
@bkuschel I updated the description pretty significantly, let me know (or update it!) if this no longer expresses what you're looking for

[2018-11-30 18:42] bobcatfish commented on #260
I am tempted to hold off on doing this until we have some clear use cases where we want images to work as an input :thinking:

Or we could go ahead and assume that this means we want the content of the image mounted into `workspace`?

(At the moment, esp. with how #224 is going, it will be almost impossible to run an image built in a previous step :S)

[2018-11-30 18:45] bobcatfish commented on #260
Scratch that, I got confused, #224 is about steps within a Task, we could probably still have a future Task use an image built by a previous Task

[2018-11-30 18:52] bobcatfish commented on #267
So cool @abayer + @rawlingsj sounds super exciting!!! :tada:

[2018-11-30 19:01] #89 closed

[2018-11-30 21:25] bobcatfish opened #289 "TestHelmDeployPipelineRun is Flakey"
## Expected Behavior

End to end tests should not ideally only fail due to bugs, or more realistically, < 0.1% of the time (once we have [testgrid working](https://testgrid.corp.google.com/knative-build-pipeline#Summary) we'll know the exact % we are at).

## Actual Behavior

The test `TestHelmDeployPipelineRun` (which is basically our most complex end to end test) has been flakey in some recent P

[2018-11-30 21:29] bobcatfish commented on #146
Note `Runs` and `Tests` were removed in #282

[2018-11-30 21:34] #121 closed

[2018-11-30 22:29] pivotal-nader-ziada commented on #260
I agree this can wait for a future milestone

[2018-12-01 00:20] bobcatfish commented on #289
A bunch more instances on #288 [logs](https://gubernator.knative.dev/builds/knative-prow/pr-logs/pull/knative_build-pipeline/288/pull-knative-build-pipeline-integration-tests/) (or maybe something new has gone wrong??)

Also looks like this error message could use some love:

[code]

[2018-12-02 20:45] solsson commented on #216
Maybe this belongs in #124, but it's specific to images. I'd like to offer two design ideas based on Source-to-URL use cases:

 * It's unclear to me if ImageResource's `URL` property should include tag or not. I assume it can, but my suggestion is to add an optional `Tag` property and validate that URL does not contain a `:`. Otherwise the ambiguity will probably lead to variations among Tasks, wi

[2018-12-03 17:05] abayer commented on #279
Playing into this, I just asked a question in slack:

As I said, I could be misreading how this actually works at the moment, but it sure feels like adding a `Task` to a `Pipeline` after an associated `PipelineRun` (ok, and maybe some other actions to create/associate a `TaskRun` etc too, not sure) thinks it has completed could lead to it picking back up again.

[2018-12-03 18:45] bobcatfish opened #297 "Do not allow extra fields when validating CRDs"
## Expected Behavior

If I typo a field in an optional field in a CRD (i.e. provide an extra field), the validation webhook (or worst case, runtime check) should tell me the CRD is invalid.

## Actual Behavior

"Extra" fields are ignored, for example in the demo pipeline, there was a bug where one of the instances of `inputSourceBindings` was not renamed to `resources`:

https://github.com/knative

[2018-12-03 19:05] bobcatfish opened #299 "Once a Run finishes, it should never be invoked again"
## Expected Behavior

Once a `PipelineRun` or `TaskRun` completes, it should never be invoked again. It should be considered completed (i.e. it's a one-off).

## Actual Behavior

You can trigger a re-reconciliation of an existing `PipelineRun` or `TaskRun` by changing them or by changing any resources that were created by their reconcilers.

* A `PipelineRun` will create a `TaskRun`, so changing e

[2018-12-03 19:06] bobcatfish commented on #279
In the current behaviour this wouldn't happen (i dont think) b/c what triggers the reconcile to occur is:
* If the PipelineRun itself changes
* If any resources created by the PipelineRun change (e.g. TaskRuns)

(Created https://github.com/knative/build-pipeline/issues/299 to look into this further)

[2018-12-03 19:08] abayer commented on #299
So yeah, this plays into #279 pretty clearly, but I think it also has relevance in #222 and to an underlying matter - we don't have a way to casually look at a `PipelineRun` and see that it's "done". I'm trying to get familiar enough with how status works here and over in Build (where they do have `isDone`) to see if I can come up with a solution.

[2018-12-03 19:16] bobcatfish commented on #299
Note that while we can add conditions to the status, we probably have to keep the existing one as-is due to [the duck typing contract](https://docs.google.com/document/d/16j8C91jML4fQRQPhnHihNJUJDcbvW0RM1YAX2REHgyY/edit).

But whatever works for `Build` should work here! :D

Can I assign this one to you @abayer ?

[2018-12-03 19:19] abayer commented on #299
Yup! Hopefully I'll make some progress before Kubecon. =)

[2018-12-03 19:45] bobcatfish commented on #299
awwwwesoooome

thanks @abayer !

[2018-12-04 00:01] bobcatfish commented on #124
That sounds great to me @shashwathi ! :D :tada:

[2018-12-04 00:57] bobcatfish opened #301 "Migrate issues from knative/build"
## Expected Behavior
If we want folks to migrate from `Build` to `Task`, we should support all of the same features that `Build` does. This means that issues opened with `knative/build` will now be relevant to `knative/build-pipeline`. We should:

* Triage and migrate the issues from that repo
* Update the issue template in `knative/build` to indicate issues should be opened in `knative/build-pipe

[2018-12-04 01:01] bobcatfish opened #302 "End to end test migration from build"
## Expected Behavior

If we move the functionality offered by `knative/build` over to this repo, we should also have the same test coverage for it over here. This means migrating all of the existing end to end tests from `knative/build` over to this repo (the migration guide we'll be creating in #250 should be useful!).

## Actual Behavior

Tests only exist in `knative/build` (yaml tests, end to e

[2018-12-04 01:04] bobcatfish opened #303 "Migration of BuildTemplate examples to Tasks"
## Expected Behavior
The `BuildTemplates` in the example repo should be migrated to Tasks (using the guide from #250) and the resulting Task library should be in this repo

* Issues should be migrated over here
* Pull request + issue templates should be updated to point folks over here
* Test coverage should be the same as it in the Build template repo or better (we should at least know that the y

[2018-12-04 01:07] shashwathi commented on #124
Yes I do. A resource can be declared one of these ways

**output only**
  - If a resource is only declared in output then steps will be added to build to alter resource externally (like upload artifact to gcs, push image). It did not make sense to trigger copy to PVC in this case because output the last thing that happens in task so resource wont be altered between tasks form task1.output to task2

[2018-12-04 01:08] #138 closed

[2018-12-04 01:08] #146 closed

[2018-12-04 01:14] bobcatfish opened #304 "Update `knative/docs` with build-pipeline docs"
## Expected Behavior
In version 0.3 of `knative`, we'd like to release `build-pipeline`, which means that the docs repo docs on Build (https://github.com/knative/docs/tree/master/build) should talk about `build-pipeline`.

I propose that we do this:
* Add all of the markdown files at https://github.com/knative/docs/tree/master/build to this repo
* Update those docs to have the corresponding info i

[2018-12-04 01:19] shashwathi commented on #124
In this e2e test I considered [pipelinerun task resources](https://github.com/knative/build-pipeline/blob/master/test/pipelinerun_test.go#L413) inputs and output to form construct taskrun inputs and outputs.
You raise a good point though if task does not declare outputs then taskrun validation should have failed. This could be a bug or needs some update in design.

[2018-12-04 01:53] #213 closed

[2018-12-04 10:39] vdemeester opened #305 "ServiceAccount of task are always overriden by TaskRun"
## Expected Behavior

Given a Task that uses a `serviceAccount` and a `TaskRun` that doesn't, the `BuildSpec` will contains no serviceaccount (and thus uses the default one). The `TaskRun` *always* override the serviceAccount defined in the `Task`

## Actual Behavior

Given a Task that uses a `serviceAccount` and a `TaskRun` that doesn't, the `BuildSpec` should contains the `Task` serviceAccount i

[2018-12-04 10:41] vdemeester commented on #305
Discovered that while working on a follow-up for https://github.com/knative/build-pipeline/pull/285 (adding tests on it)

[2018-12-04 22:51] bobcatfish commented on #124
I'm actually playing around with some of this right now (I'm using input + output linking to make an e2e test for #168) so I could add some validation here!

[2018-12-04 23:01] #305 closed

[2018-12-05 15:22] vdemeester commented on #304
@bobcatfish @ImJasonH for the time being, shouldn't we have both docs (`build` and `build-pipeline`) side by side ?

[2018-12-05 17:19] hoegaarden commented on #297
For this to be fixed we'd need [pruning](https://github.com/kubernetes/enhancements/issues/575) to be enabled in kubernetes -- it is [not implemented yet](https://github.com/kubernetes/enhancements/issues/575#issuecomment-430523018).
This needs to be implemented in the APIServer, when our code is invoked we do not have access to those additional fields.

[2018-12-05 19:10] bobcatfish opened #313 "Add ability to embed Resource declaration also when embedding Tasks in TaskRuns"
## Expected Behavior

In #262 @pivotal-nader-ziada made it possible to embed a Task Spec into a `TaskRun` - this way you can create a `TaskRun` without needing to create a `Task` first - the goals here are:

1. Make it easy to migrate from knative/build to Task/TaskRun
2. Support the use case where `Builds` are embedded into specs in knative/serving and are self contained

It should be possbile to

[2018-12-05 23:44] pivotal-nader-ziada commented on #108
/assign

[2018-12-06 16:09] #251 closed

[2018-12-06 20:02] bobcatfish opened #315 "Design for triggering PipelineRuns from events"
## Expected Behavior

We need to be able to trigger the creation of `PipelineRuns` from events, e.g. from knative/eventing events.

~This is a placeholder issue we can use to gather requirements + ideas, which we can [synthesize in this doc](https://docs.google.com/document/d/1vxFEovcLxDbypYMTAS1r6t8KCL4ltGmck266tbS1mTw/edit#)  (_note doc editable by members of [knative-dev@googlegroups.com](https

[2018-12-07 14:03] pivotal-nader-ziada commented on #22
/assign

[2018-12-07 14:53] #299 closed

[2018-12-07 19:09] bobcatfish commented on #305
Thanks for writing this up _AND_ fixing it @vdemeester :D

[2018-12-07 19:11] bobcatfish commented on #304
Good question!

I think it depends on where we land with [the build task migration milestone](https://github.com/knative/build-pipeline/milestone/4) before the 0.3 release: If we're in a place where we feel confident asking folks to officially move from Build -> Task in that release, I think it could make sense to remove the Build docs entirely. (Or maybe in that case we should move the Build docs

[2018-12-07 19:14] bobcatfish commented on #297
Thanks for the links @hoegaarden !!

Question about [pruning](https://github.com/kubernetes/enhancements/issues/575) @hoegaarden  - if we prune away the extra fields, does that imply we're ignoring them? I think we definitely want to tell the user they provided some incorrect fields?

In the meantime, maybe we could create our own hacky sort of solution, e.g. inspect the fields somehow before or a

[2018-12-08 01:29] bobcatfish opened #320 "Reduce PipelineResource bindings"
## Expected Behavior

Users should be able to effectively say something like this in a `PipelineRun`:

## Actual Behavior

The current reality is that users have to provide theses values repeatedly, more like:

For example in this PipelineRun, we provide bindings for build-skaffold-web’s workspace and builtImage PipelineResources, and for deploy-web’s workspace and image PipelineResources.

[code]

[2018-12-08 01:31] bobcatfish commented on #320
[This doc has some proposed solutions](https://docs.google.com/document/d/1RMnn_se_r29gVJ7ChLT_6oRhNeBnD7dfBg5vPUaVkbc)(_note doc visible to members of [knative-dev@googlegroups.com](https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md#build)_)

I'm currently leaning toward alternative #1, but it means significantly changing `providedBy` (second place to the "proposal" itself).

[2018-12-10 07:56] vdemeester commented on #304
Yeah I would definitely keep them around for a small while (with some sort of "warning new work is happening on pipeline) to make sure current content about knative (build) still exists somewhere (aka links to the docs repository targeting build, etc.)

[2018-12-10 19:33] #108 closed

[2018-12-11 11:12] bkuschel opened #323 "PipelineResource for S3 buckets (for IBM COS, AWS S3, Minio ...)"
## Expected Behavior
Ability to use S3 for object storage as PipelineResources types

## Actual Behavior
https://github.com/knative/build-pipeline/pull/321 exists for GCS but does not support S3

## Additional Info
In multi-zone clusters, PVCs can be difficult and sometimes its prefered to transfer artifacts between tasks in a pipeline using other types of storage.

[2018-12-12 16:18] bkuschel commented on #263
yes, pipeline is good but I was thinking of being able to provide this through PipelineRun as well.  Here's the specific scenario..

1. I create a common pipeline with tasks for the basic logic of deploying some composition of microservices that constitutes some app that is be to deployed to several environments (ie. clusters/namespaces). Environments are distinct in terms of back-end connections,

[2018-12-14 16:59] imjasonh opened #332 "Entrypoint cache should expire items"
When we lookup entrypoints for remote images, we cache it for later lookups. Items are never removed from the cache, so if the controller runs for long enough and sees enough unique builder images, it will consume more and more memory. This could present a risk of DoS, since a malicious user can craft valid build requests that fill the cache, especially with large values for entrypoints.

We shoul

[2018-12-14 17:03] ImJasonH opened #333 "Entrypoint cache should cache by digest"
When we lookup entrypoints for remote images, we cache it for later lookups. But, we cache by the _requested_ image name, and not the resolved image by digest.

So if a user changes the entrypoint to an image without changing its tag, the new entrypoint might not get picked up since it will already have been cached. Instead, we should always resolve the image tag to its digest, then lookup in the

[2018-12-16 14:52] bobcatfish commented on #219
Hey @adrcunha , anything left to do here? If not, where can we see the releases?

[2018-12-16 14:53] bobcatfish commented on #224
PR in build repo: https://github.com/knative/build/pull/470

[2018-12-17 17:12] adrcunha commented on #219
Nightly releases were re-enabled on 12/5. You can track them here:

https://testgrid.knative.dev/knative-build-pipeline#release

Nightly releases are published to:

gs://knative-nightly/build-pipeline/latest/release.yaml

and

gs://knative-nightly/build-pipeline/previous/<vYYYYMMDD-commithash>/release.yaml

Images are published to

gcr.io/knative-nightly/github.com/knative/build-pipeline/...

And

[2018-12-17 17:12] #219 closed

[2018-12-19 15:36] vdemeester commented on #272
/assign

[2018-12-19 16:30] abayer commented on #272
woo! I've been working on #222 off and on over the last week, and got stuck on figuring out how to cancel/abort a `TaskRun` (and associated `Build`) in the first place, so I'll be watching this closely. =)

[2018-12-19 16:33] vdemeester commented on #272
@abayer ah :upside_down_face: well, let's see if I'm hitting a wall too or not :angel: :stuck_out_tongue_closed_eyes:

[2018-12-19 16:36] abayer commented on #272
Well, at least then I wouldn't be the only one hitting a wall on this. =)

[2018-12-26 11:33] mathspanda opened #351 "Apply TaskRun CR without TaskRef field will panic in webhook"
## Actual Behavior
Apply TaskRun CR without TaskRef field will panic in webhook.

## Steps to Reproduce the Problem
kubectl apply a TaskRun CR without taskRef field like:
[code]

The logs in webhook are:
[code]

## Additional Info

/kind bug

[2018-12-28 13:00] mgreau opened #356 "Nightly releases not published since 12/18/2018"
## Expected Behavior

Each day a `release.yaml` is published to https://console.cloud.google.com/storage/browser/knative-nightly/build-pipeline/latest and the Images are published to
https://console.cloud.google.com/gcr/images/knative-nightly/GLOBAL/github.com/knative/build-pipeline

## Actual Behavior

The latest `release.yaml` file and images have been published 10 days ago on **12/18/18, 9:58:5

[2018-12-29 19:02] adrcunha commented on #356
There is another issue preventing the nightly builds:

[code]

This should be fixed by #358.

[2018-12-29 19:08] adrcunha commented on #356
#359 takes care of the account service issue.

[2018-12-30 15:51] #351 closed

[2019-01-02 01:48] adrcunha opened #361 "Nightly releases are published even if E2E tests fail"
e.g. https://storage.googleapis.com/knative-prow/logs/ci-knative-build-pipeline-nightly-release/1080018717502345217/build-log.txt

E2E tests are not propagating the return code correctly. In the log above, the sequence is:

[code]

go tests failed, YAML tests passed. The teardown correcty shows that tests failed, but the test result is 0. Looks like the YAML tests overrode the test result.

[2019-01-03 16:28] dprotaso opened #364 "Make use of CRD status subresource"
See: https://github.com/knative/build/pull/516

This will allow us to drop the webhook generation logic in `knative/pkg` in future releases

For context [here's a comment](https://github.com/knative/serving/issues/643#issuecomment-450905774) about the migration path to drop this webhook logic in `knative/serving`

[2019-01-04 00:16] bobcatfish commented on #320
Thanks for all the input on the doc! So right now it's looking like [alternative #1.b](https://docs.google.com/document/d/1RMnn_se_r29gVJ7ChLT_6oRhNeBnD7dfBg5vPUaVkbc/edit#heading=h.9p40gvk8rxtb) is the way to go.

The distinct changes that will be required:

- Adding a `resources` section to the `Pipeline` spec, which will be the values we bind to in `PipelineRun`
- Changing `providedBy` to `from

[2019-01-08 16:30] bobcatfish commented on #364
lol just realized you already opened a PR @dprotaso :woman_facepalming: i'll move this feedback over there, it'd be great to see more detail in the commit messages there

[2019-01-08 16:40] bobcatfish opened #368 "E2E tests broken at head due to broken rename in #366"
## Expected Behavior
E2E tests should pass at head.

## Actual Behavior
E2E tests fail at head (e.g. in #367) due to changes in #366 - and even in that PR you can see that the integration tests actually failed with:

[code]

Though the github hook reported success (maybe related to #361?). As of #367 the pre merge hook seems to actually be reporting failure correctly - OR something else is failing

[2019-01-08 16:51] bobcatfish commented on #361
I think that this was (is?) resulting in pre-merge checks not catching end to end test failures as well (#368) so we really need to get this fixed asap @adrcunha  (unless it's fixed already!)

[2019-01-08 16:59] bobcatfish commented on #220
Thanks to @shashwathi 's ahrd work I think we can call this done!!

[2019-01-08 16:59] #220 closed

[2019-01-08 16:59] bobcatfish commented on #220
:tada:

[2019-01-08 17:06] adrcunha commented on #361
@bobcatfish  #370 will fix this and #368, please review at your earliest convenience.

[2019-01-09 01:20] bobcatfish opened #372 "Using parallel option with `gsutil` image causes errors to make Tasks hang"
## Expected Behavior
If you try to use [the gcs storage resource](https://github.com/knative/build-pipeline/blob/master/docs/using.md#gcs-storage-resource) and `gsutil` (used for uploading) encounters an error, the `Task` using the output should fail with a meaningful error.

## Actual Behavior

Using `-m` (which runs `gsutil` command in parallel) with gsutil inside a container causes `gsutil` to

[2019-01-09 16:06] dgageot commented on #297
@bobcatfish I have a prototype that uses the content of the `kubectl.kubernetes.io/last-applied-configuration` annotation.

This is basically the json form of the resource that the kubctl cli puts here.
We search this json for extra fields.

wdyt?

[2019-01-09 16:11] mgreau commented on #372
I'm using the Knative Build Pipeline nightly release published on `1/5/19, 9:50:17 AM UTC+1`  and this version uses a container with `gsutil version: 4.34`.

Looking at the [bugs fixed in the latest `gsutil` release](https://github.com/GoogleCloudPlatform/gsutil/blob/d76b30e218fd0daa2c4fbafc26cdc64d3d82048a/CHANGES.md#bug-fixes) (**Release 4.35 - release date: 2018-12-18**), it seems this problem

[2019-01-09 17:56] bobcatfish commented on #313
(Build functionality needs specifically GCS + Git Resource types)

Can make sense to work on alongside migrating yaml tests (#302)

[2019-01-09 18:36] adrcunha opened #375 "TestPipelineRun/fan-in_and_fan-out is broken"
The test is timing out after 10 minutes:

[code]

This *seems* to occur only when running on Prow.

Sample log:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-pipeline/370/pull-knative-build-pipeline-integration-tests/1083012932113010688/

[2019-01-09 18:40] adrcunha opened #376 "yaml tests are broken"
The taskruns and pipelineruns yaml tests are failing with:

[code]

This *seems* to occur only when running on Prow.

Sample log:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-pipeline/370/pull-knative-build-pipeline-integration-tests/1083012932113010688/

[2019-01-09 19:05] #361 closed

[2019-01-09 19:05] #368 closed

[2019-01-09 19:17] bobcatfish commented on #375
@adrcunha can you point as at or give us some details on what the clusters look like that these tests run against?

Seems like we're going to have to tackle this by either:
1. trying to make our own clusters as similar as possible or
2. keep fiddling with this test in a PR and try to get more info about what's going on

[2019-01-09 19:18] bobcatfish commented on #375
This looks like an ominous error log:

[code]

[2019-01-09 19:39] bobcatfish commented on #375
I think it could be interesting to figure out when this started happening. Timeline:

1. Test was added Nov 29 https://github.com/knative/build-pipeline/pull/270

Last pass:
2. Test passed on Dec 20 https://github.com/knative/build-pipeline/pull/343, in logs:
[code]

First failure (only doc changes b/w these 2 from what I can see, so it looks like integration tests were not run):
3. Test failed on

[2019-01-09 19:56] bobcatfish commented on #375
Hm I don't think that timeline is quite correct (stuff is missing), the "closed" PR order doesn't seem to be working for this, gonna try again looking at commits directly.

[2019-01-09 20:04] bobcatfish commented on #375
Okay looking at the commits in order (https://github.com/knative/build-pipeline/commits/master) (assuming this is the right order) the first commit to fail is https://github.com/knative/build-pipeline/commit/5f28380ac16724d159b6694e76836c5076f8db4b

Logs (started at 2018-12-30 01:29 PST):
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-pipeline/359/pull-knative-build-p

[2019-01-09 22:56] bobcatfish commented on #375
oooo i think i reproduced this locally by switching from region us-central-1a to zone us-central-1 (which happened in https://github.com/knative/build-pipeline/commit/5f28380ac16724d159b6694e76836c5076f8db4b via https://github.com/knative/test-infra/pull/297

The pod status:
[code]

The taskrun status (looks like the same error when i repro-ed in https://github.com/knative/build-pipeline/pull/377#

[2019-01-10 01:50] bobcatfish commented on #375
Okay so I'm pretty sure I understand what's going on now. The test started failing because in https://github.com/knative/test-infra/pull/297 we switched from using zonal clusters to using regional clusters.

Looking at [the GKE regional cluster docs on persistent storage](https://cloud.google.com/kubernetes-engine/docs/concepts/regional-clusters#pd):

So any PVCs used by a pod must (just happen to

[2019-01-10 01:58] bobcatfish commented on #375
@mattmoor has confirmed that this seems likely to be the problem, see also https://kubernetes.io/blog/2018/10/11/topology-aware-volume-provisioning-in-kubernetes/

[2019-01-10 02:35] adrcunha commented on #375
I don't see why not. It's not super trivial, you'll have to change the flags in a few places. I recommend using an environment variable to turn on this behavior (so it's always turned on for build-pipeline e2e tests) instead of a flag. Feel free to send a PR for review.

[2019-01-10 17:37] bobcatfish opened #382 "[Epic] Harden the Pipeline API for 0.4 Release"
We have been pretty fast and loose with changes to the Pipeline API up until this point. However once we start having regular releases, we want folks to be able to depend on the Pipeline API without having it unexpectedly change out from under them.

This epic is all about getting our API into a state we are relatively happy with and deciding how we can responsibly deal with future changes.

[2019-01-10 17:42] bobcatfish commented on #252
Copying in @ImJasonH 's sweet image from #326:

![image](https://user-images.githubusercontent.com/432502/50986532-eb433180-14bb-11e9-86b0-547ac4aa06d7.png)

At this point we have gotten to Phase 1, next step will be Phase 2.

[2019-01-10 17:48] bobcatfish commented on #227
After discussing with @pivotal-nader-ziada @shashwathi @ImJasonH we think we can go forward for now by vendoring Pipelines at an arbitrary nightly release (maybe take a look at how serving currently vendors Build as well).

[2019-01-10 17:54] bobcatfish opened #383 "[Epic] Ready for 0.1 Release"
This epic is about being ready for a 0.4 Knative Pipelines release, specifically for:

* Automation in good shape (already have this, need to add a changelog)
* Docs all in order and accurate
* Task functionality should be at least as good as Build functoinality and not worse (at the time of writing, every TaskRun creates a PVC which hangs around indefinitely to provide logs)

[2019-01-10 17:56] bobcatfish commented on #218
We currently have nightly releases, so I'm going to close this in favor of #383

[2019-01-10 17:56] #218 closed

[2019-01-10 18:32] pivotal-nader-ziada commented on #376
/assign

[2019-01-10 19:48] pivotal-nader-ziada opened #384 "Use storage bucket to link outputs and inputs of tasks"
## Expected Behavior
 * Currently the PipelineRun controller uses a PVC (Persistent volume claim) to link artifacts from the output of a task to the input of the following task.
 * Due to the nature of PVC having different implementation on different platforms, the system should also support using a cloud storage bucket, for example a gcs bucket, to achieve the same functionality.
 * The storage b

[2019-01-10 19:48] pivotal-nader-ziada commented on #384
/assign

[2019-01-10 21:59] shashwathi commented on #313
@bobcatfish : I have added a design doc to discuss proposed solutions. Please comment on it and we can get better alignment 👍

https://drive.google.com/open?id=1BQDfihryPT25_kyBX0pmilBaFsASkZBlbRsUDF1RUew

[2019-01-10 22:39] bobcatfish opened #385 "Update usage docs re. how to install released version(s)"
## Expected Behavior
Users should easily be able to find docs that explain how to install released versions of `build-pipeline`:
* The nightly release
* The latest official release
* Previous releases

It should be easy to find these docs from:
* [The landing page / README in the repo](https://github.com/knative/build-pipeline#-pipeline-crd)
* [The quickstart](https://github.com/knative/build-pipe

[2019-01-10 22:41] #376 closed

[2019-01-10 22:48] bobcatfish opened #386 "Audit and update docs to only contain functionality that actually works for 0.4 release"
## Expected Behavior
When people look at the docs in the repo and read about what they can do, and how to use Pipelines, they should only see functionality that has been implemented.

(Especially once we start having official releases!!)

## Actual Behavior

The docs are a bit aspirational and contain descriptions for some functionality we haven't actually implemented, for example:

* The `provide

[2019-01-10 23:01] bobcatfish opened #387 "0.4 release must not try to create multiple PVCs across controllers"
## Expected Behavior
Folks who try to use Pipelines after our 0.4 release should not have to work around the issue we found in #375, which effectively makes it infeasible to use Pipelines with regional GKE clusters.

## Actual Behavior
If you try to use Pipelines with a GKE regional cluster, and you try to use a Task with an output, the resulting pod for that Task will be unschedulable.

This is b

[2019-01-10 23:23] bobcatfish commented on #375
kk sounds good thanks @adrcunha !

[2019-01-11 19:22] bobcatfish commented on #375
btw shout out to @shashwathi who pretty much nailed the diagnosis in https://github.com/knative/build-pipeline/pull/377#issuecomment-452839954 :tada: :pray:

[2019-01-11 22:48] bobcatfish commented on #313
Great write up @shashwathi ! I'm having trouble picking one approach over the other, so I'm interested to hear what other ppl (particularly @ImJasonH ) think.

Also would like to understand more about whether we intend to support this indefinitely or if it's more of a temporary stepping stone @ImJasonH .

[2019-01-12 02:22] zhyuri opened #390 "Update DEVELOPMENT.md since the ./third_party/config/build/release.yaml has been removed."
Please correct me if I missed something.

The file `./third_party/config/build/release.yaml` was added in the repo by commit https://github.com/knative/build-pipeline/commit/d2a68252ea544e6f1eadb4b17468dad7d080b687.

After the PR https://github.com/knative/build-pipeline/pull/326, the file has been deleted. We should update [DEVELOPMENT.md](https://github.com/knative/build-pipeline/blob/master/DEV

[2019-01-12 05:12] adrcunha commented on #375
Don't worry about this anymore, due to pressing matters (aka https://github.com/knative/test-infra/issues/383) I'm working on this.

[2019-01-13 02:18] ImJasonH commented on #313
@bobcatfish I think we should assume Serving will want the feature for the foreseeable future. Left comments on the doc. I like `resourceSpec`. 👍

[2019-01-14 15:42] bobcatfish commented on #390
You are totally right @zhyuri , thanks for following up on this and sorry for the confusion!

[2019-01-14 15:44] bobcatfish commented on #313
I was definitely thinking only about migration and not thinking about the serving use case at all 🤦‍♀️ I'm on board with the `resourceSpec` solution, especially if this is long term!

For handling the GCS type, I'm leaning toward adding a new resource type specifically for the `build` GCS functionality.

[2019-01-15 14:02] bobcatfish commented on #333
Yep I think so @Zyqsempai ! Note that @mathspanda is converting our existing cache to lru in https://github.com/knative/build-pipeline/pull/350 so we can probably build on that :D

[2019-01-15 14:12] Zyqsempai commented on #333
@bobcatfish Then, it will be good to merge his PR asap;)

[2019-01-15 15:30] #390 closed

[2019-01-15 15:33] zhyuri commented on #333
Hi @Zyqsempai , are you working on this issue?

Just want to confirm because I'm also looking for some issues to work on.

[2019-01-15 15:37] Zyqsempai commented on #333
@zhyuri Yep, i do. Sorry.

[2019-01-15 16:52] zhyuri commented on #51
Hi, is there anyone working on this issue right now?
If not, I'm happy to do some document work.

[2019-01-15 16:57] vdemeester commented on #51
@zhyuri I started a branch on that (https://github.com/vdemeester/build-pipeline/tree/51-take-1) but only started on `Concept.md`, and the more the better on docs, we may want to divide work in several pieces so different person can work on them in parallel :angel:

[2019-01-15 21:48] zhyuri commented on #51
@vdemeester Cool! I just checked out a branch for this issue: https://github.com/zhyuri/build-pipeline/tree/issue-51 but haven't done any work yet.

Maybe we can update&check this issue before start working on new document and see if it has been worked on?

[2019-01-16 14:20] bobcatfish commented on #356
Looks like this is fixed at https://storage.googleapis.com/knative-nightly/ (thanks @vdemeester !)

[2019-01-16 14:20] #356 closed

[2019-01-16 14:21] vdemeester commented on #227
/assign

[2019-01-16 14:51] bobcatfish commented on #390
Thanks for again for fixing this @zhyuri 😭 !!!

[2019-01-16 22:40] shashwathi opened #398 "Optimization of copying output resources to PVC(or intermediate storage location)"
## Expected Behavior
Copy resources onto PVC(or intermediate storage location) only if resource is being used further in pipelinerun

## Actual Behavior
TaskRun copies are output resources to PVC irrespective of it being used further in taskrun in pipelinerun or not.

## Steps to Reproduce the Problem

1. Create pipelinerun with a task
1. Check the pod spec to see 2 steps (in the end) for create a

[2019-01-17 15:00] mgreau commented on #356
Thanks for the fix 👍

[2019-01-17 16:14] a-roberts opened #401 "Bug in example for build-pipeline: cp -r /workspace/output/builtImage/ fails"
## Expected Behavior
All steps for the tutorial complete OK

## Actual Behavior
[code]
this is taken from my colleague @jessm12's laptop, we're both working on the tutorial together and are hitting this problem. This error is from the final container (`build-step-source-copy-skaffold-image-leeroy-web`):

`\"cp -r /workspace/output/builtImage/. /pvc/build-skaffold-web/builtImage\" with arguments cp

[2019-01-17 17:32] #333 closed

[2019-01-17 20:09] Conky5 opened #402 "Private GCS buckets credentials"
## Expected Behavior

Private GCS storage resources should be accessible with a properly configured `GOOGLE_APPLICATION_CREDENTIALS`.

## Actual Behavior

A `AccessDeniedException: 403 Insufficient OAuth2 scope to perform this operation.` error is encountered.

## Steps to Reproduce the Problem

1. Configure a private GCS storage resource as described in https://github.com/knative/build-pipeline/b

[2019-01-17 20:29] mgreau commented on #402
I've started [working on a fix here](https://github.com/mgreau/build-pipeline/commit/2021783dd958054fe9cf5cc2584d5b731b9c1e09), this is still WIP.

[2019-01-17 20:47] afrittoli opened #403 "Step using Kaniko build does not wait for PVC to be bound"
## Expected Behavior
The container associated to the step should be retried until the PVC is bound (with a limit) and succeed once the PVC is ready.

## Actual Behavior
Kubernetes attempted to schedule the kaniko container several times, but it always failed, even if the PVC became available.

Running describe on the pod:
[code]

Describe on the PVC

[code]

## Steps to Reproduce the Problem

1. D

[2019-01-17 20:49] afrittoli commented on #403
Service account:

[code]

[2019-01-18 13:38] afrittoli commented on #403
Pre-provisioning the PVC with the same name knative would setup is a workaround to this issue.
With the PVC in place I can get a working taskrun.

[2019-01-18 14:22] afrittoli commented on #403
I could reproduce the same issue using a PipelineRun instead of a TaskRun.

[2019-01-18 16:30] bobcatfish commented on #403
Even though this doesn't seem to be the kubernetes way 🤔

@afrittoli a couple of follow up questions:
1. how long _does_ it take for the PVC to become available?
2. any idea why the pod would start executing before the PVC is available? (this is definitely not the behavior I would expect

[2019-01-18 16:37] bobcatfish commented on #402
oh noes i think this might also be addressed by https://github.com/knative/build-pipeline/pull/404 @mgreau @shashwathi !!

i think the solutions are pretty similar (great minds think alike!) but probably you dont have to keep working on this @mgreau

(sorry for not noticing this was a duplicate of #372 sooner!!)

[2019-01-18 17:19] afrittoli commented on #403
The PVC usually takes a little longer than 60s to be ready, I can get some better numbers if you need them.

I wonder if this might be an issue on k8s side, I took the latest version available in IKS, I could try with a cluster an older version.

[2019-01-18 18:02] mgreau commented on #402
@bobcatfish no worries! I'm happy that this bug is close to being fixed 👍

[2019-01-19 16:21] mustafaakin commented on #323
I would to contribute on this issue since we are on AWS+EKS. Considering https://github.com/knative/build-pipeline/blob/master/pkg/apis/pipeline/v1alpha1/gcs_resource.go it seems straight forward but any pointers would be nice, following *Finding something to work on* on CONTRIBUTING.md

[2019-01-19 16:42] afrittoli commented on #403
I tried with a cluster running k8s v1.10.11_1536 - and I didn't hit this issue there, so it might be an issue on k8s side, or some behaviour that changed on k8s side.

[2019-01-19 22:33] afrittoli commented on #403
Looking at the change logs, there definitely have been changes in the PVC attach/detach logic in 1.11 and 1.12: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md  https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md

For instance: https://github.com/kubernetes/kubernetes/pull/66863 might have an impact on knative.
Which version of k8s is used when testing on

[2019-01-21 10:49] afrittoli commented on #401
/assign

[2019-01-21 10:58] afrittoli commented on #401
The problem I see here is that [output_resource](https://github.com/knative/build-pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/resources/output_resource.go#L109) schedules a mkdir and copy steps for every output resource defined, regardless of the output type.

The image resource output is not implemented yet (see #216) and thus the copy fails.
One possible fix is to schedule a copy only f

[2019-01-21 11:13] a-roberts commented on #401
Thanks @afrittoli for taking a look!

I think we should implement option 2, so until #216 is done there's little point in anyone thinking this tutorial will completely succeed - we should add comments to that effect in the readme and mention that the functionality here isn't complete (and that could be used to foster attention to implementing what's not quite finished).

Reminded of https://github

[2019-01-21 11:25] a-roberts opened #410 "Document running the pipeline tutorial on one's laptop"
I've noticed https://github.com/knative/build-pipeline/issues/235 too and that mentions an interest in running Knative and the pipelines locally (perhaps some information here could be used there, or this issue should be merged with another?).

## Expected Behavior
It should be easy for anyone to follow the build pipeline tutorials on one's laptop - I've had good success using Docker for Desktop u

[2019-01-21 13:49] vdemeester commented on #212
/assign

@tanner-bruce as you didn't open a PR and it staled I took a bit at it :angel:

[2019-01-21 17:13] afrittoli commented on #401
@a-roberts Fair point. I prepared #414 nonetheless, because there's not official release yet. If we can aim to implement #216 before the next release it should be fine.

[2019-01-21 17:15] shashwathi commented on #401
/assign @afrittoli

[2019-01-21 17:23] afrittoli commented on #401
thanks @shashwathi -  I thought only collaborators had the "assign" power but anyone could be assigned...

[2019-01-21 18:52] afrittoli commented on #401
/assign @afrittoli

[2019-01-21 18:52] afrittoli commented on #401
uhm, collaborators is not the same as "Contributor" obviously

[2019-01-21 21:18] afrittoli commented on #68
In my view a deployment output resource would be the output of a deployment task, so it would contain the metadata which resulted from the deployment, e.g. the release name and version in case of helm and perhaps a cluster resource. This could basically provide a kind of standard interface to tasks / pipelines who wanted to access the deployed "app" and that could work regardless of the deployment

[2019-01-21 21:56] #372 closed

[2019-01-22 14:48] afrittoli commented on #332
Since https://github.com/knative/build-pipeline/pull/350 is merged, I think this could be closed?

I added https://github.com/knative/build-pipeline/pull/418 as a follow-up, the deps update pops up when running ./hack/update-deps.sh

[2019-01-22 17:54] bobcatfish commented on #398
hm interesting, I wonder how we can make the TaskRun aware of this without making it too aware of or coupled to Pipeline runs :thinking:

@shashwathi is this mostly to save time? or save storage space? something else?

That's right @afrittoli  but just note that for #387 it's pretty likely we'll end up getting rid of that log PVC!

[2019-01-22 18:18] bobcatfish commented on #238
Note to self in #414 we are adding rules around which types of resources produce outputs - something to take into account in a design where resources are extensible :D

[2019-01-22 18:22] bobcatfish commented on #401
p.s. just a quick note: excellent write up @a-roberts, thanks for all the detail :heart: !

[2019-01-22 18:27] #332 closed, assigned to nobody

[2019-01-22 18:52] bobcatfish commented on #410
This is super awesome @a-roberts  - I was recently on a plane and not thrilled with the idea of trying to upload images constantly via airplane wifi while working on the project - I didn't know we were so close to making it work with Docker for Desktop, now I want to give it a shot myself :)

I think I need to put some more detail into #235, but I think one key difference between #235 and this iss

[2019-01-22 19:17] tejal29 commented on #227
@vdemeester  are you actively working on this one? I am looking to jump in on 0.4 release milestone issues.

[2019-01-22 19:48] bobcatfish commented on #403
Whoa, interesting! Thanks for tracking this down @afrittoli - I'm a bit confused by https://github.com/kubernetes/kubernetes/pull/66863 , it's not clear to me why we'd want to start running pods that need resources before those resources are actually able to be used :thinking: but that's neither here nor there, looks like we're going to need to update our logic like you described regardless!

It l

[2019-01-22 21:31] a-roberts commented on #410
Thanks for the input @bobcatfish, yep we only need to change a _few_ things really.

I agree it would be a great first issue, it would be awesome if somebody relatively new to knative (but perhaps not only myself as I could have fiddled with other components) were to follow what we come up with.

Here's what I recall doing a few days ago, so we we'll want to either doc this via a new readme or do

[2019-01-22 21:57] Conky5 commented on #402
Hi @shashwathi, it works! Thanks 😄

[2019-01-22 21:57] #402 closed

[2019-01-22 22:15] shashwathi commented on #402
Thank you for testing this and providing feedback. I appreciate it

[2019-01-22 23:16] bobcatfish commented on #323
Sounds good @mustafaakin ! I'm excited that you want to contribute :D!

(btw if you haven't already plz feel free to join us in slack at [#build-pipeline](https://knative.slack.com/messages/build-pipeline) !)

[2019-01-22 23:18] bobcatfish commented on #323
I think to properly support this we should expand our end to end tests to support using S3 as well (not to mention other clouds in general!), but I think there's probably a bit of work to do there so for now I think we should add this functionality, initially _not_ cover it with end to end tests, and create a separate issue around setting up infrastructure for end to end tests against s3.

(Any ot

[2019-01-22 23:19] bobcatfish commented on #323
Or maybe a better idea: add an end to end test that is skipped by default, which folks can run manually?

[2019-01-22 23:21] bobcatfish commented on #333
Thanks @Zyqsempai !!! :tada::tada::tada:

[2019-01-22 23:30] bobcatfish commented on #297
(whoops @dgageot sorry this took so long to reply to!)

That's an interesting idea - in that case, would we only realize there were extra fields after the resource is created? I'd be interested in seeing the prototype!

[2019-01-22 23:33] bobcatfish commented on #351
Thanks for the detailed report and for fixing this @mathspanda !! :tada:

[2019-01-22 23:38] bobcatfish commented on #384
Crazy (probably bad) idea: could it also make sense to have an option where if task X's outputs are linked to task Y's inputs, we schedule them on the same node and use an emptydir volume to share data between them?

[2019-01-22 23:41] bobcatfish commented on #22
Thanks for taking care of this @pivotal-nader-ziada !! :tada:

[2019-01-22 23:46] bobcatfish commented on #263
(sorry for the super delayed reply @bkuschel , this shouldn't be the norm!)

Interesting suggestion - in earlier iterations of the Pipeline we had something called `PipelineParams` which I think would have satisfied the use case you're describing here.

It'd be interesting to see if we can find a design for something similar that works with our latest CRDs.

I'm planning to create an issue in the

[2019-01-22 23:48] bobcatfish commented on #315
#263 has some relevant suggestions around overriding values with a "parameters" type (ala `PipelineParams` for those who remember, https://github.com/knative/build-pipeline/pull/282 for those who don't!)

[2019-01-23 01:01] pivotal-nader-ziada commented on #384
I don't think you can share `emptydir` volume across pods

[2019-01-23 07:35] dgageot commented on #297
@bobcatfish see #422

[2019-01-23 15:17] #212 closed

[2019-01-23 15:48] afrittoli commented on #401
@a-roberts are you satisfied that this is fixed now that #414 is merged?
Image output resources won't really be fully functional until #216 is implemented, but at least the pipeline will build the image to latest and you can deploy that then.

[2019-01-23 16:03] a-roberts commented on #401
Hey @afrittoli, gonna give it a try now, thanks! I assume I need to build from source as there's no release yet, I'll slack you if I run into any problems.

[2019-01-23 16:07] a-roberts commented on #410
I'd like to work on this, @bobcatfish would you do the honours of assigning me please?

[2019-01-23 17:20] abayer commented on #27
It seems to me that "after this `Task` or `Pipeline` completes, if some condition is true, do $SOME_THING" is mechanically distinct from "before executing this `Task`, check if some condition is true, and only execute this `Task` if it is true" - they could use similar mechanisms for checking conditions, for sure, but I've had a hard time trying to design both aspects in one fell swoop. Would it b

[2019-01-23 17:21] a-roberts opened #426 "Document developing the pipeline locally"
## Expected Behavior
It should be real simple to hack around with build-pipeline on one's laptop

## Actual Behavior
A few gotchas as the steps assume we want to use gcr.io

## Steps to Reproduce the Problem

1. Follow build-pipeline's developing docs
2. Realise the need to fiddle with a few properties
3. Perhaps trip up with using `ko` so really stress the need for a proper Gopath

## Additional

[2019-01-23 17:53] bobcatfish commented on #313
@tejal29 to tackle the new GCS resource, maybe in a separate issue

[2019-01-23 17:54] abayer commented on #27
I also just realized that the "only execute this `Task` if some condition is true" is basically a special case of what I'm talking about in #233 - that's for "wait until some condition is true before executing this `Task`", but we're going to want a timeout and what should happen if the condition is never true (i.e., skip the `Task` and continue executing other `Task`s, or fail the whole run) on t

[2019-01-23 18:51] afrittoli commented on #401
If there's a task that uses the image as input and it takes it from a previous task, then we hit the copy step again: https://github.com/knative/build-pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/resources/input_resources.go#L89

Does that mean that copy actually happens twice for things like git?
Another things that is not clear to me yet is boundResource.Paths - for both input and output

[2019-01-23 19:19] afrittoli commented on #216
If no-one else is looking at this I can give it a go and propose a design. Is there a special template to be used? Or any google doc should be fine?

[2019-01-23 19:35] abayer commented on #27
Ok, thinking out loud a bit here as to how the design and implementation work for the whole scope of this could be split up. First, I'm gonna use shorthand here for the three different use cases for conditional behavior, and because I've been neck-deep in building/maintaining/etc the Jenkins Declarative Pipeline stuff, I'm going to reuse the terminology there for two of 'em:
* `wait until` - this

[2019-01-24 09:59] vdemeester commented on #216
@afrittoli I think any google doc should be fine at start, but we may want to have a special template in the near future (maybe we do cc @bobcatfish @ImJasonH  ?)

[2019-01-24 11:14] a-roberts opened #429 "PipelineValidationFailed and yet my PipelineRun is reported as having succeeded"
I'm seeing an error running the examples on my laptop, getting the PipelineRun information itself confuses me...

## Expected Behavior
When there's an issue, e.g. we see this from a PipelineRun:
[code]
it should surely be type: Failed as opposed to Succeeded? Or is this the status of the validator doing its job? Either way it's counter intuitive and potentially a bug here.

## Actual Behavior
type

[2019-01-24 11:32] a-roberts commented on #429
Thanks, I see `For objects which run to completion, the condition type should be Succeeded.`: so this means the run did "Succeed" in that it run to completion, and the validation failed as we see from the message which indeed indicates a problem in the example?

If so let's close this one off and I'll take a look at the invalid output resource message.

[2019-01-24 11:36] vdemeester commented on #429
Yes :angel: The run succeeded to complete but the status is `False`, meaning it failed. It's completed but failed :angel:.

/close

[2019-01-24 11:36] #429 closed

[2019-01-24 11:51] afrittoli commented on #216
@shashwathi @bobcatfish In the description of this issue it talks about generic verification hooks to be introduced by #124; even though #124 is closed it doesn't seem to me that they have been implemented yet. Is that right? Is there a design for those yet or anyone working on them, or shall I include that in the design for this #216?

[2019-01-24 12:56] afrittoli opened #431 "Cluster resource cannot be used if the cluster name is not DNS-1123 subdomain"
## Expected Behavior

My cluster name contains an underscore e.g. `my_cluster`. I should be able to define a cluster resource to use that.

## Actual Behavior

Cluster name is taken from the resource metadata `name`, so it can only be set a valid DNS-1123 subdomain.

`The PipelineResource "xyz" is invalid: metadata.name: Invalid value: "my_cluster": a DNS-1123 subdomain must consist of lower case

[2019-01-24 14:00] vdemeester commented on #272
I think we can close this one as #510 is merged

/close

[2019-01-24 14:00] #272 closed

[2019-01-24 14:55] a-roberts commented on #35
This would be very useful to have (I was going to suggest this earlier today and so there's a bit more context and background that we might need!):

I'm debugging the build-pipeline example now and I see Tasks, PipelineResources and also the PipelineRun itself. Our pipeline controller performs validation in terms of checking inputs and outputs.

**Prior work**
Apache Spark has a concept of a [dire

[2019-01-24 17:16] a-roberts commented on #401
I've spent all day trying to get the PipelineRun tutorial to work although @mnuttall has wrote a simpler example that exercises your fix and that works perfect.

He says all is well so I'm happy to close this off, cheers again 👍

[2019-01-24 17:16] #401 closed

[2019-01-24 22:46] bobcatfish commented on #168
I haven't gotten to this in ages so I'm taking myself off of it - the one thing I did tho was create an end to end test for the functionality which I'll try to push in a branch if I ever get around to it.

If someone reading this wants to work on it, ping me if you'd like to see the end to end test (np if you want to start fresh).

Note that in #320 we talked about also adding `runAfter` functiona

[2019-01-25 08:36] vdemeester commented on #168
@bobcatfish :wave: #always-interested

[2019-01-25 09:58] markusthoemmes commented on #186
Seems to be done judging by the merged PR?

[2019-01-25 09:59] vdemeester commented on #186
@markusthoemmes you are right !
/close

[2019-01-25 09:59] #186 closed

[2019-01-25 15:33] afrittoli opened #439 "Admin / view custom resources with admin/view cluster roles"
## Expected Behavior

A service account with admin / view clusterrole, should be able to admin / view build-pipeline custom resources.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. Create a service account
[code]
2. Create a role binding with the cluster role admin
[code]

3. kubectl get all

## Additional Info
A clusterrolebinding `build-pipeline-controller-admin` exists, but

[2019-01-25 19:05] #320 closed

[2019-01-25 20:12] shashwathi commented on #302
/assign @shashwathi

[2019-01-25 22:39] bobcatfish commented on #168
hahaha o really @vdemeester , v exciting!!!! ❤️

[2019-01-28 00:07] bobcatfish commented on #72
Looked into this briefly but didn't make much progress:

* We probably want to add a PR template, similar to https://github.com/knative/serving/pull/586/files
* Assuming the process of aggregating these notes into releases (https://github.com/knative/serving/releases) is manual, (i think it is?) this is mostly just a matter of adding a step to [our release docs](https://github.com/knative/build-pi

[2019-01-28 00:35] bobcatfish commented on #168
Okay @vdemeester my test is at  https://github.com/bobcatfish/build-pipeline/commit/39f7664d97b470dde8c7451398ca4f161df3c245 but it's pretty rough and there are a few caveats :D

(ps should we assign this one to you? 😜 )

[2019-01-28 14:24] bobcatfish commented on #385
Turns out there is a great example of how to do this at https://github.com/knative/docs/blob/master/build/installing-build-component.md (small amount of overlap with #304)

[2019-01-28 14:25] bobcatfish commented on #304
Looks like the toughest part of doing this is that for `build`, `knative/docs` has some fairly detailed API docs and also walk throughs which I'll need to make `pipeline` versions of:

* https://github.com/knative/docs/blob/master/build/build-templates.md
* https://github.com/knative/docs/blob/master/build/builds.md
* https://github.com/knative/docs/blob/master/build/creating-builds.md

[2019-01-28 16:22] afrittoli commented on #168
It might make sense to limit the maximum number of parallel tasks to be executed at any point in time for one pipeline.

[2019-01-28 19:33] dlorenc commented on #297
@jonjohnsonjr mentioned we might want to leave these here to make schema upgrades easier. Is that still the case?

[2019-01-28 19:40] jonjohnsonjr commented on #297
It doesn't make schema upgrades easier, but it does make downgrades _possible_.

If you don't allow unknown fields **and** you ever plan to add a new field, your users won't be able to downgrade build-pipeline, because the new field will be unrecognized by the old build-pipeline.

You can get around this by staging new fields for 1 release (but disallowing them) and only allowing n-1 downgrades, b