[2020-11-10 15:16] itewk commented on #3510
looking at the logs for the tekton-pipeline-controller i can see it is creating two TaskRuns for the same Task. Is there a good way for me to upload those logs somewhere?

[2020-11-10 15:26] itewk commented on #3510
maybe realted / cause / dupe of:
* https://github.com/tektoncd/pipeline/issues/3126
* https://github.com/tektoncd/pipeline/issues/2813

[2020-11-10 15:30] itewk commented on #3510
reading those more it seems this is a dupe of those, but like this is happening to me now on every single run (on one step or another) now that I have upgraded to 0.16. was hoping to find a work around in those other items but i dont see one

[2020-11-10 17:32] sbwsg commented on #3510
A github gist is my usual go-to for longer logs.  https://gist.github.com/

[2020-11-10 17:53] sbwsg commented on #3510
Can you share a copy of the Pipeline, Tasks, and a Pod?  If they're sensitive for some reason, maybe reduce them to a simplified example that exhibits the problem?

I have a lot of questions but no clear solutions to offer atm:

- You mentioned "sequential Tasks in a Pipeline": what did you mean by this?  They're set to `runAfter` one another?
- What do the `volumes` and `volumeMounts` sections of

[2020-11-10 18:24] itewk commented on #3510
yes

ummm.....like you want the pod yml when it comes up? https://gist.github.com/itewk/8f139349c727b3f83f309a856f6c2e4a

3 worker nodes
isn't it expected they all get scheduled on the same node due to the magic labeling stuff that goes on. i thought i read it somewhere.

This gist has the pod.yml from one of the failed pods: https://gist.github.com/itewk/8f139349c727b3f83f309a856f6c2e4a

umm....g

[2020-11-10 18:37] itewk commented on #3510
https://gist.github.com/itewk/edbac1dab03e25bc874195369306e845

This gist has tekton pipeline controller logs just after a reboot of the controller pod where at least one instance of duplicate TaskRuns was created. the two in there I know are duplicates are:
* `lzj7g--jhlj4`
* `lzj7g--qhz2x`

[2020-11-10 18:43] #3512 closed

[2020-11-10 18:53] pritidesai commented on #3446
nope no explicit `taskRun`, [when expressions](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-task-execution-using-whenexpressions) are evaluated by the controller. The controller evaluates `when` expressions before scheduling the guarded task. The task (along with the whole branch) is not executed if `when` expressions evaluates to `false`.

[2020-11-10 19:08] c1505 opened #3513 "Can multiple conditions be used for when expressions?"
I want to run a task only when 2 different set of criteria are met.  As far as I can tell, when expressions only support a single condition.  Is there a way around that or a different option to use?

[2020-11-10 19:39] jerop commented on #3513
@c1505 yes, you can specify multiple criteria using when expressions, such as:

[code]

[2020-11-10 19:45] pritidesai commented on #3439
@ekupershlak we have stdout and stderr for steps being implemented, see [TEP](https://github.com/tektoncd/community/blob/master/teps/0011-redirecting-step-output-streams.md) and [PoC](https://github.com/tektoncd/pipeline/pull/3103). Would this work for your use case?

See issue https://github.com/tektoncd/pipeline/issues/2925

[2020-11-10 20:13] c1505 commented on #3513
@jerop Confirmed that it works as you described.  Thanks!  Sorry I just missed it in the docs.

[2020-11-10 20:13] #3513 closed

[2020-11-10 22:02] ekupershlak commented on #3439
@pritidesai if I understand correctly, that proposal simplifies capturing stdout/stderr of a step. This is useful, but doesn't provide a way to obtain this data.

I tried to use a result because it's accessible from a TaskRun without any additional management (i.e. creating buckets or other similar stores).

[2020-11-11 09:53] veggiemonk commented on #3467
Thanks a lot for taking the time to reply.

I'm going to close this issue as my problem is currently fixed.

[2020-11-11 09:53] #3467 closed

[2020-11-11 13:49] ImJasonH commented on #1687
/remove-lifecycle stale

I think this is still something we'd benefit from.

[2020-11-11 13:50] ImJasonH commented on #1746
/remove-lifecycle stale

[2020-11-11 14:54] sbwsg commented on #3510
OK, thanks for sharing all that.  I don't immediately see a root cause from reading through the logs.  It appears that there's no clear message as to why `ploigos-workflow-reference-quarkus-mvn-foobar-frui-lzj7g--qhz2x` is started so soon after `ploigos-workflow-reference-quarkus-mvn-foobar-frui-lzj7g--jhlj4`.  I agree that https://github.com/tektoncd/pipeline/issues/3126 seems like a very likely

[2020-11-11 14:55] sbwsg commented on #3510
I've attached a priority to this of critical-urgent so that it gets discussed ASAP at the next owners planning session.

[2020-11-11 15:37] michaelsauter commented on #3510
For the record, I think I'm hitting the same bug. As most tasks mount a shared workspace, many pods are stuck initialising because they can't all mount at the same time ...

To have a successful pipeline run, I first need to manually cleanup all related pods, which looks like this:
[code]

It can also be different numbers of simultaneous pods:
[code]

[2020-11-11 16:04] sbwsg commented on #3510
I'm moving the priority label to #3126 since it was created first and will hopefully be a little easier to condense into a reproducible case, at least initially.

[2020-11-11 16:10] sbwsg commented on #3510
It's interesting that in both of the cases described here it appears to be open shift involved.  @michaelsauter I'm not super familiar with open shift but does this mean you're using cri-o as the container runtime too?

This might not be related at all, especially since https://github.com/tektoncd/pipeline/issues/3126 doesn't appear to be related to open shift, but flagging here in case it becomes

[2020-11-11 16:20] michaelsauter commented on #3510
Yes this is on OpenShift. Unfortunately I'm super new to this cluster and not an cluster admin for it so I don't know the exact details. It's a 4.5 cluster, which, according to https://docs.openshift.com/container-platform/4.5/release_notes/ocp-4-5-release-notes.html is using cri-o. Kubernetes is v1.18.3+2fbd7c7. I can't even figure out what the Tekton version is ... I'll follow up with this, assu

[2020-11-11 17:07] itewk commented on #3510
i'll close this as a dupe of https://github.com/tektoncd/pipeline/issues/3126 now that i understand what I am seeing is simply a symptom of that issue.

[2020-11-11 17:07] #3510 closed

[2020-11-11 17:18] sbwsg commented on #3509
Hm, interesting.  In the code we create directories with [0700 perms](https://github.com/tektoncd/pipeline/blob/master/pkg/credentials/initialize.go#L126) and files with [0600 perms](https://github.com/tektoncd/pipeline/blob/master/pkg/credentials/initialize.go#L143) 😕

[2020-11-11 17:29] bobcatfish commented on #540
I want to start gathering some requirements around this and get it moving :D

[2020-11-11 17:30] riceluxs1t commented on #3446
I think it's safe to conclude then that `when` expressions do not have this issue. Any near future plan to fix the identified problem?

[2020-11-11 18:00] itewk commented on #3509
@sbwsg maybe its somethiung to do with my home directory being in a workspace mounted to a PV/PVC?

[2020-11-11 18:16] pritidesai commented on #3446
thanks @riceluxs1t

Nope, `when` expressions replaced `conditions` in `0.16`, no more fixes happening in `conditions`. Would `when` expressions work for your use case?

@bobcatfish @jerop please correct me if I am wrong.

[2020-11-11 19:00] sbwsg commented on #3509
Interesting, yeah I wonder if that's related.  I noticed in [another of your comments](https://github.com/tektoncd/pipeline/issues/3510#issuecomment-724730073) that the home directory has the setgid bit set on it (`/home/tssc` has perms `drwxrwsr-x`).  Is that similarly true here?

[2020-11-11 19:22] sbwsg commented on #3126
I've been trying to reproduce this but am struggling to do so.  I've rolled my cluster back to Pipelines 0.15.2 and then written up some resources:

1. Create a Task with similar signature to that in the original post:

[code]

2. Then create a Pipeline using it:

[code]

3. and then the PipelineRun:

[code]

4. Then I've used a for loop to spin up 100 PipelineRuns using this Pipeline:

[code]

5.

[2020-11-11 20:11] khilman opened #3515 "git resource: optional retry if clone fails"
### Feature request

With a git input resource, if the git clone fails, allow an optional number of retries with a timeout.

### Use case

Using an Azure cluster with spot instances, I noticed periodic DNS failures when new k8s nodes come online causing the first `git clone` of the input resource to fail, which cause the whole TaskRun to fail:

[code]

It would be quite useful if this git clone co

[2020-11-11 20:27] bobcatfish commented on #1617
Tho it's hard to prioritize this kinda thing i think improving the dev experience in this way is important:

/remove-lifecycle rotten

[2020-11-11 20:28] bobcatfish commented on #1831
i believe @wlynch has actually been working on this: https://github.com/tektoncd/experimental/pull/662

/remove-lifecycle stale

[2020-11-11 20:31] bobcatfish commented on #3446
👍  to what @pritidesai  said - since we've deprecated Conditions we'd like to avoid making changes to that functionality if possible - but if when expressions don't work for your use cases plz let us know so we can make sure we do!

maybe it would make sense to write up a short migration guide, but basically since Conditions run as tasks underneath, you should be able to get the same functionality

[2020-11-11 20:48] sbwsg commented on #3126
I've updated to k8s 1.18 and have written a script to try and replicate the annotation/label behaviour of fluxcd described in https://github.com/tektoncd/pipeline/issues/3126#issuecomment-680071108

[code]

I've run this maybe 10 times and haven't been able to trigger a mismatch in taskrun count vs pipelinerun count.  So I'm clearly missing something here in the reproduction of the bad behaviour.

[2020-11-11 21:10] wlynch commented on #1831
https://github.com/istio/test-infra/pull/3036 is also related.

[2020-11-11 21:13] pritidesai commented on #3126
thanks a bunch @sbwsg 🙏

I think the best would be hear back from @Fabian-K with the platform details.

Also, if @Fabian-K can provide exact pipeline with task and resources used, might help troubleshoot this further.  The reason being the pipeline in the description has some `metadata` which I am sure not sent while creating `pipelineRun`.

@Fabian-K it would be great if you can reproduce this on

[2020-11-11 22:34] bobcatfish commented on #2298
Excellent! I hope we can be as rigorous with all the new features we add :D

Responding to you inline has helped me come up with a different way to present this feature which I think might help!

I want to assert that:

1. Version control is a key element of continuous delivery (and CI)
2. (1) is not limited to just your source code, but also your configuration (i.e. "keep absolutely everything in

[2020-11-12 06:02] afrittoli commented on #2298
If we consider the location where you fetch a task / pipeline from a runtime concern, I think supporting multiple sources would not hinder reusability of tasks and pipelines.

When running a pipelinerun/taskrun one has to specify the pipeline/task ref, which could be cluster, OCI, git... and perhaps even path in a workspace?

For pipeline tasks, the task name is part of the pipeline definition, bu

[2020-11-12 07:22] michaelsauter commented on #3510
FWIW, I figured out we're on [OpenShift Pipelines Technology Preview 1.1](https://docs.openshift.com/container-platform/4.5/pipelines/op-release-notes.html#op-release-notes-1-1_op-release-notes), which means we're on Tekton Pipelines 0.14.3.

[2020-11-12 07:25] michaelsauter commented on #3126
I am seeing this behaviour as well as commented in https://github.com/tektoncd/pipeline/issues/3510. I'm running [OpenShift Pipelines Technology Preview 1.1](https://docs.openshift.com/container-platform/4.5/pipelines/op-release-notes.html#op-release-notes-1-1_op-release-notes), which means:

* Kubernetes 1.18
* Tekton Pipelines 0.14.3

[2020-11-12 09:45] vdemeester commented on #3097
/remove-lifecycle stale

[2020-11-12 09:46] vdemeester commented on #1617
/remove-lifecycle stale

[2020-11-12 09:46] vdemeester commented on #2696
/remove-lifecycle stale

[2020-11-12 09:52] vdemeester commented on #644
/remove-lifecycle stale

[2020-11-12 09:52] vdemeester commented on #1371
/remove-lifecycle stale
/cc @sbwsg

[2020-11-12 10:04] vdemeester commented on #941
/remove-lifecycle stale

[2020-11-12 10:04] vdemeester commented on #1372
/remove-lifecycle stale

[2020-11-12 11:41] vdemeester commented on #2298
I agree with the definitions above, but it applies to a system (a CI system). **`tektoncd/pipeline` is a component not a full CI system** and I see handling this case — definitions are in a version control — as a responsibility of the system, not necessarily the `tektoncd/pipeline` component.

To *try* to make my point a bit clearer, I want to make a small parallel with `Pod` and `Deployment` here

[2020-11-12 11:44] vdemeester commented on #2298
Note that, those need to be answered and clearly stated on tekton.dev, our community repository, … to try to make users discovering tekton not having the wrong impressions :upside_down_face:

[2020-11-12 13:35] vdemeester commented on #2219
/remove-lifecycle stale

[2020-11-12 14:07] Fabian-K commented on #3126
Thanks for your effort in reproducing the issue! The cluster is a managed cluster by https://gardener.cloud/ with OpenStack as the infrastructure provider. I also tried to reproduce it locally using kind but so far did not manage to do so :(

We are updating our two instances to 0.18 soon. Will definitely look for new occurrences and try to provide controller logs.

Not sure if this is helpful but

[2020-11-12 14:44] bobcatfish commented on #644
I feel like given that we haven't done anything with this at all in so long, maybe it's reasonable to close for now?

[2020-11-12 14:53] itewk opened #3516 "allow parameter replacement in TriggerTemplate.spec.resourceTemplates.metadata.*"
### Feature request

I would like to be able to use the git ref name in the generated PipelineRun name (and lables) that triggered the TriggerTemplate but currently the TriggerTemplate.spec.resourceTemplates.metadata.* fields don't allow TriggetTemplate parameter replacement.

### Use case
1) would allow us to be able to make it so that PipelineRuns created from TriggerTempaltes have human useable

[2020-11-12 15:09] dcherman commented on #644
@bobcatfish I still feel like this would be useful, but at a minimum, can you port the spreadsheet that you mentioned in https://github.com/tektoncd/pipeline/issues/644#issuecomment-475032948 to markdown before closing?  Don't know about others, but I requested access to that Google Group like a year ago and never got it, so was never able to read it.

[2020-11-12 15:12] Fabian-K opened #3517 "Slow/stuck reconciliation after 0.18.0 upgrade when completed Pods are cleaned up"
Hi,

after upgrading tekton pipelines to v0.18.0, the reconciliation seems to be stuck or at least really slow. Here is a screenshot of the tekton_workqueue_depth metric:

![image](https://user-images.githubusercontent.com/862577/98957726-cda0e200-2501-11eb-93f3-2292152b0101.png)

The controller log is full of repeated "pod not found" messages like the following.
[code]

We do have a cleanup job r

[2020-11-12 16:53] itscatherinelam opened #3518 "[Question] Certificate data in a pipeline resource?"
Good morning!

I would love to hear the expertise from the community - is there a way to pass in a certificate chain along with a pipeline resource? I see that there is a way to define a parameter for a cluster resource, but nothing in the documentation for a pipeline resource. I envision the cert chain would be stored in either a secret or a config map. Any leads?

Edit: To clarify, I'm also usin

[2020-11-12 16:56] dibyom commented on #3516
Hmm...this should already work. We allow replacements anywhere within a resourceTemplate.

Is it not working for you? In that case, what is the error message that you get?

[2020-11-12 17:03] pritidesai commented on #3126
thanks @Fabian-K

@psschwei did you notice any such odd behavior (multiple taskruns getting created for a pipeline with a single task) while running the [stress test](https://github.ibm.com/paulschw/taskrun-stress)?

[2020-11-12 17:33] itewk commented on #3516
@dibyom my appologies. i could have sworn i tried this a couple weeks ago and it didn't work, but i just tried it and it worked fine. when i first tried it i was on an older tekton, and i had no clue what i was doing. appologies for the noise.

[2020-11-12 17:33] #3516 closed

[2020-11-12 18:24] bobcatfish commented on #454
@wlynch is tackling this via [TEP-0021](https://github.com/tektoncd/community/pull/217)

/remove-lifecycle stale
/assign wlynch

And since this is in [our tekton wide roadmap](https://github.com/tektoncd/community/blob/master/roadmap.md#results):
/lifecycle freeze

[2020-11-12 18:24] bobcatfish commented on #454
/lifecycle frozen

[2020-11-12 18:24] bobcatfish commented on #454
![image](https://user-images.githubusercontent.com/432502/98980323-73485700-24ea-11eb-90c1-fcfacb308027.png)

[2020-11-12 18:26] psschwei commented on #3126
Not that I recall, although it wasn't something I was explicitly watching for either.

[2020-11-12 18:39] bobcatfish commented on #644
Sounds good @dcherman , we can do that!

btw you should be able to join the google group at https://github.com/tektoncd/community/blob/master/contact.md#mailing-list (https://groups.google.com/forum/#!forum/tekton-dev) without anyone needing to approve your membership 🤔

[2020-11-12 18:52] dcherman commented on #644
@bobcatfish Ya, was able to join the Tekton mailing list without approval, but I think that spreadsheet is owned by knative-dev which seems to require approval to join (https://groups.google.com/g/knative-dev).

That said, I might've asked for access to the spreadsheet directly versus joining the Google group.  It's been quite a while since I did that, so I can't remember :)

[2020-11-12 22:06] bobcatfish commented on #3499
Was discussing with @jerop today and I think it's totally worth it! We could probably add it in such away that it only happens once per Run

[2020-11-13 03:07] bitsofinfo commented on #1836
/remove-lifecycle stale

[2020-11-13 03:26] fenglixa commented on #2433
Thanks @NikeNano, this feature is important for us, what's the progress on this item?

[2020-11-13 06:28] vdemeester commented on #2407
/remove-lifecycle stale

[2020-11-13 06:28] vdemeester commented on #1559
/remove-lifecycle stale

[2020-11-13 07:15] michaelsauter commented on #3126
In my case it is not related to stress at all. Happens from the very first PipelineRun in a namespace.

[2020-11-13 09:13] Fabian-K commented on #3517
Looks like this was eventually processed after 3 hours. Unfortunately, after every controller restart this repeats.

![image](https://user-images.githubusercontent.com/862577/99051078-95001780-2598-11eb-856e-90024f5cd351.png)

[2020-11-13 13:15] GregDritschler commented on #3126
@michaelsauter Can you provide your pipeline controller log for the period where the duplicate taskruns are created?

[2020-11-13 15:39] GregDritschler commented on #3126
I've tried to run some tests and I can't recreate a duplicated TaskRun.  This included several thousand runs on OpenShift 4.5 (== Kubernetes 0.18 and Tekton 0.14.3).

Out of curiosity I ran an instrumented PipelineRun controller to see how quickly the informer distributes added/updated *Run objects.  I was surprised to see it happens very quickly.  The informer consistently notified it of a new Ta

[2020-11-13 15:58] sbwsg commented on #3126
Wow, thanks for digging further into this @GregDritschler!  Your theory regarding the cache makes sense to me and I think your proposed solution would afford us an opportunity to introduce better logging when the creation happens but fails. This would in turn validate whether the theory is on the money.

We'd need to account for retries of Tasks as well I think?  Otherwise Task N might fail, retry

[2020-11-13 16:53] GregDritschler commented on #3126
Retries reuse the same TaskRun.  They just recreate a new pod from the same TaskRun.
https://github.com/tektoncd/pipeline/blob/release-v0.17.x/pkg/reconciler/pipelinerun/pipelinerun.go#L592

The new pod will still have its own random suffix.
https://github.com/tektoncd/pipeline/blob/release-v0.17.x/pkg/pod/pod.go#L267

This does make me wonder if the TaskRun reconciler has a duplication exposure a

[2020-11-13 17:43] skaegi commented on #3206
We were working on a possibly related issue and noticed that the "run" CRD is alpha and wondered if it somehow might be involved in the finally case. Just a thought... without any evidence.... ;)

[2020-11-13 18:22] sbwsg commented on #3051
/remove-lifecycle stale

[2020-11-13 20:24] GregDritschler commented on #3126
I thought about this some more and found a case where the random suffix for the TaskRun comes into play.  This happens when the name of the PipelineRun itself is the max length of 64 characters.   I created this PipelineRun:

[code]

This resulted in a PipelineRun name of `the-itsy-bitsy-spider-climbed-up-the-waterspout-down-came-x44zw`.
The PipelineRun created a TaskRun named `the-itsy-bitsy-spid

[2020-11-13 20:32] skaegi opened #3521 "Pinning CPU with a pipeline with 50 tasks and use of params/results chain"
We are hitting a scalability problem that pins the controller in our clusters when we have a complex pipeline with close to 50 tasks that makes heavy use of params and results. I'll enclose a synthetic test case but this is a real world case that we are seeing in our clusters.

What we see is that the controller is CPU pinned before creating the first Task pod. In my cluster what I'm seeing is a v

[2020-11-13 20:42] dibyom commented on #3512
Do we need to re-apply the prow config after this image change?
I still see issues with missing `Cleanup` methods for some Triggers PRs: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_triggers/828/pull-tekton-triggers-go-coverage/1327349908058935296/?log#log

[2020-11-13 21:28] bobcatfish commented on #540
https://github.com/tektoncd/pipeline/issues/3521 has some use cases that we might be able use

[2020-11-13 23:06] dustym commented on #3521
Watching this thread closely. We did an upgrade from v0.10 to v0.17 a couple of weeks ago (had to excise PipelineResources) and performance has been all over the place since then. I'm thinking about downgrading at this point. I've looked into the two HA solutions in [this isssue](https://github.com/tektoncd/pipeline/issues/3404) but the results have not been great -- sometimes we see double work o

[2020-11-14 10:08] afrittoli commented on #3521
Uhm, pipeline `40` started quickly on my kind cluster, but I found an issue in the pipeline definition:
[code]

[2020-11-14 10:20] afrittoli commented on #3521
@skaegi I think you always provision the pipeline and task definitions along with the pipeline run, is that correct?

[2020-11-14 10:23] afrittoli commented on #3521
Fixed the task as follows:
[code]

The whole pipeline ran quite quickly:
[code]

[2020-11-14 10:31] afrittoli commented on #3521
With pipeline `50` I see evident signs of degradation already: 30s, then 1 taskrun, then a couple of minutes, then the rest.

[2020-11-14 16:27] afrittoli commented on #3521
We definitely get stuck in `dag.GetSchedulable`, I'll try to build a unit test that matches the pipe60 pipeline and see if I can reproduce the issue there:

[code]

[2020-11-14 18:02] afrittoli commented on #3521
I added a simple unit test that emulates `pipe60`, but that runs fine, it takes overall about 1s to run `dag.GetSchedulable` twice, once with empty execution history and once after `t1`: https://gist.github.com/afrittoli/be4dae78d46cdeb8cfd4a749839b66bb

[2020-11-14 22:28] afrittoli commented on #3521
`successfulOrSkippedDAGTasks` is the function where all the time is spent:
https://github.com/tektoncd/pipeline/blob/406a21e5fb7524c2ca4944864cdcad8338f8054c/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go#L314-L324

The loop in `successfulOrSkippedDAGTasks` calls `t.Skip(facts)` for every pipeline task. The `Skip` function https://github.com/tektoncd/pipeline/blob/cdc171b906cea29c8940989

[2020-11-14 23:48] gabemontero commented on #2917
I've validated that OPA based policies can satisfy the requirment.

[2020-11-14 23:48] #2917 closed

[2020-11-15 12:05] jeffmaury commented on #742
/remove-livecycle stale

[2020-11-15 12:45] jeffmaury commented on #742
/remove-lifecycle stale

[2020-11-15 14:55] mattmoor commented on #2825
/lifecycle frozen

[2020-11-15 19:00] ImJasonH commented on #3521
In addition to the fix (thanks Andrea!) we should definitely encode this pipeline into a test to guard against future similar regressions.

It looks like this behavior is new since the last release, is that correct? So we'll only need a patch for the latest release?

[2020-11-15 21:32] skaegi commented on #3521
@ImJasonH we originally found the problem in 0.16.3 but FWIW we're in the process of moving to 0.18.x so at least for us further back patching is not needed.

[2020-11-15 21:36] afrittoli commented on #3521
That is already done as a unit test that reproduces the issue. When I added the unit test it would time out after 30s and now passes. On my laptop is manages a pipeline with 120 tasks in 30s, so there's still room for improvement.

[2020-11-16 07:28] michaelsauter commented on #3126
Finally, here are my Tekton controller logs: https://gist.github.com/michaelsauter/9af328156693e9f615cb1fa699fdd69f.

There are some errors like `Failed to delete StatefulSet for PipelineRun build-and-deploy-run-8sxp8: failed to delete StatefulSet affinity-assistant-59d5d42441: statefulsets.apps \"affinity-assistant-59d5d42441\" not found` ... could that be causing the behaviour?

[2020-11-16 07:42] vdemeester commented on #1796
/remove-lifecycle stale

[2020-11-16 07:42] vdemeester commented on #3048
/remove-lifecycle stale

[2020-11-16 07:42] vdemeester commented on #2288
/remove-lifecycle stale

[2020-11-16 07:43] vdemeester commented on #2330
/remove-lifecycle stale

[2020-11-16 07:44] vdemeester commented on #2391
/remove-lifecycle stale

[2020-11-16 07:49] vdemeester commented on #2509
/remove-lifecycle stale

[2020-11-16 07:49] vdemeester commented on #1530
/remove-lifecycle stale

[2020-11-16 07:49] vdemeester commented on #1441
/remove-lifecycle stale

[2020-11-16 07:50] vdemeester commented on #2600
/remove-lifecycle stale

[2020-11-16 07:50] vdemeester commented on #2666
/remove-lifecycle stale

[2020-11-16 07:50] vdemeester commented on #2647
/remove-lifecycle stale

[2020-11-16 07:50] vdemeester commented on #2684
/remove-lifecycle stale

[2020-11-16 07:51] vdemeester commented on #2045
/remove-lifecycle stale

[2020-11-16 07:51] vdemeester commented on #2748
/remove-lifecycle stale

[2020-11-16 07:51] vdemeester commented on #2746
/remove-lifecycle stale

[2020-11-16 07:51] vdemeester commented on #2448
/remove-lifecycle stale

[2020-11-16 07:52] vdemeester commented on #1689
/remove-lifecycle stale
/lifecycle frozen

[2020-11-16 07:52] vdemeester commented on #2851
/remove-lifecycle stale

[2020-11-16 07:52] vdemeester commented on #2854
/remove-lifecycle stale

[2020-11-16 07:52] vdemeester commented on #2924
/remove-lifecycle stale

[2020-11-16 07:52] vdemeester commented on #2933
/remove-lifecycle stale

[2020-11-16 07:52] vdemeester commented on #2934
/remove-lifecycle stale

[2020-11-16 07:53] vdemeester commented on #2710
/remove-lifecycle stale
/cc @pritidesai @jerop

[2020-11-16 07:55] vdemeester commented on #1484
/remove-lifecycle stale

[2020-11-16 08:02] vdemeester commented on #3110
/remove-lifecycle stale

[2020-11-16 08:04] vdemeester commented on #1838
/remove-lifecycle stale

[2020-11-16 08:04] vdemeester commented on #1323
/remove-lifecycle stale

[2020-11-16 08:08] vdemeester commented on #2827
/remove-lifecycle stale

[2020-11-16 08:08] vdemeester commented on #2335
/remove-lifecycle stale

[2020-11-16 08:24] afrittoli commented on #3521
Perhaps we could add the pipeline60 as an e2e test too.
I would not add it as a YAML test because it's easier to maintain when it's generated via code.
It takes a couple of minutes to run on my kind cluster, so it should be fine for E2E tests.

[2020-11-16 08:52] xiujuan95 commented on #2735
Any updates about this comment: https://github.com/tektoncd/pipeline/issues/2735#issuecomment-720935469 ?

[2020-11-16 14:26] afrittoli commented on #3517
This seems a pretty important issue to get sorted, setting the priority higher.

[2020-11-16 15:56] bobcatfish commented on #1323
I wonder if this is related to some of the discussions we're having in #2298, specifically about being able to make changes to a Task without having to change the Pipeline (e.g. if you use an OCI reference in a Pipeline and want to try out some changes to a Task before it's published)

[2020-11-16 15:59] bobcatfish commented on #1838
@jerop is planning to look into this

/assign jerop

[2020-11-16 16:31] afrittoli opened #3529 "Pipeline webhook controllers fail to become leaders"
# Expected Behavior

The webhook controllers become leaders and start to work

# Actual Behavior

They attempt to acquire a lease, but fail.
This does not always happen, but I see it a lot in local `kind` clusters.

[code]

# Additional Info

The issue manifests itself through defaults missing in tekton resources.
This is caused by the webhooks not being active.
The certificate webhook does not pr

[2020-11-16 18:23] riceluxs1t commented on #3446
OK! Because we are upgrading our internal Tekton version, we will upgrade to a when expression when the upgrade completes. Closing this PR

[2020-11-16 18:23] #3446 closed

[2020-11-16 18:43] bobcatfish commented on #3446
Excellent!!!

[2020-11-16 21:37] #233 closed

[2020-11-17 00:47] #3529 closed

[2020-11-17 01:55] #3521 closed

[2020-11-17 08:55] vdemeester commented on #3113
/remove-lifecycle stale

[2020-11-17 10:01] Fabian-K commented on #3126
The gist https://gist.github.com/Fabian-K/10f46e5b0cd23318985e5d8f3c7b5bc2 contains one occurrence using Tekton 0.18.0
- pipeline definition
- pipelinerun
- taskruns
- controller logs (from the first occurrence o the pr to the last, unfortunately quite big due to https://github.com/tektoncd/pipeline/issues/3517)

[2020-11-17 13:13] sbwsg commented on #2065
I'm going to go ahead and close this.  We can revisit if the question ever arises again in future.

[2020-11-17 13:13] #2065 closed

[2020-11-17 13:15] sbwsg commented on #3518
I'm not super familiar with a Certificate Chain - how does it manifest?  Is it files on disk?  If so then one approach would be to write your Tasks such that they accept an optional `workspace` which you could then mount wherever the certs needs to be located on disk.  Folks writing TaskRuns could then choose to provide that `workspace` with a `Secret`, which would show up in the Task as files.  H

[2020-11-17 13:59] hrishin commented on #2842
There are two ways to see this as problem,

1) Yes metrics volume is perhaps quite large and need re-thought if users/community is experiencing it. As suggested by @xiujuan95 and other folks, we can provide certain option configuration option to corse grain the metrics.

2) There could be problem with metrics aggregators or collectors, which could be solved at metrics collector level to handle suc

[2020-11-17 14:21] ImJasonH commented on #2842
+1 to a ConfigMap option to only report namespace-level metrics.

I'd love to get more data about how users are using these metrics, since I suspect based on the relative lack of urgency on this issue that people don't actually depend on the task and taskRun keys, and we can just remove them via feature flag or `config-observability` option. I'd prefer not to plan to have the option exist indefini

[2020-11-17 16:18] pritidesai commented on #3517
@Fabian-K can you please provide your environment details and `yaml`s if they are shareable? We just fixed scaling issues with larger pipelines with PR #3524 and it has been cherry picked in [0.18](https://github.com/tektoncd/pipeline/tree/release-v0.18.x) branch. Can you please run with those changes and see if you are still running into issues?

[2020-11-17 16:20] pritidesai commented on #3517
I notice you have uploaded a `pipelineRun` [here](https://github.com/tektoncd/pipeline/issues/3126#issuecomment-728822309) in other issue #3126

[2020-11-17 16:29] Fabian-K commented on #3517
@pritidesai there are multiple different pipelines used in the cluster. All however are really simple (less than 5 tasks, only a few parameters). My understanding is that https://github.com/tektoncd/pipeline/pull/3524 is mostly relevant if there are way more.
Are images for https://github.com/tektoncd/pipeline/tree/release-v0.18.x already available somewhere? I could deploy and verify if that alre

[2020-11-17 16:34] vdemeester commented on #3518
@sbwsg I think the question is about being able to give those to `PipelineResource` object, which is not possible as of today. workspaces do not "apply" to containers that are managed by `PipelineResource`, are they ?

[2020-11-17 16:37] sbwsg commented on #3518
Yeah, that's right.  With PipelineResources specifically there's no facility to bind a Workspace of your own to their container(s). Interesting feature to consider, though, wrt the PipelineResources redesign work!

[2020-11-17 16:49] pritidesai commented on #3517
hey @Fabian-K I am cutting 0.18.1, will update you once its available

[2020-11-17 18:57] pritidesai commented on #3517
@Fabian-K [0.18.1](https://github.com/tektoncd/pipeline/releases/tag/v0.18.1) is here, please give it a try 🙏

[2020-11-18 05:19] zhangtbj commented on #2842
Hello all,

I am not sure if we can allow the Tekton user to customize the label by themselves?

Like what we did in our project: https://github.com/shipwright-io/build/blob/master/docs/metrics.md#configuration-of-histogram-labels

Some of the end users like admin, may just care about the statistics to see the overall status to make sure Tekton works fine, but some of the end users maybe a single

[2020-11-18 09:57] vdemeester commented on #2813
/remove-lifecycle stale

[2020-11-18 09:57] vdemeester commented on #3118
/remove-lifecycle stale

[2020-11-18 10:02] Fabian-K commented on #3517
Unfortunately, 0.18.1 does not fix the issue :(

[2020-11-18 13:58] bobcatfish commented on #2298
I agree with your list @vdemeester ! And I like the approach of answering those questions and then maybe later returning to this particular issue later (instead of jumping to the conclusion that folks should be able to reference Tasks and Pipelines in git directly in Runs).

I think this is really interesting and I think you're totally right that putting bundles behind a feature flag will help us

[2020-11-18 14:00] ImJasonH commented on #2842
That seems doable, but I'd prefer to make that available with some signal from a user that they'd want it, and how best to express it. We got into this situation in the first place because we assumed users would want all these labels and that supporting them would be relatively cheap, and that turned out to be false (at least the last part, maybe the first part too).

I do like the idea of operato

[2020-11-18 18:25] markusthoemmes commented on #924
/remove-lifecycle rotten

[2020-11-18 18:33] vdemeester commented on #924
/lifecycle frozen

[2020-11-18 19:30] pritidesai commented on #3517
@Fabian-K to understand your pipeline, you have five independent tasks running all in parallel and operating on a common git `pipelineResource`:

1. assemble
2. unittest
3. kustomize
4. push-docker-images
5. push-jib-images

I ran the similar pipeline on my local cluster multiple times, all five pods are getting created as expected. I am having hard time reproducing this.

Can you please check if

[2020-11-18 20:26] JPEWdev opened #3540 "Start affinity-assistant lazily"
### Feature request

Only start the affinity assistance before parallel tasks start executing in a Pipeline

### Use case

My understanding is that the purpose affinity assistant is to make tasks running in parallel execute on the same node so that they can share a PV, however I've noticed that it can prevent optimal scheduling of pipelines runs, particularly when the number of pipelines running g

[2020-11-18 21:17] gattytto commented on #2019
/remove-lifecycle stale

[2020-11-18 21:27] afrittoli commented on #2944
/lifecycle frozen

[2020-11-19 02:16] xiujuan95 commented on #2842
@ImJasonH As far as I know, `Prometheus` can be configurable to filter metrics, there has an [example](https://docs.sysdig.com/en/filtering-prometheus-metrics.html#UUID-936d6631-8950-a439-9abf-15ae77796c1c_section-idm456966229512003170006342998), the prerequisite is we need to enable [`use_promscrape`](https://docs.sysdig.com/en/filtering-prometheus-metrics.html#UUID-936d6631-8950-a439-9abf-15ae77

[2020-11-19 02:48] zhangtbj commented on #2842
Yes, We tried the `Prometheus` and `Sysdig` monitoring systems before, yes we can filter the metrics by using some condition configuration like above ^^. So I think when end user uses the metrics in one of monitoring systems, they can customize the metrics to choose which they need by filter.

But for each metric, right now, Tekton doesn't  provide a chance to customize it (About the label)

[2020-11-19 03:14] yjp211 opened #3541 "[Question] How to get pipleine.spec.tasks.name in task?"
[code]

I know of a way to pass this value by adding an extra parameter to the Task/Pipeline, as follows.

[code]
Pipeline's content  is exposed to our users. Above this way, our user needs to configure the same content(echo1/echo2) twice. This would seem strange and ugly...
Is there a better way?

[2020-11-19 09:50] Fabian-K commented on #3517
Hi @pritidesai, this issue is not related to 3126, sorry for creating confusion by linking it. To reproduce it:
- create a cluster and create some PipelineRuns in it. Any pipeline should work.
- wait for all PipelineRuns to complete
- delete the pods of the executed tasks (but keep the PipelineRuns and TaskRuns)
- restart the tekton pipelines controller
- check the tekton_workqueue_depth metric, t

[2020-11-19 09:51] stuarthu commented on #2925
maybe you can do sth like:
[code]

[2020-11-19 11:14] afrittoli commented on #2925
If a tool works with output streams, it's really important that it does not pollute such stream, mixing output, logs and stderr al together, because doing renders the stream un-parsable at best.

From a Tekton POV I think it would be nice to provide an option to capture stdout to file, if the tool does not support it via a flag. The output is already captured by the pod, but AFAIU that includes st

[2020-11-19 11:19] afrittoli commented on #3517
@Fabian-K I will try to reproduce this on my local cluster. In the meanwhile, it might help if you could:
- turn the log level of the controller to debug
- grab the logs during the time when no PipelineRuns are running and the pods have been deleted

To change the log level, you can `kubectl edit cm/config-logging -n tekton-pipelines` and then:

[code]

[2020-11-19 12:01] afrittoli commented on #3517
I created a fresh kind cluster, ran 17 pipelines 17 with 40 tasks each, let everything finish and then deleted all completed pods.
I collected the work_queue metrics for pipeline run and taskrun, staring during pipeline run execution, through the pod deletion:

[code]

And plotted the result:
[code]

The resulting graph shows that the pipeline run controller is not affected by the pod deletion (as

[2020-11-19 12:04] afrittoli commented on #3517
[code]

[2020-11-19 12:13] afrittoli commented on #3517
I believe the issue happens when trying to stopping sidecars. In case the pod is not found we return a non-permanent (!) error: https://github.com/tektoncd/pipeline/blob/473e3f3cc74b215f8c22cb007fcd7413f93f3917/pkg/reconciler/taskrun/taskrun.go#L215-L217

Since at this point the taskrun is marked as done, I think it is safe to assume that if the pod was not found, we can just ignore and finish rec

[2020-11-19 12:25] afrittoli commented on #3517
Graph before applying the patch - it went down in about 30 min.

![image](https://user-images.githubusercontent.com/2205608/99665930-31775d80-2a62-11eb-9629-da8cbf76a7be.png)

[2020-11-19 12:28] afrittoli commented on #3517
Controller restart to apply the patch:

![image](https://user-images.githubusercontent.com/2205608/99666321-c417fc80-2a62-11eb-92b5-0fb92205720a.png)

[2020-11-19 13:38] hrishin commented on #2842
Following are possible optimisations we could think as well?

**1) Coarse grained metric**
Instead of detailed metrics we could allow the `coarse grained` metrics such as `counts` mostly. Provide configuration switch for coarse grained vs detailed metrics. Which in-turn can reduce number of metrics and corresponding labels too which leads less burden on metrics ingester.

**2) Dynamic labels**
Its

[2020-11-19 14:50] itscatherinelam commented on #3518
@sbwsg - I can clarify about the certificate chain! Though, forgive me, certificates have never been my strong suite.

I am trying to clone a git repository, as defined in a pipeline resource, in the pipeline. This is passed in as an input, but without specifying tls verify to false in the pipeline resource object, I get the error 'Peer certificate not recognized' at the beginning of a pipeline ru

[2020-11-19 14:55] #3517 closed

[2020-11-19 14:57] itscatherinelam opened #3543 "[Question] Proper way to define role so tkn can have access to tekton.dev objects?"
Good morning, friends! Another question from a tekton newb.

I created a super basic image with the tkn cli (housed in /tmp) curled onto an ubi8 image. But if I try to run tkn commands from it, I get the error: **Error: failed to list Pipelines from namespace coco: pipelines.tekton.dev is forbidden: User "system:serviceaccount:coco:default" cannot list resource "pipelines" in API group "tekton.dev

[2020-11-19 15:27] itscatherinelam commented on #3543
Hey! I figured out a way to fix it. Instead of using the default SA, I used the pipeline SA that's created in every OpenShift namespace as part of the Tekton operator - '**_oc set sa dc/<dcName> pipeline_**'.

However, I am still curious what the alternative way as I suggested in original post would be carried out. How would I edit the default SA so that its permissions matched the pipeline SA? Is

[2020-11-19 16:29] pritidesai commented on #3517
@Fabian-K for further details, it was very helpful 👍

Thanks @afrittoli for the fix 🙏

Does this warrant 0.18.2?

[2020-11-19 16:50] dibyom commented on #3543
hi @itscatherinelam

one way to do this would be to create a Role that has the right RBAC rules, and then associate it with a SA using a RoleBinding. You can either append to an existing SA or create a new one.

Not exactly what you'd need but you can look at  https://github.com/tektoncd/triggers/blob/master/examples/github/role.yaml

You'd probably need "get", "list", "watch", "create" verbs for

[2020-11-19 17:25] dibyom commented on #3541
According to https://github.com/tektoncd/pipeline/blob/master/docs/variables.md there isn't currently a variable for pipelineTasks.

[2020-11-19 17:26] dibyom commented on #3541
(Though this is potentially a feature we could consider adding)

[2020-11-19 19:18] bioball opened #3545 "TaskRun that uses multiple PVC-backed workspaces will fail to schedule when using Affinity Assistant"
# Expected Behavior

Pipelines that use multiple workspaces in a TaskRun should run when affinity assistants are enabled

# Actual Behavior

The underlying pods fail to schedule due to multi-attach errors

# Steps to Reproduce the Problem

Here's a sample pipeline that reproduces this issue:

[code]

If applied to a multi-node cluster, I see this error within the pod's events:

[code]

It seems li

[2020-11-20 00:57] gabemontero commented on #2962
/remove-lifecycle-stale

I touch upon this scenario, including my protoype to implement things along these lines, in my TEP https://github.com/tektoncd/community/pull/152 , as well as a recent demo that @jlpettersson and I discussed briefly in Tekton slack

Once I complete the TEP and we start documeint how this could be down with say OPA (including pointing to upstream OPA catalogs with "producti

[2020-11-20 01:24] yjp211 commented on #3541
We bypass the problem by adjusting our business. Still look forward to this feature, Thanks!

[2020-11-20 07:16] #3483 closed

[2020-11-20 10:24] vdemeester commented on #2987
/remove-lifecycle rotten
/cc @afrittoli

[2020-11-20 10:32] vdemeester commented on #3545
This is by design, although I don't find something explicit in the documentation that it cannot work with 2 workspace with different PVC :thinking:
cc @jlpettersson

[2020-11-20 10:57] vdemeester opened #3548 "Towards v1 API"
*This issue is here to track work towards the `v1` API of `tektoncd/pipeline`. It is loosely based on the [initial doc](https://docs.google.com/document/d/1h9n0Lod0OiJ_sP2HK8Ms7N04aee5LW8xfz5yMGCFMIs/edit) around this, and will be update as we go.*

## Motivation

In order to declare Pipeline stable and ready to use in *production*
to our users and customer, we need to give them some
guarantees. A

[2020-11-20 11:16] afrittoli commented on #2433
@dlorenc is there any related work from the tektoncd/chains project ?

[2020-11-20 11:20] afrittoli commented on #2433
I think the work described in https://github.com/tektoncd/community/blob/master/teps/0030-workspace-paths.md would be really useful for checkpointing. It could help limiting the amount of data to be saved, based on the declared paths.

[2020-11-20 12:06] Bl4d3s opened #3549 "[Question] Should events for Started and Succesfull be emitted twice?"
Hello,

Im not sure wether this is supposed behavior or not:

I get certain events twice, when executing a pipeline. Especially for the Started or Succeeded states.

My problem with this is, I want to use the events (CloudEvents) for triggering certain tasks in an sink.
One example would be sending an email on pipeline finish.

My setup:
OpenShift (v4.6.3) with CodeReadyContainers on Windows (1.19

[2020-11-20 12:25] Bl4d3s commented on #1023
I see the PR is already approved, but needs a rebase. Any hope to get it in with the next release?

[2020-11-20 12:34] afrittoli commented on #3549
Hi @Bl4d3s , thank for reporting this.

We do not strictly guarantee uniqueness and order of events, however usually you should be getting events once.
Since the reconciler relies on the informer cache one it's triggered, if the cache is stale we may be getting the pipeline run without the start date set, and thus trigger the "Started" event again.

Do you see this on a regular basis or was it a o

[2020-11-20 12:59] Bl4d3s commented on #3549
Hi, thanks for the fast feedback.

I see it happen more often then not unfortunately.

Do you need any more input from my end ? Specific logs etc?

[2020-11-20 14:23] afrittoli commented on #3549
If you still have the pipeline around, could you post the output of:
[code]
Any special reason for running a pipeline in the `tekton-pipelines` namespace?

[2020-11-20 14:35] jerop commented on #1023
@Bl4d3s we revisited the skipping syntax in this [TEP](https://github.com/tektoncd/community/pull/258) to clarify that the skipping option is related to `WhenExpressions` -- thank you for your patience as we work to get it right and get it in soon

[2020-11-20 15:25] Bl4d3s commented on #3549
Output

<details>
<summary> Output</summary>

[code]
</details>

Pipeline is not that simple unfortunately. I can try to make an minimal example next week if needed?

Nope, just havent changed it yet. Will do so next week. Thanks for pointing it out.

[2020-11-20 20:55] GregDritschler commented on #3126
I finally was able to recreate the problem on OpenShift with Tekton 0.18 (with some debugging statements added).

I ran a script to repeatedly create a PipelineRun and then update its labels.  It took several hundred runs but I finally got a PR to create a duplicate TR.  The log clearly shows the reconciler being driven with state status, the TR not being found in the lister cache, and the reconci

[2020-11-20 23:32] jlpettersson commented on #3540
This should not be the case. The Affinity Assistant is configured with **PodAntiAffinity** to other Affinity Assistants - such that they should _repel_ - in a best-effort fashion.

Yes, the point with the Affinity Assistant is to schedule tasks that use the same volume to the node were the volume is mounted.

Yes. The scheduling can indeed be non-optimal with the Affinity Assistant. But it can not

[2020-11-20 23:38] jlpettersson commented on #3548
I would like to see https://github.com/tektoncd/pipeline/issues/3440 in v1 - and deprecate the current place were `volumeClaimTemplate` is implemented. That would be a more intuitive API - easier to understand and easier to work with. I really regret the current design.

[2020-11-20 23:45] PoliM commented on #3541
There is a label on the pod that executes the task called tekton.dev/pipelineTask
If an environment variable would work for you then you can do something like this:
[code]
But I have no idea how "stable" that label is. It is not listed here: https://tekton.dev/docs/pipelines/labels/#automatic-labeling

[2020-11-20 23:48] jlpettersson opened #3551 "Consider better use of ProjectedVolumes"
### Feature request

`ProjectedVolumes` is very useful, both for Secrets, ConfigMaps and modern ServiceAccounts. The way Tekton currently supports ServiceAccounts should be considered _outdated_ - since the tokens are not rotated and less secure than the new solution using ProjectedVolumes.

### Use case

At least ServiceAccounts should preferrably be used from a ProjectedVolume. Currently this is

[2020-11-21 13:44] stainboy opened #3552 "Pipeline as code"
### Feature request
I like the way that Jenkins works with Jenkinsfile. Normally, a Jenkinsfile is in the root directory of a Git repo, which will be dynamically located and loaded when a pipeline job is triggered by PR (or relevant events)

The changes of the PR can be either application code or Jenkinsfile. And Jenkins is always running the pipeline according to the "latest" behavior described i

[2020-11-21 18:35] jlpettersson commented on #3552
There is also another definition of **Pipeline as Code** https://www.thoughtworks.com/radar/techniques/pipelines-as-code
Similar to **Infrastructure as Code** it means that you, keep stuff in version control, and use CI/CD for automated testing for every change, e.g. every change of a Pipeline is tested before it is used for an application, or for infrastructure test it in a isolated environment b

[2020-11-22 19:16] bitsofinfo commented on #2812
/remove-lifecycle stale

[2020-11-22 19:17] bitsofinfo commented on #2812
CEL, JSONPath, whichever, whatever. Being able to do expressions anywhere `$()` would still be a great addition

[2020-11-23 07:28] #3399 closed

[2020-11-23 08:44] vdemeester commented on #2563
/remove-lifecycle rotten

[2020-11-23 08:54] vdemeester commented on #1393
/remove-lifecycle stale
/lifecycle frozen

[2020-11-23 10:52] #3423 closed

[2020-11-23 13:41] vdemeester commented on #3552
@stainboy I think this is *more or less* a duplicate of https://github.com/tektoncd/pipeline/issues/859.
There is a bunch of experimentation work around this in [`tektoncd/plumbing`](https://github.com/tektoncd/plumbing) and externally.

[`tekton-asa-code`](https://github.com/chmouel/tekton-asa-code) is one example of implementation (still wip).

/cc @chmouel @afrittoli @wlynch

[2020-11-23 13:42] vdemeester commented on #3552
In addition, this is definitely a use case (Pipeline as code) Tekton components should help provide, but this is more likely outside of `tektoncd/pipeline` scope and more on an higher level component, that brings a bunch of Tekton components (like pipeline and triggers) together in an opiniated way.

[2020-11-23 13:47] vdemeester opened #3553 "[tech-debt] reduce unit-test execution time"
A full unit-test run is currently around the mine (`63.786s`). This is *not that bad* but unit tests should be really quick, a `go test` shouldn't spend more than a second or two to run all the unit tests of a package. This is not the case now, some packages are quite the *offender* :sweat_smile:.

-  cmd/entrypoint (4.12s)
- pkg/reconciler/events/cloudevent (3.147s)
- pkg/reconciler/events (6.176

[2020-11-23 14:40] bobcatfish commented on #3552
My opinion is that it will be much simpler to support a feature like this directly in tektoncd/pipeline, and at the same time I agree with @vdemeester that we should be clear about our use cases and requirements before we make any decisions, which we've been trying to hash out in #2298

[2020-11-23 14:40] bobcatfish commented on #859
Note we've been discussing a related question about git support in https://github.com/tektoncd/pipeline/issues/2298

[2020-11-23 14:51] bobcatfish commented on #2812
Hey @bitsofinfo  - we've been working on a set of "design principles" over in the community repo - some of the principles around flexibility apply here: https://github.com/tektoncd/community/blob/master/design-principles.md#flexibility

Even in triggers when we have support for CEL we try to make sure we can support other languages and tools as well - so I don't think it's likely we'd want to add

[2020-11-23 15:31] vdemeester commented on #3552
I am very interested in that opinion because, for me, in a gist, this means that `tektoncd/pipeline` would have to be able to listen to events (which is currently `tektoncd/triggers` responsability), handle versions of resources or references to them (to not override other PRs, …) and execution. I'd rather make `tektoncd/pipeline` smaller — aka more less having to care of execution — and let the r

[2020-11-23 16:21] bitsofinfo commented on #2812
I've removed CEL from the subject. The particular implementation I guess doesn't matter. But being able to do something like this, whatever the impl, would be great.

[code]

[2020-11-23 19:49] bobcatfish commented on #2812
The `decodeb64()` and `parseJSON()` bits are interesting, that'd definitely push more toward an expression language, I'm guessing jsonpath doesn't have support for anything like that :(

I'm not sure how we'd be able to a provide functionality like that while:
a) remaining agnostic and letting ppl use the lang of their choice
b) keeping Tasks and Pipelines conformant (e.g. can use a Task in the ca

[2020-11-23 20:43] alan-ghelardi opened #3557 "Tekton is duplicating task runs that make up a pipeline run"
I noticed recently that around 10% of our pipeline runs have duplicated task runs.

Initially, I thought that there was a relation between this issue and the fact that we're running a replicated Tekton controller as explained [here](https://github.com/tektoncd/pipeline/issues/3404), but after looking into logs and historical data, I've figured out that the issue was already happening before we've

[2020-11-23 22:24] pritidesai commented on #3557
@alan-ghelardi, @GregDritschler has documented his analysis in this [doc](https://docs.google.com/document/d/1AwBTnf4e-9XFXE3Wuh4XqUwUbptyCY4Jb9eb9J-wGtA/edit?ts=5fbbad23#) on similar issue, please check if it's applicable to the issue you are experiencing.

[2020-11-23 23:09] GregDritschler commented on #3126
@Fabian-K This is in fact the problem.  The reconciler is using all of the PipelineRun's labels (which includes labels propagated from the Pipeline) to look for TaskRuns associated with the PipelineRun.  If the labels change in any way, it won't find the TaskRuns that it created prior to that change and it will create duplicate TaskRuns.  I have linked a pull request that changes the code to use o

[2020-11-24 07:21] michaelsauter commented on #3126
@GregDritschler At least for me, I just followed https://github.com/openshift/pipelines-tutorial. Nothing special, and there is nothing else on that cluster that would cause modifications to labels. I have another cluster available now though, with the same versions, and I can try there again ...

[2020-11-24 08:29] Bl4d3s commented on #3549
I have updated my application to save if an event was already handled. So my issue is solved.

[2020-11-24 08:29] #3549 closed

[2020-11-24 12:13] alan-ghelardi commented on #3557
Thank you @pritidesai. I've requested access to the doc.

[2020-11-24 13:58] afrittoli commented on #3549
Thanks for the update on this issue, I'm glad you found a solution.

@GregDritschler found out that a change to the taskrun / pipelinerun, for instance adding a label, will trigger another reconcile. If the timing is right the informer cache may be stale, thus making it more likely to have duplicate start events - see https://github.com/tektoncd/pipeline/pull/3558#.

I don't see any extra label or

[2020-11-24 14:05] Bl4d3s commented on #3549
I did try to add some additional information via a patch on the pipelinerun (either annotation or label). Probably this triggered the additional reconcile run.

Use case was the following:
- Pipeline starts
- another task is started with the started event, the Id of this was added as Label to be able to retrieve it later on other events more easily.

I solved it for me by caching it in the sink an

[2020-11-24 15:05] bobcatfish commented on #3440
Would it be accurate to say another way of rewording this feature request is to make it possible to specify a volume claim template at runtime and pass it to more than one workspace?

I tend to agree with @sbwsg that this _is_ addressed today by declaring a PVC separately - @jlpettersson is the missing piece for you that the PVC won't get automatically cleaned up at the end of the PipelineRun in t

[2020-11-24 15:07] bobcatfish commented on #3548
I think that making some changes to the constraints the affinity assistant imposes before v1 would make a lot of sense - for example I really don't like it that (unless im understanding incorrectly) trying to use 2 PVCs with 1 Task right now will not be allowed (unless you disable the affinity assistant). Even if we keep that, I think it shouldn't be the default.

[2020-11-24 15:12] bobcatfish commented on #3552
Ah interesting! @vdemeester  I think you're picturing something much much more complicated than I am. Maybe that explains some of why you're pushing back in #2298? I wouldn't want to see a solution that required tektoncd/pipeline to start listening for events either. I think if you look at the example I provided in https://github.com/tektoncd/pipeline/issues/2298#issue-588670262 in use cases this

[2020-11-24 15:16] stainboy commented on #3552
I am very happy to see that the use case has been accepted and tracked in #859. Thanks for the great work, maintainers and contributors!

[2020-11-24 16:37] bitsofinfo commented on #2812
how is the triggers project currently handling this?

[2020-11-24 16:59] jlpettersson commented on #3440
Yes. Even today, `volumeClaimTemplate` is only specified at runtime - but today it can not be used in more than one workspace. This feature request makes it ~~possible~~ easier to use a volume from `volumeClaimTemplate` as a base for more than one workspace. _(if this is done, the current location for `volumeClaimTemplate` can potentially be deprecated, and also `subPath` on the PipelineTask (it w

[2020-11-24 17:19] jlpettersson opened #3559 "Support to mark a PVC/workspace as "secondary""
### Feature request

Add a field so that a PVC/workspace can be marked as "secondary" - so that it would be possible to use more than one PVC for Tasks when using the Affinity Assistant or the custom scheduler https://github.com/tektoncd/pipeline/issues/3052

### Use case

It is not working well to support more than one PVC per TaskRun in a Pipeline in a regional cluster. The current implementatio

[2020-11-24 17:33] ImJasonH commented on #3559
This sounds like something that would need a TEP to fully design it.

It's unclear to me what the semantics of `secondary` are in the case where a task wants to mount both a source and configuratiton PVC workspace -- which one should the user choose as "secondary", and how would they make that decision?

Does "secondary" mean effectively "mount the other one first, then try to mount this one (or m

[2020-11-24 17:40] #3559 closed

[2020-11-24 20:11] bobcatfish commented on #2815
Okay so I think I know what's going on here and I think it's a bug (though not one that would be hit very often, or maybe ever).

🐛 🐛 🐛
_TL;DR: There is a race where the config store sometimes hasn't loaded default values before the test code executes b/c it loads them in separate go routines. This could manifest in actual problems if TaskRuns are created immediately on controller startup (tho it'

[2020-11-24 20:21] bobcatfish commented on #2815
(Oh yeah one last piece of trivia around this bug that I thought was interesting: note that this was reported June 12 and https://github.com/tektoncd/pipeline/pull/2637 (making it so that we started using the config map watcher to hot reload these values) was merged on June 8.)

[2020-11-24 21:03] HeavyWombat opened #3561 "Use list options in pod informer"
### Feature request

Currently, the pod informer seems to cache details about all pods in the cluster. Use the `WithTweakListOptions` function to tune the pod informer to only cache pods that are relevant for Tekton.

### Use case

We recently ran into a problem using Tekton with our [build operator](https://github.com/shipwright-io/build) in a multi-tenant  cluster setup. A component created a la

[2020-11-24 22:11] bobcatfish commented on #2812
In triggers this is being handled with "interceptors" which run as separate services, e.g. [the CEL interceptor](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md#cel-interceptors) which is currently built into the eventlistener but [won't be in the future](https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#proposal)

(I'm hoping that one day o

[2020-11-25 05:21] zhangtbj commented on #3561
Another update is in the issue https://github.com/knative/serving/issues/10098

To see if we can add `TweakFilterOption` in the knative pkg. If it is accepted, maybe Tekton can also leverage in the new release.

FYI

[2020-11-25 09:41] vdemeester commented on #3561
/cc @mattmoor

[2020-11-25 17:35] bitsofinfo commented on #3468
Definitely need more flexibility w/ `WhenExpressions`:

All standard operators should be supported (in, not in, >, <, >=, <= and ==/!= aliased to in/notin just to be friendly

Ideally just supporting an "expression" literally via CEL would be great to. Really can just open it up to more possibilities you can't redict

Here is my scenario:

I have a task who's result is a metric. Then whether or no

[2020-11-25 21:04] bobcatfish commented on #3440
As I responded to your individual points, I think there is an overall high level theme, which is that I think we have slightly different points of view on how opinionated Tekton should be.

In my opinion, Tekton should NOT be very opinionated - this leaves users of Tekton, particularly folks building CI/CD tools using Tekton, free to create opinionated tools with Tekton. Every assumption we make a

[2020-11-25 22:01] jlpettersson commented on #3440
This was explained in PR https://github.com/tektoncd/pipeline/pull/2326, but I can quote it here:

   the PV is bound

   PipelineRun may slip in to or be used in another PipelineRun, with
   very few audit tracks.

   to delete the PVC. The PipelineRun can not be set as OwnerReference since
   the PVC must be created first

 has several advantages:

   familiar in the kubernetes ecosystem

   Pip

[2020-11-25 23:01] jlpettersson opened #3563 "Task parallelism and Regional clusters - supported?"
Opening this for discussions.

## Task Parallelism - should Tekton support parallel Tasks?

Parallel Tasks in a `Pipeline` is a way to get faster feedback - do more in shorter time. Most pipeline products support parallel Tasks. This is trivial in single-node solutions, but more tricky in cluster solutions. Another thing is that tasks likely need to share files with workspace functionality.

Origi

[2020-11-25 23:46] jlpettersson commented on #3548
@bobcatfish I opened https://github.com/tektoncd/pipeline/issues/3563 for discussion

[2020-11-26 03:03] ImJasonH commented on #3563
My two cents:

Tekton _cannot_ guarantee parallel execution of Tasks. It should whenever possible attempt to schedule two Pods such that they run at the same time, but many things outside its control (Kubernetes' scheduler, available resources, etc.) can prevent parallel execution. Scheduling PVCs is a prime example, but also available CPU and RAM, a namespace's pod quota, and others, are outside

[2020-11-26 07:54] jlpettersson commented on #3563
What I mean with **parallel Tasks** is in the Tasks within a Pipeline graph - even though the processes may execute concurrently. See this Pipeline with _parallel tasks_:
[code]

* If Task `(b)` and `(c)` run _concurrently_  - I would say that Tekton support _parallel Tasks execution (as seen in the Pipeline graph)_.

* If Task `(b)` and `(c)` is enforced to run in a sequence in most cases - I wou

[2020-11-26 12:58] ImJasonH commented on #3563
Because Tekton can't guarantee `(b)` and `(c)` run in parallel, we should not make any guarantees that it can.

Parallelism is like caching the result of an expensive operation in this case. It's an optimization we should to make whenever it's beneficial, but if a user comes to rely on it for correctness or as a necessary performance improvement, that's going to be a problem. Unfortunately it's ha

[2020-11-26 16:26] jlpettersson commented on #3563
Some more sources about why users might want to use parallel tasks

You have really powerful build machines with lots of CPUs you can utilize
Your pipeline has a lot of IO "waiting"
Your pipeline has integration tests that depend on (slow) external services
When you visualize your pipeline, parts may leap out that you realize you can do in parallel. This may happen as you plan out your pipeline, o

[2020-11-27 01:13] zhangyunlin opened #3565 "docker image connot run properly under Task context"
I made an helm image to build  and push charts package to registry, and helm push plugin has been installed. when I run this image with docker run command, the helm push command can work properly. But when I use the image uder Tekton pipeline Task yaml, the helm push command cannot work, and the helm push plugin has already installed in /root/.local/share/helm/plugins/helm-push.git/bin dir.
# Expe

[2020-11-27 15:22] afrittoli commented on #3565
@zhangyunlin thank for your report.
Could you provide details about the error that you're getting?
Could you share the docker file of your image?

[2020-11-29 11:49] piyush-garg commented on #3090
/remove-lifecycle stale

[2020-11-30 02:02] jerop commented on #3149
/lifecycle frozen

[2020-11-30 02:47] zhangyunlin commented on #3565
@afrittoli thks for your reply, the Dockerfile as follow:
`FROM centos:7.9.2009

#ENV LC_ALL zh_CN.utf8
ENV LANG='en_US.UTF-8' LANGUAGE='en_US:en' LC_ALL='en_US.UTF-8'

#安装必要软件
RUN yum install -y tzdata openssl curl wget ca-certificates fontconfig gzip tar git \
    && yum update -y; yum clean all

#设置时区
ENV  TIME_ZONE Asia/Shanghai
RUN ln -sf /usr/share/zoneinfo/${TIME_ZONE} /etc/localtime

#安装ku

[2020-11-30 05:15] zhangtbj commented on #3399
Hi @sbwsg ,

Thanks for the info in doc: https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#unsuccessful-cred-copy-warning

And I would like to have a try to set `disable-creds-init` to "true", but it doesn't work for me, I can still see the warning:
[code]

I am using the Tekton `v0.17.1`, is it a new introduced flag or did I set something wrong?
[code]

Thanks!

[2020-11-30 11:18] #1281 closed

[2020-11-30 12:47] itewk commented on #3423
@rinckm thank you

[2020-11-30 13:25] vincent-pli opened #3568 "Any reason set "TaskRunResults" only when the "taskrun" succeed"
# Expected Behavior
Always set the `TaskRuResult` although the `Taskrun` failed.
Sometimes, the failed `task` want to deliver message by `result`
# Actual Behavior
Set `TaskRuResult` when `Taskrun` success

# Additional Info
See the code snippet:
https://github.com/tektoncd/pipeline/blob/4fdd018d4b54b5cbd44cf03fd1450ef727942e3e/pkg/pod/status.go#L162-L165
- Kubernetes version:

  **Output of `kube

[2020-11-30 14:13] piyush-garg opened #3569 "Default Podtemplate getting overriden with the pipelinerun and taskrun level podtemplate"
Right, now when you specify a default pod template and also specify pod template at pipelinerun/taskrun level. The default pod template is getting overridden by the one at the pipelinerun/taskrun level.

Is there any specific reason for it?

Is not doing the merge of both templates with giving precedence to one at taskrun/pipelinerun level be better so the user can reuse the default with some chan

[2020-11-30 14:35] bobcatfish commented on #3090
Note we have a start to a TEP about this in https://github.com/tektoncd/community/pull/232

[2020-11-30 15:13] sbwsg commented on #3568
We've discussed a bit here: https://github.com/tektoncd/pipeline/issues/3439

Personally I think that returning a failure message from a Task is a distinct use-case that shouldn't be a "result" but happy to discuss further!  I'm going to close this as a duplicate of #3439

[2020-11-30 15:13] #3568 closed

[2020-11-30 16:00] vdemeester commented on #3237
I am gonna go ahead and close this as it should be fixed. If it does not with 0.18, please comment here so we re-open it.
/close

[2020-11-30 16:00] #3237 closed

[2020-11-30 16:04] fabianmet commented on #3202
I ran into the same issue but fixed it by excluding the pipelinerun from argocd entirely. In my opinion dynamic resources like this should be ignored by ArgoCD completely.

Used below patch with kustomize to completely ignore the objects.

[code]

[2020-11-30 16:08] Yannig commented on #3237
No problem. I will try this asap.

[2020-11-30 16:58] pritidesai commented on #3075
/remove-lifecycle stale

[2020-11-30 17:01] pritidesai commented on #2844
/remove-lifecycle rotten
@RafaeLeal you still experiencing this issue?

[2020-11-30 17:14] bobcatfish commented on #2725
Hey @IdanAdar we had some back and forth on this in the TEP (https://github.com/tektoncd/community/pull/239) and ultimately have been leaning toward NOT adding this functionality for now - if you're able to take a look it would be great to get your take on this (just because the TEP PR is closed for now doesn't mean it has to stay that way)

[2020-11-30 17:57] sbwsg commented on #3399
@zhangtbj the feature flag was only added in 0.18.0 unfortunately :S

[2020-11-30 18:31] pritidesai commented on #3029
/remove-lifecycle rotten

@rlandesman you still experiencing this issue?

[2020-11-30 22:50] pritidesai commented on #3412
I was able to reproduce this on master:

[code]

[2020-11-30 23:00] pritidesai commented on #3412
It's because a `taskRun` is marked as running with Reason "CreateContainerConfigError":

https://github.com/tektoncd/pipeline/blob/ce564ca725beb455f268f86df76ccb5f100d2cba/pkg/pod/status.go#L294-L301

Should this kind of error marked as fatal and exit the pipelineRun?

[2020-11-30 23:12] pritidesai commented on #3412
Looks like we tried to fix it in the past with https://github.com/tektoncd/pipeline/commit/e5b2530c649452a07edebbbe6746150896316a4c#diff-1d8c8017631ff12ab411b4fba64245aa3706a8593d19580a3d421a2c96de2e18

[2020-11-30 23:16] pritidesai commented on #3412
Should this taskRun status be marked as `false` instead of `unknown`:

[code]

[2020-12-01 00:45] vincent-pli commented on #3439
@ekupershlak
Your case is exactly same as mine.
I need delivery something like error source, error message and some customized data to outer world when a `Pipelinerun` get failed. I think `TaskRunResult` is a good candidate, just watch the `Pipelinerun` and parse the `TaskRunResult`, then know the root cause and decide what to do next.

@pritidesai
I think the `result` consuming in `finally` can h

[2020-12-01 07:16] zhangtbj commented on #3399
I see, yes I tried the `v0.18.0` the feature flag works for me. Thanks!

[2020-12-01 09:26] vdemeester commented on #3569
/cc @tektoncd/core-maintainers

[2020-12-01 13:38] sbwsg commented on #3439
We're essentially describing Results that are only optionally populated (i.e. they only populate when there's an error).  Elsewhere we are proposing that a Task which doesn't emit a declared result should be an automatic failure: https://github.com/tektoncd/pipeline/issues/3497. We've proposed this because users should be able to depend on Task Results so that other Tasks in a Pipeline can use the

[2020-12-01 14:49] bobcatfish commented on #3439
Great discussion!!! Thanks @ekupershlak and @vincent-pli for going into detail about your use cases, this really helps.

I'm thinking 2 things:

1. Maybe we could nail down the problem statement a bit, e.g. in the form of a TEP? (https://github.com/tektoncd/community/tree/master/teps) The problem seems to be about understanding why a Task failed and we've generated a couple of alternatives in this

[2020-12-01 15:55] ekupershlak commented on #3439
@bobcatfish This sums up the bulk of the issue: I was building an operator that, as part of reconciliation, is managing Tekton tasks. I could definitely add logic to read logs, but I was trying to avoid the work (and needing to add the corresponding permissions).

I do think that there is room for error details to be distinct from logs. Tools can have noisy outputs (e.g. prompts for surveys), and

[2020-12-01 16:47] bobcatfish commented on #3548
@vdemeester maybe we can triage https://github.com/tektoncd/pipeline/issues/3163 and potentially have it as part of our v1 roadmap?

[2020-12-01 16:47] bobcatfish commented on #3163
/remove-lifecycle stale

i think we should find a way (if possible) to write our e2e tests such that the same test can be run for multiple API versions instead of having to duplicate the tests for each API

[2020-12-01 16:59] vdemeester commented on #3163
@bobcatfish I am not sure to entirely follow. `v1alpha1` is "frozen" in that, we don't update it anymore. I don't really see any easy way to write e2e tests that can run multiple API versions as there is *no* guarantee (especially with `v1alpha1`) that a type can be convert from on to another.

The "framework" of test can make it as simple as possible to write test (aka removing *any* noise) — htt

[2020-12-01 17:01] vdemeester commented on #3548
Except in " Migration path from v1beta1 to v1 " I don't see how it affects the `v1` API :thinking:.

[2020-12-01 17:44] pritidesai commented on #3439
@ekupershlak from the `pipelineRun` perspective, how are you capturing the task result (in your case failures)? in a pipeline result?

The reason I am asking is, we have a [feature](https://github.com/tektoncd/pipeline/issues/1020) being designed to access the `pipelineRun` metadata as a `json` payload from any other tasks. In your use case, you could access this in a `finally` task. Does this wor

[2020-12-01 18:21] jerop commented on #3323
@eddycharly could you please share more details about the errors/issues you're seeing, an example of the incorrect generated code would be great

[2020-12-01 19:38] dibyom commented on #3569
I'm not aware of the reason behind the current behavior

This sounds reasonable to me!

[2020-12-01 19:48] ekupershlak commented on #3439
@pritidesai I configured the tasks to emit results, but didn't specify any pipeline results. To get the value, I'm parsing `pipelineRun.Status.TaskRuns[].Status.Steps[].Terminated.Message`.

Regarding a `finally` task, is the idea that it would access error details, and use them to produce a result? If so, I think that would work.

For what it's worth, I don't feel strongly about how error details

[2020-12-01 21:20] bobcatfish commented on #3548
I think it's part of the migration path @vdemeester  - when we add v1, we'll have another API type to worry about having end to end tests for

[2020-12-01 22:29] erinz commented on #2986
+1, we need this feature too.

[2020-12-02 01:19] vincent-pli commented on #3439
@bobcatfish thanks for your summary. and thanks @sbwsg for clarification

One quick question about #3479 , I guess I like current behavior better: a task declare a `Result` but not emit. The Pipeline will failed if other task in that Pipeline depends on the Result, if no dependency, nothing happen.

I mean task 's `Result` could be used by other `tasks` in the same  pipeline, also could used by ou

[2020-12-02 03:27] zhangtbj commented on #2986
+1, I think it doesn't need to be an `explicit` setting in the Tekton resource definition.

But in a shared or complex Kubernetes environment, it is better to provide the capability to customize the settings by admin. Although some of the containers are created by Tekton but they also depend on the end user input may have some problem if just using default settings.

[2020-12-02 04:19] IdanAdar commented on #2725
If the community is not interested then OK. It only means we need to have our own internal counters making the tekton retry useless and it just work be used... because it's too limited.

[2020-12-02 15:29] #3498 closed

[2020-12-02 20:45] rlandesman commented on #3029
Not a huge issue for me atm, I think it's fair to remove this from priority until it comes up again

[2020-12-02 21:22] pritidesai commented on #3029
Closing this for now, we will revisit in future if needed.

[2020-12-02 21:22] #3029 closed

[2020-12-03 01:25] vincent-pli commented on #2433
Do we consider another solution of `Chekpoint` come from kubeflow: https://github.com/kubeflow/pipelines/tree/master/backend/src/cache

Basically, it's a Pod watcher and a Mutation webhook for Pod.
-  Watch pod which is complete and store the output to remote storage (mysql in kubeflow)
- Webhook will check a new created Pod if it have been run previously, if yes, retrieval previously output from

[2020-12-03 02:48] willzhang opened #3585 "offline install tekton"
## question
here is china, so you know i can't get tekton images.

but when i Attempts to pull the follow image speend a long time , i found it's not enough

[code]

when i run a task ,it will pull another images

[code]

is this options controll it

[code]

## Feature Request

i want a --private-registry=xxx/xxx options

and all images tekton need pull from that place.

[2020-12-03 02:56] willzhang commented on #3585
so many images that tekton dependent:
[code]
get from

[code]

[2020-12-03 06:36] vincent-pli opened #3586 "Status.TaskSpec should reset after params substitution"
### Feature request

The `Taskrun.Status.taskSpec` will be set as `Taskrun.Spec` when reconcile, seems for auditing.
I think it should be reset after the `Params` substitution, for auditing, with the real parameters will be more helpful.

current behavior
[code]

Expect behavior:
[code]
### Use case
Beside auditing, there is another use case, maybe not common:
I try to get a unique hash code based

[2020-12-03 06:44] savitaashture opened #3587 "[flaky] TestReconcile_FeatureFlags Unit test failed in pipeline nightly job"
# Expected Behavior
Pipeline nightly unit test passes

# Actual Behavior
Pipeline nightly unit test failed:
PipelineRun: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-fjmmj?pipelineTask=unit-tests&step=unit-test

Failure:
Testcase: TestReconcile_FeatureFlags/disable-home-env-overwrite

[code]

# Additional Info
Test passed locally
Tried on minik

[2020-12-03 06:52] savitaashture commented on #3587
/kind flake

[2020-12-03 07:04] savitaashture commented on #3587
Cannot reproduce the issue locally
Will keep an eye closely for few days if it doesn't reproduce on nightly will close it

[2020-12-03 08:12] vvvsrx opened #3588 "How to modify the Hostname in Task"
My program needs to use hostname to perform different functions, how can I modify it?

[2020-12-03 13:49] vdemeester commented on #3569
There is actually 2 ways of merging :
1. A default `PodTemplate` and a `PodTemplate` on a Run object with different field(s) set — e.g `NodeSelector` on the default, and `Volumes`on the Run `PodTemplate` to give a final `PodTemplate` with both `NodeSelector` and `Volumes` set
2. A default `PodTemplate` and a `PodTemplate` on a Run object with the same field(s) set — e.g. `NodeSelector` on both, wh

[2020-12-03 14:03] sbwsg commented on #3569
Sorry to be a pain but...

- Why do we want to do this?
- For whom is this a problem, and why?
- If a user is relying on the current behaviour where one template entirely overrides the template of another, are we now breaking them?  (And do we care?)

[2020-12-03 14:56] mattmoor opened #3590 "Support for params with `.`s"
# Expected Behavior

A way to use params with `.`s

# Actual Behavior

No way to reference params with `.`s

# Steps to Reproduce the Problem

[code]

# Additional Info

I tested this against `github.com/mattmoor/mink`, so it may be a latent downstream bug, but I've got the validation wired up, so I was surprised this was accepted if it doesn't work.

[2020-12-03 15:01] mattmoor commented on #3590
_Another take on this is "validation hole!", but let me explain **why** I want domain-style parameter names..._

more to come.

[2020-12-03 15:07] vdemeester commented on #3569
@sbwsg there is a bunch of use cases. Support for proxy is one of them, but others like allowing the cluster admin to set some `NodeSelector` that should be taken into account even when the user uses `podTemplate` (to add a volume for example or an imagePullRequest).

I think the main problem I see (aside from proxy env support) is a use-case similar to the following:

The cluster admin (responsib

[2020-12-03 15:14] sbwsg commented on #3569
Nice, thanks @vdemeester your example makes sense to me.  So would we want this to be feature-flagged initially with a view to making it the default behaviour for v1?

[2020-12-03 15:16] sbwsg commented on #3587
Looking at the logs for the test we see that, first, the configmap store does report that the feature flags were updated correctly:

[code]

This log line comes from https://github.com/tektoncd/pipeline/blob/d702ca1cef1d156887e9306dd3739690b0ceb599/vendor/knative.dev/pkg/configmap/store.go#L154 which is executed on a line just before an atomic `Store` operation is performed with the updated data.

[2020-12-03 15:35] vdemeester commented on #3569
This is something to discuss, but naively I would say yes :upside_down_face:

[2020-12-03 15:44] bitsofinfo commented on #3468
Also the default behavior of:

`If all the WhenExpressions evaluate to True`

Needs any option to toggle the behavior to be:

`If ANY of the WhenExpressions evaluate to True`

I have this scenario where I have multiple spawned task, and if any one of them fails, I need something else to run.

[2020-12-03 15:54] sbwsg commented on #3587
@bobcatfish described a similar-sounding problem and potential resolution in https://github.com/tektoncd/pipeline/issues/2815#issuecomment-733207368

[2020-12-03 16:18] bitsofinfo opened #3591 "WhenExpressions: support ANY match behavior"
### Feature request

The default behavior of:

`If ALL the WhenExpressions evaluate to True`

Needs a simple option to toggle the behavior to be:

`If ANY of the WhenExpressions evaluate to True`

### Use case

I have a scenario where I have N spawned tasks, and if any ONE of their results have a particular value, I need something else to run.

[2020-12-03 16:19] bitsofinfo commented on #3468
https://github.com/tektoncd/pipeline/issues/3591

[2020-12-03 16:54] jerop commented on #3591
@bitsofinfo if possible, could you please share more specifics of this use case? it'd help to have an example of what the N tasks are doing and what the something else to run is

[2020-12-03 16:56] bitsofinfo commented on #3591
pipeline kicks off 3 parallel deployments, if any one of them fails, they all have to get rolled back

[2020-12-03 18:26] jerop commented on #3591
thank you @bitsofinfo!

assuming that success/failure is indicated by a result, instead of task failure (that'd cause the pipeline to fail), can this use case be solved by checking that the failure status is in an array of the results from the tasks?

[code]

[2020-12-03 19:53] bitsofinfo commented on #3591
thanks

Each of my `deploy` tasks outputs a result called `last-exit-code` and any code other than `0` is a failure. (i.e. 0=success, !=0 is failure)

so... i think this might work, w/ the current ALL behavior
[code]

will go try this. still, any behavior would be a nice option.

[2020-12-03 21:10] GregDritschler opened #3592 "Custom Tasks: Disallow use of Conditions"
### Feature request

This is a follow-on to #3463.

Pipeline tasks that run custom tasks should not be allowed to also use Conditions.  Conditions are deprecated and replaced by `when`.  It does not make sense to invest in making Conditions work with Run.

### Use case

This is needed to complete the work for https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md

[2020-12-03 21:12] GregDritschler commented on #3592
I will work on this after #3463 is merged.

[2020-12-03 21:14] jerop commented on #3591
nice! glad you have a solution to the use case 😃

having the `values` field as an array can be used to represent the `any` logic, however we can revisit supporting `any` if we get other ci/cd use cases that can't be solved otherwise

[2020-12-03 21:16] GregDritschler opened #3593 "Custom Tasks: Allow use of workspaces"
### Feature request

This is a follow-on to #3463.

Custom tasks currently cannot be passed workspaces.  This may limit their usefulness since workspaces are a common way for sharing information.

### Use case

This is needed to complete the work for https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md

[2020-12-03 21:16] GregDritschler commented on #3593
I will work on this after #3463 is merged.

[2020-12-03 21:18] GregDritschler opened #3594 "Custom Tasks: Allow use of service accounts"
### Feature request

This is a follow-on to #3463.

Custom tasks currently cannot be passed service accounts. This may limit their usefulness since service accounts are a common way for sharing credentials.

### Use case

This is needed to complete the work for https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md

[2020-12-03 21:18] GregDritschler commented on #3594
I will work on this after #3463 is merged.

[2020-12-03 21:21] GregDritschler opened #3595 "Custom Tasks: Support Pipeline Results"
### Feature request

This is a follow-on to #3463.

It should be possible for pipeline results to refer to results produced by custom tasks.  This was originally included in #3463 but it was removed because the code is being refactored by #3472.

### Use case

This is needed to complete the work for https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md

[2020-12-03 21:22] GregDritschler commented on #3595
I will work on this after #3463 and #3472 are merged.

[2020-12-03 21:29] GregDritschler opened #3596 "Custom Tasks: Move all Run-related Go types to pkg/apis/run"
### Feature request

This is a follow-on to #3463.  That PR created a new package `pkg/apis/run/v1alpha1` to solve circular dependency issues between `pkg/apis/pipeline/v1alpha1` and `pkg/apis/pipeline/v1beta1`.  Only RunStatus was moved to the new package because moving the other Run-related types required a fair amount of refactoring to other Tekton types.

### Use case

This affects consumers o

[2020-12-03 21:30] GregDritschler commented on #3596
I will work on this after #3463 is merged.

[2020-12-03 21:36] bitsofinfo commented on #3591
thx!

[2020-12-04 08:31] tom20180101 opened #3598 "How to use different passwords in taskrun or pipeline"
When I was writing taskrun and pipelinerun, the password of my gitlab was different from the password of harbor. I don't know how to use it. I only saw that gitlab and docker used the same password in the document. Does anyone know how to use it, can you give me an example, thanks a lot

[2020-12-04 14:47] sbwsg commented on #3598
Hi @tom20180101, I don't have enough context to answer your question yet.

Could you clarify what you are using?  It it a Catalog Task?  Which one?  What does your TaskRun YAML look like?

Which document are you referring to and where in that document does it describe using passwords?

- What platform are you running on?  (bare metal? minikube? gke? openshift?  eks?  aks?)
- What version of Tekton

[2020-12-04 15:14] bitsofinfo commented on #3591
actually... @jerop realizing that unfortunately this still wont work

example:

deploy-1 succeeds, last-exit-code = 0
deploy-2 succeeds, last-exit-code = 0
deploy-3 fails, last-exit-code = 1
deploy-4 fails, last-exit-code = 99

Will not pass as 0 is in the list
[code]

... and I can't do the inverse because the "input" is not necessarily known, the exit code could be anything !=0
[code]

[2020-12-04 16:29] sbwsg commented on #3588
/kind question

Could you go into a bit more detail about your specific use-case?  It will help us to decide if this is something Tekton needs to explicitly support or not.

Do you already manage to do this in regular old Kubernetes Pods?  If so, how are you doing it?

[2020-12-04 16:50] jerop commented on #3591
is using last exit code as a result a workaround to avoid your pipeline failing or is it something you actually want?

if it's a workaround, maybe the setup we need for this use case is that:
- the deploy tasks are dag tasks that are allowed to fail (don't have exit code results)
- the rollback task is a finally task that's guarded using when expressions that operate on the execution status of the

[2020-12-04 17:13] bitsofinfo commented on #3591
I write `last-exit-code` and then analyze it to make decisions because various things have different failure reasons. It's something I actually want to be able to do vs hard failing the actual worker tasks themselves.

in any case, all I'm asking for is an "ANY" option for WhenExpressions. Would be simple to add. I'm just an advocate for making it as flexible as possible for the end-user, vs chang

[2020-12-04 18:02] jerop commented on #3591
we want to add features only when they're absolutely necessary that's why we need to find use cases that can't be solved or that are challenging to solve, further described in [the simplicity section of the design principles ](https://github.com/tektoncd/community/blob/master/design-principles.md)

i also think that adding is `ANY` is [easy but not simple](https://www.infoq.com/presentations/Simpl

[2020-12-04 18:17] Yannig commented on #3206
Well, I don't know if you know it but the issue is still there with 0.18.1. I get the same kind of spam over and over until I remove the finally statement on my pipeline.

[2020-12-04 18:19] Yannig commented on #3237
I was able to deploy the 0.18.1 and the issue seems to be gone.

Thanks for the hard work!

[2020-12-04 18:56] Yannig commented on #3206
In order to correct the problem, I made the modification suggested by @freefood89. If it helps anyone, it's a matter of making the following change in the tekton manifest:

[code]

[2020-12-04 18:59] mattmoor opened #3600 "pipeline expansion of array params seems broken"
# Expected Behavior

This should expand the array value:
[code]

# Actual Behavior

It passes the unresolved parameter string 😞

# Steps to Reproduce the Problem

I reduced the following repro.  You can `kubectl apply` this:

[code]

Then you can `kubectl create` this:
[code]

This yields:
[code]

[2020-12-04 19:01] mattmoor commented on #3600
It's notable that the task runs fine when the parameters are actually supplied, it's just the pipeline resolution piece that's failing.

[2020-12-04 19:13] pritidesai commented on #2800
/assign

I will start writing TEP for @skaegi's use case.

[2020-12-04 19:58] pritidesai commented on #3206
thanks @Yannig appreciate the workaround, but wouldn't work for folks using `v1alpha1` resources along with `v1beta1`.

@vdemeester any updates on this one? will this be magically fixed in 0.19? 🤞

[2020-12-05 06:32] #3588 closed

[2020-12-05 07:12] vvvsrx opened #3602 "Dynamically generate Task"
### Feature request

Is it possible to achieve the same dynamic task generation function as Jenkins pipeline

### Use case

This is my Jenkins pipeline code, I found that Tekton seems unable to do the same thing

[code]

[2020-12-06 11:22] zeromsi opened #3604 "Failed to pull kaniko image from private repo"
Service account

[code]
Task
[code]

Task

[code]

[2020-12-06 11:32] zeromsi commented on #3604
The error is like following,

[code]

[2020-12-07 01:40] tom20180101 commented on #3598
sorry，i use kubernetes 1.18.8  and pipelines version is  v0.18.1  . maybe i'm not clear，let me explain. i have a gitlab and  harbor，they all have to be authenticated to login, and their login account and password are different.  if i want clone code from gitlab , make mirror ,push image to harbor in same pipelinerun or taskrun , i must login, but i don't know how to achieve it in the same pipeline

[2020-12-07 05:15] zhangtbj commented on #3561
Here is any update from our another team: try to label selector for the context, so the upstream component can define the ctx with label setting by using `TweakFilterOption`:
https://github.com/knative/serving/issues/10098#issuecomment-738553604

This is the PR: https://github.com/knative/pkg/pull/1940

cc @afrittoli

[2020-12-07 06:57] vincent-pli commented on #3586
@vdemeester @ImJasonH @bobcatfish
any comments?

[2020-12-07 07:12] ImJasonH commented on #3586
I think when I'm interested in auditing I actually expect to see what the original task spec was, verbatim. That means not having any modifications made from the original spec, like having placeholder strings replaced. I'm curious what others expect the behavior to be here.

[2020-12-07 07:43] vdemeester commented on #3586
I would expect the same as @ImJasonH there.

[2020-12-07 08:26] vdemeester commented on #3206
@Yannig this would remove support for `v1alpha1` though (as it wouldn't be served anymore…).
I don't see any reason why it would be magically fixed in 0.19 :sweat:

[2020-12-07 09:41] vdemeester commented on #3604
/kind bug
Sounds like the controller didn't take into account the imagePullSecret from the attached service account.

[2020-12-07 09:44] vdemeester commented on #3604
My guess is that it *only* looks into the `podTemplate` imagePullSecret (https://github.com/tektoncd/pipeline/blob/ab723e9e79d358b6397cc62a199ba4c489ee3480/docs/podtemplates.md)

[2020-12-07 09:54] vdemeester commented on #3133
#3463 has been merged, should we close this ?

[2020-12-07 11:11] qu1queee commented on #3561
@vdemeester @afrittoli any opinions on this issue?

[2020-12-07 12:32] vincent-pli commented on #3586
Fine, so if I want to calculate a unique hash code for a `taskrun`, what character do you suggest?
BTW, a  original task spec without `params` replaced, user can get these information direct from `spec`.
@vdemeester @ImJasonH

[2020-12-07 12:48] vdemeester commented on #2994
/remove-lifecycle rotten

[2020-12-07 13:11] ImJasonH commented on #3586
I'd say it depends a lot on what you're trying to accomplish. Could you just use the .metadata.uid? Or are you comparing for equality, minus param(/result) values, to deduplicate?

[2020-12-07 13:37] vdemeester commented on #3384
0.18 has been release for a little bit more than a month, and it should have been done with 0.15, so I'll go ahead and close that issue. If it still happens, please comment so that we re-open and investigate. Cheers

[2020-12-07 13:37] #3384 closed

[2020-12-07 13:39] vdemeester commented on #3367
@xiujuan95 let me close this then. Please comment if there is anything to do still.

[2020-12-07 13:39] #3367 closed

[2020-12-07 13:40] vdemeester commented on #3335
Note, this happens for GKE too :sweat_smile: on our CI when updating to knative 0.19 (https://github.com/tektoncd/pipeline/pull/3605)

[2020-12-07 13:44] vdemeester commented on #3335
Question is then :
- Should we override this env var in our deployment with the `-0` to make sure it works ?
- Should we "try" to fix that upstream as seems like it is gonna happen for all cloud provider ? cc @mattmoor @markusthoemmes @vagababov

[2020-12-07 13:48] GregDritschler commented on #3600
@mattmoor What level of Tekton are you running?  I tried to reproduce this on current master and it worked fine.  There was a previous issue like this (#3307) but it was fixed quite a while ago and didn't escape into a release as far as I know.

[2020-12-07 13:48] markusthoemmes commented on #3335
@vdemeester We have since added a more informative log in these cases, but yeah, it sounds like it would be useful to just ignore the pre-version part as it feels kinda unintuitive and I can't think of a case where ignoring it would actually do the wrong thing.

[2020-12-07 13:56] vdemeester commented on #3335
Yeah that's more or less what I think — mainly because if all user of `knative.dev/pkg/version` need to override the env var to get it work correctly on each cloud provider, I think we should just ignore the pre-version part. I also don't see where it would do the wrong thing :)

[2020-12-07 14:00] #3592 closed

[2020-12-07 14:13] AnyISalIn opened #3606 "Customizable PipelineResource S3 endpoint"
### Feature request

Tekton Pipeline uses `boto` to configuration s3 access, but `boto` config file can't config support custom endpoints for s3 compatible storage such as Minio and alibaba cos.

### Use case

Maybe we can use `tekton.dev/artifact_endpoint` and `tekton.dev/artifact_endpoint_scheme` to configure the `copy-to-artifacts` step

[KFP Tekton](https://github.com/kubeflow/kfp-tekton/pull/

[2020-12-07 14:37] vdemeester commented on #3335
Would be fixed by https://github.com/knative/pkg/pull/1944 (@markusthoemmes :heart:)

[2020-12-07 14:50] mattmoor commented on #3600
I track HEAD pretty closely.

Y'know I'll give it another shot today, but I think I may have just assumed `$(params.foo.bar.baz)` wouldn't work, so I may have skipped trying it. 😅  I assume that's what you are doing?

I'll try to circle back to this today.

[2020-12-07 15:04] vdemeester commented on #3335
:tada:
This will be automatically fix when we bump to release-0.20 of knative/pkg, so probably in 0.20.

[2020-12-07 15:44] yaoxiaoqi commented on #2842
Hi all that might be interested in, I wrote a TEP https://github.com/tektoncd/community/pull/286 on this issue. It has integrated some thoughts from your comments. Love to hear your feedback!

[2020-12-07 16:59] Yannig commented on #3206
I did some experiments today and this modification is not compatible when you deploy the trigger (last version v0.10.1).

Now I think this is this component that try to convert every objects in v1alpha1 triggering this log activity.

[2020-12-07 17:11] vdemeester commented on #3206
cc @dibyom @khrm is triggers still using `v1alpha1` API ? :thinking:

[2020-12-07 17:57] dibyom commented on #3206
The pipelines v1alpha1 API? Users can create resources with [that APIVersion](https://github.com/tektoncd/triggers/tree/master/examples/v1alpha1-task) but they don't have to. As far as I know, there shouldn't be a direct dependency on the v1alpha1 API (we use a dynamic client).

[2020-12-07 18:51] mattmoor commented on #3600
Hmm, I totally thought I was commenting on a different issue (thus the `params.foo.bar.baz`) 🤣

Let me update my install just to make sure I'm running a version that is unafflicted.

[2020-12-07 19:05] mattmoor commented on #3600
Looks like my cluster may have just been running that old buggy version.  sorry for the noise!

[2020-12-07 19:05] #3600 closed

[2020-12-07 20:01] bobcatfish commented on #2994
These seems similar to https://github.com/tektoncd/pipeline/issues/3563 in that it's a question of whether or not we should add PVC specific behavior that differs from the k8s paradigm.

Since this issue went rotten and the discussion was pointing out that this is the standard k8s behavior (and the same question applies to other types like configmaps as @GregDritschler pointed out), I'm inclined t

[2020-12-07 20:53] afrittoli opened #3607 "Disallow pipeline status updates after completion time and condition are set"
# Expected Behavior

Pipeline run results and status are fixed once the completion time and the condition are set.

# Actual Behavior

Today we have a branch in that pipeline run controller code that runs when a pipeline run `isDone`, which will:
- update the pipeline status from the taskrun status
- set pipeline run results
- emit metrics

We should stop doing that, and use the completion time /

[2020-12-07 21:24] coryrc commented on #3206
I don't have triggers installed but am getting these messages.

[2020-12-08 03:08] zhangtbj commented on #2842
Thanks for the quick action @yaoxiaoqi !

We will also review that TEP later soon.

Thanks!

[2020-12-08 04:50] yaoxiaoqi opened #3608 "Metrics `podLatency` always seems to be 0"
# Expected Behavior
podLatency is supposed to report the pod creation->start latency, which should not be 0 almost every time.
# Actual Behavior
Currently, podLatency calculates the duration between pod creation time and pod scheduled time, which means if your k8s cluster is not busy enough it would be zero most times. I started 25 taskrun at the same time and none of them has non-zero podLatency.

[2020-12-08 08:02] Hokwang opened #3609 "after install webhook error x509: certificate signed by unknown authority"
Hi,

I have on-premise kubernetes cluster install using kubeadm.
For install tekton, in master server, I did
[code]

I think pretty easy to install and there's no problem..
[code]

and then, following your doc, change artifact-pvc, but here's error.
[code]

I am behind the corporate proxy so my env has `http_proxy`, `https_proxy`, `no_proxy`.

# Additional Info
- Kubernetes version:
  **Output of

[2020-12-08 08:28] yaoxiaoqi commented on #3608
/assign yaoxiaoqi

[2020-12-08 13:40] vdemeester commented on #2994
I am not sure I fully agree on this. This issue is about what should we do in case of PVC not being ready at the time we try to create TaskRun/PipelineRun. Right now, we say we are *pending* because it might be available at some point in the future. **But** we never reconcile again (aka if it is available), so we always end-up timing out (after 1h or more).

From a user perspective, I would either

[2020-12-08 13:49] sbwsg commented on #2994
OH.  That sounds like a bug I 100% agree.  I thought we've only been discussing the messages when a PVC isn't available; i definitely did not understand that this was also an issue describing a bug where the reconcile doesn't occur again!

[2020-12-08 14:12] jlpettersson commented on #2994
I don't think we should fail directly, as this is asynchronous (e.g. how Kubernetes works). This problem is very similar to https://github.com/tektoncd/pipeline/issues/3378

[2020-12-08 14:24] bobcatfish commented on #2994
Ah kk thanks for explaining that extra detail @vdemeester I agree this is a bug.

I agree, I think we might want to subscribe to updates on the PVC if we can - does anyone know which part of the tekton code requires the PVC to exist?

[2020-12-08 14:25] GregDritschler commented on #2994
This is news to me as well.  I just tried it again and when the missing PVC is created and bound to a PV, the pod runs and the
TaskRun completes exactly as one would expect.

It is true that if the PVC is never created that the pipelinerun will timeout.  Again that is what one would expect.

What is the scenario where the pipelinerun does not continue when the PVC is created and bound?  I have not

[2020-12-08 14:37] jlpettersson commented on #2994
a TaskRun could hold-on to create a Pod until the PVC exists, perhaps? When creating a Pod from a TaskRun we know if a PVC is passed or not.

[2020-12-08 16:01] sbwsg commented on #2994
I'm a bit confused.  I feel like there are two different conversations happening at once here:

1. There is apparently a bug in Tekton where a reconcile does not happen even when a PVC is created and bound successfully after the TaskRun is created.  I cannot reproduce this using a simple TaskRun + pvc combo in Minikube.  Definitely need more input here on specifically how to repro @vdemeester .

2

[2020-12-08 16:09] sbwsg commented on #3183
/remove-lifecycle stale
/lifecycle frozen

/kind feature
/remove-kind bug

[2020-12-08 17:39] pritidesai opened #3610 "simplify and refactor runNextSchedulableTask"
`runNextSchedulableTask` is complex and has too many responsibilities, including:

* deciding what to execute next
* resolving references
* actually executing

From @bobcatfish "those feel like at least 3 distinct responsibilities. i think if we get a chance it would be great to detangle this a bit."

Refactor this single function and add unit test.

/kind cleanup

[2020-12-08 20:41] bobcatfish opened #3612 "dropNetworking function doesn't compile when building Tekton release"
In https://github.com/tektoncd/pipeline/pull/3582 we added a function that has this code:

[code]

Unfortunately the value for size is too big for some systems! I guess that the machines we build on must use int32 instead of int64? Not sure exactly but long story short @jerop and I tried to make a release today and when ko ran it errored with:

[code]

I'm gonna revert this for now until we can fi

[2020-12-08 23:03] pritidesai commented on #3499
Just to be clear, this validation is also needed for a task result reference in a PipelineTask in addition to pipeline results.

We have `tasks` section validation making sure referenced task exist but not validating the result reference is defined in the task's result section.

[2020-12-09 00:29] dlorenc commented on #3612
Do you know how this ran? What cluster/task was it in? I'm trying to repro now.

[2020-12-09 01:08] jerop commented on #3612
- it was run in tekton releases dogfooding cluster
- the pipeline was [pipeline-release](https://github.com/tektoncd/pipeline/blob/v0.18.1/tekton/release-pipeline.yaml)
- the task was [publish-tekton-pipelines](https://github.com/tektoncd/pipeline/blob/v0.18.1/tekton/publish.yaml)
- the step was [run-ko](https://github.com/tektoncd/pipeline/blob/v0.18.1/tekton/publish.yaml#L86-L141)

[2020-12-09 01:34] dlorenc commented on #3612
Thanks! It looks like this happens because we're cross compiling for 32-bit architectures. We don't currently build that in pre-submit tests. I think that would have to go somewhere in here:
 https://github.com/tektoncd/pipeline/blob/master/vendor/github.com/tektoncd/plumbing/scripts/presubmit-tests.sh#L200

[2020-12-09 05:04] Hokwang commented on #3609
I found more log in kube-apiserver log.

I have HA configed cluster. ( 3 master)

[code]

[2020-12-09 07:18] wwu-cx opened #3617 "Duplicate 'pipelinerun.successful' cloudevent in v0.18.1"
# Expected Behavior

A single 'dev.tekton.event.pipelinerun.successful.v1' event after a successfull pipelinerun.

# Actual Behavior

Sometimes, duplicate events are being sent out:

[code]
[code]

in the logs of tekton-pipelines-controller, I see:

[code]

# Steps to Reproduce the Problem

1. Create a Listener for the CloudEvents
2. Filter for header.match('ce-type', 'dev.tekton.event.pipelinerun

[2020-12-09 09:12] LiYa-Xu opened #3618 "E2E test cases failed due to `Failed to get ConfigMap `feature-flags`: configmaps "feature-flags" not found` `"
# Expected Behavior
`TestTektonBundlesSimpleWorkingExample/TestTektonBundlesUsingRegularImage/TestTektonBundlesUsingImproperFormat` e2e test case pass
# Actual Behavior
The e2e test case `TestTektonBundlesSimpleWorkingExample/TestTektonBundlesUsingRegularImage/TestTektonBundlesUsingImproperFormat` failed due to the error `tektonbundles_test.go:524: Failed to get ConfigMap `feature-flags`: configma

[2020-12-09 10:05] #3618 closed

[2020-12-09 11:57] Hokwang opened #3619 "imagePullSecrets error (doc or code)"
Hi,

Sorry this may be a question.

I install tekton pipeline and dashboard today.

install using `kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml` command

and edit default config following your guide,
because of dockerhub pull rate limit, I need to set `imagePullSecrets`

Here's some problem.

[code]

and following basic tutorial,
[code]

[cod

[2020-12-09 13:15] afrittoli commented on #3335
We agreed on the WG to decrease the priority of this item because there is a workaround available now.
The fix will be available in the next release.

[2020-12-09 17:03] afrittoli commented on #3619
Thanks for the report; and thank you for taking the time for tracking down the issue and reporting it ^_^

`imagePullsSecrets` is a list and should indeed have the trailing `s`, the documentation has to be fixed.
The lower case `i` is fine as it is though - while the go name is `ImagePullsSecrets`, the json mapping has a lower case `i` (which is the norm):
https://github.com/tektoncd/pipeline/blob

[2020-12-09 17:33] afrittoli commented on #3617
Hello @wwu-cx , thank you for your report.

We do not guarantee unique events in Tekton - because of how the reconcile logic works and of the use of informers, it may be that events are sent twice.

For instance, if the last two task runs complete execution at a similar time, both will trigger a reconcile on the pipeline run.
Both reconcile cycles will run one shortly after the other, so the secon

[2020-12-09 22:55] dibyom commented on #999
/remove-lifecycle-rotten
/lifecycle frozen

This is a pretty important use case to solve regardless of whether the actual solution is within the pipelines repo or not!

[2020-12-10 00:26] Hokwang commented on #3619
@afrittoli Hi, Thanks for your fix. I saw your doc fix.
but I think there's still problem.
working solution is
[code]
not small i, isn't it?

[2020-12-10 06:27] wwu-cx commented on #3617
Thank you, @afrittoli for your explanation.

My use case is simple.. To trigger a postprocessing Pipeline after the Build.

 The Reason I was not using a finally task for that was that our build contains a lot of optional steps and determining the success or failure of the PipelineRun was not easy (there is no status field, but that's another story..)

Our Plan B to guarantee uniqueness involves u

[2020-12-10 09:45] vdemeester commented on #999
Agreed, but I really think this is probably something that make sense for triggers and other component that have a _direct_ connection to GitHub, … But this can be discussed 😉

[2020-12-10 10:36] abudavis opened #3623 "Openshift Pipeline 1.2.1 issue type: 'Warning' reason: 'InternalError' 1 error occurred:\n\t* resource name may not be empty\n\n"}"
We are running OpenShift Pipelines 1.2.1 (Tekton) on Openshift 4.6.5 and are facing this error when starting a Pipeline.
Please help.

[code]

[2020-12-10 12:15] namloc2001 opened #3625 "pipelineRun serviceAccount not restricting securityContexts on OpenShift"
# Expected Behavior
I expect the serviceAccount associated with the pipelineRun to have SCC controls applied to it. If it is a new serviceAccount (or any serviceAccount that hasn't been explicitly granted alignment to other SCCs elsewhere), I expect these to be in line with the restricted SCC.

# Actual Behavior
I am deploying a pipelineRun script via `oc create -f pipeline-run.yaml` after having

[2020-12-10 13:56] NavidZ opened #3626 "Moving image entrypoint lookup to the TaskRun pod rather than Tekton Controller"
Currently Tekton controller pod has access to all service accounts and will do entry point lookup using [containerregistry](https://github.com/google/go-containerregistry) for the images that don't have any command specified for them. This potentially might cause issues (e.g. [1](https://groups.google.com/a/google.com/g/tekton-discuss/c/Sg8wHi8-BNM/m/mvNDqG6iAwAJ), [2](https://github.com/tektoncd/

[2020-12-10 13:57] NavidZ commented on #3626
@mattmoor @ImJasonH

[2020-12-10 14:09] vdemeester commented on #3626
@NavidZ I wonder if " if there is any failure in entry. point fetching we would only find out when the whole TaskRun pod is scheduled and started running as oppose to today that Tekton Controller will find out about that and return error right away" is such a caveat but indeed, it would fail the pipeline or task later on, *but*, might be easier to understand why.

Doing this from the entrypoint, m

[2020-12-10 14:21] NavidZ commented on #3626
This certainly was something I had in mind as well. Although I couldn't find any API in K8s exposing it right now but we can either find a hacky way (or maybe future API) to just query K8s instead of the registry.

[2020-12-10 15:31] afrittoli commented on #3617
[TEP-0028](https://github.com/tektoncd/community/blob/master/teps/0028-task-execution-status-at-runtime.md) should help once it's implemented (@pritidesai ).

Thanks for your suggestion. Unfortunately storing them in the pipeline run status would suffer from the same stale informer cache issue. One way could be to send the event on the next reconcile cycle, and at the same time write the info abou

[2020-12-10 15:54] mattmoor commented on #3626
Yeah, I've debated something similar for our digest resolution logic, but I worry that this will add prohibitive cost to task startup latency in the common case.  One option I've been considering is creating a CRD abstraction to handle this resolution built around the `foo.class` extensibility model.

The basic idea would be to have a CRD like:

[code]

The schema would be the same across implemen

[2020-12-10 16:39] NavidZ commented on #3626
Why is this? I mean if there is something to be done (say when the command is not mentioned and Tekton Controller needs to do that) the action is being done and the time is consumed before TaskRun startup. So we are just moving it from Tekton Controller to right before running the actual TaskRun steps. So I don't see how it would affect the startup latency time (if you refer to the time between wh

[2020-12-10 16:39] barthy1 opened #3627 "e2e TestGitPipelineRun test fails on newly installed pipeline"
# Expected Behavior
`TestGitPipelineRun` test should pass

# Actual Behavior
`TestGitPipelineRun` test fails because of timeout. Corresponding taskrun is created but no pod is started.
Usually second attempt is successful.

[code]

# Steps to Reproduce the Problem

1. Install k8s cluster using `kind`
2. Install nightly pipeline build
[code]
3. Run the test just after pipeline is installed
[code]
4

[2020-12-10 17:15] mattmoor commented on #3626
I actually misread this (my brain plugged in the alternative I was really considering) as booting a pod to let the kubelet fetch the image, and extract the digest we need from status.  I'll also blame it on not having enough ☕  yet 😉

For performing the lookup in the entrypoint itself, the container running as the SA doesn't necessarily have the same access as the kubelet (`imagePullSecrets` vs. `

[2020-12-10 17:45] namloc2001 commented on #3625
**Update:** it would appear that my user is influencing the SCC being used as the `anyuid` SCC is being prioritised over `restricted` SCC as, in line with what is explained here:

(https://docs.openshift.com/container-platform/3.6/architecture/additional_concepts/authorization.html#scc-prioritization)

I've never encountered this before because I have always created deployments which create pods f

[2020-12-10 17:45] NavidZ commented on #3626
This is kind of along the same idea that @vdemeester mentioned earlier. So if we can indeed get all the information from the fetched image by kubelet we are all set and no need to do another round trip to the registry and that would be fantastic. But this needs more investigation of what's available and what we can do.

I remember @ImJasonH brought up this point regarding user specified images wit

[2020-12-10 18:19] vdemeester commented on #3089
@sbwsg @VeereshAradhya should we close this one ?

[2020-12-10 18:40] gabemontero commented on #3625
Hey @namloc2001

Upstream tekton would never employ such openshift/SCC correlations

That said, you ought to engage the openshift pipelines team downstream (we have the same set of folks working both upstream in https://github.com/tektoncd as well as downstream in openshift pipelines.

Reopen this issue at https://github.com/openshift/tektoncd-pipeline-operator and we can explore these type of int

[2020-12-10 18:41] gabemontero commented on #3625
fwiw I would close this out in favor of a https://github.com/openshift/tektoncd-pipelines-operator issue, but don't have permission to do so

[2020-12-10 19:13] pritidesai commented on #3617
on that note, the implementation PR is ready for review https://github.com/tektoncd/pipeline/pull/3390 😉

@wwu-cx please give it a try to accessing execution status in finally and feel free share its limitations if you find any. Also, would love to hear your use cases or expectations from pipeline.

[2020-12-10 20:21] moto-timo commented on #1198
I would like to see a kustomize package be available.

[2020-12-11 08:49] vdemeester commented on #3625
Actually, this would work in `tektoncd/operator` too now, because we have some platform specific pieces there (for openshift, …)

[2020-12-11 09:35] namloc2001 commented on #3625
@gabemontero @vdemeester happy to reopen this at https://github.com/openshift/tektoncd-pipeline-operator but will this not also impact K8s as the relationship between deployment creating pod and user creating the pod is surely subject to the same implications regarding PSPs (and SCCs in OpenShift)?

[2020-12-11 13:24] gabemontero commented on #3625
Maybe .... yeah let's leave this open for now then here, and as we study the scenario further, if we can translate what you said back to more precise PSP terms, we can see.

But remember, both the current SCC and PSP contracts are "if either requesting user or SA has permissions, it is allowed".

So I suspect to employ policy such that only the SA's permissions count translates into either baked i

[2020-12-11 14:20] ImJasonH commented on #3626
If the user specifies a digest, we'll use it, and only fetch the image in the kubelet. If they don't specify a digest, the controller can _attempt_ a lookup as today, and if that fails due to auth we can fallback to fetching from the kubelet and at least populating the digest we fetched in the status. If you care about reproducibility, you need to specify images by digest, that's not really even n

[2020-12-11 14:36] mattmoor commented on #3626
I'd either keep or drop this.  Half measures will lead to inconsistent experiences and feels like an extra moving part worth avoiding.  I don't envy explaining this to users 😉

Do you have a specific API in mind for this?  Talking to host processes like the kubelet sounds like a privileged action (maybe even worse than what this issue is replacing, and in a user vs. system context feels like a dou

[2020-12-11 14:49] ImJasonH commented on #3626
Yep! I definitely was :)

This definitely means we should try to find a way to query the kubelet or underlying runtime for the image's command, and yeah, there might not be a good secure unprivileged way to do that... 🤔

[2020-12-11 15:10] mattmoor commented on #3626
Everyone does.  I spent so many years of my life teaching folks about this because everyone thinks it is a registry bug.  "Something something eventual consistency."  If I could change one thing in K8s, it might be to replace `imagePullPolicy` with requiring client-side digest resolution.  `</rant>`

[2020-12-11 17:07] jlpettersson opened #3631 "Make it easier to setup SSH authentication for Git"
### Feature request

The [authentication page in documentation](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md) looks a bit overwhelming at first visit. Unfortunately, setting up authentication is one of the first things a new user needs to do to use Tekton for Continuous Integration. It would be good if the steps (and instructions) on how to setup SSH authentication for Git would b

[2020-12-11 17:23] namloc2001 commented on #3625
@gabemontero (or anyone else!) is there documentation that explains which SA does what in tekton pod creation (or would you please be able to confirm it)? I've been investigating further and have created a serviceAccount without any access to SCCs (other than the default restricted SCC allocation) to perform the pipelineRun creation via.
[code]

I've provided the following role and roleBinding:
[c

[2020-12-11 18:05] gabemontero commented on #3625
@namloc2001 - I'll need to go back and parse your entire comment (won't have time today), but I did catch this piece I can answer (which I think is you ultimate question  there at the end):  when Tekton API are ultimately translated into pods, two SAs factor into the PSP/SCC calculations on permissions.

1) the SA associated with TaskRun / PipelineRun ... if one is not specified, then the `default

[2020-12-11 23:31] pritidesai commented on #3591
I think we are talking about `except` here 😄

https://gist.github.com/pritidesai/238ef0e8ed935e82d2bb716ef9e91db8#file-tekton-pipeline-to-test-and-deploy-yaml-L40

[2020-12-13 12:16] namloc2001 commented on #3625
Thanks @gabemontero that is really useful. I'm still finding my way around upstreams and downstreams - I can't find the changes made by @sbose74 (nor the username), could you please point me at them (and those being made by @vdemeester) so I can see what is being changed (and potentially provide some input if I can be of use)? Thanks in advance.

[2020-12-14 02:33] Hokwang commented on #3619
/reopen

[2020-12-14 07:37] nikhil-thomas commented on #3623
@abudavis hi, could you provide some more information. Pipeline and Task definitions will be helpful.

In addition, you can get quick help of openshift-pipelines slack channels.

- [tektocd#openshift-pipelines](https://tektoncd.slack.com/archives/CKWCQD2EP)
- [coreos#forum-tektoncd-pipelines](https://coreos.slack.com/archives/CSPS1077U)

[2020-12-14 07:38] nikhil-thomas commented on #3623
/label triage/needs-information

[2020-12-14 07:50] nikhil-thomas commented on #3598
@tom20180101 the **Understanding credential section** section in https://tekton.dev/docs/pipelines/auth/ might help you.

[2020-12-14 07:59] tom20180101 commented on #3598
thanks a lot ,I've already seen it , I changed the accounts and passwords of Git and Harbor, and now their accounts and passwords are the same. so i can  achieved it. but I still don't know how to implement it with different Git and Harbor accounts.

[2020-12-14 08:07] nikhil-thomas commented on #3598
you can try 2 things
1. create separate secrets, and list them in the serviceaccount
2. mount the secretes directly in you Tasks on a path where you need it, like how we would do it in a Kubernetes Pod.

The Taskruns are fundamentally pods which execute the steps (containers) in sequence, instead of starting the steps (containers) all at once.

[2020-12-14 08:10] nikhil-thomas commented on #3602
@akram @waveywaves **ptal**

[2020-12-14 08:13] tom20180101 commented on #3598
ok，I'll try. thanks

[2020-12-14 08:15] nikhil-thomas commented on #3609
@vdemeester

[2020-12-14 08:22] nikhil-thomas commented on #3612
**build: run ko resolve on build presubmit 🙃 #3621**

[2020-12-14 08:36] vdemeester commented on #3612
@nikhil-thomas I think we should yes.
/close

[2020-12-14 08:36] #3612 closed

[2020-12-14 08:51] nikhil-thomas commented on #3627
does `kubectl describe taskrun  git-check-pipeline-run-git-check-72mth -n arendelle-8nxtw ` give any additional information.

[2020-12-14 09:15] tom20180101 commented on #3598
i find this in pipelineruns  , i think this is useful

spec:
  serviceAccountName: sa-1
  serviceAccountNames:
    - taskName: build-task
      serviceAccountName: sa-for-build

[2020-12-14 09:18] vdemeester commented on #3625
@namloc2001 https://github.com/openshift/tektoncd-pipeline-operator/pull/503 and https://github.com/openshift/tektoncd-pipeline-operator/pull/504 for the operator (this is being ported to `tektoncd/operator`).

[2020-12-14 09:41] chmouel commented on #3627
You probably would want to set this environment variable to be able to inspect the logs of the failed container :

https://github.com/tektoncd/pipeline/blob/d702ca1cef1d156887e9306dd3739690b0ceb599/test/init_test.go#L111-L116

[2020-12-14 09:58] barthy1 commented on #3627
@nikhil-thomas don't have the taskrun mentioned in this issue any more. Providing describe for new taskrun. From my point of view no additional info there.
[code]
@chmouel no pods are actually created, so cannot inspect the logs.

[2020-12-14 10:07] namloc2001 commented on #3625
Thanks @vdemeester. Is there a reason why privileged wasn't downgraded to restricted? That way the pipeline pods are implemented with minimal SCC permissions and if additional permissions are required above restricted SCC, we apply these to the SA we attach to the pipeline- or taskRun? With the current method, I don't believe I can deploy using the restricted SCC.

[2020-12-14 10:07] barthy1 commented on #3627
Update from my side, in 18mins after starting the test, taskrun was finished successfully and it took just several seconds. But obviously the test failed because of 10mins waiting timeout. So I observe some kind of delay for taskrun execution, when I start it first time.

[2020-12-14 10:20] vdemeester commented on #3602
Hey @vvvsrx,

Looking at your use case, you don't really need any "dynamic" generation of task for having this in tekton.
Correct me if I am wrong, but your goal is to build an image, tag it multiple times and push all the tagged images. This can be achieve relatively easily in a standard pipeline. For this, you would need a modified version of the [buildah](https://github.com/tektoncd/catalog/blo

[2020-12-14 12:31] dbazhal commented on #3039
/remove-lifecycle stale

[2020-12-14 14:42] sbwsg commented on #3146
In summary the feedback on this feature's TEP boiled down to the fact that working around this problem is quite easy for users. Removing trailing spaces can be done in the Task directly or by adding a Task to their pipeline to perform string trimming.  Therefore it doesn't seem like this is a feature the Pipelines project should pursue.  That doesn't preclude this being something the Pipelines pro

[2020-12-14 14:42] #3146 closed

[2020-12-14 14:45] sbwsg commented on #3148
Given the radio silence on this issue I'm going to call it closed for now.  Please feel free to reopen or create a new issue if the problem persists.

/close

[2020-12-14 14:45] #3148 closed

[2020-12-14 16:49] afrittoli commented on #3133
Closing this as it has been implemented. Follow up work can be treated separately.

[2020-12-14 16:49] #3133 closed

[2020-12-14 17:03] mattmoor commented on #3590
Another examples of this, which seems especially relevant to syntax precedence, is containerd plugins:
[code]

If we were to follow this precedent, then it would suggest allowing: `$(params."this.is.one.name")` syntax.

However, this precedent does double-duty, since it uses reverse-DNS (like Java imports, and CloudEvent types).

I'll take a crack as allowing the `param."foo"` syntax to see how fa

[2020-12-14 17:42] mattmoor commented on #3590
I noticed this in my triage of `params.%s` and don't see much context for *why*:
[code]

@vdemeester based on your `FIXME` comments, this seems like it's moving things the wrong direction.  Is this still needed?

I'm going to ignore it for now.

[2020-12-14 18:51] jlpettersson opened #3638 "Investigate if we can run whole PipelineRun in a Pod"
When discussing [Design doc: Task parallelism when using workspace](https://docs.google.com/document/d/1lIqFP1c3apFwCPEqO0Bq9j-XCDH5XRmq8EhYV_BPe9Y) this may be a viable option.
### Feature request

Execute whole PipelineRun in a Pod. This would eliminate all problems with Kubernetes Persistent Volumes. This can "almost" be done today, by only using a single Task. But it would be good to also be a

[2020-12-14 19:09] sbwsg commented on #3435
Further to my previous comment, a lot of the use cases that Custom Workspace Bindings might end up providing are already covered by the CSI spec: https://github.com/container-storage-interface/spec/blob/master/spec.md

It doesn't seem to me like reinventing or duplicating some of the CSI spec in Tekton is a great way to go here.

[2020-12-14 21:51] bobcatfish commented on #2815
Being able to fix this will depend on how the knative folks want to handle the underlying issue: https://github.com/knative/pkg/issues/1960

[2020-12-14 21:58] bobcatfish commented on #1222
I think we could let this go rotten and close if we feel like the docs we provide in the release notes are enough?

[2020-12-15 05:26] vincent-pli commented on #3591
I guess one use case we cannot satisfied:
[code]
3 parallel tasks, if one if them success, the 4th task will start to run.
but if one of the 3 task stuck, although another one already success, we still wait until timeout.

I means the requirements is: if any of the tasks success, do not wait others, the 4th should execute immediately. @jerop

[2020-12-15 06:43] vincent-pli commented on #3586
@ImJasonH
I think `.metadata.uid` not works. my purpose is to make a certain "taskrun" could be reuse, so I need calculate a unique Hash Code based on something.  So when another `taskrun` which has exactly some character and it will have same Hash Code, then i know the `taskrun` could be replace with previously one.

[2020-12-15 12:02] vdemeester commented on #2334
/remove-lifecycle rotten
/lifecycle frozen

[2020-12-15 14:50] lippertmarkus commented on #1826
/remove-lifecycle rotten

[2020-12-15 15:42] sbwsg commented on #3590
I broadly follow the idea I think but wonder why the categories would be tied to fixed names and not to some additional typing info that a Task author declares as part of a Result or Param.  ex: "my task takes a git sha, an image url and a digest and then builds and pushes a new image, emitting a new url and digest".  Each of those inputs and outputs could be individually validated by Tekton and c

[2020-12-15 16:18] mattmoor commented on #3590
Right, the intent is not defining semantics at the level of Pipelines, but a level of support at the Pipelines level to enable higher-level conventions in a sensible way.  One nice thing about the DNS form is that it naturally supports plurality when a thing might have higher arity (e.g. `io.mattmoor.thing.{name}`).  It is also pretty widely accepted as a way of "claiming" a namespace.

That said,

[2020-12-15 20:14] jlpettersson commented on #2668
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-12-15 21:55] r0bj commented on #3171
/remove-lifecycle stale

[2020-12-15 21:57] bobcatfish commented on #3075
Just echoing what @GregDritschler said, it seems like uncommenting those lines removes the noise! And I ran the tests with race detection and it was all good. It's a bit unfortunate that this means the tests will leave the global state dirty - basically we're unregistering any previously registered metrics immediately before re-registering them. It'd be nicer if there was a reliable way to get the

[2020-12-16 01:19] vvvsrx commented on #3602
Thx @vdemeester
I was really wrong. Thank you very much for your answer.

[2020-12-16 14:03] skaegi commented on #3545
This seems strange. I thought we would only generate one affinity assistant for the pipeline run to effectively co-locate all pods that use the workspace(s) on one node. Perhaps the relationship is one affinity assistant per PVC? @jlpettersson can you help out here

[2020-12-16 14:12] jlpettersson commented on #3545
The current implementation creates an affinity assistant per PVC in the PipelineRun.

But an alternative is to create an affinity assistant per PipelineRun. They have different pros and cons. I elaborated about this in the new design doc [Task parallelism when using workspace](https://docs.google.com/document/d/1lIqFP1c3apFwCPEqO0Bq9j-XCDH5XRmq8EhYV_BPe9Y)

And the placeholder pod also mount the P

[2020-12-16 16:49] bobcatfish commented on #2725
Hey @IdanAdar ! Quick update, based on your feedback we've reopen-ed https://github.com/tektoncd/community/pull/239 and @yaoxiaoqi is planning to go ahead and update the proposal with a couple tweaks https://github.com/tektoncd/community/pull/239#issuecomment-744586570

[2020-12-16 17:11] chhsia0 commented on #3026
/remove-lifecycle rotten

[2020-12-16 17:11] chhsia0 commented on #3027
/remove-lifecycle rotten

[2020-12-16 17:34] sbwsg commented on #3563
I think the answer to both questions is "yes (and it already does)".  I understand that there's a really tricky problem that users currently have to work around because of the platform (PVCs in regional clusters) but that doesn't preclude them from either a) modelling parallel Tasks in their Pipelines or b) from running concurrent Tasks in a regional cluster.

Yeah I think I generally agree with t

[2020-12-16 21:58] bobcatfish commented on #1818
I think it's reasonable to close this for now, esp. since the future of this pipeline resource is uncertain. I think we'll be supporting this logic somewhere regardless of whether it's part of a pipelineresource or not but i think it's fine to close this for now.

[2020-12-16 22:00] bobcatfish commented on #1209
This seems like a reasonable addition to our retry logic - anyone interested in drafting an initial TEP (https://github.com/tektoncd/community/tree/master/teps) e.g. with just the problem description?

/remove-lifecycle rotten
/remove-lifecycle stale

[2020-12-17 02:04] riceluxs1t commented on #1020
Hi. We also have a use case where a Tekton pipeline consists of task A -> task B -> finally task C. The finally task C wants to perform a different logic if either task A or task B fails. In our case, the pipeline topology is fixed and the finally task C can enumerate over the status of its previous two tasks. However, like others suggested, aggregate information would be useful and save the task

[2020-12-17 04:09] IamGabrielWu commented on #3317
Thanks. @scott-kawaguchi
below i add more detailed info how to fix as below in case anyone also meets the problem.

firewall rule name | Ingress | <network tag for node tekton pods reside> | IP ranges: <master IP range> | tcp:10250,443,15017,8443 | Allow | 1000 | default | Off

[2020-12-17 06:55] vdemeester commented on #3243
/close

[2020-12-17 06:55] #3243 closed

[2020-12-17 09:13] vincent-pli opened #3641 ""Finally" not work as expected"
# Expected Behavior
When `task` failed, the `finally` tasks should be trigger immediately.
# Actual Behavior
In parallel case, `finally` tasks not trigger only all parallel tasks done.
See the code snippet:
[code]

See, the `job-activity-job-1` and `job-activity-job-2` will be run as parallel and `job-activity-job-2` will failed immediate(wrong command:`echa`) and `job-activity-job-1` will failed

[2020-12-17 10:10] vdemeester commented on #3641
cc @jerop @pritidesai

I think it is *by design*, we wait for all tasks to finish before running the finally. If multiple tasks started concurrently and one fail, we usually let the other ones finish (we do not cancel it), we just "stop" scheduling new ones.

Is it documented like that ? Because as said above, the "guarantee" we make is the finally tasks will execute at the end, no matter what fai

[2020-12-17 11:37] dbazhal commented on #2050
/remove-lifecycle stale

[2020-12-17 13:38] jerop commented on #1020
@riceluxs1t a [proposal](https://github.com/tektoncd/community/blob/master/teps/0028-task-execution-status-at-runtime.md) by @pritidesai was accepted and she [implemented](https://github.com/tektoncd/pipeline/pull/3390) it already

[2020-12-17 16:07] #3039 closed

[2020-12-17 16:07] #3458 closed

[2020-12-17 17:41] yaoxiaoqi commented on #2725
Thanks @bobcatfish ! The TEP is already updated. Next I will work on implementing it.

[2020-12-17 19:43] bobcatfish commented on #2050
We've got this in the (hopefully soon to be updated) [roadmap](https://github.com/tektoncd/pipeline/blob/master/roadmap.md) to at least come to a decision on supporting it in the long run, so I think it makes sense to:

/lifecycle frozen

[2020-12-18 00:25] vincent-pli commented on #3641
@vdemeester thanks for clarification.

Actually I try to make something like `try - catch` in a `Pipelinerun`. I think `finally` is a good candidate.
So, do we consider to change the functionality a little? I mean when hit `failure`, let the `finally` trigger immediately, I guess code like this:
[code]

[2020-12-18 00:27] riceluxs1t commented on #1020
@jerop ty for pointing this out. Will this be included in the next minor version release 0.20.0? Or could this be part of 0.19.x?

[2020-12-18 01:47] tylerauerbeck commented on #1209
@bobcatfish I can take a look at getting this started.

[2020-12-18 09:25] vdemeester commented on #2050
Note that right now, the take on "looping" is to experiment with it using Custom Task, and see whether it make sense or not to have it built-in (and if it make sense, in which shape).

[2020-12-18 09:30] vdemeester commented on #3641
@vincent-pli except from reducing the execution time (most likely) I don't see a use case for starting immediately instead of letting all the concurrent task finish. But maybe there is one 👼🏼

[2020-12-21 17:47] dibyom commented on #3257
/remove-lifecycle stale

[2020-12-22 02:13] vincent-pli commented on #3641
@vdemeester
Yes, reducing the execution time is exactly one.
besides that, it's import for my case: a global exception handler(maybe it's not a common case, but mess me *_*).

Thank you just the same, maybe I need workout another way.

[2020-12-22 02:36] gejunqiang commented on #1750
any update about this issue? I met the same problem recently.

[2020-12-22 08:22] leo1515416043 opened #3644 "task with params can not upgrade from v1alpha1 to v1beta1"
# Expected Behavior
In v0.17.3, v1alpha1 & v1beta1 both work well

# Actual Behavior
In v1alpha1 & v1beta1,  taskrun both failed with REASON:CouldntGetTask

# Steps to Reproduce the Problem
#### Task.yaml
![image](https://user-images.githubusercontent.com/48787027/102865826-497f3a00-4471-11eb-9a0a-02880b56fbac.png)

config yaml, such as task.yaml, taskrun.yaml same as https://github.com/tektoncd/p

[2020-12-22 20:13] souleb commented on #3553
I can work on that.

[2020-12-22 20:13] souleb commented on #3553
/assign

[2020-12-22 23:24] jceresini opened #3645 "Feature request: Add a condition to a pipeline run to detect completion"
### Feature request

I'd like to see a new condition on pipelineruns that indicates if they are completed. I'd like this to be boolean. Right now to see if a pipelinerun is complete, i need to check if the `Succeeded` condition is either `True` or `False`. `kubectl wait` doesn't handle multiple possible values for a condition, it defaults to true or optionally accepts a desired value.

### Use cas

[2020-12-23 06:52] vvvsrx commented on #3602
I tried it and found that my idea still hasn't been realized.
My ideal is like this:
[code]
**An array is obtained according to the parameters, and multiple "Tasks" with different names and different parameters can be automatically generated according to the array.**
Because there are "default", "product", "account", "search" in the parameters, 4 "Task" with different names will be generated: "doc

[2020-12-23 09:10] vdemeester commented on #3178
/remove-lifecycle stale

[2020-12-26 23:50] atmosx opened #3647 "Support "git-init" for arm32v7 platform"
# Expected Behavior

I would expect the image to run properly, as all other resources worked with minimal effort.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

[code]

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[code]

The installation is k3s running on rpi3 arm32v7 with containerd:
[code]

~It's not cle

[2020-12-30 04:14] gsmlg opened #3648 "Embed variable in pipeline is broken"
# Expected Behavior

embed variable in pipeline tasks' params like below:
[code]

tasks.get-branch.results.image actual value is

[code]

Expect values is  `docker.io/user/web:tagname`

# Actual Behavior

In Pipelinerun, the actual value is

[code]

Additional prefix "|
  " had been added in the values

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version: `v1.19.4+k

[2020-12-30 21:40] jmcshane opened #3649 "Allow task results to be published on failure"
### Feature request

Update the taskrun status calculation to provide all the task results that have been calculated in the output

### Use case

For scans and tests that may fail, it may be helpful to publish scan failure results as a task result before erroring out the build. Then both successful and error cloud events can be parsed to locate the scan information and provide that back as a statu

[2020-12-30 23:56] vincent-pli commented on #3649
@jmcshane
Already has discussion here: https://github.com/tektoncd/pipeline/issues/3439

[2020-12-30 23:58] #3649 closed

[2020-12-31 00:34] vincent-pli commented on #3648
@gsmlg Could you post your pr definition?

[2020-12-31 01:13] gsmlg commented on #3648
This is the pr definition in tt
[code]

[2020-12-31 01:17] gsmlg commented on #3648
And the pipeline definition:

[code]

[2021-01-03 18:08] yashvardhan-kukreja opened #3650 "Question: Does tekton track the success/failure of cronjobs triggered by it"
Seemingly, tekton does not have any dedicated support for "running" cronjobs. (It can only trigger them apparently but not be responsible for running them periodically per se) (correct me if I am wrong).
The way it looks here - https://github.com/tektoncd/triggers/pull/162 ,
one can setup a "trigger" via tekton for starting the execution of a cronjob but still, the cronjob runs and re-runs as a re

[2021-01-04 04:46] Hokwang opened #3651 "Can I set remove old log automatically?"
### Feature request
Hi,

I installed tekton pipeline, triggers, dashboard, and
create one task, one pipeline, one trigger,
and it runs over 7000 times during 1 week.

It makes kubernetes cluster saves too many logs,
and don't know exactly but also api-server's something.

So I wonder tekton has a old(or over specific number of) log remove automatically feature.

### Use case

user who run pipeline

[2021-01-04 10:59] chmouel commented on #3651
We are discussing this in https://github.com/tektoncd/catalog/pull/572

[2021-01-04 13:31] gabemontero commented on #2962
/remove-lifecycle rotten

[2021-01-04 17:00] gabemontero commented on #3625
Hey @namloc2001 and @vdemeester  .... I'm circling back to both this and the related downstream issues ... hitting this one first.

FWIW, and perhaps you all were already aware now, though based on @namloc2001 's https://github.com/tektoncd/pipeline/issues/3625#issuecomment-744331334 maybe that was not the case back then,

But I was able to run master branch of tektoncd/pipelines where I manually

[2021-01-04 17:25] sbose78 commented on #3625
nice!

[2021-01-04 19:25] pritidesai commented on #2127
/remove-lifecycle stale

This is not supported yet (if I am not mistaken). @jerop is working on this.

[2021-01-04 23:07] pritidesai commented on #3641
@vincent-pli global i.e. pipeline level [except](https://gist.github.com/pritidesai/238ef0e8ed935e82d2bb716ef9e91db8#file-tekton-pipeline-to-test-and-deploy-yaml-L40) might help your use case? 🤔

[2021-01-05 00:06] vincent-pli commented on #3641
@pritidesai
Exactly I worked for a pipeline level `exception`!
My current solution is leverage `finally` + `custom task`, since the `exception` handler maybe a `pipeline`.
so, any document for your solution? expect to see that.

[2021-01-05 02:05] r0bj opened #3654 "PodDisruptionBudget causing inability to gracefully drain a node with tekton-pipelines-webhook pod"
# Expected Behavior

Gracefully draining nodes which contains tekton pods are possible.

# Actual Behavior

With single running `tekton-pipelines-webhook` pod (which is possible due to `tekton-pipelines-webhook`: `HorizontalPodAutoscaler.spec.minReplicas: 1`) it's impossible to gracefully drain a node because `PodDisruptionBudget` is set to `minAvailable: 80%`.

# Steps to Reproduce the Problem

1

[2021-01-05 05:31] vincent-pli commented on #3650
@yashvardhan-kukreja
You can leverage [custom task](https://github.com/tektoncd/pipeline/blob/master/docs/runs.md) to implements it.

[2021-01-05 09:01] ycyxuehan opened #3655 "translating TaskSpec to Pod: error getting image manifest"
version: v0.17.2
taskrun:
[code]
service account:
[code]
secrets:

[code]

[2021-01-05 09:22] vincent-pli opened #3656 "Duplicated pods created for single Taskrun"
# Expected Behavior
One pod for each `Taskrun`
# Actual Behavior
Multiple ones
# Steps to Reproduce the Problem

# Additional Info
Sometimes the issue happen.

In my case, I register a `mutating admission webhook` for `Pod`, I guess it will delay the pod creation, and there must be race condition in reconcile of `taskrun`, see the code snippet:
https://github.com/tektoncd/pipeline/blob/55fdb95816a

[2021-01-05 12:13] rvadim opened #3657 "Unable to run Task under the gvisor runtime (GKE)"
# Expected Behavior
Ability to run tekton piplines with gvisor runtime (GKE)

# Actual Behavior
[code]

# Steps to Reproduce the Problem
1. Setup and configure GKE cluster
2. Configure GKE Sandbox (https://cloud.google.com/kubernetes-engine/docs/how-to/sandbox-pods)
3. Create and run a task:
[code]
# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**
[code]
- Tekton Pipelin

[2021-01-05 15:05] vdemeester commented on #2792
Putting this in the "frozen" box as I really think we should exercise it, at least on a nightly.

/remove-lifecycle stale
/lifecycle frozem

[2021-01-05 15:05] vdemeester commented on #2792
/lifecycle frozen

[2021-01-05 15:06] vdemeester commented on #2814
Putting this into "frozen" box as this is something we need to do at some point

/lifecycle frozen
/remove-lifecycle rotten

[2021-01-05 15:06] vdemeester commented on #1201
Is this still the case ? (cc @afrittoli)

[2021-01-05 15:08] vdemeester commented on #3238
/remove-lifecycle stale
/lifecycle frozen

Putting this in the "frozen" box as this is something that is worth exploring 🙃

[2021-01-05 15:12] vdemeester commented on #215
With Custom tasks being a thing, I think this can be closed. I'll go ahead and close but if you feel it shouldn't be closed, please comment here and I'll re-open 👼🏼
/close

[2021-01-05 15:12] #215 closed

[2021-01-05 15:12] vdemeester commented on #2595
/remove-lifecycle stale
/lifecycle frozen

Putting this in the frozen boy as this is something we need to work on.

[2021-01-05 15:14] bobcatfish commented on #3226
Judging by our discussions around TEP-0012 which proposed this, I think it makes sense to close this issue for now (see https://github.com/tektoncd/community/pull/208#issuecomment-707242339)

[2021-01-05 15:14] #3226 closed

[2021-01-05 15:23] vdemeester commented on #3645
I think this could also be implemented on `tkn`.

cc @tektoncd/core-maintainers @tektoncd/cli-maintainers

[2021-01-05 16:11] sbwsg commented on #3648
How does the `get-branch-from-ref` Task generate the `image` result?  It looks to me like it might be accidentally introducing some extra characters to the result data written to `/tekton/results/image`.

[2021-01-05 17:27] pritidesai commented on #1020
@riceluxs1t this will not be part of 0.19.x, we avoid introducing features in a patch release. It can be part of 0.20 depending on the reviews. I have added it to the 0.20 milestone for now.

[2021-01-05 17:52] pritidesai commented on #1020
@riceluxs1t aggregate status is still not implemented. PR #3390 has implementation of accessing individual task (task A and task B in your use case and have finally task C enumerate on task A and task B).

I will have a TEP this week to propose enumerated status of all `DAG` tasks.

[2021-01-05 20:14] pritidesai commented on #3232
@jtestard were you able to find a workaround? can we close this issue? please confirm 🙏

[2021-01-06 03:43] gsmlg commented on #3648
@sbwsg
This is the `get-bran ch-from-ref` task

[code]
I'd tried to emmbed branch in a string value like this "docker.zdns.cn/zcloud/web:$(tasks.get-branch.results.branch)" and it output same result.

[2021-01-06 13:52] sbwsg commented on #3648
OK much appreciated, I'll try and reproduce today.

[2021-01-06 14:13] bkmeneguello commented on #3656
I saw this problem recently too. But in my case, I don't have an admission webhook, but a check condition. I think the same applies because the check delays the pod creation. I'm investigating this case but a race condition could explain the problem.

[2021-01-06 14:14] GregDritschler commented on #3648
echo will append a newline by default.  You have to use the `-n` flag to suppress this.  This is what a lot of the catalog tasks do.  For example see the use of `echo -n` in https://github.com/tektoncd/catalog/blob/master/task/git-clone/0.2/git-clone.yaml.  You have multiple echo commands in your task so you may need to inspect carefully what each one is doing with respect to newlines.

Another te

[2021-01-06 14:23] vdemeester commented on #3656
I wonder if we should update the status of the taskrun to be able to know if we submitted the pod creation, with a given time before we re-try 🤔

cc @tektoncd/core-maintainers @mattmoor

[2021-01-06 14:35] GregDritschler commented on #3656
There are a couple of things that can go wrong here:

* The TaskRun status is stale and does not reflect the pod name set on a previous reconcile.
* The pod informer cache is stale and does not contain the newly created pod.

This is similar to the exposures we've discussed with duplicate TaskRuns being created by the pipelinerun reconciler.  When I discussed that problem at an API WG meeting late

[2021-01-06 14:36] gsmlg commented on #3648
Awesome, I see, the "\n" change the value to a multi-line value.

[2021-01-06 14:38] #3648 closed

[2021-01-06 14:46] mattmoor commented on #3656
This is a place where we use fixed child resource names to avoid duplication.  I'm guessing that you use generate name today?

[2021-01-06 16:36] bobcatfish commented on #50
Quick update here: @jerop created a design for #1797 which has some interesting ideas that could be applied to a design for partial execution ([design doc](https://docs.google.com/document/d/1rleshixafJy4n1CwFlfbAJuZjBL1PQSm3b0Q9s1B_T8/edit)).

[2021-01-06 16:42] #3593 closed

[2021-01-06 16:42] #3594 closed

[2021-01-06 16:46] bobcatfish opened #3661 "Support Tekton OCI bundles without feature flag (i.e. promote to beta)"
### Feature request

In https://github.com/tektoncd/pipeline/pull/3492 we put Tekton OCI bundles behind a feature flag to indicate that they are still "alpha" and to give us a chance to look into some issues @vdemeester discovered while using them.

This issue is to track the work to promote these bundles to a feature that you don't have to opt into.

TODO:
- [ ] Identify what we need to do to pro

[2021-01-06 17:04] vdemeester commented on #3661
/assign

[2021-01-06 17:12] bkmeneguello commented on #3656
I think predictable pod names is the best solution to avoid this kind of concurrence, the synchronization overhead should be minimum when controllers are replicated.

[2021-01-06 18:31] riceluxs1t commented on #1020
@pritidesai an ability for a finally task to access the status of individual tasks is sufficient for my use case but thank you for giving me this kind update on the progress

[2021-01-06 23:22] zhouhaibing089 opened #3663 "controller cann't run with --kubeconfig flag"
# Expected Behavior

The `controller` binary should be able to accept `--kubeconfig` as a flag so that it can run outside of cluster.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Clone the master branch.
2. Run `go install github.com/tektoncd/pipeline/cmd/controller`.
3. Run `controller --kubeconfig=path/to/foo`.

# Additional Info

https://github.com/tektoncd/pipeline/blob/af3

[2021-01-07 09:02] rvadim commented on #3657
Perhaps the wrong PSP is applied. But I do not understand how I can look for pod yaml the controller is trying to create in order to understand which PSP is used.

[2021-01-07 09:27] rvadim commented on #3657
Got it! Setting the `securityContext.runAsUser: 0` force using of another PSP and container started. Sorry to disturb you.

[2021-01-07 09:27] #3657 closed

[2021-01-07 13:03] bkmeneguello commented on #3179
/remove-lifecycle rotten

I've answered the questions in the PR

[2021-01-07 15:21] vdemeester commented on #3647
We are using `ko` during release to build image, with `--platform=all`. This means it will build for all platform the base image supports. Because we are using `baseImageOverrides` (see https://github.com/tektoncd/pipeline/blob/master/.ko.yaml#L6), this means we need to build and publish `gcr.io/tekton-nightly/github.com/tektoncd/pipeline/build-base:latest` for all platform.

/cc @afrittoli

[2021-01-07 15:21] vdemeester commented on #3626
/kind feature

[2021-01-07 15:36] vdemeester commented on #3663
/assign

[2021-01-07 15:37] vdemeester commented on #3647
/assign

[2021-01-07 20:45] bobcatfish commented on #2069
Updating this with the design doc that @waveywaves and @nikhil-thomas brought to the API working group in [Apr 2020](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.iskr2vzdrwu):

[Design Document: Debugging in Tekton](https://docs.google.com/document/d/1SWtGfkGOaeggqj3zY4pyJo1cJz0hBw9wStbIWkCPnL0/edit)

[2021-01-07 20:47] bobcatfish commented on #3552
Going to close this as a duplicate of #859 - hopefully you should see some exciting things this year @stainboy  :)

[2021-01-07 20:47] #3552 closed

[2021-01-07 21:19] bobcatfish commented on #2050
Experimental custom task: https://github.com/tektoncd/experimental/tree/master/task-loops#task-loop-extension

[2021-01-07 21:23] waveywaves commented on #2069
Hello @bobcatfish [Nov 2020 Design Document: Debugging in Tekton v2](https://docs.google.com/document/d/1I_EacPs_RKVVZQVHfHzI6MhXjSE8Q_cNu7-pv8kByGw/edit) was created to simplify the ideas wrt the implementation after the level of complexity the previous document carried. After a bit of brainstorming with @vdemeester in Nov 2020, I have created a POC which puts a breakpoin after a failed step in a

[2021-01-07 22:02] StrongMonkey commented on #3509
@sbwsg Just hitting this. Is this something to be scheduled into next milestone?

[2021-01-07 23:13] waveywaves commented on #2069
Here is a demo showcasing TaskRun Breakpoint on failure JIC
[![asciicast](https://asciinema.org/a/383256.svg)](https://asciinema.org/a/383256)

[2021-01-07 23:46] StrongMonkey commented on #3509
@sbwsg I am using the customized build of tekton which is based of v0.16.3. But as @itewk mentioned, I reproduced it by specifying the pod's runAsUser to 1000(non-root). I am cloning a private repo with ssh auth.

Platform: rancher 2.5.4
K8s version: v1.19.3
Tekton: v0.16.3

There are multiple places which create files with 600 permission, this includes basic auth and ssh afaik.

[2021-01-08 00:00] sbwsg commented on #3509
So, I just want to clarify what behaviour you're seeing.  Here's an example TaskRun I run in my minikube:

[code]

When I fetch the logs from this I see the following:

[code]

Can you paste the logs from running the same thing in your cluster?

[2021-01-08 07:38] wouter2397 commented on #3206
Any updates on this issue? For us this issue also breaks the sync by FluxCD...

[2021-01-08 08:20] rvadim opened #3666 "Task's container get default env var from Dockerfile instead of overrides from step spec"
# Actual Behavior
[code]
# Expected Behavior
[code]
As you can see a real world example with the Kaniko will fail with error **Permission denied** on trying to push to the registry.

# Steps to Reproduce the Problem

1. Setup and configure GKE cluster
2. Configure GKE Sandbox (https://cloud.google.com/kubernetes-engine/docs/how-to/sandbox-pods)
3. Run Task/TaskRun from the **Actual Behavior**

# A

[2021-01-08 09:18] vdemeester commented on #3666
@rvadim interestingly scary 😓 My guess is that it happens only when using `script`, which would mean we are not passing the env. variable in that case.

cc @sbwsg

[2021-01-08 09:45] vdemeester commented on #3666
I wonder if there is something happening with `gvisor` though… Tried this out on `master`

[code]

[2021-01-08 09:47] rvadim commented on #3666
@vdemeester I think the problem not in `script`, the same result with `command`
[code]
[code]

[2021-01-08 09:51] vdemeester commented on #3666
Interesting, I definitely can't reproduce on a non-gvisor environment, all is as expected there (printing `/tekton/home/.docker`)

[2021-01-08 09:56] rvadim commented on #3666
Yes, it works perfect on regular runtime. Problem only with gvisor.

Some additional info:
[code]
[code]

[2021-01-08 10:20] vdemeester commented on #3666
Alright, I can reproduce this on a cluster with gVisor (thanks @Sh4d1). This is definitely a problem with gvisor and our entrypoint (I guess)… It's a bit less critical than I initially thought as it works as expected with other CRI implementation (at least cri-o, containerd, dockershim)

cc @bobcatfish @dibyom (if you know who to ping from the gvisor community on this)

[2021-01-08 10:31] vdemeester commented on #3666
Pod spec is

[code]

Logs with a patch version that prints env in the entrypoint as it starts are…

[code]

So the entrypoint

[2021-01-08 10:47] vdemeester commented on #3666
With the following diff…

[code]

… I've got

[code]

For some reason, gvisor doesn't pass the correct environment variables to the entrypoint…

[2021-01-08 11:27] vdemeester commented on #3666
This reproduce the problem with *pure* k8s (no tekton except using the image)…

[code]

[2021-01-08 11:47] namloc2001 commented on #3625
Great news. I've asked [this question](https://github.com/openshift/tektoncd-pipeline-operator/pull/492#issuecomment-756712883)  for clarification on PR492. Looks like things are moving in the right direction.

[2021-01-08 13:05] vdemeester commented on #3666
Alright, thanks to @Sh4d1 (again 😉), we may touch something:
So…

[code]

Gives…

[code]

Note the 2 `DOCKER_CONFIG`. This doesn't happen without `untrusted` (aka `gvisor`).

[2021-01-08 14:05] vdemeester commented on #3666
Reported upstream https://github.com/google/gvisor/issues/5226

[2021-01-08 14:46] sbwsg commented on #3089
sgtm /close

[2021-01-08 14:46] sbwsg commented on #3089
/close

[2021-01-08 14:46] #3089 closed

[2021-01-08 15:08] boxboatmatt commented on #3509
The issue is due to `defaultMode` of a secret volume the default is `0644`. If you mount a secret on the Tekton Image for the ssh keys then you need to set `defaultMode: 0600`

[code]

[2021-01-08 15:27] #3457 closed

[2021-01-08 17:19] pritidesai commented on #3206
@wouter2397 I don't have any solution yet.  I am adding this in next milestone to make sure we fix this. I will resume troubleshooting next week.

[2021-01-08 17:55] sbwsg commented on #3509
Hi @boxboatmatt thanks for jumping in.  I don't think that's the issue here but appreciate your input.  The files are being created in the original issue description with permissions 664 (`config` and `known_hosts`) and 660 (`id_git...`).  As you mentioned, Secret's default permission bits are 644, which would actually be an improvement over what we've got here.

I haven't yet seen any clear point

[2021-01-08 18:07] boxboatmatt commented on #3509
@sbwsg not sure about the original issue the author was experiencing.

I should have clarified that I believe the issue @StrongMonkey is experiencing is due to the [rancher/gitjob](https://github.com/rancher/gitjob) use case for tekton, which mounts a git client secret on the Tekton container.

For reference:
https://github.com/rancher/gitjob/pull/26

[2021-01-08 19:39] sbwsg opened #3667 "PipelineRun's completed status can be overwritten by failed results lookup"
# Expected Behavior

When a PipelineRun is completed the final status it records should be considered immutable and not change after that point.

# Actual Behavior

When a Pipeline includes Pipeline Results there is a slim chance that its PipelineRuns' final status can be overwritten.  This is because the PipelineRun reconciler does not process Pipeline Results until after the Run is in a complete

[2021-01-08 20:16] StrongMonkey commented on #3509
I think I figured out the problem. This is happening when `HOME` env is set in the container.

I think there is a bug in the workaround to make ssh respect `HOME` env setting, the code handles it by doing symlink from $HOME/.ssh to /home/$user/.ssh. However if HOME is set the [homeDir](https://github.com/tektoncd/pipeline/blob/f112277e99c6805ed780a297c6a99b0827f0164d/pkg/git/git.go#L205) will alwa

[2021-01-08 21:41] sbwsg commented on #3509
I'm still not sure what error you're facing 😆   Can you please describe the error message or incorrect behaviour that you are seeing?

We have some documentation on working with a HOME environment variable as a non-root user here: https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#using-secrets-as-a-non-root-user But I can't tell if what you're describing is buggy or working-as-intended

[2021-01-08 21:48] StrongMonkey commented on #3509
@sbwsg oh I missed the doc reference, thanks for that! I was just reading through the symlink code and figure out if this could be a problem. I am just tracking down into this [method](https://github.com/tektoncd/pipeline/blob/f121db996dbc1867d8f6616c887c1374a5770db2/pkg/git/git.go#L211) which does the symlink function. So if `HOME` env is set then `ensureHomeEnvSSHLinkedFromPath` will not setup a

[2021-01-09 14:16] xpepermint opened #3669 "Unable to push image with latest kaniko"
# Expected Behavior

The example using [Kaniko](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md) works well but points to an outdated image version `0.16.0`.  It should work with the latest version as well.

# Actual Behavior

Changing the version to the latest release (v1.3.0) fails with:

[code]
# Steps to Reproduce the Problem

1. Use the YAML configuration for building image

[2021-01-10 03:33] gaoyajun01 opened #3670 "release.yaml is conflicted"
release.yaml is conflicted
![image](https://user-images.githubusercontent.com/71871477/104113752-8b482580-5337-11eb-8c97-c65c227c392f.png)

kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.19.0/release.yaml

[2021-01-10 19:54] #3352 closed

[2021-01-11 07:09] bibi520 opened #3672 "git clone error"
my tekton version
![image](https://user-images.githubusercontent.com/42456284/104154012-bfe2dc80-541e-11eb-8a78-1b01e08b41d7.png)

ERROR
![image](https://user-images.githubusercontent.com/42456284/104154048-de48d800-541e-11eb-8df9-caf01d988b8b.png)

It's been working fine and all of a sudden there's this error and there's no problem pulling code from other projects

[2021-01-11 11:00] inaxium opened #3673 "Configuring ssh-auth authentication for Git"
I have now tried to connect to github via ssh for about 8 hours without success. Standard authentication with username and password work.

I tried ssh-keygen -t ed25519 as well as ssh-keygen -t rsa -b 4096.

https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

I have the client key like in the file **git-ssh-creds-

[2021-01-11 13:07] sbwsg commented on #3673
It would be helpful to see the TaskRun / PipelineRun / PipelineResource you're using.  The error you're seeing says `SSH credentials have been provided but the URL (" https: //github.com/orctek/hello \ ") is not a valid SSH URL.`.  If your repo URL starts with `https://` then it is not an SSH-compatible URL.  This is not a Tekton issue - it's just how Git recognizes which credential to use.

[2021-01-11 13:11] sbwsg commented on #3672
The git error says that one of the submodules in your repo isn't configured with a valid URL.

Can you try cloning the repo locally and running `git submodule init`?  What happens?

Does your repo include a `.gitmodules` file?  Does that file have a `url` for the `education-html` entry?

[2021-01-11 13:36] sbwsg commented on #3670
Thanks for the issue report @gaoyajun01 - those are [YAML anchors](https://blog.daemonl.com/2016/02/yaml.html).  Not artifacts of a merge conflict.

[2021-01-11 13:36] #3670 closed

[2021-01-11 16:37] dibyom commented on #3335
This should be fixed now right @vdemeester ?

[2021-01-11 16:51] dibyom commented on #1250
Remaining work: once tektoncd/website#117 is done, put a link to the API reference in this repo.

[2021-01-11 17:03] vdemeester commented on #3335
Yes, we can close this 🎉
/close

[2021-01-11 17:03] #3335 closed

[2021-01-11 17:07] bobcatfish commented on #2800
1. I'm wondering how this relates to https://github.com/tektoncd/pipeline/issues/1559 ? (if it does? they feel like similar features to me?)
2. @afrittoli is it possible to add more detailed use cases? (maybe you are already doing this in the TEP) - as usual I feel skeptical about new features, particularly when they are changing the meaning of failure - but a few use cases can definitely bring me

[2021-01-11 18:36] zhouhaibing089 commented on #3663
This is fixed in #3605.

/close

[2021-01-11 18:36] #3663 closed

[2021-01-11 20:42] afrittoli commented on #2800
It seems related, even though #1559 puts control on the step after the one that might fail.
I filed this issue to reply to a specific request, and I missed #1559 when doing so, sorry about that.

The use case is being able to have a task in your pipeline that generates useful information (often by running some kind of test / information) which should not prevent a successful execution of the pipel

[2021-01-11 20:51] bobcatfish commented on #2800
I'm guessing these tools would probably want the logs too, right? I'm not sure the exit code alone is enough information.

[2021-01-11 20:52] afrittoli commented on #2800
This change could be used also to achieve a series of steps like: running tests, post-process and upload logs and test results, all as part of the same task.  In cases where a test failure should fail the pipeline, it would require the last step to exit with the exit code that was captured from the test-running step.

This specific use case could probably be implemented by introducing pre/post ste

[2021-01-11 20:55] afrittoli commented on #2800
Yeah, sure, but logs would still be available the same way they are today? The exit code should be enough info to make a step or task as "yellow".

[2021-01-11 21:02] bobcatfish commented on #2800
Would it be a situation like certain exit codes are yellow and some are red?

I'm also wondering: isn't this information available in the container statuses in a taskrun already, if a system really wanted to use it?

(I might be able to understand better if you could explain the use case in more detail)

[2021-01-12 00:10] skaegi commented on #2800
For exit codes I think we should stick with just...
1) exit code == 0 (success)
2) exit code != 0 (failure)

A warn or yellow state is something that can get layered later by somehow tagging the step or even by searching the logs for [WARN] or similar. It might be nice to have smarts to mark a step as being "yellow" but there still are lots of cases where a step's success is not critical to the su

[2021-01-12 08:57] bibi520 commented on #3672
Thank you,  I use git rm --cached education-html and then upload the code to pull it

[2021-01-12 09:43] inaxium commented on #3673
You're absolutely right. It was the URL.

The right one:

apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: pr-git-hello-world
spec:
  type: git
  params:
    - name: url
      value: git@github.com:orctek/hello.git
    - name: revision
      value: master

[2021-01-12 09:43] #3673 closed

[2021-01-12 13:44] soulseen opened #3675 "change the log config of `outputPaths` in configmap, but it not work"
# Expected Behavior
the log output to `/tmp/log/std.log` success.
# Actual Behavior
I update the configmap `config-logging`  , add outputPaths `/tmp/log/std.log`, like:
[code]
but it not work, the log not output to dir /tmp/log/std.log
# Steps to Reproduce the Problem

1. update configmap `config-logging` `outpuPtahs`
2. restart all pod of tekton

# Additional Info

- Kubernetes version:

[code]

[2021-01-12 14:17] GregDritschler commented on #3596
I investigated this further.  The problem I am running into now is that the tools that generate the client, listers, informers, and reconciler do not support type aliases.  So moving Run completely to a new package means these generated artifacts also change packages with no easy way to keep aliases around in the old package for compatibility.  Since the kubeflow team is already implementing custo

[2021-01-12 14:32] Fabian-K opened #3676 "Unexpected, irregular reprocessing of resources by tekton-pipelines-controller"
Hi,

at our tekton deployment, I noticed that sometimes the work queue (tekton_workqueue_depth) of the tekton pipelines controller spikes. Based on the "size" of the spike, this looks like a full reprocessing of e.g. the PipelineRuns in the cluster. In the log, I can see the following messages when this happens. This happens irregularly.

[code]

I suspect that the connection between the controlle

[2021-01-12 14:53] sbwsg opened #3677 "image-digest-exporter step appears out of order with its position in pod"
# Expected Behavior

The `image-digest-exporter` Step should appear after all of the user's Steps in a TaskRun's `status.steps` list.

# Actual Behavior

In https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-zf2lz?pipelineTask=publish-images&step=image-digest-exporter-vcqhc we see the `image-digest-exporter` sorted out of order, appearing before user

[2021-01-12 14:59] llhhbc opened #3678 "Fix controller create taskRun all the time after create task failed."
ref https://github.com/tektoncd/pipeline/pull/3287

# Expected Behavior
pipeline run expected

# Actual Behavior
pipeline controller creat thousands taskrun.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

v0.10.1

example pipeline to cause this bugs:

[code]

The reason cause this bugs:

[2021-01-12 15:02] GregDritschler commented on #3656
I can work on this issue.  It is similar to the duplicate TaskRun issues which are still open so I have done a lot of thinking already on this type of problem.

With respect to using predictable pod names, ideally the Pod would just be given the same name as the TaskRun. However if the TaskRun is retried there may be multiple pods created from the same TaskRun so that won't work.

We could formula

[2021-01-12 16:55] vdemeester commented on #3377
/remove-lifecycle stale
/lifecycle frozen
/area roadmap

[2021-01-12 16:55] vdemeester commented on #3373
/remove-lifecycle stale

This still needs investigation

[2021-01-12 17:12] tnixa commented on #3557
I'm hitting this same problem of duplicate taskruns from a single pipelinerun on my Openshift 4.6 cluster. I tried to recover by deleting all the pods and deployments in the `openshift-pipelines` namespace and then uninstalling/reinstalling the Openshift Pipelines operator but this did not resolve the problem. Can someone tell me how to recover from this problem? @GregDritschler

[2021-01-12 17:30] vdemeester commented on #2800
So I am a bit torn about this feature (wasn't sure to comment here or on the [TEP](https://github.com/tektoncd/community/pull/302)).

I tend to think, as it can definitely be done using the feature set (aka wrapping the binary/command/process run in a step and write in a result), I would advocate towards not adding it. That said, as @afrittoli, this would mean, to display things like a "yellow" ta

[2021-01-12 18:34] afrittoli commented on #2735
The Tekton webhook controller includes [five different controllers](https://github.com/tektoncd/pipeline/blob/747f4baa014e44a9143eafb7d87a8f9a6c5a3e60/cmd/webhook/main.go#L240-L244):
- Certificate controller: it uses leader election to select only one controller that is responsible for provisioning and maintaining the certificate secret
- DefaultAdmission controller: the `Admit` function does not

[2021-01-12 18:36] afrittoli commented on #2735
@xiujuan95 let me know if this answer is satisfactory. I will close the issue now but feel free to re-open (or open a new one) should anything be missing.

[2021-01-12 18:36] #2735 closed

[2021-01-12 18:42] tnixa commented on #3557
My tekton is working again after following the guide below for uninstalling and then reinstalling:
https://medium.com/@nikhilthomas1/right-way-to-uninstall-openshift-pipelines-fromopenshift-4-x-fb2a7b7c492c

[2021-01-12 18:43] #3465 closed

[2021-01-12 19:27] pritidesai opened #3681 "context variables validation - $(tasks.dagtask.status)"
Context variable to access execution status is supported as a param value without any other params or extra string. This validation is missing from the PR #3390 that it implemented this feature. PR #3390 has documented the guidelines in [pipelines.md](https://github.com/tektoncd/pipeline/pull/3390/files#diff-778db8afe943ee8b2b7f3acf5ec1eb68d7bf0c926a1ddb46866125d1a4c0ce7fR857):

[code]

First, let

[2021-01-12 20:19] pritidesai commented on #3678
This should be caught in the validation cycle where uppercase letters are not allowed in pipeline task names.
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

I am surprised to see this kind of name is not caught by the validation [validatePipelineTaskNames](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/pipeline_validation.go#L90)

Ah, I

[2021-01-12 20:33] sbwsg commented on #3667
The code has moved around a bit since #3472 has been merged but the issue still affects the reconciler here: https://github.com/tektoncd/pipeline/blob/6e6b6c8b8fb80195177f3f955ff84ab2ee320bf1/pkg/reconciler/pipelinerun/pipelinerun.go#L179-L182

[2021-01-12 21:25] bobcatfish commented on #3548
@vdemeester possible item to triage: have we discussed at all revisiting the structure of the `status` sections of TaskRun and PipelineRun? I don't think these were designed as carefully as the `spec` sections and there is some odd stuff in there. Or we can say it's good enough and go to v1 - but I think if we wanted to change it at all, we'd want to try to do it pre-v1

[2021-01-12 21:29] bobcatfish commented on #454
I think we can consider this complete (or at least in progress enough that we don't need this issue open!) via [TEP-0021](https://github.com/tektoncd/community/blob/master/teps/0021-results-api.md) and https://github.com/tektoncd/results

Thanks @wlynch !! 🎉

[2021-01-12 21:29] #454 closed

[2021-01-12 21:34] bobcatfish commented on #2800
I agree with @vdemeester  - im gonna try to concentrate my feedback on the TEP PR (https://github.com/tektoncd/community/pull/302) - I think there are a few features we're discussing simultaneously here (maybe? e.g. allowing a step to fail, exposing exit codes), I'm hoping we can narrow it down a bit in the TEP.

[2021-01-12 23:57] Tomcli opened #3682 "Custom Tasks: question with taskSpec"
related #3463

The current custom task can run in a pipeline using `pipeline.taskRef`. Will there be any support for `pipeline.taskSpec` in the roadmap?

/cc @GregDritschler @fenglixa

[2021-01-13 02:12] ImJasonH commented on #3682
Very possibly! I think we should take it slow to get there and collect user feedback along the way, but there's nothing technically difficult about supporting it, and I think it could help reduce complexity if done well.

Sorry if that "maybe" is not a terribly definitive answer. 🙃

[2021-01-13 03:55] jrcast commented on #1020
@pritidesai is there a way to get the aggregate of all tasks? Based on #3390 it seems we have to spell out each task.

[2021-01-13 09:14] vdemeester commented on #3548
We can definitely discuss that :)

[2021-01-13 14:00] sbwsg commented on #3596
Should we keep this open with a view to consolidating the types in a single package when we move the feature into beta?

[2021-01-13 14:41] GregDritschler commented on #3596
Yeah I had a similar thought,  though I was thinking in terms of a v1 restructure (probably the next big refactoring).

[2021-01-13 14:45] lijie512917227 commented on #3585
how to build the webhook or controller image locally from source？

[2021-01-13 14:53] lijie512917227 opened #3687 "how to build the webhook or controller image locally by source"
how to build the webhook or controller image locally by source？

[2021-01-13 17:52] pritidesai commented on #1020
yes it is spelling out each task for now 🙃 . I am in process of proposing `aggregate` status. Please expect TEP followed by implementation PR.

[2021-01-13 18:02] pritidesai commented on #1020
/reopen

PR #3390 introduced a part of this feature, we are still working on it.

[2021-01-13 18:06] Tomcli commented on #3682
Thanks Jason, we are building the a new custom task for our pipeline. Our use case is to have multiple users in the same namespace, so our users sometimes create the custom task with the same name.

Right now we try to work around with appending a unique user string to each custom task name, so the name can be unique for each user. We would like to provide more feedback as custom task is getting m

[2021-01-13 19:01] #3667 closed

[2021-01-13 20:57] souleb opened #3690 "[Doc] Explain hack repository scripts to new contributors"
As a new contributor I have read the [Development](https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md) doc. It is a nice job. Really helps to get started.

Would be great to add a part related to how the generate-groups.sh, generate-knative.sh, etc.. behave and what are they here for. Maybe point to links. I have found these :
- https://www.openshift.com/blog/kubernetes-deep-dive-code

[2021-01-14 02:10] xiujuan95 commented on #2735
@afrittoli Thanks for your kind reply! Above answer makes sense for me.

[2021-01-14 12:11] dbazhal commented on #1876
Any ideas on this? :) Saw 2021 roadmap, there are no cluster pipelines :(

[2021-01-14 12:36] jsimao71 commented on #1876
Yes..its taking some time for Tekton devs realize how important/critical this is. Let's hope it added to the roadmap.
In the mean time, and without affording to wait, my team developed a PaaS toolset UI + CLI on top of Tekton, to at least make this a bit more manageable. If you interested, see my blog thread.
On CI/CD:
https://medium.com/swlh/building-java-spring-apps-in-the-cloud-with-kubernetes-

[2021-01-14 14:58] llhhbc commented on #3678
But this problem is exists when create taskrun failed.  validation is only for reduce this happen.

[2021-01-14 18:35] sbwsg commented on #3678
If I understand right then the validation should prevent invalid PipelineTask names being accepted. This should therefore stop the problem completely.  Why would validation only reduce the problem and not prevent it?

[2021-01-14 19:46] dibyom commented on #3687
The Development.md file should have instructions on how to get setup locally: https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md#install-pipeline

I'm going to close this. Please re-open if you have other questions.
/close

[2021-01-14 19:46] #3687 closed

[2021-01-14 19:50] dibyom commented on #3650
It's the other way around -- you configure a CronJob to call a Trigger at specific intervals, the Trigger then triggers a pipelinerun.

[2021-01-15 03:16] r0bj opened #3692 "v0.20.0: PipelineRun validation failed when task result name is "status""
# Expected Behavior

I'm able to use task result name "status".

# Actual Behavior

Executing PipelineRun with task result name "status" causing validation error:
[code]

# Steps to Reproduce the Problem

pipelinerun-results-with-params.yaml:
[code]
[code]

It works fine in tekton v0.19.0.

# Additional Info

It works fine in tekton v0.19.0.

- Kubernetes version:
[code]

- Tekton Pipeline version

[2021-01-15 09:40] xiujuan95 opened #3693 "Missing imagePullSecret configurations guidance for a developer in DEVELOPMENT.md doc"
Now, I am deploying tekton-pipeline locally according to this guide: https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md#install-pipeline

I set up a kubernetes cluster and run `ko apply -f config/` to deploy it. Everything looks good. But when I check `tekton-pipelines-controller`'s status, it showed me below error:
[code]
So I create a secret for pulling image and add it to `tekton-p

[2021-01-15 10:09] llhhbc commented on #3678
Because It has many err of `createTaskRun`, such as create timeout (because of apiserver in heavy load). But this bug will continue create taskrun again and again. I think we shoud forbid this problem to make k8s in heavy load. (In minutes, pipelinerun controller can create thousands of taskrun)

[2021-01-15 11:54] sbwsg commented on #3692
I think this will be fixed by Priti's PR here: https://github.com/tektoncd/pipeline/pull/3691  @pritidesai does that seem right to you?

[2021-01-15 17:24] pritidesai commented on #3692
thanks @sbwsg yes PR #3691 fixes this issue.

[2021-01-15 18:18] #1222 closed

[2021-01-15 18:21] bobcatfish commented on #3220
I think this request is very similar to https://github.com/tektoncd/pipeline/issues/2800 and also https://github.com/tektoncd/pipeline/issues/1559, gonna close this issue for now, but please reopen or comment in those issues (or the WIP TEP https://github.com/tektoncd/community/pull/302) if we are missing something!

[2021-01-15 18:21] #3220 closed

[2021-01-15 18:25] bobcatfish commented on #3692
Thanks for the quick report @r0bj !!

[2021-01-15 18:29] bobcatfish commented on #3682
My 2 cents is that I think this is totally reasonable to add - esp since we support this for other Tasks (I think I've been assuming we'd support this for sure)

[2021-01-16 00:01] #3677 closed

[2021-01-16 03:49] llhhbc commented on #3678
Thanks. The old version I test don't has the rate limit. I will update the version soon.

[2021-01-16 03:49] #3678 closed

[2021-01-18 13:28] michaelsauter commented on #3126
Just as a FYI: I'm now on a OpenShift 4.6 cluster which provides OpenShift Pipelines 1.2 instead of 1.1. On 1.2, I cannot reproduce the problem above.

[2021-01-18 13:31] itewk commented on #3126
i am on OCP 4.6 with Pipelines Operator 1.2.2 and deffinitly still seeing this. I thought this fix was gonna be in 1.3 of the operator based on how versions are matched up.

[2021-01-18 14:46] chmouel commented on #3416
/remove-lifecycle stale
/lifecycle frozen

still useful, unfortunately there is no easy way to imp this

[2021-01-19 02:00] ImJasonH commented on #1569
Closing since the caveat is pretty limiting; it means injected sidecars (e.g., by Istio) break the model. When/if a KEP makes sidecars a first-class concept, we can revisit.

[2021-01-19 02:00] #1569 closed

[2021-01-19 07:28] soulseen opened #3695 "support hostPath as VolumeSources in Workspaces"
### Feature request

support hostPath as VolumeSources in Workspaces

### Use case

Workspaces support the using hostPath as VolumeSource

[2021-01-19 11:42] sbwsg commented on #3695
Can you go in to a bit more detail why you want this support?

`hostPath` is supported through the persistent volume interface and Tekton supports that in workspaces: https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#create-a-persistentvolume

[2021-01-19 13:49] #3595 closed

[2021-01-19 15:14] vdemeester commented on #3693
@xiujuan95 hey 👋🏼 indeed, I think this is missing, mainly because, I think we tend to use public image repository by default, and thus imagePullSecret is not required. But yeah, it would be nice to add a little something in the doc about this.

/kind documentation

[2021-01-19 15:15] jerop commented on #3038
@VeereshAradhya I tried but couldn't reproduce this issue, is this still a problem for you?

[2021-01-19 15:40] #3681 closed

[2021-01-19 15:40] #3692 closed

[2021-01-19 22:30] pritidesai commented on #3692
Thanks @r0bj for the bug report, we have a patch available at https://github.com/tektoncd/pipeline/releases/tag/v0.20.1

Please let me know if you find any issues 🙏

[2021-01-20 01:45] zhangtbj commented on #3561
The PR https://github.com/knative/pkg/pull/1940 is merged in Knative pkg repo.

If no other objection, Once the new Knative pkg release is published, I will submit a PR on Tekton side to use the new `FilteredInformer` in Knative pkg and use Tekton selector for the Pod informer cache.

[2021-01-20 09:21] xiujuan95 commented on #3693
@vdemeester Thanks for your attention! Maybe I will submit a PR about this later.

[2021-01-20 10:05] xiujuan95 commented on #3693
@vdemeester PR is submitted: https://github.com/tektoncd/pipeline/pull/3699, please help review it, thanks a lot!

[2021-01-20 14:02] sbwsg commented on #3499
Another use-case for reading all the Tasks in a Pipeline at startup time: It would be useful to check that a workspace marked "optional" at the pipeline level is indeed also "optional" in all the Tasks that want to consume that workspace.  Because if not that should probably be a validation error.

[2021-01-20 17:29] yaoxiaoqi opened #3701 "PipelineTask is declared failure at its second to lasy retry"
# Expected Behavior

The PipelineTask should be declared failure when it exhausted its retries.

# Actual Behavior

The PipelineTask is declared failure at the second to last retry. The main reason is that when a TaskRun's Retries is set to `n` it will actually run `n+1` times in total (because of line#232, it executes before the current TaskRun status is appended to the RetriesStatus). I don't kn

[2021-01-20 17:38] #3701 closed

[2021-01-20 17:40] pritidesai commented on #2557
/remove-lifecycle stale

Users are waiting for this feature. Implemented with #3242 which is still open.

[2021-01-20 22:18] lukehb commented on #1826
@ImJasonH In the spirit of your "please contribute your use cases, ideas and experience" statement above, I'd like to chime in here. We are building out a CI/CD product on top of Tekton, specifically for building Unreal Engine projects. We are quite close to getting something in the hands of users; however, Windows support is a blocker for adoption of our product so we are highly motivated to see

[2021-01-20 23:32] ImJasonH commented on #1826
Thanks @lukehb that's really helpful. I'm not aware of any active effort to work on this, so your help will be useful. :)

I think the first step would be figuring out what doesn't work currently. What happens when a TaskRun pod executes on a Windows node? What happens when the controller and webhook components run on a Windows node? I suspect basically nothing will work at first, but having an id

[2021-01-20 23:39] lukehb commented on #1826
Okay, in the case we will have some internal discussions about prioritising this on our roadmap. We will likely have a lot of questions to make sure we are on the right track, what is the best place to riff back and forth? The Tekton slack?

[2021-01-21 01:28] jinchihe commented on #2441
Already done here https://github.com/tektoncd/experimental/tree/master/sdk/python

[2021-01-21 01:28] #2441 closed

[2021-01-21 08:01] praveen4g0 opened #3703 "pipelineRun status struck in running state forever even after setting pipelineRun timeout option"
# Expected Behavior
When an user creates a Pipeline which  accepts an optional workspace and gives it to a PipelineTask
the PipelineRun reconciler stalls if the workspace isn't provided and Assume I have set timeout at pipelineRun level, I expects pipelineRun to fail, with below reason.

Related to [pr](https://github.com/tektoncd/pipeline/pull/3702)

**Reason: Failed(PipelineRunTimeout)**

# Actu

[2021-01-21 08:44] mbwhite commented on #2557
@pritidesai Hello.. I've come back to the task where I need to solve this problem I see the PR is merged.. looking forward to trying this!

[2021-01-21 09:18] vdemeester commented on #2533
As this is a deprecation "follow-up", let's not mark it as stale

/remove-lifecycle stale
/lifecycle frozen

[2021-01-21 09:24] vdemeester commented on #856
/remove-lifecycle stale
/lifecycle frozen
/area roadmap

This is part of a long-term plan to support multiple architecture, and work is already in progress on the topic

[2021-01-21 09:31] vdemeester commented on #1826
This is slightly related to https://github.com/tektoncd/pipeline/issues/856 although more complicated 😅. Following up on @ImJasonH thougts, we also need to discuss what would be the minimum viable first iteration of supporting windows ; I would guess being able to run `TaskRun` on Windows (with having the controller & co on Linux) would be a good start but we can discuss this.

@lukehb there is di

[2021-01-21 12:13] ishallbethat opened #3704 "general question: without using persistent volume can i share workspace among tasks ?"
I have trigger template like this
[code]
task.yaml
[code]
pipeline.yaml
[code]

Turns out no matter what i do i can not see the cloned repo in task  "helmchart-builder".

Does it really without using persistent volume,  i can't share data among tasks ? How can i use resource output/input to make this persistent among tasks ?

[2021-01-21 16:01] ImJasonH commented on #3404
/remove-lifecycle stale

[2021-01-21 16:04] mattmoor commented on #3404
/lifecycle frozen

I am curious what work folks think is left here?  I've been running Tekton this way in github.com/mattmoor/mink using StatefulSet-based bucketing for some time now and it works great.  I could see some documentation being desirable, but functionally this should "just work"(tm).

[2021-01-21 16:44] souleb commented on #3499
can work on that

[2021-01-21 16:51] sbwsg commented on #3499
Hey @souleb, thanks for jumping in. I'm halfway through implementing but will unassign myself and ping you if I'm not able to finish.

[2021-01-21 17:15] psschwei opened #3705 "Replacing PipelineResources in tutorial"
Currently, the Pipeline tutorial uses `git` and `image` PipelineResources for Task inputs/outputs [see here](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#specifying-task-inputs-and-outputs).  As there are beta-supported alternatives for both PipelineResources [for git](https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1-to-v1beta1.md#replacing-a-git-resour

[2021-01-21 20:18] jerop commented on #3591
@bitsofinfo @vincent-pli check out the newly-added [common expression language custom task](https://github.com/tektoncd/experimental/tree/master/cel) which may be helpful for your use cases

[2021-01-21 20:18] jerop commented on #3468
@itewk @bitsofinfo check out the newly-added [common expression language custom task](https://github.com/tektoncd/experimental/tree/master/cel) which may be helpful for your use cases

[2021-01-22 08:56] abdennour commented on #1542
Guys! please standarize the app. Helm chart is a must for k8s. In generate package distribution is a must.

[2021-01-22 09:21] #2557 closed

[2021-01-22 09:37] renhao-0518 opened #3707 "retries some steps"
[code]
When the build fails, it is now to retry the entire task，Can you support retrying certain steps in the task

[2021-01-22 09:41] renhao-0518 commented on #3707
In the gitops workflow, the version needs to be modified and submitted to the warehouse. When working together, there will be inconsistencies between the remote code and the local code, causing the submission to fail

[2021-01-22 11:34] #3703 closed

[2021-01-22 13:40] ImJasonH commented on #3707
We've (maybe just I've) been resistant to adding "workflow features" (retries, parallelism, conditionals, finally, etc.) to steps within a Task, since those features already exist at the Pipeline level. Duplicating this functionality duplicates complexity both in the implementation and in explaining concepts to users.

Can you describe your pipeline in more detail? Is it possible to express what y

[2021-01-22 14:08] GregDritschler commented on #3656
I was mistaken in my earlier comment about a cause for this being a stale pod informer cache.  The TaskRun reconciler doesn't use the pod informer cache to find the pod.  It uses the k8 API directly.  Given that, it should always find the pod it previously created (if it's still there).   There was speculation the creation of the pod was delayed by a webhook.  However webhooks run synchronously to

[2021-01-22 14:17] michaelsauter commented on #2298
I came across this issue as I was looking for a solution to run pipelines defined in a Git repository. Since there seems to be no solution so far, I tried to come up with a simple POC how to do this.

Some background on the context I'm coming from: the tools in place right now are Bitbucket, Jenkins and OpenShift. For each Bitbucket project (with some repos), there is one OpenShift namespace with

[2021-01-22 15:34] renhao-0518 commented on #3707
The task can be submitted into another task, retry when he failed，

pipeline （task--steps1_git-clone -- steps2_build-code -- step3_build&push images --step4_git-clone-config&Modify configuration -- steps5_push-config）

change into

pipeline （task--steps1_git-clone -- steps2_build-code -- step3_build&push images --step4_git-clone-config&Modify configuration）--> (task_steps_push-config)

[2021-01-22 15:41] ImJasonH commented on #3707
Yeah, exactly. In general Tasks should be responsible for doing one thing (e.g., building, testing, pushing), which helps make them reusable. When they're split out like that it's easier to configure "retry push failures", and if you redefine what "push config" means, the retry just automatically applies to it.

Let me know if you have any difficulty splitting out the retryable task in your pipeli

[2021-01-22 15:47] sbwsg commented on #3255
/remove-lifecycle rotten

Keeping this one alive because I think array params could still use some improvements like this to make them far more useful.

[2021-01-22 15:52] #3656 closed

[2021-01-22 16:01] renhao-0518 commented on #3707
Everything is normal, thank you

[2021-01-22 16:03] #3707 closed

[2021-01-22 16:36] jerop commented on #3255
`CEL Custom Tasks` is now available and can be used for indexing and other array functions on parameters: https://github.com/tektoncd/experimental/tree/master/cel

Taking this example `PipelineRun` with `contains` and `indexing`:
[code]
When executed, the `CEL Custom Task` produces evaluation `Results` that can be used in subsequent tasks:

[code]

@jtestard if you use this, please share any feedb

[2021-01-22 16:40] jerop commented on #3255
@sbwsg another alternative we could consider, if CEL custom tasks is promoted from experimental, is deprecating array params and supporting string params only for simplicity and flexibility ([avoiding to implement our own expression syntax](https://github.com/tektoncd/community/blob/master/design-principles.md#flexibility))

[2021-01-22 17:16] pritidesai commented on #3705
/kind documentation

[2021-01-22 17:38] supershll opened #3710 "CRD not appear in `kubectl api-resource | grep tekton` after apply release.yaml and accordingly cannot create Task"
after exec `kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.18.1/release.yaml`
then exec `kubectl api-resources --api-group=tekton.dev` , I can't see `tekton` api-resources

# Expected Behavior

[code]

# Actual Behavior

[code]

but when I exec `kubectl get crd | grep tekton` ,  the output as follows :

[code]

and accordingly, the task cannot be created :

[c

[2021-01-22 19:46] sbwsg commented on #3255
Very interesting!  I agree this would solve a lot of different problems we have with the existing array syntax's complexity and offer flexibility on syntax choice / behaviour.  I wonder how we could handle situations where a user passes an array of varying length and this needs to be merged / appended to a Step's `command` or `args` list.

[2021-01-22 22:40] bobcatfish commented on #2973
I feel like we haven't had much interest in this one so I'd be happy to close it and re-open it if needed some day in the future @vdemeester

[2021-01-22 23:29] bobcatfish commented on #1796
TEP which may be relevant to your interests @startxfr (if you are still interested in this!) tho it doesn't address this issue directly: https://github.com/tektoncd/community/pull/316

[2021-01-22 23:29] bobcatfish commented on #1838
TEP that might go in this direction: https://github.com/tektoncd/community/pull/316

[2021-01-23 01:46] supershll commented on #3710
Close Reason : Probably it is a cluster's problem, not related to Tekton

[2021-01-23 01:46] #3710 closed

[2021-01-24 13:17] rudeigerc commented on #3705
Hi, I'd like to make an update. However, the entire tutorial used `PipelineResource` as the resource input and output.
Should the update be imported as a complement of the origin tutorial or a brand new one?

[2021-01-24 20:53] jlpettersson commented on #3563
I am closing this in favor for the [Design doc: Task parallelism when using workspace](https://docs.google.com/document/d/1lIqFP1c3apFwCPEqO0Bq9j-XCDH5XRmq8EhYV_BPe9Y)

[2021-01-24 20:53] #3563 closed

[2021-01-24 20:59] jlpettersson commented on #3052
When analyzing this a bit deeper with the [Design doc: Task parallelism when using workspace](https://docs.google.com/document/d/1lIqFP1c3apFwCPEqO0Bq9j-XCDH5XRmq8EhYV_BPe9Y) and the following discussions in the API WG in december - I don't see that a custom scheduler is helping us that much with the problems, but it adds more code, complexity and perhaps introduce new problems.

I think we can cl

[2021-01-24 20:59] #3052 closed

[2021-01-25 00:56] TakiTake opened #3712 "Add nonroot user to base image"
### Feature request

Could you add nonroot user to base image?
Like this
[code]

I'd like to run Task as nonroot user as much as possible. But there is no prefer user in the base image. For example, not in gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init

### Use case

Run git-clone task as nonroot user.
https://github.com/tektoncd/catalog/tree/master/task/git-clone/0.2

I tested w

[2021-01-25 08:10] chmouel commented on #3221
/remove-lifecycle stale
/lifecycle frozen

Related https://github.com/tektoncd/pipeline/issues/3712

[2021-01-25 11:22] mancubus77 opened #3713 "image exists condition"
According to documentation
https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-task-execution-using-whenexpressions
There is a possibility to configure "when" condition based on image existence in registry.  Unfortunately, I can not find an example in the documentation.
I'm wondering if anyone can advise how to run a task if an image is no in the registry.