[2022-06-15 17:12] lbernick commented on #4141
@khrm I saw that #4468 fixes the metric tekton_pipelines_controller_pipelinerun_count; does it also fix tekton_pipelines_controller_pipelinerun_duration_seconds, or does that need to be fixed in a separate PR?

[2022-06-15 17:43] lbernick opened #4982 "Removal of v1alpha1 Task, TaskRun, Pipeline, and PipelineRun"
This issue tracks the removal of v1alpha1 Task, TaskRun, Pipeline, and PipelineRun, which are deprecated in favor of the v1beta1 versions.

@abayer do you want to be assigned to this?

[2022-06-15 17:52] abayer commented on #4982
/assign

[2022-06-15 17:57] lbernick opened #4983 "Pipelines V1 CRDs, Go types, and conversion webhooks"
This issue tracks the release of our V1 CRDs (and Run v1beta1).
The changes we'd like to make to these CRDs are described in [TEP-0096](https://github.com/tektoncd/community/blob/main/teps/0096-pipelines-v1-api.md).
The process for adding new API versions to these CRDs is described in [this doc](https://docs.google.com/document/d/1omfO0O4yoUuM1Fk2E6wjfdVNK6XFSmxI3pb13xQ3rys/edit?resourcekey=0-vfKb

[2022-06-15 17:58] lbernick opened #4984 "V1 version of Task"
This issue tracks the release of a v1 version of the Task CRD. More details in #4983.

[2022-06-15 17:58] lbernick opened #4985 "V1 version of TaskRun"
This issue tracks the release of a v1 version of the TaskRun CRD. More details in #4983.

[2022-06-15 17:58] lbernick opened #4986 "V1 version of Pipeline"
This issue tracks the release of a v1 version of the Pipeline CRD. More details in #4983.

[2022-06-15 17:58] lbernick opened #4987 "V1 version of PipelineRun"
This issue tracks the release of a v1 version of the PipelineRun CRD. More details in #4983.

[2022-06-15 20:14] dibyom commented on #4860
cc @Aleromerog

[2022-06-15 20:26] vsinghai commented on #4610
Wanted to bring to light that the `YAML Parser` cannot be used for tests in the `v1beta1` package due to a circular dependency within the `mustParse()` function.

[2022-06-15 22:07] austinzhao-go commented on #4913
thanks this catch!

applied this update in another field addition PR for TEP-0104
https://github.com/tektoncd/pipeline/pull/4877

[2022-06-16 08:37] khrm commented on #4141
Yes, it also fixes `tekton_pipelines_controller_pipelinerun_duration_seconds`.

[2022-06-16 10:40] aceeric commented on #4966
@v1nc3nt27 I settled on a work-around. I modified the upstream https://github.com/tektoncd/catalog/blob/main/task/git-clone/0.6/git-clone.yaml before deploying the `Task` into the cluster. The beginning of the script was modified to look thus:
[code]

[2022-06-16 13:05] lbernick commented on #4141
Great thanks Khurram!

[2022-06-16 13:05] #4141 closed

[2022-06-16 13:32] JeromeJu commented on #4610
Noticed that most of the tests have been refactored thanks to #4749.
I would love to help update the checkboxes and the issue if necessary.

[2022-06-16 13:35] jerop commented on #4610
yes please, thanks @JeromeJu

[2022-06-16 14:26] skaegi commented on #2933
Ideally Tekton should provide a mechanism to provide resource requirements for those containers it injects however a good workaround here is to use a LimitRange that provides reasonable defaults as those will also be applied to init containers.

[2022-06-17 12:49] #3800 closed

[2022-06-17 18:02] ywluogg opened #5001 "Refactor results and params into separate sub directories"
### Feature request

Because the results and params related codebase has become complex and are relatively modularized, so it's worths thinking about refactoring them into sub directories:
current proposal:
struct definitions: result_types.go, param_types.go (done)
validations: TODO
reconciler functionalities: organize into `pipeline/pkg/results` and `pipeline/pkg/params`

### Use case

This is al

[2022-06-17 19:18] StevenACoffman commented on #4453
/remove-lifecycle stale

[2022-06-17 19:18] StevenACoffman commented on #4453
/remove-lifecycle rotten

[2022-06-17 20:59] franpilot commented on #3404
Hello,
Thanks for releasing version v0.35.1 it also worked well for us. We are using five controller instances running well so far.
But after upgrading to version v0.36.0, we noticed an undesired behavior of task runs failing randomly with the following error:

[code]

After digging a little bit into what could be happening, we made a test by running only one controller instance, and it worked.
So

[2022-06-17 21:00] #2812 closed

[2022-06-17 21:04] bitsofinfo commented on #2812
/reopen still valid

[2022-06-17 21:49] #4978 closed

[2022-06-18 00:18] #4582 closed

[2022-06-20 10:01] SergK commented on #4809
**Tekton v0.30.4**

Kaniko build task works without issues on AWS EKS 1.20 with IRSA (IAM Roles for Service Accounts) enabled.
The **only patch** you need to apply is to user proper service account:

Service account
[code]

PipelineRun
[code]

[2022-06-21 15:24] RafaeLeal commented on #4895
Should I open a different issue to discuss the `FailedMount` error?

[2022-06-21 17:08] geriom commented on #4557
This is a tricky issue because you either include all vendors or none. The opensource docs is not the best place for vendor-specific docs. Closing this one.

[2022-06-21 17:08] #4557 closed, assigned to geriom

[2022-06-21 17:21] geriom commented on #4559
We finally have a couple of howtos:  a [git clone how-to](https://tekton.dev/docs/how-to-guides/clone-repository/) and currently a [build-push with Kaniko how-to is being reviewed](https://github.com/tektoncd/website/pull/394).

I'm closing this issue since it's goal was not well-scoped. It's probably better to open issues with specific examples in mind. Thank you for the links.

[2022-06-21 17:21] #4559 closed

[2022-06-21 21:42] JeromeJu commented on #4446
/assign

[2022-06-22 12:56] vdemeester commented on #3404
@franpilot I think the initial thought was that knative/pkg would be bump before we release, which is not the case.
cc @afrittoli we never committed the patch in `main` ? 🤔 We should probably backport the patch to 0.36.1 and 0.37.1 as well as `main` until we bump `knative/pkg`

[2022-06-22 14:57] abayer commented on #4433
This specific flake should be dealt with by #5005, since that removes the `v1alpha1` tests entirely, but I believe this (and other `v1alpha1` flakes, namely #4645, #4427, and #4415) may well continue to be flaky in their `v1beta1` equivalents. In general, I think most, if not all, of the flakes we hit in e2e tests are due to timing issues on clusters created in our test project in GKE, since I've

[2022-06-22 15:34] abayer commented on #4543
Ok, with `.taskSpec.apiVersion` and `.taskSpec.steps` specified, you get `admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: validation failed: invalid value: custom task spec must specify kind: spec.pipelineSpec.tasks[0].taskSpec.kind`. And if you do specify `.taskSpec.kind` as well (even with `apiVersion` as `tekton.dev/v1alpha1` and `kind` as `Task`), the pipeline ta

[2022-06-22 15:56] abayer commented on #4543
/assign

[2022-06-22 18:38] dibyom commented on #4895
@RafaeLeal yes please!

[2022-06-22 20:40] jerop opened #5024 "Refactor Resources Package in PipelineRun Reconciler"
The resources package in PipelineRun reconciler is doing too much and needs some cleanup: https://github.com/tektoncd/pipeline/tree/v0.37.0/pkg/reconciler/pipelinerun/resources

Here are some cleanup ideas @pritidesai and I put together:
- [x] https://github.com/tektoncd/pipeline/pull/5025
- [ ] Create validation package
- [ ] Create apply package
- [ ] Create state package (PipelineRunState)
- [

[2022-06-22 20:55] gnunn1 commented on #1744
I just discovered this issue, for me this comes into play when I do not control the task, i.e. it's a ClusterTask or a Task being sourced from elsewhere. This task is essentially a black box that specifies parameters x,y,z and I would like to source them from a configmap or a secret, passing environment variables here isn't helpfull since the task is specifically expecting parameters.

The only wa

[2022-06-22 20:57] #4556 closed

[2022-06-23 08:06] #4501 closed

[2022-06-23 08:12] vdemeester commented on #4398
/lifecycle frozen

[2022-06-23 16:02] jerop commented on #4476
we still need to figure this out

/remove-lifecycle stale

[2022-06-23 17:30] satata-clgx commented on #4731
We are seeing the same issue.

[2022-06-23 18:41] dibyom commented on #4444
I'm not sure I follow. The flag proposed is to control whether the `defaultScriptPreamble` is either`"#!/bin/sh\nset -e\n` or `"#!/bin/sh\n`.  The `defaultScriptPreamble` only takes effect if the script does not already contain a preamble, so it is possible to write tasks that work across all Tekton installations by simply adding a preamble in the task script. (My suggestion was that we could even

[2022-06-23 19:16] imjasonh commented on #4444
My point was that `defaultScriptPreamble` would be a string, not a bool, so there could be any number of `defaultScriptPreamble`s configured for any number of Tekton platforms, so in order to know whether a catalog task will be compatible is to ensure it explicitly sets the preamble and doesn't get the default. Rather than encourage a lint check to maintain compatibility, what if we... just didn't

[2022-06-23 19:21] abayer commented on #4546
Should this be folded into #4983?

[2022-06-23 22:20] #4066 closed

[2022-06-24 19:21] jerop commented on #4954
06.24 update: we are dogfooding the minimal status in the alpha integration tests
- https://github.com/tektoncd/pipeline/pull/5032
- https://github.com/tektoncd/plumbing/pull/1096

[2022-06-26 03:48] anandjaisy opened #5040 "Authenticate private google cloud artifact registry from Tekton Pipeline CI"
I have a local setup of Tekton Pipeline, which has task to clone and build application . The code base is on java so, clones the code from BitBucket and does a Gradle build.

**gradle.build**

[code]

I have set up a service account and passed it to the pipeline run

[code]

**Service account**

[code]

During the Gradle build, getting an exception as

[code]

![image](https://user-images.githubus

[2022-06-26 08:25] faust64 commented on #1530
I see https://github.com/tektoncd/community/pull/560 was merged. Now I'm trying to make it work.
My use case involved overriding resource limits/requests ( https://github.com/tektoncd/pipeline/issues/1548 ), and I came up with the following pipelinerun:

[code]

Trying to create this, I get the following error:

[code]

Am I doing it wrong?
The docs I could find, regarding stepOverrides, mostly gi

[2022-06-26 14:22] #4516 closed

[2022-06-26 18:47] #4688 closed

[2022-06-27 08:08] nicodmt opened #5041 "Jenkins Interactive User Input but for Tekton"
Hi,

Me and my team are building two tkn pipelines.
One is for creating an image of the build and the other to change the deployment config depending on which environment we want to deploy the image created to (Production, Test, and sub-test env.).

We are running in OpenShift v.3 with Jenkins where the pipelines wait for a User Input and are now working towards OpenShift v.4 with Tekton but I've

[2022-06-27 08:32] nicodmt commented on #5041
Not an issue, more of a feature proposition.

[2022-06-27 08:42] grid-dev commented on #4699
/remove-lifecycle stale As issue still persists

[2022-06-27 09:09] vdemeester commented on #4546
probably 🙃

[2022-06-27 15:46] lbernick commented on #4546
Added it to the linked issues in that epic! I think this still has value remaining open as a subtask, to discuss what we want to do when we update the stored version to v1 and need to implement conversion from v1beta1 to v1.

[2022-06-27 18:15] faust64 commented on #1530
Indeed, I was missing this.
I can create my pipelinerun, after editing my feature-flags configmap.
resource requests/limits match those configured in my stepOverrides.
Thanks a lot @lbernick !

[2022-06-28 05:29] pritidesai commented on #4731
/cc @SaschaSchwarze0

[2022-06-28 18:45] skaegi commented on #4976
/reopen
Touched up title and description slightly. This issue is still very relevant when trying to use ResourceQuotas and Limits

[2022-06-28 19:15] dibyom commented on #4112
I think we need to do this soon - we could point users to https://appvia.github.io/psp-migration/ to migrate to an alternate policy engine. We could also see if we can enable https://kubernetes.io/docs/concepts/security/pod-security-admission/

[2022-06-29 22:09] ywluogg opened #5056 "[TEP 0075, 0076] More ways of referencing params and results"
### Feature request

There are certain ways of referencing params and results, either as a whole or accessing keys, are implemented and tracked in #4723, but there are other ways that should be considered for accessing params and results.

Thanks for @chuangw6 and @Yongxuanzhang 's summary, the following are supported:
- String Types
  - $(tasks.myTask.results.myStringResult)
  - $(tasks.myTask.re

[2022-06-29 22:26] chuangw6 commented on #5056
Object param/result name and its keys shouldn't contain dots. see more details [here](https://github.com/tektoncd/community/pull/711/files)

[2022-06-30 14:01] darkprisco opened #5058 "Tekton finally task pending for ever"
Hi all,
 I am trying to use the finally task in case of failures, having something like this:

[code]
instead the task definition is:

[code]

What is happening is that the previous simple task which is triggered once the **simulate-failure** fails (as expected)  is never returning and the task is always running eve if the pipeline seems failed.
I am not able neither to understand what is going on

[2022-06-30 18:32] #5058 closed

[2022-06-30 18:44] #4982 closed

[2022-06-30 19:05] austinzhao-go commented on #4842
should be a minor consideration at this moment. closed.

[2022-06-30 23:05] #4510 closed

[2022-07-01 23:51] #4611 closed

[2022-07-02 16:17] #1542 closed

[2022-07-04 00:17] #4545 closed

[2022-07-04 08:48] afrittoli commented on #4545
@pritidesai is this question still valid?

[2022-07-04 08:57] SaschaSchwarze0 commented on #4731
@rkimmel-hv @ChrisJBurns @satata-clgx I do not have an env with Istio at hand. Can somebody verify the change of above pull request?

[2022-07-04 19:07] JeromeJu commented on #5024
/assign

[2022-07-04 20:09] JeromeJu commented on #4610
Due to the authorization issue, I cannot edit on the issue. So instead leaving this comment to suggest closing

While some of tests might be outdated, the ones that are left could be marked completed.

***
Tests that might not require any updates.

- [x]  TestReconcileOnCancelledRunFinallyPipelineRun
- [x] TestReconcileOnCancelledRunFinallyPipelineRunWithFinalTaskAndRetries
- [x] TestReconcilePipe

[2022-07-04 21:24] ywluogg opened #5072 "Make validateObjectKeys() Public for Tekton Chains to Use"
### Feature request

[validateObjectKeys](https://github.com/tektoncd/pipeline/blob/eca056e14a3777a865ae2b8c7e6c4e5d34886f40/pkg/apis/pipeline/v1beta1/task_validation.go#L409) is validating properties against a ArrayOrSting, which is needed in Tekton Chains. To avoid code duplication, this worths becoming a public function

### Use case

See above

[2022-07-04 21:25] ywluogg commented on #5072
/assign @chuangw6 Hi Chuang, I'm wondering if you have time to make the function public? Thanks

[2022-07-04 21:25] ywluogg commented on #5072
Hi Chuang, I'm wondering if you have time to make the function public? Thanks

[2022-07-05 07:58] KIRY4 opened #5074 "Skip task if folder in git repo not exists"
### Feature request

Hello everyone. Is it possible somehow to skip step in pipeline if some folder not exists in git repo which was fetched in pervious step?

### Use case

We have several types of repos. With following folder structure in repo.

1) *-api, *-service,
2) *-api, *-entity, *-service

For 1st type in my pipeline I have two gradle tasks with specific parameters for each task.
For 2nd

[2022-07-05 09:11] 0xFelix opened #5075 "Projected volumes as workspaces"
### Feature request

Support kubernetes projected volumes (https://kubernetes.io/docs/concepts/storage/projected-volumes/) as workspace type.

### Use case

By using projected volumes a user could pass an arbitrary amount of ConfigMaps or Secrets to a PipelineRun/TaskRun without modifying the actual Task/ClusterTask.

In kubevirt-tekton-tasks we have tasks to [customize](https://github.com/kubevir

[2022-07-05 15:35] ywluogg opened #5078 "Discussion about disallowing usage of object/array param/result as a whole in format: results.result1 or params.param1 (without star reference)"
### Feature request

In [TEP 75](https://github.com/tektoncd/community/blob/main/teps/0075-object-param-and-result-types.md) and in the implementation tracker (#5056) we stated that we don't want to support referring objects/array params/results as a whole in format `results.result1` or `params.param1`

### Use case

As stated above

[2022-07-05 16:40] chuangw6 commented on #5072
sg! done #5073 !

[2022-07-05 17:35] vdemeester opened #5080 "Tasks are failing when "init" is the first argument followed by two or more other arguments."
# Expected Behavior

Given the following task

[code]

The following command should work:

[code]

# Actual Behavior

It fails as written above

# Steps to Reproduce the Problem

- Create the task
- Issue the `tkn` commands

# Additional Info

This affect any Pipeline release that contains the follow change :
https://github.com/tektoncd/pipeline/pull/4826. This means it affects 0.32 to 0.37 and th

[2022-07-05 18:09] vdemeester commented on #5080
Upstream go issue, just in case : https://github.com/golang/go/issues/53691

[2022-07-06 09:41] Fabian-K opened #5086 "Expose metric for PipelineRunPending"
### Feature request

Expose a metric that contains the number of pipeline runs that are pending (`spec.status == PipelineRunPending`)

### Use case

We use the "PipelineRunPending" feature to limit the concurrency for some pipelines. The PipelineRuns are created with spec.status = PipelineRunPending and there is a controller on our side that updates those runs based on some rules. A high number of

[2022-07-06 17:39] #5072 closed

[2022-07-06 18:23] ywluogg commented on #4080
cc @ywluogg

[2022-07-06 18:29] lbernick commented on #4080
@michaelsauter have you checked out the [remote pipelines](https://tekton.dev/docs/pipelines/pipelineruns/#remote-pipelines) feature? this was added in v0.35.0 and sounds a lot like what you're describing.

Is it fair to say that pipeline-level sidecars might be better to track in #4235? I'm not sure I understand how this relates to parameterizing resource requirements.

An update since I last com

[2022-07-06 19:17] bcaton85 opened #5091 "Add digest to object status when referencing a task bundle"
### Feature request

Currently a task can be referenced through a bundle in a pipelinerun/taskrun.[1] This can either use a tag or digest of an image. When the task bundle reference is a tag and added to the status fields of the taskrun and pipelinerun it should also store the exact digest of the bundle used. This removes ambiguity on which version of the task bundle was ran in the pipeline.

[1]

[2022-07-06 21:34] 95rade opened #5092 "TaskRun results in 'Defaulted container "step-echo" out of: step-echo, place-scripts (init), place-tools (init)'"
# Expected Behavior
I am trying to deploy a RobotFramework task from tekton HUB:
https://hub.tekton.dev/tekton/task/robot-framework

Running the task as:
[code]
kubectl logs returns:
[code]
Deleted all the crud from yaml files and tried bare bones, no luck. I am guessing the issue is with the container, so I tried 'alpine' 'docker.io/python:3.10.5', 'python', I always get that 'Defaulted container

[2022-07-06 21:47] dibyom opened #5093 "Simplify Release Notes section of our PR checklist"
I find the release notes section of our PR checklist to be confusing - it's long, contains a lot of instructions, the back-ticks have to be followed by the literal string "release-note", the templates within the comment have to be copied **outside** the comment block, multiple ways of adding the NONE release note etc. In the last two weeks, I have manually fixed the section of at least 3 PRs while

[2022-07-07 07:10] michaelsauter commented on #4080
I have seen it! Unfortunately it doesn't quite fit what we do right now. We currently have a custom file in each repo which defines the pipeline, but also has other configuration. The pipeline is not described fully to avoid boilerplate - the user just references some tasks instead of providing a full `Pipeline` resource. We then read the config file and  automatically inject a task in the beginni

[2022-07-07 07:55] #5080 closed

[2022-07-07 08:14] vdemeester commented on #5091
/cc @imjasonh
I am 💯% fo rthis 👼🏼

[2022-07-07 08:28] toralf opened #5098 "wrong value for default-service-account: "default""
Had to apply this to 0.37.1:
[code]

[2022-07-07 09:45] #5093 closed

[2022-07-07 10:38] dbazhal opened #5099 "Unable to run task with step named "init""
[code]
After update(0.28? -> 0.32.4) when I try to run task with step named "init", my TaskRun fails with:
[code]
I'd expect to be free in selection pipeline/task/step names, they should not be limited to not interfere with reserved words(may be internal steps could be named with some obfuscation - not "init" but "init-{{ somehash }}")

[2022-07-07 10:39] afrittoli commented on #5099
@vdemeester ^^^

[2022-07-07 10:47] vdemeester commented on #5099
@dbazhal can you share the `Task` definition ? (even redacted). This would not happen with more recent versions as the init container is not using `init` anymore, but it's just reporting the problem to another name.
I do agree we should make sure internal container do not interfere with any task step though.

/kind bug
/assign

[2022-07-07 12:29] lbernick commented on #4080
Just FYI about the new [propagated parameters](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#propagated-parameters) feature and upcoming [propagated workspaces](https://github.com/tektoncd/community/blob/main/teps/0111-propagating-workspaces.md) feature which are designed to reduce verbosity.

Thanks, this example is really helpful. In Tekton we have a concept of ["authoring

[2022-07-07 12:59] imjasonh commented on #5091
+1, we should also consider adding an admission controller warning when someone references a bundle by tag: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#response

[2022-07-07 14:08] wilstdu opened #5102 "Results doesn't work on Windows"
Hey, I'm not able to reference results from the task on Windows nodes, in Linux it works without any problems.

- Tekton Pipeline version:
v0.35.1

- Pipeline definition:
[code]
Getting this error in PipelineRun:
![image](https://user-images.githubusercontent.com/40565212/177793112-b532a174-13cc-4af4-a85f-ed4ae2463411.png)

`Results` documentation (https://tekton.dev/docs/pipelines/tasks/#emitting

[2022-07-07 14:26] imjasonh commented on #5102
@aiden-deloryn as one of the folks who's used Tekton on Windows the most, do you have any experience or insight to share here? I've never tried to use results on Windows, it's possible this is just broken.

Even worse, without automated tests to ensure it works end-to-end, even if it works today, as we make changes to how results are stored we might accidentally break Windows in the future. 😢

[2022-07-07 15:59] michaelsauter commented on #4080
While I generally agree with the distinction, I think that `Task` and `Pipeline` could also be seen as being in two different "times". Tasks are the reusable building blocks, therefore they are authored "earlier" then the pipelines, and the pipelines may want to customise the tasks they are using. For me the customisation of compute resources and sidecars is comparable to passing parameters ...

W

[2022-07-07 20:31] #4533 closed

[2022-07-07 23:08] aiden-deloryn commented on #5102
@imjasonh I haven't actually used results on Windows either unfortunately. I'm not surprised that it does not work. I don't know much about the implementation of results, but I'll have a look into it a bit more when I have some spare time.

E2E tests for Windows would be very helpful...

[2022-07-08 18:58] lbernick opened #5110 "[FR] Specifying compute resources on Pipeline Tasks"
### Feature request

Example:

[code]

### Use case

Spin-off from #4080. In [OpenDevStack](https://github.com/opendevstack/ods-pipeline/blob/master/docs/ods-configuration.adoc#pipeline), the user is responsible for configuring Pipeline Tasks, and the platform automatically injects some additional starting/finally tasks and creates PipelineRuns. From @michaelsauter "We have been thinking to simply

[2022-07-08 19:36] chuangw6 opened #5111 "Put all `pkg/apis/pipeline/v1beta1/*_test.go` files to `v1beta1_test` package"
### Feature request

Under `pkg/apis/pipeline/v1beta1` folder, there are a number of `*_test.go` files under `v1beta1` package, whereas some are under `v1beta1_test` package. Problem with this is that in some test files under `v1beta1` package, if we want to use some test helper functions that are defined in `v1beta1_test` package, we cannot import them i.e. [getContextBasedOnFeatureFlag](https://

[2022-07-08 19:39] lbernick opened #5112 "[FR] Pipeline-level sidecars"
### Feature request

The ability to create sidecars that can be used by multiple Tasks in a Pipeline. (Note: this is different from #4235, which requests allowing a Task's sidecar to be defined in a Pipeline Task.) This is similar to the ["daemon containers"](https://argoproj.github.io/argo-workflows/walk-through/daemon-containers/) feature in [Argo Workflows].

My guess is we would implement this

[2022-07-08 19:43] lbernick commented on #5111
The motivation here is based on our [code standards for tests](https://github.com/tektoncd/community/blob/main/standards.md#tests), which state that we should aim to only test exported functions. FYI @pritidesai

[2022-07-08 20:16] lbernick commented on #5092
hi @95rade thanks for filing! I think the message `Defaulted container "step-robot-tests" out of: step-robot-tests, place-scripts (init), working-dir-initializer (init), place-tools (init)` that you are seeing is not really an error-- this just means that you asked kubernetes for the logs in some pod but didn't specify which container in that pod you wanted logs from, so it chose one for you. (In

[2022-07-09 14:02] 95rade commented on #5092
Hi @lbernick and thanks for the comment. The task in question has only one step so there should only be one container running in that pod. The pod is stuck in 'Pending' state and the timeout is set to 1hr which is enough. The expectation is that when this task runs it should scan rf-test directory for any .robot files and when it finds them execute them. Then stop. This is not happening. If you co

[2022-07-11 07:03] michaelsauter commented on #5110
Thanks for opening this!

We were discussing this again internally, and we came out of that discussion one step closer to "let's switch to PipelineRuns". There are other things that can be done with PipelineRuns that can't be done with Pipelines, such as [inline task specs](https://github.com/tektoncd/pipeline/blob/release-v0.35.x/examples/v1beta1/pipelineruns/pipelinerun-with-pipelinespec-and-tas

[2022-07-11 07:05] vdemeester commented on #5111
Note that the main point on the "code standards" is that exported function are tested, the *only*, for me, is to take with a grain of salt. In an ideal world we would only test exported method ; which tends to make the code base be composed of smaller packages. But we are not in an ideal world 😅.

Also, if there is, sometimes, cases where we would like to exported a function or a set of function b

[2022-07-11 08:15] roelvdberg opened #5114 "Critical CVE in go-restful CVE-2022-1996"
Authorization Bypass Through User-Controlled Key in GitHub repository emicklei/go-restful prior to v3.8.0.

Our scanners found [CVE-2022-1996](https://nvd.nist.gov/vuln/detail/CVE-2022-1996), this is an authorization issue with the go-restful module.
What is the impact of this CVE on ArgoCD and can it be fixed?

The images containing the CVE are:
gcr.io/tekton-releases/github.com/tektoncd/pipeline

[2022-07-11 13:22] adambkaplan opened #5115 "Move log fetch/forwarding logic to Pipelines (or other common) repo"
The concept for log forwarding and persistence for Tekton Results utilizes the `tektoncd/cli` repository to pull in the logic for fetching and presenting logs. The cli libraries add features that make it easier to consume logs from `PipelineRun`s or `TaskRun`s.

Moving this logic to `pipeline` or a new common repo would make it easier for other developers to utilize this library code.

_Originally

[2022-07-11 13:51] lbernick commented on #5110
Good to know! Just FYI-- I am wondering if our upcoming [pipelines in pipelines](https://github.com/tektoncd/community/blob/main/teps/0056-pipelines-in-pipelines.md) feature will help with your use case? Your users could define Pipelines, and they could be used as sub-Pipelines within Pipelines you create.

[2022-07-11 14:01] imjasonh commented on #5114
I believe this package is only depended on at development-time, and not at runtime. It seems to be used via kubernetes code generation.

[code]

As such, I believe the vulnerability doesn't affect users of Tekton. I also don't believe the vulnerability affects Tekton's CI usage, since code is expected to be generated by developers, and is only checked by CI. The CI environment's configuration isn'

[2022-07-11 14:38] RafaeLeal opened #5116 "TaskRun stays Running when pod goes to `FailedMount`"
# Expected Behavior
When a TaskRun can't correctly mount the volume, it should fail.

# Actual Behavior
The TaskRun's remains "Running" with the message Pending until it eventually times out. The events with the error are at the pod level.

# Steps to Reproduce the Problem
1. Create a TaskRun with an inexistent config map or secret mount

# Additional Info
Very similar issues:
- https://github.com

[2022-07-11 14:40] abayer opened #5117 "`TestPipelineRunTasksTimeout` `finallytask` times out when it shouldn't"
This link will go away, but see https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_pipeline/5077/pull-tekton-pipeline-kind-alpha-integration-tests/1546493313987645440 for an example. Failure and YAML dumps at https://gist.github.com/abayer/bfbe551be440f9427672d02a981e43b9 as well.

I've seen this, or similar to this, a number of times in my work on #5077 (where I'm running the kind

[2022-07-11 15:01] abayer opened #5118 "Sporadic failures with `etcdserver: request timed out` on Kind Prow tests"
An example is https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_pipeline/5077/pull-tekton-pipeline-kind-alpha-yaml-tests/1546485026143604736 (link will quite possibly go away).

https://github.com/kubernetes-sigs/kind/issues/717 is a similar issue, which was resolved by adding a daemonset to their Prow cluster much like the one we added in https://github.com/tektoncd/plumbing/pull/

[2022-07-11 15:57] JeromeJu commented on #4080
/assign

[2022-07-11 17:22] lbernick opened #5120 "Custom Task controller for testing"
In order to write better integration/e2e tests for custom Tasks, it would be useful to have a controller that watches for Runs of some kind we just use for testing, and install this controller when running e2e tests. This controller could do any of:
- wait indefinitely
- set the status to "succeeded"
- set the status to match some boolean succeeded/failed set in the spec.

This controller shouldn'

[2022-07-11 17:22] lbernick commented on #4686
Created https://github.com/tektoncd/pipeline/issues/5120 to track a custom Task controller; this issue can just be to track unit tests.

[2022-07-11 17:29] jerop commented on #5120
planning to reuse https://github.com/tektoncd/experimental/tree/main/wait-task for this

[2022-07-11 18:00] JeromeJu commented on #4686
/assign

[2022-07-11 18:44] spstarr opened #5122 "Behavior between git-init v0.29.0 and latest (v0.37.2) breaks non-root clones"
# Expected Behavior
When cloning with non-root using security context
[code]
When using v0.29.0 this works fine, even though `/workspace/output` is owned by:

`drwxrws--x    2 root     40000         6144 Jul 11 18:33 /workspace/output`

# Actual Behavior
When using `v0.3x.x` of `git-init` I get different results:

[code]

# Steps to Reproduce the Problem

1. Use https://github.com/tektoncd/catalog

[2022-07-11 18:55] spstarr commented on #5122
Workaroundable closing

[2022-07-11 18:55] #5122 closed

[2022-07-12 02:05] #4767 closed

[2022-07-12 07:20] vdemeester commented on #4710
Added this to the v1 project as I would really want to have this in beta at least so that we can deprecate `taskref.bundle` and rely on remote resolver for oci bundle.

[2022-07-12 07:24] vdemeester commented on #5122
cc @abayer @imjasonh @mattmoor

[2022-07-12 09:29] waveywaves commented on #4426
/lifecycle frozen

[2022-07-12 09:43] AlanGreene commented on #5092
The container `step-robot-tests` is the container for the step defined in your Task. The other 3 containers are part of the Tekton machinery and are automatically added, this is expected. As Lee stated above, the 'Defaulted container' message is not an error, it is normal behaviour when you request logs from a Pod with multiple containers without specifying the container name.

If you inspect the

[2022-07-12 10:37] hWorblehat commented on #4937
#4953 is now merged, but it's only a partial solution. It's good enough for me, for the moment, but the Downward API volume is still needed if one requires waiting on sidecars.

I'll leave it up to the Tekton team to decide whether to close this issue or leave it open.

[2022-07-12 13:50] vdemeester commented on #3661
Two things around this issue:
- I added this to the v1 board in order to make sure we go through it and we take a decision here.
- The current take is to put our efforts into the remote resolvers, see [here](https://github.com/tektoncd/pipeline/issues/4710), that would also support oci bundle, making this a "duplicate" way of refering to an OCI bundle.

I think we should make sure we mark the fiel

[2022-07-12 15:54] lbernick opened #5126 "Developer docs for Tekton's use of CRDs, knative, webhooks, reconcilers, etc"
Right now, our docs for developers link to the k8s docs on CRDs, but don't explain things like:
- which parts of the codebase are run by the webhook vs the reconciler (and what webhooks vs reconcilers actually do)
- the fact that we use knative generated code for the reconciler and webhook, and how our code implements the interfaces (such as validatable, defaultable, and reconcileKind) that knativ

[2022-07-12 18:28] dibyom commented on #5126
I've found https://book.kubebuilder.io/introduction.html to be helpful as well as https://github.com/knative/pkg/tree/main/injection

[2022-07-12 19:03] lbernick commented on #3661
Proposed in https://github.com/tektoncd/community/pull/755

[2022-07-12 19:27] #4446 closed

[2022-07-12 19:38] abayer opened #5127 "PipelineRuns with deprecated `timeout` field sometimes are marked as failed rather than timed out"
`TestPipelineRunTimeout`, which is exercising the deprecated `PipelineRunSpec.Timeout` field, is one of our semi-regular flakes, and when I just saw it fail, I decided to deep-dive to try to figure out what's going on. I compared a successful run of the test with a failure, and found that the only real difference in the logs I could find is this:

From the successful run:
[code]

From the failed r

[2022-07-12 19:59] abayer commented on #5127
fwiw, the logs I looked through were https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/5077/pull-tekton-pipeline-kind-alpha-integration-tests/1546917074654203904/build-log.txt for the success and https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/5077/pull-tekton-pipeline-kind-alpha-integration-tests/1546923584495030272/build-log.txt for the failure.

[2022-07-12 20:21] Ijmcclung opened #5128 "HorizontalPodAutoscaler v2beta1 is deprecated in v1.22+"
# Expected Behavior
A released deployment manifest that does not use the deprecated HorizontalPodAutoscaler.
# Actual Behavior
tekton-pipelines uses HorizontalPodAutoscaler in the deployment manifest
# Steps to Reproduce the Problem
1. Download latest release yaml or v0.27.3 yaml
# Additional Info
- Kubernetes version: 1.23

- tkn version :
  Pipeline version: v0.27.3
  Triggers version: v0.16.0

[2022-07-12 20:30] dibyom commented on #4895
Closing since the ImagePullBackoff case is now handled

[2022-07-12 20:30] #4895 closed

[2022-07-12 21:29] mike-serchenia commented on #3208
the problem with this approach is if tekton-operator is used to install tekton-pipelines

`tekton-operator` will create ksa `tekton-pipelines-controller` and even if you annotate it with google service account, reconciler will remove the annotation

[2022-07-12 23:13] 95rade opened #5129 "git-clone fails on Corporate gitlab with good secret (access-token)"
+ /ko-app/git-init '-url=https://gitlab.com/joe.blogs/mytekton.git' '-revision=' '-refspec=' '-path=/workspace/output/' '-sslVerify=false' '-submodules=true' '-depth=1' '-sparseCheckoutDirectories='
{"level":"error","ts":1657652397.9147205,"caller":"git/git.go:55","msg":"Error running git [fetch --recurse-submodules=yes --depth=1 origin --update-head-ok --force HEAD]: exit status 128\nwarning: url

[2022-07-13 06:16] olegy2008 commented on #4687
Is there any updates?

[2022-07-13 07:18] vdemeester commented on #5122
@mattmoor If you mean adding the `securityContext` to `runAsRott`, we did it in the tests that runs in the repository. It is not necessary added to the catalog, nor to users Tasks that want to use the latest git image.

@abayer I thought we added a small "hack" to have a `git` safe directory configured so that this wouldn't fail, but maybe I am wrong ? Something like `git config --global --add saf

[2022-07-13 09:46] vdemeester commented on #5128
From #5130

[2022-07-13 13:04] abayer commented on #5127
I'm working on a possible solution in https://github.com/tektoncd/pipeline/blob/d71d7dbd0ef30a857035015e0dda2a864caf8039/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go#L435

If `pr.HasTimedOut` returns false, next it would check if all tasks are done, one or more tasks timed out, and we're within something like 1 second of the `PipelineRun`'s timeout. If so, the `PipelineRun` would get m

[2022-07-13 14:20] vdemeester commented on #5091
Note that with https://github.com/tektoncd/pipeline/issues/3661, we need to make sure this happens on the bundle resolver side instead of here.

[2022-07-13 14:43] imjasonh commented on #4687
It sounds like the missing permissions issue was fixed in https://github.com/tektoncd/pipeline/issues/4687#issuecomment-1110144643 with:

I'll close this issue, feel free to respond if this is still an issue for anyone.

[2022-07-13 14:43] #4687 closed

[2022-07-13 15:26] mike-serchenia commented on #4687
Manually adding annotations won't help, operator will rewrite it to default

[2022-07-13 15:32] imjasonh commented on #4687
Thanks for clarifying. So the issue isn't specific to auth, it's just that the solution to the auth problem requires setting an annotation on the SA, and the Operator doesn't support that well. Is that correct?

If so, I'd suggest filing a new issue on the Operator, referencing this issue, covering the fact that SA annotations are overwritten by the Operator.

Does that make sense?

[2022-07-13 15:34] vdemeester commented on #5122
@abayer then I *think* we need to add more than just `spec.Path` *but* all the folder on top (`/workspace/`, …), maybe ?

[2022-07-13 15:35] mike-serchenia commented on #4687
https://github.com/tektoncd/operator/issues/905

[2022-07-13 16:09] imjasonh commented on #5102
Did some digging about termination message paths on Windows, and found https://github.com/kubernetes/kubernetes/issues/68791 and this comment in [the code](https://github.com/kubernetes/kubernetes/blob/09e8339ae4e575ec40e8ed0fc2829fcb678c0f19/pkg/kubelet/kubelet_pods.go#L501):

So that's one thing to be aware of -- termination messages (which results currently rely on) only work on Windows if you'

[2022-07-13 17:03] abayer commented on #5127
#5133 has a different approach:

[2022-07-13 17:46] abayer commented on #5122
@vdemeester Perhaps? I may have been too conservative - it may just make sense to do it for `/` regardless of whether `spec.Path` is given or not.

[2022-07-13 18:12] spstarr commented on #5122
I had to override by this:

[code]

So within the `git-batch-merge` catalog task

[2022-07-13 19:00] spstarr commented on #5122
Though, I note the catalog for both `git-batch-merge` and `git-clone` do not use git-init 0.37.x at the moment

[2022-07-14 02:21] vsinghai commented on #4923
issue has been fixed in https://github.com/tektoncd/pipeline/pull/5000

[2022-07-14 02:21] #4923 closed

[2022-07-14 05:33] edvinysz opened #5135 "Windows node volume not detaching when multiple workspaces are used"
# Expected Behavior

Task that uses multiple shared workspaces, after pipeline run, removes the attached volumes from the windows node.

# Actual Behavior

The attached volumes are left after the pipeline has finished working (does not matter if failed/success)

# Steps to Reproduce the Problem

1. Have windows node and affinity assistant enabled
2. Create Pipeline run with shared workspace like s

[2022-07-14 08:06] r67yfyt opened #5136 "Please support helm chart"
### Feature request

Just like the title

[2022-07-14 11:08] ynqa opened #5137 "Support `topologySpreadConstraints` field in PodTemplate"
### Feature request

Support `topologySpreadConstraints` field in PodTemplate. This enables scatter Pods against the zone, region, and instance easily.

- https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
- [pkg/apis/pipeline/pod/template.go](https://github.com/tektoncd/pipeline/blob/da43d0ef327217f7edc3588dc52d10c5656614ec/pkg/apis/pipeline/pod/template.go)
- [do

[2022-07-14 12:24] imjasonh commented on #5135
Does disabling affinity assistant help? This bug seems to live in the overlap between two not-very-well-supported features, Windows and AA, and eliminating one might help us debug what the underlying problem is.

[2022-07-14 12:31] edvinysz commented on #5135
@imjasonh Using Linux nodes, everything works as intended and no problems.
On Windows, disabling Affinity Assistant introduces other problems such as shared workspaces stops working all together when that shared workspace needs to be used on the second step.
I do understand that this is not a well supported feature (especially considering windows), but I hope someone has already had dealt with thi

[2022-07-14 15:17] abayer commented on #4645
Closing this as both conditions and v1alpha1 taskruns have been removed.

[2022-07-14 15:17] #4645 closed

[2022-07-14 15:18] abayer commented on #4427
Closing this as v1alpha1 `PipelineRun` is now gone, and the more general issue is covered by #5127.

[2022-07-14 15:18] #4427 closed

[2022-07-14 15:18] abayer commented on #4415
Closing since v1alpha1 `PipelineRun` has been removed.

[2022-07-14 15:18] #4415 closed

[2022-07-14 15:20] abayer commented on #2656
This probably has the same root cause as #4169.

[2022-07-14 16:22] jerop opened #5138 "API: References and Specifications"
Tekton Pipelines has the following fields:
- `TaskRef` - references to `Tasks` and `Custom Tasks`
- `TaskSpec` - embedded specifications of `Tasks` and `CustomTasks`
- `PipelineRef` - references to `Pipelines`
- `PipelineSpec` - embedded specifications of `Pipelines`

We have discussed replacing them with `ref` and `spec`, especially when we discussed supporting `Pipelines` in `Pipelines`. We desc

[2022-07-14 17:12] chuangw6 opened #5140 "TEP0107 & TEP0075 - Issues with propagating object parameters"
In TEP0107's implementation #4845 , `Parameters` are propagated directly from taskrun/pipelinerun to the variable replacements in embedded specifications without  having to define param spec in `TaskSpec.Params[*]`.

In TEP0075's implementation, we asks users to provide the object schema (keys) in `TaskSpec.Params[*].Properties` section as per [the TEP0075 proposal](https://github.com/tektoncd/com

[2022-07-14 17:13] chuangw6 commented on #5140
cc @jerop @dibyom @lbernick @vdemeester

[2022-07-14 17:24] chuangw6 opened #5141 "TEP0107 - Parameter propagation doesn't work for `taskSpec-steps-args`"
# Expected Behavior
If users want to propagate parameters that are defined in taskrun to variable replacements, all [places](https://github.com/tektoncd/pipeline/blob/d3b8017e652115ac102a5d10fc455240c1331a49/pkg/reconciler/taskrun/resources/apply.go#L253-L323) where param references can be used should be replaced with the actual value of parameters.

# Actual Behavior
Currently, parameter propagat

[2022-07-14 17:26] SergK commented on #4809
Here is more documentation on how we do this:
  https://epam.github.io/edp-install/operator-guide/kaniko-irsa/

Here is official AWS Documentation:
  https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

To summarize, **AWSIRSAKaniko** is a role with attached policy and trust relationships:

* Policy:

[code]

* Trust relationships:

[code]

[2022-07-14 17:44] chitrangpatel commented on #5141
/assign

[2022-07-14 18:54] seunggs commented on #4809
Really appreciate the prompt response on this - I'll try this out today. Thank you!

[2022-07-15 01:23] pritidesai commented on #5138
💯

It's an implementation detail but I prefer avoid using `runtime.RawExtension` for other types of resources if possible.

[code]

I like using `kind` this way but can we avoid introducing `apiVersion` here for `task` and `pipeline`? The problem with `apiVersion` here is it could mean that pipeline supports mixed versions, pipeline could be `v1` and task could be `v1beta1`. We have not supported

[2022-07-15 02:26] ywluogg commented on #4723
PRs that need to be added to milestone: #5139 #5132 #5088

[2022-07-15 13:44] vdemeester commented on #5122
https://github.com/tektoncd/catalog/pull/1012

[2022-07-15 15:03] ywluogg commented on #4723
All the features listed not in "Future Work" section are finished

[2022-07-15 15:03] #4723 closed

[2022-07-15 15:44] ywluogg commented on #5078
Offline discussion leads to conclusion that we want to support this format, but in the doc we will encourage referencing non string params and results as a whole using the star reference: results.result1[*] and  params.param1[*]

[2022-07-15 19:07] jagathprakash commented on #5126
/assign @jagathprakash

[2022-07-16 05:14] seunggs commented on #4809
Hi @SergK just tried this today and I'm still getting `error checking push permissions` - did you also set up dockerconfig? Or is yours working just with service account addition?

[2022-07-16 07:37] imjasonh opened #5146 "Reconcilers should rely on knative/pkg to Update TaskRuns and PipelineRuns"
# Background

The TaskRun and PipelineRun controllers are invoked by Knative controller code that calls `ReconcileKind(ctx, tr)` with the result of a K8s watch on resources, then determines if those resources need to be updated, and if so, calls `Update` on them.

This is good, because Knative code handles the watching and updating for us, and only has to assume that any changes Tekton wants to ma

[2022-07-16 08:38] SergK commented on #4809
Hi @seunggs , we are working with **ServiceAccount** only (you don't need dockerconfig in this case). You can enable IRSA and try to debug by following instructions here https://epam.github.io/edp-install/operator-guide/enable-irsa/

[2022-07-16 15:23] seunggs commented on #4809
OK, will take a look at this - thank you!

[2022-07-17 17:26] #4593 closed

[2022-07-18 00:09] seunggs commented on #4809
Just an update - still having issues even though I was able to confirm that irsa is set up correctly and ServiceAccount is attached to the PipelineRun. No idea why it's not working as everything seems to be set up correctly... Nothing seems to change the error message.

[2022-07-18 10:48] AlanGreene commented on #4364
/reopen
This is something we should still make sure is supported by TEP-0060 remote resource resolution if that's going to replace the experimental bundle support.

[2022-07-18 14:17] pietervincken opened #5149 "Unable to use array parameter substitution in pipeline"
# Expected Behavior

Array parameters can be used in order to pass lists to pipelines and tasks. Since v0.36.0 this behaviour seems broken and prevents the usage of array parameters in pipelines.

# Actual Behavior

When using array parameter substitution the following error is thrown:

`invalid input params for task task-name: param types don't match the user-specified type: [array-variable-name]

[2022-07-18 14:31] afrittoli commented on #5146
I'm pretty sure the call to `Update` (or `Patch` before), predates cloud events. I suspect it may even predate `ReconcileKind` and perhaps it's a legacy of old times when it would actually be needed?
We should totally try and remove it and run unit and e2e tests and see if anything breaks :)

About cloud events, moving publishing to a separate controller as pros and cons, but I think the pros defi

[2022-07-18 14:33] Yongxuanzhang commented on #5149
/assign @Yongxuanzhang

[2022-07-18 14:41] lbernick opened #5150 "TaskRuns and Runs support accepting a cancellation reason"
Today, users can [cancel a TaskRun](https://tekton.dev/docs/pipelines/taskruns/#cancelling-a-taskrun), and this logic is also [used by the PipelineRun reconciler](https://github.com/tektoncd/pipeline/blob/main/pkg/reconciler/pipelinerun/cancel.go) to cancel child TaskRuns when the PipelineRun is cancelled.

In https://github.com/tektoncd/pipeline/pull/5134, we'd like to change how PipelineRuns tim

[2022-07-18 15:19] pietervincken commented on #5149
Hi @Yongxuanzhang

I used the exact same example as you did, but without the action params in the pipelinerun. That results in the issue. If the additional-parameters isn't specified, it should default to []. I get the error `invalid input params for task array-issue-task: param types don't match the user-specified type: [additional-parameters]`

[2022-07-18 15:22] pietervincken commented on #5149
Using
[code]

or

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: test-pipeline-run
spec:
  pipelineRef:
    name: test-pipeline
[code]

[2022-07-18 15:28] Yongxuanzhang commented on #5149
Oh I see, thanks! Looks like something wrong with the default value type

[2022-07-18 15:42] abayer opened #5152 "flake: TestRealRunnerStdoutAndStderr* unit tests"
I've seen a couple of these fail a few times recently on CI with this output:

[code]

...and...

[code]

I have not been able to reproduce locally.

/kind flake

[2022-07-18 16:59] abayer commented on #4777
/lifecycle frozen

[2022-07-18 18:02] jerop opened #5153 "TEP-0114: Custom Tasks Beta - Support `v1beta1.CustomRun`"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.

Moving `v1alpha1.Run` to `v1beta1.CustomRun` is a required API change in [TEP-0114: Custom Tasks Beta][tep-0114]. This issue tracks this API change.

[tep-0114]: https://github.com/tektoncd/community/blob/main/teps/0114-custom-tasks-beta.md

[2022-07-18 18:02] jerop opened #5154 "TEP-0114: Custom Tasks Beta - References and Specifications"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta. This issue tracks this API changes to references and specifications in `Custom Tasks` and `Runs`.

Today, [embedded specs][runs-spec-docs] are in `Run.Spec.Spec`. In [TEP-0114: Custom Tasks Beta][tep-0114], we agreed to align the embedded specs with the rest of the API such that it's `CustomRun.Spe

[2022-07-18 18:02] jerop opened #5155 "TEP-0114: Custom Tasks Beta - default `enable-custom-tasks` to `"true"`"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.

This issue tracks this feature gate change - enable `Custom Tasks` in `Pipelines` by default.

[tep-0114]: https://github.com/tektoncd/community/blob/main/teps/0114-custom-tasks-beta.md

[2022-07-18 18:02] jerop opened #5156 "TEP-0114: Custom Tasks Beta - Testing"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.

Ahead of the promotion, we agreed to improve the test coverage for `Custom Tasks` and `Runs`. This issue tracks the testing work.

Related issues:
- https://github.com/tektoncd/pipeline/issues/5120
- https://github.com/tektoncd/pipeline/issues/4686

[tep-0114]: https://github.com/tektoncd/communit

[2022-07-18 18:02] jerop opened #5157 "TEP-0114: Custom Tasks Beta - Authoring Custom Tasks"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.

An optional task ahead of the promotion is toImprove the user experience of authoring `Custom Tasks` and their controllers through:
- providing SDK or boilerplate for getting started - this enhancement is proposed in [TEP-0071][tep-0071].
- providing a guide for authoring `Custom Tasks` and their

[2022-07-18 18:07] jerop opened #5158 "TEP-0114: Custom Tasks Beta - Documentation"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.

Ahead of the promotion, we agreed to expand the documentation for `Custom Tasks` and `Runs`. This issue tracks the documentation work.

[tep-0114]: https://github.com/tektoncd/community/blob/main/teps/0114-custom-tasks-beta.md

[2022-07-18 18:08] jerop commented on #4313
@tektoncd/core-maintainers updated this issue reflect what we agreed to do to promote custom tasks to beta in TEP-0114

[2022-07-18 18:27] abayer opened #5160 "flake: Cloud events unit tests"
Both `TestReconcile_CloudEvents` in `pkg/reconciler/pipelinerun/pipelinerun_test.go` with:
[code]

...and `TestReconcile_CloudEvents/Run_with_no_condition` in `pkg/reconciler/run/run_test.go` with:
[code]

...have been failing sporadically in CI lately.

/kind flake

[2022-07-18 18:32] imjasonh commented on #4777
Is there a downside to updating our config-logging.yaml to match logstream's expectations? Installations and their monitoring that had previously looked for `msg` in logs would need to go looking in `message` instead. Do we know how likely/prevalent that expectation is?

In any case, #5159 seems to be one way to fix this issue.

[2022-07-18 21:04] chuangw6 commented on #5149
Hi @pietervincken ,
Thanks for reporting the issue.
After digging into the issue, we found that it was a bug in the original code. And the reason why it worked was an coincidence. The reason of this bug is that if an array contains a single element that is a reference to an empty array, the original array would become `nil` after repacement whereas it is expected to be an empty array. This will ca

[2022-07-18 21:25] #5149 closed

[2022-07-19 06:36] anbrsap opened #5165 "Tekton controller panic at `github.com/tektoncd/pipeline/pkg/reconciler/taskrun.(*Reconciler).durationAndCountMetrics`"
# Expected Behavior

The Tekton controller should not panic.

# Actual Behavior

The Tekton controller logs this ...:

[code]

... and then panics:

[code]

In our scenario there's another controller that creates TaskRuns, watches them and deletes them once they are finished (`Succeeded = true`). `pkg/reconciler/taskrun.(*Reconciler).durationAndCountMetrics` is in a race condition with it.

It may

[2022-07-19 07:03] afrittoli commented on #5165
Thank you for your detailed bug report!

[2022-07-19 13:25] vdemeester commented on #4885
I am going to close this as almost all seems to be implemented, and tracked [here](https://github.com/tektoncd/pipeline/issues/2050)

[2022-07-19 15:13] JeromeJu commented on #5155
/assign

[2022-07-19 18:24] ywluogg commented on #4723
[code]

[code]

[2022-07-19 20:43] dibyom opened #5174 "Release Pipeline failing"
# Expected Behavior
Release pipeline works

# Actual Behavior

Pipeline fails at the run-ko step:

[code]
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

Full logs: https://gist.github.com/dibyom/81be5cb43e342cbcb77b9bea0926e0a3

Run: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-run-z8vht?pipelineTask=publish-images

- Tekton Pipeline ve

[2022-07-19 20:43] dibyom commented on #5174
I tried the failing command `ko resolve --platform=linux/amd64,linux/arm,linux/arm64,linux/s390x,linux/ppc64le,windows/amd64 --preserve-import-paths -t v0.38.0 -R -f config/` locally on go version ` go1.18.3 darwin/amd64` and it worked

[2022-07-19 20:44] dibyom commented on #5174
cc @jerop

[2022-07-20 05:34] alequint commented on #5118
Just want to register here that I have same type of problems. In my case, in the middle of a pipeline execution, while tasks are still running, suddenly the PipelineRun status changes to "Failed" with the following message:

[code]

None tasks failed and note that the task message above is complaining about it does exist (and have already been executed btw); the last part of the error message seem

[2022-07-20 12:41] jerop opened #5175 "Parameters should default to type string"
# Expected Behavior

`Pipelines` with `Parameters` that have no `"type"` specified work with the default value of `"string"`.

# Actual Behavior

`Pipelines` with `Parameters` that have no `"type"` fail.

Example failures in dogfooding are here: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns

# Steps to Reproduce the Problem

1. Create a `Pipeline` with a `Parameter` wit

[2022-07-20 12:43] jerop commented on #5174
another release pipeline failure reported in https://github.com/tektoncd/pipeline/issues/5175

[2022-07-20 14:28] Yongxuanzhang commented on #5175
/assign

[2022-07-20 15:28] abayer commented on #5174
Ok, via `docker run -it gcr.io/tekton-releases/dogfooding/ko@sha256:aafcfa5c22281f9e882664c3e5f234a2069a0050674c0c8d9908ccae6f0e8457` and manually replicating the commands leading up to the `ko resolve` and then running `ko resolve ...` with `--push=false`, I've reproduced the error, and narrowed it down to having `windows/amd64` in the platforms. And more specifically, it's only when `.ko.yaml` i

[2022-07-20 15:39] abayer commented on #5174
Dang, still failed with 1.18.3.

[2022-07-20 16:02] abayer commented on #5174
Ah-ha! `cmd/entrypoint/runner.go`, where `realRunner` and its fields are defined, has `//go:build !windows` - so https://github.com/tektoncd/pipeline/commit/a0c7d31e23f472cca39690410253a0739f3189db#diff-d9a50b24352d0a286b3e339692447eb55a219654e06e0fd71ad373de71b8c265R141-R144 broke compilation on Windows, period. I wonder if `cmd/entrypoint/main.go` ever actually _worked_ on Windows, but changing

[2022-07-20 16:20] abayer opened #5177 "CI build tests should use combined build image and build Windows images"
As revealed by #5174, we're not actually build Windows images in `pull-tekton-pipeline-build-tests`, which resulted in code that can't compile on Windows slipping through in a PR. We should be setting Windows-supporting combined build images in `ko_resolve` in `test/presubmit-tests.sh` in the same sort of way we are in https://github.com/tektoncd/pipeline/blob/94055d92c120a6010f3d61a821e45dea4f893

[2022-07-20 16:20] abayer commented on #5177
I'm going to wait to open a PR until #5174 is dealt with, since the build would fail anyway.

[2022-07-20 16:22] abayer commented on #5174
cc @tektoncd/core-maintainers to see what people's thoughts are as to how we should move forward.

[2022-07-20 16:28] abayer commented on #5177
...ok, yeah, I didn't wait to open a PR. 🤷

[2022-07-20 16:33] afrittoli commented on #5174
The [windows entrypoint struct](https://github.com/tektoncd/pipeline/blob/94055d92c120a6010f3d61a821e45dea4f893a74/cmd/entrypoint/runner_windows.go#L34-L35) has not been changed, so I think an option could be to make the code able to cope with the windows version too, and declare in the release notes that the feature is not available on Windows for now.

Alternatively we could revert the change.
T

[2022-07-20 17:50] lbernick opened #5181 "Duplication vs common packages when adding new API version"
When adding the v1 package, most of the code gets copied over from v1beta1. This makes a lot of sense for CRDs but it's less clear whether it makes sense to do for sub-components of the API that aren't CRDs, like params, workspaces, and results. This results in having to write a lot of boilerplate to convert a v1beta1 workspace into a v1 workspace (for example) even though there are no breaking ch

[2022-07-20 18:15] abayer commented on #5175
For what it's worth, I would suggest we add a commit on the release-v0.37.x branch adding types to `tekton/publish.yaml` and `tekton/release-pipeline.yaml` so that we can actually release the branch with the fix for this cherry picked.

[2022-07-20 20:27] abayer commented on #5175
@jerop Ok, now you shouldn't actually need to worry about changing `release-pipeline.yaml` etc - it turns out that they were getting updated properly during the release process, but defaulting wasn't happening because the `webhooks.knative.dev/exclude: "true"` label was on the `default` namespace, skipping the webhooks entirely. 🤦 I just fixed that and existing `Pipeline`s without param types prop

[2022-07-20 21:23] JeromeJu opened #5182 "Custom controller behaviour with no retries support"
### Feature request

In [TEP-69: Support retries for custom task in a pipeline](https://github.com/tektoncd/community/pull/491), the cases where the custom controller
does not support retries have not been clarified.
Hence this issue is addressed to track down the cases and to seek for improvement on the user experience.

Follow up of #4686

### Use case

To produce the case:
 - Create a Custom Ta

[2022-07-20 21:24] Yongxuanzhang commented on #5175
So can we close this issue? Very glad that we can find out the reason eventually. 😄

[2022-07-20 21:28] abayer commented on #5175
We still need the validation/defaulting/etc to kick in for _unchanged_ `Pipeline`s and `Task`s, so no, the PR still needs to be done. =)

[2022-07-20 21:32] JeromeJu commented on #5182
/assign

[2022-07-20 21:33] Yongxuanzhang commented on #5175
Could you elaborate more on unchanged Pipelines and Tasks? We're planing to add SetDefaults to reconcile so even without mutating webhook, we can also add missing values.
For OCI bundle resources when they are fetched, we don't call SetDefaults for them, I'm updating the PR to address that

[2022-07-20 21:46] ywluogg commented on #5078
Per https://github.com/tektoncd/pipeline/blob/main/api_compatibility_policy.md, we need to add a warning for reference format: `params.array-param`

[2022-07-20 23:03] dibyom commented on #5175
Yes, we do. But the type defaulting behavior is not new and has been around for more than a release. So I don't think this issue needs to block the release

[2022-07-20 23:05] dibyom commented on #5174
Hmmm....I'm surprised we did not catch this in our nightly tests

[2022-07-20 23:19] abayer commented on #5174
@dibyom We don’t build Windows images anywhere other than releases, I think. Well, until #5178 at least.

[2022-07-21 01:34] drriguz opened #5183 "Offical Tekton image mirrors for gcr.io"
Hi there,

Currently tekton is released using the gcr.io registry, however this is not reachable in some countries (like... China). The users in those areas need to either use VPN or manually pull the images to another mirror, and then modify the release.yaml to point to new images. It's quite inconvenient for them.

I know it's actually not an issue of Tekton, but I'm trying to find ways to make

[2022-07-21 06:41] #5075 closed

[2022-07-21 07:45] waveywaves opened #5184 "TEP 0097: Add `breakpoints`, `breakpoints.onFailure` to `debug` and extend support to PipelineRun"
### Feature request

Add `breakpoints`, `breakpoints.onFailure` to `debug` spec in TaskRuns which uses existing logic from the `onFailure` option in the `debug.breakpoint` spec in the TaskRun spec. Extend this logic to support PipelineRuns as well.

This will be the start development on [TEP 0097](https://github.com/tektoncd/community/blob/main/teps/0097-breakpoints-for-taskruns-and-pipelineruns.m

[2022-07-21 07:46] waveywaves commented on #5184
/assign

[2022-07-21 07:51] waveywaves opened #5185 "TEP 0097: Implement `beforeSteps` for TaskRun `debug.breakpoints` spec"
### Feature request

Allow users to mention named steps they would like to debug in `beforeSteps` in the `debug.breakpoints` spec in TaskRuns. The breakpoint will be before the step starts to help users inspect a step env before it starts executing.

Part of [TEP 0097](https://github.com/tektoncd/community/blob/main/teps/0097-breakpoints-for-taskruns-and-pipelineruns.md)

### Use case

Debug a ste

[2022-07-21 07:52] waveywaves commented on #5185
/assign

[2022-07-21 07:55] waveywaves opened #5186 "TEP 0097: Implement beforeTasks for Pipeline debug.breakpoints spec"
### Feature request

Allow users to mention named steps they would like to debug in `beforeTasks` in the `debug.breakpoints` spec in PipelineRuns. The breakpoint will be set before the execution of the first step of the TaskRuns in question to help users inspect the env before it starts executing.

Part of [TEP 0097](https://github.com/tektoncd/community/blob/main/teps/0097-breakpoints-for-taskrun

[2022-07-21 07:56] waveywaves commented on #5186
/assign

[2022-07-21 07:56] vdemeester commented on #5177
cc @imjasonh

[2022-07-21 10:23] #5177 closed

[2022-07-21 11:00] jfuerneisen opened #5188 "Error mirroring git-init image in private registry. Unsupported MIME type for compression"
# Expected Behavior

git-init image can be mirrored from gcr.io to private registry.

# Actual Behavior

Mirroring fails with error: unsupported MIME type for compression: application/vnd.docker.image.rootfs.diff.tar.gzip

# Steps to Reproduce the Problem

[code]

[code]
# Additional Info

Mirroring worked fine with this image until Release v0.36.0. The error occurs since v0.37.0.
All other tekton

[2022-07-21 11:03] imjasonh commented on #5188
What registry implementation are you trying to mirror into? (Quay, Harbor, etc)

This might help narrow down the issue.

Recently we switched the git-init image to be based on distroless.dev/git, which is built with apko. This may be related. We've also switched our base image for everything else to distroless.dev/static so other images may also start exhibiting the same behavior when that's relea

[2022-07-21 11:06] imjasonh commented on #5188
Could you try mirroring our nightly release images to see if this will be a problem when those changes are in a full release?

Apko also switched to producing OCI-typed images by default since that git-init image was released, it's possible that this confluence of events fixes the issue in your registry, but it would be good to be sure.

[2022-07-21 11:09] jfuerneisen commented on #5188
I tried with quay and also gitlab registry.
Quay v3.7.3
Gitlab 15.1.2-ee

I also ran into an error, when i tried to extend this image in a buildah build.

[2022-07-21 11:15] jfuerneisen commented on #5188
Same error with gcr.io/tekton-nightly/github.com/tektoncd/pipeline/cmd/git-init:latest

[2022-07-21 11:23] disposab1e commented on #5188
Same problem here.... I think this is NOT a problem specific to an registry... it looks like apko is not producing oci conform images?

However... if you're not able to mirror tekton images in private registries this will be a show stopper for all operating tekton in an disconnected environment e.g. air gapped OpenShift.

[2022-07-21 11:46] disposab1e commented on #5188
For me it's a little bit like this Kaniko problem with mixed layers..... see [Kaniko#1836](https://github.com/GoogleContainerTools/kaniko/issues/1836).

When you inspect the actual tekton image you only see oci layers in teh json output... but in reality it might be a docker layer....

[2022-07-21 13:44] JeromeJu commented on #5182
###Cases:
- Succeeded
   - Succeeded after 10s wait time
[code]

[2022-07-21 13:55] imjasonh commented on #5188
The fix for this is in https://github.com/google/ko/pull/776 -- I expect a `ko` release soon, that Tekton should start using shortly after, to produce consistently-typed image layers so this isn't an issue.

Sorry for the disruption, and thanks for reporting this!

[2022-07-21 14:32] dibyom commented on #5174
I thought the nightly build pipeline and our release pipeline were the exact same..but looks like that's not true
https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelines/pipeline-release-nightly?view=yaml
https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelines/pipeline-release?view=yaml

[2022-07-21 14:47] dibyom opened #5191 "Update nightly release pipeline to match release pipeline"
# Expected Behavior

Nightly release pipeline should execute the same logic as the actual release pipeline

# Actual Behavior

The nightly release pipeline looks very old (still uses pipeline resources)

Nightly: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelines/pipeline-release-nightly?view=yaml
Release: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelines/p

[2022-07-21 14:52] JeromeJu commented on #5182
The TaskRun way of avoiding the duplicates:

[pipeline/pkg/pod/pod.go](https://github.com/tektoncd/pipeline/blob/main/pkg/pod/pod.go/#L303)
[code]

[2022-07-21 15:37] imjasonh commented on #5191
Where does pipeline-release-nightly.yaml even come from?

I only see a pipeline-release.yaml in the repo, and publish-release-nightly.yaml was deleted in https://github.com/tektoncd/pipeline/pull/3788 (Feb 2021)

cc @afrittoli

[2022-07-21 16:08] wangwei0326 opened #5192 "failed calling webhook "webhook.pipeline.tekton.dev""
# Actual Behavior
[root@k8s-master1 tekton]# kubectl apply -f hello-world.yaml
Error from server (InternalError): error when creating "hello-world.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": failed to call webhook: Post "https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=10s": context deadline exceeded

# Additional Info

- Kubern

[2022-07-21 17:25] JeromeJu commented on #4686
This comment summarizes the findings after digging into  [TEP-69](https://github.com/tektoncd/community/blob/main/teps/0069-support-retries-for-custom-task-in-a-pipeline.md#test-plan) and checking the possibilities of test coverage improvement, suggesting that this can be closed.

TEP69 related summaries:
The implementation of [TEP-69: Support retries for custom task in a pipeline](https://github.

[2022-07-21 17:30] #4686 closed

[2022-07-21 17:35] lbernick opened #5193 "Improve upgrade tests"
Recently, we have had a few issues of regressions that were not detected by CI.

For example, https://github.com/tektoncd/pipeline/pull/4834 introduced changes that caused a new client to be incompatible with an old server.

In addition, some breaking changes were introduced where resources already stored on a cluster became invalid when the server version was upgraded. https://github.com/tektoncd

[2022-07-21 18:24] dibyom commented on #5191
I was wrong - looks like we are using an updated pipeline but that is in the tekton-nightly namespace

[2022-07-22 09:17] vdemeester commented on #5181
Those are type alias, and we did set them to have to not have to use `v1beta1` package in v1alpha1 though 🤔.

I am usually always on the side of "a little duplication is better than the wrong abstraction". Old API code are meant to be removed at some point, and, once we fully support `v1`, we should consider `v1beta1` as frozen (meaning.. those struct shouldn't change at any point). Sharing code b

[2022-07-22 09:22] vdemeester commented on #5140
Having parameter propagation working *depending* on the type of parameters doesn't make too much sense to me. Either propagation works for all or none. We need to find a way for it to work for object params as well 🤞🏼

[2022-07-22 15:21] geriom commented on #4553
The new Introductory docs are available in the "Getting Started" section of the docs page: https://tekton.dev/docs/getting-started/

[2022-07-22 15:21] #4553 closed

[2022-07-22 18:11] JeromeJu commented on #5116
This comment summarizes the findings for reproducing the 'failedMount' for TaskRun and suggests closing this.

- Pod level status:
[code]

- Pod status output:
  - FailedMount
[code]

  - ImagePullBackOff
[code]

Compared with what's for #4895, where the `ImagePullBackOff` error can be captured, there is no appropriate way for this issue to be resolved as we could not tell if the volume has been c

[2022-07-22 18:31] JeromeJu commented on #4986
/assign

[2022-07-22 19:16] chuangw6 opened #5203 "Old resource deletion hangs when `alpha` flag is off"
# Expected Behavior

Users should be able to delete any taskrun object using `kubectl delete tr --all` no matter if `alpha` feature flag is enabled.

# Actual Behavior
After a new pipeline controller is deployed with `alpha` feature flag off, `kubectl delete tr --all` command hangs on the taskruns that worked fine under previous controller with `alpha` feature flag enabled.

# Steps to Reproduce t

[2022-07-23 21:27] #4603 closed

[2022-07-24 23:27] #4585 closed

[2022-07-25 04:14] aiden-deloryn commented on #5102
@imjasonh That's an interesting find regarding terminationMessagePath only working for ContainerD. Unfortunately I only have a Windows node running Docker so I was not able to test whether results work in that environment.

Could you clarify what you mean by "writing to `/tekton/results` won't work"? I had a look through the source code and as far as I can tell (please correct me if I am wrong) Te

[2022-07-25 12:55] lbernick commented on #5160
possible duplicate of #2992

[2022-07-25 12:59] lbernick commented on #5152
Seeing this as well, I think it was added recently in #4882; @bradbeck would you mind taking a look at this? It might help to use a fake clock ([example in taskrun reconciler tests](https://github.com/tektoncd/pipeline/blob/3f539724f27a6add8b64d0712e056e4479750975/pkg/reconciler/taskrun/taskrun_test.go#L420)) as opposed to a real one

[2022-07-25 13:05] lbernick commented on #5181
Makes sense to me! I went with the duplication strategy in #5202. Going to close but anyone can feel free to reopen to continue the discussion.

[2022-07-25 13:05] #5181 closed

[2022-07-25 13:26] imjasonh commented on #5102
You're right, and thanks for digging into this. (1) and (2) seem to work, I wonder if it's (3) that's reliant on containerd and not working in our case.

As for (4), the TaskRun controller reads the Pod's `.terminated.message` and writes that to the TaskRun's `.status.results`. The PipelineRun controller reads those and passes those into downstream TaskRuns' `.inputs` if any, which are replaced in

[2022-07-25 14:58] vdemeester commented on #5203
@chuangw6 any additionnal elements you can see ? Can you share the logs of the controller and webhook ?

[2022-07-25 20:12] ywluogg commented on #5001
/assign @ jagathprakash

[2022-07-25 20:21] ywluogg commented on #5001
/assign jagathprakash

[2022-07-25 22:30] jagathprakash commented on #5001
/assign jagathprakash

[2022-07-26 12:48] LilyHolms opened #5208 "emit cloud events to multiple url"
### Feature request
Tekton’s controllers emits cloud events when TaskRuns and PipelineRuns execute (https://tekton.dev/docs/pipelines/events/),
However, now, we can only specify one webhook api in configmap with ```default-cloud-events-sink``` field.
Can we change it to support sending cloud events to multiple webhook api, so the execution state change can notify multiple services?

[2022-07-26 12:59] afrittoli commented on #5208
Hello @LilyHolms, thank you for your feature request.

The way you can achieve this today is by using a message bus/router, like knative eventing.
You send all messages to a single bus and define subscription for each client that needs to receive the message. I appreciate that that may be a viable approach for everyone, but it may be a work around for now at least.

In terms of multiple targets, a

[2022-07-26 12:59] lbernick commented on #4313
One more idea I'd like to bring up for beta here after pairing on this with @JeromeJu: I'm wondering if it would make sense to have the PipelineRun controller responsible for retries of custom runs, as opposed to the current behavior of a custom task controller being responsible for implementing retry behavior. This would make custom tasks easier to author, and make them more consistent with how w

[2022-07-26 13:17] vdemeester commented on #4313
How is it a pattern we use for `TaskRuns` ? The `PipelineRun` controller should not mutate the `TaskRun` status at all, only the `TaskRun` controller does (which happens to be in the same binary).

[2022-07-26 13:19] lbernick commented on #4313
happens [here](https://github.com/tektoncd/pipeline/blob/b8e244a66b40da3d15e025eed92642461845ccee/pkg/reconciler/pipelinerun/pipelinerun.go#L810-L813)

[2022-07-26 14:17] abayer commented on #5203
I can't reproduce this - deletion went through right away for me...

[2022-07-26 14:41] chabeezy opened #5214 "I deleted a secret associated with a pipeline and now the pipeline fails everytime in openshift."
# Expected Behavior

Pipeline should run.

# Actual Behavior

# Steps to Reproduce the Problem

1. Pipelines -> Select Pipeline -> Actions Start Pipeline
2. Expand Advanced Options -> Show Credentials -> add a new credential -> run pipeline
3. Go to secrets within openshift, delete the new credential
4. Run the pipeline again
5. Pipeline fails as credential has been deleted.

I see no way to remov

[2022-07-26 14:53] #5191 closed

[2022-07-26 16:12] vdemeester commented on #4313
😱 🙀

[2022-07-26 16:16] vdemeester commented on #5214
@chabeezy 👋🏼 This is not really a tektoncd/pipeline issue but probably an openshift pipelines and/or ui one.
That said, the situation your are in is the following : you have a `ServiceAccount` (here `pipeline` SA) that list a secrets that doesn't exists. The way to "fix" that, is to edit the `pipeline` SA to remove the secret from the list — using `kubectl edit`, or through the OpenShift console.

[2022-07-26 16:41] lbernick commented on #4676
closing, @brian316 please feel free to open if this is still unresolved!

[2022-07-26 16:41] #4676 closed

[2022-07-26 16:43] lbernick commented on #4666
Closing, I don't think there's anything for Tekton to do here.

[2022-07-26 16:43] #4666 closed

[2022-07-26 16:44] lbernick commented on #4655
thanks @zeromsi, I'm going to close but feel free to reopen if this issue is still unresolved!

[2022-07-26 16:44] #4655 closed

[2022-07-26 16:46] lbernick commented on #4589
Array results have been released! They are available starting in v0.38.0.

[2022-07-26 16:46] #4589 closed

[2022-07-26 16:52] lbernick commented on #1530
Our resource requirements api has been addressed in a few TEPs, and I think this issue doesn't have other clear use cases right now, so I'm going to close it. If there are specific fields of Tasks that do need parameterization but don't support it, we should open issues specifically for those.

[2022-07-26 16:52] #1530 closed

[2022-07-26 17:43] dibyom commented on #4313
How would retries work if the Run was created by itself without being in a Pipeline? Can easy retry behavior be something we add as part of an SDK for making authoring custom tasks easier?

[2022-07-26 17:52] lbernick opened #5218 "Retries for Custom Tasks"
Spin-off from #4313.

Right now, some custom tasks support retries implemented in the custom task controller logic. Pipeline tasks pass their desired number of retries to the custom run.

I'm wondering if it would make sense to have the PipelineRun controller responsible for retries of custom runs. This would make custom tasks easier to author, and make them more consistent with how we handle Task

[2022-07-26 17:52] lbernick commented on #4313
They wouldn't, just as TaskRuns can't retry on their own -- retries are a Pipeline feature.

potentially, although it's still harder than having it implemented in the PR controller.

Sounds like this needs more discussion, so I created #5218.

[2022-07-26 17:57] lbernick commented on #4476
/lifecycle frozen

I'd like to propose deprecating ClusterTasks, now that remote resolution (+ the cluster resolver) will be moving into Pipelines. @abayer WDYT?

[2022-07-26 18:46] chuangw6 commented on #5203
Hi @vdemeester ,
- [controller log](https://gist.github.com/chuangw6/1549c92aae38c16c1ab17ae3bbc50bc8)
- [webhook log](https://gist.github.com/chuangw6/c1907a1d1f10a2962e9718b0c21ca4fd).

If you search the keyworkd `alpha` in the controller log, you can see the complaints about it. This alpha flag was added [here](https://github.com/tektoncd/pipeline/blob/e1153a1e7eea902183280eeb6797924c104dda13/p

[2022-07-26 18:49] chuangw6 commented on #5203
Hi @abayer ,
Instead of following step 4 & 5 to turn off alpha flag, can you try to just apply the latest release to see if you can reproduce? Thanks

`kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.38.0/release.yaml`

[2022-07-26 19:14] abayer commented on #5203
@chuangw6 Aaaaah - that's fixed in #5215.

[2022-07-26 19:47] chuangw6 commented on #5203
Thanks @abayer for the pointer. I pulled the latest main and followed the above steps.
Now the controller doesn't have the complaints, but deleting the old taskruns still hangs.

Any idea?

[2022-07-26 19:53] abayer commented on #5203
I was looking at the webhook logs, which is where I saw the conversion errors. Could you post your new webhook log with latest main?

[2022-07-26 19:55] abayer commented on #5203
Aaaah, I see https://gist.github.com/chuangw6/c1907a1d1f10a2962e9718b0c21ca4fd#file-pipeline-webhook-log-L342 - that's a problem for sure, but it's fixed in #5210.

[2022-07-26 20:02] chuangw6 commented on #5203
sure!
- [new webhook log](https://gist.github.com/chuangw6/7c68774399baaf689a7bc0aa189c5ded)
- [new controller log](https://gist.github.com/chuangw6/fc60625c07f0bb8d821eda3bdcbf898b)

[2022-07-26 20:09] abayer commented on #5203
Interesting - https://gist.github.com/chuangw6/7c68774399baaf689a7bc0aa189c5ded#file-new-webhook-log-L276 is there, with references to Chains, though I think that's just service account stuff?

[2022-07-26 20:21] chuangw6 commented on #5203
Interesting. Why can pipeline controller pick up chains-related stuff? lol

This is [chains Controller log](https://gist.github.com/chuangw6/049920c48b73c3cf2aa50248927877c7). It complaints about alpha flag too.

But the line`[system:serviceaccounts system:serviceaccounts:tekton-chains system:authenticated]` says it's authenticated.

[2022-07-26 20:30] #5214 closed

[2022-07-26 20:30] chabeezy commented on #5214
Thanks for the help @vdemeester

[2022-07-26 21:01] chuangw6 opened #5223 "Problems with check kind label test"
# Expected Behavior

When the kind label is included in pr description before the pr is created, or the kind label is added later, the `check-pr-has-kind-label` test should pass.

# Actual Behavior

The `check-pr-has-kind-label` test doesn't respond/rerun once the the kind label is added i.e. `/kind misc`.

We have to run `/test check-pr-has-kind-label` to trigger it. However, every time I run `/t

[2022-07-26 22:45] marniks7 opened #5225 "k3d + tekton. No such host"
# Expected Behavior
TaskRun should NOT fail when docker image executed without `command` with private artifactory
# Actual Behavior
TaskRun fails
[code]
# Steps to Reproduce the Problem

1. Install k3d https://k3d.io/v5.4.4/#installation
2. See script below. Change ` artifactory.company.com:17064` to your company proxy
3. Run
[code]

# Additional Info

- Kubernetes version:
[code]

- Tekton Pipeli

[2022-07-26 22:48] marniks7 commented on #5225
Other notes:
1. The same problem with previous tekton release
1. Works fine with `kind`

[2022-07-27 06:40] ScrapCodes commented on #5218
The reason I stepped back on the pipeline run controller managing retries, as it gives more freedom to the custom tasks how exactly they want to approach retries. In reality, custom tasks are very different from each other for some - custom tasks retires does not mean anything at all, and for some it is similar to how the task runs handle retries.

Also, so far we did not force update the status o

[2022-07-27 08:46] vdemeester commented on #5203
It's on an `UPDATE` event, so it does validation and fails there. Chains tries to update the object, but cannot because some fields are behind alpha and stable is set. I am not sure why it would *block* deletion, except maybe if it fails to sign, put the object into the queue to retry, making it somehow un-deletable ?

@chuangw6 can you try to disable chains and see if that happens ?

[2022-07-27 12:18] vdemeester commented on #5225
@marniks7 👋🏼 Thanks for the issue.
When you don't specify a `command`, the tekton controller will try to fetch the image configuration, to know what is the configured image `entrypoint` (aka `command`). An error like this means, for some odd reason, the controller cannot resolve `artifactory.company.com`, and thus fails to continue.
If you create an intercative pod in k3d and try to ping/curl the

[2022-07-27 15:46] lbernick commented on #5218
Thanks @ScrapCodes for the discussion!

I think it would be helpful to list out a few examples of custom tasks and how they would work if the PipelineRun controller handled retries. For example, it doesn't make sense to have retries for the wait task, so I doubt anyone would write a pipeline with retries for the wait task, but even if they did the wait task doesn't fail, so it wouldn't get retried

[2022-07-27 19:04] marniks7 commented on #5225
Yes, you are right. `curl: (6) Could not resolve host`

k3d (kubelet) is able to pull the image from private artifactory, but not from inside pod (eg tekton-controller)
Issue: https://github.com/k3d-io/k3d/issues/209 (with workarounds, but they didn't help me so far)

[2022-07-27 20:56] Yongxuanzhang commented on #4805
/close Already done

[2022-07-27 20:57] Yongxuanzhang commented on #4820
already done

[2022-07-27 20:57] #4820 closed

[2022-07-27 20:57] Yongxuanzhang commented on #4805
Already done

[2022-07-27 20:57] #4805 closed

[2022-07-28 04:49] yuzp1996 commented on #5193
Hello!  I run e2e on my machine and try to figure out how the e2e test works. Now I think I am a little familiar with this e2e test. But when I run the e2e test I found some weird things and was not sure if it is a bug.

First, there is some unnormal log and I find the related issue https://github.com/tektoncd/pipeline/issues/4777 but seems like the bug is not resolved. But I think it is a good ch

[2022-07-28 05:02] yuzp1996 commented on #5193
I noticed that in the e2e-tests-upgrade.sh the older version is v0.5.2.  https://github.com/tektoncd/pipeline/blob/c1d4702d64a23c4661f0afcf7efccd265b7d7aab/test/e2e-tests-upgrade.sh#L28

I think maybe v0.5.2  is too old that is not suitable to be the older version in the upgrade e2e test? I guess maybe no one will upgrade the server to the latest from the oldest version in their production environ

[2022-07-28 05:20] yuzp1996 commented on #5193
I find that the e2e-tests-upgrade.sh script is referenced here as a cron job but I don't find the related runned job in tektoncd/pipeline github actions. https://github.com/tektoncd/plumbing/blob/main/prow/config.yaml#L1829

Could you help show me where can I get the related runned job? @lbernick  Thanks very much!

[2022-07-28 05:33] afrittoli commented on #5193
Upgrade testing is something we've been discussing with @abayer in the productivity WG.
It's definitely something that we need to implement, we should have solid tests before v1.0.

We also need to make sure we have enough visibility on periodic jobs. If an upgrade job is running it has not been maintained or seen by anyone for a long time afaik.

We where discussing perhaps we should include it i

[2022-07-28 06:57] wilstdu opened #5229 "Task run instability"
# Actual Behavior
- Once in a while tasks fail with unknown errors. For example, even the [git-clone](https://github.com/tektoncd/catalog/tree/main/task/git-clone) task from the Tekton catalog failed without even reaching any of the actual git steps, and after restart - it went though. The chance of getting this unusual behaviour is very very low, but possible.
- We have one custom task in particu

[2022-07-28 13:13] chabeezy opened #5230 "Question: Is it possible to not use default LimitRange values in pipelines"
At my org we have very small default values for LimitRange. Default request is 40Mi, Default Limit is 180Mi. Our none default limit is 2Gi which is closer to what I need (running a set of tests in the pipeline).

I can't find anyway to use the none default limit in tasks. I thought it might be possible to set an overarching limit for the pipeline, but it doesn't appear to be the case.

If I set th

[2022-07-28 13:17] JeromeJu commented on #4987
/assign

[2022-07-28 13:29] Arhell opened #5232 "blank lines in documentation"
# Steps to Reproduce the Problem

https://tekton.dev/docs/pipelines/#contributing-to-tekton-pipelines

[2022-07-28 13:31] JeromeJu commented on #4987
This comment notes down the `minimal` feature flag validation discussed in
https://github.com/tektoncd/pipeline/pull/5219#discussion_r932170481

[2022-07-28 15:40] chuangw6 commented on #5203
Hi @vdemeester,
I tried two things:

1. Had a new cluster with only pipeline installed. No resource deletion hanging problem at all under either `stable` or `alpha` flag.

2. Tried to disable chains in my old cluster where both chains and pipelines are installed.
I tried to disable chains by two ways
   - scale the controller 0.
   - delete all the resources under chains namespace by running `ko d

[2022-07-28 16:53] TomHart opened #5233 "docker-build task fails with exec format error"
# Expected Behavior
Able to build a docker image

# Actual Behavior
Fails to run
`docker-build` step fails with
[code]

# Steps to Reproduce the Problem

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].meta

[2022-07-28 17:00] imjasonh commented on #5233
That error typically means that the image was built for a different architecture than the one it's running on.

In this case, the image currently defined in `docker-build` is `docker.io/library/docker:stable@sha256:18ff92d3d31725b53fa6633d60bed323effb6d5d4588be7b547078d384e0d4bf`

https://github.com/tektoncd/catalog/blob/5e1f510bb47020585cb8277adc4ad903b2aaa8ba/task/docker-build/0.1/docker-build.y

[2022-07-28 17:01] TomHart commented on #5233
That makes sense, my k3s cluster and Tekton is running on a Raspberry Pi 4, I'm trying a build now just referencing stable, no digest, but if that doesn't work I'll try yours next

[2022-07-28 17:15] TomHart commented on #5233
I tried both, which had different errors
No digest:
[code]

The digest you posted
[code]

[2022-07-28 17:23] imjasonh commented on #5233
This sounds like another issue, possibly related to https://github.com/tektoncd/catalog/issues/628

[2022-07-28 18:34] dibyom commented on #5193
@yuzp1996 Nice detective work! I agree pipeline v0.5.2 is too old and we should definitely make sure the cron job is 1) running and 2) sending notifications somewhere when it fails

[2022-07-28 19:34] wlynch commented on #5203
^ @vdemeester this is correct. Chains uses a finalizer to make sure that Run objects don't disappear before they can be attested. Normally, the finalizer is removed once chains has processed the object, but because the alpha flag was disabled, chains can't complete its reconcile (probably when trying to add the `chains.tekton.dev/signed` annotation) so the finalizer is never removed.

I don't thin

[2022-07-28 20:14] lbernick commented on #5193
Looking at our [prow dashboard](https://prow.tekton.dev/?type=periodic&job=ci-tekton-pipeline-upgrade-tests), upgrade tests have been failing with `fatal: destination path '/home/prow/go/src/github.com/google/licenseclassifier' already exists and is not an empty directory.` I'm guessing they've been broken for some time and we haven't noticed

[2022-07-29 01:17] chuangw6 commented on #5203
Thanks @wlynch . That explains why it's still not deletable after chains is disabled - because the taskruns have been added a finalizer.

Quick question: When a client like chains is trying to add a finalizer to the object, it's an UPDATE operation. And whenever update operation happens, pipeline's webhook will be triggered in which alpha flag is checked. Is that correct understanding?

<img src="

[2022-07-29 01:20] chuangw6 commented on #5203
FYI: For those who want to delete the taskruns that hang because of the finalizer, you can use the patch command to remove finalizer, which can help remove resources immediately.

[code]

[2022-07-29 07:16] vdemeester commented on #5203
@wlynch this is solely on the `v1beta1` object (with or without the api fields to alpha or not). Quick question, is `chains` using `PATCH` ? I think we "could" detect it's a PATCH on metadata and not run the validation.
In any case, this is one "potential" problem we have with `enable-api-fields`, if users enable `alpha` API to try something and switch back to `stable` with an object with alpha ap

[2022-07-29 07:21] vdemeester commented on #5203
I think it really depends on when you switch back the `enable-api-fields` to `stable`. If it's during the execution of a `TaskRun`, then chains will pick it up once done and.. updating it will fail the validation. I think it also might depend when `chains` put the finalizer in.

[2022-07-29 16:30] eric79 opened #5239 "TektonClient.create_run_from_pipeline_func(..) errors out when run on Windows machines w/ virus scan software"
# Expected Behavior

TektonClient.create_run_from_pipeline_func(..) runs normally without error

# Actual Behavior

Call errors out with:

[code]

(final filename changes with each run)

# Steps to Reproduce the Problem

1. Write a python script w/ a call to TektonClient.create_run_from_pipeline_func(..)
2. Run the script on a Windows machine w/ virus scan enabled (in my case it's McAfee)
3. See t

[2022-07-29 17:56] chitrangpatel commented on #4860
@sbtest I just tried to re-create the error but I cannot. It may have been fixed in one of the recent releases.

[code]

[2022-07-29 18:02] Tomcli commented on #4860
We are seeing this problem when the steps are defined with k8s `command` and `args`. For steps.[*].script we confirmed it's working, but it needs to run the `place-script` init-container which is something we try to avoid for optimizing our pipeline performance.

[2022-07-29 18:31] chitrangpatel commented on #4860
I see the output you showed when I use command + args indeed. However, as far as the substitutions go, there is no issue there:

[code]

I think it might be something about how we execute `command+args` vs `script` that must be different.

[2022-07-29 19:54] dibyom commented on #4710
/assign @abayer

[2022-07-29 19:54] chitrangpatel commented on #4860
I verified that right before the creation of the Pod to run the task, the substitutions are indeed correct. i.e. `Hello$World, Hello$$World and Hello$$$World`. However, in the entry pointer, if I log the input command and args, I see it update `Hello$World Hello$World Hello$$World`. That led me to think that it may be a `kubernetes` thing. Somehow `Kubernetes` updates the `command and args`.

So,

[2022-07-29 19:55] dibyom commented on #4710
/cc @QuanZhang-William

[2022-07-29 20:22] lbernick commented on #5230
Hi @chabeezy, thanks for filing! The behavior you want here should already be possible. Could you please provide the limitrange spec and task spec you're using, plus the tekton version? (no need to provide the entire task spec, just anywhere you specify compute resources)

[2022-07-29 20:58] QuanZhang-William commented on #4223
/assign @QuanZhang-William

[2022-07-29 20:58] QuanZhang-William commented on #3171
/assign @QuanZhang-William

[2022-07-29 22:06] yuzp1996 commented on #5193
I am sorry I don't understand what moving them to Tekton means. Is it something like dogfooding? Another CI system based on Tekton?

[2022-07-30 02:26] r67yfyt opened #5240 "fix agent and dynamic taskname in pipeline"
previously i've thougt that tekton is faster than jenkins, and i've learned more about tekton, finnally i found that tekton sometimes needs more time to dealer with pod start and cannot dynamicly define my task name in pipeline, this can be a problem. in Jenkinsfile the groovy script can do that. i think tekton can do that too.

[2022-07-30 02:30] r67yfyt commented on #5240
now i often take more that 15 seconds to start my pod, i think this is produced by the changing entrypoint process

[2022-07-30 03:09] lookis opened #5241 "PipelineRun 's PodTemplate support affinity"
### Feature request

currently, PipelineRun support PodTemplate only three feature: tolerations, nodeSelector, and imagePullSecrets. and I would like to see affinity be supported.

### Use case

In my case, I prefer all the task running on the high performance node which I will label it. but PipelineRun scheduler doesn't support affinity.nodeAffinity.

and I cannot guarantee the high performance n

[2022-07-30 13:41] chabeezy commented on #5230
Thanks @lbernick, no problem

So the task spec

[code]

The limitrange is set on the namespace and is

[code]

[2022-07-30 23:36] RafaeLeal commented on #5116
Maybe we should consider having a timeout specific for the "ContainerCreating" status? Or maybe we can check if there's any ongoing discussions about this on Kubernetes itself.
I just don't feel this issue should be closed just because we don't have this info on the pod's state. There are still alternatives to consider, I think

[2022-07-31 02:44] lookis opened #5242 "git-init task could not fetch ssh link with ssh-directory setup properly"
# Expected Behavior
git-init task with .ssh setup properly will fetch repository

# Actual Behavior
report a warning and error

{"level":"warn","ts":1659233796.5188842,"caller":"git/git.go:277","msg":"URL(\"ssh://git@github.com:xxxxx.git\") appears to need SSH authentication but no SSH credentials have been provided"}
{"level":"error","ts":1659233801.5396273,"caller":"git/git.go:54","msg":"Error r

[2022-07-31 12:25] yuzp1996 commented on #5193
Hi, @lbernick @afrittoli  looks like there will be a large change for the e2e upgrade test. I am interested in e2e upgrade test. Is there anything I can do to help now? 😁

[2022-07-31 14:52] Arhell opened #5243 "broken installation customizations link"
# Steps to Reproduce the Problem

1. https://tekton.dev/docs/pipelines/matrix/#concurrency-control
2. For more information, see [installation customizations](https://github.com/docs/install.md#customizing-basic-execution-parameters).

[2022-07-31 15:13] abayer commented on #5243
The issue is with this line: https://github.com/tektoncd/pipeline/blob/main/docs/matrix.md?plain=1#L64

I believe that should be just `(install.md#…)`

[2022-08-01 08:33] yuzp1996 commented on #5241
/assign

[2022-08-01 17:27] lbernick opened #5247 "More automation for release process"
While doing a release for the first time, I noticed a few things that could be made part of a script (from the [release cheat sheet](https://github.com/tektoncd/pipeline/blob/88fbc864b0b8365a817288dbbc0987d4d757bf27/tekton/release-cheat-sheet.md)):

- We can have a script file to kick off the tekton pipeline that includes creating a pvc backed workspace, rather than having someone create a file wi

[2022-08-01 17:41] lbernick opened #5248 "TaskRun retries: Improve separation of concerns between PipelineRun and TaskRun reconciler"
Today, retries in Pipeline Tasks are implemented via the following process:
- If a TaskRun fails and the Pipeline Task has retries specified, the PipelineRun controller will clear the status of the TaskRun, add its old status to `taskRun.status.retriesStatus`, and mark it as running. (happens [here](https://github.com/tektoncd/pipeline/blob/b8e244a66b40da3d15e025eed92642461845ccee/pkg/reconciler/p

[2022-08-01 17:42] lbernick commented on #5218
Plan is to first revisit how we do TaskRun retries (tracked in https://github.com/tektoncd/pipeline/issues/5248). After this, it may be easier to explore implementing CustomRun retries in a similar way.

[2022-08-01 17:49] vsinghai commented on #5154
/assign

[2022-08-01 20:25] #5243 closed

[2022-08-01 21:23] dibyom commented on #5240
@r67yfyt could you explain a bit more about the changing entrypoint process?

[2022-08-01 21:25] dibyom opened #5250 "flake: TestRealRunnerStdoutAndStderrPaths"
TestRealRunnerStdoutAndStderrPaths is testing out the expected stdout and stderr strings are written out to files. However, the writes happen [asynchronously](https://github.com/tektoncd/pipeline/blob/94055d92c120a6010f3d61a821e45dea4f893a74/cmd/entrypoint/runner.go#L139) which means that sometimes the output that we get is empty leading to the test being flaky.

Noticed here: https://prow.tekton.

[2022-08-02 07:16] wilstdu opened #5251 "Timeout: missing logs"
# Actual Behavior
After Tekton timeout, application pods get deleted and in result the logs also disappear.
![image](https://user-images.githubusercontent.com/40565212/182314493-fb357315-39d6-43e7-90b5-cadaa5012c3d.png)

# Steps to Reproduce the Problem
[code]

# Additional Info
- Kubernetes version: 1.21
- Tekton Pipeline version: v0.35.1

[2022-08-02 13:14] lbernick commented on #5250
thanks for filing but this is actually a duplicate of #5152  :)

[2022-08-02 13:14] #5250 closed

[2022-08-02 13:19] abayer commented on #5152
From @dibyom on #5250

[2022-08-02 15:34] lbernick commented on #5193
What I meant here is that instead of having this test run on prow, we can run it on our dogfooding kubernetes cluster via a Tekton TaskRun or PipelineRun. One of our medium-term goals is to move Tekton test infrastructure away from using prow and use Tekton to test Tekton instead.

A great first step would be seeing if you can get the existing scripts working on a k8s cluster! It looks like the te

[2022-08-02 15:37] lbernick opened #5254 "Flake: entrypoint test TestRealWaiterWaitWithContent"
[code]

[2022-08-02 15:45] JeromeJu commented on #5111
/assign

[2022-08-02 15:46] JeromeJu commented on #5111
The test files in v1 would be moved to v1_test in a separated PR from https://github.com/tektoncd/pipeline/pull/5219.

[2022-08-02 17:12] dibyom commented on #5152
One fix might be to have the test wait in a loop till the file has content before comparing (with a time limit of a few seconds say)

[2022-08-02 19:16] ywluogg commented on #5078
After discussion, it seems better that we plan to deprecate the params.paramArray1 as a whole usage, but we don't enforce it in implementation. In doc, we will recommend the star reference to refer param arrays as a whole.

[2022-08-02 20:26] JeromeJu commented on #4985
/assign

[2022-08-02 23:33] wlynch commented on #5152
Took a crack at this in https://github.com/tektoncd/pipeline/pull/5261 since this blocked one of my other PRs 🙃 - would appreciate any feedback, in particular since this is going against what a comment in the original PR said not to do (but I think it's fine anyway?)

[2022-08-03 13:11] JeromeJu opened #5262 "CSI Volumes to beta"
### Feature request

For the latest release, CSI Volumes is in Alpha in v0.38. It shall be promoted to beta.

### Use case

[2022-08-03 13:50] AlanGreene commented on #5251
I believe this is expected behaviour, and the docs should be updated to make this clear.

From the [docs on TaskRun timeout](https://tekton.dev/docs/pipelines/taskruns/#configuring-the-failure-timeout):

The corresponding docs for Pipeline / PipelineRun do not mention this fact but I believe the same behaviour is expected.

[2022-08-03 13:53] yuzp1996 commented on #5193
OK!  I commented the `initialize $@` to avoid creating GCP cluster when I run the script locally and found the e2e upgrade test worked well.
https://github.com/tektoncd/pipeline/blob/main/test/e2e-tests-upgrade.sh#L32

Looks like something went wrong in `initialize` I will try to find out why. https://github.com/tektoncd/plumbing/blob/main/scripts/e2e-tests.sh#L357

[2022-08-03 18:46] jerop opened #5265 "Matrix Beta"
In [TEP-0090: Matrix](https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md), we introduced `Matrix` to support fanning out a `PipelineTask` with different combinations of `Parameters`.

This is an overarching issue to track feature requests and work we need to do before promoting `Matrix` to beta.

- [x] #5925
- [x] #6602
- [ ] #5266
- [x] #5267
- [x] https://github.com/tektoncd/pip

[2022-08-03 18:46] jerop opened #5266 "Produce `Results` from `PipelineTasks` fanned out in a `Matrix`"
In [TEP-0090: Matrix](https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md), we introduced `Matrix` to support fanning out a `PipelineTask` with different combinations of `Parameters`.

This issue tracks the work to produce `Results` from `PipelineTasks` fanned out in a `Matrix`, which was a non-goal in [TEP-0090](https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md#n

[2022-08-03 18:46] jerop opened #5267 "Include explicit combinations of `Parameters` in a `Matrix`"
In [TEP-0090: Matrix](https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md), we introduced `Matrix` to support fanning out a `PipelineTask` with different combinations of `Parameters`.

This issue tracks the work to include an explicit combination of `Parameters` in a `Matrix`, which was a non-goal in [TEP-0090](https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md#non

[2022-08-03 18:46] jerop opened #5268 "Exclude specific combinations of `Parameters` from a `Matrix`"

[2022-08-03 19:37] vdemeester commented on #4519
/lifecycle frozen
Still planning to work on this 👼🏼

[2022-08-03 20:10] chuangw6 opened #5270 "More flexible way to provide value for object keys"
### Feature request

When users provide object param value in `taskSpec.Params.default` (or `taskrunSpec.Params.Value`), it might be beneficial if it's allowed that users can provide values for only a subset of the keys instead of having to provide values for all keys which is now enforced by the validation webhook (or reconciler for taskrun level).

For example, the following example is valid now

[2022-08-03 20:12] chuangw6 commented on #5270
If you have any comments/feedback/questions about this, please add them here. Thanks

[2022-08-03 20:17] chuangw6 commented on #5270
cc @wlynch @vdemeester @chitrangpatel @dibyom @jerop @lbernick @ywluogg @Yongxuanzhang

[2022-08-03 20:32] wlynch commented on #5270
sgtm! I think what you described matches what I would expect the behavior to be.

It might be helpful to add a simple TaskRun spec that doesn't work today, but perhaps should?

[2022-08-03 20:46] chuangw6 commented on #5270
Yeah, in the initial implementation, we just think the object param as whole i.e. if default/taskrun wants to provide value for it, they must provide value for all the keys. But just thinking it might be beneficial if they just provide a subset of keys as long as they cover all the keys together.

SG! Added!

[2022-08-03 21:35] dibyom commented on #5116
A timeout specifically for the containerCreating status sounds too low level for most CI/CD use cases.

I get that the current situation isn't ideal but I think the best course right now is to have this fixed in Kubernetes (see https://github.com/kubernetes/kubernetes/issues/88193)  and have this information surfaced somewhere in the Pod's status.

[2022-08-04 13:04] RafaeLeal opened #5271 "restrict PipelineRunSpec.Params with a task result reference"
# Expected Behavior
The `alpha` features become available

# Actual Behavior
The tekton-pipelines-controller crashed with this panic message: `fatal error: stack overflow`.

I created a gist with the full stack trace
https://gist.github.com/RafaeLeal/00c944a670bdba9a178b23da9eeb0e7c

It seems to have entered a 3-function infinite recursion loop:
- On function [skipBecauseResultReferencesAreMissing

[2022-08-04 13:35] abayer commented on #5271
This code path still exists in HEAD - makes me think this is likely not something fixed since 0.35.1.

[2022-08-04 13:40] abayer commented on #5271
/assign

My first thought is that `rpt.Skip(facts).SkippingReason == v1beta1.WhenExpressionsSkip` should be replaced with `rpt.skipBecauseWhenExpressionsEvaluatedToFalse(facts)`, since the former is basically a roundabout way of determining if the latter is true.

I'm going to work on writing a test to reproduce this now.

[2022-08-04 14:07] abayer commented on #5271
@RafaeLeal Any chance you could provide a `PipelineRun` that hit this problem? Or the `Pipeline` for one of those `PipelineRun`s? I _think_ this is somehow related to parameter behavior behind the `alpha` flag, either array indexing or parameter propagation, so it'd be great to see what the actual `Pipeline` looks like in terms of parameters and results...

[2022-08-04 14:54] #5150 closed

[2022-08-04 15:12] RafaeLeal commented on #5271
So I did a backup from what was running on the cluster at that time.. but we didn't manage to understand which pipeline run was causing this issue... the panic message and stack trace doesn't give us any clue of which of them was failing.. so we had to delete all of them :sadpanda:
Let me check if it's safe to share this backup, then I can get back to you.

But what was clear for us is that behind

[2022-08-04 17:33] abayer commented on #5271
Ok, @RafaeLeal sent me a dump of the `PipelineRun`s, and so far I'm not seeing anything obvious. Right now, my theory is that it's something specific to changing to `alpha` mid-execution...which is a difficult thing to reproduce in a test. =) If I can't get any further with a reproduction, I'll just open a PR making the code change I mentioned above without a reproduction test - I'm very confident

[2022-08-04 21:15] pritidesai commented on #5271
I am very nervous with this kind fix as it might introduce more bugs.

@RafaeLeal how useful is it for you to know why a task was skipped? You might provide a great testimony if the **why skipped** is useful at all.

[2022-08-04 21:24] RafaeLeal commented on #5271
Well, I'm not actually interested in `SkippingReason`, but this is creating an infinite recursion loop, which is making the controller unhealthy

[2022-08-04 21:45] abayer commented on #5271
Yeah, the root problem here is some behavior going weird when changing `enable-api-fields` to `alpha` while a `PipelineRun` is running, with the result that a possible infinite loop when calling `skipBecauseResultReferencesAreMissing` gets hit. The fix I’m proposing isn’t a fix for whatever is going weird when changing the flag, but very specifically cutting out an unnecessary call to `Skip`, ther

[2022-08-05 07:01] lookis opened #5275 "seperate affinity assistant setting on workspace"
### Feature request

Config affinity assistant on each workspace override default setting in feature-flags

### Use case

I've got same problem with this issue: https://github.com/tektoncd/pipeline/issues/3480

In my case, I have a PVC for code, and another PVC for build cache, and I will use a NAS StorageClass for **cache PVC** which will share data across AZs.

the **code PVC** will share betwee

[2022-08-05 17:10] lbernick opened #5278 "LimitRange transformer behavior inconsistent with our documentation"
# Behavior described in [docs](https://github.com/tektoncd/pipeline/blob/main/docs/compute-resources.md#limits)

If a taskrun is created with resource requirements inconsistent with a limitrange (e.g. requests < min or limits > max),
the resource requirements will be adjusted to fit within the limitrange constraints.

# Actual Behavior

If a taskrun is created with resource requirements inconsiste

[2022-08-05 17:12] lbernick commented on #5278
@skaegi curious about your opinion on whether we should change the docs or the behavior

[2022-08-05 17:55] lbernick commented on #5278
Even if we decide to allow TaskRuns to fail when they don't meet limitrange requirements, we should definitely stop creating invalid pods. (This happens when e.g. a taskrun's requests are larger than the limitrange max or its limits are smaller than the limitrange min.)

[2022-08-05 19:07] lbernick commented on #2828
/lifecycle frozen

[2022-08-05 20:26] #5152 closed

[2022-08-05 21:54] pxp928 opened #5281 "Fix linting, documentation and license information for `pkg/spire/test`"
`pkg/spire/test` was copied into pipelines to test the spire workload API. This is a verbatim copy of the upstream `https://github.com/spiffe/go-spiffe/tree/main/v2/internal/test`. Currently there are linting error that need to be fixed and once fixed,  removed from `.golangci.yaml` ignore list. Also need to add in the license header to each test file. Documentation needs to be added on where this

[2022-08-08 09:30] rafalbigaj opened #5282 "[REGRESSION] Unable to cancel pipeline run - error PipelineRunCouldntCancel reported on a pending custom task"
# Expected Behavior

Pipeline run with unscheduled custom test should be cancellable.

Regression: **This scenario works correctly on v0.33.1.**

# Actual Behavior

When cancelling a pipeline run, which contains unscheduled custom test, the error `PipelineRunCouldntCancel` occurs.

# Steps to Reproduce the Problem

1. Install [wait-task](https://github.com/tektoncd/experimental/tree/main/wait-task

[2022-08-08 09:56] afrittoli commented on #5282
Thank you for the bug report @rafalbigaj - it sounds like we don't have test coverage for this.
Perhaps we should consider installing a simple custom run controller in our e2e tests so we may test these scenarios.
/cc @abayer @lbernick

[2022-08-08 10:04] afrittoli commented on #5282
@rafalbigaj Does the cancel happen right away?
Both runs are in the status, which is why the controller attempts to cancel both and fails. It could be that that is the source of the issue.
Are you using minimal embedded status in your setup? Any other alpha flag enabled?

[2022-08-08 12:44] lookis commented on #5241
any update? @yuzp1996

[2022-08-08 13:10] abayer commented on #5282
👍 Agreed!

[2022-08-08 14:22] jerop commented on #3460
TestPipelineRunTimeout test is still flaky

[2022-08-08 14:23] JeromeJu commented on #4987
/assign

[2022-08-08 14:50] vsinghai opened #5283 "`runTestReconcileWithPipelineResults` test `PipelineRun` status set to True and is not allowing for validation"
# Expected Behavior
The test, `runTestReconcileWithPipelineResults`, is meant to test the reconciler with `Pipeline` `Results` passed in from `Tasks`. However, a problem with this test is the `PipelineRuns` `status.conditions.status` is set too `True`. This essentially makes the reconciler to see that this `PipelineRun` has already run successfully and does not need any form of validation, shown [

[2022-08-08 14:51] vsinghai commented on #5283
/assign

[2022-08-08 14:56] dibyom commented on #5282
cc https://github.com/tektoncd/pipeline/issues/5120

[2022-08-08 15:07] XinruZhang commented on #5156
/assign XinruZhang

[2022-08-08 17:13] pritidesai commented on #5282
Would this require changing pluming to deploy wait task controller or can it be done via `e2e-common` (similar to pipeline controller)? Should we bring wait task controller into pipeline repo to decouple from whats available in experimental repo?

[2022-08-08 18:51] marniks7 commented on #5225
Another variation of this issue (image fetch by tekton controller), but this time for `kind` with `kind load docker-image`

[code]
Error:
`'failed to create task run pod "pod-failure-few-s9mpw": translating TaskSpec to Pod: GET https://index.docker.io/v2/library/pod-failure/manifests/0.1.0: UNAUTHORIZED: authentication required; [map[Action:pull Class: Name:library/pod-failure Type:repository]]. M

[2022-08-08 19:05] vsinghai commented on #5158
/assign

[2022-08-08 19:47] lbernick opened #5286 "Inconsistency/race conditions in handling of Pipeline Task timeouts for Runs"
Today, [Pipeline Task timeouts](https://tekton.dev/docs/pipelines/pipelines/#configuring-the-failure-timeout) work in a way that I find confusing for Custom Tasks.

The PipelineRun reconciler [passes the pipeline task timeout down to a newly created run](https://github.com/tektoncd/pipeline/blob/deb0fec6e861ed9c74c7f43791b6e52823a62e0d/pkg/reconciler/pipelinerun/pipelinerun.go#L892), [and expects

[2022-08-08 19:47] lbernick commented on #5286
FYI @pritidesai @jerop @abayer

[2022-08-08 20:24] abayer commented on #5286
`Run` controllers will need to implement cancellation regardless, so there's a certain logic to just requiring cancellation support and having the `PipelineRun` reconciler handle `PipelineTask`-driven timeouts. But both because that's inconsistent with how we handle timeouts with `TaskRun`s (currently, and once #5134 lands) and because the ability to launch a custom task `Run` directly with a time

[2022-08-09 05:46] yuzp1996 commented on #5193
<img width="1220" alt="image" src="https://user-images.githubusercontent.com/23007448/183573701-61de225c-e19c-4993-8b3f-36b79108d631.png">

[2022-08-09 09:46] afrittoli commented on #5282
I wrote a reproducer unit test, so we can test this even without e2e tests, nonetheless it would be good to install the `wait` controller.

[code]

I used `git bisect` to find the first failing commit 9d60d0adf41e74f78029a0eaab73140fa4f7206a

[code]

On the surface it looks unrelated, I need to dig in to understand what happened.

[2022-08-09 10:03] afrittoli commented on #5282
The issue happens only with full status - with minimal status it works fine.

[2022-08-09 14:09] XinruZhang commented on #5120
/assign XinruZhang

[2022-08-09 14:33] sufyanbnk opened #5289 "Error reading/parsing logging configuration: timed out waiting for the condition: Get "https://x.x.x.x:443/api/v1/namespaces/tekton-pipelines/configmaps/config-logging": Service Unavailable"
# Expected Behavior

# Actual Behavior
tekton controller being able to get the configmap config-logging

# Steps to Reproduce the Problem

1. deploy tekton with kustomize
2. delete runasgroup, runasuser with kustomize
3. add anyuid scc to tekton-controller

# Additional Info

- Kubernetes version:

tekton version: 0.38.0
kubectl client: 1.24.3
kubectl server: 1.23.5

[code]

- Tekton Pipeline vers

[2022-08-09 15:12] LilyHolms opened #5290 "get step name within container"
### Feature request

I noticed we can get info like taskrun name (pod name) by `$(context.task.name)`, but is there a way to get step name (container name) within the container?

https://tekton.dev/vault/pipelines-v0.17.3/variables/

### Use case

[code]

[2022-08-09 16:28] Yongxuanzhang commented on #5175
Yeah I think so.

[2022-08-09 16:29] abayer commented on #5175
Agreed

[2022-08-09 16:29] #5175 closed

[2022-08-09 17:20] #5282 closed

[2022-08-09 18:07] joshuasimon-taulia commented on #4470
/remove-lifecycle stale
we really need an intuitive way to set requests/limits for the entire pod/task

[2022-08-09 18:40] #5165 closed

[2022-08-09 19:01] lbernick commented on #4470
/lifecycle frozen

This should be ready soon :)

[2022-08-10 01:37] yuzp1996 commented on #5193
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/23007448/183791422-a3fc0530-d7af-4128-b15f-2f81246cb6fc.png">

[2022-08-10 03:30] yuzp1996 commented on #5241
Hi! I will start working on this issue today.

[2022-08-10 07:44] sm43 opened #5297 "Pipelines controller removing label from PipelineRun on reconcilation"
In [Pipelines As Code](https://github.com/openshift-pipelines/pipelines-as-code), we create PipelineRun and then `Update` the PipelineRun with a Label.

Recently we noticed the label is missing, on debugging it more, we found when pipelines controller adds `tekton.dev/pipeline` label on the PipelineRun, it is removing the other label.

[code]
How can we avoid this from happening? if this is a race

[2022-08-10 07:45] sm43 commented on #5297
cc @imjasonh @afrittoli @vdemeester

[2022-08-10 10:03] yuzp1996 commented on #5241
Hi @lookis,  Podtemplate supports affinity now. This document [podtemplates](https://tekton.dev/docs/pipelines/podtemplates/) could help you.

But if your PipelineRun contains PVC then affinity will be overwritten by affinity-assistant.

I tried and find two solutions to avoid being overwritten by affinity-assistant.
1.  delete PVC in your pipelinerun
2. disable affinity-assistant by setting featu

[2022-08-10 10:27] yuzp1996 commented on #5241
@lookis  For more information about Affinity Assistant, you can refer to this document https://tekton.dev/vault/pipelines-v0.16.3/workspaces/#specifying-workspace-order-in-a-pipeline-and-affinity-assistants.

[2022-08-10 10:33] lookis commented on #5241
@yuzp1996 I think it would be better to merge two configurations, that's what nodeAffinity.weight for.

It's no reason for pvc case not to prefer a better node, thought it may failed, that's why it's nodeAffinity rather than nodeSelector

[2022-08-10 11:42] #5289 closed

[2022-08-10 11:42] sufyanbnk commented on #5289
NO_PROXY env variable was not set correctly

[2022-08-10 12:50] XinruZhang opened #5300 "Form a Standard Process of Dealing with Kubernetes Deprecations"
Currently, the most major implementation of Tekton APIs is on Kubernetes.
Kubernetes deprecates APIS [^1] now and then, we need to form a standard process
to deal with those deprecation announcements.

The benefit is obvious: **we can avoid any incompatibility between Tekton and K8s
of a new version with deprecated APIs/Flags/Features removed.** (#4158 wouldn't be
an issue any more).

One thing we

[2022-08-10 13:45] lbernick commented on #5271
related: https://github.com/tektoncd/pipeline/pull/3524

[2022-08-10 13:51] lbernick opened #5302 "FR: pipelineRun.spec.taskRunTemplate"
### Feature request

We already have [pipelineRun.spec.taskRunSpecs](https://github.com/tektoncd/pipeline/blob/bf8be59f43dd81ef2f26102ae5b3c91e22e30bdb/pkg/apis/pipeline/v1beta1/pipelinerun_types.go#L229), but it might be nice to be able to specify a TaskRun configuration that applies to every TaskRun in the PipelineRun  by default. An analogous feature is [task.spec.stepTemplate](https://github.c

[2022-08-10 14:33] lbernick commented on #5193
I noticed our unit tests also clone the license classifier but don't run into the same problem-- check out the first log line [here](https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/5204/pull-tekton-pipeline-unit-tests/1557371394474381312/build-log.txt). Also, the upgrade tests use a version of the test-runner that is 4 months older than the version the rest of our CI uses

[2022-08-10 14:43] yuzp1996 commented on #5241
@lookis  Yes, I agree with you that merging the two configurations is the better approach. I made changes in my dev environment and tested some simple cases and everything seems to be working fine. Maybe tomorrow I will create the PullRequest because I need to add some unit tests and test some more complex cases.

[2022-08-10 15:17] abayer commented on #4112
Resurrecting this again - looks like `PodSecurityPolicy` has been removed in k8s 1.25, so we need to push this. I'm putting this in the v0.39 milestone, but am going to assume it'll end up slipping to v0.40 just due to time.

[2022-08-10 15:18] abayer commented on #4112
/priority critical-urgent

Actually, I just put it in v0.40, but am also bumping the priority.

[2022-08-10 15:21] abayer commented on #5128
/priority important-soon

Since we haven't even yet moved to k8s 1.22 minimum, I don't think we can bump straight to 1.23 in v0.39. Maybe v0.40?

[2022-08-10 15:22] chuangw6 opened #5303 "Add a new annotation field `pipeline.tekton.dev/builderVersion`"
### Feature request

Add a new annotation field `pipeline.tekton.dev/builderVersion` to capture the builder version that can be customized when installing tekton.

### Use case

Use the annotation field to attach customized version string to run objects i.e. pipelinerun/taskrun, which can be used by the Chains to capture the builderVersion in attestation.

note:
- The motivation behind having a cu

[2022-08-10 15:22] chuangw6 commented on #5303
cc @dibyom @wlynch

[2022-08-10 15:50] #5137 closed

[2022-08-10 18:19] pritidesai commented on #5271
@RafaeLeal this issue is reported `v0.35.*` and since we are not able to reproduce it, can you please test this with latest pipeline release `v0.38.*`?

[2022-08-10 18:21] XinruZhang commented on #5156
Currently, we have two ways to run custom tasks: w/ CRD, w/o CRD
- With CRD:  [task-loop](https://github.com/tektoncd/experimental/tree/main/task-loops)
- Without CRD: [wait-task](https://github.com/tektoncd/experimental/tree/main/wait-task)

The highest priority of this issue is to create an e2e test to ensure the basic functionalities of a custom task work as expected, which is a blocker of V1 P

[2022-08-10 18:22] XinruZhang commented on #5156
- [ ] move wait-task to test/
- [ ] write e2e test (install tekton, custom controller)
- [ ] put this e2e test together with other tests? (not sure if this is required)
  - as part of a release test etc.
- [ ] documentation and future work (stage 2)

[2022-08-10 19:07] lbernick commented on #5248
@XinruZhang I was just talking about this with @jerop: An equally valid way to support TaskRun retries and have separation of concerns is to add `retries` to `taskrun.spec`, and have the TaskRun reconciler implement retries. The advantage of this strategy is that we'd be consistent with how we handle retries for runs. This might need a bit more discussion before you start implementing--sorry!

[2022-08-10 20:04] XinruZhang commented on #5248
Thanks @lbernick for bringing up this issue! Indeed the behavior here is a little bit weird 😅. I'm more than happy to discuss it more :)

I totally agree this is really about which controller should be responsible for taking care of the `retries` functionality.

I agree either options would make sense here because It decouples the two reconciler on this functionality. I'm a little bit leaning towa

[2022-08-11 02:07] RafaeLeal commented on #5271
To be honest I don't have a way to reproduce it myself. At least not a way without causing an incident.

[2022-08-11 02:26] RafaeLeal commented on #5116
I'm not sure what you mean by "too low level". I understand that maybe it's not something you want to customize at the Task/TaskRun level, but maybe at controller level would be fine. Tekton is very "low-level" in that sense, I think.

It's good to know that Kubernetes has an issue similar to this, but it's not clear to me if they will add to the `state.waiting` fields.

Can't we look at the event

[2022-08-11 08:26] yuzp1996 commented on #5302
/assign

[2022-08-11 09:44] yuzp1996 commented on #5302
taskRunTemplate should be a field of pipelineRun.spec or a field of pipeline.spec ?

[2022-08-11 14:34] lbernick commented on #5160
Marking as urgent since I am seeing these unit tests constantly failing and having unit tests flake is not great!

[2022-08-11 14:44] abayer commented on #5160
👍 - I've tried to reproduce the various event test failures (there's more than just the cloud events ones, though those are the most frequent) locally, and sometimes can, but not nearly frequently enough to verify the only potential fix that's come to mind so far (bumping the timeouts in `test/events/events.go` from 10ms to 20ms)...though I also tend to think that is not likely to fix the flakes a

[2022-08-11 15:19] lbernick commented on #5302
I think we'd want this to be on PipelineRun, since the use cases I mentioned (service account and compute resources) are probably things you'd want to specify for a pipelinerun rather than a Pipeline. However (I should have mentioned this in the initial issue) I think we should have a small TEP (design proposal) for this before implementing it just to make sure there are no concerns from maintaine

[2022-08-11 15:34] abayer commented on #4643
/lifecycle frozen

I hit this one while trying to reproduce the various events-related flakes, so it's still a thing. I thought that maybe increasing the timeout in the test would help, but I seem to still be hitting it...

[2022-08-11 15:44] lbernick commented on #5248
sg! @afrittoli @abayer @pritidesai just want to make sure you don't have any concerns about adding `retries` to `taskRun.spec`-- do you think this needs a TEP? (From talking to @jerop I think this is her preferred solution as well but ofc feel free to comment with any concerns)

[2022-08-11 16:00] abayer commented on #4643
Yeah, it failing or not depended on what I had for `-count` and the overall load on my system, not on anything flaky. Sigh. Well, it's still a flake, just one I can't come up with a fix for...

[2022-08-11 16:08] abayer commented on #5160
Well, this may be helpful specifically for the cloud events flakiness - I got a data race:

[code]

[2022-08-11 16:14] abayer commented on #5160
Comparing a failed run of a test with a successful one:

Failed:
[code]

Succeeded:
[code]

[2022-08-11 17:00] skaegi commented on #5278
My feeling is that other than the resource spreading algorithm for step "requests" we should not interfere. We should not change the "requests" for init containers or side-car containers, and we should not change "limits" in any containers.

We should create a valid schema-wise pod but don't try to second guess the admin's intent for limitranges and what other policy they might have in place. Let

[2022-08-11 17:16] abayer commented on #5160
I think I may have it - it looks like if something goes wrong with sending the event, it'll do an exponential backoff retry to resend it. I have a feeling that once in a while, probably due to parallel load, at least one attempt to send an event fails initially and is retried, but the reconciliation ends up finishing before the event sending retries have actually succeeded. I'm experimenting with

[2022-08-11 17:17] vsinghai commented on #5283
issue has been resolved.

[2022-08-11 17:17] #5283 closed

[2022-08-11 19:39] abayer commented on #5248
I'm in favor of this approach. It does kinda feel like it deserves a TEP, but it's borderline to me.

[2022-08-11 19:43] abayer commented on #1250
So #4494 is done - I'm not sure what needs to be done on the website side to have it pick up https://github.com/tektoncd/pipeline/blob/main/docs/pipeline-api.md and link to it?

[2022-08-11 19:43] abayer commented on #1461
/unassign

[2022-08-11 19:45] abayer commented on #2298
/assign

This will be integrated into Pipeline as part of #4710.

[2022-08-11 19:49] abayer commented on #2825
This is probably worth resurrecting in the context of the various results work that's been underway recently - cc @lbernick @jerop

[2022-08-11 19:58] abayer commented on #4907
Is this done? Can this be closed?

[2022-08-11 19:58] jerop commented on #2710
This was fixed by @vsinghai in https://github.com/tektoncd/community/blob/main/teps/0116-referencing-finally-task-results-in-pipeline-results.md - thank you!

[2022-08-11 19:58] #2710 closed

[2022-08-11 20:07] Yongxuanzhang commented on #4907
yeah, this is done.

[2022-08-11 20:07] #4907 closed

[2022-08-11 20:25] ben-galusha opened #5315 "Compose multiple Pipeline workspaces into a single Task workspace"
### Feature request

Add the ability to compose multiple Pipeline workspaces into a single Task workspace. The new workspace would essentially be an emptyDir + subdirectories for each workspace.

### Use case

A taskRef is expecting a single workspace to be provided, but that data exists within multiple workspaces in my Pipeline. For example, one workspace contains data loaded from a ConfigMap and

[2022-08-12 00:27] yuzp1996 commented on #5302
Of course! I would like to do it!  Thanks for your help！@lbernick

Maybe I should create a TEP PR in [Tekton/community](https://github.com/tektoncd/community/tree/main/teps) first?

[2022-08-12 06:18] hillbun opened #5316 "How to config timeout or disable in pipeline v0.32.4"
I install tekton pipeline v0.32.4, PipelineRun aborted when timeout of 1 hour.

PipelineRun "gitlab-pipelinerun-98xsx" failed to finish within "1h0m0s"

How to config timeout or disable it?

[2022-08-12 13:02] afrittoli opened #5317 "Cannot delete a `PipelineRun` because of unknown field "resourceRef""
# Expected Behavior

`PipelineRuns` can be deleted

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. The `PipelineRun` exists in the dogfooding cluster for now
2. The full yaml: https://gist.github.com/d32565f45c977953e9ee4f97fe439999

It's likely that the `PipelineRun` was executed on an older version of Tekton than the one I'm trying to delete it with.

# Additional Info

- Kubern

[2022-08-12 13:13] lbernick opened #5318 "YAML Parser tests accept arbitrary fields"
# Expected Behavior
Test inputs representing TaskRuns, PipelineRuns, etc, should not contain fields that aren't part of the spec of those objects.

# Actual Behavior
The following test passes:

[code]

We use the yaml parser extensively in [pipelinerun_test.go](https://github.com/tektoncd/pipeline/blob/main/pkg/reconciler/pipelinerun/pipelinerun_test.go) and [taskrun_test.go](https://github.com/te

[2022-08-12 13:22] AlanGreene commented on #5316
There are a number of ways to configure the timeout, including on the PipelineRun, the tasks, or by changing the default timeout value.

Docs for Pipelines v0.32: https://tekton.dev/vault/pipelines-v0.32.x/pipelineruns/#configuring-a-failure-timeout
Docs for latest Pipelines release: https://tekton.dev/docs/pipelines/pipelineruns/#configuring-a-failure-timeout

The docs includes information on eac

[2022-08-12 13:31] lbernick commented on #5302
Thank you, that would be amazing! The instructions for creating a new TEP are [here](https://github.com/tektoncd/community/tree/main/teps#creating-and-merging-teps). Please let me know if you need any help with this.

[2022-08-12 13:44] afrittoli commented on #5317
I wonder if we really need to run the webhook on deletion, or if we could skip it entirely there?
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-rules

[2022-08-12 13:46] abayer commented on #5317
That should actually be dealt with by https://github.com/tektoncd/pipeline/commit/d91ce06c326cee7645a33e469e2fb21a814f21f3, which will be in v0.39.

[2022-08-12 13:54] afrittoli commented on #5317
Oh, interesting... I wonder why not run the validation on delete instead of skipping in the code based on the API.

[2022-08-12 13:56] afrittoli commented on #5317
Fixed by https://github.com/tektoncd/pipeline/pull/5210, but I think we may need to cherry-pick?

[2022-08-12 14:04] abayer commented on #5317
I'm not 100% sure #5210 does fix this particular one, since it feels like we'd have to get through the decoding to get to the skip-if-deleting logic...

[2022-08-12 14:06] abayer commented on #5317
And yeah, I think skipping validation for deletion feels more right to me.

[2022-08-12 14:14] abayer commented on #5160
Ok! I finally threw enough debug logging into the code to get something really useful:

[code]

What this means is that there are two calls to `SendCloudEventWithRetries` going on at the same time - you can tell, because `ABOUT TO CACHE ATTEMPT` should be showing up after `CHECKING CACHE KEY`, not interwoven as they are here. So we end up sending the event twice because it hasn't yet been added to

[2022-08-12 14:18] abayer commented on #5160
Basically, `SendCloudEventWithRetries` is not thread-safe for sure, at least for `Run` events.

[2022-08-12 14:29] abayer commented on #5317
Looks like https://github.com/tektoncd/pipeline/blob/1b080e3fd15ad98f7bb708296fefa875d69157a8/cmd/webhook/main.go#L105 is relevant?

[2022-08-12 14:31] afrittoli commented on #5160
I guess there are two reconcile operations running in parallel. The cache itself is supposed to be thread safe, so I guess something in the `SendCloudEventWithRetries` breaks the thread safeness?

[2022-08-12 14:33] abayer commented on #5160
Yeah - the problem is the operations around cache operations not being thread-safe.

[2022-08-12 14:35] abayer commented on #5160
I'm testing out a quick and dirty hack of putting a mutex in the `Run` reconciler and locking on it for sending cloud events (since we only do caching for `Run`s). That doesn't quite feel like the "right" solution overall, but it should let me verify that some additional locking around sending cloud events does the trick.

[2022-08-12 14:55] abayer commented on #5160
Ok, that's looking really good - over 30 minutes since I started looping test runs without a failure, which is longer than I've seen before. I'm going to let it run another hour or so to be sure, then I'll open a PR.

[2022-08-12 15:01] abayer commented on #5160
I've added that change to https://github.com/tektoncd/pipeline/pull/5313/commits/1cdc4fa81100a8c3525069aa5d0caf9bd27f8a36 - mainly to see if anyone has a better idea of where to put the relevant mutex. =)

[2022-08-12 15:15] Yongxuanzhang commented on #2825
Hi @mattmoor, I just want to confirm what we want to do with is issue. Those are the current result types, do we want to merge all of them into 1 type? Or 1 type for pipelinerun&taskrun, and 1 for pipeline&task?
[code]

[2022-08-12 15:20] Yongxuanzhang commented on #2825
I can take this if needed. /assign @Yongxuanzhang

[2022-08-12 15:25] jerop commented on #5318
related discussion in https://github.com/tektoncd/pipeline/issues/297

there's a downside that @jonjohnsonjr pointed out:

this was before I joined tekton, but I believe `build-pipeline` that's mentioned there was the old name for tekton

[2022-08-12 15:29] afrittoli commented on #5160
https://github.com/tektoncd/pipeline/pull/5313#issuecomment-1213230447

[2022-08-12 15:32] JeromeJu opened #5320 "Refactor pipeline related function in taskrun_types.go"
This issue address that the [`IsPartOfPipeline` func](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/taskrun_types.go/#L468-L480) in `taskrun_types` does not seem to belong in the file.  This should be refactored and essentially moved to pipeline related files.

Thanks @lbernick
_Originally posted by @lbernick in https://github.com/tektoncd/pipeline/pull/5264#discussion_r

[2022-08-12 15:32] JeromeJu commented on #5320
/help

[2022-08-12 15:47] dibyom commented on #5318
I don't know if this is true - we have a validation webhook that should fail this validation

[2022-08-12 15:52] abayer commented on #5317
related: #297

[2022-08-12 15:59] abayer commented on #5160
More details on what's going on: https://github.com/tektoncd/pipeline/pull/5313#issuecomment-1213251895

My mutex in the `Run` reconciler approach is definitely working (~40 runs in my test setup without a failure, when previously I'd always see one by at least 5-6 runs in), but it's definitely not ideal. Basically, all of `cloudevent.SendCloudEventWithRetries` needs to be locked behind a mutex, a

[2022-08-12 16:20] 06kellyjac commented on #5318
Tekton already has upgrade schema migrations, is it not possible to have downgrade schema migrations?

Also if there is a breaking difference across schemas I dont think it should be as easy as change the version and apply it because they're different.
You could apply something that doesnt work at all and then youve gone and broken all the pods it churns out.

And if its at the cost of not getting

[2022-08-12 17:28] abayer commented on #5160
fwiw, my approach doesn't eliminate the possible race condition around logging I've got in https://github.com/tektoncd/pipeline/issues/5160#issuecomment-1212193986. That race is unrelated to the overwhelming majority of event-related flakes - I just saw it show up for the first time in my looping of `go test -race ...` runs, after ~70 runs - but it is real.

[2022-08-13 11:54] yuzp1996 commented on #5302
Yes! I will 😁 !

Since I'm not good at English and I need to do some in-depth research, it will take some time to create the TEP, but I'll sync the progress here.

[2022-08-15 16:03] abayer commented on #4169
/lifecycle frozen

[2022-08-15 17:10] jerop commented on #5141
@chitrangpatel thank you for fixing this issue!

- https://github.com/tektoncd/pipeline/pull/5143
- https://github.com/tektoncd/pipeline/pull/5291

[2022-08-15 17:10] #5141 closed

[2022-08-16 00:27] doombubbles opened #5327 "Support Multiple Windows Entrypoint Images"
### Feature request

Backwards compatibility for those who still require specifically ltsc2019 entrypoint images by including multiple windows definitions in the manifests such as [this one](https://console.cloud.google.com/gcr/images/tekton-releases/global/github.com%2Ftektoncd%2Fpipeline%2Fcmd%2Fentrypoint@sha256:db48b1a4c903acd0d87ebbe5627a73a4625c253ce1851d42ba28323bee285159/details?tab=pull).

[2022-08-16 01:36] imjasonh commented on #5327
/assign

[2022-08-16 01:42] imjasonh commented on #5327
This should be pretty straightforward to accomplish. The combined base image is stitched together by a script in plumbing (https://github.com/tektoncd/plumbing/tree/main/cmd/combine) which takes two source images, but could fairly easily take 2+ so long as they don't have any overlaps in provided platforms.

I'll send a PR, and if things go well we should see this in an upcoming Tekton release.

[2022-08-16 01:49] imjasonh commented on #5327
With the change in https://github.com/tektoncd/plumbing/pull/1180 I'm able to produce a combined base image that has support for multiple Windowseses:

[code]

[2022-08-16 07:56] vdemeester commented on #5317
I don't skipping the validation fixes this though. Mainly because the error happens "prior" to the validation. `decoding request failed: cannot decode incoming old object: json: unknown field "resourceRef"` is a "json" decoding (unmarshalling right ?) error, which happens *before* actually getting into the admission controller code.

Yeah, I think we never really looked into it. We use to validate

[2022-08-16 08:16] tonyhsuclrous opened #5328 "The first 'How-to Guides' is not working due to git-clone 0.8 incompatibility"
# Expected Behavior

How-to Guides [Clone a git repository with Tekton](https://tekton.dev/docs/how-to-guides/clone-repository/) should work.

# Actual Behavior

Can't use `tkn hub install task git-clone` to complete the guide.

# Steps to Reproduce the Problem

See [git-clone 0.7 --> 0.8 is not compatible with many linux installations](https://github.com/tektoncd/catalog/issues/1044)

# Additiona

[2022-08-16 13:49] #4470 closed

[2022-08-16 14:22] lbernick commented on #4470
This feature is available on main now and will be out in the next release. We won't be implementing Pipeline-level resource requirements for the foreseeable future (it's hard to have a non confusing API for this when some components are running in parallel and some sequentially), although if there's a strong use case for it we can reconsider.

[2022-08-16 15:33] lbernick commented on #1250
I think this issue can be closed and the website changes can be tracked in https://github.com/tektoncd/website/issues/363

[2022-08-16 15:33] #1250 closed

[2022-08-16 15:35] #4375 closed

[2022-08-16 16:50] XinruZhang commented on #5156
After talking to @dibyom offline, we reached agreement on implementing a new controller for the testing purpose instead of using the exisitng `wait-task` because
1. `wait-task` will be eventually replaced by the new controller, no need to write code and make people review something that will definitely be removed;
3. the effort of implementing a new test controller is at the similar level of imple

[2022-08-16 17:30] lbernick opened #5330 "v1beta1 -> v1 migration guide"
We need to write a guide for users migrating from v1beta1 -> v1 versions of CRDs, based on [TEP-0096](https://github.com/tektoncd/community/blob/main/teps/0096-pipelines-v1-api.md) and similar to the existing [doc](https://github.com/tektoncd/pipeline/blob/main/docs/migrating-v1alpha1-to-v1beta1.md) for migrating from v1alpha1 -> v1beta1.

[2022-08-16 18:23] XinruZhang commented on #5120
Thanks for writing the issue Lee! I may need some extra clarifications:

Do you mean we define some boolean fields in the `spec` and set those fields in `status` as what are set in the `spec`.

Will codes under `test/` be packaged with Tekton release?

[2022-08-16 18:24] doctorpangloss commented on #5327
Looks great, really relieved about s390x support

[2022-08-16 18:27] XinruZhang commented on #5156
- [ ] Create a new controller under test/ with functionalities mentioned in #5120
- [ ] Write e2e test (install the controller, test cases)

[2022-08-17 06:43] CyberHippo commented on #1922
Please allow me to reopen this issue since Pipelines have changed a lot since this issue was first open. Is there a "current" way of achieving this? If not I'll write a task to watch for modified files and condition my pipeline using [`when` expressions](https://tekton.dev/docs/pipelines/pipelines/#guard-task-execution-using-when-expressions).

[2022-08-17 11:09] CyberHippo commented on #1922
/reopen

[2022-08-17 13:52] jerop commented on #2050
Update that this issue has been addressed through `Matrix`

Design: https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md
Documentation: https://github.com/tektoncd/pipeline/blob/main/docs/matrix.md

Please share any feedback in issue tracking promotion of `Matrix` to beta: https://github.com/tektoncd/pipeline/issues/5265

[2022-08-17 13:52] #2050 closed

[2022-08-17 14:39] lbernick commented on #4984
Closed by #5234.

[2022-08-17 14:39] #4984 closed

[2022-08-17 14:44] lbernick commented on #2058
I still think this is the right long term direction for volumes and workspaces, but there are a few [use cases](https://github.com/tektoncd/community/blob/main/teps/0112-replace-volumes-with-workspaces.md#volume-use-cases-not-currently-supported-by-workspaces) for volumes not currently being met by workspaces. We should try to address these gaps (or think more about what we want our api for volume

[2022-08-17 17:22] abayer commented on #5271
Also worth mentioning that each of the "failed" PRs were created after they switched to `alpha`, though not every "valid" PR was created before then. Valid PRs were created both before and after the `alpha` switch, invalid only after.

[2022-08-17 17:55] abayer commented on #5271
A little more detail on that: the `enable-api-fields` flag was set to `alpha` at 19:21:45 UTC, and all the `PipelineRun`s with self-referential params/results were creating over the next ~13 minutes, then all subsequent `PipelineRun`s of the relevant jobs didn't have the self-referential params/results. So either something went weird in @RafaeLeal's tooling in that time period, or something went w

[2022-08-17 18:10] abayer commented on #5271
Ah-ha! I've got it! With 0.35.1, this test fails with the stack overflow:

[code]

It doesn't hit infinite recursion without `alpha` set, and it doesn't hit infinite recursion on `main`. I'm pretty sure this is because of https://github.com/tektoncd/pipeline/commit/e24df8379e7f85e9305f2710e77ba2190c722532#diff-977842cbf8989cf951bfe55adc45bf63ac2ea8579d1c2c0fb8dddb127858d9f1 being removed in 0.36.0

[2022-08-17 18:40] pritidesai commented on #5271
yes, certainly 👍

`pipelineRun.params` should be validated to restrict task/pipeline result references.

[2022-08-17 21:03] jerop commented on #4849
This was fixed in https://github.com/tektoncd/pipeline/pull/4891 - thanks @chitrangpatel!

[2022-08-17 21:03] #4849 closed

[2022-08-18 02:04] cugykw opened #5334 "An error occurs when `stepTemplate` and `steps` contain the same env key"
# Expected Behavior

When stepTemplate and steps contain the same env key, they are finally merged into the env in steps

# Actual Behavior

An error occurs when `stepTemplate` and `steps` contain the same env key, and one is of type value and the other is of type valueFrom.

The error is as follows:

[code]

# Steps to Reproduce the Problem
Create the following pipeline and trigger it to run

[co

[2022-08-18 02:56] cugykw commented on #5334
Env is merged according to name, so there may be both value and valueFrom, but an error will be reported when pod is generated.

[code]

[2022-08-18 12:52] abayer commented on #5271
@RafaeLeal confirmed it - `enable-api-fields` was set back to `stable` at 19:36. We've definitely found what the problem was, and it doesn't exist in v0.36.0 and later. I'm not going to close this, though - I'm trying to figure out the right way to validate `PipelineRunSpec.Params` to reject result references, and once I've nailed that, I'll open a PR.

[2022-08-18 13:38] vdemeester commented on #5300
Note: we also depend on `knative.dev/pkg` minimun Kubernetes version. So far, the only "time" we bump our "minimun" Kubernetes verison is when we bump `knative.dev/pkg` and it does bump that version.

/cc @imjasonh

[2022-08-18 13:40] vdemeester commented on #5303
@chuangw6 what does that "builderVersion" would/can convey as information ? I am not yet sure to understand the use case there.

[2022-08-18 14:52] vdemeester commented on #5248
Agreeing with @abayer, I think it deserves a TEP 👼🏼

[2022-08-18 16:05] #5327 closed

[2022-08-18 17:10] Yongxuanzhang commented on #4879
I think we address this one.
Maybe close it?
/close

[2022-08-18 17:10] #4879 closed

[2022-08-18 21:35] #4673 closed

[2022-08-18 22:50] tonyhsuclrous commented on #5328
Closed by completion of https://github.com/tektoncd/catalog/issues/1044

[2022-08-18 22:50] #5328 closed

[2022-08-18 23:34] imjasonh commented on #5327
Hey I managed to get this in before today's release!😎

https://github.com/tektoncd/pipeline/releases/tag/v0.39.0

[2022-08-18 23:36] #5092 closed

[2022-08-18 23:36] 95rade commented on #5092
As commented, this is _not_ a bug, but just the way tekton reports its output.

[2022-08-19 06:27] pritidesai commented on #5271
thank you @abayer, I have updated the issue title and reprioritized it.

[2022-08-19 08:57] NEUerYZY opened #5348 "How can I pause the running task and later resume it or retry the failed task even if it exceed the Retry times？"
When I use Tekton v0.25.0 , I met some scenes in actual use.
scene 1 :  I make up  a Pipeline with several Task , one of the Pipeline's Task runs failed .  I do not want to replay  the succeed Task , only want to restart the failed Task.
I know  Tekton has a feature with keyboard **retry** which  can retry the failed Task.  But we still met a problem that if the Task's failure time exceed the retr

[2022-08-19 16:00] lcarva commented on #4710
Since there's agreement in deprecating `taskRun.spec.taskRef.bundle` and `pipelineRun.spec.pipelineRef.bundle`, should we add the "bundle" resolver to the list of out-of-box resolvers?

[2022-08-19 16:41] RafaeLeal commented on #5271
@abayer should we also validate that the parameters are not duplicated?
This was also happening because of misconfiguration and no error was raised

[2022-08-19 16:58] abayer commented on #5271
@RafaeLeal Good question. I'm honestly not sure why we weren't already failing for that...

[2022-08-19 17:10] lbernick commented on #5230
Closing since this is k8s behavior, not Tekton

[2022-08-19 17:10] #5230 closed

[2022-08-19 19:49] XinruZhang commented on #5156
Next steps of improving the test coverage for Custom Task:
- [ ] Test Custom Task (without CRD) in PipelineRun
- [ ] Test Custom Task (with CRD) in TaskRun
- [ ] Test Custom Task (with CRD) in PipelineRun

[2022-08-19 20:48] jerop commented on #3460
fixed in https://github.com/tektoncd/pipeline/pull/5134 🤞🏾

[2022-08-19 20:48] #3460 closed

[2022-08-21 15:24] sparkstar commented on #5242
I also have the same ploblem. `/tekton/home/.ssh/*` exists and valid in kubernetes container. and I tested tekton `git-init` container run in my desktop and wrote private/known_hosts for ssh auth, then git clone is successfully.

[2022-08-22 20:29] JeromeJu commented on #5330
/assign

[2022-08-23 02:00] mattmoor commented on #2814
@afrittoli that's mostly for dataplane components, where sharedmain is mostly for controlplane components.

I don't believe Knative does anything to try and build up a trace/spans with these kinds of constituent parts, and some of them may be hard to stitch together (and thread the trace-id through) since this what you describe is not an HTTP request flow.

You'd probably want the entrypoint to ex

[2022-08-23 09:55] afrittoli commented on #2814
Thanks @mattmoor - that makes sense. Indeed it's not an HTTP request flow, but I think it would be valuable to have tracing information from the Tekton control-plane components. One of the major difficulties I see is creating one (and only one) span for resource, e.g. one span for a `PipelineRun`, and pass that context across reconcile cycles.
I guess if we can rely on having the same controller p

[2022-08-23 15:14] JeromeJu opened #5355 "Emit warning or error for creation of v1 PipelineRun with "full" or "both" embedded status"
This issue tracks down the requirement of a similar validation function for the `minimal` Embedded Status for PipelineRun. Thanks to the discussion with @abayer and @lbernick , a warning should be emitted to users if they are creating a v1 PipelineRun while the feature flag is not set to "minimal".

However, right now in pipeline we don't have a great way of returning a warning to the user. Ideall

[2022-08-23 15:33] #5271 closed

[2022-08-23 16:07] mattmoor commented on #2814
One option here is to put it into the resource status.  You don't even really need a new field if you use Knative's `duckv1.Status` since we support `status.annotations`, which could hold a `trace-id` annotation used to stitch things together.

[2022-08-23 16:37] pritidesai commented on #3497
@vinamra28 is implementing TEP-0048 which addresses this issue

[2022-08-23 16:40] pritidesai commented on #4112
@jerop to find someone who can help with this!

[2022-08-23 16:45] pritidesai commented on #5128
Can we start testing on 1.23 and record any outstanding items?

[2022-08-23 16:46] pritidesai commented on #5128
/cc @pritidesai

[2022-08-23 16:51] abayer commented on #5128
Related knative/serving issue - https://github.com/knative/serving/issues/12806. Looks like Knative will be moving to k8s 1.23 as minimum version in October: https://github.com/knative/community/blob/main/mechanics/RELEASE-SCHEDULE.md. Whether that's a blocker for us moving to requiring 1.23, I don't know.

[2022-08-23 17:05] pritidesai commented on #5128
We can test but I am thinking it could be a blocker

[2022-08-23 17:07] pritidesai commented on #5128
@dprotaso mentioned 1.23 is not in GKE regular channel - https://github.com/knative/community/pull/1140 😞

[2022-08-23 17:22] jerop commented on #3548
@StevenACoffman @vdemeester moved those roadmap items into a project view so that it's live: https://github.com/orgs/tektoncd/projects/16/views/15

[2022-08-23 18:07] lbernick commented on #4858
Closed by #5304

[2022-08-23 18:07] #4858 closed

[2022-08-23 18:44] lbernick opened #5357 "Improved Docs for Authentication"
There are a few improvements I think we could make to our [docs on authentication](https://github.com/tektoncd/pipeline/blob/main/docs/auth.md).

The most confusing thing IMO is that there are a few things "authentication" can refer to that our docs don't clearly distinguish:
- Allowing the Tekton pipelines controller to read image metadata from a private registry
- Allowing a TaskRun's step to us

[2022-08-23 20:43] wlynch commented on #2748
/reopen

Wanted to re-raise this issue for discussion (especially as we near v1) - I think it would be useful to apply deprecation policies to client libraries.

For Go in particular, a breaking change to a minor version best case means that tools like dependabot can break and manual intervention is needed by humans to upgrade, and worst case means that tools build on top of Tekton may be incompat

[2022-08-23 21:45] pritidesai commented on #5128
I though the minimum was already 1.22 but that's not the case as per our documentation. But the default minimum version needed for knative is 1.22 as per https://github.com/tektoncd/pipeline/blob/main/vendor/knative.dev/pkg/version/version.go#L36 And the PR - https://github.com/tektoncd/pipeline/pull/4928.

I missed this action-required in the release notes 😞

[2022-08-24 07:38] jimmyjones2 opened #5359 "RBAC to disable inline TaskSpec/PipelineSpec"
### Feature request

I'd like to allow developers to use a predefined Pipeline to build their software, without the (potentially dangerous) permission to create their own. If they were allowed to create their own Tasks (or inline taskSpec within a PipelineRun), they could dump out Secrets within the namespace.

The best I can do is to setup RBAC to grant developers view access to a namespace, and

[2022-08-24 07:54] vdemeester commented on #5359
@jimmyjones2 thanks for the issue. Would an option on the controller's config be a valid solution for you ? (a key "disable-embedded-specs" with boolean value). Once https://github.com/tektoncd/community/blob/main/teps/0085-per-namespace-controller-configuration.md is implemented, it could be something enabled/disabled per namespaces as well.

[2022-08-24 08:34] vdemeester commented on #5357
Annotations are needed for the controller to know what the secrets are for. It is not related to `PipelineResource`, aka it works no matter using `PipelineResource` or not. It is however, just for `git` and `docker` type of authentication.

Agreed. I wrote a little document around this [here](https://docs.openshift-pipelines.xyz/pipeline/auth.html) for openshift-pipelines, but it applies to any te

[2022-08-24 12:36] afrittoli opened #5362 "Avoid using time.After() in select statements"
# Expected Behavior

` time.After()` is not used in select statements

# Actual Behavior

# Steps to Reproduce the Problem

For instance: https://github.com/tektoncd/pipeline/blob/99b8b196ea753af36befda8c0e0e1eaa9490ae68/pkg/pipelinerunmetrics/metrics.go#L290-L300

# Additional Info

Tekton Pipeline version: v0.33 -> v0.38

From the security audit:

[2022-08-24 12:41] afrittoli opened #5363 "Improve hardening of step containers"
# Expected Behavior

Improved hardening of step containers

# Actual Behavior

The figure below shows the security properties of a task container with the docker driver.

<img width="499" alt="image" src="https://user-images.githubusercontent.com/2205608/186420668-62e95d64-a1fa-413c-b2e0-19293430caf0.png">

# Additional Info

- Tekton Pipeline version: v0.33

From the security audit:

<img width="

[2022-08-24 12:54] afrittoli opened #5364 "Document how to restrict privileged containers"
# Expected Behavior

From the Tekton security audit:

# Additional Info

- Tekton Pipeline version: v0.33+

[2022-08-24 12:56] afrittoli opened #5365 "Restrict default network access between workload pods"
# Expected Behavior

From the Tekton security audit

# Additional Info

- Tekton Pipeline version v0.33+

[2022-08-24 13:11] JeromeJu commented on #4112
/assign

[2022-08-24 13:49] imjasonh commented on #5362
This looks like a good explanation of the issue, and possible alternative using [`time.NewTicker`](https://pkg.go.dev/time#NewTicker): https://www.arangodb.com/2020/09/a-story-of-a-memory-leak-in-go-how-to-properly-use-time-after/

[2022-08-24 13:52] XinruZhang commented on #5120
Hi @lbernick what do we need for the `wait infinitely`?  Is the current `wait-task` controller enough?

[2022-08-24 14:01] lbernick commented on #5120
This was just a suggestion of what we could write the controller to do-- I was just brainstorming simple behaviors that are easy to understand for testing. It really depends on what tests we want to add and what controller behavior would be most helpful for those tests. It seems to me like the wait task has given us what we need? So I'm going to close this as completed in #5332.

[2022-08-24 14:01] #5120 closed

[2022-08-24 14:06] XinruZhang commented on #5120
Thanks for the quick reply! I guess we still need the second and third to simulate the behavior of a the controller with CRD defined, Let's keep this issue open and mark it closed after finishing tasks in https://github.com/tektoncd/pipeline/issues/5156#issuecomment-1221042052. wdyt?

[2022-08-24 15:59] lbernick commented on #5218
I think we can close this, since we're going to make TaskRun retries more like Run retries instead of the other way around. The only remaining AI here would be make Run retries easier to implement via an SDK or similar but this is tracked in https://github.com/tektoncd/pipeline/issues/5157.

[2022-08-24 15:59] #5218 closed

[2022-08-24 20:58] chuangw6 commented on #5303
Hi @vdemeester,
The motivation here is to convey the accurate Tekton Pipeline version in a way that customers can customize the format through `builderVersion`.
In the SLSA community, there is a strong interest that people want to record the builder version information in the SLSA provenance. So next SLSA release is very likely to have a field for the builder version. See more details here https:/

[2022-08-24 21:42] pittar commented on #4912
Sigh... I just spent an hour trying to figure this out before someone finally pointed me to this issue.

+1 that it would be nice if this worked.

[2022-08-25 08:08] vdemeester commented on #5303
@chuangw6 understand, but then what differs from the `pipeline.tekton.dev/release` ? Do we need 2 labels/annotations or can we just make the existing one have the right set of informations ?

[2022-08-25 13:24] wlynch commented on #5303
There's also `app.kubernetes.io/version` and `version` that also look like they serve a similar purpose. 😂

It would be great to consolidate these, or at the very least take inventory of what each label is used for.

[2022-08-25 14:43] lbernick opened #5373 "Emit warnings when users create CRDs with deprecated fields"
### Feature request

It would be great to have our admission webhook emit a warning when a user creates a CRD with a deprecated field but not reject it entirely. Knative allows us to set an error "level" (via [func(*FieldError).At](https://pkg.go.dev/knative.dev/pkg@v0.0.0-20220824011017-a6afcab5bd78/apis#FieldError.At)) which is meant for this use case but we likely want https://github.com/knativ

[2022-08-25 14:44] abayer commented on #5362
/assign

[2022-08-25 14:44] JeromeJu commented on #5373
/assign

[2022-08-25 15:59] naguait85 opened #5375 "Need help to connect aws eks cluster for deploying"
# Expected Behavior
As i am using kubernetes actions Task and TaskRun
When i passing kube config file as a configmaps for AWS EKS cluster. We unable to connect cluster for deploying as its required my AWS credentials also required
# Actual Behavior
How to i get authenticated could for EKS cluster for deploying application

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes

[2022-08-25 16:18] abhishakeonteddu opened #5376 "Need help to connect aws eks cluster for deploying application"
# Expected Behavior

As i am using kubernetes actions Task and TaskRun
When i passing kube config file as a configmaps for AWS EKS cluster. We unable to connect cluster for deploying as its required my AWS credentials also required

# Actual Behavior

How to i get authenticated could for EKS cluster for deploying application

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kuberne

[2022-08-25 17:35] abayer commented on #5355
So this wouldn't really be warning on a deprecated field, exactly - the `Status.TaskRuns` and `Status.Runs` fields are created/populated by the reconciler, not the CRD author. What could make sense would be checking if `embedded-status` isn't `minimal` during `v1` `PipelineRun` creation and warning there...or maybe appending something to the `PipelineRun.Status`'s `Condition.Message` saying "yeah,

[2022-08-25 18:04] chitrangpatel commented on #5140
/assign I'm working on this issue in PR https://github.com/tektoncd/pipeline/pull/5371 Feel free to comment there

[2022-08-25 18:05] chitrangpatel commented on #5140
/assign

[2022-08-25 18:36] toxsick commented on #5041
Same question here, how can something like this achieved with tekton:

![KN macOS 10 14 2022-08-25 20-34-36](https://user-images.githubusercontent.com/951466/186742542-7bb27c6e-f16b-4ae9-b131-1b7af3e567a6.png)

In the jenkins world this is an **interactor**

[2022-08-25 20:35] #4664 closed

[2022-08-25 20:59] jimmyjones2 commented on #5359
@vdemeester Yes, that sounds good!

[2022-08-26 13:45] #5320 closed

[2022-08-26 15:14] vdemeester commented on #5041
Hey @toxsick @nicodmt.
As of today, this is not possible with tekton components alone. To achieve this behavior you might need to use a CustomTask (like [`automatiko-io/automatiko-approval-task`](https://github.com/automatiko-io/automatiko-approval-task)) or a product / tooling that wraps Tekton (jenkins-x maybe, …).
@nicodmt Related to "OpenShift", we have an [Epic](https://issues.redhat.com/brow

[2022-08-26 17:51] pritidesai commented on #5192
Thank you @wangwei0326 for reporting the issue 👍

Are you still experiencing the same issue? Can you please share your `yaml` for us to troubleshoot along with the tekton controller and webhook configuration? Thanks!

[2022-08-26 20:20] pritidesai commented on #4438
this is not fixed yet 🙃

/remove-lifecycle rotten

[2022-08-27 08:21] toxsick commented on #5041
Hey @vdemeester, thanks for clarifying. I can imagine that this is not an easy thing to implement. For me this is preventing me to migrate my deployment pipelines from jenkins (Openshift v3) to tekton (Openshift v4) and I will go with jenkins for now.

Thanks and keep up the exciting work!

[2022-08-27 21:36] #4721 closed

[2022-08-29 13:32] lbernick commented on #5193
@abayer are you still able to update the prow config to use the new image? Hoping that upgrade tests can run successfully after this change, but even if they do I think it's worth making their failures more discoverable (e.g. post on tekton slack).

[2022-08-29 13:34] abayer commented on #5193
I'm pretty sure I already did, lemme check.

[2022-08-29 13:48] lbernick commented on #5193
It looks like upgrade tests are still failing on the [prow dashboard](https://prow.tekton.dev/?job=ci-tekton-pipeline-upgrade-tests) with
[code]
which now that I look at it is a different error than before-- so might need some more updates to the image

[2022-08-29 15:36] #5362 closed

[2022-08-29 19:15] freshprinze commented on #4784
Hi @shirouto... I was debugging a similar issue for days and finally found out that it was not related to Tekton at all.

I was using ArgoCD to manage my Tekton pipelines. ArgoCD was automatically pruning/killing pipeline run pods as soon as it got scheduled.

To overcome this issue I added the following annotation to my pipelinerun (using the triggertemplate)

argocd.argoproj.io/compare-options:

[2022-08-30 03:01] danielfbm commented on #3749
+1 for emitting taskrun results despite of the status. In our case we want to do execute a task, collect data, and implement validation over the collected data. Although the task failed we really would like to emit the results for clarity of context and display. Currently it is possible to parse the container exit message and achieve the same result but if 1 is implemented this should be easier to

[2022-08-30 06:07] hillbun opened #5392 "is command field always required for task?"
I create a task without command field:

[code]

but I get error for taskrun

[code]

follwing task with script filed works well:

[code]

[2022-08-30 06:16] hillbun commented on #5392
or with command field is ok

[code]

[2022-08-30 06:35] vdemeester commented on #5392
@hillbun thanks for the issue. The `command` field is not necessarily required **but** if it is not there, the controller will fetch the container image configuration to know what is the command+args (in OCI terms entrypoint+command).
If the private registry uses self-sign certificates (as it is your case), you would need to have them available mounted in the tekton controller containers (which… i

[2022-08-30 06:38] hillbun commented on #5392
In  /etc/containerd/config.toml

I have config private registry to insecure

insecure_skip_verify = true

[2022-08-30 06:49] vdemeester commented on #5392
@hillbun yes, this is why your "runtime" can fetch those. *But* this is a configuration that the tekton controller has no knowledge nor access about.

Maybe we should have an option, in one of the configmap to skip tls verification ? it wouldn't be the default and it would come with a *huge* warning but.. I think it could help those cases. @abayer @afrittoli @imjasonh @jerop what do you think ?

[2022-08-30 07:00] hillbun commented on #5392
I think tekton should skip tls verify at this kind of case.

[2022-08-30 07:09] vdemeester commented on #5392
So we definitely don't want to have this by default. Just like you need to explicitly configure your runtime (here `containerd`) to skip the verification, we would have the user to explicitly configure the tekton instance to not do the verification as well.

[2022-08-30 07:30] hillbun commented on #5392
Do you mean default config for tls verify is true, but have a option to set it to false?

[2022-08-30 07:49] vdemeester commented on #5392
Today we do not *but* I am proposing we had one so that it can, at least, be configurable.

[2022-08-30 15:37] #4640 closed

[2022-08-30 20:32] dibyom commented on #5116
A controller level timeout would make more sense but I think it would be hard to come up with a timeout value here that will work for all runs in a cluster

This might work - but I'm not sure if we can rely on it all the time:
From https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/event-v1/:

[2022-08-30 20:37] JeromeJu commented on #4112
Drafted the [doc WIP for PSP migration](https://docs.google.com/document/d/1Xu8WPDym-d1zu5pwtUwBmLDAv9Dl8H7uwclTSfYB2e0/edit?usp=sharing).

According to the references in the doc, here are the aspects according to current PSP that PSA might not cover:
- The seLinux config requires the `privileged` level in PSA, which might be different from our privileged setting in PSP.
- The supplementalGroups/

[2022-08-31 08:07] msvticket commented on #4485
/remove-lifecycle stale

[2022-08-31 09:02] afrittoli opened #5399 "Document release processes for Pipeline"
Document what the release process looks like:

- the release manager role
- how version numbers are used and their meaning
- the release frequency
- the steps to perform a major and a minor release

Include the links to existing / new documents in the issue.

[2022-08-31 11:16] afrittoli opened #5400 "OpenSFF Best Practices Badge Program for Pipeline"
Achieve the [OpenSFF Best Practices Badge](https://bestpractices.coreinfrastructure.org/en).
Add the badge to the main project README.

[2022-08-31 14:14] #4986 closed

[2022-08-31 15:07] XinruZhang commented on #5156
@jerop For the `retries`, we need to be aligned with the behavior of TaskRun, IMHO it would be better to implement it after addressing https://github.com/tektoncd/pipeline/issues/5248. wdyt?

[2022-08-31 15:08] NUEB3 opened #5402 "Tekton reconcile failing with invalid list of done tasks; some tasks were indicated completed without ancestors being done"
# Expected Behavior

We are using tekton on large scale for CICD pipelines. It is expected to have some reconciles failures on tekton controller, due to any kind of erratic behavior. However, this failures should be a small percentage of the total number of reconciles.

# Actual Behavior

The majority of reconciles failures are due to some tasks were indicated completed without ancestors being don

[2022-08-31 15:16] gsouzab opened #5404 "Variable substitution on task results in nested pipelineSpec/taskSpec"
# Expected Behavior

The variable substitution is ignored while running a pipeline containing an inline definition of a pipeline and task. See the example on steps to reproduce.

I expected the following output for my example:
[code]

# Actual Behavior

I received the following output for my example:
[code]

# Steps to Reproduce the Problem

`k create -f example.yaml`

Definition of the example:
[

[2022-08-31 16:59] abayer opened #5407 "Improve caching of remote resolution results"
/kind feature

Now that we've folded resolution.git into pipeline.git, we can start working on improvements to the remote resolution functionality! One of the first things that comes to mind is caching.

Right now, [we generate a deterministic name for each `ResolutionRequest`](https://github.com/tektoncd/pipeline/blob/5188483f1d2d9fb34d0df910c1e84be30676f941/pkg/remote/resolution/resolver.go#L98-

[2022-08-31 18:40] lbernick commented on #5156
I think since we've decided to add retries to TaskRun rather than changing how Run retries work, we can implement testing for Run retries in parallel. (We might want to wait for the TEP to be accepted, but I don't think we need to wait for the implementation to land.)

[2022-08-31 20:35] abayer opened #5408 "Default `kind` in `pipelineRef` and `taskRef` resolver params if not specified"
Prompted by https://github.com/tektoncd/pipeline/pull/5405#discussion_r959924196

Right now, we require that you explicitly specify a `kind` parameter for most remote resolvers (`hub`, `bundle`, the new `cluster` one added in that PR, though not for `git`), even if in practice the `kind` could be figured out from context. We should consider defaulting that if it's not explicitly set either in the

[2022-08-31 20:37] abayer opened #5409 "`ResolutionRequest` error getting resource is kind of ugly"
Prompted by https://github.com/tektoncd/pipeline/pull/5405#discussion_r959932866

The error that gets returned to the `ResolutionRequest` reconciler when the relevant resolver hits an error fetching the resource is a bit ugly:
[code]

This is coming from https://github.com/tektoncd/pipeline/blob/5188483f1d2d9fb34d0df910c1e84be30676f941/pkg/resolution/common/errors.go#L103-L102. We should check whe

[2022-09-01 11:46] oldthreefeng opened #5525 "in tekton situation. we may have many dead pod, this can cause ContainerGCFailed error in kubernetes"
# Expected Behavior

run tekton normal

# Actual Behavior

we run tekton sometimes, the node will be notready cause grpc: trying to send message larger than max

[code]

we check the pod in node, we find there are many dead container in the node ,so cause the problem
# Steps to Reproduce the Problem

1. deploy tekton
2. use ci/cd many days
3. the problem is come

# Additional Info

- Kubernetes ve

[2022-09-01 14:32] chabeezy opened #5412 "Query: How do people run pipelines concurrently with defined PVC workspaces?"
Hi,

First of all great work on tekton, it's a great product!

I was just curious, and I've struggled to find out a way to do this. I want to be able to run multiple pipelines at once, our use case is we run a set of tests on PR's when they are created/updated. It's possible for people to be pushing to different PR's at the same time. Thus triggering pipelines to run at the same time

Currently th

[2022-09-01 15:55] mporrato opened #5414 "Task result placeholders are not replaced if the result contains valid json data"
# Expected Behavior
Content of task results placeholders should be replaced no matter what the content is.

# Actual Behavior
If the content of a task result is valid json, the placeholder is not replaced.

# Steps to Reproduce the Problem

1.
[code]
2.
[code]
3.
[code]
4.
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

  **Output of `oc version`:**

[

[2022-09-01 18:32] abayer commented on #4931
/lifecycle frozen

This is still relevant - our escaping + substitution interaction is fragile.

[2022-09-01 19:40] RafaeLeal opened #5416 "Add kube-state-metrics like metrics for TaskRuns and PipelineRuns"
### Feature request

`kube-state-metrics` has some metrics like `kube_pod_labels` and `kube_pod_info` which allow us much more flexibility while aggregating metrics for tasks. But, as far as I know, it doesn't support CRDs out of the box. This [blog post](https://blog.freshtracks.io/a-deep-dive-into-kubernetes-metrics-part-6-kube-state-metrics-14f4e7c8710b) explains well how that works for pods.

[2022-09-01 19:43] JeromeJu opened #5417 "Redundant `md.backup` file by `update-reference-docs.sh`"
# Expected Behavior
The `./hack/update-reference-docs.sh` script should have deleted the `pipeline.md.backup` file once the script is done.
# Actual Behavior
There is a redundant `pipeline.md.backup` file generated.

# Steps to Reproduce the Problem

1. Currently occurred in `go1.19 darwin/arm64` and `go1.19 linux/amd64` when running `./hack/update-reference-docs.sh`

Related PR: https://github.co

[2022-09-01 19:56] abayer commented on #5417
This file is being generated as a result of https://github.com/tektoncd/pipeline/commit/8381d0d9d83326724ab260dc7ab36632afb1451f

This was done to make the `sed` call work on Macs. I have `gsed` aliased to `sed` on my Mac, so I didn't hit whatever the problem was on Macs myself when setting this up. I'm not sure if/how one would call `sed` to not create a backup file, because `sed` has always been

[2022-09-01 20:05] dibyom commented on #5417
maybe we just rm  the .backup file once we are done?

[2022-09-01 20:28] dibyom commented on #5417
or just add it to the .gitignore :)

[2022-09-01 20:32] abayer commented on #5417
heehee. =)

[2022-09-01 21:01] lbernick commented on #5402
This looks very similar to https://github.com/tektoncd/pipeline/issues/4840 although that issue was fixed in v0.35.1-- can you double check that's the version you're using? Are you able to provide the PipelineRun spec for your testing Pipeline? This will be challenging to fix without an example PipelineRun yaml.

Side note, you might want to check out the [matrix](https://tekton.dev/docs/pipelines

[2022-09-02 08:17] rafalbigaj opened #5420 "Validation of pipelines with hundreds of tasks and links fails on default webhook timeout (10s)"
# Expected Behavior

`Pipeline` DAG validation should work efficiently for hundreds of tasks and links between them. Tekton Pipelines webhook performance should neither be impacted by DAG validation nor fail with default timeout (10s).

# Actual Behavior

`PipelineRun` with hundreds of tasks and links creation fails with:

[code]

# Steps to Reproduce the Problem

1. Create a YAML file with `Pipel

[2022-09-02 14:44] lbernick commented on #4898
design in progress -- https://github.com/tektoncd/community/blob/main/teps/0120-canceling-concurrent-pipelineruns.md

[2022-09-02 15:25] vdemeester commented on #4898
remove-lifecycle stale

[2022-09-02 16:37] vsinghai commented on #5417
I believe this issue can be closed now, thanks @JeromeJu!

[2022-09-02 18:10] abayer commented on #5417
Yup, closing.

[2022-09-02 18:10] #5417 closed

[2022-09-06 03:18] qingchuwudi opened #5429 "The protocol of 'HTTPS' using other port instead of 443 is recognized 'SSH'"
# Expected Behavior

I want to use `https` . For example, `https://gitlab.example.com:1443/helloworld-for-pipeline`

# Actual Behavior

But the url is treated as `ssh`, and throw out error:
[code]

# Steps to Reproduce the Problem

1. with the sample of `catalog/task/kaniko/0.6/tests`
2. change the vaule of url `params.url.value ` to `https://gitlab.example.com:1443/helloworld-for-pipeline`
3. app

[2022-09-06 08:26] vdemeester commented on #5420
@rafalbigaj I think this is fixed by #5421 isn't it ?

[2022-09-06 10:12] rafalbigaj commented on #5420
@vdemeester indeed. Thanks

[2022-09-06 10:12] #5420 closed

[2022-09-06 17:30] #5330 closed

[2022-09-06 18:34] vsinghai commented on #5153
/assign

[2022-09-06 18:35] vsinghai commented on #5154
/assign

[2022-09-06 18:43] jerop opened #5443 "TEP-0114: Custom Tasks Beta - Conversion from `v1alpha1.Run` to `v1beta1.CustomRun`"
In [TEP-0114: Custom Tasks Beta][tep-0114], we proposed migrating `Custom Tasks` and `Runs` to beta.

This issue tracks adding a conversion from `v1alpha1.Run` to `v1beta1.CustomRun`.

[tep-0114]: https://github.com/tektoncd/community/blob/main/teps/0114-custom-tasks-beta.md

[2022-09-06 18:43] vsinghai commented on #5443
/assign

[2022-09-06 19:36] lbernick commented on #5302
Thanks so much for adding the TEP @yuzp1996! are you still interested in implementing this, or should we assign someone else? Either way works!

[2022-09-06 20:56] XinruZhang opened #5444 "Updates the Testing Wait Custom Task Controller to Reconcile v1beta1.CustomRun Instead of v1alpha1.Run"
### Feature request

The Custom Run version promotion (v1alpha1 -> v1beta1) is still in process, we are not able to reconcile v1beta1.CustomRun in the custom run controller `wait-task` (https://github.com/tektoncd/pipeline/tree/main/test/custom-task-ctrls/wait-task) we built for increasing the test coverage in v1beta1, as a part of https://github.com/tektoncd/pipeline/issues/5156.

For now the `wa

[2022-09-07 12:44] vdemeester commented on #4342
/remove-lifecycle stale

[2022-09-07 13:16] #5278 closed

[2022-09-07 14:26] lbernick opened #5447 "Feature request: PipelineRun.Spec.CustomRunSpecs"
### Feature request

Right now, some fields from `pipelineRun.spec.taskRunSpecs` are [passed to custom runs created by the PipelineRun](https://github.com/tektoncd/pipeline/blob/99404d532ae9e9149cd941d11b754035cfb646c9/pkg/reconciler/pipelinerun/pipelinerun.go#L971-L976). Not all fields in `taskRunSpecs` make sense for Runs, so it might be worth creating a field `pipelineRun.spec.customRunSpecs` (

[2022-09-07 16:03] jerop commented on #5404
@gsouzab results are substituted in parameters and when expressions only -- could you try passing the result through a parameter to the env var?

[code]

[2022-09-07 17:36] jerop commented on #4897
closing as the issue was resolved, feel free to reopen if needed

[2022-09-07 23:46] pritidesai opened #5452 "Optimize Tekton Pipeline"
Tekton Pipeline has matured since the inception but at the same time, the project is under active development. Many organizations have adopted Tekton Pipelines for various use cases. For the project at this level of maturity and use, `reliability` must be maintained. The users should be able to upgrade their pipelines to the latest release without running into any performance degradation.

We have

[2022-09-08 07:10] Dark0096 opened #5453 "Feature request: Can you support 'terminationGracePeriodSeconds' in the pod template?"
### Feature request

Can the pod's terminationGracePeriodSeconds setting be added to the pod template?

**Reference**
- https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#probe-level-terminationgraceperiodseconds

### Use case

It often cancels a `pipelineRun` or `taskRun` that is running. At this time, the expected time for graceful shutdown is d

[2022-09-08 11:53] thomascube opened #5454 "Weird behavior of the aggregate task status in finally block"
# Expected Behavior

According to the [documentation](https://tekton.dev/docs/pipelines/pipelines/#when-expressions-using-aggregate-execution-status-of-tasks-in-finally-tasks) we use the `$(tasks.status)` as input for a when condition to guard the execution of a finally task.

We'd expect the following task to execute if all pipeline tasks complete successfully:

[code]

# Actual Behavior

The fin

[2022-09-08 13:58] ywluogg opened #5455 "Artifact Provenence in Tekton Pipeline"
### Feature request

This issue tracks the progress of the design mentioned in Alternatives section [TEP 109: Better structured provenance retrieval in Tekton Chains](https://github.com/tektoncd/community/pull/792).

Related implementation: #5397 also added pipeline config provenance within status annotations

### Use case

[2022-09-08 14:00] XinruZhang opened #5456 "Avoid Duplicate Reconcile Logic in Testing Wait Custom Run reconciler_test.go"
### Feature request

The existing test cases in Wait Custom Run reconciler_test.go are reusing some reconciliation logic in reconciler.go, this may lead some functionality deviation in the future.

[2022-09-08 16:28] JeromeJu commented on #4112
I think we should go for the 1st option in [the doc](https://docs.google.com/document/d/1Xu8WPDym-d1zu5pwtUwBmLDAv9Dl8H7uwclTSfYB2e0/edit) of using PSA with OPA as complement for some of the specifications eg. seLinux  supplementalGroup fsGroup  as the other two options would both introduce more dependencies that we don’t want.

Would appreciate it if people could take a look at this doc and help

[2022-09-08 19:25] lbernick opened #5459 "Cannot define PipelineRun with only Tasks timeout"
# Expected Behavior

I can define a PipelineRun with only a Tasks timeout, and no Pipeline timeout, by using timeouts.tasks = some amount of time and timeouts.pipeline = 0 (which corresponds to no timeout).

# Actual Behavior

[code]

Error from server (BadRequest): error when creating "timeouts/sleep-pipeline.yaml": admission webhook "validation.webhook.pipeline.tekton.dev" denied the request: va

[2022-09-08 19:45] lbernick commented on #4071
I'm returning to this issue to see if it has been resolved by #5134 (FYI @abayer).

@ornew, I'm curious why you say in your original comment that the finally task should not be timed out if `timeouts.pipeline` is exceeded. I think not running the finally task is intended behavior, as `timeouts.pipeline` should refer to the entire time the pipeline is running. I tried using your example posted in t

[2022-09-09 07:17] yuzp1996 commented on #5241
PR https://github.com/tektoncd/pipeline/pull/5306 has merged
/close

[2022-09-09 07:30] lookis commented on #5241
Thx for the merge.

[2022-09-09 07:30] #5241 closed

[2022-09-09 14:27] XinruZhang commented on #5456
https://github.com/tektoncd/pipeline/pull/5462 fixes this issue.

[2022-09-10 00:08] #5459 closed

[2022-09-10 13:37] #4741 closed

[2022-09-11 16:42] cleverhu commented on #5454
I tried that, it workd. The yaml file is:
[code]

[2022-09-12 16:07] vsinghai commented on #5154
This issue was resolved in #5403  , it can be closed now

[2022-09-12 16:54] chuangw6 opened #5474 "SPIRE Integration also needs to sign `ResolutionRequest`'s status and `PipelineRun`'s status"
### Feature request

The [TEP-0089](https://github.com/tektoncd/community/blob/main/teps/0089-nonfalsifiable-provenance-support.md) only mentions the importance of signing the content of TaskRun's status.

When integrating SPIRE, we also need to sign remote `ResolutionRequest`'s status and `PipelineRun`'s status.

### Use case

- `ResolutionRequest`'s status
Remote resolvers store the resolved res

[2022-09-12 16:54] vdemeester opened #5475 "PipelineRef resolver part doesn't support `context` variable replacement"
# Expected Behavior

Using the following `PipelineRun` should create the following `ResolutionRequest`.

[code]

# Actual Behavior

It doesn't *resolve* the `context.*` variable, resulting in the following `ResolutionRequest`.

[code]

# Steps to Reproduce the Problem

1. Create the above `PipelineRun`
2. See what `ResolutionRequest` it creates

# Additional Info

- Tekton Pipeline version: `main`

[2022-09-12 16:54] chuangw6 commented on #5474
cc @lumjjb @jagathprakash @wlynch

[2022-09-12 16:57] lumjjb commented on #5474
The SPIRE mechanisms are a great fit for these use cases!

[2022-09-12 17:05] pxp928 commented on #5474
Let us know how we can help with is. Great use cases.

[2022-09-12 18:29] lbernick opened #5478 "Flake: PipelineRun unittests "received 2 events but 3 expected""
https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_pipeline/5466/pull-tekton-pipeline-unit-tests/1569343520609669120

TestReconcile_InvalidPipelineRuns/invalid-pipeline-run-resources-not-bound-shd-stop-reconciling:

[code]

While PipelineResources are deprecated and will be removed eventually, I think this is a more general issue with our PipelineRun unit tests that rely on events.

[2022-09-12 19:30] lbernick opened #5481 "Bring isolated workspaces to beta"
This issue tracks feedback on the ["isolated workspaces"](https://tekton.dev/docs/pipelines/workspaces/#isolating-workspaces-to-specific-steps-or-sidecars) feature that allows a workspace to be mounted to specific steps and sidecars, and the work required to move this to beta stability. Any issues related to this feature can be linked here.

[2022-09-13 00:38] yuzp1996 commented on #5302
Yes I am，  I will assign it to me Thanks！

发自我的小米
在 Lee Bernick ***@***.***>，2022年9月7日 上午3:36写道：

Thanks so much for adding the TEP @yuzp1996<https://github.com/yuzp1996>! are you still interested in implementing this, or should we assign someone else? Either way works!

—
Reply to this email directly, view it on GitHub<https://github.com/tektoncd/pipeline/issues/5302#issuecomment-1238572363>, or

[2022-09-13 02:19] yuzp1996 commented on #5302
@JeromeJu  welcome! 😀

[2022-09-13 03:14] gsgs-libin opened #5485 "how do I set pipelinerun wait for the previous pipelinerun execution to complete"
I want to set pipelinerun in serial, because the task in pipeline use the same pvc

[2022-09-13 04:36] yuzp1996 commented on #5302
When should we start to implement this TEP? I remember we need to implement it in V1. When will V1 be released?

[2022-09-13 08:22] jeffmaury commented on #742
/remove-lifecycle rotten

[2022-09-13 10:38] #4755 closed

[2022-09-13 13:55] lbernick commented on #5302
We already have v1 Go structs [here](https://github.com/tektoncd/pipeline/tree/main/pkg/apis/pipeline/v1). Before we release v1, we need to move serviceAccountName and podTemplate to pipelineRun.spec.TaskRunTemplate in this folder. After releasing v1, we can implement the rest of the TaskRunTemplate fields.

[2022-09-13 14:03] abayer commented on #5478
Yeah, the bulk of our flaky unit tests that I've seen are either in `cmd/entrypoint` or event-based.

[2022-09-13 14:43] abayer opened #5487 "Add support for using multiple remote resolution Git providers in the same cluster"
With #5450 about to merge, we're adding support for remote resolution of `Task`s and `Pipeline`s using Git providers' APIs. Which is great! But it does come with a sizable limitation - you can only have one provider type/server/token per cluster. While this is fine to start with, we really should add the ability for admins to configure multiple supported providers, so that you can use both an inte

[2022-09-13 14:50] abayer commented on #5487
I'm kicking around a couple ideas at the moment. Both revolve around having the provider configured in the `git-resolver-config` `ConfigMap` as the "default", with an optional parameter for the `git` resolver available to specify the "name" of a different provider configuration. The question, in my mind, is how to store those additional provider configurations. My current ideas:

* `ConfigMap`s in

[2022-09-13 15:11] #5475 closed

[2022-09-13 16:24] lbernick opened #5489 "Feedback/beta release for taskRun.spec.stepSpecs and taskRun.spec.sidecarSpecs"
This issue tracks bringing [step and sidecar overrides](https://tekton.dev/docs/pipelines/taskruns/#overriding-task-steps-and-sidecars) to beta, and any feedback on or issues with this feature.

We'll be renaming these fields to `stepSpecs` and `sidecarSpecs` in [v1](https://github.com/tektoncd/community/blob/main/teps/0096-pipelines-v1-api.md#api-changes) and can optionally do so as well if/when

[2022-09-13 16:27] lbernick opened #5490 "[TEP-0104] Bring taskRun.spec.computeResources to beta"
This issue tracks beta promotion and feedback on/issues with [taskRun.spec.computeResources](https://github.com/tektoncd/pipeline/blob/main/docs/compute-resources.md#task-level-compute-resources-configuration).

[2022-09-14 00:54] yuzp1996 commented on #5302
Ok! I am worried I would not be able to start work on this implement immediatly because I will be a little busy for my work in the next few weeks.

Look like @JeromeJu is fine to do it. Maybe you can start to implement it now. I can just help review the PR if possiable! Thanks!

[2022-09-14 14:23] JeromeJu commented on #4987
/close

[2022-09-14 14:25] Yongxuanzhang commented on #5414
Hi, in your second case, you're passing an array "["hello","world"]", so your results type needs also to be set as array. This is an expected behaviour, please check this [example](https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/alpha/pipelinerun-array-results-substitution.yaml) for ref
Can you try to set the type to `array`?

[code]
Thanks!

[2022-09-14 14:26] #4985 closed

[2022-09-14 14:26] #4987 closed

[2022-09-14 14:28] JeromeJu commented on #5193
/assign

[2022-09-14 14:32] Yongxuanzhang commented on #5485
Hi, could you elaborate your use cases? Why not put the tasks in the same pipeline if they have dependency?

[2022-09-14 14:42] JeromeJu commented on #5302
Sounds good. Thank you for the excellent collaboration on the TEP work.

[2022-09-14 14:44] Yongxuanzhang commented on #5429
The sample you referred to is using https?
https://github.com/tektoncd/catalog/blob/a9824e21facccb06744ed04382d64104e8e5f89c/task/kaniko/0.6/tests/run.yaml#L19-L21
Maybe you don't have sshCred?
Related code:
https://github.com/tektoncd/pipeline/blob/b7c29b485216298935871e6bef52bd31048e6cb5/pkg/git/git.go#L264-L275

[2022-09-14 14:50] ornew commented on #4071
@lbernick

I also agree that finally should timeout if timeouts.pipeline is exceeded.

This issue reports that timeouts.tasks does not work as expected by the user and retries repeatedly until timeouts.pipeline is exceeded.

When I said "finally should not timeout" here, I meant the user's expected behavior in the context of "as a result of timeouts.pipeline being consumed due to incorrect executi

[2022-09-14 15:01] Yongxuanzhang commented on #5404
Yes, another similar way is like this:
[code]

[2022-09-14 15:08] Yongxuanzhang commented on #5376
This doesn't look like a Tekton issue right? You're trying to connect to your AWS EKS cluster but not able to do so?
Or could you elaborate more on your questions?

https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html

[2022-09-14 15:33] Yongxuanzhang commented on #5192
It may be due to the webhook not running properly.  Try to install the latest tekton version and see if you still have this issue

[2022-09-14 15:59] cleverhu commented on #5429
It is a bug, I'd like to fix it.

[2022-09-14 17:52] cleverhu commented on #5429
The case for
[code]
is similar to
[code]
Therefore, it is necessary to tell the user that if the submitted git is an http or https url, it must start with `http://` or `https://`, otherwise the recognization may be wrong. Is there any better idea?

[2022-09-14 18:00] R2wenD2 opened #5497 "TaskRun fails with folder already exists error"
Scenario: A single task using a shared workspace to share data between steps in the task, clones a repo onto the workspace in the first step, and in a subsequent step uses a subdir of the repo as a workingdir. This causes the clone to fail since the dir already exists.

We do this in a single task because Tekton Chains doesn't support Pipeline level provenance so we need to keep steps in the same

[2022-09-14 18:32] chitrangpatel commented on #5497
I think I was able to recreate this issue with the following yaml:
[code]

In my case, I was getting the following error:
[code]

[2022-09-14 19:52] chitrangpatel commented on #5497
WorkingDir is initialized via the [`initContainers`](https://github.com/tektoncd/pipeline/blob/b7c29b485216298935871e6bef52bd31048e6cb5/pkg/pod/pod.go#L175-L177). It is executed before all other steps. So when we specify the `workingDir`, that directory will be created before the first step. And so when git clone wants to clone something, there is a non-empty directory since the workingDir was alr

[2022-09-14 19:54] chitrangpatel commented on #5497
Discussion point:

Even if one of the steps wants to use a workingDir, it is created before all the steps in an initContainer. Shouldn't the workingDir be created when required? i.e. when the step is to be run?

[2022-09-14 20:10] pritidesai commented on #5402
Thank you @NUEB3 for reporting this issue!

The error message has listed tasks `unit-test-00` through `unit-test-15`. Please provide an additional details around dependencies:

- Does all of these tasks depend on a single parent or a common set of tasks?
- Is the dependency defined through `runAfter`, task results, etc?
- Are all `unit-test-*` running in parallel?
- Are there multiple runs happeni

[2022-09-14 20:50] lbernick commented on #4071
got it, that makes sense, thanks!

[2022-09-14 21:34] dibyom commented on #5497
Tekton ensures any workingDir under /workspace are initialized before the step starts running

This is mentioned in a comment [here](https://github.com/tektoncd/pipeline/blob/b7c29b485216298935871e6bef52bd31048e6cb5/pkg/pod/pod.go#L174) but I don't see it mentioned in our docs: https://tekton.dev/vault/pipelines-v0.14.3/tasks/#defining-steps

We should at least update our docs so that this is less

[2022-09-14 21:53] dibyom commented on #5485
If I am reading this correctly, you have multiple runs of the same pipeline but they all need to share a single PVC that can only be mounted to one pod at a time. In that case, https://github.com/tektoncd/community/pull/818 might be what you need

[2022-09-14 21:54] dibyom commented on #5452
This seems similar to https://github.com/tektoncd/community/issues/602

[2022-09-14 22:17] jacobbrozenick commented on #3468
/reopen

Its hard to believe this is not a feature, `WhenExpressions` are so limited limited without it, honestly its hard be believe this wasn't part of the initial deployment.

[2022-09-15 03:00] gsgs-libin commented on #5485
@dibyom  yes,I use git-clone and build code task in pipeline, but the git-clone task will clean the pvc workspace, and the build code task will have some error.
![image](https://user-images.githubusercontent.com/22513159/190303662-1ccb760c-965b-4642-b87d-cc8bae9c424d.png)

[2022-09-15 07:36] mporrato commented on #5414
Thank you for your suggestion. I understand your argument, and I agree with your proposed solution but:

1. passing around **strings** that may or may not happen to contain json-like content is a valid use case, IMO
2. declaring the result as an array would not be portable to older tekton pipelines versions
3. even if I explicitly define the result as string (which would not portable to older tekt

[2022-09-15 14:00] Yongxuanzhang commented on #5414
1. Yes, but in this [TEP](https://github.com/tektoncd/community/blob/main/teps/0076-array-result-types.md#design-details ) , it requires json array to be unmarshalled to array result.
2. Yes
3. If you want your results as string, and your content be like ["hello","world"], maybe '["hello","world"]' adding single quote will work? The unmarshall function will check the first character: https://githu

[2022-09-15 14:14] Yongxuanzhang commented on #5414
Yes you're right about the current logic.
The deserialisation happens here https://github.com/tektoncd/pipeline/blob/c5c9d46d258c9510048d4ad6b30a774dcb61f4aa/pkg/pod/status.go#L229-L241
In current code structure it is easier to be driven by the result value then validate if the unmarshalled result is consistent with the type defined.

It may be possible to implement like what you suggested. If you