[2020-01-28 13:54] vdemeester commented on #1957
/assign

[2020-01-28 13:56] bitsofinfo opened #1958 "task: json: unknown field "optional""
# Expected Behavior

That this would work:

[code]
# Actual Behavior

[code]

[2020-01-28 13:59] bitsofinfo opened #1960 "is there a slack channel or any community for asking questions?"
is there a slack channel or any community for asking questions?

[2020-01-28 14:00] #1960 closed

[2020-01-28 14:00] bitsofinfo commented on #1960
https://github.com/tektoncd/community/blob/master/contact.md#slack

[2020-01-28 14:01] #1957 closed

[2020-01-28 14:03] vdemeester commented on #1958
@bitsofinfo hey @bitsofinfo, this is normal, the version that has `optional` PipelineResource is not released yet (it got merged after 0.10.0). The `docs/` folder in `master` is refering to feature that are available on master, if you want to look at what is supported by `0.10.0`, you need to look at the [0.10.0 docs](https://github.com/tektoncd/pipeline/tree/v0.10.0/docs#tekton-pipelines).

/kind

[2020-01-28 14:04] vdemeester commented on #1958
Hopefully, once we have the tekton.dev website with current release docs, it will be more clear :angel: :pray:

[2020-01-28 14:12] ImJasonH opened #1961 "Q: Migrate git-init to script mode?"
The `git-init` image, used to support `git`-type PipelineResources, invokes a Go binary that drives `git` CLI invocations to clone a repo.

One of the main benefits of `git-init` was that it made it easy to chain together multiple CLI invocations inside one step, and being Go made it easy to have control flow logic.

However, being a Go binary that wraps the `git` CLI adds a layer of indirection t

[2020-01-28 14:30] ImJasonH commented on #1961
As a concrete example, modify [`GetInputTaskModifier` in `git_resource.go`](https://github.com/tektoncd/pipeline/blob/e5d799e176dbde0cc571026cd18cb5ddd4132bf9/pkg/apis/pipeline/v1alpha1/git_resource.go#L131) to something like [this gist](https://gist.github.com/ImJasonH/99e51197477ee05913519e7dab40fe9e).

[2020-01-28 14:44] bobcatfish commented on #1839
@pierretasci do you have any thoughts/objections on this? no worries if you feel like you need more information first - I think this is pretty cool and am motivated to continue exploring this option

[2020-01-28 14:47] sbwsg commented on #1961
I'm in favor of using script mode. Could we just have it [live as a task in the catalog](https://github.com/tektoncd/catalog/pull/123) instead of committing changes to the pipeline resource?

[2020-01-28 14:49] bitsofinfo commented on #1958
yes realized this after I posted, a PR is yet to be merged

[2020-01-28 14:49] #1958 closed

[2020-01-28 15:03] bitsofinfo commented on #1953
ok, looks like i missed the type: kubernetes.io/ssh-auth on my secret.... problem solved

still debugging this is not easy at all

[2020-01-28 15:03] bitsofinfo commented on #1953
but I do see this ```{"level":"warn","ts":1580223662.5215218,"logger":"fallback-logger","caller":"git/git.go:128","msg":"Unexpected error: creating symlink: symlink /tekton/home/.ssh /root/.ssh: file exists"}```

[2020-01-28 15:04] vdemeester commented on #1961
As @sbwsg said :angel: I'll update my PR with workspace support and using `script` mode instead :angel: :wink:

[2020-01-28 15:06] #1953 closed

[2020-01-28 15:09] chmouel commented on #1961
Can't be more happy to have one image less to support 👍

@sbwsg about having it in the catalog, we would need to refer it somehow in release.yaml isnt it ?

[2020-01-28 15:13] bobcatfish commented on #1305
Hey @assertion ! I don't think there has been any movement but if you (or anyone else in the community) wants to take this on I think we'd be happy to see it! Let me know if you want any pointers re. next steps to work on this.

[2020-01-28 15:14] sbwsg commented on #1961
Ahh I hadn't thought of this.  We'd want this to be like a default-installed task that comes along with the tekton controller I expect.

[2020-01-28 15:15] bobcatfish commented on #1642
For whatever reason `targetPath` has always been relative to `/workspace` https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#controlling-where-resources-are-mounted

Admittedly very confusing :sweat_smile:

[2020-01-28 15:21] bobcatfish commented on #1960
glad you found it @bitsofinfo !

[2020-01-28 16:01] mgreau opened #1965 "Document the metrics exposed by the Pipelines Controller"
# Expected Behavior

The documentation should mention the state of the exposed metrics of `tekton-pipelines-controller`. A documentation page like for example the [cronjob-metrics](https://github.com/kubernetes/kube-state-metrics/blob/release-1.7/docs/cronjob-metrics.md) would be really great.

# Actual Behavior

There is no documentation. To understand which metrics are exposed, we need to check

[2020-01-28 16:12] vdemeester commented on #1965
/kind documentation

[2020-01-28 16:57] chmouel commented on #1965
cc @hrishin

[2020-01-28 18:02] pierretasci commented on #1839
Sorry, I wrote my feedback in @ImJasonH's doc and forgot to post back here. I think the OCI proposal makes a ton of sense and I think it more than solves the use case intended here. I'm good to explore that as the proposal here.

[2020-01-28 19:47] danielhelfand commented on #1920
So my thought is that there should be a way to specify a LimitRange name as part of a TaskRun. This would make sense for factoring in resource quotas as part of a TaskRun.

My proposal would be to add a`LimitRangeName` as part of the TaskRun spec. This can be used to get the LimitRange using `client-go`, which requires the namespace and LimitRange name to retrieve it. Having this property on the T

[2020-01-28 21:12] bitsofinfo opened #1968 "tkn taskrun describe, doesn't show any sidecar info"
# Expected Behavior

`tkn taskrun describe` would show sidecar info/basic status

# Actual Behavior

doesn't show

[2020-01-28 21:52] sbwsg commented on #1838
After a bit more thought I'm going to hold off on designing this right now.  As we move to getting ready for beta I think I need to focus on tasks and documentation to help users fill the gap that pipeline resources are leaving by remaining alpha.  Workspaces and task results should give us enough to paper over that gap in the short term 🤞

[2020-01-28 21:52] dibyom commented on #1968
/kind feature

[2020-01-28 21:53] dibyom commented on #1968
This might better belong in the CLI repo I think?
@chmouel @vdemeester

[2020-01-28 22:49] danielhelfand commented on #1968
Yes, if you could open this in the [cli repo issues](https://github.com/tektoncd/cli/issues), it would be a better place to track and discuss, @bitsofinfo.

But yes, `tkn tr desc` does not have sidecar information at this time, and I think it would be a good feature to pursue.

[2020-01-29 07:11] xiaotian45123 opened #1969 "PipelineResource imageTag using dynamic variables ?"
Build image，imageTag   using dynamic variables  ?  Is there a related solution?

[2020-01-29 07:34] chmouel commented on #1968
I think @vdemeester have the rights to transfer it in there!

/summon @vdemeester

[2020-01-29 09:15] vdemeester commented on #1944
Something is weird though, I thought the retries in pipeline would generate new `TaskRun`s instead of re-using the same… It is interesting that it does not :sweat_smile:

[2020-01-29 09:46] vdemeester commented on #1944
- The way `retries` are implemented make the assumption that a `TaskRun` can spin multiple `Pod` (depending on what we do). In a gist, if a `TaskRun` fails but had a number of `retries` in the `Pipeline`, it clear the status (removing lots of things, and `podName`) and *makes the assumption* that the `TaskRun` reconciler will re-create a `Pod`.
- The way `TaskRun` works (as of 0.10.1) makes a `Tas

[2020-01-29 10:33] afrittoli commented on #1944
Clearing the status and deleting the pod does not sound like something we want to do. at least not until we have a way of storing status and log somewhere else.

If I understood correctly the change that broke things is the fact that the reconciler does not [rely for podName from the taskRun](https://github.com/tektoncd/pipeline/pull/1709) anymore. My suggestion would be to revert that change for

[2020-01-29 10:56] afrittoli commented on #1273
Nice, thank you!
I think it would be great if we were able to do point to results within the Task that defines them  - if not yet possible:

[code]

[2020-01-29 12:48] sbwsg commented on #1273
Ah, great idea @afrittoli !  How would you feel about `results.current-date-human-readable.path` to keep it in line with the way resources and workspaces work currently?

[2020-01-29 13:40] #1944 closed

[2020-01-29 14:27] bobcatfish commented on #235
Quick update: I think this is looking more and more promising as we add features like `workspaces` and also as the CLI matures - the CLI could be an interesting way to explore a local execution mode (+ @sbwsg )

[2020-01-29 14:40] afrittoli commented on #1969
/kind question

[2020-01-29 14:42] afrittoli commented on #1969
@xiaotian45123 Thank you for your issue report. Could you provide more details about what the issue is?

[2020-01-29 14:47] sbwsg opened #1974 "The Controller's Reconciler Files Are Too Long"
# Expected Behavior

I should be able to (relatively) easily grok the behaviour of a reconciler, figure out where to "cut in" to add new functionality, interpret the code when debugging problems, etc etc.

# Actual Behavior

It can be hard to do this.  The pipelinerun reconciler for example is over 700 lines.  The pipelinerun reconcile func alone is over 200.  It's unclear if or when the sequence

[2020-01-29 14:50] zeromsi commented on #1941
Hi @ImJasonH ,
I found the reason, My service account name or secrets name were very large. It throws this weird error message.

[2020-01-29 15:42] ImJasonH opened #1976 "TaskRun retries create extra Pods"
# Expected Behavior

Retrying a TaskRun N times within a PipelineRun should create at most N Pods to execute each attempt.

# Actual Behavior

The TaskRunStatus reports the statuses of N retries, but in reality there are >N Pods created.

The e2e test added in #1975 reports this:

[code]

The TaskRun was configured to retry 5 times, but created 7 pods (sometimes it's only 6), one of which was stil

[2020-01-29 16:05] vdemeester commented on #1976
/kind bug

[2020-01-29 16:46] vdemeester commented on #1247
@jagraj which version of Tekton were you trying to deploy ? is it still the case with recent version ?

As it's been more than 6 month I'm gonna close this issue but feel free to comment and ask me to re-open :wink:

/close

[2020-01-29 16:46] #1247 closed

[2020-01-29 18:15] sbwsg opened #1977 "Task Result path should be available as a variable"
# Expected Behavior

The path for a task result should be available as a variable that can be interpolated into scripts.  Example YAML we'd like to support:

[code]

In the above example we'd like `$(results.current-date-unix-timestamp.path)` to resolve to `/tekton/results/current-date-unix-timestamp`.

# Actual Behavior

At the moment the user has to hard-code the task result path into their Task

[2020-01-29 18:50] dibyom commented on #1684
Priti and I have been discussing a `failureStrategy` and some other alternatives in addition to the `runOn`:
https://gist.github.com/dibyom/5420de48279816ca920d219a1706dc74

[2020-01-29 18:53] sbwsg opened #1978 "Support referencing task results from task params in a pipeline"
# Expected Behavior

A user should be able to author a pipeline and link the results from one task into the params of another.  In the short term my suggestion here is to implement this using "from" syntax that is similar to how pipeline resources and workspaces refer to one another.  In the slightly longer term I suggest variable interpolation as a syntax sugar.  Here's how a complete pipeline +

[2020-01-29 18:56] sbwsg commented on #1273
OK, we've written up issues for the remaining features related to Task Results.  I'm going to close this issue and push the rest of the work into those more granular tickets.

* Be able to use task results in subsequent task params https://github.com/tektoncd/pipeline/issues/1978
* Expose task result path as a variable https://github.com/tektoncd/pipeline/issues/1977
* Provide a Pipeline Results f

[2020-01-29 18:56] #1273 closed

[2020-01-29 18:56] dibyom commented on #1023
The proposal in #1684 has a solution to this using the `runOn` syntax. So, if a task's condition failed its state is "skip":

[code]

[2020-01-29 20:39] dibyom commented on #1514
Is this more of a bug than a feature?

[2020-01-29 21:29] NicolasRouquette commented on #1514
It depends on how you interpret the doc, specifically: https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#variable-substitution

and:

https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#variable-substitution-within-volumes

Nothing in the doc currently says that one can use variable substitution for volume characteristics.
So, in a strict sense, this will be a new feature.

[2020-01-29 22:26] dibyom commented on #1717
Ran into this today while doing the Triggers release :upside_down_face:

[2020-01-30 05:28] zeromsi opened #1979 "Failed to create a taskrun"
# Expected Behavior
Throw an exception or show an error message that states secret name or service account name is very large.
# Actual Behavior
Error message:
Missing or invalid Task default/app-builder1: translating Build to Pod: multiple volumes with same name "tekton-internal-secret-volume-XXX-south-te"

/kind bug

[2020-01-30 05:28] zeromsi commented on #1979
/kind bug

[2020-01-30 08:23] g000444555 opened #1983 "Cannot clone private Git repository as an input PipelineResource in tekton task"
# Expected Behavior

Clone the private Git repository using the supplied secret.

# Actual Behavior

Fails with a misleading error.

# Steps to Reproduce the Problem

As documented in https://github.com/tektoncd/pipeline/blob/master/docs/resources.md I have configured a private GitHub repository as a PipelineResource for a task, and have created the relevant secret as well:

[code]

Now when I am

[2020-01-30 08:29] vdemeester commented on #1983
Hi @g000444555, thanks for the issue.

The way to use secret in tekton is a bit different than usual, see [`auth.md`](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-git).

- Your secret need to be annotated with `tekton.dev/git-0: https://github.my-company.com`
- You need to add that secret to a serviceaccount
- You need to run you Task or Pipeline with that ser

[2020-01-30 08:42] g000444555 opened #1984 "Cannot use Image PipelineResource for input in tekton task"
# Expected Behavior

Find the contents of the input Image PipelineResource under the /workspace directory.

# Actual Behavior

No error is thrown and the Image content is not available under the /workspace directory.

# Steps to Reproduce the Problem

As documented in https://github.com/tektoncd/pipeline/blob/master/docs/resources.md I have configured an Image PipelineResource:

[code]

Now when I

[2020-01-30 09:22] dsanchor commented on #1663
+1 here. Support for corporate proxies is a must in 99% of production environments. Still version 0.x, but this should be part of 1.x version.

[2020-01-30 14:26] sbwsg commented on #1984
Hey, I believe this is right (from reading through the image resource code).  I don't think the image resource really does anything if it's used as an input, other than act as a container of data.

Pipeline Resources are not being promoted to beta for reasons such as this - their behaviour is a bit confusing and opaque.

[2020-01-30 14:45] sbwsg opened #1986 "Workspace support for VolumeClaimTemplates"
# Expected Behavior

This issue started out as a general discussion on a mechanism for dynamically allocating storage for TaskRuns at runtime but has become focused on volume claim templates. So now this issue is for discussion of Volume Claim Templates to define PVCs in workspaces at runtime, similarly to the way StatefulSets and Argo handle storage (see comments in this PR for links to each of t

[2020-01-30 15:09] siamaksade commented on #1839
cc @sthaha

[2020-01-30 15:14] g000444555 commented on #1984
This is exactly what I am trying to use it for. I simply need easy access to the contents of the container image. However, this doesn't seem to work as the contents of the image are not copied/mounted, so I am now considering an option of exporting the image to a tar bar, for example: docker export image-registry.openshift-image-registry.svc:5000/default/my > contents.tar

[2020-01-30 15:20] vdemeester commented on #1984
No, it doesn't act as a container of data. It doesn't mount the *flattened* content of the image in a volume (it's not something k8s supports as far as I know). As of today, images as input are only useful when using it with *variable interpolation*, it doesn't add anything to the `Pod` itself.

[2020-01-30 15:28] vdemeester commented on #1984
Indeed. Although this command (with `docker`) means you need to have access to a `docker` daemon somwhere (which is not the case on OpenShift 4.x for example). Another way to do this would be using `podman` (which is rootless):

[code]

[2020-01-30 15:29] sbwsg commented on #1984
oops, yeah sorry i should have specified - i meant that it holds the data (digest / url) in the resource object but you're both right - it never gets mounted or otherwise injected into the container without variable interpolation.

here's an example of variable interpolation to bring that "data" into the container:

[code]

[2020-01-30 15:31] g000444555 commented on #1984
Thank you for letting me know. This is the information I was looking for.

Not sure about k8s, however, OpenShift's build configs support Image inputs:
https://docs.openshift.com/container-platform/4.2/builds/creating-build-inputs.html#image-source_creating-build-inputs This is why it was very surprising to see that Tekton does not support it, as I already had a chained build with multiple Image i

[2020-01-30 15:40] vdemeester commented on #1984
Right, the way Image Source work is quite different from what PipelineResource are in Tekton. We may have something like this at some point but it will need to wait the [`PipelineResource` redesign](https://github.com/tektoncd/pipeline/issues/1673)

[2020-01-30 17:03] sbwsg commented on #1673
PipelineResources have a big surface area so we've started to break the constituent pieces into their own deliverables. We've had good success and feedback so far as these features have been added.  [Workspaces](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#workspaces) and [Task Results](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#results) are two big chunks

[2020-01-30 18:41] eddie4941 commented on #1978
@sbwsg The idea of inferring task order based on the from seems like a cool idea.

Another options which will keep things simple this first round is require(via validation) that all tasks mentioned in the `tasks[].params[].from.task` clause also appear in the `tasks[].runAfter`. This way we won't have to infer any ordering based on the from values.

We can then come back and drop this requirement

[2020-01-30 18:52] sbwsg commented on #1978
Totally, good point.  One thing that I was hoping was that we would have parity between the way [workspaces declare "from"](https://github.com/tektoncd/pipeline/pull/1936) and the way results declare "from".  But I think I'd totally be ok on a first pass with the validation enforcing that the user has to add the runAfters.

[2020-01-30 18:56] sbwsg commented on #1978
Although now that I think about it a bit more - inferring the order of the tasks based on From is possibly the easy part of this issue :)  See the few lines it takes for workspaces here:

https://github.com/tektoncd/pipeline/pull/1936/files#diff-f4450edc23218cd8c91cc4ebec265299R155-R160

Here we just walk over the workspaces and add them to the Task's list of dependencies.  The DAG library takes c

[2020-01-30 20:23] siamaksade commented on #1986
That's a interesting idea. The default could be `true` which is a similar experience from other CI systems.

[2020-01-31 01:42] sthaha commented on #1839
Doesn't using oci images make the definition of tasks opaque to user? Currently we can't treat tasks as opaque (akin to calling a function without knowing its implementation details) as in order to use a task, you must know the input and output params expected. In the OCI based implementation how would someone find out how to use the task?

[2020-01-31 02:12] ImJasonH commented on #1839
We can build tooling to describe a task defined in an OCI image, by cracking the image open and parsing the YAML. This could start as a standalone CLI in experimental then maybe eventually graduate to the `tkn` CLI. Something like `tkn task describe my-task --image=gcr.io/my/image`

[2020-01-31 02:27] sthaha commented on #1839
@bobcatfish I am a bit confused as to how using oci artifacts address the versioning issue? Hypothetically, say my pipeline refers to v1 and v2 of a task that run in parallel
- how would the spec look like?
- where would the tasks be created?
- are these tasks transient (deleted soon after its use?)

As I see it, the issue is that `taskRef` refers to the `metadata.name` of a Task thus we need to s

[2020-01-31 02:33] sthaha commented on #1839
@ImJasonH thanks for explanation. It does make sense to me and additionally addresses publishing a catalog issue. In the oci artifacts based proposal, would the controller even need to create `tasks` in cluster?

I am however not sure if this addresses versioning of tasks unless we can build a structure/naming convention into this oci artifact based catalog.

[2020-01-31 02:42] ImJasonH commented on #1839
This addresses versioning because OCI images can be versioned and referred to by their versions `registry.com/image:v1.2.3`, or pinned to a specific immutable version by its content (`registry.com/image@sha256:abcde...`).

In this model the Task definition doesn’t have to be defined in the cluster, the image only needs to be readable and reachable by the Tekton controller running on the cluster.

[2020-01-31 03:00] ImJasonH commented on #1839
The example from [the doc](https://docs.google.com/document/d/1zUVrIbGZh2R9dawKQ9Hm1Cx3GevKIfOcRO3fFLdmBDc) shows how a `taskRef` might refer to an image, rather than a Task definition installed on the cluster:

[code]

[2020-01-31 03:07] sthaha commented on #1839
Neat! so here, it is the catalog that has a version which I guess all tasks inherit i.e. instead of specifying use `task` and `version` we specify `task` from `catalog` with `version` which is fine!

[2020-01-31 03:14] ImJasonH commented on #1839
Yeah, the image can contain a bunch of co-versioned Tasks/Pipelines/whatever, or just one each if the image author wants that. An image containing a bunch of co-versioned things can be considered like a Catalog.

[2020-01-31 03:28] siamaksade commented on #1839
Interesting idea. +1 for the proposal

@ImJasonH are there advantages to combing multiple tasks into a single image rather than enforcing a single task per image? If each image contains a single task and related step images, the syntax becomes simpler since the `name` is not needed anymore:

[code]

This would be also somewhat similar to how GitHub Workflow references actions e.g. `actions/setup-j

[2020-01-31 03:51] ImJasonH commented on #1839
The advantage to co-versioning things together is if you have a Pipeline that runs multiple Tasks, you can co-version all of them together if they're all bundled in one image. But if you as an operator or thing author wants them separate, that's your prerogative.

GitHub's `actions/setup-java@v1` thing is a bit more like how we use images as steps, since that reference ends up describing the conta

[2020-01-31 05:19] sthaha commented on #1839
@ImJasonH One more question about the "opaqueness" of oci artifacts. Say we want to support a case where we would like to expose *list of* tasks in the catalog to a UI (dashboard). Would oci-image allow for that? Or would we have to rely on a `Catalog` CRD to expose that information?
e.g.

[code]

[2020-01-31 10:22] #1984 closed

[2020-01-31 10:23] g000444555 commented on #1983
That's a very good answer. Thank you very much.

[2020-01-31 10:23] #1983 closed

[2020-01-31 12:07] ImJasonH commented on #1839
You could ask the registry over HTTP for image metadata and use it to list the objects it contains. The API is well documented and part of the OCI spec, we would only be defining the spec for the data types in the image. We could easily provide a Go package to parse it all.

Having it wrapped in a CRD means there are two sources of truth: the CRD could say it contains A, B and C while the image it

[2020-01-31 12:52] ImJasonH commented on #1839
The OCI image also wouldn't have a concept of a `ClusterTask` since to the image there's no concept of a namespace or a cluster-scoped anything. If operators want to make sure some images _aren't_ available to some users they can enforce that with OPA and/or auth.

[2020-01-31 13:14] siamaksade commented on #1839
For the user authoring pipelines, GitHub Actions and Tekton Tasks are similar in that they are components that user can reuse to build a pipeline. `step` is not a reusable component.

The runtime model of GitHub Actions is similar to a `step` like you said.

[2020-01-31 14:40] bitsofinfo opened #1990 ".ssh configs etc are not available when running manual git commands in other steps."
I have a `PipelineResource` of type `git`

When properly configured this yields all the required ssh components under `/tekton/home/.ssh` and my git repo is cloned under `/workspace`

I then proceeded to add a `step` in my `Task` such as

[code]

This led me down hours of looking into why I kept getting `Host key verification failed.` errors despite the current user `root` yielding `/home/tekton`

[2020-01-31 16:40] mgreau commented on #1748
To close the discussion here, I can confirm this issue is fixed in Tekton v0.10.0.

Thanks

[2020-01-31 17:30] pierretasci commented on #1839
One small thing I want to add to this discussion that I really like about the idea of using OCI, is that auth is a "solved" problem. End-users will be able to publish their task and pipeline definitions as artifacts and use imagePullSecrets to authorize exclusively themselves to access those definitions in their CI. Not reinventing the wheel here is a huge win.

[2020-01-31 20:11] #1900 closed

[2020-02-01 18:37] ImJasonH commented on #1839
Thought about this a bit more, this should be possible to prototype entirely in experimental, with a CLI that's able to bundle tasks/etc into an image, and a "run this task in this image" surface that resolves the Task spec from the image before telling Tekton about it.

Once this is iterated on and the surface settles, it should be easy to shift the image->Task resolution to the Tekton controller

[2020-02-03 08:00] #1113 closed

[2020-02-03 11:04] chmouel opened #1994 "Add documentation for top level environment on Task"
It doesn't' seem that we have documentation or example for top level environments feature

Here is a snipped of a yaml test that would covers it  :

[code]

/kind feature

[2020-02-03 11:05] chmouel commented on #1994
oops never mind i have just seen this https://github.com/tektoncd/pipeline/pull/496/files I guess we can rephrase this issue to add a yaml and documentation for this feature (as this is where I looked at first)

[2020-02-03 12:01] chmouel commented on #1994
I guess reading properly over #496 the outcome was that something we didn't want, so I am going to close this,

even tho for the sake of argument it gets painful to manage when you have a very large Task with a lot of steps and to do a lot of copy and paste between all the steps...

/close

[2020-02-03 12:01] #1994 closed

[2020-02-03 14:45] #1710 closed

[2020-02-03 16:08] bobcatfish commented on #1376
Removed from milestone - @dibyom to create follow up issues for the work to implement the design :D

[2020-02-03 16:15] bobcatfish commented on #1830
@afrittoli have you already started looking into this? if not i think i can take it on

[2020-02-03 17:33] JCzz commented on #1830
I got it to working elevating tutorial-service

[2020-02-04 02:58] maheshwarishikha opened #1995 "Is it not using latest docker version to execute tasks?"
# Expected Behavior
Dockerfile which includes contents like:
FROM maven:3.5.4-jdk-8-alpine **AS builder**
COPY ...
..
...
getting built locally but not through tekton. Ideally it should get built successfully.

# Actual Behavior
Error I get is:
Sending build context to Docker daemon    335MB
Step 1/13 : FROM maven:3.5.4-jdk-8-alpine AS builder
Error parsing reference: "maven:3.5.4-jdk-8-alpine AS

[2020-02-04 07:03] vincent-pli commented on #1976
@ImJasonH
I try the case, sometimes the issue occurred.
The direct cause is in `reconcile` of `taskrun`: in `retry` case, after create new `pod`, at the end of `reconcile` it try to update the `taskun` but failed with
[code]
Then the related `taskrun` stay in `workqueue` and `reconcile` again after `increased delay`, since `podname` is still null (update failed last time) then a new `pod` was crea

[2020-02-04 08:47] dvetto commented on #1663
+1 . Same problem.

[2020-02-04 09:05] chmouel opened #1998 "webhook knative.dev/pkg/controller is spitting a lot of error message"
I have seen lately a lot of error mesages due of missing cacert in the webhook logs :

[code]

They seem harmless and only shows up at boot time and on webhook but there is quite a few of them (55) and they don't look very nice..

/kind bug

[2020-02-04 10:56] vdemeester commented on #1998
Right, it creates it at start time, interesting that it prints this 55 times though :sweat:
/cc @mattmoor

[2020-02-04 10:58] afrittoli commented on #1998
Dogfooding runs on v0.10.0, however I don't see this error in the logs.
Is this something new in v0.10.1?

[2020-02-04 11:03] afrittoli commented on #1995
Thank you for you bug report @maheshwarishikha .
The error you reported does not come from Tekton itself, it's produced by the tool that you use to build your container image - it looks like it does not support "AS" in the docker file.
What tool do you use? Do you have the YAML of your task to share?

[2020-02-04 11:04] afrittoli commented on #1995
/kind question

[2020-02-04 11:04] vdemeester commented on #1998
@afrittoli it's on nightlies, and due to the k8s/knative dependency bump #1894

[2020-02-04 11:11] vdemeester commented on #1995
@maheshwarishikha I am pretty sure that the docker used by openshift 3.11 is a really old version (like docker 1.13, before the swarmkit merge). This means that if you use `docker` (with mounting the docker host volume in your task) to build your dockerfile it won't work as multi-stage wasn't even a thing for docker 1.13.

You should be able to use `kaniko` or `buildah` instead of `docker` to buil

[2020-02-04 11:29] afrittoli commented on #1990
Thank you for your bug report.

One thing that we need to do for sure is to update the documentation in https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#ssh-authentication-git where it talks about `~/.ssh/config` - it should say `/tekton/home/.ssh` instead.

Apart from that, I'm not sure there's much more we can do. The location where the ssh config is expected to be depends very much

[2020-02-04 11:29] afrittoli commented on #1990
/kind documentation

[2020-02-04 11:38] afrittoli commented on #1979
Thank you for your bug report.
The error message is also wrong, since we don't rely anymore on `Build`, it should say `translating TaskSpec to Pod` instead.  For the actual error, it would be useful if you could share the relevant Tekton resource you're using, and also which version of Tekton you're running them on.

[2020-02-04 11:44] afrittoli commented on #1978
@sbwsg is this something you plan on working on yourself, or does it need a volunteer?

[2020-02-04 12:06] maheshwarishikha commented on #1995
@afrittoli - here is yaml for my task.

[docker-build-src-code.yaml.zip](https://github.com/tektoncd/pipeline/files/4153126/docker-build-src-code.yaml.zip)

@vdemeester - yes...I am using docker commands directly to build and push the image to registry.

So I need to try kaniko or buildah...as per your suggestion. It was giving some other issues...hence used docker commands. Is there any other way

[2020-02-04 13:26] afrittoli commented on #1974
Both for notifications as well for general async actions/hooks, we'll need to clearly identify in the reconcile code the various points of the lifecycle of a resource (pipelinerun/taskrun):
* about to start
* paused
* done (success/failed/timeout/cancelled)

I think it would be nice if the main reconcile loop code could be structure like this:
[code]

[2020-02-04 13:39] sbwsg commented on #1978
I have a call set up with @eddie4941 and @othomann to talk through the proposal.  I'll update this issue once we've had that.

[2020-02-04 14:41] vdemeester commented on #1974
/cc @n3wscott as there is a few movement upstream (knative.dev/pkg), to reduce the same code needed (https://github.com/knative/pkg/pull/947, https://github.com/knative/serving/pull/6714 and https://github.com/knative/sample-controller/pull/167)

But I do agree, the `reconcile` part should be simple, and the rest should be split into several files :stuck_out_tongue_closed_eyes:

[2020-02-04 15:27] mattmoor commented on #1998
We should probably quiet the logging, as this is somewhat expected on a fresh install with the Reconciler-based design.  The lifecycle of resources is managed by something external (e.g. operator, addon manager), but the content of those resources is populated dynamically.

Want to open a PR against knative.dev/pkg?

[2020-02-04 16:09] bobcatfish commented on #403
I haven't heard of this bothering anyone since it was originally opened, so I'm going to close it for now.

[2020-02-04 16:09] #403 closed

[2020-02-04 16:10] bobcatfish commented on #453
I think this issue has more info than #454 but we seem to have moved our work over to #454 so I'm going to close this.

[2020-02-04 16:10] #453 closed

[2020-02-04 16:13] bobcatfish commented on #552
Wow I forgot about this issue! We ended up having the request again: #1273 and Tasks can now declare [results](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#results). The next step is to link these in a Pipeline (https://github.com/tektoncd/pipeline/issues/1950) using a very similar syntax to @warrenbailey 's proposal above!

Closing this issue in favor of #1950

[2020-02-04 16:13] #552 closed

[2020-02-04 20:11] chmouel commented on #1998
@mattmoor done here! https://github.com/knative/pkg/issues/1047

[2020-02-04 20:14] tomgeorge commented on #1876
If nobody is working on this, I will start this evening.

[2020-02-04 20:27] bobcatfish commented on #754
I think this is the CLA we're talking about https://github.com/cdfoundation/cla ? p.s. any update here @danlopez00 ?

[2020-02-04 21:15] ImJasonH commented on #1876
I believe there was a question about whether ClusterPipelines would be allowed to contain namespaced Tasks when run in a namespace. I think this is probably confusing enough we should punt on it until someone has a specific use case, and only support ClusterTasks in ClusterPipelines at first.

[2020-02-04 21:27] tomgeorge commented on #1876
got it, thanks!

[2020-02-04 22:13] n3wscott commented on #1974
YES!! There is some work needed in knative/pkg reconciler generators to support the crazy serving needs, like the upconvert calls... but knative/serving#6714 totes passes integration 🥇

[2020-02-05 05:52] zeromsi opened #2001 "How to add imagePullSecrets in a taskSpec?"

[2020-02-05 08:02] zhangtbj commented on #1876
I think ClusterTask is just for some sample usage.

If it is an advantage or complex task or job, we need to define a pipeline to do more steps.

Such as cluster scope or level operation by using on cluster level.

Or just as we are in a multiple-tenants environment, we have a cluster scope pipeline that allow all namespaces multiple-tenants can use this cluster level pipeline togheter. Or we have

[2020-02-05 14:45] #1045 closed

[2020-02-05 14:45] #1920 closed

[2020-02-05 16:12] dibyom commented on #2001
/kind question

[2020-02-05 16:19] dibyom commented on #2001
The serviceAccount that the taskrun uses should have access to the imagePullSecret.
Here are a couple of examples:
https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/pull-private-image.yaml
https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/docker-creds.yaml

[2020-02-05 16:20] dibyom commented on #2001
I'm going to close this issue. Feel free to re-open if it doesn't answer your question.
/close

[2020-02-05 16:20] #2001 closed

[2020-02-05 21:45] searsaw opened #2005 "Deleting PipelineRuns doesn't clean up TaskRuns or pods"
# Expected Behavior
When I delete a PipelineRun, the TaskRuns created for it and the pods for the TaskRuns should be deleted. In addition, deleting the TaskRun should delete the pods associated with it.

# Actual Behavior
Only the PipelineRun is deleted. If I delete a TaskRun, only the TaskRun is deleted.

# Steps to Reproduce the Problem

1. `tkn pr delete some-pipeline-run-name`. The output says

[2020-02-05 21:51] dibyom commented on #2005
/kind bug

[2020-02-06 03:03] sthaha commented on #1839
@ImJasonH @pierretasci Have you started working on this? It would be great I could pair or start the work on this.

[2020-02-06 07:31] maheshwarishikha commented on #1995
@afrittoli , @vdemeester - I am using kaniko task to build and push as per your suggestion. Now, push is failing with some permissions issue.

Error msg -
error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "docker-registry-default.xx.xxx.appdomain.cloud/tektonpipeline/imagename:latest"

[2020-02-06 09:56] maheshwarishikha commented on #1995
I understand that I need secret.yaml too....but not understanding that.

apiVersion: v1
kind: Secret
metadata:
  name: pipelinesa-token-7vnnc
  annotations:
    tekton.dev/docker-0: ??
type: kubernetes.io/basic-auth
stringData:
  token: ??
OR username and password is required?

But in case of service account, we login to openshift using token. So not sure which username and password to use.

Pleas

[2020-02-06 13:34] sbwsg commented on #2005
Thanks for the report, couple follow-up questions:

1. which version of tkn are you using?
2. Does the same issue occur if you use kubectl to delete the pipelinerun?  i.e. `kubectl delete pipelinerun <name-of-pipelinerun>`?

I recently updated the code of tkn when performing deletes so I'm wondering if I've accidentally broken this behaviour.

[2020-02-06 14:52] sbwsg commented on #1978
Update after chatting with @skaegi a bit about "from" syntax / variable interpolation :-

At the moment we're putting a hold on the idea of using "from" to dictate ordering in workspaces.  Therefore reaching "parity" between workspaces and params on this feature is less of a priority.  So we figure it's probably easiest to just jump straight to introducing variable interpolation between results an

[2020-02-06 15:36] medkbadri commented on #1259
Hi @sbwsg ,

I'm new to tekton, I think this issue is a good opportunity to start contributing,
Can I work on it?

Thanks :)

[2020-02-06 15:44] sbwsg commented on #1259
sure thing, have at it @medkbadri !

[2020-02-06 16:05] sbwsg opened #2010 "Introduce Workspaces to Conditions"
# Expected Behavior

The conditions I write should be able to leverage the workspaces that are threaded through my pipeline.  This would allow a condition to make decisions based on files I've written out in previous tasks.

# Actual Behavior

At the moment ConditionSpec does not have support for workspaces.

[2020-02-06 16:40] bobcatfish commented on #1976
Fixed by #1996

[2020-02-06 16:43] bobcatfish commented on #1879
I guess if it's being embedded anyway we might as well let ppl use the pipeline params :(

[2020-02-06 16:49] bobcatfish commented on #1797
Maybe this would be something we can add into the PipelineRun?

[2020-02-06 16:51] sbwsg commented on #1976
Hey, sorry @bobcatfish that PR only updates the test to more accurately reflect the incorrectness described by the bug.  The bug still exists :S

[2020-02-06 16:58] dibyom commented on #1684
Lots of great discussion on the design doc. I'm gonna summarize where we are at now:

### `runOn`

The idea seems popular but instead of a list we might make it into a map.
[code]
What's nice about the map is that it is more powerful i.e. users can say run this task3 regardless of task1's state but only if task2 succeeds. At the same time, its adds some duplication (we need both runAfter and runOn

[2020-02-06 17:47] bobcatfish commented on #1697
I think that workspaces + results will handle this? Closing with that assumption but plz re-open if that's not the case @vincent-pli !

[2020-02-06 17:47] #1697 closed

[2020-02-06 17:57] bobcatfish commented on #1489
I think it would make sense to have something like this! But I think it would make sense to add this feature to tektoncd/triggers instead - apologies for the delayed response @evgf but would you be open to creating an issue over there? :pray:

+ @dibyom @wlynch

[2020-02-06 18:25] bobcatfish commented on #533
* These days dogfooding is in full swing and most issues are in https://github.com/tektoncd/plumbing
* This is the project we are using to track our current dogfooding efforts: https://github.com/orgs/tektoncd/projects/1
* [This document contains our dogfooding plans](https://docs.google.com/document/d/1Tf3tdIBwkN5kxMuyYMo802F-DyOdsl_bgh-78a9prWQ/edit#)

[2020-02-06 18:25] #533 closed

[2020-02-06 18:25] bobcatfish commented on #536
* These days dogfooding is in full swing and most issues are in https://github.com/tektoncd/plumbing
* This is the project we are using to track our current dogfooding efforts: https://github.com/orgs/tektoncd/projects/1
* [This document contains our dogfooding plans](https://docs.google.com/document/d/1Tf3tdIBwkN5kxMuyYMo802F-DyOdsl_bgh-78a9prWQ/edit#)

[2020-02-06 18:25] bobcatfish commented on #539
* These days dogfooding is in full swing and most issues are in https://github.com/tektoncd/plumbing
* This is the project we are using to track our current dogfooding efforts: https://github.com/orgs/tektoncd/projects/1
* [This document contains our dogfooding plans](https://docs.google.com/document/d/1Tf3tdIBwkN5kxMuyYMo802F-DyOdsl_bgh-78a9prWQ/edit#)

[2020-02-06 18:26] bobcatfish commented on #1107
Looks like #1134 may have solved this! 🎉

[2020-02-06 18:26] #1107 closed

[2020-02-06 18:26] bobcatfish commented on #535
* These days dogfooding is in full swing and most issues are in https://github.com/tektoncd/plumbing
* This is the project we are using to track our current dogfooding efforts: https://github.com/orgs/tektoncd/projects/1
* [This document contains our dogfooding plans](https://docs.google.com/document/d/1Tf3tdIBwkN5kxMuyYMo802F-DyOdsl_bgh-78a9prWQ/edit#)

[2020-02-06 18:26] #535 closed

[2020-02-06 18:28] #536 closed

[2020-02-06 18:28] #539 closed

[2020-02-06 18:28] bobcatfish commented on #1377
* These days dogfooding is in full swing and most issues are in https://github.com/tektoncd/plumbing
* This is the project we are using to track our current dogfooding efforts: https://github.com/orgs/tektoncd/projects/1
* [This document contains our dogfooding plans](https://docs.google.com/document/d/1Tf3tdIBwkN5kxMuyYMo802F-DyOdsl_bgh-78a9prWQ/edit#)

[2020-02-06 18:28] #1377 closed

[2020-02-06 18:29] bobcatfish commented on #267
* These days dogfooding is in full swing and most issues are in https://github.com/tektoncd/plumbing
* This is the project we are using to track our current dogfooding efforts: https://github.com/orgs/tektoncd/projects/1
* [This document contains our dogfooding plans](https://docs.google.com/document/d/1Tf3tdIBwkN5kxMuyYMo802F-DyOdsl_bgh-78a9prWQ/edit#)

[2020-02-06 18:29] #267 closed

[2020-02-06 18:53] sbwsg opened #2013 "Phase out overwriting of image's HOME variable. Remove /tekton/home."
# Expected Behavior

Images with an expectation that HOME is set to something specific should work as intended.

# Actual Behavior

Those images do not work as expected - Pipelines overwrites the HOME variable of an image with `/tekton/home`.

See https://github.com/tektoncd/pipeline/issues/1836 for the original report on this issue.

So the plan is as follows:

- [x] ASAP add an opt-out flag to p

[2020-02-06 20:44] dibyom commented on #2005
What happens if we delete the pipelinerun using kubectl and not tkn? I'd expect the associated taskruns/pods to get deleted too. Is that not the case? Does tkn add additional logic to delete the associated resources?

[2020-02-06 20:56] sbwsg commented on #2005
No you're right - tkn doesn't add anything to pipelineruns or taskruns to delete the resources created during reconciliation.

I just tested with tkn delete version 0.7.1 against a pipelinerun and I saw the taskruns generated during the pipelinerun deleted as well.  So I'm not sure what's going on here.

[2020-02-06 23:29] searsaw commented on #2005
Welp, this is embarrassing. I'm not really sure what was happening yesterday, but things seems to be working as intended today. We did some cert rotation and cluster upgrading today. So it's possible something weird was going on, and it got cleared up in the hubbub today.

I'll see myself out...

[2020-02-06 23:29] #2005 closed

[2020-02-06 23:39] guitcastro opened #2016 "Pipeline state stuck in running even when task is finished"
# Expected Behavior

The pipeline should move to the next task

# Actual Behavior

The pipeline does not initiate the next step

# Steps to Reproduce the Problem

The problem started when I added param to the task

# Additional Info

Here is the pipelinerun, as you can see it state that the task build-and-push image is still running:

[code]

And here is the taskRun, as you can see the task has fi

[2020-02-07 07:16] vdemeester commented on #1244
https://github.com/kubernetes/test-infra/pull/16099 is merged, 0.10 is released, We can close :tada:
/close

[2020-02-07 07:16] #1244 closed

[2020-02-07 09:53] xcoulon commented on #1543
Not sure if this would help, but you could use `ldflags` during build time to set some variables with the commit hash (and optionally tag) and reuse them in the controller at runtime. Something like:
[code]

see https://github.com/codeready-toolchain/host-operator/blob/master/make/go.mk#L13-L19, https://github.com/codeready-toolchain/host-operator/blob/master/make/git.mk and https://github.com/cod

[2020-02-07 10:06] vdemeester commented on #1543
To recap:

- We have the ldflags thingy ([here](https://github.com/tektoncd/pipeline/blob/master/pkg/version/version.go))
- We have versions labels in our deployments ([controller](https://github.com/tektoncd/pipeline/blob/master/config/controller.yaml#L22) and [webhook](https://github.com/tektoncd/pipeline/blob/master/config/webhook.yaml#L26)) (that are updated at release time)

Given the title o

[2020-02-07 10:06] vdemeester commented on #1543
/close

[2020-02-07 10:06] #1543 closed

[2020-02-07 10:09] xcoulon commented on #1543
doh! I should have checked the actual codebase before making this suggestion ;) 🤦‍♂

[2020-02-07 13:02] sbwsg commented on #2005
All good, thanks for reporting!

[2020-02-07 13:13] sbwsg opened #2017 "Link workspaces together through a pipeline."
# Expected Behavior

It should be possible to express in a pipeline that "this task's workspace is shared with that other task, and it should write to it before I read from it". And from this declaration Tekton should be able to infer that one task should execute before the other one.  We implemented / prototyped this using a "from" clause similar to that of `PipelineResources` but there was some

[2020-02-07 13:45] guitcastro commented on #2016
I just notice that the `lastTransitionTime` (2020-02-06T22:13:55Z) in pipeline run does not match with the `lastTransitionTime` (2020-02-06T22:14:20Z) from the taskrun.

[2020-02-07 16:22] guitcastro commented on #2016
Got it, Thanks for the help. I had duplicate the paramters in my pipeline:

[code]

[2020-02-07 16:23] sbwsg commented on #2016
I'm going to keep this one open since I think that we should validate this better.

Thanks a lot for the extra info @guitcastro !

[2020-02-07 16:36] sbwsg commented on #2017
Jeez I forgot I already opened an issue for this.  This one's a dupe of https://github.com/tektoncd/pipeline/issues/1878

[2020-02-07 16:36] #2017 closed

[2020-02-07 16:37] sbwsg commented on #1878
Update here: we closed #1936 with a view to picking it up again at some point in the future.

For whenever we pick this up again: This issue doesn't mandate that we should continue to use the "from" syntax design. We can introduce any other syntax we want if the feature becomes necessary. We could potentially use variable substitution here but it's unclear precisely which value would be substitute

[2020-02-07 18:40] chmouel commented on #1543
we still need an implementation in CLI tho 💃

[2020-02-07 21:16] gattytto opened #2019 "tekton yaml linting and dependency scanner, outliner ms-vscode"
there's a tekton pipelines plugin for ms-vscode which also works in eclipse che https://github.com/eclipse/che/issues/15752#issuecomment-582907777

I see there's a ci/cd project called concourse and they have a work in progress for a yaml linter for pipelines and tasks: https://github.com/spring-projects/sts4/tree/master/vscode-extensions/vscode-concourse

right now using the tekton+kubernetes plu

[2020-02-07 22:17] shiyu-dong commented on #1922
@sbwsg @dibyom Just want to add some details for a similar use case. We would like to know if Tekton can support "dynamic" pipelines and pipeline hierarchies.

For example, with above monorepo example that @acim mentioned but with hundreds of services, is something below possible in one pipeline?

1. Calculate changed services for a given commit. The result service list is dynamic.
2. For each of

[2020-02-07 22:23] acim commented on #1922
Yes, there can be quite a huge complexity behing this and it would be really nice that Teknon handles this because otherwise we still have to deal with a prehistory like Jenkins.

[2020-02-07 22:25] dibyom commented on #1922
/kind question

[2020-02-07 22:30] dibyom commented on #1922
Interesting use case.
Right now you'd have to write a custom task that can parse the changed services and trigger each of your child pipelines and wait for them to finish (probably using tkn or kubectl)

#1684 might be of interest in the near future especially the bit around `failureStrategies` that will allow  parallel branches of a pipeline to keep running even if one of the branches fails.

[2020-02-07 22:30] dibyom commented on #1922
https://github.com/tektoncd/pipeline/issues/50 might be somewhat related too

[2020-02-07 22:34] dibyom commented on #1684
Interesting complex use case here: https://github.com/tektoncd/pipeline/issues/1922#issuecomment-583640512

I think we'd need failureStrategies at the very least. Also possibly some sort of simple conditionals to model should I run this branch or not based on output params/results

[2020-02-07 22:37] shiyu-dong opened #2021 "Caching for git resource"
Hello,

According to the [Git Resource](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#git-resource) document, seems that a `git clone` is needed every time this resource is used.

We have monorepos with hundreds of services in each, and the commit volume is high. It will be an expensive operation to clone every time (both for load to git server and the time for git clone itsel

[2020-02-07 22:41] pierretasci commented on #1684
Yeah, that's a doozy. Child pipelines is starting to get into `fork` territory which is exciting and scary all at the same time. I do think failureStrategies + output params are the answer here. Nothing we are proposing here inhibits the ability to make that complex pipeline work.

[2020-02-07 22:55] shiyu-dong commented on #1922
Thanks @dibyom! For the "wait for them to finish" part, should I periodically poll the child pipelines statuses in the task itself using `tkn` or `kubectl`?

Is [Cloud Event Resource](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#cloud-event-resource) relevant here? Can a `cloud event` signal back to a `Task`?

[2020-02-08 13:21] vincent-pli opened #2023 "The message of Pipelinerun is not correct when timeout"
# Expected Behavior
Correct message tell people the timeout duration
# Actual Behavior
Wrong message:
` message: PipelineRun "demo-pipelinerun" failed to finish within "&Duration{Duration:1m20s,}"`
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-02-08 13:21] vincent-pli commented on #2023
/assign @vincent-pli

[2020-02-09 15:17] ImJasonH commented on #1839
I haven't, and I won’t have an opportunity to for a couple months. If you want to get started go ahead I think a prototype would be a great start and would help people iterate on the idea.

[2020-02-09 15:24] pierretasci commented on #1839
Hey sorry, I forgot to reply back to this thread. I spoke with Sunil and we are tag teaming on a prototype.

[2020-02-09 18:33] bigkevmcd commented on #1684
I've started looking at moving our use-case out of this issue, an operator that tracks PipelineRuns (and probably TaskRuns too), and if they're annotated/tagged appropriately, sending a git commit status notification (using go-scm).

[2020-02-10 01:20] vincent-pli commented on #1979
I think the issue is caused when mount `secret`,  the length of the `volumn` name is more than 63, so it trim, cut the different part, the remain part are same, then raise the error.

[2020-02-10 08:02] vdemeester commented on #2021
Hey @shiyu-dong, thanks for the issue.
This is a shortcoming of the current PipelineResource design, hence our redesign work (see [here](https://github.com/tektoncd/pipeline/issues/1673)) in progress. As the beta will not include PipelineResource (still usable but not *supported* per-se), we will tell the user to prefer using re-usable tasks (like the [git](https://github.com/tektoncd/catalog/pull

[2020-02-10 08:05] vdemeester commented on #2019
@gattytto thanks for the issue. There is some started work on that (https://github.com/tektoncd/pipeline/pull/1776) I think :wink:

/kind feature
/area yamls

[2020-02-10 08:05] vdemeester commented on #2023
/kind cleanup

[2020-02-10 10:44] #2023 closed

[2020-02-10 10:50] Fabian-K commented on #1305
I looked into the approach using an admission controller. To ensure a pipeline has no concurrent executions, I registered a validating admission controller for creation of taskruns. As the incoming AdmissionReview contains the taskrun definition, I can query for other running pipelines and as a result return either true or false.

This works fine as the tekton controller retries creating the taskr

[2020-02-10 11:25] vas-dev-ops opened #2026 "Missing documentation about updating"
# Expected Behavior

To find in the documentation a paragraph about how to install the new versions of tekton.

# Actual Behavior

There is no documentation about the installation of the new releases

[2020-02-10 11:31] vdemeester commented on #2026
/kind documentation

[2020-02-10 12:03] zeromsi opened #2027 "How to use build-arg, that takes value from param of a task?"

[2020-02-10 12:04] steveodonovan opened #2028 "Spam log appearing in step containers"
# Expected Behavior

Runtime logs should be clear of tekton related messages, at a glance seems like it would be a controller or init container log message.

# Actual Behavior

A line similar to the one below is appearing at the top of the log for every container created in a taskRun

`{"level":"info","ts":1581335203.186758,"logger":"fallback-logger","caller":"logging/config.go:69","msg":"Fetch Gi

[2020-02-10 12:11] vdemeester commented on #2028
/kind cleanup

[2020-02-10 12:29] chmouel commented on #2028
/kind bug

[2020-02-10 13:30] afrittoli opened #2029 "Broken "message" on last transition in case of failure"
# Expected Behavior
The message shall point to the first step that failed and how to get its logs.

# Actual Behavior
The message points to the last step that failed.
Additionally the message to get the logs includes an extra "new line" that breaks the copy/paste.

When a `taskrun` has output resources, steps are appended to process those. If a step during the task fails, all the appended resource

[2020-02-10 13:31] afrittoli commented on #2029
/kind bug
/priority urgent

[2020-02-10 16:24] sbwsg commented on #1978
So after some more conversation around the design of "from" we've decided that we still do want to be able to express a link between one task's workspace and another task consuming that same workspace.

[2020-02-10 16:25] sbwsg commented on #1878
So after some more conversation around the design of "from" we've decided that we still do want to be able to express a link between one task's workspace and another task consuming that same workspace.  We think there might be a good way to use variable interpolation to express that as well.

[2020-02-10 17:16] ImJasonH commented on #2028
This comes from https://github.com/knative/pkg/blob/master/logging/config.go#L76 because https://github.com/knative/pkg/blob/master/changeset/commit.go#L37 fails to find the commit SHA which it expects to find symlinked into the kodata directory. I’m not sure why it’s not being symlinked there, but either way pkg should probably just not spam logs in that case anyway.

[2020-02-10 17:59] afrittoli commented on #2028
This is addressed by https://github.com/tektoncd/pipeline/issues/2028.
knative logger is useful for the Tekton controllers, but not necessarily for the steps themselves.

[2020-02-10 17:59] ImJasonH commented on #2028
Knative Serving has symlinks set up correctly: https://github.com/knative/serving/tree/master/cmd/controller/kodata

Ours don't: https://github.com/tektoncd/pipeline/tree/master/cmd/controller/kodata

We should add symlinks at cmd/*/kodata/refs to `../../../.git/refs` and confirm this fixes the spam.

[2020-02-10 18:01] ImJasonH commented on #2028
The entrypoint binary jumps in and spams that for every step, if we get the symlinks in place it should just stop. Using the Knative logger might be useful for that binary if we want to inject more structured logging info.

[2020-02-10 18:56] shiyu-dong commented on #2021
@vdemeester Thanks for the update. I will look into the re-usable git task!

[2020-02-10 18:56] #2021 closed

[2020-02-10 18:59] ImJasonH commented on #2028
Fixed in #2000

[2020-02-10 18:59] #2028 closed

[2020-02-10 22:19] dibyom commented on #2027
Can you provide some more details on what you are trying to accomplish? A minimal example of the task you are trying to run will help. Thanks!

[2020-02-10 22:19] dibyom commented on #2027
/kind question

[2020-02-11 03:02] zeromsi commented on #2027
Hi dibyom,
This is my task
[code]
I'm trying to send key-value through args and get those from my dockerfile.
Hope it is clear now.

[2020-02-11 03:58] zeromsi commented on #2027
Hi @dibyom ,
I got a solution,

[code]

[2020-02-11 04:55] itoutki opened #2031 "Pipeline Tutorial: run-kubectl step in deploy-using-kubectl task failed"
# Expected Behavior

deployment.apps/leeroy-web created

# Actual Behavior

Failed and the following log is output because of lacking authority for deployments.apps

[code]

# Steps to Reproduce the Problem

1.  Create Tasks, PipelineResources, Pipeline, and ServiceAcount written in Tutorial
2. Create ClusterRole and ClusterRoleBinding written in Tutorial
3. Create PipelineRun tutorial-pipeline-ru

[2020-02-11 06:44] #2027 closed

[2020-02-11 08:19] vdemeester commented on #2031
/kind documentation

[2020-02-11 09:26] cccfeng commented on #1281
Hi all. From pipeline 0.0.8 version, I found that Prometheus feature was introduced and  `tekton_reconcile_latency_bucket` in the knative.dev/pkg recorded the time data of controller reconcile.

As mentioned above, I found sometimes there are logs with reconcile reaching several hundred millsecond or even several second.  I guess when the concurrency of pipelinerun/taskrun is large, the throughput

[2020-02-11 13:53] itoutki commented on #2031
/assign

[2020-02-11 16:07] csantanapr opened #2036 "Where is workspaces.md?"
In Tekton Slack people pointed out that version 0.10 added support for workspaces, that this is an awesome feature now 🎉 to avoid some of the problems dealing with auto pvc

So where are the docs?
I can't find them here: https://github.com/tektoncd/pipeline/tree/master/docs

[2020-02-11 16:12] AlanGreene commented on #2036
Workspaces appear to be documented here:
https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#declared-workspaces
https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md #workspaces

[2020-02-11 16:13] skaegi commented on #2036
There is some more info here -- https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#workspaces

[2020-02-11 16:49] csantanapr commented on #2036
Thanks for links @AlanGreene and @skaegi

I think I'm bit confused

I think there was the concept of "/workspace" directory before tektoncd pipeline version 0.10

Is what's new now is the "Declared workspace" `workspace:` ?

Might be good to have a Note in the docs, stating that something is available on version 0.10+

[2020-02-11 16:50] csantanapr commented on #2036
Also we should change those markdown anchors `#workspace` they bring zenhub at least for me, better to use `#declared-workspaces`

[2020-02-11 17:08] #2036 closed

[2020-02-11 18:30] danielhelfand opened #2037 "Timeout Code Comment for v1alpha2 TaskRunSpec Says Default Timeout is 10 Minutes"
The code comment for Timeout as part of the TaskRunSpec appears to state the default time of 1 hour incorrectly.

# Expected

The default timeout is 1 hour as documented [here](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#configuring-default-timeout).

# Actual

The [comment](https://github.com/tektoncd/pipeline/blob/52babda84f585fbe4ad6a8dce7a1802d2de513dd/pkg/apis/pipeline/v

[2020-02-11 19:14] danielhelfand commented on #1568
/assign

[2020-02-11 19:15] othomann commented on #1977
@sbwsg https://github.com/tektoncd/pipeline/pull/2018 has been merged. So this issue can be closed. I cannot assign it to me.

[2020-02-11 19:16] sbwsg commented on #1977
:+1: thanks @othomann !

[2020-02-11 19:16] #1977 closed

[2020-02-11 19:21] bobcatfish commented on #937
Okay so long story short, we've been working on completely overhauling PipelineResources #1673 by adding other features that may potentially replace them (e.g. workspaces + task results) - but this means we haven't addressed this issue and we definitely need to before beta, so I'm re-opening this.

[2020-02-11 19:51] sbwsg commented on #2013
Adding a configmap field to allow the HOME overwrite to be disabled: https://github.com/tektoncd/pipeline/compare/master...sbwsg:opt-out-home-overwrite?expand=1

[2020-02-12 02:48] liangyuanpeng opened #2039 "bad substitution on container of working-dir-initializer"
# Expected Behavior

# Actual Behavior

container log
[code]

# Steps to Reproduce the Problem

1. ``kubectl apply -f git-pip.yaml``
2. ``kubectl apply -f task-sample.yaml``
3. ``kubectl apply -f taskRun-sample.yaml``

# Additional Info
git-pip.yaml
[code]
task-sample.yaml
[code]
taskRun-sample.yaml
[code]
I have not idea what for it
thanks any help!!

[2020-02-12 07:36] vdemeester commented on #2037
:sweat_smile:

[2020-02-12 12:14] chmouel commented on #1820
I don't think i am able to reproduce this properly, i think we can close this

[2020-02-12 12:27] sthaha commented on #1839
Thanks to @pierretasci we have our first POC - https://github.com/tektoncd/experimental/pull/461

[2020-02-12 13:52] chmouel commented on #1543
fyi we have an implementation for CLI now!

[2020-02-12 15:39] skaegi commented on #2039
For your workingDir instead of curly brackets use round brackets... e.g.
`workingDir: "$(inputs.params.directory)"`

[2020-02-12 15:46] skaegi opened #2041 "Provide short term solution for array "star" substitution"
We want to eventually just use JSONPath for variable expansion but in the short-term we should just add an extra star expansion for array types for our string-prefix based expansion. e.g. `params.myarray` will cause the create "both" a `params.myarray` and `params.myarray[*]` map key for `ApplyArrayReplacements` and the various validate methods.

This will let us update our tests to use the star-e

[2020-02-12 15:46] skaegi commented on #2041
/assign

[2020-02-12 16:29] dewan-ahmed commented on #1000
@wlynch @bobcatfish is there a plan to have a guide showing build taskrun from gitlab?

[2020-02-12 17:08] piyush-garg commented on #993
/assign

[2020-02-12 18:40] skaegi commented on #2036
yes we should use the time honoured `#Workspaces` hack instead

[2020-02-12 18:55] dibyom commented on #1000
Gitlab support in Triggers might be related: https://github.com/tektoncd/triggers/pull/434

[2020-02-12 19:16] piyush-garg commented on #993
@bobcatfish @vdemeester

What should we add regarding this in pipelines? Should we add an optional `Description` field in TaskSpec? Or any other approach?

[2020-02-13 05:44] vincent-pli commented on #1976
This issue could be closed

[2020-02-13 06:50] vincent-pli commented on #1913
Since the status of `Taskrun` is `pending`, should we introduce `pending` for `Pipelinerun`?

[2020-02-13 07:16] vdemeester commented on #1976
Indeed #2022 fixed it
/close

[2020-02-13 07:16] #1976 closed

[2020-02-13 13:09] wuzhengxuan opened #2043 "how to pause/resume the Task"
# Expected Behavior
how to pause/resume the Task

[2020-02-13 14:18] siamaksade commented on #993
+1 on adding `Description` to TaskSpec

[2020-02-13 15:48] dibyom commented on #2043
/kind question

[2020-02-13 15:50] dibyom commented on #2043
I think this is an open feature request.
See https://github.com/tektoncd/pipeline/issues/233

I'm going to close this issue but please feel free to comment on #233 with your use case or any comments

[2020-02-13 15:50] dibyom commented on #2043
/close

[2020-02-13 15:50] #2043 closed

[2020-02-13 15:50] dibyom commented on #2041
/kind feature

[2020-02-13 15:53] dibyom commented on #2039
Yeah, the param substitution syntax changed from `${}` to `$()` a while back.
Feel free to re-open this issue if the suggested change does not resolve this isse

[2020-02-13 15:53] dibyom commented on #2039
/close

[2020-02-13 15:53] #2039 closed

[2020-02-13 17:26] bigkevmcd commented on #1845
I don't think this is an issue in Tekton, it's the string being escaped in YAML.

tkn is rendering the message fine

[code]

and getting it as `-o json` instead of `-o yaml` looks fine too:

[code]

[2020-02-13 17:28] chmouel commented on #1845
Cool cool I guess there is not much to do with this issue and we can close it, thanks for tracking this down....

/close

[2020-02-13 17:28] #1845 closed

[2020-02-13 17:34] danielhelfand opened #2045 "Capture User Information with PipelineRun/TaskRun Creation"
This [issue](https://github.com/tektoncd/cli/issues/725) was originally opened in the CLI repo for being able to see information about which user started a TaskRun/PipelineRun as part of running a `tkn pipelinerun describe` or `tkn taskrun describe`.

I am wondering if it makes sense to have a way to capture this information as part of TaskRuns/PipelineRuns by adding this information to the Pipeli

[2020-02-13 17:34] danielhelfand commented on #2045
/kind feature

[2020-02-13 18:40] chanseokoh commented on #2013
Thanks for doing this! This has been very annoying for Java people on Knative and GCB, because almost all the time, most Java applications get the genuine, actual user home through a [platform-independent way](https://stackoverflow.com/questions/585534/what-is-the-best-way-to-find-the-users-home-directory-in-java/586345) that does not read `$HOME`. For example, Tekton pipelines run as `root`, and

[2020-02-13 23:01] mattmoor opened #2047 "Latest knative.dev/pkg adds support for conversion webhooks"
This is at HEAD and will be in 0.13.

cc @vdemeester

[2020-02-14 09:13] vdemeester commented on #2047
/assign

[2020-02-14 15:47] skaegi commented on #856
I know there is work in-house on doing a Tekton for s390x. Is the idea here that our build/release process would also have images for these other architectures? Or how would be support other architectures?

[2020-02-14 15:50] TheodorAtBud opened #2049 "Hidden order dependency between volumes and workspaces"
# Expected Behavior

I expect volumes and workspaces to be defined in whatever order in a task's spec.

# Actual Behavior

Workspaces have to be defined after volumes, otherwise the workspace does not get mounted.

# Steps to Reproduce the Problem
[code]
# Additional Info

Swapping volumes with workspaces around, would fix the issue and mount correctly.
All of this can be verified if one described

[2020-02-14 16:16] skaegi opened #2050 "Support Task looping syntax inside Pipelines"
# Desired behaviour

In some cases we are provided a parameter that is an array of values where we want to run a particular Task against each element of the array, when we don't know in advance the length of the array.

You could also imagine a Pipeline that operates on some value, such as the source code for and destination of, an image, and you want to be able to run the same Pipeline for 1+ ima

[2020-02-14 18:28] bobcatfish commented on #2049
Bizarre!!

@TheodorAtBud could you also provide the TaskRuns you are using for this? And if it's at all possible to include what the resulting pods look like that would be super helpful too.

This really surprises me because I didn't think that this kind of ordering was actually preserved on the server side :thinking:

[2020-02-14 18:36] bobcatfish commented on #2036
haha that happens to me too @csantanapr XD

[2020-02-14 18:37] bobcatfish commented on #2036
@csantanapr I think the release notes are probably the best place for the kinds of docs you're describing? The docs we have in the repo are meant to represent the current state.

In this case we've got https://github.com/tektoncd/pipeline/releases/tag/v0.10.0 does that have what you're looking for?

Also note that you can find versioned docs at https://github.com/tektoncd/pipeline#read-the-docs (s

[2020-02-14 19:09] bobcatfish commented on #1283
Looks like the warning was added in https://github.com/tektoncd/pipeline/pull/1310 !

[2020-02-14 19:09] #1283 closed

[2020-02-14 19:12] bobcatfish commented on #2050
As long as we don't have Tekton dynamically creating Pipelines I'm all for this.

I'd like to see this more like a Python "list comprehension" vs. a looping construct that allows for parts of Pipelines to execute in loops.

[2020-02-14 19:17] bobcatfish commented on #2045
@danielhelfand when you say  "user" what would that mean in this case? e.g. would it be the user signed in on the machine that is running the CLI commands?

[2020-02-14 19:19] nishpa214 commented on #1978
Is there any consideration to add `from` in the future to make this dependency explicit?

It'd be nice to make this explicit so UIs or other tooling can be built easily.

[2020-02-14 19:39] danielhelfand commented on #2045
@bobcatfish We had a pretty good explanation in the CLI issue in this [comment](https://github.com/tektoncd/cli/issues/725#issuecomment-585856328). The idea here would be about whoever is authenticated to the cluster and issuing a start of a TaskRun/PipelineRun. In the case of the CLI, it would be whoever is running it locally.

I think, at the very least, it presents a way for this information to

[2020-02-14 19:56] sbwsg commented on #1978
Yup this is definitely still open for debate!  If there were clear reasons to support it I'd be open to implementing it in future.

Just to clarify here - the variable interpolation syntax isn't explicit enough for these use cases?  Is the issue that it requires parsing a string to capture the dependencies?

[2020-02-14 20:08] bobcatfish commented on #2049
Hey @TheodorAtBud I tried to reproduce this but I'm afraid I couldn't!

I tried making this TaskRun to reproduce it (modified version of https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/workspace-volume.yaml):

[code]

I moved the `workspaces` declaration around but it didn't make any difference. I'm also pretty sure that the content is sent to the API server, and later to the Te

[2020-02-14 20:45] shiyu-dong opened #2053 "Cloud Event Resource on pipeline completion"
Hello,

This is a follow up on #1922 . I was looking at [Cloud Event Resource](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#cloud-event-resource) which can send a request to a target `URI` upon `TaskRun` completion.

Is there a similar mechanism for `PipelineRun` completion too? i,e. I want to receive some API call when a pipeline run completes. I could potentially send a clo

[2020-02-15 05:17] anxinyf opened #2055 "Add Restful API document"
# Expected Behavior
Document to describe restful api.

# Actual Behavior
In docs, there's no rest api document.

# Additional Info
I have written the rest api document for Triggers, Dashboard and Pipeline. If need, I will commit these in docs folder.

[2020-02-17 06:07] vincent-pli commented on #1513
Could be close, fix by #1894

[2020-02-17 07:34] hantmac opened #2056 "Run the kubectl apply command to install Tekton Pipelines and its dependencies failed"
# Expected Behavior
Run the kubectl apply command to install Tekton Pipelines and its dependencies successed.
# Actual Behavior
[code]
# Steps to Reproduce the Problem

1. Exec `kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml `

2.Failed

# Additional Info

The public cloud I used is Alibaba Cloud.

[2020-02-17 09:16] vdemeester commented on #2049
/kind question

[2020-02-17 09:16] vdemeester commented on #2055
/kind documentation

[2020-02-17 13:49] bobcatfish opened #2057 "Add workspace-like support for block devices"
# Expected Behavior

With [workspaces](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#workspaces), users can declare files they need at Task authoring time, and users can satisfy those requirements at run time with PVCs, emptyDirs, etc.

They should similarly be able to declare when a Task requires a block device, and provide the volume that satisfies this at runtime.

# Actual Beh

[2020-02-17 13:55] bobcatfish opened #2058 "Remove "volumes" from Task"
# Expected Behavior

`Task` authors should declare when they need files (workspaces) + block devices (#2057 ) but they should leave it to the TaskRun to provide these.

# Actual Behavior

Having `volumes` as a field in `Tasks` means that `Task` authors are dictating at `Task` authoring time what volumes will be provided to a `Task`.

# Additional Info

We should remove [Volumes from the TaskSpec](

[2020-02-17 13:58] vdemeester commented on #2058
/area api
/kind cleanup

[2020-02-17 14:00] vdemeester commented on #2058
I like that idea, I wonder if we should do this for `v1alpha2` directly (hence having this in 0.11) :wink:

[2020-02-17 14:00] vdemeester commented on #2058
Putting it in the milestone to make sure we discuss it quickly :angel:

[2020-02-17 14:00] vdemeester commented on #2057
/kind feature
/area api

[2020-02-17 14:42] zertan commented on #1983
Hi, can I use any other git repo provider (such as a local one) with the tekton pipeline git resource?

[2020-02-17 15:08] vdemeester commented on #1940
This can be closed :stuck_out_tongue:
/close

[2020-02-17 15:08] #1940 closed

[2020-02-17 18:55] skaegi commented on #2050
re: comprehension -- yes,  that's where my head is at too

[2020-02-17 18:59] skaegi commented on #2058
Apart from the block device case the only other case I can think of is volume as a task implementation detail that we don't allow customization of... but that sort of weak.

[2020-02-18 04:46] tomgeorge opened #2062 "GitHub status upload/download should use a combined status instead of a list of all statuses"
# Expected Behavior

When using a PullRequest resource, I expect to have the most recent check statuses available to me in a pipeline

# Actual Behavior

A ref can have multiple statuses with the same label,  and `Download`/`toDisk` writes the last occurence of the returned statuses to disk, which is not always the most recent one.  Using `FindCombinedStatus` instead of `ListStatuses` fixes this p

[2020-02-18 04:46] tomgeorge commented on #2062
/assign

[2020-02-18 05:34] tomgeorge commented on #2062
I started working on this and it works for Github, but basically none of the other git drivers implement `FindCombinedStatus`.

And you can't implement "use latest status" login in tekton itself without changing the jenkins-x go-scm code.  Tekton only knows about the `scm.Status` struct, which does not have the created at/updated at fields.  Those are in an internal struct in the various git provi

[2020-02-18 05:34] tomgeorge commented on #2062
/unassign

[2020-02-18 08:02] vdemeester commented on #2062
/kind feature

[2020-02-18 09:25] vdemeester commented on #2056
/kind question

@hantmac from the logs, it seems there was a previous installation of Tekton Pipelines and it is still being terminated (` unable to create new content in namespace tekton-pipelines because it is being terminated`). This is a kubernetes problems I feel, for some reason the `tekton-pipelines` namespace doesn't get terminated (or maybe with time it did).

[2020-02-18 09:29] hantmac commented on #2056
Yeah, the namespace still being terminated since I  delete it, and  I followed this page https://medium.com/@newtondev/how-to-fix-kubernetes-namespace-deleting-stuck-in-terminating-state-5ed75792647e to force to delete the namespace of tekton-pipeline and re-install successfully. Thanks for your reply very much!

[2020-02-18 09:29] #2056 closed

[2020-02-18 09:36] vdemeester commented on #1979
I think this can be close as #2048 got fixed
/close

[2020-02-18 09:36] #1979 closed

[2020-02-18 10:19] vdemeester commented on #2055
Duplicates #1250

[2020-02-18 10:24] zeromsi opened #2063 "Secret example for Gitlab and oauth;!basic-auth"
kind/question

[2020-02-18 10:49] vdemeester commented on #1919
/assign

[2020-02-18 10:50] vdemeester commented on #1856
This is now the case as #1987 is merged :wink:
/close

[2020-02-18 10:50] #1856 closed

[2020-02-18 10:53] #2031 closed

[2020-02-18 14:50] sbwsg commented on #1983
@zertan Yes it should work with any git repo.  But you might find the git-clone task from the catalog more useful: https://github.com/tektoncd/catalog/tree/master/git

The git pipelineresource can be difficult to inspect/debug when there are problems fetching from a repo.

[2020-02-18 14:57] anxinyf commented on #2055
That will be great to generate doc, like swagger or other tools.

[2020-02-18 15:43] bobcatfish commented on #2031
Looks like this was the same as #1830 !! Thanks for catching and fixing this @itoutki ! ❤️

[2020-02-18 15:44] bobcatfish commented on #1830
Looks like this was fixed in https://github.com/tektoncd/pipeline/pull/2034 thanks again @itoutki !!

[2020-02-18 15:44] #1830 closed

[2020-02-18 15:49] bobcatfish commented on #2055
Note I think this is a duplicate of https://github.com/tektoncd/pipeline/issues/1250

[2020-02-18 15:50] bobcatfish commented on #1250
Going to close this as a duplicate of https://github.com/tektoncd/pipeline/issues/2055 which has an open PR against it currently and covers the same thing

[2020-02-18 15:52] bobcatfish commented on #1401
With #1673 this has completely changed, going forward folks will likely be using Tasks to checkout from git so:

1. it will be explicit when the pull is happening
2. the results will show the actual commit that was pulled

[2020-02-18 15:52] #1401 closed

[2020-02-18 15:55] bobcatfish commented on #1538
Current state:
- CI uses vendor/ dir and doesn't download (~50% faster than pulling)
- We support go modules, but you are still expected to keep the vendor dir in sync

We feel like this is okay for now

[2020-02-18 16:06] sbwsg opened #2065 "Should we keep the vendor directory or not?"
Since we migrated to go modules a while ago there's been a lingering question of whether we should keep the `vendor` directory or not.  It seems like there are several benefits to keeping it:

1. CI runs faster than if it re-fetches all the deps every time it runs.
2. Some developers are required to include the vendor directory per their company's policies.

This issue is intended to focus the con

[2020-02-18 16:08] TheodorAtBud commented on #2049
@bobcatfish Sorry for the late response.
I will go and reproduce this again and post here more info,

[2020-02-18 16:10] anxinyf commented on #2055
Yes! I didn't know this issue #1250 before. But These api docs(Pipeline/Dashboard/Triggers) are wrriten manually, maybe some tools are better, like swagger.

[2020-02-18 16:14] bobcatfish commented on #937
Oh! https://github.com/tektoncd/pipeline/pull/1545 fixed this after all (apparently causing sorrow for folks who were relying on this implementation detail 😅 ) but good in the long run!!!

[2020-02-18 16:14] #937 closed

[2020-02-18 16:29] bobcatfish commented on #1986
Could use the configuration we use currently for pipelineresources (or similar): https://github.com/tektoncd/pipeline/blob/master/docs/install.md#how-are-resources-shared-between-tasks

[2020-02-18 16:30] bobcatfish commented on #1986
Discussed in beta working group and it doesn't feel like we _need_ this for beta at least, so we want to wait until a user indicates they definitely need this functionality.

[2020-02-18 16:36] sbwsg opened #2066 "Document how people using Task's volumes field can migrate to Workspaces"
We are considering removing volumes from Tasks.  See issue https://github.com/tektoncd/pipeline/issues/2058

If we're going to do this then we should document the path for users who are currently employing the Volumes field to migrate over to Workspaces instead.

[2020-02-18 16:49] bobcatfish commented on #2057
Discussed in beta working group, folks could continue to use podTemplates to accomplish this, even if we went ahead to remove Volumes in #2058, so this isn't a blocker for beta.

[2020-02-18 17:12] #1919 closed

[2020-02-18 19:33] #1739 closed

[2020-02-18 20:02] nishpa214 commented on #1978
Right, it requires some parsing to capture the dependencies.

Though thinking about it more, I guess `from` would just indicate that there is a dependency on one more tasks, UIs/clients would still need to figure out the why. So its not perfect either.

[2020-02-18 21:02] #1568 closed

[2020-02-18 21:02] #2037 closed

[2020-02-18 21:04] jbarrick-mesosphere opened #2069 "Support "debug" mode for TaskRuns"
Sometimes it would it useful to be able to `exec` into a running task environment to debug it. Currently, I would accomplish this by modifying the command being run with a long sleep or similar before running.

It would be useful to add a `TaskRunSpec.DebugMode` boolean into the `TaskRunSpec` (similar to the existing `TaskRunSpec.Status`) that when set would make the entrypoint pause rather than e

[2020-02-19 08:10] vdemeester commented on #2069
/kind feature

[2020-02-19 15:48] danielhelfand opened #2071 "Add e2e Test for Having a LimitRange"
#2020 added the ability for TaskRuns to apply a LimitRange minimum for container resource requests if a LimitRange container minimum in present in the namespace where the TaskRun is running. There should be a test for running a PipelineRun/TaskRun in a namespace with a LimitRange container minimum specified.

This would require a namespace to be created and adding a LimitRange to that namespace. B

[2020-02-19 15:51] skaegi opened #2072 "Support Step life-cycle hooks in a "listener" Sidecar"
A frequent request we are hearing from users, is the ability to watch and react as the Steps of a Task proceed without having to necessarily hard-code that logic into Steps. For example firing a Slack message when a particular Step completes or updating a PR as various tests complete.

I wonder if we might re-use a mechanism similar to https://kubernetes.io/docs/concepts/containers/container-lifec

[2020-02-19 15:59] kav commented on #1493
I'm seeing this in the wild on a shared cluster and am definitely a yes

[2020-02-19 16:00] sbwsg commented on #2072
Relates to https://github.com/tektoncd/pipeline/issues/1460 I think.

[2020-02-19 16:09] danielhelfand opened #2073 "Add e2e Test for PipelineTask Timeout Specified"
#2038 introduced the ability to define Timeouts for PipelineTasks. There should be an e2e test that covers a PipelineRun failing since a PipelineTask timeout is exceeded for a TaskRun associated with the PipelineRun.

The TaskRun should fail with a status indicating the Timeout was exceeded, and the PipelineRun should have a failed status due to the TaskRun failing.

[2020-02-19 16:41] tomgeorge commented on #2062
@vdemeester is this a bug instead of a feature?  You cannot rely on `pullrequest-init` to get the most recent status for each check in a PR.

[2020-02-19 18:38] danielhelfand opened #2074 "Add ContainerState to SidecarState"
Related issue is [tkn taskrun describe, doesn't show any sidecar info #655](https://github.com/tektoncd/cli/issues/655) in the CLI repository.

The gist of the issue is that `tkn tr desc` doesn't show any information about sidecar containers that are part of a TaskRun. It would be nice to be able to show as part of a TaskRun description the name and state of the sidecar container.

This would also

[2020-02-19 19:41] skaegi commented on #1393
I just noticed I never came and updated this issue. For beta (and for the rest of time) we will continue to have `type` which is currently limited to `string` and `array`. In the future when we have full jsonpath support I would like to expand this list to include `object`, `boolean`, and `number`. Even further in the future we can consider also supporting using a `schema` to further restrict the

[2020-02-19 19:47] chanseokoh commented on #2013
What's the answer going forward, when the flag is set or not set?

[2020-02-19 19:48] danielhelfand commented on #2074
/assign

[2020-02-19 20:07] sbwsg commented on #2013
With this new flag Tekton will no longer interfere with HOME - it will be whatever you expect it to be when the container runs in a Pod.

Previously $HOME would have been set to /tekton/home but now it won't be. So I would expect `$HOME/.docker/config.json` to be written to `/root/.docker/config.json` if the user is root and the image doesn't specify its own HOME.

[2020-02-19 20:10] ravenchilde commented on #1328
Also waiting on this, our Corp uses our own CA to sign the Git repo certificate. Our machines and servers all have this CA loaded, but I can't find a reasonable way to make Jenkins-X work with this.

[2020-02-19 20:29] sbwsg commented on #1328
For sslVerify specifically we already have that parameterized.  It's the `sslVerify` param mentioned here: https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#git-resource

When `sslVerify` is set to false the git resource will tell `git` to ignore certificate errors.

[2020-02-19 21:58] dibyom commented on #2073
/area testing

[2020-02-19 21:58] dibyom commented on #2072
/kind feature

[2020-02-19 22:06] dibyom commented on #2072
Somewhat related to #1740

Perhaps we can emit CloudEvents that the entrypoint can send to some user defined sink?

[2020-02-19 22:06] dibyom commented on #2071
/area testing

[2020-02-19 22:07] dibyom commented on #2063
Can you please describe in more detail what you are looking for?

[2020-02-20 03:05] liangyuanpeng commented on #2039
yes, It's solved my problem
thank you  :)

[2020-02-20 16:33] bioball opened #2077 "Webhook error when creating a Pipeline without a taskSpec or taskRef"
# Expected Behavior

Creating a pipeline whose tasks are missing a taskSpec or taskRef should fail with a validation error.

# Actual Behavior

This is the result:
[code]

# Steps to Reproduce the Problem

1. Create a pipeline whose tasks are missing `taskRef` or `taskSpec`:
[code]

[2020-02-20 16:34] sbwsg commented on #2077
/kind bug

[2020-02-20 16:35] danielhelfand opened #2078 "Add SidecarState to Test Builder"
Similar to what is available under [test/builder for StepState](https://github.com/tektoncd/pipeline/blob/4e9380fe0d0e7ce862ff23781f614ad8e6de9faf/test/builder/task.go#L342), there should be a SidecarState that follows the exact pattern for StepState. This will help with unit testing for the CLI, specifically the `tkn taskrun describe` command but can be used more generally for testing with sideca

[2020-02-20 16:45] sbwsg commented on #2077
Hrm.  We do have some validation around missing both taskRef and taskSpec.  The error message looks more like the webhook hasn't started up yet or there is some kind of routing error to the webhook service.

[2020-02-20 17:08] sbwsg commented on #2077
@bioball Could you check on the status of the webhook?  You should be able to do this with `kubectl get -o yaml -n tekton-pipelines deployment tekton-pipelines-webhook`

And then if there's a webhook pod as well can you grab the logs from it with `kubectl logs -n tekton-pipelines -l app=tekton-pipelines-webhook`?

[2020-02-20 17:21] siamaksade opened #2079 "Embed condition spec into pipeline"
# Expected Behavior
Allow embedding conditions into the pipeline spec so that a pipeline could contain all relevant task, resource and conditions specs that it uses.

# Actual Behavior
Conditions are currently referenced from a pipeline.

[2020-02-20 17:28] bioball commented on #2077
I don't think this is an error around networking or deployment of the webhook; it actually creates the pipeline successfully if I change the yaml to include a `taskRef`.

Here's the status of my deployment:

[code]

Here's the logs:

[code]

FYI: this is running off the v0.10.0 release.

[2020-02-20 17:37] sbwsg commented on #2077
Aah got it.  Could you try updating to 0.10.1?  I believe we had a couple nil pointer issues in 0.10 that were
 resolved in the patch release.

[2020-02-20 18:48] ravenchilde commented on #1328
Fantastic news... now... can I figure out where to configure that in Jenkins-X... 🤓

[2020-02-20 22:20] dibyom opened #2080 "Set Ready annotation during pod creation for Taskruns with no Sidecars"
## Context

Jason has a really nice description of this in the Problem section of #1569. But in short, today a step in a Taskrun waits to start until it sees a "READY" value that is populated by the Taskrun controller using the Downward API. The controller waits for all sidecars to be up an running setting the annotation.

### Suggestion

For taskruns without sidecars, the controller should be abl

[2020-02-20 22:23] dibyom commented on #2080
I was chatting about this with @sbwsg who mentioned that one of the reason the sidecar logic is the way it is today is to support injected sidecars such as istio. Since the TaskRun controller does not know about any injected sidecars until the pod has been created, implementing the suggestion will mean we break support for injected sidecars.

An alternative:
We can make this an option that the ope

[2020-02-20 22:29] nishpa214 commented on #2080
Ah, interesting. I hadn't thought of that use case.

Yeah, we don't have an istio setup, so controlling this via a configMap sounds like a good path forward.

[2020-02-20 22:41] dibyom commented on #2080
Yeah, the config can default to the current behavior and those needing better performance and not using injected sidecars can use the config option for this optimization. What do you think @sbwsg

[2020-02-21 00:19] pierretasci opened #2081 "Make it obvious from the docs that emptyDir workspaces are not passed from task to task"
The current docs for workspaces mention that `emptyDir` is an option for a volume that can back a workspace. It is implicit in this that the `emptyDir` won't be the same `emptyDir` from one task to another and thus user's should not expect anything placed in there to persist.

I believe this should be made explicit so that people don't get confused.

[2020-02-21 13:27] bobcatfish commented on #2053
I think that's your best option right now unfortunately! But a couple things are on the way that will make this better:

* https://github.com/tektoncd/pipeline/issues/1684 is in progress and will be adding a syntax that you could use to run on failure / as a "finally" + @dibyom @pritidesai @sbwsg
* We do want to emit events throughout execution but we don't actually have an issue explicitly about

[2020-02-21 13:31] bobcatfish opened #2082 "Optionally emit events during execution"
# Expected Behavior

Although a user can use [the CloudEvent PipelineResource](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#cloud-event-resource) to emit events during a TaskRun or PipelineRun, some folks may want this to happen by default, for significant events such as:

* Starting execution
* Finishing execution
* Condition skipped
* ....?

# Actual Behavior

[The CloudEve

[2020-02-21 13:32] bobcatfish commented on #2053
I've added #2082 about emitting events during execution!

[2020-02-21 13:33] bobcatfish commented on #2053
One more thought, @afrittoli created a demo with the functionality you are describing, and I think what he ended up doing was in the case of a failure, he didn't actually fail the Pipeline, he instead "passed" the pipeline but included information about the failure in the CloudEvent, and then the Pipeline that finally handled it (via triggers) was the one that looked at the data and decided whethe

[2020-02-21 13:47] bobcatfish commented on #2081
@pierretasci do you think it would be enough to link to the docs on `emptyDir` or do you feel like we should do more?

It's an odd one b/c if you have seen `emptyDir` in kubernetes, you'd know that it's a pod specific thing, but you wouldn't if you aren't as familiar with kubernetes :thinking:

One thing I definitely think tho is that when we link workspaces (#1936) if a user tries to provide `emp

[2020-02-21 13:48] bobcatfish commented on #2079
We're already embedding everything else so this seems reasonable!

@siamaksade out of curiousity, are you doing a lot of spec embedding? imo for "best practices" (whatever that means: here I think it just means practices Christie likes XD) embedding should be the exception, not the norm (less reusability!)

[2020-02-21 13:52] bobcatfish commented on #2073
Just a side note (+ reviewers @sbwsg @vdemeester ) that in general we try to include the tests for the feature we're adding in the same PR as we add the feature (https://github.com/tektoncd/community/blob/master/standards.md#principles)

[2020-02-21 13:52] bobcatfish commented on #2073
Are you planning to add this as well @danielhelfand aka can I assign it to you?

[2020-02-21 13:54] bobcatfish commented on #1460
I've opened #2082 to track emitting events during execution, that feels to me like it would be enough to resolve this issue, but before I close it, what do other folks think?

[2020-02-21 13:54] bobcatfish commented on #2072
This does sound to me like what "notifications" are about, what do you think @skaegi ?

To summarize, open issues that might solve this:
* #2082 - Emit events during execution
* #1740 - Notifications and actions

[2020-02-21 14:01] bobcatfish commented on #1740
Question: what does "Action" mean in this context? Is the idea of an action meant to be the combination of a trigger + the thing to run in response to the trigger? Would the "Action" being executed be a PipelineRun/TaskRun or something else?

If the idea is to link an executing Pipeline/Task with other Pipelines/Tasks via events then I think that this could be generalized a step further into a way

[2020-02-21 14:18] bobcatfish commented on #1965
Looks like https://github.com/tektoncd/pipeline/pull/1387 was merged without docs :crying_cat_face:

Reminder that we want to include tests and docs (when appropriate) with every change we make https://github.com/tektoncd/community/blob/master/standards.md#principles

[2020-02-21 14:44] pierretasci commented on #2081
Actually I'm going to withdraw this issue around the documentation because I actually think the docs are clear enough here even if you don't know `emptyDir` volumes in Kubernetes:

It is perhaps a bit unfortunate that the `PipelineRun` and `TaskRun` docs for workspaces don't match here. Perhaps the real issue is to make Workspaces their own doc.

I think you make a really good point about validati

[2020-02-21 14:50] #2078 closed

[2020-02-21 15:37] danielhelfand commented on #2073
@bobcatfish Apologies for moving a bit too fast on this and will know for the future. Yes, I would be more than happy to pick this up.

/assign

[2020-02-21 16:20] bobcatfish commented on #1740
(Unless an action IS a notification, and "action" is a more generic name?)

[2020-02-21 17:06] bobcatfish commented on #2057
... i did NOT mean to close this wow

[2020-02-21 17:45] skaegi commented on #2072
Yes. I guess what I was trying to figure out is if there was some pre-existing approach in Kubernetes that we could use to "act" on the events.

[2020-02-21 19:03] bioball commented on #2077
0.10.1 fixed it! This is the error that I see now:

[code]

[2020-02-21 19:03] #2077 closed

[2020-02-21 19:35] siamaksade commented on #2079
@bobcatfish We do. The rationale is that some conditions are intimate details of how a particular task should execute in a particular pipeline. For those, an referenced object is not attractive since it will never be re-used by any other pipeline.

The other aspect of it is `PipelineRun` which should be a snapshot of the execution of a particular pipeline at some point in time. Referenced resource

[2020-02-22 11:35] JCzz opened #2087 "How to use github token"
From:
https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#guiding-credential-selection

I dont see how to use a token from like Github?

[2020-02-23 01:43] shiyu-dong commented on #2053
Thanks for getting back! The demo that @afrittoli had seems to be a little bit hacky and doesn't seems to be a generalizable solution to apply for different pipelines. I think #1684 with a "finally" block will do the trick :)

[2020-02-23 03:35] zeusro opened #2088 "Please support build cache in PipelineResources"
# Expected Behavior

Mount build  cache (such as
`/root/.gradle/caches/modules-2/files-2.1/`
`/root/.m2/repository/`) into build environment

# Actual Behavior

PipelineResources have not such option.

# Steps to Reproduce the Problem

None.

# Additional Info

[2020-02-23 03:44] zeusro commented on #2088
Sorry,I just found  that `Tasks ` support `volume `,is that what I want ?

[2020-02-23 15:49] skaegi commented on #2057
Hmm... after playing with the  podTemplate technique one issue is that the definition is in the "taskrun" but the mounting is in the "task". Still a possible workaround but we really should add this support shortly.

[2020-02-24 09:44] vincent-pli commented on #1493
I think it's definitely needed, but behavior for `Evicted` pod in kubernates seems not stable:
https://github.com/kubernetes/kubernetes/issues/88304
https://github.com/kubernetes/kubernetes/issues/55051

I have tried the case, but the `Evicted` pod has no `.Status.Reason` with `Evicted` value, but the official said it is.

Anybody hit the same issue?

[2020-02-24 12:08] vdemeester commented on #2087
/kind question

[2020-02-24 12:08] vdemeester commented on #2087
/kind documentation

[2020-02-24 14:36] mnuttall commented on #1784
/close

[2020-02-24 14:36] #1784 closed

[2020-02-24 16:06] dibyom commented on #2088
/kind question

[2020-02-24 16:08] dibyom commented on #2088
A volume or workspace sounds like what you need.
https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#workspaces

Feel free to reopen this issue (or ask on slack) if it does not solve your use case

[2020-02-24 16:08] dibyom commented on #2088
/close

[2020-02-24 16:08] #2088 closed

[2020-02-24 16:08] dibyom commented on #2082
/kind feature

[2020-02-24 18:27] n3wscott opened #2093 "Tekton variable expansion seems to have issues."
Found two things:

Given,

[code]

1. Templates that have nested refs do not fully resolve.

ie, the value of FOOBARBAZ will not fully resolve some times, and will be `$(params.FOOBAR)-baz`

2. Order seems to matter. Sometimes a run will have the value of FOOBAR as `foo-bar` and other times it will be `$(params.FOO)-bar` like `params.FOO` has not been processed yet.

[2020-02-24 20:10] danielhelfand opened #2095 "PipelineTask Names Can Be Created That Violate TaskRun Naming Rules"
When creating a Pipeline that has PipelineTasks, you can give each PipelineTask a name that differs from a TaskRef's name:

[code]

The PipelineTask names can include capital letters, such as in the example above. If someone does this, the TaskRuns associated with the PipelineRun for the Pipeline above will get the following error:

[code]

This error above occurs since TaskRun names must be lower

[2020-02-24 20:10] danielhelfand commented on #2095
/kind bug

[2020-02-24 22:08] skaegi commented on #2093
/assign

[2020-02-24 22:18] skaegi commented on #1530
In #1393 we've been looking at adding support for types other than strings to params. We'll hit a similar problem if we put a value like `$(inputs.params.someBoolean)` in a field that expects a bool. For a concrete example of where that might be useful is in parameterizing security context for a particular Step. https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#securitycontext-v

[2020-02-24 22:19] skaegi commented on #1530
More thoughts on using a flexible parameterized type...

When we unmarshal Tasks and Pipeline we do so directly into the target types we need at  "run" time. For example each Step in a Task is unmarshaled directly into a corev1.Container. I'd propose we instead unmarshal into a more flexible intermediary "template" or "parameterized" type that would let us support the above parameterization cases.

[2020-02-24 22:38] skaegi opened #2096 "Beta API and Support for Flexible Parameterized Types"
My concern is about API, specifically the golang API and the OpenAPI it might generate for Beta. The current Task and Pipeline types embed the target "run" types as holders where we do parameterization. I think it's likely that before GA Tekton will have more flexible support for parameterization and am trying to figure out how we can avoid a future API breakage -- also see #1530.

I don't think t

[2020-02-24 23:55] zeusro commented on #2088
Thanks!

[2020-02-25 07:41] #2073 closed

[2020-02-25 07:47] vdemeester commented on #2096
I am not sure I get that :thinking:.

The beta API is about the CRDs and the CRD only — the field and their meaning. How the struct are "implemented" (aka a go struct, a java *bean*, a rust struct, …), is a different beast and, as far as I understand, isn't cover by the *beta support level*. This mean we could change the entire struct (or even the language we use) and still support the API.

So fo

[2020-02-25 07:51] vdemeester commented on #1530
This is more or less what we did for the support of `composefile` in the `docker` cli (see [here](https://github.com/docker/cli/tree/master/cli/compose)). In order to support interpolation almost everywhere and support type, we do unmarshall into a *boosted `map`*, do the interpolation, and re-unmarshall it into the real struct.

[2020-02-25 07:54] vdemeester commented on #2093
Thanks @n3wscott.

The first one is definitely something we do not support at that point of time.
The second seems to be a bug as it should work.

Few questions:
- which version of tekton are you using ? of the api (I guess `v1alpha1`) ?
- is this only on `Pipeline` / `PipelineRun` objects or also on `Task`/`TaskRun` ?

/kind bug
/kind feature

[2020-02-25 10:23] vdemeester commented on #2095
/assign

[2020-02-25 11:19] #2074 closed

[2020-02-25 12:35] euprogramador opened #2100 "Inconsistent pipelineRun visualization"
when viewing a pipelineRun, the steps that make up the pipeline are presented.

![2020-02-25_09-21](https://user-images.githubusercontent.com/264692/75247252-431c2500-57b0-11ea-825c-26c9fa69da87.png)

When modifying pipeline one by adding a new step, the pipelineRun view is modified by adding the task in previous instances.

![2020-02-25_09-25](https://user-images.githubusercontent.com/264692/7524

[2020-02-25 14:00] danielhelfand commented on #2071
/assign

[2020-02-25 15:13] n3wscott commented on #2093
I am using the latest release yaml, v1alpha1

It seems to be easer to hit when using Pipelines, but I can get it to happen with Task too but less.

[2020-02-25 15:53] vdemeester commented on #2093
@n3wscott can you share your yamls to reproduce it ?

[2020-02-25 15:57] vdemeester commented on #2100
Hey @euprogramador, thanks for the issue.

I think this shouldn't be in this repository as it is about the openshift devconsole, so it should be created under the [`openshift/console`](https://github.com/openshift/console) repository.

That said, it's a know design issue. For the run started from the `cli` we will embedded the specs by default to make sure this doesn't happen. That said, we may ne

[2020-02-25 16:45] bobcatfish commented on #1961
@sbwsg I think you mentioned you were working on updating the existing git Task in the catalog - would it make sense to assign this to you?

[2020-02-25 16:58] bobcatfish commented on #1145
Thanks for this @tomgeorge ! I think #2000 solves this issue so I'm going to close it but please re-open if I'm wrong :D

[2020-02-25 16:58] #1145 closed

[2020-02-25 17:17] n3wscott commented on #2093
yeah, I have reworked this a few times, but an older stapshot: https://github.com/n3wscott/chatbot/commit/67ac3c226fbfdc09e171ffb28a95c31f2a3040c4#diff-34cd834803c97715e915dd79c582e49cR54

and a workaround example: https://github.com/n3wscott/chatbot/blob/master/runs/release-0.13/run-update-toml-deps-sample-controller.yaml#L36

[2020-02-25 21:19] skaegi commented on #1530
Excellent thanks for the reference...

[2020-02-25 21:44] skaegi commented on #2096
Ok great. I think we can close this then.

[2020-02-25 21:44] #2096 closed

[2020-02-26 04:42] mattmoor commented on #1974
We've migrated effectively everything in Knative to use `// +genreconciler` now, and this captures a lot of the best practices we've accumulated over the years in ways that makes it hard to "hold" wrong.  Let us know what support we might provide if you choose to adopt this.

[2020-02-26 07:25] ssvinoth22 opened #2106 "Is it possible to read run time values from file and replace in the tasks or pipeline?"
# Expected Behavior
Like having variables.yaml file in each repositories (key value for deployment eg, resources, env, imageurl, app name etc ) replace during tasks or pipeline

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-02-26 08:20] vdemeester commented on #1961
@bobcatfish work is happening here : https://github.com/tektoncd/catalog/pull/188

[2020-02-26 10:03] ssvinoth22 opened #2107 "mutation failed: cannot decode incoming new object: json: unknown field "results""
# Expected Behavior
        Tasks with results are suposed to be reused..
# Actual Behavior

Error from server (InternalError): error when creating "task/datetime.yaml": Internal error occurred: admission webhook "webhook.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "results"

# Steps to Reproduce the Problem

[code]

# Additional Info

[2020-02-26 10:46] vdemeester commented on #2107
@ssvinoth22 Thanks for the issue. Quick question : what version of tekton is deployed on your cluster ? `results` in the `Task` spec is only supported since the `0.10.0` release.

/kind question
/triage needs-information

[2020-02-26 14:11] sbwsg commented on #2080
That sounds to me like a solid approach to take!

[2020-02-26 14:35] sbwsg commented on #1460
Yeah agreed - I think we've decomposed this larger idea into a number of smaller issues including the new event emitting one. I think it's safe to close.

[2020-02-26 15:14] bobcatfish commented on #2058
That's a good point @kav ! Do you have a sense for whether you'd rather declare that kind of information at Task authoring time, or at runtime?

[2020-02-26 15:20] bobcatfish commented on #2026
I think this is a duplicate of https://github.com/tektoncd/pipeline/issues/1222 (plz re-open if not!)

[2020-02-26 15:20] #2026 closed

[2020-02-26 15:22] sbwsg commented on #2058
This is a usecase for workspaces that I've been thinking about a lot recently!  It would be cool if you could define workspaces in a TaskRun that are not mentioned at all in a Task and then Tekton would include those workspaces in the step containers as well.  Static configs from secrets are a great use case of where this could be useful.  I was thinking about it in terms of the .ssh directory but

[2020-02-26 15:29] bobcatfish opened #2110 "Testing automation"
Trying to setup https://github.com/philschatz/project-bot (thanks @vdemeester ! ) to automatically add issues to https://github.com/orgs/tektoncd/projects/3, want to see if it works

[2020-02-26 15:29] bobcatfish commented on #2110
IT WORKED yaaaassss this was shockingly easy

[2020-02-26 15:29] #2110 closed

[2020-02-26 15:50] bobcatfish commented on #1290
@vdemeester pointed out that this will be fixed in golang 1.14 in which `t.Logf` will not buffer! :D

[2020-02-26 15:50] #1290 closed

[2020-02-26 15:51] bobcatfish commented on #1285
Now that we have `workspaces` I think this is no longer relevant! + @sbwsg

[2020-02-26 15:51] #1285 closed

[2020-02-26 15:56] bobcatfish commented on #102
I'm not certain this issue is relevant anymore so I'm going to close it but please re-open if I'm wrong!

[2020-02-26 15:56] #102 closed

[2020-02-26 15:57] n3wscott commented on #2050
I also would like a feature like this but at the Task Step level where the input is an array, and for each element in the array it explodes out into n steps.

[2020-02-26 16:22] abayer opened #2111 "Controller can't be set to watch only a specified namespace"
# Expected Behavior

You can specify that the controller should only be watching for CRDs in a specified namespace, rather than all namespaces, so that you can have multiple controllers in the same cluster. This was possible from 0.3.0 until 0.6.0.

# Actual Behavior

From 0.6.0 onwards, you can't. =) Yes, I didn't notice this until way later. Whoops!

# Additional Info

So https://github.com/tekt

[2020-02-26 16:24] skaegi commented on #1836
Once @sbwsg commits #2044 I'm happy to do the same work for workingDir as I really want this for 0.11.

[2020-02-26 16:32] n3wscott opened #2112 "Add support for Task Step looping"
It would be interesting if I could create [0, n] steps inside a Task based on parameters:

Something like this Task spec:

[code]

would result in a Task run with output like:

[code]

[2020-02-26 16:33] vdemeester commented on #2112
It's a little bit linked to #2050

/kind feature

[2020-02-26 16:35] n3wscott commented on #2112
The real use case here is I wrote a tool that does a single thing (mutates a file) and I wrote a task to use that tool. But I found no way to call that tool for each usage I need inside of Tekton directly. I would have to either 1- create a task with a known # of steps, or 2- wrap it in a bash script.

I avoid the bash script because I am not trying to write bash here, I can use tekton and other t

[2020-02-26 16:44] desourav commented on #1983
It doesn't work despite creating a secret with the recommended annotation and data fields
[code]

[code]

[2020-02-26 16:45] danielhelfand opened #2113 "Improve Error Message From Running kubectl apply -f for PipelineRuns/TaskRuns"
When creating PipelineRuns/TaskRuns that use `generateName` with `kubectl`, `kubectl create` must be used as a new run is created each time. However, it is a common mistake to run `kubectl apply` and get the following error message:

[code]

For first time users, this is particularly confusing. It would be helpful to include a more descriptive error message to account for this scenario so users ca

[2020-02-26 16:50] bioball commented on #1838
Per our [Slack convo from earlier](https://tektoncd.slack.com/archives/CK3HBG7CM/p1582593514019700): another possible use-case for this is to be able to re-use a task with different sidecar definitions.

In my use-case, I have two task definitions that look *pretty much* the same, but the only difference is that one of the tasks uses sidecars, and another one does not. Here's a pretty contrived ex

[2020-02-26 17:22] rakhbari commented on #1986
My 2-cents... Any feature that assumes the ability to automatically create a PVC (PVs, attaching volumes, or anything to do with underlying storage resources of any kind) is a no-can-do for us. Any resource like that __must__ be pre-allocated and pre-created and its reference injected into a PipelineRun/TaskRun.

This is why Tekton pipelines simply wasn't usable for us here at eBay until the Works

[2020-02-26 17:30] vdemeester commented on #1986
It could be a configuration switch (that is on or off by default)

[2020-02-26 17:32] ImJasonH commented on #2112
This might also be an opportunity to invest in a DSL that supports syntactic sugar for loops and compiles down to unrolled steps/tasks. Nobody wants to be programming in Turing complete YAML. Even Bash is better than that.

[2020-02-26 18:09] hectotruj opened #2114 "Cant run multistep TaskRuns"
# Expected Behavior
For the following example, there should be two logs, one saying _Hello from Bash!_ and one saying _Hello from Python!_

# Actual Behavior
[code]
# Steps to Reproduce the Problem

1. Create `multistep-tas-run.yml` with the following code:
[code]
2. Apply `multistep-tas-run.yml` by running ` kubectl apply -f bluefringe-task-run.yml`
3. Log the TaskRun pod by running  `kubectl log

[2020-02-26 18:17] vdemeester commented on #2114
Hi @hectotruj, the error `error: a container name must be specified for pod multistep-task-run-pod-8jbfg, choose one of: [step-ubuntu-echo step-python-echo] or one of the init containers: [place-scripts place-tools]` means there is more than one container (for the pod you are trying to see the logs). For these cases, you either need to specify the container name or use the `--all-containers` flag

[2020-02-26 18:28] hectotruj commented on #2114
Got it, thank you!

[2020-02-26 18:28] #2114 closed

[2020-02-26 19:48] skaegi commented on #1463
[WIP] I was doing work on this here -- https://github.com/skaegi/pipeline/commits/parameterizable_validation
See https://github.com/skaegi/pipeline/commit/3db99e4b1f9f20bf9c27b9e6bcb79f74476f7014

I'll get back to this post-beta

[2020-02-26 21:26] othomann commented on #1836
I am preparing a PR for the workingDir change.

[2020-02-26 21:26] bobcatfish commented on #2112
This is an interesting idea @n3wscott ! One thing that might help is to ground us in a use case, do you have an example of a Task that you'd create if you had the ability to loop with steps?

[2020-02-26 21:55] othomann commented on #1836
@sbwsg @skaegi @bobcatfish I created https://github.com/tektoncd/pipeline/pull/2115 to take care of the working directory pending change.

[2020-02-26 23:48] ssvinoth22 commented on #2107
It worked after upgrade... but upgrade i have to delete the existing deployment and services of tekton and reapply... if i just apply latest release it remains unchanged...
One more question
 How do we pass variables.yaml file to templates? Do we have any feature for it? or do we need to use output resources to replace and use it all tasks?

[2020-02-27 08:11] eddycharly opened #2116 "Can we disable overriding HOME in v0.10.1 ?"
Is this possible to prevent tekton from overriding HOME environment variable in tekton 0.10.1 ?

If i'm not mistaken it will be possible the next release but in 0.10.1 i'm not sure if there's a way to do it.

[2020-02-27 11:34] zeromsi commented on #2063
Hi @dibyom
I got the solution,
In case of gitlab, instead of user name as username, we need to pass oauth as username. This is fishy.
[code]

[2020-02-27 11:34] #2063 closed

[2020-02-27 12:38] sbwsg commented on #2116
Unfortunately there's no way to do it in 0.10.1.  0.11 should be released very soon - most likely early next week at this point (I think).

[2020-02-27 13:10] sbwsg opened #2117 "Introduce ConfigMap watcher for feature-flags"
# Expected Behavior

Checking feature-flags shouldn't be a costly operation.  We could use a ConfigMap watcher to do this.  There's code demonstrating configmap watching in pipelines already.

# Actual Behavior

Each feature-flag lookup is a call to the kubernetes API for the flag value.

[2020-02-27 18:29] bobcatfish commented on #2058
Another use case maybe is sharing data between sidecars and steps, ala the docker in docker example https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/dind-sidecar.yaml

[2020-02-27 18:47] sbwsg opened #2119 "Optional Workspaces"
# Expected Behavior

A workspace can be declared by a Task but marked as optional.

This would be useful in the following scenario: A task wants to perform a git-clone. In order for the task to support both authenticated and unauthenticated clones the user should be able to choose whether an SSH credential is provided or not.  The task declares a workspace "ssh-directory" which is marked as option

[2020-02-27 18:56] sbwsg opened #2120 "Allow a TaskRun/PipelineRun to inject Workspaces even if they're not requested by a Task"
# Expected Behavior

A TaskRun or PipelineRun should be able to inject a Workspace into a Task's steps even if that Task does not declare an explicit Workspace requirement. The Run should be able to specify the mountPath where the Workspace is mounted in the container.  If both a Task and a Run declare a mountPath then the Task should win or this should be a validation error.

Use case: A user has

[2020-02-27 19:14] jorgemoralespou opened #2121 "Investigate whether annotations/labels should be copied from Pipeline to PipelineRun in all circumstances"
I'm creating some Pipeline and PipelineRun programatically and using [kapp](https://get-kapp.io/) for deploying. Kapp adds some annotations to the generated resources so that it can control how to update them. With Tekton I'm running into a problem as Tekton is copying the annotations from the Pipeline resource into the PipelineRun resource despite I'm creating it programatically, and hence it's o

[2020-02-27 23:02] dibyom commented on #2121
Maybe the right behavior here is that if the label/annotation is already set in the Run object, the pipeline/task controller should not overwrite it? If it is not already set, it can set it?

[2020-02-27 23:03] dibyom commented on #2121
/kind question

[2020-02-27 23:03] dibyom commented on #2120
/kind feature

[2020-02-27 23:03] dibyom commented on #2119
/kind feature

[2020-02-27 23:04] dibyom commented on #2116
(Please re-open if necessary!)
/close

[2020-02-27 23:04] #2116 closed

[2020-02-27 23:49] kav commented on #2058
Some of it is authoring related information around configuring this task for this environment and some falls under runtime. My taskruns are generated via triggers so I could put "configuration" info there?

Not sure that addresses step volume mount location being task side info. In essence the Task, by virtue of owning the container, is really the only one that can decide the "right" place for an

[2020-02-28 17:13] afrittoli commented on #2106
You can achieve that in a few ways. A couple of ideas:
- Expose the variables you need as parameters. When you run the pipeline, set the value of the parameters from your YAML file - you'll need a tool to do that. If you trigger the pipeline via `triggers` you can store your variables in a `TriggerBinding`
- Store you variables in a git repo or artifact storage. Mount those using a pipeline resour

[2020-02-28 17:24] afrittoli commented on #2100
@vdemeester @euprogramador I believe we should close this issue, and open a new one if we need a new feature to help visualization tools doing the right thing.

[2020-02-28 17:35] AlanGreene commented on #2100
We have the same issue with the dark launched visualization in `tektoncd/dashboard`, and will also have it in the current UI if we attempt to render the complete Task list for a PipelineRun before we have corresponding TaskRun status. The snapshot approach being taken by the cli is interesting but only benefits users where the PipelineRun is created via tkn.

[2020-02-28 21:42] akihikokuroda opened #2124 "The conditions with multiple same condition intermittently doesn't fail when one of the conditions fails"
# Expected Behavior

When one of the condition in the conditions in pipeline fails, the task associated with the conditions is not executed.

# Actual Behavior

When one of the condition in the conditions in pipeline fails, the task associated with the conditions is intermittently  executed.

This happens intermittently if the conditions has multiple conditions referencing the same condition.

# S

[2020-02-29 21:58] mattmoor opened #2125 "knative.dev/pkg make breaking change to apis.Convertible"
We've cut release-0.13 of knative.dev/pkg and one of the final changes was a breaking name change to the apis.Convertible interface to clarify the roles of the receiver/argument.

I believe it was ConvertUp/ConvertDown -> ConvertTo/ConvertFrom.

cc @dprotaso @vdemeester

[2020-02-29 22:10] mattmoor commented on #2125
This should also let you start to take advantage of some of the leader election work @pmorie has been doing.

[2020-03-01 11:58] vdemeester commented on #2125
/assign

Thanks @mattmoor , I saw that 🤗

[2020-03-01 22:43] skaegi opened #2127 "Simple if/conditional support for skipping"
A common pattern used in some of the pipelines we're migrating to Tekton, is to check which branch is being built, and if the branch name matches a particular string like "dev", perform some extra logic.

I'd like to propose adding support to Pipeline with either a simple `if` or augmenting the `conditions` to allow in-lined boolean logic to decide whether to skip a Task. What's important for this

[2020-03-02 00:35] vincent-pli commented on #2124
@akihikokuroda
I think you are right, since there is no `name` in `PipelineTaskCondition` so the `ConditionRef` treated as key.
Since the link between `pipelinerun` and `taskrun` for `condition` should be build for `reconcile`, so the `ConditionRef` is the only choice.

I think we need add `name` or just document it.
/cc @dibyom

[2020-03-02 01:52] ssvinoth22 commented on #2106
i have my values.yaml file in my repo, but how do i pass in step? i need to create a shell or python script to read and parse it accordingly right? there is no in build functions like helm charts values or jenkins values.yaml file...

[2020-03-02 07:28] vdemeester commented on #2127
/kind feature
/cc @dibyom

[2020-03-02 10:10] #2041 closed

[2020-03-02 11:24] rawlingsj opened #2128 "Reading updated Git Tokens in a Pipeline"
We noticed this issue when using GitHub Apps but the problem would affect any pipeline I think.  With GitHub Apps the token used to interact with GitHub is refreshed every hour, so if a pipeline runs for longer than the hour the `.git_credentials` file written during the `creds-init` step at the start of the pipeline becomes out of date for subsequent steps that need it.

Even though the issue is

[2020-03-02 11:27] rawlingsj commented on #2128
FWIW we're worked around the issue for now by reading the Git token directly from the secret in the pipeline when needed, this isn't ideal though as we don't want the pipeline service account to have permission to read secrets really.

[2020-03-02 11:40] garethjevans commented on #2128
Or an alternative could be to use a git credential helper that could read the token from the secret (or where ever it might be stored) when required?

[2020-03-02 14:36] sbwsg commented on #2013
Moving this issue over to next milestone. In the next release we plan to flip the behaviour of the feature flag so that Tekton no longer overwrites the HOME environment variable by default.

[2020-03-02 14:37] #1526 closed

[2020-03-02 15:24] kh-sonrai opened #2131 "Tasks with results fail if when docker containers do not run as root"
The /tekton/results directory is only writable by root, so images that do not run as root fail to create the directory. If any such docker image is included in a task, the task will fail with the following error if a results section is included in the task spec:
`Error creating the results directory: mkdir /tekton/results: permission denied`
 https://github.com/tektoncd/pipeline/blob/97a0c45e2db51

[2020-03-02 15:27] #2095 closed

[2020-03-02 15:50] vdemeester commented on #2131
/kind bug
/cc @othomann @sbwsg

[2020-03-02 15:57] dibyom commented on #2124
Yeah, this sounds like something that should work but doesn't so marking it as
/kind bug

[2020-03-02 16:34] othomann commented on #2131
I will be pleased to fix it as soon as I am done with the PR for pipeline results.

[2020-03-02 17:14] othomann commented on #2131
I have a fix for it, but I am not sure how to add a regression test for it.

[2020-03-02 17:15] sbwsg commented on #2058
From WG it sounds like we should mark this as deprecated before we wholesale remove.  If we are going to do this then I will add a notice to the 0.11 release.

[2020-03-02 17:31] sbwsg commented on #1867
Moving to the beta milestone.  We may well introduce this in an RC instead.

[2020-03-02 17:33] sbwsg opened #2132 "Figure out what needs to change in our release pipeline to support RC releases"
# Expected Behavior

Our release pipeline should support a version string such as "0.11.0-rc1".  Let's find out if it does.  If it doesn't then what changes need to be made?

[2020-03-02 18:35] sbwsg commented on #2132
/kind area/release

[2020-03-02 18:58] sbwsg commented on #2132
/add-label "area/release"

[2020-03-02 18:59] sbwsg commented on #2132
/label "area/release"

[2020-03-02 19:00] sbwsg commented on #2132
/label area/release

[2020-03-02 19:01] sbwsg commented on #2132
/kind bug

[2020-03-02 23:59] skaegi opened #2134 "Support using a PipelineTask in the Pipeline CRD to run other Pipelines the same way we run a Task (nest pipelines in pipelines)"
Pipelines group tasks together in a workflow. It would be incredibly useful to be able to re-use that mechanism to create sub-workflows.

Pipelines and Tasks both take Params, Workspaces, and generate Results so with a little work it should be possible to use a PipelineRef in place of a TaskRef when defining a Pipeline Task. For the other aspects required to generate a "sub"-PipelineRun these coul

[2020-03-03 00:23] booninite commented on #2112
Something like this example would represent what we would like to do with the ability: https://github.com/argoproj/argo/blob/master/examples/loops-param-argument.yaml

There are other looping examples that are more/less real world related than that in the same repository.

[2020-03-03 02:08] vincent-pli opened #2135 "Preemption case"
# Expected Behavior
When `pod` of `taskrun` was preempt by high priority workload, I think the right behavior should be: create a new `pod` in `pending` and wait for reschedule.
# Actual Behavior
Sometimes with right behavior
Sometimes after the original `pod` gone, the `taskrun` will be mark as `failed`
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info
The root cause is when preemptio

[2020-03-03 05:54] csgitharness commented on #2069
One of the usecase that requires debug mode:
If functional tests are running as part of a task and it faces an issue that is not consistently reproducible, it would be really helpful if container is retained in case of test failure and issue can be debugged by logging into the pod.

[2020-03-03 09:34] vdemeester commented on #2135
/kind feature

[2020-03-03 09:34] vdemeester commented on #2134
/kind feature

[2020-03-03 10:49] dbazhal opened #2140 "Ability to set/parametrize serviceAccountName for single task in pipeline"
# Expected Behavior

I'd like to be able to do something like this
[code]

So what I want is to:
1. be able to define service account for each task is that concrete task spec
2. be able to make it in pipeline, not pipeline run
3. be able to parametrize it

# Actual Behavior

Now i can't define service account in pipelines - only in pipeline runs.
I can't define service account in task spec and i t

[2020-03-03 10:55] dbazhal opened #2141 "Ability to set default service account in pipeline, not in pipelinerun"
# Expected Behavior

I'd like to be able to set
[code]
so if i create PipelineRun that refers to that pipeline, and not defined --serviceaccount, it uses service account default value, defined in pipeline.

# Actual Behavior

I only can set service account in pipelinerun spec, so running my pipeline cannot always be just as simple as tkn pipeline start mypipeline.

[2020-03-03 10:59] vdemeester commented on #2140
One of the design behind this is to separate the *runtime* options from the definition spec. ServiceAccount are runtime information, and could be changed without the need for the Pipeline definition to change. And on the opposite side, having `ServiceAccountName` on a Pipeline definition potentially forces the user of the Pipeline to have those defined.

/kind question

/cc @bobcatfish

[2020-03-03 11:01] vdemeester commented on #2141
More or less the same answer as for https://github.com/tektoncd/pipeline/issues/2140#issuecomment-593892029

/kind question
/cc @bobcatfish

[2020-03-03 12:09] dbazhal commented on #2140
I understand and accept this "code"/"runtime" separation, thank you.
Below are some of my thoughts on that, sorry for too much text.

When i define task body it would be really wrong to define runtime options in it.
But by some reason i percieve pipelines as "runtime".
Tasks can be cluster scope, which makes sence to disallow runtime options in task spec.
But there is no such thing as ClusterPipel

[2020-03-03 14:51] bitsofinfo commented on #1990
if I have a docker image that runs as root and expects root's $HOME to be in `/root` and subsequently its ssh confs in `/root/.ssh`, the image should be able to run as a step in Tekton without jumping through a bunch of hoops.

[2020-03-03 14:52] bitsofinfo commented on #1990
https://github.com/tektoncd/pipeline/issues/2013

[2020-03-03 16:02] #2111 closed

[2020-03-03 20:03] bobcatfish commented on #993
hey there! i think this is being discussed in slack also but I noticed that #2089 is doing this via annotation, i dont quit understand why we chose annotation vs. a field in the spec?

i would prefer an annotation if possible, a couple reasons:
- other fields like this would be done via spec (e.g. description of a param)
- adding it to the spec makes it part of the API - imo using the annotation i

[2020-03-03 21:02] sbwsg commented on #2131
Closing as fixed by #2143

[2020-03-03 21:02] #2131 closed

[2020-03-04 07:50] hrishin opened #2150 "Steps container spec serialization/deserialization has unwanted side effect"
When using `Task/ClusterTask` API with dynamic client, serlization/deserialization adds `container` as child key as `Spec.steps[*].container`.

# Expected Behavior
It should preserver the `step` spec state and should not add the `step` spec details under the child key `container`

# Actual Behaviour

Adding the `step` spec details under the child key `container`

# Additional Info

/area api
/kind

[2020-03-04 08:04] vdemeester commented on #993
Fair enouhg, let's go with the field. I don't have such a strong opinion :sweat_smile:
@piyush-garg will update his PR :wink:

[2020-03-04 08:07] piyush-garg commented on #993
Thanks @vdemeester @bobcatfish for reviews. I will update the PR today

[2020-03-04 08:48] #2150 closed

[2020-03-04 11:02] afrittoli opened #2153 "Pipelinerun docs miss params"
The [pipelinerun docs](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md) do not include params. Pipelineruns can pass params to a pipeline, it should be included both in the list of optional fields as well as in the examples below.

[2020-03-04 11:04] afrittoli commented on #2153
/kind documentation

[2020-03-04 11:05] afrittoli opened #2154 "Pipeline docs do not show how to pass resources to tasks"
The [pipeline](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md) docs show how to declare resources but not how to match those resources to the tasks in the pipeline.

[2020-03-04 11:05] afrittoli commented on #2154
/kind documentation

[2020-03-04 15:13] anneqm commented on #1369
@vdemeester can we add a must have for Beta to this issue?

[2020-03-04 15:30] anneqm commented on #2055
Per @anxinyf this item can be closed.

[2020-03-04 16:06] sbwsg commented on #2132
It looks like we didn't need to make any changes.  Release happened with version "v0.11.0-rc1" and everything appears to be fine right now.

[2020-03-04 16:10] vdemeester commented on #2132
:tada:
We can close then, right ?

/meow

[2020-03-04 16:10] #2132 closed

[2020-03-04 16:11] sbwsg commented on #2132
oops, i didn't mean to hit submit on that comment yet.  But yeah, everything looks like it worked so closing this.

[2020-03-04 20:02] dibyom commented on #2080
/assign

[2020-03-04 20:52] bobcatfish opened #2157 "Validation on Embedded PipelineSpec different from stand-alone Pipeline spec"
# Expected Behavior

Whether I am embedding a Pipeline in a PipelineRun, or I am referencing an existing Pipeline with a pipelineRef, the same validation should be applied to the spec of the Pipeline.

# Actual Behavior

When I create an embedded Pipeline spec in a PipelineRun, it is required that I specify `string` as the type for any params I declare (i.e. they do not default to string).

# Step

[2020-03-04 20:56] bobcatfish commented on #2157
Note this applies to both embedded Tasks and embedded Pipelines

[2020-03-04 21:37] skaegi commented on #2127
Also see https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.2.1 -- for some additional boolean logic operators that we could support above and beyond a single expression string

[2020-03-04 22:18] skaegi opened #2159 "Support for Tasks that require manual "approval""
In a Pipeline I'd like to be able to declare a Task that requires "approval" that may or may not contains a taskRef. When started,  it immediately moves into a "suspend" state until an external API call changes its state to "running". The "approval" Task should have a "timeout" that causes the Task to fail after a set period of time.

Something like this...
[code]

[2020-03-05 07:46] vdemeester commented on #2159
For now, the "idea" was to not make this part of the core but rely on multiple pipelines and trigger. Main reason to keep the core "not too complicated".

/kind feature
/cc @hrishin

[2020-03-05 07:49] vdemeester commented on #2157
I think the main reason is that… the default might not be correctly applied when using embedded spec.

/kind bug

[2020-03-05 07:51] vdemeester commented on #2157
/assign

[2020-03-05 09:11] rawlingsj commented on #2128
@garethjevans ok interesting, could you give some more details about what a git credentials helper might look like and how commands like git and other libraries that use a git credentials file or token would use it?

[2020-03-05 09:31] chmouel commented on #2159
I think that's related too, isntit ? https://github.com/tektoncd/pipeline/issues/233

[2020-03-05 09:31] vdemeester commented on #2159
It is indeed

[2020-03-05 09:38] chmouel commented on #2159
My 2c,

we maybe want taking the complexity out of pipeline but we may end up having the complexity ending up in the user pipeline, which imho is not fair.

a simple `requiresApproval: true` is a much easier thing to write in my tasks/pipeline than having to come up with some triggers/tasks and other huge blob of yamls.

even if we go to the way of having it tools generated (via cli/dashboard or o

[2020-03-05 09:42] vdemeester commented on #2159
It really depends on what is getting "presented" to the user. Should tekton allow to define that easily : yes, should tektoncd/pipeline (aka core) have it : maybe not. (if this means having a higher level of definition for some stuff, maybe that's the way it needs to go).

Right, this is where clearing defining what is the scope for Tekton, and what is the scope of tektoncd/pipeline, and other com

[2020-03-05 12:26] zhangtbj opened #2163 "Report field is immutable when re-deploy the Tekton pipeline"
# Expected Behavior
The redeploy work fine without any error

# Actual Behavior
When I redeploy the Tekton pipeline, it reported:
[code]

# Steps to Reproduce the Problem

1. Build and deploy the latest `master` branch of tekton pipeline
2. then re-run the kubectl apply to redeploy the tekton pipeine
3. In the end, you will see the error

This is the whole logs:
[code]

I tried several times, I go

[2020-03-05 13:46] sbwsg commented on #2159
I'd also be curious what auth would look like for this.  Who's allowed to approve?  Is it tied to service accounts? Secrets?  Is it some kind of token-based mechanism to ensure the person approving also started the pipeline (suggested in #233 as well)?  How directly tied to a trigger implementation do we allow ourselves to be?

Super interesting; lots of questions.  I reckon there's a fair amount

[2020-03-05 14:10] #2125 closed

[2020-03-05 15:24] BostjanBozic opened #2164 "PipelineResources git sslVerify parameter causing issues"
# Expected Behavior
Adding `sslVerify` parameter to `PipelineResource` type `git` does not break `TaskRun`

# Actual Behavior
If `sslVerify` parameter is added to `git` type of `PipelineResource`, `TaskRun` fails to run, claiming that specific `PipeineResource` is not availab.e

# Steps to Reproduce the Problem

1. Create `PipelineResource`:
[code]
2. Create `Task`:
[code]
3. Create `TaskRun`
[cod

[2020-03-05 15:25] skaegi commented on #2159
Those are all good questions. I was going for something ultra-low level where someone able to edit the TaskRun (like an agent in my world) would update a status field.  The TaskRun controller would then notice and proceed as normal. e.g. no tokens or triggers or secrets etc.

At this point I'm more interested in the low-level mechanism vs. how it might be presented to the user as I feel that is ou

[2020-03-05 15:28] vdemeester commented on #2159
One "problem" I see with that approach, is that it keeps the object (`TaskRun`) in the reconcilier loop. Early reports shows that we are not very performant already. Having this handle outside the core reconciler loop means less "weight" on the core controller.

[2020-03-05 15:34] sbwsg commented on #2159
Ah, I would've considered the stuff I mentioned as "low-level mechanism" and the "which status field do I set?" more of a "high-level" question :D

I'd definitely like to see a design doc for this if we pursue it.  Really want it to be a general solution and not a thing we tack on for a single use case.  Even if we don't build the general solution right away we should definitely be mindful of how

[2020-03-05 16:36] dbazhal commented on #2050
To me ansible loops syntax look pretty nice. As very weak, but example, it could be used to run task for multiple cluster resources.
[code]

[2020-03-05 16:54] #2157 closed

[2020-03-05 17:56] skaegi commented on #2127
I uses a JSONPath Expression in the above example but an alternative worth considering is to use CEL.

[2020-03-05 18:29] chanseokoh opened #2165 "TaskRun fails during initialization when disable-home-env-overwrite=true"
This is closely related to the on-going Tekton `$HOME` issue (https://github.com/tektoncd/pipeline/issues/2013#issuecomment-585908031). I am testing `disable-home-env-overwrite` before it gets flipped.

This [comment](https://github.com/tektoncd/pipeline/issues/2013#issuecomment-588423688) says

I don't think this is the case. I am testing `gcr.io/cloud-builders/gradle`, but Tekton fails as it tri

[2020-03-05 18:31] chanseokoh commented on #2013
This doesn't seem true. I think we are not ready to flip the `disable-home-env-overwrite` flag. See #2165.

[2020-03-05 19:12] sbwsg commented on #2013
It sounds like the HOME env var isn't set at all by the image in that case.  The go code for dockercreds simply does `os.Getenv("HOME")` and the absence of it here implies that this variable isn't defined at all.  I'll take a look into the creds-init image and see what it defaults to.

[2020-03-05 20:03] bobcatfish opened #2168 "pullrequest-init comment interface is inconsistent b/w upload and download"
# Expected Behavior

The expected contents of the comments dir [e.g. example](https://github.com/tektoncd/pipeline/tree/master/cmd/pullrequest-init/example/comments) should be the same whether you are modifying a PR or getting it's state.

# Actual Behavior

Using `-mode upload` with a json formatted comment such as those seen [in the example dir](https://github.com/tektoncd/pipeline/tree/master/c

[2020-03-05 20:06] pritidesai commented on #2127
Yup, love both ❤️ more or less both serves similar purpose, can be concise and descriptive at the same time, sample [here](https://github.com/tektoncd/triggers/blob/28e992239402e0030f60e8ad5c25c2777af278fb/examples/eventlisteners/cel-eventlistener-interceptor.yaml#L21).

[code]

This example can be addressed using `conditions` and `runOn` 😄  but `condition` would be heavy weight and complex just t

[2020-03-05 20:06] chanseokoh commented on #2165
I tested this after defining `HOME=/root` on top of `gcr.io/cloud-builders/gradle`, but it doesn't seem to make any difference. It's still `/.docker`.

[2020-03-05 20:41] chanseokoh commented on #2165
Note that this error is from the `credential-initializer` init container. So `credential-initializer` needs to get the user home information from my main step.

But then, we will have to answer this question: what if I define multiple steps whose images have different user home directories (say, the home of image A in the first step is `/root`, while image B in the next step is `/home/foo`)? Where

[2020-03-05 20:58] sbwsg commented on #2165
I think relying on creds-init might actually be the wrong approach here. You're right that multiple home directories in multiple steps make things complicated.  You might consider [passing a `workspace` into your pipelines instead](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#workspaces).  This workspace could be from a Secret or could be from a persistent volume.  You could moun

[2020-03-05 21:02] chanseokoh commented on #2013
I think `creds-init` should place the file at the home directories of my task images, not the HOME of the `creds-init` image. Multiple copies if the home directories are different.

[2020-03-05 21:17] chanseokoh commented on #2165
Thanks. I'll look into mounting a Secret, but I'm not sure if this will work nicely as a tekton catalog writer ([jib-gradle](https://github.com/tektoncd/catalog/tree/master/jib-gradle) and [jib-maven](https://github.com/tektoncd/catalog/blob/master/jib-maven)). This sounds like my task will add a a special contract only applicable for my catalog for providing Docker credentials. I'd like a general

[2020-03-05 21:19] chanseokoh commented on #2165
BTW, isn't this the current behavior? The Docker credentials are exposed to every steps at `/home/tekton`. Doesn't seem like it will make things worse.

[2020-03-05 21:59] dibyom commented on #2164
/kind bug

[2020-03-05 22:01] dibyom commented on #2163
That being said, this is still
/kind bug
cc @sbwsg

[2020-03-05 22:02] dibyom commented on #2128
/kind question

[2020-03-05 22:08] chanseokoh commented on #2013
I've given some more thoughts on this core HOME issue. Before we can actually flip `disable-home-env-overwrite`, I think this entire [auth mechanism](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md) should be revisited and reworked.

In most contexts (including ours), I think the notion of a user home is really a runtime one. An image may suggest a certain directory as a "home" and a

[2020-03-05 22:11] pritidesai commented on #2164
🤔 try this:

[code]

taking `params` out of `resources` ...

[2020-03-06 00:39] ssvinoth22 commented on #2127
It would be great if we have the above `If`  instead of creating `Conditions ` for each validation or logical check.

[2020-03-06 00:55] vincent-pli commented on #2163
@zhangtbj
What's your original `spec.selector` looks like of webhook deployment,  I cannot reproduce your issue.

[2020-03-06 00:59] yuwenma opened #2170 "[Bug] Can't use generateName in pipelineRun"
# Expected Behavior
a new random pipelinerun name is automatically created.

# Actual Behavior
raises "resource name may not be empty"

# Steps to Reproduce the Problem

1. Apply the tekton CRDs to my cluster:
[code]
2. Run kubectl apply to create a tekton pipelinerun using "name" (with value "run"), "namespace" (with value "ci-test1") in metadata field
[code]
2. Make sure the pipeline run succeed

[2020-03-06 01:00] yuwenma commented on #2170
/kind bug

[2020-03-06 01:02] danielhelfand commented on #2170
@yuwenma You need to use kubectl create -f with generateName. There is an issue open to improve the error message (#2113). Sorry for the confusion.

[2020-03-06 01:11] yuwenma commented on #2170
I see, thanks!

[2020-03-06 01:11] #2170 closed

[2020-03-06 02:20] zhangtbj commented on #2163
Hi @dibyom ,

yes, delete the namespce work for me, but it is not a correct solution for our production env.

And Hi @vincent-pli ,

This is my `spec.selector`:
[code]

I didn't change it, just use it from default generated yaml.

[2020-03-06 02:47] zhangtbj commented on #2163
But I think it is a temp problem.

After I delete the webhook deploy and redeploy again, the spec.selector with new role: webhook parameter.
So now it works, thanks all!

[2020-03-06 02:47] #2163 closed

[2020-03-06 06:34] VeereshAradhya opened #2171 "Python print statement output is shown in logs after the complete execution of script"
# Expected Behavior
The print statement output should be shown Immediately in the logs when the print line is executed

# Actual Behavior
The print statement output is shown in the logs after the execution of complete script

# Steps to Reproduce the Problem

1. Create a simple task which consists of python script
[code]
2. Start the task using command `tkn task start check-python-script`
3. check

[2020-03-06 08:44] nikhil-thomas commented on #2153
/assign @nikhil-thomas

[2020-03-06 09:08] piyush-garg opened #2172 "Pipelines failing on Openshift i.e. non-root environment"
# Expected Behavior

Pipeline should work

# Actual Behavior

Pipeline is failing with taskrun pod stuck in podinitializing state. Init container with name `tekton-results-folder-writable` getting error out with logs

[code]

This seems to happen after https://github.com/tektoncd/pipeline/pull/2143 because of this command https://github.com/tektoncd/pipeline/pull/2143/files#diff-54a597aad65d997daf

[2020-03-06 09:12] vdemeester commented on #2172
/kind bug
/priority critical-urgent

/assign @piyush-garg

[2020-03-06 09:15] vdemeester commented on #2172
As commented in #2143 I don't think the `chmod 777` is actually required, the mount should be writable by the rest :crossed_fingers:.

[2020-03-06 10:09] waveywaves commented on #2069
/assign

[2020-03-06 10:26] waveywaves commented on #2069
Working on this with @nikhil-thomas :100:

[2020-03-06 10:29] BostjanBozic commented on #2164
Thanks for feedback. Should not `params` field be under `input` (at least based on [this](https://github.com/tektoncd/pipeline/blob/v0.10.1/docs/taskruns.md#input-parameters))?

In any case, I tried it with getting `params` out of `resources`, but now nothing is specified in `taskRun` (ommited some metadata fields):
[code]

[2020-03-06 11:45] sbwsg commented on #2165
I meant more the copying of creds to every possible HOME directory that steps of a task might use. Having a single root-owned location seems different to me than having 10 copies with random owners.  Maybe it's a distinction that doesn't matter after all, I dunno.

To me this feels like there should be an explicit "opt-in" - Step A declares that it will use creds X so we do copy X into that step's

[2020-03-06 11:48] sbwsg commented on #2165
Yeah that's a fair point and I understand not wanting to take this path if this isn't an approach that everyone uses.  I'm wondering whether this should become a recommendation for catalog authors though - to expose [(optional) workspaces](https://github.com/tektoncd/pipeline/issues/2119) for credentials to be mounted into.  If everyone was doing it then it might not be bad?

[2020-03-06 11:57] tstmrk opened #2174 "Possibility to create PVC at PipelineRun start and destroy when PipelineRun ends"
# Expected Behavior
It would be nice to have the possibility have a PVC setup when the `PipelineRun `starts and destroyed when the `PipelineRun `ends. In this way I could share a volume among the Tasks within the `PipelineRun`.

# Actual Behavior
Sometimes I want to create some files onto disk in the step 1 and use them in step 2. Right now I have to create a PVC myself.

# Additional Info
Impleme

[2020-03-06 12:25] sbwsg commented on #2174
Thanks for the feedback!  This behaviour does happen when linking output pipeline resources to input pipeline resources, but it's not generally available outside of pipeline resources (yet).

We have an issue open to add ["Auto Workspaces"](https://github.com/tektoncd/pipeline/issues/1986) that are essentially this feature - a volume that is in some way templated which is spun up and automatically

[2020-03-06 12:25] #2174 closed

[2020-03-06 12:29] sbwsg commented on #1986
In https://github.com/tektoncd/pipeline/issues/2174 @tstmrk brought up the example of [volumeClaimTemplates](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage), which are a feature of Stateful Sets. They provide a similar kind of system to what we're discussing here I think, although they don't clean up the volumes after the Pod is destroyed.  In our case we mig

[2020-03-06 12:29] #2172 closed

[2020-03-06 12:37] tstmrk commented on #2174
Cool! Thanks for your comment!

[2020-03-06 12:48] sbwsg commented on #2171
I'm reasonably sure this is a python problem rather than a Tekton problem.  Try updating the print statement to the following:

[code]

For me this makes the print statements appear every second.  I'm going to close this issue but please feel free to reopen if you think there's something Tekton can do more here.

[2020-03-06 12:48] #2171 closed

[2020-03-06 15:18] #2153 closed

[2020-03-06 15:29] chanseokoh commented on #2119
Is this true? Isn't this already working? For example, I had in my Task sepc

[code]

and I don't get any error when I don't specify anything in my TaskRun. Of course, if I do provide a secret like below, the workspace is accessible at `/workspace/docer-secret`.

[code]

[2020-03-06 15:39] sbwsg commented on #2119
It's _supposed_ to be true.  If it isn't that would be some unexpected / buggy behaviour (at least as the implemented design stands right now).

[2020-03-06 15:45] sbwsg opened #2176 "Workspace validation misses undefined Workspaces in TaskRuns"
# Expected Behavior

Validation should fail if a Workspace is not provided.

# Actual Behavior

A TaskRun is allowed to execute even if a Workspace that's expected by the Task is not provided.  No errors are printed until runtime when the Task's steps try and access the volume mounted for the workspace.

# Steps to Reproduce the Problem

1. Run the [workspace.yaml](https://github.com/tektoncd/pipe

[2020-03-06 15:46] vdemeester commented on #2176
/kind bug

[2020-03-06 15:46] vdemeester commented on #2176
/assign @sbwsg

[2020-03-06 15:46] chanseokoh commented on #2165
I can do this (as I commented in https://github.com/tektoncd/pipeline/issues/2119#issuecomment-595819831), and I will do this if this is the only option. However, I'd like to throw a couple points for the sake of discussions. In my case, the Docker config file is just one of many ways to get credentials for remote Docker registries. Taking the optional workspaces approach means having to declare 5

[2020-03-06 15:56] chanseokoh commented on #2165
Also note, I think copying a file into a "home" directory needs more thought as I explained in https://github.com/tektoncd/pipeline/issues/2013#issuecomment-595472162. For example, OpenShift runs containers as a random UID like `1015300000`.

[2020-03-06 15:57] siamaksade commented on #994
@vdemeester I have updated this issue to better capture the need

[2020-03-06 16:24] sbwsg commented on #2165
I think "clutter" is a mis-characterization.  I view this as a Task Author explicitly declaring support for, and dependence on, credentials.  It becomes obvious what the Task accepts and expects.  With `creds-init`  the end-user has to learn this odd system of annotations on Secrets with names like "tekton.dev/git-0" that are utterly removed from the Task they're trying to run.  They have to diges

[2020-03-06 16:40] chanseokoh commented on #2165
Thanks. If Tekton recommends this approach, I am all for it. I hope the [optional workspace feature](https://github.com/tektoncd/pipeline/issues/2119) is implemented soon. For now, I think I'm blocked on the issue to implement this approach.

Anyways, I'm still super curious how it will work when `disable-home-env-overwrite` is flipped. I appreciate your update once you make a decision.

[2020-03-06 18:00] othomann commented on #1950
@sbwsg @bobcatfish I opened PR https://github.com/tektoncd/pipeline/pull/2178 for this issue. Let me know there what you think.

[2020-03-06 18:12] chanseokoh opened #2179 "Task fails to run when using runAsNonRoot and runAsUser"
This [doc](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#pod-template) shows an example of using `runAsNonRoot`.

# Expected Behavior

Tasks run successfully.

# Actual Behavior

Tested this on both GKE and OpenShift 4 (CodeReady Containers, actually). I set `runAsNonRoot` (or `runAsUser`) in a TaskRun like this:
[code]

### `runAsUser`
- When using `runAsUser: 12345`, the `tek

[2020-03-06 18:15] pritidesai commented on #2164
Yup, having `params` under `resources` should work as well, taking it out simplifies the `yaml` a little 🤔

Alright, I am running latest `tekton-pipeline`, with your example as is, pipeline is failing with:

[code]

After replacing `true` with `"true"`:

[code]

It does create an image:

[code]

`inputs` and `outputs` are under `resources` after taskrun is created:

[code]

git resource has the `s

[2020-03-06 18:22] sbwsg commented on #2179
Thanks for the report.  I believe this is a duplicate of https://github.com/tektoncd/pipeline/issues/2172 and the fix will be rolled into 0.11.0-rc2, which is planned to be released early next week.

[2020-03-06 18:25] chanseokoh commented on #2179
Ah, @piyush-garg got me before me. But I wonder if `runAsNonRoot` is a different issue. It doesn't fail with `chmod` but hangs.

[code]

[2020-03-06 18:31] sbwsg commented on #2179
Are you able to tell from the describe or get output of kubectl which container this error is referring to?

[2020-03-06 18:37] chanseokoh commented on #2179
It's right before running `tekton-results-folder-writable` (i.e., `State: Waiting`). The reason is `CreateContainerConfigError`.

[code]

[code]

[2020-03-06 18:41] chanseokoh commented on #2179
Oh, but I see you removed `tekton-results-folder-writable` entirely in #2143, so I guess this won't happen in the next release.

[2020-03-06 18:42] sbwsg commented on #2179
hm, CreateContainerConfigError implies something may be wrong in the secrets or configmap mounts.  What do the Task and TaskRun specs look like for this?

Still not 100% sure if this is related to the chmod init container or something else.

[2020-03-06 18:53] chanseokoh commented on #2179
[code]

And apply the following TaskRun.

[code]

[2020-03-06 18:54] dibyom commented on #2127
Overall, I like this proposal though there are a couple of things we should discuss!

* I think it'd be nice to have some sort of simpler conditionals for the use cases you described. The current implementation is useful for access to the file system/pipeline resources though its heavy for a lot of simpler use cases.

* We can debate JSONPath vs CEL vs some other lang but I think we should definit

[2020-03-06 19:55] sbwsg commented on #2165
I've gone with the approach of placing the creds in a fixed location (`/tekton/home`) and made a PR here: https://github.com/tektoncd/pipeline/pull/2180

[2020-03-06 20:13] danielhelfand commented on #2113
Making a note here that this actually appears to be an issue with `kubectl` itself regarding the error message. The problem is that `kubectl apply` hasn't accounted for this situation, and it's arguable that it should not have to.

The full error message is as follows:

[code]

The error message [`retrieving current configuration of`](https://github.com/kubernetes/kubectl/blob/df2b2cc89eb9a20db4d7

[2020-03-07 02:19] phantooom opened #2183 "task run support hostnetwork."
in our env  k8s cluster use evpn  to communicate with vm and bare metal.
k8s cluster cluster has very few ip. we expect there are about 200+ pipeline producing about 1000+ taskrun in one day.
when taskrun finished. it doesn't release ip. so we need clear task run every day.

we need task run support hostnetwork.

thx.

[2020-03-07 20:47] mustafaakin opened #2185 "Support for standalone Pipelines using standalone TaskRuns"
Since we can now create TaskRun's without creating the respective Tasks, by specifiying taskSpec instead of taskRef, it would be great if we could use them in PipelineRuns.

It would help when you create pipelines out of the Tekton, dynamically, with another configuration language such as Jsonnet. What do you think?

[2020-03-08 04:45] disposab1e opened #2187 "Bump to Kubernetes 1.15 will kill all OpenShift 3.11/4.2 activities"
A bump of +4! versions from Kubernetes 1.11 to 1.15 to fix one! bug (#1113) will kill all OpenShift 3.11/4.2 activities.

[2020-03-08 20:38] afrittoli opened #2188 "Broken logic for pull request statuses in PR resource"
# Expected Behavior
When a check is updated in the PR pipeline resource, the corresponding check should be updated on github side.

# Actual Behavior
The update may happen or not depending on the case.

# Additional Info
The code in https://github.com/tektoncd/pipeline/blob/8f427a84c7a975d3e5d9dea5b046dc583d8a5a33/pkg/pullrequest/api.go#L275-L278 makes the assumption that the `label`, or `context`

[2020-03-08 20:46] afrittoli commented on #2062
I filed tektoncd/pipeline#2188, but it's kind of a duplicate of this one.

[2020-03-08 20:46] afrittoli commented on #2062
I definitely think this is a bug - see tektoncd/pipeline#2188 also.

[2020-03-09 02:23] danielhelfand commented on #2113
Closing this and have opened corresponding issue for `kubectl`.

[2020-03-09 02:23] #2113 closed

[2020-03-09 07:25] BostjanBozic commented on #2164
This is what I am currently using:
* Platform: OpenShift v3.11.0+0cbc58b
* Tekton version: v0.10.1

Yeah, it seems that `sslVerify` needs to be in quotation, since tekton does not recognize it, eventhough resource itself is created. Not sure if this should be threated as issue then or not (as by docs, you need to use quotation.
[code]

In case `sslVerify` is set to `true`, pipeline starts running,

[2020-03-09 07:35] vdemeester commented on #2187
@disposab1e thanks for the issue. The bump was not to fix one bug (#1113) ; that bug *happened* to get fixed at the same time. The bump was to be able to bump `knative.dev/pkg`, to benefit enhancements on that, and prepare the use of conversion webhook (that are beta in 1.15).

This *indeed* mean that starting from 0.11, Tekton Pipeline won't work on anything lower than OpenShift 4.2 (The same way

[2020-03-09 07:42] chmouel commented on #2187
OpenShift 3.11 never was properly tested so it may just be by luck that it was working previously.

As 4.2 drop we (tekton upstream) are supporting kubernetes releases minus two which maps to the not yet released openshift 4.4 and the current openshift 4.3.

Having said that our (as red hat) downstream product [openshift-pipelines](https://www.openshift.com/learn/topics/pipelines) is not yet GA an

[2020-03-09 07:43] chmouel commented on #2187
(sorry for duplication between vincent and my comment, but basically we are both saying the same thing :) )

[2020-03-09 07:46] vdemeester commented on #2185
@mustafaakin thanks for the issue. You should be able to do that with `PipelineRun`. You can use `PipelineSpec` to [embedded a `Pipeline` spec](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#specifying-a-pipeline), and in `Pipeline` Spec you can use `TaskSpec` (instead of `TaskRef`) to embedded a `Task` spec (looks like something is missing in the doc).

/kind question

[2020-03-09 07:52] vdemeester commented on #2188
/kind bug

[2020-03-09 08:22] disposab1e commented on #2187
@chmouel @vdemeester Thanks for clarification!

BUT: Have a look at your own documentation at install.md

Headline: Installing Tekton Pipelines on OpenShift/MiniShift

Minishift NEVER was OpenShift 4 ;-)

[2020-03-09 08:52] vdemeester commented on #2187
@disposab1e yeah… this needs to go :sweat: This was there on the early days (when it was still `knative/build-pipeline` :sweat_smile:)

[2020-03-09 08:54] disposab1e commented on #2187
@vdemeester times change.. quickly :-)

[2020-03-09 08:57] disposab1e commented on #2187
Btw.. I was able to install latest tekton release in OpenShift 3.11, everything was fine... but than the workspace in the tasks (pvc) was missing... I think this is because of the different handling with sidecars... so I failed late :-(

[2020-03-09 09:06] #2176 closed

[2020-03-09 09:55] mustafaakin commented on #2185
@vdemeester oh, good to know, I missed it! Really glad to hear that. Thanks.

[2020-03-09 09:55] #2185 closed

[2020-03-09 12:11] garethjevans commented on #2128
@rawlingsj I think https://github.com/tektoncd/pipeline/issues/1831 covers this scenario in a lot more detail

[2020-03-09 12:35] afrittoli commented on #2188
https://github.community/t5/GitHub-API-Development-and/Is-there-a-way-to-delete-a-GitHub-commit-Status-via-the-API/td-p/28778

[2020-03-09 13:46] amansatija commented on #782
hey this is happening with me and the --all-containers flag also doesnt help the msg i get is
Error from server (BadRequest): previous terminated container "gateway" in pod "ibreast-gateway-85c787f446-dfrrj" not found

agreed i had deleted the pod manually .. but it got re created by the replica set ...
and now it keeps on saying this ...!!
describing the pod shows no events now and the status of

[2020-03-09 14:38] skaegi commented on #1836
I think we're set here thanks @sbwsg and @othomann

[2020-03-09 15:24] sbwsg commented on #2013
I've written up a design doc covering the solution you proposed @chanseokoh of having a fixed directory.  Doc is here: https://docs.google.com/document/d/1SVuDt-SXPHymz41dveSXFSPrx5Z-Wzb9eHliJAyYg4o

I plan to present this to the tekton working group on Wednesday and will update my existing PR with any changes that get agreed on during that call.

[2020-03-09 15:25] sbwsg commented on #2165
Design doc for this problem to be discussed in WG on wednesday: https://docs.google.com/document/d/1SVuDt-SXPHymz41dveSXFSPrx5Z-Wzb9eHliJAyYg4o

[2020-03-09 16:18] skaegi opened #2192 "TaskRun validation with duplicate params is incorrect"
For this TaskRun and Task...
[code]
The admission webhook returns the error - `validation failed: expected exactly one, got both: spec.inputs.params`.

It's good that the error is caught in 0.11 (it was not in 0.10) however it is catching it for the wrong reason. The problem is not that input.params and params were both used, the problem is that a duplicate param was provided.

[2020-03-09 16:36] vdemeester commented on #2192
@skaegi the error message seems ok, `expected exactly one` is the "duplicate" error message I think. But the key is definitely wrong `spec.inputs.params` should be `spec.params` instead… :sweat:

/kind bug

[2020-03-09 17:45] skaegi commented on #2192
yep -- you're right it's fine -- let me just see if I can generate a more helpful error.

[2020-03-09 18:17] #993 closed

[2020-03-09 19:40] #2192 closed

[2020-03-09 21:06] wlynch commented on #2183
Not sure if this is just a property of pods or an issue with Pipelines itself. Do you have any more information here?

Just to make sure I'm understanding this correctly, would adding [hostNetwork](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#podspec-v1-core) to [PodTemplate](https://github.com/tektoncd/pipeline/blob/master/docs/podtemplates.md) address your needs?

[2020-03-09 22:17] yuwenma opened #2197 "Broken release on v0.11.0-rc1"
# Expected Behavior
After upgrading to the official release v0.110-rc1, pods in namespace tekton-pipelines should run successfully

# Actual Behavior
[code]

# Steps to Reproduce the Problem

Step 1: reset
[code]

Step 2: install latest offical release as shown [here](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines-on-kubernetes)
[code]

Step 3: Rollbac

[2020-03-09 22:17] yuwenma commented on #2197
/kind bug

[2020-03-09 23:40] vincent-pli commented on #2197
@yuwenma
Could you paste the log for the pod?

[2020-03-10 00:12] yuwenma commented on #2197
It should be easily reproduced as described in "Steps to Reproduce the Problem". Do you suggest I'm the only one facing the problem? :open_mouth:

[2020-03-10 01:40] vincent-pli commented on #2197
@yuwenma
yeah, I cannot reproduce it.

[2020-03-10 01:54] yuwenma commented on #2197
I see. Here's the log

[code]

Looks like the error is because my cluster (GKE Cluster) is not using the latest kubernetes version. Does tekton have a more concrete plan about the backward compatible support for kubernetes?

[2020-03-10 02:03] booninite opened #2198 "Resource handling documentation is out of date for passing inputs to outputs"
https://github.com/tektoncd/pipeline/pull/1122 updated the behavior of task outputs so that it is always consistent.  There are still some references to the functionality, which can make it easy to try to leverage functionality that appears to exist:

https://github.com/tektoncd/pipeline/blob/v0.10.1/docs/tasks.md#outputs:

`targetPath` is not used on the output resource, so `/workspace/customwork

[2020-03-10 04:22] skaegi opened #2199 "Task Workspaces do not serialize to json correctly"
I was just looking at the YAML for a basic hello world Task and noticed...
[code]
I believe we just need to add `json:"workspaces,omitempty"` to the Workspaces declaration in TaskSpec

[2020-03-10 07:17] VeereshAradhya opened #2201 "The newly created pipeline shows the status of the deleted pipeline if the name of the pipeline is same"
# Expected Behavior
The newly created pipeline should not show the status of the deleted pipeline if the name of the pipeline is same

# Actual Behavior
The newly created pipeline shows the status of the deleted pipeline if the name of the pipeline is same

# Steps to Reproduce the Problem

1. Create a pipeline
2. Start the pipeline run using the command `tkn pipeline start`
3. Wait till the pipel

[2020-03-10 07:26] vdemeester commented on #2198
/kind documentation

[2020-03-10 07:32] vdemeester commented on #2197
hey @yuwenma

indeed, starting from 0.11-rc1, the minimum required version of k8s is 1.15. As commented on https://github.com/tektoncd/pipeline/issues/2187#issuecomment-596372663, the bump was to be able to bump `knative.dev/pkg`, to benefit enhancements on that, and prepare the use of conversion webhook (that are beta in 1.15). We need to make sure it is written on the main README.

*(On triage,

[2020-03-10 07:36] vdemeester commented on #2199
/kind bug
/milestone "Pipelines 0.11 🐱"

[2020-03-10 07:40] #2199 closed

[2020-03-10 07:48] vdemeester commented on #2201
Hey @VeereshAradhya, there is a few things:

- I think this could have been an issue on `tektoncd/cli` instead, as it's about the `tkn` cli — but as this is because of a design choice on `tektoncd/pipeline`, I'll let it here.
- (but) this is indeed happening by design (from the `tektoncd/cli` and `tektoncd/pipeline` point of view) : the way we can get the `Pipeline` used for a `PipelineRun` is usi

[2020-03-10 07:54] vdemeester commented on #2183
I think this is mainly because we don't delete the pod automatically, thus not deleting the pods means the ip do not get released.

/kind feature

[2020-03-10 10:01] yuwenma commented on #2197
@vdemeester Besides readme, do you think we can add an extra check on the cluster side? For example, the  kubectl apply <TEKTON-RELEASE> returns error if the cluster is in a tekton incompatible version.

I feel like making the README up-to-date and forces users to check their clusters before upgrading tekton may still cause confusions, especially since users normally use the default  k8s version p

[2020-03-10 10:43] vdemeester commented on #2197
I don't know if it's even possible :sweat_smile:. We could try but…

Right, so there is a few things here:
- Tekton might need some feature from a specific version of tekton (in this case, we need 1.15 for conversion webhook, and also because knative.dev/pkg has this requirement). At some point, Tekton maintainers needs to make a choice of bump the minimum required version of k8s. This is part of

[2020-03-10 11:21] #2197 closed

[2020-03-10 12:18] booninite commented on #2198
Probably worth noting that output `targetPath` functionality is not documented anywhere as far as I could find, also

[2020-03-10 17:22] GregDritschler commented on #2029
I have been looking into this issue.  There are two problems reported.
1) The PipelineRun "for logs run..." message does not point to the first failing step.
2) The message has an extra newline.

For the first problem, pkg/pod/status.go does sort the container status by finish time (State.Terminated.FinishedAt) to try to find the first failure.  However this field has a resolution of seconds.  In

[2020-03-10 17:40] #2188 closed

[2020-03-10 19:50] Mohjive commented on #1131
There’s no need for a ‘kill’ binary in the container. Send the SIGTERM to the container an process 1 will receive it. It’s up to that process to handle the signal, e.g https://gobyexample.com/signals if image is just a Golang binary.
If the container doesn’t exit within the grace period it should be killed, and the the kernel will take care of it.
Also see https://www.ctl.io/developers/blog/post/g

[2020-03-10 20:05] Mohjive commented on #1131
Also consider new sidecar lifecycle in k8s future version (maybe 1.19): https://github.com/kubernetes/enhancements/issues/753

[2020-03-10 21:08] maneilldev opened #2207 "Failed calling webhook "webhook.tekton.dev": connection refused"
# Expected Behavior

pipelineresource.tekton.dev/skaffold-git created

# Actual Behavior

Error from server (InternalError): error when creating "example-git-resource.yaml": Internal error occurred: failed calling webhook "webhook.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/?timeout=30s: dial tcp 10.99.167.76:443: connect: connection refused

# Steps to Reproduce th

[2020-03-11 08:35] vdemeester commented on #2207
/kind question

[2020-03-11 10:23] afrittoli commented on #2082
@bobcatfish I've been thinking about this for a bit, and I think it would be great to have the ability to specify a sink in the `Task|PipelineRun` so that cloud events could be sent by a task without the need of altering the task to add the pipeline resource. This would greatly improve the re-usability of tasks, e.g. when using Tasks as CI Jobs.

It gets a bit more complicated than just a sink tho

[2020-03-11 10:24] afrittoli commented on #2082
/assign

[2020-03-11 11:07] afrittoli commented on #2093
Having the ability of doing in place modifications of params reduces the need for extra steps / tasks and increases the re-usability of tasks. I didn't know we supported even string interpolation (not-nested), that's good to know.

[2020-03-11 11:08] afrittoli commented on #2093
@skaegi Is this something you're working on as part of the work on parameters that you're doing?

[2020-03-11 11:13] afrittoli commented on #1484
@vdemeester Good point - and probably implicit is better than explicit. This might be something to be solved at the UI level (Web UI or CLI) - i.e. the UI could offer default matching or parameters and resources at authoring time, and let the author fix things manually were needed.

I think I'll keep this one in the backlog, it may be something to consider when we get to Pipeline authoring tools.

[2020-03-11 11:16] afrittoli commented on #1631
Openshift is much more restrictive than a generic kubernetes, so you may be running in issues with the security context. I would check the logs from your container for more clues.

[2020-03-11 11:24] afrittoli commented on #1637
The benefit of using a Task is it's declarative interface which makes it easily reusable (hopefully), but certainly there are faster ways of achieving things. When the Task execution time is very low, it would be worth considering alternatives. Another case where this can be seen is conditions. For conditions that are simple string matches or something of the sort, spinning up a container might be

[2020-03-11 11:27] afrittoli commented on #1645
Related discussion: https://github.com/tektoncd/pipeline/issues/1986

[2020-03-11 11:32] afrittoli commented on #1645
One thing you can do is to use S3 buckets instead of PVC as artifact storage:  https://github.com/tektoncd/pipeline/blob/master/docs/install.md#configuring-artifact-storage.

If you have the need for PVC you can consider using workspaces, which allow you to share a pre-provisioned PVC to your tasks: https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#workspaces

[2020-03-11 11:47] afrittoli commented on #1680
I agree that the semantic of the name `isDone` is not entirely correct. The function is what the controller needs as an early check to stop processing the resource, so it's "done" from a controller POV.
I'm not sure if this has an impact on metrics though. If the duration reported for a pipeline is that until `isDone` is reached, it would be a misleading. While the time spent by the pipelinerun co

[2020-03-11 11:58] afrittoli commented on #1490
@eddycharly having a way to apply simple functions to parameters would be really handy, so I think we should keep this as a feature in the backlog. @skaegi is this something you started looking into?

[2020-03-11 12:00] afrittoli commented on #1493
@abayer @vincent-pli @kav any update on this? I would put this into the backlog for now, unless someone is hit hard by this and wants to step up and fix it?

[2020-03-11 12:09] afrittoli commented on #1494
@eddycharly the test-infra team has a `tekton-pipeline` agent for prow that basically allows linking `ProwJobs` to Tekton `PipelineRuns`. We tried that out but we decided to not pursue this approach any longer for Tekton's own CI.

Instead we're incrementally working in building a Tekton only based CI for Tekton: it gives us full control and it's a very good dogfooding exercise, that allows us to

[2020-03-11 12:12] afrittoli commented on #1513
Nice! This ended up in 0.11.0-rc1 - so as soon and I get that deployed, I'll test this one and close if it works.

[2020-03-11 12:57] sbwsg commented on #1131
Many thanks @Mohjive .  You mention that there's no need for a kill binary in the Pod's container but then you forgot to demonstrate how to send SIGTERM without it 😆 .  Assume I'm a Linux noob.  How do I send SIGTERM to a process without kill?  I can't run `docker stop` using the kubernetes controller, or can I?

Thanks for the pointer to the sidecar lifecycle KEP.  It's definitely on our radar.

[2020-03-11 13:56] afrittoli commented on #1514
Thanks for reporting this!
Hopefully the need of this feature is reduced by the work on workspaces.
In any case I will leave this one in the backlog.

[2020-03-11 14:09] hectotruj opened #2211 "Cant Authenticate To Enterprise IBM Git"
# Expected Behavior
The pod I am working on should be created properly
# Actual Behavior
[code]
# Steps to Reproduce the Problem

1. Create a secret in kubernetes
[code]
2. Annotate the secret
[code]
3. Deploy resource, service account, task and task run

# Additional Info
I have changed some of the names so as to not match the actual secrets and tasks that I am using

[2020-03-11 14:18] afrittoli commented on #2211
@hectotruj it would be good to see the log of `step-git-source-bluefringe-git-sq2p6`

[2020-03-11 14:28] hectotruj commented on #2211
[code]

[2020-03-11 15:06] afrittoli commented on #2211
It looks like something's wrong in your secret creation step, since you get `Host key verification failed.` .
I think this `--from-literal=known_hosts='https://github.ibm.com/'` does not look of, you may want to try `--from-literal=known_hosts=<base64 encoded content of your known_hosts file>`

[2020-03-11 15:31] afrittoli commented on #2211
/kind question

[2020-03-11 17:40] Mohjive commented on #1131
Docker/k8s isn’t Linux, so you have to apply other way of thinking when using containers.
I’m fairly new to k8s, but deleting a pod will send SIGTERM to all containers in that pod and after a grace period it will send SIGKILL unless the container has exited.
When a container receives a SIGTERM it will be received by process 1 in the container. Process 1 is the one defined by ‘CMD’ argument in dock

[2020-03-11 17:45] hectotruj commented on #2211
I think fixing that solved the problem, thank you!

[2020-03-11 17:45] #2211 closed

[2020-03-11 18:50] sbwsg commented on #1131
True we could delete the pod.  We do want to keep it around for its logs though.  At least until the user deletes the TaskRun that spawned it.  Or if we have some other established mechanism for persisting the logs outside of Kubernetes such as through the [Tekton Result proposal](https://github.com/tektoncd/pipeline/issues/454).

From my perspective the sidecar lifecycle KEP seems like the ideal

[2020-03-11 19:31] pritidesai commented on #2164
@BostjanBozic I have added couple of tests on `sslVerify` in a PR #2215, hoping that its little helpful 🤔

[2020-03-11 20:24] Mohjive commented on #1131
Ok, so I did some quick research and what I found is that it should be possible to run docker cli (if the k8s cluster uses docker daemon shim) or containerd cli (https://github.com/projectatomic/containerd/blob/master/docs/cli.md) directly on the executor, so if there exists a Tekton container in the job pod it could monitor the job container and use the right cli to stop the sidecar containers, w

[2020-03-12 03:56] withlin opened #2217 "TaskRun support stop/wait status"
1. Support  stop/wait status,which will stop/wait the taskrun pod

idea:

    1. user set task spec status to stop/wait staus
    2. have a CRD find out which machine the current taskrun pod is on.
    3. and then get running container id.
    4. excute kill -STOP ${pid} ,which the pod will be  hlod (use daemonset).
    5. when set task status is reruning will excute  kill -CONT ${pid}

Do you hav

[2020-03-12 03:57] withlin commented on #2217
/cc @vdemeester  @sbwsg

[2020-03-12 04:53] cameronbraid opened #2218 "Feautre Request - Workspace from PersistentVolumeClaimTemplate"
I would like to be able to have workspace PVC's creation and deletion fully managed by tekton using a volume claim template.

Currently this is supported in Argo Workflow and is a very useful feature (https://github.com/argoproj/argo/blob/master/examples/README.md)

[code]

The PVC would be created when the pipeline is executed, and deleted afterwards

This would conceptually be comparable to an e

[2020-03-12 07:17] vdemeester commented on #2217
/kind feature

[2020-03-12 07:39] vdemeester commented on #1131
So, as @sbwsg said, killing/deleting the Pod should be considered as "not possible", at least for now. We already do that when cancelling a `TaskRun` and I feel that was a mistake…

We can't rely on a specific runtime cli, as we have absolutely no guarantee that the runtime is the one used by the Kubernetes it is deployed on. It also means we wouldn't support some runtime, and it breaks absraction

[2020-03-12 11:25] sbwsg commented on #2218
Thanks for the feature request!  I'm going to close it as a duplicate of https://github.com/tektoncd/pipeline/issues/1986 since we're tracking this feature there.  I appreciate you mentioning the PVC template idea - I'd seen it discussed in the context of Stateful Sets previously but wasn't aware that Argo also supports them.  This is good info!

[2020-03-12 11:25] #2218 closed

[2020-03-12 11:33] sbwsg commented on #1986
volume claim templates were mentioned again in #2218 as a possible implementation for this feature.  Useful to know: they are used in Argo Workflows for a similar use case.  Quoting @cameronbraid :

[2020-03-12 11:50] sbwsg commented on #2217
It would be good to know a bit more about the intended use case for this feature.  Why do you want it?

Is it to support something like #2159 ?

In general I think we would not want the Pod hanging around consuming resources while the TaskRun is waiting.  Ideally when a TaskRun begins waiting its resources are released so that other tasks can be scheduled while it's sleeping.  When the TaskRun is

[2020-03-12 12:38] vincent-pli commented on #2135
https://github.com/kubernetes/kubernetes/issues/88614

[2020-03-12 14:11] laik commented on #2217
we test pod during taskRun, send a stop signal to the container system pid, at this time, the process stops and does not take up the load. I let this be an effective way to control the transfer of resources. If there is a rerun function, it is even better.

[2020-03-12 14:12] laik commented on #2217
/cc @sbwsg

[2020-03-12 14:18] sbwsg commented on #2217
Curious about this - What state does the Pod enter into?  Does Kubernetes release the resource quota it has set aside for the Pod?

[2020-03-12 14:46] laik commented on #2217
the pod still running, but it doesn't work anymore, as we use fg/bg, my idea is to identify a paused state record in taskRun

[2020-03-12 14:46] laik commented on #2217
the pod still running, but it doesn't work anymore, as we use fg/bg, my idea is to identify a paused state record in taskRun

[2020-03-12 15:38] bitsofinfo opened #2219 "Feature: method to absorb git-source yaml into Pipeline/Task $inputs etc"
I'd like for devs to be able to configure some aspects of the pipeline behavior via YAML that lives in the cloned git source that Tekton treats as an input resource (currently).

I.E. some way I could"absorb the contents of this yaml file into the Pipeline's scope of available variables that can then by used via some sort of tekton `$inputs.[yamldoc].prop1.subitem2.key`, then you could just refere

[2020-03-12 15:40] dibyom commented on #1530
I see this is part of Pipelines1.0/beta milestone. Is that still the case @skaegi ?

[2020-03-12 15:48] dibyom commented on #1548
This also looks related to #1530
I'm going to mark this as a duplicate and close this out and track the work for a better more general variable substitution over there.

[2020-03-12 15:48] dibyom commented on #1548
triage/duplicate
/close

[2020-03-12 15:48] #1548 closed

[2020-03-12 15:49] dibyom commented on #1514
Related to #1530

[2020-03-12 15:51] dibyom commented on #1552
Looks like a duplicate of #2134 .
I'm going to close this and track the feature there. Feel free to re-open if you disagree!

[2020-03-12 15:51] dibyom commented on #1552
/close

[2020-03-12 15:51] #1552 closed

[2020-03-12 15:56] sbwsg commented on #2219
I'm not entirely clear what's being requested.  Could you show a more complete Pipeline example to demo what you're trying to achieve?  Or sketch out some YAML of the interface you'd like to see?

[2020-03-12 16:00] vdemeester commented on #1530
I think it should be, at least for 1.0 (so after the beta api but before calling tekton ga)

[2020-03-12 16:04] dibyom commented on #1570
(remove/re-add labels to check if project automation bot is working, plz ignore)

[2020-03-12 16:05] dibyom commented on #1692
Given that #1696  was merged, I'm going to close this issue. Feel free to re-open if you disagree @vincent-pli

[2020-03-12 16:05] dibyom commented on #1692
/close

[2020-03-12 16:05] #1692 closed

[2020-03-12 16:09] dibyom commented on #1712
With PipelineResources not being in beta, and the new Tasks in the catalog to replace its use, the auth story is more explicit now I think?

[2020-03-12 16:11] dibyom commented on #1716
`tkn taskrun logs`  and `tkn pipelinerun logs` should help get you the logs. You can also use `kubectl logs <with the taskRunPodName>`

/close

[2020-03-12 16:11] #1716 closed

[2020-03-12 16:13] dibyom commented on #1733
Please track it using this issue: https://github.com/tektoncd/pipeline/issues/1740
/close

[2020-03-12 16:13] #1733 closed

[2020-03-12 16:17] dibyom commented on #1565
I've wondered this too...One reason might be that with the current approach there is only one image digest exporter while if it was part of the Image resource, there would be one post container added per image resource?

[2020-03-12 16:29] dibyom commented on #1870
The ReadTheDocs section of Readme now has examples for each version. Is that enough or is there more work here @danielhelfand ?

[2020-03-12 16:30] dibyom commented on #1880
@dibbles Now what #1881 is merged, can we close this or is there more work remaining?

[2020-03-12 16:36] siamaksade commented on #1986
@sbwsg +1 for claim templates. It would be useful to be able to configure a default claim template for the cluster as well, in addition to per pipeline.

[2020-03-12 17:26] ncskier commented on #1712
I guess it isn't a concern anymore. Is the implicit authentication pattern with annotations being deprecated?

[2020-03-12 17:32] sbwsg commented on #1712
We're supporting it into the Beta but I have a pretty strong feeling we'll need to revisit it, particularly in light of changes to the `$HOME` directory in an upcoming release.  #2013 for more info on that.

[2020-03-12 17:39] bitsofinfo commented on #2219
1. YAML in a git-source
[code]

2. Something in tekton that can consume this and assign it to some `varname`

3. Then I can reference it in any task/pipelines via: `$(inputs.varname.x)` and `$(input.varname.y.key)` etc etc

[2020-03-12 17:39] poy opened #2220 "panic when submitting TaskRun"
# Expected Behavior
TaskRun to complete successfully

# Actual Behavior

Controller panics

# Steps to Reproduce the Problem

1. This happens when I create a TaskRun that references a ClusterTask.
2.
3.

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

v0.10.1

The panic from the controller logs:

[code]

I've managed to modify the `./pkg/pod/status_test.go` file (`Tes

[2020-03-12 18:49] sbwsg commented on #2220
I can reproduce with the modifications to the unit test you mentioned but I'm curious if you see this with **all** `ClusterTask`s?  I'm not able to reproduce with the trivial ClusterTask example in `examples/v1beta1/taskruns/clustertask.yaml`.

I have a fix that seems to work ok for the unit test example but I'd really like to see an example of a ClusterTask / TaskRun that's hitting the same error

[2020-03-12 18:53] sbwsg commented on #2220
(Even just copy/pasting the output of `describe taskrun` would be helpful - I'm trying to understand where the mismatch between number of steps and number of step states is coming from)

[2020-03-12 22:49] poy commented on #2220
So it looks like the problem happens when a step fails.

[2020-03-13 11:21] sbwsg commented on #1838
Another use-case came up on Slack today.  A user is operating their Tasks in a cluster without the option to use storage (iow no PVCs).  They've previously been using the Storage Resource as an output to upload results of a Task to a bucket.  With PipelineResources remaining alpha they're now a bit stuck - wanting to migrate away from resources but unable to shuttle data between Tasks because Work

[2020-03-13 11:40] afrittoli commented on #2029
@GregDritschler Thank you for looking into this!
This is the full spec of the taskRun (with status) where I originally  saw the issue: https://gist.github.com/25a4fb15cb0e52a28a2c3f8dbbf67878

The problem there is that the `step-image-digest-exporter-bhdb6` is marked as the cause of the failure of the taskrun, while in reality a step in the task failed, and `step-image-digest-exporter-bhdb6` was n

[2020-03-13 11:48] afrittoli opened #2221 "The helper message to fetch a failed step logs is broken in two for long pod names"
# Expected Behavior
It should be possible to copy/paste in one go the command to fetch a failed test logs from the status of a taskrun

# Actual Behavior
When the pod name is long enough (typically when the task runs within a pipeline) the command is broken into two lines, which makes it impossible to copy/paste in one go:

[code]

# Steps to Reproduce the Problem

1. Run the TaskRun in this [gist

[2020-03-13 11:50] afrittoli commented on #2029
Moved the second part of the issue to https://github.com/tektoncd/pipeline/issues/2221

[2020-03-13 12:07] afrittoli commented on #2029
I tried to reproduce the issue using a [pipeline](https://gist.github.com/fa3a650ef9adcb63f03870aa1955309a) but I could not reproduce it either.
I think it's safe to close this for now, we can re-open it if we encounter it again.

[2020-03-13 12:20] afrittoli commented on #2029
This is an interesting observation, thank you.

I believe that any step after the failed one, whether or not the belong to pipeline resources, should be skipped and not failed, so there should not a "first failure", only "the failure".
In case multiple failures could happen, we should have a better mechanism in place to hint at all the steps that failed in the error message.
We could still add the

[2020-03-13 12:21] afrittoli commented on #2221
/kind bug

[2020-03-13 12:22] afrittoli commented on #2221
/priority backlog

[2020-03-13 12:40] afrittoli commented on #1680
Looking at the code I see a few issues with the current implementation:
- the timeout handler is released, which means that the pipeline timeout will not be applied to tasks that might be still running. They will still get the task timeout, but that may be not set
- the metric reported for the duration of the pipeline is invalid

[2020-03-13 12:54] sbwsg commented on #2220
Woo this is a doozy.

The image digest exporter (part of the Image Output Resource) is configured with `"terminationMessagePolicy": "FallbackToLogsOnError",`.  When a previous step has failed the exporter emits the following log line: `2020/03/13 12:03:26 Skipping step because a previous step failed`.  This gets read by the Tekton controller which is looking for JSON in the termination message. It

[2020-03-13 14:31] siamaksade opened #2223 "Deleting Pipeline should delete PipelineRuns"
# Expected Behavior

When deleting a `Pipeline`, all `PipelineRun` that refer to the pipeline should get deleted too since they refer to an non-existing pipeline.

# Actual Behavior

Deleting a `Pipeline` leaves orphaned `PipelineRun`

# Steps to Reproduce the Problem

1. Create a pipeline
2. Run `tkn p start` to start the pipeline
3. Run `tkn p delete` to delete the pipeline
4. Run `tkn pr list`

[2020-03-13 14:42] danielhelfand commented on #2223
Should this be an expected default behavior?

There is a way through the CLI to delete PipelineRuns associated with a Pipeline, but I feel that should be left to the user to decide and not assume PipelineRuns shouldn't be preserved. Why would deleting the Pipeline imply that those PipelineRuns don't have meaningful information?

This is what happens for TaskRuns when a PipelineRun is deleted, so t

[2020-03-13 15:09] siamaksade commented on #2223
IMO that's the expected behaviour for users that have tried any other CI/CD platform. Deleting the pipeline always removes the executions of those pipelines in other platforms.

[2020-03-13 15:15] bobcatfish commented on #2223
I'm also not 100% sure we'd want this to be the default behavior but could go either way! Especially since we can't really guarantee that any particular kubernetes cluster will stick around for long anyway.

Note that in the context of the work done in https://github.com/tektoncd/pipeline/issues/1839 to store Tasks + Pipelines completely outside the cluster (e.g. in an image registry or in git) th

[2020-03-13 15:16] bobcatfish commented on #2223
(Added to the next working group agenda to discuss!)

[2020-03-13 15:22] bobcatfish commented on #2223
Note looks like possibly a duplicate of https://github.com/tektoncd/pipeline/issues/102

[2020-03-13 15:28] bobcatfish commented on #1803
I don't know the answer here either!

Quick glance at knative serving, it looks like you have to actually DO something with this CRD for it to be useful (e.g. https://github.com/knative/serving/blob/1c782d95c918f3b8b410fbac68849c494fd74b0c/pkg/reconciler/revision/resources/imagecache.go#L29-L55)

Looking at our code it looks like we instantiate the client https://github.com/tektoncd/pipeline/blob/

[2020-03-13 15:29] bobcatfish commented on #1805
I think we'd be open to this if anyone wants to do the work!

[2020-03-13 15:30] bobcatfish commented on #1814
I'm surprised that Conditions don't have stepTemplates applied to them, that's not what'd I'd expect! Sounds kind of like a bug to me.

@kasuboski if we applied stepTemplates to Conditions would that work for you?

[2020-03-13 15:41] danielhelfand commented on #2223
Maybe this is something that could be made configurable, but I do guess I lean towards not having it as the default behavior. That said, I do think the use case makes sense definitely.

[2020-03-13 15:44] siamaksade commented on #2223
Making it configurable makes sense to me. But it would be inconsistent with the cascading deletes from PipelineRun to TaskRun and pods.

[2020-03-13 15:51] mattmoor commented on #1803
Serving just creates them too.  These are a hint to integrators that these images should be cached.  You can run a controller to key off of them, or do nothing (nothing is a valid caching strategy).

The DaemonSet approach is one used here github.com/mattmoor/warm-image, but that's not scalable enough for us to bundle it with Serving.
Another that we've talked to Azure a bit about is integrating w

[2020-03-13 15:53] kasuboski commented on #1814
That would make it workable. I think my ideal would be more of a cluster wide setup similar to how ArgoCD works [example](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#repositories-using-self-signed-tls-certificates-or-are-signed-by-custom-ca).

The default podTemplate parameter [in the install configmap](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#cust

[2020-03-13 15:54] danielhelfand commented on #2223
Yeah, whatever the preferred route to go here is that there should be consistency. I think what this has shifted to is what the default should be.

[2020-03-13 16:29] bobcatfish commented on #1872
@kameshsampath did @vincent-pli 's suggestion solve your issue?

[2020-03-13 16:33] bobcatfish commented on #1922
@shiyu-dong your use cases sound awfully similar to the CI that @afrittoli put together for us for Tekton itself: https://github.com/tektoncd/plumbing/blob/master/tekton/ci/README.md#tekton-ci-with-tekton (some more details in the PR https://github.com/tektoncd/plumbing/pull/254)

[2020-03-13 16:37] bobcatfish commented on #2107
@ssvinoth22 I'm not sure if this is what you're looking for but in [TaskRuns](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#parameters) and [PipelineRuns](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#params) you can provide values for parameters

[2020-03-13 16:39] #1820 closed

[2020-03-13 16:58] bobcatfish commented on #1606
Thanks for the follow up @poy!

What about if the params could be a map or list of lists? So you could do something like:

[code]

(Completely handwaving about the syntax above! I think that @skaegi is going to simultaneously hate the above syntax and have way better ideas)

If something like this would work for you @poy I'm happy to open another issue to explore further

[2020-03-13 17:00] bobcatfish commented on #1712
Note that the pullrequest Task in the catalog is using a param to identify the name of the key https://github.com/tektoncd/catalog/tree/v1beta1-wip/pullrequest#configuring-the-tasks - not sure we'd want it to be implicit 🤔

[2020-03-13 17:04] bobcatfish commented on #1489
I've opened https://github.com/tektoncd/triggers/issues/480 and am closing this for now.

[2020-03-13 17:04] #1489 closed

[2020-03-13 17:16] bobcatfish commented on #2112
hmmm that's an interesting example @booninite ! I know this is gonna disagree with @ImJasonH but I really could see that making sense for Tekton Pipelines 🤔  - I'm not sure I'd want it to be quite as automagical as the argo example, where the looping is implied.

@booninite @n3wscott are you sure you absolutely want this at the level of the steps in the Task? As mentioned in https://github.com/tek

[2020-03-13 17:45] poy commented on #1606
If those `settings` are made available to the underlying container via environment variables, that sounds great!

[2020-03-13 21:13] gpaul commented on #1680
I have a two real use cases where I need to wait for the entire pipeline to finish:

1. I have a process that waits for a pipeline to finish, then archives the pod logs of all the taskruns that ran. That process needs to know when it should run and when it can stop watching a given pipelinerun.

2. I have a process that sets CI task statuses on GitHub PRs, one for each Task in the pipeline. If one

[2020-03-13 21:15] gpaul commented on #1680
Thanks for looking at the code. I think a more in-depth design is called for to expose pipelinerun lifecycle hooks. I think my PR is too narrow.

[2020-03-13 21:41] booninite opened #2228 "Pipeline Task using from with multiple entries causes permission denied errors on resource copying"
# Expected Behavior
Using `from` on a Pipeline Task input resource with multiple values would cause both resources to be copied, since it is an array.

# Actual Behavior
Doing something like this:

[code]

Will result in errors like:

[code]

# Steps to Reproduce the Problem

1. Have two tasks output a Git resource with the same name.
2. Have a third task declare the same Git resource and specify